[2021-06-16 22:36] diosmosis commented on #12217
Hi @Seb35, a change like that could work, and we'd welcome a pull request.

[2021-06-17 07:17] sgiehl commented on #17035
Those values should be discarded with #17574. Not sure if there was another issue to identify why those high numbers occur in the first place.

[2021-06-17 07:18] sgiehl commented on #12586
Yes. guess everything else can be handled in #5312

[2021-06-17 07:18] #12586 closed

[2021-06-17 07:58] #17679 closed, assigned to sgiehl

[2021-06-17 08:26] #17585 closed, assigned to justinvelluppillai

[2021-06-17 08:44] Findus23 commented on #17035
I think we still don't know where those invalid values come from, Matomo just doesn't fail anymore with https://github.com/matomo-org/matomo/pull/17574 when it encounters them.

[2021-06-17 19:51] tsteur commented on #17035
@Findus23 that would be ideally a different issue ideally maybe? It seems to only happen with an old iOS version `Mozilla/5.0 (iPad; CPU OS 9_3_5 `. I noticed this in our data too. I reckon not too many would use this old version?

[2021-06-17 21:50] Findus23 opened #17686 "Make Matomo compatible with PHP8.1"
The first alpha of php8.1 was just released:
https://www.php.net/archive/2021.php#2021-06-10-1

There are a few breaking changes, so it might be useful to already start fixing things to get them released in time.

Changes: https://github.com/php/php-src/blob/php-8.1.0alpha1/UPGRADING

The major breaking change is that built-in functions now (just like user-defined functions) no longer accept null

[2021-06-18 06:28] Amber-Wish opened #17691 "Image tag failed to track order data."
Hello, dear project developers. I use img tag tracking to track order data. But it didn't work. Here's my link:
`https://XXXXX.com/matomo.php?idsite=1&amp;rec=1&amp;idgoal=0&amp;_id=fa7c52f5a0cc7c3e&amp;ec_id=3762627510326&amp;revenue=2.99&amp;ec_st=2.99&amp;ec_tx=0&amp;ec_sh=2.99&amp;ec_dt=5.96&amp;ec_items=[["951650007","Blue Sea (Harmony) Small Size","",1.49,1],["951650003","Aquamarine (Freedom

[2021-06-18 07:46] sgiehl commented on #17691
Hi @Amber-Wish
Did you maybe encode the `&` too often? It seems it's encoded in the request url, but it shouldn't.
Btw. if you enable the debug mode for the tracker in your config, you should be able to see possible reasons in the log file.

[2021-06-18 07:47] llarsson opened #17692 "CORS setting update fails due to TypeError in JS"
When I try to save updated CORS settings via the management page, the request is not sent to the Matomo server because of an unhandled TypeError in JavaScript.

[Related forum post](https://forum.matomo.org/t/save-cors-config-fails/42090).

## Expected Behavior

When I hit the "Save" button in the Web UI front end, I expect the corresponding request to be made to the back end Matomo service.

## C

[2021-06-18 07:55] Amber-Wish commented on #17691
Hello, do you mean I don't need to write 'amp;'?

[2021-06-18 07:55] sgiehl commented on #17692
Hi @llarsson. Thanks for creating this issue. As this seems to be an issue for the wordpress version only, I'll move the issue to the matomo-for-wordpress repo.

[2021-06-18 07:56] Amber-Wish commented on #17691
BTW, in which folder can I see the log?

[2021-06-18 08:00] sgiehl commented on #17691
That depends. Within an html attribute the & can be encoded as `&amp;`, as the browser would decode it before sending the request. When querying the url directly, there shouldn't be `&amp;` but `&`.

The log should be located in matomo/tmp/logs/matomo.log

For me the above URL works (when using `&` instead of `&amp;`). At least the log says there are items tracked:
[code]

[2021-06-18 08:04] Amber-Wish commented on #17691
That's OK. Thank you very much! Let me have a try.

[2021-06-18 08:28] Amber-Wish commented on #17691
@sgiehl hi, Now my link is changed to this.
`https://mymatomoX.com/matomo.php?idsite=1&amp;rec=1&amp;idgoal=0&_id=fa7c52f5a0cc7c3e&ec_id=3762627510326&revenue=2.99&ec_st=2.99&ec_tx=0&ec_sh=2.99&ec_dt=5.96&ec_items=%5B%5B%22951650007%22%2C%22Blue%20Sea%20%28Harmony%29%20Small%20Size%22%2C%22%22%2C1.49%2C1%5D%2C%5B%22951650003%22%2C%22Aquamarine%20%28Freedom%29%20Small%20Size%22%2C%22%22%2C1.49%2C1%

[2021-06-18 08:54] sgiehl commented on #17691
That's hard to say. Might be a server configuration issue. Or does anything appear in the matomo.log in that case?
As I'm not able to reproduce it, it doesn't some to be a global bug and I don't have enough time to help you debug your issue further.
We actually only handle bug reports and feature requests in this issue tracker.
Maybe try to get some help on our forum at https://forum.matomo.org/

[2021-06-18 08:54] #17691 closed, assigned to nobody

[2021-06-18 21:45] 84adam commented on #17232
I was also having this problem while using the javascript tracker library. I could see all the events listed correctly within the Visitor Logs, but not in the Behavior > Events logs (for 1 of 2 sites). This was the case for an external site, but for one internal site. The tagged events did show up in the Event Log section for the internal site. When I switched sites (from the Event Logs page, site

[2021-06-20 01:19] alexey-milovidov opened #17697 "Support for ClickHouse as a storage backend"
## Summary

[ClickHouse](https://github.com/ClickHouse/ClickHouse) is the most natural choice for web analytics data.
This is distributed open source analytic DBMS with the focus on maximum query execution speed and storage efficiency.

It was initially created for Yandex Metrica - 2nd web analytics in the world processing ~100 billion records per day, 133 PiB of data in 120 trillion records in to

[2021-06-20 08:30] Findus23 commented on #17697
Hi,

There is already a bit of discussion about clickhouse here: https://github.com/matomo-org/matomo/issues/2592 and https://github.com/matomo-org/matomo/issues/7526

There are two major issues I see:
- I am pretty sure the majority of Matomo users are not able to install Click house themselves or using Matomo in a setup where clickhouse is available
- As clickhouse works fundamentally different

[2021-06-20 20:16] tsteur commented on #17697
We looked into it a while ago and it does under circumstances work quite differently. AFAIK there were for example these two points:

* For these kind of DBs inserts of new records should usually be done in bulk for greatest performance and not each request individually how it happens currently
* Updates/deletes are usually a problem meaning slow or not possible. This be mostly relevant for when u

[2021-06-21 02:44] tsteur commented on #8534
@larsen0815 sorry I'm not quite sure how keeping the site entry would help with the above error message? The error message would still say the same except the entry in the DB would still exist with a deleted flag. Could you maybe let us know what "more information" you are after and when these errors happen currently?

[2021-06-21 04:28] larsen0815 commented on #8534
Hi Thomas, the error message could contain the domain name as it's still available from the database which is not the case at this moment.

[2021-06-21 04:49] tsteur commented on #8534
Does that happen when you bookmark links to a site directly? Or do you have widgets embedded? sorry about the questions just trying to understand more context.

[2021-06-21 04:53] larsen0815 commented on #8534
Sorry, does what happen?

[2021-06-21 20:06] tsteur commented on #8534
I meant what triggers the error message "An unexpected website was found: idsite was set to". Is it a tracking request, a UI request because of a bookmark, or embedded widgets?

[2021-06-21 21:21] mattab commented on #11488
btw here is an article on how to install Matomo on Synology: https://mariushosting.com/how-to-install-matomo-on-your-synology-nas/

[2021-06-22 06:18] larsen0815 commented on #8534
I think it's a tracking request. As I can only see these messages in the log, I have no further information on the cause.

[2021-06-22 08:00] tipoa opened #17699 "dev/sda2 50G 43G 4.4G 91% /var"
I am not a developer. Our website host is reporting a critical status:-
<img width="625" alt="PastedGraphic-2-37" src="https://user-images.githubusercontent.com/8222075/122886540-59a0a500-d340-11eb-8470-b79638932082.png">

I have today gone into the ADMIN of our Matomo account and requested to delete old raw data etc.. and reducing the amount of time data is retained in a log.

I am very much gues

[2021-06-22 08:16] sgiehl commented on #17699
Hi @tipoa
Log data deletion is normally done using background tasks. It might take a while till they are removed. But it can also be forced. See https://matomo.org/faq/troubleshooting/faq_42/

Note: This issue tracker is only used for bug reports and feature requests. For further support please refer to our forum at https://forum.matomo.org

[2021-06-22 08:16] #17699 closed, assigned to nobody

[2021-06-22 15:28] artus70 commented on #17055
The URL /login _could_ mean the same as /login/, but it doesn't have to. Therefore, I plead for it to become **configurable**.

By being able to combine it, cases like this (same URL as single page and as directory) could be avoided:

![grafik](https://user-images.githubusercontent.com/367315/122954367-a8216400-d37f-11eb-9d26-36be56e9917a.png)

(I'd love to have the upper URL shown/positioned as t

[2021-06-22 23:00] Starker3 opened #17701 "Invalidate Reports UI unable to invalidate segments with '>' or '<' in the segment, incorrectly encoding characters"
## Expected Behavior

The Invalidate Reports UI tool should be able to invalidate segments with special characters, such as `>` or `<`

## Current Behavior

When invalidating a segment with either the character `>` or `<` currently results in the following error:
`The segment condition 'actions&gt' is not valid.`
![image](https://user-images.githubusercontent.com/20905821/123009988-dcddfb80-d411-1

[2021-06-22 23:05] tsteur commented on #17035
It be good for someone to have a quick look if we can reproduce this issue using iOS 9.X (seems browserstack has only a iPhone with that iOS version not a tablet). As there are very few devices running this OS we could otherwise ignore it. However, if we can reproduce it there we may want to add a check in tracker (matomo.js) to exclude way too high values.

[2021-06-22 23:06] tsteur commented on #17628
OK lets allow changing the value of rows to show even when there is a subtable open. If this becomes an issue then we can revert the change again later.

[2021-06-22 23:08] tsteur commented on #15610
@sgiehl can we close this one maybe?

[2021-06-22 23:14] tsteur commented on #17701
@Starker3 do you mind closing this issue and recreating it in https://github.com/innocraft/plugin-InvalidateReports/issues ? Because it is a different organisation I cannot move it there. I could create it there myself but then you won't receive notifications for comments.

[2021-06-22 23:16] Starker3 commented on #17701
Re-created here: https://github.com/innocraft/plugin-InvalidateReports/issues/16

[2021-06-22 23:16] #17701 closed, assigned to nobody

[2021-06-23 06:42] sthopd commented on #15610
Okay. I closed my issue now, although I still get a Warning about UTF8mb4 charset ⚠ Warning: LOAD DATA INFILE<br/>LOAD DATA INFILE gebruiken zal Matomo's archivatie proces aanzienlijk versnellen.
---
Matomo is very slow in generating data for webpage overview.

[2021-06-23 06:42] #15610 closed

[2021-06-23 07:01] sgiehl commented on #15610
@sthopd  The Load Data Infile is unrelated to UTF8mb4. See https://matomo.org/faq/troubleshooting/faq_194/

[2021-06-23 14:45] sgiehl commented on #17035
@tsteur Tried to reproduce that with various ios emulations and simulations on browserstack, but wasn't able to. Some older versions of Safari do not support the performance timing api, but they simply don't track it. For all others the transmitted values looked correct.

[2021-06-23 20:10] tsteur commented on #17035
I'll close this for now. We can create a new issue if this still is an issue (maybe it was indirectly fixed meanwhile)

[2021-06-23 20:10] #17035 closed, assigned to nobody

[2021-06-23 22:53] tsteur commented on #16904
We can't reproduce the performance improvement anymore when sorting by idvisit instead of visit_last_action_time so this doesn't seem to be a solution. For more information see https://github.com/matomo-org/matomo/pull/17649#issuecomment-867210184

[2021-06-24 12:50] issuesreporting opened #17707 "An exception has been thrown during the rendering of a template"
We upgraded Matomo from version 3.14.0 to 4.1.0 and observed a bug.
After upgrading to 4.2.1 and later 4.3.1 bug is still there.

The error message we observe after upgrade to 4.1.0 and every version mentioned is following:

[code]

* Matomo Version: 4.1.0, 4.2.1, 4.3.1
* PHP Version:7.2
* Server Operating System: Free BSD 12.2-RELEASE  amd64

[2021-06-24 14:34] sgiehl commented on #17707
Hi @issuesreporting. How exactly did you perform the update? Using the auto update or did you perform it manually?

[2021-06-25 02:10] kevin-shelaga opened #17708 "disable plugins in config.ini.php"
The following settings do not disable plugins as expected, is this currently possible?

[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2021-06-25 03:49] #17628 closed, assigned to justinvelluppillai

[2021-06-25 05:49] gauripadbidri opened #17710 "nb_hits is different for getPageUrl and getPageUrls API's for the same PAGE after re-processing"
I am invoking 2 Matomo API to display Total Views on a POST Page and Top Views for the week on every page in the sidebar. However, I observed that the Total Count for a Post and Top Views for the same Post are different.

Note: This has started to happen after I have re-processed my data (Invalidate entire data and trigger re-process)
Same code works (meaning top views and total Views for a post a

[2021-06-25 06:10] issuesreporting commented on #17707
Using
 php72 console core:update --yes

[2021-06-25 06:53] sgiehl commented on #17708
Hi @kevin-shelaga.
It is possible to simple deactivate plugins in the UI. If that doesn't suite you, you can use the console command `./console plugin:deactivate pluginname` or remove the plugin from the plugins list in `config.ini.php`

[2021-06-25 06:53] #17708 closed, assigned to nobody

[2021-06-25 08:26] #14190 closed

[2021-06-25 09:56] kevin-shelaga commented on #17708
Thank you @sgiehl how would I disable them from the UI? I could not find instructions for that. I am on 4.3.1.

When I removed the plugin from the config file, it would be automatically added back in a second later. It do you mean remove the plugin from the plugin directory?

[2021-06-25 09:57] #17281 closed, assigned to justinvelluppillai

[2021-06-25 10:15] sgiehl commented on #17708
In administration under System > Plugins. But some plugins can't be disabled as they are required.

[2021-06-25 10:20] kevin-shelaga commented on #17708
@sgiehl tyvm!

[2021-06-26 14:26] LabN36 commented on #14523
is matomo run on port 9000 ?

[2021-06-27 13:50] kevin-shelaga opened #17714 "DBIP GeoIP (php) geolocation does not show as installed"
After downloading/extracting/renaming DBIP-City.mmdb to the misc directory the DBIP GeoIP 2 (php) doe not show as installed. I can see the current location gets updated from USA to Canada, which is correct, so I assume the file is being detected.

## Expected Behavior

Should show as selectable and installed

## Current Behavior

Not selectable and not installed

## Possible Solution

None

## Ste

[2021-06-27 19:29] Findus23 opened #17715 "Document difference between page URL and action URL"
When creating a segment, one can differentiate between segmenting by a page URL and segmenting by an action URL.

It would be great if somewhere (ideally in the glossary and the (?) popup in the segment UI)) the difference between those two would be documented.

https://github.com/matomo-org/matomo/blob/2b35b46a0988f8c3b6f848c59be8d7d918965a52/plugins/Actions/Columns/PageUrl.php#L25
https://github

[2021-06-27 20:06] diosmosis commented on #17232
Hi @84adam, do you still experience this issue? Would you be able to provide screenshots before and after switching sites? And would you also be able to provide the exported report data before/after switching sites to workaround the issue?

[2021-06-27 20:41] #17479 closed, assigned to justinvelluppillai

[2021-06-27 22:52] diosmosis commented on #17714
Hi @kevin-shelaga, thanks for the report! I can reproduce this locally. When I change the name of my database to DBIP-City.mmdb, the location provider is suddenly unavailable.

Note: you could workaround this by changing the name of the file to `GeoLite2-City.mmdb`. It shouldn't affect the result of geolocation just get Matomo to recognize it's existence.

[2021-06-27 23:34] kevin-shelaga commented on #17714
@diosmosis I couldnt get the work around to work. I have renamed the file but still geolocation does not show as installed.

[code]

[2021-06-27 23:47] diosmosis commented on #17714
@kevin-shelaga actually it seems I made a mistake when testing, looking again it's working for me. Can you check if the user your webserver runs as can see the file? Eg, checking if `<?php echo file_exists('/matomo/misc/GeoLite2-City.mmdb');` works when run in a web request.

[2021-06-27 23:51] diosmosis commented on #17707
Hi @issuesreporting, are you using any plugins that aren't provided by default with Matomo? Can you access the system report and provide the result here (either through the UI or via the `diagnostics:run` command)?

[2021-06-27 23:59] diosmosis commented on #17710
Hi @gauripadbidri, can you provide the URLs for the API requests above with parameters filled out (except token auth) and the API results?

[2021-06-28 00:31] kevin-shelaga commented on #17714
@diosmosis The file exists but it's at /etc/bitnami/matomo/misc/

I wonder if that's the issue, matomo isn't expecting the bitnami subdirectory?

[2021-06-28 01:16] diosmosis commented on #17714
@kevin-shelaga it shouldn't be, I just didn't know where the root directory for matomo was so I put the same path you put. Everything will be relative to the matomo root directory.

[2021-06-28 01:18] kevin-shelaga commented on #17714
@diosmosis Does the user require root access?

[2021-06-28 01:56] diosmosis commented on #17714
@kevin-shelaga the user that whatever is running the matomo PHP scripts (eg, php-fpm or apache or something else) needs to have access to the file in the misc directory. I'm assuming you added it there yourself and didn't use the UI downloader in the admin settings, correct?

[2021-06-28 02:31] kevin-shelaga commented on #17714
The UI download worked though I'm still not sure why I can't get the file I downloaded to work as the user (1001) does own the file.

Thank you for all your help @diosmosis

[2021-06-28 02:31] #17714 closed, assigned to nobody

[2021-06-28 11:52] kevin-shelaga commented on #17714
@diosmosis I just wanted to let you know that the UI stuck the mmdb file under /misc/user and not under /misc, so im guessing this is why the file i added was not being registered.

[2021-06-28 15:22] Chardonneaur opened #17717 "Add an option to make events not counted as an interaction"
In Google Analytics, there is an option (a binary one, 0 true, 1 false) in order to say if the event has to be counted as an interaction or not.
The typical use case is the following one, the visitor lands on a page, do nothing, a pop-up came out automatically and is measured as an event... why would it be an interaction as this is not coming from the visitor?
So the idea would be to have somethin

[2021-06-28 18:21] diosmosis commented on #17714
That's interesting, it works for me in the /misc directory. I guess there are some configuration differences between my local setup and however you're deploying (I'm guessing docker?).

[2021-06-28 19:54] kevin-shelaga commented on #17714
Yes, it is the bitnami docker image. But it's pretty basic, standard configuration.

[2021-06-28 20:08] tsteur commented on #17717
Hi @Chardonneaur thanks for creating this issue. I'll close this as a duplicate of https://github.com/matomo-org/matomo/issues/9199

[2021-06-28 20:08] #17717 closed, assigned to nobody

[2021-06-29 02:58] diosmosis commented on #12217
Fixed by  #17695

[2021-06-29 02:58] #12217 closed

[2021-06-29 05:30] Starker3 opened #17719 "Automate creation of core:archive crontab with a script or console command"
It would quite useful for users to be able to run a script or a console command to automatically create a crontab for the core:archive task.

This would preferably be an interactive command where the user can input specific values or continue with defaults.
For example the user could maybe choose the following:
* core:archive interval
* The maximum number of archivers
* Maximum number of requests

[2021-06-29 07:47] issuesreporting commented on #17707
With third party plugins and without third party plugins behavior is the same. No changes has been observed.

Here is log of diagnostic:run

[code]

[2021-06-29 08:58] Findus23 commented on #17719
Something like `crontab -l | command_that_adds_a_line_in_the_end |crontab -` might work on a large amount of setups and doesn't need root access (of course then it is a user crontab and doesn't need the www-data column).

[2021-06-29 09:20] MrBenGriffin opened #17720 "Allow using previous days or not including today for the period when sending Email Reports"
Report date to load by default: Previous 30 days (not including today)

vs.

(create/schedule a report) Report Period: month.

This is most significant when using an email report which uses post hoc / manual log insertions.

[2021-06-29 13:38] sgiehl opened #17721 "Tests are failing on PHP 7.4 and above"
Currently our AllTests suite is silently failing on TravisCI. See https://travis-ci.com/github/matomo-org/matomo/jobs/520002593#L792
The test that silently aborts is this one:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/CoreUpdater/tests/Integration/Commands/UpdateTest.php#L103-L116

Already saw the same behavior while trying to fix the tests for PHP

[2021-06-29 14:46] kevin-shelaga opened #17722 "Unable to ignore proxy IPs"
I am unable to make matomo ignore proxy ips following the docs (https://matomo.org/faq/how-to-install/faq_98/)
I have tried various configs, but they all result in the proxy ip showing up as the client ip.

[code]

[code]

<img width="461" alt="image" src="https://user-images.githubusercontent.com/65769106/123817901-887dc480-d8c6-11eb-85fd-fa0633104f73.png">

## Expected Behavior

IPs in range 10.

[2021-06-29 15:56] kevin-shelaga commented on #17722
Fixed itself after several restarts.

[2021-06-29 15:56] #17722 closed, assigned to nobody

[2021-06-29 18:35] Ryuno-Ki opened #17723 "Typo: Feautre"
## Expected Behavior

In a German setup, adding a new website shows a typo for the Visitor Profile checkbox.

## Current Behavior

https://github.com/matomo-org/matomo/blob/a627ca1711d9b7f49e05fe56dd474a08da4a4801/plugins/Live/lang/de.json#L35

has a character swap.

## Possible Solution

* Update the JSON (Feautre -> Feature).
* Run some spellcheck as GitHub Action? (stretch goal)

## Steps to Re

[2021-06-29 18:42] Findus23 commented on #17723
Hi,

Thanks for the notice, I fixed the translation.
If you like fixing typos, you can join the translation team on transifex: https://www.transifex.com/matomo/matomo :)

[2021-06-29 18:43] #17723 closed, assigned to nobody

[2021-06-29 19:11] Ryuno-Ki commented on #17723
Ah, there it is!
I was a bit confused by the outgoing link. (German seems to be fine with 99%).

[2021-06-29 19:36] diosmosis commented on #17720
Hi @MrBenGriffin, can you provide more details on the issue you're having? What is the expected vs existing behavior? In what context are the default values ignored? How would I reproduce this issue?

[2021-06-29 20:15] tsteur commented on #17202
BTW if you have a WAF then you may be able to configure to block any request having a `X_FORWARDED_FOR` request set.

[2021-06-29 20:19] tsteur commented on #12965
It's also happening with Users Flow when clicking eg on "interaction 1" and then on export
![image](https://user-images.githubusercontent.com/273120/123862031-f33d0780-d97b-11eb-9860-281b897c689e.png)

[2021-06-30 05:34] #17001 closed, assigned to justinvelluppillai

[2021-06-30 10:32] MrBenGriffin commented on #17720
When using 'Create and Schedule a report' (from Personal:Email Reports) the options available to report editing is given as  "Report Period" (day/week/month/year)

The additional text says:
"The period of data covered by this report. By default this is the same as the email schedule, so if the report is sent weekly, it will contain information regarding the last week.

You can change this, however

[2021-06-30 14:33] gauripadbidri commented on #17710
https://analytics.sophiamedia.com/?module=API&method=Actions.getPageUrl&pageUrl=https://medicalkidnap.com/2014/12/08/medically-kidnapped-teenager-in-canada-pleads-to-be-returned-to-his-family/&idSite=6&period=range&date=2014-12-08,2021-06-24&format=json&token_auth=some_token

In above API Call; the Start Date is the Post Publish Date
Whereas; GA has around 70K Views
Response : 
[{"label": "/2014/1

[2021-06-30 17:37] diosmosis commented on #17720
@MrBenGriffin Thanks for the detailed explanation! To confirm I understand, the problem is just that due to the use of the log importer today never has data, so the email reports end up not being as useful, correct? And you'd like the ability to specify not including today or sending the previousN days in email reports?

[2021-06-30 17:39] MrBenGriffin commented on #17720
Hi, pretty much.  But also, in fairness, the email reports would be more useful if one thinks about how we would want to use them. Normally we are going to use them as the basis of a larger report which will be driven by calendar weeks, calendar months, quarters, etc.
Likewise, being able to not include today is pretty essential!

[2021-06-30 17:58] diosmosis commented on #17720
Thanks for the confirmation, I've marked this as an Enhancement and added a relevant title. It will be prioritized but I can't say when it will be implemented.

[2021-06-30 19:53] sgiehl commented on #17710
Hi @gauripadbidri
I'm not sure if I understood your issue correctly. So the same report changes it's numbers after invalidating and reprocessing it?
You also mentioned something of an Matomo update? Did you update the Matomo version somewhere before reprocessing the data?

[2021-07-01 00:18] diosmosis commented on #17707
@issuesreporting there doesn't seem to be anything of interest in the system report. And unfortunately the error doesn't have much context there. Would you be able to apply this patch: https://github.com/matomo-org/matomo/compare/17707-patch?expand=1 and provide the error message?

[2021-07-01 03:45] diosmosis commented on #17721
Looks like an error occurs on mysqli (in travis at least):

[code]

This gets thrown as a runtime exception which I guess stops the test entirely.

[2021-07-01 04:30] bluikko commented on #14874
This issue seems to still be present in Matomo 4.x? https://github.com/matomo-org/matomo/issues/14874#issuecomment-529585366 says it should be fixed?

[2021-07-01 07:45] sgiehl commented on #14874
@bluikko we meanwhile directly require tedvim/jshrink again, so any requirement of matomo-org/jshrink should be removed.
If you have any similar issues, please create a new issue with a detailed description about the error and how to reproduce

[2021-07-01 07:53] sgiehl commented on #17721
This error is caused by the test on purpose. Not sure why it's a runtime exception in this case and why it works locally with MYSQLI 🤔

[2021-07-01 07:53] bluikko commented on #14874
I see - yes, it was about "tedivm" and not "matomo-org". The details are not clear to me right now but seems `vendor/tedivm/jshrink` was needed to be deleted as part of the install. It is an ExtraTools install so uses composer. Might create a new issue if I get the details, it is clearly not related to this issue.

[2021-07-01 08:14] matomoto commented on #14647
Hi, i have the same problem since any of the latest updates. Yet Matomo 4.3.1. I have no idea how it comes. I do not make experience. I have never changed anything on the dashboard. I have all default. No additionally Plugins. Pure Matomo, respectively a former Piwik installation.

I haven't had time to take care of it yet. I just wanted to delete the duplicates already. But now I have decided to

[2021-07-01 08:26] sgiehl commented on #14874
If it is ExtraTools related, please create an issue in the plugin repo https://github.com/digitalist-se/extratools

[2021-07-01 12:10] RadekKosiada opened #17729 "A standard user loses ability to edit their own segment after super-user shared it with all users"
As described in the title, we encountered a following issue:
A normal (no super user) created a segment and was allowed to edit it.
After it was shared with all users by a super-user, the author of the segment lost possibility to edit it.

We saw a popup with the message: “_enabledAllUsers=1 requires Super User access_”

After sharing with all was withdrawn, it could be again edited by a normal us

[2021-07-01 18:44] diosmosis opened #17731 "Add encoded character input to Fixtures that import logs and regenerate OmniFixture"
We'd have a couple reports that sounded like things not working correctly after tracking encoded data. We could add encoded data to one of our fixtures that uses the log importer and regenerate OmniFixture to see what effect that kind of data has on our UI tests. This would potentially allow us to fix some bugs before we get more reports (though admittedly it's rare that users track non-UTF-8 data

[2021-07-01 22:20] justinvelluppillai commented on #17454
Hi @brainfoolong and @felix-berlin, I have just started to look into resolving this issue and can't reproduce it in Firefox 89. Can you please let me know if you are still seeing the issue, and if so perhaps give me steps and environment to reproduce the issue?

Thanks - maybe some browser updates have fixed this.

[2021-07-01 23:02] tsteur opened #17732 "Users can get logged out when many notifications are pending"
You can reproduce it this way:

* https://demo2.matomo.org/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=month&date=2021-06-10&segment=&category=Referrers_Referrers&subcategory=SEOWebVitals_SEOWebVitals
* Click on row evolution on a row
* You will see in the annotation view from the annotation request below message that you are logged out
![image](https

[2021-07-02 04:21] brainfoolong commented on #17454
Hi @justinvelluppillai . The error still exist. Just run this on any website in F12 -> Console. That's basically the core problem of matomo and the most basic example to reproduce.
![image](https://user-images.githubusercontent.com/1684236/124220168-b862dd00-dafd-11eb-94ef-090df3de879c.png)

You need to enable the settings as stated in post https://github.com/matomo-org/matomo/issues/17454#issue-8

[2021-07-02 17:10] freder opened #17733 "persist evolution graph custom period setting"
## Summary
I am putting together a custom dashboard. as part of this I would like to have one “visits over time” widget for the past 24 months (the default setting), but also one showing the past 30 days. I can adjust the per widget settings manually, but whenever I refresh the page each of them will reset to showing 24 months.
from what I can tell this isn't possible(?) – it would be great if the

[2021-07-04 16:52] diosmosis commented on #17733
Hi @freder, thanks for the request! We already do this but it seems like a choice made via the period selector from within the graph is not saved like other changes are. I've changed the title of the issue to reflect this.

[2021-07-04 22:36] diosmosis commented on #17721
Haven't figured out the cause, but:

- replacing the runtime exception w/ \Exception has no effect
- and catching the exception in the Update command allows the test to continue

[2021-07-05 00:44] diosmosis commented on #17732
Some things I noticed:
- the session data simply doesn't exist when the error occurs (it's not in the database, and $_SESSION is empty)
- before the row evolution popover is opened, the session will exist in the DB
- after the row evolution popover shows up, one or more of the requests triggers the destruction of the session. I'm not sure if it's done in PHP or some other strange error

[2021-07-05 01:43] diosmosis commented on #17732
More things:
* the session is destroyed after it is failed to be read
* it fails to read because the length of the data is likely cut off, either when it is saved or read. I could only see it try to read 65535, not write it. This is the max length of a TEXT column, so the serialize would fail causing the session to be incorrectly read.

[2021-07-05 03:14] justinvelluppillai commented on #17454
This information has all been mentioned above, but just to clarify this issue:

The relevant setting is

<img width="627" alt="Screen Shot 2021-07-05 at 3 03 48 PM" src="https://user-images.githubusercontent.com/1127121/124412263-37783f80-dda2-11eb-92ad-311b3ad13973.png">

When it is set, `navigator.serviceWorker.ready` returns a rejected promise, which we currently don't handle, so firefox shows

[2021-07-05 04:08] brainfoolong commented on #17454
@justinvelluppillai Thanks, i can confirm that this fix does work.

[2021-07-05 04:44] justinvelluppillai commented on #17454
Thanks @brainfoolong appreciate you drawing our attention to this and your patience in providing details to get it fixed.

[2021-07-05 05:21] diosmosis commented on #17721
I've narrowed down the problem to something in the Application.php class in symfony console. The `run()` method has a try-catch, the catch is never entered, the process seems to just exit. However, in doRun() if I surround doRunCommand() and catch the exception, the tests continue. So I suspect the issue is Console::doRun()'s safemode logic.

[2021-07-05 16:06] felix-berlin commented on #17454
In my case `navigator.serviceWorker.ready` is undefined.

![image](https://user-images.githubusercontent.com/17964384/124497597-5cc57780-ddbb-11eb-9add-b25602a68e7b.png)

[2021-07-05 16:09] felix-berlin commented on #17454
Is there a other way to force the error?

[2021-07-05 16:39] Findus23 commented on #17454
@felix-berlin Do you by chance use any browser extension that modifies theses browser settings?

For me, if I set `dom.serviceWorkers.enabled` in `about:config` to false, `navigator.serviceWorker` becomes `undefined`.

[2021-07-05 17:39] #17454 closed, assigned to justinvelluppillai

[2021-07-06 00:19] tsteur opened #17737 "Warning - session_regenerate_id(): Cannot regenerate session id - session is not active"
Seeing this log thousands of times (every couple seconds or so) on our demo where anonymous access is enabled.

-- | -- | --

I think this might be a regression of https://github.com/matomo-org/matomo/pull/17520/files#diff-36c19fe5134cf0a5d0edc32de9cc6583e3a08cc211255c63adc26c7071015618R677

We probably now start the session less often, and when then tries to authenticate anonymous because user is

[2021-07-06 00:26] tsteur opened #17738 "Don't log an error when not supported browser is used"
Seeing thousands of these logs on our cloud:

This may be caused for example by our monitoring tools or so. Could we adjust the logic to not log such an error when this exception happens?

I suppose we can catch `NotSupportedBrowserException` and make it not log. I'm thinking this would need to be done in `ExceptionHandler::dieWithHtmlErrorPage()`.

[2021-07-06 13:46] felix-berlin commented on #17454
@Findus23 Yes but only two :)

![image](https://user-images.githubusercontent.com/17964384/124611016-585b9600-de71-11eb-891a-c50a4ec7e699.png)

[2021-07-06 14:45] aayush27894 opened #17739 "Use multiple/different database for each domain to be tracked (On Premise)"
Hello,

I am currently tracking user metrics for 2 domain names/websites using a single "On-Premise" matomo instance. Each of them are being used by different clients. The issue is that all of the data is getting stored in the same database, that might be a security concern for both the clients as both their user data gets stored in the same database and tables. Even though matomo gives a way to i

[2021-07-06 16:44] diosmosis commented on #17739
Hi @aayush27894, the only way currently to separate users by database is to have a multi tenant setup. We have some documentation about it here: https://developer.matomo.org/guides/multi-tenants . If you have further questions about how to set this up, please ask on the forums (https://forum.matomo.org/).

[2021-07-06 16:44] #17739 closed, assigned to nobody

[2021-07-06 17:20] truk70 commented on #15892
Great! First it was filed for Milestone 4.2..
then postpone to 4.4 and
now it was again postponed for 4.5

I don't think I will ever file a bug report again!

[2021-07-07 09:45] 1de opened #17740 "e-commerce conversiontracking: added-to-cart item's conversionrate is zero after checkout"
Let's having a fresh clean install of matomo (4.3.1) to keep the explanation more simple. i think the issue still exists if more user data is available, but it's may hard to get the awareness of this issue.

when an item is added to the cart without viewing the item-/article-/productpage itself and checkout process is completed, the conversionrate of this article is zero. if the the product-page i

[2021-07-07 10:46] tomper00 opened #17741 "Visitor log report timing out for superusers"
We have an issue in 2 different Matomo environments where the visitor log view is timing out, but only for users with the super user role.
The error the user get is:
"Oops… there was a problem during the request. ...."

For users with less access it works fine.

## Context
Both of these environments have quite a lot of data in them but the it happens for any website in the instans (event for the o

[2021-07-07 16:29] diosmosis opened #17743 "New tests for Notification\Manager and Session\SaveHandler\DbTable"
## Summary

Currently we have little to no tests for these files. It'd be good to have some coverage there.

[2021-07-08 07:30] sgiehl commented on #17741
Hi @tomper00
Did your super user maybe change the display limit at some point and Matomo tries to load a lot more data?
You could check if there is an entry in the `option` table where the `option_name` is `viewDataTableParameters_user_Live.getLastVisitsDetails` (you need to replace `user` with the users login).
If there is an higher `filter_limit` stored you can simply remove the record to reset

[2021-07-08 09:53] tomper00 commented on #17741
@sgiehl nope that was my first thought as well but this concerns all super user accounts in 2 different installations.

[2021-07-08 21:20] tsteur commented on #17732
just fyi I fixed the bug that causes the notices to happen in the first place on demo2 (in the plugin). should we need to reproduce the issue there again let me know and I can apply the bug again.

[2021-07-08 21:33] mwithheld commented on #9400
+1 on this please

Ref https://stackoverflow.com/questions/28591433/laravel-monolog-syslog-specify-individual-log-file for another example.
Ref https://github.com/Seldaek/monolog/blob/main/src/Monolog/Handler/SyslogHandler.php for the

I can code up a pull request, but I'm not familiar with Matomo code -- can someone point me at where the SyslogHandler should be added, or analogous code for the DB

[2021-07-08 21:55] diosmosis commented on #9400
Hi @mwithheld, a pull request would be appreciated, though technically this should be possible currently via dependency injection. You could add the handler by adding the following to the `config/config.php` file (create it if it's not there):

[code]

If you want to create a PR that allows setting it via INI config, you'd have to add an entry to `'log.handler.classes'` in `Monolog/config/config.p

[2021-07-09 12:32] heurteph-ei opened #17747 "Thousand numbers are wrongly displayed in email reports"
## Expected Behavior
Beautiful graphs should display numbers chars in email reports

## Current Behavior
On email reports, (HTML or PDF format), the graphs display wrong chars for thousand numbers (squares instead of numbers).
The same in the preview mode of the reports.
Examples:
![image](https://user-images.githubusercontent.com/79993552/125077634-9bac4380-e0c1-11eb-81a5-855e3d662e46.png)
![imag

[2021-07-09 13:15] heurteph-ei opened #17748 "The real-time reporting page dosn't show all events"
## Expected Behavior
Like in the **Visits log** reporting page, the **Real-time** reporting page should display content displays and content interactions.

## Current Behavior
The **Real-time** reporting page doesn't display content displays and content interactions.
Example on content displays:
![image](https://user-images.githubusercontent.com/79993552/125083008-24c67900-e0c8-11eb-8df3-fa8f39ee3

[2021-07-10 03:39] tsteur opened #17750 "Do we need to create a temporary segment table for unique week|month|year periods?"
Seeing queries like these:

![image](https://user-images.githubusercontent.com/273120/125150575-ddf28500-e194-11eb-9bb3-d136a2897241.png)

As I think we mostly only calculate unique visitors for week|month|year|range I wonder if it's actually needed to create a temporary table for these metrics? Might be a lot faster to just get the unique numbers directly?

[2021-07-10 03:43] tsteur commented on #17750
I didn't test at all, and not even sure it's the right place, and where it be fine to do it but meaning maybe we can do something like this (again, might be wrong place or we might not want it)

[code]

[2021-07-11 15:52] dev-101 commented on #16352
Just a heads-up if someone is using this plugin (version 0.2.0), it caused tracking issues on my website out-of-the-blue -- last 4 days tracking stopped and here's the report:

Last 4 days one of my Matomo installation (shared hosting, cPanel, Linux, PHP 7.3.8) stopped tracking visitors. GA works fine.

Here's what I found in system reports:

``ERROR The configured geolocation provider DBIP / GeoI

[2021-07-11 15:54] dev-101 commented on #16352
follow-up: Required Private Directories error is still present, I will see what is causing it, but seems unrelated to the above tracking / geolocation problem.

[2021-07-11 15:59] dev-101 opened #17751 "Required Private Directories error in System / Diagnostics"
I don't know exactly when this appeared under System, probably with recent update or so, but I wasn't regularly checking it, so can't be sure. Latest stable Matomo, Linux shared hosting, PHP 7.3.8 .

![matomo-error-required-private-directories](https://user-images.githubusercontent.com/5383059/125201925-8118cc80-e271-11eb-889f-e06a7f01b673.png)

I have tried the proposed fix in ssh console here ht

[2021-07-11 16:02] dev-101 commented on #17751
Btw, clicking on above URL will cause return HTTP 200 (no redirect), but it will load my website's homepage, so it's actually not critical in terms of security (e.g. it will not reveal any critical info via PHP).

[2021-07-11 18:10] Findus23 commented on #17751
Hi,

This check was added in the last Matomo release, which is why quite a few people are noticing it right now.

It tries to request the URL and if it doesn't return a 4XX response or does a redirect, it assumes the file is public for anyone to see.

You can see more about how it works here:
https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Diagnostics/Diagnostic/RequiredPrivateDirectorie

[2021-07-11 18:10] #17751 closed, assigned to nobody

[2021-07-11 18:31] dev-101 commented on #17751
Not sure if this is the right way to do it and bother users this way. I changed manually cache folder to 0700 so it should be fine, but then again, this is confusing and a bit annoying tbh.

[2021-07-11 18:43] diosmosis opened #17752 "Automatically delete plugin specific/report specific invalidations that do not need to run"
Sometimes both a plugin specific/report specific archive invalidation will exist alongside an all plugins archive invalidation. When processing these, the all plugins archive is processed first. Then the plugin specific/report specific ones are ignored, since we have a valid archive that was just created. This means those plugin/report specific invalidations never get deleted from the table.

So i

[2021-07-11 18:46] diosmosis commented on #17750
Might merit testing first. From testing hyperloglog, it seemed as if the DISTINCT handling was the cause of slow performance. (The queries there were slow and had no segment. I guess we could compare a bare DISTINCT query vs. a DISTINCT query with a segment.)

[2021-07-11 18:52] diosmosis commented on #17748
I'm not sure about this, but I think this is done on purpose. It's possible for some visits to have a lot of content impressions/interactions and there's not much UI real estate to display it in the real time visits widget, so we don't display them.

cc @tsteur

[2021-07-11 19:07] diosmosis commented on #17747
Just tested and this is working for me:
![image](https://user-images.githubusercontent.com/125140/125207095-44cc7880-e23f-11eb-860b-797ab2ed0085.png)

Can you tell me what language is configured for you in Matomo? And what locales are available on your server?

[2021-07-11 19:08] Findus23 commented on #17751
If your webserver and PHP are running as the same user, changing permissions doesn't change anything, because if Matomo can read it, Apache/Nginx can read it (and potentially send it to the visitor).

If you know a better way to notify people that their webserver is allowing access to files that should not be public, I'm open for suggestions.

[2021-07-11 19:28] dev-101 commented on #17751
True, I forgot there's only one user (= owner) in shared environment. Maybe updating documentation, or even add support to modify/generate main or local .htaccess file (in case of Apache) with some example rules would be nice. Maybe even include it by default in Matomo installation, it should cover majority of cases out there.

Thanks!

[2021-07-11 19:38] Findus23 commented on #17751
The idea of changing how .htaccess files are created by Matomo is maybe something one could look into and has been discussed a bit in the past. I can't say much about it as I don't know Apache at all myself.

But the warning is nevertheless useful as there are a lot of people who aren't using Apache or (as I noticed since the warning was added) are using Apache with htaccess support disabled witho

[2021-07-11 19:42] dev-101 commented on #17751
Actually, there is already an advanced .htaccess file in /tmp/ dir, but it is not working, because local htaccess files are not read by apache directive config on many servers (including mine). Hence, it's not working, either.

Another reason it might not actually work on sub directory (/cache/tracker/).

Anyway, I resolved this with a [Rewrite rule](https://stackoverflow.com/a/20489058/2715309) i

[2021-07-11 20:02] tsteur commented on #17748
I think so too. We might be only showing content interactions or so. I couldn't find it in the code though (or the related issue) right away. @sgiehl might know more too. Because there can be a lot of impressions we might need to group them into a bucket of X impressions and have a way to show them all in the UI or eventually a config for this behaviour.

[2021-07-11 20:04] tsteur commented on #17750
Just fyi @diosmosis it might in the end do the same query again pretty much anyway as the temp segment table would have only the distinct idvisits so it would basically do yet another distinct for the idvisitor etc.

[2021-07-12 05:33] Starker3 opened #17754 "Persist Date Range and Segment across user sessions"
## Summary

It would be useful for some people to be able to persist the Segment and date range they are viewing across sessions.

For example, when a user logs in they're looking at the same segment and dates as when they logged out on a per-user basis.

[2021-07-12 06:45] ziegenberg opened #17755 "New console command "core:version" outputs the Matomo version information"
## Summary

The Symfony built-in commands for the console provides an `--version (-V)` option to "_Display this application version_". It, however, is not just the version information, but it is prefixed with the string `Matomo version`, which makes it harder to parse and compare, e.g. with what `https://builds.matomo.org/LATEST` returns.

I'd like to have a `core:version` command that outputs the

[2021-07-12 06:56] SassNinja opened #17756 "JS tracker should return promise"
I'm using matomo for a SPA and (currently) track page views and ecommerce actions.
Regarding the latter I've a problem with tracking orders because after having finished an order I call `trackEcommerceOrder` AND and the same time redirect the user to another page (outside of my control)

As a result the matomo request is often not finished because of that redirect. I'd need a way to wait for matom

[2021-07-12 08:40] richardstrong commented on #17397
I'm seeing the same issue with Chrome 91.0.4472.114 on Mac

[2021-07-12 09:18] sgiehl commented on #17748
Content interactions are simply not handled in the template. See https://github.com/matomo-org/matomo/blob/f1b82cd9a2ed319676e0c505712055a5c310909c/plugins/Live/templates/getLastVisitsStart.twig#L78-L102

[2021-07-12 20:56] tsteur opened #17759 "Uncaught exception in API: Piwik\Exception\UnexpectedWebsiteFoundException: An unexpected website was found in the request: website id was set to '-1' . in core/Site.php"
when calling MultiSites.getAll

[code]

Seems there is maybe an other row and https://github.com/matomo-org/matomo/blob/4.4.0-b1/plugins/MultiSites/API.php#L275 is applied maybe to the others row. Thinking this could be a regression from recent -1 changes.

Interestingly that instance has only 38 sites though so not sure it is caused by an others row but sounds like it. Maybe indirectly a lower li

[2021-07-12 21:00] tsteur commented on #17756
FYI some tracking methods support a `callback` as a parameter (not a problem). but seems the tracker ecommerce order method doesn't support this just yet. Haven't tested it but some change like below might make this work just in case you're keen on testing this and creating a PR if that works. Supporting promises instead of callbacks be great to eventually (but be a different issue probably)

[cod

[2021-07-13 08:21] #17737 closed, assigned to sgiehl

[2021-07-13 10:27] maquejp opened #17760 "Receiving Error core:archive since latest update"
## Expected Behavior
The Archive work successfully and do not send error email.

## Current Behavior
I receive an error email every hour

## Steps to Reproduce (for Bugs)
No steps, after update of matomo, I started receiving the emails

## Context
Matomo has an erratic behavior. I suppose that this is linked.
index.php?module=Installation&action=systemCheckPage&idSite=2&period=day&date=yesterday <

[2021-07-13 13:11] mikkeschiren opened #17761 "Missing performance metrics for most dates"
When viewing the performance metrics we are missing data for most dates

## Expected Behavior
When looking at performance metrics we expect to find data for all dates.

## Current Behavior
We have data for different dates.

![image](https://user-images.githubusercontent.com/712838/125457282-220b95bc-4083-442e-b567-476f0060521f.png)

We are using Matomo 4.3.1

Data is archived with cron archiver, n

[2021-07-13 14:40] BRVN01 opened #17762 "Problem with SQL table after migrating from Matomo 3 to Matomo 4"
Hello,
I don't know how this happened, but I see a problem after the upgrade from Matomo 3 to Matomo 4, the upgrade from Ubuntu 14.4 to Ubuntu 20.04 was performed as well.

## Current Behavior
The GUI reports that there is an error in the SQL syntax:

Erro: Mysqli prepare error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right synta

[2021-07-13 17:46] diosmosis commented on #17762
Hi @BRVN01, there should be backticks around `option`, for example:

[code]

If the error occurs in Matomo, can you find the stack trace? (Adding `define('PIWIK_PRINT_ERROR_BACKTRACE', 1);` to `/path/to/matomo/bootstrap.php` should allow it to get printed out.)

[2021-07-13 17:54] diosmosis commented on #17761
@mikkeschiren for days that have missing metrics, can you check in the log_link_visit_action table if there are any positive values in the performance dimension columns, for example `time_dom_processing`, `time_dom_completion`, `time_network`, etc.?

[2021-07-13 18:13] diosmosis commented on #17760
Hi @maquejp, can you provide your php version, tell us how you are deploying matomo (are you using git? did you install the composer dependencies yourself?) and whether you are using any third party plugins that aren't distributed with matomo?

Can you also provide the contents of FilesystemCache.php that the error references?

[2021-07-13 18:30] BRVN01 commented on #17762
This file (`/path/to/matomo/bootstrap.php`) does not exist, should i create it?

About the `option` table, other tables don't need backticks, thanks for that. The value in this tables `option` is a little strange, I can see something like this:
[code]

This table looks broken, the value is not normal, can you tell me if it's like that?
I saw some important data in it, so I can't just remove it, bu

[2021-07-13 18:33] BRVN01 commented on #17762
It seems that mysql cannot create the output as it should be, everything is a little broken.

The `desc` command works fine:
[code]

[2021-07-13 18:57] diosmosis commented on #17762
Yes, the file will be read if it's there, it's one of the places for custom matomo config (like the define() that sets the backtrace). You can delete the file after or just remove the `define()`.

That does looks strange, I'm not sure what could cause that. Can you try the following queries:

[code]

[2021-07-13 19:36] beankylla opened #17763 "Provide filtering for headless browser"
## Summary
Hello,

as [asked in the forum](https://forum.matomo.org/t/segment-visitors-whose-browser-is-headless/30869) (post without answer), we would need to be able to filter or exclude headless browsers
It is possible to see when a headless browser visit comes but there is no way of filtering /  excluding it. (unless this is already done when filtering out bots etc? (did not find anything on t

[2021-07-13 19:41] BRVN01 commented on #17762
Done, but the results are pretty much the same:
[code]

The sql command worked fine, less the last one, my db is called 'piwik':
[code]

Follow the GUI report:
[code]

During the migration tests I couldn't see this error, I thought it was related to the MySQL server, but now I think it's related to Matomo, I don't know anymore.

[2021-07-13 20:04] tsteur commented on #17763
Hi @beankylla The [tracking spam prevention plugin](https://plugins.matomo.org/TrackingSpamPrevention) does that.

[2021-07-13 20:04] #17763 closed, assigned to nobody

[2021-07-13 20:07] diosmosis commented on #17762
@BRVN01 can you make sure your bootstrap.php file looks like this:

[code]

Then trigger the original error you were seeing again. There should be a stack trace.

[2021-07-13 20:08] tsteur commented on #17760
Hi @maquejp please have a look at this issue: https://github.com/matomo-org/matomo/issues/16613

[2021-07-13 20:08] #17760 closed, assigned to nobody

[2021-07-13 20:54] math-GH opened #17766 "Install issue: Matomo couldn't write to some directories"
I uploaded a fresh Matomo via FTP and wanted to start the install routine. But I get this error message

![grafik](https://user-images.githubusercontent.com/1645099/125523216-e0d93330-647b-488a-91c7-0a7c5421f292.png)

The problem: the `tmp` folder has no sub directories.

## Expected Behavior
no error, start of install routine

## Current Behavior
see screenshot

## Steps to Reproduce (for Bugs)
f

[2021-07-13 21:23] Findus23 commented on #17766
That's exactly the problem. The user with which PHP is running doesn't have the right file permissions to create files and directories in tmp/. How to change this depends a lot on your webserver setup, but changing the owner to the PHP-user (often `www-data`) or changing the file permissions often helps.

[2021-07-14 03:23] Starker3 opened #17769 "Show brute_force_log entries in the UI or add the option to retrieve entries with a CLI command"
Currently the only method to check for failed login attempts is to check the `brute_force_log` table for any entries or to check the `Activity Log` if the failed login attempt was from the UI.

Since there may be cases when people can accidentally get themselves blocked by making API requests with an invalid token (For example running a script that sends a series of API requests) it can sometimes

[2021-07-14 07:20] mpdude commented on #17738
Also, it should not cause a `500` status code for the user, but rather something from the `4xx` range.

[2021-07-14 08:02] bozerkins commented on #12165
Has anyone started on this issue? I'm currently looking at the GTM - Matomo integration options for non-technical end users. GTM template could be very useful for such cases

[2021-07-14 09:31] sgiehl commented on #17759
@tsteur do we maybe have the query string that caused the error?

[2021-07-14 11:49] mikkeschiren commented on #17761
@diosmosis - values were in fact NULL on the dates with no data that I tested, how could  this happen?

[2021-07-14 12:10] BRVN01 commented on #17762
Hello,

The `bootstrap.php` file is now correct:
[code]

But I got the same error, in the `cli` and `gui`:
[code]

In the `GUI`:
[code]

The error appears to be the same error described in the link below. The OS and Matomo version are different though.
`https://github.com/matomo-org/matomo/issues/12577`

[2021-07-14 13:26] sgiehl commented on #17761
@mikkeschiren are you using the normal javascript tracking? Those values should actually be automatically tracked in this case (if the users browser provides them).

[2021-07-14 14:01] mikkeschiren commented on #17761
I will check with our analysts if they have done some changes on some dates, but with the results we are getting, that does not really make sense (couple of days per month that we have results, and then thousands of them, and next day none). But with that said - it could be an implementation problem.

[2021-07-14 16:01] ziegenberg opened #17770 "activating non-existing plugin via console plugin:activate results in uncaught exception and plugin is listed as installed afterwards"
## Expected Behavior

When trying to activate a non-existing plugin via ` console plugin:activate`, it should report the not existing plugin in a nice message and do not throw an uncaught exception. Also, it should not be listed in the list of installed plugins afterwards.

## Current Behavior

When trying to activate a non-existing plugin via ` console plugin:activate`, it throws an uncaught exce

[2021-07-14 17:54] diosmosis commented on #17646
Based on communication w/ @MaghSamana, this is definitely some kind of bug, though I'm still not sure what the cause is. I'll keep looking.

[2021-07-14 20:07] diosmosis commented on #17762
Hi @BRVN01, thanks for the extra information, looks like there's a bug which I've fixed here: https://github.com/matomo-org/matomo/pull/17771 . Can you see if that fixes the issue for you?

[2021-07-14 20:21] tsteur commented on #17770
Thanks for creating this issue @ziegenberg 👍

[2021-07-14 20:23] tsteur commented on #17761
@sgiehl wouldn't it be expected in some cases when the tracking request is sent before the browser load event for example and there is no follow up load event?

[2021-07-14 20:29] tsteur commented on #17759
It was during archiving

[2021-07-14 20:31] tsteur commented on #17759
[code]

[2021-07-14 21:08] tsteur opened #17773 "Matomo should be setting content security policy to prevent some XSS"
This is for the Matomo UI (not tracking). For better security we shouldn't leave it up to users to configure content security policy. We should set a CSP to only allow requests to the current domain. Note: When Matomo is behind a load balancer etc then it might not know the correct domain it is on so would need to use trusted hosts maybe (or in some cases).

Not sure if there are any external doma

[2021-07-15 02:55] #17417 closed, assigned to justinvelluppillai

[2021-07-15 03:12] Starker3 opened #17774 "Goal Overview Report & widget on dashboard can cause a very large spike in requests"
## Current Behavior

Currently when adding the "Goal Overview" widget to the dashboard or loading the Goal Overview report it will make at least 2 GET requests for each goal present in the Overview (At least one request for each sparkline per goal)
A Matomo server with just 7 goals for example makes around 25 requests just for sparklines on the Goals Overview.

On websites that have a large number

[2021-07-15 04:59] tsteur commented on #17202
We are adding a new config setting for this in https://github.com/matomo-org/matomo/pull/17765

Maybe in Matomo 5 we make it default to read the last entry. However, depending on the setup the last IP might be an internal IP and it could break things.

To be evaluated with Matomo 5 whether we'll change the default.

[2021-07-15 08:16] #17762 closed, assigned to nobody

[2021-07-15 12:46] BRVN01 commented on #17762
Hello,
Thanks for your help, you helped me a lot.

Just to record for those who have this problem, after editing these files, you need to change the file size in bytes and the md5 hash in the `config/manifest.inc.php` file.

[2021-07-15 14:27] sgiehl commented on #17761
Yes. indeed. If the page tracking event is sent before the performance metrics are available they will be sent with the next tracking request. If no further tracking request is sent, the performance metrics might not be tracked at all.
It might work to trigger a ping once the page was completely loaded

[2021-07-15 14:59] bisoldi commented on #17738
We're now seeing this as well.  I'm confused as to how this error comes to be exactly.  If I can enumerate my questions regarding this....

- What is the "security issue exactly"?
- Is this an exception that's being thrown within the browser, transmitted to the server and then logged out?
- If the Matomo client-side doesn't support the browser, then how is it even able to transmit the error?

Some

[2021-07-15 15:05] sgiehl commented on #17738
@bisoldi the exception is thrown server side when someone tries to request Matomo UI with a user agent header containing a browser that is marked as not supported. This is not checked client side.

[2021-07-15 15:16] bisoldi commented on #17738
@sgiehl So, to be clear this is NOT related to Matomo event tracking for our web application...this is being thrown while someone is accessing the Matomo console?

[2021-07-15 15:23] sgiehl commented on #17738
@bisoldi Yes. It's only thrown by the Matomo UI and not thrown while tracking.

[2021-07-15 15:30] bisoldi commented on #17738
@sgiehl Thank you so much!  I'm trying to figure out how to enable error/debug logging (server side) thrown while tracking.  Can you point me in the right direction?

[2021-07-15 15:38] sgiehl commented on #17738
If you are look for tracking failures you can simply look in the Matomo Admin > Diagnostics > Tracking Failures. If there aren't any failures listed all requests were tracked correctly. If not you need to look at the error log for that specific time.

[2021-07-15 15:42] bisoldi commented on #17738
Thank you again.  Last question, I promise, before I open a new ticket with any other questions....If we enable debug = 1 in the matomo.ini.php config file, will that simply print errors to the console?  We have someone on staff who is not finding her activity being tracked when it should be, and there is nothing listed under "Tracking Failures".  We're hoping to get some additional information on

[2021-07-15 15:55] sgiehl commented on #17738
@bisoldi maybe try asking further questions on our forum. We are only handling specific bugs or feature requests here.
Note: There are plenty of reasons why something might not be tracked. Most common reasons are ad blockers or do not track setting in the browser.

[2021-07-15 15:57] bisoldi commented on #17738
@sgiehl I'll definitely do that.  Not trying to ask you for help (here) in trying to track down a reason, just wanted to know if debug = 1 will print to the console or splash something in the UI?  Thanks.

[2021-07-15 20:43] math-GH commented on #17766
I see that the problem could be on my server. Just 777 works. And that could not be the solution. I am in contact with my hoster.

[2021-07-15 22:34] tsteur opened #17775 "Call to a member function getSubtableDimension() on null in core/DataTable/Filter/PivotByDimension.php"
URL: ?token_auth=XYZANONYMIZED&module=API&method=VisitsSummary.getVisits&idSite=1&period=day&date=last14&segment=&pivotBy=Referrers.Keyword&format=json&flat=0&filter_limit=-1

No referrer found (so probably called directly)

I will comment if it happens again.

[2021-07-15 22:37] tsteur opened #17776 "Call to undefined method Piwik\\DataTable\\Map::getRowFromLabel() in plugins/UserCountry/API.php"
refs https://github.com/matomo-org/matomo/issues/13507

No referrer

will comment  then this happens again.

[2021-07-16 03:09] justinvelluppillai commented on #16125
I've revisited this with @tsteur and it looks like chrome hasn't frozen UA strings yet. We could extract browser version from userAgentData fairly easily. It will require some work to normalise OS and browser information for matomo.

Mozilla has also updated their view on client hints to "harmful" https://github.com/mozilla/standards-positions/issues/552

We will revisit this later.

[2021-07-16 08:05] sgiehl commented on #17775
@tsteur this is quite easy to fix. The problem is that the `pivotBy` filter requires a `Report` class in order to determine the dimension. Will provide a simple PR to throw a exception in that case.

[2021-07-16 08:33] sgiehl commented on #17776
Easy as well. The filter in the method currently can't handle a Map of Datatable Maps. Will provide a quick fix.

[2021-07-16 09:38] SassNinja opened #17780 "JS tracker calls callback too early"
## Expected Behavior

I expect when I provide a callback to `trackEvent`, it's called AFTER the tracking is done meaning there's no pending request.

## Current Behavior

When I pass a callback to `trackEvent` and immediately redirect the user once it's called, the request to matomo is still pending and therefore never finished.

![matomo_callback_issue](https://user-images.githubusercontent.com/1

[2021-07-16 09:50] SassNinja commented on #17780
One addition (to prove it's a timing issue):
When I just wait a bit after the tracking (but before redirecting) it's working as expected, meaning no more pending matomo request.

[code]

[2021-07-16 10:07] sgiehl commented on #17780
@SassNinja  Maybe you need to disable the usage of `sendBeacon` in that case. This is used by default (if available), and as far as I know doesn't provide the possibility to execute a callback when finished. So we trigger the callback if `sendBeacon` returns true, which means the browser queued the request (and thus confirms the request will be sent before the unload event)

[2021-07-16 10:14] sgiehl commented on #17759
I tried to reproduce that, but wasn't able to. It is actually triggered in a task of Account2 plugin, which calls
[code]
Haven't yet figured out why there might occur a record holding `-1` as label, but it seems to be returned here: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/MultiSites/API.php#L237

[2021-07-16 10:42] RadekKosiada opened #17781 "Page Overlay Plugin trying display a page that blocks being embedded in an i-frame"
We use Page Overlay Plugin on the page that blocks being displayed in an i-frame within the Plugin and so the whole Plugin doesn't work. We can't see the page, and on the right side it says 'Loading..'.

We cannot adjust the settings of the page due to the policy again clickjacking.
Can we still use the Plugin, if the page cannot be displayed in the i-frame?

[2021-07-16 12:34] sgiehl commented on #17781
Hi @RadekKosiada. I guess that depends how you prevent the page from being displayed in an iframe.
Maybe you can find a workaround here: https://matomo.org/docs/page-overlay/#1-it-doesnt-work-at-all
For further help please ask such questions on our forum (https://forum.matomo.org) as we only handle bug reports and feature requests here.

[2021-07-16 12:34] #17781 closed, assigned to nobody

[2021-07-16 16:11] utrautmann commented on #15176
@tsteur Thank you. Unfortunately, it doesn't help. I patched the API.php but the sort order remains unsorted.

[2021-07-17 00:36] robinverstrepen opened #17782 "in PHP 8.0, when enabling MySQL SSL, got a HTTP 500"
## Expected Behavior

Working matomo interface

## Current Behavior

HTTP error 500

[code]

## Possible Solution

Comment line 323 in file /srv/matomo/libs/Zend/Db/Adapter/Mysqli.php

## Steps to Reproduce (for Bugs)

1. Use MySQL SSL config with MySQLi driver
[code]

## Your Environment

* Matomo Version: 4.3.1
* PHP Version: 8.0.8
* Server Operating System: CentOS 7
* Additionally installed plu

[2021-07-17 09:34] math-GH commented on #17766
I found the issue. Server-User and FTP-user had a miss match. After support from my web hoster it is solved now.

[2021-07-17 09:34] #17766 closed, assigned to nobody

[2021-07-17 11:39] math-GH opened #17784 "Install routine: "In case you are using an ad blocker, please ...""
Install routine first page:

![grafik](https://user-images.githubusercontent.com/1645099/126033841-6c475782-4610-49e0-a8af-762aeb615264.png)

Step 2:
![grafik](https://user-images.githubusercontent.com/1645099/126034076-3f07aa0c-42b7-4733-b314-54bb83b9b3ea.png)

## Expected Behavior
a better UI. Show the message at the top with a modern UI.

## Current Behavior
looks a little bit outdated

## Poss

[2021-07-17 12:42] math-GH opened #17785 "Install routine UI: improve text contrast"
Install routine: text color

![grafik](https://user-images.githubusercontent.com/1645099/126037095-b39e5f34-1b9c-4585-bc8d-99295b1439e2.png)
(checked with the development tool in Firefox)

## Expected Behavior
darker grey (better: black), that has a much better contrast

## Current Behavior
grey font color with low contrast.
font-color: #858585 (contrast ratio: 3.7)

## Possible Solution
font-colo

[2021-07-17 13:06] math-GH opened #17786 "Install routine: language changer line height improvements"
![grafik](https://user-images.githubusercontent.com/1645099/126037769-f5eb0732-56ba-4085-8e59-7f3f7e10ad47.png)

## Expected Behavior
smaller gap between line 1 and 2

## Current Behavior
big gap (line-height: 30px)

![grafik](https://user-images.githubusercontent.com/1645099/126037811-a5f267fd-fa18-4296-9206-33be019befc9.png)

## Possible Solution
[code]
![grafik](https://user-images.githubuserco

[2021-07-17 13:22] math-GH opened #17787 "Javascript console error when clicking Install routine: Download System Check button"
Install routine
Page 2

Button "Download System Check"

Does not work. JavaScript error.
![grafik](https://user-images.githubusercontent.com/1645099/126038323-dcbde0eb-c665-4fe1-be5f-402f01872659.png)

## Expected Behavior
download works without an JavaScript error

## Current Behavior
download does not work

## Your Environment
* Matomo Version: 4.3.1
* Browser: Firefox 90

[2021-07-17 13:41] Findus23 commented on #17787
I guess
https://github.com/matomo-org/matomo/blob/2b35b46a0988f8c3b6f848c59be8d7d918965a52/plugins/Morpheus/javascripts/piwikHelper.js#L32

is not included in the installation page

[2021-07-18 19:56] tsteur commented on #17787
👍  and/or it needs to be `piwikHelper` instead of `piwik.helper`

[2021-07-18 20:07] tsteur commented on #15176
Thanks for letting us know @utrautmann Looks like it also needs some other changes somewhere.

[2021-07-18 20:13] tsteur commented on #17780
@SassNinja as @sgiehl this is currently expected behaviour as when using sendBeacon the requests are sent in the background by the browser and we can't know when the request is finished. The request will generally still finish and a callback is in many cases not needed (or it is not needed to wait for the request to finish) in most cases.

I'll close this issue for now as there isn't really anythi

[2021-07-18 20:13] #17780 closed, assigned to nobody

[2021-07-18 20:17] diosmosis commented on #17782
Hi @robinverstrepen, sorry you're experiencing this. Can you apply https://github.com/matomo-org/matomo/pull/17788 and see if it fixes the issue for you?

[2021-07-18 20:20] diosmosis commented on #17759
@sgiehl if you add `'filter_limit'=>-1` to Account2 do you still get the same issue?

EDIT: I'm guessing it happens if there's more than 100 sites.

[2021-07-18 20:30] robinverstrepen commented on #17782
I've applied the fix and everything is working when enabling SSL. Thank you for your help.

[2021-07-18 20:37] diosmosis commented on #9400
Fixed in https://github.com/matomo-org/matomo/pull/17764

[2021-07-18 20:37] #9400 closed

[2021-07-18 20:38] #17775 closed, assigned to sgiehl

[2021-07-18 20:50] tsteur commented on #17759
If it's not easily reproducible we can also modify the milestone and remove "regression" label for now and wait until it happens again (if it does).

[2021-07-18 21:05] diosmosis commented on #17755
Fixes by 17757

[2021-07-18 21:05] diosmosis commented on #17755
Fixed by #17757

[2021-07-18 21:05] #17755 closed, assigned to ziegenberg

[2021-07-19 05:30] Starker3 opened #17791 "Add tooltip or help text to "Email Reports" page"
Currently when you create a new Email Report (Or for existing reports) you have the option to `Download` the report or the `Send report now`
However, what users may not always realise is that the Email Report will be sent using the both the period and dates selected in the Date Selector.

We should add either a small text box somewhere on the page or add a tooltip to the "Download" and "Send repor

[2021-07-19 07:24] sgiehl commented on #17786
@mathContao  Thanks for your report. If you have tested your possible solution, feel free to simply create a Pull Request to fix it.

[2021-07-19 07:56] #17782 closed, assigned to nobody

[2021-07-19 07:57] #17770 closed, assigned to diosmosis

[2021-07-19 11:10] Findus23 commented on #17791
related to https://github.com/matomo-org/matomo/issues/11367

[2021-07-19 13:04] sgiehl commented on #17759
@diosmosis I wasn't able to reproduce that locally. Even when creating more than 100 sites, the MultiSites API still returns a valid result.
The request is sent without a third parameter for `Request::processRequest`, so the current request object is used. Maybe it contained some specific parameter during that archiving run that caused the failure? But I'm not sure what that could be. Tried to sen

[2021-07-19 15:10] diosmosis commented on #17759
@sgiehl only other thing I can think of is filter_truncate which would add a summary row.

[2021-07-19 15:12] #17776 closed, assigned to sgiehl

[2021-07-19 15:32] ziegenberg opened #17794 "Add ability to duplicate Email Reports"
When creating a similar email report to an already existing one in Matomo, it would be a nice usability enhancement if you could just duplicate a report and modify it slightly afterwards.

## Summary

When creating and scheduling many reports or re-creating an existing report with slightly altered details, it is cumbersome and error-prone to have the old report open in one browser tab and create t

[2021-07-19 16:17] sgiehl commented on #17759
it seems to be `filter_truncate`. will check if it's easy to support that filter

[2021-07-19 18:00] #17759 closed, assigned to sgiehl

[2021-07-19 18:59] jbrule opened #17796 "Recent 4.3.1 Upgrade. Getting Date format must be: YYYY-MM-DD, or 'today' or 'yesterday' or any keyword supported by the strtotime function"
Upgraded from 3.13.6 -> 4.3.1

I recently upgraded to 4.3.1 and most things are working well. I am however getting the following error when querying monthly Time states for some sites. FYI. The the initial archive after upgrade is still running (via cron). Other sites works for this particular time frame. Any tips?

[code]
I see some NULL ```visitor_localtime``` entries in my ```log_visit``` table

[2021-07-19 19:03] ulope opened #17797 "core:archive fails with "This user has super user access." error response"
## Expected Behavior
Running `./console core:archive` to succeed without errors

## Current Behavior
`core:archive` fails with:
[code]

[code]

The matomo log also shows:
[code]

## Steps to Reproduce (for Bugs)
(Not sure if reproducible)
1. Install fresh matomo 4.3.1
2. Add one hit manually
3. Run `core:archive` once (worked successfully)
4. Run it again 2 days later, see error above

## Your Env

[2021-07-19 20:20] jbrule commented on #17796
This is in the logs
[code]

[2021-07-19 21:29] tsteur commented on #17797
Hey @ulope to try and reproduce this could you send us a copy of your system report see https://matomo.org/faq/troubleshooting/how-do-i-find-and-copy-the-system-check-in-matomo-on-premise/ ? The copied report should be anonymised automatically.

[2021-07-19 21:32] tsteur commented on #17794
Thanks for creating this feature request @ziegenberg 👍  thought we already have an issue for this but couldn't find a duplicate.

[2021-07-19 21:33] tsteur commented on #17791
@Starker3 @Findus23 closing this as a duplicate of https://github.com/matomo-org/matomo/issues/11367

[2021-07-19 21:33] #17791 closed, assigned to nobody

[2021-07-19 21:33] tsteur commented on #11367
In https://github.com/matomo-org/matomo/issues/17791 was suggested to show a tooltip or a footer message explaining this.

[2021-07-19 21:34] ulope commented on #17797
Sure, here you go:

<details>
<summary>Click to view System Check</summary>

### Mandatory checks

#### PHP version >= 7.2.5:
 ✔ 7.4.21

#### PDO extension:
 ✔

#### PDO\MYSQL extension:
 ✔

#### MYSQLI extension:
 ✔

#### Other required extensions:
 ✔ zlib ✔ SPL ✔ iconv ✔ json ✔ mbstring ✔ Reflection ✔ filter ✔ hash ✔ session

#### Required functions:
 ✔ debug_backtrace ✔ eval ✔ hash ✔ gzcompress

[2021-07-19 21:34] ziegenberg commented on #17794
Ich was looking for an duplicate, but didn't find any either.

It might be helpful to tag issues with their corresponding plugin name? Or a component name? Would make searching for them much easier.

[2021-07-19 21:39] tsteur commented on #17794
Good suggestion @ziegenberg 👍  was thinking the same a few times.

[2021-07-19 21:42] ziegenberg commented on #17794
Looking at your 1,8k open issues, it seems like it might be a project on its own for an initial triage. But I'm sure, it will pay off in the long run

[2021-07-20 11:38] #17441 closed, assigned to ziegenberg

[2021-07-20 14:25] ulope commented on #17797
Turns out it was a configuration issue.

We're using caddy server and I had configured a redirect from `/` to `/index.php` instead of a rewrite.
Changing that fixes the problem.

Sorry for the noise.

[2021-07-20 14:25] #17797 closed, assigned to nobody

[2021-07-20 15:41] jbrule opened #17799 "Getting Fatal Error while archiving after Matomo 4 Upgrade"
I am getting the error below while the archive task is running via cron. It looks like there are a log of archive invalidations so a lot of dates are running. My PHP memory limit is set to 2048MB which is pretty high. I can see in top that over time this archive job keeps consuming more and more memory until it fails with this message.

Version: 4.3.1
PHP: 7.2.24
RHEL7

[code]

[2021-07-20 17:52] diosmosis commented on #17799
Hi @jbrule, can you see what's in the `archive_invalidations` table? For example by running the following queries:

[code]

[2021-07-20 18:01] diosmosis commented on #17796
Hi @jbrule can you apply this PR: https://github.com/matomo-org/matomo/compare/17796-debugging?expand=1 and trigger the error again? It will hopefully provide some more details.

[2021-07-20 19:54] jbrule commented on #17799
```SELECT COUNT(*) FROM archive_invalidations;```
422275

```SELECT COUNT(*), COUNT(DISTINCT name) FROM archive_invalidations GROUP BY idsite, period, date1, date2;```
Returns
786 rows 1,1
210712 rows 2,2
17 rows 3,3
1 row 4,3
2 rows 5,3

[2021-07-20 20:10] diosmosis commented on #17799
@jbrule ok there are far too many rows in archive_invalidations. Can you do the following:

- post the contents of the system check here
- tell me how many segments you have in your instance that are set to be preprocessed
- tell me what version you upgraded from

Can you also run the following queries:

[code]
?

[2021-07-20 20:19] jbrule commented on #17799
post the contents of the system check here
![Matomo Diagnostics](https://user-images.githubusercontent.com/765798/126389636-59e3fc04-f415-4927-bfb4-536118237b0a.png)

    tell me how many segments you have in your instance that are set to be preprocessed
```SELECT COUNT(*) FROM piwik_segment WHERE `auto_archive` = 1``` Returns "1"
    tell me what version you upgraded from
3.13.6
Can you also run

[2021-07-20 20:21] jbrule commented on #17799
That system check was from a couple runs back of core:archive. It runs till it exhausts RAM (about 2 hours) then I start it again.

[2021-07-20 20:38] jbrule commented on #17796
[code]
![matomo-parse-label](https://user-images.githubusercontent.com/765798/126392191-2f145f35-16bc-4b98-aa28-d0ff47ff3e7d.png)

[2021-07-20 20:43] diosmosis commented on #17799
@jbrule ok, sorry the upgrade experience wasn't so great, we should definitely fix this since it's bound to occur for other users. Since you were upgrading from 3.x, you can just:

[code]

then run the command:

[code]

Where `<dateOfUpgrade>` is the date you started the upgrade in the format `2021-07-18`. Then running core:archive should work without issue.

[2021-07-20 20:46] diosmosis commented on #17796
@jbrule I'm not sure why the label is empty there, they should be predefined... I've updated the branch: https://github.com/matomo-org/matomo/compare/17796-debugging?expand=1 . Can you apply the changes then post a screenshot of the report that is created (preferably in the table view)?

[2021-07-20 21:00] jbrule commented on #17796
![matomo-time-table](https://user-images.githubusercontent.com/765798/126394853-06586602-2fb8-4c32-a300-8a0340588c44.png)

[2021-07-20 21:19] diosmosis commented on #17796
@jbrule looks like you've got a visit with no local time data... can you check the log_visit table for a visit where `visitor_localtime IS NULL AND idsite = ? AND visit_last_action_time >= ? AND visit_last_action_time < ?` substituting the idSite and start and end time for the period you're looking at? For example:

[code]

[2021-07-21 14:25] jbrule commented on #17796
```SELECT COUNT(*) FROM piwik_log_visit WHERE visitor_localtime IS NULL```
5886

[2021-07-21 17:02] diosmosis commented on #17796
@jbrule I've created a PR to handle the NULL values you're having: https://github.com/matomo-org/matomo/pull/17801 . But you may want to look into why there are NULL values there, as the PHP tracker code doesn't allow the column to be NULL.

[2021-07-21 18:35] jbrule commented on #17796
Looks like these happened around the time of upgrade. It's a pretty small number of the whole so I'm just going to purge them and invalidate the archive for the day.

[2021-07-21 18:41] jbrule commented on #17796
I neglected to disabled Redis Queue processing and some went through. I intended for everything to queue up in Redis until DB schema update was complete.

[2021-07-21 20:39] mikkeschiren commented on #17761
This could be a implementation issue, I think we can close this now.

[2021-07-21 20:40] tsteur commented on #17761
👍  thanks for letting us know @mikkeschiren

[2021-07-21 20:40] #17761 closed, assigned to nobody

[2021-07-21 20:43] tsteur commented on #17796
@jbrule does this mean the issue is resolved now?

[2021-07-21 22:59] jbrule commented on #17796
Yes

[2021-07-21 23:00] #17796 closed, assigned to nobody

[2021-07-21 23:00] tsteur commented on #17796
great, thanks for letting us know.

[2021-07-22 07:57] mikkeschiren opened #17804 ""All visits" sometimes shows no visits, but Segments do."
## Expected Behavior
When archiving data I would expect that "All visits" has data, when the segment for the same day has.

## Current Behavior
For some dates, we are getting 0 for All visits, but the segment for the same day has thousands of hits.

This started to happen recently, we have changed some settings in how the archiving works, and it worked for a couple of days, and suddenly, for some

[2021-07-22 16:47] diosmosis commented on #17804
@mikkeschiren can you post your system report? And can you provide the periods/segments that this issue involves? If you invalidate and rearchive the all visits archive for the site and period, do you see data?

There was an issue like this about a month or two ago that had a similar effect: https://github.com/matomo-org/matomo/pull/17547 but it was a very specific issue. Some similar mechanism mi

[2021-07-22 22:53] tsteur commented on #17002
only needs documenting

[2021-07-22 22:55] tsteur commented on #16904
Let's document this problem and the solution. Once done, let's close it as wontfix.

[2021-07-22 22:58] tsteur commented on #15924
This might be fixed meanwhile. Need to first reproduce it before looking into it.

[2021-07-22 23:05] tsteur commented on #15335
We need to preselect "all visits" when creating new report

[2021-07-22 23:11] tsteur commented on #15281
Will close this issue @dev-101 as it looks fixed in Matomo 4.3. If it's still an issue please comment with the steps to reproduce and we'll reopen.

[2021-07-22 23:11] #15281 closed

[2021-07-22 23:13] tsteur commented on #15235
Note: It is possible to do this already using [Custom Reports](https://plugins.matomo.org/CustomReports)

[2021-07-22 23:17] tsteur commented on #15099
Looks like it works for me. If someone is still experiencing this issue please let us know. Ideally with steps to reproduce or a link to our demo where this happens (https://demo.matomo.cloud)

[2021-07-22 23:17] #15099 closed

[2021-07-22 23:18] tsteur commented on #15036
We want to remove this part in that case  because there is only one option available anyway.
![image](https://user-images.githubusercontent.com/273120/126720544-6296e638-8d70-4168-8295-944f85ae18b4.png)

[2021-07-22 23:20] tsteur commented on #14986
Looks like this is fixed.

[2021-07-22 23:20] #14986 closed

[2021-07-22 23:33] tsteur commented on #16153
Logic is done in the premium features (eg funnels) but not in custom dimensions

[2021-07-22 23:40] tsteur commented on #10291
Before working on this need to clarify with @mattab how to solve this problem. Related also https://github.com/matomo-org/matomo/issues/6784 which may need similar solution.

[2021-07-22 23:40] tsteur commented on #6784
Before working on this need to clarify with @mattab how to solve this problem. Related also https://github.com/matomo-org/matomo/issues/10291 which may need similar solution.

[2021-07-22 23:43] tsteur commented on #6488
We are now showing a flattened report so it's no longer an issue

[2021-07-22 23:43] #6488 closed

[2021-07-23 01:12] tsteur commented on #14971
Moved this to an internal premium feature issue

[2021-07-23 01:12] #14971 closed

[2021-07-23 04:22] mattab opened #17807 "Page Performance reports don't show data (empty graph) when viewing performance for a flattened page URL"
Page Performance reports work well in the default "Pages" report's hierarchical view,
but as soon as the report is flattened (a very often used feature),
then Page performance reports don't work (empty graph).

## Expected Behavior

Graph with data eg:

![Screenshot from 2021-07-23 16-19-50](https://user-images.githubusercontent.com/466765/126736962-51f4b207-8d93-441c-9099-4e177cf954a1.png)

## Cu

[2021-07-24 16:55] thinkhuman commented on #16613
I'm using Matomo v4.3.1. I absolutely still get this error message constantly, and it renders most of the analytics unusable.
`Illegal length modifier specified 'f' in s[np]printf call`

[2021-07-24 17:11] Findus23 commented on #16613
@thinkhuman I would strongly recommend you to update your PHP version to newer version that doesn't contain this weird bug.

[2021-07-25 19:48] diosmosis commented on #17799
@jbrule is this issue ongoing or has it been resolved?

[2021-07-25 21:37] jbrule commented on #17799
It is resolved. Thank you

[2021-07-25 21:38] #17799 closed, assigned to nobody

[2021-07-26 02:46] mattab opened #17814 ""Keyword not defined" text not showing when viewing " Keywords (including not defined)" report flattened"
"Keyword not defined" text not showing when viewing " Keywords (including not defined)" report flattened

## Expected Behavior

Showing "Keyword not defined" as well as the search engine name, on each row

## Current Behavior

"Keyword not defined" text not showing

![Screenshot from 2021-07-26 14-45-34](https://user-images.githubusercontent.com/466765/126926091-f00542ae-e89b-47ab-bbc9-2c5014b5713

[2021-07-26 04:06] mattab opened #17815 "Improve UI of report info icon to show report generation time and help message"
Icon for "Report generated X min ago" displayed for "Today" is too small
## Expected Behavior

icon size consistent  with the ? icon next to it

## Current Behavior
icon smaller than the ? icon next to it, see screenshot:
![Screenshot from 2021-07-26 16-03-26](https://user-images.githubusercontent.com/466765/126931613-416db651-8aa9-4a4a-a92c-b482e4f9fac0.png)

## Steps to Reproduce (for Bugs)

* O

[2021-07-26 04:11] mattab commented on #14190
Added little mention in  https://matomo.org/docs/setup-auto-archiving/

[2021-07-26 08:14] mikkeschiren commented on #17804
This behavior has not hap again since I created this issue, maybe some things that were not in sync, I will close this for now, thanks for paying attention.

[2021-07-26 08:14] #17804 closed, assigned to nobody

[2021-07-26 10:06] pepl opened #17816 "Limiting ecommerce product reports to 10,000 to avoid memory issues with new INI config setting to customise"
We’ve migrated from GA to Matomo with end of May and are experiencing issues with the archiving of the “yearly” period for our two largest sites.

PHP has been configured to not apply memory limits. After processing daily, weekly and monthly periods, the archiving process starts with the yearly period and quickly - in a matter of seconds - eats up all the RAM of the processing host. In our case th

[2021-07-26 20:12] tsteur commented on #17815
It's also a bit odd how it's shown on the very right and how it's always shown. It's visible "a lot" and the only thing that is shown on the right making it a bit disturbing for something that's rarely needed (and also available through the question mark). Maybe we could remove that icon and replace the original help icon with an information icon? This might make it more clear there might not be j

[2021-07-26 22:59] diosmosis commented on #17816
Hi @pepl, the memory use comes from trying to load reports before aggregating them. Most reports have a limit to the number of rows but the product reports don't seem to have any (so your hunch is probably correct). Would you be able to check the individual month reports for the product reports (for example "Product SKU", "Product Name") and tell me how many total rows they have?

[2021-07-26 23:14] tsteur commented on #13204
Also we could be sending a `Cross-Origin-Opener-Policy` header. However, probably most of the browsers that support this header also apply noopener by default.

[2021-07-27 07:18] pepl commented on #17816
Hi @diosmosis, For the largest site and June as an example month it is 541,645 "Product SKU" rows. The "Product Name" aggregation for June is empty but in the overview I see "1,665,030 Purchased Products".

For May (about a week of data) it is 162,901 "Product Name" rows and 162,484 "Product SKU" rows.

[2021-07-27 07:29] larsen0815 opened #17819 "Add "AllowOverride" to faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible"
https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/

Like others I had the problem of this message not getting fixed by running "core:create-security-files". Turns out, the domain in Apache was not configured to "AllowOverride All" which is needed for .htaccess to work.

A note should be added here that users should check this.

btw: When I tried to po

[2021-07-27 07:53] Fluoo opened #17820 "import_logs.py : ValueError: can't have unbuffered text I/O"
Hello,

I have made a migration of my website to a new server. I also update matomo from 3.x to the last 4.3.1 .
Before the migration everything was fine, after migration and update  I have an error :
Traceback (most recent call last):
  File "/home/lesgrand/www/administration/matomo/misc/log-analytics/import_logs.py", line 2666, in <module>
    config = Configuration()
  File "/home/lesgrand/www/

[2021-07-27 10:14] cronventis commented on #14770
@mattab : This issue is still open, is there any intention to fix this?

[2021-07-27 10:53] patermatzka commented on #17589
same problem here...
running it on plesk, even followed the official install guide to the line...
I can change the webserver-config, but what should I add there?

[2021-07-27 12:02] mattab commented on #17815
Sounds good me to have only one icon. Maybe `?` is still better than `!` though? not sure...

Also could the tooltip be changed from  simply `Help` to be instead:

(the second line would only be shown when "today" is included in date range)

[2021-07-27 12:12] SassNinja commented on #17780
@sgiehl thanks for the hint!

I was a bit confused that the following didn't work
[code]

However calling the method `disableAlwaysUseSendBeacon` has worked so I'm happy

[2021-07-27 12:23] SassNinja commented on #17780
@tsteur thanks for the explanation!

yeah, seems my case is special due to the redirect immediately after the event is dispatched (what I cannot change)

oh I see, that looks better than my approach (which I did because `push(['alwaysUseSendBeacon', false])` didn't work)

[code]

[2021-07-27 13:00] rudyzeinoun commented on #12819
That is true. As a workaround to compare dates when using the API, I am using PHP's "gmmktime" and giving it the current time in my timezone. This is messy. Unix timestamps are always "UTC+0" as you said.

[2021-07-27 13:28] richardstrong opened #17821 "Reporting API - CSV malformed"
CSV export header row does not match data row. Data rows have 1 field more and some values clearly do not match the headings. E.g. percentage value for "Avg. Actions per New Visit" or minute & seconds value for "Returning Visits"

## Steps to Reproduce (for Bugs)
Example link: https://demo.matomo.cloud/index.php?date=previous12&expanded=1&filter_limit=100&format=CSV&format_metrics=1&idSite=1&langu

[2021-07-27 17:07] sgiehl commented on #17821
Hi @richardstrong. Thanks for creating this issue. This was already resolved with #17442 and should be included in the upcoming release

[2021-07-27 17:07] #17821 closed, assigned to nobody

[2021-07-27 17:31] thinkhuman commented on #16613
@Findus23 Thanks Lukas. I'd already tried that--running 7.4. No change in error messages. Bug still exists, as far as i can tell.

[2021-07-27 17:53] Findus23 commented on #16613
@thinkhuman
Where are you getting your PHP binaries from? Which linux distribution are you using?

Maybe the comments from https://stackoverflow.com/questions/66281360/error-illegal-length-modifier-specified-f-in-snpprintf-laravel and https://chat.stackoverflow.com/rooms/228965/discussion-between-muresan-andrei-and-gerardo-marroquin help you (that's one of the few places on the internet where I ca

[2021-07-27 17:59] thinkhuman commented on #16613
@Findus23 I'm running Matomo at my hosting provider--not hosted/onsite. Here's the diagnostics dump:

[code]

[2021-07-27 20:48] tsteur commented on #14770
@cronventis are you using the latest version of Matomo and also the latest version of the other plugins?

[2021-07-27 20:56] tsteur commented on #17819
Thanks for this @larsen0815 . Very appreciated. I've added this to the FAQ.

Regarding the WAF: Do you remember when you tried to post this? I couldn't find this request ID in the logs so far.

[2021-07-27 20:56] #17819 closed, assigned to tsteur

[2021-07-27 21:04] tsteur commented on #17815
It's not a `!` it's an `'i` which is more clear/intuitive than the help I would say. Sure tooltip could be changed too.

[2021-07-27 21:50] tsteur commented on #17471
@Starker3 closing this one for now as wontfix. If users click on the userId report in the reporting menu then it's easily visible that there is a problem with the userId tracking.

[2021-07-27 21:50] #17471 closed, assigned to nobody

[2021-07-27 21:57] tsteur commented on #17390
We can add a system check opcache but we won't add it for now for JIT as it takes too much time to performance test it etc.

When system check is executed on CLI then we don't expect opcache to be enabled as it's usually not recommended and won't really help with performace. Eg when archiving on the CLI most of the time will be spent in database and aggregating data in PHP.

[2021-07-27 22:07] tsteur commented on #17010
As part of this issue we remove (not replace) the metric average generation time

[2021-07-27 22:13] tsteur commented on #16604
We only need to mention this in the inline help of the related form field that slashes don't need to be escaped

[2021-07-27 22:16] tsteur commented on #16459
As part of this issue we quickly look at adding

[code]

If that helps we merge the PR otherwise we move this issue to the priority backlog.

[2021-07-27 22:26] tsteur commented on #15620
Let's change it for browsers, OS and countries for now and make the change later for others when they come up. We can also change any other obvious ones meaning we don't need to search for it and know that it needs to be changed there too.

This should be easily fixed by calling eg `$segment->setSuggestedValuesApi('UserCountry.get...');` on the segment instead of configuring a hard coded list. It

[2021-07-27 22:31] tsteur commented on #15597
The idea could be that we add the paq push call to the default generated tracking code instead of changing the default value in `matomo.js`.

This way it is a bit more likely that users will figure out why they have double visits etc.

And it's very quick to implement.

And we don't break as many installs as it would be mostly behaviour for new installs (unless someone uses the API to get the trac

[2021-07-27 22:40] tsteur commented on #13837
we'll use the same UI pattern as we use on the Measurable -> Tracking code page
![image](https://user-images.githubusercontent.com/273120/127236680-2930c739-381e-4725-8593-115452b56efa.png)

[2021-07-27 22:43] tsteur commented on #13204
For noopener we don't need to do any changes. Generally though, if we add `noreferrer` anyway, then we could also add `noopener` as well.

@Findus23 do we still need noreferrer in links considering we have https://github.com/matomo-org/matomo/pull/17382 ?

[2021-07-27 22:49] tsteur commented on #8425
@sgiehl closing this one as done. Let me know if that's not the case

[2021-07-27 22:49] #8425 closed

[2021-07-27 22:53] diosmosis commented on #17646
Finding the cause of the issue is proving to be rather difficult. It seems to be due to a single visitor that downloads PDF documents.

The quickest way to solve this would be to add segments for page performance dimensions. This would allow users to ignore values that are greater than a threshold, or find visits with abnormal values to figure out why they are like that. As it is now, it's extreme

[2021-07-27 23:18] diosmosis commented on #17816
Hi @pepl, this is definitely due to a bug. I've created a preliminary fix here: https://github.com/matomo-org/matomo/pull/17823 . Once it's reviewed, you could apply it then invalidate the month archives and run core:archive. They will be recomputed with the row limits so php won't run out of memory.

You may also want to set custom values that make sense for you in the new INI config settings:

*

[2021-07-28 00:07] tsteur opened #17824 "Advanced performance reports by dimension"
Similar to the goals by dimension report it could be great to eventually have reports like

* Page performance by country
* Page performance by browser
* Page performance by dimension
* Page performance by ...

This way you can better understand if only a particular set of users are having performance issues without needing to use heaps of segments.

[2021-07-28 00:08] tsteur commented on #17646
👍  We'll look further into it once the issue is scheduled. We'll probably wait first to see if other users are having a similar issue. Possible it's an issue with that Chrome version. For the segments we have an issue here: https://github.com/matomo-org/matomo/issues/10202

And also created https://github.com/matomo-org/matomo/issues/17824

[2021-07-28 04:39] tsteur commented on #17750
This particular query is actually coming from Cohorts. There is also the unique visitors and unique users query from core which is a slightly different query.

[2021-07-28 06:29] cronventis commented on #14770
Yes, and yes.

Matomo 4.3.1
Ldap: 4.3.0

[2021-07-28 07:23] larsen0815 commented on #17819
WAF: Right before I created this issue. Tried it twice within ~2 minutes.

[2021-07-28 08:51] sgiehl commented on #16613
@thinkhuman Seems you are using Matomo for Wordpress. In this case it might be some incompatibility with another wordpress plugin maybe. Might be good to create a new issue here: https://github.com/matomo-org/matomo-for-wordpress/issues

[2021-07-28 08:55] sgiehl commented on #17814
Guess the filter to convert the empty keyword into `Keyword not defined` is applied after the table was flattened. Maybe changing the order of the filters would be enough to fix this

[2021-07-28 10:16] pepl commented on #17816
I've tried the patch and limited the new config settings values down to 10. However, it looks like the memory exhaustion occurs even before.

The following stack trace looks like this, including some debug output I've added along this patch:

[code]

And here the output including stracktrace:

[code]

No debug statements from `plugins/Goals/Archiver.php` seen (also tried with `echo` instead of log

[2021-07-28 11:31] fvdm commented on #17010
You are going to delete the historic page generation data?

[2021-07-28 12:42] issuesreporting commented on #17707
Segment cannot be added because no sql segment is set (for dimension Custom Variable name, ID = CustomVariables.CustomVariableName)

[2021-07-28 12:45] sgiehl commented on #17707
@issuesreporting was the custom variables plugin maybe disabled?

[2021-07-28 15:00] Findus23 opened #17829 "Testcookie causes warning in browser console"
related to https://github.com/matomo-org/matomo/pull/17744
reported in https://forum.matomo.org/t/javascript-error-trying-to-set-test-cookie-pk-testcookie-domain/42655

Since Matomo 4.4.0, setting the testcookie seems to cause this error to be logged in the browser console:

[2021-07-28 20:31] tsteur commented on #17819
Thanks for this, found it now 👍

[2021-07-28 20:34] diosmosis commented on #17816
@pepl Can you tell me if you're using the core:archive command? If you day periods and process them does the error still occur? And this is for the All Visits segment correct?

[2021-07-29 00:25] tsteur commented on #17750
Closing this issue as a wontfix. If there wasn't the Cohorts plugin, then we would apply https://github.com/matomo-org/matomo/pull/17827 . I've been debugging and when Cohorts is installed, then the same created temporary segment table will be reused thus likely saving us time by creating this temporary table (as the segment query can be very slow, not meaning the distinct query).

If there wasn't

[2021-07-29 00:25] #17750 closed, assigned to nobody

[2021-07-29 00:33] diosmosis commented on #17750
@tsteur if it helps there could be a setting to disable the logic set via DI, would that work?

[2021-07-29 02:13] tsteur commented on #14770
AFAIK this should have been fixed by https://github.com/matomo-org/matomo/pull/15945 and I just tried to reproduce this but couldn't. Is this still the same error that is happening? What's the URL when this error happens?

[2021-07-29 06:14] cronventis commented on #14770
Hmmmm... Just now I tried it again to get the url and error message....... But its working now? wt*?

[2021-07-29 08:01] JE4GLE opened #17833 "PageViews with same PageViewId get counted as multiple PageViews"
I set the PageViewId in the JavaScript tracker using the new feature in this pull request: https://github.com/matomo-org/matomo/pull/17655
This is discussed in the follow issue: https://github.com/matomo-org/matomo/issues/16942

When I for example hardcode the PageViewId, I get multiple PageViews. Even if they have the same PageViewId!

## Expected Behavior
When two or multiple tracked PageViews h

[2021-07-29 08:14] pepl commented on #17816
@diosmosis Yes, I've used the core:archive command and just executed climulti:request directly to get the specific debug output. That's what I've done to get there:

1. Applied the patch (and added a bit more debugging output as quoted above)
2. Invalidated yearly archive via (first) ```/usr/bin/php /var/www/matomo/console core:invalidate-report-data --sites=3 --dates=2021-01-01 --periods=year --p

[2021-07-29 09:31] bluikko opened #17834 "Allow more than 10 results per page in user edit permissions page"
When editing user's permissions it only lists 10 different sites per page. This is quite inconvenient. It would be much more convenient if the pagination was configurable.

Furthermore it might be a good idea to have some kind of "universal" pagination where any pagination was configurable. This would seem like a lot of work but would be a permanent solution for the numerous pagination issues open

[2021-07-29 11:15] sgiehl commented on #14770
@cronventis Thanks for the confirmation that it's working now. I'm closing this one then. If you experience this or another issue again, feel free to create a new issue here.

[2021-07-29 11:15] #14770 closed

[2021-07-29 15:13] diosmosis commented on #17816
@pepl You'll need to invalidate the month or lower archives, not the year archive. The year archive will just try to add up the month archives. And since the current report in the month archives has so many rows, it will run out of memory when trying to load them. So you have to re-archive at least each month so the limit will be applied to them. Then when archiving the year period, the system won

[2021-07-29 19:49] justinvelluppillai commented on #17834
Hi @bluikko, thanks for taking the time to create this issue.

It would be a nice improvement to add options for 25, 50 results per page on the user permissions page and maybe tighten up the whitespace to make the rows a bit more compact.

[2021-07-29 21:00] meibegger commented on #17829
I just updated to 4.4.0 and get a similar Error:

In our container cookies are disabled, but when i use a private/icognito browser window i get
`There was an error setting cookie `_pk_id.X.XXXX`. Please check domain and path.`

[2021-07-29 21:05] Findus23 opened #17838 "More warnings about missing shell_exec() since Matomo 4.4.0"
reported in
https://forum.matomo.org/t/warning-shell-exec-has-been-disabled-for-security-reasons-matomo-4-4-0/42661 (two users)
and
https://forum.matomo.org/t/error-after-update-to-v4-4-0/42679

It seems like this is maybe caused by https://github.com/matomo-org/matomo/pull/17576

[2021-07-29 22:36] tsteur commented on #17838
It be good to add a `function_exists('shell_exec')` before these calls 👍  and also make sure warnings are suppressed using `@shell_exec` 👍

[2021-07-29 22:39] tsteur commented on #17833
@JE4GLE from our side this is currently expected behaviour. The same page view ID can be tracked multiple times currently. Defining the pageview ID was mostly meant for being also able to track performance client side while you track the page view server side.

In your tracking code you probably will want to remove "trackPageView" call and replace it by `enableHeartBeatTimer`. This should probably

[2021-07-29 23:41] #17829 closed, assigned to sgiehl

[2021-07-30 02:40] #17838 closed, assigned to diosmosis

[2021-07-30 08:37] maxbraeutigam opened #17843 "Overlay not loading since Matomo 4.4.0 upgrade: error setting cookie `_pk_id.1.2f7c`"
## Expected Behavior
Overlay with analytics data should load and show number of clicks on links etc.

## Current Behavior
Left panel and external site show up, left panel only shows "loading…" indicator and no overlay is produced.

## Possible Reason
The only error visible on the console is

`There was an error setting cookie `_pk_id.1.2f7c`. Please check domain and path. container_rUey5fiC.js:56:

[2021-07-30 09:17] sgiehl commented on #17843
Hi @maxbraeutigam
Thanks for creating this issue. The logged error should actually be unrelated to the overlay. Nevertheless it should be fixed with #17830 and will be included in the 4.4.1, which we plan to release early next week.
If it still doesn't work when that error is gone, we might need to investigate that further.

[2021-07-30 09:23] justinvelluppillai commented on #17843
#17830 will remove the console error setting the cookie but actually #17842 is the fix for the overlay issue, which will be part of the 4.4.1 release early next week.

[2021-07-30 09:24] maxbraeutigam commented on #17843
Hi @sgiehl, thanks for the quick answer. Yeah, let’s see. I will close the bug, if it’s solved.
Cheers, Max

[2021-07-30 10:34] nerdoc opened #17844 "500 error when loading js asset"
Using Matomo version 4.3.1

I wanted to update Matomo, but after the klick on te update link and login, the Dashboard stays empty.

## Expected Behavior
Matomo should load normally and load widgets - or update.

## Current Behavior
After login, Matomo shows an empty page:
![grafik](https://user-images.githubusercontent.com/2955584/127638845-20dcde1c-b006-4284-ad7a-a4b836f6d1f5.png)
In the browser

[2021-07-30 10:39] nerdoc commented on #17844
FYI: Upgrade went well after this workaround.

[2021-07-30 15:12] mtoensing commented on #17829
Same here. I see the same error like @meibegger

[2021-07-30 15:14] howdytom commented on #17829
This error message shows up on all Matomo installations running v4.4

[2021-07-30 17:34] issuesreporting commented on #17707
It was enabled. Disabling pluging CustomVariables solved problem. Is this the expected behavior?

[2021-07-30 17:34] pepl commented on #17816
@diosmosis It looked good for May and June after I've invalidated and re-archived on a per *day* basis first. Will continue with July followed by the re-archiving of the yearly period over the week-end

[2021-07-31 11:15] pepl commented on #17816
Unfortunately it still fails at the yearly aggregation even after re-archiving days and months before. Anything wrong with the way invalidation and re-archiving is done there?

[code]

[2021-07-31 14:25] diosmosis commented on #17816
@pepl did you invalidate for every month in the year? Assuming you have data for those months, they could have > 100,000 rows as well. For the data you did invalidate and rearchive, can you check in the UI for those days/weeks/months and see if the product reports have the correct, limited, number of rows?

These are the commands you would need to run to re-process the relevant data:

[code]

Can

[2021-07-31 18:44] pepl commented on #17816
Sure:

[./console core:invalidate-report-data --sites=3 --dates=2021-01-01,2021-08-01 --periods=month -vvv > /tmp/invalidate.log 2>&1](https://gist.github.com/pepl/b7b60b75d86c8b51008150f1210fb937)

[./console core:archive --url=http://localhost:10623 --force-idsites=3 -vvv > /tmp/rearchive.log 2>&1](https://gist.github.com/pepl/fa61b309786f2d10022217a63aaa43fc)

[2021-07-31 21:08] diosmosis commented on #17816
@pepl what version of matomo are you using and can you tell me what the row counts for the month product reports between 2021-01-01 and 2021-08-01 are?

[2021-07-31 21:16] pepl commented on #17816
How do I get those row counts

dizzy ***@***.***> schrieb am Sa., 31. Juli 2021, 23:09:

[2021-07-31 22:01] Findus23 commented on #17829
@mtoensing, @howdytom This has been fixed with #17830, which will be released in 4.4.1. If you want to test the fix, you can already install the release candidate for it.

[2021-08-01 15:37] diosmosis commented on #17816
@pepl I meant the counts in the UI:
![image](https://user-images.githubusercontent.com/125140/127776740-f2b98ed7-5d1e-4672-8b56-1ae4d8acb1c9.png)

At the bottom there's `1-10 of 13`. `13` is the amount of rows in that report. The change in the linked pull request should limit those counts the values specified in the configuration, which will allow the reports to be loaded in memory when aggregatin

[2021-08-01 20:33] tsteur commented on #17844
`angular-mocks` should usually have a few files too but they might not be used. It sounds like during the last update something went wrong somehow or maybe someone deleted some files on the server by accident? Someone deleting files could be the case if it was working initially after the previous update and then now stopped working.

Great that it worked after this update. I'll close this error fo

[2021-08-01 20:33] #17844 closed, assigned to nobody

[2021-08-01 21:18] diosmosis commented on #17707
@issuesreporting are there any `custom_var_v*`, `custom_var_k*` columns in your log_visit or log_link_visit_action tables? I think this could happen if you have CustomVariables activated, but have no custom variable columns in your database.

[2021-08-01 23:47] geekdenz commented on #17640
I think the token_auth should be appended to all URLs in Widgets that have it in the link or iframe widget. I think it should not create a new session as this could be confusing. If it starts a session, the view user would be logged in and potentially logged out of another account the person is using or be logged in when they were not.

We could use the `force_api_session` URL parameter to only al

[2021-08-02 00:47] tsteur commented on #17640
@geekdenz I'm not entirely sure but I think there are three issues:

## issue 1

When you embed the widget eg like this:

then you click on overlay then the URL includes the force_api_session URL parameter which it shouldn't see below (it's not really a problem but it shouldn't contain this parameter in this case when it's not set in the original URL)

There is a method `piwik.broadcast.isWidgetiz

[2021-08-02 03:56] geekdenz commented on #17640
Thanks @tsteur . It does.

I found this setting:

[code]

here:
https://github.com/matomo-org/matomo/blob/a35070be5146539999fdd02d5323f466d314192b/core/View.php#L458-L462

Should this be required for this to work?

I also found it in the Overlay code here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/Overlay/javascripts/Overlay_Helper.js#L31-L32

Other

[2021-08-02 03:58] geekdenz commented on #17640
Sorry, no adding the module parameter probably does not work as it is the Overlay module already.

[2021-08-02 04:00] geekdenz commented on #17640
Maybe we could just open it in the current window/tab if it is a widget? Would that make sense from a user's perspective?

[2021-08-02 04:06] tsteur commented on #17640
While testing I changed the `target` to `test` instead of `_blank` then it was a bit easier to debug as you could then open the browser developer tools and see what is going on. Not sure if you meant that? I simply changed it for the "row action" element or maybe it works also to change the target here: https://github.com/matomo-org/matomo/blob/4.4.1/plugins/Overlay/javascripts/rowaction.js#L64

`

[2021-08-02 04:34] tsteur commented on #14619
For performance it might be actually quite good to change the isolation mode during tracking to `read committed`. This is also the default for most other RDBS and it should faster since less versions need to be maintained etc.

It be interesting to try this as it's quick to implement (we already have a way to set this for aurora using the `aurora_readonly_read_committed` ini setting) but the more

[2021-08-02 05:03] geekdenz commented on #17640
@tsteur Please consider checking out my branch above. I have not created a PR yet, as there are no unit tests and I have not done extensive testing. You could check it out though to see if we're on the right track.

[2021-08-02 06:51] nerdoc commented on #17844
No, noone changed anything besides me in this Server, and i wasn't logged in since last update. So must:be been an error during update. Can't give more info as it already is done... I'll reopen if after next update sth. similar happens.

[2021-08-02 07:02] pepl commented on #17816
It's the default of 10 products per row and here's the row-counts:

Jan	2356
Feb	0
Mar	2432
Apr	9
May 258236
Jun	2687
Jul	2992

We went live with Matomo May 24th. Looks like something went wrong for those last days of May?

[2021-08-02 07:04] tsteur commented on #14619
Overall it be also worth considering using read committed instead of repeatable read. Meaning for every query, whether it's archiving or something else.

[2021-08-02 07:21] valerio-bozzolan commented on #14190
Note that `POST` has nothing to do with security. The reference should be updated to fix this misleading concept. The `POST` is just the right way to update things, like `PUT`. It does not add any underlying security measure, unless the user is so chicken that they share the `GET` URL with secrets in query string with someone at random.

Further notes:

https://developer.mozilla.org/en-US/docs/Glo

[2021-08-02 09:56] #15335 closed

[2021-08-02 12:55] rr-it opened #17847 "Performance metrics reports incorrect times due to single exceptional high value"
## Expected Behavior

Performance reports should use relevant time metrics only. Single outlier and exceptions should not be included in the statistics.

## Current Behavior

Single outliers counting like 4 hours instead of 0.01 seconds totally screw up the metrics.

---

![page-performance-metrics](https://user-images.githubusercontent.com/29690343/127863229-7ef17d7f-8099-49e8-bdfb-dac97555175c.p

[2021-08-02 13:15] heurteph-ei commented on #17747
Hi @diosmosis ,
Thanks for your reply (sorry I was in vacation).
I've asked about the configuration to the LAMP server admin:
[code]
Regarding the used language in Matomo we use French (from France).
So I think the problem could come from the missing of fr_FR, isn't it?

[2021-08-02 13:45] sgiehl commented on #17747
Hi @heurteph-ei,
This might be a rendering problem with the font I guess. For french the number formatter is using a small non breakable space to separate thousands.
Using the unicode font would fix that, but it's [not available by default](https://matomo.org/faq/how-to-install/faq_142/) and actually currently not used for [all languages](https://github.com/matomo-org/matomo/blob/e3e913252329f9e26

[2021-08-02 16:02] diosmosis commented on #17816
@pepl yes, that looks strange, do that many different products exist in your ecommerce site? I suppose it's conceivable. It might help to explore the data in May and see if it's only that large for a single day or week or more, to get more context.

Can you also provide the current config for:
[code]
in your config.ini.php?

[2021-08-02 19:49] justinvelluppillai commented on #14190
@valerio-bozzolan it does at least have the security impact of not leaving token_auth in server logs I guess.

[2021-08-02 22:07] tsteur commented on #17847
Thanks for the suggestion 👍  Only looking at 99th or 99.5 or 99.9 percentile should be quite helpful there indeed

[2021-08-03 01:48] tsteur commented on #17640
@geekdenz generally I think only a few changes in the Overlay plugin should be needed. All the other changes can be likely reverted. I'll also leave a comment in the code

[2021-08-03 01:49] tsteur commented on #17640
actually be good to create a PR already so I can leave comments. You can then mark it as a "draft". It will then also run the overlay UI tests etc.

[2021-08-03 01:54] maIkeda opened #17850 "When I Clicked 'From Internal Pages' link, I found an Error 'There's no data for http:​/​/​xxxxxxx'."
I found an error when doing the following.
Is this a bug?

## Steps to Reproduce (for Bugs)
 1. Behaviour > Page titles
 2. Select 'PAGE TITLE' and Click 'Open Trasitions'
 3. Click 'From Internal Pages' link or 'To Internal Pages' link
 4. Error 'There's no data for http:​/​/​xxxxxxx'

## Your Environment
* Matomo Version: 4.3.1
* PHP Version: 7.4
* Server Operating System: CentOS7

[2021-08-03 05:47] tenacioustechie commented on #14192
I'm hitting this issue right now with Matomo behind AWS CloudFront.
I've been through all the documentation I can find to resolve the issue.
I am using the docker container version of Matomo on kubernetes (which is working quite well until now).
The installation is working fine bypassing CloudFront.

When I print out headers in a temporary PHP file, I can see various headers

[code]

I dont see th

[2021-08-03 07:48] heurteph-ei opened #17853 "Clicking through the following pages in the transition overlay for page titles does not work"
## Steps to Reproduce / Behavior
1. **Behaviour** > **Page titles**
1. Hover a PAGE TITLE then click on the Transitions icon
1. Click on an Internal Pages Link (**From** or **To**)
1. There’s no data whereas it should have some...

(screenshot of demo.matomo.cloud)
![image](https://user-images.githubusercontent.com/79993552/127976684-18e6d02b-21bd-454b-adbb-48df7baaf0ec.png)

(screenshot of my own

[2021-08-03 08:15] sgiehl commented on #17850
Hi @maIkeda. I guess #17853 duplicates your report. But as the other issue has a more detailed description, I'll close this one

[2021-08-03 08:15] #17850 closed, assigned to nobody

[2021-08-03 08:28] pepl commented on #17816
It looks like we have faulty Goals-data for the days 2021-05-25 to 2021-05-29 in our database which amount to a significant data size as seen below in the code.

As the blob entries themselves are comparatively hard to dissect, I was thinking about just getting rid of the records in question (`like 'Goals%'`) for this site and date range. That should leave a data gap but still work, right?

Regard

[2021-08-03 08:36] sgiehl commented on #17853
Hi @heurteph-ei ,

Thanks for creating this issue. I'm able to confirm, that something doesn't work with transitions for page titles. Even on demo, this doesn't work correctly. When clicking through the pages in the transition overlay only the title is updated, but the numbers seem to stay the same. Also the title has a `http://` prefix, which doesn't make sense for page titles. Will check if that

[2021-08-03 08:40] sgiehl commented on #17853
@heurteph-ei I created https://github.com/matomo-org/matomo/pull/17854, which should fix the issue. If you are able to do that feel free to apply the changes on your instance and check if it fixes the issue for you as well.

[2021-08-03 20:13] #17853 closed, assigned to nobody

[2021-08-03 23:25] diosmosis commented on #17816
@pepl I guess this means that the limiting code introduced isn't having an effect for some reason... Would you be able to apply this change (which has a couple log statements): https://github.com/matomo-org/matomo/compare/17816-debug?expand=1#diff-783509f06c0033f400318631fbe69e779f8be86572982bcd4e643303a98006bdR298-R318 ? Then invalidate the days in the month, archive, and check the logs?

Actuall

[2021-08-04 02:34] tsteur opened #17856 "[database_tests] section no longer generated when executing php tests"
to reproduce remove the section `[database_tests]` from your local tests. It will then result in a database access exception.

That's because in https://github.com/matomo-org/matomo/blob/4.4.1/tests/PHPUnit/bootstrap.php#L126 it uses a mock config which has "allowSave = false".

It must have regressed at some point but not sure where.

The goals are:

* [ ] Not throw an exception when `database_te

[2021-08-04 08:05] sgiehl commented on #17856
Not sure what the expected behavior should be. When automatically storing the config it might have the risk that it's the same as the normal db config. There is no need to define a table prefix when installing Matomo, so tests could overwrite the normal database.

We could maybe have some new command like `.\console tests:setup`, that ask for various parameters and adjusts the config accordingly.

[2021-08-04 08:34] ThorbenOermann opened #17858 "Error when archiving since update to 4.4.1"
## Expected Behavior
The hourly archive process should finish without any error.

## Current Behavior
Since upgrading matomo from 4.3.1 to 4.4.1 the archive process throws exceptions every hour. Data does not get archived.
The error message is the following:
[code]

## Context
I updated our matomo installation via the browser. The update finished successfully. Matomo is running and states that ver

[2021-08-04 08:39] sgiehl commented on #17858
Hi @ThorbenOermann
The error messages says that the code base has not been updated, or at least the file `core/Version.php` still contains the old version. If that is not the case, maybe you have some kind of PHP cache running, that still contains the old content maybe.
Or are you running a multi server setup and maybe forgot to update the code base on one of the servers?

[2021-08-04 08:51] heurteph-ei opened #17859 "Add .md files in the .htaccess file"
## Summary
Some user ask:
[code]
I suggest to add *.md files or at least the `/CHANGELOG.md` file in the .htaccess file in order to increase (very little) the security...

## Your Environment
Ticket created from the forum: https://forum.matomo.org/t/why-does-matomo-run-a-file-integrity-check-on-changelog-md/42725

[2021-08-04 08:56] howdytom commented on #17859
@heurteph-ei Thanks for picking up my question.

[2021-08-04 09:10] sgiehl commented on #17859
Hi there. Thanks for your suggestion. Guess in general access to that file is not needed. So if possible you could simply restrict that server side. Matomo actually doesn't need that file to run, but afaik all files included in the release are included in the File Integrity check.

[2021-08-04 09:11] ThorbenOermann commented on #17858
Hi @sgiehl
Thank you for the quick reply. The file `core/Version.php` contains the correct version number and we are only running one server. But we migrated to another server not long ago and forgot to transfer the cronjob 🤦‍♂️
Therefore the archive process was still running on the old server (with matomo 4.3.1) installed.

[2021-08-04 09:11] #17858 closed, assigned to nobody

[2021-08-04 10:04] JE4GLE commented on #17833
I will try removing trackPageView to track the performance, thank you! Does this also track plugin information?

[2021-08-04 10:08] howdytom commented on #17859
Thanks. For now I am Redirecting requests using.

`RedirectMatch 404 \.md$`

[2021-08-04 12:36] heurteph-ei commented on #5372
Other dimension that can use the _less/more than (or equal)_ operators:
 - device screen width / height (see https://forum.matomo.org/t/how-do-i-create-a-segment-to-check-for-screen-resolution/42740)

[2021-08-04 14:18] heurteph-ei commented on #16942
This seems to have been released in v4.4.0.
So the ticket can be closed, can't it?

[2021-08-04 15:23] pepl commented on #17816
@diosmosis I've applied the patch(es) and re-ran invalidation and re-archiving using

[code]
and
[code]
respectively (second one after first one failed).

Before that, I've tried with the new default of 10k for `datatable_archiving_maximum_rows_products` before moving that down to 100.

With all attempts it looks like the new code in ```Goals/Archiver.php``` is not hit (or the respective log messa

[2021-08-04 17:03] diosmosis commented on #17816
@pepl sorry this would be in the tmp/logs/matomo.log file, which you can setup via https://matomo.org/faq/troubleshooting/faq_115/. If you still don't see it there, would you be able to add a log to the start of the `Goals\Archiver::aggregateDayReport()` and `Goals\Archiver::aggregateMultipleReports()` methods as a sanity check to see the logs get output?

[2021-08-04 18:14] pepl commented on #17816
Logging worked! ```datatable_archiving_maximum_rows_products``` still configured with 100 on that box. Command was ```./console core:archive --url=http://localhost:10623 --force-idsites=3 -vvv``` after invalidating like above (no Plugin restriction)

matomo.log: https://gist.github.com/pepl/9e42b29ea1ce751a4ae0a519423413ae

[2021-08-04 18:21] diosmosis commented on #17816
@pepl ok, I see where the problem is. There are still reports for segments that have the high row counts as well. The easiest way to deal with this would be to truncate the archive tables (numeric + blob) for may, then invalidate every day again and run `core:archive`. Can you try this?

[2021-08-04 20:34] pepl commented on #17816
@diosmosis That worked! Removed the buggy data via

[code]
and re-archiving went through fine afterwards. Thanks!

[code]

[2021-08-04 20:55] diosmosis commented on #17816
Great! I'll close this once the other issue is dealt with.

[2021-08-04 20:59] #17816 closed, assigned to nobody

[2021-08-04 21:01] tsteur commented on #16942
👍

[2021-08-04 21:01] #16942 closed, assigned to nobody

[2021-08-04 21:05] tsteur commented on #17859
refs https://github.com/matomo-org/matomo-package/pull/126#issuecomment-807284191

Generally, if someone doesn't want such files accessible you can indeed redirect them or block access to it.

[2021-08-04 21:11] tsteur commented on #17833
@JE4GLE I believe it doesn't track plugin information as this data is currently only tracked on the first tracking request within a visit which would be likely your server side "track pageview"

[2021-08-05 09:39] mamorg79 commented on #17829
Hi there,

I updated to release 4.4.1 when it was first available. But this issue is still there. So what would you recommend to do?
Could you reopen this?

[2021-08-05 09:46] sgiehl commented on #17829
@mamorg79 Is it exact that warning? Are you maybe using the tag manager? If so maybe you need to release a new container version. Otherwise did you clear the browser cache to ensure it's not a caching issue?

[2021-08-05 10:32] mamorg79 commented on #17829
Sorry for the inconvenience, some of my developers published an old script and there was an mistake placed in it.

[2021-08-05 18:37] mkindred commented on #17603
Apologies for dropping out for a bit. Work and life got busy.

I have updated to 4.4.1, and I've applied the patch from https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives?expand=1

There is no change. I still have millions of duplicate rows, and when I run `core:purge-old-archive-data
all`, I get 118 warnings about the GROUP_CONCAT issue during purging of invalidated ar

[2021-08-05 19:06] diosmosis commented on #17603
@mkindred did the amount of duplicate rows lower after running the command?

EDIT: also what exact warnings do you see?

[2021-08-05 19:19] mkindred commented on #17603
No, the duplicate rows seem to have remained the same:

[code]

The errors during `/usr/local/bin/php /var/www/html/public/console core:purge-old-archive-data all;` are:

[code]

[2021-08-05 20:01] diosmosis commented on #17603
@mkindred on this line: https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives?expand=1#diff-732c8b0c81b3c11bec111dfb48dbb289e3b2232428d012dd94cad00634c35d61R119 can you add:

[code]

Then run the purge and see what shows up?

[2021-08-05 20:33] mkindred commented on #17603
Attached is the output of the purge command after adding that line.

[piwik_purge_2108052011.log](https://github.com/matomo-org/matomo/files/6941533/piwik_purge_2108052011.log)

[2021-08-05 20:38] diosmosis commented on #17603
@mkindred ok, that's very confusing. Would you be able to add another log here: https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives?expand=1#diff-732c8b0c81b3c11bec111dfb48dbb289e3b2232428d012dd94cad00634c35d61L83

[code]

and run the command again?

[2021-08-05 20:39] mkindred commented on #17603
It takes 30 minutes to run the purge all. Should I add a parameter to narrow that down to a timeframe?

ETA: I am going to run `/usr/local/bin/php /var/www/html/public/console core:purge-old-archive-data 2020-01-01`

[2021-08-05 20:50] mkindred commented on #17603
Output of `/usr/local/bin/php /var/www/html/public/console core:purge-old-archive-data 2020-01-01`:

[piwik_purge_2108052043.log](https://github.com/matomo-org/matomo/files/6941619/piwik_purge_2108052043.log)

[2021-08-05 21:32] diosmosis commented on #17603
@mkindred Ok, that provides some context. Can you run the following queries?

[code]

I've also updated the branch with another change: https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives#diff-732c8b0c81b3c11bec111dfb48dbb289e3b2232428d012dd94cad00634c35d61R105-R112 . Can you make this change and run the purge again on a single month?

[2021-08-06 02:06] tsteur commented on #13374
When `assume_secure_protocol=1` is configured, then this system check should not complain.

[2021-08-06 10:39] heurteph-ei commented on #17815
I think that if the generation time is "hidden" in the information/help icon, users won't see it easily (they will forget the generation time display feature)
Why not always display the generation time for today graphs?

[2021-08-06 10:52] heurteph-ei commented on #17847
:+1:  But this kind of data cleaning should be enablable / disablable...

[2021-08-06 10:53] futuravis commented on #14375
I am facing issue with loading the motoma.js file. its working fine in angular web app. not in the ios ionic app.

[2021-08-06 15:21] bluepuma77 opened #17862 "Wrong chown recommendation during upgrade"
I am running Matomo in a Docker container, I just upgraded from 4.3.1 to 4.4.1.

During upgrade in the browser Matomo told me to run the CLI command
[code]
to migrate the database. I did within the container and at the end it showed me

[code]
This was just **wrong**, after the command Matomo didn't work anymore.

Instead it needs to be
[code]
Not sure what the logic for the recommendation and the

[2021-08-06 15:35] sgiehl commented on #17862
@bluepuma77  As the message points out. It checks if the files are owned by the user executing the update. In your case that was the root user, but the files were owned by another user/group. In general it might be good to execute the update with the user the files are owned by I guess.

[2021-08-06 16:07] mkindred commented on #17603
@diosmosis I reverted back to 4.4.1 and applied https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives.patch

sql queries: [sql_query_output.txt](https://github.com/matomo-org/matomo/files/6946663/sql_query_output.txt)

Purge log `/usr/local/bin/php /var/www/html/public/console core:purge-old-archive-data 2020-01-01`: [piwik_purge_2108061553.log](https://github.com/matomo-o

[2021-08-06 17:42] diosmosis commented on #17603
@mkindred From the data I think you're being affected by the after effects of a couple bugs fixed in 4.3.

Can you answer these questions:
1. In the past were there many edits to a Funnel entity?
2. Do you still have log data for data from 2020-01-01 onwards?

[2021-08-06 17:53] mkindred commented on #17603
I can't recall ever using funnels, except to test them out when I first installed Piwik.

The issues (unending archive processes and growing archive tables) began shortly after I created a couple custom reports (one of which involved goals, if memory serves) and then subsequently invalidated reports for a timeframe of 6 months (approx 10-2020 through 04-2021).

The archive processes began running

[2021-08-06 17:58] mkindred commented on #17603
Side note: I stopped automatic deletion of raw data after I accidentally invalidated reports for a time period that included a time without raw data... obviously leaving a big hole in my reports. Luckily I was able to piece it back together from various backups, but it made me cautious to delete raw data.

[2021-08-06 18:06] diosmosis commented on #17603
@mkindred ok, the easiest fix would be to just delete/truncate the archive tables, invalidate the dates, archive again, then check the reports, eg:

1. delete/truncate archive_*_2020_01
2. `./console core:invalidate-report-data --sites={idSite} --periods=day --dates=2020-01-01,2020-01-31`
3. `./console core:archive`
4. then load reports in the UI and ensure report data is there

This could be done

[2021-08-06 18:18] mkindred commented on #17603
@diosmosis Makes sense, but I have a couple questions before I do that.

Setting aside what actions might have triggered this issue, do you think it's fair to say that the biggest hindrance to reducing the bloat has been the sheer number of duplicate rows?

Since I have raw data for all of 2020 and 2021, I'm considering removing all archive tables from 2020 and 2021 and invalidating --dates=2020-0

[2021-08-06 18:32] diosmosis commented on #17603
Short answer "yes". Long answer, there are two issues at play:

1. There are a ton of archives marked as "partial" archives that shouldn't be. Partial archives are supposed to contain one or a couple reports and are created automatically when someone changes an entity. For example, you change a custom report, 6 months of past data are invalided, but *just for that report*. When they are archived,

[2021-08-06 19:18] mkindred commented on #17603
@diosmosis Thanks for all your help. I was able to delete, invalidate, and archive for 2020, and then also for 2020-2021 on my local instance. Now I'll test on a staging site prior to trying the same on production.

[2021-08-08 00:43] HCl-not-HCi commented on #17589
Same problem here.
When trying to access the system check page, the following happens:

[code]

It seems like I sometimes even get the error when opening the settings where the system check is embedded into a panel:

![system check error](https://user-images.githubusercontent.com/16099891/128616756-b6afc33e-591a-4abb-b4d7-a5ca0013c87b.png)

After that I have to wait 10 minutes until I can access t

[2021-08-08 00:48] tsteur commented on #17589
Marking this for now as a regression for us to look into it if there's anything we can do better as the system check should ideally always work.

[2021-08-08 00:52] tsteur commented on #17862
I think in this example we could mention that the command may be executed using the wrong user and not only suggest the chown command to prevent such cases.

[2021-08-08 20:22] tsteur commented on #13374
As suggested in #17861 we keep the system check as it is and instead adjust the documentation and mention that we suggest to also set `force_ssl=1` when someone configures assume secure protocol for security to make sure any HTTP request is redirected to HTTPS.

This is to be done in https://matomo.org/faq/how-to-install/faq_98/ and could also mention it in https://matomo.org/faq/how-to-install/

[2021-08-08 23:36] tsteur opened #17864 "Sort site selector results to show "best" result first or allow regular expressions - Some sites might not show up in search when many similar names"
Refs L3-128

In some cases hundreds of sites might match the same search term. Eg you search for "es" and there is a site called "es" but it doesn't show the search result because so many other sites match too. Same for URLs etc.

In such a case the only workaround would be to search for the idsite directly.

For specific details see the referenced issue. In that case increasing the number of show

[2021-08-09 04:01] geekdenz commented on #13374
OK, added it:
https://matomo.org/faq/how-to-install/faq_98/
and it automatically got added to
https://matomo.org/faq/how-to-install/

[2021-08-09 04:29] tsteur commented on #13374
Nice @geekdenz  👍  Maybe be good to mention that it will cause HTTP requests to be redirected to HTTPS. And could be good to put in a link to https://matomo.org/faq/how-to/faq_91/ to get more information if needed.

[2021-08-09 04:52] geekdenz commented on #13374
done

[2021-08-09 04:59] tsteur commented on #13374
Great 👍 💯

[2021-08-09 04:59] #13374 closed

[2021-08-09 07:29] issuesreporting commented on #17707
There only are custom_dimension_1 custom_dimension_2 custom_dimension_3 custom_dimension_4 custom_dimension_5 and no  custom_var* at  all.

[2021-08-09 08:40] paalbra opened #17866 ""Check for updates" might fail without error with SELinux"
On the administration page you have a "Check for updates" button.  On a system with SELinux this button might fail the check, but it will report "You are using the latest version of Matomo", even though you're not.

## Expected Behavior
An error should be displayed if SELinux stops/denies the "Check for updates" check.

## Current Behavior
If the check fails, you will get the "You are using the la

[2021-08-09 08:47] sgiehl commented on #17707
@issuesreporting Those columns would have been added when installing the CustomVariables plugin. Might been an edge case though. Guess you never had the CustomVariables plugin active? It was included in Matomo prior version 4.0. And was then moved to the marketplace. For existing installs it should have simply been updated to the latest version when updating Matomo. Not sure why it was activated d

[2021-08-09 09:10] sgiehl commented on #17866
Currently we are ignoring any errors that happen during an update check. Might be more helpful indeed to show an error message when it fails.

Nevertheless it might be something we could add a FAQ for. Seems for some distributions it's required to do something like `setsebool -P httpd_can_network_connect 1` to allow outgoing connections for the webserver.

[2021-08-09 09:49] valerio-bozzolan commented on #14190
On a normal Linux server, logs can be read only from `root` and from the webserver user by default. With or without the logs, both users can already read the `token_auth` because they can access the database or read the application config ecc., so having this information in a log does not have any security impact, unless one has an uncommon log management sharing them with untrusted users for unco

[2021-08-09 13:01] sgiehl opened #17868 "Concurrency lock for scheduled tasks"
Currently a scheduled task can be triggered multiple times in parallel. As this can cause serious issues for tasks that manipulate data, we should provide some kind of concurrency lock for scheduled tasks to prevent that by default.

Simplest solution might be to create a [Concurrency/Lock](https://github.com/matomo-org/matomo/blob/4.x-dev/core/Concurrency/Lock.php) for each Task that is running.

[2021-08-09 13:30] paalbra commented on #17866
:+1: As an unknowing user I'd prefer it to display an error message if any error occur during the check (local SELinux or some other external issue). Now it feels misleading that you get the "You are using the latest version of Matomo" message.

[2021-08-09 17:37] cah-erinblake commented on #16150
Is there any update on this issue? Is this change going to be included in Matomo 4?

[2021-08-09 19:24] tsteur commented on #16150
It's not included in Matomo 4 but you can change the type manually in your database if needed.

[2021-08-09 21:57] Findus23 commented on #17686
Some more unsorted warnings:

[code]

_Comment by @sgiehl: This one is fixed ✔️_

[2021-08-10 10:12] localcryptosMichael opened #17870 "Improve I/O performance by not writing placeholder files when they already exist"
I noticed that Matomo was doing a large amount of disk writes. Looking into it, I found that on every API request, Matomo was recreating index files for a number of directories in `tmp/` even though these files already exist. These unnecessarily writes are causing high disk I/O wait when under heavy load.

## Expected Behavior

Perform a `Live.getVisitorProfile` API call (it might apply to other m

[2021-08-10 12:16] sgiehl opened #17871 "Added info message that INI setting archiving_query_max_execution_time may not work for MySQLI"
We are currently using a maximum execution time query hint (`/*+ MAX_EXECUTION_TIME(1000) */`) to limit the execution time of some queries.
It turned out that this query hint does not work as expected when using MySQLI. The test for this currently always fails with MySQLI. Using PDO/MySQL it works correctly.

This seems to be a general issue with prepared statements and mysqli. Tried to test that

[2021-08-10 12:50] #17721 closed, assigned to nobody

[2021-08-10 19:07] mattkolb opened #17872 "If the period is not enabled in config "The period is not supported" message is shown in cron archiving"
We don't use yearly archives because they take too long to process. Because of this, we have the following settings in our config:

[General]
enabled_periods_UI = "day,week,month,range"
enabled_periods_API = "day,week,month,range"

After upgrading from 3.14.0 to 4.4.1, I'm unable to run the cron archive. The output is below.

console core:archive --url=... --force-periods=day --disable-scheduled-t

[2021-08-10 19:20] mattkolb commented on #17872
Also, I believe I found the log of the very first time the archiving was attempted after the upgrade. The log is listed below.

INFO [2021-08-10 18:45:01] 111145  ---------------------------
INFO [2021-08-10 18:45:01] 111145  INIT
INFO [2021-08-10 18:45:01] 111145  Running Matomo 4.4.1 as Super User
INFO [2021-08-10 18:45:01] 111145  ---------------------------
INFO [2021-08-10 18:45:01] 111145  N

[2021-08-10 19:20] diosmosis commented on #17872
Hi @mattkolb can you run the core:archive command with `-vvv` and provide the error's stack trace (which should be in the output)?

EDIT: Thanks, good timing.

[2021-08-10 19:22] diosmosis commented on #17872
@mattkolb thanks for the stack trace, this looks like a regression, I'll look for a fix today.

[2021-08-10 19:52] mattkolb commented on #17872
If it helps, here is the current stack trace:

INFO [2021-08-10 19:50:17] 23574  ---------------------------
INFO [2021-08-10 19:50:17] 23574  INIT
INFO [2021-08-10 19:50:17] 23574  Running Matomo 4.4.1 as Super User
INFO [2021-08-10 19:50:17] 23574  ---------------------------
INFO [2021-08-10 19:50:17] 23574  NOTES
INFO [2021-08-10 19:50:17] 23574  - Async process archiving supported, using CliM

[2021-08-10 20:42] tsteur commented on #17870
Thanks for creating this issue @localcryptosMichael 👍  Great find! Makes sense to first check if these files exist and only then write them.

Note: See https://github.com/matomo-org/matomo/issues/16552 we'd likely want to use `is_file()` here.

[2021-08-10 21:23] tsteur commented on #17871
For now as a first step lets change the global.ini.php documentation for settings that add these hints and mention they won't work with Mysqli:

* `live_query_max_execution_time`
* `archiving_query_max_execution_time`

Then we create an FAQ say "How do I limit the max execution time for MySQL queries". There we could mention that this won't work for Mysqli.

In this FAQ we could additionally menti

[2021-08-10 23:40] #17870 closed, assigned to justinvelluppillai

[2021-08-10 23:41] diosmosis commented on #17872
@mattkolb I left a PR for this here: https://github.com/matomo-org/matomo/pull/17874. Can you see if it fixes the issue for you?

[2021-08-11 01:21] geekdenz commented on #17577
This is difficult without affecting performance or requiring a certain webserver like Apache and adding an .htaccess file or required information and configuration.

I think one way would be to recommend RewriteRules for Apache and similarly for NGINX in the warning message or linking to a page that describes in detail how to configure the webserver.

To make it easier for the user, we could have

[2021-08-11 01:25] geekdenz commented on #15036
I interpret this as:

We want to remove "SEGMENTED REPORTS ARE PRE-PROCESSED (FASTER, REQUIRES CRON)", replace it with "SEGMENTED REPORTS ARE PRE-PROCESSED", making it NOT bold and get rid of the dropdown.

Is this correct?

[2021-08-11 01:27] tsteur commented on #17577
@geekdenz be good to have a look at https://github.com/matomo-org/matomo/issues/17577#issuecomment-845601997 which is the only thing left to do.

Not 100% sure what you refer to with affecting performance? The recommendations etc should be already done. We only need to adjust the system check that's all.

[2021-08-11 01:28] tsteur commented on #15036
We could remove the entire part as in the screenshot in https://github.com/matomo-org/matomo/issues/15036#issuecomment-885297679

we don't need to show it in non-bold.

[2021-08-11 01:37] diosmosis opened #17875 "Transitions shows only partial data for URLs when multiple domains tracked to the same site"
NOTE: I looked for a duplicate but couldn't find an open issue.

## Expected Behavior

If URLs with multiple domains are tracked to a single site, for example `piwik1.net/some/path` and `piwik2.net/some/path`, viewing `/some/path` in the Transitions UI should show data for both piwik1.net & piwik2.net URLs.

## Current Behavior

Instead, only data for one URL is used. The URL that is chosen is the

[2021-08-11 01:38] diosmosis commented on #17875
From our UI test:

![image](https://user-images.githubusercontent.com/125140/128956546-ab5e2254-7ccb-4750-8784-73ea9a6b93e4.png)

See 24 vs 14

[2021-08-11 01:45] geekdenz commented on #17577
Yes. You're right. I over-estimated the requirement and reading again clarifies that it's just a documentation requirement in the diagnostics.

[2021-08-11 02:45] tsteur opened #17876 "Exposing misconfigurations in config.ini.php to the user"
In our `global.ini.php` there are a lot of configs that only accept specific values. For example `enable_sql_optimize_queries`  should be `0` or `1`. Or `release_channel` only accepts certain strings.

If these are not configured correctly then depending on the implementation eg a boolean config that accepts 0 and 1 might treat eg a configured value `2` or `1t` as 0 or 1. The implementation is not

[2021-08-11 10:59] infomotions commented on #17511
Has there been any progress on this issue? It makes the plugin unusable as once it happens in a specific queue, it can grow until redis runs out of memory and deletes records. Is there no way to clear a specific "bad" item from a queue?

[2021-08-11 13:40] mattkolb commented on #17872
Still appears to have issues. Current output below.

INFO [2021-08-11 13:37:14] 29963  ---------------------------
INFO [2021-08-11 13:37:14] 29963  INIT
INFO [2021-08-11 13:37:14] 29963  Running Matomo 4.4.1 as Super User
INFO [2021-08-11 13:37:14] 29963  ---------------------------
INFO [2021-08-11 13:37:14] 29963  NOTES
INFO [2021-08-11 13:37:14] 29963  - Async process archiving supported, usin

[2021-08-11 14:26] Findus23 commented on #17686
matomo.log gets really large really quickly as there are many deprecation warnings that are called many times per request.

So I wrote a quick script to deduplicate all warnings to make it easier to see them:
<details>
<summary>logging.py</summary>

[code]
</details>

I'll add all new warnings I find in the issue above (now also with stack trace as I think some of them are only fixable when knowin

[2021-08-11 22:24] tsteur commented on #17511
@infomotions to understand this issue better do you maybe any more information why the commit would fail?

[2021-08-12 01:54] diosmosis commented on #17872
@mattkolb I fixed a couple more issues in the same pull request: https://github.com/matomo-org/matomo/pull/17874, can you check if it now fixes the issue you're experiencing?

[2021-08-12 05:09] bx80 commented on #17871
There is a connection level option to a set read query timeout for MYSQLI

[code]

Not sure if that helps at all.

[2021-08-12 07:13] #17732 closed, assigned to diosmosis

[2021-08-12 12:35] #17773 closed, assigned to justinvelluppillai

[2021-08-12 14:21] mattkolb commented on #17872
That appears to have fixed it. Thanks for the fast turnaround time. Am I correct that these changes will most likely be included in the 4.5 release?

[2021-08-12 16:33] diosmosis commented on #17872
@mattkolb yes, 4.5. Unlikely to be earlier.

[2021-08-12 16:41] #17872 closed, assigned to diosmosis

[2021-08-12 21:29] tsteur opened #17881 "Fatal Error addCategory() must be an instance of Piwik\\Cache, instance of ActionsCategory given"
See below stack trace. Not sure how this would happen. Maybe some PHP bug. It's the latest PHP 7.4. I think I've seen this once before. I will comment when this happens again and put it for now into backlog so we won't work on it.

[2021-08-13 00:32] orlitzky opened #17883 "Possible warning notices during log archive"
While running our nightly log import/archive, I noticed these two warnings:

[code]

Aside from the non-zero exit code, nothing else bad happened.

[2021-08-13 07:20] heurteph-ei commented on #17747
I tried what @diosmosis suggested: change the locales available on the server, but it changed nothing.

[2021-08-13 08:00] sgiehl commented on #17881
That message doesn't make sense at all. The method is defined as:
[code]
So not sure why it complains about not being an instance of `Piwik\Cache` 🤷

[2021-08-13 08:13] sgiehl commented on #17883
Hi @orlitzky
Thanks for creating this issue. I will have a quick look into this.

[2021-08-13 08:21] #17640 closed, assigned to geekdenz

[2021-08-13 08:24] sgiehl commented on #17747
@heurteph-ei That won't help. You may need to choose another language in Matomo to "fix" that, until we are able to provide a proper fix

[2021-08-13 13:48] heurteph-ei commented on #16151
Mentioned in the forum: https://forum.matomo.org/t/duplicate-custom-dimensions-among-site/21388/

[2021-08-14 21:31] beankylla commented on #17763
Thanks perfect!

[2021-08-15 10:48] martjn-net commented on #17697
+1

Clickhouse Insert Performance https://www.percona.com/blog/2020/07/27/clickhouse-and-columnstore-in-the-star-schema-benchmark/

[2021-08-15 20:45] tsteur opened #17890 "Remove "add new segment" selector in segment editor"
![image](https://user-images.githubusercontent.com/273120/129492275-9417f6d0-0d3a-42c7-ae14-8c9204dbcef4.png)
![image](https://user-images.githubusercontent.com/273120/129492300-2ac4c38c-1726-445c-bd69-daaa423707c7.png)

This top left selector in segment editor should be removed permanently as it clutters the UI and is used very rarely.

We're removing it both when it says "Add new segment" as wel

[2021-08-16 02:57] tsteur opened #17892 "Don't create test cookies when cookies are disabled"
refs https://forum.matomo.org/t/force-tracking-without-cookies-and-disable-cookies-not-working/42563/10
refs https://github.com/matomo-org/tag-manager/pull/158

When having cookies disabled in the Matomo configuration variable, and even when in privacy anonoymisation settings cookies are force disabled, then Matomo JS tracker will still create a cookie and then delete it again right away.

This is

[2021-08-16 03:16] geekdenz commented on #17577
Currently I've got it refactored and it looks like this.

<img width="1314" alt="Screen Shot 2021-08-16 at 3 12 07 PM" src="https://user-images.githubusercontent.com/479499/129506726-0fdcad2f-f390-4d7f-a5d7-9364614ce37e.png">

<img width="818" alt="Screen Shot 2021-08-16 at 3 11 51 PM" src="https://user-images.githubusercontent.com/479499/129506704-a8c7ae6c-9c1e-409c-a5c8-a703323e6e69.png">

Shoul

[2021-08-16 04:11] geekdenz commented on #15135
There seems to be something already here:

https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/MultiSites/angularjs/dashboard/dashboard.directive.html#L61-L70

Also, I have trouble reproducing this error. Could you give me an example URL fragment?

[2021-08-16 08:00] maxbraeutigam commented on #17843
Resolved in 4.4.1

[2021-08-16 08:00] #17843 closed, assigned to nobody

[2021-08-16 10:12] #17787 closed, assigned to geekdenz

[2021-08-16 15:15] sgiehl commented on #17871
@bx80, thanks for the hint. Might be something we will have a look into, once we start working on this issue.

[2021-08-16 16:14] #17883 closed, assigned to nobody

[2021-08-16 19:55] tsteur commented on #17843
Great to hear @maxbraeutigam  👍

[2021-08-16 21:21] tsteur commented on #15135
@geekdenz

you can apply below patch and then go to `Behavior -> Page URLs` in the reporting menu. It will show the error. There are few other places where this error message is shown but I think that's maybe the most important one @mattab ?

[code]

[2021-08-17 03:48] tsteur commented on #9852
@Findus23 is this maybe done already re the header etc?

[2021-08-17 03:49] tsteur commented on #9766
@mattab what do you have in mind re wording for this etc?

[2021-08-17 04:43] kelvinatph opened #17897 "Some goals not loading properly in AbTesting report when enforcing disable browser archiving"
Hi,

This is an issue that occurs for our Matomo v4.4.1 setup when using Goals and AbTesting plugins; the guidelines mention that paid plugins should be directed to a specific email, but I thought I'd share the issue here as well since the problem seemed to be occurring in Goals rather than AbTesting.  If this isn't suitable, please close/delete.

We are using the AbTesting and Goals plugins and i

[2021-08-17 07:59] jsandner opened #17898 "import_logs.py broken since 4.4.1"
Importing Apache Logfiles with import_logs.py doesn't work here since upgrade from matomo 4.3.1 to 4.4.1.

Error Message is
[code]

* Matomo Server runs with Version 4.4.1
* On Import Server I have 2 matomo directories:
  * version 4.3.1 (works)
  * version 4.4.1 (error)

## Expected Behavior

## Current Behavior

[code]

## Possible Solution

**import_logs.py**
[code]
omitting decoding of result

[2021-08-18 09:14] jorgeuos opened #17902 "Time to wait grows exponentially on large installations."
Hi,

Is there a way to get a better understanding of what the `$timeToWait` actually does?
On a large installation with 50M pageviews and a lot of segments, which some of them uses the contains option from the segment builder in the UI, the archiving process grows and spends a lot of time in `usleep` function and the archiving process can take up to 20h.

https://github.com/matomo-org/matomo/blob/

[2021-08-18 09:45] Daten-David commented on #16361
I transferred the discussion to the forum: https://forum.matomo.org/t/does-device-fingerprinting-require-consent/42869

[2021-08-18 20:44] tsteur commented on #17902
Hi @jorgeuos it's there to reduce system resources and not check constantly if a process has already finished.

If an archiving process has been going on eg for 4 hours then it would eventually only check every 20seconds if a job has finished. This is per group of archiving jobs and not overall over all archiving jobs. So assuming that one archiving job takes eg 4hours, then the 20 seconds shouldn

[2021-08-18 20:44] #17902 closed, assigned to nobody

[2021-08-19 08:11] Findus23 commented on #9852
@tsteur After https://github.com/matomo-org/matomo/pull/17842 this is un-done again as we would need to find a way to add noreferrer to every single link if we don't want to use the header

[2021-08-19 09:20] jorgeuos commented on #17902
Ok, thanks.

So you would say it's safe to have a maximum of 5 seconds. That's good to know, we have a patch for setting a fixed limit now. But then I know.

Br, Jorge

[2021-08-19 19:55] wi-wissen commented on #17589
I had the sam issue. But use php 7.4.
I missed the last step disabling ModSecurity (https://matomo.org/faq/how-to-install/how-do-i-install-matomo-with-plesk/)

[2021-08-19 20:43] tsteur commented on #9852
That's only for the overlay though?  By default it would use `Common::sendHeader('Referrer-Policy: same-origin');`

[2021-08-19 20:46] Findus23 commented on #9852
Ah, that's what I missed: I didn't know that `this->useStrictReferrerPolicy` is true everywhere except for the overlay.
In that case I think the issue is solved.

[2021-08-19 21:17] #9852 closed

[2021-08-19 21:44] githubyouser commented on #13180
I'm having the exact same issue as the OP. I've been trying to debug it for days, and haven't made any headway. :( Here's my post on the forums with details and debug logs: https://forum.matomo.org/t/uncaught-exception-matomo-core-cronarchive-php-599-got-invalid-response-from-api-request/42849
I'm happy to provide more info if needed, but I'd really like to get this issue solved! If you need me to

[2021-08-20 01:40] tsteur commented on #17897
Hi @kelvinatph , thank you for creating this issue. In this issue tracker we only manage issues around Matomo core. For premium feature related enquiries could you please email our support at shop@innocraft.com

Thanks again @kelvinatph  and sorry for the inconvenience.

[2021-08-20 01:40] #17897 closed, assigned to nobody

[2021-08-20 01:48] tsteur commented on #16955
@diosmosis I reckon this one we can close?

[2021-08-20 01:54] diosmosis commented on #16955
Yes, will close. Don't think I wrote everything down, but it should be enough to get someone started on the system.

[2021-08-20 01:54] #16955 closed, assigned to diosmosis

[2021-08-20 05:01] geekdenz commented on #15135
There are 2 FAQ links now. The one you suggested above, @mattab and an old one:

https://github.com/matomo-org/matomo/blob/850e1d7e82dac05256e67371bdbb8346dbed30f5/lang/en.json#L170
https://github.com/matomo-org/matomo/blob/850e1d7e82dac05256e67371bdbb8346dbed30f5/lang/en.json#L223

Is this what we want?

[2021-08-20 07:21] valentin-ed commented on #17843
I'm facing this issue but i upgraded to 4.4.1 few days ago.

I have this in my console :
![image](https://user-images.githubusercontent.com/73354059/130195631-20f82525-bbb2-45db-9b30-1b528319054d.png)

I don't know where to look to try to resolve this issue.

Thanks !

[2021-08-20 08:11] sgiehl opened #17907 "Migrate translations to Weblate"
We used to use Transifex for our translation management, but decided to move on to Weblate in the future.
This issue is about to gather and keep track on the tasks we need to do in order to finish the Migration

- [X] Setup a project on Weblate   --> https://hosted.weblate.org/projects/matomo/
- [x] Look through & improve available configurations, filters & validations on Weblate and document the

[2021-08-20 08:35] geekdenz commented on #17091
Looks like this is already fixed:

<img width="789" alt="image" src="https://user-images.githubusercontent.com/479499/130205398-f9e39183-64dc-4e00-a3d4-2e8e1cd5c384.png">

[2021-08-20 08:36] BigBerny commented on #17589
And this helped? Unfortunately, I don't have access to this setting. I can ask the Hoster maybe but before it worked properly.

[2021-08-20 08:51] sgiehl commented on #17091
It might be possible that PHPMailer changed the code to no longer return the full SMTP error message. Nevertheless in the password recovery we maybe shouldn't reveal any error details as it might be public. Might be better so show something unspecific like `An unexpected error occurred while sending the recovery mail. Please try again or contact the administrator if this error remains.`

[2021-08-20 08:53] sgiehl commented on #17843
@valentin-ed Where and when exactly are those errors shown? When someone is being tracked, after login or in the overlay feature only?

[2021-08-20 09:26] Findus23 commented on #17907
Do you know if there is an easy way to do this? (So that editing is disabled for everyone) Or do we need to do an announcement, wait as long as possible and then just ignore everything afterwards?

[2021-08-20 09:30] sgiehl commented on #17907
It's possible to disable that for each resource on Transifex in the settings
I would maybe aim to disable that by end of next week and post an announcement early next week, that we will do that in order to migrate to weblate

[2021-08-20 09:51] valentin-ed commented on #17843
@sgiehl  When someone is tracked, no errors in console. Only when i use the overlay feature.

[2021-08-20 10:14] sgiehl commented on #17843
@valentin-ed Is the overlay still working, or is it broken?

[2021-08-20 10:28] Findus23 commented on #17907
Regarding enabled features we can take a look at https://docs.weblate.org/en/latest/workflows.html:

I think there would be two possibilities:

#### same as before (review)

- Enable reviews: on
- Enable suggestions: on
- Suggestion voting: off

This way, people can translate and (possibly a separate group of users?) can review those strings. Nevertheless both reviewed and unreviewed strings would

[2021-08-20 11:22] Findus23 commented on #17907
### Glossary

I think the glossary is quite important to keep things consistent. Thankfully the glossary in Weblate seems to be quite user friendly and especially is its own component so that all features work on glossary strings.

The existing entries in all languages can be exported as a CSV from here:
https://www.transifex.com/matomo/matomo/glossary/de/

One could write a simple program to conv

[2021-08-20 12:26] valentin-ed commented on #17843
What do you mean ? If the overlay is "drawned" on the screen? Yes it is. But.. look https://i.imgur.com/Zckb0Rg.png
The overlay Keep loading.

[2021-08-20 12:28] sgiehl commented on #17843
Can you see any other error on the console? Or maybe some resources that can't be loaded?

[2021-08-20 12:48] sgiehl commented on #17907
Sounds fine. Maybe there is a possibility to trigger this through API? If so we could use a simple GitHub action to trigger it

[2021-08-20 12:49] Findus23 commented on #17907
I think a `wlc push` with https://docs.weblate.org/en/latest/wlc.html should do exactly this

[2021-08-20 12:51] sgiehl commented on #17907
Feel free to enable the push on commit then.

Regarding the translation workflow: I'm tempted to go with the voting model as you suggested

[2021-08-20 12:55] valentin-ed commented on #17843
There is nothing more on the console (except a favicon which is not relevant).

And in the "Network" there is no error. I don't really know where i can find more information. I'm using the Tag manager. May the JS generated by the Tag manager can cause a issue while using the Overlay ?

[2021-08-20 12:57] sgiehl commented on #17843
Did you create a new container release in tag manager after you updated to Matomo 4.4.1?

[2021-08-20 13:00] valentin-ed commented on #17843
No, the Overlay wasn't working before. I upgraded because i thought it might solved the problem.

But i did not create a new tag after the upgrade.

[2021-08-20 13:09] sgiehl commented on #17843
Did you check the troubleshoot hints here: https://matomo.org/docs/page-overlay/#page-overlay-troubleshooting
Maybe that helps. Maybe also try to create a new container release and check if the cookie errors remain.

[2021-08-20 15:34] valentin-ed commented on #17843
After several tries i found nothing. Even with blocking all javascript except the container.js of my matomo.

The thing is tha the domain is never retrieved. I can find "undefined" in my console. I don't know if it should break but it does.

[2021-08-20 15:49] lennart opened #17909 "Inconsistent parameter names for trackEcommerceOrder between js API and _normal_ docs"
Parameter names used in the [Example of Tracking the Ecommerce Order](https://matomo.org/docs/ecommerce-analytics/#example-of-tracking-the-ecommerce-order)

do not match the parameter names in the [JS Tracking Client documentation](https://developer.matomo.org/api-reference/tracking-javascript#ecommerce)

However, the example includes more detail than the API docs (E.g. expected types and default

[2021-08-21 17:38] yche2990 opened #17911 "After watchtower auto-update, there is an error showing matomo docker AH00141: Could not initialize random number generator"
## Expected Behavior

It was working in the last version.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2021-08-21 21:09] Findus23 commented on #17911
This seems a lot like an issue in the operating system of your docker container and not the Matomo application. See for example `https://github.com/docker-library/wordpress/issues/630` for the same thing happening to a Wordpress user.

[2021-08-22 01:27] tsteur commented on #16125
fyi https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html says it won't happen this year (2021) for chrome and likely won't come any time soon

[2021-08-22 20:20] tsteur commented on #17909
@lennart thanks for bringing this up. Do you refer to `revenue` vs `grandTotal`?

[2021-08-22 20:22] #15322 closed

[2021-08-22 20:32] tsteur commented on #17911
@yche2990 maybe you meant to create this issue in https://github.com/matomo-org/docker ? Or if you are using a different docker maybe you meant to create this issue in a different repository? As @Findus23 mentioned this looks like a docker or OS issue rather than a Matomo issue. I will close this issue for now and if you meant to create this issue eg for our docker repository it be great to create

[2021-08-22 20:32] #17911 closed, assigned to nobody

[2021-08-22 20:35] tsteur commented on #17091
@sgiehl would there be much of a benefit? It might then be quite hard for users to troubleshoot where the problem is. I would have probably suggested the opposite to add maybe a sentence like "Please ask a Matomo administrator to check the configured Mail credentials in Matomo -> Administration -> General Settings".

[2021-08-22 20:52] tsteur commented on #16529
To reproduce this issue have Form Analytics installed and track data.

Then configure log data deletion as defined in https://matomo.org/faq/troubleshooting/faq_42/ . At least in the beginning you will want to configure a high minimum amount of days like `5000` in order to not delete all your tracked log data.

When the task runs to delete old log data, which you can do eg using `./console core:ru

[2021-08-22 20:59] tsteur commented on #15135
@geekdenz I'm not quite sure to which file/place you refer this to?

If it's about the one you mentioned in chat then we wouldn't show it twice
![image](https://user-images.githubusercontent.com/273120/130369935-b02180f2-4f54-4477-b6b2-044ccad1413a.png)

[2021-08-22 21:02] tsteur commented on #17843
@valentin-ed if there's the possibility for us to have a look at your Matomo that be great. If that's the case, please create a user in your Matomo with at least `view` access to the site where you have the problem. Please use the email `hello@matomo.org` . There is no need to send us the password as we will do a password reset. You would still need to send us an email with the URL to your Matomo

[2021-08-23 06:58] lennart commented on #17909
yes, also see Amsterdam/matomo-tracker#563 for more of the discussion.

[2021-08-23 07:01] sgiehl commented on #17091
@tsteur It's just important we replace the message coming from PHPMailer as it might contain any information we might not want to disclose in password recovery.

[2021-08-23 09:06] wi-wissen commented on #17589
Yes, that had solved the problem for me.

[2021-08-23 09:51] math-GH opened #17912 ""Open Row Evolution" in Forms: Error: "Requested report FormAnalytics.getPageUrls""
<img width="370" alt="grafik" src="https://user-images.githubusercontent.com/1645099/130426832-f3aba935-b705-40fa-afad-e428ce1f7e76.png">

<img width="1429" alt="grafik" src="https://user-images.githubusercontent.com/1645099/130426563-1ab13668-9015-4205-8c4d-3c9969f0093a.png">

<img width="844" alt="grafik" src="https://user-images.githubusercontent.com/1645099/130426662-be05f152-6f22-417c-a8c4-42

[2021-08-23 20:40] tsteur commented on #17912
Hi @mathContao thanks for creating this issue. As it is about a premium feature could you please contact our support about this via shop@innocraft.com ? That would be great as we only manage issues for Matomo core in this repository. Thanks for understanding and sorry for the inconvenience.

[2021-08-23 20:40] #17912 closed, assigned to nobody

[2021-08-23 20:59] math-GH commented on #17912
ok. Did not know that it is a premium feature.

[2021-08-23 21:38] tsteur commented on #17909
Thanks for this @lennart . I've updated the guide.

[2021-08-23 21:38] #17909 closed, assigned to nobody

[2021-08-24 02:52] geekdenz commented on #17091
Decision:

In conversation with @tsteur and @justinvelluppillai we resolved this by intending to create an FAQ.

Now, the question is, should it be on one of these pages?

1. https://matomo.org/faq/how-to/faq_93/
2. https://matomo.org/faq/troubleshooting/faq_34856/
3. A new page which is linked to from 1. or 2.?

I think it should be 3., but 2. would get them there in one click with the current Go

[2021-08-24 03:18] uncled1023 commented on #17399
I went to upgrade recently and was wondering why everything was failing.  Only after hunting down this issue was I able to find that I needed to remove all the old files first.  [The documentation](https://matomo.org/docs/update/#database-upgrade-for-high-traffic-matomo-servers) still says to just copy and override existing files.  This should really be at least changed in the documentation.

[2021-08-24 03:58] tsteur commented on #17091
I would create a new FAQ in the troubleshooting category like `How do I fix the error "SMPT Error... exact error message..."`.

We could link to this new FAQ in https://matomo.org/faq/troubleshooting/faq_34856/ also.

[2021-08-24 12:10] Tazzios commented on #15608
running multiple instances on 4.4.1
environment windows,iis,mariadb,php8 and a LAMP7.4

I was busy with the google analytics importer and I got the error every time i tried to upload an configure file. Logout and in did not help and private browser mode also didn`t.

I went to phpmyadmin en cleanup all records(around 40) from the sessions table and after that it the error was gone.
An other instan

[2021-08-25 01:38] tsteur opened #17919 "SEO Ranking plugin not working - problem with ping? - Fix the random test failures"
Seeing this in the tests

![image](https://user-images.githubusercontent.com/273120/130711971-e183eaa2-ada4-4543-bef6-e37ddca0d0bc.png)

and an error in the UI

![image](https://user-images.githubusercontent.com/273120/130712018-786102be-cd8a-4922-80a8-f6e51ec614b3.png)

Seems this regressed.

[2021-08-25 06:51] Husseinhj commented on #14965
Is there a plan to implement this?

[2021-08-25 08:52] sgiehl commented on #17919
That actually seems to fail randomly

[2021-08-25 09:07] Findus23 commented on #17919
This is more or less expected as it is crawling websites that randomly block or rate limit the requests.

[2021-08-25 20:30] tsteur commented on #14965
@omidontop @Husseinhj I believe this feature is now available using the [Advertising Conversion Export](https://plugins.matomo.org/AdvertisingConversionExport) feature.

[2021-08-25 20:46] tsteur commented on #17919
@Findus23 so it's maybe now also blocked on travis because we run tests more often maybe? Maybe in that case we need to write the tests slightly different to ideally detect rate limit and ignore it (skip test or so) but not fail when the data or URL changes (not fail for any other error).

To fix it on cloud maybe we would need to request the data using JavaScript to go directly to the search engi

[2021-08-26 08:40] Findus23 commented on #17919
But then again I thought we changed the tests to test against a local copy of the HTTP response, but I might be wrong here

[2021-08-26 08:50] sgiehl commented on #17919
I guess there are still some tests that try to fetch the data from bing, alexa and google to ensure the response doesn't change

[2021-08-26 18:02] Findus23 opened #17921 "Show Translation status and Contributors in Matomo"
Something I thought about because of the Weblate migration, but can be done independently:

It would be nice to see a table like this directly inside Matomo using live data. This way it would never need to be outdated and could be combined with other information about translating Matomo
![Screenshot 2021-08-26 at 19-56-58 Matomo - Languages and Translations](https://user-images.githubusercontent.c

[2021-08-26 20:52] tsteur commented on #17919
created an internal issue for cloud to fix the rate limiting there where we might simply try to get data using JS directly from search engine or so.

Meanwhile as part of this issue be great to look into making the test stable. Like we could force to run into the rate limit and then check if the response code or response message includes rate limit information then we can catch this error specific

[2021-08-27 01:13] KarthikRaja1388 commented on #8789
Customer's question:
Our search keywords are not case insensitive, so our Matomo setup differentiates between a search for 'macbeth' and a search for 'Macbeth'. This is making it quite hard to get an overall view of how many people are searching for our pieces of content.

How do we remove the case sensitivity and view the searches for 'macbeth' and 'Macbeth' together?

[2021-08-27 04:13] tsteur opened #17923 "Make SecurityPolicy methods a public API and fully enable the CSP"
We introduced it in Matomo 4.5 in https://github.com/matomo-org/matomo/pull/17798

Now it's time to make it a public API see https://developer.matomo.org/guides/apis#process-for-declaring-something-as-public-api-for-plugins

We also want to disable the reporting only by default and instead actually make it apply the rules.

[2021-08-27 15:57] heurteph-ei opened #17925 "The selected [Allow multiple conversions per visit] option is not displayed when editing a goal"
## Expected Behavior
When I create a goal, and come back to its definition, I would like to know if **Allow multiple conversions per visit** is set or not

## Current Behavior
When I create a goal, and come back to its definition, the **Allow multiple conversions per visit** option is not selected whatever it be the stored value

## Possible Solution
Probably very easy to fix...
The behaviour is t

[2021-08-27 18:09] McSodbrenner opened #17926 "Console error "There was an error setting cookie `mtm_cookie_consent`. Please check domain and path." when calling 'rememberCookieConsentGiven'"
I get the error "There was an error setting cookie `mtm_cookie_consent`. Please check domain and path." on every page load in my Chrome browser.
I was able to narrow it down to this location in the minified matomo.js:
[code]
The problem is the second part of the condition. `aD(dp) !== dq` is indeed unequal, but only because the type is not correct. The first part returns `1630087076907` as a strin

[2021-08-27 18:26] Findus23 commented on #17926
Just FYI: The same function in the original readable source is here:
https://github.com/matomo-org/matomo/blob/c2ab6e589636fdbe0b550486b4a9ac61cbfa37bc/js/piwik.js#L2451-L2455

And this function only logs the warning and should not break anything else. It was added in #17744 to find exactly such corner-cases.

And I can reproduce this by calling `_paq.push(['rememberCookieConsentGiven']);`.

[2021-08-28 21:19] #17091 closed, assigned to geekdenz

[2021-08-28 21:19] tsteur commented on #17091
Changing library to PHPMailer already fixed this and we created FAQ for the error.

[2021-08-29 21:41] justinvelluppillai commented on #17926
Yes I suppose it would make sense to always typecast value before checking it against the cookie value, since cookies are always strings.

[2021-08-29 21:55] #17752 closed, assigned to justinvelluppillai

[2021-08-30 05:09] justinvelluppillai commented on #17686
Is it better to make a number of smaller PRs to get these fixes merged or combine them all into one? I've made a few fixes in #17929, there are also many plugin PRs coming.

[2021-08-30 06:00] mattab commented on #8789
@KarthikRaja1388 currently it must be worked around "manually" in JavaScript, by using ["Track Site Search using the Javascript trackSiteSearch() function"](https://matomo.org/docs/site-search/#track-site-search-using-the-javascript-tracksitesearch-function) and then also manually calling the `.toLowerCase()` function in JavaScript, when calling trackSiteSearch

[2021-08-30 07:21] tsteur commented on #17686
@justinvelluppillai small ones be a lot better.

[2021-08-30 10:32] bluikko opened #17932 "FAQ 194 refers to "piwik""
The FAQ #194 at https://matomo.org/faq/troubleshooting/faq_194/ talks about "piwik" in several places and should be updated to "matomo".

[2021-08-30 10:40] Findus23 commented on #17932
I changed the text now.
In general Piwik should be automatically replaced on the site, but here there were a few cases in code where it had to be done manually.

[2021-08-30 10:40] #17932 closed, assigned to nobody

[2021-08-30 12:32] luflow commented on #16150
@tsteur Is there already an FAQ entry for this? Could not find anything until now. Is it just an `ALTER TABLE` where the type gets changed to `TEXT` on all custom dimension fields that should get this change?

What happens if a future migration of piwik changes this type back?

[2021-08-30 19:49] tsteur commented on #16150
@luflow there isn't. AFAIK it's only an alter table query to change field to `text` like below:

[code]

I'm not sure what would happen if we were to change it back. I'm assuming the content would be truncated but the historical archived reporting data would still include the full names.

[2021-08-30 22:43] tsteur opened #17938 "Some scheduled tasks might be skipped on error - meaning eg a scheduled report might not be sent"
refs L3-141

## Problem 1 - If task fails, it won't be executed / retried again.
Generally I can see reschedules the task here before executing it [matomo/Scheduler.php](https://github.com/matomo-org/matomo/blob/4.4.1/core/Scheduler/Scheduler.php#L120-L121) meaning if eg a scheduled report fails to send the report (or execute any task) it won’t be executed again. Meaning if it's a weekly scheduled

[2021-08-30 23:45] Starker3 commented on #13126
This issue is till occurring in **4.4.1**
Page Title transitions report with "All Visits" segment:
![image](https://user-images.githubusercontent.com/20905821/131419561-b526b766-6a5a-4f7c-a606-048cda1c26fa.png)

Page Title transitions report with a "Page Title is X" segment:
![image](https://user-images.githubusercontent.com/20905821/131419609-393019e0-8dce-4083-bef8-b13aa6d38949.png)

The segment

[2021-08-31 02:34] tsteur opened #17939 "Include lox/xhprof in the Matomo build release so Profiling works"
Only works when installed from git but no longer works when installed from regular release zip.

That's likely because `lox/xhprof` is marked as development dependency in composer.json.

[2021-08-31 03:13] weixuezhang opened #17941 "Visits Over Time uses all available columns which causes the report generate slowly."
When no columns specified in parameter, Visits Over Time uses all available columns which causes report generate slowly.  In this situation, it should use columns from option table record option_name of viewDataTableParameters_***_VisitsSummary.getEvolutionGraph.

## Expected Behavior

When no columns specified in parameter, Visits Over Time should use columns from option table record option_name

[2021-08-31 05:39] geekdenz commented on #16529
Does that mean to reproduce I will need to create data going back more than `5000` days? Would the VisitorGenerator be the tool to use for this or another way I would need to automate or do manually?

I currently have no form data logs and would create a form, submit it and see what it logs. Then I would try to repeat the request with some different parameters to figure out how it all works.

I de

[2021-08-31 05:47] mattab commented on #16529
I think the Visitor Generator which purpose is to generate test logs? it's pretty slow but it should work fine..

[2021-08-31 05:59] #17577 closed, assigned to geekdenz

[2021-08-31 06:11] tsteur commented on #7573
Below a patch that seems to improve the most tricky situations without needing huge changes. Same could work for other entities like Funnels. Reports with entities are the biggest performance problem since there could be like 100 goals vs eg an action archiver always has a static number of archives.

[code]

Not sure re possible side effects.

I don't think the requestedReport would be forwarded t

[2021-08-31 06:29] geekdenz commented on #16529
Thanks @mattab .

For future reference, I use this command:

`./console development:disable; ./console visitorgenerator:generate-visits --start-date 2007-12-20 --idsite 1 --days 6` to overlap with `5000` days ago  and to avoid it taking too long.

[2021-08-31 07:57] tsteur opened #17944 "Cache API.getSegmentMetadata better in Segment - Improve performance on every UI request"
I have here a regular UI call, and it triggers more than 90 `API.getSegmentMetadata` calls which then triggers calls to funnels, heatmaps, goals, ... That's a site with like 50 segments.

This is executed here: https://github.com/matomo-org/matomo/blob/4.5.0-b1/core/Segment.php#L186-L194

It's cached in a property but we often create a new segment instance like `new Piwik/Segment()`. So the cache

[2021-08-31 14:09] d2a-raudenaerde commented on #13627
@heikojansen  The MultiSites is broken I think, see  : https://forum.matomo.org/t/4-4-1-reverse-proxy-links-to-websites-on-dashboard-dont-work-properly/42978
Did you have any success running it?

[2021-08-31 14:16] d2a-raudenaerde opened #17945 "MultiSites reverse proxy on subdir/path is broken"
I'm trying to run Matomo behing a reverse proxy. I followed the https://matomo.org/faq/how-to-install/faq_98/ , but there are still some issues left. For example, the MultiSites plugin/All websites page links are broken.

## Expected Behavior

I expect the links to the websites to work. They don't. When I pick the website from the dropdown in the CoreHome, it work flawlessly.

## Current Behavior

[2021-08-31 14:28] d2a-raudenaerde commented on #17945
Something similar was also reported in #13627

[2021-08-31 16:00] mssc-hoffleit opened #17947 "SitesManager.getJavascriptTag and GUI report different end points (piwik vs matomo)"
## Expected Behavior
The GUI (Websites/Tracking Code) and the API function SitesManager.getJavascriptTag should use the same end points: Either both matomo.js/php or both piwik.js/php.

## Current Behavior
The GUI ("https://example.com/piwik/module=CoreAdminHome&action=trackingCodeGenerator&idSite=1") shows Javascript code with "matomo.php" und "matomo.js".

The API ("https://example.com/piwik/?mo

[2021-08-31 17:53] marcing commented on #17926
I just encountered this when trying to integrate Matomo with cookiebot:
[code]

[2021-08-31 18:11] Findus23 commented on #17926
@marcing Indeed `_paq.push(['rememberCookieConsentGiven']);` is what triggers this warning. You can simply ignore it and with the next release (and #17928 merged) it should be gone.

[2021-08-31 20:37] tsteur commented on #17947
@mssc-hoffleit this is actually expected behaviour. We still return `piwik.php` in the API to not regress anything there. We can't return `matomo.php` there for older installations as that endpoint might not be accessible and would break the tracking. Therefore to keep BC by returning `piwik.php`. But in the UI we recommend `matomo.php` so when someone copy/pastes the tracking code for a new site

[2021-08-31 20:37] #17947 closed, assigned to nobody

[2021-08-31 20:48] tsteur commented on #17941
@weixuezhang the solution would be to set up auto archiving see https://matomo.org/docs/setup-auto-archiving/ . When you then fetch a report it won't need to generate any reports. Fetching archived data is quite fast and there we aren't planning to change anything.

For range dates there is an issue already: https://github.com/matomo-org/matomo/issues/7573 . We will look into this more as part of

[2021-08-31 22:31] tsteur commented on #16529
@geekdenz you could also set a different number of days like 300 or so. You just want to probably not delete any recent data by accident.

[2021-09-01 03:50] Birkaransingh94 opened #17950 "Sort goals alphabetically in "Manage Goals" and other places where Goals are listed"
## Proposed acceptance criteria

Sort goals alphabetically everywhere they are listed in a list including:

* in Manage Goals
*  in the "Goals Overview" report page (showing summary of each goal)
*  in the "Goals" selector (under Goals left menu when more than X goals created)

Note: in Multi attribution "Goals" selector, Goals are already sorted alphabetically.

## Original issue

The goals ("Man

[2021-09-01 05:08] Starker3 commented on #17024
The Shopify themes allow for quite a lot of flexibility in how they can be setup.
So what we could do is create some basic shopify style functions to trigger certain types of tracking requests. The easiest will probably be tracking product views, since this can easily fire on every product page by adding the tracking code in the correct theme file.

[2021-09-01 10:27] Findus23 commented on #17341
This is now no longer needed with #17907

[2021-09-01 10:27] #17341 closed, assigned to nobody

[2021-09-01 12:25] weixuezhang commented on #17941
I have set up auto archiving with below settings in config.ini.php
browser_archiving_disabled_enforce = 1
enable_browser_archiving_triggering = 0
archiving_range_force_on_browser_request = 1

I add below code at head of method "public function query($sql, $bind = array())" inside file "/matomo-4.4.1/core/Db/Adapter/Pdo/Mysql.php"
        Log::info("sql start time: " .  microtime(true));
        Lo

[2021-09-01 14:19] mssc-hoffleit commented on #17947
@tsteur, thanks for the clarification!

Is there any way to set `forceMatomoEndpoint=1` in the Matomo configuration?

Would be reasonable for sites which have been fully migrated to the new end points.

As an example, we're using WP-Matomo. WP-Matomo calls `SitesManager.getJavascriptTag` to autoconfigure the Matomo setup for the site (fetching the tracker code etc.). It feels odd when I would have

[2021-09-01 20:22] tsteur commented on #17024
fyi @mattab @Starker3 this might be more an internal KB or SUP issue?

[2021-09-01 20:30] tsteur commented on #17947
@mssc-hoffleit forcing it to use that endpoint without a parameter would be only possible by developing a small custom plugin unfortunately. If you are using `WP-Matomo` then I would suggest maybe to create an issue there to offer an option the Matomo endpoint there maybe?

[2021-09-01 20:45] tsteur commented on #17774
I'll reopen this one as it's not fully fixed.

It's still sending a request for every goal on the goals overview page like  https://demo.matomo.cloud/index.php?forceView=1&viewDataTable=sparklines&module=Goals&action=get&idGoal=6&allow_multiple=0&only_summary=1&idSite=1&period=day&date=yesterday&segment=&showtitle=1&random=7404

to fetch this data
![image](https://user-images.githubusercontent.com

[2021-09-01 20:53] tsteur commented on #17774
Something like this could fix this issue. Not tested it at all though. This may not work. Just an idea.

[code]

We would then render all the widgets within a container server side at once. In the past we loaded them individually thinking it's better to load the widgets in parallel but for some pages like goals this might not be the best way (or in general when widgets within a container use the s

[2021-09-01 21:01] tsteur commented on #17941
@weixuezhang fyi if you have disabled the archiving in the config then you also need to set either `enable_general_settings_admin = 0` or disable the browser archiving in the UI.

Can you maybe log more information like what the exact URL is for that request? and show how long it took to fetch the reports? Is the page slow for you?

[2021-09-01 22:44] #16706 closed

[2021-09-01 23:00] weixuezhang commented on #17941
@tsteur , I set enable_general_settings_admin = 0, but log result is same as previous. URL of the request is like blow. It is the URL of report "Visits Over Time"
http://localhost/matomo-4.4.1/index.php?forceView=1&viewDataTable=graphEvolution&module=VisitsSummary&action=getEvolutionGraph&idSite=1&period=range&date=2021-08-30,2021-08-31&segment=&showtitle=1&random=9682

After adding "columns=nb_vi

[2021-09-01 23:06] tsteur commented on #17941
Thanks @weixuezhang . I'll reopen the issue again as this is bit different as the other referenced issue. I'm not sure we will work on it too soon though as usually fetching these reports is quite fast.

Do you have a performance problem there or how came you looked into it @weixuezhang ? be great to know to understand implications better.

[2021-09-01 23:56] weixuezhang commented on #17941
@tsteur , when I use comparison features on long period of date, I noticed the performance problem. I also found the time consumed by SQL query of obtaining archiveId for metrics on each plugin is the major portion (about 80%) of the overall query time, and also a major portion of the whole report time. So, if we can get rid of the unneeded metrics queries, the report will be several times more fa

[2021-09-02 00:14] tsteur commented on #17941
BTW @weixuezhang you might want to test this change if it improves the situation maybe a little bit: https://github.com/matomo-org/matomo/pull/17943/files

[2021-09-02 10:14] peterbo commented on #15740
Hey @tsteur - reusing this ticket for that matter. I can still see a lot of "pagename not defined" entries in the page title report.

Matomo version 4.3.1, relevant Plugins: FormAnalytics 4.0.6, HeatmapSessionRecording 4.0.12, MultiChannelConversionAttribution 4.0.5,  CustomReports 4.0.7

The effect is most severe in Websites with more forms. I think this might be still the same effect like initia

[2021-09-02 11:03] mattab opened #17953 "Remove INI setting enable_fingerprinting_across_websites"
The INI Setting enable_fingerprinting_across_websites is named incorrectly (since Matomo doesn't use a fingerprint anymore).
It would be great to remove this INI setting completely and always make sure the config_id is different across different website IDs.

I don't even think this would really be a BC break for anyone, so we could change it in any release.

[2021-09-02 11:47] mattab commented on #17024
Closing here and re-created internally as SUP-372

[2021-09-02 11:47] #17024 closed, assigned to nobody

[2021-09-02 12:50] weixuezhang commented on #17941
@tsteur , I tested your change, but matomo.log still shows  the unneeded sql queries. I also tested the cases of URL parameter period equaling day, week and month, problem is the same. I tried a temp change as https://github.com/matomo-org/matomo/pull/17954/files, the unneeded queries can disappear, but I'm not sure it is the right fix, and if it causes other problems.

[2021-09-02 20:35] tsteur commented on #15740
@peterbo do you maybe have a way to reproduce this and/or can find out the access logs for requests that caused this? It be otherwise quite hard to know where this is still coming from. And I'm assuming the Matomo has been using this version for a while? Otherwise I would have thought maybe there are still some cached older JS tracker versions in use but that's quite unlikely.

[2021-09-03 00:46] mwithheld commented on #16576
I've put in a PR for this at
https://github.com/matomo-org/matomo/pull/17956

[2021-09-03 02:32] mwithheld commented on #15278
Seems to me we could just update the hashData function as follows and it will then use the Password::preferredAlgorithm() hash.

[code]

If that makes sense I can toss in a PR pretty quick.

[2021-09-03 02:36] justinvelluppillai commented on #15278
Thanks @mwithheld that'd be great if you fired up a PR for this.

[2021-09-03 09:41] #2672 closed

[2021-09-03 11:38] Littlericket commented on #17609
@diosmosis fixed it today. Its not related to Matomo (atleast what I can see), but more a issue on how GD is linked/built into php. remi-safe is not bundling GD into php:
[code]

whereas building php itself bundles the gd (and thats where Matomo doenst segfault):
[code]

I still don't really understand how this would affect the php-gd lib, but nevertheless, its working now and doenst look like tha

[2021-09-03 20:53] mwithheld commented on #11796
For testing: *valid* email addresses like these contain XSS, but should both be accepted and should not break the UI:

- "<script>alert(1)</script>"@example.com
- "<script>alert(1)</script>".blah@example.com
- bloo."<script>_x(fakething)</script>"@example.com

[2021-09-04 07:20] #15135 closed

[2021-09-04 16:52] KALLIAK commented on #15060
As far as I understand, this problem will not be solved until version 6.0.0)

[2021-09-05 06:36] mattab opened #17965 "In Acquisition > Overview report, the Row selector is missing"
In the Acquisition > Overview report, the Row selector is missing below the evolution at the top.

Whereas you can still see the row selector under the  evolution graph in "Visitors > Overview" (other evolution graphs show it as well).

Expected the same behavior as in "Visitors > Overview", but in Acquisition > Overview it is missing.

it is problematic because often you need to see the evolution

[2021-09-05 07:10] tsteur commented on #17965
@mattab it's not clear what you are meaning.

maybe you mean https://github.com/matomo-org/matomo/issues/17499 where it works until you select more than 2 records to plot?

[2021-09-05 11:26] A20N commented on #17926
FYI
I also experience the bug by using _paq.push(["rememberConsentGiven"]);
Everything works fine and the cookie is set as expected.

[2021-09-05 20:42] tsteur commented on #17609
Glad it's working now @Littlericket . Thanks for letting us know.

[2021-09-06 02:39] tsteur opened #17966 "Warning DataCollection.php(381): Notice - Undefined index: 2021-04-26,2021-05-02"
piwik.WARNING: /var/www/html/core/Archive/DataCollection.php(381): Notice - Undefined index: 2021-04-26,2021-05-02

This is a regression from https://github.com/matomo-org/matomo/pull/17817

Backtrace

TableRecords","class":"Piwik\\ArchiveProcessor","type":"->"},{"file":"/core/Plugin/Archiver.php","line":103,"function":"aggregateMultipleReports","class":"Piwik\\Plugins\\MarketingCampaignsReporting

[2021-09-06 08:06] heurteph-ei commented on #17965
@mattab @tsteur , maybe this:
![image](https://user-images.githubusercontent.com/79993552/132182280-a6361e1d-ff69-418a-ab50-bf8715957cd5.png)
![image](https://user-images.githubusercontent.com/79993552/132182407-0599f06c-0261-4d3b-bdf4-77382788f415.png)
(note: screenshots taken from version 4.3.1)

[2021-09-06 08:23] tank-paradoxnft commented on #16962
So is it going to be best to download the plugin zip from GitHub (https://github.com/matomo-org/plugin-Provider/releases/tag/4.0.3), extract, and then upload Provider.php and overwrite the current Provider.php that is throwing the error?

I fixed the missing png by pulling it from the plugin zip, adding the directory "settings" (/plugins/Provider/**screenshots**/) and then adding the "Report.png"

[2021-09-06 09:58] heurteph-ei opened #17968 "No historical graph in the daily email report when no activity the just day before"
## Expected Behavior
When I receive the daily email report, I would like to see historical graphs (for the whole month) even when there was no activity just the day before

## Current Behavior
The email report when there is activity the day before:
![image](https://user-images.githubusercontent.com/79993552/132197877-c34b5489-5831-46f4-9943-e518b3ab02d3.png)
The email report when there is no activ