[2021-02-04 06:31] vsatmydynipnet commented on #17186
Just found out that a FreeBSD 11 to 12 updated removed the user running the import from the www group. Sorry for the noise and thank you for this great peace of software.

[2021-02-04 06:31] #17186 closed, assigned to nobody

[2021-02-04 09:11] Tealk commented on #7364
I have renamed the files and also the action_name but now I get the following error and I don't understand why it is blocked.
![image](https://user-images.githubusercontent.com/12276250/106870378-55e1ee00-66d1-11eb-9162-89230f4c7117.png)

[2021-02-04 09:35] sgiehl commented on #17188
Hi @mhfa1380
thanks for creating the issue. Our translations are community contributed. Persian translations are at 60% only, so whereever a translation is missing it will use the English original instead.
If you would like to help completing the Persian translations feel free to sign up at https://www.transifex.com/matomo/matomo
It seems we currently do not have any active translator for Persian.

[2021-02-04 11:13] Findus23 opened #17189 "jsoncallback API parameter doesn't work with getBulkRequest"
reported in https://forum.matomo.org/t/api-getbulkrequest-returns-null-with-callback-parameter/40550

example URL:

works:
https://demo.matomo.cloud/index.php?module=API&method=API.getBulkRequest&format=json&token_auth=anonymous&urls[0]=method=VisitsSummary.getVisits&idSite=1&period=week&date=today
doesn't work:
https://demo.matomo.cloud/index.php?module=API&method=API.getBulkRequest&format=json&t

[2021-02-04 12:11] otheus commented on #13717
As I wrote on the FAQ/feedback page:

We need to fix Matomo1 so that it sets the wait_timeout per connection. Setting the server variable is an ugly ugly hack that does not 'play well with others'. Moving from mysqli to pdo/mysql makes it even worse, since old mysqi at least allowed auto-reconnection. (Forums tell me, however, this feature has been deprecated). Further, the pdo-mysql driver does n

[2021-02-04 12:28] Findus23 commented on #13717
@otheus
You could try adding the option here:
https://github.com/matomo-org/matomo/blob/77f607d49fb632a87c53c3513a2f5fcf7c66a185/core/Tracker/Db/Pdo/Mysql.php#L109

and report back if it changes anything. If it fixes the issue for you, it would be great if you could create a PR for this.

[2021-02-04 13:34] Pilot001 commented on #17185
@diosmosis Well, it is active... but not "recently". We had it active with v3.x before and now with 4.x it is still active.

[2021-02-04 15:29] Littlericket commented on #17160
@tsteur can give you the archive table as a download, but I need to contact you privately instead of posting the dump here..

@diosmosis
1. API request returns zeros for all xml keys:
[code]

2.
[code]

3. browser triggered archiving is disabled
[code]

[2021-02-04 16:24] MISTAnalytics opened #17190 "Scheduled Email report does not pick up custom report widgets"
**What**
Matomo does not seem to pick up the custom reports in the scheduled email functionality. In the attached screenshots (part I, II, III) a full scheduled Matomo report is being displayed. However, the first four sections are being displayed which are basic Matomo widgets but the last four sections are not which are custom report widgets. The report stops after Video Titles but there are mor

[2021-02-04 16:25] agmorpheus opened #17191 "Actions of same user sometimes splitt to several visits"
Hello,

after the update from Matomo version 3 to 4 I have noticed the problem, that sometimes actions of a user is splitt into several visits. Each action has its own visit. This is pretty strange. Sometimes all is good, sometimes it looks like this:

![image](https://user-images.githubusercontent.com/16916776/106922835-bbec6680-670d-11eb-9b1c-8b097ad7b98c.png)

[2021-02-04 16:32] Findus23 commented on #17191
https://forum.matomo.org/t/besuch-wird-auf-mehrere-besuche-aufgeteilt/40527 contains more details about this

[2021-02-04 19:15] mattab commented on #17184
@tsteur the bug here is actually a bug in the website that we had several times in the past. it rewrites the links to the wrong URL.
Here is the rendered text:
![Screenshot from 2021-02-05 08-13-53](https://user-images.githubusercontent.com/466765/106943361-38248f80-678a-11eb-9fba-c370c47a75ab.png)
which links to:
https://matomo.org/free-tag-manager/#how-can-i-set-up-matomo-tag-manager-on-my-websi

[2021-02-04 23:33] #17159 closed, assigned to sgiehl

[2021-02-05 00:53] diosmosis commented on #17185
@Pilot001 could you answer my other question and if possible provide core:archive output w/ the `-vvv` option?

[2021-02-05 01:18] diosmosis commented on #17160
@Littlericket can you run the following SQL:

[code]

If you'd like to email the data, you can email it to dizzy@innocraft.com.

[2021-02-05 02:41] diosmosis commented on #17190
hi @MISTAnalytics, sorry you're experiencing this issue. Would you be able to post the definition of the email report? Would you also be able to post the response to the `API.getReportMetadata` API method (as an attachment as it should be quite large)?

(If any of these have information you wouldn't want to post here, you can also email them to me at dizzy@innocraft.com.)

[2021-02-05 02:41] diosmosis commented on #17181
@datango did you have the config_client_type and config_browser_name columns in your tables before yodatubg?

[2021-02-05 02:51] diosmosis commented on #17191
hi @agmorpheus, would you be able to post the visitorid for the visits you're displaying? Are they the same?

And do you have any interesting INI config set, for example, `[Tracker] enable_userid_overwrites_visitorid`?

[2021-02-05 06:38] datango commented on #17181
I found a problem with

ALTER TABLE `piwik_log_visit` MODIFY COLUMN `visitor_count_visits` INT(11) UNSIGNED NOT NULL DEFAULT 0, MODIFY COLUMN `visit_total_interactions` MEDIUMINT UNSIGNED DEFAULT 0, MODIFY COLUMN `referer_name` VARCHAR(255) NULL, MODIFY COLUMN `referer_url` VARCHAR(1500) NULL, MODIFY COLUMN `config_browser_name` VARCHAR(40) NULL, ADD COLUMN `config_client_type` TINYINT( 1 ) NULL D

[2021-02-05 07:32] Pilot001 commented on #17185
@diosmosis Oh, I'm sorry... A misunderstanding. I understood your second sentence about the MultiChannelConversionAttribution, as it was an option how it would be possible that `core:archive` generates those csv files.

Well, I run an strace on the php process, hoping to find a hint about what was causing that endless run. There I saw those calls "open" to files names "archive_blob_*.csv" within t

[2021-02-05 07:54] agmorpheus commented on #17191
Hi @diosmosis, the visiter id is the same only without "User_". Even when I remove the visiter id, the problem is still there.
No, I have normal settings in the config file.
Can I provide a log file where you can see why the actions are split between multiple visits?

[2021-02-05 09:32] geosigno opened #17193 "Video events are not captured (or very few)"
It's been 2 weeks i'm using Matomo on a video stream app and I'm seeing a quite significant discrepancy between visit and play events.

The only page with the Matomo tracker are the video pages. Right now, for 1000 visits, I got 10 plays, which I know is wrong. Even when clicking the play button a dozen times, I don't see any data in Matomo real time, or normal data after a while.

The video playe

[2021-02-05 10:26] Patrick-devX opened #17194 "Obtention d'un tableau sql adequat à mes fins"
@mattab
Salut Mathieu,
J' aimerai bien à partir de Matomo obtenir un tableau contenant des informations des users qui resseble à celui dans le powerpoint [suivant.](https://drive.google.com/file/d/11W8w9tA2UhZCI4-06PaQXNDj81Z7ssoN/view?usp=sharing)

Merci d'avance
Patrick

[2021-02-05 10:41] Patrick-devX opened #17195 "Obtenir de Matomo un tableau adequat"
Salut Matthieu, @mattab

Je solliciterai bien ton aide pour pouvoir obtenir un tableau de la structure [suivante](https://github.com/Patrick-devX/ML-On-AWS/blob/main/DatenstrukturAusMatomo.pdf),

Merci d'avance et bonne journée
Patrick

[2021-02-05 10:44] #17194 closed, assigned to nobody

[2021-02-05 12:20] breaked01 commented on #14104
Hello.
Have a same issue with mixing of page urls which become from all subdomains, but they are logically separated from "main" and other domains, and may have different pages. What I can do at this moment to separate page urls?  Maybe just add a "subdomain" to page url variable (like in Google Analytics) or something like this? I can write own code if it needed, but want to get some info about w

[2021-02-05 15:07] sagarkale8 opened #17196 "console does not have generate theme"
My console does not show a generate theme option. I've installed/reinstalled matomo from git repo multiple times. Can someone help please?

![image](https://user-images.githubusercontent.com/50763788/107050852-bff1b480-67f1-11eb-8c36-7df51cf3c97a.png)

[2021-02-05 15:13] sgiehl commented on #17196
Hi @sagarkale8
Most of those development commands require the development mode to be enabled.
`./console development:enable`

If you have any further question regarding theme or plugin development feel free to consult our forum at https://forum.matomo.org, as we usually don't ask questions here to keep our issue tracker "clean".

[2021-02-05 15:13] #17196 closed, assigned to nobody

[2021-02-05 16:33] Findus23 commented on #17196
Also keep in mind that you should install Matomo from git (as explained in https://developer.matomo.org/guides/getting-started-part-1) instead of using the matomo.zip if you want to use these generate options as they are intended for local development

https://github.com/matomo-org/matomo/issues/16922

[2021-02-05 18:26] brijoyj commented on #17167
I did core:update and the result is the same (memory issue). Not sure how to fix the PHP memory issue. For now i downgraded to 3.14.1 , and its working.

[2021-02-06 11:43] Tealk commented on #7364
I really do not know how to get around this
![grafik](https://user-images.githubusercontent.com/12276250/107117179-b2cbd880-6878-11eb-90dc-79b39a132558.png)

[2021-02-06 12:08] arnowelzel commented on #7364
By using a proxy script which takes parameters with other names and forwards this to the real script of Matomo as suggested already in 2017.

[2021-02-06 12:11] Tealk commented on #7364
Does this still work, this is already a good 4 years old

[2021-02-06 12:15] arnowelzel commented on #7364
Yes - it still works, even with a current version of Matomo. The script I posted here is still in use on my own website and many others:

https://arnowelzel.de/samples/piwik-tracker-proxy.txt

[2021-02-06 12:17] kylekatarnls commented on #7364
It was even mentioned yet in 2015 ^^
https://github.com/matomo-org/matomo/issues/7364#issuecomment-140331043

Principle is that there are plenty different ad blockers trying to use different detection ways, you have to let nothing making possible to link the script to Matomo.

[2021-02-06 12:30] Tealk commented on #7364
but the tracking code seems to have changed and i am not really fit in javascript

[code]
how do I have to adjust this now?

[2021-02-06 12:38] arnowelzel commented on #7364
The proxy script does not need to be changed - it just loads the content of `piwik.js` from Matomo and replaces a number of parameter names so they can be used with a different name.

On my site, the script is then used this way:

[code]

And this works with Matomo just fine. No need for any JavaScript changes. Just put `pwproxy.php` with the content as shown in https://arnowelzel.de/samples/piwik

[2021-02-06 12:41] Tealk commented on #7364
How do I include `_paq.push(['requireCookieConsent']);` there then?

[2021-02-06 12:44] Tealk commented on #7364
is it possible to enable `_paq.push(['setSecureCookie', true]);`?

and i have some functions like:
[code]
Also I get the message and I do not want to turn off nosniff
`The resource of "https://trackedsite.com/mproxy.php" was blocked because of a MIME type conflict ("text/html") (X-Content-Type-Options: nosniff).`

[2021-02-06 13:33] MISTAnalytics commented on #17190
Hi @diosmosis, I just sent you all the requested input by mail.

Please let me know.

[2021-02-06 14:18] arnowelzel commented on #7364
You can substitude the `_paq` calls with the respective Methods of `piwikTracker`, e.g.

[code]

Note: `piwikTracker.trackPageView();` is already included in my code.

See the available methods of the "old" API at https://developer.matomo.org/api-reference/tracking-javascript.

About the cookie consent: I don't set a cookie at all (`piwikTracker.disableCookies();`), so I also don't need any consen

[2021-02-06 14:27] Tealk commented on #7364
I have written a very nice one for myself.

[2021-02-06 17:43] datango commented on #17181
The sql is still not working cause of "dublicate modify COLUMN `location_region` char(3)" parts in this two rows:

 Executing ALTER TABLE `piwik_log_visit` MODIFY COLUMN `profilable` TINYINT(1) NULL, MODIFY COLUMN `visitor_seconds_since_first` INT(11) UNSIGNED NULL, MODIFY COLUMN `visitor_seconds_since_order` INT(11) UNSIGNED NULL, MODIFY COLUMN `visitor_count_visits` INT(11) UNSIGNED NOT NULL DEF

[2021-02-07 14:54] math-GH opened #17200 "Resolution improvement"
In my opinion the resolution statistics are less usefull because it does not summarize the most important numbers: the width.

Right now for the width 360px it is listed: 360x640, 360x780, 360x74, 360x760, 360x720, 360x800
![grafik](https://user-images.githubusercontent.com/1645099/107150008-fb0ff700-695b-11eb-8cc7-959e4d4cf5c2.png)

The height is less important.
I am interested in: how many visit

[2021-02-07 19:51] straussCS opened #17201 "Users Flow-Plugin: Show Users Flow based on user interactions and custom events"
Noways, especially when it comes to modern single page applications it would be very helpful for us to not only view Users Flow based on pageviews.

Instead we (and our customers) need a solution, which allows them to be able to observe the vistors interaction on the page based on events.

Is it possible to choose "events" from event tracking as a source in the Users Flow Plugin?

[2021-02-07 20:26] timdream opened #17202 "Matomo can be tricked to record spoofed X-Forwarded-For IPs"
## Problem

Considering the current implementation: https://github.com/matomo-org/matomo/blob/a31fd86b64c2c7d2deadcfca71540fb4b0152c10/core/IP.php#L99-L125

With the following setup:

[code]

Since each proxy appends the IP of the incoming connection according to [RFC7239](https://tools.ietf.org/html/rfc7239), `X-Forwarded-For` will be this by the time the connection reaches Nginx (1):

[code]

Ma

[2021-02-07 21:23] OnlineArts commented on #17138
As far as I know, the archiver of Matomo 3.14.1 does not wipe out the segment data. I looked on the wrong page. On the combined segment page view, it looks like the segment data are missing. But on the single segment page view, they are still present.

I created today a fresh instance from the database dump (1. January). With the activated option to delete raw data after 30 days back again and per

[2021-02-07 23:14] diosmosis commented on #17138
@OnlineArts thanks for collecting all this useful information!

When you say you updated manually, you mean you ran the SQL and commands yourself instead of using the updater? From the update log, the only SQL that touches the archive tables are the:

[code]

SQL statements. The `name` column is what identifies an archive as being for "all visits" or a segment, so it's possible these statements ar

[2021-02-07 23:18] diosmosis commented on #17202
Hi @timdream, thanks for creating this issue. Is this behavior in Matomo causing a problem for you specifically? Do you know of a client that does this and is causing a problem?

[2021-02-07 23:21] diosmosis commented on #17200
Thanks @mathContao for the suggestion, you're right this isn't currently possible and it could be useful. I can't think of a way to do this currently with Matomo, but I think a plugin that did it would be fairly simple to write.

[2021-02-08 00:01] diosmosis commented on #14104
Hi @breaked01 , if you mean separate them in the Actions report, there's not much you can do at present. The change isn't that big though, so I created a poc in this PR: https://github.com/matomo-org/matomo/pull/17203

If acceptable it might be able to go in the next release.

CC @tsteur

[2021-02-08 00:09] diosmosis commented on #17195
Hi @Patrick-devX, unfortunately we don't answer questions in this issue tracker but only handle feature requests or bug reports. It would be great if you could ask this question in our forum: https://forum.matomo.org/. You may also want to take a look at the https://plugins.matomo.org/CustomReports premium feature, though I'm not 100% sure if it will provide what you want. Thanks for your understa

[2021-02-08 00:09] #17195 closed, assigned to nobody

[2021-02-08 00:17] diosmosis commented on #17185
@Pilot001

I see, those are probably temporary batch insert files (ie, for `LOAD DATA INFILE`).

Ok, looking at the logs I can see the issue, and good news is that we've encountered this on cloud a little while ago and have since found a fix (the problem is in the MultiChannelConversionAttribution plugin). The fix isn't out just yet, but we should be able to release it soon. In the meantime, deact

[2021-02-08 00:22] dev-101 commented on #17012
I noticed this long time ago, Google page load times are much higher (and more relevant to that matter). I always wondered how Piwik / Matomo reports such low overly optimistic numbers.

[2021-02-08 00:29] dev-101 opened #17204 "Behaviour > Pages > PAGE URL table column - no longer bold font in 4.x ?"
Sorry if it's a duplicate issue, couldn't find it with search.

I know it's purely cosmetic, but ever since upgrading to 4.x page links / groups are no longer in bold font, and this puts such unbelievable strain to my eyes. Am I the only one complaining about this minor issue or there are others as well?

Here's the demo link: (**PAGE URL** table column)
https://demo.matomo.cloud/index.php?module=

[2021-02-08 00:34] dev-101 commented on #17167
It doesn't matter how much memory your server has. It **matters how much it can allocate to PHP** alone. Either edit your PHP ini file and increase 128M to something like 512M, 768M or 1024M or consult your hosting provider for help. Reload / Restart server after the change.

[2021-02-08 01:27] timdream commented on #17202
@diosmosis It did not cause a problem for me! I am just trying to document what I've found that may be problematic in terms of spoofing and attack vector. I did not spot such attack/spoofing taking place on my own instance.

[2021-02-08 01:30] diosmosis commented on #17191
Hi @agmorpheus, if you could send a log file that could be very helpful (you can email me at dizzy@innocraft.com). Can you also tell me how you are tracking visits? Are you using the JS tracker or are you importing logs?

[2021-02-08 06:36] OnlineArts commented on #17138
@diosmosis
Manually means I run the updater via the CLI and not the web updater.
I did not run explicitly the archiver after the updater. Cronjobs are not enabled on the recovery instances.

Yes, if you could provide me all statements. Thankfully, the mysql console accepts several inputs at once.

**Edit**:
I had to clarify that the archiver of 3.14.1 does not remove the segment data. I thought th

[2021-02-08 07:44] Pilot001 commented on #17185
Great! Thank you so much for your help and advice!

[2021-02-08 07:48] agmorpheus commented on #17191
Hi @diosmosis, I am using the JS tracker. For a log file I have to [enable ](https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker)it, right? Or is there a log that is written by default?

[2021-02-08 12:07] OnlineArts commented on #17138
Ok, I reproduced the recovery, set delete_logs_enable to "" and delete_logs_older_than to 365 and performed the update. Segments data are again lost. These options did not have any effect on that.

This time I would like to check to count the archive_numerics like %done%, before the upgrade, after the upgrade, and the first time opening the page after the update.

[2021-02-08 13:02] andyjdavis commented on #10881
I have put up a PR containing a possible solution for this issue. https://github.com/matomo-org/matomo/pull/17206

[2021-02-08 19:55] tsteur commented on #14104
@diosmosis not sure I fully understand the PR correct but thinking as it's done in archiving, might need to add a comment that this will cause maybe issues when looking at week, month, year, ... that some will have the host while some rows won't and it'll be all mixed maybe?

[2021-02-08 19:57] tsteur commented on #17193
Hi @geosigno  as far as I understand you're using our Media Analytics plugin? As we only manage issues for Matomo core in this issue tracker, could you contact our support at shop@innocraft.com about this? They will be happy to follow up. Thanks for this @geosigno

[2021-02-08 19:57] #17193 closed, assigned to nobody

[2021-02-08 20:34] tsteur commented on #17201
Hi @straussCS thanks for creating this issue. Unfortunately we only manage issues for Matomo core here. As the question is about a premium feature can you email our support at shop@innocraft.com about this? Sorry about the inconvenience @straussCS

[2021-02-08 20:34] #17201 closed, assigned to nobody

[2021-02-08 21:11] tsteur commented on #17204
Thanks @dev-101 I believe that might be a regression indeed. Be great to comment if it was maybe changed on purpose.

[2021-02-08 22:42] tsteur commented on #17202
Thanks @timdream would this be kind of a duplicate or related to https://github.com/matomo-org/matomo/issues/7060 ?

[2021-02-08 23:04] jstsch commented on #12418
Encountered this too. The workaround is to simply add the www. aliases in the settings panel, even though it's explicitly stated it's not required.

[2021-02-08 23:54] diosmosis commented on #14104
yeah, that would be an issue. the easiest way around this might be to make the setting unchangeable. otherwise, if we see both types when aggregating we can group by host in the one that includes host, then aggregate w/ the one w/ no host. there's no way to go from no-host to host though so that's the best we can do I think.

[2021-02-09 00:50] diosmosis commented on #10881
Fixed by  #17206

[2021-02-09 00:50] #10881 closed

[2021-02-09 01:03] diosmosis commented on #17138
@OnlineArts

These are available via the web updater and via the `core:update` command. If you run `core:update` w/o `--yes` it will display the list of sql and commands to run in order (it's the first half of the update log you posted). You'll have to run `core:update` again after though since it won't update the version values in the option table (and it may not display automated dimension chang

[2021-02-09 01:22] diosmosis commented on #17191
@agmorpheus the only log that would help with this are webserver logs (you'll have to extract visits with the single visitor ID). If this isn't something you have, we'll have to try something else (if you can provide access to your matomo & the website you are tracking it might be possible to figure out why this is happening).

[2021-02-09 01:32] diosmosis commented on #17185
@Pilot001 actually it looks like the change was already released (in version 4.0.4). Can you upgrade your plugin to the latest version?

[2021-02-09 01:39] diosmosis commented on #17183
Hi @unikitty37, thanks for the interesting question! We discussed this internally and thought that this behavior could indeed be problematic for single page apps. However there's a simple solution in that the app could just not queue any tracking requests until it knows consent is given. Ie, only call the track methods on the JS tracker after consent is given. This puts the onus on users of matomo

[2021-02-09 01:39] #17183 closed, assigned to nobody

[2021-02-09 02:15] timdream commented on #17202
@tsteur Yes the issue is related (see note), but I wouldn't say it is a duplicate because the research I made here contains new information on the current implementation.

[2021-02-09 03:25] tsteur commented on #14104
OK @diosmosis I guess we would just need to mention this in the comment for the config and also when we explain this new feature in an FAQ.

[2021-02-09 07:36] jannejava opened #17207 "Segment comparison in e-mail reports"
The reporting feature is excellent, easy to set up, and helped clients set up Matamo (instead of Google Analytics).

But would it be possible to configure comparisons in email reports? For example, see how the website performs compared to last month or the same month a year ago just as a quick indication of how the site performs.

https://matomo.org/blog/2019/10/date-and-segment-comparison-feature

[2021-02-09 09:30] zubair86 commented on #13756
Could you please share commands with which we can reinstall and use different Authentication Method?

Thanks!

[2021-02-09 17:49] strugee commented on #10881
Thanks to you both for your hard work :-)

[2021-02-09 19:54] tsteur commented on #17181
Hi @datango how do did you update the files for Matomo 4? Did you use our one-click UI update or did you update the files manually? If you [updated manually](https://matomo.org/docs/update/#the-manual-three-step-update), did you remove all old files?

Any chance you have maybe some plugins disabled like the `UserCountry` plugin? (If you don't know how to find out you can go to `Matomo Admin -> Plu

[2021-02-09 20:02] tsteur commented on #17207
Hi @jannejava thanks for creating this issue. This would be great to have indeed 👍  I'll close this for now as a duplicate of https://github.com/matomo-org/matomo/issues/16437

[2021-02-09 20:04] jannejava commented on #17207
Sorry, I missed #16437. Thanks for considering!

[2021-02-10 00:02] tsteur commented on #17202
that was my first thought would be the preferred solution as AFAIK in https://github.com/matomo-org/matomo/pull/10404 it says

So changing it to last IP could potentially break things again etc.

Another workaround might be to use other headers depending on what can be configured that can only be set by the public facing proxy? I don't know if that's the same problem for Apache.

Mostly seeing thi

[2021-02-10 03:27] diosmosis commented on #17138
@OnlineArts just one quick note, in case you're not already doing it for this test, it would be helpful to make sure the core:archive cron job is not enabled during the upgrade, then check for the segment data while it is still disabled.

[2021-02-10 03:33] diosmosis commented on #17160
@Littlericket looking at the data you sent it looks like there is just no data in the archives for those dates. The only thing I can think of that might have caused this is deleting old log data, then having archives of old data be re-archived causing new archives with zero visits to be created. Do you have backups with the old archive data?

EDIT: actually that doesn't seem like the case if the d

[2021-02-10 03:44] dev-101 opened #17208 "Matomo 4 - Android Mobile Chrome Browser - UI Touch Issue"
Please check attached video - it happens on demo Matomo as well. Clearing cache templates and files does not help.

This was captured on a real device, but I was also able to reproduce it in desktop Chrome with emulation. It works fine in regular desktop browser.

https://user-images.githubusercontent.com/5383059/107461544-88b93580-6b5a-11eb-9063-2a11b3307560.mp4

[2021-02-10 03:58] diosmosis commented on #17208
Can reproduce, however it only happens on a light tap on the select. If I hold a bit longer (say half the length of a long press), it works.

[2021-02-10 04:03] dev-101 commented on #17208
Yeah, confirmed.
It works with tiny bit longer taps, but taps mustn't be too long, as Android will enter text selection mode, so it has to be "perfect", not too short, not too long :)
Setting user-select property should fix selection issue, at least.

[2021-02-10 05:37] #13716 closed

[2021-02-10 08:35] Littlericket commented on #17160
@diosmosis thanks for the investigation! No, we dont have any backup of old archive data. If there are visits (visible in the upper screenshots) can't we just somehow adjust the archive parameters to display the archives which have data in the UI?

If I understand correctly, there has been data somewhen but the data got refreshed by a archive cron run with zero calculated visits when raw data is g

[2021-02-10 10:28] agmorpheus commented on #17191
@diosmosis I sent you an email

[2021-02-10 15:09] Geal opened #17209 "CSV reports can fail because HTTP Content-Disposition header has invalid characters in the filename field"
Hello,
one of our clients uses matomo (I do not know which version exactly), and some HTTP responses fail when downloading reports, because of charset issues in the Content-Disposition header.
Here's a hex dump of one of those responses:

[code]

right after "2020", there's the `–` character, which is an en dash encoded as `e2 80 93` in UTF8.

According to https://tools.ietf.org/html/rfc6266#secti

[2021-02-10 15:17] Geal commented on #17209
the query was generated with a call to a URL with this format:
`https://domain/index.php?date=2020-12-13,2021-01-11&expanded=1&filter_limit=-1&format=CSV&format_metrics=1&idSite=1&language=en&method=API.get&module=API&period=day&token_auth=<token>&translateColumnNames=1`

[2021-02-10 15:58] Pilot001 commented on #17185
OK, this version was published right after I downloaded the previous one. ;-)
It looks much better now. Thanks again!

[2021-02-10 15:59] #17185 closed, assigned to nobody

[2021-02-10 16:26] Findus23 commented on #17209
Hi,

I think the code responsible for this is the following:
https://github.com/matomo-org/matomo/blob/c870770157a3e9c893308967dc274c8feac5d4be/core/DataTable/Renderer/Csv.php#L311-L321

It just generates a nice filename and then puts it into the header without caring about the right encoding.

If you have an idea how this could be fixed, it would be great if you could create a PR.

[2021-02-10 18:58] tsteur commented on #17209
Hi @Geal does the download not work at all in this case? Do you know what browser is being used there or is it maybe some server that fetches the file?

[2021-02-10 19:17] Geal commented on #17209
Downloads failed because the HTTP response went through our reverse proxy which rejects invalid headers. It is independent of the browser that is used, it can even be reproduced with a curl command.

The utf-8 data can be transformed properly with rawurlencode: https://stackoverflow.com/a/25704866

The code should know the actual encoding of the filename (ascii, iso 8859 1, utf-8 or others) and sp

[2021-02-10 21:28] tsteur commented on #17160
@diosmosis I've been looking through the data and indeed there is only a done flag but no other report data. I've been looking through the code (eg DataAccess model) and I can't explain or find anything where we would delete archives but keep the `done` flag.

I'm now thinking we might not be able to add this because a user might want to invalidate/remove data manually? It could be done though may

[2021-02-10 22:42] tsteur commented on #17209
AFAIK the encoding should be UTF8 or UTF 16 (there should be some parameter to request data in UTF 18). Since it seems like an easy fix will schedule this issue. Cheers @Geal

[2021-02-11 05:23] datango commented on #17181
Hi @tsteur! I updated matomo manually (on a test system) like i do it since many years:

- Downloading and extracting the sources to the existing matomo folder
- running the core:update cli
- Checking the system status - removing files which are obsolete

Now i changed it to

- moving the existing folder to matomo-old
- extracting the matomo.zip to new/clean folder matomo
- copy the config/config.

[2021-02-11 06:30] bbodenmiller opened #17210 "Add feature to receive an email when an error happens during cron archiving (cron:archive command)"
## Expected Behavior
Per https://matomo.org/docs/setup-auto-archiving/#linux-unix-how-to-set-up-a-crontab-to-automatically-archive-the-reports when `MAILTO` environment variable is set before running `core:archive` it is supposed to send an email if archive fails. Have verified mail settings are set correctly as other emails from Matomo are working.

## Current Behavior
`core:archive` is failing a

[2021-02-11 18:03] perdittmann commented on #11720
Hello everyone,
I am still struggling to get my Matomo installation (on a shared hosting server) working with a CSP in place that does not include script-src 'unsafe-inline' and 'unsafe-eval' (which to my understanding would make the whole CSP rather pointless).

ixbarbarbar's solution gave me this:

I changed
/core/Twig.php
/plugins/Morpheus/templates/layout.twig
/plugins/Morpheus/templates/_jsGl

[2021-02-11 19:44] tsteur commented on #17210
Hi @bbodenmiller

Just to verify: does your crontab look like there and mailto is on its own line?

![image](https://user-images.githubusercontent.com/273120/107690061-7b44ac80-6d0e-11eb-9186-65295c048543.png)

`MAILTO` is a crontab feature, not a Matomo feature so I don't think using export and running it on command line like above would work unfortunately.

[2021-02-11 19:59] diosmosis commented on #11720
Hi @perdittmann, that code is using an old version of twig that matomo doesn't use anymore. Instead of the /core/Twig.php changes you made, these changes should work:

https://github.com/matomo-org/matomo/compare/csp-nonce?expand=1

can you try them out?

[2021-02-11 20:54] tsteur opened #17211 "Add system check: Real live check if the database is ok/has the right structure"
see https://github.com/matomo-org/matomo/issues/17181#issuecomment-777209894

It might not be easily doable though. Like we'd need to potentially create many tables with a different prefix or a new DB and install Matomo there and then compare the structure with the current structure. Maybe there could be a basic check if all expected columns exists. Checking the type and default values etc might b

[2021-02-11 21:00] mattab opened #17212 "Error when using comparison feature: Argument 4 passed to Piwik\\Plugins\\API\\Filter\\DataComparisonFilter\\ComparisonRowGenerator::compareTable() must be an instance of Piwik\\DataTable or null, bool given"
we saw  the error below a few times on only 2 customers:

## Expected Behavior

No error

## Current Behavior

Error: {"message":"Argument 4 passed to Piwik\\Plugins\\API\\Filter\\DataComparisonFilter\\ComparisonRowGenerator::compareTable() must be an instance of Piwik\\DataTable or null, bool given, called in \/var\/www\/html\/plugins\/API\/Filter\/DataComparisonFilter\/ComparisonRowGenerator.php

[2021-02-11 21:04] Findus23 commented on #17211
see also https://github.com/matomo-org/matomo/issues/11540

[2021-02-11 21:05] tsteur commented on #17181
This would have been potentially not quite correct and could have caused issues in the past unless you ran `core:update` again after removing the files as it might have caused to keep some DB columns that shouldn't been kept or so. Although likely it was fine to do it this way actually.

The new flow sounds definitely good and I understand everything works now?

Regarding the update error: When th

[2021-02-11 21:06] tsteur commented on #17211
closing as a duplicate of https://github.com/matomo-org/matomo/issues/11540

[2021-02-11 21:06] #17211 closed, assigned to nobody

[2021-02-12 04:53] datango commented on #17181
Also if the sql_mode can not be forced to be set by matomo - it should be checked by matomo update script, that it is correctly set.

Yes, update works now. Thx!

[2021-02-12 07:43] micvm commented on #17181
Minor side note that may be of interest for others: I had the same error after automatically updating via bitnami/matomo docker image. For me it solves the issue by disabling and re-activating the mentioned "DevicesDetection" plugin from the UI.

[2021-02-12 08:07] perdittmann commented on #11720
Hi @diosmosis, thank you for your help!
I managed to isert the code into the two files you mentioned, and didn't produce a critical error this time. :-)

I updated every instance of <script> tags with the nonce-Code (throughout the plugins folder, about 45). I suppose I will have to do that again with every Matomo update?

Alas, the admin panel is still blank below the blue header.
I found one scr

[2021-02-12 08:08] perdittmann commented on #11720
Hi @diosmosis, thank you for your help!
I managed to isert the code into the two files you mentioned, and didn't produce a critical error this time. :-)

I updated every instance of <script> tags with the nonce-Code (throughout the plugins folder, about 45). I suppose I will have to do that again with every Matomo update?

Alas, the admin panel is still blank below the blue header.
I found one scr

[2021-02-12 08:09] perdittmann commented on #11720
Hi @diosmosis, thank you for your help!
I managed to isert the code into the two files you mentioned, and didn't produce a critical error this time. :-)

I updated every instance of <script> tags with the nonce-Code (throughout the plugins folder, about 45). I suppose I will have to do that again with every Matomo update?

Alas, the admin panel is still blank below the blue header.
I found one scr

[2021-02-12 08:56] sgiehl commented on #17212
Guess something like that would prevent the error, but not sure if anything else would need to be changed so it wouldn't occur in the first place.

[code]

[2021-02-12 12:20] bbodenmiller commented on #17210
Interesting. I thought it was Matomo feature. I'm using https://docs.pivotal.io/scheduler/1-2/index.html for scheduling which must not support this feature. Looks like it wouldn't work for windows either.

[2021-02-12 13:12] andyjdavis commented on #9738
Is this issue done? I tried to jump straight to an admin area while not logged in and received the following. The displayed messages seems to have been simplified at some point since that tweet.

![login](https://user-images.githubusercontent.com/354954/107772244-f80b7100-6d76-11eb-8b79-7ae3613dd6ce.png)

[2021-02-12 17:26] voxspox opened #17219 "segmentation: add numeric operators for custom dimensions"
## Summary

In the segmentation editor the dropdown menu with operators shows only text operators like "contains" "starts with" for custom dimensions.

I have numeric values in my custom dimensions. I want to see numeric operators for custom dimensions, like "less than", etc.

[2021-02-14 06:46] perdittmann commented on #11720
If there only was a way to search the entire source code … 🤦
I got where I needed to be, but I am out of my depth again.

getJsInclusionDirective() is defined in core/AssetManager.php.
Since it is a PHP file, the twig syntax to add the nonce does not work, and I couldn't figure out how to get to the nonce in PHP.
Do you maybe have an idea? Thanks!

[2021-02-14 19:17] tsteur commented on #17181
From what I see it should always be possible to set the sql_mode actually. Be great to let us know if it's possible to prevent this somehow. I'll close this for now but happy to follow up should there are ways to prevent changing the sql mode in a session. Thanks

[2021-02-14 19:17] #17181 closed, assigned to nobody

[2021-02-14 19:28] tsteur opened #17221 "Store an upgrade log and show it in system check (or somewhere else)"
Not sure if there is already such an issue. As some users run into update issues be great if we could store a log of all update log messages. For example the ones from this screen: https://github.com/matomo-org/matomo/blob/4.x-dev/tests/UI/expected-screenshots/OneClickUpdate_update_success.png but also any SQL error or other upgrade error that happened. We could store this for say the last X updat

[2021-02-14 19:44] tsteur commented on #9738
Thanks @andyjdavis this is done indeed 👍

[2021-02-14 19:44] #9738 closed

[2021-02-14 19:48] tsteur commented on #17219
Thanks for creating this issue @voxspox  be great to have this indeed. I will close as as it's a duplicate of https://github.com/matomo-org/matomo/issues/16267 and also refs https://github.com/matomo-org/matomo/issues/5372

[2021-02-14 19:48] #17219 closed, assigned to nobody

[2021-02-14 22:37] diosmosis commented on #17212
@sgiehl that looks like the right fix to me

[2021-02-14 22:51] tsteur commented on #17210
@bbodenmiller is there maybe a way to use regular crontab or so? I'll meanwhile rename this issue to describe it as a new enhancement (as it's not a bug)

[2021-02-14 22:56] diosmosis commented on #11720
hi @perdittmann, you can use `grep` or a similar tool to find `<script` elements in the code. I'm also going to ask that you ask future questions about the code base on the forums: https://forum.matomo.org/ as you may not get a response here

[2021-02-15 23:03] #17212 closed, assigned to sgiehl

[2021-02-16 14:05] KrzysztofMadejski opened #17223 "Create new Dashboard popup does not show radio button to select options (empty, default)"
Version: 4.1.1

## Expected Behavior

## Current Behavior

<img width="1583" alt="Screenshot 2021-02-16 at 15 02 33" src="https://user-images.githubusercontent.com/849975/108073498-664a7f00-7068-11eb-8cf2-2f10cb13e956.png">

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

Matomo version: 4.1.1
PHP version: 7.4.15
* Additionally installed plugins:

*

[2021-02-16 14:24] sgiehl commented on #17223
Hi @KrzysztofMadejski
Thanks for reporting this issue. I was able to reproduce it. Will have a quick look if it's easy to fix...

[2021-02-16 14:25] Findus23 commented on #17223
It might be related to https://github.com/matomo-org/matomo/pull/16986 and https://github.com/matomo-org/matomo/issues/16983

[2021-02-16 15:43] voxspox commented on #17219
thx :) didn't find the other issues

[2021-02-16 16:43] #17223 closed, assigned to sgiehl

[2021-02-17 00:09] dev-101 commented on #17204
Well, I will close this issue for now. It doesn't seem to be 'popular', and I am already accepting the truth :)

[2021-02-17 01:28] tsteur commented on #17204
@dev-101 I hope you don't mind me reopening it. We're planning on fixing this (it's already in a milestone to be worked on).

[2021-02-17 08:30] KrzysztofMadejski commented on #10518
Couldn't Matomo allow to hide & show columns in data tables? That should be quite straightforward. Some can be enabled by default.

Visible columns should also affect what visualizations show.

[2021-02-17 08:34] KrzysztofMadejski commented on #17046
@Chardonneaur do you know if that is available now in custom reports?

[2021-02-17 08:39] KrzysztofMadejski opened #17229 "Pages report should have visualizations"
## Summary

Pages report is a simple data table, that I'd expect to have all visualizations: bar chart, etc.

( I redacted most URLs)
<img width="1210" alt="Screenshot 2021-02-17 at 09 37 22" src="https://user-images.githubusercontent.com/849975/108177830-fee20d00-7103-11eb-8c04-3e982698c0c1.png">

## Your Environment

* Matomo Version: 4.1.1

[2021-02-17 08:45] sgiehl commented on #17204
@tsteur We actually don't have bold fonts for any other table. Why should only the page url reports have a bold font on the label column? Imho that's a bit inconsistent. Or shall we add a bold to all label columns?

[2021-02-17 09:02] KrzysztofMadejski opened #17230 "Info tooltip for every table column explaining computations behind measures"
## Summary

It is often unclear, at least for me, how specific measure has been computed. Say "Avg Time on Page" vs "Avg Time on Custom Action Dimension" vs "Avg Time on Custom Visit Dimension" (if the latter exist, haven't tried yet).

It would help a lot if each column on each data table had a info tooltip explaining how is it computed, possibly even with math equations in details section.

Anal

[2021-02-17 10:15] dev-101 commented on #17204
Of course, this is just an example page, change in all tables should be uniform. I don't have old version anywhere anymore, but I am sure it was bold in the first column. Here, this is from an old version where you can barely see the left edge font in bold: https://cloud.githubusercontent.com/assets/5383059/13856125/0f9f390c-ec74-11e5-95af-371d43e7dfa3.png

Anyway, I understand if this was on purp

[2021-02-17 10:42] sgiehl commented on #17204
@dev-101  having a bold label column would be fine. just wanted to point out that it should be consistent as the issue description only is about the action reports.

[2021-02-17 19:24] tsteur commented on #17204
@sgiehl thanks for this. Thought this was the case across all tables but now seeing in eg https://github.com/matomo-org/matomo/blob/3.14.1/tests/UI/expected-screenshots/UIIntegrationTest_referrers_allreferrers.png that this wasn't the case. Only in actions tables indeed by the looks https://github.com/matomo-org/matomo/blob/3.14.1/plugins/Actions/tests/UI/expected-screenshots/ActionsDataTable_init

[2021-02-17 19:24] #17204 closed, assigned to nobody

[2021-02-17 22:54] dev-101 commented on #17204
I *knew* it :)
Thanks for those screenshots, though... reminded me how great it was before.

[2021-02-18 00:58] flamisz commented on #16803
@tsteur I have a question about this. I have a solution where I store the events (when it was closed, it was shared or not, etc) in the browser's localstorage. For sure it's not the perfect solution, if a user changing browsers or using incognito mode it won't work.

Do you have any other recommendation? Like storing for the user in db?

Thanks

[2021-02-18 02:07] mattab commented on #14123
Thanks for reporting this issue.
Unfortunately we're unable to reproduce the problem.
**If anyone is reading this and has seen this behaviour, please leave a comment and a screenshot (and ideally how you managed to reproduce).**
Thanks!

[2021-02-18 02:07] #14123 closed

[2021-02-18 02:07] tsteur commented on #16803
Hi @flamisz

be great to store this in the backend instead of in the browser so it won't appear every time they go incognito etc.

I was going to suggest we use the `UsersManager.setUserPreference` API see https://github.com/matomo-org/matomo/blob/4.1.0/plugins/UsersManager/API.php#L194 but it's not really a preference so better not to use it.

There is a `plugin_settings` table which can store pl

[2021-02-18 02:08] mattab commented on #15363
Thanks for reporting this issue.
Unfortunately we're unable to reproduce the problem.
**If anyone is reading this and has seen this behaviour using the latest version of Matomo, please leave a comment and a screenshot (and ideally how you managed to reproduce).**
If we don't hear more about this issue, we will close it later. Thanks!

[2021-02-18 02:08] #15363 closed

[2021-02-18 02:47] tsteur commented on #16803
@flamisz fyi just created this new doc https://github.com/matomo-org/developer-documentation/blob/d70f5907d5f59f7bfc0744a002094af0cad7d5cb/docs/4.x/user-in-depth.md  as part of https://github.com/matomo-org/developer-documentation/pull/427/files where I'm trying to summarise some thoughts on this. Once merged, it will be available under https://developer.matomo.org/guides/user-in-depth

[2021-02-18 02:53] flamisz commented on #16803
Thanks @tsteur very helpful indeed. I will implement this way and let you know if I have further questions.

[2021-02-18 07:57] sgiehl commented on #17204
@dev-101  I you liked it more the other way. Feel free in trying to create a new theme ;-)

[2021-02-18 17:20] modiboa opened #17232 "Event list inside Behaviour section is not showing all events."
## Issue
For some reason, the events are not showing in the Event list inside Behaviour section, but I can see them on the Visitors Log

Here you can see the list of actions with 6 actions
![Screenshot from 2021-02-18 17-15-49](https://user-images.githubusercontent.com/6961049/108394800-06410d80-720d-11eb-9a17-d4f3b03fa73d.png)

Here you can see the events has only 3 entries
![Screenshot from 2021

[2021-02-18 22:42] diosmosis commented on #17232
Hi @thiagofabre, do the other event reports have the same issue? If you invalidate the day and re-archive does it fix the problem for you?

[2021-02-19 08:33] corentinc-old opened #17235 "Bulk sending events"
Hello !

I would like to optimize the sending of my matomo events.
What would be the maximum events Matomo could handle in a unique http post request ?

Thanks :)

[2021-02-19 08:55] sgiehl commented on #17235
Excellent question. Our javascript tracking actually sends bulk requests in chunks of max 50 requests at once. But Matomo should be able to handle more. I guess that would depend on your server configuration and how much POST content the webserver actually would accept. Sending too man requests could also run into problems if you server has a max execution time for php scripts.

[2021-02-19 09:18] corentinc-old commented on #17235
Thank for your anwser.

I currently use matomo-java-tracker.
I will do some tests to determine the limit I should put.

Have a nice day !

[2021-02-19 09:19] lnicola commented on #11606
I'm seeing the same thing. Looks like it's hitting some quadratic or exponential behavior in `getCoreJs`:

![image](https://user-images.githubusercontent.com/308347/108484242-4e5f3f00-72a4-11eb-8495-3c9eac4c5421.png)

[code]

[2021-02-19 09:25] lnicola commented on #11606
As a quick workaround, you can comment out the `$jshrink->minifyDirectToOutput($js, $options);` call in `Minifier.php`.

This might be no longer needed in Matomo 4.

[2021-02-19 09:35] #17235 closed, assigned to nobody

[2021-02-19 11:01] lanwen commented on #11962
@tsteur md5 has a very low entropy and lowers the security, could we reopen the issue and stop using md5?

[2021-02-19 11:36] Findus23 commented on #11962
Hi @lanwen,

MD5 hasn't been used anywhere near passwords since Matomo 3.0, so there should be nothing that needs to be changed.

If you are referring to something else, please expand on that.

Update and minor correction: I check again and indeed Matomo does use md5 in the password process, but just as a first step before passing it to password_hash() which should not affect security.

[2021-02-19 16:07] lanwen commented on #11962
thanks for the prompt reply, however combination of different hashing algorithms usually leads to reduced security of the resulting hash.

https://crypto.stackexchange.com/questions/44178/why-not-combine-hashing-algorithms

even if it doesn't affect the security, why to complicate the process?

[2021-02-19 17:45] Findus23 commented on #11962
Hi,

You are right that simply using password_hash() directly would be better. But there is one good reason why the code looks as it is and why one can't really change it:

An ancient version of Matomo (<3.x) used md5 directly to hash passwords. This wasn't great, but at the time password_hash also didn't exit yet.

But if people update from the old version of Matomo to a recent one, Matomo can't

[2021-02-19 18:17] davidjmann opened #17237 "Unwanted date filter automatically added to Live.getLastVisitsDetails"
I've been working on migrating a system from Piwik 3 to Matomo 4; as part of this, I've been investigating why an API call which worked on the old system isn't working on the new one.

In brief, our system is making the following call:
/index.php?module=API&method=Live.getLastVisitsDetails&idSite=1&token_auth=xxxxxx&filter_limit=-1&segment=visitId%3D%3D12345678

I.e. we're requesting the details o

[2021-02-19 19:43] lanwen commented on #11962
Thank you @Findus23,

I could understand the complexity of supporting for the multiple algorithms, however it would always be the case, when new algorithms developed. In Spring Framework that was addressed quite simple - via the delegated password hasher, which just embeds some prefix to a hash to show - which kind of hasher was used for real. Then a task of maintaining the dictionary of prefix to

[2021-02-19 20:14] Findus23 opened #17238 "Use password_hash directly instead of password_hash(md5())"
As discussed in https://github.com/matomo-org/matomo/issues/11962#issuecomment-782231136

At the moment Matomo stores passwords as password_hash(md5($user_password)). While this isn't a huge issue, this also isn't ideal.

To avoid this one could create a migration that adds some version string to this hash and then modifies the code to allow logging in with this modified old hash. In addition a ne

[2021-02-20 09:36] #9947 closed

[2021-02-20 09:36] #9355 closed

[2021-02-21 19:26] tsteur commented on #9947
Hi @dev-101 if you don't mind I'll reopen this one as it is still an issue.

[2021-02-21 19:35] tsteur commented on #17237
Thanks for creating this issue and investigating the root cause @davidjmann This sounds like a regression so we will look into this soon.

[2021-02-21 19:53] dev-101 commented on #9947
Sorry, I thought this was resolved while doing some cleanup of very old issues,

[2021-02-21 19:56] dev-101 commented on #9947
This is resolved I think, you have to tap on row first to reveal extra icons.
edit: oh, the groups ("+") are still affected, but expanded individual pages are not.

[2021-02-21 20:04] tsteur commented on #9947
Exactly. It opens the links directly when there is a link on it like in the Pages report.

Also on desktop with a small window it doesn't work AFAIK but this wouldn't be as important.

[2021-02-22 02:57] mattab commented on #13690
Fixed in  #17115

[2021-02-22 02:57] #13690 closed

[2021-02-22 03:04] mattab commented on #17106
fixed in #17096 AFAIK

[2021-02-22 03:04] #17106 closed, assigned to nobody

[2021-02-22 08:47] perdittmann commented on #11720
(I had just realized I can search the source code right here, that was me being self-deprecating. 😄)
Thanks for the link and for your help. I will try my luck there!

[2021-02-22 09:35] dev-101 commented on #9947
Well, no, just re-checked on my phone, it's all working properly. It affects only desktop chrome and emulation modes from what I can tell, but works on real devices. I knew that I closed this issue for a reason, but your comment convinced me otherwise. I think it's safe to close it, regardless of desktop issue still being present. Someone may reopen it or create a fresh one if it turns out to be a

[2021-02-22 10:48] Findus23 opened #17242 "Performance report table not displayed properly"
reported in https://forum.matomo.org/t/version-4-2-0-darstellungsfehler/40770

This might be a regression of 4.2.0.

The tables in the Behaviour -> Performance reports have a very wide first column when displayed in German (English seems to be fine) causing a horizontal scrollbar to be needed to see all columns.

![grafik](https://user-images.githubusercontent.com/6266037/108697864-b19adc80-7503-1

[2021-02-22 14:12] Atala commented on #16949
I have the same issue. I don't understand why having `enable_userid_overwrites_visitorid = 0` would fix this behavior. If I understand correctly the docs the behavior @AAudusseau  and I wants is  `enable_userid_overwrites_visitorid = 1` (matomo 4 default). According to the docs :
[code]
(ref: https://matomo.org/docs/user-id/#when-user-id-overwrites-visitor-id-feature-is-enabled)

so I think the do

[2021-02-22 15:10] modiboa commented on #17232
My Matomo server has only events now, we are in testing phase. How Can I invalidate the day to test if it will fix the problem?

[2021-02-22 15:14] sgiehl commented on #17232
@thiagofabre you can find the possibilities to do that here: https://matomo.org/faq/how-to/faq_155/

[2021-02-22 15:30] modiboa commented on #17232
I just try to invalidate the day, but it's still not showing on the **Behaviour** section.

[2021-02-22 19:29] tsteur commented on #17242
Be great to check if this is indeed a regression (not sure we changed anything there or not). If not, feel free to remove the regression label and unassign the milestone.

[2021-02-22 19:37] tsteur commented on #9947
👍

[2021-02-22 19:52] dev-101 commented on #13124
This might help:
https://stackoverflow.com/questions/19908431/how-to-calculate-percentage-when-old-value-is-zero

[2021-02-22 19:57] dev-101 commented on #13124
Anyway, once I spoke with someone who was in financial business / calculations and told me that if initial value is 0, than whatever next positive value comes up (e.g. next month) it's assumed to be 100%. Because, strictly mathematically speaking, it would be +inf (division by 0). I think it is just an assumption / by convention, depending on department, field etc. By that logic, if you dropped fr

[2021-02-22 21:18] math-GH opened #17245 "just space characters are missing in German translation"
Matomo V 4.2.0

settings (module=CoreAdminHome&action=home)

German translation

system summary: segments: after the number(zeroI is a space to the next word missing

![grafik](https://user-images.githubusercontent.com/1645099/108771203-9f4c8d00-755b-11eb-8265-2f198d395df0.png)

[2021-02-22 21:22] math-GH commented on #17245
English is fine

![grafik](https://user-images.githubusercontent.com/1645099/108771848-7d9fd580-755c-11eb-96a0-bf5c54d1354a.png)

[2021-02-22 21:33] math-GH opened #17246 "manage users - different behaviour of the action buttons"
Matomo 4.2.0

system settings -> Manage Users

![grafik](https://user-images.githubusercontent.com/1645099/108772277-146c9200-755d-11eb-9c3d-f507800f2813.png)

lets take a look on the "action" column, especially the hover behave of the buttons

The edit buttons works fine
![grafik](https://user-images.githubusercontent.com/1645099/108772417-454cc700-755d-11eb-8b38-eaa27e18e582.png)

but the delete

[2021-02-22 21:37] math-GH opened #17247 "manage users - role select list - super user"
system settings

manage users:

rolese select list in English looks fine
![grafik](https://user-images.githubusercontent.com/1645099/108773041-171bb700-755e-11eb-9409-96a40eb1121b.png)

but in German the translation of "Super User" is longer than the select list (="Hauptadministrator")
![grafik](https://user-images.githubusercontent.com/1645099/108773333-737ed680-755e-11eb-8d9b-327c9b4b6cb1.png)
S

[2021-02-22 21:57] math-GH opened #17248 "All websites dashboard images may show as 404"
Matomo 4.2

"All websites" dashboard (module=MultiSites&action=index)

The image is not displayed
![grafik](https://user-images.githubusercontent.com/1645099/108774886-8d211d80-7560-11eb-96c8-bf398d609deb.png)

404 error received
![grafik](https://user-images.githubusercontent.com/1645099/108775434-5c8db380-7561-11eb-906e-8a414cabfce0.png)

[2021-02-22 22:05] Findus23 commented on #17245
Hi,

The mistake is in the translation:
https://github.com/matomo-org/matomo/blob/817b3ba57d89fe751be5160d0a183a4e562fb528/plugins/CoreHome/lang/de.json#L87

I'll fix it on Transifex.

[2021-02-22 22:07] Findus23 commented on #17245
It turns out it was even me who introduced the error (those spaces are nearly invisible with the transifex UI:
![grafik](https://user-images.githubusercontent.com/6266037/108776451-b478ea00-7562-11eb-8b6a-6c9b88a13aff.png)

[2021-02-22 22:07] #17245 closed, assigned to nobody

[2021-02-22 22:18] Findus23 commented on #17248
This should be fixed with #17249
Indeed the URL for loading the image is generated incorrectly, but it seems no-one apart from you noticed this since 2014 as everyone else has their website set up so that `https://matomo.example/?someparam` is the same as  `https://matomo.example/index.php?someparam`.

[2021-02-23 08:46] sgiehl commented on #17247
Guess that might be a general problem with our dropdowns.

[2021-02-23 09:05] AAudusseau commented on #16949
@Atala the doc has not changed so I agree it is still incorrect.

[2021-02-23 14:17] modiboa commented on #17232
I just want to mention that I am using the java tracker library to do that

[2021-02-23 15:56] aldafu opened #17253 "Critical error during database upgrade "The date '-0001-11-30' is a date before first website was online" when updating to 4.2.0"
The database upgrade fails when trying to update Matomo from 4.1.1 to 4.2.0 with the following error.

[code]

## Expected Behavior
Running the database upgrade script should finish successfully or provide manual steps on how to make it run successfully.

## Current Behavior
Database upgrade fails and leaves Matomo in an unusable state.

## Steps to Reproduce (for Bugs)
1. Initiate auto update for

[2021-02-23 17:15] diosmosis commented on #17232
@thiagofabre would you be able to provide access to your matomo and/or database to help diagnose? (if so, email dizzy@innocraft.com)

[2021-02-23 17:22] #17248 closed, assigned to Findus23

[2021-02-23 18:03] Findus23 commented on #17253
Hi @aldafu,

Can you try out applying the changes from https://github.com/matomo-org/matomo/pull/17254 and report back if the update goes through afterwards?

[2021-02-24 00:39] tsteur commented on #7066
@diosmosis @sgiehl @flamisz

moving the thoughts from slack into this issue now. We could have a folder say `tests/demo` (can easily rename any time) where we have a lose collection of useful individual HTML pages (could partially also be PHP) that are needed/useful to reproduce or test certain features.

For example:

* `tests/demo/optout-with-tracker-on-same-page.html` which would embed the opt

[2021-02-24 01:38] flamisz commented on #16776
@tsteur when you say exception you mean really exception, like we do with other exceptions? So matomo actually can't be loaded with not supported browsers this way? That's what we want to achieve here?

Because this can be done in the `FrontController` so it will happen everywhere this way (even with the widgets).

Or we want to show an notification or warning only but let the page loaded and used

[2021-02-24 02:08] tsteur commented on #16776
An exception be fine. We wouldn't want users to be able to use it maybe since it might not be secure.

[2021-02-24 02:35] mattab opened #17257 "core:archive error: Segment 'visitorFirstVisitTime' is not a supported segment."
Started on Jan 24th

Got the following error (every hour) on demo2 when the archive runs via cron

Segment 'visitorFirstVisitTime' is not a supported segment.

[2021-02-24 02:47] tsteur commented on #7066
We just discussed the idea that the support team might need this as well so we're thinking of a new public repository where we create PHP files instead of HTML files and have eg `idSite`, `hostname` and `token` etc configurable.

[2021-02-24 02:48] diosmosis commented on #17257
@mattab this might be due to the recent change to code checkout when we released 4.2.1. The premium plugins no longer exist (they were untracked files, so they were probably removed).

[2021-02-24 03:12] MaghSamana opened #17259 "Performance metrics issues after 4.2 update"
Since two days I updated to 4.2

First problem: avg. server time in performance appears almost double, all of a sudden.
Second problem: in page urls (or titles) several visits no longer show when opening the page performance report.

What happened? Everything used to run very well in 4.1.1 and now important metrics got seriously messed.

[2021-02-24 08:35] aldafu commented on #17253
Confirming, that this change allowed the upgrade script to finish successfully and the web dashboard can be opened again.

[2021-02-24 10:18] Findus23 commented on #17259
It might be caused by https://github.com/matomo-org/matomo/issues/17102
but I have no idea how this can result in different numbers being sent to Matomo

[2021-02-24 12:56] KrzysztofMadejski opened #17262 ""Add to dashboard" icon on every graph"
## Summary

Currently to create a dashboard I need to choose specific section and graph type in order to add it to the dashboard. Sometimes they are hard to find. It would be a lot easier to build dashboard using graphs that I see on different tabs.

I'd like to have on every graph at the bottom left an icon saying "add to dashboard". A popup should show if there are mutiple dashboards available.

[2021-02-24 16:06] diosmosis commented on #17191
Closing as user reports this has been resolved

[2021-02-24 16:06] #17191 closed, assigned to nobody

[2021-02-24 16:14] #17253 closed, assigned to nobody

[2021-02-24 16:27] eramirezprotec opened #17263 "Row evolution not working in several reports"
## Expected Behavior
When clicking on a row evolution icon, I should be able to see correctly the evolution of the row data:

![image](https://user-images.githubusercontent.com/32161884/109011289-0596f400-76b1-11eb-955d-67a841868ccc.png)
![image](https://user-images.githubusercontent.com/32161884/109011495-3a0ab000-76b1-11eb-98dc-f8a2cc78da6c.png)

## Current Behavior
Three different errors are oc

[2021-02-24 18:53] JE4GLE commented on #16942
I don't think, this would be an advantage, because you would have to trigger the pageview request with PHP after the page has loaded using an async call. Orherwise you can't send the pageview ID from JavaScript to PHP.
The best way would be to always register the pageview using PHP and provide the id to JavaScript during the page generation.

[2021-02-24 21:18] tsteur commented on #17259
I'll put it for now as a regression in the milestone just to make sure we look into it and see if there is an issue or not.

[2021-02-24 22:57] diosmosis commented on #17263
Seems to happen only some subtable rows. Here's a link to one failure: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=General_Actions&subcategory=customdimension2&popover=RowAction$3ARowEvolution$3ACustomDimensions.getCustomDimension$3A$257B$2522idDimension$2522$253A$25222$2522$252C$2522idSub

[2021-02-25 03:34] diosmosis commented on #17257
@tsteur fyi, this is a configuration issue on demo2 so shouldn't be a blocker for a 4.2.1 release

[2021-02-25 03:43] tsteur commented on #17257
👍  do we need to do something or is it @mattab  or was it maybe only a one time issue?

[2021-02-25 03:45] diosmosis commented on #17257
there was a change made on demo2 to automatically remove untracked files so pulls would always work. unfortunately premium plugins are untracked files, so they got deleted too. So I guess we have to change the command back and reinstall the premium plugins? i'm not sure how premium plugins got on there to begin with (manually installed?)

[2021-02-25 04:00] tsteur commented on #17259
There might be indeed a problem

new:
![image](https://user-images.githubusercontent.com/273120/109100426-b4a6fe80-7789-11eb-94b8-caf9b318a758.png)
old:
![image](https://user-images.githubusercontent.com/273120/109100434-b96bb280-7789-11eb-9447-bba43f2775ad.png)

Seems mostly it behaves the same but eg not for `domLoading`
![image](https://user-images.githubusercontent.com/273120/109100642-2f70198

[2021-02-25 06:26] flamisz commented on #15501
Hi @mattab and @tsteur
I was looking into this issue and this is what I found:

I believe the `search` and `search_cat` already trimmed here:
[ActionSiteSearch](https://github.com/matomo-org/matomo/blob/3141a74700044ea930bee0f53618906f6f8a1a4b/plugins/Actions/Actions/ActionSiteSearch.php#L258-L259)

I checked the `action_name`, found a place where it should be trimmed, I make a PR for that.

I che

[2021-02-25 06:34] ufoproger opened #17267 "trackPageView still sends page performance report after disablePerformanceTracking"
## Expected Behavior

Disable all performance tracking. This feature required for single page application (SPA).

## Current Behavior

**With disablePerformanceTracking** all page views contains old page performance.
**Without disablePerformanceTracking** first request contains not complete page performance (without DOM info), second request contains full page performance and other next requests d

[2021-02-25 09:50] ghost opened #17270 "Make all cookies httpOnly"
## Summary
The matomo_lang cookie is not served as httpOnly, which was flagged by a pentest of our app. For use in high security or regulated industries, this can be a dealbreaker.

## Your Environment
* Matomo Version: 4.1.1
* PHP Version: 7.4.7
* Server Operating System: Amazon Linux
* Additionally installed plugins: none

[2021-02-25 10:02] sgiehl commented on #17270
Hi @jenrol
Thanks for creating the issue. I will create a PR to change that behavior.

[2021-02-25 10:23] sgiehl commented on #17263
@diosmosis Might be related to our discussion in https://github.com/matomo-org/plugin-MarketingCampaignsReporting/pull/62

[2021-02-25 10:32] ghost opened #17272 "Upgrade to jQuery version 3.5.0 or above"
## Summary
jQuery version 2.2.4 has an XSS vulnerability.

_In jQuery versions greater than or equal to 1.2 and before 3.5.0, passing HTML from untrusted sources - even after sanitizing it - to one of jQuery's DOM manipulation methods (i.e. .html(), .append(), and others) may execute untrusted code. This problem is patched in jQuery 3.5.0._

See [CVE-2020-11022](https://nvd.nist.gov/vuln/detail/CV

[2021-02-25 10:47] sgiehl commented on #17272
Thanks for creating the issue. We haven't yet update jQuery as it caused problems with our Wordpress plugin. Once we have solved it I guess we will update it at least in the next major release. See https://github.com/matomo-org/wp-matomo/issues/314

Also I'm note sure if those vulnerabilities apply for Matomo (if you have a proof of concept for any of them in Matomo, it would be great if you could

[2021-02-25 10:54] ghost commented on #17272
I don't know if the XSS is really applicable for Matomo, it's very likely that it's not. It just popped up in a pentest report and I wanted to let you know. It was classified as an unverified medium level issue, so it's not a dealbreaker for us.

[2021-02-25 16:54] #17270 closed, assigned to sgiehl

[2021-02-25 17:29] danguyf opened #17274 "Plugin to provide Login via Central Authentication Service (CAS) on Matomo 4.x"
## Summary
Many existing Matomo 3.x installs are using the [CASLogin](https://github.com/fnp/piwik-CASLogin) plugin, developed in response to [this issue](https://github.com/matomo-org/matomo/issues/598), to integrate SSO with Matomo.

With the move to Matomo 4.x, many of the methods and classes used by CASLogin have been removed.  The developer has not responded to [an issue opened Dec 2020](http

[2021-02-25 19:36] tsteur commented on #17272
FYI we applied the recommended patch for this one in https://github.com/matomo-org/matomo/commit/3aeb55f0020597c044f85e58b190bfe9eb42ebf3#diff-c1ed6b08f25739fbcb946deed857f1b4a1aaaf560af98a8e7256fecf129fa967R8 . I'm quite certain we can close this one?

[2021-02-25 19:54] tsteur commented on #15501
@mattab looks indeed like event names etc are already trimmed (by looking at code, not reproducing). Do we maybe otherwise still have the link to the original conversation?

[2021-02-25 20:22] tsteur commented on #17267
Hi @ufoproger thanks for reporting this bug and the suggestion for the solution 👍  very appreciated. I've created the PR in https://github.com/matomo-org/matomo/pull/17275 and the fix should be included in the 4.3.0 release (not the next 4.2.1 release)

[2021-02-25 20:49] peterbo commented on #15579
@tsteur - now one of the bigger instances was updated from 3.x to 4.2 and the difference in loading time with many goals is huge. Not saying that there aren't other things that could be optimized in the future, but now, working with bigger dashboards is a lot quicker. Thank you!

[2021-02-25 21:14] tsteur commented on #17267
Sorry didn't notice you had already created a PR. closed mine again :)

[2021-02-25 21:14] tsteur commented on #15579
Awesome @peterbo that's great to hear

[2021-02-25 21:59] MaghSamana commented on #17259
There is a problem. I've been seeing this for the last days now, ever since the upgrade. Metrics are messed up, server time appears to be near double, DOM metrics have nearly disappeared, and when the page performance icon is opened it doesn't register the visits any more.

Also: I had auto-archiving set with a cron job every hour. Now, though the archiving log shows no errors and neither do the s

[2021-02-25 23:28] tsteur commented on #17257
@mattab I have removed `git add -A .; git stash` and install the plugins again so assuming this is fixed. It might be overall not needed what you added there as it may be fine that when we're testing something we wouldn't want it to be overwritten every time and otherwise you could maybe add a git checkout or something.

[2021-02-26 03:20] tsteur commented on #7066
FYI I have created https://github.com/matomo-org/test-examples for now. The initial structure and how everything works is just an initial start and we can change anything.

[2021-02-26 03:40] tsteur commented on #7066
FYI created https://developer.matomo.org/guides/reproducing-issues as a start for a new doc and also added https://developer.matomo.org/guides/contributing-to-piwik-core#creating-a-pull-requestsharing-test-example-pages for now.

@diosmosis @sgiehl @flamisz @mattab any other thoughts on this or can we close this issue maybe? We could add another check to the [pull request template](https://github.

[2021-02-26 04:11] mattab commented on #11670
A customer is asking about the logme feature and the security implications.

Btw I added this (bold part) in the FAQ as it seems it should work to POST data (and more safe)

Would be valuable to have oAuth for this or otherwise  use a secure hash for the passwords for this logme feature.

[2021-02-26 11:17] phaser32 commented on #16868
THANK YOU SO MUCH !!! This solve the issue!!

[2021-02-26 16:06] aboettger-tuhh opened #17279 "mysqld got signal 11 every hour"
[code]

## Your Environment

* Matomo Version: 4.2.0
* PHP Version: 7.4.15
* Server Operating System: Docker Images
* Additionally installed plugins:

* Browser:
* Operating System: mariadb:10, ubuntu:20.04

[2021-02-26 16:43] hameno commented on #12636
@diosmosis I just wasted more than an hour until I found this -.- Could you please make that more explicit in the FAQ or even better provide full support for a secure-by-default setup? 😠

[2021-02-26 18:50] diosmosis commented on #12636
Hi @hameno, sorry it took you more than an hour to search for this. I can add more details to the faq, but I'm not in charge of prioritizing work in matomo, so I can't say if/when installing w/ an SSL connection to mysql will be supported.

[2021-02-26 18:58] MaghSamana commented on #17259
***UPDATE***

I posted about this issue in matomo forum and since the new performance API was the problem, I was advised to replace piwik.js, matomo.js and the files in js/ with those of 4.1.1 version.

Everything returned back to normal. No more crazy server fluctuations and disappearing DOM.

All the other problems are also fixed. The hourly updating is back, visits are no longer missing from th

[2021-02-27 08:39] Chardonneaur opened #17281 "JS Tracking code should validate with the W3C validator"
When using https://validator.w3.org the Matomo Tag Manager code snippet is flagged as a warning.
Solution: please change <script type="text/javascript"> into <script>

[2021-02-27 09:36] dev-101 opened #17282 "switching from Date Range [Last30] to Week report in date selector selects first month"
... but it would be better to switch to last / current month!

See video demo - when switching to Week in date selector, it goes back to the previous month (Jan), instead of the current (Feb). Thus, we have to manually fix it by selecting the last (current) month in the date selector first, in order to include those weeks in chart / report! :(

https://user-images.githubusercontent.com/5383059/109

[2021-02-27 10:13] Findus23 commented on #17281
This is a fun "issue": In HTML5 javascript is the default for the `<script>` tag and therefore adding the type is redundand. The [standard]() even says:

But Matomo can't know that the website you paste the tracking (or tag manager) code into is a HTML5 page accessed with a modern browser.
It could also be an ancient website only used by IE8 users and in this case I think adding the type is requir

[2021-02-27 10:49] dev-101 commented on #17282
What I suggest is to automatically select last (current) week when we switch to this mode.

[2021-02-27 18:22] bartounet16 opened #17283 "No data - Wordpress + Matomo"
Hello i have installed Matomo analytics plugin on Wordpress.
I have no data ...
i am surprise that

* Heure du serveur: 2021-02-27 18:21:12
* Heure du site Web: 2021-02-27 19:21:12 (Les dates ci-dessous sont affichées dans le fuseau horaire du site Web)
* Sync users & sites: Next run: 2021-02-26 14:29:58 (-1 jours 4 heures) ( Last started: Inconnu. Last ended: Inconnu. Interval: daily)
* Archive:

[2021-02-28 09:35] dl-lim opened #17284 "Ecommerece: Cart stats by Campaign"
I'm using the API to call Campaign Names, sources, etc (Sales by Referrer), via the CSV, and in the documentation, it is said to add `&abandonedCarts=1` or `&idGoal=ecommerceAbandonedCart` to the URL, but these don't show the abandoned cart info in the pull.

Alternatively, if there is a way to track just the number of Add to Cart or Checkouts, even without the abandoned cart info, is this current

[2021-02-28 16:18] diosmosis commented on #17282
Hi @dev-101, this is definitely a bug, thanks for finding and reporting it, much appreciated!

[2021-02-28 19:54] mattab commented on #15501
@tsteur sure, you can find it in conversation #641565

[2021-02-28 19:55] mattab commented on #17257
Ok makes sense. I will close the issue for now.

[2021-02-28 19:55] #17257 closed, assigned to mattab

[2021-02-28 20:03] mattab commented on #7066
This looks great!  :sunglasses:

it would be helpful if the test examples also add the basic tracking (pageviews, events, content tracking, outlink, download tracking, goal id 1, custom dimension 1)  but it can be added later of course and it'd be fine for me to close this

[2021-02-28 20:07] mattab commented on #12636
Updated the FAQ https://matomo.org/faq/how-to-install/faq_26273/ with:

@hameno feel free to create a new issue here to add support for installing over SSL (although we won't work on it anytime soon, there may be someone else who is interested and creates a pull request, which we would then review and try to merge)

[2021-02-28 20:52] davidmehren commented on #17279
I can confirm the regular segfault after upgrading to 4.2 today.
For me it is this query:

<details>
<summary>Details</summary>

[code]
</details>

When running MariaDB in valgrind I get:
[code]

This looks like a MariaDB bug to me, so I'm going to have a look at their bugtracker.

[2021-02-28 20:58] davidmehren commented on #17279
This seems to be https://jira.mariadb.org/browse/MDEV-24953

As mentioned there, setting `optimizer_max_sel_arg_weight` to a value less than 16000 works around the crash. I set it to 15000 and can confirm the query mentioned above now works.

[2021-02-28 21:01] Findus23 commented on #17279
I guess this confirms that this is an issue outside of Matomo.

Many thanks for collecting that info for anyone stumbing across this issue.

[2021-02-28 21:01] #17279 closed, assigned to nobody

[2021-02-28 21:05] flamisz commented on #15501
@mattab what is this number? where can I find this conversation?
thanks

[2021-02-28 21:19] #7066 closed

[2021-02-28 21:36] tsteur commented on #17281
Thanks for this @Chardonneaur . @Findus23 @Chardonneaur not sure if we should keep the issue open or close it? We wouldn't remove it for now while we support older browsers so tempted to close the issue and re-open when we drop support for older browsers maybe (which is unlikely to happen in the next 2-3 years).

[2021-02-28 22:16] diosmosis commented on #17284
Hi @alderson59, unfortunately we don't answer questions in this issue tracker but only handle feature requests or bug reports. It'd be better to ask this question in our forum: https://forum.matomo.org/ . Thanks for your understanding.

[2021-02-28 22:16] #17284 closed, assigned to nobody

[2021-02-28 22:22] diosmosis commented on #17259
Hi @MaghSamana, this might be a bit late, but did you see more metric issues for certain browsers? Ie, did visitors who used certain browsers have less accurate data than others?

Also, when you say everything returned to normal, do you mean old dates that had bad data before now have good data?

[2021-02-28 23:02] OnlineArts commented on #17138
@diosmosis
Sorry, for the late response. I was quite busy with different stuff. Today, I finished the upgrade (the cronjob was disabled as well a  the apache web-server). The segment data are in fact lost again...

Noticeable, the last statements failed:
[code]

I'm not sure from where these indexes are coming from but I'm pretty sure that there were added automatically or through a guide or an of

[2021-03-01 00:33] diosmosis commented on #17138
Hi @OnlineArts, did you manage to find out which sql statement in the update caused the data to disappear?

[2021-03-01 04:46] mattab commented on #13976
fixed in  #17231

[2021-03-01 04:46] #13976 closed

[2021-03-01 10:36] davidlemaitre commented on #17182
Facing with this issue on Matomo 3.14.1 for sending scheduled reports. The first ones are OK, for the next 6 ones, this error occurs :
`WARNING [2021-03-01 00:08:13] 28013  /var/www/html/libs/Zend/Mail/Protocol/Abstract.php(324): Notice - fwrite(): send of 6 bytes failed with errno=32 Broken pipe - Matomo 3.14.1 - Please report this message in the Matomo forums: https://forum.matomo.org (please do

[2021-03-01 12:15] jayhoogle commented on #16156
This is a must-have for our analytics setup - we track impressions of content that can often have multiple authors, something we need to keep track of for the correct distribution of royalties. Without support for multiple values we have to manually search our CMS for the authors which is time-consuming and should be unnecessary. Are you planning to implement this feature?

[2021-03-01 19:48] Findus23 commented on #17242
On demo.matomo.cloud (which is still on 4.1.1) this is displayed perfectly fine, so I'm pretty sure this is a 4.2.0 regression

[2021-03-01 20:46] diosmosis commented on #17182
Hi @davidlemaitre, thanks for the info! For the reports that failed, would you be able to provide the report configuration found in the "Email Reports" admin page? Is there anything different about the ones that failed compared to the ones that succeeded? (Note: if you do not wish to post that information publicly, you can email me: dizzy@innocraft.com)

[2021-03-01 21:03] Findus23 commented on #17182
In Matomo 4 the old Mail library has been replaced with a modern one, so this error might be fixed there

[2021-03-01 21:12] tsteur commented on #16904
Putting this into the milestone to see if we can somehow improve this or workaround it when a visitor has hundreds of thousands of visit to still have it fast. It may not be easily possible and that be fine. Ideally we also wouldn't really make it slower for the normal tracking request.

[2021-03-01 21:19] ladle3000 opened #17286 "UTM Parameters Stripped"
We use several marketing platforms with UTM parameters, and for some reason when we view the visitor log the utm_source and others are not present on the urls, though they are there when we visit via the campaign link and are present in the browser address bar.

For example our push service is aimtell with utm_source=aimtell

I am unable to make segments that find this parameter.  These parameters

[2021-03-01 22:13] diosmosis commented on #16904
@tsteur

This depends on whether you'd want the year period to work w/ cohorts. If not, then it's really a judgement call on the number of months.

Though, I would expect the query to be fast if requests force new visits is always used? Since the last known visit would normally be recent? Unless it's common for visitors to come from years ago? Or does the ordering not get applied in the query?

[2021-03-01 22:16] tsteur commented on #16904
In our case all visits are recent like last 1 hour. So it's probably unrelated to how far back we look.

[2021-03-01 22:17] diosmosis commented on #16904
Maybe it's the index being updated constantly? Just a guess.

[2021-03-01 22:20] tsteur commented on #16904
@diosmosis I'm not so much into details right now but it was basically fetching thousands of visits every time so I'm assuming the sorting might be the problem or so I'm not really sure. If you're keen to look into this I can let you know where this happens on slack potentially.

[2021-03-01 22:29] diosmosis commented on #16904
Quick idea: Would a local (not synced) file based cache that just saved the idvisit => idvisitor mapping for 30mins be useful? If less than 30 mins, we use the cached value. If 30 mins passes we run the query again. If forcing a new visit, we unset the cache value if it's there.

[2021-03-01 22:36] tsteur commented on #16904
I'm not sure if it would help because

* you might have heaps of tracker instances and each instance would need its own cache plus they would need to have a way to invalidate each other's cache otherwise there might be outdated information
* when tracking heaps of traffic then the caches could be quite big. This could be solved though by having a custom nested directory structure for this to make

[2021-03-01 23:01] Starker3 opened #17287 "Admin Users should have option to select between Real Time or Pre-Processed when creating segments"
## Summary

Admin users should preferably have the option to choose between Real-Time segments and Pre-Processed segments.
Currently only a Super User has the option to choose anything other than the default option for processing segments:
![image](https://user-images.githubusercontent.com/20905821/109570339-bf2d1380-7b4e-11eb-8b33-abee82fe4d3f.png)

Would likely want to keep this disabled by defa

[2021-03-01 23:06] tsteur commented on #17287
@Starker3 do you have the output of the system report maybe? This way we could replicate some settings potentially just in case it depends on the settings.

[2021-03-01 23:22] Starker3 commented on #17287
@tsteur system check attached
[matomo_system_check_02-03-2021.txt](https://github.com/matomo-org/matomo/files/6065058/matomo_system_check_02-03-2021.txt)

[2021-03-02 01:57] tsteur opened #17290 "Tests slow since 4.2.1"
The tests are slow since 4.2.1 release. For example some tests in Matomo for WordPress the performance got worse from 1s per test to 20s. Also various developers reported slow tests.

The reason is https://github.com/matomo-org/matomo/pull/17225/files which is executed on every update.

In particular https://github.com/matomo-org/matomo/blob/4.2.1/plugins/Installation/ServerFilesGenerator.php#L310

[2021-03-02 02:13] diosmosis commented on #17290
I guess we could simply remove the call and later add a system check to make sure the .htaccess files are correct or something?

[2021-03-02 03:59] tsteur commented on #17290
fyi this one is called in a loop https://github.com/matomo-org/matomo/pull/17225/files#diff-b8b358078043274d41d6a5a6afa7ddade12b2db2d472b52b8fd5a8a513e839bfR334 and not needed actually since it's called anyway.

regarding removing it: not sure why we delete them in the first place

[2021-03-02 04:22] diosmosis commented on #17290
@tsteur I assume it's in case the logic in the code is wrong and we want to make sure we have the correct .htaccess files. I can't think of another at least.

[2021-03-02 05:19] #16637 closed

[2021-03-02 05:25] #17267 closed, assigned to tsteur

[2021-03-02 07:01] crazy-max commented on #17182
@Findus23 Same on Matomo 4.2.1:

[code]

[2021-03-02 07:47] sgiehl commented on #17182
@crazy-max  I'm not sure how that actually happens for you, but I assume this might be a bug in TCPDF. It actually calls an `array_merge` on parameters, when one might not be an array, on purpose.
As TCPDF is kind of unmaintained at the moment we need to see how to fix that.

[2021-03-02 08:05] davidlemaitre commented on #17182
Hi @diosmosis, we have a lot of users configuring scheduled reports keeping the default hour. At different hours, all reports are sent successfully but there are only 2 reports maximum to send.

I checked matomo_report db table, I found nothing different between the succeeded reports and the failed ones except for "ts_last_sent" field containing an old date but this is also the case for the last 2

[2021-03-02 08:13] sgiehl commented on #17182
@davidlemaitre  Does the `fwrite(): send of 6 bytes failed with errno=32` error only occur when the report is sent, or also when you click the download button for the report in the UI?
That error message for example might occur when the mail server closes the connection due to incorrect TLS version or similar.

[2021-03-02 10:52] Sayeeda12 opened #17291 "this.setRequestQueueInterval() doesn't work as expected"
Hi colleagues,

       I've been using Matomo library for quite some time now and I recently implemented bulkTracking using the library. I wanted to set an interval for which duration the events will be queued and the bulk request will be sent after this interval.
I got to know that setRequestQueueInterval() can be used to set the queue interval. However, it doesn't work like an interval but rathe

[2021-03-02 11:03] sgiehl commented on #17291
Hi @Sayeeda12,
unfortunately we don't answer questions in this issue tracker but only handle feature requests or bug reports. It'd be better to ask this question in our forum: https://forum.matomo.org/ .

Btw. It seems you maybe misunderstood the purpose of bulktracking. Bulktracking is a technique to send multiple tracking requests at once. Those tracking requests still need to be fired using `tr

[2021-03-02 11:03] #17291 closed, assigned to nobody

[2021-03-02 11:11] davidlemaitre commented on #17182
@sgiehl these errors occur only for some scheduled reports. If I click on "Send report now" or "Download" buttons, nothing to notice in the logs.

[2021-03-02 11:49] dev-101 commented on #17012
Actually, my comment was erroneous in a way that I referred to old Matomo / Piwik metrics, which were completely unrealistic. I didn't know that you completely revamped this section and introduced new visuals, now those reports are much more realistic!

Sorry about any potential confusion, I haven't checked that section for a very long time, because it was kinda useless to me :)

_edit:_ Just to b

[2021-03-02 20:40] flamisz commented on #17129
Fixed by #17277

[2021-03-02 20:40] #17129 closed, assigned to flamisz

[2021-03-02 20:44] flamisz commented on #17209
fixed by #17276

[2021-03-02 20:44] #17209 closed, assigned to flamisz

[2021-03-02 21:42] flamisz commented on #17104
I reproduced the bug a different way (maybe it's useful for someone):

I changed the return of the `plugins/Transitions/Controller.php` -> `renderPopover()` method:

[code]

This way I got the error message on the **Behaviour -> Transitions** page.

[2021-03-02 22:02] mattab commented on #15501
Here is what user wrote:

Before:

Before (original report):

[2021-03-02 22:26] flamisz commented on #15501
Thanks @mattab, it's useful. In this case indeed the action name was the problem. The PR will fix that.

[2021-03-02 22:36] tsteur commented on #16904
FYI one (reactive) workaround that might help is adding a third column to the index idsite idvisitor index like this (not fully tested):

[code]

In my case this improved the performance from `0.13436800s` to `0.00180650s`

[2021-03-02 22:39] tsteur commented on #16904
We could also have a setting to block new visits for a specific visitor after for example say 500 visits. However, this might make it hard for people to troubleshoot this issue and sometimes you will want to track that many visits. It's not uncommon that if you have daily visitors over a 1-2 years to reach such a number. So it can't really be a solution. Maybe there could be some upper limit thoug

[2021-03-02 23:01] flamisz commented on #17080
Reference from [Date.prototype.setMonth()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setMonth)

[2021-03-02 23:36] tsteur commented on #17290
Just realise independent on a fix the globr in https://github.com/matomo-org/matomo/blob/4.2.1/plugins/Installation/ServerFilesGenerator.php#L310-L333 is not even needed since it's trying to remove the .htaccess files for these hard coded paths anyway.

I reckon too though that we should simply remove that call to `deleteHtAccessFiles` and instead delete files manually if they are no longer needed

[2021-03-03 00:20] tsteur commented on #17287
Thanks for this @Starker3 this seems to be not shown by default. Thought this was the case already. The API does only require view permissions already AFAIK so this could be also exposed to the UI. It might be bit hard to understand for people though when to choose what so we'd need to maybe review again how that works / how it is configured.

[2021-03-03 11:12] sgiehl commented on #17182
@davidlemaitre which PHP version are you using? Also are you using a cron for archiving? Maybe the log level is different for webserver and cli and so you can see the errors only when triggered through cli and not UI maybe?

[2021-03-03 15:45] utrautmann opened #17298 "Transitions: Website-category shows wrong percentage summary"
![grafik](https://user-images.githubusercontent.com/25771066/109828529-01348300-7c3d-11eb-8334-db3d7e50a39f.png)

See screenshot please.
For example 48 from 81 is not 72% .

This wrong percentage calculation I can only find in Website-category not in the other transitions-categories.

* Matomo Version: 4.2.1

Not sure if it is the same like in [#15968]

[2021-03-03 17:54] utrautmann opened #17299 "Referrer detection does not recognize subdomains when wildcards used in site URLs"
In some individual Matomo websites that I maintain the transitions report shows the own website as traffic source in category "Website". I mean with "own website" the measurable  URL that was set up that the visitors use to access this website.

However, the number of accesses "From Website" is significantly lower than in the incoming traffic for internal pages (see screenshot please), so I assume

[2021-03-03 20:03] tsteur commented on #16922
* In the generate commands throw an exception if dev mode is enabled and not installed through git
* Printing a warning when calling `development:enable` if it's not installed through git
* We could also show the warning in the Matomo admin if dev mode is enabled, but not installed through git. We would maybe only show this to super users.

[2021-03-03 20:17] tsteur commented on #9938
@mattab can we move this to another milestone or are we doing something as part of this issue?

[2021-03-03 20:24] mattab commented on #9938
It can be put in the backlog 👍

[2021-03-03 23:26] tsteur opened #17301 "Store the segment hash in the DB table"
refs https://github.com/matomo-org/matomo/issues/17050 which we're currently still discussing and looking into.

In any case I'm thinking to fix the segment hash problem hopefully once and for all I think we should introduce a new column to the segment DB table that stores the segment hash that will be used when fetching archives etc. This will also make it future proof if we ever change the segme

[2021-03-04 01:41] flamisz commented on #17242
The table width difference is coming from the header row: in German, the worlds are longer, like `Avg.` vs `Durchschnittliche` and we don't make them shorter, if they long we use the whole word.

There was a language file update in January which made it to version 4.2:
https://github.com/matomo-org/matomo/pull/17137

That causes the issue.

Any recommendation to solve it? Modify the logic of how w

[2021-03-04 05:17] diosmosis commented on #17301
We would still need to do the `urlencode($definition)`, just only when adding the column value, I guess? Although segments can also be specified in INI config and I don't know if we ever specified how they should be encoded.

[2021-03-04 09:28] sgiehl commented on #17242
Changing the translations won't make much sense, as it could be changed again anytime, also the words might be much longer in other languages.

[2021-03-04 17:35] dlecan commented on #17274
Time to move to OpenID Connect with CAS?
https://plugins.matomo.org/LoginOIDC
https://apereo.github.io/cas/6.2.x/installation/OIDC-Authentication.html

[2021-03-04 19:35] flamisz commented on #17242
Yes, that's true. I can modify the css of the header rows to cut the text if too long (hovering will show some extra info anyway).

[2021-03-04 20:33] tsteur commented on #17301
I don't know if there's any issue with that but would assume these segments should be encoded the same way maybe as usual but because it's not sent along a URL the outer URL encode would not be needed. Generally, if it's a real time segment or a segment from the config then I suppose we'd need to fallback to the regular hash calculation since there be no other choice pretty much.

You mean during

[2021-03-04 22:14] Findus23 commented on #17242
I'm not the biggest fan of truncating the header rows.
A German user would then see something like
[code]
which doesn't really feel that much more useful than the current status.

To be fair, I can't think of a better solution. I don't even know a way to make the German translation any shorter.

[2021-03-04 22:23] sgiehl commented on #17242
Truncating doesn't make much sense though. If we do that it would be even better to cut out the middle, so you see beginning and end, which should make it easier to identify columns.
But maybe it would be better to limit the width of the columns and maybe reduce the fontsize using javascript until it fits (or reaches a certain minimum). might look a bit strange if the column headers have different

[2021-03-04 22:28] tsteur commented on #17242
We could also just leave things the way they are as it's maybe not too bad and smaller font size and other things may be bit more of a compromise?

[2021-03-04 23:52] diosmosis commented on #17242
This suggestion might be a bit late, but if nothing else provides a good solution, we could break individual long words up and allow multi-line cell headers (if not allowed already). For example:

[code]

[2021-03-05 00:11] diosmosis commented on #17301
If it's a custom segment it won't be in the table. If it's real time, and it's in the table then we'd use the hash (to my understanding). The config ones are weird since no one specified exactly how to specify them. I guess we can check if there's an operator in it that isn't encoded (like, `=`) and if so, encode, otherwise don't.

Yes and when adding new segments to the table.

This solution seem

[2021-03-05 00:54] MaghSamana commented on #17259
I couldn't tell about browsers because in most cases the visits no longer appeared in the page performance tab. And the general performance metrics themselves took over half a day (or a whole day) to update, instead of every 1 hour.

In first picture [capture1] you can see what happened after the update for 3 days - until I copied the .js files from the previous version (with the former performanc

[2021-03-05 01:03] diosmosis commented on #17299
Hi @utrautmann, sorry you're experiencing this. If your website URL is being listed as an external website here, then that must mean for one or more visits, that website URL is treated as the referrer URL. Would you be able to check if this is the case in the `Acquisition > Websites` report? Would you also be able to try and find a visit that has this as a referrer in the Visits Log (maybe by usin

[2021-03-05 02:06] tsteur commented on #17301
I'm thinking it's actually the best long term solution since you want to be able to change the algorithm for how to calculate the hash at any time (eg different segment string or do it based on parsed segment expression). There is of course still the urlencode/urldecode thing but that's a different problem which we eventually will hopefully tackle with #17050 .

[2021-03-05 02:12] diosmosis commented on #17301
Well changing the algorithm still means you have to deal w/ old hashes and new hashes, so I'm not sure it will really be aided by a hash table column, where we can put only one value.

[2021-03-05 03:04] flamisz commented on #17242
I like @diosmosis suggestion. That was my original idea, just wrap the text for equal lines, but looked weird, but just because I haven't added the `-` on the end 😄. Headers are already multi-line, we just break the lines only on spaces, that's why long words make wide columns.

I'll make some screenshots for different solutions and share it here.

[2021-03-05 03:30] flamisz commented on #17242
The three variants:

Current solution:
<img width="1208" alt="Screen Shot 2021-03-05 at 4 08 31 PM" src="https://user-images.githubusercontent.com/6749509/110063247-a4b59d00-7dcf-11eb-82fd-063110ae4c6f.png">
Solution with truncating words (twig filter):
<img width="1195" alt="Screen Shot 2021-03-05 at 4 07 51 PM" src="https://user-images.githubusercontent.com/6749509/110063170-7f289380-7dcf-11eb-8

[2021-03-05 03:55] diosmosis commented on #17242
I think I'll save my opinion until german speakers weigh in because I have no idea if that's more readable or not. :)

[2021-03-05 04:14] diosmosis commented on #17259
Hi @MaghSamana thanks for your reply! Just to better understand, are you saying when you downgraded, you only replaced your piwik.js/matomo.js file but kept everything else at the higher Matomo version (ie, php code)?

And if you're still willing to help us find the issue, would you be able to check the browsers report for the days in the second site where there are no dom metrics, and post some o

[2021-03-05 07:46] sgiehl commented on #17242
For german the last option would work. But can't say anything about other languages.
@flamisz  are you using something like the css `hyphens` setting?

[2021-03-05 08:56] tauschn opened #17307 "E-Mail Reports are not sent automatically"
Hello :)
I have to select the individual day for my daily reports and trigger them to be sent myself. No matter what time I choose, nothing goes out automatically to the email.
In general, I have had problems since 3 updates, as my admin menu works only as mobile.
Thank you for support!
Best,
Tauschn

[2021-03-05 11:08] Findus23 commented on #17307
So the manual mails work, but the scheduled ones don't?
It might be that your php-cli is not set up correctly to send mails, but the php your webserver uses is. You can try the test-email command: https://matomo.org/faq/troubleshooting/faq_34856/

Also you might want to try out using SMTP for Mails instead of the default php mail function.

BTW: I'd recommend you to ask general troubleshooting que

[2021-03-05 14:47] heurteph-ei opened #17308 "Detect when outgoing http requests (like in the Marketplace) do not work and notify user instead of hanging"
## Expected Behavior
Matomo dashboards and configuration pages should be displayed whereas the Marketplace is reacheable or not.

## Current Behavior
When Matomo server (on premises) is behind a firewall (and cannot ping www.matomo.org) and the _Marketplace_ component is active, all dashboards, configuration pages and so on are not responding (more than 6 minutes with no response then error mesage

[2021-03-05 15:25] Findus23 commented on #17308
Hi,

Maybe this guide might help you: https://matomo.org/faq/troubleshooting/faq_16646/

[2021-03-05 16:10] heurteph-ei commented on #17308
I agree,
BUT as by default, the configuration is with internet enabled and marketplace active, another newbie like me will encounter the same disapointing issue... Matomo should not freeze during 5 minutes for such a minor feature.

[2021-03-05 16:20] heurteph-ei opened #17309 "Private life configuration should be available per site"
If my On Permise Matomo server is used to analyze Internet and Intranet sites (small organization), the private life configuration should be available per site instead of for all sites.

![image](https://user-images.githubusercontent.com/79993552/110142854-e433b780-7dd6-11eb-8455-7a8b301f25c9.png)

[2021-03-05 16:44] Findus23 commented on #17309
Hi,
This sounds very similar to https://github.com/matomo-org/matomo/issues/6653

[2021-03-05 16:52] heurteph-ei opened #17310 "HTTP response should be 401 instead of 200 when accessing reporting API with wrong AUTH TOKEN"
## Step to reproduce on the online demo server
Call https://demo.matomo.cloud/index.php?module=API&method=API.getMatomoVersion&token_auth=TOKEN_AUTH (yes, the authentication token is wrong, this is wanted)

## Expected Behavior
If an error occurs, the HTTP response code should not be `2xx`, but `4xx` (in case of request error, in my case I am not authenticated so the HTTP error code should be `404

[2021-03-05 16:57] heurteph-ei commented on #17309
Oh, yes, you're right. When I searched on the backlog, the filter `is:issue` was checked by default and I did not see the #6653

[2021-03-05 16:57] #17309 closed, assigned to nobody

[2021-03-05 19:46] flamisz commented on #17242
@sgiehl I used this for the screenshot, but planning to double check how it works in different browsers:

[code]

[2021-03-06 20:48] flamisz commented on #17242
Unfortunately the css solution is not perfect. It works well in firefox and safari for me, but in chrome it looks like this:

<img width="1218" alt="Screen Shot 2021-03-07 at 9 41 35 AM" src="https://user-images.githubusercontent.com/6749509/110220282-6cc26d00-7f29-11eb-9d91-109da640e25c.png">

We can add this css, probably doesn't hurt anything, but won't be perfect for everyone, on every languag

[2021-03-07 03:33] diosmosis commented on #17310
Hi @heurteph-ei, you're right, thanks for the bug report!

[2021-03-07 03:36] diosmosis commented on #17308
Hi @heurteph-ei, you're right, Matomo should behave better in this situation, letting the user know there needs to be a configuration change.

[2021-03-07 04:54] diosmosis commented on #17298
Hi @utrautmann, I'm not able to reproduce this. Can you check if the counts in the screenshot above add up to the total (ie, 81)? If not, what do they add up to?

[2021-03-07 04:58] #16222 closed

[2021-03-07 12:17] utrautmann commented on #17298
Hi @diosmosis , let us take another example - please check here:
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=month&date=2021-02-28&segment=&category=General_Actions&subcategory=General_Pages&popover=RowAction$3ATransitions$3Aurl$3Ahttps$3A$2F$2Fdive-shop.net$2F

![grafik](https://user-images.githubusercontent.com/25771066/110

[2021-03-07 15:51] diosmosis commented on #17298
@utrautmann thanks for finding a link to reproduce this, and for reporting the bug!

[2021-03-07 19:15] tsteur commented on #17308
BTW I'm thinking that it might be a lot slower than usual because premium features are installed. Without this, Matomo core would likely load a lot faster when internet is disabled. Not saying nothing needs to be done just adding this as an FYI.

[2021-03-07 19:16] tsteur commented on #17308
Maybe a system check would help to detect if internet is enabled and then point out the setting may need to be disabled?

[2021-03-07 19:17] tsteur commented on #17310
Just fyi this might affect various monitors and could break BC. So I'm putting this for now into Matomo 5 where we can consider doing this.

[2021-03-07 20:17] tsteur commented on #17242
Hi, just checked using `Durchschn.` instead of `Durchschnittliche` improves this significantly. There's still a bit of scrolling but that's OK. The label column has a normal/expected width then. Considering in English we're also using `Avg.` and for other columns in German we also use `Durchschn.` so it's not even really consistent. @sgiehl or @Findus23  could someone adjust the German translation

[2021-03-08 01:34] diosmosis commented on #17308
That would help, but only if the system check was reachable, which it might not be in this case.

[2021-03-08 02:16] flamisz commented on #16510
Hi @mattab,

I created a PR for this. Really it's a kind of hack, playing with some css attributes, but looking better: (tested on firefox and chrome)

<img width="657" alt="Screen Shot 2021-03-08 at 3 05 54 PM" src="https://user-images.githubusercontent.com/6749509/110265773-3831dc80-8021-11eb-9177-436d842878e0.png">

[2021-03-08 02:33] KarthikRaja1388 commented on #7533
Request from a user: We now want to compare which paths lead to more conversion value
1. Customers ordering a free sample and then buying (ecommerce conversion with product price = 0 and then ecommerce conversion with product price > 0)
2. Customers buying directly without ordering a free sample (visit with product price > 0, but without product price = 0)

[2021-03-08 02:59] mattab commented on #16510
Screenshot looks good to me @flamisz :+1:

[2021-03-08 08:32] sgiehl commented on #17242
@tsteur Changed it to `Durchschn.` for all texts where the English version uses `avg.`

[2021-03-08 09:01] davidlemaitre commented on #17182
@sgiehl Using official Matomo Docker image version 3.14.1 (PHP 7.4 embedded). A cron is used for archiving every hour.
Found also this `fwrite(): send of 6 bytes failed with errno=32` error for notifyTrackingFailures task :

`INFO [2021-03-08 00:09:45] 24948  Scheduler: executing task Piwik\Plugins\CoreAdminHome\Tasks.notifyTrackingFailures...
WARNING [2021-03-08 00:09:45] 24948  /var/www/html/lib

[2021-03-08 09:07] sgiehl commented on #17182
@davidlemaitre could you try if running the command works for you and if the email is sent our correctly:
[code]

[2021-03-08 09:16] davidlemaitre commented on #17182
Test email received without errors. My problem is about some reports sent at default hour (majority of users don't change the value in the settings of the report), it seems there errors appear only when there is a lot of reports to send.

[2021-03-08 09:21] davidlemaitre commented on #16018
Bug still present in 3.14.1 version

[2021-03-08 10:52] sgiehl commented on #16018
I don't think we will fix this in a Matomo 3 at all. If this bug is still present in Matomo 4 it will get fixed there

[2021-03-08 10:53] sgiehl commented on #17182
Might it be possible that your mail server cuts the connection when too many emails are sent?

[2021-03-08 16:50] #17086 closed, assigned to flamisz

[2021-03-08 16:51] Chardonneaur opened #17316 "Time range period acts differently when comparing segments"
When we use the segment comparison feature, it is then not possible to have a month period/week time range. It sticks automatically to a day period.

## Expected Behavior
When the segment comparison feature is used it should respect the time period selected. For example if I select March 2021, only months should be plotted on the graph, not days of the month.

[2021-03-08 18:31] tsteur commented on #17242
Great, thanks @sgiehl 👍   I think we can close this issue?

[2021-03-08 19:07] sgiehl commented on #17242
It might actually happen again for any column with a longer name in any language. But we can always reconsider fixing it another way I guess

[2021-03-08 19:21] tsteur commented on #17242
Yes that's the idea. If there are issues again in other languages where they are using the abbreviation and the label column gets way too wide then we can look into it again if needed.

[2021-03-08 19:21] #17242 closed, assigned to flamisz

[2021-03-08 21:55] tsteur opened #17317 "Making it easier to know when a code review is required"
Hi everyone, currently it's not always clear which pull requests needs another review. Especially when there are several iterations of changes during a review.

Currently, once a pull request is ready for a review we assign the label `Needs Review`. Then someone reviews it and the issue stays in `Needs Review` until merged. This makes it hard to know when the issue needs yet another review. You of

[2021-03-08 21:59] tsteur opened #17318 "Making sure we review all pull requests"
Hi there,

currently we have a few PRs that are waiting for reviews for > 10 days like https://github.com/matomo-org/matomo/pull/17264 and https://github.com/matomo-org/matomo/pull/17266

I wonder if we could have a github action or some other reminder that pings all of us if there was an issue with "needs review" and there was no comment or review for 7 days? Or maybe even just 5 days? Of course

[2021-03-08 22:24] mattab commented on #17317
btw maybe the github review feature could be leveraged? eg. https://docs.github.com/en/github/managing-your-work-on-github/filtering-pull-requests-by-review-status (i'm not sure if it meets the needs but maybe it could)

[2021-03-08 22:25] tsteur commented on #17317
@mattab it doesn't really help unfortunately

[2021-03-08 22:27] diosmosis commented on #17317
:+1: could help. would make things clearer for me at least (though it's not a big time sink for me atm to just look through all the PRs in the current milestone and see what can be merged/what needs reviews)

[2021-03-08 22:45] sgiehl commented on #17317
Sounds fine I guess.
we could maybe also use the review states more actively. Once the required changes have been done by the author it might maybe also be helpful to dismiss reviews that should have been solved with new commits. If multiple peoples are doing reivew we might otherwise end up with having multiple states from different reviewes within one PR.

[2021-03-08 22:47] diosmosis commented on #17318
Lately the problem I've had is just not having time, w/ deploys and L3 issues. That's mostly died down though, so I should be able to get back to reviewing regularly. It could be prioritized higher I suppose (ie, pr reviews before investigating L3 issues).

[2021-03-08 22:49] sgiehl commented on #17318
@tsteur such stuff should be possible with github actions for sure. Maybe there are already some matching actions like: https://github.com/marketplace/actions/pull-request-reviewer-reminder-action

[2021-03-08 23:50] diosmosis commented on #17316
I believe this is by design, to mimic the GA comparison feature, so a change to show the previous N periods as normal would be an enhancement.

cc @mattab

[2021-03-09 00:44] flamisz commented on #17317
@diosmosis comment about the milestone is very helpful too:

It means if I work on something which has a milestone in the future but finished earlier, I should set the milestone to the very next one?

I like the idea to set/unset labels. As the team grows, more and more active PRs will have, this could really help quickly go through.

[2021-03-09 01:27] diosmosis commented on #17317
@flamisz no, but it would help to set the milestone to the same one as the issue. What goes into the next milestone has to do with the value a change might bring & the potential cost of introducing it into live systems & making it stable, rather than what is coded and ready to go at any given moment. And @mattab & @tsteur are the ones in charge w/ prioritization at this level, so we wouldn't chang

[2021-03-09 07:07] flamisz commented on #17318
This action is promising:

https://github.com/actions/stale
https://github.com/marketplace/actions/close-stale-issues

[2021-03-09 11:06] sgiehl commented on #17286
@snoroozi  sorry for the delay. Depending on the configuration those parameters might be stripped and instead used as referring campaign. If so you should be able to segment by campaign.
Btw. are you using the MarketingCampaignsReporting plugin (https://plugins.matomo.org/MarketingCampaignsReporting)?

[2021-03-09 12:01] ladle3000 commented on #17286
I was not using that plugin, but have just installed it.

I was using the default setup for the most part.  How can I set it so these are not stripped?  I don't remember any settings that could affect this.

Further, the plugin you just suggested, will that only work going forward?  Or is it possible to some how fill it with the data from pre plugin installation?

[2021-03-09 20:11] Chardonneaur opened #17323 "Compare time period do not work within email report"
When using the calendar in order to compare a day to the previous one, those data comparison do not appear within the email report generated.

## Expected Behavior
Normally, the email report should be as the standard reports, so to say it should show the differences between the current period and the previous one.

## Current Behavior
Currently this setting is ignored by the email report feature.

[2021-03-09 20:38] #17237 closed, assigned to flamisz

[2021-03-09 21:29] diosmosis commented on #17323
Hi @Chardonneaur, you're right, the comparison feature should be disabled on that page as long as email reports do not support comparison directly.

[2021-03-10 08:38] Starker3 opened #17327 "Add plugin name as comment to SQL query"
## Summary

It would be really useful for troubleshooting performance issues on the database server if people knew exactly which plugin/report was triggering.

After discussing with @mattab he suggested that it would quite useful if the plugin name was added as a comment to SQL queries that are sent to the database.
This would make it quite obvious in a lot of situations which plugins are causing

[2021-03-10 08:42] ehermontesinos commented on #11221
Hi,

I am having the same problem when I try to upgrade from version 3.5.1 to version 4.2.1. The update process by launching the console core: update command ends correctly but I get the following message that is repeated several times:

The error was: SQLSTATE [42S22]: Column not found: 1054 Unknown column 'location_region' in 'piwik_log_visit'
    * /var/www/matomo/core/Columns/Updater.php:
Erro

[2021-03-10 08:55] sgiehl commented on #11221
@ehermontesinos  The `location_region` column actually should already haven been there since version 1.9. So maybe there was already a problem before, so the column didn't exist. You can try to create the column manually, so the update works correctly.

[2021-03-10 09:06] ehermontesinos commented on #11221
Thank you very much for the answer @sgiehl

I have reviewed the corresponding table piwik_log_visit and it already has that field added in version 3.5.1 which is where I am currently.

It is true that before showing these errors when launching an ALTER TABLE, a message of "Error during plugin update" appears much higher up.

It is also true, when I did a test on the Test environment that we have,

[2021-03-10 09:14] sgiehl commented on #11221
@ehermontesinos it might be better if you try to get some help on our forum: http://forum.matomo.org
Besides `IntranetGeoIP` all other plugins you mentioned should have versions compatible with Matomo 4. Those plugins should be updated automatically as well. But that doesn't have anything to do with the error message you mentioned.

[2021-03-10 09:20] ehermontesinos commented on #11221
I have already posted this same problem on the Matomo forum to see if they give me a solution.
Even at the time I released that sentence manually, I finished modifying the table, but Matamo continued to recognize that the database was not updated correctly, staying on the "Matomo Update" screen.

Best regards and thanks for your time.

[2021-03-10 09:21] ehermontesinos commented on #11221
I have seen this on the Matomo forum

https://forum.matomo.org/t/problem-3-0-3-to-4-1-1-upgrade-i-can-t-get-past-the-database-upgrade-required-page/ 40642/6

What happens to me, and what it does is directly rename those plugins that give you warning. With that it says that the problem was solved.

[2021-03-10 09:34] mattab opened #17328 "edge case: archiving fails with "Warning - unlink(/tmp/assets/archive_blob_2021_01.csv): No such file or directory""
This is not a new issue and is an edge case.

Seen for example at the bottom of secure.helpscout.net/conversation/1447774828/1347025?folderId=1624867

But also other occurrences recently: secure.helpscout.net/search/?query=%22Warning%20-%20unlink%22

Full error message:

[2021-03-09 00:31:25] piwik.WARNING: /var/www/html/core/Db/BatchInsert.php(119): Warning - unlink(/var/www/html/tmp/example.inno

[2021-03-10 12:42] sgiehl commented on #15501
@mattab it seems all action/event names are meanwhile already trimmed. The funnel problem was already solved in a L3 issues, so guess there is actually nothing left to do here. If the user is still having that issue, maybe he can describe the issue a bit more clearly, so it's easier for us to look for a potential reason.

[2021-03-10 14:53] sgiehl commented on #17286
Aren't those visits with utm parameters detected as campaigns already? Afaik it should only throw parameters away that are used for detecting campaigns and stuff like that.

That plugin only works for data that is tracked after it was installed/activated. There is no possibility to update already tracked data.

[2021-03-10 15:44] n-gram-hub opened #17329 "Vivaldi browser"
It looks like Piwik considers Vivaldi browser a Chrome browser (there's no Vivaldi icon too)

[2021-03-10 16:18] sgiehl commented on #17329
That might depend on the Matomo version you are using. The detections are done using device detector.
Do you have a useragent of a browser that is not detected correctly?

[2021-03-10 20:37] Findus23 commented on #17329
Hi,

This might be intentional by the Vivaldi team:

[2021-03-10 20:40] sgiehl commented on #17329
Ah. Interesting. Guess in that case there is actually nothing we could do about.

[2021-03-10 20:40] #17329 closed, assigned to nobody

[2021-03-10 22:18] tsteur opened #17330 "Add date period to segment archive queries"
When there is an archiving query for a segment, then we don't know which time period this query is selecting because the time period was already included in the query when the temporary table was created (https://github.com/matomo-org/matomo/blob/4.2.1/core/DataAccess/LogAggregator.php#L273)

![image](https://user-images.githubusercontent.com/273120/110702749-cee7de80-8257-11eb-9ec9-11a7d096fa06.p

[2021-03-10 22:25] tsteur commented on #17301
another good benefit is that when the hash is stored in the DB, and we see a query in the processlist, then we can map it more easily to a specific segment https://user-images.githubusercontent.com/273120/110702749-cee7de80-8257-11eb-9ec9-11a7d096fa06.png

[2021-03-11 03:50] flamisz commented on #17330
I'm investigation this issue and I see something that can be the root of the issue (or at least that's why a couple of things should work but not working).

In this part of the code:
https://github.com/matomo-org/matomo/blob/3688fff9947853789ef748ec3e74d814a8214517/core/DataAccess/LogAggregator.php#L400-L411

we basically check if the the query starts with `SELECT`, but when we use the `SegmentQue

[2021-03-11 08:02] #17092 closed, assigned to nobody

[2021-03-11 08:11] #17080 closed, assigned to flamisz

[2021-03-11 20:09] carlgrundberg opened #17335 "Widgetize request with token_auth param fails if superuser session exists"
As your documentation says I have created a view-only user with a token and when using that token to show a widget I'm getting an error saying "This user has superuser access". It works if I load the same url while logged out or in another browser. Seems odd if it shouldn't work since this should be a fairly common case.

Example url: http://localhost:8000/index.php?module=Widgetize&action=iframe&

[2021-03-11 20:22] tsteur opened #17336 "Setting process_new_segments_from not respected when archiving bigger periods"
When configuring eg `process_new_segments_from = "segment_creation_time"` and you create a segment on December 12th 2021, then we're not supposed to archive any data before that.

The cron archive logic respects that. However, it seems that when it starts processing the week, month and year then it will archive for example all the days from Dec 1st - Dec 12th as part of the month archive and all t

[2021-03-11 22:21] flamisz commented on #17335
Hi @carlgrundberg, thanks for creating this issue. Very appreciated.
I've just tried it and I was able to reproduce this.
It is definitely a bug. Sorry about it, we’ll do our best so we can hopefully get things sorted soon.

[2021-03-11 22:23] flamisz commented on #17335
I tried it with admin user as well and got another error message:
[code]
The token I used was a `view` token.

[2021-03-12 03:11] tsteur commented on #17317
trying to summarise the thoughts so far from previous comments:

* The PR author adds "Needs Review" label and assigns the PR to a milestone (usually the same milestone as the referenced issue) once the PR is ready for a review
* The reviewer selects "Approve / Reject changes / Comment" when finishing a review so it's clear if a
PR is accepted or more changes are needed
* The PR author marks an in

[2021-03-12 05:02] flamisz commented on #17317
I like it, it's a very clean and simple workflow.

[2021-03-12 09:02] sgiehl opened #17341 "Update usage of Transifex API"
Our scripts to update the translations are currently using the Transifex API v2.
Today Transifex released the new API v3. This API has a changed authentication. See https://transifex.github.io/openapi/index.html#section/Authentication
Seems they've switched from authenticating with username/password to and authentication token.

We can still use v2, but need to update our scripts before end of 202

[2021-03-12 10:23] carlgrundberg commented on #17335
Thanks for confirming. I guess it would make more sense to check if a token-param exists before setting up the session auth, to avoid authenticating twice. But maybe it's hard to change in the current execution flow.

[2021-03-13 02:10] #17290 closed, assigned to nobody

[2021-03-14 19:50] diosmosis commented on #17336
@tsteur should this be done just for Cloud or for matomo core? (ie, the pluginOnly change was just done for cloud)

[2021-03-14 20:00] tsteur commented on #17336
@diosmosis should be done in both

[2021-03-14 20:25] #16374 closed

[2021-03-14 20:50] #10578 closed

[2021-03-14 20:50] #17104 closed, assigned to flamisz

[2021-03-14 22:22] tsteur opened #17344 "Automatically comment on PRs after inactivity"
see https://github.com/matomo-org/matomo/issues/17318#issuecomment-793471155

In #17318 we're discussing about following up automatically when a PR has been waiting for a review for too long. This issue is about automatically following up when we're waiting for the PR author.

We could maybe follow up with (community) PRs automatically if they have been inactive for a while for example when we're

[2021-03-14 22:23] tsteur commented on #17344
Any thoughts @mattab @sgiehl @flamisz @diosmosis ?

[2021-03-14 22:23] tsteur commented on #17318
@sgiehl regarding https://github.com/marketplace/actions/pull-request-reviewer-reminder-action

do you know from when they start the timer to measure the turnaround time? Maybe it won't work for our case regarding the labels etc?

@flamisz for closing issues automatically created https://github.com/matomo-org/matomo/issues/17344

[2021-03-15 00:07] #17317 closed, assigned to nobody

[2021-03-15 00:07] tsteur commented on #17317
Great, I've put this into the docs and I'll close this for now and we can change it any time. Any feedback any time be greatly appreciated. :)

[2021-03-15 00:39] #17108 closed, assigned to flamisz

[2021-03-15 02:34] #17327 closed, assigned to nobody

[2021-03-15 02:34] #17330 closed, assigned to flamisz

[2021-03-15 02:42] flamisz commented on #17344
@tsteur the action I recommended can comment and add a label on the pr or issue first, and closing later (can setup how many days of inactivity triggers what). Lots of options.
I added to one of my private repos and set it up for dry run. It means it doesn't add any comment, label, or closing the pr, only we can see in the run log, what would have happened in live mode.

[2021-03-15 07:01] flyonce commented on #2592
Hi，what need to do if i wanna to use clickhouse as backend of matomo？

[2021-03-15 08:05] flamisz commented on #17336
I spend a couple of hours on this issue already (mostly learned about the archiving process itself) but still not getting closer. I happy to spend more, but would be maybe more useful if I can do pair programming on this with someone, or if someone can look at it and give some explanation :).
I'm not even sure the logic respects that setting for the days itself. I created a brand new matomo, with

[2021-03-15 08:25] sgiehl commented on #17318
@tsteur yes, that won't work depending on labels. guess the time is calculated based on the creation time.
Maybe there are some other actions that would be able to handle what we need. Guess someone would need to look a bit deeper into it. I actually only did a quick search yet. If there isn't anything we could also make a custom action to handle that.

[2021-03-15 08:36] sgiehl commented on #17344
For this case we could even use an GitHub App instead of an action. e.g. https://probot.github.io/apps/stale/

[2021-03-15 08:45] sgiehl commented on #2592
@flyonce Afaik we don't have supporting any other database backend on our roadmap, as it would require to much work.
Not sure if anyone ever tried running Matomo on clickhouse. But feel free to give it a try, if you are keen on it.
If it works smoothly feel free to report back to us :-)

[2021-03-15 08:53] sgiehl commented on #17336
@flamisz  If I understood that correctly the config for `process_new_segments_from` is actually only used when a segment is created/updated. In this case the segment archives are invalidated for the past (depending on the setting).
The normal archiving process doesn't use the setting. So if you hadn't run the archiver before, the archiver will also archive newly created segments for periods that h

[2021-03-15 12:43] sgiehl commented on #16990
should have been fixed with #17227

[2021-03-15 12:43] #16990 closed, assigned to nobody

[2021-03-15 13:31] thiname commented on #17323
I have a problem related to the time period and specificly the period selector in top of the screen.
In the settings of the e-mail report, I have defined a daily and weekly report (printscreen).
However, when I test the report (send the report now) I recieve a report only for the period of time 2021-02-14 to 2021-03-15 which is the top date picker value.

How do I define a daily and weekly report

[2021-03-15 14:33] Chardonneaur opened #17346 "Segment in a rollup with a does not condition do not work"
When I create a segment when the value does not equal something and apply it to a roll-up. It does not work. For example: creating a segment which does not contain such url within the visit...results in this filter to be ignored.

## Expected Behavior
If I apply a does not equal or does not contain to a segment, the result should end up in not having those visits within the segment results.

## Cu

[2021-03-15 15:31] jorgeuos commented on #17301
Just to make sure, there is no way today to edit a segment definition and keep historical data in the same report?

Gonna follow this issue, because it's a highly requested feature from our users.

Br, Jorge

[2021-03-15 17:16] davidlemaitre commented on #8996
This old issue should be closed.

[2021-03-15 18:18] utrautmann commented on #17299
Hi @diosmosis ,
I tried to analyze it more closely.

In addition to the www domain, I also track a subdomain on the Matomo website.
The configured URL is http://domain.de, so that I also include the subdomain in addition to www (sub.domain.de).
I also track one other domain so that `enableCrossDomainLinking` is switched on.
[code]
Here are the results of my research that I have done.

1. My www-do

[2021-03-15 19:49] tsteur commented on #17346
Hi @Chardonneaur thanks for creating this issue. As it's about a premium feature do you mind reaching out to our support? We only manage issues for core here. Thanks for that.

[2021-03-15 19:49] #17346 closed, assigned to nobody

[2021-03-15 19:55] tsteur commented on #17323
@thiname when you click on send report now, then it would use the selected date selected in the date picker and when the email is sent automatically (eg daily or weekly) then the configured period will be used. If you select a different date in the period selector in the top screen then AFAIK you should be getting the report for the date you are after.

[2021-03-15 20:12] tsteur commented on #17336
@flamisz not sure which config setting you used for the segments?

We can have a quick chat about it tmrw. Generally, when using eg `process_new_segments_from = "segment_last_edit_time"` (or any other setting that is not the default value `beginning of time`) then the goal would be to not archive any day before that day. If you had `segment_creation_time` then the archiver should not have launched

[2021-03-15 20:18] tsteur commented on #17344
@flamisz great that it could comment first say after 2 weeks and then close after 6 weeks. Does this time start from PR creation? Is there any chance to only start the time measurement for example from the time `Needs Review` label was added or once the PR is no longer `Draft` and then the time from the last commit or so?

So far it says `had no activity for a specified amount of time` but not sur

[2021-03-15 20:41] tsteur commented on #17318
I think just like in #17344 we could potentially use https://github.com/marketplace/actions/close-stale-issues as well and only apply the rule when `only-labels = Needs Review` and there has been no activity for say 7 days.

[2021-03-15 22:07] diosmosis commented on #17336
For the solution it may help to look at Cloud#250 as the solution here should be fairly similar.

[2021-03-16 01:23] diosmosis commented on #17336
@flamisz if you need more context I can explain the entire problem, too. It's a bug that involves four separate systems (core archiving/aggregation logic, archive invalidation, archive processing and segment creation/updating), so it makes sense it would be hard to understand w/o context.

[2021-03-16 01:25] flamisz commented on #17336
@diosmosis that would be great thanks. I see it's more complex than I expected and most of these are new for me.

[2021-03-16 02:30] flamisz commented on #17162
I see what's happening here. The calendar itself positioned absolutely, without any width, so it uses the parent's width (which is too small, so grows to fit the period). If we see in smaller screen (<600px) actually it looks good (see screenshot), because we changing the positions above the calendar, so under 600px the parent element will be the whole `top_controls` class.

Easy fix is too set a

[2021-03-16 02:56] diosmosis commented on #17336
@flamisz here is my best attempt, I'll explain how it emerges by explaining each system. The explanations are not completely in depth because there's still a lot of difference that isn't super important to know. Also I don't know how much you already know so feel free to ignore anything I'm explaining to you twice.

**core archiving/aggregation**

core archiving is the logic that starts in Archive

[2021-03-16 03:08] flamisz commented on #17336
Thanks @diosmosis for the detailed explanation. I'll go through it and let you know if I still have question.

[2021-03-16 13:29] #17070 closed, assigned to flamisz

[2021-03-16 15:34] frescoshop opened #17350 "Can ton "configure websites" in "search engine keyword performance""
Hi,
Using wordpress and woocommerce
I have set google and bink keyword imports (google and bing are connected and list "my website as available to import"), however i cant seem to "Configure Websites", both Google and Bing give same problem.
I select website and account from the dropdown and click save... it reloads the same page, nothing is saved. Both Google and Bing do the same.

So i think som

[2021-03-16 15:51] sgiehl commented on #17350
Hi @frescoshop
For questions about premium plugins please get in touch with our support. We actually only handle issues for Matomo core here.
Nevertheless, we have actually released a new version of that plugin a few hours ago, which should fix the problem.

[2021-03-16 15:51] #17350 closed, assigned to nobody

[2021-03-16 16:07] frescoshop commented on #17350
Hi Stafan,

Thank you. I have downloaded new version but when trying to install WP
plugin installer says "destination folder already exists" and quits. Please
advise

On Tue, Mar 16, 2021 at 8:51 AM Stefan Giehl ***@***.***>
wrote:

[2021-03-16 16:53] sgiehl commented on #17350
Sorry, I'm not very familiar with the wordpress version. Maybe @tsteur can help on this.

[2021-03-16 20:18] frescoshop commented on #17350
I figured it out. Thanks for initial reply! I literally downloaded and installed old version minutes before it was updated...

[2021-03-17 00:32] #8126 closed

[2021-03-17 00:32] #8127 closed

[2021-03-17 00:58] tsteur commented on #8126
this is now documented in https://developer.matomo.org/guides/apis

[2021-03-17 00:58] tsteur commented on #8127
this is now documented in https://developer.matomo.org/guides/apis

[2021-03-17 00:58] tsteur commented on #8125
this is now documented in https://developer.matomo.org/guides/apis

[2021-03-17 07:58] Chardonneaur commented on #15203
Hi all,
Just would like to say that on some of my French clients reports, it is true that the region map nothing is showing up.

[2021-03-17 11:22] mbdeme commented on #17274
@dlecan can we use the plugin LoginOIDC  to link CAS and motomo version 4?

[2021-03-17 15:13] Findus23 opened #17352 "Don't allow enforcing 2FA unless the superuser has set it up already"
reported in https://forum.matomo.org/t/problem-with-the-two-factor-authentication-setting/41128

If a user who is unable to set up 2FA accidentally enables `Require two-factor authentication for everyone`, they are unable to disable it until they set up 2FA.
(or they update the setting in the db:
[code]
)

I think this setting should only be allowed if at least one superuser has 2FA already set up

[2021-03-17 17:17] utrautmann opened #17353 "Channel Overview Widget initially too small--> Goals Overview"
When I click in the _Goals_ menu and then _Overview_, the widget for the _Channel type_ is loaded too small relatively often.
See the screenshots.
A reload helps.

Unfortunately I cannot reproduce it on https://demo.matomo.cloud/, but on few own installations.
It seems to occur when the response speed from the server is not very fast.

An JavaScript error does not happen at the browser console.

#

[2021-03-17 18:31] dlecan commented on #17274
Yes, you can, it's working perfectly!

[2021-03-17 19:38] diosmosis commented on #17353
@utrautmann I tried adding a `sleep(5);` to my index.php but still I'm not able to reproduce this. How long does it take for your requests to finish?

[2021-03-17 20:12] #16922 closed, assigned to flamisz

[2021-03-17 20:12] utrautmann commented on #17353
Hi @diosmosis ,

I uploaded a screencast video [here](https://recordit.co/JGeTuBCfXQ). If you slow down the playback, you will see between 00:01 and 00:02 seconds that the Channel Type widget is already displayed, but the 4 goals are still loaded. See also my screenshot from that moment.
At the end of the video you will see that the Channel Type widget is empty (has no data) when I scroll to right

[2021-03-17 20:52] #16803 closed

[2021-03-17 22:47] mattab commented on #8996
Thanks for the note @davidlemaitre

[2021-03-17 22:47] #8996 closed

[2021-03-18 00:28] tsteur commented on #17352
Ideally we would get someone to activate 2FA first and then allow enabling it. That might be a bit more work though so we could maybe rather add a message `Enforcing 2FA will require all users to set up 2FA using an authenticator app. This means they need to have a device like a smartphone or computer where they can install an app.`.

We could have otherwise checked if the current visitor has 2FA

[2021-03-18 00:32] flamisz commented on #16790
Hi @tsteur, we already have a message like this:

<img width="807" alt="Screen Shot 2021-03-18 at 1 30 45 PM" src="https://user-images.githubusercontent.com/6749509/111555873-2bb23e80-87ee-11eb-8cd7-d7ac8484c9a8.png">

We'd like to improve this one by checking the raw data or we'd like to handle these things completely separately?

[2021-03-18 00:44] tsteur commented on #16790
seems this was added as part of https://github.com/matomo-org/matomo/issues/13753

It seems to be only shown though when archiving was last executed more than a day ago and it's not shown to users with view access. The link to the set up archiving is also not 100% helpful because likely they have it already set up but they have some problem. That would be a different issue though.

I'm thinking we

[2021-03-18 03:46] flamisz commented on #16790
@tsteur thanks, yes it's clear now 👍

[2021-03-18 08:19] Chardonneaur opened #17355 "About geolocation: give the possibility to the user to search for its IP geolocation"
Currently within the geolocation plugin, the plugin directly identifies our IP address and indicate the geolocation. It would be great to have the possibility to check it for any IP address.

## Summary
Add a search bar for the geolocation admin plugin screen.

* Matomo Version: 4.2.1

[2021-03-18 08:22] Chardonneaur opened #17356 "Add an IP address to the database"
If an IP address is unknown, give the possibility to the user to add it to the geolocation database by hand.

## Summary
Give the possibility to enrich the geolocation database.

## Your Environment
* Matomo Version: 4.2.1

[2021-03-18 09:28] Findus23 commented on #17356
This should be possible with https://github.com/ThaDafinser/Piwik-IntranetGeoIP (which unfortunately hasn't been updated with 4.0 compatibility, but just replacing the requirement seems to work (https://github.com/ThaDafinser/Piwik-IntranetGeoIP/issues/44)

[2021-03-18 10:21] mbdeme commented on #17274
Thank you very much I will watch this.

[2021-03-18 10:49] sgiehl commented on #17355
@Chardonneaur  It's not possible to do this using the UI, but you can use the API method `UserCountry.getLocationFromIP`. Is that enough for you?

[2021-03-18 19:21] tsteur commented on #17274
@mbdeme @dlecan from what I understand this works and we could close this issue?

[2021-03-19 01:54] tsteur commented on #17272
closing this one for now as the fix is already applied

[2021-03-19 01:54] #17272 closed, assigned to nobody

[2021-03-19 02:31] tsteur commented on #17017
see https://developer.matomo.org/guides/jstracker-core this would need to be changed in `js/piwik.js` see how to embed tracking code https://developer.matomo.org/guides/tracking-javascript-guide

[2021-03-19 03:07] flamisz commented on #16787
Hi @tsteur, I have a question for the Matomo Tag Manager tab.

If the tag manager is not active or we don't have a published container yet, we can not show any js code. Is that correct? In that case we can provide a small explanation and link to the guide.

If we have any published container we can show tracking code, but which one? Do we want to add a select on this page?

[2021-03-19 03:39] tsteur commented on #16787
That's correct. We should be creating a container though as part of the site creation. So whenever a site is created, then we create a container. Not sure if this happens also during installation and of course someone could delete it so would need to check for it 👍

I would say we could simply show the one for`Live` for now but could also show a select if it's easy to do.

[2021-03-19 13:22] #10123 closed

[2021-03-19 17:26] Chardonneaur commented on #17355
This is awesome I didn't know it, thank you Stefan.
So, just using this url can give it to us: https://demo.matomo.cloud/index.php?module=API&method=UserCountry.getLocationFromIP&ip=194.57.91.215&format=xml&token_auth=anonymous
Not sure if that could be worth linking this method within the documentation. Thank you so much.

[2021-03-19 17:26] #17355 closed, assigned to nobody

[2021-03-19 17:35] Chardonneaur commented on #16939
Hi @davidplewa
I am facing exactly the same issue for a client of mine.
What I noticed is this, for the all channels report, when I click on the campaign visit segmented log, the campaign name is absent for some of them.
So it is like it was there... and then it has been deleted.
![Screenshot from 2021-03-19 18-32-56](https://user-images.githubusercontent.com/28002238/111820422-c475b680-88e1-11eb-

[2021-03-21 12:42] ronan-fontenay opened #17362 "Installer starts over after asking super user details"
On a fresh install, the setup process goes back to the step "1. Welcome!" just after step "5. Super User"

## Expected Behavior
Just after submitting the form "5. Super User", we expect to go to the next step or an error.

## Current Behavior
Just after submitting the form "5. Super User", the process goes to the step "1. Welcome!" without showing any error.

## Possible Solution
I wrote the solut

[2021-03-21 15:47] Findus23 commented on #17362
I think the reason, why noone ever noticed this issue before is that on most Linux distributions (I know at least of Debian) the "normal php package" (e.g. `php-fpm` or `php-cli`) already includes the PHP filter module.

But it makes sense that the installer should check for the existence and complain if it is missing.

[2021-03-21 19:31] tsteur opened #17366 "Improve configuration of rearchive_reports_in_past_last_n_months setting"
`rearchive_reports_in_past_last_n_months` already has `last_n` in the name but still expects to configure `last4` as value for example. Goal of this issue is that

* If only a number is configured, we skip the `substr` https://github.com/matomo-org/matomo/blob/4.2.1/core/Archive/ArchiveInvalidator.php#L799
* We also no longer hard code the `4` (which comes from `strlen('last')`) but would instead

[2021-03-21 20:50] #17362 closed, assigned to nobody

[2021-03-21 21:09] diosmosis commented on #16939
Hi @Chardonneaur, can't reproduce this myself (and it sounds like it could be unrelated to the original issue)... would you be able to check in the normal visitor log whether some of the visits that don't have the campaign in the segmented visitor log look like that as well? I'm wondering if the segmented visitor log is selecting the wrong data in this case or if there's something wrong w/ the vis

[2021-03-22 00:50] tsteur commented on #17301
also another great benefit is that it would allow us to join `archive_invalidations` table and segment table for example (or archive and segment table) in MySQL and directly see which segment for example a scheduled invalidation is, when it was created etc.

[2021-03-22 00:55] diosmosis commented on #17301
That would still require a like query, correct? Or some set of function calls since the name is in the done%.Plugin format. Or you mean going backwards from hash to definition? Yes that's definitely super useful :+1:

[2021-03-22 01:14] tsteur commented on #17301
I haven't thought this through but was hoping that something like `join... on concat('done', segment.hash) = name` works. For plugin specific archives would maybe also need to add the specific plugin name 👍  never tested a `like` actually (be great if that worked)

[2021-03-22 09:31] #15203 closed

[2021-03-22 10:50] MichaelRoosz opened #17371 "Ensure performance timings are sent as integer values"
I am currently testing Matomo 4.2.1.

The new Performance Report feature is not working at all:

- in matomo_log_link_visit_action the only field with non-NULL data is time_network and its always 0
- the other fields are always NULL
- -> Reports are empty

This is what the browsers are sending:

chrome
pf_net: 0
pf_srv: 1.150000000052387
pf_tfr: 1.2499999993451638

firefox
pf_net: 0
pf_srv: 2
pf_t

[2021-03-22 12:46] sgiehl commented on #17371
@MichaelRoosz thanks for creating the issue. Actually both values should be in milliseconds.
I'll prepare a PR to round the values, so we use integer in all cases.
Not sure if the float values might cause problems when storing them in database..

[2021-03-22 13:46] gpadbidri opened #17373 "On-Premise: Custom Reports"
We have an On-Premise Setup of Matomo - We have a requirement that EVREY registered Website on Matomo Dashboard displays **graph with Pageviews by hour, total pageviews, and then top pages of the day and their pageviews at the bottom**.
Is it possible to create a Report that splits the Total Page Views by the hour for the last 24 hours ?

My queries around the same :

1. Is it possible by creating

[2021-03-22 15:38] diosmosis commented on #17373
Hi @gpadbidri, unfortunately we don't answer questions in this issue tracker but only handle feature requests or bug reports. We'd greatly appreciate it if you asked the question in our forum: https://forum.matomo.org/ . Thanks for your understanding. Note: if you also have inquiries into our premium features, like CustomReports, please email our support at shop@innocraft.com.

[2021-03-22 15:38] #17373 closed, assigned to nobody

[2021-03-22 15:51] diosmosis commented on #17371
Might be related to https://github.com/matomo-org/matomo/issues/17259

[2021-03-22 16:16] sgiehl opened #17374 "Row evolution on subtables can cause errors randomly"
## Expected Behavior
Opening a row evolution for a subtable should always work correctly.

## Current Behavior
Sometimes when opening a row evolution for a subtable Matomo seems to choose the incorrect datatable to open the row evolution for and tries to open it with an incorrect action (and subtable id), which results in an error.

## Steps to Reproduce (for Bugs)
1. Go to demo.matomo.cloud
2. Ch

[2021-03-22 16:22] diosmosis commented on #17374
happened on the first try for me

[2021-03-22 16:24] sgiehl commented on #17374
it's seems to be kind of randomly. I guess the javascript uses the "wrong" instance to trigger the evolution, or at least the instance that is used is linked to the wrong datatable or something like that.

[2021-03-22 17:28] diosmosis commented on #17374
@sgiehl found that this bug has something to do w/ this code working incorrectly: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/CoreHome/javascripts/dataTable_rowactions.js#L167-L171

When we click the row evolution icon, it will trigger that code on the row action instance for the subtable row. The code notices it's in a subtable, and triggers the action for the main row, but with par

[2021-03-22 17:45] Chardonneaur commented on #16939
Hi @diosmosis
thank you very much for your answer, it feels good to be supported.
Here are the figures:
For a given day,
Within the Visit log:
7 visits which have a campaign name
Within the channel type for campaign:
7 visits but when I click on the segmented visit log only 3 of them have a campaign name (so they lost the campaign name for some reasons but are still considered as campaign)
Within

[2021-03-22 20:28] Starker3 opened #17375 "Browser based segmentation using "Contains" does not work as expected."
## Expected Behavior

When using a segment for example: `Browser Contains Chrome` we would expect that the segment would contain all browsers that contain `Chrome`, likewise for `Browser Contains Safari` etc.

## Current Behavior

Unfortunately at present it appears as though using `Browser Contains Chrome` the reports only show data for `Chrome` and `Google Search App` (see screenshots)
![image](

[2021-03-22 20:34] StevieKay90 opened #17376 "Huge query on Matomo hundreds of thousands of rows on repeat"
We have an issue where the following query, seemingly on repeat is pushing our db requirements for Matamo through the roof;

SELECT `visit_last_action_time` , `visit_first_action_time` , `idvisitor` , `idvisit` , `user_id` , `visit_exit_idaction_url` , `visit_exit_idaction_name` , `visitor_returning` , `visitor_seconds_since_first` , `visitor_seconds_since_order` , `visitor_count_visits` , `visit_

[2021-03-22 20:38] Findus23 commented on #11743
As no one reported this issue since, I assume this fix worked for everyone and this can be closed.

[2021-03-22 20:38] #11743 closed

[2021-03-22 20:39] Findus23 commented on #16865
This might be the same as #11540 and #17211

[2021-03-22 20:42] Findus23 commented on #10471
I'm pretty sure `allow_url_include` is not required by Matomo and should even be disabled for security reasons.

The explanation is already in https://matomo.org/faq/troubleshooting/faq_16646/ and adding a system check for failed API requests is tracked in #17308

[2021-03-22 20:42] #10471 closed

[2021-03-22 20:59] tsteur commented on #17376
Hi @StevieKay90 could you have a look at https://github.com/matomo-org/matomo/issues/16904 and see if that's maybe the same problem?

[2021-03-22 21:08] StevieKay90 commented on #17376
Thanks for the quick reply @tsteur !

That looks interesting, over the last year i've noticed this;
a lot of user_ids share the same visitorid (i have no idea why), is there another way to solve this?

![image](https://user-images.githubusercontent.com/80366750/112058574-a82c8080-8b52-11eb-8be8-7eecb399fe42.png)

This might have been the issue i was having with redis a few weeks ago

[2021-03-22 21:16] tsteur commented on #17376
Are you using Matomo 4? There by default this should not be the case unless you changed `enable_userid_overwrites_visitorid` config option. If you aren't on Matomo 4, then I would recommend upgrading and this might fix the issue already.

https://github.com/matomo-org/matomo/issues/16904#issuecomment-789273870 could help too

[2021-03-22 21:21] StevieKay90 commented on #17376
@tsteur  that screenshot was from matomo 3 (i took it about 5 months ago when i noticed) - i've actually just checked and we don't get this anymore (multi visitor_id per user_id) . We've recently upgraded to matomo 4 and that is where we found this issue we are running into with the big query.

We've added in the enable_userid_overwrites_visitorid=1 now but it doesn't seem to do much. What can we

[2021-03-22 21:22] Starker3 opened #17377 "Create new segment for Browser Family"
## Summary

Currently when creating segments for browsers we need to add each browser to the segment in order to have a segment for a browser family (Eg. Chrome/Safari/etc.)

Would be great to be able to create a new segment for a "Browser Family" that would automatically combine for example all Chrome related browsers into an easy to use "Browser Family" segment.

Related to:
#17375
#5413

[2021-03-22 21:29] tsteur commented on #17376
If you didn't have the problem before, then `enable_userid_overwrites_visitorid =0` would actually help you in that case likely. It might be worth a try at least temporary to see if it fixes something (might need to run it for an hour or so).

Regarding the implementation it's really hard to say without knowing details etc unfortunately.

[2021-03-22 21:46] StevieKay90 commented on #17376
@tsteur  Wow, ok after this the number of reads on the DB has dropped to 1000s instead of 1M. so its done something!!

What might be the knock on effect of this, in terms of data?

[2021-03-23 00:02] diosmosis commented on #16939
@Chardonneaur is this user using the MarketingCampaignReporting plugin? Can you provide a screenshot of the campaign report where it has 3 visits? And would it be possible to get access to the matomo instance to further see what's wrong? (If so, email dizzy@innocraft.com)

[2021-03-23 01:48] fmarier opened #17378 "vendor/composer/installed.json is exposed publicly"
Despite the recommended Nginx configuration [explicitly denying files under `vendor/`](https://github.com/matomo-org/matomo-nginx/blob/b91de102db6fd473124a714cde834afef94e388e/sites-available/matomo.conf#L80-L83), Matomo ends up serving up the `vendor/composer/installed.json` file due to a separate `vendor/.htaccess` config blurb:
[code]
which is [generated by this code](https://github.com/matomo-

[2021-03-23 04:16] #17366 closed, assigned to diosmosis

[2021-03-23 05:01] gpadbidri commented on #17373
Sure, Thanks !

[2021-03-23 08:55] sgiehl commented on #17375
This actually can't work currently due to the structure we are storing browser information in the database.

[2021-03-23 08:59] Findus23 commented on #17378
At least in the nginx config this was intentional. I ordered the blocks so that in `~ ^/(config|tmp|core|lang)` every request is blocked while in `~ ^/(libs|vendor|plugins|misc/user|node_modules)` the static files you list are allowed.

I don't think the composer/installed.json is any issue as everyone can also see it publicly on this repository or download it from the matomo.zip. But it might not

[2021-03-23 10:08] alimony opened #17381 "Referrer full path missing for most websites"
In the Acquisition > Websites view, almost all referrers only show the "index" path. I know the rest is not being anonymised or anything, looking at settings, and the fact that a handful of the websites also show a full path. It looks like I've been on the front page on some _major_ websites, which I know not to be true. In some cases I've been able to track down the specific path from which I've

[2021-03-23 10:29] Findus23 commented on #17381
Hi,

Which Referrer the browser forwards to a website when the visitor clicks on a link to it, depends on the ReferrerPolicy.
You can simply try it out by clicking on a link to your website, opening your browsers developer tools (<kbd>F12</kbd>) and entering `document.referrer` in the console.

Matomo can't record any data that doesn't exist and therefore only stores what the browser outputs with

[2021-03-23 10:29] #17381 closed, assigned to nobody

[2021-03-23 11:14] Littlericket commented on #17160
@tsteur very sorry for the late response!
We are not using any third-party plugins besides:
- InvalidateReports
- MarketingCampaignsReporting
- QueuedTracking

, which never had any problems at all.
I am not sure if the data was "gone" or not visible before the upgrade, but after the upgrade we checked several things. And of course we have not deleted any data manually.

What we had a year ago was

[2021-03-23 13:21] StevieKay90 commented on #17376
hi @tsteur `enable_userid_overwrites_visitorid =0` seems to have done the trick, a massive thanks :)

It was either that or we also noticed the following at the bottom of the config so we removed it.

[code]

We seem to be on an even keel now!

[2021-03-23 14:27] JE4GLE commented on #16942
Any update here? :)

[2021-03-23 15:02] #17374 closed, assigned to sgiehl

[2021-03-23 19:04] tsteur commented on #16942
@JE4GLE the feature is not on our roadmap currently. If you're familiar with PHP/JS feel free to create a pull request and we'll be happy to review. We have various docs on https://developer.matomo.org/ , for the tracker we have for example https://developer.matomo.org/guides/jstracker-core

[2021-03-23 19:36] tsteur commented on #17378
We could simply exclude it from the release zip as discussed (also similar files) and in general any `composer.json`, `installed.json`, `package json`...

[2021-03-24 01:14] nelhefni opened #17385 "Funnel reports for month period takes ages to generate"
After updating an existing Funnel to add a new step, the next cron job will try to generate past reports.

My current settings:
`rearchive_reports_in_past_last_n_months = last1`

Meaning, the cron job will try to generate all past reports since February 1st.
For my Funnel, each daily report since February 1st took only a couple of minutes to generate successfully, and each weekly report took aroun

[2021-03-24 02:00] tsteur commented on #17376
Glad to know this helped. I'll close this for now as a duplicate of https://github.com/matomo-org/matomo/issues/16904 :)

It should definitely not have improved by `notify_queue_threshold_single_queue`.

[2021-03-24 02:00] #17376 closed, assigned to nobody

[2021-03-24 02:01] diosmosis commented on #17385
Hi @nelhefni , thank you for creating this issue. In this issue tracker we only manage issues around Matomo core. For premium feature related enquiries please email our support at shop@innocraft.com Thanks again @nelhefni and sorry for the inconvenience.

[2021-03-24 02:01] #17385 closed, assigned to nobody

[2021-03-24 06:16] tsteur commented on #17035
To try and reproduce this need to send an HTTP Matomo Tracking API request see https://developer.matomo.org/api-reference/tracking-api with unrealistic [page performance info](https://developer.matomo.org/api-reference/tracking-api#optional-page-performance-info). Seems it is trying to use `1608938301263` for time transfer.

Tracking code that generates API request can also be seen in https://deve

[2021-03-24 10:52] heurteph-ei opened #17388 "Wrong data segmentation w/ segment w/ multiple action dimension conditions"
## Expected Behavior
When I use a segmentation on a value for an action dimension, I should have only results on this value on the action dimension.

## Current Behavior
### Segmentation configuration
In the example below, _banque_ is an action dimension (Note: _Est_ means _is_).
![image](https://user-images.githubusercontent.com/79993552/112295779-81766300-8c94-11eb-9f90-69820266bb31.png)

### Se

[2021-03-24 14:42] heurteph-ei commented on #17388
Maybe related to #14664 ?

[2021-03-24 19:30] Findus23 opened #17390 "Document using Matomo with OPcache and JIT compilation"
Using OPcache can speed up Matomo quite a bit as it avoids having to interpret the same PHP with every single page request.
Especially now with PHP 8 and JIT compiling (which is implemented as a part of OPcache) it might bring even more of a performance benefit.
There also should be no disadvantages (apart from a bit of memory usage from the cache) as Matomo already clears the cache on update/inst

[2021-03-24 21:38] diosmosis commented on #17388
Hi @heurteph-ei, segments that work on actions (including custom action dimensions), don't select only the actions that match the segment, but visits that have at least one action that matches the segment. Can you check whether the visits in the visitor log in this segment all have the action? If there are visits that don't have an action that matches, then there would be an issue.

[2021-03-25 08:17] Chardonneaur commented on #16156
Hello,
I also have this need for a client of mine.
This is definitely the use case that @mattab described, one page can have multiple tags associated to it, for example, a blog post can be assigned to sport and to the taxonomy culture and to the taxonomy personality and to the taxonomy leisure.
1) If I set this as different custom dimensions, I will be stuck when creating a custom report as it can

[2021-03-25 09:17] heurteph-ei commented on #17388
Yes, I understand this point of view, BUT in this case, the segmented visit log:
![image](https://user-images.githubusercontent.com/79993552/112448732-00ca6c00-8d53-11eb-8458-d2e3164cffb5.png)
should show this fact. Instead of, I got no result:
![image](https://user-images.githubusercontent.com/79993552/112297315-08780b00-8c96-11eb-9a0c-fa86ca3ae540.png)

Note: you are right, the dimension value c

[2021-03-25 10:25] heurteph-ei opened #17391 "Changing MTM Container Name or Description leads to HTTP 414 URI Too Long when many container versions"
# Expected Behavior
I just want to update some MTM container informations
![image](https://user-images.githubusercontent.com/79993552/112454362-e4c9c900-8d58-11eb-9d5a-3e1ebb6e750e.png)

# Current Behavior
When the container has many versions (it had 21 versions), the update is impossible due to HTTP 414 (URI Too Long). Also, no error message is displayed on the screen to the user. No message at a

[2021-03-25 11:06] pashishp commented on #14533
Yes please we too are looking for this feature.

[2021-03-25 12:46] gpadbidri opened #17392 "On-Premise -> Custom Reports Visualization Issues"
I have an Matomo - On Premise setup and I have installed Custom report TRIAL Version to evaluate if it suffices our requirements.

I was able to create a TABLE Report for “Pageviews by hour for a given day” Screenshot for reference : https://www.screencast.com/t/WILnaWJb

However, there are 3 issues :

When I go to the the “Vertical Bar Graph” option using the Change Visualization option below the

[2021-03-25 13:38] sgiehl commented on #17392
Hi @gpadbidri, unfortunately we don't handle inquiries for our premium features, like CustomReports, on our public issue tracker.
Please email our support at shop@innocraft.com

[2021-03-25 13:38] #17392 closed, assigned to nobody

[2021-03-25 13:43] sgiehl commented on #17378
actually `composer.json` and `package.json` are already removed. Seems only `installed.json` is missing. Will prepare a PR to fix this.

[2021-03-25 13:51] utrautmann commented on #16361
Hello @mattab
this topic is becoming more and more important. I have some German data protection officers in my projects now in 2021 who refuse to use Matomo in cookie-less mode without consent.
Their justification refers to the word "fingerprint", so the collection of information from the browser as Dave said.

Can you describe please which exact data is determined by the browser in order to crea

[2021-03-25 14:54] Daten-David commented on #16361
@utrautmann: Thanks for picking up the issue. I experience the same as you.

I guess everybody follows on Google's FLoC initiative. But did you see that Google admitted legal challenges by GDPR and most of all ePrivacy for FLoC? https://www.adexchanger.com/platforms/google-will-not-run-floc-origin-tests-in-europe-due-to-gdpr-concerns/

From my point of view it is crucial to understand the differen

[2021-03-25 15:07] Findus23 commented on #16361
I have to say that I lost a bit the overview both with the new ePrivacy plans and what Google is trying to achieve with their new concepts.

Really? I always thought server-side analytics make things more difficult in other ways as e.g. there is no straight-forward way for people to opt-out.

Also the whole concept of FLoC seems like a really bad idea privacy-wise to me. It solves a few issues, bu

[2021-03-25 15:40] Daten-David commented on #16361
Yes. There is no way to opt-out. But opt-out is not 100percent mandatory. Check [Art. 21 (1) GDPR](https://gdpr-info.eu/art-21-gdpr/).

A regular web log should be considered compelling legitimate grounds. The statistics derived by web log data is no personal data. The statistics are anonymous data and GDPR doesn't apply. The web log as raw data needs to be erased after a short period of time. But

[2021-03-25 16:36] heurteph-ei opened #17393 "Segment comparison feature disapears when segment selection on Visits Log page"
# Expected Behavior
The _segment comparison_ feature should always be available on pages where it should be

# Current Behavior
When changing the selected segment on the **Visitors > Visits Log** page, the  _segment comparison_ feature is no more available on any page.

# Steps to Reproduce
## Step 1
Chrome / Firefox :
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&perio

[2021-03-25 18:36] diosmosis commented on #17393
Hi @heurteph-ei, thanks for noticing and creating this bug report! This is definitely a bug. As a temporary workaround (to any that might read this), note that reloading the page will make the comparison icons visible again.

[2021-03-25 18:39] #17378 closed, assigned to sgiehl

[2021-03-26 03:44] tsteur commented on #3513
for tables sticky will also work soon in webkit/chrome etc https://web.dev/compat2021/#css-position:-sticky

[2021-03-26 11:22] Findus23 opened #17397 "Widget subcategories jump around"
Reported in https://forum.matomo.org/t/widgetize-reports-bug/41264

## Expected Behavior
Being able to smoothly browse through the widget list smoothly on https://demo.matomo.cloud/index.php?module=Widgetize&action=index&idSite=1&period=day&date=yesterday

## Current Behavior
It seems like in some browsers it is hard to select a category as the scroll position jumps around on screen.

The reporter

[2021-03-27 05:31] satphil opened #17399 "Update the manual update documentation to prevent obsolete files left after an upgrade where a dimension was removed but file still exists"
## Expected Behavior
When you run

`php "$PUBLIC_DIR/console" core:update`

to upgrade matomo from 3.13.5 to 4.2.1, the database restructure should succeed:

  Executing UPDATE `piwik_archive_numeric_2021_03` SET `name` = 'done' WHERE `name` = 'done.';... Done. [291 / 294]

  Executing ALTER TABLE `piwik_log_visit` MODIFY COLUMN `profilable` TINYINT(1) NULL, MODIFY COLUMN `visitor_seconds_since_fi

[2021-03-27 05:38] satphil commented on #17399
Correction: add step 2.
## Steps to Reproduce (for Bugs)

1. Get a database from the 3.13.5 release.
2. Download matomo 4.2.1 `piwik.zip` file, unzip into `/var/www/piwik`.
3. Copy some obsolete files into the `/var/www/piwik/plugins` directory.

[2021-03-27 16:09] sgiehl commented on #17399
Hi @satphil Thanks for creating the issue. I'm quite sure we already had a similar report in the past, but wasn't able to find it on the fly.
The colum `location_region` actually should have already been there before Matomo 4. Do you maybe have an backup  from before the update where you could check if that column was there before or not?

[2021-03-27 21:39] satphil commented on #17399
Hi Stefan,

Are you saying this because the error message says "column not found"?
That's not the error.

Can I urge you to re-read the issue I logged as I specifically address that
misleading error message?

Thanks

Phil

On Sun, 28 Mar 2021, 03:09 Stefan Giehl, ***@***.***> wrote:

[2021-03-28 00:19] diosmosis commented on #17399
Hi @satphil, thanks for creating this issue!

I can confirm the faq on the three step upgrade omits the requirement to remove no longer used files. In the OneClickUpdater we explicitly do this (for the reasons described in the issue description): https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/CoreUpdater/Model.php#L26-L36, the manual upgrade should mirror this.

I'm not sure what the be

[2021-03-28 00:44] diosmosis commented on #17388
Hi, @heurteph-ei can you provide the exact steps you got to display the segmented visitor log like that? Are you able to reproduce this on https://demo.matomo.cloud ? If not, can you check if the same issue occurs on the latest Matomo version?

[2021-03-28 10:33] andyjdavis commented on #17352
I have put up a PR that just expands the text on the setting UI to provide more information about the consequences of turning on require 2fa. https://github.com/matomo-org/matomo/pull/17400

I have some questions about how to determine if the current user has 2fa enabled themselves.

The directory containing plugins/TwoFactorAuth/SystemSettings.php contains Controller.php, Validator.php, and TwoFa

[2021-03-28 15:28] diosmosis commented on #17352
Hi @andyjdavis, you'd want to use the `TwoFactorAuthentication::isUserUsingTwoFactorAuthentication` method. The `TwoFactorAuthentication` class is injected via DI, which means how you get it varies based on how you're coding. The easiest way to do this is via `StaticContainer`: `StaticContainer::get(TwoFactorAuthentication::class)`, however using StaticContainer is discouraged if there is a simple

[2021-03-28 19:06] #16776 closed

[2021-03-28 19:43] tsteur commented on #17399
The initial files should be removed before uploading the new files and the guide should be updated ideally. There has been a similar issue before (I think eg https://github.com/matomo-org/matomo/issues/17181). Otherwise there might be still some dimensions that should be removed etc.

[2021-03-28 19:43] martin-neumann-gurus commented on #9665
Chiming in into the GDPR discussion. GDPR says that for profiling a user activity you need to have their permission. That means he needs to agree even before you set any cookies. But it allows processing of statistical data on the ground of justified interest of the website provider. You can do statistical data without needing to ask for a consent. But even then IP addresses need to be stored anon

[2021-03-28 21:46] satphil commented on #17399
"the guide should be updated ideally" -> "the guide should be updated
urgently",

(unless, of course, leaving the discovery by sysadmins that old files
should have been deleted is some sort of Matomo secret initiation ritual
:-).

On Mon, 29 Mar 2021, 06:43 Thomas Steur, ***@***.***> wrote:

[2021-03-28 22:03] tsteur commented on #17397
@Findus23 what browser version is that exactly and what widgets should we hover to reproduce it? I wasn't able to reproduce it here

[2021-03-28 22:09] tsteur opened #17403 "New row action to create custom alert"
It be great to have a new row action in tables to create a custom alert. Eg when hovering in Device Types `Mobile` then you could directly create an alert for this when traffic drops by 50%. It would automatically select the correct report and the correct value and the user would only configure the `Alert me when...` section. This way could get more awareness for the alerts feature which is quite

[2021-03-28 22:11] diosmosis commented on #17397
I wasn't able to reproduce this through browserstack on edge either

[2021-03-28 22:26] #17163 closed, assigned to flamisz

[2021-03-29 03:42] #16787 closed

[2021-03-29 05:38] flamisz commented on #16642
It's probably solved by #17080

[2021-03-29 05:38] #16642 closed

[2021-03-29 07:50] sgiehl commented on #17397
I guess he is referring to this behaviour:

https://user-images.githubusercontent.com/1579355/112803727-e73b6400-9073-11eb-9903-74469d33e0d2.mp4

[2021-03-29 09:31] heurteph-ei commented on #17388
Hi @diosmosis
Unfortunately, I can't test on a local latest version of Matomo. Also, I cannot add new segment to matomo.cloud, maybe you could do it for me?
For example, please add a segment on `Page Author == 'Git-17388'`, then I'll be able to do a tracking on a page to reproduce the use case.

[2021-03-29 09:38] Findus23 commented on #17397
I am referring to what @sgiehl shows in the browser (I can reproduce it in Chromium 89.0.4389.90).
I'm not sure if the issue of the original reporter is something else or more severe. (as it seems triggerable without scrolling)

Update: Just noticed that the GIF in the first post stopped being a GIF when I pasted it in. It should make more sense now.

[2021-03-29 14:23] heurteph-ei commented on #17388
Also, I tried several times to be tracked on divezone.net in order to appear on https://demo.matomo.cloud, but it never works. I even tried on my own computer, and on several browsers (Chrome, Edge, Firefox).
Note: on Firefox, I cannot disable the HTTP parameter `DNT:1`

[2021-03-29 20:17] tsteur commented on #17301
ideally when this PR is finished we can remove all of the `urlencode` in segment constructor here: https://github.com/matomo-org/matomo/pull/17029/files

[2021-03-29 20:21] tsteur commented on #17259
there’s for sure some bug in there like I mentioned in https://github.com/matomo-org/matomo/issues/17259#issuecomment-785559464 eg the dom timing doesn’t work at all and it needs some rounding. Likely not related to the actual issue though but be still great to fix.

 Looking at the segmented visitor log in our own instance I see a similar issue on an iPad running iOS9.3 with Safari 9. This might

[2021-03-29 21:14] mattab opened #17407 "Exporting "Visitor Profile" data results in "Your session has expired due to inactivity. Please log in to continue.""
## Steps to Reproduce & Expected Behavior

* Go to Visits Log
* Click on a "View visitor profile" icon on any visit
* Click on the "Export" icon on the right of the Visitor ID at the top of the visitor profile
* Expected to get a working XML output

## Current Behavior

Got instead this:
[code]

## Possible Solution

Might be similar to https://github.com/matomo-org/matomo/issues/16043

## Context

[2021-03-30 02:35] scarabcoder commented on #16177
Is there currently support for using the web-vitals JS library for tracking Core Web Vitals, rather than Lighthouse?
Often times Lighthouse tests do not show the same results that web-vitals (and because of that, Google's SEO algorithm in May), for example many ad scripts do not get executed until after a Lighthouse or other scan ends.

https://web.dev/vitals-field-measurement-best-practices/

It

[2021-03-30 08:48] sgiehl commented on #17259
@tsteur it seems the domLoading attribute has been removed meanwhile. See https://github.com/w3c/navigation-timing/pull/36/commits/5d7657ec7c972144b33bdb9427f36f663e8dd4ac

I had built the metrics based on the old definitions:

![](https://i.stack.imgur.com/PahRW.png)

The new are actually like this:

![](https://i.stack.imgur.com/hTRZT.png)

Guess the most closest approach might be to use `respon

[2021-03-30 13:56] kiber-io commented on #8424
Hello. I don't know why no one has done this for so many years, but I found a method for adding this indicator to the chart (and any other available ones). This is most likely the wrong approach, but it works :)
Actually, you only need to add one line
[code]
at the end of the method
[code]
in file
[code]
You can see what it looks like in my [mini-plugin](https://github.com/kiber-io/Matomo-VisitsSu

[2021-03-30 14:56] jonaskohl opened #17411 "Internal Server Error while creating tables during installation"
## Expected Behavior
Installation should function as intended without any errors

## Current Behavior
After filling in the database details and clicking continue, the script errors out after about two minutes with the following error page
<details><summary>More info</summary><blockquote>
<h1>Internal Server Error</h1>
The server encountered an internal error or misconfiguration and was unable to c

[2021-03-30 20:13] diosmosis commented on #17411
Hi @jonaskohl, do you have your PHP `max_execution_time` (or some other timeout) set to something low? It looks like the step to setup the database is just taking too long and gets cut off. Or possibly there's some other error causing the database queries like `CREATE TABLE` to just hang...

[2021-03-30 20:18] diosmosis commented on #8424
Hi @kiber-io, thanks for figuring this out! If this works correctly (I haven't actually tested it), would you be willing to create a pull request for it? I believe the proper place to change the imageGraphUrl property would be in the `plugins/VisitsSummary/Reports/Get.php` file by adding the following method:

[code]

That should have the same effect (again, I haven't tested, just looked at the co

[2021-03-30 20:38] diosmosis commented on #17388
Hi @heurteph-ei, demo.matomo.cloud is a special instance that uses test data to showcase matomo features. It's not directly connected to divezone.net. I can add a segment for the page author today. Would you be able to post the tracking request(s) you'd use here in the meantime? It might help in reproducing locally.

[2021-03-30 20:59] jonaskohl commented on #17411
The tables (or at least some of them) do get created. I think it's a problem with `max_execution_time`. I've already contacted my hosting provider because changing the value inside a script or `php.ini` does not seem to have an effect. So the problem probably lies with my hosting provider, not with Matomo.

[2021-03-30 21:24] diosmosis commented on #17411
:+1: good to know, I'll close this for now. If you discover anything else that could point to a bug feel free to comment or reopen the issue.

[2021-03-30 21:24] #17411 closed, assigned to nobody

[2021-03-31 04:03] flamisz opened #17414 "Calender shows compare to previous period after page reload instead of period year"
## Expected Behavior

When we choose "compare to previous year" in the calendar, after page reload, we'd like to see "compare to previous year" in the calendar when we open it.

## Current Behavior

When we choose "compare to previous year" in the calendar, after page reload, the dates and data are correct, but when we open the calendar, it shows "compare to previous period".

## Steps to Reproduc

[2021-03-31 06:32] kiber-io commented on #8424
Unfortunately, no, at this stage the required key is not in the array
![изображение](https://user-images.githubusercontent.com/60169133/113100336-f5b88580-9203-11eb-8e1e-fbf1a1afe006.png)

[2021-03-31 06:38] kiber-io commented on #8424
I didn't do this, because it's hardcore and not everyone needs this indicator in the report

[2021-03-31 09:30] cinatic opened #17415 "Service Crashes on initial Setup when using specific passwords"
i had problems when using the following password for the initial user `11!test$Lc&gCu+_+gB2c5dQGzywtuS=5M+`, this should be error handled

[2021-03-31 09:56] sgiehl commented on #17415
Hi @cinatic. Thanks for creating the issue. What exactly is the problem with this password? Wasn't it accepted by Matomo as valid, or weren't you able to login with it after setting up the account?

[2021-03-31 09:57] Findus23 commented on #17415
Hi,

I tested it and it worked perfectly fine (as one would expect).

Can you please provide more details? What exactly did you do? What exactly went wrong? Did you see any errors? Maybe in the browser console or the server log?

[2021-03-31 10:08] cinatic commented on #17415
huh turned out it was a problem with the reverse proxy sorry, i also tested it again with the same image on local docker works as expected

[2021-03-31 10:08] #17415 closed, assigned to nobody

[2021-03-31 15:55] heurteph-ei commented on #17388
@diosmosis okay, I have pushed some tracking on matomo.cloud...
But the Page Author behaviour seems to encounter some problems... I'll wait untill tomorrow in order to check it the server needs time to update its data...

[2021-03-31 20:41] Starker3 opened #17417 "setting the cookie domain even when cookies are disabled for compatibility with "Require Cookie Consent" feature"
### Description of issue:
When using a cookie domain such as .example.com and requiring cookie consent causes cookies for both www.example.com and .example.com to be created when cookie consent is given when using MTM
However, when cookie consent is withdrawn only one set of cookies are deleted (.example.com).
The www.example.com cookies remain including the mtm_cookie_consent cookie which causes

[2021-03-31 20:48] tsteur commented on #17417
@Starker3 can you reproduce this with standard Matomo tracking code alone?

BTW In step 3

I'm not sure why there should be both cookies set. I would probably expect it to be set only one of them. Or not sure what you mean here?

[2021-03-31 20:50] Starker3 commented on #17417
@tsteur What I mean is that for reproducing the error there should be cookies for both .example.com and www.example.com
You are correct in that we would expect there to only be one set of cookies for .example.com

The cookies set directly after giving cookie consent are for www.example.com and the .example.com cookies are created after refreshing the page.

I'll try to reproduce using the standard

[2021-03-31 20:56] tsteur commented on #17417
I'm thinking it might be expected behaviour and it might not even be able to remove `static.example.com` cookies but it's bit hard to understand as sometimes mentions `www.` but images show `static.`

[2021-03-31 21:00] Starker3 commented on #17417
@tsteur That's just the subdomain that I was testing on. The actual site I tested is for example: static.example.com (I don't have this site setup to use www)
But I can maybe set that up to make sure it can be done the same way using www
(I've edited the original report above to make this clear)

[2021-03-31 21:09] Starker3 commented on #17417
@tsteur
I tested using a subdomain www and the same occurs. Will test using the standard tracker as well shortly.

![image](https://user-images.githubusercontent.com/20905821/113211678-48f90980-92d2-11eb-914a-1bbad7b3fe46.png)

[2021-03-31 21:41] mattab commented on #12239
Thanks for contributing to this issue. As it has been a few months since the last activity and we believe this is likely not an issue anymore, we will now close this. If that's not the case, please do feel free to either reopen this issue or [open a new one](https://developer.matomo.org/guides/core-team-workflow#submitting-a-bug-report). We will gladly take a look again!

[2021-03-31 21:41] #12239 closed

[2021-03-31 21:42] mattab commented on #12240
Thanks for contributing to this issue. As it has been a few months since the last activity and we believe this is likely not an issue anymore, we will now close this. If that's not the case, please do feel free to either reopen this issue or [open a new one](https://developer.matomo.org/guides/core-team-workflow#submitting-a-bug-report). We will gladly take a look again!

[2021-03-31 21:42] #12240 closed

[2021-03-31 21:49] Starker3 commented on #17417
@tsteur I've been able to reproduce this with the standard tracking code with the following added:
`  _paq.push(['requireCookieConsent']);`
 ` _paq.push(["setCookieDomain", ".example.com"]);`
  `_paq.push(['enableCrossDomainLinking']);`

Would you like me to recreate this bug report in Core?

[2021-03-31 21:53] mattab commented on #17010
:+1: it would be great and ideally we can do it in 4.3.0 already then?

[2021-03-31 22:01] tsteur commented on #17417
@Starker3 I moved it.

[2021-03-31 22:13] Starker3 commented on #17417
FYI - In some cases the cookies left behind are reversed (I.e. in the example above it was the subdomain cookie `www.example.com` that was not removed)
It seems that having some plugins active or not may cause the other cookies to remain when using `_paq.push(['forgetCookieConsentGiven']);` (I.e. `.example.com` instead of `www.example.com`)

[2021-03-31 22:19] dev-101 commented on #15149
Well, this issue is still present, unfortunately. Yes, back then list was incomplete, however, even now time with DST events are lacking an hour in Matomo's real time widget.

My server time is e.g. 21:05
My PHP time zone is properly configured in .ini (although this doesn't matter): 21:05
UTC time is e.g.: 19:05
Matomo time zone / country is properly set (e.g. France or whatever nearby country, d

[2021-03-31 22:24] dev-101 commented on #15149
Ouch... I forgot that back then I set website's time manually, overriding global country setting when it became available.
Fixed.

[2021-03-31 22:24] #15149 closed

[2021-04-01 01:40] mattab commented on #16320
Thanks for contributing to this issue. As it has been a few months since the last activity and we believe this is likely not an issue anymore, we will now close this. If that's not the case, please do feel free to either reopen this issue or [open a new one](https://developer.matomo.org/guides/core-team-workflow#submitting-a-bug-report). We will gladly take a look again!

[2021-04-01 01:40] #16320 closed

[2021-04-01 01:43] mattab commented on #12251
Hi @eramirezprotec - i just noticed your old comment "I ended up creating a plugin that detects the "metrics and reports to zero" problem and invalidates all the archived stuff for that period and date. That way everything is recalculated when the archiving process runs again. " - this sounds interesting and something we might need in general in Matomo. Would you maybe be able to share the code in

[2021-04-01 04:47] #17407 closed, assigned to sgiehl

[2021-04-01 12:36] heurteph-ei commented on #17388
OK, my data are well stored:
![image](https://user-images.githubusercontent.com/79993552/113269924-3d5d1100-92d9-11eb-94e5-06eb692bc143.png)
@diosmosis can you add the segment `Page Author == 17388`?

Anyway, on this sample, I enconter some strange behaviour:
### Prerequisite
**Behaviour** > **Page Author**
Date: **31st of March, 2021** (**day**)
Segment: **All visits**
### Step 1
Add segment comp

[2021-04-01 15:23] diosmosis commented on #17388
Apologies for the delay @heurteph-ei, I just added the segment: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=dimension2%3D%3DGit-17388&category=Dashboard_Dashboard&subcategory=1

Thanks for providing the extra details! We'll take a look after the weekend.

[2021-04-01 15:44] heurteph-ei commented on #17388
No worries :-)
### Visits log
The **Visitors > Visits Log** works as expected on the new segment: The log displays the whole session in which the `Page Author == Git-17388`.
 - As soon as the user hits `Page Author == Git-17388` during his session : I can see all events of the session.
 - If a user does not hit `Page Author == Git-17388` during his session : The session is not visible at all.
###

[2021-04-03 08:17] mwalliczek opened #17420 "After fresh installation of 4.2.1 some columns like "visit_first_action_time" are missing"
I just installed matomo 4.2.1 at my server, connected to an empty database, added some sites to be analyzed - but when I try to import some data from the logfiles, I get an Error 500 from the server and the logfile says "PHP message: Error in Matomo (tracker): Error query: preparing query failed: Unknown column 'visit_first_action_time'"

## Expected Behavior
The data is imported correctly.

## Cu

[2021-04-03 09:46] valerio-bozzolan commented on #16980
Feel free to close :)

[2021-04-03 16:27] orlitzky commented on #16980
I still think the conversion should take place automatically if the log importer relies upon it, but it won't bother me again... so, ok =)

[2021-04-03 16:27] #16980 closed, assigned to nobody

[2021-04-03 18:22] valerio-bozzolan commented on #16980
(Having said I'm not in any way related to this repository ihih)

I think your idea is interesting but not feasible because on medium to big installations updating the database schema may cause a disservice of several minutes. This is an operation that should be executed only by a DBA or by a system administrator using command line access from the Matomo server. On the other hand the log importer

[2021-04-04 17:23] Findus23 opened #17422 "Don't load review logos if they are not shown"
It seems like the images used by the review plugin (e.g. /plugins/Feedback/images/saasworthy.png) are loaded on every Matomo page view, even if the popup is not shown.

Changing `<img src="">` to `<img ng-src="">` doesn't seem to change a thing.
This could be used to save five requests that could instead load images that are blocking the rendering of the page.

[2021-04-05 09:54] ElManaa opened #17423 "Tracker JS Tests"
Hello Everyone!

It’s been months that I’ve been working on matomo and I found it very effective and flexible for our needs, we are actually trying to extend matomo and add new plugins, plugins that helps media and web magazines get more information about their articles!

Every plugin I create I made some system tests for it to make sure it’s working as it should be but, on the tracker JS side, ha

[2021-04-05 10:22] Findus23 commented on #17423
Hi,

You might want to look into how the JS tests work for the Tag Manager plugin:
https://developer.matomo.org/guides/tagmanager/testing
https://github.com/matomo-org/tag-manager/tree/4.x-dev/tests/javascript

[2021-04-05 10:28] ElManaa commented on #17423
thank you i find this quite helpful

[2021-04-05 10:28] #17423 closed, assigned to nobody

[2021-04-05 15:30] Findus23 opened #17424 "Run Javascript tests with node/puppeteer as well as Phantomjs"
followup to https://github.com/matomo-org/matomo/pull/14421

It seems like the JS tests are still using Phantomjs (which isn't maintained anymore).

https://github.com/matomo-org/travis-scripts/blob/e955829a58a5a6af00a40737c663ede98eef5dcb/travis.sh#L28-L33

It might be useful to also use Chromium/Pupeteer there to make sure Matomo JS still works in modern browsers.

[2021-04-05 19:28] Findus23 commented on #17423
These two pages might also help:
https://developer.matomo.org/guides/enrich-js-tracker
https://developer.matomo.org/guides/jstracker-core

[2021-04-05 23:42] tsteur commented on #15924
there's more insights here https://wordpress.org/support/topic/some-user-facing-logs-have-a-url-encoding-issue-for-ampersands-in-links/

Basically, it seems to work in Downloads  reports but not in Visits log and real time widget meaning it is likely indeed an escaping issue.

[2021-04-06 01:34] #16790 closed

[2021-04-06 11:23] davidsneighbour commented on #5056
This is still an issue. It's quite irritating if you don't know about French Guyana. If the latter is listed separately then it should not be included in France.

![Selection_147](https://user-images.githubusercontent.com/83281/113703278-ce325300-9704-11eb-9201-337b88fdc98e.png)

There is no mention of French Guyana vs. France on the kartograph.js repo: https://github.com/kartograph/kartograph.js/

[2021-04-06 12:52] sgiehl commented on #5056
@davidsneighbour kartograph is meanwhile unmaintained. I'll give it a quick try to fix the svg manually. But not sure if that works easily...

[2021-04-06 18:27] sgiehl commented on #17422
@Findus23 Did you try if a `loading="lazy"` attribute would do the trick?

[2021-04-06 20:14] Findus23 commented on #17422
@sgiehl I didn't think of that and it does indeed seem to work.
While this doesn't work in the [30% of browsers](https://caniuse.com/loading-lazy-attr) that don't support native lazy-loading yet, I guess this is a workaround unless someone knows an angular-related trick.

[2021-04-06 23:22] diosmosis commented on #17420
Hi @mwalliczek, sorry you're experiencing this issue, it seems like matomo or php isn't able to create columns itself. To try and recreate the columns yourself through matomo, you could run the following SQL:

[code]

Then visit Matomo and the auto updater will try to recreate the columns. If this doesn't work, then php or matomo isn't able to create columns for some reason (and errors are maybe s

[2021-04-07 02:35] flamisz commented on #17259
I checked a couple of times in firefox:
[code]

`domLoading` is really missing now, so the `time_dom_processing` column is null using the new tracker version. I make a pr quickly for fix that.

[2021-04-07 05:21] nelhefni opened #17428 "Regression: some daily reports disappear from UI, and weekly reports are corrupted"
Hello,

We think PR https://github.com/matomo-org/matomo/pull/17216 has introduced some regressions to the archiving process since Matomo 4.2.0

FYI, browser archiving is disabled:
[code]

For a given plugin, we are facing 2 issues since the update to Matomo 4.2.0,
- Issue#1: Some daily reports disappear from the UI, even though `delete_reports_enable` is set to 0
- Issue#2: Some weekly reports ha

[2021-04-07 05:59] mwalliczek commented on #17420
Hi @diosmosis, thanks for your help. You are right: I forgot to add "Alter_priv" to the matomo mysql user. Unfortunately there was no error displayed or logged.
So I run this SQL script, Matomo started the auto update - but there is still an error when trying to import:
`2021/04/07 07:32:00 [error] 5709#0: *5578453 FastCGI sent in stderr: "PHP message: Error in Matomo (tracker): Error query: prepa

[2021-04-07 08:51] heurteph-ei commented on #17388
Hello, I'm back
So the behaviour I encounter on premises the same as in the cloud.

Please have a look at: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=2021-03-31&segment=dimension2%3D%3DGit-17388&category=General_Actions&subcategory=customdimension2

![image](https://user-images.githubusercontent.com/79993552/1138382

[2021-04-07 08:54] #5056 closed

[2021-04-07 11:19] ljubacanoa opened #17429 "Site cannot be fetched"
I get already Matomo installed on GCP like official click to deploy and it worked well. Now I switched to Plesk and no chance to get it to work by following tutorial from docs (100% - firewall disabled and PageSpeed disabled). P.S. - Plesk is running on Litespeed Fast CGI.
Finally I started fresh instance of GCP (again) and I get 100% same situation. So, NOTHING TOUCHED (click to deploy), mean - r

[2021-04-07 12:11] Findus23 commented on #17429
For reference: https://forum.matomo.org/t/brand-new-plesk-installtion-not-working/41395/5

[2021-04-07 13:15] mddvul22 opened #17431 "Large Database, Deleting Old Raw Data Seems to Not Work"
We have, what I believe is a very large Matomo database.  Up until this week, we have never scheduled any regular deletion of old raw data.  Some example table sizes in our database, as of two days ago:
piwik_log_link_visit_action.ibd : 1009G
piwik_log_visit.ibd: 161G
piwik_log_action.ibd: 19G

As you can see, those three tables, combined are over 1TB.

So, yesterday, I configured the section: "Re

[2021-04-07 20:57] diosmosis commented on #17428
Hi @nelhefni, thanks for the detailed report. Partial archives are meant to be included in the *entire list* of all idarchives to look through. We don't select only one archive, but the latest DONE_OK or DONE_INVALIDATED archive, then all DONE_PARTIAL archives that are later. We then look for data in all of those archives. Using this knowledge, can you take another look? Or if possible can you pro

[2021-04-07 21:04] diosmosis commented on #17420
@mwalliczek that column comes from a plugin. It might be easier to just do a clean install of matomo w/ the mysql user that has the correct privileges. Otherwise something like `DELETE FROM matomo_option WHERE option_name LIKE 'version_' AND name <> 'version_core';` might do the trick.

[2021-04-07 21:09] diosmosis opened #17433 "Provide new system check diagnostic for required database priviliges"
## Summary

Matomo does not report if the database user does not have enough privileges to perform installation and update logic. One would expect that there would be an error thrown in this case, but it seems possible for this to fail silently. In this case, a diagnostic that checked for required privileges before installing would be helpful.

Refs https://github.com/matomo-org/matomo/issues/1742

[2021-04-07 21:17] diosmosis commented on #17429
Hi @ljubacanoa, from reading the linked forum post, it seems the real issue is that visits from Opera with the free VPN enabled are not tracked by matomo, is that correct?

[2021-04-07 21:56] diosmosis commented on #17431
Hi @mddvul22, it should have worked to delete the logs, it's possible the task that deletes the logs is failing somehow... would you be able to check the following?

- Find the `visit_last_action_time` and `idvisit` of the first visit in your log_visit table. If it's newer than 730 days, then it's possible the data gets deleted but server space isn't freed for some reason.
- If you're not seeing a

[2021-04-07 23:12] #17162 closed, assigned to flamisz

[2021-04-08 00:16] nelhefni commented on #17428
Hi @diosmosis, thanks for the fast answer.
I've been tracing the code, and `ArchiveSelector::getArchiveIds` returns only one `idarchive`

https://github.com/matomo-org/matomo/blob/2c30dc8d231af58cdf2516a413da2d86bf7d62c6/core/DataAccess/ArchiveSelector.php#L198

[code]

As there is only one element in `$idarchives` array, we loop only once in https://github.com/matomo-org/matomo/blob/2c30dc8d231af

[2021-04-08 00:25] diosmosis commented on #17428
@nelhefni thanks again for the detailed post. That code looks broken but it's actually working correctly, the problem is that archives like `56405|done|5` should never exist... partial archives have to be specific to a plugin, they should never have a done flag of just `done`.

Can you see what reports are in 56405 (eg, what names are in the blob table for 56405)?

I think we can put in some code

[2021-04-08 00:52] nelhefni opened #17434 "Goal report take ages to generate after an update"
Hello,

After updating an existing Goal, the next cron job will try to generate past reports.

My current settings:
`rearchive_reports_in_past_last_n_months = last1`

The cron job will then take up to 30 hours to complete!
Each weekly report took around 10 minutes. But it seems that the monthly report for February took 27 hours.
Thousands of partial reports will be inserted in the DB during the pr

[2021-04-08 00:55] nelhefni commented on #17428
@diosmosis thanks for the input, the issue could then be a side effect of https://github.com/matomo-org/matomo/issues/17434

Here are the reports for `idarchive` 56405:
[code]

Which doesn't include myPlugin