[2021-09-06 14:36] sgiehl commented on #17968
Thanks for the report @heurteph-ei
Yes. the evolution charts are currently not displayed if the report table would not have results.
Might be possible this could be solved by moving the check here
https://github.com/matomo-org/matomo/blob/7585967cbd80d7869f57a9adc69c02e8d14cbc33/core/ReportRenderer/Pdf.php#L318-L325
and here
https://github.com/matomo-org/matomo/blob/79b526dc47f8c776577276f93b8ffb9

[2021-09-06 15:20] #17926 closed, assigned to justinvelluppillai

[2021-09-06 15:39] sgiehl commented on #13126
Well I guess this is kind of expected behavior looking at the current implementation. It uses the segment when querying for following pages and outlinks. But as those pages or outlinks do not match the segment they are filtered away.
Not sure if that can be changed easily, as we can't simply ignore the segment. If we do that we would count in visits, that are actually not part of the segment we ar

[2021-09-06 21:31] #17966 closed, assigned to nobody

[2021-09-06 21:32] justinvelluppillai opened #17972 "Improve github action to build assets for forks"
It would be good if the `build js` directive worked for forked PRs to build assets. @sgiehl suggested perhaps it would be possible to adjust it or add a new action to do so.

[2021-09-06 22:04] tsteur opened #17973 "Remove Provider and CustomVariables plugin from our core release"
Follow up from https://github.com/matomo-org/matomo-package/pull/112

It's been a while since we released Matomo 4 meaning we can now remove Provider and CustomVariables plugin from the core release and only ship it only through the marketplace.

We no longer want to have in `matomo.zip` release zip the directories `plugins/Providers` and `plugins/CustomVariables`. Of course we also need to test t

[2021-09-07 01:48] tsteur commented on #17941
Maybe slightly related. Noticed

[code]
Can take a very long time. And in my case it created 1000 archive entries, 400 unique archive IDs (one for each site plus 3 or 4 segment archives per site).

I don't know if this can be avoided or improved. And not 100% sure it's related
![image](https://user-images.githubusercontent.com/273120/132271983-6b2c1589-c7a2-42a4-bee7-02564bf2523f.png)

[2021-09-07 01:49] tsteur commented on #17941
Above suggested PR would not fix that one

[2021-09-07 08:12] aspflopper commented on #15164
As manager of an rather lage installation with multiple sites - this is highly needed feature.... any news on the progress of this issue? @mattab

[2021-09-07 09:04] #17609 closed, assigned to nobody

[2021-09-07 13:28] sgiehl commented on #17925
Hi @heurteph-ei
Thanks for the report. I'm able to reproduce it. Will have a quick look if it's easy to fix.

[2021-09-07 20:41] #17925 closed, assigned to sgiehl

[2021-09-07 22:45] mattab commented on #17965
@heurteph-ei thanks for posting the screenshot :+1:

[2021-09-07 22:47] mattab commented on #15164
no news @aspflopper - this is likely not going to be done soon, unless someone from the community opens a pull request for this improvement

[2021-09-07 22:49] tsteur opened #17975 "Promote the new SEO web vitals feature"
Similar to various other premium features we will want to mention this new feature in relevant places similar to eg https://github.com/matomo-org/matomo/blob/4.5.0-b1/plugins/ProfessionalServices/ProfessionalServices.php#L24-L33

As usual we would only show it if the plugin is not installed already.

- [x] We could show it in the `Behaviour -> Performance` page maybe?

- [x]  And maybe also in the

[2021-09-07 23:17] tsteur commented on #16342
Reopening this issue again as it's still a problem. Removing the milestone as we'll work on it only if it happens more often

[2021-09-08 00:02] tsteur opened #17976 "Scheduled tasks should not launch archiving"
See https://github.com/matomo-org/matomo/commit/af44ee1de20bd2f9ace63e7f69f2312c08cfa61e#diff-f41c275e883996b8b69cb765b1818e12e82cbe034e648bc3f7d03610cc7abad1R449-R456

The trigger=archivephp flag will cause scheduled tasks to allow archiving. Seems this hack was needed for `purgeOutdatedArchives` to work. We should fix this issue so that scheduled tasks won't launch archiving when browser archivi

[2021-09-08 00:08] geekdenz commented on #17975
I see that e.g.

https://github.com/matomo-org/matomo/blob/4.5.0-b1/plugins/ProfessionalServices/templates/promoSearchKeywords.twig

has the text in the template. I would make it translatable for the new strings only. Do you prefer to keep it simple and put it directly in the template like above for the new promotions?

EDIT: I see they're all 'hard-coded' for lack of a better term.
https://github

[2021-09-08 00:16] justinvelluppillai commented on #17975
@geekdenz probably good to do it the same as the others for now. We can separately refactor if we wish to translate all these as a separate issue (which you could create now if you want)

[2021-09-08 00:31] geekdenz opened #17977 "Make Promo Templates Translatable"
When looking at https://github.com/matomo-org/matomo/issues/17975 I noticed that the promotions' texts are all in the templates. I suggest we make them translatable as well to include a wider audience for premium plugins.

## Summary
When including text to promote products such as plugins, it will be helpful for non-English speaking people to be able to understand the promotion text. I think this

[2021-09-08 03:02] Starker3 opened #17978 "Navigator.sendBeacon() doesn't send ping on mobile devices when browser tab is closed/tab switched/app closed"
## Expected Behavior

When using `_paq.push(['alwaysUseSendBeacon']);` we would expect to be able to track an accurate time on page for all devices.
(This is already enabled by default, but even when defining a lower time for the sendBeacon such as a few seconds doesn't change the behaviour)

## Current Behavior

Currently this seems to work for desktop browsers. However, mobile devices seem to no

[2021-09-08 03:42] tsteur commented on #17978
Thanks for creating the issue @Starker3 👍

[2021-09-08 07:04] hhhuut opened #17980 "Download links not triggering goal conversion and vice versa"
## Context
We don't use the Matomo JS script but instead do some server-side tracking from .NET Core 3 to our self-hosted Matomo instance, which has worked without a hitch so far.
To track downloads, we set the `download` property in the HTTP request to Matomo, but at the same time have set up a goal in Matomo that listens for `URL contains downloadfile (case-insensitive)`.

## Expected Behavior
A

[2021-09-08 08:29] heurteph-ei commented on #17980
Is there no misspelling in the goal configuration? (e.g. whitespace in the test or in the file name...)
Maybe try with a condition that is always true (e.g. Matches pattern `*`)

[2021-09-08 08:48] sgiehl commented on #17980
@hhhuut just to be sure, did you configure the goal to match when the visitor visits a certain URL or when he downloads a certain file?

[2021-09-08 09:20] heurteph-ei commented on #17978
The thing is that sometimes, the page session must not be ended when I switch tab or minimize he browser... Personally, I often switch app / tab to get additional data in order to finish the filling of a form for example...
Or maybe create a kind of rollback in the page session end? Or else a `maybe-page-session-end` event...
Cases study of `maybe-page-session-end` event:
 - There is another event

[2021-09-08 10:42] mattab commented on #16361
The situation has been clarified as best as possible in the FAQ at https://matomo.org/faq/general/how-is-the-visitor-config_id-processed/
so I'm closing this now.

[2021-09-08 10:42] #16361 closed

[2021-09-08 11:32] hhhuut commented on #17980
Thanks for the quick answers.

No, there's no spelling mistakes. I also did what you suggested, which is change the goal-type to "Pattern regex: (.*)" which matches everything, and the goal was then triggered with every regular page visit EXCEPT where I also set the `download` property in the HTTP request.

It's set up to trigger when the visited URL contains the string `downloadfile` (case-insens

[2021-09-08 13:32] sgiehl commented on #17980
@hhhuut Ok. But literally the request is tracked as a download in Matomo, right? Even if the url is on your server, Matomo can't match that as a visited URL if it's not tracked as a pageview I guess.

[2021-09-08 14:52] hhhuut commented on #17980
I'll try to detail the steps a little more:
When a user clicks "Download" on our website, the request goes to our own webserver, just as any other click does, where we run our Matomo client. We then extract some information from that request (like full url of the webserver action that is executing right now, referrer, useragent, etc.) and send that as a pageview request to our Matomo server.
After

[2021-09-08 14:55] heurteph-ei commented on #17980
Can you share either the requests sent to the matomo server and/or the visits log?

[2021-09-08 15:09] hhhuut commented on #17980
![image](https://user-images.githubusercontent.com/16589718/132534185-375b491a-1d03-4877-8012-745d353900cd.png)
This is the visits log when I mark the URL as a download (you can see that it has a specific icon).

![image](https://user-images.githubusercontent.com/16589718/132534324-e23ec66c-7e3a-422a-8ad6-3767f14545a2.png)
This is the visits log when I don't mark the URL as a download. The icon is

[2021-09-08 15:17] heurteph-ei commented on #17980
The log should have been like this, I think:
![image](https://user-images.githubusercontent.com/79993552/132537013-47de5f9c-eda4-422a-b605-8f980e8410d9.png)

[2021-09-08 15:18] heurteph-ei commented on #17980
As you can see, the download is a part of the page navigation
Then your download tracking request (to MATOMO) seems not to be good...

[2021-09-08 15:20] heurteph-ei commented on #17980
Note: it is also possible to track manually the goal via another request... (`idgoal` HTTP parameter)
see https://developer.matomo.org/api-reference/tracking-api

[2021-09-08 16:01] hhhuut commented on #17980
As I mentioned in the beginning we don't use Matomo's javascript, we send all tracking requests from our webserver instead, which does not have any notion if you're technically/visually still on the same page or not. This way this looks in the visits log is totally fine for us.

I know, I'd like to avoid sending two requests however, since that's what the goal filter should be for.

[2021-09-08 16:23] MichaIng opened #17984 "Filter more bots which execute JavaScript and are tracked by Matomo"
## Expected Behavior
Bots are filtered for the Matomo statistics and reports.

## Current Behavior
Just recently we recognised a massive increase (several thousand percent) of visits of especially two pages, which are clearly related to bot activity, although I'm not 100% sure which bot it is (could be found out), the access log show quite some with significant access numbers sending requests to t

[2021-09-08 17:55] Findus23 commented on #17984
Very quick note: You might want to look into this plugin:
https://github.com/matomo-org/plugin-TrackingSpamPrevention
https://plugins.matomo.org/TrackingSpamPrevention

[2021-09-08 18:06] MichaIng commented on #17984
Nice, worth giving a shot. I see there is this "Referrer spam" protection part of Matomo, but I though there was a user agent based filter as well?

EDIT: While it looks reasonable, the plugin does not really helps against bots and search engine crawlers, as long as they don't originate from one of the cloud provider IP ranges. The "headless browser" detection is only a small list of user agents w

[2021-09-08 18:52] Findus23 commented on #17984
Correct, this is what I also wanted to mention now that I got more time: Matomo also ignores all data by default from user agent, device-detector considers as bots (see e.g. https://devicedetector.lw1.at/ for an interactive version).

[2021-09-08 20:44] tsteur commented on #17978
@Starker3  actually this is a duplicate of https://github.com/matomo-org/matomo/issues/17978 so closing it.

[2021-09-08 20:44] #17978 closed, assigned to nobody

[2021-09-08 20:44] tsteur commented on #16459
see also https://github.com/matomo-org/matomo/issues/17978 for more information

[2021-09-08 20:57] MichaIng commented on #17984
I couldn't find a missing bot in the list so far 🤔. However, I'll keep looking for the faulty agent, and probably the spam protection plugin helps as well (many thanks for mentioning it).

I close the issue here and, in case, open a PR at the device detector.

[2021-09-08 20:57] #17984 closed, assigned to nobody

[2021-09-08 21:31] tsteur commented on #17980
@hhhuut  I feel @sgiehl question was maybe not answered clearly. What @sgiehl  was asking is if in the goal configuration you have selected this option:

![image](https://user-images.githubusercontent.com/273120/132588295-5e5e541f-13cd-4a67-adab-c342c0b17c6c.png)

"Goal is triggered when visitors Download a file".

Just to double check we're talking about the same thing, is this one activated?

[2021-09-09 05:13] hhhuut commented on #17980
Sorry, thought I made that clear. No, the "Download a file" option is not selected, we use the "Visit a given URL" option.

![image](https://user-images.githubusercontent.com/16589718/132626667-76c172ad-ee2c-4997-8a2b-5ac93f0bad89.png)

[2021-09-09 06:57] sgiehl commented on #17980
@hhhuut This can't work when you are tracking `DownloadFile` as a download and not as a pageview. You may need to change your goal definition.

[2021-09-09 12:38] hhhuut commented on #17980
I feel a little stupid now but changing the goal to "when visitors download a file" did the trick and we're tracking downloads as goal conversions as well now.
I still think it used to work with "Visit a given URL" a few months back, but I'm not going to complain now ^^
Thanks for all the help.

[2021-09-09 12:38] #17980 closed, assigned to nobody

[2021-09-12 20:01] tsteur opened #17988 "1032 Can't find record in log_conversion"
See error below

log_conversion.location_region, log_conversion.location_city [] {"class":"UserCountry","request_id":"27169"}

'SELECT /*+ MAX...', Array) #8 /plugins/UserCountry/Archiver.php(131): Piwik\DataAccess\LogAggregator->queryConversionsByDimension(Array) #9 /plugins/UserCountry/Archiver.php(51): Piwik\Plugins\UserCountry\Archiver->aggregateFromConversions() #10 /core/Plugin/Archiver.php(

[2021-09-12 22:47] geekdenz commented on #17589
@BigBerny Could you please check if following the [FAQ](https://matomo.org/faq/how-to-install/how-do-i-install-matomo-with-plesk/) above helps you? Please ensure to look carefully for the setting or asking your host. If following the FAQ does not help or there is no such setting for you and the host didn't help you either, please let us know.

I suspect, given all the above, we could have a settin

[2021-09-13 03:06] geekdenz commented on #17686
Is this too small or a good size?

https://github.com/matomo-org/matomo/pull/17989

I could simply add more commits like this to not make too many PRs.

[2021-09-13 03:13] Starker3 commented on #17988
A similar issue reported by an On-Premise customer:
`2021-09-01 8:18:46 11 [ERROR] mysqld: Can't find record in 'matomo_archive_blob_2021_09'
2021-09-01 8:18:46 11 [Warning] Slave SQL: Could not execute Delete_rows_v1 event on table matomo.matomo_archive_blob_2021_09; Can't find record in 'matomo_archive_blob_2021_09', Error_code: 1032; handler error HA_ERR_KEY_NOT_FOUND;
the event's master log my

[2021-09-13 04:42] #16529 closed

[2021-09-13 04:46] tsteur commented on #17686
It's hard to say re too small or good size @geekdenz . You want to put things that fix the same kind of issue into the same PR. Like if `count()` is a problem then you put all the places where count is a problem in the same PR. If that then applies to say to more than 10 different files then it may be good to split it in multiple PRs probably simply for the review to be easier but it really depend

[2021-09-13 05:27] geekdenz commented on #17686
OK. Thanks @tsteur .

I recommend we leave this until at least `xdebug` works with PHP 8.1.

[code]

I could not login and it seemed to be in a loop which is hard to debug without a debugger.

[2021-09-13 05:56] geekdenz commented on #17686
### Basics Work

I gave it another shot without running the VisitorGenerator plugin and basics seem to work now. :-)

<img width="1889" alt="image" src="https://user-images.githubusercontent.com/479499/133030977-b8048af5-2650-4e32-a807-de503a13087a.png">

[2021-09-13 06:16] insekticid opened #17990 "core:fix-duplicate-log-actions unable to remove duplicates"
I run this command one week ago
./console core:fix-duplicate-log-actions --invalidate-archives >> log.txt

today I checked results and command crashed.

Latest output is:
[code]

![image](https://user-images.githubusercontent.com/177340/133032585-91356ad1-ae0c-4be1-90a7-f5ccaec94ce3.png)

Today I rerun command again and it will start again with total duplicate items: 41708, so no record has been f

[2021-09-13 09:15] #17190 closed, assigned to nobody

[2021-09-13 10:04] Findus23 commented on #17686
My take on "too small" would be to limit the number of PRs, but make a separate commit per fix.

I think the basics (as in clicking around in the Matomo UI) already worked before I made any changes. But I might be misremembering something.

[2021-09-13 13:22] BigBerny commented on #17589
I checked the FAQ and the only thing which we didn't do is to disable mod_security. I asked our hoster to do that. Don't know if it's possible though since it's shared hosting.

One more thing: It didn't happen in 4.2 so there must be something new which leads to the problem.

[2021-09-13 13:35] BigBerny commented on #17589
The hoster was fast and gave me access to the setting. Unfortunately even after disbling it and restart System Check, it crashed the server and it's offline now...

When opening the admin part it says red "Required Private Directories" by the way.

[2021-09-13 14:57] BigBerny commented on #17589
The server is up again. I ran "./console core:create-security-files" from cronjobs in the meantime. And now I just have a yellow warning:
![image](https://user-images.githubusercontent.com/1528504/133108579-9a0948e2-6f49-4228-92bd-ce708ab46f61.png)

I did start full System Check again but it does crash again.

[2021-09-13 16:50] HCl-not-HCi commented on #17589
I had a conversation with my hoster ("IP-Projects" in Germany) and they told me that ModSecurity was already disabled (but they did not give me access to toggle the setting).
They also could not help me with the problem and do not have more information (they just told me that the .htaccess was not compatible with Apache 2.4 which is like the first search result in google - I hope, you devs checked

[2021-09-13 21:55] #17975 closed, assigned to geekdenz

[2021-09-13 22:02] geekdenz commented on #17686
It's using one's best judgement what is too small or too big i guess.

Yeah, just had a quick look at the ui which seems to work. The main problem is probably the tracker.

[2021-09-13 23:32] geekdenz commented on #17589
Thanks @HCl-not-HCi and @BigBerny for your quick replies.

I checked and the file doing the Private Directories check was introduced between 4.2.1 and 4.3.1 which also introduces the curl command.

Could you both try running this script on your hosting and report if it causes the hanging or other problems?

https://gist.github.com/geekdenz/63c820a004c59100612c9bd81b7fc73c

Please replace the strin

[2021-09-13 23:58] geekdenz commented on #17589
Actually, just thinking about it and looking at some code, you could use a forward proxy to possibly work around this problem, if the domain is the problem:
https://matomo.org/faq/troubleshooting/faq_121/

Note however, it might have an impact on other things in the Matomo installation as well.

[2021-09-14 04:39] geekdenz commented on #17919
You are right @sgiehl ! That was the clue.

See https://github.com/matomo-org/matomo/blob/41b8240fcf79291dbabb2e30a38f321d44b64cf5/plugins/SEO/tests/Integration/SEOTest.php#L42

I debugged it and it seems it randomly fails on the User Agent that is passed.

So, I wrote this script:
https://gist.github.com/geekdenz/2496eaaf7c437ba49bc389e75a10b880

Ran it and found that it outputs an empty search r

[2021-09-14 07:30] geekdenz commented on #17919
FYI I was able to reproduce this in Safari changing the UA string to `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36`

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/479499/133214467-5a087533-44b6-45c9-bac3-5f45826dc069.png">

[2021-09-14 07:39] justinvelluppillai commented on #17919
@geekdenz nice find. Don't know if `mt_rand` is great in a test either, wonder if it could do something along the lines of either using each of the user agents one after the other or what @tsteur suggested and keep trying a different user agent if one fails (depending on whether there's a reason to test different user agents or not).

[2021-09-14 12:03] airblag opened #17995 "Evolution reports sent by mail only export totals"
Hi,

We set up a custom report of type evolution. When exporting it over the web interface as CSV, we get a list with Date, Visits, Unique visitors. With one line per day for the last month.

When setting up the email reporting for this report, we only get one line with the totals for the report period.

Sending a graph per mail shows values correctly for the month, but the table only shows totals

[2021-09-14 19:12] BigBerny commented on #17589
@geekdenz How can I run it? If I upload it to the matomo directory and access it (e.g. https://s.mydomain.com/curl.php) I get "403 Forbidden".

Edit: If I just add use _echo "test";_ in the script, it outputs "test" correctly.

Edit2: The error log says:
[Tue Sep 14 21:22:43.703352 2021] [authz_core:error] [pid 25389] [client XXX.XXX.XXX.XXX:45694] AH01630: client denied by server configuration: /

[2021-09-14 20:51] tsteur opened #17996 "Manage Users: When user is admin, mention other users might exist"
Only when a user has admin permission but is not a super user then we want to show few more sentences in the top of the users management:

See screenshot ![image](https://user-images.githubusercontent.com/273120/133331681-adead9b9-76be-43f3-bc57-0e9d440a58e1.png)

We had issues with our premium features where someone thought that there are only 2 users on Matomo when in fact there were more. Becau

[2021-09-14 21:32] geekdenz commented on #17919
I think using the same user agent every time would suffice actually.

[2021-09-14 21:56] geekdenz commented on #17589
@BigBerny Thanks for trying this.

403 is actually expected and not wrong in some configurations of the server. What do you mean by "it is crashing"? That you get a `403 Forbidden` or that you cannot access it for a while because the request hangs?

403 means that the resource is not allowed to be accessed which can be achieved by configuring the web server and does not mean it crashed. It might m

[2021-09-14 22:28] HCl-not-HCi commented on #17589
@geekdenz For me, the script also throws a 403 (including a custom error page) as expected when accessing `config.ini.php` (similar to the log excerpt I pasted in https://github.com/matomo-org/matomo/issues/17589#issuecomment-894723948).

Execept for the log entries and the 403 response, nothing else happens for me when running your script (even when holding F5 in the browser to initiate many of t

[2021-09-14 22:38] HCl-not-HCi commented on #17589
Just tried it one more time in my browser:
1. Many requests to `/config/config.ini.php` using your script: No problem
2. Many requests to `/tmp`: IP block

But still no evidence as I tried 1. just before 2.

[2021-09-14 22:51] geekdenz commented on #17589
Thanks @HCl-not-HCi for your feedback.

So, the IP block. Does it make your browser look like it is looping, i.e. taking a long time to load? That would indicate that Matomo will hang as well for a while for you because the host is blocking your browser, not because Matomo crashed. Also, if your IP is temporarily blocked, I believe it means it is not a Matomo issue that is causing it. However, it

[2021-09-14 23:24] HCl-not-HCi commented on #17589
I can't tell you the exact message at the moment because I'm on my phone right now. But as I remember, the browser tries to load the page for some time and then times out. This not only happens to matomo but for all services on the webspace for me (it's definitely a block by the hosting provider, not a crash).

But I cannot tell what happens during the system check - whether it's just the number o

[2021-09-14 23:26] geekdenz commented on #17919
@sgiehl @tsteur

Why are we using an array of user agents here? I feel like there would have been an original reason/issue with just using one. Or was it just added to avoid a problem that was merely anticipated?

[2021-09-14 23:28] tsteur commented on #17589
fyi sounds like we're maybe dealing with different issues here.

For this the solution would be either to change server configuration, or to disable that specific system check. We could add a config setting for this @geekdenz

Then there's the case where the system report actually seems to crash see
![image](https://user-images.githubusercontent.com/273120/133346521-2b1cf981-0832-4f4b-a056-6d7a5be

[2021-09-14 23:43] BigBerny commented on #17589
The curl script didn't make the server "crash" but System Check does. Actually, I'm not sure if actually crashes but it starts loading System Check (only <head>, empty page, DevTools say "Failed to load resource: net::ERR_HTTP2_PING_FAILED), timesout and when I try to access Matomo again I get "(ERR_CONNECTION_REFUSED)".

After checking again, I think you're right. It seems to be an IP ban. I can

[2021-09-14 23:50] BigBerny commented on #17589
The reason I thought the server crashes was that I also can't access Plesk anymore via https://userid.hosttech.eu but I noticed I still can via https://userid.hosttech.eu:8443

It seems I'm blocked from accessing the server (also my other subdomains are affected), except Plesk over port 8443.

So it seems to be an IP block.

[2021-09-14 23:56] BigBerny commented on #17589
It could be Fail2Ban: https://docs.plesk.com/en-US/onyx/administrator-guide/server-administration/protection-against-brute-force-attacks-fail2ban.73381/
Unfortunately, I don't have access to this setting to try to disable it or whitelist my IP.

[2021-09-15 00:11] geekdenz commented on #17589
In that case I agree with @tsteur and a configuration setting to simply not do the HTTP requests suffices.

[2021-09-15 03:11] geekdenz commented on #17589
If the user has this problem at installation, they could just add the setting to `config/global.ini.php`.

[2021-09-15 04:24] geekdenz commented on #17589
@BigBerny and @HCl-not-HCi

Could you please download these files manually in their raw versions and copy them to the corresponding directories on your hosting:

https://github.com/matomo-org/matomo/blob/m-17589-4.4.1/config/global.ini.php
to config/global.ini.php
https://github.com/matomo-org/matomo/blob/m-17589-4.4.1/plugins/Diagnostics/Diagnostic/RequiredPrivateDirectories.php
to plugins/Diagno

[2021-09-15 05:16] geekdenz commented on #15892
Hi @truk70, I'm having a look into this now. Please bear with us, keeping on top of a lot of issues coming in is challenging and normal/expected with software of this magnitude. Thank you again for logging this issue.

[2021-09-15 05:17] geekdenz commented on #15892
FYI, I was able to reproduce this in my development version.

[2021-09-15 05:32] geekdenz commented on #17589
FYI, did you try what @diosmosis pointed out above?

This issue seems to relate
https://github.com/matomo-org/matomo/pull/17430

[2021-09-15 05:36] geekdenz commented on #15892
It can be reproduced here also:

[Demo: Acquisition/Overview](https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Referrers_Referrers&subcategory=General_Overview)

[2021-09-15 05:56] BigBerny commented on #17589
Patch works 👍

[2021-09-15 05:57] geekdenz opened #18003 "Uncaught TypeError: document.body is null"
This happens on this page in the current 4.x-dev branch.

In developer tools' console:

`Uncaught TypeError: document.body is null`

materialize.min.js:6:12646

## Expected Behavior

There should not be an error. Discovered this while reproducing https://github.com/matomo-org/matomo/issues/15892 .

## Current Behavior

<img width="957" alt="image" src="https://user-images.githubusercontent.com/479

[2021-09-15 07:04] janheig opened #18004 "Dashboard Sharing / Copying with all users is not possible"
It seems that there is a limited number of users available in the selection for copying a dashboard to users.

in my case, there is a number of 8 registered users (admin / writing rights), but there are only 5 users available, with whom the dashboard can be copied to.

Thanks and best regards!

[2021-09-15 07:08] BigBerny commented on #17589
I just don't know if it should be enabled by default. If all Plesk users by default are affected, many will have problems installing it.

[2021-09-15 07:47] heurteph-ei commented on #18004
Is this related to: #17996 ?

[2021-09-15 08:33] sgiehl opened #18005 "Switching evolution chart period might result in unexpected period displayed"
In evolution charts it's possible to select a period the evolution chart should display. This defaults to the period that is currently selected in Matomo.
Switching the selected period in the evolution chart to a higher period works without problems. But switching back to a lower period afterwards results in an unexpected behavior.

## Expected Behavior
When switching between the periods in evolut

[2021-09-15 08:40] sgiehl commented on #18004
@janheig For super users all users should be visible in the copy dashboard overlay. If an admin opens the overlay he will only see those users that have access to the same site. Maybe that's the case for you?

[2021-09-15 08:41] BigBerny opened #18006 "System check widget shows wrong database warning"
This is what the System check widget on the Admin overview shows a warning about UTF8mb4 when I hover (ignore the other warnings, they are all valid):
![image](https://user-images.githubusercontent.com/1528504/133400898-25d43a10-5eab-4e80-a4ff-7720c8dd613f.png)

This is what I see in the (full) System Check:
![image](https://user-images.githubusercontent.com/1528504/133400351-223e2a02-6109-4c2e-ae

[2021-09-15 09:14] sgiehl commented on #18003
I'm not able to reproduce that locally

[2021-09-15 09:43] geekdenz commented on #17589
I wonder if Plesk or whatever is causing this issue could be detected and the check disabled then.

Could you try to run this script on your server and share whether it reveals any information that could be due to Plesk or related to the issue?

Again, be careful, secrets might be revealed and only share what you believe is OK.

https://gist.github.com/geekdenz/fd8c72fc037d79f306d3a06e5e4784c4

[2021-09-15 09:45] sgiehl commented on #17919
@geekdenz The code to query the metrics uses `$_SERVER['HTTP_USER_AGENT']`. So the useragent of the current user.  I wonder if it might make sense to check if the results are empty and retry the query with another useragent. So the results are fetched correctly even if the useragent is not supported 🤔
Using random user agents in tests sounds valid. Otherwise we might not have discovered this. But

[2021-09-15 09:48] geekdenz commented on #17589
WARNING! May reveal secrets, so be careful with sharing!

Try this instead:

[code]

[2021-09-15 11:26] iamfinky opened #18007 "Improve "missing goal" handling when calling trackGoal"
## Summary
When I am triggering a trackGoal call with Matomo, if the goal isn't defined for the site I'm tracking or I've got the siteId wrong (i.e. a typo, etc). Matomo reports an HTTP 400 response when POSTing my Goal tracking event. This appears in the browser console with no clear information stating what the problem is.

What would be nice would be if Matomo could log an error saying somethin

[2021-09-15 12:57] HCl-not-HCi commented on #17589
@tsteur The error I got there was most likely the same problem as when opening the system check, because I also got blocked and the log contained the same errors (but this error occcurs only sometimes, most likely older system check results get cached).

@geekdenz Your fix is working for me too 👍

I don't think trying to detect Plesk (if even possible) to disable the http check, is a 100% safe sol

[2021-09-15 13:27] #16576 closed

[2021-09-15 14:06] tomper00 opened #18009 "Add segment conditions "Does not Start with" and "Does not end with""
We have learnt the hard way that segments for URLs that use the citeras **Contains** and  **Does not contain** has a very negative effect on the archiving performance, since both of them will generate MYSQL queries towards the visitor log that will not use an index.

Our solution was to rewrite a lot of these segments to use "Starts with" instead and this had a very good impact om our archiving in

[2021-09-15 14:21] sgiehl commented on #18009
Hi @tomper00
Thanks for creating this suggestion. Yes, segments using a contain might impact the archiving performance significant.
I don't think we will have time to implement additional segment operators in the near future, but if you have some free capacities a Pull Request would be very welcome.

[2021-09-15 14:57] sgiehl commented on #17965
#17987 didn't solve that properly. See https://github.com/matomo-org/matomo/pull/17987#issuecomment-920095127

[2021-09-15 20:10] tsteur opened #18011 "Update list of no longer supported browsers (IE11)"
We will want to update at least IE 11 in https://github.com/matomo-org/matomo/blob/4.x-dev/core/SupportedBrowser.php#L30-L37

Likely other browser versions increased as well.

Even though we are dropping support for IE 11 before Matomo 5 we will likely wait for this specific change until Matomo 5.0 as otherwise the UI won't be accessible using IE 11 anymore at all even though parts could still wor

[2021-09-15 20:11] tsteur opened #18012 "Add warning about dropping support for IE11 in Matomo user interface"
We are using Angular.JS library which soon will be no longer receiving updates. This forces us to upgrade to either a newer version of Angular or an alternative library. We've chosen to migrate all our Angular.js components to Vue.js 3 starting in https://github.com/matomo-org/matomo/pull/17940

Unfortunately, Vue.js 3 is not supporting IE 11. This means we have no choice but to drop support for I

[2021-09-15 21:13] tsteur commented on #18003
Can't reproduce it either. @geekdenz maybe check out the 4.x-dev branch and see if you can reproduce it there. And if not close the issue. If you can reproduce the issue be good to mention the exact steps to reproduce the issue and to paste the system report from Admin -> Diagnostics .

[2021-09-15 22:06] bx80 commented on #17871
Although the MYSQLI_OPT_READ_TIMEOUT connection option works in individual tests, it is per connection, not per query. So unless the max execution time was applied to all queries (which would likely cause problems) then using it would mean reconnecting and disconnecting for each query which requires a timeout, which doesn't seem like a viable option.

I found "SET STATEMENT max_statement_time=1 FO

[2021-09-15 22:10] mattmary opened #18013 "wrong tag manager container preview link"
Hi,

In my configuration, I cannot get the tag manager preview mode.
Expected URL for the container preview is  https://wordpress.local/5.8/wp-content/uploads/matomo/container_VgAseEaH_preview.js, got https://wordpress.local/5.8/matomo/wordpress/5.8/wp-content/uploads/matomo/container_VgAseEaH_preview.js

My configuration:
/var/www/matomo/wordpress/ document root of the webserver
/var/www/matomo/w

[2021-09-15 22:11] tsteur commented on #17871
Thanks for this @bx80 I think in that case we will want to maybe fall back to the initial idea of documenting this in an FAQ and also adjusting the `global.ini.php` to mention eg for the `archiving_query_max_execution_time` setting that it won't work when using Mysqli.

[2021-09-15 22:24] justinvelluppillai commented on #17919
@sgiehl @geekdenz I think the test should either test a few different UAs or just one rather than random. If we test one, we could use that same one with confidence for the backup useragent to retry with on empty results. Maybe worth making that as a separate issue - I've merged this one for now to prevent the failing test meantime

[2021-09-15 22:53] geekdenz commented on #18003
I had the then current `4.x-dev` branch checked out with a clean checkout. Had checked with `git status`. However, now, after a few merges I cannot reproduce this either. Thanks for checking.

[2021-09-15 22:53] #18003 closed, assigned to nobody

[2021-09-15 23:17] #16859 closed, assigned to geekdenz

[2021-09-15 23:17] tsteur commented on #18003
fyi replaced label `Potential bug` with `worksforme`

[2021-09-15 23:40] geekdenz commented on #17589
Would it be worth creating a release 4.4.2 @tsteur ?

Also, I merged into 4.x-dev, but it is not general Diagnostic, because we know it works as is. I think it is good enough though because it resolves a corner case for users using Plesk or Fail2Ban or similar.

We should probably create an FAQ.

[2021-09-15 23:47] tsteur commented on #17589
Not sure I understand for what?

Next planned release will be 4.5.0. Possibly in around 2 or 2.5 weeks time

[2021-09-16 03:42] geekdenz commented on #17589
@tsteur I branched off 4.4.1 here:

https://github.com/matomo-org/matomo/pull/18001

So, that fix has no release. I guess we could just have users wait for the 4.5.0 release if it will happen in 2-3 weeks.

[2021-09-16 04:26] mwithheld commented on #15278
Assuming the password reset hash should be secure and reproducible, how about using something like is used here:

[code]
For better security than sha512, we could choose another algorithm from the [hash_algos()](https://www.php.net/manual/en/function.hash.php) list, e.g. sha3-512.  A [speed comparison is here](https://www.php.net/manual/en/function.hash.php#124509), and an [output length compariso

[2021-09-16 05:09] bx80 commented on #17871
I've added a FAQ for review 'How can I automatically stop long running database queries?' which explains the two options and notes that they will not work if using the MySQLi extension.

[2021-09-16 05:55] samuel-lobby opened #18019 "Make the opt out work when a PHP 32 bit is used"
Hello all,

The iframe I added for the opt out works fine, at least as far as tracking is concerned. If I click on the checkbox it is unchecked and the text of the iframe changes after a reload of the page. If I reload the page again, the "old" text is displayed plus the checkbox is checked again.
However, the cookie for the opt out is set correctly and also works correctly.
But I would like the c

[2021-09-16 06:24] tomper00 commented on #18009
Ok will see what we can do!

[2021-09-16 06:54] geekdenz commented on #17856
`./console tests:setup` seems like a good idea. Could it automatically be triggered when the config is missing and ask:

`Do you want to configure a test DB now? (Y/n)`

[2021-09-16 08:01] sgiehl commented on #15278
Guess adding a more secure hashing for the reset token would be fine that way

[2021-09-16 08:24] janheig commented on #18004
@sgiehl Vielen Dank für den Hinweis! Der betreffende User hatte bisher nur Rechte für die Live-Seite, jedoch nicht für den Staging-Bereich. Mit der Zuweisung der Rechte für das Staging, konnte nun das Dashboard mit dem User geteilt werden.

[2021-09-16 08:24] #18004 closed, assigned to nobody

[2021-09-16 08:35] sgiehl commented on #18006
I guess the problem is, that the overview simply tries to place the results (you can see in the details) into the tooltip, which doesn't work properly in some cases. Maybe we should simply remove the tooltips to avoid irritations.

Kind of related to #17627

[2021-09-16 08:42] sgiehl commented on #17995
@airblag Does this only happen for reports created with the custom reports plugin?

[2021-09-16 15:09] airblag commented on #17995
@sgiehl Unfortunately, it happens with all reports. In between, I think it's designed like this, and it's not a bug.

My user is expecting the email report to be like the export function. To export metrics as the columns, and dates as the rows.
In the E-Mail reporting, the Tables are built differently : label and value(s). The period only influences the calculation of the total values for each lab

[2021-09-16 15:38] #15892 closed

[2021-09-16 16:05] DannyRo22 commented on #16125
@tsteur This week Chrome published an update for UA Reduction plans with projected timelines and Chrome milestones: https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html

[2021-09-16 19:18] Findus23 commented on #18019
Just a wild guess:
Is your iFrame embedded into a different domain as the one Matomo uses and do you have a browser with third party cookies disabled (like Chrom(e|ium) by default?

[2021-09-16 21:01] tsteur commented on #16125
Thanks for this @DannyRo22 I'll move the issue in an earlier milestone so we keep monitoring things.

[2021-09-16 21:03] tsteur commented on #17995
@airblag just to fully understand, could you send us a screenshot of the exact report configuration? Like chosen format, chosen reports, display options etc.

Thanks for this. We'll check then as well if it's meant to be like that or not.

[2021-09-16 21:28] tsteur commented on #17856
I'm not sure what the point of a command is which in the end then also just does it maybe "automatically". Then this logic could be executed directly when bootstrapping.

We could check that the test prefix is different to the regular database (which it is in > 80% of the cases since "matomo_" prefix is the default so it will work most of the time).

* If the empty test prefix is different to the

[2021-09-16 21:31] tsteur commented on #18006
Maybe could also think about removing line breaks etc then it might work again (and/or strip html)? It could be quite useful to have these tooltips but if not easily doable we can remove the tooltips 👍

[2021-09-17 01:10] bx80 opened #18025 "Max execution timeout exceptions for archiving are not handled"
The maximum database query execution timeout for archiving queries defaults to two hours and may also be overridden with a custom timeout value in config.ini.php

When an archiving query exceeds this timeout a  'maximum statement execution time exceeded' exception is returned.

## Expected Behavior
The max execution time exception for archiving queries should be caught and used to trigger an event

[2021-09-17 02:31] #17871 closed, assigned to bx80

[2021-09-17 02:57] bx80 commented on #18025
Once this issues is implemented then the FAQ [How can I automatically stop long running database queries?](https://matomo.org/faq/how-to/#how-can-i-automatically-stop-long-running-database-queries) will need updating to explain about notification options.

[2021-09-17 03:50] tsteur commented on #17919
@geekdenz this still seems to be failing randomly see https://app.travis-ci.com/github/matomo-org/matomo/jobs/537951969#L1130-L1130
![image](https://user-images.githubusercontent.com/273120/133721251-f8070116-689f-4516-a6ba-6a1842555929.png)

or am I looking wrong? The test ran after the other PR was merged AFAIK

[2021-09-17 03:53] #17965 closed, assigned to geekdenz

[2021-09-17 04:29] geekdenz commented on #17919
Yeah. Thanks for pointing it out. I saw this earlier as well but thought it might be an artifact of a merge not having happened somewhere. I think maybe the find I did was just looking like this in Safari. I'll have another look in Chrome. And then I might reinstate the array and make it retry with another UA if the test fails on the first etc. and only have it throw a failure of all fails.

[2021-09-17 04:41] mwithheld commented on #18006
To reproduce the problem, run this in mysql as root:
[code]

[2021-09-17 06:17] samuel-lobby commented on #18019
The Matomo is used on a subdomain of the main domain.
I first thought it was the cookie banner, but that doesn't seem to be the problem. I set these two necessary cookies:
- MATOMO_SESSID
- mtm_consent_removed

In Matomo I deactivated tracking with cookies maybe that's also an important information.

[2021-09-17 11:14] airblag commented on #17995
The custom report config I'm working with :

![2_matomo_customreport](https://user-images.githubusercontent.com/24829620/133772547-8f7cc1fa-0604-4309-8e5d-39ea41c6fa25.png)

How it's displayed when calling it directly :

![3_matomo_customreport](https://user-images.githubusercontent.com/24829620/133772574-29105f10-b6e5-4699-bfcc-51cf86544e6a.png)

The HTML Export which is produced (that my user wa

[2021-09-17 21:29] mwithheld commented on #18006
![18006](https://user-images.githubusercontent.com/796986/133855484-36dfe91e-6ca7-40d9-b14f-25a9c47bd4f8.png)

[2021-09-17 21:32] mwithheld commented on #18006
This kind of fixes Issue #17627 in that it strips tags, leaving the hyperlink text in place, e.g.
`<a href="http://blah">Learn more</a>` becomes `Learn more`.

![18006-2](https://user-images.githubusercontent.com/796986/133856036-26233eb1-100b-489a-999f-e8592e7fece4.png)

[2021-09-19 20:10] tsteur commented on #9473
As part of this issue we also adjust `Common::getRandomInt` https://github.com/matomo-org/matomo/blob/4.5.0-b1/core/Common.php#L591-L622 to not fallback to any other method and always use `random_int()`.

Since we've been using `random_bytes` without any issue it's safe to use `random_int()` directly without fallback.

[2021-09-19 20:30] tsteur commented on #18019
Is there any chance you could post a URL to the page where we can reproduce this? It be otherwise hard to reproduce or guess what the problem might be @samuel-lobby

[2021-09-19 22:20] #9473 closed

[2021-09-20 01:19] geekdenz commented on #17856
@tsteur, i agree. It should check the prefixes are the same as the regular DB parameter and iff they are the same throw an error. Otherwise it should just go ahead and save that config.

Should this mean that we put the logic here:

https://github.com/matomo-org/matomo/blob/4.5.0-b1/tests/PHPUnit/bootstrap.php#L85-L94

and pass in true here:

https://github.com/matomo-org/matomo/blob/ddfa42e16f664

[2021-09-20 01:21] tsteur commented on #17995
I see. Thanks for explaining this @airblag

That is currently actually expected behaviour.

I'll keep this issue open as a feature request just in case we'll work on this in the future and to see if other users find this valuable too.

Basically, what would be wanted is instead of this

![image](https://user-images.githubusercontent.com/273120/133949614-7ee60dc2-e881-4d66-9574-a5448e17149b.png)

S

[2021-09-20 01:27] tsteur commented on #17856
Hard to say, I'm not too much into this topic. I only know this used to work but must have regressed at some point. The goal will be that it configures this automatically saves the regular `config/config.ini.php` if it's not configured yet. If the section is already configured, then we don't want to change anything. Not sure if `allowSave` is `false` for a reason maybe. And we need to make sure if

[2021-09-20 08:46] samuel-lobby commented on #18019
@tsteur sure, here is the link to the privacy policy: https://www.hs-doepfer.de/datenschutz
Here I've implemented the opt out iframe. I hope this can be clarified as soon as possible.

[2021-09-20 12:39] Findus23 commented on #7115
For everyone stumbling across this post:

If you want to remove the marketplace from the menu (again, keep in mind that this only removes the links), this is the way to do it currently in a plugin:

Menu.php
[code]

YourPlugin.php
[code]
Alternativly you can wrap both in a `if (!Piwik::hasUserSuperUserAccess()) {` to only show the menu to superusers.

[2021-09-20 20:57] tsteur commented on #18019
Tested eg https://analytics.hs-doepfer.de/index.php?module=CoreAdminHome&action=optOut&language=de&setCookieInNewWindow=1&nonce=NONCE&time=1632171100302

It was trying to set an ignore cookie
![image](https://user-images.githubusercontent.com/273120/134074289-484cf56d-ac39-4e34-b9cd-7aad8c0e9146.png)

but it wasn't set afterwards somehow. Nothing related in the logs, no issues.

Not sure what the

[2021-09-20 22:08] tsteur commented on #7115
For anyone who doesn't want to create a plugin, the [White Label](https://plugins.matomo.org/WhiteLabel) plugin has a feature to exactly this (to remove Marketplace for non-superusers)

[2021-09-21 01:10] tsteur commented on #18012
@diosmosis published https://matomo.org/blog/2021/09/matomo-to-end-support-for-internet-explorer-11/ which we can link to. Will you add the notifications? To be a bit faster we could only do the browser detection for IE 11 if the user agent contains `Windows` and `11` maybe? see https://www.whatismybrowser.com/guides/the-latest-user-agent/internet-explorer the user agent would typically look somew

[2021-09-21 01:17] #14719 closed

[2021-09-21 01:23] diosmosis commented on #18012
@tsteur working on it now. I was thinking of just checking and adding the notification via JavaScript. What do you think?

[2021-09-21 01:25] tsteur opened #18036 "Optimise ecommerce life time metric query"
I'm meaning this query https://github.com/matomo-org/matomo/blob/4.5.0-b2/plugins/Ecommerce/VisitorDetails.php#L154-L169 which looks like this

[code]

At first glance the query looks good as it uses indexes etc.

This is usually also the case
![image](https://user-images.githubusercontent.com/273120/134098053-fa5ca4a5-9e07-499f-ac24-ab84dde32b49.png)

However, things change when one visitor has h

[2021-09-21 04:24] tsteur opened #18038 "Remove IE 11 not compatible check"
Revert https://github.com/matomo-org/matomo/pull/18037

![image](https://user-images.githubusercontent.com/273120/134111309-a79650fb-cf0d-4c63-b4aa-9f8d65699703.png)

* Check if the UI is not working anymore with IE 11.
* If there is nothing working anymore, then we should maybe think about removing the IE 11 notification or maybe we need to adjust it so it's still shown.

Let's decide what to do

[2021-09-21 06:26] tsteur commented on #18036
what seems to have fixed this for me was

[code]

or also using `STRAIGHT_JOIN` vs `left join` but not sure if there's any issue with that .

![image](https://user-images.githubusercontent.com/273120/134122035-e635b483-f162-4a71-868f-e3eb76b3c79e.png)

It changes the plan to

[code]

[2021-09-21 06:56] tsteur commented on #18012
Sounds good to me 👍  PR looks good to merge just waiting for @sgiehl to confirm in case he notices anything with user agent check

[2021-09-21 07:16] tsteur opened #18039 "Remove not used DB adapters"
Meaning https://github.com/matomo-org/matomo/blob/4.5.0-b2/core/Db/Adapter/Pdo/Mssql.php and https://github.com/matomo-org/matomo/blob/4.5.0-b2/core/Db/Adapter/Pdo/Pgsql.php

Since these are not supported can we remove them? It requires us on occasion to add core to these classes when we add methods to the other adapters and it confuses new developers thinking we might support them and that they n

[2021-09-21 07:44] tsteur commented on #18036
![image](https://user-images.githubusercontent.com/273120/134131845-6d7a8a53-3ae2-44b1-8e9e-090032914047.png)

Below some performance tests. Seems `STRAIGHT_JOIN` (last 5 entries) performed fastest vs the other ones maybe actually weren't faster.

[2021-09-21 08:06] sgiehl commented on #18039
@tsteur can't think of any useful reason. Couldn't even find a reason in git history why they had been added...

[2021-09-21 09:59] RoyBellingan commented on #14719
Thank you (Sorry I totally forget about this )

[2021-09-21 11:35] Nehagaj opened #18041 "Error : Action "Iframe" not found in the module "API""
When exporting in an iframe a particular page using the Widgetize feature, when I try to export a report's data, and click on "Export this dataset in other formats" it opens a new window with the error : Error : Action "Iframe" not found in the module "API". The issue is coming up for the list tab in the iframe. It is working fine for the Charts tab.
What I do not understand is the same action ifr

[2021-09-21 14:05] sgiehl commented on #18041
Hi @Nehagaj
Could you please provide some simple steps how to reproduce that? If possible you could even provide some example urls or urls from our demo where you are able to produce the error.
Once we are able to reproduce we will see if / when we will be able to fix it.

[2021-09-21 14:08] samuel-lobby commented on #18019
@tsteur I use Matomo 4.4.1. I made the update to this version after I recognized that this opt out iframe isn't working as it should. So maybe the cookie matomo_ignore is blocked from the cookie consent mananger?

[2021-09-21 14:20] Findus23 commented on #18019
@tsteur After checking myself, I noticed the reason why the cookie isn't set: The expiration date is `expires=Mon, 09-Aug-1915 07:50:25 GMT; secure; SameSite=None`.

[2021-09-21 14:24] samuel-lobby commented on #18019
@Findus23 you're right. Why is this happening? Can I control this expiration date?

[2021-09-21 14:26] Findus23 commented on #18019
Matomo sets the expiration date to 30 years from now:
https://github.com/matomo-org/matomo/blob/fd1d68cbaac5c8a44aaab335700eba8f3723c754/core/Tracker/IgnoreCookie.php#L59

So for a starter you could check the output of this PHP script:
[code]

[2021-09-21 14:28] Findus23 commented on #18019
But it is most likely a 32 bit overflow somewhere:
30 years from now is `2578918957` in unix time.
`2578918957- 2^32 = -1716048339` and `-1716048339` in unix time is in August 1915.

So can you describe your server setup a bit more? Which operating system are you using? Which PHP version?

[2021-09-21 14:34] samuel-lobby commented on #18019
@Findus23
the crm system: TYPO3 (9.5)
PHP version: 7.2.34
The Website is hosted at Domainfactory.
Do you need some more infos?

[2021-09-21 20:30] tsteur commented on #18019
I suppose this means we might also need to change other places? If I see this right the only thing we maybe can do about this add a system check mentioning 64 bit system / PHP required?

We could possibly make it work for this particular case to generate a date in 30+ years using something like `str_replace('current year', 'current year +30 years', Date::now()->getDatetime())` if we could pass str

[2021-09-21 21:44] #18012 closed, assigned to diosmosis

[2021-09-21 21:51] samjf commented on #18036
@tsteur Two ideas came to mind here. I can't verify if either will work without experimentation, but just something else to consider.

1. Potentially there could be a composite index on `idsite` and `idvisitor` (in the order that best reduces the set) for the log_visit table.
2. Potentially, and this might not help the query as a singular, but [here](https://github.com/matomo-org/matomo/blob/7ff0e

[2021-09-21 22:00] tsteur commented on #18036
@samjf there is already such an index on the log_visit table, but because it matches so many rows (like 1000) it seems to prefer a different strategy and not use it.

Didn't realise we execute it twice 👍  It should be using a prepared statement [already](https://github.com/matomo-org/matomo/blob/7ff0e20d6b1bc0e8a798dba8d20dd9bfc11d0a62/plugins/Ecommerce/VisitorDetails.php#L134) AFAIK although the

[2021-09-22 01:03] tsteur opened #18044 "Change the release process so we can still merge PRs while there is an RC and after a release"
See our current process for releases: https://developer.matomo.org/guides/release-management

That effectively means if we release eg monthly then there are around 8 working days or so where we can't merge. With quite a few devs in the team this is not really practical anymore as more merge conflicts will come up, more conflicts around tests etc.

Ideally we don't have a period where we can't merg

[2021-09-22 04:17] #18039 closed, assigned to peterhashair

[2021-09-22 05:48] #16459 closed

[2021-09-22 05:52] #16604 closed

[2021-09-22 06:48] Daijobou commented on #12264
@tsteur
I don't think it's a typo in all cases. I have thousands of page views daily and only a handful of these messages. I rather suspect that someone has copied my page and is using it offline privately and that's why the error happens only a few handful daily. So it would be nice to be able to turn this warning off or otherwise suppress it in a meaningful way.

[2021-09-22 06:56] tsteur commented on #12264
@Daijobou to suppress these errors, would it work to define for example a firewall rule or an `.htaccess` rule to block the request if the request goes to `matomo.php` or `piwik.php` and has a URL parameter `idsite=0`?

[2021-09-22 06:57] tsteur commented on #12264
@Daijobou btw how did you embed the tracking code? If they copy / download the page then it should copy also the idsite unless you're using the tag manager and the idsite is defined through a variable.

[2021-09-22 07:39] Daijobou commented on #12264
If I have thousands of page views per day in matomo statistics and the "setSiteId" is set by the system in a single template file, so it can never be wrong, the problem is in my eyes somewhere else, if there are only ~ 1-15 error messages per day.

Maybe someone downloaded the page and changed the SiteId via Search&Replace or a browser plugin does something strange here.

Is it possible to make an

[2021-09-22 08:54] iamfinky opened #18048 "If multi_server environment is set, disable Plugin management in GUI"
## Summary
When running Matomo in a cluster/multi-server environment, by design I cannot activate or deactivate plugins.
When I visit the plugins page in the UI (as a Super-Admin), I can still see options to activate or deactivate plugins.

Could we have a change so that, in this situation:

1. Plugin activation/deactivation controls are removed or disabled
2. A message is added at the top of the

[2021-09-22 10:37] Starker3 commented on #18048
There is already a config setting to disable plugins install/enable/disable here: https://github.com/matomo-org/matomo/blob/b35a0c8feebb7fc804485cd606872465821cdce1/config/global.ini.php#L747

As well as an additional config setting which disables some other admin settings: https://github.com/matomo-org/matomo/blob/b35a0c8feebb7fc804485cd606872465821cdce1/config/global.ini.php#L775

What we could

[2021-09-22 12:26] iamfinky commented on #18048
Oh, thanks! I had no idea. I'll close this ticket. Cheers! :)

[2021-09-22 12:26] #18048 closed, assigned to nobody

[2021-09-22 16:18] dominikborkowski opened #18049 "system check complains about lack of UTF8mb4 support when using mysqli adapter"
After installing brand new 4.4.1 instance with MYSQLI adapter the system check widget complains about lack of UTF8mb4 support. There is no such warning when PDO adapter is used.

## Expected Behavior

No warnings. Presumably MYSQLI is equally supported.

## Current Behavior

MYSQL

## Possible Solution

## Steps to Reproduce (for Bugs)

1. Perform a fresh new install of 4.4.
2. select MYSQL adapte

[2021-09-22 20:41] tsteur commented on #17881
Had now a similar random error with a different class. It must be some PHP bug

[code]

[2021-09-22 23:50] tsteur commented on #12264
@Daijobou if you are familiar with editing files on the server you could adjust this line in `core/Tracker/Request.php` and basically make that line say

[code]

[code]

[2021-09-23 08:49] #17907 closed, assigned to sgiehl, Findus23

[2021-09-23 10:01] sgiehl commented on #18049
@dominikborkowski  Did you maybe have a look at the full system check and not only the widget. The widget tooltips might sometimes be misleading - see https://github.com/matomo-org/matomo/issues/18006

[2021-09-23 10:07] samuel-lobby commented on #18019
@tsteur what can I do in the meantime? Or do I have to wait until it's released with an update of matomo?

[2021-09-23 11:26] MrIsak opened #18054 "Multi server environment in maintenance mode shouldn't result in 503 response"
In the FAQ https://matomo.org/faq/new-to-piwik/faq_134/ it is written
"When Matomo is used behind a load balancer, here are the steps to follow:
..... in your config.ini.php, below the section [General], add the following line: multi_server_environment=1. This setting lets Matomo know you’re using multiple servers....."

When publishing a web-service via loadbalancers, you use a health-monitor tha

[2021-09-23 11:30] dominikborkowski commented on #18049
You're right, the tooltip is misleading, the full system check indicates the same exact problem as seen in the issue you linked:

![image](https://user-images.githubusercontent.com/3235494/134499415-39ce11a3-cc2f-43e2-938b-08ac72ac126e.png)

Can we merge this issue with the one you linked?  EDIT: On a second thought, I think there is an important distinction. The problem I describe here manifests

[2021-09-23 11:32] MrIsak opened #18055 "Request with invalid token_auth responds 200 OK"
When sending requests against  the API module with a non existing token, the HTTP response should be 403. Not 200.

## Expected Behavior

When sending a request with a non existing token, response code should be 403
## Current Behavior

Response code is 200

## Steps to Reproduce (for Bugs)

1. `curl -ik 'https://matomo.example.com/index.php?module=API&method=API.getMatomoVersion&token_auth=I_DONT

[2021-09-23 12:57] Nehagaj commented on #18041
We won't be able to reproduce this issue on demo site of matomo since we are facing this issue in an iFrame that we have embedded into our application.
We are using below url for accessing the stats report :
https://intranet-piwik.abc/index.php?token_auth=XXXXXXXXXX&module=Widgetize&action=iframe&moduleToWidgetize=Actions&actionToWidgetize=getPageUrls&idSite=1&fllat=1&filter_limit=100&period=week&

[2021-09-23 13:02] Chardonneaur opened #18056 "Show totals for a specific set of dimension values"
When we use a report for example, the page url ones, it can show the total of the rows when clicked on the cog icon. The issue comes when we use in addition to that the search function in order to filter the page urls list, the total of the rows keep showing the total of all rows.

## Summary
The idea of this feature would be to make the total count of only the page urls which are concerned by the

[2021-09-23 13:05] sgiehl commented on #18049
@dominikborkowski I will close this one as duplicate of #18006. It doesn't make a difference if it's a fresh setup or changed database settings.

[2021-09-23 13:05] #18049 closed, assigned to nobody

[2021-09-23 13:13] sgiehl commented on #18055
Hi @MrIsak
Thanks for your suggestion. You are right, I guess it would make sense to return a proper response code in this case.

[2021-09-23 20:10] tsteur commented on #18041
@Nehagaj what does the URL look like for the widget that you embed? The URL you mentioned above looks like it wasn't generated correctly (eg `segment` parameter not escaped, parameters there twice etc and two question marks etc). I understand above URL was generated from the exporter?

And you have a different URL for embedding the page URL report into a frame. What's the URL you use for that?

[2021-09-23 20:16] tsteur commented on #18056
Thanks for creating this issue @Chardonneaur . Maybe when a search is used, we would need to have another row "Totals matching search results" as there are equally use cases where you want to compare these numbers in comparison to the overall totals. Otherwise it's hard to know how these relate to overall numbers except for the percentage.

[2021-09-23 21:00] tsteur commented on #18054
Thanks for reporting this @MrIsak makes sense.

Although 503 is the best response code, I wonder if we maybe want to return an HTTP 200 in these cases in general (eg in case someone is using it behind a load balancer but doesn't have this config flag set). Could also only return http 200 when this config is set as suggested.

We should also update the docs in https://matomo.org/faq/how-to/faq_2027

[2021-09-23 21:03] tsteur commented on #18055
This one we might want to do in Matomo 5.0 just because it's kind of a breaking change. We're using some of these URLs with invalid token in some monitoring tools ourselves and we'd get paged if there's a change and it's no longer HTTP 2XX.

It could also cause issues potentially with the Matomo Mobile app and possibly other apps etc when someone is trying to log in with wrong username/password.

[2021-09-23 23:18] #16834 closed, assigned to peterhashair

[2021-09-23 23:41] tsteur commented on #18019
@samuel-lobby is there any chance you can ask your hoster if they can update your site to a 64 bit system?

To fix this specific issue maybe we can refactor the opt out cookie to calculate 30 years in the future differently instead of using a timestamp etc use something like this (pseudo code) `str_replace('current year', 'current year +30 years', Date::now()->getDatetime()`.

[2021-09-23 23:44] tsteur opened #18058 "Add system check for 32 bit PHP / OS"
refs https://github.com/matomo-org/matomo/issues/18019

Let's add a system check if a 32 bit PHP is used and mention we recommend upgrading to a 64 bit to prevent various issues that may come up in the future.

Not sure how many possible integer overflows there are so far in Matomo. We need to do a quick check as part of this issue to know if there might be already issues with 32 bit in PHP by loo

[2021-09-24 09:47] Findus23 commented on #18058
For reference: Of all Debian users who have popcon enabled (https://popcon.debian.org/), 190502 use amd64 while 14218 use 1386. But the number is decreasing quite rapidly.

[2021-09-24 14:41] sgiehl commented on #18044
@tsteur I guess creating a branch whenever we need a new release due to regressions should be fine. But actually I'm not yet sure if not merging any new feature for a couple of days, like we currently did, would be a big problem. When a version has been released we usually would start working on the major issues of the next milestone, which might even take some time in development and review. Mayb

[2021-09-24 15:47] heurteph-ei commented on #18054
Sorry, but: If the server is in maintenance (whereas other are not), it is preferable the load-balancer does not sent any request to the server during its maintenance... So it should reply 503
But it's true that if all servers are in maintenance mode, the maintenance page should be available...

[2021-09-24 15:56] heurteph-ei commented on #18044
What about Trunk-Based Development? See https://trunkbaseddevelopment.com/

(From [Atlassian](https://www.atlassian.com/continuous-delivery/continuous-integration/trunk-based-development))

(Note: initially I wanted to suggest GitFlow, but I saw that it was "_[a legacy Git workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)_")

[2021-09-26 19:30] tsteur commented on #18054
@heurteph-ei I assume that servers would be maybe terminated once the 503 comes up and then new ones would be launched which then fail again etc and eg a running Matomo DB upgrade triggered on an instance would be terminated. And generally nobody would see the Matomo Maintenance page. @MrIsak is that maybe the case for you?

[2021-09-26 19:47] tsteur commented on #18044
@sgiehl we could see over time indeed. It's just while we onboard over the next few years and more and more devs join there are also many working on smaller issues and it always takes bit extra time to know which ones can be merged and merge conflicts etc. I'm assuming we'll release an RC today or tmrw for a week and there are currently quite a few of PRs waiting to be merged. And usually we don't

[2021-09-26 19:48] tsteur commented on #18044
Thanks @heurteph-ei for the link I'll check it out

[2021-09-27 01:13] #17589 closed, assigned to geekdenz

[2021-09-27 02:41] tsteur commented on #17881
And a similar one

![image](https://user-images.githubusercontent.com/273120/134837803-892c33ff-c7bd-4564-bd55-f0a1b5f8a44f.png)

it's trying to call ProxyHttp there

[2021-09-27 04:53] mattab opened #18066 "Detect when the website is a Single Page App (SPA) or a Progressive Web App (PWA) and link to the relevant guide"
Currently, it's hard for people who build SPA or PWA to find the relevant help page and instructions on how to setup Matomo tracking for SPA / PWA.

Suggested steps:

1. **SKIP (out of scope)** Product improvement: Similarly to https://github.com/matomo-org/matomo/issues/16787  where we currently detect if the "Tracked Website URL" is a WP site, or a drupal site, etc. we could also try and detect

[2021-09-27 05:03] tsteur commented on #18066
Doing step 2 and 3 sounds fairly easy and we could do that one for now and ignore step 1. For step 3 indeed the guide would need to be changed and it';s generally also a bit more work. We could get away though maybe by mentioning PWA and linking to the offline tracking guide.

@mattab did you maybe want to create a separate issue for these 3 different things or at least for step 1 as that's a bit

[2021-09-27 08:01] MrIsak commented on #18054
@heurteph-ei  That would be the "general" recommendation for loadbalanced environments. But due to how motomo works. ALL matomo servers will be in maintenance to prevent clients from using the GUI and have a bad user experience. Which means, no traffic will be forwarded to the enviroment, since the maintenance mode returns 503, not 200, as it says in
https://matomo.org/faq/how-to/faq_20278/

[2021-09-27 09:15] mattab commented on #18066
Sounds good to keep this one issue and ignore step 1 :ok_hand:

[2021-09-27 10:20] MrIsak commented on #18054
@tsteur , not sure I understand you correct. But yes. Since the recommendation in a multi-server-enviroment is to sync config.ini between servers; all servers will be in maintenance-mode at the same time. This will cause the loadbalancers to not forward traffic to matomo since the health-checks response is 503. And as you say, no one will see the maintenance-page.

[2021-09-27 15:56] #10550 closed

[2021-09-27 23:22] mattab commented on #10291
In an ideal world, we would maybe show the forecast line, but this could make the whole issue a lot more complex and time consuming.
So instead maybe we could first start by putting the last section of the line graph into a dash line, indicating to the user that there is something special about this last data point? That might be good enough to remove the "shock" of seeing the data point way down.

[2021-09-28 01:23] mattab commented on #17499
i could reproduce the issue, steps:

* Go to [demo](https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Referrers_Referrers&subcategory=General_Overview)
* Under evolution graph click on the sparkline eg. `1,620 from search engines, 56% of visits -16.5%`
* the graph loads correctly
* then click ag

[2021-09-28 01:31] mattab opened #18067 "In Acquisition > Overview report, when using the "Compare to" feature, it always shows 0% of visits"
## Expected Behavior

When comparing to a previous period, [example demo url,](https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=range&date=2021-09-14,2021-09-27&segment=&category=Referrers_Referrers&subcategory=General_Overview&comparePeriods%5B%5D=range&compareDates%5B%5D=2021-09-01,2021-09-13) then you'd expect the data to show

[2021-09-28 08:05] #17996 closed, assigned to peterhashair

[2021-09-28 08:14] benIT opened #18068 "API methods `Actions.XXX` return empty with period set to range and date between first and last day of current month on matomo 3.X"
The issue occurs when the `period` parameter is set to `range` and the `date` parameter set to first and last day of current month:

This API call with `period=range` and `date=2021-09-01,2021-09-29` returns data:

 * https://analytics.company.com/?module=API&method=Actions.getDownloads&idSite=4&period=range&date=2021-09-01,2021-09-29&format=JSON&token_auth=BRuebEp5YJOxn0B3oFRUdur4ReS3K99&flat=1&f

[2021-09-28 08:26] sgiehl commented on #18068
@benIT  We highly recommend updating to the latest Matomo version, as we likely won't spend much time on fixing issues for Matomo 3

[2021-09-28 09:28] tassoman opened #18069 "Weblate component needed for Community Plugin RerIntranetSubnetwork"
Hello there, I'm sorry to bug you but I have no privileges on the Weblate application, to create any component.
We can use as starting point the [en.json](https://github.com/RegioneER/RerIntranetSubnetwork/blob/4.x-dev/lang/en.json) file.

Please let me join translations, as we did for the [RerUserDates](https://github.com/RegioneER/RerUserDates/issues/17) plugin.

Ciao!

[2021-09-28 09:30] sgiehl commented on #18069
@Findus23 can you do that one?

[2021-09-28 09:36] Findus23 commented on #18069
It has been created and set up at https://hosted.weblate.org/projects/matomo/communityplugin-rerintranetsubnetwork/ and is currently adding the new languages.
Again, please set up the (same) webhook for the repo.

[2021-09-28 09:36] #18069 closed, assigned to Findus23

[2021-09-28 09:38] tassoman commented on #18069
Webhook is already set! :heavy_check_mark:
Thanks team :checkered_flag: :racing_car:

[2021-09-28 13:54] ziegenberg opened #18070 "New console command "marketplace:add-license-key" which adds a marketplace license key"
## Summary

Currently, it is not possible to add a license key to the Matomo installation via the console and one needs to log in to add it via the UI, which is cumbersome.

I'd like to have a `marketplace:add-license-key` command that adds a marketplace license key to the system. This comes in handy when automating things using the console for headless installs and updates.

## Your Environment

[2021-09-28 17:56] ziegenberg commented on #7582
I think this can be closed because Matomo already does try to use HTTPS when supported on the server-side. See https://github.com/matomo-org/matomo/blob/2ac2bc1aeaf8efce6bb9af92506311da99e1757f/plugins/Marketplace/config/config.php#L8-L16

[2021-09-28 18:00] ziegenberg commented on #7488
I think this can be closed because Matomo already does try to use HTTPS when supported on the server-side. See https://github.com/matomo-org/matomo/blob/2ac2bc1aeaf8efce6bb9af92506311da99e1757f/plugins/Marketplace/config/config.php#L8-L16

[2021-09-29 13:49] sgiehl commented on #17499
This could possibly be fixed with https://github.com/matomo-org/matomo/pull/18016

[2021-09-29 13:56] #17010 closed, assigned to peterhashair

[2021-09-29 14:41] #17890 closed, assigned to peterhashair

[2021-09-29 14:54] sgiehl commented on #10291
That might actually now be easy as our chart libs don't support different looks for the same chart line. Not sure if adding a separat chart line for the last point only would work easily though.

[2021-09-29 19:03] tsteur opened #18079 "Make error messages not leak potentially sensitive information when tracker db connection fails"
We implemented this in https://github.com/matomo-org/matomo/pull/17789 for the regular DB. However, we didn't implement this for the tracker DB around https://github.com/matomo-org/matomo/blob/4.4.1/core/Tracker/Db.php#L280-L281

We'd want to implement same logic what we did for #17789 for tracker DB too.

refs https://github.com/matomo-org/matomo/issues/7727 which has more background on why there

[2021-09-29 22:12] diosmosis opened #18081 "Better support for developing with Vue/TypeScript on Windows"
As we started introducing Vue 3 as a replacement for AngularJS in Matomo, it came up that the Vue CLI service command does not appear to work on windows. Trying to get the `vue:build` command to work on Windows resulted in several errors, one of them I couldn't fix:

![image](https://user-images.githubusercontent.com/125140/135196899-dabe8cd1-1a0f-4beb-ac5c-5bccffd9fe14.png)

Note: I only tested t

[2021-09-30 03:45] tsteur opened #18082 "Fix randomly failing UI tests"
These ones fail randomly quite often AFAIK

* [ ] https://builds-artifacts.matomo.org/matomo-org/matomo/4.x-dev/49535/UsersManager_permissions_bulk_access_set.png
* [ ] here it seems to not load the CSS randomly https://builds-artifacts.matomo.org/matomo-org/matomo/next_release/49592/
* [ ] This is another one I've seen that doesn't load the css https://builds-artifacts.matomo.org/matomo-org/matom

[2021-09-30 03:59] bx80 commented on #18082
This is another one I've seen that doesn't load the css https://builds-artifacts.matomo.org/matomo-org/matomo/m-6032-export-transitions/49534/UIIntegrationTest_admin_themes.png

[2021-09-30 04:56] peterhashair commented on #18082
There is one that always failed on my pr.
[code]
Just a thought, is that possible we only run tests on the parts we changed. like a subModule or Composer package :)

[2021-09-30 07:54] sgiehl commented on #18082
There is a general problem with automatically retrying UI tests. We have a lot tests that rely on the state of the previous test or that perform actions that can't be done again (like adding or removing stuff). So we could only rerun the whole test suite if one test failed, which then could cause timeouts if a long running test suite is rerun automatically.

Regarding the not loaded CSS/JS. I alre

[2021-09-30 14:01] sgiehl commented on #18082
The overlay UI test should be fixed with https://github.com/matomo-org/matomo/pull/18084

[2021-09-30 17:08] frinsen commented on #16495
+1

Would love to see this feature - we just moved from GA to Matomo.

[2021-09-30 18:50] tsteur commented on #17686
We might also need to look at usages like `$idSite == 'all'` and use `$idSite === 'all'` and similar ones see https://3v4l.org/17cZ2 will add it to the list

[2021-10-01 03:17] tsteur opened #18088 "Multiple requests may archive the same range request at the same time"
We noticed a while ago that multiple requests may launch archiving for the same period.

To reproduce this:

* Disable browser archiving & Disable browser archiving for a segment
  * eg set `[General]enable_browser_archiving_triggering = 0
enable_general_settings_admin = 0
browser_archiving_disabled_enforce = 1`
* Have a site with say 30 active goal
* Have generally data for a few days
* Trigger a

[2021-10-01 04:43] mattab commented on #18088
fyi this might be related/similar to the old report at https://github.com/matomo-org/matomo/issues/8444

[2021-10-01 10:16] #18079 closed, assigned to peterhashair

[2021-10-01 13:04] bitsagarob commented on #17159
We are still having this issue even when using latest matomo.js script

[2021-10-01 13:12] omarr1000 commented on #7364
@arnowelzel
I just added your script (piwik-tracker-proxy.txt) and the js on the site. So far fine, no errors etc.
BUT in my Matomo nothing is tracking! Any idea?

[code]

![grafik](https://user-images.githubusercontent.com/32812277/135625579-2e91d333-36a3-42b3-bb69-731d4d7cb716.png)

The default tracking code did work...

thx in advance (-;

[2021-10-01 14:14] arnowelzel commented on #7364
@omarr1000 The script has to be named `pwproxy.php`, so you can call it using `https://sayami.de/pwroxy.php`. Also you need to need to adjust the script so it uses the correct tracking IDs from your server.

[2021-10-01 14:23] omarr1000 commented on #7364
sure I know, all done as you mentioned, is named pwproxy.php, in that file edited the correct path and auth_token

$PIWIK_URL = 'https://sayami.de/path_to_matomo/';
$TOKEN_AUTH = 'xxxyyyyzzzz';

with tracking ID you mean the SiteId? or the token_auth?

[2021-10-01 14:31] arnowelzel commented on #7364
_(forget the comment about pwproxy.php - seems to be ok now)_

And yes, I talk about the TOKEN_AUTH, just follow the instructions in the script.

And is  https://sayami.de/path_to_matomo/ the correct path? If you run Matomo on another domain you have to put the domain here not some path inside sayami.de

[2021-10-01 14:37] enxoco commented on #18067
I can take this one up if it is still available.

[2021-10-01 14:38] omarr1000 commented on #7364
The Matomo path is in the same domain as described

[2021-10-01 15:42] arnowelzel commented on #7364
Then I don't know what's wrong, sorry.

[2021-10-01 16:15] DevDavido opened #18089 "[Console Archive] CURL: SSL certificate problem with expired certificate"
Since the [DST Root CA X3 certificate expired yesterday](https://medium.com/geekculture/will-you-be-impacted-by-letsencrypt-dst-root-ca-x3-expiration-d54a018df257), I'm getting tons of errors from Matomos console archive process.
The command that is executed via shell is `console core:archive --url=https://matomo.domain.com/`

## Expected Behavior
No errors.

## Current Behavior

## Context
Runnin

[2021-10-01 16:18] davaxi commented on #17686
Sparkline has been updated for PHP 8 :)

[2021-10-01 16:29] Findus23 commented on #18089
Hi,

Matomo overwrites the ca bundle like this:
https://github.com/matomo-org/matomo/blob/482cf02b00876f799516036cef52c061136a0954/core/Http.php#L973-L986

So if you added `custom_cacert_pem` to your General section of the config.ini.php, then it uses that file.

Otherwise it uses the file that `Composer\CaBundle\CaBundle::getBundledCaBundlePath()` returns which is most likely `vendor/composer/ca-

[2021-10-01 16:55] Findus23 commented on #18089
Reading https://www.openssl.org/blog/blog/2021/09/13/LetsEncryptRootCertExpire/ I now understand the issue:

For most nearly all users the DST Root CA X3 certificate expiration should not matter as long as one trusts the `ISRG Root X1` certificate (which both Matomo and all major distributions already do for a long time).

But OpenSSL 1.0.2 has a bug that means that if the `DST Root CA X3` is in t

[2021-10-01 23:23] githubyouser opened #18090 "Have the possibility to force disable async archiving in case async archiving is not fully working and we detect it falsely"
I've been experiencing an issue with Matomo `core:archive` scheduled cron jobs throwing "Got invalid response from API request: The response was empty" errors ever since I upgraded to Matomo 4.4.1. Not all of the API requests fail, only a few, and there doesn't seem to be any pattern to which ones fail.

My scheduled cron task sends me an email with errors *every* single time the cron job runs (ho

[2021-10-02 13:25] DevDavido commented on #18089
Thank you @Findus23 for your detailed feedback. As mentioned, updating the `config/config.ini.php` file by adding an updated [`cacert.pem`](https://curl.haxx.se/ca/cacert.pem) as `custom_cacert_pem` directive solved the issue.

[2021-10-02 13:25] DevDavido commented on #18089
Thank you @Findus23 for your detailed feedback. As mentioned by you, updating the `config/config.ini.php` file by adding an updated [`cacert.pem`](https://curl.haxx.se/ca/cacert.pem) as `custom_cacert_pem` directive solved the issue.

[2021-10-03 18:59] tsteur opened #18094 "Update composer/ca-bundle package"
To  1.2.11 or newer. We wouldn't update any other package.

When creating the PR please issue this PR against the `next_release` branch.

until we update composer/ca-bundle to 1.2.11, anyone making HTTP requests to Let's Encrypt sites (including archiving) will be broken for users with quite old servers (using openssl 1.0.2)

refs https://github.com/matomo-org/matomo/issues/18089

[2021-10-03 19:24] tsteur commented on #18090
refs https://github.com/matomo-org/matomo/issues/13180

@githubyouser Sorry about the trouble. I've had a look through the linked forum post. I think I didn't see any PHP error logs. Any chance you could check them or enable them?

Also could you paste a copy of the system report here see https://matomo.org/faq/troubleshooting/how-do-i-find-and-copy-the-system-check-in-matomo-on-premise/ ?

[2021-10-03 19:58] tsteur commented on #18067
It is @enxoco 👍

[2021-10-03 22:01] #18094 closed, assigned to nobody

[2021-10-03 22:06] mattab opened #18096 "As a user I want to see "Last week" or "Last Month" by default when I login"
We know that loading the "Current week" or "Current month" can result in a "Shock" where the graphs are trending down massively (see https://github.com/matomo-org/matomo/issues/10291)

It would be useful to let people select the following options:
* "Last week"
* "Last Month"

additionally to the ones we currently offer in `Report date to load by default`:

![Screenshot from 2021-10-04 11-03-39](h

[2021-10-03 22:24] tsteur commented on #17159
@segersrobbert are you using the latest version of Matomo? In case you are, is there any chance you can post a link to where we can reproduce this?

[2021-10-04 04:01] #11627 closed

[2021-10-04 15:14] githubyouser commented on #18090
Thanks, @tsteur. I have enabled PHP logs, but unfortunately, nothing seems to show up relating to my issue. This is all I've got for the past month or so from Matomo. (The 4.3.1 error is from when I downgraded to see if that fixed the problem.)

[code]
Let me get my 4.4.1 installation running again here, (I left it in place so I can quickly switch back to it) and I'll get a system report for you s

[2021-10-04 23:20] mattab commented on #10291
Looks great. Feedback:
* As people will wonder what the dashed line means, maybe we could edit the tooltip on the last period and mention `(incomplete period.)` under the date in the tooltip? or some other better wording?

[2021-10-05 00:09] justinvelluppillai commented on #17919
I think it's possible for this to fail if the actual search results on Bing contains the word "results". It's a rare case, maybe happens occasionally when microsoft.com publishes new company "results" for investors or at random. Perhaps a solution would be to make the regex that searches for the number of search results more restrictive. The change from @geekdenz at least prevents the test failing

[2021-10-05 00:40] #17815 closed, assigned to peterhashair

[2021-10-05 03:06] peterhashair commented on #18082
Get this on the UI test, I guess there is a timeout or ssl on the test.
![image](https://user-images.githubusercontent.com/3783072/135953132-021e9d8b-2c3a-42cb-b9e1-293b1446cb7b.png)

[2021-10-05 03:27] #18058 closed, assigned to peterhashair

[2021-10-05 03:30] samjf commented on #18036
Something to be careful of when we test this:

https://dev.mysql.com/doc/refman/5.6/en/query-cache-in-select.html

Interestingly "a space character must precede and follow the SQL_NO_CACHE keyword"

[2021-10-05 03:41] tsteur commented on #18036
@samjf that's good to know! could you mention this on https://developer.matomo.org/guides/profiling-code#profiling-a-specific-query where we talk about SQL_NO_CACHE? There is an edit button on the bottom right which allows you to edit the page using markdown. You can edit it directly in the Github UI. Then you can create a PR from this change by setting a branch name
![image](https://user-images.g

[2021-10-05 04:49] tsteur commented on #3371
see https://github.com/matomo-org/matomo/pull/18064 we won't work on this for now as it's hard to impossible to identify if mod_security is installed or not and mod_security seems to be no longer supported in 2024. I'll close this issue for now as `wontfix`. If you are reading this and are using `mod_security`, I recommend you disable it.

[2021-10-05 04:49] #3371 closed

[2021-10-05 05:05] dune73 commented on #3371
Nah, it's just that Trustwave wants to hand over ModSecurity to an open source community. Talks are happening as we speak.

In the end, the engine for the SecLanguage does not matter too much. What is important and what "incompatible" means is that the OWASP ModSecurity Core Rule Set has rules that bite Matomo and these rules run on ModSecurity _or a compatible web application firewall_. And there

[2021-10-05 05:06] tsteur opened #18098 "Make UI tests work again as they fail regarding SSL certs"
From @Findus23 changing the travis yml to  https://github.com/matomo-org/matomo/compare/ui-tests-bionic seems to fix the UI tests by getting it to use bionic. Note that this change fails other tests see https://app.travis-ci.com/github/matomo-org/matomo/jobs/540837360#L414 meaning we likely need to also adjust the travis template in https://github.com/matomo-org/travis-scripts/blob/master/generato

[2021-10-05 09:08] #11175 closed

[2021-10-05 20:16] samjf commented on #18036
@tsteur Sure thing! That is a good idea. I'll put a notice there too.

[2021-10-06 01:43] Starker3 commented on #15620
Do we have any ETA for this issue? It looks like it was added to the 4.3.0 milestone. We've had some users contact us regarding this issue.

[2021-10-06 02:50] tsteur commented on #15620
It's in the 4.7.0 milestone. Possibly beginning next year I would say.

[2021-10-06 04:49] peterhashair commented on #17976
@tsteur sorry to bother, If I understand correctly, this issue is differentiating the CLI and the browser request on Archives jobs. When the browser triggers it, it should pass the setting already set by the admin. But through CLI it won't need that check?

[2021-10-06 19:32] tsteur commented on #17976
I'm not sure if it will need that check or not on CLI. That would be part of the issue to figure that out. Generally it be great if we could remove this line `$_GET['trigger'] = 'archivephp';` completely. Or if it was added for `purgeOutdatedArchives`, maybe it could be set only in that task and then unset again if it did not already exist before that.

I would probably start with removing `$_GET[

[2021-10-07 10:07] Daijobou commented on #12264
Oops, forgot to submit the text.

@tsteur Thanks. However, "HTTP_REFERER" does not tell on which page the error occurs, only where the user came from. ;)
I have test it and added the IP to the log output. To see if the error is generated by a single page visitor or multiple page visitors.

The error_log entries are strange, because there are entries from a IPs that have many 20-100 access_log entr

[2021-10-07 14:07] tomper00 opened #18107 "Add more granular access control for segment creation"
In config.php.ini there is a variable called:
adding_segment_requires_access
; Possible values are "view", "admin", "superuser"

It would be great if we could add **write** to the list of valid configurations, since creating segments on larges sites can be quite sensitive from a performance perspective.

[2021-10-07 14:54] anthosz opened #18108 "reports not coherent -> some entryPageUrl in archive* tables (no segment) / other are generated via log_* tables"
Hello,

## Expected Behavior
When I check a custom segment (set in the url directly, not created via gui), I'm supposed to see only results that can be found in log_* tables.

## Current Behavior
Depending of the custom segment, It's randomly the case (only one website is set). These 2 examples have several requests by days since several years.
Example:
* I want to check the log for specific entry

[2021-10-07 20:07] tsteur commented on #18082
Note the premium feature UI test will be fixed by https://github.com/matomo-org/matomo/issues/18098

[2021-10-07 20:07] tsteur commented on #18044
We try this for a while and then assess if it needs changing

[2021-10-07 20:07] #18044 closed, assigned to nobody

[2021-10-07 20:09] tsteur commented on #18019
The goal of this issue is to make the opt out work when a PHP 32 bit is used see https://github.com/matomo-org/matomo/issues/18019#issuecomment-924360242

[2021-10-07 20:16] tsteur commented on #17774
This should be fixed by https://github.com/matomo-org/matomo/issues/18088

[2021-10-07 20:16] #17774 closed, assigned to nobody

[2021-10-07 20:26] tsteur commented on #16904
@peterhashair I think you documented this one? Is it fully published?

[2021-10-07 20:34] tsteur commented on #14782
As part of this issue we change `You need to enable this built-in function.` to `We recommend you enable this built-in function.`. We could also link to https://matomo.org/faq/troubleshooting/how-to-make-the-diagnostic-managing-processes-via-cli-to-display-ok/

[2021-10-07 20:46] tsteur commented on #5312
The FAQ title be like `How do I get Matomo to use HTTPS for links to my site instead of HTTP?` Where we would then explain to configure a HTTPS URL in the measurable site URLs.

To be double checked / confirmed. Not sure if eg the HTTP URL would need to be removed or not. And to be confirmed if this only works for visits log / profile.

[2021-10-07 20:51] tsteur commented on #3513
if there is an unexpected complexity (causing it to take > 2 days) in making this work please reach out.

[2021-10-07 22:01] githubyouser commented on #18090
@tsteur  If you need any further information, please don't hesitate to ask.

[2021-10-07 22:07] peterhashair commented on #16904
@tsteur just published it. This issue Should be good to go.

[2021-10-07 22:08] justinvelluppillai commented on #16904
@peterhashair can you please post a link to the new document and close this issue?

[2021-10-07 22:13] peterhashair commented on #16904
To resolve this issue. Please go to FAQ [HOW DO I IMPROVE THE LOAD TIME OF THE FIND VISITOR SQL QUERY WHEN VISITORS HAVE MANY VISITS?
](https://matomo.org/faq/how-do-i-improve-the-load-time-of-the-find-visitor-sql-query-when-visitors-have-many-visits/)

[2021-10-07 22:25] tsteur commented on #18090
Thanks for this @githubyouser It's hard to say what could cause this since it works when executing manually. Is it maybe using a different PHP binary when it's running from the cronjob? Maybe that one has a different php ini? Maybe it helps in the cronjob to define the path to the php binary that you are using when executing it manually. Might make no difference but trying to understand what could

[2021-10-07 22:26] tsteur commented on #18107
Makes sense 👍  thanks for reporting this @tomper00

[2021-10-07 22:29] tsteur commented on #12264
For the tracking request that would be the page where the tracking request is being issued. So exactly what we're after.

[2021-10-07 22:58] #17602 closed, assigned to peterhashair

[2021-10-08 00:04] tsteur commented on #18108
That's the case unless browser archiving is disabled and in `config/config.ini.php` the option `browser_archiving_disabled_enforce = 1` is set. As it seems to work for some other segments that doesn't seem to be the case for you.

In the first example you are viewing a `week` in 2017
![image](https://user-images.githubusercontent.com/273120/136477873-cb2d1be4-b330-4958-8666-a14cd1d99544.png)

is t

[2021-10-08 00:50] #17976 closed, assigned to peterhashair

[2021-10-08 02:14] peterhashair commented on #14192
I think this is related to this PR: #18051. Once that PR is ready to go, I can document this in the FAQ.

[2021-10-08 04:05] tsteur commented on #18098
Created https://github.com/matomo-org/matomo/pull/18111 thought to fix this quick but turns out the UI tests still fail. Unassigning myself as I won't have the time to complete it.

Maybe someone could continue in #18111?

[2021-10-08 08:13] anthosz commented on #18108
@tsteur thank you for your answer. I confirm that browser_archiving_disabled_enforce = 0 is set (from global config).

![image](https://user-images.githubusercontent.com/14294064/136521123-4242485c-4c7e-44c1-8a6c-61a6d34f1781.png)

So I don't understand why few data's missing between end 2019 & may 2021 (config was never modified in config.ini.php)

Concerning another 'custom segment' (set by url

[2021-10-08 08:37] AltamashShaikh opened #18115 "FakeAccess update idsite comparison for all to strict"
FakeAccess update idsite comparison for all to strict

## Expected Behavior
https://github.com/matomo-org/matomo/blob/4.x-dev/tests/PHPUnit/Framework/Mock/FakeAccess.php#L169
'0' == 'all' should return false, but returns true for PHP version < 8

It should return false since we have a strict check when not testing via FakeAccess

## Current Behavior
'0' == 'all' is returning true for PHP versions

[2021-10-08 10:29] Nico-de-Vries opened #18117 "Matomo 4.5 not working with PHP 8.1 RC3 (Matomo 4.4.1 worked fine)"
I understand PHP 8.1 RC3 is not officially supported yet but decided to report this anyway. It worked fine with 4.4.1 until I upgraded to 4.5. Unfortunately downgrade doesn't work (database has already been upgraded) so I did some debugging to figure out a workaround.

I tripple checked that Matomo 4.5 was properly installed with a diff -qr between the zip and my installation.

***PROBLEM:***

PHP

[2021-10-08 11:55] Findus23 commented on #18117
Indeed PHP 8.1 is not yet supported, but thanks for reporting the issue, that way we can get it working until it releases.

We are tracking all issues in https://github.com/matomo-org/matomo/issues/17686, but it seems like this hasn't been seen yet (maybe because I tested with Matomo 4.4.1)

[2021-10-08 11:59] Findus23 commented on #18117
Weirdly enough Matomo 4.5.0 is working fine for me in PHP 8.1.0beta2. I'll compile the latest release candidate and check again.

[2021-10-08 12:10] Findus23 commented on #18117
It still seems to work for me:
![grafik](https://user-images.githubusercontent.com/6266037/136554278-57ae077c-f5bf-4f52-adcf-395d87d88c40.png)

Maybe @diosmosis has an idea as https://github.com/matomo-org/matomo/pull/17736 is the only change I know in Matomo 4.5.0 related to those files.

[2021-10-08 13:20] utrautmann commented on #17941
I would like to add that I also have problems with the display of the widget "Visits over time" in all of my clients' installations. Whenever a user has **selected any segment**, this widget takes a very long time (usually the web server timeout stops).
It is always the following example POST request that takes the long time https: //myserver/index.php?segment=deviceType%3D% 3Ddesktop&date=today&f

[2021-10-08 16:46] dev-101 commented on #18089
This looks related, although it happened during Matomo automated update to 4.5.0.
My server is not exactly up-to-date (will soon switch to new hosting), but still this is weird.
OpenSSL version 1.1.1  11 Sep 2018 (Library: OpenSSL 1.1.1k  25 Mar 2021)

![matomo-update-ssl-issue](https://user-images.githubusercontent.com/5383059/136593649-f66198dd-f042-4826-a21d-2acc73e86eca.png)

I had to use HTTP

[2021-10-08 16:48] rupalikombade opened #18118 "_pk_id _pk_ses cookies are not secured"
Is there way to make _pk_id _pk_ses cookies secured? I am using matomo recent version.

[2021-10-08 18:25] Findus23 commented on #18118
Hi,

If you mean by that, that you would like to add the `secure` flag to all tracking cookies (so they are only sent with HTTPS requests), then this guide is the answer:
https://matomo.org/faq/general/faq_25936/

Please next time ask on the forum (https://forum.matomo.org/) as this issue tracker is only intended for bug reports and feature requests.

[2021-10-08 18:25] #18118 closed, assigned to nobody

[2021-10-08 18:30] Findus23 commented on #18089
@dev-101 Honestly I can't help much as I know that the TLS setup on builds.matomo.org is correct (see [ssllabs](https://www.ssllabs.com/ssltest/analyze.html?d=builds.matomo.org&latest)) and apart from the openssl 1.0.2 issue, I am not aware of any issue.
So I'd recommend you to debug this by first trying to make http requests using the command line curl and if that works a simple PHP script using

[2021-10-08 19:35] #18115 closed, assigned to nobody

[2021-10-08 21:07] githubyouser commented on #18090
Thanks @tsteur. I double-checked, and the the path to the PHP binaries is the same. They're also using the same php ini.

I removed the cron job and waited a few hours, then ran the archive job manually via SSH, but the task finished in 198 seconds  with no errors.

Interestingly, my cron job **did** run once without an error this morning! But I have no idea why, or what the difference was.
`2021-

[2021-10-09 02:07] diosmosis commented on #18117
This seems like it might be a PHP issue... IteratorAggregate is an interface, nothing should inherit from it (just implement it). It also seems like this error might be covering up some other error. It might help to just print, log or file_put_contents the notification message in WebNotificationHandler to see what Matomo is trying to display.

[2021-10-09 10:03] andremartin opened #18119 "Incorrect asset URL if reverse proxy provides forwarded URI using headers fields other than HTTP_X_FORWARDED_URI"
## Expected Behavior

Correct URL generation (for assets) when running Matomo behind a reverse proxy on a sub path.
## Current Behavior

Incorrect URL generation since some reverse proxies such as traefik provide the URI using HTTP_X_FORWARDED_PREFIX rather than HTTP_X_FORWARDED_URI.

## Possible Solution

Extend the URL generation to also consider HTTP_X_FORWARDED_PREFIX if set in addition to HTT

[2021-10-09 21:03] abilogos commented on #18096
I want to work on this Issue, if its possible?

[2021-10-09 21:25] justinvelluppillai commented on #18096
@abilogos that would be great thanks 👍

[2021-10-10 19:11] tsteur commented on #18117
Was thinking if maybe https://github.com/matomo-org/matomo/pull/17989 regressed something there but doesn't seem to reference `IteratorAggregate`. Possible that PHP8.1 issue has always been there but not noticed if there was no notification triggered.

Possibly what happened in Matomo 4.5 is what @diosmosis suggested there's now a notice or warning or something that wasn't triggered before. Like e

[2021-10-10 19:12] tsteur commented on #18117
This would be ideally worked on by the same people that do https://github.com/matomo-org/matomo/issues/17686

[2021-10-10 19:17] tsteur commented on #17941
@utrautmann you might want to put this additional configuration into `config/config.ini.php` as part of the `[General]` section: `browser_archiving_disabled_enforce = 1`. Otherwise segments may still be archived while being requested from the browser. It's partially mentioned in https://matomo.org/docs/setup-auto-archiving/#more-information-about-matomo-archiving

[2021-10-10 19:38] tsteur commented on #17941
@utrautmann do you know if the segment is configured to be "pre-processed" or to be processed in "Real time"? You can find out when editing that segment.

[2021-10-10 19:44] tsteur commented on #18089
@Findus23 I reckon we can actually close this issue since we merged the CA bundle update and it's in the 4.5 release? People may have issues though when they try to upgrade to 4.5 (nothing we can do about it now) but afterwards it should be fine I reckon.

[2021-10-10 19:48] tsteur commented on #18090
@githubyouser thanks for this update. It's hard to say what's happening there without knowing the system in & out etc. Is there maybe some way that cronjobs are terminated after a while? Possible that it now completed some tasks and next time the cron ran a bit faster and wasn't terminated early. Generally, this looks like a server configuration issue as it works fine when running it manually. I w

[2021-10-11 00:43] #18107 closed, assigned to peterhashair

[2021-10-11 01:11] tsteur commented on #18108
@anthosz I'm assuming there are actually periods matching that segment where it doesn't show any data?

Does it show up if you invalidate the reporting data for that period where it currently shows 0 see  https://matomo.org/faq/how-to/faq_155/

This might cause the data to show up if there should be any. It won't answer why it's not there in the first place. It's possible that maybe there was a bu

[2021-10-11 02:00] peterhashair commented on #17919
I had a discussion with @justinvelluppillai  on that one, we suggest printing the IP if tests failed in the travis, if the same IP keeps failing, probably because the IP blocked already. Let me know if there is a security risk of printing the IP of Travis.

[2021-10-11 03:20] #18036 closed, assigned to samjf

[2021-10-11 03:42] tsteur commented on #18119
Thanks for reporting this @andremartin . I wonder if we should maybe support also different flags like when `proxy_uri_header=1`(for backwards compatibility) still use `HTTP_X_FORWARDED_URI`.

Then we also allow configuring `HTTP_X_FORWARDED_PREFIX` as a value like

[code]

Basically, when it's non numeric then we assume a user configured the name of the header.

I'm just meaning this approach be

[2021-10-11 03:42] tsteur commented on #18119
@andremartin btw feel free to create a PR for this and we'll review 👍

[2021-10-11 04:26] samjf opened #18128 "Make JSON config / package static files unreachable via a GET request"
It seems that various JSON configuration files are easily viewable by requesting them with a simple GET request. Some examples of these are:

- matomo-domain.example.com/plugins/AbTesting/plugin.json
- matomo-domain.example.com/plugins/CustomVariables/plugin.json
- matomo-domain.example.com/package-lock.json

Some various files I've observed:
- composer.json
- plugin.json
- package-lock.json

Ther

[2021-10-11 04:39] tsteur commented on #18128
FYI noticed originally `json` was added to fix some tests in https://github.com/matomo-org/matomo/commit/903b870466b62e8a655a0f6564d052583c0fb7ec#diff-dddd74c8019f3e240dad1e60bc6ffbdd906ad7fa396b3e272a493f5b4af0c5c7

I suppose we could check through all the tests and see if we can maybe remove `json` now. `package-lock.json` we'll soon actually remove from the release directly but then they might

[2021-10-11 06:30] liping521 opened #18129 "An exception has been thrown during the rendering of a template"
We upgraded Matomo to 4.5.0 and observed a bug.
An exception has been thrown during the rendering of a template ("Unable to write in the cache directory (/var/www/html/tmp/templates_c/f9).").
in /var/www/html/plugins/CoreHome/templates/getDefaultIndexView.twig line 1

[2021-10-11 06:30] AltamashShaikh opened #18130 "Fixed in place sorting order bug for PHP8+"
When trying to fetch API.getGlossaryMetrics the order of response changes if php version >= 8 , due to which testcases starts failing
Eg: https://3v4l.org/aK3vq

## Expected Behavior
The sort order should be consistent across php versions

## Current Behavior
Sort order differs for php versions
https://3v4l.org/aK3vq

## Possible Solution
A possible fix is to not return '0' if values are same.
Fix

[2021-10-11 09:03] anthosz commented on #18108
@tsteur I think yes that it match this segment.

Invalidation works but I cannot replay the archiving (I have only 3 months retention concerning logs_*).

It's possible that can be related to an older version of Matomo yes.

So to summarize:
Once an URL is tracked -> someone "generate" a new segment on matomo (via url directly) -> this url (segment/report generation for this specific url) is suppo

[2021-10-11 10:12] peterhashair commented on #17856
@tsteur Just confirm the logic here.

- when the `[database_tests]` is not set, it will create a new database with the `_test` suffix through the same connection that already exists in the `[database]` section

- If the connection failed because of a password (like username not set on %) or [datababse] dbname is the same as [database_test] about to generate, we throw an error message, require the

[2021-10-11 10:35] alexhass commented on #12024
Bug still exists in 4.5

[2021-10-11 10:51] alexhass opened #18132 "error private directories are accessible"
The security check fails, but security files have been generated.

./console core:create-security-files

## Expected Behavior
No errors

## Current Behavior
We found that the above URLs are accessible via the browser, but they should NOT be. Allowing them to be accessed can pose a potential security risk since the contents can provide information about your server and potentially your users. Pleas

[2021-10-11 10:52] alexhass commented on #18132
If I run ./console diagnostics:run I get "Unable to test if mod_pagespeed is enabled: the request to http://unknown/./console?module" what seems to be a known bug since 2017. No idea how to solve this.

[2021-10-11 12:50] Findus23 commented on #18129
Hi,

Can you make sure the user running PHP (and therefore Matomo) does have write access to your `/var/www/html/tmp` directory?

[2021-10-11 13:09] #18089 closed, assigned to nobody

[2021-10-11 13:10] Jaimeapo commented on #17807
Hi, We are using Matomo 4.4.1 and we are experiencing missing data on some installations.
I see an error: 204 No Response
![image](https://user-images.githubusercontent.com/2892389/136794606-82bb81d1-7464-43e2-8f90-8aea8d9658bd.png)

And the **Query String Parameters** the parameters has been shown as well, but the report doesn't show anything.
[code]

![image](https://user-images.githubuserconten

[2021-10-11 15:14] githubyouser commented on #18090
Thanks for continuing to pursue this with me, @tsteur. I just asked my host about this, and linked to this issue so they can take a look into it.

In the mean time, is there any way I can have Matomo put out some more useful debug information? Maybe inject some logging code somewhere to give more precise error messages about what is actually going wrong behind the scenes?
Also, I see that Matomo 4

[2021-10-11 15:28] utrautmann commented on #17941
@tsteur All segments in the affected client installations are configured to be "pre-processed". But browser_archiving_disabled_enforce is actually set to 0.  I will make a change.

[2021-10-11 18:44] tomudding opened #18133 "JSONp API request (with callback) strips first and last character from result"
## Expected Behavior

I am making a JSONp request to the [Overlay API](https://developer.matomo.org/api-reference/reporting-api#Overlay) with a specific `callback` value, as follows:

`https://demo.matomo.cloud/?module=API&method=Overlay.getTranslations&idSite=1&format=JSON&jsoncallback=__jsonp1`

I expect to get back the following:

[code]

## Current Behavior

What is actually returned:

[code]

[2021-10-11 18:54] tsteur commented on #18133
Thanks for reporting this @tomudding and providing links to reproduce and thanks for already pointing to where the problem is. This makes things a lot easier. Must have regressed in https://github.com/matomo-org/matomo/commit/66bcb98556e5b92b7b6187a5a904e13a408d0ed6#diff-287d49d80349087bbbaa1186c9f825689026f878c9bad60f46a735b65011acb2R64

[2021-10-11 19:34] tsteur commented on #18129
@liping521 I'll close this issue already as it's a server configuration issue. However, we're happy to keep the conversation going. I'm assuming during the upgrade (maybe a manual update of uploading server files or a command was run on the CLI using a different user?) changed some permissions for some directories like the `tmp` or `tmp/templates_c` directory.

[2021-10-11 19:37] math-GH commented on #17607
Any news about this?

[2021-10-11 19:49] tsteur commented on #18132
@alexhass the mod_pagespeed log can be ignored in this case. You might just want to manually check if mod_pagespeed is enabled or not.

If I understand correctly then some of the URLs are accessible via the browser, but they should NOT be. Which web browser are you using?

See also https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/

[2021-10-11 19:51] tsteur commented on #18090
It's up to you whether you want to upgrade. I would probably recommend as there's always a small chance that it will fix something. Although I don't think it will in this case as it does look like a server configuration issue.

Regarding additional logging or so I'm not 100% sure but I would definitely wait first regarding what your hoster says.

[2021-10-11 20:26] #17919 closed, assigned to peterhashair

[2021-10-11 21:52] tsteur opened #18134 "Add new configuration to disable archiving the segment reports for specific plugins"
We noticed some plugins may cause a lot of CPU load. A solution is to disable a plugin that causes a lot of load. However, sometimes it be great to still have at least report data for "All visits" but not segments. This way say 95% of the load is reduced while the biggest value might be still there.

It be great if we had a new config ini flag to disable archiving the archiving for some plugins wh

[2021-10-11 23:37] githubyouser commented on #18090
@tsteur here's what my host says:

"If Matomo says there were 4 problems or 6 problems or whatever, then it should be able to tell you what they are. A program that exits unsuccessfully without producing a diagnostic error is a broken program.

If Matomo can provide useful feedback about some actual problem, we'll be happy to help you look into it."

[2021-10-12 01:29] tsteur commented on #18090
thanks for this @githubyouser

Did you maybe ask them if there are any kind of restrictions on cronjobs or so? Like a time limit?

If there was a logic that simply aborts/kills the process that is being executed, then there wouldn't be much we can log. Currently I don't really think there's actually a problem in Matomo as it seems to work fine when you execute it manually. However, it doesn't seem

[2021-10-12 02:30] githubyouser commented on #18090
I'm pretty sure there's no time limit on cron jobs, as the tasks do eventually finish, it's just that a few of the API calls are empty for some reason.

[code]
My host is convinced that it's not their problem, (and said so very emphatically) while you seem to think that it **is** server-side, so I don't know what to do next! :/ I'll try upgrading in the morning, and if that doesn't work, is there

[2021-10-12 02:32] githubyouser commented on #18090
Here's the most recent log from today. As I look closely at it, it seems that all of the requests that are failing are for **today's** data. Could it be because there's not enough data to process? Some of my sites are very low traffic, and it's possible that they don't have any traffic to report for today.

[matomo.txt](https://github.com/matomo-org/matomo/files/7326463/matomo.txt)

[2021-10-12 03:10] tsteur commented on #17607
@mathContao there hasn't been any news about this yet. Feel free to create a pull request for this and we'd be happy to review and merge.

[2021-10-12 03:10] tsteur commented on #17941
Thanks for this @utrautmann I'm expecting this will help. I've also created a PR in https://github.com/matomo-org/matomo/pull/18123 so that it won't be needed to set this config in that case.

[2021-10-12 03:12] tsteur commented on #17807
@Jaimeapo the 204 response is actually expected for all tracking requests. Generally this sounds like a different problem to the originally reported issue.

As there seems to be a premium feature involved (form analytics), could you send this information that you mentioned to shop@innocraft.com ?

[2021-10-12 03:16] tsteur commented on #17856
It shouldn't create a new database. We would expect it to configure the same database details as in `[database]` with the only difference that the prefix will be set to an empty string. Unless in `[database]` the table prefix is already an empty string, in that case we would probably throw an exception and get users to manually configure a different `[database_tests]`.

Yes, in that case we would

[2021-10-12 04:01] tsteur opened #18138 "Cache whether a DB supports transaction level or not"
We noticed on Cloud that https://github.com/matomo-org/matomo/blob/4.x-dev/core/Db/TransactionLevel.php#L57 might be called very often. Especially when having many funnels but also in general. It can cause a bit of load. It be better to instead cache this information whether uncommitted can be set or not instead of retrying for support every time. We should cache this eg on the `$this->db` as it's

[2021-10-12 04:20] AltamashShaikh opened #18139 "ReportsProvider category never gets reset due to isset check"
In https://github.com/matomo-org/matomo/blob/4.x-dev/core/Plugin/ReportsProvider.php#L203 the categoryList remain same when running test cases and which leads to use of wrong category info for subsequent testcases.

## Expected Behavior
Ideally the category should be fetched again if idSite is different

## Current Behavior
It fetches the data only once and uses the same data for subsequent call.

[2021-10-12 04:22] peterhashair commented on #17856
@tsteur not sure I am correct when I fix the database_test issue,  if I put them into the same database when I run PHP tests like `./console tests:setup-fixture OmniFixture
` or any system tests.  it seems like there is a function called trying to drop the entire database.
[https://github.com/matomo-org/matomo/blob/ddfa42e16f6648a1f54d2912fcc897e0ae07b75e/tests/PHPUnit/Framework/Fixture.php#L251-L

[2021-10-12 07:17] alexhass commented on #18132
I habe an apache2 machine on debian9. I used the linked article to fix the issue, but it seems not working. Htaccess is allowed to change all settings. I guess your permission files are not working well.

[2021-10-12 08:45] tomudding commented on #18133
I'd like to point out one thing from my bug report which is actually wrong based on how the code currently functions and what will make properly fixing this a bit more difficult.

I said I expected:

[code]

but what I actually expected and should have expected based on the comment in the code (assuming it worked as intended) was:

[code]

Because without a callback I get:

[code]

This already ap

[2021-10-12 14:16] joan31 commented on #12024
I confirm, bug still exist on Matomo 4.5

![image](https://user-images.githubusercontent.com/12939441/136973202-044cabd5-8aab-4f47-b42e-b95df9076cb3.png)

[2021-10-12 19:11] #18139 closed, assigned to nobody

[2021-10-12 19:31] tsteur commented on #17856
It'll be the same database but the `tables_prefix` should be different. AFAIK by default Matomo uses a table prefix `matomo_` meaning if you set an empty prefix in the tests, they shouldn't overwrite each other. However, if the user has configured no table prefix (meaning an empty table prefix) in `[database]` then we can't configure this automatically and we would throw an exception.

I checked a

[2021-10-12 19:35] tsteur commented on #18132
Hi @alexhass we haven't had any problems there otherwise in the past and it seems to work in general. Can you check

* If the `.htaccess` files were actually created? Like does eg `config/.htaccess`, `plugins/.htaccess` and `tmp/.htaccess` exist?
* If they exist, then there might be an issue with your apache set up.  Like maybe `mod_auth` is not enabled.

[2021-10-12 22:12] #18133 closed, assigned to justinvelluppillai

[2021-10-13 00:54] #16607 closed

[2021-10-13 01:24] tsteur commented on #18090
Could you try running below command and see if that prints anything?

[code]

[2021-10-13 01:58] tsteur commented on #18108
You might also want to check if there's any special configuration for below config `process_new_segments_from` in your `/config/config.ini.php`:

![image](https://user-images.githubusercontent.com/273120/137053477-29d09af9-fac3-488a-ab27-823e461ed619.png)

If you have only 3 months log data retention then indeed invalidating archiving is not an option. If you create these segments dynamically via

[2021-10-13 03:50] #18130 closed, assigned to nobody

[2021-10-13 14:27] Daijobou commented on #12264
I don't understand. HTTP_REFERER is the page you were on before. Its not the page that call idSite. Example:
I coming from _another_ website (like google.com), so the HTTP_REFERER is empty.

But to answer; All URLs from HTTP_REFERER (if not empty) have a valid idSite.

[2021-10-13 14:30] utrautmann commented on #17941
Thanks for your answer @tsteur . The "Visits Over Time" widget now renders faster.

[2021-10-13 17:20] Jaimeapo commented on #17631
We are using 4.4.1 and have similar problems.
![image](https://user-images.githubusercontent.com/2892389/137182241-0240cca1-91aa-4f00-ad88-8282c9f1da59.png)

[2021-10-13 19:23] githubyouser commented on #18090
@tsteur do you want this run from a cronjob or just from my SSH commandline?

[2021-10-13 19:26] githubyouser commented on #18090
I ran it from the command line and got the following response:
`{"idarchives":["27813"],"nb_visits":"6"}`

[2021-10-13 19:27] tsteur commented on #18090
I meant the command line. I see that works. It could be interesting to run it on the crontab too to see if there's any kind of difference. Maybe crontab could run this in say 1-2 hours? I wouldn't run it again right away as it might not give us the result we're after as the reports might not be regenerated

[2021-10-13 19:37] tsteur commented on #17631
@peterbo are you still experiencing this issue on a more recent Matomo version?

[2021-10-13 19:46] tsteur commented on #12264
@Daijobou  That's only for the main document. The tracking requests (and other similar requests) the HTTP Referrer is then the page that is issuing this request. AKA the page you are viewing currently. This means the above code should tell you all the pages that have idsite=0 embedded. I see you mention that on these pages they are non-empty.

Is your Matomo maybe hosted on a different domain? In

[2021-10-13 19:58] #18070 closed, assigned to ziegenberg

[2021-10-13 20:01] tsteur commented on #17973
Closed this issue too early. @peterhashair there is now a test `test_CustomVariablesAndProviderPluginCanBeUninstalledOnceNoLongerIncludedInPackage` failing.
![image](https://user-images.githubusercontent.com/273120/137204324-fd3519de-d4b2-437a-a726-44b4774e6db6.png)

Seems we possibly also need to adjust the method `isPluginBundledWithCore` in the plugin manager.

[2021-10-13 21:23] peterhashair commented on #17973
@tsteur sorry about that, removed the test.

[2021-10-13 22:48] peterbo commented on #17631
@tsteur for the instances in question, this was fixed after updating to Matomo >4.3. This here looks more like an archiving problem, because the "All Visits" graph also jumps to 0% sometimes. So there might be a specific problem with @Jaimeapo instance (e.g. archiving, memory, timeout, etc.)

[2021-10-13 23:21] githubyouser commented on #18090
Here's the response from the cronjob: `{"idarchives":["28176"],"nb_visits":"6"}`

[2021-10-14 03:43] #17973 closed, assigned to peterhashair

[2021-10-14 03:46] tsteur commented on #17631
Thanks for this @peterbo I'll close this issue for now.

Indeed what @Jaimeapo mentioned sounds like a different issue. @Jaimeapo it may help to invalidate the dates where it shows 0 and then see if the reports come up see https://matomo.org/faq/how-to/faq_155/  . If this then continues to happen then it might be something that needs to be looked at.

[2021-10-14 03:46] #17631 closed, assigned to nobody

[2021-10-14 05:56] liping521 commented on #18129
Yes. After I modify the permission, it's OK.

[2021-10-14 05:57] #18129 closed, assigned to nobody

[2021-10-14 06:53] anthosz commented on #18108
@tsteur Thank you very much!

Indeed, segments are very dynamic so we will check how to deal with it. At least, all is clear in my mind now :)

I have only a last one thing, I checked in log_action table and something seems strange:
[code]
How it is possible to see category 4 while we use access log?

According to the doc: category 4 are supposed to be name page only but it's not in the accesslog.

[2021-10-14 08:02] liping521 opened #18154 "All sites upload datas to matomo returning a 400, by https://xxx.xxx.com/matomo.php?action_name=xxx&idSite=....."
Method: POST
Response：
![image](https://user-images.githubusercontent.com/92291622/137276004-9c025c46-ac0f-4931-8fd5-60bfe0ed8211.png)

Matomo 4.5.0

[2021-10-14 19:56] tsteur commented on #18154
@liping521 I see above in the title you are using `idSite`. Try using `idsite`. Also make sure there is a `rec=1` parameter. You can find more about this in https://developer.matomo.org/api-reference/tracking-api

[2021-10-14 19:56] #18154 closed, assigned to nobody

[2021-10-14 20:00] tsteur commented on #18108
@anthosz it's not possible to disable certain categories.

I'm assuming you're looking in the access logs for the website and not Matomo?

It seems to me like someone is tracking 301 redirects there similar to what we do in our guide for 404 error pages: https://matomo.org/faq/how-to/faq_60/ . Meaning someone is setting a custom page title there.

Maybe someone is tracking into your production ana

[2021-10-14 20:00] #18108 closed, assigned to nobody

[2021-10-14 22:59] peterhashair commented on #14192
Draft FAQ document, [here](https://matomo.org/wp-admin/post.php?post=46753&action=edit&lang=en) 😃

[2021-10-14 23:41] tsteur commented on #14192
👍  made a few tweaks. Few parts may be bit technical or it won't be clear how to do them but it's better than nothing and otherwise we have to go into heaps of details. From my perspective sounds good to publish for now.

@Findus23 did you want to have a read too?

[2021-10-15 01:48] tsteur commented on #18090
Thanks for this @githubyouser

Could you try to edit your `config/config.ini.php` and add below content:

[code]

This will set the logging to file. You can then later check in `$matomoDir/tmp/logs/matomo.log` if any kind of error or information was logged. You will then eventually want to remove these lines again from the config.

There might be also some other logs like the one below which might

[2021-10-15 01:53] liping521 opened #18159 "All sites upload datas to matomo returning a 400"
Response:
This resource is part of Matomo. Keep full control of your data with the leading free and open source web analytics & conversion optimisation platform.
This file is the endpoint for the Matomo tracking API. If you want to access the Matomo UI or use the Reporting API, please use index.php instead.

Response Headers
access-control-allow-credentials: true
access-control-allow-origin: https

[2021-10-15 02:04] tsteur commented on #18159
@liping521 can you share with us your system report see https://matomo.org/faq/troubleshooting/how-do-i-find-and-copy-the-system-check-in-matomo-on-premise/

You would generally get this error if nothing was recorded. For example the set idsite does not exist.

You can also go to `Matomo -> Administration -> Diagnostics -> Tracking failures` and see if anything comes up there.

[2021-10-15 02:53] liping521 commented on #18159
![image](https://user-images.githubusercontent.com/92291622/137424700-8ec2273e-c7c8-4a56-8033-7a55f0f40d59.png)

![image](https://user-images.githubusercontent.com/92291622/137424965-bed50dd8-895b-411b-83c0-66946fc3d115.png)

[2021-10-15 02:55] florianmonfort opened #18161 "Support multiple databases for regulatory compliance"
For regulatory reasons, we are not able to store all users' tracking data in the same database / same server.

We have one application/website serving different parts of the world, but different parts of the world require us to store data in specific locations.

We are able to figure out where users are or establish rules to determine where data should be stored, however we cannot seem to find a w

[2021-10-15 03:02] tsteur commented on #18161
Hi @florianmonfort
could you let us know exactly what these "regulatory reasons" are?

I'm not really sure what you mean by that? Like what do you mean by "one app"? can you use different endpoints aka different Matomo installations and route the people to the right Matomo installation?

There's also a multi tenant setup but it's effectively similar to having multiple installations but one shared

[2021-10-15 03:06] tsteur commented on #18159
@liping521 can you copy/paste the entire system check? There's a copy button. We otherwise don't see the full output unfortunately.

Regarding the second screenshot. I don't know exactly what it says but it sounds like a wrong `idsite` URL parameter is used and that's why it's not working.

[2021-10-15 03:26] liping521 commented on #18159
<details>
<summary>Click to view System Check</summary>

### Mandatory checks

#### PHP 版本 >= 7.2.5:
 ✔ 7.2.20

#### PDO 扩展:
 ✔

#### PDO\MYSQL 扩展:
 ✔

#### MYSQLI 扩展:
 ✔

#### 其他必须的扩展:
 ✔ zlib ✔ json ✔ filter ✔ hash ✔ session

#### 必需的功能:
 ✔ debug_backtrace ✔ eval ✔ hash ✔ gzcompress ✔ gzuncompress ✔ pack

#### 必要的 PHP 配置（php.ini）:
 ✔ session.auto_start = 0 ✔ max_execution_time = 0 OR = -1 OR >=

[2021-10-15 03:30] liping521 commented on #18159
The second screenshot is  unexist siteId, but the site id we are using is 4 and it is existed as following picture shows. We checked the error information analysis and found that the listed ids are unexisted indeed (we didn't use that).  However, we uploaded data into existed site id and it returned us with error code 400
![image](https://user-images.githubusercontent.com/92291622/137425976-cbc822

[2021-10-15 03:39] tsteur commented on #18159
Thanks for this. The system check looks good.

To troubleshoot this you will need to temporarily enable the tracker debug log.

You can find the needed information in https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker

Mostly needed is adding below lines to your `config/config.ini.php`:

[code]

When you then issue the tracking request, it should print in the response eg

[2021-10-15 04:18] peterhashair opened #18162 "Close Tooltip when redirecting to another page"
## Expected Behavior

When you open the side menu tooltips, then jump back to the dashboard, the tooltip should close? See Screen Capture

https://user-images.githubusercontent.com/3783072/137431645-b6139787-2339-4bae-8634-7d6bc03f51d6.mp4

## Current Behavior

When you open the side menu tooltips, then jump back to the dashboard, the tooltip remain on top.

## Possible Solution

It maybe carry by

[2021-10-15 05:10] liping521 commented on #18159
Error query: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'campaign_content' in 'field list' In query

After add this field to matomo_log_visit, it's ok, Thank you

[2021-10-15 05:11] #18159 closed, assigned to nobody

[2021-10-15 07:13] anthosz commented on #18108
@tsteur Indeed, all visits are generated via access log and the py script. All the logs have the same format/syntax (contain only logs from specific path for specific domain).

During the import, I use --enable-http-errors & --enable-http-redirects so probably related?

I have also the feeling that it move to category 4 only when a referrer is found. If no referrer, the 301 seems to be Category 1.

[2021-10-15 14:15] donovanglover commented on #17784
For anyone that wants to fix this, the current code is located in [`plugins/CoreHome/templates/_adblockDetect.twig`](https://github.com/matomo-org/matomo/blob/2f80606b1db3caaeb4195ff7cd0bf949b2154968/plugins/CoreHome/templates/_adblockDetect.twig)

[2021-10-15 17:08] Findus23 commented on #15873
This could also help other settings in the gear menu (e.g. flat report) as they are quite hidden at the moment.

[2021-10-16 00:59] githubyouser commented on #18090
Thanks, @tsteur I've enabled `DEBUG` for Matomo logs and PHP logs are enabled as well.
A few hours later I've already got ~9MB of Matomo DEBUG logs. Is there anything in particular I should be looking for? I'm not finding any that start with ERROR, only DEBUG or INFO entries.

[2021-10-17 12:41] Daijobou commented on #12264
@tsteur $_REQUEST['url'] and $_REQUEST['idsite'] is always empty in logfile. So I changed to $_SERVER['REQUEST_URI'] to show the current URI. I get this lines in errorlog:
[code]

This look like more a bug in matomo?

and since few days I get this new error message in errorlog:
`"PHP message: Error in Matomo (tracker): Tracker API 'region' was used, requires valid token_auth"`

What is that suppos

[2021-10-17 18:52] sgiehl commented on #10291
@tsteur Was there a new issue created for implementing this in ImageGraph also (as discussed in #18086), or shall we keep this one open for that?

[2021-10-17 23:17] tsteur opened #18167 "Revamp our event system for performance"
In various profile runs we noticed our event system is very slow. In particular the `EventDispatcher::postEvent()` method. Eg in a typical cron:archive process we spent around 8% CPU in there, in an actual archiving request > 5%. There's a lot of repetitive work where it feels we should be doing this work only once and maybe some things could be made more explicit.

[2021-10-18 01:02] tsteur commented on #18108
Yes, that would be causing this 👍

I don't think that's the case. This should happen only when the response code starts with 4XX or 5XX (done in  https://github.com/matomo-org/matomo-log-analytics/blob/4.x-dev/import_logs.py#L2197-L2218 )

[2021-10-18 01:05] tsteur commented on #12264
@Daijobou are you using the Matomo JavaScript tracker? Sounds like this is maybe used in a mobile app or so?

[2021-10-18 01:08] tsteur opened #18169 "ImageGraph: Make a difference in graphs for data of "unfinished periods" and "complete periods""
refs https://github.com/matomo-org/matomo/issues/10291

similarly to what was done in the UI itself we would also have the same logic of a dashed line in ImageGraphs for periods that include "today".

[2021-10-18 01:08] tsteur commented on #10291
created https://github.com/matomo-org/matomo/issues/18169 . I wouldn't have created one and just waited until someone creates it as we likely won't work on it anytime soon anyway.

[2021-10-18 07:08] Daijobou commented on #12264
We use the JavaScript tracker. We don't have a mobile app, only the website.

[2021-10-18 07:48] anthosz commented on #18108
@tsteur Thank you very much! All is clear now :)

[2021-10-18 08:30] AltamashShaikh opened #18172 "Fix initial export option values so checkbox shows correct value"
When we try to import any datatable and try to export by unchecking "Expand subtables" option we can see expanded=1 is passed always

## Expected Behavior
Ideally expanded should not be passed in the URL or '0' should be passed

## Current Behavior
Setting expanded=1 always

## Possible Solution

## Steps to Reproduce (for Bugs)
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSi

[2021-10-18 08:50] #17786 closed, assigned to nobody

[2021-10-18 08:55] chiraggwalani opened #18173 "how can i Segment user by department"
We have multiple departments now how can we segment site visitors by the department?

For ex.
Userid 1 dept 1
Userid 2 Dept 2
Userid 3 dept 1

then dept1 has 2 visitors

[2021-10-18 09:04] sgiehl commented on #18172
Hey @AltamashShaikh
Thanks for creating this one. I can confirm that the checkbox doesn't work when clicking it the first time. Guess the initial value doesn't fit. Will have a quick look if it's easy to fix

[2021-10-18 09:12] sgiehl commented on #18173
I guess the best solution would be a custom dimension to track the department for each visitor. See https://matomo.org/docs/custom-dimensions/ for more details about custom dimensions.
Otherwise you may need to create complex segments where you segment for each userid in a department using OR.

[2021-10-18 09:12] #18173 closed, assigned to nobody

[2021-10-18 15:52] soratako opened #18175 "Suggestion: Unblock crawls by robots.txt"
Hi!

I received an email notification from the Google Search Console. The email says "Indexed, though blocked by robots.txt".

So I checked the source code of matomo. It seems that crawl is blocked in robots.txt in addition to "robots noindex" in the head tag of the page.

According to [this help page](https://developers.google.com/search/docs/advanced/robots/intro), we only need to add tags to bl

[2021-10-18 17:16] nicobayati commented on #18089
Hello, is planned to fix this bug for Matomo 3.14.1?

We want to update to the latest version 4.x, unfortunately we can't do it that fast and would be happy to get a fix for the old version.

Thanks

[2021-10-18 18:36] tsteur commented on #18175
Hi @soratako we currently don't have any plans to change this. Is there any particular reason you would want your Matomo to be crawled by search engines? Generally it shouldn't appear in the search results anyway.

[2021-10-18 19:13] #18098 closed, assigned to nobody

[2021-10-18 19:52] #18172 closed, assigned to sgiehl

[2021-10-18 20:12] tsteur commented on #12264
@Daijobou these above requests don't look like they are generated from our JavaScript tracker. Maybe look at the IP addresses from which these requests originate (eg using something like https://www.iplocation.net/ ). It looks like someone is sending random tracking requests to your server.
You could also check the "user agent" for these tracking requests whether they are sending maybe some not no

[2021-10-18 20:35] Daijobou commented on #12264
Thats strange. I never submit my last post, because I wanted to write more about it. ;)
I'm waited for new entries in errorlog, because I already added User-Agent, but entries are very rare (only 1-15 daily). Currently there is only a single new entry with User Agent:

The IPs are site visitors via Telekom Germany and other regular providers.

I checked his IP in access_log and found a single entr

[2021-10-18 21:21] tsteur commented on #12264
Can you share with us a link to your website maybe on a page where this might happen? Generally, these requests should definitely not be generated from our JS tracker (but anything is possible)

[2021-10-18 22:29] soratako commented on #18175
@tsteur Is that true?  So why?  After I received the email, I searched for my domain (a subdomain for matomo like aaa.example.com) and it appeared in Google search results.  However, it is only the title of the page and does not display the contents of the page.  If you're right, this may be due to other causes. Anyway, I don't want it to appear in search results. Is there any other way to solve t

[2021-10-18 23:09] tsteur commented on #18175
Not sure why it would appear @soratako The robots.txt says to not index and as you noticed the meta headers `<meta name="robots" content="noindex,nofollow">` is set too.

Do you think anything else is missing? Or do you mean the `robots.txt` shouldn't be there so it can see the `meta` tag?

[2021-10-19 04:50] tsteur commented on #18159
Great, glad this works now @liping521

[2021-10-19 06:16] justinvelluppillai commented on #18082
Another randomly failing one: https://builds-artifacts.matomo.org/matomo-org/matomo/m-3513-stick-table-top/50217/Dashboard_change_layout.png

[2021-10-19 06:28] tsteur opened #18178 "Fix segment creation fails when enable_create_realtime_segments = 0"
Below config

[code]

Getting this error
![image](https://user-images.githubusercontent.com/273120/137855184-f02b3e46-621b-4849-8ed6-05092a0f90a0.png)
![image](https://user-images.githubusercontent.com/273120/137855395-b1f24a41-6b64-40ad-b5a0-ebfcc6372be9.png)

[2021-10-19 08:01] peterhashair commented on #18088
@tsteur Just trying to understand this. So every single sparkline axis is loading from the archive_numeric_20xx_xx like a cache table when the enable_browser_archiving_triggering is disabled, it won't insert into archive_numeric_20xx_xx table, only `./console core:archive` does insert?

[2021-10-19 09:32] heurteph-ei opened #18180 "Select the email report language"
From: https://forum.matomo.org/t/how-to-choose-the-language-of-a-repport/43486

## Summary

Does anyone know how to choose a language when creating a report?
I have a Flemish client that receives each week my Matomo report and each weeks I have to change my Matomo session in Flemish to be sure he receives it in this language.
I’m sure there is an easier way to do this, can someone help ?

## Your

[2021-10-19 10:04] sgiehl commented on #18180
Hi @heurteph-ei
Thanks for creating this issue. IIRC the reports are send in the language the user, which created the report, has configured in his account. But it for sure would make sense to make it possible to choose the language instead.
A possible workaround would be to create a new user for each report that should be sent in a different language.

[2021-10-19 11:06] Daijobou opened #18182 "After fix "Required Private Directories"; Now I'm banned from my server because matomo system check."
I installed matomo years ago and system check was fine and updated every time with new release per automatic. So I dont checked system check again. Unfortunately, updates do not do a system check and report problems right after the update.

Today I updated to newest version per automatic and saw by chance that the system check showed me errors for "Required Private Directories". That was new for m

[2021-10-19 11:18] Findus23 commented on #18182
This seems to be the same issue as https://github.com/matomo-org/matomo/issues/17589

It just re-creates the .htaccess files and is unrelated to the issue.

But the "issue" is that files like `/tmp/cache/tracker/matomocache_general.php` should never be public. Therefore since a few Matomo releases, the system check tests this by trying to access these URLs and making sure they actually deny access

[2021-10-19 13:00] Daijobou commented on #18182
Thanks, unfortunately, that doesn't really help me in my case. I set `enable_required_directories_diagnostic = 0` but still get in error_log `client denied by server configuration` and access_log:

config.ini.php

or does the line belong in **global.ini.php**? Because https://github.com/matomo-org/matomo/blob/4.x-dev/config/global.ini.php#L836

UPDATE: I set it in both and problem remains.

[2021-10-19 13:33] Daijobou commented on #12264
Isn't the error message fundamentally wrong? The idsite is not invalid, it is missing completely :)
I have searched google for pv_id and found https://developer.matomo.org/api-reference/tracking-api

Both "idsite" and "rec" are required parameters. Since these parameters are missing, the script should abort much sooner with an appropriate error message? Does it even need to save an error message i

[2021-10-19 15:23] githubyouser commented on #18090
@tsteur I'm not seeing any Matomo errors show up in the PHP log. :(
The tasks do seem to be completing more often without errors though! Just today there were a couple of times when the cron job shows `Archiving was last executed without
error 57 min 16s ago` (it runs every hour). So that's hopeful, but still doesn't tell me what the actual issue might be.

[2021-10-19 16:53] soratako commented on #18175
@tsteur Hmm. As far as I read the help page, robots.txt requires the crawler not to access the site. It doesn't say "don't index the site". As a result of using robots.txt, Google crawler cannot access the page and cannot read the meta headers `<meta name="robots" content="noindex,nofollow">`. Therefore, it ignores the meta tag and indexes the site. If we just want the site not to appear in search

[2021-10-19 17:25] soratako commented on #18175
For example, if you search for `demo.matomo.cloud` on Google, the matomo site will be displayed in the search results. [https://www.google.com/search?q=demo.matomo.cloud](https://www.google.com/search?q=demo.matomo.cloud) This site also has `robots.txt` and meta tag`<meta name="robots" content="noindex,nofollow">`.

[2021-10-19 18:57] #18178 closed, assigned to sgiehl

[2021-10-19 18:59] tsteur commented on #12264
@Daijobou we could probably treat a missing idsite not as 0 indeed and change the message in the logs. However, the JavaScript tracker would always set this idsite so it's still not clear where or how these requests are generated.

[2021-10-19 21:35] jr-ewing commented on #15438
Hi, sorry for the question ...
Is there any progress here?
It would be great if, for example, you could specify whether a segment should have Action or Visit Scope.

[2021-10-20 01:20] justinvelluppillai opened #18186 "Improve in-app feedback mechanism to gain insight from users about pain points"
In line with our objective to generate a feedback loop to understand our users better this issue will allow us to combine our ideas and create a better feedback mechanism in Matomo than the existing thumbs up/down.

We will need to think about:

* UI changes
* CTA, eg "Not finding something you need?" or something that invites the right type of feedback
* Structured vs qualitative feedback (will w

[2021-10-20 01:46] tsteur opened #18187 "Fix possible problem with CSP in overlay feature"
See https://demo.matomo.cloud/index.php?module=Overlay&period=month&date=today&idSite=1#?l=https$3A$2F$2Fdivezone.net$2Fdiving$2Findonesia$3F__prod_demo$3D1$26__enterprise_demo_idsite$3D1

seeing this error
![image](https://user-images.githubusercontent.com/273120/138014144-60909493-ce4c-4d9f-90f7-ae8713c6b6fa.png)

When we remove the report only mode in https://github.com/matomo-org/matomo/issues

[2021-10-20 02:00] peterhashair commented on #18082
Not sure that one is just me or everyone.
![image](https://user-images.githubusercontent.com/3783072/138015380-817c98f7-90ec-405f-a982-ba38b2322375.png)

[2021-10-20 02:04] tsteur commented on #18088
enable_browser_archiving_triggering is disabled, but for range dates by default we still initiate browser archiving and aggregate all the different periods to a range. Meaning it will insert data into the archive tables when viewing it in the browser. Does this help?

[2021-10-20 02:36] peterhashair commented on #18082
And this one.
![image](https://user-images.githubusercontent.com/3783072/138018713-c246159d-850a-46e8-8c77-42ea1af9cd75.png)

[2021-10-20 02:47] peterhashair commented on #18088
@tsteur kind of, so the `action=get` request for the same period should only launch archive once, instead of each request per once.

[2021-10-20 02:59] justinvelluppillai commented on #18187
That default-src CSP looks wrong, like it didn't apply the `allowEmbedPage` directives in `SecurityPolicy` class

[2021-10-20 03:05] tsteur commented on #18187
@justinvelluppillai doesn't look like this is called for the overlay feature maybe?

[2021-10-20 03:48] tsteur commented on #18088
yes 👍

[2021-10-20 03:51] tsteur commented on #18175
OK thanks for this. @sgiehl do you have any thoughts there?

https://github.com/matomo-org/matomo/pull/16795 was generally added to workaround a Google Ads issue. It's not clear if removing the robots.txt could regress something or not. CC @mattab

generally the problem seems to be that robots.txt doesn't prevent you from being listed on the search as it cannot find the meta=noindex because it's b

[2021-10-20 05:56] tsteur commented on #18090
@githubyouser it might be otherwise good if you could pause the cronjob again for a day and then run it again manually. This should then definitely confirm there is something terminating a process when it's run as cronjob.

It's a bit of wild guessing but what might be also worth a try could be to use `--concurrent-requests-per-website=1` option for the `core:archive` command. It might not do anyt

[2021-10-20 06:42] viezel commented on #15438
.

[2021-10-20 07:00] #17939 closed, assigned to tsteur

[2021-10-20 07:20] sgiehl commented on #15438
@jr-ewing Isn't that kind of automatically defined by the segment? As soon as an action dimension is used its an action scope otherwise it's visit scope. Or what exactly do you mean here?

[2021-10-20 11:05] 65Q2M89mBVP53sCK opened #18189 "Wrong amount of Users / Websites in Diagnostic > Database Usage > General Information"
After upgrading from 3* to 4*, the wrong number of users and websites is displayed in Diagnostics > Database Usage > General Information.

Displayed information
General Information

    36 Users
    51 websites

Real information
General Information

    39 users
    53 websites

Table statistics.piwik_user:
SELECT COUNT(*) FROM statistics.piwik_user = 39

Table statistics.piwik_site
SELECT COUNT(*

[2021-10-20 13:27] sgiehl commented on #18189
Hi @65Q2M89mBVP53sCK
The database usage report uses the table metadata to fetch the results.
What is the result for `SHOW TABLE STATUS LIKE statistics.piwik_user` on your database?

[2021-10-20 14:03] rlizzi opened #18190 "Visits Log incorrectly represents external link containing apostrophe"
Below is the Visits Log showing my visit to this page:  https://www.gooutsidebook.com/articles/east-rock-soldiers-and-sailors-monument-moon.html

![Visits Log Bug](https://user-images.githubusercontent.com/14956603/138108691-501b314c-905c-4bab-ab71-524b724f2c02.png)

The external link to the Wikipedia page is incorrect, and following the link leads to the wrong page.

The correct link is:  https:/

[2021-10-20 14:15] 65Q2M89mBVP53sCK commented on #18189
the whole thing is a little confusing - how can the values differ?

`SELECT COUNT(*) FROM statistics.piwik_user`
39

`SHOW TABLE STATUS LIKE 'piwik_user'`
'piwik_user', 'InnoDB', '10', 'Compressed', '**36**', '227', '8192', '0', '0', '0', NULL, '2021-10-08 17:05:53', '2021-10-15 15:32:24', NULL, 'utf8_general_ci', NULL, 'row_format=COMPRESSED', ''

`SELECT COUNT(*) FROM statistics.piwik_site`
53

[2021-10-20 14:28] sgiehl commented on #18189
The `Rows` value for InnoDb tables are actually unreliable (See https://dev.mysql.com/doc/refman/8.0/en/show-table-status.html). I guess the plugin was build when only MYISAM was in use, where those numbers were accurate. We maybe should do a select instead for those cases here: https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/DBStats/API.php#L48-L52
Shoul

[2021-10-20 14:48] sgiehl commented on #18175
I'm not able to say anything about possible site effects with Google Ads.
I guess we shouldn't remove the robots.txt completely, as it still should block access to static files that can't be "protected" otherwise.
Also if we allow access to files like `matomo.js` or `matomo.php` I doubt a domain would be removed from the search index anyway.
For content sent by our software we could also consider

[2021-10-20 16:24] jdelucaa commented on #18055
Hi guys,

Is there any case the API would respond status != 200? So far I've only seen 200s and the only indication that an error has occurred can be found in the response body (result = "error").

[2021-10-20 17:11] kakro opened #18191 "Cross-Origin Resource Sharing (CORS) Domains - not savable"
While entering and saving CORS domains the following error occurs and the domains are not saved.
`index.php?module=Proxy&action=getCoreJs&cb=95600419dfbc7434f83306c40b55be6e:224 TypeError: Cannot read properties of null (reading 'pluginName')
    at PluginSettingsController.save (index.php?module=Proxy&action=getCoreJs&cb=95600419dfbc7434f83306c40b55be6e:2406)
    at fn (eval at compile (index.php

[2021-10-20 19:55] HCl-not-HCi commented on #18182
@Daijobou As far as I know, the option will be released in 4.6.0, so it's not yet implemented in the current release.

[2021-10-20 20:09] bx80 commented on #18190
Hi @rlizzi, thanks for creating this issue. I've managed to recreate the problem, it looks like an encoding bug with the way external links are displayed.

[2021-10-20 20:13] tsteur commented on #18190
Hi @rlizzi thanks for reporting this. I'll close this as a duplicate of https://github.com/matomo-org/matomo/issues/14695 . We're actually already working on a fix.

[2021-10-20 20:13] #18190 closed, assigned to nobody

[2021-10-20 20:13] tsteur commented on #14695
same problem here https://github.com/matomo-org/matomo/issues/18190

[2021-10-20 20:39] bx80 commented on #18186
I think a choice for structured feedback will help increase engagement since not everyone has the time or inclination to compose a message. While individual qualitative feedback has more value, aggregate structured feedback could provide a valuable reinforcing metric. If we can design a mechanism that can gather structured feedback on specific usage while retaining the option to provide more detai

[2021-10-20 21:06] tsteur commented on #18189
Thanks for reporting this @65Q2M89mBVP53sCK  As a workaround you should be able to see the correct number of users and websites on the "Admin home" page in the top left widget.

@sgiehl sounds good to change this eventually for those two tables to do a count instead. Not too important though for now

[2021-10-20 22:32] tsteur commented on #18089
@sgiehl @Findus23 I'm assuming to make this work for 3.X we would simply need to update our cacert.pem with the content of `vendor/composer/ca-bundle/res/cacert.pem`?

@nicobayati I think you could replace the content of the file `$matomoDir/core/DataFiles/cacert.pem` manually with the content from this file https://raw.githubusercontent.com/composer/ca-bundle/main/res/cacert.pem and then it might

[2021-10-21 00:01] tsteur commented on #16125
https://youtu.be/Qq4rRt8BNjM?t=198 talks about this new feature.

There's also now https://developer.chrome.com/blog/user-agent-reduction-origin-trial/

[2021-10-21 02:09] Starker3 opened #18192 "Calculate totals row based on search criteria results in reports"
Currently when searching/filtering results in a report the totals row is not updated to reflect the totals for the filtered data.

It would be really useful for people to be able to quickly see the summed totals for the data they're looking at.

![image](https://user-images.githubusercontent.com/20905821/138198865-c677ef1f-7ea6-46ed-a81f-42cf9a7b8dae.png)
![image](https://user-images.githubusercon

[2021-10-21 04:33] tsteur commented on #18192
@Starker3 I'll close this as a duplicate of https://github.com/matomo-org/matomo/issues/18056 let me know in case it's not the same

[2021-10-21 04:33] #18192 closed, assigned to nobody

[2021-10-21 05:19] 65Q2M89mBVP53sCK commented on #18189
My Workaround - it seems to help
Dump/Export statistics.piwik_user and statistics.piwik_site and re-import afterwards.
`
SHOW TABLE STATUS LIKE 'piwik_user'`
'piwik_user', 'InnoDB', '10', 'Compressed', '39', '210', '8192', '0', '0', '0', NULL, '2021-10-21 07:01:53', '2021-10-21 07:01:53', NULL, 'utf8_general_ci', NULL, 'row_format=COMPRESSED', ''

`SHOW TABLE STATUS LIKE 'piwik_site'`
'piwik_site'

[2021-10-21 07:39] fabeit commented on #16219
@tsteur Thank you for your answer. Unfortunately WordPress free plan doesn't allow to install plug-ins or upload custom code. Are there any servers that offer PHP free plans?

[2021-10-21 10:09] comp-lsa opened #18194 "Matomo behind a Reverse Proxy Server"
Hello,

We have our matomo instance running behind a Reverse Proxy Server.
We don't manage the Reverse Proxy Server but we have received confirmation from the Administrator that the mapping is a standard mapping:
- with a x.forwarded-host header activated  (+other header are by default activated through the mapping environment)
- page rewrite activated
The mapping is:
https://OurReverseProxyServer

[2021-10-21 10:58] Cyver0 opened #18196 "Dropdown of "Copy dashboard to another user" is incomplete"
We are using Matomo Cloud, so i guess we always have the latest version.
We have 17 user accounts.

When we want to copy a dashboard to another user, the dropdown with the users is incomplete. I can only see 7 entries. It seems not to be just the first user. I cannot say at which condition a user is in the list.
There is no scrollbar in the dropdown. Same issue on Firefox, Chrome and Safari.

Rega

[2021-10-21 12:58] sgiehl commented on #18196
Hi @Cyver0
Thanks for creating this issue. Are you using a super user account? In that case all users should be shown. When using an user with admin access only, the dialog will only show those users that have access to the sites you are having admin access to.

[2021-10-21 13:18] Cyver0 commented on #18196
Hi, I use a admin account. But I can see users, which doesn't even have access to the site. And I don't see all users which have access tobte site.

[2021-10-21 13:20] sgiehl commented on #18196
Ok. Guess we need to investigate that a bit more in detail to check if there is a bug in our code or if there might be another reason for this.

[2021-10-21 13:53] githubyouser commented on #18090
@tsteur I paused the cron job for several hours yesterday, and then ran it with the `--concurrent-requests-per-website=1` option, but I'm still getting the same errors. I'll pause it again today for a few hours, and then run it manually via SSH to see if anything different happens.

[2021-10-21 13:57] githubyouser commented on #18090
And I just now realized as I look through the logs since enabling the cron job again that I'm now getting a new error message! Could the concurrent-requests option have triggered that, @tsteur? Or maybe that's just a fluke from letting it go several hours without archiving.
[code]
EDIT: It looks like that particular error has showed up every few days for the past month or two, but it was always mi

[2021-10-21 19:13] tsteur commented on #16219
Sorry @fabeit  I unfortunately I don't know the answer to this. I think there would be some for sure but I don't know any of them unfortunately.

[2021-10-21 19:33] tsteur commented on #18196
@Cyver0 could you please email our support for this at support@matomo.cloud ? they will be able to check. Generally on my cloud account it works without any issue. I'll close this issue here for now as there's not much we can do but through the support we can investigate and help. Make sure to send them your cloud URL so they know which Matomo the issue is on.

Thanks @Cyver0

[2021-10-21 19:33] #18196 closed, assigned to nobody

[2021-10-21 19:53] Cyver0 commented on #18196
I wrote your support and your support told me to create a GitHub issue...

[2021-10-21 19:57] tsteur commented on #18090
Great we're now having some error message there. `'echo: write error on stdout '` I did a quick search about this but couldn't find anything.

I found one place where such an error came up in a code for `awk`.

Could you try executing this command? `ps x 2>/dev/null | awk '! /defunct/ {print $1}' 2>/dev/null`

If that causes the issue, there may be a chance actually that there might be an improvem

[2021-10-21 20:05] tsteur commented on #18038
closing as a duplicate of https://github.com/matomo-org/matomo/issues/18011

[2021-10-21 20:05] #18038 closed, assigned to nobody

[2021-10-21 20:32] tsteur commented on #17452
Generally yes @Findus23 It might not be a fixed JS file though but more of an actual request to take into account for example translations. Unless we can solve translations in JavaScript.

The current iframe opt out, also has few other options to customise colors etc:
[code]

We would provide the same options for this. For example using data attributes like `data-font-color=""`.

We also offer opt

[2021-10-21 20:42] tsteur commented on #17053
When a file logger is configured, and log level is set for example to warn, then it should log all warning messages also to the file.

[2021-10-21 20:49] tsteur commented on #16125
Someone needs to look at these changes, write up a brief of what needs to be done technically to still detect browsers, devices, browser plugins and operating systems. Then we should split this big issue into lots of smaller issues. For example we could have one issue detected to device, another issue detected to operating systems. It's unclear at this stage how we can best split this up.

We migh

[2021-10-21 20:55] tsteur commented on #13204
@Findus23 closing this one as the referrer policy header should take already care of this. Let me know if that's not the case

[2021-10-21 23:13] tsteur commented on #7573
In case we can't solve it easily with the current way the archivers work, then we would maybe wait until Matomo 5 to refactor the archiver as needed and change it properly.

[2021-10-22 00:19] tsteur commented on #18189
Yes, we don't count the anonymous user so far.

[2021-10-22 02:04] githubyouser commented on #18090
OK, @tsteur  I ran the `archive` command manually several hours after I paused the cron job, but it completed with no errors.
When I ran `ps x 2>/dev/null | awk '! /defunct/ {print $1}' 2>/dev/null` I got the following output:
[code]

[2021-10-22 02:31] tsteur commented on #18090
Thanks. This looks as expected.

I have one suspicion. Are you familiar with changing files on the server?

If so, could you change the file in `core/CliMulti/Process.php`. There you would need to change these 4 lines https://github.com/matomo-org/matomo/blob/4.5.0/core/CliMulti/Process.php#L247-L251 to look like this:

[code]

[2021-10-22 07:48] #18187 closed, assigned to sgiehl

[2021-10-22 08:24] heurteph-ei opened #18202 "Transitions Report - Exception NoDataForAction – Timezone issue?"
## Expected Behavior
**Today** should respect Timezone in the transitions report

## Current Behavior

## Possible Solution
No idea

## Context
From: https://forum.matomo.org/t/transitions-report-exception-nodataforaction-timezone-issue/43533

## Your Environment
* Matomo Version: 4.5.0
* PHP Version: 7.3
* Server Operating System: Debian 10
* Additionally installed plugins:

[2021-10-22 08:33] EmbacherArndt opened #18203 "Number of PageViews as a goal"
## Summary
I would like the possibility to define a number of PageViews as a goal. Means: A vistor has seen eg three pages = goal achieved.

## Your Environment

* Matomo Version: 4.5.0
* PHP Version: 7.4.23
* Server Operating System: Linux

[2021-10-22 10:08] sgiehl commented on #18203
Hi @EmbacherArndt
Thanks for this suggestion. If you would like to see all users that had more than 3 page views, you can also use the segmentation feature

[2021-10-22 16:46] githubyouser commented on #18090
:sparkles::sparkles: That seems to have done the trick!! The command has run without error via cron for the past 2 hours. I'll definitely keep an eye on it yet, and make sure it's not just a temporary reprieve. 😃 Thanks SO much, @tsteur for helping me work through this!

[2021-10-23 17:20] huye opened #18207 "Use MaxScale for read-write separation"
I use the MariaDB database and MaxScale 6.1.3 for read-write separation. However, matomo does not work properly, and SQL syntax errors will be reported. I don't know whether it's not supported or the maxscale setting problem. I hope to get help.

I have tried to use MariaDB directly without MaxScale.

Debian 11
Docker 20.10.5
MaxScale 6.1.3
MariaDB 10.5.10
PHP 8.0

[2021-10-23 21:29] 54mu3l commented on #17945
I'm using Matomo within Docker. I can confirm this bug. I've the exact same behavior.

My nginx reverse proxy conf:
[code]

config.ini.php
[code]

Any solution so far?

[2021-10-24 01:20] 54mu3l commented on #18132
Same here. I use Matomo within Docker and the `.htaccess` files have been created. But still the security check fails.

If I try to access these paths with my browser I get an 403.

Why does the security check doesn't recognize the 403 status code?

[2021-10-24 09:21] Alice-Pa opened #18209 "Login SAML - Attribute Mapping Settings unable to work with attribute friendly name"
We have configured the SAML plugin to connect with a shibboleth IDP.
It sends our matomo a "mail" attribute that we use for both Login (username) and email.
The issue is that SAML authentification doesn't work if configured with attribute friendly name "mail" but requires to specify the technical attribute OID "urn:oid:x.x.xxxx.xxxxxxxx.xxx.x.x"

[2021-10-24 09:32] Alice-Pa opened #18210 "Display friendly display name for authenticated user"
Once authenticated in Matomo, the web interface does not display the name of the authenticated user (usually available in the top right corner in most application). It would be nice to have it.
We also authenticate against our corporate IDP with SAML Plugin, and it would be great to be able to retrieve the friendly display name from the SAML response attributes.

[2021-10-24 20:24] sgiehl commented on #18209
Hi there, Thank you for creating the issue. To request support for a Premium Feature please contact shop(at)innocraft.com or ask in the Premium Features forum here: https://forum.matomo.org/c/premium-features

Looking forward to helping you there. Closing this issue now. Thanks.

[2021-10-24 20:24] #18209 closed, assigned to nobody

[2021-10-24 20:26] sgiehl commented on #18207
Hi @huye
Thanks for creating this issue. I'm not familiar with MaxScale, but maybe it limits the SQL syntax in any way so some of our queries don't work anymore.
Maybe you could provide some details about the syntax errors you recieves. Maybe that helps to identify the issue,

[2021-10-25 13:04] Findus23 commented on #18210
As this is something only few people will probably need (but would be really nice for them) and this can be implemented in a few lines of code, this would be in my opinion the ideal concept for a new plugin.

[2021-10-25 19:24] tsteur commented on #18090
@githubyouser I'll reopen it if that's alright just to fully understand a bit more what's happening.

Do you mind testing a few more things for us?

If you change the `return false;` to `return true;`, does it still work?

[2021-10-25 19:26] tsteur commented on #18207
@huye MaxScale (or similar) is not supported unfortunately. However, you can configure a reader in Matomo directly and then it should work. See https://matomo.org/faq/how-to-install/faq_35746/

[2021-10-25 19:26] #18207 closed, assigned to nobody

[2021-10-25 19:37] tsteur commented on #18210
@Alice-Pa thanks for creating this issue. As our [SAML plugin](https://plugins.matomo.org/LoginSaml) is a premium feature it be great to contact our support about this at shop@innocraft.com  . Here we only manage issues about the free version of Matomo core. Sorry about this inconvenience. I'll close this issue for now.  @Findus23 I hope I didn't misunderstand this but it sounded SAML specific to

[2021-10-25 19:37] #18210 closed, assigned to nobody

[2021-10-25 19:56] Orygaw opened #18216 "E-mail notification new user"
hello Is it possible to delete the e-mail alert information about the creation and deletion of a new user on the adminstrator account?

These alerts get in the way when I have a large user base.

Maybe there is a plug for it? I used Matomo v4.5.0

[2021-10-25 20:27] bx80 commented on #18216
Hi @Orygaw, thanks for the suggestion. Unfortunately at the moment there isn't a way to disable the administrator emails for new user creation or deletion. I'm not aware of any plugin that adds this option.

[2021-10-26 02:43] #17923 closed, assigned to justinvelluppillai

[2021-10-26 08:09] 7starsone commented on #17738
Hello, please, I have exactly this issue on PHP error log, since the last version, full of lines in some languages like this:
_... Error in Matomo: Your browser is not supported.Due to security issues your browser is not supported. Please upgrade to a newer version._

How to prevent? Thanks

[2021-10-26 08:16] sgiehl commented on #17738
Since the last release those "errors" should only be logged on debug level.

[2021-10-26 08:57] 7starsone commented on #17738
Thanks for your answer. I didn't change anything, so where's this option, please?

[2021-10-26 09:09] florianmonfort commented on #18161
Hello @tsteur ,

We have a platform available in markets such as Mainland China, Singapore, Hong Kong etc... where for example how long we can keep the record, in what format once deleted, "where" meaning on which of our servers and "for which users" this data can be stored etc. is all quite different.

So for us splitting the databases would be great because we can make sure to be in full complia

[2021-10-26 09:39] sgiehl commented on #17738
If you are not logging on a DEBUG level, those errors shouldn't appear anymore once you have updated to the latest release.

[2021-10-26 10:04] 7starsone commented on #17738
my php error reporting is
**error_reporting = E_ERROR | E_WARNING | E_PARSE | E_COMPILE_ERROR**

previously, I didn't read those lines on php error log, I don't have any to update since is the last version, so it's something in your code and please, I don't need those lines on log, is a mess at the moment. Thank you

[2021-10-26 10:10] sgiehl commented on #17738
Which log_level have you configured in Matomos `config.ini.php`?

[2021-10-26 10:28] 7starsone commented on #17738
there's anything about _log_level_ in that file. Do I need to add a line there? Thanks

[2021-10-26 11:15] sgiehl commented on #17738
If there is nothing in your config it should use the default from global config, which is `WARN`

[2021-10-26 11:27] #18019 closed, assigned to peterhashair

[2021-10-26 14:27] 7starsone commented on #17738
I checked the global.ini.php and it was WARN, even changing it to ERROR (example) on php error log is the same. Probably something in your code. Please, can you show me which file is affected and the relevant lines of code? Thanks

[2021-10-26 23:12] githubyouser commented on #18090
@tsteur When I change it to `return true;` the errors start again immediately.

[2021-10-27 03:13] tsteur commented on #18161
Thanks. I understand a bit better now.

The simplest workaround would be for now to install different Matomo's in each location. There will be different dashboards though which is not what you are after. If you were to access them using one dashboard you would still transfer the data to the different regions in the end and process them in a central region. Not sure how much this be actually allowe

[2021-10-27 03:39] tsteur commented on #18090
Thanks for this.

There's something wrong in that case potentially with our detection of whether Cli Async Archiving is supported or not.

@githubyouser as the change you made that makes the archiving work would be overwritten with the next update, you want as a workaround create a file `config/config.php` and paste below content in there:

[code]

This way it should always work for you also when

[2021-10-27 03:40] tsteur commented on #18090
Interesting would be also to think further why async support was not detect correctly or whether maybe the issue is with something else. The question where is the error `'echo: write error on stdout '` coming from.

[2021-10-27 04:34] Starker3 opened #18224 "Allow IP Anonymization options to be overridden by config file"
Currently the only way to set whether IP Anonymization is enabled and the options for it is to either set the options in the UI or to perhaps directly set them in the option table.

This means that a Super User can change the settings after initial configuration. It would be great from a privacy/non-repudiation perspective to be able to either set these using the config.ini.php or have the option

[2021-10-27 14:02] 7starsone commented on #17738
There must be some problem with **ExceptionHandler.php**, it seems that it catches the exception at default, ignoring Log::DEBUG, so it runs `self::logException($exception);`

please check, thanks

[2021-10-27 14:56] robles-design opened #18231 "Fix annotations for "Behaviour > Performance" StackedBarEvolution charts"
## Expected Behavior
Annotations should show up below Behaviour > Performance.

## Current Behavior
Annotations doesn't show up below Behaviour > Performance.

## Steps to Reproduce (for Bugs)
https://user-images.githubusercontent.com/25033650/139089875-6a513947-87d5-4c7a-ad69-c1d3c74caf64.mp4

## Context
I work with annotations to analyze websites changes to see if they have an impact or not.

##

[2021-10-27 15:51] githubyouser commented on #18090
Thanks, @tsteur. I created the config.php file according to your instructions, so hopefully we won't have any more trouble with it! :) If there's any further troubleshooting I can help with on my installation, please let me know. I'll be happy to help make Matomo better and less buggy!

[2021-10-27 20:14] bx80 commented on #18231
Hi @robles-design, thanks for raising this issue and taking the time to make a video, that's very helpful. I've managed to recreate the problem and it does seem to be a bug.

[2021-10-27 20:22] tsteur opened #18232 "Remove "refer us" feature"
In https://github.com/matomo-org/matomo/pull/17234 we added the "refer us" feature which shows a popup asking to share on twitter, facebook, linkedin.

We couldn't see too many shares so far now we would like to remove this feature again to have less popups.

[2021-10-27 21:17] peterhashair commented on #14192
@tsteur @Findus23  can this FAQ go live?

[2021-10-27 21:25] tsteur commented on #14192
sounds good @peterhashair feel free to publish and we can tweak afterwards if needed

[2021-10-27 21:31] Findus23 commented on #14192
The FAQ is pretty easily readable. Of course the issue on how to "check your Matomo setup" still remains as there are no real logs about this. But nevertheless this is a good improvement.

[2021-10-27 22:04] Starker3 commented on #13703
We received another request today to allow the transitions reports to be exported as a PDF or image

[2021-10-28 06:16] florianmonfort commented on #18161
Thank you for your advice, it does look like to be compliant we have to have multiple installs then.

Thanks for at least checking it out.

[2021-10-28 08:35] AltamashShaikh opened #18234 "Live.getLastVisitsDetails API sort order different for PHP8"
Due to stable sorting in PHP 8, the result order seems to change when hitting same API on different PHP versions.

## Expected Behavior
The output order should be same across all the versions

## Current Behavior
The output differs for different PHP versions

## Possible Solution
Changing the below code to renturn '-1' instead of '0'
https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Live/V

[2021-10-28 09:27] #17856 closed, assigned to peterhashair

[2021-10-28 10:06] jszczypk commented on #18161
Hi @florianmonfort,

I am not MySQL expert, but you could check partitioning of MySQL tables holding users' data. - https://dev.mysql.com/doc/refman/8.0/en/partitioning.html
It may allow you to have one "virtual" table combining multiple partitions that may be stored in different files. By mounting remote directories (located on servers in specific parts of the world to fullfill regulatory require

[2021-10-28 11:45] sgiehl commented on #18231
That's quite easy to explain. Annotations are currently hard coded only available for evolution charts, but the performance chart has another graph type. Should be quite simple to fix that. Will have a quick look...

[2021-10-28 13:01] #17785 closed, assigned to nobody

[2021-10-29 01:09] tsteur opened #18238 "Feature name no longer shown in our rating feature"
Looks for me in latest 4.x-dev branch like this:

![image](https://user-images.githubusercontent.com/273120/139356756-cf03e705-e7c3-421f-9a5c-d948842f7bd0.png)
![image](https://user-images.githubusercontent.com/273120/139356765-2bedb075-2c2b-4016-9f75-64adf3d89895.png)

It should show the feature name. Maybe this regressed with one of the vue PRs?

cc @diosmosis

[2021-10-29 01:12] tsteur commented on #18186
Here are specs:

* [ ] Require a message to be entered. Sending feedback will only work when at least 5 characters entered. Otherwise we show a message telling them to enter a message. Or maybe we could also highlight the textarea red or so.
* [ ] When hovering a title, directly show both thumbs up and down, not just the thumbs up initially and on hover of the thumbs up the thumbs down. As soon as

[2021-10-29 02:49] florianmonfort commented on #18161
Thanks, we will look into this solution and feedback here later

[2021-10-29 04:11] tsteur commented on #18186
Having a select option in the feedback additionally could be otherwise good too. Once this feedback has been sent, we could then follow up with showing a textarea and asking for more details.

Like we always show the radio fields (single choise) on the top, and then adjust the textarea description

![image](https://user-images.githubusercontent.com/273120/139374199-0ec75e67-c9c5-4224-a9c2-341fcd45

[2021-10-29 12:23] fkmotion opened #18244 "Ensure DNS records are only requested for IP allowlist when needed"
## Expected Behavior

No DNS Request for network entries just for hostnames in login_whitelist_ip/login_allowlist_ip

## Current Behavior

All entries in login_whitelist_ip/login_allowlist_ip for networks that was specified with an "/" are attempted to be resolved using DNS.
For Example:
We have "192.168.50.0/24" in our login_whitelist_ip/login_allowlist_ip. Now our DNS Server recivies a ton of re

[2021-10-29 12:52] sgiehl commented on #18244
Hi @fkmotion. Thanks for taking the time to create this bug report. I would assume that is a side effect of #18046.
We are currently checking IPs that way:
https://github.com/matomo-org/matomo/blob/4764df9b0c795301976788df87fe314ecc7acece/config/global.php#L170-L172
But seems the filter_var isn't counting ranges as valid IPs. Guess we need to extend that check for IP ranges somehow, so no host loo

[2021-10-29 15:10] #18231 closed, assigned to sgiehl

[2021-10-30 03:03] #18238 closed, assigned to diosmosis

[2021-10-30 08:01] mkassir95 opened #18248 "unable to excute syncronous functions in matomo"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2021-10-30 08:57] Findus23 commented on #18248
Hi,

I think you have to expand a lot more on what you mean by "synchronous functions".

https://github.com/matomo-org/developer-documentation/issues/575

[2021-10-30 16:41] #18248 closed, assigned to nobody

[2021-10-31 17:02] cdalexndr opened #18249 "Dynamic loaded content not tracked"
## Expected Behavior
Track content impression/interraction.

## Current Behavior
Impression/interraction not tracked.

## Possible Solution
Listen DOM changes.

## Steps to Reproduce (for Bugs)
1. Load html using ajax containing a `<select data-track-content data-content-name="name" data-content-piece="piece">`
2. Put the loaded html inside an element using `Jquery.html()` method
3. After load, th

[2021-10-31 17:20] cdalexndr commented on #18249
Found workaround in [FAQ](https://developer.matomo.org/guides/content-tracking#how-can-i-track-dynamically-loaded-elements)

[2021-10-31 19:38] tsteur commented on #18244
If I see this right then we aren't using the login allowlist yet in the tracking code (eg when authenticating requests). I reckon therefore it could be maybe fine to do this and would need to mention this in https://matomo.org/faq/how-to/faq_25543/

Not sure if there could be any side effects from this as the tracking code could launch the regular Matomo to populate general cache AFAIK. But I don'

[2021-10-31 23:28] tsteur opened #18250 "Remove review popup"
We have a logic to show a popup like below to ask for a review on few review sites. The feature was added in https://github.com/matomo-org/matomo/pull/14432

![image](https://user-images.githubusercontent.com/273120/139604719-d03d6274-faf7-4575-81a3-57fa0ff8a708.png)

We'd like to remove this feature as it's not much used.

We're also removing the "refer us" feature in https://github.com/matomo-or

[2021-11-01 01:03] tsteur opened #18251 "Collect feedback about what features people are using?"
We are wanting to learn more about what features or services people are missing in Matomo so we can improve it further.

## How we ask for feedback

Therefore, we want to ask for feedback in the app like this:

![Screenshot 2021-10-27 at 7 56 01 PM](https://user-images.githubusercontent.com/273120/139606488-97f72d88-ea79-4100-b418-1a1eaf579df0.png)

* [x] Important to have the close button/icon vi

[2021-11-02 02:15] tsteur commented on #18249
I'll keep this issue open so we can eventually improve this and detect these elements automatically. Thanks for creating this issue @cdalexndr

[2021-11-02 02:46] tsteur opened #18256 "Add more plugins as submodules"
We just noticed that there are few plugins missing as submodules:

* Migration
* GoogleAnalyticsImporter
* EnvironmentVariables
* ForceSSL
* Invalidate Reports
* JS Tracker Custom
* Custom Translations

Can/should we add these as submodules maybe too to ensure we notice when we break these plugins? Not sure if it would cause tests to go a lot longer. Some of them also don't have tests.

Some of th

[2021-11-02 08:57] RobinBartlett opened #18258 "Pages - provide improved information for users with multilingual websites"
When I click on "Pages", I see a list of category names (i.e. group, wiki) and languages (DE, EN, FR). If I select a category name it goes on to show pages and their number of users (smartmap), but also include versions of the page with language names in the page name (smartmap?locale=de_CH). If I select a language it goes on to show all the pages with the language. I see the homepage therefore li

[2021-11-02 09:24] sgiehl commented on #9554
Guess this will kind of be fixed with #18099

[2021-11-02 09:30] sgiehl commented on #18258
Hi @RobinBartlett
Thanks for creating the issue. If you want to track the page regardless of any language you could simply manipulate the tracked page url on you website. See https://matomo.org/faq/how-to/how-do-i-set-a-custom-url-using-the-matomo-javascript-tracker/ for details.
That would on the other side mean, you will loose the detail of the language in the url. If you need that in any way, y

[2021-11-02 09:36] sgiehl commented on #18244
@tsteur this might already help I guess. Maybe we could also cache the result of resolving the host for a couple of minutes to avoid permanent requests?

[2021-11-02 09:55] sgiehl commented on #18256
All plugins having tests should actually always run their tests against latest 4.x-dev branch. Imho it might be enough to run those tests regularly to ensure nothing breaks. Checking those builds before a release of Matomo might actually be enough.

[2021-11-02 10:57] #3513 closed

[2021-11-02 10:59] sgiehl commented on #3513
Note: The merge PR enables sticky headers only for datatables that fit in the available space. For tables that need a horizontal scroll bar, sticky header will not work. Not sure if we want to create a follow up issue to check if we can use javascript to make sticky headers also work for such cases.

[2021-11-02 13:35] RobinBartlett commented on #18258
Hi, so is there anyway to check on Matomo which language visitors have selected while using the website?

[2021-11-02 15:04] sgiehl commented on #18258
If you want to have that information you need to track that in any way. I guess on your website you can easily access this information. If you track it to Matomo using a custom dimension you can afterwards see it in Matomo. See https://matomo.org/docs/custom-dimensions/

[2021-11-02 18:54] sgiehl commented on #11735
This seems to be fixed meanwhile.

[2021-11-02 18:54] #11735 closed

[2021-11-02 19:16] tsteur commented on #18256
@sgiehl are you saying we should remove all plugin submodules?

[2021-11-02 19:24] sgiehl commented on #18256
Not all. The only benefit I see on having the submodules is that we might be able to identify potential issues that might occur when plugin are available prior to installation or their code is updated together with core. See my last PRs in AnonymousTracking plugin. But those issues should be rare and unlikely and not worth the effort.

Btw Removing the submodules would mean updating a lot tests. B

[2021-11-02 19:56] tsteur commented on #18244
I suppose we could cache the `@dns_get_record($ip, DNS_AAAA);` call for say 30 seconds. It's otherwise bit annoying if it takes too long to recognise a new IP.

We probably wouldn't want to cache the entire result maybe as it would  maybe make it complicated when configuring the IPs and then it would look like the configuration isn't working when it's just a cache. Of course could cache the entire

[2021-11-02 20:16] justinvelluppillai commented on #5312
The new FAQ explaining to set an HTTPS url in Measruables is here: https://matomo.org/faq/how-to/how-do-i-get-matomo-to-use-https-for-links-to-my-site-instead-of-http/

@tsteur is it needed to create a second FAQ for tracking a custom dimension to treat HTTPS and HTTP URLs as different or can this be closed now?

[2021-11-02 20:27] tsteur commented on #5312
I guess these days it's not really needed anymore and not needed that FAQ.

btw that FAQ you linked to, the second part is not really clear how to actually do it. It be great to mention each step needed like

* Go to admin
* go to Measurables -> Manage (Sometimes UI might be Websites -> Manage)
* click on edit...
* In the field ""... add a new line with the https...

[2021-11-02 21:31] #5312 closed

[2021-11-03 00:42] tsteur opened #18261 "Notice - A non well formed numeric value encountered in Goals API"
Below warnings I can see in our own Matomo. It refers to this line https://github.com/matomo-org/matomo/blob/4.6.0-b2/plugins/Goals/API.php#L513

We have probably hundred of these entries for each request where this happens.

Let me know if more details is needed to find the problem.

[2021-11-03 03:21] mattab opened #18264 "Support for Global Privacy Control (GPC) and enabled by default"
from https://www.zdnet.com/article/mozilla-firefox-joins-browsers-implementing-global-privacy-control/

## Global Privacy Control (GPC) spec

The spec is available at https://globalprivacycontrol.github.io/gpc-spec/ and was proposed less than  a month ago.

Questions:

* Could we add support for Support for Global Privacy Control (GPC) in Matomo?
* And what would be the implications if we enabled

[2021-11-03 04:04] mattab commented on #18264
The spec says:

So it looks like we don't want to "Not track" people when they only mean to indicate that their data is not be sold to or shared with any party other than the one the user intends to interact with.

So maybe this is a won'tfix?

[2021-11-03 18:45] tsteur opened #18268 "Pivot feature does not work with all columns table visualisation"
Reproduced this eg with Source Medium report see https://github.com/matomo-org/plugin-MarketingCampaignsReporting/pull/83

Also reproduced this with the "Search Engines" report.

To reproduce select the visualisation

![image](https://user-images.githubusercontent.com/273120/140172958-e7be198f-7a15-4503-ace3-2d1cc0ef5971.png)

it will show data. Then select the Pivot feature using the cog icon

![

[2021-11-03 21:47] mkassir95 opened #18270 "Average time spent on each page is incorrect"
I am tracking events and pages , matomo is calacating the time spent on each page as the difference between the last event done on the page and the next page view and not the difference between the two page views. How to solve this

[2021-11-03 22:46] peterhashair commented on #18251
@tsteur just checking, should we use a cookie per browser, or database per user to reload the popup. I mean if someone finishes the feedback, should we record it into the browser cookie per browser or local database per user.

[2021-11-03 22:55] tsteur commented on #18251
@peterhashair we'll want to do this in the browser

[2021-11-03 22:55] tsteur commented on #18251
@peterhashair sorry I meant in the database. Similarly to how we've done this for review popup and refer popup.

[2021-11-04 01:53] huye commented on #18207
@tsteur I now bypass MaxScale (which is a gateway or middleware) and directly connect to MariaDB. This is not very friendly. MaxScale supports automatic switching of the primary server. Now, when the server fails, I can only switch manually. I guess it's probably because MaxScale doesn't support functions like load file, but I didn't track and debug Matomo.

[2021-11-04 02:18] tsteur commented on #18207
Maybe check if it can update the DNS automatically when it switches over then the problem would be solved. I don't know if it supports that.

[2021-11-04 04:20] peterhashair commented on #18251
@tsteur Just checking the logic here and prority. `Hide if the user answered question already.` >`Show if(currentUser) not seen last week` > `Hide if(currentUser>'six month old')`.

[2021-11-04 07:32] sgiehl commented on #18268
@tsteur another simple solution would be to force the normal table viz when a pivot is given.

[2021-11-04 13:13] heurteph-ei commented on #18251
@tsteur , take also int account when Matomo cannot access the Internet (then the email could be sent though the email app of the user if any... Or else the feature desactivated...)
Also, how do you collect the sender email address? Indeed, the confirmation message says `We will be in touch in case...`

[2021-11-04 20:01] tsteur commented on #18251
@peterhashair I'm not quite understanding what you mean re that logic?

@heurteph-ei So far Internet vs email are two different things in Matomo. We're usually assuming that when internet is disabled, emails usually still work.

We will include the email address of the currently logged in user (see the privacy notice below the textarea)

[2021-11-04 21:31] justinvelluppillai commented on #17686
I've fixed all that I can currently reproduce using PHP8.1 rc5.

[2021-11-04 22:57] tsteur commented on #18251
@peterhashair did you mean to close this issue?

[2021-11-04 23:37] peterhashair commented on #18251
@tsteur definitely not.  Sorry, I click the wrong button. Just checking because it fires us an email, do we worry about spam. do we need to do a captcha

[2021-11-05 12:55] heurteph-ei opened #18275 "Manually set time for deleting old data"
## Summary
From forum: https://forum.matomo.org/t/how-to-manually-set-time-for-deleting-old-data/43543

Currently, all scheduled tasks are scheduled at the same time as the schedule is created.
![Current schedule old data deletion configuration panel](https://forum.matomo.org/uploads/db1181/original/2X/0/0e95a8fffa347e664430719c3b957e8fedf312a9.png)
It could be good to be able to define the schedu

[2021-11-05 14:45] #14695 closed

[2021-11-06 12:02] danielnaber opened #18276 "make direct linking to event actions view possible"
## Summary

It would be great if it was possible to specify a direct link to the event actions view, with a specific event opened:

![event_actions](https://user-images.githubusercontent.com/857004/140608727-1e477754-3bec-4ae4-a305-112c1ea538bd.png)

Currently, it seems one can only link the events page, and the user will need to select category/action/name and then needs to search for a specific

[2021-11-07 20:51] tsteur commented on #18275
@heurteph-ei thanks for creating this issue. Be great to also mention why this would be great to have.

A workaround would be to disable the task `Piwik\Plugins\PrivacyManager\Tasks.deleteLogData` in a custom plugin and then creating a command to delete logs data which then could be triggered using a cronjob at a set time.

Or an easier workaround would be likely to edit the time in the `matomo_op

[2021-11-07 23:17] bx80 commented on #18186
@tsteur Can I clarify if we're going to a) show a single dialog with select option choices at the top and optional text comments below, or b) if we're going to first show a mandatory text feedback dialog and then after submitting that show another dialog with selection option choices and then send that as a second email?

Seems like a single dialog would be a better UX?

[2021-11-07 23:23] tsteur commented on #18186
I was thinking `a)`. And then the question for the text comment changes depending on the selected field. The textarea could be hidden or disabled until a radio field has been selected. So all in a single dialog 👍

[2021-11-08 02:25] tsteur commented on #16434
Created an internal issue for this. DEV-2413

[2021-11-08 02:25] #16434 closed

[2021-11-08 08:32] peterhashair commented on #18082
It seems this starts to fail randomly. eg: [https://app.travis-ci.com/github/matomo-org/matomo/jobs/547051754](https://app.travis-ci.com/github/matomo-org/matomo/jobs/547051754)
![image](https://user-images.githubusercontent.com/3783072/140709108-e4da34c4-6807-4c7f-8b57-0ce24fc9495b.png)

[2021-11-08 09:05] MyIcecream opened #18281 "After upgrading matomo from 3.13 to 4.5, can't process archive"
After upgrading matomo from 3.13 to 4.5 then can't process archive. The log stays on this page for three days without moving (FYI, I have 36w+ domains on my server), any idea?

INFO [2021-11-08 08:53:46] 30799  ---------------------------
INFO [2021-11-08 08:53:46] 30799  NOTES
INFO [2021-11-08 08:53:46] 30799  - Async process archiving supported, using CliMulti.
INFO [2021-11-08 08:53:46] 30799

[2021-11-08 10:24] sgiehl commented on #18281
Hi @MyIcecream. could you check how many entries are in the table `archive_invalidations`? And also if the is an entry in the options table with the name `ReArchiveList` and maybe how big that option_value is.

[2021-11-08 11:21] jurgenhaas commented on #15208
I'm having the same error message on a fresh installation of Matomo 4.5.0 without any custom plugins, one site and no tracking in it yet. The matomo_segment table is empty, but still I get that error message:

[code]

This happens on https://analytics.example.com/index.php?module=CoreHome but I can manually go to https://analytics.example.com/index.php?module=CoreAdminHome without a problem.

[2021-11-08 11:42] sgiehl commented on #15208
@jurgenhaas Are you maybe able to see a stack trace for that error in the error log? That might help to figure out where that problem actually is triggered.

[2021-11-08 11:52] sgiehl commented on #18276
@danielnaber It is indeed not possible to create such deep links to reports.
But you can use the widgetize feature to directly link a report and supply certain filters and searches. Eg. something like this:
https://demo.matomo.cloud/index.php?module=Widgetize&action=iframe&secondaryDimension=eventName&moduleToWidgetize=Events&actionToWidgetize=getAction&idSite=1&period=day&date=yesterday&flat=1&fi

[2021-11-08 11:57] jurgenhaas commented on #15208
Hmm, when calling the crashing site, nothing is shown in the log. But the error.log is full of records like this:

[code]

This is when I'm looking into the Apache log files. Are there any other logs by Matomo elsewhere?

[2021-11-08 12:02] jurgenhaas commented on #15208
When I run `./console core:archive --url=https://analytics.example.com/` I'm getting errors like these:

[code]

[2021-11-08 12:08] alimony opened #18282 "Stray vendor files in File Integrity report"
I get stray files in the File Integrity report but that seems to have popped up as part of an upgrade or similar.

## Expected Behavior

No errors in integrity check, as I haven't modified any files.

## Current Behavior

I get three stray files.

## Possible Solution

Ignore these in the check, if they are now expected to pop up as part of other packages.

## Steps to Reproduce (for Bugs)

1. Upg

[2021-11-08 12:08] jurgenhaas commented on #15208
I had to deactivate the plugins Goals, Provider and VisitFrequency - then I activated them again and the archive console command now runs without a problem. But the original error when using the web interface still exists.

[2021-11-08 12:13] danielnaber commented on #18276
@sgiehl Thank you, that seems to be a good workaround in our case.

[2021-11-08 13:38] sgiehl commented on #18282
Hi @alimony
Thanks for your report. Those files were actually not part of the last release. It seems for some reason they might have been included in a former release and were not removed on update in your case.
We will improve our script to ensure they won't be included in future releases.
For your setup please simply remove the files manually. Those files won't be included in future releases.

[2021-11-08 13:38] #18282 closed, assigned to nobody

[2021-11-08 15:42] 7starsone commented on #14484
Hello, I have an issue when archiving given by **DataTable/Row.php on line 361**
It can't archive a site even with 1GB php memory limit.
So, please, how to prevent? I'm using that limit on PHP-fpm, so I can't change it on runtime.
Thanks

[2021-11-08 16:06] 7starsone commented on #14484
Sorry, I forgot that the cronjob doesn't run on php-fpm, so, nevermind... is enough to change the value on php.ini
Thanks

[2021-11-08 16:26] sgiehl commented on #15208
Ok. that points out, that the problem is triggered here:
https://github.com/matomo-org/matomo/blob/3efc65b31beee69d5bc512893f4ca4eea0ef53c4/plugins/Goals/Archiver.php#L121
So it seems the `visitorType` segment produced the problem, which is a bit weird, as that segment actually is defined in `CoreHome` plugin and should always be valid. I really don't know why that might happen upon a fresh instal

[2021-11-08 19:19] tsteur commented on #15208
@sgiehl  Looking at the stack trace there's a problem here: https://github.com/matomo-org/plugin-CustomVariables/blob/4.0.1/Columns/Base.php#L45-L57

These segments don't define sqlSegment but instead use a union of segments. It seems `$this->getSegmentColumns('customVariablePage' . $segmentNameSuffix, $numCustomVariables)` isn't returning any columns and therefore it triggers that exception.

Thi

[2021-11-08 19:20] tsteur commented on #15208
Although next release won't include custom variables anymore anyway and then it will be only a plugin on the marketplace. So this might be solved then.

[2021-11-08 21:23] #18011 closed, assigned to tsteur

[2021-11-09 00:56] MyIcecream commented on #18281
Hi, Thanks for replying: Do you mean these?
mysql> select count(*) from matomo_archive_invalidations;
+----------+
| count(*) |
+----------+
| 40187578 |
+----------+
mysql> select max(length(option_value)) from matomo_option;
+---------------------------+
| max(length(option_value)) |
+---------------------------+
|                   5033211 |
+---------------------------+

[2021-11-09 03:02] #18234 closed, assigned to AltamashShaikh

[2021-11-09 03:48] tsteur opened #18283 "Don't archive anything in Goals unless a goal is configured or ecommerce is used"
I noticed that 2/3rd of sites use neither goals nor ecommerce feature.

This means the goals archiver wouldn't need to archive anything when there is no goal and no ecommerce configured for a site.

If we didn't archive in that case, this would be especially useful because in the Goals archiver, we process two dependent archives for new visitors and returning visitors in [click](https://github.com

[2021-11-09 06:57] jurgenhaas commented on #15208
So, is there a way to re-install the instance without CustomVariables?

[2021-11-09 06:59] jurgenhaas commented on #15208
Oh, I have just deactivated the CustomVariables plugin and the site is now working.

[2021-11-09 09:24] sgiehl commented on #18281
Seems like there are quite too many invalidation records. Might be caused be the high number of websites.
@diosmosis do you think it would be safe to clean the table and maybe the option and restart the archiving?

[2021-11-09 09:39] sgiehl commented on #18283
@tsteur sound good. Alternatively we could adjust the archiver to not fire any queries if there aren't any goals and simply insert null records. That way there might not be any rearchiving if a goal is created later

[2021-11-09 10:38] MyIcecream commented on #18281
If I empty this table, will I lose data? such as all domains， just reset the archive?

[2021-11-09 10:50] sgiehl commented on #18281
I guess cleaning the table `matomo_archive_invalidations`, might only cause that some archives aren't triggered correctly. But that can be fixed by invalidating the archives manually later if needed.

[2021-11-09 11:40] MyIcecream commented on #18281
What should I do？

[2021-11-09 12:35] sgiehl commented on #18281
Stop any archiving processes. Afterwards try running a `TRUNCATE TABLE matomo_archive_invalidations` and then trigger the archiving again.

[2021-11-09 20:30] tsteur commented on #18283
Insert null records could work 👍

[2021-11-09 20:54] diosmosis commented on #18281
This seems similar to this issue: https://github.com/matomo-org/matomo/issues/17474 caused by updating from 3.X to one of the later 4.X's that had upgrade fixes for certain bugs in earlier 4.X releases. Truncating archive_invalidations and clearing ReArchiveList may solve the issue.