[2015-07-12 11:55] mattab commented on #8289
Thanks @sgiehl :+1:  could you update Device detector used in Piwik so we have the fix in 2.14.1?

[2015-07-12 11:56] mattab commented on #8333
I think this duplicates https://github.com/piwik/piwik/issues/8311 - please reopen if it's a different issue

[2015-07-12 11:56] #8333 closed

[2015-07-12 11:57] sgiehl commented on #8289
Still working on some other improvements. But I'll release a new version
the next days...

[2015-07-12 11:59] mattab commented on #8326
Fyi: it started failing because we upgraded the LESS PHP compiler which became more correct

[2015-07-12 12:05] sgiehl commented on #8332
http://forum.piwik.org

Haven't done much with video analytics. So I can't tell you how to do that.

Btw. If we should ever create and publish such a comparison I would suggest to also include features we do not have implemented. And for sure we should not use some of the wording clicky does.
Stuff like "Industry's best spam / bot filtering" or "The best bounce rate metric in the biz" are cocky...

[2015-07-12 12:10] mattab commented on #8113
@shogunjames can you send again to matt att piwik.org your website URL and steps to reproduce the issue ? Also please check you enabled traker debugging: http://developer.piwik.org/api-reference/tracking-api#debugging-the-tracker

[2015-07-12 12:11] mattab commented on #8289
Perfect! it will be 1 week at least until 2.14.1 so we have some time

[2015-07-12 12:24] mattab commented on #8302
@parruc we did a lot of work to improve this particular part of Piwik (make All Websites work better with thousands of websites). can you try:

1) Setup cron archiving (I guess you already did this): http://piwik.org/docs/setup-auto-archiving/ - which includes "disable browser trigger archiving"

2) re-enable MultiSites and try to load it in 2.14.0

How long does the page take to load for you?

Ou

[2015-07-12 14:39] propertunist commented on #8326
oh ok, thanks for the info :)

[2015-07-12 15:55] #8245 closed

[2015-07-12 15:59] #7382 closed

[2015-07-12 16:09] #8321 closed

[2015-07-12 16:12] #8305 closed

[2015-07-12 16:39] mattab commented on #8243
PR was reverted in #8335

[2015-07-12 17:47] #8312 closed

[2015-07-12 18:00] Amenel opened #8337 "Duplicate login forms on the authentication page"
I've seen on my Dashboard that a user had visited the page with the following URL fragment on my Piwik subdomain.
URL: /index.php?module=CoreHome&action=index&idSite=1&period=range&date=last30&activated=

I have entered that URL (as a suffix to my analytics subdomain) in a browser and what I faced was a duplicate login form, with the same form (that has fields User name, User password, Remember me

[2015-07-12 18:18] mattab commented on #8244
No worries @barbushin  and cheers for issuing the new PR

[2015-07-12 18:27] #8244 closed

[2015-07-12 18:36] #7969 closed

[2015-07-12 21:57] mattab commented on #8311
fixed in https://github.com/piwik/piwik/commit/47cf78277659048d55061b1914f940ffe56067f4

[2015-07-12 21:57] #8311 closed

[2015-07-12 22:29] #8324 closed

[2015-07-12 22:59] mattab commented on #7181
This bug should be fixed in 2.14.1-b1 - if you still have any issue with this version or newer, please comment here

[2015-07-12 23:21] mattab commented on #7618
Thank you @lemu for the icon set!

We will check it out and try to integrate it in Piwik for next release 2.15.0.

cc @mnapoli

[2015-07-13 06:47] Fensterbank commented on #7618
Great! I'm looking forward to see them in one of the next versions.

[2015-07-13 07:10] PeziBuu opened #8340 "wrong tracking data"
Hello community,

I got a huge problem and can't find the issue. We had a database crash 5 weeks ago. We had a backup, but it wasn't complete. Some tables were missing. After searching the repository, we found the tables and insert them to the database. The Piwik installation is still the same. No data was lost, but since we restored everything, Piwik tracks each visitor, which opens a new page as

[2015-07-13 08:24] mayurr87 opened #8341 "Piwik not running in Phonegap Apps"
I am using piwik to find analyse on website have got the js code from setting option of the piwik.

script type
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.techforum-worldline.rhcloud.com"]);
  _paq.push(["setDomains", ["*.techforum-worldline.rhcloud.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['ena

[2015-07-13 09:29] mattab commented on #8340
Hi there,

This is the problem, please upgrade to latest Piwik and I think this issue will be fixed. if you still have some problem, let us know

[2015-07-13 09:29] #8340 closed

[2015-07-13 10:34] chriscroome commented on #8304
I ran this SQL to fix the issue:

    mysql> ALTER TABLE log_visit ADD COLUMN config_os char(3) NOT NULL;
    Query OK, 2484765 rows affected (1 min 21.69 sec)
    Records: 2484765  Duplicates: 0  Warnings: 0

    mysql> ALTER TABLE log_visit ADD COLUMN config_browser_name varchar(10) NOT NULL;
    Query OK, 2484765 rows affected (1 min 3.00 sec)
    Records: 2484765  Duplicates: 0  Warnings: 0

[2015-07-13 12:10] #8272 closed

[2015-07-13 12:35] shogunjames commented on #8113
hi Mattab,

I have send the informations to matt att piwik.org.

Could you please check this.

[2015-07-13 12:53] tsteur commented on #8239
This is actually a duplicate of https://github.com/piwik/piwik/issues/6703

Is Piwik fast for you? If not, you might want to create a question regarding this in the forum: http://forum.piwik.org/list.php?2

[2015-07-13 12:53] #8239 closed

[2015-07-13 12:54] tsteur commented on #6703
This might be easier to fix than all the other referenced issues in #6880 just FYI. So not sure if it is worth waiting

[2015-07-13 12:55] mattab commented on #6693
Along with "opt-out with safari use case", one of our newly added UI test for the Maps, randomly fail quite rarely. I've seen this failure 2-3 times, last one being: http://builds-artifacts.piwik.org/ui-tests.master/14138.7/ which was around midnight UTC. I guess these two tests fail when the build runs shortly after midnight UTC.

[2015-07-13 13:09] tsteur commented on #8341
Just a guess, maybe instead of `var u="//piwik-techforumatos.rhcloud.com/";` try `var u="http://piwik-techforumatos.rhcloud.com/";` or `https://...`

[2015-07-13 13:10] tsteur commented on #8341
If it doesn't work, it would be great if you could remote debug your PhoneGap app and let us know if there are any errors

[2015-07-13 13:12] tsteur commented on #8319
I don't think it is a regression, is it? FYI: In https://github.com/piwik/piwik/issues/7822 this is already implemented but it won't be released before Piwik 3.0

[2015-07-13 13:14] mattab commented on #8113
The problem is exactly the same as: https://github.com/piwik/piwik/issues/7945#issuecomment-114312376

You need to update the prototype.js library on your website.

[2015-07-13 13:14] #8113 closed

[2015-07-13 13:15] mattab commented on #8319
if it's already implemented I'll move this one to 3.0.0 as well :+1:

(it is a regression, not in 2.14.0 but in an even earlier version - in other words: months ago it used to work)

[2015-07-13 13:16] tsteur commented on #8307
Limiting the number of notifications sounds like a good idea in general :+1:

[2015-07-13 14:25] jpjp commented on #5099
Is anti-referral spamming included in piwik 2.14 and enabled by default? Is there any way to retroactively apply it, like with the geoip location dbs? I couldn't find any documentation on this. Thanks.

[2015-07-13 14:56] mattab opened #8342 "Let me display a "Cookie opt-out" panel in their websites tracked by Piwik"
In our effort to  innovate and bring better [Privacy](http://piwik.org/privacy/) to Piwik users worldwide, we would like to provide an easy to use mechanism for Piwik users to show a "Cookie opt-out" panel on their websites.

By default, when visitors view a website tracked by Piwik, [tracking cookies](https://piwik.org/faq/general/faq_146/) are set on the visitor browser. It is possible for a Piw

[2015-07-13 15:28] mattab commented on #8220
Added FAQ: https://piwik.org/faq/troubleshooting/faq_20272/

How do I check that my Piwik SSL Server is correctly configured?

If your website has HTTPS / SSL pages, to ensure that all your visitors actions will be tracked on all browsers, you need to check that your SSL Server is correctly configured. We recommend to take the SSL Server test, for the URL of your SSL Piwik server. In particular yo

[2015-07-13 15:28] #8220 closed

[2015-07-13 16:25] esapozhnikov commented on #6398
@mattab

Any update on this issue, I though it will be fixed in 2.13 but I ma still getting deadlocks.

[2015-07-13 16:33] #8188 closed

[2015-07-13 16:34] mattab commented on #8188
@kaz231 I did a small fix in https://github.com/piwik/piwik/commit/f9f42f670b7d6861d35daf8efcc89e387552f5db - hopefully this would prevent someone having same problem in the future. Please keep these suggestions coming!

[2015-07-13 17:24] paulomartinhago opened #8344 "Warning - No such file or directory"
Hello!

I'm having a problem when access the menu "All Websites", is returning me the following error:

WARNING: /home/emidsite/public_html/_subdominios/piwik/plugins/CustomVariables/Archiver.php(19): Warning - require_once(/home/emidsite/public_html/_subdominios/piwik/libs/PiwikTracker/PiwikTracker.php): failed to open stream: No such file or directory - Piwik 2.14.1-b1 - Please report this messa

[2015-07-13 18:47] SteffiMania commented on #8304
Hi!

Same me:

Column not found: 1054 Unknown column 'log_visit.location_browser_lang' in 'field list'"
and run this query: ALTER TABLE piwik_log_visit ADD COLUMN location_browser_lang VARCHAR(20) NOT NULL;
but i get this error: #1060 - Duplicate column name 'location_browser_lang'

what can I do?

[2015-07-13 18:56] sgiehl commented on #8344
Please try to reupload Piwik manually. That file should be present and is available in the package.

[2015-07-13 18:56] #8344 closed

[2015-07-13 21:08] braekling commented on #8333
Hi @mattab - I applied the patch, but now I run into this:

[code]

Maybe I miss something? This is how I init the FrontController:

[code]

I'm not able to get WP-Piwik working again since Piwik 2.14.0.

[2015-07-13 21:08] braekling commented on #8311
Hi @mattab - I applied the patch, but now I run into this:

[code]

Maybe I miss something? This is how I init the FrontController:

[code]

I'm not able to get WP-Piwik working again since Piwik 2.14.0.

[2015-07-13 22:03] propertunist commented on #8311
i just tested this fix with my problem (api renderer format not valid) and am still seeing the same error in the log:

[code]

[2015-07-14 01:22] dandv opened #8346 "node.className.split is not a function on tracking click on/near SVG element"
I've created a mirror of our signup page where we experience this error. Steps to reproduce:

1. Go to https://idorecall.com/static/bug-demos/piwi-classname.split/
2. Enter some email
3. In the signup success page, click on the "F"acebook link/icon.

After a few seconds, the Chrome console displays

    piwi.js:1390 Uncaught TypeError: node.className.split is not a function

The piwik.js is [from

[2015-07-14 06:43] mayurr87 commented on #8341
Bravooo!!!!......Thanks a lot...

var u="http://piwik-techforumatos.rhcloud.com/"; works for me...

Searched a lot for this and final you helped. hope on next version piwik site will give the proper js code. because its very difficult to debug third party lib.

[2015-07-14 06:43] #8341 closed

[2015-07-14 08:18] anchalaggarwal commented on #8289
Hi @mattab, thanks for accepting the bug and its solution.

[2015-07-14 09:52] parruc commented on #8302
@mattab thanks for the suggestions:

1- We are aready using a conrjobbed archive and we have disabled browser trigger archiving.

2- I have tryied the 2.14 on the developement server and looks faster (it's slow only the first time and after it I suppose it's cached) I will let you know when we will update production. We can't do it right now because we have other activities to finish before.

3- W

[2015-07-14 09:57] mattab opened #8348 "Upgrade guide for Tracking Campaigns following Google Adwords tagging changes"
To help users effectively, it looks like we should update our [Tracking Campaigns guide](http://piwik.org/docs/tracking-campaigns/), with regards to Adwords tagging. This was reported in [this forum post](http://forum.piwik.org/read.php?15,127292,page=1#msg-128121).

[2015-07-14 10:00] mattab commented on #8302
See: #4474

For the rest, we look forward to hearing your feedback Re: Performance!

[2015-07-14 10:00] mattab commented on #8341
@tsteur do you reckon we should do something to prevent such issues in the future (product improvement, or otherwise a FAQ maybe?)

[2015-07-14 10:03] mattab commented on #8346
Thanks for the report, the pull request is #8347

[2015-07-14 10:04] mattab commented on #8311
@braekling maybe you need to add same two lines as in https://github.com/piwik/piwik/commit/47cf78277659048d55061b1914f940ffe56067f4 ?

[2015-07-14 10:04] mattab commented on #8311
@propertunist what is your problem, the error message seems un-related? what is your script generating this error?

[2015-07-14 10:43] propertunist commented on #8311
i am referring to this issue, which was marked as a duplicate of #8311:
https://github.com/piwik/piwik/issues/8333

[2015-07-14 10:48] mattab commented on #8311
@propertunist do you have the script source code used to reproduce this bug?

[2015-07-14 10:57] propertunist commented on #8311
do you need more than i already provided in the other ticket? e.g.

[code]

[2015-07-14 11:58] paul-cross commented on #6095
+1

[2015-07-14 13:21] shogunjames commented on #8113
Hi Mattab,

Thank you so much for the help. Now it is working fine.

[2015-07-14 14:53] #8243 closed

[2015-07-14 15:29] mattab commented on #7651
We didn't hear from you @Orrico
Do you see any error in your server error log?

I assume this bug is fixed in latest Piwik - if you still have the problem @Orrico please leave a comment here.

[2015-07-14 15:29] #7651 closed

[2015-07-14 15:31] mattab commented on #7658
Thanks for the report @tschikarski - since the emails are only sent one hour late, it mostly work well, we will not yet investigate this issue. If you have other bugs with scheduled report timing, please let us know.

[2015-07-14 15:32] mattab commented on #7662
It is possible to disable a widget with a custom plugin, but not in core Piwik. We don't plan to add this feature in core Piwik at this stage. What is your use case, which feature/widget do you want to hide?

[2015-07-14 15:32] #7662 closed

[2015-07-14 15:51] mattab commented on #7670
Thanks for the report @helge79 - we will investigate / reproduce issue.

[2015-07-14 15:52] mattab commented on #7672
Hi @gangasiddhi

we didn't hear from you, can you still reproduce this with Piwik 2.14.0? if so please reopen the issue, and let us know the steps to reproduce.

[2015-07-14 15:52] #7672 closed

[2015-07-14 16:09] mattab opened #8352 "In Page Overlay sidebar, add icon to let me "Open segmented visitor log""
In the Page Overlay sidebar ([reproduce url](http://demo.piwik.org/index.php?module=Overlay&period=month&date=today&idSite=7#/l=http$3A$2F$2Fforum.piwik.org$2F)) we currently have the ability to:

 * Open Row Evolution
 * Open Transitions

It would be great to also add a third link to:
 * Open Segmented visitor log

On click, it would open the popover showing the visitor log for all visitors who h

[2015-07-14 16:09] mattab opened #8353 "Improve design of Overlay sidebar"
Currently the sidebar of Overlay feature looks like this:

![overlay sidebar](https://cloud.githubusercontent.com/assets/466765/8678035/ad84c18a-2a52-11e5-907c-b7cc1dd7d9a9.png)

 * Reproduce url: http://demo.piwik.org/index.php?module=Overlay&period=month&date=today&idSite=7#/l=http$3A$2F$2Fforum.piwik.org$2F

Suggested changes:

 * make the calendar icon vertical align middle (got: calendar icon

[2015-07-14 16:12] mattab commented on #7684
Thanks for the report @bastibeckr - I tried to reproduce but couldn't, it works for me even when tracking via `/js/index.php`, as can be seen in screenshot:
![works](https://cloud.githubusercontent.com/assets/466765/8678263/df1061ae-2a53-11e5-8343-39d16487f030.png)

(the index.php request is `/js/index.php`)

Works on both firefox and chrome

can you still reproduce this bug with Piwik 2.14.0?

[2015-07-14 16:15] mattab commented on #7691
tentatively moving this to `Short term` as it sounds like we should make this change.

[2015-07-14 16:38] #7698 closed

[2015-07-14 16:39] mattab commented on #7700
Thanks for the report @RMastop

[2015-07-14 16:40] mattab commented on #7709
Hi @cuhkrain

Maybe you are looking at different visitors and the IP address is actually correct in the Visitor log? can you show more of your DB columns so we can be sure you are showing the same visitors?

[2015-07-14 16:43] mattab commented on #7717
Hi @myluis
The only way to do this currently is to create a custom plugin, and have your plugin define a custom segment that will be the Custom variable segment you are interested in. If you're a developer, maybe you will be able to do this with our Developer guides: http://developer.piwik.org/develop

[2015-07-14 16:43] #7717 closed

[2015-07-14 16:46] mattab commented on #7718
Let's take a look at Tracker API performance and profile it for 2.15.0. it shouldn't take long (ie. couple hours?) to figure out if something is slow or not, and if we really regressed performance, it would be high value to make tracker faster again.

[2015-07-14 16:46] mattab commented on #7727
Temtatively adding to 3.0.0 roadmap. Is this actually do-able in 3.0.0, what do you think?

[2015-07-14 16:47] mattab commented on #6497
@tsteur Awesome! moving into 2.15.0

[2015-07-14 16:49] mattab commented on #7712
Hi @mybluepig do you still experience this bug in Piwik 2.14.0? we made several fixes recently so maybe this could be fixed. if it is not fixed, can you send us your website URL for Site Search where we can reproduce this issue?

[2015-07-14 16:50] mattab commented on #7729
@GeoffAU can you try again in 2.14.1-b2 (our latest beta) where this bug may be fixed? if it's not fixed, please let us know which URL returns this error.

[2015-07-14 16:54] mattab commented on #7732
Hi @p-banaszczyk

the [Live API](http://developer.piwik.org/api-reference/reporting-api#Live)  with `visitorId` parameter is: `Live.getVisitorProfile (idSite, visitorId = '', segment = '')` - is your request to add `userId` parameter to this API?

For other APIs, it's  possible to use `&segment=userId==XXX` to filter for a given User ID. By "Grouping by user_id" did you mean "Filter visitors to a

[2015-07-14 16:56] mattab commented on #7733
Hi @ericimprint

Thanks for the report. In [Chrome documentation](https://developer.chrome.com/multidevice/data-compression) they explain how to disable the feature, maybe this is what we could do:

[code]

[2015-07-14 16:59] mattab commented on #7733
I haven't checked where this should be done, but I guess  maybe chrome won't load `piwik.js` in some cases, and we would need to return this `Cache-Control: no-transform` for piwik.js?

[2015-07-14 17:06] mattab commented on #7743
Hi @steffenHD

It works for me. Note that this setting is only used when "Remember me" is checked. I've updated comment to clarify this: https://github.com/piwik/piwik/commit/dca6858ffc6023b1fa046b02f77f05d79345050a

[2015-07-14 17:06] #7743 closed

[2015-07-14 17:10] mattab commented on #7755
Hi @Goddard

It works for us. Steps:
 * As super user, remove the "Support piwik" widget
 * Click Dashboard -> Set as default dashboard layout
 * Log out or open piwik with incognito -> the anonynmous user will not see the Piwik video widget

[2015-07-14 17:10] #7755 closed

[2015-07-14 17:12] mattab commented on #7768
Thanks for the report @sridharrajs

[2015-07-14 17:13] #7772 closed

[2015-07-14 17:16] mattab commented on #7782
Hi @tsteur do you know if it is possible to disable the piwik.php redirection, or would it be a feature request to be able to do Content Tracking without the `piwik.php` redirect? Couldn't find the info in http://developer.piwik.org/guides/content-tracking in a quick glance

[2015-07-14 17:28] ericimprint commented on #7733
I added `Cache-Control: no-transform` to piwik.js via htaccess and it did not change anything. I could not see my visit from my phone with data saver turned on. Also, analytics.js does not have that set (not that Google wouldn't have already worked away around that internally).

[2015-07-14 17:44] tsteur commented on #7782
It's not possible to do it. I'd prefer to completely remove `piwik.php` redirect unless we also that setting (that needs to be implemented) for outlinks. As we track context menu clicks and middle clicks etc as "clicked" we could do same here for content interactions and remove piwik.php redirect

[2015-07-14 17:54] tsteur commented on #8341
Was thinking about this as well. Not sure what best solution would be. If we had a type "PhoneGap App" (similar to type Mobile App or Intranet) then we could generate the tracking code differently based on that but it will maybe not happen that we have such a type.

An option in the tracking code generator is maybe too much as only a very few sites are actually PhoneGap apps. Maybe a FAQ entry? Bu

[2015-07-14 20:26] braekling commented on #8311
@mattab Adding these lines to my code causes the same issue as reported by @propertunist #8333:

```Fatal error: Uncaught exception 'Exception' with message 'Renderer format 'php' not valid.```

(If I test my current development branch which already uses json, I get the related error message: ```Renderer format 'json' not valid```.)

[2015-07-15 04:32] mattab commented on #7684
If you can reproduce this problem in 2.14.0 @bastibeckr please re-open the issue.

[2015-07-15 04:32] #7684 closed

[2015-07-15 04:33] #7709 closed

[2015-07-15 04:34] mattab commented on #7712
Waiting for more information @mybluepig - please let us know and re-open issue if you still have issue with 2.14.0

[2015-07-15 04:34] #7712 closed

[2015-07-15 04:35] mattab commented on #7733
If you open Chrome > Developer tools, do you see the piwik.js being loaded in your browser?

[2015-07-15 04:38] mattab commented on #7782
I also like the idea of removing the `piwik.php` redirect completely, and use the same technique as for download/outlink tracking which is to send http request + wait 500ms (configurable) before redirecting to actual target. How much effort would it be do you think?

[2015-07-15 04:39] mattab commented on #7785
This would be fixed in #7691 so marking as duplicate.

[2015-07-15 04:39] #7785 closed

[2015-07-15 04:39] mattab commented on #7789
Hi @gis94

Please report this issue in the Android SDK issue tracker: https://github.com/piwik/piwik-sdk-ios/issues

[2015-07-15 04:39] #7789 closed

[2015-07-15 04:41] mattab commented on #7791
This can be still be reproduced in Chromium (but it displays correctly on Firefox)

[2015-07-15 04:44] mattab commented on #7809
On demo.piwik.org today, loading the page took 25 seconds. Looks like we improved compared to May where it took 45 seconds to load the page.

[2015-07-15 04:48] mattab commented on #7811
Hi @arun

[2015-07-15 04:49] mattab commented on #7811
Hi @arunvishun
Can you still reproduce issue in 2.14.0? or maybe on demo.piwik.org ?

it would be great to hear more info as we cannot reproduce at this stage. Thanks

[2015-07-15 04:49] #7811 closed

[2015-07-15 04:51] mattab commented on #7816
@tsteur whatever is done should be on purpose, but if it causes this bug, something needs to be fixed :-) let's take a look at it for 2.15.0

[2015-07-15 04:52] mattab commented on #7823
Hi @tsteur

Do you reckon this will be done for 3.0.0 or later?

[2015-07-15 04:53] mattab commented on #7824
@tsteur moving into `Mid term` - if you think this is more important or will be done earlier, let me know

[2015-07-15 04:54] mattab commented on #7826
this is something really important: moved into `Short term`

[2015-07-15 05:20] mattab commented on #7835
Hi @tsteur thanks for the suggestion!

Sounds like a good idea, anyone else have any feedback?

[2015-07-15 05:22] mattab commented on #7849
Hi @Globulopolis

Not sure, it's maybe better not to change behavior based on time of month... did you select "Default period = Current month" in your personal preference?

[2015-07-15 05:22] #7849 closed

[2015-07-15 05:27] mattab commented on #7881
@tsteur Shall we target this for 3.0.0? It seems required for #7861 which is set for 3.0.0.. thoughts?

[2015-07-15 05:29] mattab commented on #7898
Hi @maggo2801
can you reproduce this problem with Piwik 2.14.0?

[2015-07-15 05:31] #7906 closed

[2015-07-15 05:31] mattab commented on #7906
We didn't hear from you @mwaters5 so closing

[2015-07-15 05:47] mattab commented on #7904
FAQ was created: [How do I monitor that Piwik service is up and running?](https://piwik.org/faq/how-to/faq_20278/)

[2015-07-15 05:47] #7904 closed

[2015-07-15 05:48] mattab commented on #7893
@tsteur a lot of progress was made on this issue - what is the current status? what work is left for 2.15.0 or for 3.0.0?

[2015-07-15 05:49] mattab commented on #7729
We need more information, hopefully @GeoffAU you can send us bit more info here :+1:

[2015-07-15 05:55] mattab commented on #7913
Targetting for 2.15.0 as hopefully this is a quick fix

[2015-07-15 05:56] mattab commented on #7919
Hi @12th
For more information you can also enable tracker debug logging: http://developer.piwik.org/api-reference/tracking-api#debugging-the-tracker

Please send us more info and reopen issue if problem persists in 2.14.0

[2015-07-15 05:56] #7919 closed

[2015-07-15 05:59] mattab commented on #7919
Actually the problem here is that `ok.ru` is marked as referrer spam in our referrer spam blacklist. I'll remove it from there.

[2015-07-15 06:00] mattab commented on #7919
fixed in https://github.com/piwik/referrer-spam-blacklist/pull/82

[2015-07-15 06:03] mattab commented on #7928
Good to know @joshhansen - thanks for the details.

we  should contact Adblock Plus to ask them to upgrade their rules so it does not break when viewing Piwik dashboard. Maybe you would like to contact the developers and report issue to them?

[2015-07-15 06:05] mattab commented on #7948
Thanks for the tip, this looks like it could be the issue. cc @JulienMoumne

[2015-07-15 06:11] mattab commented on #7953
Before closing this issue, let's create a small document about "Creating Pull requests: best practises" that summarizes our discussion and useful ideas in this thread. Could one of you work on creating this small doc?

[2015-07-15 06:41] mattab commented on #7966
Thanks I've fixed the links to JS Tracking guide in 10 user guides and 4 FAQs, to point to the new URL and correct hash tags

[2015-07-15 06:45] #7966 closed

[2015-07-15 06:49] #7973 closed

[2015-07-15 06:51] mattab commented on #7973
Screnshots need to be updated site-wide - we have some tickets already eg #7106 #7269  but we should really update them all since they are _all_ outdated...

[2015-07-15 06:54] mattab commented on #7978
Suggested fix:
 * when user inputs a user agent with double quotes, we remove the enclosing double quotes (+ trim) before testing against the visitor user agent

[2015-07-15 06:56] mattab commented on #7981
Hi @futureweb

could you please confirm that you still have the problem with 2.14.0? Since we made some improvements to this area, if we are lucky, this problem could have improved. Thanks

[2015-07-15 07:03] mattab commented on #8212
@tsteur because most of our less files already use 4 spaces, it would be nice to use 4 spaces for less files (this avoids having to screw all the git history if we changed it to 2 spaces...)

Anyway, we don't need to force space count for less or json - we could just keep standards for javascript and php for now since that's the core of our codebase?

[2015-07-15 07:09] mattab commented on #7988
We cannot reproduce yet, but @gaydenko if you can please reopen the issue, thx

[2015-07-15 07:14] mattab commented on #8005
don't really want to do this, because IMO there is value is showing the website name at all times in the UI, to clarify what we are looking at, in case we make screenshots, etc. I still leave issue opened in case other people want to comment.

[2015-07-15 07:16] mattab commented on #8011
Thanks for report @dev-101
the design for Real time widget was improved in 2.14.0 (which fixes this issue since now the datetime is on a new line) and we will generally improve the date/time formats in Piwik in: #8282

[2015-07-15 07:16] #8011 closed

[2015-07-15 07:30] mattab commented on #8341
Created FAQ: [How do I track a Phonegap app with Piwik?](https://piwik.org/faq/how-to/faq_20304/)

[2015-07-15 07:31] mattab commented on #8030
Thanks for the tip. This refs many issues: #6880 #5288 #6644 #5290

[2015-07-15 07:32] mattab commented on #8030
Adding to 2.15.0 as this is really important to fix since we get many reports about this issue.

[2015-07-15 07:35] mattab commented on #8034
We fixed this recently, so I'll mark this issue as closed as hopefully it is. feel free to reopen @tsteur if you still experience issue (or anyone else!)

[2015-07-15 07:35] #8034 closed

[2015-07-15 07:38] mattab commented on #8034
The image comparison is now using imagick instead of resemble which we changed to be much more memory efficient, this was done in: https://github.com/piwik/piwik/pull/8163/files

[2015-07-15 07:41] mattab commented on #8063
Since it's not a bug in Piwik core, i'm closing. We plan to improve the Platform  & APIs around displaying reports, graphs, in the future, so hopefully such issue would be fixed. if this bug is blocking you or breaking your Piwik we could maybe re-open the issue

[2015-07-15 07:46] mattab commented on #8033
@tsteur you maybe implemented this feature, since creating this issue?

[2015-07-15 07:46] #8063 closed

[2015-07-15 07:47] mattab commented on #8074
Feel free to submit a pull request :+1:

[2015-07-15 07:50] mattab commented on #8091
FYI the possible values are `graphVerticalBar`, `graphEvolution`, `graphPie`, `cloud`, `table`, `sparkline`, `tableAllColumns`. The values can be found in the Visualisations classes in the const field `ID` eg. https://github.com/piwik/piwik/blob/master/plugins/CoreVisualizations/Visualizations/JqplotGraph/Bar.php#L20-20

Maybe we could document these values somewhere (not sure where?)

[2015-07-15 07:52] mattab commented on #8092
Hi @swsharp do you still experience this issue with Piwik 2.14.0?

No it shouldn't be necessary. Do you also have a cron running for the `core:archive` command? http://piwik.org/docs/setup-auto-archiving/

[2015-07-15 08:02] mattab commented on #8128
Hi @dczajkacc

Thanks for the report.

By design:
 * Custom variables of 'visit' scope: it is expected that these ones have the "visit" column set
 * Custom variables of 'page' scope: we cannot process "Visits" count for these.
  * Why? we process "

[2015-07-15 08:07] mattab commented on #8128
Hi @dczajkacc

Thanks for the report.

By design:
 * Custom variables of 'visit' scope: it is expected that these ones have the "visit" column set
 * Custom variables of 'page' scope: we cannot process "Visits" count for these.
  * Why? we process "Actions" column with a `SELECT count(*)`. A same visit can set the same custom variable of 'page' scope multiple times. We cannot sum the values of `co

[2015-07-15 08:07] mattab commented on #8128
Reopening - as I think we should document this behavior in the user or developer guides somewhere to prevent confusion in other users as well!

[2015-07-15 08:08] #8130 closed

[2015-07-15 08:09] mattab commented on #8130
"Wontfix" to prevent a lot of pain (and I don't think it can even be fixed due to INI file limitations)

[2015-07-15 08:10] mattab commented on #8140
Thanks for the suggestion @hpvd

I guess the issue summary is
 * In Visitor Profile, display Referrer info consistently with Visitor Log. For example Campaign information in Visitor Profile should be displayed as `from Campaign: kong - blog` instead of `from: Campaign (kont)`

[2015-07-15 08:12] mattab commented on #8141
Hi @masteranalyze

do you mind posting your code snipped in the Forum Knowledge base? More people will see it there and it can be use as starting point for others to contribute their snippet. thanks!

[2015-07-15 08:12] #8141 closed

[2015-07-15 08:16] mattab commented on #8146
Maybe we just make the "Add" a text label, rather than a button?

[2015-07-15 08:18] mattab commented on #8146
Or we display icon + label eg.

![add new trusted host](https://cloud.githubusercontent.com/assets/466765/8693888/d72b28de-2ada-11e5-8f5d-f0c26fe8d124.png)

[2015-07-15 08:19] mattab commented on #8147
Hi @Globulopolis

 we don't support the whole of bootstrap and only a few bits that we find most useful.
Our theming is limited for now to  a few elements, documented in: http://developer.piwik.org/guides/theming

[2015-07-15 08:19] #8147 closed

[2015-07-15 08:20] Fensterbank commented on #8146
I like the idea of icon + label above.
Looks way more consistent.

[2015-07-15 08:20] mattab commented on #8148
@quba is the problem for master-master replication only?

[2015-07-15 08:30] mattab commented on #8172
:+1:

Which plugins translations are part of API, I guess `Intl` translations and also `General`?

@sgiehl maybe we add this as part of  #8125 and close this RFC? (we will close #8125 later after creating a new public developer guide)

[2015-07-15 08:32] mattab commented on #8173
@tsteur That's a new idea, and maybe best solution for mid/long term...

@sebastianpiskorski is this issue a blocker for you, or just a suggestion?
I'm wondering what we should do and whether it's urgent :)

[2015-07-15 08:34] mattab commented on #8160
@sgiehl do you maybe know if it's already possible for a plugin to overwrite translation of another plugin? if not, we don't need to add this feature quite yet, but i was just wondering  if it's already possible...

[2015-07-15 08:35] tsteur commented on #8172
I'd prefer to just remove the `RFC` label and add `Enhancement` or so. We need an issue to actually do this unless we're happy with the current translations in `General` and `Intl` @sgiehl ?

[2015-07-15 08:37] tsteur commented on #8033
Not really, it can still occur. Can close it though until we see it again somewhere. Reckon will be very hard to fix anyway

[2015-07-15 08:37] #8033 closed

[2015-07-15 08:41] tsteur commented on #8005
We could maybe instead of displaying a `select` remove the icon and the possibility to open it when there's only one website but that's maybe also not optimal since it would still look clickable but isn't. I reckon when someone only has one site then one knows on which site one is so I'd remove it... it adds a lot of clutter there. I reckon best thing would be to think about this again when workin

[2015-07-15 08:43] tsteur commented on #8212
I really do not care whether it's 4 or 2 spaces. Just personally think 2 spaces are for me better to read, at least for me. I do not work so often with it anyway so do not even mind if it is mixed with 2 or 4 spaces :)

[2015-07-15 08:44] tsteur commented on #7893
We need to implement everything properly for 3.0.0. Especially the `Settings API` needs a lot of refactoring and rethinking. Also we need to agree on final naming etc. We should talk about this stuff in Berlin/Poland maybe as well.

[2015-07-15 08:45] mattab commented on #8130
@quba if we need to read password from config file, we could maybe create a console command that outputs the password so it prevents confusion and error. such command would be trivial to add.

[2015-07-15 08:45] sgiehl commented on #8172
All ```Intl``` translations should be in the API. And I'd suggest to create a new category ```Piwik``` where we move translations we want to have in the API. Need to make some thoughts what we should move, but it should be stuff like metric names, general stuff like 'Yes', 'No', 'Cancel'

I'm not sure if we should do that for 2.15. Maybe 3.0 would be better for moving keys, as it might break trans

[2015-07-15 08:45] mattab commented on #8161
Thanks for the suggestion @hpvd

[2015-07-15 08:46] sgiehl commented on #8160
Good question. IIRC it was not possible in the first version. But I'm not sure if that is still the same after Translation system was refactored.

[2015-07-15 08:47] tsteur commented on #7881
We would ideally do this also for #7822 and other issues to have good examples for plugins in our code base. This will help us to move code from controllers into the widget class.

To find a solution we could talk about this in Berlin/Poland. Added a Trello card

[2015-07-15 08:48] tsteur commented on #8172
3.0 sounds good to me as it's not urgent and breaks things.

[2015-07-15 08:49] mattab commented on #8130
the command could even output the full mysql command to connect to the DB, with username, db name, password

[2015-07-15 08:51] tsteur commented on #7824
If we have generic wording then it's okay to delay. We will just have generic wording for websites as well (which is okay if I remember correct)

[2015-07-15 08:52] tsteur commented on #7823
If we have generic wording everywhere then it is ok to do it after 3.0.0 I'd say. Although it might be still needed to rename same reports. I'd say let's move it to Mid term and if needed move it to 3.0.0

[2015-07-15 08:54] tsteur commented on #7782
I don't remember the code too much but it shouldn't be too much work as everything is already there re Outlinks/Downloads. There's also to do: Adjusting tests, removing redirect feature in `piwik.php`, a lot of testing. Maybe 3-7 hours?

[2015-07-15 09:02] mattab commented on #8187
@Preclowski can you send more information how to reproduce this issue, as so far we could not reproduce it? by design the tests "should" use global config file, and not use config.ini.php so that local configuration does not affect the result of tests. please let us know if it is not working as expected

[2015-07-15 09:02] #8187 closed

[2015-07-15 09:02] mattab commented on #8187
Reopen issue if there is any problem, with steps to reproduce (or example test file etc.)

[2015-07-15 09:08] saleemkce commented on #7978
@mattab The fix I posted handles the "remove the enclosing double quotes" part.  And the function **checkAndReturnCommaSeparatedStringList** already does the "(+ trim)" part. So, could you suggest what else we should consider or is the current fix sufficient?

[2015-07-15 09:14] Monarobase commented on #7867
Hello,

We have updated webserver, safari and piwik since I posted this bug report and my piwik admin is now accessible over spdy with safari.

I don't know what fixed it tough…

It's working now with Safari 8.0.7 on MacOS Yosemite.

[2015-07-15 09:20] sgiehl commented on #7978
as mentioned in #8050 useragents might contain quotes, so simply removing them is not accurate

[2015-07-15 09:51] quba opened #8354 "Execute segment query only once to improve performance"
**Background**

When we have a segment like `segment=pageUrl=@subdomain.domain.com/en`, Piwik executes a subquery to filter the data set. This query uses condition `where name like %subdomain.domain.com/en%`.

**Problem**

Everything works OK but the case is that Piwik executes the same query for each archiver query. In ideal case Piwik would query the action IDs only once and then cache it.

**Pe

[2015-07-15 10:20] quba commented on #8148
piwik_sequence is a crucial table so we need to make sure that values are synchronized across all databases.

There are two ways to go:
* administrators can develop checks to monitor if these tables are in sync,
* we can build Piwik to be resistant if there are replication issues (e.g. one of the queries timed out).

The thing is, that if these tables are desynchronized, Piwik produces really rand

[2015-07-15 10:58] tsteur commented on #8148
Can maybe an administrator or whoever has more experience with master-master replication have a look at the queries and tell us how to improve? Otherwise we won't be able to do much.

[2015-07-15 11:01] quba commented on #8148
@tsteur the thing is that it can't be implemented like `set value = value + 1`. In previous comment you mentioned that it makes no sense to select the value before executing the update query so I think that there's no real solution.

As I said, currently it's a minor issue for us (we implemented additional monitoring) but I wanted to discuss this further and ask for your feedback.

[2015-07-15 11:14] christophlehmann commented on #8160
It would be nice to be able to.

Background:
There is the iframe i can add on a website triggering the DNT in piwik. Iframes are not a good option in responsive sites, but i dont see another good way for that, so the idea was just to show the checkbox without the text...

What about my example code? Is there a way to  overwrite the usage of other classes?

[2015-07-15 11:18] christophlehmann commented on #8160
Another way to overwrite especially this text can be another iframe url parameter like the cssfile parameter. This way every site can decide which text to use. What do you think of that?

[2015-07-15 11:33] futureweb commented on #7981
Hi @mattab,

unfortunately it still "stalls" my Piwik MySQL Server when going to Privacy Manager Admin Page :-/

Andreas

[2015-07-15 11:41] mattab commented on #7867
Thanks for the update, maybe Safari fixed a bug in the browser in a recent update? Is your Piwik admin accessible over both HTTP and HTTPS?

[2015-07-15 11:43] mattab commented on #7978
we should remove the enclosing quotes only, eg. using the second parameter of PHP trim function

[2015-07-15 12:15] Monarobase commented on #7867
My Piwik admin was originaly accessible with HTTP, I enabled the cookie when I was in HTTP so it wouldn't count my visits, I then later moved it to https only, so it's currently only accessible with HTTPS.

Our webserver is litespeed, which accepts both SPDY and HTTP/2 with compatible browers and HTTP 1.1 over SSL for non compatible browsers.

What was strange is this only happened with Piwik. I h

[2015-07-15 12:16] mattab commented on #8202
:+1: if a URL is available in the tooltip, then we should also display it in the Visitor Log.

[2015-07-15 12:20] mattab opened #8356 "Use the nice designed tooltips for all tooltips in Visitor Log"
In Visitor Log (and maybe other features?) there are tooltips displayed using the default browser tooltip.

These tooltips are problematic because:
 * they take a few seconds to appear so it's not usable - we have to wait a few second to get the information
 * they are not consistent with our black background tooltips

Example:

![visito rlog](https://cloud.githubusercontent.com/assets/466765/8698

[2015-07-15 12:24] mattab commented on #8304
There are two possible reasons for this bug (experienced by many users):
 * Either the columns were never created (for some reason)
 * Or the column got deleted during upgrade (for some reason)

Would anyone in this thread know whether you used to have those columns, or do you know whether these columns were never there in your tables?

[2015-07-15 12:50] gaumondp commented on #7904
I read @mattab FAQ and was wondering if the check involved the database at all. If "MySQL has gone away" the test to index.php?module=API&method=API.getPiwikVersion would still work right ?

If it's the case (no DB call) I will create a new FC for a second test involving the DB.

I'm aware a check could be done directly to MySQL with monitoring tools but having the check from within Piwik would be

[2015-07-15 12:52] arunvishun commented on #7811
Hi Matt,

I couldnt upgrade to latest version. Will test and re-open this in case i see the same issue after upgrade.

Thanks
Arun

[2015-07-15 13:18] mattab commented on #7867
Thanks for the more info @Monarobase - i'll mark it as fixed for now, if you have any more problem please comment or re-open!

[2015-07-15 13:18] #7867 closed

[2015-07-15 13:57] mattab opened #8357 "Manage reports screen: labels not vertically aligned"
See screenshot below: the labels "Description" and "Statistics included" are not vertically aligned to the top. Expected: aligned to top.

Note: we did a similar change recently for the Goals table.

![wrong vertical align](https://cloud.githubusercontent.com/assets/466765/8699872/dc469bea-2b08-11e5-8225-6f5e36b59c6a.png)

[2015-07-15 14:00] mattab commented on #7904
the index.php check will detect when Mysql server is down and http status should be 500

however the piwik.php check will still work when mysql is down, I looked whether we could provide a piwik.php check that detects the db is down, but it's not easy, so decided not to do it

[2015-07-15 14:04] mattab commented on #8219
Hi @Fensterbank

I cannot reproduce this issue in 2.14.0 - can you please reopen if you can still reproduce the bug? The `Visitor configuration` report loads even when DevicesDetection plugin is disabled.

[2015-07-15 14:04] #8219 closed

[2015-07-15 14:17] mattab commented on #8222
The UI tests CI job runs between 35min and 40min and regularly times out. Hopefully we can find something soon to help this situation - or at least split the CI job across two jobs as quick fix (unless you have other suggestion for a quick fix when we are hit by this problem soon).

[2015-07-15 14:18] mattab commented on #8224
Moved tentatively into 2.15.0

[2015-07-15 14:18] mattab commented on #8225
I suggest we do this post- 3.0.0 - so moving into  `Mid term` for now

[2015-07-15 14:24] #8230 closed

[2015-07-15 14:25] mattab commented on #8230
Hi @sebastianpiskorski

I didn't quite do as you suggested, but simply changed getProvider() signature to return null instead of false, when the provider is invalid. This way we can simply test for !is_null or !empty to check the object is valid before use. it should be good enough for our needs, thanks for suggestion!

[2015-07-15 14:31] mattab commented on #8237
Hi @Tobias-Conrad

Sorry but I don't quite understand the issue - could you maybe try again describe what is the issue? maybe you could list "Steps to reproduce" and behavior that you see VS behavior you expected?

[2015-07-15 14:33] mattab commented on #8240
Hi @tsumi
When you get error 413 `Request Entity Too Large` try to `--recorder-max-payload-size=50` or so (it uses default 200 which may be too large for you).

[2015-07-15 14:33] #8240 closed

[2015-07-15 14:34] mattab commented on #8254
Duplicates #7827

[2015-07-15 14:34] #8254 closed

[2015-07-15 14:37] mattab commented on #8261
This was actually changed on purpose, see: #7682 and #7614

Good point! maybe this is the right fix, to not use the shared queue when --force-date-range and --force-all-websites are used  at the same time. maybe there are other parameters that when set, should not use a shared queue?

[2015-07-15 14:40] mattab commented on #8268
Hi @SR-mkuhn
The payload is kinda designed to trigger warning and notices (ie. passing arrays instead of strings) so I don't think we need to fix these.

[2015-07-15 14:40] #8268 closed

[2015-07-15 14:46] mattab commented on #8270
Hi @marius1512

we're having a similar discussion in the forums, check out this post: http://forum.piwik.org/read.php?2,127765,page=1#msg-128233

maybe you can join this conversation if it's relevant?

Cheers

[2015-07-15 14:46] #8270 closed

[2015-07-15 14:49] mattab commented on #8275
Hi @feimosi
Are you seeing this problem on the World Map as well as the North america zoom map?

 it's maybe due to a bug in the geo location database, returning wrong lat/long for a Hong Kong visitor... but if you see this bug only in the zoomed map, and not on world map, it's likely a bug in Piwik map algorithm. Thanks for sending more info

[2015-07-15 14:50] mattab commented on #8237
I'll close it for now, maybe open a new issue with the steps to reproduce, or re-open this one if it's better

[2015-07-15 14:50] #8237 closed

[2015-07-15 14:58] feimosi commented on #8275
Hi,
It appeared on the World Map as well as on the zoomed part. Then you're saying it's independent of Piwik's algorithms?

[2015-07-15 15:00] gaumondp commented on #7904
Ok then.

BTW, the FAQ seems incomplete. We need the &token_auth= . If not, we still get a 200-OK but also an error message saying we don't get view rights in the XML response :

`<result>
<error message="Vous ne pouvez accéder à cette ressource, ceci requiert au moins un accès de type view à un site web."/>
</result>`

[2015-07-15 15:00] shahar3012 opened #8358 "Piwik self service plugin"
Hi,
I'm using Piwik in my organization and we are interested in a self service option in Piwik.
I think it should be implemented in a plugin that lets all logged in users to add new website to Piwik and grant them the admin permission for this specific site.

What do you think?
I don't think it should be take long to develop this feature and it is very necessary.

Thank you.

[2015-07-15 16:01] mattab commented on #8285
Hi @parruc

Thanks for the report.

I can't find "European union" in maps country selector on demo.piwik.org - but there are other "undefined" countries. Here is the full list

[code]

The goal of this issue is to remove "undefined" entries from the Map selector.

[2015-07-15 16:08] mattab commented on #8286
Hi @parruc

In CLI / ssh, do these command output a lot of text (ie. are they working)

 * `php -r "echo shell_exec('ps ex');"`
 * `php -r "echo shell_exec('ps ex 2>/dev/null | awk \'{print $1}\' 2>/dev/null');"

[2015-07-15 16:09] mattab commented on #8288
This is really high value for us, so targetting for 2.15.0 - we will need to find a solution, either a quick fix (display the number somewhere in the UI), or the more complicated - but terribly awesome - feature of letting users customise columns on All Websites dashboard:  #2390

[2015-07-15 16:10] mattab commented on #8294
Hi @mgazdzik - thanks for the report, it sounds like an easy bug to fix!

[2015-07-15 16:14] mattab commented on #8295
The estimate is designed to provide an approximate of DB size that will be saved. it's really an approximate estimate, IIRC ie: how many rows will be deleted times the average size of row, plus the estimated index size. it's likely the estimate is not very precise. I'm leaving issue opened but we won't investigate for a while, unless a clear bug is found (ie. estimate completely very wrong). Cheer

[2015-07-15 16:15] mattab commented on #8307
For security reasons it sounds like a very good idea to limit number of notifications. @tsteur do you have any suggestion how this could work?

[2015-07-15 16:19] mattab commented on #8277
Steps:
 * make sure the multi row evolution is covered by UI tests, including a label that appears URL encoded (ie. showcases the bug)
 * Fix the issue

[2015-07-15 16:19] mattab commented on #8308
Hi @SR-mkuhn

do you find this issue is really bad, or just a little "nice to have", in other words, did you notice a real database traffic increase due to this issue?

[2015-07-15 16:20] #8313 closed

[2015-07-15 16:23] mattab commented on #8316
Fyi: a workaround to this issue is to make sure your system supports managing Processes via CLI, ie. you need to:
* use a non-windows server,
* use a non-synology server,
* have `shell_exec` enabled,
* support `ps`, `awk` functions,
* have a `/proc` filesystem.

[2015-07-15 16:26] mattab commented on #8320
Hi @rmoesbergen

thx for the report. Can you please post your information in the other ticket that is duplicate of your issue: #8092 - cheers

[2015-07-15 16:26] #8320 closed

[2015-07-15 16:28] mattab commented on #7460
Hi @agrebla

do you mind answering @mnapoli question in the other issue that duplicates this one: #8092

@mnapoli can you ask users in  #8092 with your tips how to get more debug info?

[2015-07-15 16:28] #7460 closed

[2015-07-15 16:30] mattab commented on #8323
Hi @tflo - thanks for the report!

which browser did you use to reproduce the issue?

[2015-07-15 16:32] mattab commented on #8327
Thanks for the suggestion @ieperlingetje - now I get it why Wordpress also implemented delta updates. this may become more and more important as I see users having issues at every update. These issues will affect even more users the further away from France they are (because our servers are located in France!). Ideally, all users should have the same experience when updating Piwik and delta update

[2015-07-15 16:33] mattab commented on #8337
Hi @Amenel

Thanks for the report. Can you somehow reproduce this bug on demo.piwik.org?

do you have this issue in 2.14.0 as well?

[2015-07-15 16:44] mattab commented on #8354
Thanks @quba for suggestion!

Ideally we would have exact data to backup our feeling it would speed things up, ie. what is % time spent in sub-query VS the whole archiver query. If we cache the result of subquery, we know we'd save this % in each subsequent archiver query. Waiting for more data to know whether it's worth it before we schedule the issue

[2015-07-15 16:46] mattab commented on #8275
I think it's independant of Piwik algorithm. To be sure, you can look at browser > Developer Tools > and check the response from the Live API. it contains all visitor info, including the latitude and longitude. Check whether the lat and longitude for this visitor is indeed in the USA or whether it was supposed to be in asia. I assume it works well, and it's a problem with the geo location DB, so c

[2015-07-15 16:49] mattab commented on #8318
Does anyone else experienced this issue during 2.14.0 upgrade? please leave a comment. I'm still very surprised by this bug and don't understand yet how it could happen :-(

[2015-07-15 16:50] mattab commented on #8358
Hi @shahar3012

can you explain a bit more what your use case is?

Would you create a user yourself and then you want to let these users add new websites themselves?

[2015-07-15 16:56] mattab commented on #5150
duplicates #2390

[2015-07-15 16:56] #5150 closed

[2015-07-15 17:10] feimosi commented on #8275
OK, sure, thanks for the response!

[2015-07-15 17:10] #8275 closed

[2015-07-15 17:21] benjaminpick commented on #8304
Yes these columns were there before. (I don't have a backup to compare
but there was definitly OS information on my data before, which I lost
during the upgrade.)

[2015-07-15 17:25] #6196 closed

[2015-07-15 19:27] ericimprint commented on #7733
Piwik.js is being loaded both when the tracking is working and when it is not. Watching the network waterfall I can see it come up both when data saver is on and when it is off.

[2015-07-15 20:26] strobeltobias commented on #2846
Two factor authentication for Piwik would be awesome! Especially the data of website visitors would be better protected against hackers.
Maybe a Yubikey integration would also be possible. I live great with this gadget!

[2015-07-15 20:54] robocoder commented on #2846
There are ways to approach this:
1) 2fa is enabled for everyone, so the pin is input on the same form as the user+password
2) 2fa is enabled per user, so requires an intermediate pin page

[2015-07-15 21:50] diosmosis commented on #8212
:+1: for consistent indentation across all code files (.php, .less, .css, .html, etc.)

[2015-07-16 02:54] diosmosis commented on #8160
You could use dependency injection to override translators like this:

1. Create a new class in your plugin that derives from JsonFileLoader and overrides translations in load(), eg:

[code]

2. Then in your plugin, create a file `/path/to/piwik/plugins/YourPlugin/config/config.php` with the contents:

[code]

This way you can hardcode overrides. Note, though that **this is not part of the public

[2015-07-16 06:10] ThaDafinser commented on #8318
As a side note maybe: It dropped me more than that column. All columns mentioned here: http://forum.piwik.org/read.php?2,127838,page=1#msg-127877

I also used the workaround to "recreate" the columns, because i more likely lose that (unimportant) data then the whole tracking day.

[2015-07-16 06:18] babielmri commented on #7850
Hello, why is a HEAD-request not allowed?

[2015-07-16 06:23] typoworx-de opened #8359 "Flag-Symbol missing using PHP-Tracker"
I've been trying to use the PHP-Tracker API (with API-Key usage) and noticed that all flag-symbols are missing (replaced by question-mark icon). The mouseover correctly shows the country for all incoming tracks and PHP-GeoDB is correctly setup using maxMind GEO-DB. Also the live-tracking map correctly shows the visits for the countries.

All other Piwik-Accounts using the usual JS-Tracking are wor

[2015-07-16 06:51] bkkkd opened #8360 "SQL error"
/piwik/index.php?date=2015-07-09&module=VisitsSummary&action=getEvolutionGraph&columns[]=nb_visits&columns[]=nb_uniq_visitors&columns[]=avg_time_on_site&widget=1&columns_to_display[]=nb_visits&columns_to_display[]=nb_uniq_visitors&columns_to_display[]=avg_time_on_site&idSite=1&period=week

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manua

[2015-07-16 06:53] Amenel commented on #8337
I don't see a version number on the Dashboard, unless it's somewhere I don't know of.
I've upgraded a few days ago in July. So if 2.14.0 is the latest version, the answer is Yes. This happens with the latest version on Opera 12.17 (the Presto version, not WebKit), FF, Chromium and IE. Thx.

[2015-07-16 07:13] barbushin commented on #8257
I spent whole day debugging this issue, and I can't understand next things:

1. Why `SiteSearchBase::configureReportMetaData()` does not depends on request `siteId`? https://github.com/piwik/piwik/blob/b2f5b5489ceca056217fc6663ec6c2c6b052cd42/plugins/Actions/Reports/SiteSearchBase.php#L42 That's why `SiteSearchBase::configureReportMetaData()` always returns `null`, and that's why

Because if we re

[2015-07-16 07:55] SR-mkuhn commented on #8308
It is really bad, because there are cases, like #8307, where 16KB(and rising) are written multiple times in a second.

[2015-07-16 07:58] SR-mkuhn commented on #8268
But wouldn't it be a security improvement to have a preliminary test if your inputs (and types) are sane?

[2015-07-16 08:01] mattab commented on #8257
Hi @barbushin

it sounds like you found the bug / it is correct fix

it's probably a bug :) @barbushin please suggest the Pull request and we will review it, but likely what you think is correct solution, will be correct solution :+1:

[2015-07-16 08:06] mattab commented on #8304
@benjaminpick and everyone: which version of Piwik did you upgraded from?

We will investigate this issue for sure!

[2015-07-16 08:10] sgiehl commented on #8304
I've asked that in the german forums... Most of them updated from 2.13.1, but some also from older versions like 2.10.0

[2015-07-16 08:14] mattab commented on #8304
Hi @tsteur
We have a possibly serious issue with the columns being dropped.
Could you investigate / try to reproduce this bug when you're back?

Note: these columns were moved from one plugin to another, maybe this bug occurs when column/dimensions are moved from one plugin to another, and our column detector somehow gets confused and drops the columns? The weird thing is that it only affects a fe

[2015-07-16 08:17] mattab commented on #8308
@SR-mkuhn we will fix #8307 with high priority, which hopefully makes this "inefficient session handler" less important bug. once #8307 will be fixed, if you still find this issue creates slowness in the db replication, please let me us know

[2015-07-16 08:17] mattab commented on #8307
Also for performance reasons this issue is important, see #8308

[2015-07-16 08:19] mattab commented on #8360
Hi there,

I tried to reproduce the issue but couldn't - could you please email us at matt att piwik.org your Piwik server credentials and steps to reproduce this issue?

[2015-07-16 08:35] lolalalol commented on #8304
Upgraded from Piwik 2.8.0 to 2.14.0.  Before this, I upgraded MySQL 5.1 to 5.5.

[2015-07-16 08:55] SR-mkuhn commented on #8308
I understand the convenience to store data this way, because it is similar to a filebased sessionstore. ;-)
Until somebody finds a way to put arbitrary large data in this field. I think #8307 is just one known way to trigger this bug. And as the replication binlog just saves differences, a rewrite causes more traffic even if a change is minimal inside this field-datastructure.

[2015-07-16 09:06] tsteur commented on #7850
what do you mean by it's not allowed? I haven't tested it but should work in general?

[2015-07-16 09:07] tsteur commented on #8307
I'm not sure how notifications are implemented right now (especially re logging). At least initially they were stored in an array in the session so we could simply limit the number of notifications by using `array_splice` or so.

[2015-07-16 09:14] tsteur commented on #8261
I don't think it's actually good to do it this way. I'd expect `--force-all-websites` not to resume the queue. At least it should reset it or so as that behaviour can be buggy in some ways.

[2015-07-16 09:16] tsteur commented on #8224
or maybe to 3.0.0 as well? Have we seen it somewhere in practice? Is it enabled somewhere?

[2015-07-16 09:16] tsteur commented on #8295
Maybe solution is to show what you just wrote on a tooltip?

[2015-07-16 09:18] babielmri commented on #7850
So, you have only allowed a GET without any parameters but not a HEAD.

Examples:

Trying 127.0.0.1...
Connected to 127.0.0.1.
Escape character is '^]'.
GET /piwik.php
<a href='/'>Piwik</a> is a free/libre web <a href='http://piwik.org'>analytics</a> that lets you keep control of your data.Connection closed by foreign host.

Trying 127.0.0.1...
Connected to 127.0.0.1.
Escape character is '^]'.
HEA

[2015-07-16 09:21] tsteur commented on #8148
Yes it has to be atomic.

Maybe a solution would be at some point to generate random values including [0-9a-f]? The DB index would get a bit bigger etc but something like this might work and should be backwards compatible but haven't thought too much about it. We'd just need to try to avoid collisions (which should be doable)

[2015-07-16 09:30] parruc commented on #8285
A temporary patch would be the one I wrote on the first post adding:

[code]
works for me.

I did not open a pull request because It looks like a dirt solution but if you approve I'll open it.

[2015-07-16 09:37] tsteur commented on #7850
OK I get it. The code checks for `GET` specifically. Do you mind creating a new issue for this as this one is already resolved and the HEAD request is a different feature/bug? We should maybe always allow  `HEAD` and `GET` interchangably

[2015-07-16 09:48] oparoz commented on #8304
Same problem: Upgrade from 2.13.x. PHP 5.4, MariaDB 10 with custom prefix.

[2015-07-16 09:59] chriscroome commented on #8304
We have plain text backups of our MySQL database, looking in the oldest one (2015-05-18) and grepping for one of the missing columns (`config_os`) confirms that they were there prior to the upgrade that removed them:

      `config_os` char(3)   `config_os` char(3) NOT NULL,
      `config_os_version` varchar(100) DEFAULT NULL,
INSERT INTO `log_visit` (`idvisit`, `idsite`, `idvisitor`, `visitor_loc

[2015-07-16 10:14] mattab commented on #8296
moved into 2.15.0 as it will help our colleagues to troubleshoot issues, so better not to wait for 3.0.0

[2015-07-16 10:14] mattab commented on #8224
Moved back to `Sohrt term` for now

[2015-07-16 10:15] mattab commented on #8148
@quba if there is any risk that this bug hits us in production, please comment here, as i would move it back to `Short term` or even schedule it for a next version

[2015-07-16 10:45] Kousaeng commented on #8304
We have the same problem: Upgrade from 2.13.0 with "The Manual Three-Step Update", MySQLDB

[2015-07-16 10:45] oparoz commented on #8358
I can see this being needed for a web host. Just like you create the main user account and allow the user to add x domains to his account, you could give the customer a Piwik user login and let him add and manage x domains under his account.

[2015-07-16 10:48] oparoz opened #8362 "Clear opcache when installing plugins"
On PHP 5.5, using PHP-FPM, the gateway becomes unavailable as soon as a plugin is installed, until PHP-FPM is either restarted or the opcache cleared.
No problem with PHP 5.4 + APC.

Would it be possible to add some opcache clearing code to the installer?

[2015-07-16 10:53] chriscroome commented on #8304
"maybe this bug occurs when column/dimensions are moved from one plugin to another, and our column detector somehow gets confused and drops the columns?"

The server it happened to me on has no plugins installed.

[2015-07-16 10:58] chriscroome commented on #8304
The server it happened to me on is documented here, in case if you need more details:

* https://trac.transitionnetwork.org/trac/wiki/PiwikServer

The steps followed for the last upgrade are documented here:

* https://trac.transitionnetwork.org/trac/ticket/861

[2015-07-16 13:33] quba opened #8363 "When using "IS" segment, use hash to find proper action ID"
Currently Piwik uses `name` column to find action IDs (segment's subquery to filter the data, e.g. when data is filtered using page URL or title). My suggestion is to use hash field to find the action ID. The case here is, that there's an index on this column (`hash` + `type`). Of course it will work only with "IS" segments.

[2015-07-16 14:01] Trance-Man opened #8364 "No Tracking"
Since the last Piwik update I have ZERO tracking for my website, nothing is working, can someone find out why?

[2015-07-16 15:11] #8257 closed

[2015-07-16 15:21] #7768 closed

[2015-07-16 15:56] mattab commented on #7904
Thanks @gaumondp FAQ has been updated with token_auth

[2015-07-16 16:55] propertunist commented on #8333
this issue has not been fixed for me in 2.14.1.
i have run the upgrade and i still see exactly the same fatal errors when running an API call. the 2.14 workaround still changes the fatal error from the 'root container has not been created yet' message to the 'renderer format not valid: 'json'' message. but ultimately the outcome remains - fatal error.

[2015-07-16 17:29] quba commented on #8363
Here is an example query (please note: this one is using `contains` segment but there will be only a slightly different subquery for the `is` segment).

[code]

[2015-07-16 20:04] propertunist commented on #8311
this issue has not been fixed for me in 2.14.1.
i have run the upgrade and i still see exactly the same fatal errors when running an API call. the 2.14 workaround still changes the fatal error from the 'root container has not been created yet' message to the 'renderer format not valid: 'json'' message. but ultimately the outcome remains - fatal error.

[2015-07-16 21:26] mattab commented on #8311
@braekling @propertunist the script api_internal_call.php is working now: http://demo.piwik.org/misc/others/api_internal_call.php

please create a new issue for your problem and we will investigate - i'll set it to 2.14.2 milestone (since it looks like we will have another dot release later). thanks

[2015-07-16 21:26] mattab commented on #8311
in the issue, it would really help if you can write a minimal script that we can use to reproduce your issue

[2015-07-16 21:37] propertunist opened #8365 "renderer format is not valid - fatal php error after 2.14.0"
as requested, here is the source code for this issue (https://github.com/piwik/piwik/issues/8333) that has persisted beyond the recent release of piwik - 2.14.0.

this code includes the workaround that appeared in the forum that i have mentioned several times already. without the workaround, there is a fatal error relating to a container not being available yet (or similar error) and with the work

[2015-07-16 21:37] propertunist commented on #8311
ok, i have provided that info in a new ticket here: https://github.com/piwik/piwik/issues/8365

[2015-07-17 05:26] shahar3012 commented on #8358
@mattab @oparoz

I'm using Piwik in a closed network and SSO using Kerberos.
We have lots of sites in the closed network, so Piwik has a "big market" in my organization.

I'd like to let my users add new websites themselves. When a user adds new websites he/she granted with the admin permission instantly (on their website only).

That is the self service, nothing more.
Everything can be done in a

[2015-07-17 07:50] quba commented on #8362
There's already a command to clear all caches. Could you check if it works? If yes, then it should be easy to implement.

[2015-07-17 09:25] dandv opened #8366 "Double escaping in the update error message"
![image](https://cloud.githubusercontent.com/assets/33569/8744313/07badc46-2c2b-11e5-964f-1b463f2fb9e8.png)

[2015-07-17 09:35] larsen0815 opened #8367 "Entry for maintenance mode removed from config.ini.php"
I couldn´t reproduce this every time on each update or when exactly it happens, but Piwik sometimes removes the line "maintenance_mode" from my config.

In https://github.com/piwik/piwik/issues/3871, @mattab stated that "maintenance automatically turned off after successful upgrade", but I couldn´t notice this behaviour. At least, the entry was still there the last x updates, but now (2.13.1 -> 2.

[2015-07-17 10:28] shi-bmz opened #8369 "Regression: current version no longer appears when upgrade pending"
Hi,
When I went to upgrade to the latest version (from 2.13.1 to 2.14.1) I noticed that the current version again does not appear when I hover over the message.  This appears to be a regression of issue #2826 (Show current version when upgrade pending).

Thanks,
Shi.

[2015-07-17 11:22] ChristianGfK commented on #8318
We also experienced this after upgrading to 2.14.0.
Kind of scary to see this when looking at your stats:
![bpmaood](https://cloud.githubusercontent.com/assets/6390522/8746100/66eb4998-2c86-11e5-9d2f-1a3a18fab8d4.png)

I added the columns mentioned in the forum post and visitor tracking resumed.
Is the data collected between upgrading to 2.14.0 (yesterday midday) and me noticing and doing this wor

[2015-07-17 11:23] ChristianGfK commented on #8304
We also experienced this after upgrading to 2.14.0.
Kind of scary to see this when looking at your stats:
![bpmaood](https://cloud.githubusercontent.com/assets/6390522/8746100/66eb4998-2c86-11e5-9d2f-1a3a18fab8d4.png)

I added the columns mentioned in the forum post and visitor tracking resumed.
Is the data collected between upgrading to 2.14.0 (yesterday midday) and me noticing and doing this wor

[2015-07-17 11:30] dandv opened #8370 "Can't update GrabGravatar plugin"
I've just updated to 2.14.1 and when I try to update the GrabGravatar plugin, it seems that the update executes, but the plugin is still marked as being outdated.

Looking in `plugins`, the timestamps of the files are of minutes ago, but the contents are of v0.1.1.

[2015-07-17 11:36] chriscroome commented on #8304
I have the same, no stats between the upgrade to 2.14.0 and before the manual SQL updates:

!(https://trac.transitionnetwork.org/trac/raw-attachment/ticket/861/piwik.png)

[2015-07-17 11:44] Fensterbank commented on #8358
Hi @shahar3012,

so you have clear requirements and a clear deadline (next 2 weeks), but keep in mind that a Github issue is no task list and the users here doesn't offer coding service. ;-)
So if you need this feature so soon, I think you have to write the plugin yourself.

But back to topic:
If you have many websites in your organization, why don't you make another self service website?
If you m

[2015-07-17 12:37] swsharp commented on #8092
Hi @mattab sorry for the delay.

I had tried the <code>core:archive</code> command at one time but that didn't seem to have any effect on the scheduled reports. And looking at the logs I did not see any indication that the archiving is failing. I eventually arrived at the <code>core:run-scheduled-tasks</code> command as a temporary solution.

I do have the default option to allow archiving to be t

[2015-07-17 13:41] ChristianGfK commented on #8364
Probably the same issue as https://github.com/piwik/piwik/issues/8304.

[2015-07-17 13:51] quba commented on #8304
@chriscroome it should be possible to replay this date range from access log files.

[2015-07-17 14:06] ChristianGfK commented on #8304
@quba Meaning that Piwik did actually not track anything in this timeframe? It's not just a display issue?

What about the data stored in those fields that were dropped? That's probably lost forever?

[2015-07-17 14:09] quba commented on #8304
If this column was actually dropped then the only option is to restore this data from a backup/access log files. Reports for historical data are most likely aggregated so you will have access to these information. It won't work only in case you decide to rearchive something or if you decide to create a new segment and would like to have also old data segmented.

[2015-07-17 15:29] ChristianGfK commented on #8304
We run an archiving job every hour, so loss should be minimized by that.

However, I tried replaying access logs (both the regular visits and the tracking API requests), and the visits contained in those seem to not show up at all, even after forcing archival again (as suggested by the log analytics script)?!

[2015-07-17 15:35] quba commented on #8304
Log import summary should show you how many requests were replayed. It's also possible that you have to invalidate this date range in order to re-archive. But before doing so, just confirm that there is raw data for this date range (you can calculate number of rows available e.g. in the log_visit table - please remember to use indexed fields - idsite and visit_last_action_time).

[2015-07-17 15:36] ReessKennedy commented on #2041
+1 to this as well. And agreed with @jgebal.

This would be really great option to enable!

[2015-07-17 16:00] zanematthew commented on #8304
+1 Same issue

[2015-07-17 16:38] shahar3012 commented on #8358
@Fensterbank It would be nice to have it in the next 2 weeks, I know how Github works. I just mention it, that it will be taken seriously.

I believe that there should be a plugin that does that, neither other site or other tool.
I can call the related API functions from the plugin with doAsSuperUser() function in a much more secure way than sending my admin token which is practicaly impersonate t

[2015-07-17 17:48] myfirstnameispaul opened #8372 "header.from using subdomain in emails."
With Email server settings in the dasboard selected to not use SMTP server, Piwik uses the subdomain in the header.from field (e.g. noreply@www.example.com), making all emails from Piwik spam since this doesn't jive with the domain's DNS records.

I see in .../piwik/config/global.ini.php `noreply_email_address = "noreply@{DOMAIN}"` but I don't see where to set `{DOMAIN]`.

I would think that addin

[2015-07-17 18:51] kbojens commented on #8304
Well, that's what happenend during the update today (2.10 -> 2.14.1) and took hours:

After that the UserLanguage Plugin stopped working:

So, right now I am re-adding the column again like you proposed in the first post which will take me some hours.

[2015-07-17 20:06] gaumondp commented on #8367
I'm always upgrading from SSH.

What I've saw on my installation is that after upgrading and changing value to "1" in "record_statistics = 1" manually, the whole line gets deleted from config.ini.php.

I saw that happen at least on my last 2 updates.

[2015-07-17 22:18] diosmosis opened #8373 "Make automated Travis-CI system work w/o issue when testing multiple versions of Piwik simultaneously"
We currently have a system set up so both Piwik core and plugins can be tested on Travis-CI. The system allows testing plugins against different Piwik versions and autoupdates so plugin builds are kept up to date. This unfortunately causes problems when testing against different versions of Piwik simultaneously. Older versions of Piwik will expect different behavior from the .travis.yml script, an

[2015-07-17 22:32] codifex commented on #8304
Hello, I have the same problem here (2.13.1 updated to 2.14 and also 2.13.1 updated to 2.14.1). The Piwik system test shows an error for 'always_populate_raw_post_data', no other errors. The update was performed manually by overwriting the files on the server with the current version and performing the database update offered when accessing Piwik. The columns were present prior to the update. Afte

[2015-07-18 04:09] dandv opened #8375 ""Evolution over the period" displays a far longer period than the one selected"
I've selected last week as the period in the Goals overview tab.

The Evolution chart starts six months back, even though I installed Piwik only ~2 months ago:

![image](https://cloud.githubusercontent.com/assets/33569/8760295/0d7adfd0-2cc8-11e5-8bb1-f7f416c0b8e7.png)

[2015-07-18 15:07] tflo commented on #8323
Safari 9.0. But I just tested it with Firefox 39.0 and Opera 30.0, and it’s the same.

I tested the referenced scenario #8077 (Visitor Log & date range & segment): no problem here.

Please note that the errors I described only happen when switching either 1) from a built-in dashboard to a custom dashboard (the 'not valid' error), or 2) from a custom dashboard to another custom dashboard (the '16 h

[2015-07-18 21:00] mnapoli opened #8377 "Remove dependency to pear/pear-core-minimal"
pear/PEAR_Exception#8 was closed and I think we can remove the requirement of `"pear/pear-core-minimal": "~1.9.5"`.

I initially added this requirement in 74f0d0ff2529aed1ce07bb2409ea204c9cadd99c with the following comment:

It seems pear/pear-core-minimal was actually not necessary if we don't use `PEAR_Error` in our codebase.

So TODO:

- check if Piwik uses `PEAR_Error` or not
- if not, remove

[2015-07-18 23:32] fr33tux opened #8378 "core:archive cron error since 2.14.1"
When the archiving cron task is executed :

`/usr/bin/php5 /var/www/piwik/console core:archive --url=https://piwik.website.net > /var/www/piwik/piwik-archive.log`

I got the following error since upgrading to **2.14.1** :

It was working well with 2.14 and before.

[2015-07-19 05:30] jpfleury commented on #8304
Same problem here after upgrading from Piwik 2.9.1.

[2015-07-19 08:43] mnapoli commented on #7726
Need to check this out again since https://github.com/github/git-lfs/issues/243 was closed. But we might still need to wait for v0.6.0 to be released.

[2015-07-19 08:44] mnapoli commented on #7726
Issues to look at for:

- https://github.com/github/git-lfs/issues/425
- https://github.com/github/git-lfs/issues/426

[2015-07-19 09:03] mnapoli commented on #8307
FYI logging simply uses the notification system, so it works like the rest of the notifications (which I don't know how it works :p that was only my 2c).

[2015-07-19 09:20] mnapoli commented on #5099
Yes

No, it doesn't apply retroactively.

[2015-07-19 10:23] lioman commented on #7650
This would be useful. I accidently created a new  website in Piwik and now the data of half a year is in the wrong website.

A simple SQL script to merge the data together would be usefull too.

[2015-07-19 13:20] braekling commented on #8365
This is the PHP API call in WP-Piwik:

[code]

This is the constants definition:

[code]

Hope this helps :-(

[2015-07-19 13:22] braekling commented on #8311
To keep this clear, I added my script excerpt to @propertunist new ticket, too. #8635

[2015-07-19 14:15] mnapoli commented on #8378
Hi, please have a look at this FAQ: http://piwik.org/faq/troubleshooting/faq_20014/

[2015-07-19 14:15] #8378 closed

[2015-07-19 21:31] diosmosis commented on #8304
@mattab Think I found the cause for this bug: https://github.com/piwik/piwik/blob/master/core/Updates/2.14.0-b1.php#L20

The update  uninstalls the UserSettings plugin which shared dimensions w/ the various other plugins used now. If the dimension files still exist on an install, the Plugin manager will uninstall the dimensions, removing the columns.

FYI, can't work on a fix right now, hopefully

[2015-07-19 22:19] diosmosis commented on #8373
Moving to 3.0 since the important pieces have been merged.

[2015-07-20 06:24] bkkkd commented on #8360
I had send a mail to you.And the mail has our piwik of account and password.Tks

[2015-07-20 08:49] tsteur commented on #8358
I doubt anyone will give a shot on this soonish. I reckon it can be possible to do this in a separate plugin. You can create a new admin page to create new websites, add it to the admin menu and provide a separate API that let's you create a new website with less permissions than `Admin`.

Just FYI: With something like this you rather achieve the opposite of taking this seriously as it is not real

[2015-07-20 09:16] ChristianGfK commented on #8304
@quba invalidating is something other than re-archiving?
In any case, even though the log analytics script claims to have imported ~11k visits, none are to be seen: https://gist.github.com/ChristianGfK/b97a258c868d7d04eac2
The date range begins when I updated from 2.13.1 to 2.14.0 and ends when I updated to 2.14.1, discovered this problem and added the missing columns back, so Piwik resumed record

[2015-07-20 09:17] mnapoli commented on #8092
Hi @swsharp, to help us debug you could try enabling logging at DEBUG level (watch out it will log a lot of things!) into the log file (requires Piwik 2.11 or greater):

[code]

Then you should be able to find logs by searching for `Scheduler` (`cat tmp/logs/piwik.log | grep Scheduler`).

Remember to change from `DEBUG` level to `WARN` level once you have finished (e.g. let it run for a day maybe)

[2015-07-20 09:25] mnapoli commented on #8286
Please also try this one:

[code]

[2015-07-20 09:28] tsteur commented on #8372
I think everyone is supposed to change `noreply_email_address` which is not really the best solution. Ideally we would replace the domain maybe with a trusted host.

[2015-07-20 09:31] tsteur commented on #8370
The timestamps of which files are of minutes ago? Does it say the plugin is updated? Which version does it say is installed? Still `0.1.1`? Maybe it was a weird caching problem otherwise it should work. Do you mind trying again?

[2015-07-20 09:33] tsteur commented on #8369
Where does the current version not appear? Sorry, I'm a little confused right now. At which step of the upgrading process are you?

[2015-07-20 09:34] mnapoli commented on #7727
:+1:

[2015-07-20 09:40] mnapoli commented on #7835
+1 for renaming to Dashboard

[2015-07-20 09:44] shi-bmz commented on #8369
Current version: 2.13.1

What I see in the Dashboard and All Websites views:

NEW UPDATE: PIWIK 2.14.1

What I see when I hover the above message box:

Piwik 2.14.1 is available.
Please update now! (see changes).

What I see in the Administration view:

NEW UPDATE: PIWIK 2.14.1

What I see when I hover the above message box:

Piwik 2.14.1 is available.
Please update now! (see changes).
  CHECK FOR

[2015-07-20 09:47] tsteur commented on #8365
Can you maybe try to do a manual update see http://piwik.org/docs/update/#the-manual-three-step-update ? Maybe some files are missing somehow. It should work otherwise. I had a rough look through the code. If replacing some files doesn't work maybe you can provide us the content of the whole file you're using (not sure if the one above is everything within the file) and an example URL request. The

[2015-07-20 09:49] dandv commented on #8370
Updating...

![image](https://cloud.githubusercontent.com/assets/33569/8773518/b19f17f8-2e89-11e5-884b-a464aaa16de7.png)

After update, Piwik still has the old version:

![image](https://cloud.githubusercontent.com/assets/33569/8773531/c8ff46ca-2e89-11e5-9f1a-55e70bbf1495.png)

The timestamps of the GrabGravatar plugin files (the .php, `plugin.json`) are from moments ago. But the contents of plugi

[2015-07-20 09:50] barbushin opened #8382 "Set fixed packages versions in composer.json and .gitignore composer.lock"
I know that there is official Composer developers position that `composer.lock` is the best way to set fixed versions of vendors for project. But after working in many many different projects, I found that finally, it's much better just to use fixed versions numbers in `composer.json` and if you google it, you will find many people who think the same way.

![image](https://cloud.githubusercontent.

[2015-07-20 09:56] tsteur commented on #8370
I presume there's a bug somewhere, we might read the wrong field somewhere. The plugin was tagged with `0.2.0` but the version in `plugin.json` is `0.1.11` see https://github.com/alnoorp/GrabGravatar/blob/0.2.0/plugin.json

There's also a tag `0.2.1` with version `0.2.0`  see https://github.com/alnoorp/GrabGravatar/blob/0.2.1/plugin.json . We usually ignore the tag and read the version number but

[2015-07-20 09:58] tsteur commented on #8369
:+1:

[2015-07-20 10:11] quba commented on #8382
@mgazdzik asked the same question several times and nothing has changed so I'd say that the answer is no (even though it would make my life easier as well).

[2015-07-20 10:18] quba commented on #8304
Here's the API call to invalidate reports (it means that data won't be deleted but re-archived during next archiving process):
index.php?module=API&method=CoreAdminHome.invalidateArchivedReports&format=xml&token_auth=<token>&idSites=<siteID>&dates=2015-07-12&period=day

However first check if you have raw data for the date range that you've imported (e.g. using the visitor log).

[2015-07-20 10:21] mnapoli commented on #8382
The answer in the screenshot (the one from Josh) is out of topic as long as you use `composer install` instead of `composer update` (which is the recommended practice). This is a common mistake, nobody should run composer update unless they actually want to update a dependency. The answer from "jieg" says:

Piwik is an application, not a library, so yes we should commit composer.lock (which is wha

[2015-07-20 10:32] jmaupetit commented on #8014
Hi there. This problem still occurs during installation phase with 2.14.1 How can I help you to debug this?

[2015-07-20 10:34] barbushin commented on #8382
@mnapoli There was a problem for me to use some custom vendors that I added in `composer.json`, and getting conflict in Git switching to different branches.

Matt, thanks for your answer - it's very good explanation of how it works for Piwik.

[2015-07-20 10:34] #8382 closed

[2015-07-20 10:41] mnapoli commented on #8382
It's still open for discussion though if we have particular issues. But your conflicts with composer.json will still be there even if we use fixed version numbers (as this file will stay committed anyway).

[2015-07-20 10:42] mnapoli commented on #8014
@jmaupetit could you check that everything was uploaded correctly? If you are installing Piwik from scratch, the "system check" should show a warning if some files were not uploaded correctly (if you have no warning there, it's good).

If you are updating Piwik, it sometimes fails to overwrite all files. What you can do is reupload Piwik manually.

If after that you still have the problem let me k

[2015-07-20 10:43] ChristianGfK commented on #8304
Thanks, I'll give that a try. My `piwik_log_visit` table contains data for the days in question (2015-07-16, 2015-07-17), just not enough data.
And `import_logs.py` seems to be in no mood at all to do what it's supposed to do.
It's like it's in a permanent dry-run mode. It claims it's importing requests, but they're not showing up in `piwik_log_visit` (I assume that's where they're supposed to go)

[2015-07-20 10:44] barbushin commented on #8382
@mnapoli Problem is that modified `composer.lock` can't be merged automatically with `composer.lock` of another branch. Merging `composer.json` when switching between branches works fine.

[2015-07-20 10:47] tsteur commented on #8304
Good find. In different versions we removed dimensions out of the `UserSettings` plugin. `language` was removed in 2.11.0, was there in https://github.com/piwik/piwik/tree/2.10.0/plugins/UserSettings/Columns and eg in `2.7.0` there were many: https://github.com/piwik/piwik/tree/2.7.0/plugins/UserSettings/Columns .

In theory, when we remove files, they should be removed on the a user's Piwik as we

[2015-07-20 10:56] #8294 closed

[2015-07-20 11:01] oliguo opened #8383 "HKG.svg file lost"
I'm in the HK, I test visit map function but I cannot find place,
it is empty,so I figure out something wrong here by developer tool
![screen shot 2015-07-20 at 6 52 46 pm](https://cloud.githubusercontent.com/assets/8209221/8774484/63ab1d8e-2f11-11e5-91c9-c82a6df4b2ee.png)

The file HKG.svg is miss from the v2.14.1 source
![screen shot 2015-07-20 at 6 53 12 pm](https://cloud.githubusercontent.com/

[2015-07-20 11:39] sgiehl commented on #8383
That is kind of duplicate of #321
There are some more small country maps missing.

[2015-07-20 11:39] #8383 closed

[2015-07-20 12:20] tsteur commented on #7822
FYI: I spent one or two days trying to fix this screenshot test but give up: http://builds-artifacts.piwik.org/ui-tests.7822_4/14275.7/UIIntegrationTest_visitors_engagement

It seems related to triggering the archiving in `UiTestFixture` vs before in the UI. I tried for hours (almost a day) to create a new `OmniFixture.sql` that fixes it but it doesn't work, it makes it rather worse and shows many

[2015-07-20 12:21] barbushin commented on #7670
I just reproduced that issue. Going to find out how to fix it.

[2015-07-20 12:52] #8377 closed

[2015-07-20 13:05] #8307 closed

[2015-07-20 13:06] #8346 closed

[2015-07-20 13:06] #8357 closed

[2015-07-20 13:18] jmaupetit commented on #8014
Thank you for the reply. I was upgrading Piwik inside a Docker container and the container cache trapped me! Sorry for the noise.

[2015-07-20 13:40] propertunist commented on #8365
i have already performed a manual update - so that is not the issue here.
the code i have already provided is the only relevant code i have. the IP address is grabbed by an external function and the piwik 'secret' is grabbed from my app in an earlier line - but other than that the code is all here.
to link you to a page on my test server where the code is running would result in nothing other than

[2015-07-20 14:34] braekling commented on #8365
A manual update did not solve the issue.

Demo code 1 (using my real auth token & path, of course):

[code]

This causes:

[code]

If I add the "environment workaround" like this...

[code]

... the test script works as expected.

But in WP-Piwik itself it still does not work. By adding these Environment-lines, it just switches to

[code]

I will try to figure out the difference between my WP-Piwi

[2015-07-20 14:44] mnapoli commented on #7726
Good news, it seems to be working with v0.5.2 on travis, however it requires to have a github token in the remote URL (https://github.com/piwik/piwik/blob/git-lfs/tests/travis/install_git_lfs.sh#L7-7). So it's not usable right now.

We still have to wait for 0.6.0.

[2015-07-20 14:50] braekling commented on #8365
Ok, now I got it: If the environment init is performed a second time, the renderer error appears.

Try this code:

[code]

The first request will perform as expected, the second one will throw the exception.

Of course, I can prevent my code to call the workaround twice... but there are two questions left:

1. Is there a way to check if the environment is already initialized?
2. Is this workaround

[2015-07-20 15:11] mnapoli commented on #7618
@lemu thanks, a feedback: the icon names are rather redundant, e.g. `icon-ico_maximise` or even `icon-ico_ico_edit`. A simpler pattern like `icon-edit` might be better.

Also there are duplicate icons, I guess it's because it's a WIP version?

[2015-07-20 15:13] lemu commented on #7618
Can you get me a list of proposed changes, so we can go trough it?

[2015-07-20 15:15] mnapoli commented on #7618
In short drop the `ico_` prefixes (i.e. use `icon-` as the only prefix). So for example `icon-ico_maximise` becomes `icon-maximise`. Is that what you asked about?

[2015-07-20 15:36] shahar3012 commented on #8358
@tsteur I don't agree with you. This plugin can be done in a week top. I will develop it for my own use if no one else will, but I don't have the time right now.

This plugin should be like,  that even when a user has `noaccess` permission, this option will be available to him / her.
When the user has no websites, he or she could add new one and they become the admin of this website.

Same as for

[2015-07-20 15:48] myfirstnameispaul commented on #8372
How many users know to go into global.ini.php and change this? Will Piwik overwrite that file after I make changes to it?

[2015-07-20 16:10] diosmosis commented on #7726
I think it's ok if we redirect output /dev/null?

[2015-07-20 16:13] mnapoli commented on #7726
But plugins do not always have a github token setup?

[2015-07-20 16:23] diosmosis commented on #7726
They should for auto updating the .travis.yml, and it can be added through generate:Travis-yml. I guess it wouldn't work for 3rd party plugins, but I don't think they matter as much.

[2015-07-20 16:33] mnapoli commented on #7726
Will try tomorrow to move all the screenshots to git lfs (in the branch) and see how it all behaves then

[2015-07-20 16:35] diosmosis commented on #7726
:+1: party time!

[2015-07-20 16:56] patriiiiiiiiiick commented on #7181
This seems to be mostly solved for past months but not for the current one where the blob table remains abnormally large.

[2015-07-20 17:00] skoub commented on #8304
after applying the alter query in the first post, i had another error: `General error: 1364 Field 'location_browser_lang' doesn't have a default value`. I had to reactivate the UserLanguage plugin to solve the error.

[2015-07-20 19:22] felicitus opened #8385 "Include ova as download extension"
I just noticed that piwik doesn't track downloads of OVA files. It would be good to add custom download files to a configuration file.

[2015-07-20 19:26] sgiehl commented on #8385
You can do this using ```addDownloadExtensions```.
See http://developer.piwik.org/api-reference/tracking-javascript#configuration-of-the-tracker-object

[2015-07-20 19:26] #8385 closed

[2015-07-20 19:27] felicitus commented on #8385
This only works when using the JS tracker, not for log imports. Please re-open.

[2015-07-20 19:33] sgiehl commented on #8385
If thats a log importer issue, maybe it's better to create it here: https://github.com/piwik/piwik-log-analytics

Btw. the log importer has the option ```--download-extensions```, but that one overwrites the full list of extensions

[2015-07-20 22:33] lemu commented on #7618
That's doable. Probably some setting in font generator.

What icon's did you found that are a duplicate?

[2015-07-20 22:58] cemdev commented on #6069
I would LOVE to see this.  We looked at implementing it as a custom page variable - but those need to be set before trackPageView() - so that doesn't work.  Any thoughts on how to attach this data to page views?  We'd be happy to write a plugin - just need to know where to start, or even if it's possible without a change in core.

[2015-07-21 01:27] diosmosis opened #8386 "Automated Accessibility Testing"
Just heard about this: http://www.deque.com/products/axe/

We could potentially use this to improve accessibility w/ automated tests. The library integrates w/ mocha, so it could be part of our UI testing system.

[2015-07-21 05:36] mnapoli commented on #7618
Duplicated icons:

<img width="1113" alt="capture d ecran 2015-07-21 a 07 31 21" src="https://cloud.githubusercontent.com/assets/720328/8793675/a5589cc0-2f7a-11e5-83c3-b60ac978b852.png">
<img width="1129" alt="capture d ecran 2015-07-21 a 07 31 32" src="https://cloud.githubusercontent.com/assets/720328/8793676/a798d31a-2f7a-11e5-98d1-35161bfe1a34.png">
<img width="1128" alt="capture d ecran 2015-0

[2015-07-21 06:32] tsteur commented on #8372
I reckon pretty much nobody does it. That's why I meant we need to improve this.

You have to make the change in `config/config.ini.php` which will not be overwritten. `global.ini.php` will be overwritten on the next update.

[2015-07-21 06:40] tsteur commented on #8358
Yes, it can be developed in a week maybe but we won't have the time as well. That's why I meant it is unrealistic. Should have explained it a bit.

We surely do consider this suggestion, we just get so many other suggestions as well and we cannot work on everything. I presume in this case only a very few users would benefit from this feature as it rather a custom requirement so we will most likely

[2015-07-21 06:45] tsteur commented on #8365
@diosmosis  do you maybe know this?

Using `Piwik\Application\Environment` in general is most likely not backwards compatible since this class is not marked as `API` and also not listed on http://developer.piwik.org/api-reference/classes

At the same time it is needed to do bootstrap Piwik as shown in our internal API call example code: https://github.com/piwik/piwik/blob/2.14.1-rc1/misc/others/ap

[2015-07-21 06:56] tsteur commented on #8304
Actually, one thing we could do before uninstalling a dimension is to check whether the same dimension is provided by another plugin (with DB field, `$columnName` & `$columnType`) and if so, not uninstall it. This would have prevented at least this "bug"

[2015-07-21 07:44] diosmosis commented on #8365
Re @braekling

You can use a try-catch w/ StaticContainer::getContainer(). It is, however, a better idea to store a single environment instance instead of recreating it each time you need to issue a local API request. The Environment should be created & initialized once per HTTP request that is sent to the app that is accessing Piwik locally.

For BC, you can separate the FrontController & Environ

[2015-07-21 07:57] tsteur commented on #8365
Sweet, was just wondering whether it could be done on `FrontController::init()` in case the environment was not initalized yet but I presume it wouldn't always be the same environment (although for test we could make sure it was loaded before I reckon). Nonetheless a `FrontController` shouldn't care about environment init so all good. As you say a `WebApplication::init()` that does both makes most

[2015-07-21 07:58] barbushin commented on #7670
@helge79 Regarding http://developer.piwik.org/guides/content-tracking content tracking for elements with attribute `data-track-content` is occured when element is displayed. So it does not matter if somebody click or not on that link, it will be tracked anyway.

So there are 2 actions in HTML:
1. Page view - `_paq.push(['trackPageView']);`
2. Content view tracking `data-track-content data-content-

[2015-07-21 08:02] sgiehl commented on #8337
Do you have any additional plugins installed?

[2015-07-21 08:06] diosmosis commented on #8365
Just FYI, FrontController::init() will be removed eventually, in favor of application encapsulation. (I guess this is what you meant by "FrontController shouldn't care about environment init"?).

In general I think sending actual web requests seems a better idea to me than loading Piwik's PHP files to access an instance.

[2015-07-21 08:07] tsteur commented on #8304
Just FYI: Another question is why the columns were not installed automatically afterwards again (although it was good in this case so we could find this issue). I'm working on a fix to prevent this issue in the future but noticed the entry in the option table was not removed. For the system it was still marked as installed. This might be some race condition with Updater and Plugin/Uninstall

[2015-07-21 08:13] tsteur commented on #8365
Yep

@braekling I wonder if it was possible to achieve the same by calling the external HTTP API see eg http://developer.piwik.org/api-reference/reporting-api ?

[2015-07-21 09:01] braekling commented on #8365
Ok, thank you both.

I will check if the environment class exists and store the instance in a static variable (I'm calling the API in a class context) - so I can check if the environment is already initialized. This should work for all Piwik versions. :-)

@tsteur WP-Piwik offers the users to choose between HTTP and PHP Reporting API. Some users are not able or don't want to connect to Piwik using

[2015-07-21 09:44] Amenel commented on #8337
No. Aside from having activated or deactivated plugins that are in the default package, I haven't added any "additional" plugins. My website is khalemy.com and piwik is in the "analytics" subdomain.

The following URL shows one login form: https://analytics.khalemy.com/index.php?module=CoreHome&action=&period=range&date=last30

This one shows two login forms: https://analytics.khalemy.com/index.ph

[2015-07-21 09:56] tsteur commented on #8304
FYI: I'm working on an update that will remove some option entries so the wrongly removed dimensions will be at least re-installed again automatically if still needed.

[2015-07-21 10:06] quba commented on #8304
Great! But for sure we need to make sure that such dimensions are not removed (in case other plugin implements them) because we don't want to lose raw data.

[2015-07-21 10:11] mnapoli commented on #8337
Thanks for the links. The whole HTML page appears twice in the page, see the source: view-source:https://analytics.khalemy.com/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday Could it be something like a nginx config issue for example?

[2015-07-21 10:15] mnapoli commented on #8337
Or actually do you have plugins like LoginLdap or LoginHttpAuth installed and enabled?

It seems all the "login" kind of plugins listen to the `User.isNotAuthorized` event and echo the login form, so maybe 2 of them are listening to the event and outputting the form twice…

[2015-07-21 10:21] Amenel commented on #8337
Yes, LoginLdap is installed and activated. We use LDAP as a central authentication DB. I'll see whether the default Piwik login is activated and if so, find out how to deactivate it. We might be on to something here.

[2015-07-21 10:29] mnapoli commented on #8337
It seems LoginLdap is supposed to deactivate the Login plugin when it is enabled: https://github.com/piwik/plugin-LoginLdap/blob/master/LoginLdap.php#L86-L88

Maybe that didn't work for some reason, or the Login plugin got re-enabled somehow.

[2015-07-21 10:49] tsteur commented on #8304
Sure thing. I issued a PR for both already

[2015-07-21 10:50] tsteur commented on #8365
makes sense. Can we close this issue in this case?

[2015-07-21 10:51] #8365 closed

[2015-07-21 12:03] tolispy opened #8390 "General error: 2006 MySQL server has gone away (when running archive.php)"
archive.php cannot finished
every time after 25min I get "General error: 2006 MySQL server has gone away"
I suspect sql command timeout
Any ideas?

here is the console output

[root@zeus ~]# php /var/www/vhosts/sexblue-box.gr/httpdocs/piwik/misc/cron/archive.php --url=http://www.sexblue-box.gr/

-------------------------------------------------------
Using this 'archive.php' script is no longer re

[2015-07-21 12:25] acs-ferreira opened #8391 "The email doesn't have a valid format"
When trying to install Piwik with an email like ````user@mydomain.boutique```` it returns ````The email doesn't have a valid format````.

Of course, email exists and is valid.

[2015-07-21 13:25] skoub opened #8393 "apostrophe/single quote bug when showing 'row evolution' in 'page titles' section"
Since my upgrade to v1.14.1, i cannot see the 'row evolution' when the page title have an apostrophe. The graph is shown but without any data and the page title is truncated. For example, "Qui fait quoi? - L'Aller-Retour" have an apostrophe and piwik only see "Qui fait quoi? - L". It's probably the reason why the graph is empty.

[2015-07-21 13:37] sebastianpiskorski commented on #8173
@mattab This is a suggestion and also a nice step in direction of access control granularity I think. At least in the area of Piwik Settings. So far I've manage to overcome this limitation.

[2015-07-21 13:42] sebastianpiskorski commented on #8230
@mattab I think that if we are using an instance of `LocationProvider` object we should only use methods that are defined in its interface. So we would avoid fatal errors. So if we want to use `getInfo()` method we should extend `LocationProvider` interface first.

[2015-07-21 15:04] tsteur commented on #8390
refs #7669 #4055

what's your `wait_timeout` config in MySQL? Maybe `wait_timeout=28800;` helps

[2015-07-21 15:05] tsteur commented on #8391
FYI: We got an email recently with a similar issue but a `.ovh` domain

[2015-07-21 15:21] gaumondp commented on #8390
What about the recommendation ?

"Using this 'archive.php' script is no longer recommended.
Please use '/path/to/php /var/www/vhosts/sexblue-box.gr/httpdocs/piwik/console core:archive --url=http://www.sexblue-box.gr/' instead."

[2015-07-21 16:54] shahar3012 commented on #8358
I understand.
Please consider adding new features to Piwik, and let other users fix the bugs. If the core team will work most of the time on bugs fixes, than the platform will evolve slowly. Correct me if I'm wrong.

[2015-07-21 16:58] braekling commented on #8365
From my side this is solved - thanks! But I don't know if this also works for @propertunist ... ?

[2015-07-21 16:59] halfdan commented on #8358
How do you get the feeling that the core team is only working on bug fixes? If you look at the changelog (http://piwik.org/changelog/) all recent versions introduced new features AND had bug fixes. Letting other users fix bugs is not only slow it also leaves possible security issues open. We usually let contributors write tests.

[2015-07-21 17:10] esapozhnikov commented on #7554
This feature would be very helpful.

Currently the Db deadlocks cause the front end to fail to load.
For people like myself who use a separate server for archiving it would be very useful to have a front end with read-only Db so that the front end always loads reliably.

[2015-07-21 17:20] tsteur opened #8394 "Wrong German translation of website in privacy opt out frame"
See https://raw.githubusercontent.com/piwik/piwik-ui-tests/master/UIIntegrationTest_admin_privacy_optout_iframe.png

It says "Website" but should be "Webseite". Or is it on purpose? @sgiehl ?

[2015-07-21 17:55] propertunist commented on #8365
i am only calling one API call per page, so from what i have understood, i don't need to use a static variable for the environment.
however, i have used the code that was provided in this thread (at least the code that i detected that was being offered as part of the solution here) and the problem of the api renderer format being invalid remains.
this i the code i have used:
[code]
did i miss some

[2015-07-21 17:56] sgiehl commented on #8394
I changed most of that. **Technical** correct translation for website is "Website".... a "Webseite" would be a single webpage on a website. As far as I have seen we currently use the english word website for both meanings, so it's sometimes hard to consider what it means...

[2015-07-21 18:03] braekling commented on #8365
Environment's constructor requires a parameter, maybe just adding ```null``` will already help?

```$environment = new \Piwik\Application\Environment(null);```

[2015-07-21 18:08] quba commented on #8288
What about goal conversions? Should we add this to the total sum? For sure conversions generate additional hits to the tracking server.

[2015-07-21 18:10] propertunist commented on #8365
oh,  my mistake - the code i pasted was not the actual code i am using - i copied it from the thread here.
my actual code had 'tracker' as a value passed into the constructor - so using null made no change.

[2015-07-21 18:29] tsteur commented on #8394
Good point, I just remember I had this on my todo list about a year ago and forgot about it

[2015-07-21 18:29] #8394 closed

[2015-07-21 19:16] diosmosis commented on #8365
@propertunist Can you add an echo to the script before `$request = new Request(` and load a page in your website to see how many times it is being executed?

[2015-07-21 19:50] propertunist commented on #8365
yes, it is being run twice. i did identify that and point it out in my original ticket - but don't know enough about the design of piwik to explain why or what to do.

[2015-07-21 20:00] diosmosis commented on #8365
Piwik shouldn't be the cause of it running twice, Piwik won't execute the script that accesses Piwik, only your website will. Can you print out a stack trace immediately after the enviornment is initialized? eg, `echo "<pre>";debug_print_backtrace(DEBUG_BACKTRACE_IGNORE_ARGS, $limit = 20);echo "</pre>";`? You have to figure out why your script is being called more than once and either eliminate th

[2015-07-21 20:54] propertunist commented on #8365
aha, i just found that the cause is that i am calling the piwik function twice per page (i forgot i put the other call in there). i have added a static variable to my function and now it all works ok. :)

[2015-07-21 21:25] myfirstnameispaul opened #8395 "Trailing %3F stripped from address in Piwik reports"
I have a wiki article that ends with a %3F (ASCII code ?). When Piwik reports the address for visitors to the page, it removes the %3F, so when I click on the page from the dashboard, I am sent to a non-existing page on my server.

I haven't messed around to see if the same is true with the %3F in other parts of the URL or if it also happens with other ASCII codes at the end of URLs.

I did verify

[2015-07-22 02:23] thanatos11 opened #8396 "Fatal error: cannot get the main URL of this site: An unexpected website was found in the request: website was set to id '1234'"
I am trying to implement Piwik, without JavaScript just for the log processing.
After setting up all the environment, and requirements. All tests said there is no problem, from the piwik system check.

The log lines look like this:

219.xxx.x.xxx - - [27/Feb/2015:17:27:44 +0800] "GET /Style/Home/css/css.css?v= HTTP/1.1" 200 2518 "http://micheal.thesamename.com/" "Mozilla/5.0 (Windows NT 6.1; WOW64

[2015-07-22 04:13] thanatos11 commented on #8396
It seemed that the regex did not correctly parse the host and url. Once that was fixed and ran in debug mode I could get some data.

python import_logs.py --url=http://piwik.thesamename.com --debug --idsite=1 --add-sites-new-hosts D:\logs\micheal2.access.thesamename.com

[2015-07-22 06:23] tsteur commented on #8396
So it works now?

[2015-07-22 08:07] talus46 commented on #7850
Just to let you know the issue is still there with the  upgrade to 2.14.1 and is related to database.
The real issue I get is:
 Error query: fetch() failed: Unknown column 'visit_first_action_time' in 'field list' : ...
but the error is masked with http error code 400.
So or the update didn't update the database schema or there's a typo in the field  name in the code .

[2015-07-22 08:21] babielmri opened #8397 "piwik.php is returning 400 on HEAD-Request"
In https://github.com/piwik/piwik/issues/7850 was a fix created for the http-response code 400 on GET-Requests.

It would be nice if the HEAD-Requests are likewise allowed.

For details use my post: https://github.com/piwik/piwik/issues/7850#issuecomment-121895675

[2015-07-22 08:22] babielmri commented on #7850
A new issue for HEAD-requests and the http-response-code 400 was created: https://github.com/piwik/piwik/issues/8397

[2015-07-22 09:42] mattab commented on #7824
Using Generic wording #7826 has been moved to 3.0.0

[2015-07-22 12:07] mattab commented on #4315
Travis CI added support for MariaDB so we could enable it https://github.com/travis-ci/travis-ci/issues/1081

[2015-07-22 12:14] Kesquom opened #8398 "Ecommerce tracking fails"
Since 2.13 I don't get any ecommerce tracking data. Standard website tracking works fine (visits, links...) but the specific product data, order data etc. is missing

I Repoduced the error on a test system (php 5.6.5):

1. Fresh Piwik 2.14.1 installation with new database and default settings (no IP anonymization, ignore do-not-track, currency: Euro) -> no ecommerce data
2. Fresh Piwik 2.12 instal

[2015-07-22 12:16] mattab commented on #8160
@christophlehmann you got the answer. Thanks @diosmosis

[2015-07-22 12:16] #8160 closed

[2015-07-22 12:35] mattab commented on #8363
looking at the code it looks like it should not issue the subquery for the "IS" segment, but I may be wrong.

@quba can you paste a query for actual "IS" segment rather than "contains" since this issue is about "Is" segment?

[2015-07-22 12:42] mattab commented on #8362
It looks like the cache is already cleared when installing a new plugin: https://github.com/piwik/piwik/blob/master/plugins/CorePluginsAdmin/PluginInstaller.php#L49-50

Maybe it does not work for you. can you try the following:
- install a new plugin
- check your server is unavailable
- run `./console cache:clear` in Piwik folder
- is Piwik now available?

[2015-07-22 12:43] mattab commented on #8366
Thanks for the report @dandv

it's related to: #8293

[2015-07-22 12:47] mattab commented on #8318
Marking as duplicate of #8304 (new pull request #8389 #8388)

[2015-07-22 12:47] #8318 closed

[2015-07-22 12:48] mattab commented on #2041
@ReessKennedy feel free to post in the other issue: https://github.com/piwik/piwik/issues/8225 (this issue here is closed)

[2015-07-22 12:49] mattab commented on #8359
Hi @typoworx-de

can you paste here the output of `Live.getLastVisitsDetails` API for one of your PHP tracked visitor? Especially interested in the `countryCode` attribute and whether it's set correctly.

It would lead to double tracked visits.

[2015-07-22 12:52] mattab commented on #8367
Hi there,

it's actually by design. In INI file, we remove the config settings values when they are set to the default value. This is done to keep the INI file minimal and for some other reason.  if you don't want Piwik to remove your INI settings, you can for example prepend a letter or `keep_` in front of the setting name.

That's not correct. The FAQ is our official guide (rather than my commen

[2015-07-22 12:52] #8367 closed

[2015-07-22 12:59] mattab commented on #8375
Hi @dandv
It works as intended. Maybe you expected to see the date range currently selected in the graph? This issue will be helpful: #955

[2015-07-22 12:59] #8375 closed

[2015-07-22 13:18] mattab commented on #8370
Good point, added issue to 2.15.0 so we get it sorted before 3.0.0 (where many plugins will need to be upgraded and we want to make sure everything works)

[2015-07-22 13:26] larsen0815 commented on #8367
A program should never mess with a user-defined file.
What if the user explicitly sets a value to make sure that this setting is used and then your default is changed for whatever reason? This won´t work.

What need is there to keep an ini file minimal? I have never seen an ini file from any program bigger than some kilobytes.

In this case, this behaviour disturbed my workflow when updating.

[2015-07-22 13:33] mattab commented on #8369
:+1:

[2015-07-22 13:39] mattab commented on #7822
Sorry to hear the troubles with UITestFixture and OmniFixture.sql... is there something we could investigate to unblock you on this? or do you have a plan regarding this UI test `UIIntegrationTest_visitors_engagement`?

btw in the Processed screenshot is looks like "actions by returning visits" and "actions per returning visits" are switched, ie. the metrics should be switched so they match the la

[2015-07-22 13:41] mattab commented on #6069
@cemdev Maybe you could track an Event instead of using Custom Variables? http://piwik.org/docs/event-tracking/

[2015-07-22 13:52] mattab commented on #7670
I think Content Tracking works as expected indeed :+1:

But there is still a bug, as reported above: "The search report shows 2 visited result pages" when there was only one search result page (the Content tracking request should not count as a search result page).

Maybe the problem is around Site Search archiving, ie. https://github.com/piwik/piwik/blob/2.14.1/plugins/Actions/Archiver.php#L114-1

[2015-07-22 14:02] mattab commented on #8391
Hi @acs-ferreira  - thanks for the report.
this is likely a regression from #7298  #8259 - cc @barbushin

[2015-07-22 14:05] mattab commented on #8390
See [How do I fix the error “Mysql Server has gone away”?](http://piwik.org/faq/troubleshooting/faq_183/)

[2015-07-22 14:05] #8390 closed

[2015-07-22 14:07] mattab commented on #8288
Actions do not include Goal Conversions as such.

[2015-07-22 14:13] mattab commented on #8288
Actions metric does not include Goal Conversions.

Goal conversions are stored separate of Actions. maybe we want to count Goal Conversions to calculate Cloud pricing, but it won't count as "Actions" from Piwik side. I looked into TrafficMonitor plugin and it looks like currently we only use Actions to determine billing. Maybe we will need to rename "Actions" from Piwik PRO side and call it "Billa

[2015-07-22 14:15] tsteur opened #8399 "Performance regression: All dimensions are created on each request"
On each request we need to check whether there are any updates to perform. This also means we need to check whether there are any dimension changes. To not having to find and create all dimension instances and to not having to compare the current version with the installed version (`option` table) there is a file cache:  https://github.com/piwik/piwik/blob/2.14.1-rc1/core/Columns/Updater.php#L149-

[2015-07-22 14:20] mattab commented on #8396
Hi @thanatos11

Did you fix something in Piwik log importer?

if you think we should change something in the log importer, please create a bug report at: https://github.com/piwik/piwik-log-analytics/issues/

[2015-07-22 14:20] #8396 closed

[2015-07-22 14:20] tsteur commented on #7822
I worked around it.

Cheers, yes they are switched

[2015-07-22 14:22] mattab commented on #8397
Hi @babielmri

Thanks for the suggestion. From @tsteur

[2015-07-22 14:53] Glisse1 commented on #8398
After upgrading piwik to 2.14 I also lost part of the ecommerce tracking (specifically cart updates) using woocommerce.. no new cart updates with products, skus, etc unless the customer reached the cart page..but the order itself was fine, recorded in thank you page as it should.. I had to analyze and "hack" the wordpress piwik integration plugin that i was using, basically took the code running o

[2015-07-22 14:54] mattab commented on #8398
@Glisse1 were you using the latest version of Woocommerce plugin? if you have a problem with it, please make sure to create a bug report in: https://wordpress.org/support/plugin/woocommerce-piwik-integration

[2015-07-22 14:55] mattab commented on #8398
Hi @Kesquom

can you send us a URL to your website URL and i'll try to reproduce the `addEcommerceItem` workflow. it may help if you enable the tracker debugging as explained in: http://developer.piwik.org/api-reference/tracking-api#debugging-the-tracker

[2015-07-22 14:57] mattab commented on #8364
Hi @Trance-Man

 *  enable Tracker debugging: http://developer.piwik.org/api-reference/tracking-api#debugging-the-tracker
 * what is your website URL?

[2015-07-22 15:29] Trance-Man commented on #8364
If I enable tracker debugging will that screw up my normal use of Piwik, will it change anything that I might not want to change?Website url is http://www.brucecullen.com/piwik/

      From: Matthieu Aubry <notifications@github.com>
 To: piwik/piwik <piwik@noreply.github.com>
Cc: Trance-Man <treehopper@yahoo.com>
 Sent: Wednesday, July 22, 2015 8:57 AM
 Subject: Re: [piwik] No Tracking (#8364)

Hi

[2015-07-22 15:35] cemdev commented on #6069
it looks like events are session scoped, not page scoped, so to do that I'd need to come up with a way to map events back to pages. I don't see how to easily do that (maybe i'm missing something?). How would I map a scroll event back to the page that was being scrolled on? I suppose I could try page url or page title matching - but that seems pretty fragile.

[2015-07-22 17:15] barbushin commented on #8146
![image](https://cloud.githubusercontent.com/assets/683352/8831928/4e021ba6-30ae-11e5-9659-551989fbcd39.png)

Looks good?

[2015-07-22 17:29] dperzanowski opened #8401 "Error when attempting to view Scheduled Reports (Key "name" for array with keys does not exist)"
When clicking on the "Email Reports" under the Personal Administration area, I get the following error:

`Key "name" for array with keys "category, module, action, metrics, metricsDocumentation, processedMetrics, imageGraphUrl, imageGraphEvolutionUrl, uniqueId" does not exist in "@ScheduledReports/_addReport.twig" at line 150`

The installation this is happening on was updated originally from 2.0.

[2015-07-22 17:50] quba commented on #8363
I checked the code as well and the logic looks correct for the "IS" segment. There's only an issue with "Contains" segments.

[2015-07-22 17:50] #8363 closed

[2015-07-22 17:52] tsteur opened #8402 "Improve association between table row and table headers"
Sometimes it is hard to know to which row/header a column belongs to especially when scrolling down and the table header is no longer visible.

When scrolling it would be nice to always have the table headers visible in the current viewport until the table or widget is almost completely out of the viewport. Similar to https://material.angularjs.org/latest/#/demo/material.components.subheader or ht

[2015-07-22 18:57] barbushin commented on #8146
Here is example of how it works http://i.imgur.com/lmBqY9p.gif I changed `Add a new trusted host` to readonly, and added auto-focus to new input text field.

[2015-07-22 19:14] diosmosis commented on #8399
Would be fixed indirectly by https://github.com/piwik/piwik/pull/8329, but it would be better to not have to do the update check on every request. Not sure what initiates the update check, perhaps when we know an update needs to be done, we can hijack the normal request process. Would require making the event system distributed (ie, scheduling events or adding event handlers for other requests)...

[2015-07-22 19:29] hi2u opened #8404 "Feature to delete historical referral spam"
It's great that Piwik now keeps an up to date list of referral spammers, but this doesn't seem to affect any stats in the past?

It would be great if there were a feature to delete all historical data from referral spam bots. This could either be triggered automatically, or maybe with a button in the web interface or command on the server.

I only recently just upgraded my Piwik installation, so m

[2015-07-23 02:24] thanatos11 commented on #8396
No, just parse the regex in the request.

[2015-07-23 06:32] tsteur commented on #8399
I had a look at that PR but I don't understand what is actually cached and why one should configure them via ini? Or do you mean a single instance can be changed?

We kinda have to check for updates on every request since there could be a database update or a new dimension or ...  I was hoping it would be maybe just possible to move the `Dimension::getAllDimension()` calls back to where they were

[2015-07-23 06:55] diosmosis commented on #8399
The Dimensions are stored in DI and a cache is added to DI (which can be APC and not just an array for instance), which means we won't end up looping through plugins, requiring files, etc. for each request.

Not sure what you mean by single instance can be changed, can you explain?

I was thinking maybe there'd be some way to mark Piwik as needing an upgrade when we know this is the case (like act

[2015-07-23 10:16] mnapoli commented on #8146
@barbushin the behavior in the gif looks really good!

[2015-07-23 10:37] iMarkus opened #8407 "The string General_Cancel was not loaded in javascript"
When creating a new Website in 2.14.1 the cancel button does not show up using English as language. Instead of the button the following message occurs:

The string General_Cancel was not loaded in javascript. Make sure it is added in the Translate.getClientSideTranslationKeys hook.

[2015-07-23 11:20] tsteur opened #8409 "Change signature of Dimension hooks to allow to change them in the future"
In Dimensions we have some "hooks" / methods that are called during tracking: https://github.com/piwik/piwik/blob/2.14.1-rc1/core/Plugin/Dimension/VisitDimension.php#L216-L252

Same applies to `ActionDimension` and `ConversionDimension` eg
[code]

Problem is that we will never be able to change this signature as it might break plugins. Instead we should pass only one object where one can call `$i-

[2015-07-23 11:50] mnapoli commented on #8391
Fixed in #8400

[2015-07-23 11:50] #8391 closed

[2015-07-23 12:42] mattab opened #8411 "Add System check that checks that shell_exec function is enabled"
It  was reported in forums that currently shell_exec is not tested in Administration > System check

http://forum.piwik.org/read.php?2,128171

[2015-07-23 12:42] #8411 closed

[2015-07-23 12:48] bangdon2 opened #8412 "button click event tag json error"
<a href="#" onclick="javascript:_paq.push(['trackEvent', 'Menu', 'Freedom']);">Freedom page</a>

I used that javascript

but it is error

at Object.stringify (native)
at appendCustomVariablesToRequest (http://mng.logbox.co.kr/piwik.js:3108:60)
at getRequest (http://mng.logbox.co.kr/piwik.js:3118:28)
at logEvent (http://mng.logbox.co.kr/piwik.js:3773:31)
at http://mng.logbox.co.kr/piwik.js:5312:25

[2015-07-23 13:00] mattab commented on #8316
This was also (indirectly) reported in the forums: http://forum.piwik.org/read.php?2,128367

[2015-07-23 13:04] mattab commented on #8316
It was also reported in http://forum.piwik.org/read.php?2,128384

@diosmosis since many users report this issue as blocking for them to run the cron, could we restore this feature in 2.14.2 and not have to wait 2.15.0?

[2015-07-23 13:27] stastka opened #8413 "Piwik, 2.14.x: Javascript Error: Uncaught URIError: URI malformed with Chrome/IE11 and ISO 8859-1 Encoding"
If Website has ISO 8859-1 encoding, you have Uncaught URIError Javascript error with Chrome (and IE)  when URL have some special character

Samples with  French character:
URL: /Les-droits-r%E9els
decode: /Les droits réels

or with German Umlaut

/Hasenb%F6hler-Franz
decode:  Hasenböhler-Franz

Detailed Error:
Uncaught URIError: URI malformedD @ piwik.js:30(anonymous function) @ piwik.js:51(anonym

[2015-07-23 13:30] acs-ferreira opened #8414 "Stable branch ?"
When [deploying from git](http://piwik.org/faq/how-to-install/faq_18271/) we deploy ````master```` branch which is not suitable for production for many reasons.

Wouldn't it be production friendly to have a ````stable```` branch from where we could ````pull```` from for production environments ?

[2015-07-23 14:21] mattab opened #8415 "Update our Develop guides for Matomo 4.0.0"
The goal of this issue is to go over our [Develop guides](http://developer.piwik.org/develop) and update them to match the new APIs in Matomo 4.0.0. See also: https://github.com/matomo-org/matomo/wiki/New-major-releases#developermatomoorg

[2015-07-23 14:46] ktecho opened #8416 ""Link to an external website" goal not working as expected"
I have set up a goal. The goal should be triggered "when visitors" / "Click on a Link to an external website". I have chosen "contains" and the pattern is "facebook.com/sharer", because I want to track if user clicks href="https://www.facebook.com/sharer/sharer.php?u=https://xxxxxxxxxxxxxxx".

I was very happy knowing that I was converting goals, but it's converting false positives, as goal is bei

[2015-07-23 14:53] poing opened #8417 "System Check: Tracker status: 500"
-- New Installation...

500 GET request to piwik.php failed. Try whitelisting this URL from HTTP Authentication and disable mod_security (you may have to ask your webhost).  After making this change, restart your web server.

So wrong!  The resolution to this issue was REMOVE non-linux artifacts left in the file.

222.229.x.x - - [23/Jul/2015:23:31:46 +0900] "GET /piwik.php HTTP/1.1" 500 - "-" "Mo

[2015-07-23 16:16] braekling commented on #8100
FYI: WP-Piwik is using JSON now.

[2015-07-24 05:04] jagdish-nasit opened #8419 "Issue with Graph in PDF Email Report"
Hi,

We have observed one issue in PDF Report which is getting delivered as Email Report option. We have setup Piwik recently and we have data only from 15-Jul. However, graph under Page Titles & Downloads section its showing data in Jun month dates and no data on 15-Jul onwards.

Other graphs are showing it correct. I have attached screenshot of both Page Title, Downloads which has issue and also

[2015-07-24 05:17] larnold opened #8420 "Content tracking creates multiple site search entries in visitor log"
I have enabled content tracking as follows:

_paq.push(['trackAllContentImpressions']);

When doing a site search, the visitor logs displays multiple visits against the page, as displayed in the screenshot below. The number of visits (40x) is about the same as the number of content elements I am tracking.

![image](https://cloud.githubusercontent.com/assets/1298370/8868105/e915ddc6-3216-11e5-9ad5-

[2015-07-24 05:21] larnold commented on #8420
Possible duplicate with https://github.com/piwik/piwik/issues/7670

[2015-07-24 05:21] #8420 closed

[2015-07-24 05:49] #8407 closed

[2015-07-24 05:49] tsteur commented on #8407
Thx @iMarkus ! Should work with the next release

[2015-07-24 05:52] tsteur commented on #8412
Can you add the Piwik code that you use to set custom variables?

Do you maybe use prototype.js library (version 1.6.1 or so) by any chance on your website?

[2015-07-24 06:06] tsteur commented on #8414
See the FAQ article we do not recommend to deploy from git, especially not in production. Therefore, I reckon, we won't add a `stable` branch to make it more production friendly.

We always tag a new stable version when there's a new release but the name obviously always changes (as the name is the version number) and isn't `stable`. You could write a little script to read the latest tag automatic

[2015-07-24 06:06] #8414 closed

[2015-07-24 06:13] natedalliard commented on #6797
Any updates on this? I don't get piwik to work on github pages + jekyll + cloudflare.

[2015-07-24 06:17] bangdon2 commented on #8412
<a href="#" onclick="javascript:_paq.push(['trackEvent', 'Menu', 'Freedom']);">Freedom page</a>

I used that javascript

but it is error

[2015-07-24 06:18] bangdon2 commented on #8412
my site mng.logbox.co.kr

I not set custom variables

just set /a href="#" onclick="javascript:_paq.push(['trackEvent', 'Menu', 'Freedom']);">Freedom page</a/

[2015-07-24 06:26] tsteur commented on #8412
I tested this example link and it works for me. Can you send us a link where it is actually implemented so we can reproduce? Feel free to send us via email to hello @ piwik.org or post here.

[2015-07-24 07:33] mattab commented on #7181
It may not be fully fixed so re-opening. This was reported in http://forum.piwik.org/read.php?2,128325 - (I've also removed the issue from the 2.14.1 changelog where it was announced fixed.)

[2015-07-24 09:18] #8316 closed

[2015-07-24 09:19] efenguo opened #8421 "slash error"
when I tried to add a new plugin clickheat, there is an error:
The class ClickHeat couldn't be found in the file 'C:\Bitnami\wampstack-5.5.25-0\apache2\htdocs\piwik/plugins/ClickHeat/ClickHeat.php'

Obviously a slash error happened.

I am using Piwik in Windows platform.

[2015-07-24 10:15] sgiehl commented on #8421
As that seams to be a problem with the plugin. Maybe create an issue there: https://github.com/piwikjapan/plugin-clickheat

[2015-07-24 10:15] #8421 closed

[2015-07-24 12:01] Zeichen32 opened #8422 "Controller.Module.Action Event is case-sensitive"
I've noticed that Events triggered by the FrontController Dispatcher are case-sensitive, but the called actions are is case-insensitive.

For example:
?module=CoreAdminHome&action=optout => triggers action CoreAdminHome:***optOut***
?module=CoreAdminHome&action=optOut => triggers action CoreAdminHome:***optOut***
?module=CoreAdminHome&action=OptOut => triggers action CoreAdminHome:***optOut***

Ev

[2015-07-24 12:56] pebosi opened #8423 "Track location change as new visit"
Would be nice to track a new visit every time the location of a other has changes (based on lat, long).

I'm using Piwik for mobile tracking of users and need to split visits of one user to different locations.
Even if i modify lat, long, city paramerts in tracking request, the visit stays the same and i cant see the location changes.

[2015-07-24 13:00] quba commented on #8423
It's rather something that can be achieved with custom plugin.

[2015-07-24 13:02] pebosi commented on #8423
i just did see that lat, lon, city requires token_auth... i will try and report back here.

[2015-07-24 13:17] pebosi commented on #8423
Ok, it now just overrides the visits lat, lon, city values. So would be nice to get a new visit instead

[2015-07-24 13:24] Fensterbank opened #8424 "pdf report: Render unique visitors graph in Visits Summary"
In the statistics section "Visits Summary" of a generated pdf report the unique visits are displayed in the table, but not in the graph.
Only the amount of visits are contained in the graph.

It would be great, if the unique visits will be included in the graph as a particular line, like in my example picture:

![piwik_pdf_report](https://cloud.githubusercontent.com/assets/1684826/8875219/d721b2a6

[2015-07-24 13:26] Fensterbank commented on #8423
But isn't it technically wrong, to log a location change as a new visit?
If a user is visiting a website and reading some articles while driving on the speedway, the user sould not be tracked with multiple visits.

[2015-07-24 13:30] mattab commented on #8423
Thanks for suggestion @pebosi

Notes:
 * we do something similar, we track new visit on new campaigns, and/or website changes, see this faq  [How do I create new visit whenever a user visits my website using a new campaign or a new website referrer?](https://piwik.org/faq/how-to/faq_19616/)
 * you can also manually track a new visit whenever you want, with `new_visit` tracking API parameter, [see

[2015-07-24 13:30] #8423 closed

[2015-07-24 13:48] tsteur commented on #8370
Little update: It's a bug caused by the GitHub library that we use and was fixed here: https://github.com/KnpLabs/php-github-api/commit/fada3f3cf088b332655183517d043eea495f6c50

We always downloaded the archive of the `master` branch so far as this is the default. Since we fetch the data within a minute from the repo this should be usually always the same content unless one tags from another branc

[2015-07-24 13:49] mattab commented on #8304
Thanks everyone for reporting the issue - it has been fixed in #8389 and #8388 - we will release 2.14.2 shortly

[2015-07-24 13:49] #8304 closed

[2015-07-24 14:25] zanematthew commented on #8304
Great!

[2015-07-24 14:29] tsteur commented on #8370
@dandv  do you mind trying again? I re-imported the GrabGravatar versions and it should work now. Please comment or reopen in case you still experience this problem

[2015-07-24 14:29] #8370 closed

[2015-07-24 14:32] tsteur commented on #8422
I'm a bit surprised to are all rendered perfectly. We should always use the correct action name as defined in the code or alternatively always lowercase I don't really mind :) We should have a look why it renders all of those actions when only one should be valid

[2015-07-24 14:49] Zeichen32 commented on #8422
Its because php functions are case-insensitive.

[code]
http://php.net/manual/en/functions.user-defined.php

The easiest way were to convert the controller action name to lowercase. But it's maybe a BC.

[2015-07-24 14:50] mattab commented on #8422
I would suggest that `&action=` should match the controller action as found in code (case sensitive) VS using lowercase only

[2015-07-24 14:58] Zeichen32 commented on #8422
If we change the ControllerResolver it can be done case-sensitive:

https://github.com/piwik/piwik/blob/master/core/Http/ControllerResolver.php#L74
[code]

[2015-07-24 14:59] #8258 closed

[2015-07-24 15:54] mattab opened #8425 "Automatically update submodules to latest"
Suggestion: we create automation script to automatically commit & push the latest submodules. (Edit 2020: via Github actions?)

Goals:
- prevent manual work in keeping submodules synchronised
- prevent build failures when new plugins were released and submodules not yet updated, (eg. https://github.com/piwik/piwik/commit/c4ca3c55f2892bee56c9e0bbda37530b3e1e4b7d was necessary to have green build)

[2015-07-24 16:04] tsteur commented on #8422
:+1: sounds good, should also not cause any performance issues

[2015-07-24 16:18] Zeichen32 commented on #8422
Ive create a PR to fix this issue #8426

[2015-07-24 16:25] tsteur commented on #8422
We could afterwards write a test that gets a list of all events (starting with `Controller.`) of all plugins and check whether the controller actions actually exist. This way we make sure we don't break anything and will get notified easily in case one has a typo in the future

[2015-07-24 19:09] propertunist opened #8427 "fatal error returns in 2.14.2"
after i fixed my API call code for issue: https://github.com/piwik/piwik/issues/8365
all was well.
i then ran the upgrade to 2.14.2 today and my entire site crashed again. i have not looked into this in detail, but i needed to remove the API call to get my site running again.
the errors started after the piwik upgrade process initiated the database upgrade (even though the notes state that this up

[2015-07-24 19:35] Zeichen32 commented on #8422
I will add some tests

[2015-07-24 20:00] diosmosis commented on #8427
Please post the error message & stack trace if present.

[2015-07-24 20:08] propertunist commented on #8427
this is all i am seeing in the logs -
[code]

[2015-07-24 20:16] diosmosis commented on #8427
It appears you need to upgrade some plugins in your Piwik, can you check if this is the case?

[2015-07-24 20:20] propertunist commented on #8427
how would i know? i am not seeing any messages to that end in piwik anywhere

[2015-07-24 20:29] diosmosis commented on #8427
So Piwik is fine? Can you check the plugin admin page to see if there are any updates for plugins available?

[2015-07-24 20:45] propertunist commented on #8427
piwik is fine as long as i don't use the API. there are no notifications for plugin updates on the plugin page.

[2015-07-24 20:50] diosmosis commented on #8427
Does the web API fail too or just the code in your website that uses Piwik?

[2015-07-24 20:59] sgiehl commented on #2846
There is now a plugin for GoogleAuthenticator. See http://plugins.piwik.org/GoogleAuthenticator

[2015-07-24 21:00] propertunist commented on #8427
if i comment out the 'workaround' for 2.14.0:
[code]
in the API call, i then see in the logs:
[code]
if i leave the workaround in place, the code is as it was prior to the upgrade (which all worked prior to the upgrade) and the pages crash with no entries being made to the log at all.. so i don't have much to add presently.

[2015-07-24 21:05] diosmosis commented on #8427
This should be `new \Piwik\Application\Environment(null)`, fyi.

Can you tell me if the web API works? Can you visit a URL like `http://yourpiwik.com/index.php?module=API&method=API.get&format=XML&idSite=1&period=day&date=2015-06-24,2015-07-23&date=2015-06-24%2C2015-07-23&filter_limit=false&format_metrics=1&expanded=1&filter_limit=30` and see if the same error about an upgrade appears?

[2015-07-24 21:13] propertunist commented on #8427
aha! changing 'tracker' to null, appears to have resolved the issue. thanks!

[2015-07-24 21:14] diosmosis commented on #8427
That's good, though it's still weird the error you were getting. Re-open if it occurs again.

[2015-07-24 21:16] robocoder commented on #2846
@sgiehl : how hard to allow API requests without the auth_code?

[2015-07-24 21:21] sgiehl commented on #2846
Guess we would need to add app specific passwords or something like that.
Otherwise a login would be possible using token_auth in the url only

[2015-07-24 22:40] propertunist commented on #8427
ok, will do

[2015-07-25 02:01] diosmosis opened #8428 "During tests, if a plugin has dependent plugins, they should be loaded automatically"
As title. It shouldn't be required to explicitly add the plugins to the activated plugin list.

[2015-07-25 11:11] mattab commented on #2846
@sgiehl  Well done, this looks epic. It is an excellent news for the Piwik community :rocket:

[2015-07-25 11:20] mattab commented on #8425
from @diosmosis: let's investigate: http://stackoverflow.com/a/9189815 as it looks interestingly like it may be a core feature of git?

[2015-07-25 11:29] mattab commented on #6605
We cannot get rid of submodules at this stage. We're considering automating tracking of submodules to latest commit, see issue #8425

[2015-07-25 14:05] propertunist commented on #8427
hm, so there are new errors relating to piwik today:
[code]

[2015-07-25 15:01] propertunist commented on #8427
this error arises when the same API call is made as before. the error appears to be intermittent, since the error has not occurred in my test site yet.

[2015-07-25 18:23] michaelnordmeyer commented on #8225
@Tobias-Conrad IIRC, Google considers a visit as bounced if the visitor doesn't access a second page.

[2015-07-27 05:38] #8353 closed

[2015-07-27 05:38] #8352 closed

[2015-07-27 05:59] #8146 closed

[2015-07-27 06:28] akrus opened #8436 "Piwik segmented search with archived data (cron) doesn't show some periods"
Hi,

I have Piwik running (latest stable version) and real-time segmented search is quite slow. I've changed this to use archived data (cron) and executed full re-archive using 'piwik/console core:archive --url=http://piwik -vv -
-force-all-periods=315576000 --force-all-websites --force-date-last-n=10000'. This took one day to complete, but as I can see on the graphs, e.g. Visits over Time, in one

[2015-07-27 07:05] tsteur commented on #8436
I'm not sure if I understand the issue right. It is normal that two different segmented searches result in different data. It depends on the query and data whether it is normal that there is no data or not. Or do you mean when executing the same segmented search multiple times you get a different result?

[2015-07-27 07:07] akrus commented on #8436
Same segmented search with "segmented reports are processed in real time (default)" has all the information available, see graph below:
![piwik_realtime_daily](https://cloud.githubusercontent.com/assets/36325/8900295/3c6c66ca-3447-11e5-8ec1-9c5fe2112f8c.png)
When I change this to use archives - the data is missing and I can't find out why as no errors appear during archiving.

[2015-07-27 07:13] tsteur opened #8437 "Travis UI tests: Existing processed screenshots should be removed when uploading artifacts again"
I restart this UI test where many tests failed because of random font issues: https://travis-ci.org/piwik/piwik/jobs/71735738

The next time only 13 screenshots failed yet still many screenshots are shown here: http://builds-artifacts.piwik.org/ui-tests.master/14270.7/  Most of them with a difference of 0.00%.

When UI test artifacts are uploaded again, the initial ones should be removed.

This wa

[2015-07-27 07:38] #8293 closed

[2015-07-27 08:22] simpleuser99 commented on #6703
@tsteur When we will have resolve for this issue ?

[2015-07-27 08:46] #8285 closed

[2015-07-27 08:59] mnapoli commented on #7926
For the record, PR WIP: #8022

[2015-07-27 10:32] parruc commented on #8286
Launched from the cli, works as expected and did not happen anymore, so I guess It was a memory problem or something similar... Closing it

[2015-07-27 10:32] #8286 closed

[2015-07-27 14:38] dandv commented on #955
Looks like a significant number of issues have been marked as duplicates of this one.

Maybe this suggests that the UI of the timeframe selection isn't the clearest possible?

[2015-07-27 18:17] diosmosis commented on #8427
It looks like the session error is actually covering up another error. To see what the error is you could try commenting out the line `FrontController::setUpSafeMode();` in `core/dispatch.php` (this will let the fatal error that's occurring occur naturally).

[2015-07-27 18:24] diosmosis opened #8438 "Session use fails in safemode"
When a fatal error triggers safemode, the session is read/written when a nonce is accessed or created (see ControllerPluginAdmin/Controller.php). This seems to cause an exception, covering up the original error, see https://github.com/piwik/piwik/issues/8427

[2015-07-27 19:13] frictionel commented on #7850
With Piwik 2.14.2, using the proxy-script, I saw a lot of "400 Bad Request" today. Which is the second time after 2015-07-14.

The request URLs look legit. First I thought it might be a problem with the database because it had connection problems around the same time but when I rerequest one of the URLs now I still get the error without db connection issues.

Can there be another reason besides mi

[2015-07-27 19:32] tsteur commented on #7850
It can have many different reasons. For example if the requested website can't be found (should not be the case here) or if for any other reason there are no logged requests. I'd recommend to create a new issue or to ask in forum

[2015-07-27 19:35] tsteur commented on #6703
It's not scheduled so it may take a couple of months. @mattab as it might be easier to fix than the others and as it is a bug that makes it impossible to use with HTTPS (maybe even a regression), maybe it is worth to schedule it a bit earlier but not sure.

[2015-07-27 20:19] xavez opened #8439 "Install of 2.14.2 blocked by permissions check on piwik/config path"
On installation, piwik stops at the only error, it says the directory `/path/to/piwik_analyticsconfig/ ` is not writable. This is very possible, since that directory does not exist. It should probably be `/path/to/piwik_analytics/config/ `. Note the extra forward-slash between `piwik_analytics` (root of piwik) and `config`.

Seems like a simple bug, But I wouldn’t know where to start debugging :-)

[2015-07-28 05:48] tsteur commented on #8439
Is this the full error message? It might be this line: https://github.com/piwik/piwik/blob/2.14.2-b1/core/Config.php#L408 there is at least no leading slash. If so, it is only displayed wrong but still tried to write the file correctly (will all needed slashes). Meaning there might be still a problem re permissions to write into this directory.

[2015-07-28 08:05] tsteur commented on #8439
could be also caused by this maybe: https://github.com/piwik/piwik/commit/affd9703293fc748260fe96993d30ef149b34b1a#diff-6385f618444a55b5d6aae8f91574ec51R94

[2015-07-28 08:39] quba opened #8440 "Missing labels on bar chart"
Please see attached image:
![device1](https://cloud.githubusercontent.com/assets/647328/8927031/d95a5d48-3514-11e5-82b4-f1bc32b39025.png)

Labels are not being displayed even though it looks like there's enough space.

[2015-07-28 08:42] tsteur commented on #8440
Might be caused by https://github.com/piwik/piwik/pull/8078

[2015-07-28 09:01] mnapoli commented on #8439
Yes it's caused by affd9703293fc748260fe96993d30ef149b34b1a, that's weird that I wasn't able to install Piwik without this change (the path was wrong). I'll revert the change

[2015-07-28 09:01] mnapoli commented on #8439
And don't know if it deserves a patch release

[2015-07-28 09:04] mnapoli commented on #8439
Done in 08fa53b99fa94ad51112288487c6bcb950474dfa

[2015-07-28 09:07] mattab commented on #8440
Fyi: It has always been this way in Piwik, but it would be nice to improve it. The reason we skip half of the labels is that there is not enough space to show all labels.

[2015-07-28 09:24] mattab commented on #8419
Thanks for the report @jagdish-nasit - this is duplicate of #7948

[2015-07-28 09:24] #8419 closed

[2015-07-28 09:27] #8417 closed

[2015-07-28 09:27] xavez commented on #8439
Would be nice, because changing the file manually results in a file integrity error.

<img width="868" alt="schermafbeelding 2015-07-28 om 11 21 02" src="https://cloud.githubusercontent.com/assets/400335/8927991/9dca4dd6-351b-11e5-8bf4-ac6c12bf60e5.png">

[2015-07-28 09:36] mattab commented on #8364
Enabling debugging will not impact your Piwik

[2015-07-28 09:42] mattab commented on #8401
Hi @dperzanowski

in Administration > System check, do you see any warning?

Do you use any third party plugin in Administration > Plugins?

[2015-07-28 09:43] mattab commented on #8413
Hi @stastka
Thanks for the report.

Let's try to reproduce and then:
 * add a test showing the bug in tests/javascript/
 * fix the issue

[2015-07-28 10:32] labiloute opened #8441 "Bug in fresh install on Piwik 2.14.2 - WriteAccessCheck.php and piwik/config path check"
Hi,
Little typo I'd say in the "plugins/Diagnostics/Diagnostic/WriteAccessCheck.php" file on a fresh install.
Replace:
$directoriesToCheck[] = 'config/';
by
$directoriesToCheck[] = '/config/';

Or the checked path will be for example : /var/www/piwikconfig

Cheers !

[2015-07-28 10:37] propertunist commented on #8427
ok, i'll do some testing with that line commented. do i look in the php log for the error?

[2015-07-28 11:45] stastka commented on #8413
Hi @mattab

I create a small testpage to reproduce. The site contains links with french and german characters with ISO 8859-1 encoding. :

http://stastka.ch/piwiktest/

[2015-07-28 12:04] mnapoli commented on #8441
Thank you, it duplicates #8439.

[2015-07-28 12:04] #8441 closed

[2015-07-28 12:19] labiloute commented on #8441
Sorry for duplicate, #8439 title was not very explicit, so I did not find it searching for piwikconfig keyword

[2015-07-28 12:21] mnapoli commented on #8441
I have updated the issue title so that it's more explicit.

[2015-07-28 12:26] dperzanowski commented on #8401
In the system check, everything shows up with a green checkmark. As for third party plugins, we use the `cacheBuster` and `LoginLdap` plugins.

[2015-07-28 13:10] tsteur commented on #8399
How is it different to currently? I think the components are cached already (path to file and/or classname), Not sure what we would actually store in DI and cache?

[2015-07-28 13:12] tsteur opened #8444 "Ensure that the archive algorithm cannot be triggered multiple times for a same site/period/segment"
refs #1938

I've seen this here in UI tests:

![33131fd2-24a8-11e5-9644-e01aa4b831c3](https://cloud.githubusercontent.com/assets/273120/8932062/f22888a6-353a-11e5-80eb-7d9821124d70.png)

As one can see the archive was created multiple times

[2015-07-28 13:18] quba commented on #8444
But actually it should work so - e.g. for current day/week/month/year. Then temporary archives are purged once a day. Could you check the `done` flag?

Additionally sometimes it makes sense if there's some missing data. E.g. if one updates from old Piwik version (e.g. 1.6 -> latest) then it makes sense to rearchive some data (e.g. returning visitors because latest Piwik is using a segment to calcu

[2015-07-28 13:52] diosmosis commented on #8399
The logic in the VisitDimension::getAllDimensions() method currrently uses a transient cache, so whatever logic is done is done once per request. The DI cache will allow caching the sorted list so the logic in those methods will not be necessary on subsequent requests.

The DI definition objects are stored in the cache (you can see them if you look through php-di's source), so the list of class na

[2015-07-28 14:33] LeCoyote opened #8445 "Calling the API in PHP breaks timezone, or just does not work"
Ref: #3921

It seems that calling the API in PHP is still partly broken.

Using the code provided in http://developer.piwik.org/guides/querying-the-reporting-api results in a piece of code that changes the default timezone to UTC. In other words, using Piwik as documented will force the calling code to use UTC as a default timezone. This behaviour is intrusive and not documented. I'll see if I can

[2015-07-28 14:33] tsteur commented on #8444
I do not have the database anymore. Should have made a dump :(

It happened when starting a UI test when inserting the fixture so there should be no reason for duplicated archives

[2015-07-28 14:38] tsteur commented on #8399
We store that list I meant somewhere in `findComponents/findMultipleCompents()` I think.

Does it mean it actually stores the serialized object?

[2015-07-28 14:38] diosmosis commented on #8399
Not the Dimension object, a Definition object from php-di. I don't know if it's serialized, @mnapoli would know best about this stuff.

[2015-07-28 14:48] diosmosis commented on #8427
The error should appear in HTTP request output (so I would assume your website might display it), and in php/webserver logs.

[2015-07-28 15:16] mnapoli commented on #8399
Depends of the Doctrine cache you use. If it's ArrayCache, it's not serialized. If you use ApcCache, it uses `apc_store()` and the documentation isn't explicit on this but I guess it's serialized.

And yes we are talking about [DI definition instances](https://github.com/PHP-DI/PHP-DI/blob/master/src/DI/Definition/Definition.php).

[2015-07-28 15:37] diosmosis opened #8447 "Running tests on a virtual domain after setting [tests] http_host doesn't always work"
As title. If `[tests] http_host` is set to a virtual domain, Piwik will assume the host is `'unknown'` for some reason. May only affect enterprise plugins.

CC @sebastianpiskorski

[2015-07-28 16:04] propertunist commented on #8427
ok, i haven't seen any re-occurrences of the error yet - but i'll keep looking

[2015-07-28 16:20] mnapoli commented on #7978
Currently WIP in #8448

[2015-07-28 16:33] joelanman opened #8450 "Segmenting on page URL or Title not working"
Using Piwik 2.8.3-1

On our project we've set up an AB test, where a page we think might be a problem is skipped for A and not for B.

The A journeys trigger a virtual page view on Piwik (say "skipped page" ) , but when we segment on [Page name is " skipped page"] the only page these users see according to the report is "skipped page" - no other pages in their journeys are shown.

Segmenting on pa

[2015-07-28 17:13] LeCoyote commented on #8445
Apparently, the "correct" way to include the API would be:
[code]

This is for 2.14.2 ; 2.14.1 still appears to have the old core/Loader.php (which for some reason does *not* get deleted when upgrading from 1.x, but that's another issue and frankly, I'm too annoyed to create another one for now)

[2015-07-29 08:03] tsteur commented on #8438
I tried to reproduce it with an API call and a Controller call but couldn't. Worked fine. Possible that it only occurs when bootstrapping Piwik in a custom environment. I can see from the looks that it can happen when including `dispatch.php` (here we setup safemode) but not calling `FrontController::doDispatch()`.

Not sure what a proper fix is as I'm not sure how people use Piwik when bootstrapp

[2015-07-29 08:14] tsteur commented on #8438
Actually it should start a session here if needed as it *should* bootstrap Piwik and start session: https://github.com/piwik/piwik/blob/2.14.2/core/FrontController.php#L179

I cannot reproduce it. Need a concrete example to fix

[2015-07-29 08:34] tsteur opened #8453 "Enable auto update of travis.yml once Piwik 3.0 is merged to master"
See https://github.com/piwik/piwik/pull/8452#discussion-diff-35731015L93

Here we commented out the auto update of `travis.yml` to not having to create and maintain a branch in the travis submodule. Once we merge the `3.0` branch to `master` we should uncomment those 2 lines again.

[2015-07-29 08:41] tsteur commented on #8369
Just tried to reproduce and I'm seeing the current version in Dashboard and All Websites view. Also had a look at the code and cannot really see how this would not be shown. Which browser are you using?

[2015-07-29 08:55] shi-bmz commented on #8369
Original report from Firefox (recent version) on Windows 8.1
Currently using Firefox 12.0 on Linux (Ubuntu)

Currently, the Dashboard view shows no upgrade message (I did try upgrading to 2.14.1, but then that failed - I completed the installation by hand and noticed/read about some db data that got hosed so I restored from backup and reinstalled 2.13.1).

In Admin view, I see "Check for updates"

[2015-07-29 09:33] hpvd commented on #8161
@mattlab Would you see this as an piwik function or as a new plugin?

[2015-07-29 11:01] tsteur commented on #8222
What are we gonna do here? Anyone a problem with splitting them into multiple jobs (2 or more)?

[2015-07-29 11:27] tsteur commented on #7903
I'm not sure if I understand. Why should we return a valid response in this case? If it's to avoid exposing a message like `Access denied for user 'xyytueyeat'@'localhost' (using password: YES)` we should maybe rather catch this exception and use a different message?

[2015-07-29 12:18] tsteur commented on #7767
Maybe something like this?

# How to configure Redis as a shared cache in a load balanced environment

By default Piwik caches data in the local filesystem of each server. If your Piwik environment consists of multiple servers a common problem is that caches are only invalidated on one server instead of all servers. To workaround this we recommend to use a shared cache for all of your servers. You

[2015-07-29 12:35] tsteur commented on #8369
I just noticed this was fixed in https://github.com/piwik/piwik/commit/62ced744b161b6fc42e6b698063725c4b249e7db

Thx for creating the issue!

[2015-07-29 12:35] #8369 closed

[2015-07-29 13:06] mnapoli commented on #8447
Maybe related, I had to do this in my Docker branch: https://github.com/piwik/piwik/commit/2bbee201828157d4c4a3dfcc38da892ce74b4e77

The change basically auto-updates the `tests/UI/config.js` file which is necessary for UI tests (and that is easy to forgot).

Also had to do this fix: https://github.com/piwik/piwik/commit/cbf4f9208a9d32ba805b62dfd42553753067888a

FYI this is all currently on a sepa

[2015-07-29 13:15] tsteur commented on #7901
I tried to implement it but we'd need to load plugins in order to get an API renderer unless we hardcode the response for each possible API format.

[2015-07-29 14:05] quba commented on #2620
There's a workaround - you can strip all not needed parameters directly in the tracking code - it's similar to forcing lowercase URLs (of course some more logic required). See http://piwik.org/faq/how-to/faq_90/

[2015-07-29 14:16] tsteur opened #8458 "Apply default filter_limit to all API calls"
In https://github.com/piwik/piwik/commit/2d721cf08386b16f75f979d962c81be7db1689d6#diff-206e6082c2ac821ef0396bf60abbfec7R221 we added the support of `filter_limit` for API calls that return an `array`. However, we could not apply the default filter limit to those API calls as it would break the API. We would have suddenly returned only 100 entities instead of all entities for all API methods that r

[2015-07-29 14:23] #7835 closed

[2015-07-29 15:23] parruc commented on #8302
@mattab  I updated the productions server:
At the first run multisite plugin took something like 900 seconds to execute the query. Subsequent quesries (changing dates etc) were slightly faster but always over the minute. During these queries the  framed dashboard I'm using to present statistics was completly unresponsive so I had to disable again multisite.

These timings are referred to 9,5K prof

[2015-07-29 16:01] tsteur commented on #7983
FYI: I'm working on a fix. There was a comment made by @mattab in https://github.com/piwik/piwik/commit/79e71e3491829a2c1a2da309b15228caeb6a4a2e#diff-4a0e53d110e40cb8956ce81246ed49adL107

It is possible to do this with DataTable\Map instances but I'm not sure if it was not done re performance. It should not have any performance effect re Row evolution (`label` param) since we're not loading it exp

[2015-07-29 16:07] tsteur commented on #8193
FYI: In #8452 I changed the notification about EOL to PHP 5.4 see eg http://builds-artifacts.piwik.org/ui-tests.3.0/14501.7/UIIntegrationTest_admin_user_settings . I removed the message that we will drop support for PHP 5.4. Maybe this issue is already closed.

[2015-07-29 16:25] Maestro2k5 commented on #6095
+1

[2015-07-29 16:26] MagicFab opened #8461 "REF: add full URL source / origin of report in reports email template"
It would be useful to add information on where a report originated from (full URL / main URL / other) when reports are sent by email, possibly also in PDF properties.

This would help know the origin of reports for troubleshooting and management purposes.

[2015-07-30 06:21] diosmosis opened #8462 "Hash in Piwik frontend URLs should include ? instead of just /"
Currently the UI frontend will structure URLs like this:

`http://localhost/?module=CoreHome&action=index#/module=Goals&action=index`

This is ok for now since we don't use angular for URL parsing, however it won't be helpful later on. Using `$location.search()` with such a URL will return an empty object, since there is no '?' in the hash. Angular treats the string as a path instead of a query st

[2015-07-30 07:18] bodomic commented on #8436
That's a good question, I experience the same issue too. Realtime works fine, archived one is patially lacking data.

[2015-07-30 08:34] tsteur commented on #8462
FYI: This is already implemented in #8442

[2015-07-30 08:39] tsteur commented on #8436
I have no clue how this can happen right now. Maybe someone else does? It would be probably beneficial to get access to a database or to get a dump of a database to debug this issue - if possible. If that's possible for someone, please email us at "hello at piwik.org" and leave a comment here (in case it goes into spam folder)

[2015-07-30 09:06] quba commented on #8436
Do you monitor archiving logs?

Such situation may happen if there were archiving errors in the past (e.g. memory limit and others). It's possible that there are incomplete archives marked as done.

There are 2 solutions to confirm:
- you can either invalidate the data and then run re-archiving - http://piwik.org/faq/how-to/#faq_155
- or just drop numeric and blob tables for given month and re-arc

[2015-07-30 09:12] akrus commented on #8436
Okay, tried to increase memory_limit to 2G, dropped data for 2015_02 and launched archiving again, let's see...

[2015-07-30 09:56] mattab commented on #6953
Starting in 3.0.0 beta cycle, we can make database schema changes! :rocket: it feels good after 7 months to close this issue.

[2015-07-30 09:56] #6953 closed

[2015-07-30 11:13] tsteur commented on #7791
This looks fixed, I can no longer reproduce it in latest Chrome.

Also if there's only one dashboard the menu is now hidden (which is good) see eg http://demo.piwik.org/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=1&period=week&date=yesterday

Works also correctly with many dashboards. Either we fixed it or Chrome fixed something. Can anyone c

[2015-07-30 11:13] tsteur commented on #7791
@mattab you mentioned Chromium maybe you can have a look as well?

[2015-07-30 11:19] akrus commented on #8436
Now it archived fine, how to deal with this situation without reading logs all the time?

[2015-07-30 12:19] quba commented on #8436
Make sure that you have memory_limit set properly (2G should be fine but it depends on your traffic).

You can also set a basic monitoring (even cron job) that will grep the log file searching for errors and send an e-mail if needed.

[2015-07-30 12:30] swsharp commented on #8092
On the Piwik 2.10.0 server the only redirected output from the core:archive task is the following:
[code]
In the piwik.log file, with log_level = "DEBUG", this is the output:
[code]

By comparison, on the 2.14.1 server I am seeing a lot more output from `core:archive` and the task actually appears to be running. I am also receiving a test report without having to run `core:run-scheduled-tasks` on

[2015-07-30 12:55] meyway commented on #8413
Line 2140 of the current piwik.js:
locationHrefAlias = decodeWrapper(locationArray[1])

"decodeWrapper" is "window.decodeURIComponent" and "decodeURIComponent" expects UTF-8.

Since "locationArray[1]" holds "window.location.href" and since that contains the ISO-8859-... - characters, current piwik (IMHO) is not fully compatible with websites that encode Links in ISO-8859-...

Is the use of "unesca

[2015-07-30 13:50] phpdave11 commented on #6095
What about importing raw google analytics data?  I have a copy of every hit saved, can these be imported into piwik?

[2015-07-30 14:04] oswaldquek opened #8469 "./console customvariables:set-max-custom-variables should run in no interaction mode"
This faq http://piwik.org/faq/how-to/#faq_17931 describes how to add a custom variable to piwik.
If I just run `./console` however it says I can run it with `--no-interaction`. However this doesn't work. Looking at https://github.com/piwik/piwik/blob/3.0/plugins/CustomVariables/Commands/SetNumberOfCustomVariables.php#L58 it looks like the code doesn't check to see if the `--no-interaction` was spe

[2015-07-30 14:04] larsen0815 commented on #8014
I am experiencing this error with 2.14.2 (manually updated via SSH using latest.zip) when I go to "Administration > Diagnostic > System Check".

The console command tells me "The plugin is already activated."
In "config/config.ini.php" 'there is "PluginsInstalled[] = "Diagnostics"'.

[2015-07-30 14:17] tsteur commented on #8469
We currently do not really respect this option.

We could try to remove this option and completely ignore it, or respect it for some commands where it is possible. Not sure how many there are. I presume it shouldn't be that many as we usually do not ask for input if all needed information is provided. If not all information is provided and `--no-interaction` is set, we'd probably need to exit imme

[2015-07-30 14:28] oswaldquek commented on #8469
I'm not sure how many commands could do without interaction mode either. But maybe it could work for the use case of `./console customvariables:set-max-custom-variables`? The only interaction is asking the user to enter 'y' or 'N'. Something that isn't really necessary.

Just to give context, I was trying to add a custom variable via puppet rather than going to all my environments which had a piwi

[2015-07-30 14:45] tsteur commented on #8469
Already thought you have such a use case. It shouldn't be too much work to make it work indeed

[2015-07-30 14:50] oswaldquek commented on #8469
Thanks :)

[2015-07-30 15:36] mnapoli commented on #8014
@larsen0815 Could you trying reuploading the latest version of Piwik manually? (there are often issues with the updater). If the issue is still there, could you create a separate issue? (and try to run the command `diagnostics:run` and tell us what happen?)

[2015-07-30 17:45] bmoore9 commented on #8304
I am attempting a staged update from 2.13.1 to 2.14.2 and still getting this issue.

What the update says:
Database Upgrade Required

    Your Piwik database is out-of-date, and must be upgraded before you can continue.

    Piwik database will be upgraded from version 2.13.1 to the new version 2.14.2.

    *** Note: this is a Dry Run ***

    DROP TABLE IF EXISTS `piwik_site_setting`;
    CREATE

[2015-07-30 20:09] diosmosis commented on #8462
Can this be put into 2.15? It would be useful for a plugin I'm working on.

I assume BC for URLs might be an issue, right? I think the history service might take care of that automatically, but not sure.

[2015-07-30 21:26] 12th opened #8470 "While visiting each page only 1 second"
The report shows that the user visits, he stays on the page, only 1 second.

[2015-07-30 22:48] moderactif opened #8471 "CSS stylesheet not available"
Hello,

I upgraded the software and everything but it seems that the css is not loaded correctly as I can see just the html code

=> analytics.moderactif.com

why?

[2015-07-31 01:00] szepeviktor commented on #4977
I it a working feature or a planned one?

[2015-07-31 05:54] tsteur commented on #8462
BC for URLs should not be an issue for the Piwik reporting UI itself (for exported widgets etc it is an issue but this one doesn't affect them).

The PR cannot be put into 2.15, there are several breaking API changes. There were also various problems with those URL changes starting from UI tests to overlay to ... and there were code changes needed in various places. I reckon it would be easier to

[2015-07-31 05:56] tsteur commented on #4977
It is working in general but only very basic. We simply track all errors as events for now but hope to provide similar enhanced features some day than others do

[2015-07-31 06:14] tsteur commented on #8304
Dropping of this column is not expected. It doesn't show up in the dry run because the updater disables a plugin which can lead to further queries in another update. As the plugin was not disabled yet when collecting all the queries for the dry run, those queries won't be visible in the initial one.

I'm not quite sure why it still wants to drop the column. Maybe the opcache was not invalidated co

[2015-07-31 06:18] tsteur commented on #8471
Please try to execute `rm $PIWIKDIR/tmp/assets/*.css` on the command line in case you have access to the command line or delete this file manually on your webserver (there should be only one).

 it might fix your problem but not sure. It doesn't return any response at all when requesting the CSS but still an HTTP 200. Can you access your server logs and have a look there?

Did you update via the U

[2015-07-31 07:37] tsteur commented on #7913
I did some work to see if it's easy to fix in https://github.com/piwik/piwik/compare/7913

It seems to work but only kinda. The comment containing the plugin name is only visible in a subquery since the query generated by the log aggregator is surrounded by a ranking query usually. It looks like this (look for `/* Actions */` near the end):

[code]

Why did I not do this within the RankingQuery? B

[2015-07-31 07:43] tsteur commented on #7913
@mattab @mgazdzik what do you think? I need input on this one to continue

[2015-07-31 08:27] tsteur commented on #7953
Maybe something like this?

# Creating Pull requests: best practises

* We try to avoid big pull requests and aim for small PRs that are easier to review
* When issuing a PR we set a label `Pull Request WIP` and replace this label with `Needs Review` once the PR is done. If a PR refs another issue we assign the label `not-in-changelog`
* A PR should contain a description explaining things if usefu

[2015-07-31 08:32] quba commented on #7953
This one is a little bit tricky. Of course there are obvious things like small UI tweaks with updated screenshots but there are also small changes that may break things (and dev may be confident that it's a minor change even though it isn't). TBH I would review all the code except docs/readme update.

[2015-07-31 08:32] #8252 closed

[2015-07-31 08:35] quba commented on #8252
great, thanks!

[2015-07-31 08:41] tsteur commented on #7953
I know it's a little tricky. We kinda had this discussion in the other comments. If a developer is 100% sure that it doesn't affect anything then it can be merged directly. This includes docs/readme updates, some minor UI changes, things with very limited scope etc. If a developer doesn't know much about Piwik or in which way it works or what it can affect then this PR shouldn't be merged directly

[2015-07-31 15:17] bmoore9 commented on #8304
This is a list of the plugins activated on my system. It has been this way since I first installed Piwik just over a year ago. `Resolution` and `DevicesDetection` have always been enabled. I did follow through with the update on my dev setup and it actually only dropped the `location_browser_lang` column. When I tried upgrading previously to 2.14.1 there were a bunch more columns it removed from t

[2015-07-31 15:50] moderactif commented on #8471
File deleted, but nothing changed

sadly I do not have access to my server logs
I updated the software automatically, but the problem was there even with the previous version.. and php 5.4

Thanks for your tim!

[2015-07-31 21:29] dzincolorado commented on #7257
Hi,

Is there timeline for when this may be fixed?  It would be amazing to be able to pass an array of idSites into the tracker.

Thanks!
Denis

[2015-08-01 11:40] nickwright80 commented on #6095
+1

[2015-08-01 13:48] olegsv commented on #7266
Thanks

[2015-08-02 11:20] #8470 closed

[2015-08-02 18:41] myfirstnameispaul commented on #8372
@tsteur Sorry, I think I misread your first message when I replied.

Setting `noreply_email_address = username@example.com` in `config.ini.php` has solved the issue, however, it appears a different parameter is set for the password recovery emails, as that is sent from `password-recovery@www.example.com`.

[2015-08-03 02:52] diosmosis opened #8476 "New Tracker Concept: Ongoing Visits Cache"
While tracking actions, conversions or whatever for a visit, it is often necessary to get information about the current visit such as the current visit properties. This is done currently by selecting the last known visit from the database. If information is needed during tracking, a VisitDimension is used, adding a new column to the log_visit table which will be selected automatically. This approa

[2015-08-03 03:23] diosmosis opened #8477 "Load Testing System"
It is not currently possible to test Piwik under high load. The current approach is to use xhprof while tracking one or many requests and while archiving. Since archiving happens once per hour and there is never more than once 'archiving process' running at once (other core:archive processes should continue the existing run), using xhprof alone is ok. Tracker performance, on the other hand is not

[2015-08-03 08:15] seikai10 opened #8478 "Date range (7.1 8.3 )"
Oops… there was a problem during the request. Maybe the server had a temporary issue, or maybe you requested a report with too much data. Please try again. If this error occurs repeatedly please contact your Piwik administrator for assistance.

[2015-08-03 09:19] larsen0815 opened #8479 "Entry Piwik\Plugins\Diagnostics\DiagnosticService cannot be resolved"
Same problem as in ticket #8014 when I run "Administration > Diagnostic > System Check". I don´t know when this problem started as I clicked on that menu entry for the first time.

Output of "./console diagnostics:run"

[code]

The console command `./console plugin:activate Diagnostics` tells me:

 In `config/config.ini.php` there is `PluginsInstalled[] = "Diagnostics"`.

[2015-08-03 09:20] larsen0815 commented on #8014
Created ticket https://github.com/piwik/piwik/issues/8479

[2015-08-03 09:37] stastka commented on #8413
Seems to resolve the issue possible.
I would test a patch on my system

[2015-08-03 10:15] iMarkus commented on #8407
Works again in 2.14.2

Thx

[2015-08-03 10:43] mnapoli commented on #8479
Hi, could you paste the content of `plugins/Diagnostics/config/config.php`?

[2015-08-03 10:58] sebastianpiskorski opened #8480 "Tag 2.14.2 should be moved to 08fa53b or there should be new tag 2.14.3"
Because of this bug https://github.com/piwik/piwik/issues/8439 current tag 2.14.2 is unusable. So if the bug was fixed tag should be moved, because 08fa53b is hard to find.

[2015-08-03 11:10] larsen0815 commented on #8479
[code]

[2015-08-03 11:30] mnapoli commented on #8479
Thanks, this all looks normal. Is there a way you could provide us with a direct access to the server (temporary SSH access)? If so, you can send me an email to matthieu.napoli at piwik.pro.

Running `./console diagnostics:run -v` (verbose mode) might provide also a little more information, but I can run that myself if I can have access to your machine.

[2015-08-03 12:42] larsen0815 commented on #8479
I´m afraid, SSH access will not be possible for security concerns. We could start a view-only teamviewer session and chat however.

[code]

[2015-08-03 13:02] mattab commented on #8480
Hi @sebastianpiskorski
2.14.3-b1  was released, which contains the fix. 2.14.3 stable will be released in the next week or so

[2015-08-03 13:02] #8480 closed

[2015-08-03 13:06] mnapoli commented on #8479
I understand. Last checks:

- could you clear the caches (`./console cache:clear`)
- could you please check that there is a line `Plugins[] = "Diagnostics"` in your config.ini.php?

You said there is `PluginsInstalled[] = "Diagnostics"` but that only checks that the plugin is installed (not that it is actually enabled). Also `./console plugin:activate Diagnostics` did return something correct, but

[2015-08-03 13:29] larsen0815 commented on #8479
Caches: Cleared, same error when I clicked on "System Check" afterwards. Cleared cache again after that

[code]
Added 'Plugins[] = "Diagnostics"' and now I can run the system check. Thx =)

I recall that we had problems when updating to 2.0 (reversed, then skipped) and 2.4 (dev-system) and 2.5 (production system). The final solution was to remove the "plugins" section. This got automatically recre

[2015-08-03 13:29] #8479 closed

[2015-08-03 13:32] mnapoli commented on #8479
Glad to hear that! Thanks for letting us know

[2015-08-03 14:29] sgiehl commented on #8478
Could you have a look at the server error log if any error has been logged?

[2015-08-03 15:17] mattab opened #8483 "Add a call to "Get involved" for Piwik documentation"
In the page https://piwik.org/get-involved/ we would like to add a link to also invite contributors to help us with User guides :+1:

[2015-08-04 03:34] jagdish-nasit commented on #8419
Thanks @mattab, I checked and that bug and seems its tagged with short-term milestone. Do we have tentative date for this milestone ?

[2015-08-04 07:01] larsen0815 commented on #7698
Thx, I was able to find out the website now. Though, I was lucky to have an old instance of the database where the site was still in. It would be good when sites that get deleted are either only flagged as deleted (without actually deleting the record) or moved into another table like "site_deleted".

@mattab: May I open a new issue for that?

[2015-08-04 12:16] cyberbeat opened #8484 "Segment for page url results in problems with popups with defail-infos"
I created a segment for "pageurl" contains "myparam=1".

When displaying that segment, I have many problems, for example clicking on visitor-log for a city results in the page getting reloaded, but no details displayed.

some other actions result in an error-message

maybe the "=" symbol in the segment is a problem?

[2015-08-04 12:32] shenzhuxi opened #8485 ""open transition" and "open overlay" links only showed on urls at the end of the url hierarchy"
At Actions -> Pages, urls are displayed in hierarchy, and "open transition" and "open overlay" links only showed at the urls like this.
![screen shot 2015-08-04 at 13 28 52](https://cloud.githubusercontent.com/assets/585720/9060553/da005d68-3aac-11e5-9c3f-d512827528f3.png)

I'm using ref parameters to track users' click, and can't open transition and overlay directly.
![screen shot 2015-08-04 at 1

[2015-08-04 13:00] MagicFab commented on #8156
In preparation for tonight's Piwik Meetup in Berlin, there was a discussion today about LTS support. I presented how Debian and Ubuntu do LTS, possible ways/times to align with such release cycles/lifetime, feedback about Piwik 3 and upcoming changes to update mechanism and implementaiton possibilities was exchanged.

[2015-08-05 07:28] alessandrocanovi opened #8486 "Log Analytics problem on 2.14.2"
After upgrading Piwik to 2.14.2 visitor IP of imported logs is always Piwik server IP

[2015-08-05 07:31] pavarnos opened #8487 "TypeError: L[Y] is undefined when adding setUserID"
Hi.

Using Piwik 2.14.2. Copied and pasted the latest tracker code from the piwik admin into my site. Added setUserID per the instructions here http://developer.piwik.org/guides/tracking-javascript-guide.

[code]

Get the error message
TypeError: L[Y] is undefined in piwik.js:14:658
in the Firefox developer console.
(piwik server is Ubuntu 14.04 with php 5.6.11-1+deb.sury.org~trusty+1)

If I remov

[2015-08-05 13:21] mattab opened #8489 "When misc/GeoLiteCity.dat file is missing, this can break Piwik"
Right now, demo.piwik.org shows "This connection was reset" error. It's completely broken and not accessible. Looking at errors logs we can see continuously these errors added:

[code]

Suggested solution:
- when the /misc/GeoLiteCity.dat file is corrupted, Piwik / PHP process should not crash
- can we add a test that simulates a corrupt /misc/GeoLiteCity.dat and check that Piwik tracking + UI sti

[2015-08-05 13:25] mattab commented on #8489
Looking on the server, the file does not actually exist.

[code]

I'm wondering why Piwik tries to load the file when it does not even exist, maybe this is the bug?

[2015-08-05 13:39] mattab commented on #8489
FYI: to workaround this issue I had to re-download the geoip database:

[code]

[2015-08-05 14:13] vincepettit opened #8490 "Install script broken"
When running the installation script it is trying to check permissions on /home/mysite/public_htmlconfig/
but it be /home/mysite/public_html/config/

This is currently stopping the installation going any further.

[2015-08-05 14:39] hpvd opened #8491 "Visitor Profil: direction of visit-numeration is confusing"
In the visitor profile you can see the visits of a visitor.
These visits are numbered from top to bottom.

Shouldn't it be from the logical pow the other way around,
so that the first visit has number 1 and every new visits gets the following number?

In addition beside the logic problem, the number of the visits in the past changes, so one could not talk about e.g. the visit with number 4  becaus

[2015-08-05 14:48] vincepettit commented on #8490
I suspect it is on line 408 of core/Config.php as there seems to be a preceding slash to config

$path = "config/" . basename($this->getLocalPath());

I tried updating the code but it is now telling me there is a integrity error as the file has been changed so I can't test it.

[2015-08-05 14:49] sgiehl commented on #8490
duplicates #8439, and should already be fixed in latest beta

[2015-08-05 14:49] #8490 closed

[2015-08-05 15:07] berniezhao commented on #6095
+1

[2015-08-05 16:15] hpvd opened #8492 "Visitor log: usability problem after clicking "next""
In Visitor log you can scroll down and click "next"-Button to see the visits before (within selected period)
After having done this you scroll up again to have a look the first visits of the selected period again.
=> Then you noticed you can't.
So you have to scroll down again and click "before" there.

Because the website are very long,
it would be better
a) to have a next button at the bottom
an

[2015-08-05 16:32] hpvd opened #8493 "Visitor Profile: show al IPs"
In Visitor profile only one IP is shown,
even if there are several different IPs used for several different visits.

=> One idea to solve this, is to remove the IP from the visitor detail area and add the IPs to each visit.

Please see attachment.

![2015-08-05_18h23_28](https://cloud.githubusercontent.com/assets/5681880/9091401/54550a7a-3ba0-11e5-894e-ef116afe3658.png)

[2015-08-05 16:47] vaclavpavek opened #8494 "piwik.js - public method for browser information (browserFeatures)"
Please, create public function for getting browser information. Thanks

[2015-08-05 18:18] erodrig9 opened #8495 "Improve help tooltip for "Revenue per visit" column metric"
I am seeing incorrect values for the "Revenue Per Visit" column in the Referrer Websites widget. However the values in "Goal Ecommerce conversions by type of visit" look correct. I attached screen shots of the two for comparison. All other fields look good except for this one.
![ecommerceconversions2](https://cloud.githubusercontent.com/assets/788857/9093867/a0552528-3b7c-11e5-8fa3-7243b2a52b0f.PN

[2015-08-05 18:27] mattab commented on #8319
This is the kind of UI details that matter a lot to users :-) it was reported twice recently in http://forum.piwik.org/read.php?2,128544

[2015-08-05 18:38] mattab commented on #8439
Bug was fixed in 2.14.3-b1 and will be released shortly

[2015-08-05 18:38] #8439 closed

[2015-08-05 23:00] piwikfan opened #8496 "Ampersand (&amp;) when adding/configuring Website and using & in URL textinput"
I just found out about this bug. Don't know it it was present in a previous release of piwik. Currently I'm using the latest version 2.14.2

When adding a new site or configuring one and entering an URL with and and symbol (&) the resulting db entry for this site will be `&amp;` although it just should be `&`.
Using the small picture link in the "All Websites" Dashboard will then redirect (in my c

[2015-08-06 07:35] tsteur opened #8497 "Privacy Settings: Do not send token_auth via GET and POST"
See eg https://github.com/piwik/piwik/pull/8002#discussion-diff-31667646L11 , https://github.com/piwik/piwik/pull/8002#discussion-diff-31667834R29 , https://github.com/piwik/piwik/pull/8002#discussion-diff-31667901R98 , ...

It shouldn't be sent as GET as the token could appear in server logs

[2015-08-06 07:40] tsteur commented on #8372
That's a bug then. Probably `{DOMAIN}` should be replaced but isn't

[2015-08-06 07:40] tsteur commented on #8372
refs #7445 maybe it's even a duplicate

[2015-08-06 07:48] tsteur commented on #8494
What kind of browser information? The `piwik.js` is not really supposed to be a library to detect browser etc and is only meant to send tracking calls to Piwik

[2015-08-06 07:50] tsteur commented on #8491
:+1:

[2015-08-06 07:53] tsteur commented on #8487
It should be `setUserId` not `setUserID`. Please reopen in case it does not solve it

[2015-08-06 07:53] #8487 closed

[2015-08-06 07:54] tsteur commented on #8486
Can you maybe give us more information and maybe 2 or 3 example lines of the log you are importing? What kind of log format is it?

[2015-08-06 07:54] gittoar opened #8498 "Suppress warning for NFS-filesystem if db-based sessions are activated"
Please suppress the warning for NFS-filesystem if db-based sessions are activated.

http://forum.piwik.org/read.php?2,108946,128693#msg-128693

[2015-08-06 07:58] tsteur commented on #8485
Is excluding the ref parameter an option for you? See http://piwik.org/faq/how-to/faq_81/ . All the URLs under `node/1/?ref=` would be merged together as one pageview

[2015-08-06 08:03] vaclavpavek commented on #8494
I am doing a project which is part of the technical support and the primary goal is to find out as much information about the user in order to resolve technical problems on us developed web applications.

All projects can play with Piwik aa'm satisfied. It occurred to me to use part of it (like Piwik / device-detector) to collect information that can not be read from the UA.

I have no problem to

[2015-08-06 08:15] tsteur commented on #8471
It won't be possible to do it manually as the file would be overwritten. Without having access to the server logs it will be hard to tackle this issue. From which version did you update? Is it maybe possible that we get access to the server itself. If so, please send us an email to "hello at piwik.org" and comment here

[2015-08-06 08:26] srhong opened #8499 "Is it possible to display individual page gentime in widget or simple screen?"
Hi, It's very useful feature, avg.gentime factor.

Is it possible in page - individual access(IP) - menu or some DB query?

[2015-08-06 08:27] shenzhuxi commented on #8485
@tsteur Then I can't tell which link users clicked.

[2015-08-06 08:31] srhong commented on #8499
I want to check gentime(network time+response time) from various country.

[2015-08-06 09:31] tsteur commented on #7837
FYI: I created a PR for the docs in https://github.com/piwik/developer-documentation/pull/100 as we deprecate the events we need to provide docs for the alternative solution

[2015-08-06 10:03] hpvd opened #8501 "visitor profile: text somtimes out of lightbox"
In the visitor profile, sometimes the text at the bottom  "For this visitor there are no more visits" (similar)
is not completely within light box
(seen in FF)

Please see attachment

![2015-08-06_11h58_26](https://cloud.githubusercontent.com/assets/5681880/9109065/1f954cb2-3c33-11e5-9da1-6ac14a0181d7.png)

[2015-08-06 12:15] tsteur commented on #8494
Fair enough and good idea to reuse existing stuff.
The device detection is happening in Piwik itself in PHP and not in `piwik.js` unfortunately. We cannot offer such an API to get this kinda information. The repository for the device-detector is here: https://github.com/piwik/device-detector/ and you might want to have a look at https://github.com/piwik/device-detector/issues/5257 and comment re a

[2015-08-06 12:15] #8494 closed

[2015-08-06 12:26] tsteur opened #8503 "Remove deprecated events"
Follow up for #7837

All we have to do is to remove deprecated events from the code, make sure they are not used by core anymore and mention it in changelog

[2015-08-06 12:31] tsteur commented on #7953
assigning to @mattab , don't know whether summary is ok and into which "document" this goes

[2015-08-06 12:32] tsteur commented on #7767
assigning to @mattab for now to put it into FAQ in case it is ok

[2015-08-06 13:25] tsteur commented on #8030
I presume we cannot trust `HTTP_X_FORWARDED_HOST`? Should we only accept `$_SERVER['HTTP_X_FORWARDED_HOST']` configured/allowed hosts? From what I've seen there is no such config yet unless we use `trusted_hosts[]` config?

Also not sure re possible downsides of `./`

[2015-08-06 13:27] tsteur commented on #8030
Also we would probably not read `HTTP_X_FORWARDED_HOST` hard coded but only configured `proxy_host_headers` headers?

It would be really good to have an environment where one can test it.

[2015-08-06 13:58] tsteur commented on #8489
I tried to reproduce by removing the file `misc/GeoIP.dat` and by corrupting this file (removing lots of content everywhere, replacing it with other files etc). I cannot reproduce it neither in Tracker nor in Piwik. Also tried Default Provider, PHP provider and PECL provider. Even restarted apache etc after each change.

Do you still have that corrupt file? Tried `http://demo.piwik.org/misc/GeoIPC

[2015-08-06 14:05] tsteur opened #8505 "Visitor map shows info icon but no tooltip when there is no data"
See title.

Expected: Either show a tooltip or do not show an icon at all

![visitormap](https://cloud.githubusercontent.com/assets/273120/9113443/ee34e1b0-3c54-11e5-9d86-f19a3a723429.png)

[2015-08-06 14:06] rugk opened #8506 "Table layout broken in hierarchy view"
With Piwik 2.14.3 in Firefox 39 the tables seem to be a bit broken. Basically you can only see numbers, hyphens and a few URLs (I censored them below) - but all of them in one bunch.
But this only happens if I view the table (in the actions part) in the folded (hierarchy) view. If I view it in the unfolded view all looks right.
![piwiktableerrors 2](https://cloud.githubusercontent.com/assets/11966

[2015-08-06 14:23] rugk opened #8507 "Custom variables all in one graph"
The [custom variables] (https://developer.piwik.org/guides/tracking-javascript-guide#custom-variables) are all in one graph - no matter what you do. In the table view this may be okay, because you can unfold the name  of the variable and see the results.
But if you select a graph (e.g. a pie chart) at the bottom it at first displays the percentage of the variable names (so the 'category'). E.g. if

[2015-08-06 14:57] Cruiser13 commented on #3135
This issue does still exist for me with Piwik 2.14.3 and Internet Explorer 11 if third party cookies are disabled.

[2015-08-06 15:10] tsteur commented on #7718
I uploaded an xhprof profile for a single pageview here: https://blackfire.io/profiles/4396e3dd-d9cf-4c48-a337-b5e4737057af/graph It looks good and seems like nothing regressed extremely.

Here is a profile taken with xhprof of a bulk request (with 133 requests): https://blackfire.io/profiles/1849a1c0-6483-4b4c-84eb-9f2d3896951c/graph. I can't tell if anything regressed but didn't find anything th

[2015-08-06 15:10] #7718 closed

[2015-08-06 15:24] mnapoli commented on #7718
Time spent in Composer and loading files seems very high in your first profile, I already asked this but did you optimize the autoloader? And did you remove dev dependencies (as they can overload the classmap and make a difference in short lived processes)? Also I don't know if you still use PHP 5.4 but did you use an opcache?

Anyway good to know there is no regression.

[2015-08-06 15:28] tsteur commented on #7718
yes autoloader optimized, I didn't remove dev dependencies but that's not really important in this case. It's PHP 5.5 with opcache and warmed up of course

[2015-08-06 17:29] szepeviktor opened #8508 "Exclude development files from release"
Could you please exclude `.phpstorm.meta.php` and other development files for e.g. Composer?

[2015-08-06 17:29] szepeviktor commented on #8508
Do you keep your release script in this repo?

[2015-08-06 17:31] szepeviktor commented on #8156
PHP 7 is imminent.

[2015-08-06 22:20] 1stone opened #8509 "when using LDAP authentication, tracking api fails to verify token_auth"
Since one of the last upgrades (I guess it started with the first 2.14 release) I noticed that the log-importer has failed to import any provided Apache logs.
After some tedious debugging, I believe I've tracked it down to a problem in the tracking api, which is not accepting the presented token_auth and thus does not honor the `cip` and `cdt` attributes in the request.
As a consequence of that, l

[2015-08-07 06:31] tsteur commented on #8506
Can you reproduce this on our demo: http://demo.piwik.org/index.php?module=CoreHome&action=index&idSite=32&period=day&date=yesterday#/module=Actions&action=menuGetExitPageUrls&idSite=32&period=day&date=yesterday ?

[2015-08-07 07:05] larsen0815 commented on #7698
Would it be possible to log the referrer so you can see which domain is responsible for the log entries?

[2015-08-07 08:24] tsteur commented on #8509
This reminds me of #7202 that we should not fallback to wrong data but instead not track at all in case the token_auth was not considered valid, this way such errors are detected earlier.

Did you modify your token? If not, please change your password so a new token will be generated.

I think we should first figure out whether really the bulk API is the problem or the importer. How did you execut

[2015-08-07 08:50] tsteur commented on #7816
FYI: In the tracker debug log I get:

[code]

[2015-08-07 09:03] tsteur commented on #7816
Here's some more info from `$_SERVER` (I removed some keys and some information):

[code]

Interesting could be eg
[code]

[2015-08-07 09:13] tsteur commented on #7733
FYI: In the tracker debug log I get:

[code]

Here's some more info from `$_SERVER` (I removed some keys and some information):

[code]

Interesting could be eg
[code]

[2015-08-07 09:14] tsteur commented on #7816
FYI: Deleted 2 comments as they belong to a different issue

[2015-08-07 09:16] tsteur commented on #7733
Created an issue for the device-detector library: https://github.com/piwik/device-detector/issues/5363

I presume we should keep this one open?

[2015-08-07 09:21] tsteur commented on #8066
Is there an instance to reproduce this and to test different queries / possible fixes?

[2015-08-07 09:25] mnapoli commented on #8222
I'm just going to link what I worked on a few weeks ago so that it's not lost if anybody wants to reuse it: https://github.com/piwik/piwik/compare/docker

This branch contains the following changes:

- **make Piwik run on Docker** (`docker-compose up`)
- **run UI tests in parallel**: `./console tests:run-ui-docker --parallel=12`

The command will run each UI test suite into isolated containers (ow

[2015-08-07 09:35] 1stone commented on #8509
The token was not modified, and it doesn't work with any superuser tokens.

Apart from the default plugins, only the vanilla LdapLogin (v1.3.4) plugin was installed.

When trying to reproduce the error, please assure to pass the `cdt` and `cip` attributes, since they require the token_auth!

Please use something like this to reproduce the error:
[code]
(Note: This is an extract of the request whic

[2015-08-07 09:43] mnapoli commented on #8508
Thank you, I've created a pull request: https://github.com/piwik/piwik-package/pull/34 The release script is indeed in a separate repository.

[2015-08-07 09:44] szepeviktor commented on #8508
Are Bower and Composer files needed in production?

[2015-08-07 09:51] 1stone commented on #8509
For reference, this is the original request sent from log-importer-py to PIWIK (URL was obfuscated):
[code]

[2015-08-07 09:53] mnapoli commented on #8508
For Bower and Composer I have to say honestly I'm not so sure… I would say no but since they are kept in the release there might be a reason for it. Ping @mattab who might have an answer.

[2015-08-07 09:54] szepeviktor commented on #8508
@mattab Could you please help us?

[2015-08-07 10:37] tsteur commented on #8509
I just mentioned to change the password and to generate a new token as anyone could otherwise log into your Piwik with this token.

I did and it works. I presume it is related to LoginLdap maybe. @diosmosis do you have LoginLdap setup? If so do you mind having a quick look and trying to do a bulk request with `token_auth` and `cdt/cip`?

[2015-08-07 10:53] tsteur commented on #8508
They should not be needed at the moment and could be removed - if needed.

[2015-08-07 10:59] diosmosis commented on #8509
I don't have loginldap setup (also currently eating), but LoginLdap should be at 3.0+ so 1.3.4 is very old. Assuming everyone's talking about the same plugin though, 1.3.4 should not actually work with the latest piwik.

[2015-08-07 11:00] 1stone commented on #8509
The posted token is a fake, so no problem there. In my tests I replaced this with the real token, of course.

The cause of the problem is obviously the LoginLdap plugin!
I deactivated it, and the service immediately responded properly.

So, either there is a bug in the LoginLdap plugin, not honoring the locally stored auth tokens, or it is a misconfiguration.
However, from looking at the plugin co

[2015-08-07 11:01] szepeviktor commented on #8508
I prefer a clean production code.

[2015-08-07 11:20] tsteur commented on #8509
Can you try to update the plugin?

[2015-08-07 11:20] 1stone commented on #8509
Sorry, that was a typo.
LoginLdap is on 3.1.4.

[2015-08-07 11:21] tsteur commented on #8509
ok, so it sounds like a bug. Thx!

[2015-08-07 11:48] rugk commented on #8506
Well when clicking on your link I got only index-sites.
![piwikonlyindex](https://cloud.githubusercontent.com/assets/11966684/9135047/0df6574e-3d0a-11e5-8eab-b16f77833426.png)
And even if I select the whole week there only one site in each group:
![piwikonlyindex_week](https://cloud.githubusercontent.com/assets/11966684/9135095/63ff2fa8-3d0a-11e5-98f6-eceaab9af1f1.png)

So if I manually go to demo

[2015-08-07 11:52] rugk commented on #8506
Okay, finally I got a table with more entries and it works there:
![piwikdemo_correcttable](https://cloud.githubusercontent.com/assets/11966684/9135225/7c941262-3d0b-11e5-9a40-d509cfba8a9f.png)

[2015-08-07 12:07] diosmosis commented on #8509
@1stone can you post your LoginLdap configuration (a screenshot of the settings page will do)?

[2015-08-07 12:35] 1stone commented on #8509
![ldap_settings](https://cloud.githubusercontent.com/assets/6303891/9135811/881704f4-3d11-11e5-9cc2-e8554e6ef729.png)

[2015-08-07 12:43] tsteur commented on #8506
Is it possible that you create an account with view access to your Piwik installation so we can debug? If so, please send us credentials to "hello at piwik.org" and comment here afterwards (just in case it goes to spam folder). You could delete the account directly after we had a look again