[2021-11-09 21:18] tsteur commented on #15208
👍  from Matomo 4.6 CustomVariables will also no longer be included by default. I'm glad it's now working @jurgenhaas

Let us know if there's another issue. I'll close it meanwhile as it should be fixed with the next release.

[2021-11-09 21:18] #15208 closed

[2021-11-10 00:40] MyIcecream commented on #18281
+----------------------+
| LENGTH(option_value) |
+----------------------+
|                  117 |
+----------------------+
SELECT option_value FROM matomo_option WHERE option_name = 'ReArchiveList';
+-----------------------------------------------------------------------------------------------------------------------+
| option_value

[2021-11-10 01:20] diosmosis commented on #18281
@MyIcecream yes, those two queries look right.

[2021-11-10 01:37] MyIcecream commented on #18281
It worked, thank you all @diosmosis @sgiehl

[2021-11-10 01:40] GreenReaper commented on #17686
I tried 4.6.0-beta3 on PHP 8.1-RC5 and found that in [plugins/GeoIp2/LocationProvider/GeoIp2/Php.php, function setCountryResults()](https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/GeoIp2/LocationProvider/GeoIp2/Php.php#L242), a couple of strtoupper() calls are intermittently throwing deprecation errors, when `$lookupResult->continent->code` and/or `$lookupResult->country->isoCode` are nu

[2021-11-10 01:52] diosmosis commented on #18281
Glad to hear it worked! I'll close the issue.

[2021-11-10 01:52] #18281 closed, assigned to nobody

[2021-11-10 02:38] tsteur commented on #13321
Here already a few notes:

* In UI "Add new user" button becomes "Invite a new user".
  * Password field removed.
  * Username field stays. Why? Because it won't be easy to configure that user without username in Matomo as it's the ID.
* New API for "invite user". Old "addUser" we still keep for BC and possibly also beyond that
* Activity log should recognise "invite user" and "invite user accepte

[2021-11-10 19:14] #18244 closed, assigned to sgiehl

[2021-11-11 01:31] peterbo commented on #18270
+1 - Time on page is currently calculated incorrectly on pages that trigger events or site searches (and probably others like outlinks). The time on page timer should only be stopped by another pageview.

![time on page1](https://user-images.githubusercontent.com/1018973/141221344-a04e6f5c-8eb6-4b30-8737-4a599fb6f077.png)

Time on page should be 14s here, because the second pageview happened 14s a

[2021-11-11 03:14] peterbo opened #18291 "Page Overlay doesn't seem to work when tracking code Matomo URL is different from Matomo GUI URL (e.g. proxy configuration)"
## Expected Behavior

When opening the Page Overlay feature for a given URL, the Page Overlay should open and display the corresponding numbers and overlay data for a given page.

## Current Behavior

Currently, if the Matomo tracking URL is different from the Matomo GUI URL (e.g. in proxy environments), Overlay does open, but keeps the loading screen in the left frame (no data will be loaded), an

[2021-11-11 07:45] sgiehl commented on #18270
That indeed sounds like a bug. @peterbo Are you able to say if that only has effect on the visits log, or is that also the case for the overall time one page calculation you can see in the pages reports?

[2021-11-11 08:26] sgiehl commented on #18270
@peterbo Had a quick look at the visits log implementation. This might possibly fix it: https://github.com/matomo-org/matomo/compare/vlogtimeonpage
But I'm currently not able to finish that PR by adding some tests as my time is quite limited. Will try to finish that another time if no one else is able to pick that up till then.

[2021-11-11 10:59] sgiehl commented on #18291
@peterbo could you maybe check if there are failing requests when opening the overlay? Maybe there are some CORS headers in place that are causing issues?

[2021-11-11 11:04] sgiehl commented on #17686
@GreenReaper Thanks for mentioning that. I'll create a PR to fix them.

[2021-11-11 15:19] peterbo commented on #18270
That's a good question. It definitely reflects the wrong behaviour in the link_visit_action table (time_spent_ref_action), but perhaps the archiver uses another logic. I'll check later in a smaller instance and replicate this.

[2021-11-11 16:32] peterbo commented on #18270
Luckily, it looks like it doesn't affect the calculation of the pages report "avg. time on page", but just the display within the Visitor log:

![time_on_page2](https://user-images.githubusercontent.com/1018973/141325340-8631e6b9-2c1c-436d-a6bc-041f5151507f.png)

[2021-11-11 19:06] tsteur commented on #18270
Is this a duplicate of https://github.com/matomo-org/matomo/issues/9198 ?

[2021-11-11 20:12] sgiehl commented on #18270
@tsteur it's not a duplicate. #9198 is about the average metric, which is also wrong for a similar reason. This is about the time on page displayed is the visits log tooltips. The linked PR aims to fix that, even though it's not yet complete.

[2021-11-11 23:23] tsteur opened #18295 "When aggregating data tables for a week, month, year or range period, don't store all archive content in memory"
This is a follow up from https://github.com/matomo-org/matomo/pull/17817 where we only expand one data table at a time.

We've noticed though we're still seeing sometimes memory issues for eg a yearly archive where it exceeds 8GB. This archive has 9 levels down of subtables and overall a lot of rows. One thing that could help with memory be in **to not load the data of all data tables at once into

[2021-11-11 23:38] tsteur commented on #18295
I checked and in the case where we have a memory issue, `$dataTableBlobs` variable alone consumes 3.1GB memory. This is before any data table is expanded.

[2021-11-12 08:16] 54mu3l commented on #18132
Never mind.
My problem is that the System-Check tries `https://mydomain.com/config/config.ini.php` instead of `https://mydomain.com/matomo/config/config.ini.php` (Issue #17945).

[2021-11-12 12:24] dennisbaaten opened #18301 "Masking of IPv6"
The [FAQ](https://matomo.org/faq/general/faq_20870/) describes the way masking is done for IPv6 addresses:

First of all, I find the example IPv6 address a bit confusing since the full /128 version has two "0" quartets in it.

When looking at the masking options, the FAQ seems to suggest that the IPv6 masking options are:
- 64 bits
- 80 or 96 bits
- 108 bits

At the same time the [source code](htt

[2021-11-12 23:49] #18250 closed, assigned to peterhashair

[2021-11-13 00:32] MichaIng commented on #18117
Another one:
[code]
As it implements: https://www.php.net/manual/en/class.iteratoraggregate.php

Probably setting:
[code]
for the `public function getIterator()` does it?

[2021-11-14 14:10] sgiehl commented on #18251
@peterhashair Some of the requirements are not yet fully met for the feature. Maybe you can create some additional pull requests for those:

- This feature is currently also shown for mobile. We should hide it for at least very small screens and maybe make the layout on smaller screens bit more responsive so it looks good.
- The banner is also shown if WhiteLabel plugin is enabled. We used to use

[2021-11-14 15:49] MichaIng opened #18303 "[4.6.0-b2] Error: Call to undefined function Piwik\piwik_fix_lbrace() in DiagnosticResult.php"
## Expected Behavior
The diagnostic check when accessing admin settings does not fail.

## Current Behavior
The diagnostic check when accessing admin settings fails with this errro:
[code]
If you need the stack trace, I can add it.

## Possible Solution
- Related code: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Diagnostics/Diagnostic/DiagnosticResult.php#L74
- Probably this function

[2021-11-14 18:51] jonathannoel commented on #18162
Hey ! I'm on it.

[2021-11-14 19:05] tsteur opened #18305 "Diagnostic Check for private directories does not work when Matomo is installed in a directory"
see https://github.com/matomo-org/matomo/issues/18132#issuecomment-966908570

I checked and it's using `SettingsPiwik::getPiwikUrl` indeed. Maybe something like `Url::getCurrentUrlWithoutQueryString()` should be used.

Do I see this right that we might be using `SettingsPiwik::getPiwikUrl` wrong also in quite a lot of other places @sgiehl ? Maybe we need to adjust the method to also consider the p

[2021-11-14 19:08] tsteur opened #18306 "Make Matomo work when it is installed in a directory"
refs https://github.com/matomo-org/matomo/issues/18305 and https://github.com/matomo-org/matomo/issues/17945 and potentially quite a few more.

I see we often use `Settings::getPiwikUrl`. But this only returns a host, not the directory.

In quite a few places like https://github.com/matomo-org/matomo/blob/4.6.0-b3/core/DataTable/Renderer/Rss.php#L56 we only use `getPiwikUrl` which doesn't include

[2021-11-14 19:09] tsteur commented on #18132
Thanks @54mu3l created https://github.com/matomo-org/matomo/issues/18306 and https://github.com/matomo-org/matomo/issues/18305

[2021-11-14 19:36] tsteur commented on #18301
Thanks for creating this issue @dennisbaaten . I can see eg for the Matomo server IP `2a00:b6e0:0001:0200:0177:0000:0000:0001` and double checked that this results in `2a00:b6e0:1:200::`. Geolocation etc works still well. It wouldn't identify an individual though if I see this right. Not sure though how all the ISP's handle it. Also looked into some personal IPs and it shouldn't identify an indivi

[2021-11-14 19:52] tsteur commented on #18251
We will definitely want to avoid that too many people see the banner at once. Maybe if we don't have a creation date or something then we simply pick a date from the last 6 months randomly or so? We need some solution that distributes this somewhat evenly so never too many people at once see it and submit the feedback.

[2021-11-14 21:20] e-gaulue opened #18307 "Please comply with PEP 394 with import_logs.py"
## Expected Behavior
When running lintian on the matomo debian package I shouldn't get this warning:
[code]

According to python PEP 394 (https://www.python.org/dev/peps/pep-0394/), we should provide python2 or python3, but not just python. Which one to choose?

I can make the change on the fly in the building of the Debian package, but I wonder if it won't be better to deal with it directly in Ma

[2021-11-14 21:42] alexhass commented on #18132
Thanks for identifying the root cause. My install is also in a subdir. So I guess it is just a false alarm for now.

[2021-11-14 21:57] tsteur opened #18310 "Fatal error Impossible to invoke a method (\"getRowsCount\") on a boolean variable"
Stacktrace:

Url:

Referrer: index.php?module=CoreHome&action=index&idSite=2&period=range&date=last30&updated=3

[2021-11-14 22:14] sgiehl commented on #18303
I'm actually not able to reproduce that with PHP 8.1-rc6. For me the diagnostics runs without problems 🤔

[2021-11-14 22:15] #18162 closed, assigned to jonathannoel

[2021-11-14 22:25] MichaIng commented on #18303
Hmm, I face regular segmentation faults of all php-fpm children after accessing that page now (the gear icon, initial page, segfauls temporarily solved by service restart) and an error loading the top right diagnostics, but indeed not the same error anymore. Not sure but there seems to be an issue on a different level which I need to identify first.

Btw, another minor one when accessing that page

[2021-11-14 22:27] sgiehl commented on #18303
@MichaIng thanks for the update. The CSP issue should already be fixed, but was not yet included in any beta I guess.

[2021-11-14 22:31] MichaIng commented on #18303
Great. Sorry for the spam, seems to be a system issue and not necessarily a bug in Matomo. I'll close this hence for now and try to further investigate first what causes this segfault loops. I observed it once already with PHP8.0, so maybe it's a specific PHP module (those get updates for both PHP versions) or another system library or so 🤔.

[2021-11-14 22:31] #18303 closed, assigned to nobody

[2021-11-14 22:35] jmumby opened #18311 "Add the referrer to the real time log similar to the Matomo App"
The Matomo app shows the referrer in the real time log.

APP
![image](https://user-images.githubusercontent.com/4339071/141701143-8eb32df7-ee9f-4c48-8a8a-dcb0ab846212.png)

The browser version does not have this data.

Web APP
![image](https://user-images.githubusercontent.com/4339071/141701176-a6031114-7521-475e-b5bc-f6b7a53b7f1e.png)

The desktop version is of course the same.

## Summary
Can we

[2021-11-14 22:35] jmumby opened #18312 "Add the referrer to the real time log similar to the Matomo App"
The Matomo app shows the referrer in the real time log.

APP
![image](https://user-images.githubusercontent.com/4339071/141701353-70c69d89-6e88-48c6-a936-28dbdb7ffa15.png)

The browser version does not have this data.

Web APP
![image](https://user-images.githubusercontent.com/4339071/141701176-a6031114-7521-475e-b5bc-f6b7a53b7f1e.png)

The desktop version is of course the same.

## Summary
Can we

[2021-11-14 23:00] jameysharp commented on #18312
Specifically, this happens for incoming links with `?mtm_campaign=` query parameters. In the Android app, the referrer appears as `from <campaign> - <domain>`, which is great. There just isn't any referrer information in the web version, on mobile or desktop, _if_ a campaign ID was passed.

If there's no campaign ID, then the Android app shows `from <domain>` and the web version shows `Website: <d

[2021-11-14 23:04] #18305 closed, assigned to nobody

[2021-11-14 23:04] tsteur commented on #18305
actually let's use the original issue

[2021-11-14 23:05] tsteur commented on #18132
Thanks for confirming @alexhass

There must be something wrong with the method for the URL maybe as I'm just seeing it's actually supposed to include the path, but it doesn't seem to be the case in https://github.com/matomo-org/matomo/blob/4.6.0-b3/core/SettingsPiwik.php#L193

I guess once https://github.com/matomo-org/matomo/issues/18306 is fixed, this issue might be fixed too. Or the other way a

[2021-11-14 23:06] tsteur commented on #18306
Actually, I'm seeing the method `getPiwikUrl` is supposed to include the directory see https://github.com/matomo-org/matomo/blob/4.6.0-b3/core/SettingsPiwik.php#L193

Maybe we can instead check if there's an issue with that method and if something is not working there?

I guess once https://github.com/matomo-org/matomo/issues/18132 is fixed, this issue might be fixed too. Or the other way around.

[2021-11-15 00:01] tsteur opened #18313 "Newsletter Signup in personal settings, mention Matomo privacy policy applies"
![image](https://user-images.githubusercontent.com/273120/141704164-72ba280a-8714-498c-b1de-58baf333369f.png)

It should say

"on our privacy policy" can be misleading as users might have a custom privacy policy applied (which can be configured in Privacy settings). And "our" isn't "us" (Matomo) when it's hosted by a user (it would then mean it's the user's privacy policy).

[2021-11-15 03:32] tsteur commented on #18232
@peterhashair seems this one is maybe done and can be closed?

[2021-11-15 04:13] peterhashair commented on #18232
@tsteur yes can be closed.

[2021-11-15 04:13] #18232 closed, assigned to peterhashair

[2021-11-15 10:55] seyuf commented on #17843
Hi @valentin-ed did you solve this issue? I'm having the same thing on matomo **v  4.5.0**.

[2021-11-15 12:53] sgiehl commented on #17686
When running tests locally there occurs a

[code]

Which we can't fix without updating symfony console (if it's already fixed there).

--> will be fixed with https://github.com/matomo-org/matomo/pull/18328

[2021-11-15 13:11] #18251 closed, assigned to peterhashair

[2021-11-15 14:31] Jaimeapo commented on #14935
Hello, any advances in this issue?? I just want to add some more info regarding this Issue.
Reviewing the logs I´m getting the following error:
`Uncaught exception in API: /var/www/html/libs/Zend/Db/Statement/Mysqli.php(214): Mysqli statement execute error : Query execution was interrupted (max_statement_time exceeded) [Query: ?`

![image](https://user-images.githubusercontent.com/2892389/14179916

[2021-11-15 18:42] RoyBellingan opened #18318 "Clickhouse V2"
So I saw clickhouse is beeing discussed several time already in

https://github.com/matomo-org/matomo/issues/2592
https://github.com/matomo-org/matomo/issues/17697

I think you are missing an interesting option, keep using mysql for ALL except the SLOW query...
I am working at the moment on speeding up the following query, that in my use case are the one that takes the majority of time which are l

[2021-11-15 18:51] tsteur commented on #18318
@RoyBellingan thanks for this. Can we maybe continue this in https://github.com/matomo-org/matomo/issues/17697 ? Or you just want to share how your experience with clickhouse goes?

[2021-11-15 18:58] RoyBellingan commented on #18318
@tsteur up to you, I think the other one was already moving on a "let's move all to  CH" (please do not even try), except a note in the second comment, but I have no preferences on the matter.

[2021-11-15 19:03] RoyBellingan commented on #18318
@tsteur BTW did you check about ColumnStore ? The new engine in mariadb ?
I think I will still go on the Clickhouse route, but I see is not commented in this repo at all as an option.

[2021-11-15 19:24] tsteur commented on #18306
I'll actually close this one as we will investigate this as part of the other issue. No need to have the same issue twice

[2021-11-15 19:24] #18306 closed, assigned to nobody

[2021-11-15 19:26] tsteur commented on #8444
This should be solved by https://github.com/matomo-org/matomo/pull/18243

[2021-11-15 19:26] #8444 closed

[2021-11-15 20:08] #6784 closed

[2021-11-15 20:21] tsteur commented on #18318
@RoyBellingan thanks for this. As there are already a few issues around this I'll prefer to close this one and I'll comment in the other issue. This way we have all the comments in one place. We have generally made no decision what to support additionally to MySQL and there are no such plans yet. This could change though next year or some time. I remember looking at ColumnStore 1 or 2 years ago. I

[2021-11-15 20:21] #18318 closed, assigned to nobody

[2021-11-15 20:23] tsteur commented on #17697
from https://github.com/matomo-org/matomo/issues/18318 by @RoyBellingan see https://github.com/matomo-org/matomo/issues/18318#issue-1053987211

I am working at the moment on speeding up the following query, that in my use case are the one that takes the majority of time which are like

and of course log_action is append only (PLEASE correct me if I am wrong, but I logged the sql in mysql and I hav

[2021-11-15 20:50] bx80 commented on #16067
This issue has been fixed in #18099

[2021-11-15 20:50] #16067 closed

[2021-11-15 22:18] bx80 commented on #18132
I unsuccessfully tried to recreate this issue using a fresh install of Matomo 4.5.0 in a subdirectory with Apache2.4 on Debian 10. The config directory .htaccess file is read and any browser attempts to access /matomo/config/config.ini.php are blocked with a 403 error. The system check calls the getCurrentUrlWIthoutFilename() method and it returns the URL with the correct subdirectory each time, t

[2021-11-15 22:27] tsteur commented on #18132
@bx80 could you maybe check the code if you find any reason why this wouldn't work? Or ask the two reporters some questions about their set up that might help why this isn't working?

@alexhass @54mu3l  are you running the system check through the console or the UI?

Is there anything special about your setup? Maybe there's a proxy involved or something?

[2021-11-15 22:46] tsteur commented on #14935
@mfb check out this FAQ https://matomo.org/faq/how-to/faq_161/ . This should fix that error.

[2021-11-15 22:49] #18186 closed, assigned to bx80

[2021-11-15 23:02] #18117 closed, assigned to sgiehl

[2021-11-16 01:21] #18313 closed, assigned to bx80

[2021-11-16 04:20] bx80 opened #18322 "Misaligned evolution trend icons"
Evolution trend icons are not vertically aligned with evolution percent.
![image](https://user-images.githubusercontent.com/88810029/141907172-790dc84e-f7f3-4e61-8a88-f5e78e7acb4b.png)

Also adjust the last sentence of the evolution proportional tooltip to explicitly state that the comparison is against a partial previous period "2 visits this month compared to 4 visits in the previous *partial* p

[2021-11-16 06:57] comradekingu opened #18324 "Remove glossary notes in Weblate CLA field"
https://hosted.weblate.org/contributor-agreement/matomo/glossary/?next=/projects/matomo/glossary/

When any list of strings is loaded that has glossary strings included, none of them can be translated in Zen mode.

Remove it form https://hosted.weblate.org/settings/matomo/ and add it to the info field in https://hosted.weblate.org/settings/matomo/glossary/#basic

[2021-11-16 07:34] sgiehl commented on #18324
@Findus23 can you have a look at that?

[2021-11-16 07:46] 54mu3l commented on #18132
I'm running the system check through the UI.

Here a some more information about my setup:
I'm running everything in Docker.

For Matomo I'm using the official Matomo image.

A separate nginx image works as a proxy:

[code]

config.ini.php
[code]

I hope this helps.

[2021-11-16 08:35] heurteph-ei commented on #18291
@peterbo Other possible bug source: the site is in HTTP and Matomo in HTTPS. Your browser won't allow this (it won't allow display an HTTP frame in an HTTPS page)...

[2021-11-16 09:14] sgiehl commented on #18312
The campaign should actually be visible in the real time widget. I guess the reason why it isn't is not part of core.
The MarketingCampaignsReporting plugin seems to hide it here:
https://github.com/matomo-org/plugin-MarketingCampaignsReporting/blob/c3ef72423f2837e52731a1703490d972a6246fa2/stylesheets/styles.less#L1-L3

[2021-11-16 10:11] Findus23 commented on #18324
@comradekingu I removed the CLA.
While I wish that every single person editing the Glossary has read this text:

You are right that using the CLA for this is not the correct way and seems to break in all kind of weird ways. (which you might want to report as bugs to Weblate).

Unfortunately, I can't add something to the info text just for the glossary as it is project wide. So I updated that text

[2021-11-16 10:11] #18324 closed, assigned to nobody

[2021-11-16 10:28] mikkeschiren opened #18327 "Are there any way to get correct URLs for matomo.js when running the UI from a different domain?"
I had problem to figure out which category to post this in.

Anyhow.
If I am running Matomo UI on a different domain like: dashboard.matomo.analytics is there a way to get the tracker scripts use another domain if they are only exposed on another sub domain (tracker.matomo.analytics) ?

Sure, the analytics people can change the domain from the tracker scipts to point to tracker.matomo.analytics in

[2021-11-16 10:51] comradekingu commented on #18324
@Findus23 You can add an announcement in just the glossary component (without alerting users).
https://hosted.weblate.org/projects/matomo/glossary/#announcement

Edit: The issue with not being able to use Zen mode didn't get fixed though.
I think maybe some component is still locked. Not all of them are linked.

[2021-11-16 12:20] Findus23 commented on #18324
I'm not sure if more people read old announcements than the page info.

Can you describe in more detail how Zen mode doesn't work for you? I can see https://hosted.weblate.org/zen/matomo/matomo-base/de/?q= perfectly fine.

[2021-11-16 12:22] Findus23 commented on #18327
Hi,

I think an approach like https://forum.matomo.org/t/how-does-matomo-create-the-tracking-url-i-want-to-change-it/40262/2?u=lukas should solve your issue.

[2021-11-16 13:28] gijshendriksen commented on #18295
I was running into memory issues in my Matomo installation, which I also discussed in [this forum post](https://forum.matomo.org/t/out-of-memory-error-when-using-the-console-for-auto-archiving/43256). It sounds like solving this issue would also resolve my problems with the archiver. Do you also think this is the case, or do you think there is a separate issue going on there?

[2021-11-16 13:51] heurteph-ei commented on #17697
Just a point to think about:
One of Matomo competitors (piwik pro) argument against Matomo is performance consideration: https://piwikpro.fr/blog/problemes-de-performance-de-matomo-les-causes-et-solutions-possibles/ (sorry it is in French)
They mentioned that using CH instead of MySQL helped them in enhance perf...

[2021-11-16 14:26] comradekingu commented on #18324
@Findus23 Announcements are displayed at the top of the page.
I see the Zen mode too, but can't save anything.
There is an error popping up without text, and then the field status next to the string just blinks.

[2021-11-16 15:03] jameysharp commented on #18312
Oh, huh. Using Firefox developer tools, I can confirm that disabling the "display: none" rule associated with `.visitorReferrer.campaign` makes the information I want show up.

[2021-11-16 15:45] mikkeschiren commented on #18327
Ah yes, thanks.

[2021-11-16 16:19] Findus23 commented on #18324
Even editing works fine in zen mode for me.

Can you maybe check if your ad-blocker isn't just blocking requests with "matomo" in the URL?

[2021-11-16 19:00] tsteur commented on #18295
It might @gijshendriksen it's hard to say without knowing all the details.

Generally what might also help is to lower the number of actions in the report see https://matomo.org/faq/how-to/faq_54/

eg setting something like

[code]

Sometimes this does not fix it alone, and if it happens eg for a yearly period, then the archives for each month in the year would need to be invalidated see https://m

[2021-11-16 19:48] RoyBellingan commented on #17697
@heurteph-ei I can easily agree with them.
https://piwik.pro/blog/piwik-pro-clickhouse-faster-efficient-reports/

To make all of this happen, we’ve implemented an ETL process that every few minutes retrieves a new batch of data from MySQL, processes it asynchronously in smaller chunks and then loads the results to ClickHouse.

Which is the same as we do in other project ...

[2021-11-16 19:51] tsteur commented on #17697
@RoyBellingan how does this affect deleted raw data? Maybe this doesn't apply to you. Like if someone uses the log data retention feature for privacy regulations or if someone deletes data for a recorded visit because of GDPR deletion request etc?

[2021-11-16 20:23] tsteur opened #18332 "Add new feature to disable Transitions for specific periods"
Transitions is using raw data to generate its reports.

This is known to be slow on some high traffic installations see https://matomo.org/faq/how-to/faq_161/

Similar to unique visitors (see https://matomo.org/faq/how-to/faq_113/ ) we would also want a config setting to disable Transitions for specific periods.

Ideally this was configurable additionally per site as it can be useful when there ar

[2021-11-16 20:24] RoyBellingan commented on #17697
@tsteur uhm, well this will require a more polished syncronization script.

Ch side does not really change much, maybe do not pass only the primary id (Ch has no concept of that), but also the date when happened (normal clustering key for timeseries).

Piwik I think should be a matter to execute a select id, date where xxx before doing delete where xxx

[2021-11-16 20:43] bx80 commented on #18132
Thanks @54mu3l that is very helpful, I didn't configure a reverse proxy when trying to recreate this issue, so it could be that it's a combination of installing in a directory and using a reverse proxy that causes the problem. I'll take a look at issue #17945 first as it might offer insight into this issue.

[2021-11-16 21:11] comradekingu commented on #18324
Ah yes, uBlock origen with the filters I have blocks it.
I'll try to have it allowed.
Closing since the CLA is gone :)

[2021-11-17 00:37] peterhashair commented on #17944
@tsteur ah, I think the problem is getTransientCache won't be persisted between requests, and other caches won't accept closure. return segment has some closure. I guess we need some kind of format to format the data that translate the data, to be cached.

[2021-11-17 07:01] alexhass commented on #18132
I’m not using a reverse proxy, but apache with php-fpm.

[2021-11-17 08:04] lrrrs opened #18338 "WARNING Undefined index: host - Matomo 4.5.0"
## Expected Behavior

I get no warning 😆

## Current Behavior

`WARNING [2021-11-16 07:30:20] 29776  ...core/Http.php(229): Notice - Undefined index: host - Matomo 4.5.0`

## Steps to Reproduce (for Bugs)

This warning only occures sometimes when running `console core:archive` directly after this log: `Will invalidate archived reports for yesterday in site ID = 1's timezone (2021-11-16 00:00:00).`

[2021-11-17 13:29] heurteph-ei opened #18339 "BotTracker plugin page: user agent external website link is dead"
## Documentation page to be updated:
https://plugins.matomo.org/BotTracker

## What's wrong
A link is dead

To be replaced by: http://www.useragentstring.com/pages/useragentstring.php

[2021-11-17 13:53] sgiehl commented on #18339
Hi @heurteph-ei
This plugin is not developed by the Matomo team. Please try reporting the issue in the plugin repository:
https://github.com/Thomas--F/BotTracker/issues

[2021-11-17 13:53] #18339 closed, assigned to nobody

[2021-11-17 13:57] sgiehl commented on #18338
Thanks for the report. I'll prepare a fix for that.

[2021-11-17 16:23] lrrrs commented on #18338
Many many thanks 🙏

[2021-11-18 00:34] Starker3 opened #18343 "Fix for current year not processed for new custom repors"
## Expected Behavior

We would expect that regardless of the number of months set using `rearchive_reports_in_past_last_n_months` that the reports for the current year will always be processed for the given plugin.

## Current Behavior

When setting a longer period of time for `rearchive_reports_in_past_last_n_months` such as for example 48 months, the current year reports for that plugin may not

[2021-11-18 00:48] Starker3 opened #18344 "Change rearchive end date from yesterday to today so it processes the last day correctly"
Refs DEV-2422 and potentially #18343

When a plugin that uses the rearchive_reports_in_past_last_n_months config setting and the setting is non-zero (Enabled) it seems as though the archiver skips processing the report for "Yesterday"

This was initially reported by a customer.

The easiest way to test this is with a Custom Report. As we can see in the screenshot below, this custom report was crea

[2021-11-18 00:56] tsteur commented on #18344
Possible that changing `Date::yesterday()` to `Date::today()` helps in https://github.com/matomo-org/matomo/blob/4.6.0-rc1/core/Archive/ArchiveInvalidator.php#L460

Potentially the user or you @Starker3  could even try changing this and see if that works?

[2021-11-18 01:03] Starker3 commented on #18344
@tsteur I quickly tested and it looks like it would work just changing that:
[code]

[2021-11-18 01:34] tsteur commented on #18344
Great, thanks for confirming. I would create a PR for this but it also requires to make the tests work again so it's not done in 2 minutes.

[2021-11-18 02:00] bx80 commented on #17945
This issue occurs when the reverse proxy is setup with a directory that points at a Matomo instance, but the Matomo instance isnt actually installed in that directory. For example if the proxy Matomo url is `mydomain.com/matomo` but Matomo is installed at `someotherhost.com/` or `someotherhost.com/somotherdirectory`

If Matomo is installed in the same directory path (`someotherhost.com/matomo`) as

[2021-11-18 03:06] bx80 commented on #18132
@alexhass Thanks for the extra information, it sounds like the issue you are experiencing could be caused by PHP-FPM bypassing the .htaccess rules that are meant to prevent browser access to the /config directory. I use PHP-FPM too and have the same failed check.

When Apache proxies PHP files to PHP-FPM the .htaccess file rules are ignored, so the expected `403 access denied` response is not retu

[2021-11-18 03:21] tsteur commented on #18132
We would need to adjust https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/ and mention php-fpm.

I suppose we could try to detect php-fpm (if it's easy to do, but note that people also execute the diagnostic check on the command line so this might not be really possible). Not sure how easy it is to detect this? I think it might be good enough to menti

[2021-11-18 03:25] tsteur commented on #17945
@bx80 I haven't tested but was hoping it might fix it by simply removing `piwik.piwik_url` in
![image](https://user-images.githubusercontent.com/273120/142346200-621189d1-c04a-4fca-b00c-9315cd4f54e4.png)
 and in the `sparklineImage` method?

Seems we usually don't use this and instead simply use relative links maybe
![image](https://user-images.githubusercontent.com/273120/142346259-21448330-eaa5-

[2021-11-18 03:38] alexhass commented on #18132
Honestly I’m confused… my drupal installs have not shown any issues and I think the rules in apache all work and protect all files properly. I need to check that to compare to matomo.

[2021-11-18 04:26] bx80 commented on #18132
@alexhass Sorry for the confusion, I'm sure your Apache rules are fine. In this case Matomo is expecting one directory to be protected in a particular way, php-fpm changes this and causes the Matomo system check to fail.

You can check if the config directory is protected by trying to load `yourdomain.com/config/config.ini.php` in the browser.

If you get a `403 access denied` message then the con

[2021-11-18 04:33] bx80 commented on #18132
@tsteur It's fairly easy to detect if php-fpm is running for the current script with something like
 `echo (php_sapi_name() === 'fpm-fcgi' ? 'running fpm' : 'not running fpm');` but no easy way to detect if php-fpm is running on the web server if the system check is run from the console. Maybe we could just detect php-fpm if not running from the command line and then show a link to some more infor

[2021-11-18 04:52] bx80 commented on #17945
@tsteur Thanks, that worked on my docker / reverse proxy test setup, at least for some of the broken links (choose site and the sparkline), there might be a few other places that need adjusting too (add new website, etc).

 I'll create a PR to replace any piwik_url usage in the multisites plugin with relative paths.

[2021-11-18 07:14] peterhashair commented on #13321
@tsteur @mattab I got it working on my local, just doing a final tidy up. Also checking the interface before I push my PR. I add a status filter and status into the user table column, which shows the active or pending users. Maybe we need another action button that they can resend the invite again. Currently, I set the token to expire in 3 days. Let me know if we want to make a different tab just

[2021-11-18 07:53] tsteur opened #18346 "Not posible to create a token auth when password contains an ampersand (and possibly other special characters)"
see https://github.com/matomo-org/matomo-mobile-2/issues/5429#issuecomment-972618636 refs https://github.com/matomo-org/matomo-mobile-2/issues/5423

Create a user with password `r&a^rer@ere`. Then try to create a token for that user using below API call:

[code]

Which then Matomo interprets as `r&amp;a^rer@ere` and then says password is wrong.

I tested below patch and this solved the issue for m

[2021-11-18 09:09] heurteph-ei opened #18347 ""How do I track visits on my intranet?" How-to page: IntranetGeoIP plugin link is dead"
## Documentation page to be updated:
https://matomo.org/faq/how-to/faq_19/#faq_19

## What's wrong
A link is dead

Probably to be replaced by: https://plugins.matomo.org/CampusGeoIP

[2021-11-18 09:22] sgiehl commented on #18347
Hi @heurteph-ei. Thanks for pointing that out. Seems the plugin was only available for Matomo 3 and not updated for Matomo 4 compatibility. Will update the FAQ.

[2021-11-18 09:22] #18347 closed, assigned to nobody

[2021-11-18 12:54] #18338 closed, assigned to sgiehl

[2021-11-18 13:34] #18322 closed, assigned to bx80

[2021-11-18 13:45] sgiehl commented on #18261
@tsteur are you able to figure out an example url where that happens?
I would assume the reason is kind of explained in the comment here maybe:
https://github.com/matomo-org/matomo/blob/4fe950ae94b0fe3bd13f928544ff876275fe6733/plugins/Goals/API.php#L513-L524

It says the data is normally queried with `format_metrics=0`, but to get formatted metrics nevertheless, the formatter is applied.
I actuall

[2021-11-18 19:13] #18346 closed, assigned to sgiehl

[2021-11-18 19:20] tsteur commented on #13321
@peterhashair Be good to add a new action for resending the invite 👍

See above. By default, the invite is valid for 7 days. This needs to be configurable using the API parameter (when inviting a specific user) and as a configuration option for overall default time.

Looks pretty good like above so far on the screenshot but haven't checked it out yet in the actual UI. I think we might not need a d

[2021-11-18 20:29] tsteur commented on #18132
Sounds good. 👍

@sgiehl @Findus23 otherwise any thoughts on this?

[2021-11-18 20:36] tsteur commented on #18261
Indeed it might only happen when comparing. I view a specific goal report for a week, then compare a segment, and then see this in the logs. I don't have a specific URL though.

[2021-11-18 20:38] Findus23 commented on #18132
I'm not familiar at all with how apache uses php-fpm, but I always assumed that it would work the same way as a regular nginx with php-fpm setup where all static files are served by the webserver and only requests to .php files (and in the case of Matomo-nginx [only a subset of those](https://github.com/matomo-org/matomo-nginx/blob/70fff07a79efefe62397a3ca2bc92a690d3006ae/sites-available/matomo.co

[2021-11-18 20:51] bx80 commented on #17945
There is actually an existing config setting available in current releases which resolves this problem.

Adding `proxy_uri_header = 1` to the `[general]` section of config.ini.php will make sure the forwarded URI is used when generating links. I've tried it with the docker / reverse proxy test setup and it works.

https://matomo.org/faq/how-to-install/faq_98/

[2021-11-18 21:06] tsteur commented on #18088
This is actually not fixed yet. I added 2 new comments in DEV-2306 with details. It either doesn't help, or it helped but there are still issues.

We can try another fix in Matomo 4.7 @peterhashair

Maybe one potential problem with this is that all requests eventually try to get that lock vs they should maybe just wait until the lock is released if the lock is held by someone else and then not try

[2021-11-18 21:17] bx80 commented on #18132
@Findus32 That's correct, Apache only serves the static files and typically the proxy rules will send anything *.php to php-fpm. It's only when serving static files that Apache will check the .htaccess rules, but for anything passed to a proxy there is no check done by either Apache or php-fpm. So while php-fpm doesn't influence the .htaccess files themselves it does mean that they will be ignored

[2021-11-18 21:48] peterhashair commented on #18088
@tsteur ah on my local it doesn't do duplications, to reproduce this.  Maybe can we dump the database from the testing server?

[2021-11-18 22:05] mikkeschiren commented on #18327
Add this to: https://plugins.matomo.org/TrackerDomain

[2021-11-18 22:05] #18327 closed, assigned to nobody

[2021-11-18 22:42] tsteur commented on #18088
@peterhashair there are pretty much no duplicates here either except for the goals flag. I'm not sure that's the problem though. I was going to export the data but it has been deleted again already by some task. I can export it again if that's helpful but not sure it would help too much. Because we have disabled `range` again for this Matomo I can't easily regenerate it right now but could do late

[2021-11-18 23:46] peterhashair commented on #18088
@tsteur I found sth here, maybe we need to destroy the session.
![image](https://user-images.githubusercontent.com/3783072/142514468-4f2e0a86-1818-4e9d-8213-e6db3a08ced7.png)

[2021-11-19 01:19] peterhashair commented on #18088
@tsteur maybe that's not related to the lock or multiple requests, we can cache the select to the lazy cache instead of MySQL select, not sure that helps. But I can see the CPU is cluster caused by the writer, is that mean insert cause the problem not the select?

[2021-11-19 06:24] andyjdavis commented on #18216
Would it be useful to have a "send email notifications for user creation and deletion" setting, on by default, which could be turned off?

[2021-11-19 07:48] kvas11 opened #18353 "Matomo ignore month/week scheduler for geolocation database update"
Matomo downloads database file from https://download.db-ip.com every hour (same time as console archive job is executed) instead of scheduled period (week or month).

## Expected Behavior
Matomo download geoip db on scheduled period week or month.

## Current Behavior
Matomo download geoip db every hour.

## Steps to Reproduce (for Bugs)
Setup automatic geo ip download for DBIP / GeoIP 2 (Php)

##

[2021-11-19 08:38] d2a-raudenaerde commented on #17945
@bx80 this does not work when matomo is under a different path (not the root). See also @54mu3l 's config. I have a similar setting. Some stuff does work, but not the MultiSites.

[2021-11-19 10:17] sgiehl commented on #18353
@kvas11 Thanks for creating this issue. I'll try to investigate this.
Are you able to see if the geoip database file in misc folder is actually updated?
Maybe it fails updating that file and fails silently and so tries to update it again with the next run

[2021-11-19 10:39] #15620 closed

[2021-11-19 10:52] kvas11 commented on #18353
You are probably right, the 'DBIP-City.mmdb' file was last changed at September 9 - probably due to lack of write file permissions. I just set the correct file permission to the user, who's cron is executing archive job and will let you now if something changed.

Thanks for the help

[2021-11-19 11:04] #17945 closed, assigned to bx80

[2021-11-19 11:44] sgiehl commented on #18353
Ah, that might be a "typical" issue. If you set up GeoIP via the UI, it downloads the file with the webserver user. If your cron runs with another user, it might not be able to write the file...

[2021-11-19 12:04] sgiehl commented on #18216
I agree. An option for those mails might be nice.
If you want to disable creation and deletion mails on your instance you can currently achieve that by creating something like this in `config/config.php`

[code]

[2021-11-20 02:04] kvas11 commented on #18353
Sorry for the "false alarm", everything is OK now, Db file was correctly downloaded and the message in the UI says: "It is next scheduled to run on 2021-12-01".

Maybe some warning message about the errors during file update could be useful, similar like "System check" messages.

[2021-11-20 22:00] sgiehl commented on #18353
@kvas11 didn't the run of the scheduled task return an error or warning, that indicated that the file couldn't be written?

[2021-11-21 09:20] kvas11 commented on #18353
No, I could not find any info/error/warning about failed db update process in matomo cron job log

[2021-11-22 08:30] #17053 closed, assigned to bx80

[2021-11-22 09:43] gijshendriksen commented on #18295
@tsteur thanks for your help! I wasn't aware these configuration options would help with the memory usage, but after applying your suggested changes the archiver now seems to be working again. Thanks!

[2021-11-22 13:09] Findus23 opened #18360 "Allow configuration of max execution time when using MariaDB"
To provide feature equality between MySQL and MariaDB the same feature as implemented in #14858 (setting a max_execution_time for live queries) should also be supported when using MariaDB.

MariaDB uses a different syntax and seconds instead of milliseconds, but apart from that, the feature should work the same.

See https://mariadb.com/kb/en/library/aborting-statements/ for more information about

[2021-11-22 13:52] jorgeuos commented on #18360
Hi,

Thanks for the ping, Here's a working patch that I haven't had time to create a PR for yet. But you could try if you'd like.

Tested with Matomo <= 4.3.1-4.5.0:

[code]

Br, Jorge

[2021-11-22 16:45] sgiehl commented on #18360
Hi @jorgeuos
Thanks for the diff. Guess we can use that to provide a proper fix for this for future releases

[2021-11-22 17:14] sgiehl commented on #18353
Just checked that locally, and when the file is not writable the task actually outputs this:
[code]

So for me, there is an error displayed

[2021-11-22 18:05] kvas11 commented on #18353
Stefan, you are right, when I fixed file/dir permissions, DB update process output was logged in cron log file. Now I would like to test it again with missing write permissions. How do I force GeoIP2AutoUpdater again in the next run? In Matomo UI, there are just 2 options (week, month).

[2021-11-22 18:05] #17944 closed, assigned to peterhashair

[2021-11-22 18:06] sgiehl commented on #17944
@tsteur feel free to reopen (or open a new issues), if we should work on a solution using a cache that persists between requests somewhen later.

[2021-11-22 18:09] sgiehl commented on #18353
@kvas11 There should be a database record in `option` table with `option_name = geoip2.updater_last_run_time`. Setting that one to 0, should indicate the downloader when it was last updated.
Btw. You can also directly run the task using `./console scheduled-tasks:run "Piwik\Plugins\GeoIp2\GeoIP2AutoUpdater.update"`

[2021-11-22 18:37] kvas11 commented on #18353
Stefan, it works like described in your comment above. I apologize for stealing your time. Please, close this issue.

[2021-11-22 18:51] tsteur commented on #18360
Note that some other logic might check if a query starts with `select` and then add comments about the type of query etc which then might not work anymore. Also this one seems to require a specific `MAX_STATEMENT_TIME` permission.

For now we might just want to add a sentence eventually that MariaDB is not supported.

@jorgeuos if you provide a PR we'll be happy to review.

[2021-11-22 19:20] sgiehl commented on #18360
As there might be other features somewhen that might have special handling, we maybe should make it possible to have such things more global. Maybe like moving those method(s) to the database schema class and having an additional mariadb schema, that overwrites that specific method(s). That way it could be defined in the config with eg `[database] schema = mariadb` and maybe directly configured wh

[2021-11-22 19:21] sgiehl commented on #18353
No problem. Good to hear it works as expected.

[2021-11-22 19:22] #18353 closed, assigned to nobody

[2021-11-22 23:14] peterhashair opened #18361 "OAuth2 login, for google, github ... etc for single sign on"
## Summary

OAuth2 login, for google, Github ... etc for single sign-on.  I can see there is already a plugin for it. [https://plugins.matomo.org/LoginOIDC#preview](https://plugins.matomo.org/LoginOIDC#preview) Not sure we want to implement this to the core on the login page, and user management.
eg:
![image](https://user-images.githubusercontent.com/3783072/142949093-0c51cfdf-4cdb-47cd-984f-0656d

[2021-11-23 00:23] tsteur opened #18362 "Dependent archives never processed for All visits segment causing some data to not show"
I was testing/debugging https://github.com/matomo-org/matomo/pull/18354

Noticed there is a check in https://github.com/matomo-org/matomo/blob/4.6.0-rc2/core/ArchiveProcessor.php#L683 that when `$newSegment === $segment` we don't process the dependent archive.

However, `$newSegment === $segment` is always true when the segment is the All Visits segment is given. Then the segment is an empty strin

[2021-11-23 05:58] peterhashair commented on #18088
@tsteur it seems like this is really slow when there is a large date range. [https://github.com/matomo-org/matomo/blob/60a9383b3cb7ea632c847cd5563e939dfc4081e0/plugins/Annotations/API.php#L222](https://github.com/matomo-org/matomo/blob/60a9383b3cb7ea632c847cd5563e939dfc4081e0/plugins/Annotations/API.php#L222)

[2021-11-23 08:24] elfring opened #18368 "Increase the usage of expressions with combined operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

Would you like to integrate anything from a transformation res

[2021-11-23 10:23] Findus23 commented on #18361
At least to me this seems a lot like something that should be a separate plugin. In Nextcloud for example the same feature is also a third-party plugin: https://apps.nextcloud.com/apps/sociallogin

[2021-11-23 13:28] #18025 closed, assigned to bx80

[2021-11-23 19:38] tsteur commented on #18088
Good find, I can see how that one might be a bit slow. Takes 2s here for me when requesting a range of 9 months. It generally does only a one simple DB query though so it wouldn't cause the big DB load. We could create another issue to improve the performance of this script eventually.

[2021-11-23 20:23] peterhashair commented on #18088
@tsteur on my local is wired,  if you run it just by itself, it takes 1-2s, but if you run it on the goal overview page. it takes 42s on my one.

![image](https://user-images.githubusercontent.com/3783072/143098263-756408d4-545a-4a12-a85f-d18acc88c317.png)

[2021-11-23 22:00] zthomas1 opened #18370 "Call to a member function getPluginName() on bool"
Theme.php line 39

calls getThemeEnabled

If plugins are not loaded yet this will always return false.

self::DEFAULT_THEME is never set.

This is occurring on a clean install where a superuser is being created via API methods in a php script.

[2021-11-24 13:42] sgiehl commented on #18370
@zthomas1 I wonder how this can happen. When executing an API methods, all plugins should always be loaded. Did you install Matomo the "normal" way, or are you using some custom script for that?

[2021-11-24 13:49] zthomas1 commented on #18370
Thank you for the response, I am using a custom script, this is likely on my end at this point, I'll report back if not.

[2021-11-24 14:28] sgiehl commented on #18360
I have done the changes needed for what I had in mind. Don't really have time to tests or finish that, but thought I'll push it upstream so someone is able to pick it up eventually. See https://github.com/matomo-org/matomo/pull/18371

[2021-11-24 15:22] #18370 closed, assigned to nobody

[2021-11-24 20:27] #18006 closed, assigned to nobody

[2021-11-24 20:49] tsteur opened #18373 "Goals by dimension view might not fully show"
![image](https://user-images.githubusercontent.com/273120/143310768-646f1900-88cc-40d9-a825-bce9fd23849f.png)

I think this has happened the first time around merging https://github.com/matomo-org/matomo/pull/18243/files

I can reproduce this sometimes locally when I have say 15 goals, and load a range etc.

It's like the "by dimension" view loads faster than any of the goal reports and then maybe

[2021-11-24 22:20] MichaIng opened #18374 "[PHP8.1] Deprecated return type of HTML_QuickForm2_ContainerIterator"
Even after #18309 there are still two deprecation warnings in this script:
[code]

## Expected Behavior

No deprecation warnings.

## Current Behavior

Deprecation warnings as shown above.

## Possible Solution

While this is not a good solution, I currently muted those via:
[code]

## Steps to Reproduce (for Bugs)

1. Install `php8.1-fpm`
2. Access and browse Matomo web interface, through I could

[2021-11-24 22:30] Starker3 opened #18375 "Set default limit for concurrent archivers"
Currently when someone sets up a core:archive crontab, the recommendation is to just simply set it without any additional options: https://matomo.org/docs/setup-auto-archiving/

In a lot of cases this works without any issues. However, if for some reason a particular run of the core:archive takes longer than usual (For example lots of tracking data all of a sudden) or for instances that track a lo

[2021-11-24 22:46] tsteur commented on #18375
BTW another solution, without possibly breaking it could be to simply adjust the guide. There will be potentially always few people where it would break something, just the same way as it would be fixing something for few potentially. We could maybe then change the default in Matomo 5 or so.

[2021-11-24 22:56] Starker3 commented on #18375
Sounds good to maybe include this sort of change in a bigger version release. Changing the guide will help people who set it up in the future, but I think by setting a default like this could potentially help quite a few people who already have it setup and maybe don't even realise that sometimes their server is slow for this reason.

[2021-11-24 22:57] Starker3 commented on #18375
This could actually be something that is easily setup if we work on #17719
We would have it as an option during the crontab installation

[2021-11-24 23:10] tsteur opened #18376 "When viewing a disabled API period, then the actual error message might not be shown in the report"
I have disabled range like this in the config file `enabled_periods_API = "day,week,month,year"`

Then I viewed the Goals overview page and got a generic error
![image](https://user-images.githubusercontent.com/273120/143323935-fa0882a9-7137-4e85-800b-23601d08d37c.png)

Looking at the request there is this error:

[code]

Not too important as we would usually expect that people then also disable i

[2021-11-24 23:47] tsteur commented on #18088
We might want to try our other lock see https://github.com/matomo-org/matomo/compare/lockalt?expand=1

The benefit here is that not every request will try to acquire the lock but only one process. And as soon as it's released this lock, the other processes won't fight to get the lock but will just know the archive is finished and continue.

@peterhashair let's also try to move all these goal speci

[2021-11-25 00:34] peterhashair commented on #18088
@tsteur our lock looks great, but when in the larger period, eg: more than the 6-month range of period, it throws a 504 time out see screenshot. CPU usage on MySQL server is about the same 400%+, I have a feeling is the select clause of the CPU usage high, but not too sure, I trying to merge some of the select queries to see if that helps.
![143328529-5592a092-8df2-4b4e-aeba-75845d263874](https://

[2021-11-25 08:05] keller31 opened #18378 "The newly added daily mail report cannot be sent on the same day！"
The newly added daily mail report cannot be sent on the same day!

## Steps to Reproduce
1. Add a new daily email report, such as 4:00 pm (current 2:00 pm)
2. No email report will be sent at 4:00 pm on the same day
3. Check TasksTimetable to find the task at 4:00 pm the next day

## Environment
* Matomo Version: 4.5.0
* PHP Version: 7.4
*
![image](https://user-images.githubusercontent.com/17230513

[2021-11-25 11:57] RoyBellingan commented on #17697
I will soon try out https://clickhouse.com/docs/en/engines/database-engines/materialized-mysql/
Is still marked as experimental, but I saw several blog post around where looks like is working fine.

[2021-11-25 14:27] sgiehl commented on #18378
Had a look at the code and currently new tasks will always be scheduled for the next day. Guess we would need to apply some changes here to changes that behavior:

https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/core/Scheduler/Schedule/Daily.php#L26-L44

[2021-11-25 17:06] sgiehl commented on #18373
This might more likely be a regression from the sticky headers. I'm able to reproduce that locally on the goals overview, when switching between custom date ranges (not on the initial page load), but didn't yet find a proper fix.
The problem seems to be here:
https://github.com/matomo-org/matomo/blob/8066b3536c2399e1c2992c9ee4607b3985b94b42/plugins/CoreHome/javascripts/dataTable.js#L428-L434

For

[2021-11-25 17:18] sgiehl commented on #18374
Hi @MichaIng. Thanks for the report. We have already fixed those with https://github.com/matomo-org/matomo/pull/18309

[2021-11-25 17:47] MichaIng commented on #18374
As said, I'm using v4.6.0-rc2 already, which contains these commits but still face the warnings.

[2021-11-25 18:10] Findus23 commented on #18374
It seems like this is indeed after #18309 as otherwise `RecursiveArrayIterator::hasChildren():` would not be in line 68.

[2021-11-26 08:34] sgiehl commented on #18374
Ah sorry. Seems I missed that.

[2021-11-26 14:35] #18270 closed, assigned to nobody

[2021-11-26 16:19] Findus23 opened #18388 "Keep date selector when switching to the Admin pages"
## Summary
- go to any Matomo instance (where one is logged in)
- select a date from the date selector (ideally a custom date range)
- click on the :gear: to get to the admin page
- The date-range selected (e.g. when opening E-Mail reports) is lost.

This is probably related to something that has been slightly annoying me for a really long time:
Changing something in the UI doesn't change the URL

[2021-11-28 19:56] WebWire-NL commented on #17686
After fresh installation (with existing database), system check page works well but then after clicking next following error appears in my apache2 error.log
[Sun Nov 28 19:53:17.225769 2021] [php:error] [pid 1729006] [client x.x.x.x:54686] PHP Fatal error:  Uncaught DI\\Definition\\Exception\\InvalidDefinition: Entry "Monolog\\Logger" cannot be resolved: the class doesn't exist\nFull definition:\n

[2021-11-28 20:15] sgiehl commented on #17686
@WebWire-NL Just to be sure: This happens in the installation process after the system check, right? Could you check if a config file was already created and if so which plugins are listed as active within in?

[2021-11-28 20:26] tsteur opened #18393 "Piwik\\SettingsPiwik::isUniqueVisitorsEnabled() must be of the type string, array given"
URL: https://demo.matomo.cloud/index.php?action=index&date=yesterday&idSite=1&module=CoreHome&period%5B0%5D=exp%E9%8E%88%27%22%5C%28&period%5B1%5D=%3D1

`GET: {"action":"index","date":"yesterday","idSite":"1","module":"CoreHome","period":["exp\u9388'\"\\(","=1"]}`

[2021-11-28 20:54] Starker3 opened #18394 "Rendering performance improvement for reports with many rows"
Refs L3-181

When loading User ID reports with several thousand rows (For example 3k-10k rows) the report generation in the browser causes very high system resource usage on the device loading the report.

For example an matomo server that has a User ID row limit of 10,000 and selecting the row limit in the UI to "All" takes anywhere from 3-6 minutes (or more) to generate the report in the browser

[2021-11-28 23:47] tsteur opened #18397 "Report settings should be persisted for anonymous user"
see eg https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=2021-11-18&segment=&category=General_Actions&subcategory=General_Pages

Then flatten and select "all". Then click on the report again or reload or change period and you will notice the settings are all gone.

This also applies to our demo and can be frustrating and p

[2021-11-28 23:51] tsteur commented on #18394
I think we're seeing this also in flattened page url reports etc.

We'd want to reproduce this, and then possibly check in what version this regressed if it did regress at all. Or if it's done quicker we could fix it directly.

Below a profile.
![image](https://user-images.githubusercontent.com/273120/143791340-e063a2e3-0e52-4457-9415-15b110770516.png)

Back in the days we had to do column highlih

[2021-11-28 23:55] rechl commented on #17388
Dear @diosmosis  I invested several hours on this bug to find a solution. First of all I can confirm it is a bug.

It was introduced with https://github.com/matomo-org/matomo/commit/48c9f2c676b4178d8526197af0059bdd7a0f6a72 which was despite this bug an awesome work by @tsteur 👍  🥇

The [LogAggregator](https://github.com/matomo-org/matomo/blob/2b35b46a0988f8c3b6f848c59be8d7d918965a52/core/DataAcces

[2021-11-29 00:06] tsteur commented on #17388
@sgotre if I understand it right you are maybe after this feature: https://github.com/matomo-org/matomo/issues/15438

from my perspective it works correct, also for actions just like segmentations should. The behaviour you are maybe after are "Filters": https://github.com/matomo-org/matomo/issues/15438

Existing workarounds for previous behaviour would be to set `[General] enable_segments_cache =

[2021-11-29 00:45] rechl commented on #17388
@tsteur thanks for your super fast reply. You are right, we all have been trying to use segments as filters.

Disabling the segment cache has a huge performance impact, right? With about 100 Mio hits per month this might not be the best solution.

We will use custom reports instead.

For all wondering why @tsteur is right: Segments are by definition visit based. Filters are by definition action ba

[2021-11-29 03:23] WebWire-NL commented on #17686
@sgiehl Hi, i'm sorry but i reverted to php7.4 :( i can't check anymore.... but i guess nothing was done as the server responded with a 500 error. The error appears after the system check page... so system check only gives a warning about git because i tried the latest version.... and then if you try to go to the next step a 500 error will occur and this was what i could find in the server logs.

[2021-11-29 09:21] heurteph-ei commented on #17388
@sgotre I think this **cannot** be closed as the segment on 2 action dimensions doesn't work (I am not in the configuration of a filter)

[2021-11-29 09:39] 0x11DFE opened #18400 "memory exhausted at ClassNameProcessor debug_backtrace after updating to php 8.1"
Just got this issue after updating to PHP 8.1, Error at /plugins/Monolog/Processor/ClassNameProcessor.php:65 any clue?

[2021-11-29 10:17] sgiehl commented on #18400
@0x11DFE Could you provide a bit more details? When exactly does that error occur? Which Matomo version are you using? Do you have additional plugins installed?

[2021-11-29 10:17] rechl commented on #17388
@heurteph-ei you can set the global config `[General] enable_segments_cache = 0` to make segments work like filters. The behaviour we are seeing here ist epected by design: **Segments are by definition visit based. **

[2021-11-29 10:23] heurteph-ei commented on #17388
@sgotre I don't want to use filter but segment.
See https://github.com/matomo-org/matomo/issues/17388#issuecomment-814731667
If you segment 2 values on an action dimension, the segment doesn't work.
In the example, I wanted all the visits where users set **dimension2** to `Git-17388` during a part of its visit, and set **dimension2** to `Julien` during another part of its visit...

[2021-11-29 10:24] 0x11DFE commented on #18400
I'm using the latest version 4.5, The error occurs on page load it takes few seconds to load (unusual) then returns an error code 5xx. I have few plugins installed but since i cannot access true the webpanel, listing the plugin folder names is the only solution i know.

[code]

[2021-11-29 10:43] rechl commented on #17388
@heurteph-ei You are right, segmentation works as you expected but its not possible to show the segmented visit logs. seems like the query here is using segments as filters. I'll check the sql to see where this error occurs.

[2021-11-29 10:47] Findus23 commented on #18400
I'd recommend you to update to the 4.6.0 release candidate (https://builds.matomo.org/matomo-4.6.0-rc2.zip) as only Matomo 4.6.0 contains all fixes to make Matomo compatible with PHP 8.1. (the stable release should also come out quite soon)

[2021-11-29 10:50] sgiehl commented on #17686
@WebWire-NL Which version did you try to install on PHP 8.1? A latest git checkout or a specific release?

[2021-11-29 11:11] 0x11DFE commented on #18400
This actually fixed my issue, I am now waiting for plugin updates 😜.

[2021-11-29 11:11] #18400 closed, assigned to nobody

[2021-11-29 11:37] rechl commented on #17388
@heurteph-ei this is NOT a SQL issue but an UI issue.

When requesting the segmented visit logs the URL is

https://demo.matomo.cloud/index.php?segment=dimension2==Git-17388;dimension2==D2;actionUrl=$divezone.net%2Fheurteph%2Ftest&date=2021-03-31&module=Live&action=indexVisitorLog&disableLink=1&small=1&enableAddNewSegment=1&period=day&idDimension=2&idSubtable=4&idSite=1

Please notice `segment=dim

[2021-11-29 19:05] WebWire-NL commented on #17686
I tried branch 4.6.2 and another Branch (might be even the master branch?)
which both had last change date of 2 days ago....

Op ma 29 nov. 2021 11:50 schreef Stefan Giehl ***@***.***>:

[2021-11-29 22:39] sgiehl opened #18402 "Installation pages might send API request to API.getPagesComparisonsDisabledFor"
When opening Matomo in an uninstalled state, Matomo will display the installation.
At this state the URL might not contain a `module`. Thus the check doesn't work here:

https://github.com/matomo-org/matomo/blob/24c07cd3967b41952da9d015d24705b2a0891a0d/plugins/CoreHome/vue/src/Comparisons/Comparisons.store.ts#L320-L325

This results in an failing API request.

[2021-11-29 23:30] Starker3 commented on #17976
@tsteur Would this completely prevent scheduled tasks from triggering archiving for specific plugins? For example a user recently had an issue where the IP2Company plugin was launching archiving when the scheduled tasks executed. Due to the configuration of the plugin it seems to rely only on archiving triggered by the scheduled task.

[2021-11-30 02:07] tsteur commented on #17976
AFAIK yes it would stop that. Plugins shouldn't archive data during scheduled task as this can have big performance and memory implications. The plugin could probably workaround it by setting `$_GET['trigger'] = 'archivephp';` in the scheduled task (and ideally unset it after it's finished)

[2021-11-30 03:09] bx80 commented on #18394
@tsteur I've reproduced this on a local dataset with ~6,800 user ids.

It takes 151 seconds to fully render the user id report using almost 4gb of memory for the browser tab (firefox).
Browser profiling shows that 98 seconds (~65%) of the total time is spent on the dataTable.js::handleColumnHighlighting() method.

![image](https://user-images.githubusercontent.com/88810029/143975980-5beff2b6-e1a1-

[2021-11-30 07:47] allanedk commented on #14533
Agree! This is much needed.

I'm using actions extensively on one site tracking outbound links etc. The metric "actions per visit" is not a very useful KPI in my case. "Pageviews per visit" is still a key indicator for user engagement - more valuable than "actions per visit".

[2021-11-30 08:08] sebastian-berlin-wmse opened #18409 "Exported images are cropped when window is narrow"
## Expected Behavior

Exported image should contain all information.

## Current Behavior

Exported image is cropped and parts of the labels are missing.

## Possible Solution

I did a bit of hacking on the CSS in the browser and increasing the width of the elements resulted in a full image (after some window resizing to get the canvases to catch up). It may be possible to clone the relevant eleme

[2021-11-30 12:42] Ryonez commented on #11720
Do we have a CSP compliant solution yet?

[2021-11-30 13:07] MichaIng opened #18410 "[DevicesDetection] macOS 11 falsely detected as macOS 10.15"
## Expected Behavior
Since it is released for a while and AFAIK macOS users are not as afraid of updates as Windows users (?), I'd expect macOS 11 to be among the most used versions of this family.

## Current Behavior
OPERATING SYSTEM VERSION | VISITS
-- | --
Mac 10.15 | 14.4% 11,254
Mac 10.13 | 0.6% 471
Mac 10.14 | 0.6% 452
Mac 10.11 | 0.1% 86
Mac 10.12 | 0.1% 41
Mac 11.0 | 0% 17
Mac 10.8 | 0% 1

[2021-11-30 13:13] MichaIng opened #18411 "CustomVariables and Provider can be uninstalled unexpectedly"
The CustomVariables and Provider plugins can be uninstalled even that they are reinstalled with every Matomo update. Furthermore, the CustomVariables plugin uninstall causes integrity check errors on the system check page.

## Expected Behavior
All plugins which are shipped with the Matomo core/update should not be uninstallable. All plugins which can be uninstalled, should not cause integrity che

[2021-11-30 13:18] MichaIng opened #18412 "Matomo 4.6.0 update causes integrity check error"
[code]
This already happened at least on last RC version.

## Expected Behavior
If there were no integrity check errors before an update, there shouldn't be any after an update.

## Current Behavior
Update to Matomo 4.6.0 creates `vendor/lox/xhprof/bin/xhprofile` which violates the integrity check.

## Possible Solution
Remove this file from the update archive.

## Steps to Reproduce (for Bugs)

1

[2021-11-30 14:31] DBX12 commented on #18412
I'm seeing this as well. Additionally, I got some more files highlighted by the integrity check

[code]
While the first two seem like build dependencies and could potentially be deleted, the third one looks definitely like a wanted file to me. That `.npmignore` is _probably_ unproblematic to delete.

[2021-11-30 14:40] MichaIng commented on #18412
At least the latest update does not ship the other three files, but probably they were shipped with Matomo 4.5 already? I remember seeing integrity check errors more regularly after updates, but I didn't report them every time when faced during beta or RC updates. Now it is however a stable release and that additional file was definitely shipped with the v4.6.0 stable update since I removed the sa

[2021-11-30 16:43] sgiehl commented on #18411
It's on purpose that they can meanwhile be uninstalled, as they shouldn't be shipped with the Matomo release anymore. The last release included them by accident I guess.

[2021-11-30 16:52] MichaIng commented on #18411
I just assured, and the integrity check failures when uninstalling CustomVariables is still present with this release:
[code]

[2021-11-30 17:18] Findus23 commented on #18410
Do you by chance have the useragent these visitors sent to Matomo?
If so, you can test at https://devicedetector.lw1.at how Matomo (or more precisely DeviceDetector) would detect it.

But I think in this it is an intentional feature by Apple: They are sending the same old user agent for every single browser version to limit the possibility of fingerprinting there.
You can read about it here for ex

[2021-11-30 18:46] MichaIng commented on #18410
We have no access logging enabled and as far as I can see the user agent itself is not stored by Matomo (?). But your link is a pretty good explanation. Just wondering how the 17 macOS 11.0 visits were detected then 😄.

Their first reason is a pretty funny one, as the user agent can be exactly used by websites to check or assure compatibility with a client while using as modern web features as pos

[2021-11-30 18:53] tsteur opened #18415 "File integrity check shows errors for provider plugin"
see https://forum.matomo.org/t/provider-plugin-shows-errors-and-cannot-be-uninstalled/43819/5

It looks like the latest build wasn't done using the latest build script version and therefore didn't include https://github.com/matomo-org/matomo-package/pull/134 and potentially also not other changes.

[2021-11-30 18:54] tsteur commented on #18415
I think we'll need to recreate the release possibly maybe with the new build script as 4.6.1?

[2021-11-30 19:20] tsteur commented on #18415
Same was reported in https://github.com/matomo-org/matomo/issues/18412

[2021-11-30 19:20] tsteur commented on #18412
Thanks for this @MichaIng . I'll mark this as a duplicate of https://github.com/matomo-org/matomo/issues/18415 we will look into this soon and I think we'll release a 4.6.1 where this will be fixed.

[2021-11-30 19:20] #18412 closed, assigned to nobody

[2021-11-30 19:45] tsteur commented on #18394
👍  be good to potentially also check if we can make the ellipsis work with pure CSS (assuming they take also like 30% of the CPU for you) these days but I believe this method by now does a lot more maybe not just to make ellipsis work.

[2021-11-30 20:32] bx80 commented on #18409
Hi @sebastian-berlin-wmse, thanks for reporting this issue. I can confirm that if any part of the chart canvas is being cropped before clicking export as image then the resulting exported image will also be cropped. As you note it's easy to workaround by maximizing the widget before export, but it would be much better to have this happen automatically as part of the export action.

[2021-11-30 21:09] Starker3 commented on #14583
BTW, this might also help for people who use Matomo Tag Manager with multiple different hostnames.
Currently whenever we load the MTM Preview Mode, it will use the piwikUrl from the database to fetch some of the resources (Logo, css files, etc)

[2021-11-30 21:12] #18393 closed, assigned to sgiehl

[2021-11-30 21:26] #18261 closed, assigned to sgiehl

[2021-11-30 22:59] peterhashair opened #18417 "Stick table not applied when the element is not visible during ajax load"
### Expected Behavior
 Stick table should be canceled on the table has X-axis scrolling

### Current Behavior
I was on another issue notice the stick table has a bug, that issue is related to one of my PR. [https://github.com/matomo-org/matomo/pull/18124](https://github.com/matomo-org/matomo/pull/18124)

The problem is when the dataTableScroller is not visible during an ajax load. it won't process

[2021-11-30 23:57] mattab commented on #18415
Will be fixed in 4.6.1 by using the latest version of the script (it was my mistake)
to be released in next 30 minutes

[2021-11-30 23:57] #18415 closed, assigned to nobody

[2021-12-01 00:36] mig5 opened #18418 "Matomo 4.6.0 reports 'vendor/lox/xhprof/bin/xhprofile' as problematic for File Integrity"
## Expected Behavior

After upgrading from Matomo 4.5.0 to 4.6.0 (swapping out the codebase with the new one from the tarball, and just retaining key files like config.ini.php), I expected to see no File Integrity issues in the Matomo admin interface.

## Current Behavior

The File Integrity area of the Matomo admin dashboard (System Check page) reported `vendor/lox/xhprof/bin/xhprofile` as being

[2021-12-01 02:02] asheroto commented on #12024
Bug exists still

[2021-12-01 02:27] #18332 closed, assigned to bx80

[2021-12-01 08:43] sgiehl commented on #18418
@mig5 would you mind checking if that happens with 4.6.1 as well?

[2021-12-01 09:47] sgiehl commented on #18410
Some useragents still include information that makes it possible to determine the correct version. You can see the regexes for that here:
https://github.com/matomo-org/device-detector/blob/master/regexes/oss.yml#L692-L714
Even though Safari might have frozen the user agent string, that doesn't apply for all other apps or browsers on apple devices.

[2021-12-01 10:19] pdavide commented on #17182
@davidlemaitre I'm currently facing the same issue with Matomo 3.14.1. How did you fixed it?

Thanks.

[2021-12-01 10:52] prbt2016 commented on #18418
Hello,

I get the same issue as above while starting installation for Matomo 4.6.1 i.e :

 File integrity check failed and reported some errors. You should fix this issue and then refresh this page until it shows no error.

[code]

![image](https://user-images.githubusercontent.com/17871448/144221145-24410056-cb7e-41b4-bbf2-738aee55f153.png)

Could you please check and fix?

[2021-12-01 11:08] rogamoore commented on #18418
I also have the same in 4.6.1

The file in `vendor/lox/xhprof/bin/xhprofile` seems to be a symbolic link. It points to `vendor/lox/xhprof/scripts/xhprofile.php`. For the latter, there is an entry in the manifest:

[code]

So I guess, the manifest generation script should handle symbolic links differently.

[2021-12-01 11:17] davidlemaitre commented on #17182
Hi @pdavide, I changed the send hour for problematic reports to a quiet hour, no error occurs.

[2021-12-01 11:33] pdavide commented on #17182
Thanks @davidlemaitre.

[2021-12-01 17:09] MichaIng commented on #18410
I see, not sure how to resolve it best as we cannot know whether it is the correct version or the frozen (false) version then. But currently Matomo gives false/misleading information for the majority of macOS systems, so something needs to be changed.

[2021-12-01 18:36] albertski opened #18426 "Combining Segments with comma not working in API call"
Looking over the [docs](https://developer.matomo.org/api-reference/reporting-api-segmentation#combine-segments-with-and-and-or-expressions), it mentions to comma separate the segments to use an OR condition, but it isn't working. When I comma separate my two segments (`segment=eventCategory==MyFirstEvent,eventCategory==MySecondEvent`), I get no records. If I run them separately (`segment=eventCate

[2021-12-01 21:53] Findus23 opened #18427 "GeoIP2 updater might try to download new file before it exists"
reported in https://forum.matomo.org/t/geoip2autoupdater-failed-to-unzip-the-downloaded-file-is-not-a-valid-geolocation-database/43925 (and also found in my cronjob)

## Expected Behavior
Whenever a GeoIP2 update job falls at the start of a month it might be possible that the `dbip-city-lite-2021-12.mmdb.gz` doesn't exist on the servers and the update fails

## Current Behavior

## Possible Soluti

[2021-12-02 01:11] MichaIng commented on #18411
Original issue is solved with v4.6.1, many thanks 👍. However, the integrity check now fails because of other falsely present files 😄:
[code]

[2021-12-02 08:09] sgiehl commented on #18411
@MichaIng Those files had been part of some previous releases or rcs. Should be safe to delete them.

[2021-12-02 09:10] sgiehl commented on #18426
@albertski For me or combined segments work as expected. Maybe you need to escape the segment in the url like `segment=eventCategory%3D%3DMyFirstEvent,eventCategory%3D%3DMySecondEvent`. Also depending on your archiving setting new segments might need to be archived before they are showing data...

Btw. what are you actually trying to achieve? Using the eventCategory segment on the Events report, m

[2021-12-02 12:14] fritzgithub commented on #18360
Thanks for bringing this up. We are using MariaDB and would be happy to be able to solve frequent execution time issues.

[2021-12-02 13:35] MichaIng commented on #18411
Ah, I haven't considered that previous releases may have shipped those while 4.6.1 may have undergone some cleanup. Yes those are mostly build and lint configurations, so not required for production. I removed them and didn't face any issue so far.

I'll close the issue then as solved.

[2021-12-02 13:35] #18411 closed, assigned to justinvelluppillai

[2021-12-02 14:27] alexdryden commented on #18415
Not sure if this is related, but I just upgraded directly from 4.5.0 to 4.6.1 and got a similar file integrity warning:

[code]

[2021-12-02 15:51] albertski commented on #18426
@sgiehl Say I have 10 events displaying but I only want two of them. I was using the segment to only display the two. Is that not a good approach? I also tried to escape the segment in the URL and it also does not work.

[2021-12-02 15:52] iamfinky opened #18434 "Manage Goals page: show the Month & Year when the Goal was created"
## Summary
As a developer working with Matomo, one of the questions I hear from my client is when goals were created - and by whom (covered by [10736](https://github.com/matomo-org/matomo/issues/10736) already).

It would be a handy feature to add this timestamp to the _goal_ table and have this become visible when viewing a goal, with verbiage like "Goal created at date : time" or "Goal data coll

[2021-12-02 16:03] sgiehl commented on #18426
Segments are actually good for "filtering" the data used to generate the report. So if you would like to see all events done by users using windows, or all countries users with tablets came from,.... But in your case it sound like you actually want to filter that specific report for certain values? In that case segments are actually a bad choice, because they take a lot time for calculation, which

[2021-12-02 17:17] odedonato commented on #18415
@mattab we have the same problem reported by @alexdryden with version 4.6.1

[code]

[2021-12-02 18:56] tsteur commented on #18418
Some files are also being reported in https://github.com/matomo-org/matomo/issues/18415#issuecomment-984676727
![image](https://user-images.githubusercontent.com/273120/144485250-081b5d9f-ce64-47ce-8d57-fb3da03de956.png)
and https://github.com/matomo-org/matomo/issues/18411#issuecomment-984201606
![image](https://user-images.githubusercontent.com/273120/144485308-1db73942-6c9a-4417-9940-8e79bcea80

[2021-12-02 19:03] tsteur opened #18435 "Updater doesn't delete some files automatically"
Seen eg in https://github.com/matomo-org/matomo/issues/18411#issuecomment-984201606 and https://github.com/matomo-org/matomo/issues/18415 https://github.com/matomo-org/matomo/issues/18418

At least some of these files (I'm thinking `node_modules/iframe-resizer/.eslintrc` and `node_modules/ng-dialog/.eslintrc`, and `vendor/php-di/php-di/.gitstats.yml` and `vendor/php-di/php-di/.phpstorm.meta.php`)

[2021-12-02 20:21] #18374 closed, assigned to sgiehl

[2021-12-02 20:22] justinvelluppillai commented on #18374
Hi @MichaIng it'd be great if you can confirm that the fix we have applied resolves this for you and comment here or reopen if needed as we weren't able to reproduce the issue.

[2021-12-02 20:33] MichaIng commented on #18374
I did already test it by applying the changes manually, and I didn't face these warnings anymore 🙂. Many thanks 👍.

[2021-12-02 20:34] justinvelluppillai commented on #18374
Great, thanks 👍

[2021-12-02 20:48] Starker3 opened #18436 "Output Segment ID or Name with Exception"
When users run a database update and have segments that use unsupported segment conditions (For example when a plugin was removed or a dimension disabled) it results in an exception during the database upgrade.

For example, when a dimension is disabled but used in a segment we will see the following sort of error:
[code]

It would be much easier to troubleshoot if we were to output the Segment na

[2021-12-02 21:21] tsteur commented on #18436
refs https://github.com/matomo-org/matomo/issues/16152

As we don't usually no the segmentId there easily, we could additionally mention the idSite at least at some point and the full segment definition if possible.

Technically could also do DB queries to find out the idSegment under circumstances, but depending on the encoding and other things this might not always work etc.

[2021-12-03 00:06] mickaelandrieu opened #18437 "About Symfony version of the dependencies"
## Summary

I noticed the project is using a deprecated version of Symfony (2.6 while we 5.4/6.0 was published recently).

I was wondering why you don't upgrade the Symfony version of these packages ?

Can we help ?

## Your Environment

I don't use Matomo __yet__

[2021-12-03 03:28] tsteur opened #18441 "When convert to utf8mb4 command fails, enable tracking again"
When running the `core:convert-to-utf8mb4` command, this command may fail eg because of a reason like below:

Afterwards, the tracking is disabled because the command sets `record_statistics=0` and only enables it if the command succeeds. If any query fails, we would also expect the setting to be enabled again.

It might otherwise take a user a few days that tracking may be disabled and then data

[2021-12-03 08:50] sgiehl commented on #18435
@tsteur We are actually ignoring all files starting with `.` on update. Those file won't be deleted if they exist.
The reason for ignoring is actually the `glob(*)` we are using. It doesn't catch hidden files. This can actually be fixed and I will prepare a PR for it.

[2021-12-03 09:16] sgiehl commented on #18435
@tsteur regarding the other part of this issue. I wouldn't start trying to sync/remove other parts. Guess we had a good reason not to do that. To circumvent we have similar issues in the future we could create a github action, that automatically checks the changes in a PR. And if a file is deleted, that wouldn't be caught by the updater we could add a comment on the PR to check if an update script

[2021-12-03 09:38] #18373 closed, assigned to sgiehl

[2021-12-03 11:43] MoritzLost opened #18448 "Add an option to disable fingerprinting / config_id entirely"
## Update - the specs

- Fix in 5.0.0 - See the proposed solution in https://github.com/matomo-org/matomo/issues/18448#issuecomment-1512338767
- Ideally we would backport but it might be OK in that case not to backport

## Summary

This is continuation of #16361 and the [related discussion](https://forum.matomo.org/t/does-device-fingerprinting-require-consent/42869) in the forums. Right now, the s

[2021-12-03 14:21] sgiehl commented on #18436
@tsteur I guess this might most likely also be a regression we should handle in 4.6.2. The problem is the update script, which tries to iterate over all segments here:
https://github.com/matomo-org/matomo/blob/4fe950ae94b0fe3bd13f928544ff876275fe6733/core/Updates/4.6.0-b4.php#L51-L77

I guess we should do a try/catch around the segment construct and simply skip segments that cause an exception

[2021-12-04 03:38] w41l commented on #17686
Got WARNING on stripos() (4.6.1)
[code]

[2021-12-05 19:01] tsteur opened #18451 "Fix update script should not fail if invalid segment defined"
See https://github.com/matomo-org/matomo/issues/18436#issuecomment-985559503

There is  most likely also be a regression we should handle in 4.6.2. The problem is the update script, which tries to iterate over all segments here:
https://github.com/matomo-org/matomo/blob/4fe950ae94b0fe3bd13f928544ff876275fe6733/core/Updates/4.6.0-b4.php#L51-L77

We should do a try/catch around the segment construct

[2021-12-05 19:01] tsteur commented on #18436
@sgiehl 👍  created https://github.com/matomo-org/matomo/issues/18451

[2021-12-05 22:50] tsteur commented on #18448
Thanks for this @MoritzLost

When this new feature is disabled, what would you expect to happen? What information would be accessed vs not accessed? Or would it only use the IP address (meaning when different people in the same company visit the site then all these people are group into the same "visit")? Or maybe even every single action would create a new visit and not even the IP looked at?

Be

[2021-12-05 22:51] tsteur commented on #18448
Do you maybe have a link to the page where this is mentioned?

[2021-12-05 23:24] tsteur commented on #18435
Would that action run on the archive repository? As we might delete a file from root directory in the script that builds the release? And it would run in this repository?

could maybe also a regular test run the above command so it runs as part of the tests?

[2021-12-06 07:21] Birkaransingh94 opened #18454 "Feature Request: create a scoring field to analyse the interaction between the users and the content on the site."
To create a separate scoring field for each visitor landing on website and add points there when they move through the content. It will help Matomo users in identifying that in which parts, the visitors on the site interact the most. For example:

*Visited an article in the outreach - Scoring +2
Visited the site via a link - Scoring +3
Spent more than 2 minutes on the site - Scoring +5*

[2021-12-06 08:10] sgiehl commented on #18435
No, that action would run in this repository for all pull request.
I don't yet have a good idea how to write a test for that. We would actually need to build a release. Download the latest release, perform an update, and check if the file integrity check complains about anything. Imho that sounds a bit oversized for a normal test. It might possibly be something I could implement it #17594 and let

[2021-12-06 09:37] MoritzLost commented on #18448
@tsteur Thanks for the reply!

[This comment](https://github.com/matomo-org/matomo/issues/16361#issuecomment-741662259) on issue #16361 has more information:

CRITERION A or B and consent of the user is required."

In the TTDSG, the German implementation of the ePrivacy directive, there's [§ 25 para. 1](https://gesetz-ttdsg.de/25-ttdsg/), which is pretty much a literal translation of Art. 5 para.

[2021-12-06 11:20] bigahuna commented on #18303
Hey all,

centos7, php 7.4.26, 10.0.38-MariaDB

I see the same Error after updating Matomo from 4.5.0 to 4.6.1.

The Systemcheck in the Browser (/index.php?module=Installation&action=systemCheckPage) runs just fine and reports no errors. This error did not happen with Matomo 3 or 4.5, It startet after the Update to 4.6.1

If I run  `console diagnostics:run` I get the following Errors. Also This er

[2021-12-06 12:37] bigahuna opened #18456 "Fix console diagnostics:run error when GeoIp2 is disabled"
## Expected Behavior
When calling `php console diagnostics:run` we expect a summary of the system status.

## Current Behavior
When calling `php console diagnostics:run` The following error shows up:

`ERROR [2021-12-06 11:14:01] 24912  Uncaught exception: Error: Call to undefined function Piwik\piwik_fix_lbrace() in /var/www/xyz.de/typo3/public/analyse/plugins/Diagnostics/Diagnostic/DiagnosticRes

[2021-12-06 16:48] dasuchin commented on #17159
I'm having a similar issue with a self-hosted version of Matomo, using the latest version. I have Matomo up and running on `analytics.team.example.com` with my applications running on `name.application.example.com`. I'm getting the same CORB message on the requests. The requests to matomo.js and matomo.php are both returning a 200. Not seeing any results in the dashboard though.

[2021-12-06 18:54] tsteur commented on #18456
Thanks for this @bigahuna . It can be reproduced eg when GeoIP2 is disabled. Is this the case for you maybe?

[2021-12-06 19:32] tsteur commented on #18435
👍  OK. I was hoping we could just run `git log {BASESHA}..{PRSHA} --diff-filter=D --summary | grep "delete mode"` in a regular test but maybe something like that doesn't work

[2021-12-06 19:34] tsteur commented on #18454
@Birkaransingh94 just fyi as a workaround, if the ecommerce feature is not used, then you could make use of Goals potentially to achieve this and assign a revenue to each goal. This would be effectively the same.

[2021-12-06 19:41] tsteur commented on #18448
@MoritzLost thanks for this. I will have another read and think later. Will see if we can maybe get more eyes on this through the forum or so.

Just wanted to already mention that we're working on a feature to disable some things when data is less accurate when we don't have reliable config_id etc see https://github.com/matomo-org/matomo/pull/16773

[2021-12-06 19:45] tsteur commented on #18448
Also just FYI as a "workaround" someone could technically fall back to [log analytics](https://matomo.org/log-analytics/) ([Log analytics on GitHub](https://github.com/matomo-org/matomo-log-analytics)) if eg events or other features aren't being used. Of course that might not always be the case and maybe "Opt out" could be partially problematic.

[2021-12-06 20:01] #13837 closed

[2021-12-06 20:30] tsteur commented on #18448
I guess generally it be mostly about disabling this code to run Matomo in a way to not use this data for the fingerprint if someone wanted. The most unique thing in there is likely the resolution as plugins are often quite similar. So disabling this would actually not make a huge difference. Generally, we could provide a tracker option likely to not send this data along with a tracking request (an

[2021-12-07 01:16] tsteur opened #18458 "Slight tweak to the no data recorded page title"
Currently, the no data page looks like this:

![image](https://user-images.githubusercontent.com/273120/144947769-9c74357a-2e72-4cb5-b6f3-874af90bf1ca.png)

* [ ] We want to remove the first sentence in the paragraph and instead make this the title (it also removes the word "web" since it's not always "web"):

![image](https://user-images.githubusercontent.com/273120/144948028-e8727a73-2625-4a19-b

[2021-12-07 02:06] Birkaransingh94 opened #18459 "Bahrain Map"
Hi team,

Bahrain (map) isn't showing up in Matomo maps:

![image](https://user-images.githubusercontent.com/89768140/144952867-4b927eb2-5fa7-4775-81eb-4276cc98da89.png)

[2021-12-07 03:17] avkarenow opened #18460 "Big memory usage during archive"
Process of archiving sometimes is taking too much memory:
[code]

The limit of RAM for PHP is 8G but errors also appear (but less) with 12G.
Command for archiving I'm running:
```php72 console core:archive --force-all-websites --php-cli-options='-dmemory_limit=8G'```

## Expected Behavior

Less RAM usage ;)

## Your Environment

* Matomo Version: 4.5.0
* PHP Version: 7.2.34
* Server Operating Syst

[2021-12-07 05:31] bigahuna commented on #18456
Yes, GeoIP2 is disabled

[2021-12-07 09:30] sgiehl commented on #18459
There are several very small countries missing on our current map. See e.g. https://github.com/matomo-org/matomo/issues/321
This will hopefully be handled at some point with #11929

[2021-12-07 10:23] MoritzLost commented on #18448
@tsteur Thanks! Yeah, would be great to get a some more opinions for this.

That sounds promising, maybe this would pave the way to disable the feature detection completely without messing up the reports too much. Having reduced accuracy is very acceptable if the interface clearly communicates what it entails, like hiding reports that don't work in this case.

Yeah, log analytics is always the fin

[2021-12-07 11:02] sgiehl commented on #18436
@tsteur can't we actually close this issue now? The update problem should be solved. And all other issues regarding invalid segments should be covered with #16152

[2021-12-07 19:40] tsteur commented on #18436
@sgieh it depends how things are solved. If the segment class itself still throughs an exception, and it's eg used in an update script or in a command or anywhere else where it's not caught or handled etc, then it would be still useful to show more information what segment this comes from.

[2021-12-07 19:44] #18456 closed, assigned to sgiehl

[2021-12-07 19:45] sgiehl commented on #18436
ah. ok. that makes sense

[2021-12-07 19:55] bx80 commented on #18460
Hi @avkarenow, thanks for reporting this issue, we're always looking to reduce memory usage. Are you archiving a large number of websites at once?

Matomo 4.7.0 will include https://github.com/matomo-org/matomo/pull/18326, a community submission which provides extra options for the archive command to split up the archiving task by a number of websites or reports. This can be used to reduce the mem

[2021-12-07 20:16] justinvelluppillai commented on #18460
Also would be good to know if you have the same issue in the latest version, currently 4.6.1?

[2021-12-07 20:24] tsteur commented on #18418
can this one be closed maybe?

[2021-12-07 20:26] #18451 closed, assigned to sgiehl

[2021-12-07 20:27] #18441 closed, assigned to sgiehl

[2021-12-07 22:30] sgiehl commented on #18418
I think so. The next release should at least solve a couple of the files in the lists above. All others should be fixed with 4.7.0 then.

[2021-12-07 22:31] #18418 closed, assigned to nobody

[2021-12-07 23:28] #18134 closed, assigned to peterhashair

[2021-12-07 23:54] mattmary opened #18465 "daily report does not support unicode characters"
when running matomo on websites which have special characters such as japanese or chinese characters, we are not able to get them in the daily report even if we follow https://matomo.org/faq/how-to-install/faq_142/.

## Expected Behavior
Having the characters displayed in the PDF report

## Current Behavior
Current unicode characters are not displayed in the PDF report

## Steps to Reproduce (for

[2021-12-08 00:11] #18458 closed, assigned to sgiehl

[2021-12-08 01:51] froger-me commented on #18465
In `app/core/ReportRenderer.php` line 24:

[code]

- The font family `dejavusans` doesn't support CJK glyphs
- The font family is shipped with `tcpdf` ; no font family shipped with `tcpdf` in `app/vendor/tecnickcom/tcpdf/fonts` support CJK glyphs unless it's set according to Matomo chosen locale (no support for mixed content)
- changing `dejavusans` to `droidsansfallback` in `app/core/ReportRender

[2021-12-08 03:37] tsteur commented on #18465
I'll mark this for now as a regression as I think this used to work?

[2021-12-08 04:03] froger-me commented on #18465
Note in case there are discrepancies between different shipped versions: I am using **Matomo Analytics - Ethical Stats. Powerful Insights.** v4.5.0 for WordPress
The website's language is English, but with mixed language content.

[2021-12-08 15:41] heurteph-ei opened #18468 "WARNING: /core/DataTable/Row.php(805) after update to 4.6.1"
## Expected Behavior
No warning

## Current Behavior
After the migration to version 4.6.1, some warnings are displayed in each page of the Matomo UI:

## Steps to Reproduce (for Bugs)
Migration from version 4.5.0 to version 4.6.1...
Then open Matomo Analytics...

## Context
From Forum:
https://forum.matomo.org/t/error-after-update-to-4-6-1/43990

## Your Environment

* Matomo new Version: 4.6.1
*

[2021-12-08 16:27] rabbit28399 commented on #17147
Hello,

is this problem solved? I am having this problem on 4.6.1

Any advice would be appreciated.

[2021-12-08 17:23] #17147 closed, assigned to nobody

[2021-12-08 17:27] rabbit28399 commented on #17147
@elrauk12 do you have any solutions?

[2021-12-08 17:36] elrauk12 commented on #17147
No, never found any solution. We ended up ditching Matomo. It's just not polished and consistent enough

[2021-12-08 20:55] tsteur commented on #18448
Just fyi @MoritzLost I read https://www.heise.de/hintergrund/Was-sich-mit-den-neuen-Cookie-Regelungen-aendert-6278440.html today and it sounded more like that maybe consent is needed when you previously store data, and then read this data. As I think what's maybe meant by it if you don't store a cookie, but you store an identifier in localStorage or sessionStorage or so and want to read this. I do

[2021-12-09 03:41] Birkaransingh94 opened #18470 "Signout confirmation"
A feature request from a user:

I have a small feature request.

When clicking on the sign-out button in the upper right corner, it would be great to have a confirmation bow, that you really want to sign out. When using Matomo on a tablet, I often get signed out by accident.

[2021-12-09 04:44] mattab commented on #12956
Maybe another way to solve this issue could be to:

1. Move all datatable icons to the top the screen (potentially covered in https://github.com/matomo-org/matomo/issues/19669)
2. and make the second icon (visualisation) more visible somehow? (or maybe just specifically the "goals table" icon)

[2021-12-09 05:02] mattab commented on #14974
Btw after we've worked on https://github.com/matomo-org/matomo/issues/2030
then we could quite smoothly do point 1-4 from the description,
 and then move out the following requirements in a different issue (in this same milestone ideally but can be done afterwards):

* viewed this page in the last 7 days before achieving this goal
* viewed this page in the last 30 days before achieving this goal
*

[2021-12-09 08:08] topcnm opened #18471 "Page Overlay has no bubbles"
Page Overlay loads the page that i want to tracking correctly, however with no bubbles in page.

## Current Behavior
The console log give errors as below:
`
Refused to frame '<My URL I am tracking>' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'frame-src' was not explicitly set, so 'default-src' is used as a fallback
`
## Possible Solution

#

[2021-12-09 08:25] justinvelluppillai opened #18472 "Remove files causing file checks to fail after updating Matomo"
Matomo 4.6.0, 4.6.1, 4.6.2-RC1 leave a few files behind that then cause the system check to show these Files to Delete:

[code]

This issue should be merged to `next_release` branch for Matomo 4.6.2.

## Expected Behavior
There should be no files to delete after an update if there were none before.

## Current Behavior
There are files to delete after an update

## Possible Solution
Create an updat

[2021-12-09 08:32] heurteph-ei commented on #17686
From https://forum.matomo.org/t/container-php-68-deprecated-container-php-73-deprecated/43930
with PHP 8.1:

## on page index.php?module=MultiSites&action=index&idSite=1&period=range&date=previous30

## on page: /index.php?module=Installation&action=systemCheckPage&idSite=1&period=range&date=previous30&showtitle=1&random=1227

[2021-12-09 09:13] heurteph-ei commented on #18468
Some screen prints:
![](https://forum.matomo.org/uploads/db1181/optimized/2X/8/8e00328b141c68d18ed24912efb78c610527c800_2_690x432.png)

![](https://forum.matomo.org/uploads/db1181/optimized/2X/9/9975e548306ac0596b7719f88a1796c16a13c25d_2_690x388.jpeg)

[2021-12-09 09:24] sgiehl commented on #18468
@heurteph-ei Are you able to say which request fails on the dashboard? Should be visible in the browser console.

[2021-12-09 11:55] MoritzLost commented on #18448
@tsteur I'm not sure I find that article convincing – focussing the whole discussion on cookies (or related technologies like localStorage) is a very myopic reading of the terms of the ePrivacy directive. The article basically states that the directive (and the TTDSG by extension) only talk about accessing information that _you put there yourself_ – so cookies etc. But that isn't supported by the

[2021-12-09 17:43] tomper00 opened #18476 "Report generated info missing since Matomo 4.6.x"
The "report generated" info is not visible anymore after Matomo 4.6.x

I can see that the info is still in the code like this:
`<h2 class="card-title ng-isolate-scope" report-generated="Report generated 12&nbsp;min&nbsp;5s ago" piwik-enriched-headline="" data-v-app="">`

But I am not able to display it somehow.

[2021-12-09 17:48] sgiehl commented on #18476
@diosmosis might that be Vue related?

[2021-12-09 18:37] #18472 closed, assigned to sgiehl

[2021-12-09 18:57] tsteur commented on #18468
FYI I would assume that the request itself maybe works but on a next page view these warnings show up? and the failed request is a different issue?

[2021-12-09 22:00] #14782 closed

[2021-12-09 22:33] diosmosis commented on #18476
@sgiehl yes, fixed here: https://github.com/matomo-org/matomo/pull/18478

[2021-12-09 23:37] peterhashair commented on #18088
@tsteur merged sparkline combine into 1 request, let me know if that still causing CPU load problems.

[2021-12-10 00:08] tsteur commented on #18088
great, thanks 👍

[2021-12-10 01:09] justinvelluppillai commented on #18476
Actually in #18035 we removed the report generated icon and moved the report generated info to the other info icon. You can see screenshots in #17815.

Will close this issue and the PR.

[2021-12-10 01:56] tsteur opened #18479 "Minor marketplace tweaks to mention premium features free trial"
## Marketplace -> Premium Features widget

Add the first sentence and make it green. Also add a heart emoji.

![image](https://user-images.githubusercontent.com/273120/145502944-a4925368-49e2-46a7-a15a-db83e728d559.png)

This page should also show our bundle including “Special offer:” before the description. The bundles should always be shown first. Let's use normal font color for now, not red for

[2021-12-10 03:58] e0001ed9 opened #18481 "Fix possible undefined constant exception when using ssl_no_verify"
I recently tried upgrading from Matomo  4.5.0 to 4.6.1 (via the [docker apache image](https://hub.docker.com/layers/matomo/library/matomo/4.6.1-apache/images/sha256-06dc7be1fdad19b92f22df7cc6bdee9aa914e52486c0281c7ea6e354d28323eb?context=explore)), and discovered I was no longer able to connect to the UI due to 500s.

Upon enabling debug logging, I discovered numerous errors like the following:

[

[2021-12-10 08:31] sgiehl commented on #18481
Hi @e0001ed9.
Thanks for the report. Could you maybe try if changing some code solves your issue.
Could you try adding ` 'ssl_no_verify' => null,` to this array definition:
https://github.com/matomo-org/matomo/blob/0cbcdadf5a972d531b7d5e78afa21a71004a9777/libs/Zend/Db/Adapter/Mysqli.php#L303-L309
It's not a final solution, but if it works I might be able to provide a proper fix.

[2021-12-10 08:42] heurteph-ei commented on #18468
![](https://forum.matomo.org/uploads/db1181/original/2X/9/9f3e3626a96666db75ffa778dd54806ffbc089a4.png)
![](https://forum.matomo.org/uploads/db1181/original/2X/e/ee2ffbe49c8232a1b5efda2fc01d8bdc3ff4aa77.jpeg)
![](https://forum.matomo.org/uploads/db1181/original/2X/d/d6d492ce63e60a2ce439afccad8e32efa823100e.jpeg)
![](https://forum.matomo.org/uploads/db1181/original/2X/c/c71e502ca97a2d4a2afca217fe83

[2021-12-10 08:49] heurteph-ei commented on #18468
The user says also

[2021-12-10 10:32] sgiehl commented on #18088
reopening, as the PR actually broke the goals overview and therefor was reverted.

[2021-12-10 11:10] mkassir95 opened #18484 "Time zone may not be correct"
I am using matomo latest version 4.6.2 .
I feel that that the time zone is not accurate , it is behind the real time zone by two hours (please look at my PC clock)
![image](https://user-images.githubusercontent.com/72728047/145565040-93e829f8-43ac-4a8f-962b-db99f3e75f78.png)

[2021-12-10 11:12] liping521 opened #18485 "No entry or class found for 'view.clearcompiledtemplates.enable'"
When I upgrade to 4.6.2 from 4.5.0
![image](https://user-images.githubusercontent.com/92291622/145571130-9d17709a-a604-440a-8f04-9a73a3ac7617.png)

[2021-12-10 12:26] liping521 commented on #18485
After add config  to  /config/global.php  is resolved
'path.tmp.templates' => DI\string('{path.tmp}/templates_c'),
 'view.clearcompiledtemplates.enable' => true,
![image](https://user-images.githubusercontent.com/92291622/145573969-1be03433-e587-4c45-8505-1b1036436209.png)

[2021-12-10 12:27] #18485 closed, assigned to nobody

[2021-12-10 12:29] sgiehl commented on #18485
This should have happened automatically on update. Was the file `config/global.php` maybe write protected and thus couldn't be updated by the updater?

[2021-12-10 12:32] sgiehl commented on #18484
Hi @mkassir95. As the text says, the displayed time is UTC. So guess you are having a timezone with UTC+2?

[2021-12-10 12:40] mkassir95 commented on #18484
yes lebanon  timezone is UTC+2
![image](https://user-images.githubusercontent.com/72728047/145575584-a42ae0a8-607a-443c-815f-93f058cd0fbc.png)
How can I adjust this ?

[2021-12-10 12:46] sgiehl commented on #18484
You do not need to adjust anything. If you select your timezone in the drop down, this timezone will be used for newly created websites. The time displayed in the description is for informal purpose only and will always display the UTC time.

[2021-12-10 12:49] mkassir95 commented on #18484
but the server time saved in the database is UTC and not the select zone time , in the dashboard the time is correct UTC+2 but in the database the time is UTC

[2021-12-10 12:56] mkassir95 commented on #18484
![image](https://user-images.githubusercontent.com/72728047/145577323-58fd38c6-d608-440a-9f2c-9e6535974016.png)
![image](https://user-images.githubusercontent.com/72728047/145577499-13e13832-00df-4982-828b-21a6aba40246.png)

[2021-12-10 12:57] mkassir95 commented on #18484
The database is  UTC while the dashboard is UTC+2

[2021-12-10 13:16] sgiehl commented on #18484
Yes. The database is always using UTC. The dashboard should use the timezone that is configured for the site.

[2021-12-10 13:19] mkassir95 commented on #18484
Then , is there a solution for this in order to read the real time form the database without workaround?

[2021-12-10 13:34] sgiehl commented on #18484
I think I don't understand your problem. If you want your data being processed in UTC, simply select UTC as timezone for the website.

[2021-12-10 13:39] mkassir95 commented on #18484
I need to generate custom reports and I do not want use the reports generated by the dashboard . So , I will fetch the data from the database to generate my custom reports and I will not use the dashboard . For this I will be facing a problem because the UTC is used as a timezone in the database even though I selected my local timezone

[2021-12-10 16:37] MISTAnalytics opened #18486 "Matomo progression bar for archiving process"
### Challenge and feature idea
We have the Matomo archiver logs to see whether an archiving process was successfully ended and we see the site ID and segment in there, as well as the time it took to complete the archiving for this particular part of the archiving process.

However, we have some very long-lasting archiving processes of hours and it would be great to have a way to see the current pr

[2021-12-10 20:22] mkassir95 opened #18489 "HOW DO I ADD MORE THAN THE DEFAULT 5 CUSTOM DIMENSIONS?"
I am applying this tutorial to add more than 5 custom dimensions
I am using matomo version 4.6.2
https://matomo.org/faq/how-to/faq_21121/

but I no thing is happening after executing the command

![image](https://user-images.githubusercontent.com/72728047/145641689-890f3442-2f39-41cc-805a-6ddd41c44659.png)

[2021-12-11 04:01] e0001ed9 commented on #18481
@sgiehl That did appear to work!

Disclaimer - I only tested this in a local test setup with docker so as not to impact my production deployment, but I can confirm that test setup did exhibit the problem above without your suggested change, then resolved with that fix :tada:

[2021-12-11 07:07] rhpdc opened #18490 "Unable to access Matomo Report due to permission issue"
Hello,
I am an admin for www.biokineticshealthsystem.com , and now I cannot read the Matomo reports anymore.
When trying to click on REPORTING, the message reads:

**Forbidden
You don't have permission to access this resource.**

Thanks for letting me know what to do from here!
RP

[NSBK syst report .pdf](https://github.com/matomo-org/matomo/files/7696589/NSBK.syst.report.pdf)

[2021-12-11 09:39] James-Oakley commented on #17738
Just to confirm, on 4.6.1, log_level in global.ini.php is set to WARN, there is no log_level entry in config.ini.php, and I'm getting PHP error log entries as described here.

[2021-12-12 18:14] Azertooth opened #18492 "Matomo Cloudflare App won't work"
How could I test the connection between cloudflare matomo app and matomo server? I setup all related settings but I can't get clients visits logged on matomo backend. I had the wordpress plugin and all was working but as soon as I switched to cloudflare app I can't get clients logs

[2021-12-12 20:37] bx80 commented on #18489
Hi @mkassir95, thanks for contacting us.

On Windows the console command needs to be run via the php interpreter.. You should be able to run the command to increase custom dimensions like this:

`php c:\wamp64\www\matomo\console customdimensions:add-custom-dimension --scope=action --count=5`

[2021-12-12 21:05] mkassir95 commented on #18489
Thank you man!
This works

[2021-12-12 21:15] bx80 commented on #18489
You're welcome :smiley:

[2021-12-12 21:15] #18489 closed, assigned to nobody

[2021-12-12 23:05] Chrissitopher commented on #18370
@zthomas1 : I am using [pikiwintegration](https://github.com/kaystrobach/TYPO3.piwikintegration) and I am seeing the same issue.

Have you been able to debug or even to solve this issue?

[2021-12-13 01:24] Birkaransingh94 opened #18494 "Download session recordings"
A user reached out asking if there's a way to download session recordings. Creating feature request for it.

[2021-12-13 02:08] justinvelluppillai commented on #18490
Hi @rhpdc could you please ask questions in our forums: https://forum.matomo.org/

Maybe there is also already this question solved there, eg https://forum.matomo.org/t/403-forbidden-error-general-query/33359/2. I will close this for now.

[2021-12-13 02:08] #18490 closed, assigned to nobody

[2021-12-13 11:36] mkassir95 opened #18495 "difference between _id and uid"
In the API reference documentation there are two terms : _id  & uid .
What is the use case of each of them and what the difference between them

[2021-12-13 14:10] sgiehl commented on #18484
UTC is used in that database for a very good reason and this won't be changed. If you want to generate reports using database data directly, you need to adjust the returned datetime values on your own. All reports returned by the UI or the API should do that automatically for you.

[2021-12-13 14:10] #18484 closed, assigned to nobody

[2021-12-13 14:14] sgiehl commented on #18494
Hey @Birkaransingh94. As the session recordings are part of a premium plugin we don't handle requests for it here. Would be good to create an internal DEV issue instead.

[2021-12-13 14:14] #18494 closed, assigned to nobody

[2021-12-13 14:26] sgiehl opened #18496 "Comparisons are partially broken"
It seems due to the vue migration the comparison feature is currently broken on 4.x-dev.
This doen't work correctly anymore:

* When a segment was chosen for comparison, opening the period selector also shows the `compare dates` as selected, even though it wasn't
* Choosing a date for comparison always removes all previously compared segments.

[2021-12-13 14:28] sgiehl commented on #18495
Hi @mkassir95. Would you mind linking the according documentation pages?

[2021-12-13 14:31] mkassir95 commented on #18495
Hi , yes sure
https://developer.matomo.org/api-reference/tracking-api

uid is in Optional User Info Section  and _id is in Recommended  paramters  Section

[2021-12-13 16:31] tomper00 commented on #18476
After updating to 4.6.2 today the icon is still missing so the information about "Report generated" is still missing.
<img width="1224" alt="icon missing" src="https://user-images.githubusercontent.com/366013/145850922-6c1a6dad-d850-47a3-8edf-2d5f458814ae.png">

[2021-12-13 16:32] tomper00 commented on #17815
After updating to 4.6.2 today the icon is still missing so the information about:  "Report generated" is still missing.
<img width="1224" alt="icon missing" src="https://user-images.githubusercontent.com/366013/145850922-6c1a6dad-d850-47a3-8edf-2d5f458814ae.png">

[2021-12-13 18:20] justinvelluppillai commented on #18476
The icon is removed and the Report generated time is shown where you indicated.

<img width="674" alt="Screen Shot 2021-12-14 at 7 19 33 AM" src="https://user-images.githubusercontent.com/1127121/145866866-b239eb5d-e4ac-4b47-a7b5-8654178ba510.png">

[2021-12-13 19:11] peterhashair commented on #18476
It seems like the helper footer text is missing. Going to make a PR for that.

[2021-12-13 21:40] justinvelluppillai commented on #18481
By the way this issue is probably related to the docker image using PHP8 vs 7.4, rather than the upgrade from Matomo 4.5.0 to 4.6.1

[2021-12-13 22:44] e0001ed9 commented on #18481
Totally makes sense @justinvelluppillai - thanks! Since I use Matomo via the official docker images, it wasn't immediately obvious that those other dependencies had changed along with the Matomo version.

[2021-12-14 00:03] peterhashair commented on #17815
@tomper00 thanks for letting us know. This is regression here. The report time icon is removed, but The report generated time should be displayed in helper like the screenshots below, but currently is missing, I will quickly do a hotfix for that.
![image](https://user-images.githubusercontent.com/3783072/145908303-009ee509-e973-42d2-95d1-b7f2157fc3c8.png)

[2021-12-14 01:05] #18481 closed, assigned to sgiehl

[2021-12-14 03:39] Starker3 opened #18499 "Uncaught exception when sending or downloading scheduled reports"
Refs L3-194
We have a user with 4 different Matomo servers, only one of them has this issue.

They are able to get the reports downloaded or sent when using just a "Day" period, but any other period such as week or month results in the above error.

So for example the following scheduled reports fail:
[code]

And the following one does work:
[code]
Full error output:
[code]
## Your Environment

*

[2021-12-14 04:51] mattab commented on #16361
@Daten-David FYI the discussion may continue in  #18448 and https://github.com/matomo-org/matomo/issues/15425

[2021-12-14 05:01] mattab commented on #15425
In the draft of eprivacy available here: https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CONSIL:ST_6087_2021_INIT
(PDF from Feb 21)

Article 8 states as below:

![Screenshot from 2021-12-14 17-49-55](https://user-images.githubusercontent.com/466765/145935279-3edd443e-b70a-489b-9fa6-84135d729693.png)

which reads:

of information from end-users’ terminal equipment, including about its software

[2021-12-14 05:03] mattab commented on #18448
Hello, I haven't read this whole thread in detail, but here are my findings so far looking at the latest Eprivacy draft especially Article 8: https://github.com/matomo-org/matomo/issues/15425#issuecomment-993160031 - if you have any feedback or questions i'm keen to hear :key:  I'm not sure yet how Article 5 and Article 8 cohabit or interact.

[2021-12-14 08:53] Daten-David commented on #15425
Article 8 para 1 addresses access to data which is on the device.

Article 8 para 2 addresses data which is sent ("emitted") by the device. You could say this refers to signals sent out to detect a WiFi or Bluetooth sender.

Article 8 para 1 lit. d is actually the law that addresses analytics as provided by Matomo. If this draft turns into law this would be extremely helpful to promote Matomo.

Go

[2021-12-14 09:09] Daten-David commented on #18448
Thanks to @MoritzLost and @tsteur for the valuable input. I agree that this issue is completely arguable.

One question is whether the term "information" in Article 5 ePrivacy Directive and § 25 TTDSG covers all kind of data or needs to be read in a limited meaning like "information that has been created by human action". The consequence of this legal argument could be whether screen size and simi

[2021-12-14 10:18] sgiehl commented on #18499
@Starker3 Do you know if the data that would be included in the report might contain some special unicode characters, like emojis or similar?

[2021-12-14 10:32] #18476 closed, assigned to nobody

[2021-12-14 10:53] carlgrundberg commented on #17697
@RoyBellingan Really interested in your experience with materialized mysql in CH.
We use CH for our own data in combination with Matomo, and right now we have some custom scripts moving the data from mysql to CH, but would be much nicer with a generic solution and to speed up the Matomo interface.

[2021-12-14 15:19] #18496 closed, assigned to diosmosis

[2021-12-14 15:57] sgiehl commented on #18495
Setting the `uid` should normally overwrite the `_id`, based on your config setting of `enable_userid_overwrites_visitorid`. While the `_id` is hexadecimal the `uid` can be filled with more custom content (like a username or alias).
If you need more help with that, maybe try asking your questions on our forum (https://forum.matomo.org). We are actually only handling bug reports and feature request

[2021-12-14 15:57] #18495 closed, assigned to nobody

[2021-12-14 19:49] tsteur commented on #18448
@MoritzLost here some update:

Even though there has been a lot of talk about sec. 25 of the new German Telemedia and Telecommunications Privacy Act (TTDSG), it is really only a (very late) implementation of the 2009 EU ePrivacy Directive, in this case its art. 5(3), into German law. It's nothing new basically. Meaning when we look at TTDSG we pretty much have to look at ePrivacy.

The consent req

[2021-12-14 21:24] Starker3 commented on #18499
I'll check with the user @sgiehl

[2021-12-14 22:26] #13589 closed

[2021-12-14 22:26] #18132 closed, assigned to bx80

[2021-12-14 23:01] mig5 opened #18505 "Uncaught Error: Class 'Piwik\Plugins\Provider\Provider' not found in plugins/UserCountry/Columns/Country.php:115"
I upgraded from 4.6.0 to 4.6.2, and for the first time ever, I got this fatal error in Matomo after a POST request to the piwik.php tracker came in via one of my sites:

[code]

The POST request that came in from one of my sites (and got the 500 internal server due to the error above) looked like this:

[code]

I have only masked the IP address and the website.

## Expected Behavior

No errors - n

[2021-12-15 03:15] justinvelluppillai commented on #18082
Found this one today, apparently random

[code]

[2021-12-15 14:25] sgiehl commented on #18505
Hi @mig5. How did you perform the update? Using the autoupdate or did you remove / reupload the files? It seems the Provider plugin doesn't exist anymore even though it seems to be marked as installed.

[2021-12-15 14:28] #18468 closed, assigned to bx80

[2021-12-15 14:29] sgiehl commented on #18468
@heurteph-ei This should be fixed with the next release. As we weren't able to reproduce that, feel free to reopen the issue or create a new one, if that still happens with the next release.

[2021-12-15 15:47] MoritzLost commented on #18448
@tsteur I'd love to live in France 😏

Not to beat a dead horse, but the strictly necessary part is limited to a '_service explicitly requested by the subscriber or user to provide the service_' (art (5)(3) ePrivacy). I'm not sure how to go from there to the CNIL statement – if a visitor visits a website, Matomo isn't 'strictly necessary' to provide the webpage. And the request to Matomo itself has

[2021-12-15 19:01] tsteur commented on #18448
@MoritzLost check out 50-52 https://www.cnil.fr/sites/default/files/atoms/files/lignes_directrices_de_la_cnil_sur_les_cookies_et_autres_traceurs.pdf

Translating this it says that it considers the use of attendance/performance statistics as required. That's if you eg don't also use the data for other purposes etc. Hence they [exempt that you need to ask for any consent when you use Matomo in a cer

[2021-12-15 21:53] mig5 commented on #18505
@sgiehl I replaced the entire codebase with the 4.6.2 tarball from https://builds.piwik.org/piwik-4.6.2.tar.gz, and put just the config.ini.php back in place from the original codebase I was on.

There is indeed no such 'Provider' plugin as far as I can tell, in the 4.6.1 or 4.6.2 releases. Yet there was in the 4.6.0 release.

[code]
[code]

I now see in the changelog for 4.6.1 https://github.com/

[2021-12-15 21:54] mig5 commented on #17973
Whoops: on 4.6.2 somehow I hit a fatal error because Provider was still in my config.ini.php as an installed plugin, via this plugin:

[code]

Had to remove 'Provider' from the installed plugins by hand from the config.ini.php.

[2021-12-15 21:57] sgiehl commented on #18505
It does a check if the plugin is installed before using it. But that check only looks if the plugin is listed in the installed plugin section of your config.ini.php.
If you remove it from this list the problem should be fixed for you

[2021-12-15 21:57] mig5 commented on #18505
Or is it that I'm meant to disable that plugin in the config now?

[2021-12-15 21:57] mig5 commented on #18505
Snap. OK thanks :)

[2021-12-15 21:57] #18505 closed, assigned to nobody

[2021-12-15 22:09] Daten-David commented on #18448
@tsteur and @MoritzLost

I don't know whether it helps but I am pretty convinced both of you are right. CNIL (in accordance with many lawyers) adopted a flexible approach for interpretation of Art 5 para 3 ePrivacy Directive (same as German § 25 TTDSG). Probably as many lawyers don't go with this interpretation.

Until the ECJ (European Court of Justice) had to decide on this issue nobody will leg

[2021-12-15 22:28] tsteur commented on #18448
@Daten-David  👍  As part of this issue we'll add a new method that gives people the option to not detect these browser features and send it to the server. For smaller sites this shouldn't have too much of an impact typically (unless you get a lot of traffic from different people from the same company for example). For higher traffic ones there's maybe more often that different visitors may be grou

[2021-12-16 02:57] bx80 opened #18511 "Multiple visits logged when conflicting campaign URL parameters are used"
If a URL containing campaign parameters with different values is tracked when the Referrers and MarketingCampaignsReporting plugins are both enabled then multiple visits will be logged for the same visitor.

For example:

```https://exampledomain.org?utm_source=bing&utm_medium=sem&utm_campaign=&matchtype=b&utm_term=test1&utm_content=&utm_medium=ppc&utm_term=test2&utm_campaign=test3&utm_source=bing

[2021-12-16 08:15] sgiehl commented on #18511
@bx80 We can't really prioritize the parameters the same way in core and in the plugin as they are using different config flags and classes.
A quick suggestions that comes to my mind when thinking about it would be to kind of move the `CampaignDetection` class from plugin to core and use it with DI in core only. That way we could replace the used class in the plugin to use other / additional detec

[2021-12-16 10:04] jmumby opened #18512 "Allow users with reduced access to Tag Manager."
The minimum level for a user to have sufficient access to Tag Manger is admin.

Can we have access to the tag manager independent to that of the Matomo user level? Some users have third parties manage their tag manager and do not want to allow the temporary user to have admin access to their Matomo. Alternatively, allow view access to have the required privileges to edit and publish tags.

[2021-12-16 19:16] tsteur commented on #18512
@jmumby this should be already possible using capabilities. Eg someone with view access can have the "write tag manager capability". Also users with "Write" access should directive be able to edit the tags.

Let me know if there's an issue and I'll be happy to reopen

![image](https://user-images.githubusercontent.com/273120/146434286-c2dbbc7b-f11f-476d-9e15-9263fb5a31a9.png)

[2021-12-16 19:16] #18512 closed, assigned to nobody

[2021-12-16 20:30] bx80 commented on #18471
Hi @topcnm, thanks for contacting us.

Do you have Cross Origin Resource Sharing configured? https://matomo.org/faq/how-to/faq_18694/

[2021-12-17 06:36] tsteur commented on #17697
Just reading https://pingcap.com/case-studies/8x-system-performance-boost-why-we-migrated-from-mysql-to-newsql-database

Anyone tried [TiDB](https://pingcap.com) with Matomo before maybe? Might be MySQL compatible

GitHub: https://github.com/pingcap/tidb

Seeing on https://docs.pingcap.com/tidb/v4.0/mysql-compatibility not supported are

* temporary tables (can be worked around using the `enable_s

[2021-12-18 01:40] RoyBellingan commented on #17697
@tsteur  the Idea I got is that TiDb is good at running in parallel but inherently not so efficent, and also is strictly intended to be used for write once, read many times operation.
I would say try concat them ? Maybe Pingcap can do some test as is totally in their interest to expand their product use base ?

[2021-12-18 12:44] twixi commented on #18468
i have too error 4.6.2 and
`WARNING: /core/DataTable/Row.php(805): Trying to add two strings in DataTable\Row::sumRowArray: 2021-12-18 12:41:58 + 2021-12-18 12:42:02 for column _metadata in row # ['label' =&gt; 'EG', 'nb_visits' =&gt; 65, 'nb_actions' =&gt; 133, 'Actions_nb_pageviews' =&gt; 110, 'Goal_revenue' =&gt; 0, 'Goal_nb_conversions' =&gt; 0, '_metadata' =&gt; array ( 'ts_archived' =&gt; '2

[2021-12-18 12:49] Findus23 commented on #18468
@twixi Can you try applying the change from #18500 to see if it fixes it for you?

[2021-12-19 12:39] #18088 closed, assigned to peterhashair

[2021-12-19 20:22] tsteur opened #18521 "Tracking code page: Move JavaScript tracking code right after the website"
We want to show this part with the tracking code directly below the website selector. So far in has been shown below the options but that makes it hard to find

It should look like this:
![image](https://user-images.githubusercontent.com/273120/146689640-126dd0ad-0bc9-45e5-81e8-9c010cb23fc6.png)

[2021-12-20 00:25] Starker3 opened #18524 "Segment archiving for "Year" period takes very long for new or edited segments"
While troubleshooting an issue with segment archiving, I noticed that "Year" periods for newly created or recently edited segments take extremely long to process when compared to the time it takes the "Month" periods to process.
**(A few seconds for "Month" periods vs almost 30 minutes for "Year" period)**

In this example I created a simple test segment where I set the condition to `Action Type i

[2021-12-20 00:40] Starker3 commented on #18524
For more info:
browser archiving is disabled and enforced, segments are pre-processed only:
[code]

[2021-12-20 00:43] tsteur commented on #16904
I'll reopen this issue for Matomo 5.0.

In Matomo 5.0 we will change the existing index according to this FAQ: https://matomo.org/faq/troubleshooting/how-do-i-improve-the-load-time-of-the-find-visitor-sql-query-when-visitors-have-many-visits/

so the index looks like this:

[code]

We've been testing this index on the cloud and while it made writes slightly slower the reads are a lot faster. This

[2021-12-20 03:47] bx80 commented on #18524
@Starker3 I've done a few tests, but haven't managed to recreate this. Any chance of seeing the console command you used for archiving? Did you have development mode enabled for the tests?

[2021-12-20 04:39] Starker3 commented on #18524
@bx80 I just used `./console core:archive` for testing initially.

The archive logs attached were from `./console core:archive --force-idsites=Y --force-idsegments=XX`

I did some testing with a different Site ID that has generated visit data and did not see the issue, so I was thinking that it might be specific to sites that have visits over a long period of time, eg. at least one visit for each

[2021-12-20 13:02] #18521 closed, assigned to peterhashair

[2021-12-20 21:16] tsteur commented on #17697
@RoyBellingan emailed them. 👍  also went in touch with Timescale

[2021-12-21 00:28] peterhashair commented on #18410
@MichaIng  I guess mac has some privacy protection. Like my system is on 12.1, but my user agent is displayed as 10.15.7

![image](https://user-images.githubusercontent.com/3783072/146850426-1dcf4524-a52d-49a8-9f8a-05a86d58981b.png)
![image](https://user-images.githubusercontent.com/3783072/146850505-4872ca3f-e52c-4a11-9a5d-23b1219466a4.png)

[2021-12-21 00:38] MichaIng commented on #18410
Jep, as linked by Findus23 above. Still not sure how this protects your privacy as it still does not contain private information. If Apple would allow anonymous usage of their OSes and App stores, that would be something, but freezing the user agent? 🤔

[2021-12-21 01:40] Starker3 commented on #18524
I ran the archiving queries again to get debug information, all of the previous queries were run as follows:
`./console core:archive --force-idsites=1 --force-idsegments=24 -vvv`

This is what shows in the running processes when its processing the `year` period:
[code]
[last93-archive-debug.log](https://github.com/matomo-org/matomo/files/7748855/last93-archive-debug.log)
The debug log only shows t

[2021-12-21 02:04] tsteur commented on #18524
btw you will also want to paste any other config ini setting in here, especially from the `General` section. If there's anything in `Debug` section that be good to know too

[2021-12-21 02:11] Starker3 commented on #18524
Sure @tsteur Here is the `[General]` section:
[code]

I don't have a [Debug] section in my config.ini.php

[2021-12-21 03:08] peterhashair commented on #18470
that's a great idea, I can probably implement a confirm dialog only on a touchable device, so the none touchable device still stays the same.
Let's see if anyone else has the same pain point.

[2021-12-21 08:26] #15689 closed

[2021-12-21 14:04] Findus23 commented on #18470
Does anyone by chance know any other platform that has a confirmation for signing out? I can't think of any where I would have seen this before.

[2021-12-21 14:18] sgiehl commented on #18470
I guess in most cases it is simply better "hidden". In many cases it at least takes two clicks to log out (e.g. menu icon -> logout). We could (for mobile only) hide the logout link in the top menu and instead have an additional logout link in the admin menu maybe.

[2021-12-22 13:11] heurteph-ei commented on #18426
Issue still to be let opened?

[2021-12-22 15:29] Daten-David commented on #18448
@tsteur The DSK (meeting of the German supervisory authorities) published its guideline on § 25 TTDSG yesterday.

In German: https://www.datenschutzkonferenz-online.de/media/oh/20211220_oh_telemedien.pdf

An English version has been announced.

On page 8 the DSK points out that fingerprinting is considered access to information stored on the device and hence § 25 TTDSG is applicable to fingerprint

[2021-12-22 15:56] #18426 closed, assigned to nobody

[2021-12-22 20:26] #16805 closed

[2021-12-22 20:29] tsteur commented on #18448
put one section through a translation service so other people can understand as well. FYI above one talks about a long-lived (hash) value. In Matomo, this hash is not long-lived and changes max every 24 hours. If visitor visits the site at 8am, then 16 hours later the hash changes already again. You could maybe argue that because the hash is not long lived it's not considered a fingerprint and it

[2021-12-22 21:05] MISTAnalytics commented on #18486
Sometimes the archiving process takes many hours/days to archive all periods and segments (with lots of data).

In the logs, this message is shown: **Finished archiving for site 3, 16 API requests, Time elapsed: 17.929s [3 / 9 done]**

From the example above, the bolded output is what can be seen when a given site is completed. It shows the total amount of time it took to process the given site an

[2021-12-22 22:11] Starker3 opened #18530 "Safari blocks cookies for iFrame domain when domain doesn't match source website"
It seems that the recent updates to the Safari browser (Prevent cross-site tracking) blocks any cookies from being generated when the Matomo domain doesn't match the website it's being loaded from.

This breaks the use of iFrames for Matomo that require cookies to be set (For example the logme feature)

There doesn't seem to be any way to fix this with headers (Eg using CSP or CORS configurations)

[2021-12-22 22:52] tsteur commented on #18486
Thanks for the feature suggestion @MISTAnalytics

I'm not quite sure about the value yet. Is the flow that someone would want to know when the reports are available, and then asks a sysadmin to check the logs when it will be available? And if that site/period they are after is currently available, then you would be able to tell based on the logs when the report will be finished?

Assuming the arch

[2021-12-23 01:11] oktak commented on #17714
[FYI] I use [bitnami's matomo docker image](https://hub.docker.com/r/bitnami/matomo) too. My case is the UI download seems not work for me (I deployed the docker image on Oracle Cloud, perhaps some network issues I didn't solved).

I inspected the running docker container, the `DBIP-City.mmdb` file should be placed in `/opt/bitnami/matomo/misc` folder inside the docker container. This path `/opt/b

[2021-12-23 02:27] tsteur opened #18534 "Fatal error rgument 1 passed to Davaxi\\Sparkline::setLineColorHex() must be of the type string when comparing"
See below error. seems this happened when comparing? A segment is applied too but could be removed when reproducing I would assume.

[2021-12-23 10:52] Daten-David commented on #18448
Yesterday I missed an additional announcement by the DSK in its press release regarding the new guideline.
DSK announced to initiate a public consultation on its guideline. Details will follow. See last paragraph of press release (in German):
https://www.datenschutz-berlin.de/fileadmin/user_upload/pdf/publikationen/DSK/2021/2021-DSK-PM-OH_Telemedien.pdf
It might be helpful if Matomo could provide

[2021-12-23 13:34] sgiehl commented on #18534
This could possibly be a vue migration issue. It seems for some reason the sparkline uses `null` as second series color.
See https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/CoreHome/javascripts/sparkline.js#L18-L22
and
https://github.com/matomo-org/matomo/blob/92ed7f8530ceff52b479303481b25939143ed4b8/plugins/CoreHome/vue/src/Comparisons/Comparisons.store.

[2021-12-23 18:01] diosmosis commented on #18534
I'm not able to reproduce. If null is being used, then it is coming from ColorManager not the comparison service (if the color wasn't there in the comparison service, we'd get `undefined`). The best change I could come up with is: https://github.com/matomo-org/matomo/pull/18536 in case it's a race condition of some kind.

[2021-12-23 18:51] tsteur commented on #18448
Great, thanks a lot for pointing this out @Daten-David . We'd be keen to follow up there. In case we miss it, be great to mention it if you hear more about the details.

[2021-12-23 19:05] tsteur opened #18537 "Fatal error: In Feedback.sendFeedbackForFeature API"
Getting below error.

I noticed this API is enforcing specific types. I'm thinking in API's we should likely not make use of PHP types like `(?string $featureName, int $like` as it could cause issues like fatal errors when you actually want a regular error message response that the input is not correct.

Could we maybe remove those types there and in general document to not use any types there? We

[2021-12-23 20:50] bx80 opened #18538 "Fix page overlay sidebar authentication failure"
When viewing the page overlay, on some sites, the sidebar may fail to authenticate and shows the following message:

When this happens the AJAX call to the `renderSidebar` controller method is sent with a different session cookie than all the other requests which causes the API request to fail as the session is not authenticated.

See L3-197

## Expected Behavior
The page overlay sidebar should co

[2021-12-24 00:31] tsteur opened #18539 "Field conditions eg in Measurable Settings API not working anymore"
Seems to work in 4.6.2 but not on 4.x-dev or on demo2.

eg go to https://demo2.matomo.org/index.php?module=SitesManager&action=index&idSite=13&period=day&date=yesterday and edit a site/measurable.

Then click on `Disable visits log & visitor profile`. When enabled, it should hide the second setting which it no longer does.

![image](https://user-images.githubusercontent.com/273120/147301875-1cead1

[2021-12-24 00:57] diosmosis commented on #18539
It's probably a regression, will look into it.

[2021-12-26 20:33] tsteur opened #18544 "Field width 3356450096 is too long in core/DataTable.php"
Error: {"type":1,"message":"Field width 3356450096 is too long","file":"\/var\/www\/html\/core\/DataTable.php","line":1586,"request_id":"2b6ce","backtrace":" on \/var\/www\/html\/core\/DataTable.php(1586)\n","safemode_backtrace":"#0 [internal function]: Piwik\\Plugins\\MyPlugin\\Controller->safemode(Array)\n#1 \/core\/FrontController.php(619): call_user_func_array(Array, Array)\n#2 \/core\/FrontCo

[2021-12-27 05:21] monkeyjunglejuice opened #18546 ""Update automatically": No SSL connection possible"
When trying to update, this error message appears:
"Downloading the latest Matomo version over secure HTTPS connection did not succeed, because of the following error:
curl_exec: SSL certificate problem: certificate has expired. Hostname requested was: builds.matomo.org"

There's only the chance to update via unencrypted HTTP.

## Expected Behavior
![screenshot](https://user-images.githubuserconte

[2021-12-28 08:03] topcnm commented on #18471
@bx80
Thanks fro your reply.
I have set domain with *  (Administration > System > General settings),  then config the websites( that i want to track) nginx by `add_header Access-Control-Allow-Origin *;`
however, it does not help. When I open the page overlay,  it gives the same error still, and the left side keeps on loading.

[2021-12-29 18:46] tsteur opened #18550 "Fix SQL syntax error due to incorrect parameter"
Maybe an empty array was passed to `deleteInvalidations` method in which case it would need to return directly again?

[2021-12-30 04:33] #18539 closed, assigned to diosmosis

[2021-12-30 09:06] GreenReaper commented on #18186
I wanted to give feedback but I got an error: "Could not instantiate mail function." This is correct; the system is not set up to send mail, but it would've been nice if it suggested an alternative method to give feedback. Or better, if it didn't rely on mail; or didn't solicit the user to send feedback if it wasn't going to work, though I'm not sure if you can easily determine that before trying.

[2021-12-31 00:30] tsteur commented on #18534
Also getting similar fatal errors for a different method. This one I can reproduce on our own instance.

URL: https://example.matomo.org/index.php?date=2021-11-30,2021-12-29&forceView=1&viewDataTable=sparkline&module=API&action=get&disableLink=0&widget=1&idSite=1&period=day&columns=nb_visits%2Cnb_uniq_visitors&colors=%7B%22lineColor%22%3A%22%23cac5be%22%2C%22minPointColor%22%3A%22%23ff7272%22%2C%2

[2021-12-31 00:53] tsteur commented on #18534
not sure if related, also seeing such a notice
![image](https://user-images.githubusercontent.com/273120/147796949-a0939c96-d1d5-4375-9487-dd143844f92a.png)

[2021-12-31 01:00] tsteur commented on #18534
It doesn't look vue related. Quick fix might be in PHP to default the missing/incorrect colors

[2021-12-31 04:30] GreenReaper commented on #18448
As a user, this is all very confusing. I have a main server in France from a French company that proxies Matomo requests to a analytics server in the UK which hosts the Matomo software. Some of our users are from Germany. So do I have to worry about Germany privacy law interpretations on fingerprinting applying, even though I am in the UK and the server is in France? 🤷🏻‍♂️

[2021-12-31 11:26] arisada commented on #14799
I've been hit with the same weird problem after migrating from a very old piwik installation to the latest matomo. In case someone else needs it, here is the command that fixed it for me:

[code]

I just hope there are no other unnullable columns waiting to trigger the same bug on a different parameter. So far it seems to work.

[2022-01-01 13:53] fangdajiang opened #18558 "use another method to run the app instantly?"
Hello, we are TeamCode. We have created a Tin application for this app, which help users to quickly run and try the app without installing and configuring the environment. Users don't need to pay for this service. Hope it can help you better promote the app!

[![TeamCode try-it-now](https://static01.teamcode.com/badge/teamcode-badge-run-in-cloud-en.svg)](https://www.teamcode.com/tin/clone?applicat

[2022-01-01 20:35] bmaehr opened #18559 "Split search categories with configurable character"
We are using the internal search to search in multiple categories at the same time.

It would be nice if Matomo would be able to split the category string into multiple searched categories with a configurable split character.

## Your Environment
* Matomo Version: 4.6.2

[2022-01-02 18:28] tsteur opened #18560 "Do not create a session if accessing login page with a not supported browser"
When accessing the login page with a not supported browser like IE11, can we not create a session? This can prevent some issues where unneeded extra sessions are created. Seeing https://github.com/matomo-org/matomo/blob/4.6.2/core/FrontController.php#L426-L428 is checked after the session was created maybe? If easily doable, be great to move this check a wee bit further up before `makeSessionAuthe

[2022-01-02 20:31] wadih opened #18561 "Running report from 2021-12-01 to 2021-12-31 returns no data"
Hi,

Running report from 2021-12-01 to 2021-12-31 returns no data.

However running report from 2021-12-01 to 2021-12-30 returns full data set.

Looks like a bigger or equal conditional logic at play somewhere.

![2022-01-02_15-30_1](https://user-images.githubusercontent.com/1222066/147888691-ff99fc00-997c-48e5-a303-1f807b6a08d2.png)
![2022-01-02_15-30](https://user-images.githubusercontent.com/12

[2022-01-03 13:36] tgoeg opened #18563 "Unable to send mails through SMTP server with self-signed cert (and undescriptive error msg)"
## Expected Behavior

Using password reset or ./console core:test-emails should send out mails.

## Current Behavior

I get errors when trying both, but no error messages that hint at the actual problem:

[code]

## Possible Solution

My SMTP server has a self-signed certificate. I'm trying to get people to fix that as well (as this would be the better solution), but wanted to report the problem h

[2022-01-03 16:24] martenkoetsier commented on #7308
My biggest issue in the filenames is the date formatting. The reports are currently named with the `$prettyDate`, which causes the reports to be not sortable. I would strongly prefer the ISO date format in the filename (e.g. `2022-01-03`) because that is sortable. Sorting is important when you want to find a specific report in a directory with many reports.

Perhaps there could be an option "local

[2022-01-04 06:02] CalumChilds opened #18565 "Latest version of Matomo not available on Installatron"
The latest version of Matomo is not available through Installatron. The last version available on Installatron is 4.4.1.

## Expected Behavior

That the software should be automatically updated.
## Current Behavior

The software has not been updated for two major versions.
## Possible Solution

## Steps to Reproduce (for Bugs)

N/A

## Context

## Your Environment

* Matomo Version: 4.4.1
* PHP Ve

[2022-01-04 11:02] Findus23 commented on #18565
I don't think anyone apart from the Installatron team can change this fact as this integration is neither maintained nor supported by the Matomo team.

[2022-01-04 20:15] tsteur commented on #18565
@Wingo5315 have you reached out to Installatron already about this? If not, that be great to do

[2022-01-04 20:17] inkskull commented on #17159
Hello,
Still got what seems to be the same issue :
﻿﻿
matomo-tracking.min.…cc00d517f6177b.js:2 Cross-Origin Read Blocking (CORB) blocked cross-origin response https://monserveurencarton.eu/yunohost/sso/?r=aHR0cHM6L...Lmpz with MIME type text/html.

Tried it on Firefox : get the same answer

[2022-01-04 20:20] tsteur commented on #7308
Indeed @martenkoetsier that could be improved. What do you suggest what it would look like for weeks or other date ranges? like `Export _ Exit pages _ week 2022-01-03 to 2022-01-09.csv`? A problem might be also different date formats which we would probably need to respect as sometimes the order of day / month / year is different. Having the month in the name written makes this bit more clear

[2022-01-04 20:28] Starker3 opened #18567 "System Checks might not work for internal hostname without TLD"
A user encountered an error in the System Check (Specifically for the HSR plugin).
The check showed that the URL was not accessible. After further testing they confirmed that devices on the network can access the link and they are able to use cURL and wget to access the URL from the Matomo server directly and it returned the expected results.

The main thing that appears to be different is that th

[2022-01-04 20:55] bx80 commented on #18561
Hi @wadih, thanks for reporting this issue.

When running the report for 2021-12-01 to 2021-12-30 report data is calculated on-demand and then cached since this is a custom date range. But when running the report for 2021-12-01 to 2021-12-31 this date range maps to entire month and so the pre-generated monthly data for December will be used.

As you are not seeing any data for the December month t

[2022-01-04 21:38] martenkoetsier commented on #7308
@tsteur Yes, that format would work. The part before the date (`Export _ Exit pages _ week `, or in my cases for example `Report the-name - `) will remain the same over time. Thus with many reports stored in a directory it does not influence ordering.

Respecting local date formatting is great for everyone who wants it. Indeed, the order of the fields is different for various languages, [making a

[2022-01-04 21:57] bx80 commented on #18567
I can confirm this locally, as I use a non-TLD self signed server config and the following error is shown:

A quick hack to disabling the CURL_VERIFYPEER and CURL_VERIFYHOST options on the request allows the check to complete successfully, so this error is probably caused by CURL rejecting the self signed certificate.

Although the HSR check could be changed make the request with the $acceptInvali

[2022-01-04 22:05] wadih commented on #18561
Hi @bx80,

You are right, after running those two commands, it now works.

I had to make console executable first, and it didn't recognize --site, so I ran:

[code]

Thank you so much. I will go ahead and close the ticket.

[2022-01-04 22:05] #18561 closed, assigned to nobody

[2022-01-04 22:45] Starker3 commented on #18567
Could this maybe be resolved by using a custom certificate bundle then? There is a config option for it: https://github.com/matomo-org/matomo/blob/4.x-dev/config/global.ini.php#L833

[2022-01-04 22:46] #18394 closed, assigned to bx80

[2022-01-04 22:47] Starker3 commented on #18567
FYI not sure if the user is seeing the same error message as you do:
[code]

[2022-01-04 23:38] Starker3 opened #18570 "Non-utf8 setlocale can result in Fatal Error"
A user that has a non-utf8 locale set in their PHP configuration, for example:
[code]
Can result in reports or tracking requests with non-utf8 character encoding being generated/inserted. For example:
![image](https://user-images.githubusercontent.com/20905821/148138288-5e85e064-47d3-4551-b2d8-4adc07a35268.png)

This was fixed for this user by setting the following in the PHP configuration:
[code]

[2022-01-04 23:44] bx80 commented on #18471
@topcnm You might need to adjust the nginx content security policy rule to allow Matomo to iframe your website.

I can't give you the exact changes as I don't know your configuration, but it would look something like `add_header Content-Security-Policy “frame-src ‘self’ your-matomo-domain.com”`

[2022-01-05 00:35] justinvelluppillai commented on #18546
Thanks for the issue @monkeyjunglejuice - I think this was resolved in Matomo 4.5. I will close this for now. Please refer to #18089 for more info.

[2022-01-05 00:35] #18546 closed, assigned to nobody

[2022-01-05 01:04] bx80 commented on #18567
Looks like it's a different issue from ssl certs then. That message is shown if there was a response but it didn't include the string `piwik.heatmapsessionrecording`, unfortunately the HSR check doesn't write a debug log with the exact response.

What is shown if `https://matomo-site/matomo/plugins/HeatmapSessionRecording/configs.php?idsite=1&trackerid=5lX6EM&url=http%3A%2F%2Ftest.test%2F` is acce

[2022-01-05 01:19] Birkaransingh94 opened #18571 "QA features to query and fix websites"
A User raised a feature request if Matomo can do the following on the website:

Fix
- Broken links

- Misspellings

- Readability score

- Accessibility

[2022-01-05 01:28] Starker3 commented on #18567
It's shows the expected output:
![image](https://user-images.githubusercontent.com/20905821/148146152-498977ad-edc4-4e83-ab19-25d3a3d301cf.png)

wget an cURL return the same response as well when executed from the Matomo server:
[code]

[2022-01-05 11:59] marvays opened #18573 "Better calendar to view "Last 7 days", "Last 30 days", "3 months", "6 months" like in GA"
I'm switching from Google Analytics and I really miss one thing. And that, set your calendar to select dates for the last 30 days, the last 3 months and the last six months. Is it possible to finish it?

[2022-01-05 12:23] andrewnenakhov commented on #18573
Actually, even simply opening analytics with the 'last 30 days' / '3 months' would be great - currently it opens on whatever date you've selected it the previous time, so every time you need to adjust the date. Very tedious.

[2022-01-05 16:15] #18558 closed, assigned to nobody

[2022-01-05 18:48] Wingo5315 commented on #18565
Just submitted a ticket. https://installatron.com/tickets?ticket=15015336&email=mail@calumchilds.com

[2022-01-05 19:06] Findus23 commented on #18565
@Wingo5315 I deleted your message as it seems like that link would allow anyone to send a message to support with your E-Mail address

[2022-01-05 20:04] tsteur commented on #18565
Thanks. I'll close this issue again as it's not really related to us. Feel free to comment again if there's any way we can help.

[2022-01-05 20:04] #18565 closed, assigned to nobody

[2022-01-05 20:42] bx80 commented on #18567
The output looks okay and there clearly isn't any issue with server itself accessing it. I think we'll need to see details of the response or error to work out why the check code is failing.

Would it be possible to temporarily add the following line to `plugins/HeadmapSessionRecording/Diagnostic/ConfigsPhpCheck.php` on line 80 just after the try/catch block then try `./console diagnostics:run`?

[2022-01-05 23:14] peterhashair commented on #18465
Well, @froger-me  is right, `dejavusans` is right, it doesn't support CJK glyphs. Suggest a change to which is already included in the TCPDF vendor package.
[code]

[2022-01-05 23:58] peterhashair commented on #18465
I guess, to view the report with the correct format need to change the Matomo language to the same language that the report has. how to change language is here. https://matomo.org/faq/how-to/how-can-i-change-the-language-of-matomo-as-a-user/
it actually take the last param in the URL as laguage in my case is `language=en`
 /index.php?module=API&action=index&idSite=1&period=day&date=2022-01-05&meth

[2022-01-06 02:40] froger-me commented on #18465
What about when a user has **mixed** language content? The base language is English, but the content is bilingual, primarily English with some Chinese characters, maybe, for example? The interface language would need to be English for the user (so `language=en` seems right), but the Chinese characters supported nonetheless to handle displaying the content, like the behavior in a browser?

[2022-01-06 03:14] peterhashair commented on #18465
@froger-me, right, good question. I guess we should import the https://matomo.org/faq/how-to-install/faq_142/ fonts here to tcpdf Lib, that should fix it. I will give a try, see if that works.

[2022-01-06 03:34] peterhashair opened #18578 "[VUE]Date selector doesn't change on report page."
## Expected Behavior

I guess there is a regression there. Under admin->Personal->Email Reports. if you change the date selector the UI doesn't change, but the param changes.

## Current Behavior

![image](https://user-images.githubusercontent.com/3783072/148324153-a7f79ecb-dcdb-45f1-b694-8dab1bf4d4e3.png)
See the screenshot, the date selector is 2021-01-04, but the URL param is 2021-01-05

## Pos

[2022-01-06 07:09] justinvelluppillai commented on #18537
@peterhashair it'd be good to check if you can add or update any documentation to reflect @tsteur's suggestion of not typing API endpoints so this is clear in future as part of this task.

[2022-01-06 07:39] peterhashair commented on #18537
@justinvelluppillai sure, you mean here right？ https://developer.matomo.org/api-reference/reporting-api#Feedback.

[2022-01-06 08:04] justinvelluppillai commented on #18537
I mean adding a note to not use typed parameters, perhaps on this page https://developer.matomo.org/guides/apis

[2022-01-06 09:41] peterhashair commented on #18537
@justinvelluppillai right, ah how do I access that API site :)

[2022-01-06 09:59] justinvelluppillai commented on #18537
There's an [Edit on Github](https://github.com/matomo-org/developer-documentation/blob/live/docs/4.x/apis.md) link at the bottom of the page

[2022-01-06 14:23] danielpunkass commented on #12264
I came across this thread after years of noticing but ignoring similar errors in my PHP logs. They only happen every few days for me, but have happened consistently for years. I'll try to apply some of the clues about narrowing down the source of the problem and see if I can come up with any new ideas. @Daijobou since October have you had any other insights?

[2022-01-06 15:05] Daijobou commented on #12264
@danielpunkass I haven't looked at that since. Because https://github.com/matomo-org/matomo/issues/12264#issuecomment-945111551
This URLs are not generated from my website. Either Matomo does something wrong when creating the URL or someone else generates these strange URLs. Therefore I ignore the error. Is only 0 to 5 times per day anyway.

[2022-01-06 15:07] danielpunkass commented on #12264
@Daijobou Thanks! I'm looking into the issue now on my end. In my case the same issue seems to occur that instead of the expected parameters to the PHP script, it inserts "undefined". So it does seem like some set of circumstances in the JavaScript will lead to the problem. I'll post again if I make any discoveries.

[2022-01-06 16:07] danielpunkass commented on #12264
I think I have a good idea what is going on. I don't pretend to understand the inner workings of Matomo too well, but auditing the code path that would lead to the symptoms I'm seeing, I think what happens is in getRequest, when appendAvailablePerformanceMetrics is called:

https://github.com/matomo-org/matomo/blob/9ed7e1815e263aa8a1a52332311ba0fd3489bb01/js/piwik.js#L3837

In some circumstances c

[2022-01-06 16:09] danielpunkass commented on #12264
@Daijobou If you see the issue as frequently as 5 times per day, perhaps you could try replacing all the bare "return;" lines near the line I referenced with "return request;" to confirm that the issue goes away?

[2022-01-06 23:18] #18402 closed, assigned to peterhashair

[2022-01-07 09:33] MISTAnalytics commented on #18486
@tsteur Please find my response below.

_I'm not quite sure about the value yet. Is the flow that someone would want to know when the reports are available, and then asks a sysadmin to check the logs when it will be available? And if that site/period they are after is currently available, then you would be able to tell based on the logs when the report will be finished?_

_Assuming the archiving a

[2022-01-07 10:26] sgiehl commented on #18571
I guess those stuff could in theory be implemented in custom plugins. But it isn't the focus or goal of Matomo to check or improve a websites content. I'm pretty sure there are very good SEO or accessibility tools that can do that a lot better. Maybe it would be possible to somehow integrate other tools, to easily trigger and see check results in Matomo.

[2022-01-07 12:20] #18362 closed, assigned to peterhashair

[2022-01-07 15:35] #17012 closed, assigned to peterhashair

[2022-01-07 16:10] sgiehl commented on #18578
The problem actually seems to be, that the admin interface still works without a url hash, but changing the date in the selector appends/updates the date param in the url hash and not in the normal url parameters.
I Matomo 4.5 the url parameter was updated instead. So this is a regression indeed.

[2022-01-08 22:29] peterbo commented on #17123
Having this problem in multiple instances after updating from <=4.5.0 to >=4.6.1 (all of these are "older" instances that also have been updated from 3.x to 4.x):

![mtm_update](https://user-images.githubusercontent.com/1018973/148661990-1857b813-f374-46fa-b351-bf8c30b7c784.PNG)

[2022-01-09 20:00] Starker3 commented on #18570
Further clarification from the user, this can result in a Fatal Error when trying to show reports in the UI:
![image](https://user-images.githubusercontent.com/20905821/148698501-a9d9f089-6845-4a01-9139-47318b24a2d7.png)

It seems that this is now happening when after switching to the following PHP configuration:
[code]

Will ask for further clarification to confirm this.

[2022-01-09 20:00] sgiehl commented on #17123
@peterbo Are those instances using browser archiving or cron task only?
This might be related to https://github.com/matomo-org/matomo/issues/18362 maybe...

[2022-01-10 00:56] #18537 closed, assigned to peterhashair

[2022-01-10 03:47] #18578 closed, assigned to diosmosis

[2022-01-10 05:19] Sir-Will commented on #18468
I'm still getting this error after the change from #18500.

[code]

[2022-01-10 07:38] vonloxley commented on #18499
We have the same error when generating PDF-Reports, and only then:
[code]

We are using the official docker-image (Apache) version 4.6.2. It is quite likely that unicode charachters are involved. The string in question is most likely `Handlungsleitfaden_Umgang mit Corona-Verdachtsfällen`.

If you need any more information, please do not hesitate to ask.

[2022-01-10 08:46] vonloxley commented on #18499
This might be related to https://github.com/tecnickcom/TCPDF/issues/464.

[2022-01-10 09:16] marcelcz1 opened #18595 "User Opt Out not correct"
Hi,
I wanted to implement the opt out button for matomo to our privacy page, but the text of the pre-built html code is not correct.
It marks that the visit is not tracked on matomo at the moment and by clicking on the checkbox it will activate the tracking. Normally the text should be the opposite (tracking is active, checkbox to opt out).
How can I change this?

html code:
<iframe
        style=

[2022-01-10 13:35] peterbo commented on #17123
Hey @sgiehl ! These instances are all running on Cron archiving with Browser archiving disabled (and most of them also with browser_archiving_disabled_enforce = 1)

[2022-01-10 14:03] ghost opened #18596 "core:archive exits with 1 when only warnings occur"
Warnings during runs of `core:archive` will always cause it to exit with an exit code of 1, even if the task didn't encounter any errors:

[code]

This behavior is not helpful and IMO unexpected. *nix programs usually only return a non-zero return code when the operation requested by the user failed entirely. `core:archive`'s current behavior makes it unreasonably complicated to decide whether it

[2022-01-10 19:12] tsteur commented on #18468
@bx80 could there maybe be still an issue?

[2022-01-10 21:02] tsteur opened #18598 "Add URL campaign parameters to in-app search and help links"
We use these campaign parameters as we're partially using them already in other cases (we could change if it doesn't make sense)

[code]

When someone searches for something in the quick search, or on the help page, and we then open "matomo.org" to view the search results, add campaign parameters so we know how many people used this feature.

Also add campaign parameters to the help links in repor

[2022-01-10 22:30] tsteur commented on #18499
We have the same issue in production. Below stack trace:

I see there is a `UTF8StringToArray('MyTest dispon...', `. I find 3 related action names in the `log_action` table, they contain below characters, not sure if this causes an issue?

* `Test-Matomo`
* ` - Test - `
* `Test d&#039;aMatomo - `

Stack trace:
#0 vendor/tecnickcom/tcpdf/include/tcpdf_fonts.php(2004): array_map(Array, false)
#1 ven

[2022-01-10 22:42] Starker3 commented on #18499
FYI - Never got confirmation from the end-user if they had special unicode characters (Eg. Emoji, etc)

[2022-01-10 22:42] bx80 commented on #18468
Thanks to everyone following up on this issue, it looks like the fix in #18500 didn't work.

This is probably because unsummable columns are only checked for top level column names, if the column is an array (as it is in this case `_metadata`) then the array keys are not checked against the unsummable columns, so an attempt to sum up `ts_archived` is still being made even though it is meant to be

[2022-01-10 23:37] tsteur commented on #17123
Just wanted to add I couldn't reproduce it on one of our instances (browser archiving disabled, also for segments). Worked for "All Visits" on all our instances and when choosing a segment. Also seems to work on https://demo.matomo.cloud/ ?

[2022-01-11 00:07] #18465 closed, assigned to peterhashair

[2022-01-11 00:10] peterhashair commented on #18465
@@froger-me Update this issue, it should be in the next release very soon,  it use the unifont.ttf, https://matomo.org/faq/how-to-install/faq_142/ If you like a different font, I guess just need to overwrite unifont.ttf

[2022-01-11 01:06] peterhashair commented on #18082
I guess this is old one.

[code]

[2022-01-11 01:07] peterhashair commented on #18082
There is a new one.
[code]

[2022-01-11 05:02] peterhashair commented on #18598
@tsteur Should I follow this rules. Or `mtm_campaign=App_Help&mtm_source=Matomo_App&mtm_medium=cpc|email
` is enough.
![image](https://user-images.githubusercontent.com/3783072/148884117-460255c7-6f49-474d-98f7-52c5da3edbd0.png)

[2022-01-11 05:17] froger-me commented on #18465
Great, thanks for the update!

As a suggestion for possible further improvement - how difficult would it be to set the font in `config.ini.php` so that it doesn't break at update? I specifically have the WordPress plugin in mind, which I think replaces all the files entirely during plugin update (but not the `config.ini.php` because it's located outside of the plugin directory) - but that may be a

[2022-01-11 06:09] peterhashair commented on #18465
@froger-me that make sense to me, set up fonts in the config will be easier, but I can't make the judgment call.  Can I copy the request to another tickets category as an enhancement (new feature), which I am sure the management team will pick up,

[2022-01-11 06:15] froger-me commented on #18465
Absolutely :) !

[2022-01-11 06:22] peterhashair opened #18602 "add font option into the confg.ini.php"
@froger-me request adding font config into the config.ini.php. Details are here.
https://github.com/matomo-org/matomo/issues/18465#issuecomment-1009607995
app/core/Mail/EmailStyles.php
app/core/ReportRenderer/Pdf.php
app/core/ReportRenderer.php

"

## Summary

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-01-11 10:55] brainfoolong opened #18603 "Hide commands that don't work on windows"
I've seen really strange error messages since a while in our Apache log which have no timestamp or what so ever.

      The system cannot find the path specified.
      The system cannot find the path specified.
      The system cannot find the path specified.
      The system cannot find the path specified.
      'groups' is not recognized as an internal or external command,
      operable progra

[2022-01-11 11:14] sgiehl commented on #18603
Hi @brainfoolong
Thanks for your detailed bug report. Guess it makes sense to adjust the `Filechecks::getAutoUpdateMakeWritableMessage` method, so it only performs the methods that work on windows. I will have a quick look and check if I'm able to provide a simple fix for this.

[2022-01-11 11:35] brainfoolong opened #18605 "Error when calling isSupportedWithReason from CliMulti on Windows"
Another one :)

I've seen really strange error messages since a while in our Apache log which have no timestamp or what so ever.

      The system cannot find the path specified.
      The system cannot find the path specified.
      The system cannot find the path specified.
      The system cannot find the path specified.
      'groups' is not recognized as an internal or external command,

[2022-01-11 13:30] peterbo commented on #17123
For Segments, it is working, just not for "All Visits". I'll gather some more data that could be useful to reproduce this.

[2022-01-11 19:31] tsteur commented on #18605
Makes sense 👍  if `isWindows() === true` we want to return immediately and not perform any of the other checks. Thanks for reporting this @brainfoolong

As in
[code]

[2022-01-11 19:32] tsteur commented on #17123
Interesting @peterbo I have a feeling this might be fixed by https://github.com/matomo-org/matomo/pull/18403/files then. Let me know in case there's more to reproduce this

[2022-01-11 19:34] tsteur commented on #18598
@peterhashair I'm not sure what rules you mean?

[2022-01-11 20:12] #18283 closed, assigned to sgiehl

[2022-01-11 20:40] bx80 commented on #18595
Hi @marcelcz1, thanks for contacting us. The opt out text will automatically change to opt in if Matomo detects that the user is not currently being tracked. Are you testing using a browser that is configured with the 'Do not track' preference? It's possible that this would cause tracking to be disabled and the opt in text would then be shown.

[2022-01-11 22:45] #18603 closed, assigned to sgiehl

[2022-01-12 00:48] jmumby opened #18607 "In Transitions, clicking "Others" should list all other pages"
How can we access the `others` from the transitions reports?

![image](https://user-images.githubusercontent.com/4339071/149044005-0536871f-aad2-4b88-bffa-efb4c343c02c.png)

The top 5 results only seem available. The API also only returns `others` not a full breakdown.

[2022-01-12 01:23] #18560 closed, assigned to peterhashair

[2022-01-12 02:28] tsteur opened #18608 "Fix possible error when generating reports for custom dimensions"
This is on PHP 8.

Stack trace:
#0 /core/DataAccess/ArchiveSelector.php(293): Piwik\Archive\Chunk->getRecordNameForTableId('CustomDimension...', '')
#1 /core/Archive.php(528): Piwik\DataAccess\ArchiveSelector::getArchiveData(Array, Array, 'blob', '')
#2 /core/Archive.php(373): Piwik\Archive->get(Array, 'blob', '')
#3 /core/Archive.php(464): Piwik\Archive->getDataTable('CustomDimension...', '')
#4

[2022-01-12 02:29] tsteur opened #18609 "Uncaught exception: TypeError: key(): Argument #1 ($array) must be of type array, null given in /var/www/html/plugins/ImageGraph/API.php:242"
PHP 8.0

Stack trace:
#0 /plugins/ImageGraph/API.php(242): key(NULL)
#1 [internal function]: Piwik\Plugins\ImageGraph\API->get(1, 'day', '2021-12-12,2022...', 'SearchEngineKey...', 'getCrawlingErro...', 'evolution', '2', false, false, true, 700, 200, 9, 11, true, false, false, '222222', 'FFFFFF', 'CCCCCC', false, true, false, false)
#2 /core/API/Proxy.php(244): call_user_func_array(Array, Array)
#

[2022-01-12 02:31] tsteur commented on #18609
Marking this as a regression as it used to work on older PHP versions and now prevents us from sending scheduled reports.

[2022-01-12 02:31] tsteur commented on #18608
Marking this as a regression as it used to work on older PHP versions and now prevents us from sending scheduled reports.

[2022-01-12 03:32] peterhashair commented on #18609
No luck to reproduce this one, but would that works
/plugins/ImageGraph/API.php(242)
[code]

[2022-01-12 08:54] sgiehl commented on #18609
@tsteur this might be an issue with the SearchPerformance plugin. The report `GetCrawlingErrorExamplesBing` does not define any metrics, as it's no typical report. It can't be displayed as an evolution. So we either could try to prevent that report to be included in scheduled reports at all, or we display an empty graph in that case (which was the case with PHP 7 I guess).

[2022-01-12 09:39] sgiehl commented on #18608
Hm. I wonder if that might be an edge case maybe. I did run all tests on PHP 8 / 8.1 and fixed all errors / warnings that occurred. So either this case isn't handled by any test, or it's a special case. Are you able to look up the scheduled reports definition so I can try to reproduce that locally?

When looking at the code it might actually be a more complex issue. As you can see in the stack tra

[2022-01-12 09:56] sgiehl commented on #18607
@jmumby you can force the API method to return more results by using the parameter `limitBeforeGrouping`.
Note: That parameter doesn't support `-1` as value, and when it is not given it defaults to `5`. So if you want to return all results you may simply pass a very high value

[2022-01-12 16:30] #18344 closed, assigned to bx80

[2022-01-12 19:15] tsteur commented on #18608
@sgiehl below the definition

[code]

I don't think it produced a warning before but it's possible. Usually AFAIK we get emails when there's any warning during archiving.

[2022-01-12 19:20] tsteur commented on #18609
@sgiehl I'll create an issue for the feature to change this. Does it make sense to at least still keep showing an empty report so things at least won't fail? Or we keep failing so it's more clear if unexpected things happen?
I don't have a clear preference as both have pros and cons. I suppose if core would render an empty graph in that case and not fail, we might still notice there's an issue?

[2022-01-12 23:56] peterhashair commented on #18499
@tsteur just confirm the version number for TCPDF and PHP, they fix some issue, I think our issue is related to `TCPDF_STATIC::pregSplit` https://github.com/tecnickcom/TCPDF/blob/42cd0f9786af7e5db4fcedaa66f717b0d0032320/CHANGELOG.TXT#L20-L22

[2022-01-13 00:04] tsteur commented on #18128
So here we'll  remove `json` from https://github.com/matomo-org/matomo/commit/903b870466b62e8a655a0f6564d052583c0fb7ec#diff-dddd74c8019f3e240dad1e60bc6ffbdd906ad7fa396b3e272a493f5b4af0c5c7 and check if tests still pass. If that's the case we could proceed. If tests don't pass, comment here what the problem is and likely we won't do anything in that case.

[2022-01-13 00:16] tsteur commented on #18066
Goal:

Once completed this work should help prevent feedback like the one we just received today: `utterly useless for the world of SPAs and PWAs 🙈`

To be done in this step:

1. Improve this guide at https://developer.matomo.org/guides/spa-tracking to make it clear it also caters to PWA. If the guide cannot be reused, we need to create a new page. For example PWA seem to require service workers,

[2022-01-13 00:21] mattab commented on #17499
It is fixed :tada:

[2022-01-13 00:21] #17499 closed, assigned to nobody

[2022-01-13 00:40] Amunak commented on #7650
Another really simple and yet effective algorithm would be to look at which site has a higher amount of data (say, higher number of visits) and use that dataset for that day.

[2022-01-13 00:44] tsteur commented on #14879
If it takes more than 1 day to complete this then let's stop the work on this issue.

[2022-01-13 00:47] tsteur commented on #14715
This might be fixed with https://github.com/matomo-org/matomo/pull/16628

If not, we won't schedule it just yet.

[2022-01-13 00:54] tsteur commented on #14619
If someone has issues with gap locks, please comment and let us know about it.

[2022-01-13 00:56] tsteur commented on #6398
Hey everyone, if you still experience this issue please comment.

[2022-01-13 00:58] tsteur commented on #12024
Let's use `SettingsPiwik::getPiwikUrl()` and if we don't get a URL from this method then we just skip this test.

[2022-01-13 01:05] tsteur commented on #10716
If we can enable this using some generic solution that we can reuse and already exists in core then we enable this feature also on other Overview sparkline reports such as `Visitors -> Overview` and `Goals -> Overview` and `Ecommerce -> Overview`.

If it takes more than 8 hours to complete this we stop working on it.

[2022-01-13 03:03] tsteur commented on #18499
We're using the latest Matomo 4.6.2 and PHP 8. Not sure what version of TCPDF was included in 4.6.2 @peterhashair

[2022-01-13 03:58] tsteur opened #18612 "Understand why conversions are sometimes attributed to "Direct entry" or the payment provider, instead of the current channel"
from https://forum.matomo.org/t/referral-exclusions/33582/25

The resolution suggested by Matomo in this article https://matomo.org/faq/how-to/how-do-i-add-a-referral-exclusion-in-matomo/ does not really address the underlying issue - it merely recategorizes the referrer from “website” to “direct entry”, which in reality isn’t the true referrer for the user’s visit.

Here is an example of what is

[2022-01-13 04:03] tsteur commented on #18612
@mattab Any idea what this feature could be named and how we would configure this? Not sure if we want to have this per site and globally or whether it be enough only one way etc. It could get confusing maybe for people that don't need this feature. Maybe it could be even a separate plugin?

[2022-01-13 06:35] vladimir-shmidt commented on #17055
Usually server treat /login and /login/ the same. index.html or index.php is the next level of discussion but there is a good approach to combine (group) such requests and treat as the same url

I wonder have matomo some ability or extension point to solve it?

I thought it is SPA problem with router but haven't found anything criminal - client can put what ever he want's like login and login/ and

[2022-01-13 09:05] sgiehl commented on #18609
I guess we will only notice an error if someone reports it if the graphs are empty.
Maybe we could check if a metric to print is available and if not, log an error and maybe even print an error in the PDF instead. Just a simple text that an error occurred while processing this report.

[2022-01-13 10:44] peterbo commented on #17123
Implemented the change on the 11th, but still no engagement metrics for "All Visits". Segmented engagement metrics are still working normally.

[2022-01-13 11:01] heurteph-ei commented on #18612
In my point of view, if a user :
1. Comes from one referrer,
2. Then browse the measured site (tracked by Matomo),
3. Then browse out the measured site (eg. payment gateway or really leave the measured site)
4. Then come back to the measured site during the 30 minutes delay (for any reason: payment or anything else)

Then the referrer should at least be the 1st one! (would it be possible to accumu

[2022-01-13 11:57] n-vilmart commented on #7650
Hi,
Still no solution for merging 2 site id ?
+1 then

[2022-01-13 12:01] adsham commented on #18612
Thanks @tsteur for creating the issue here on my behalf.

I largely agree with @heurteph-ei - the main reason for referral data is to monitor how traffic is being driven to the website, especially if we attribute value from sales to a referrer. I can't really see any benefit of having "direct entry" as the referrer as it is misleading. However I do see a legitmate scenario that could be obscured b

[2022-01-14 00:17] atom-box opened #18617 "Add ability to take existing email reporting set-up and export or clone it to new Matomo installs"
## Summary
Web developers building multiple sites would like to not have to tediously enter all of the same report-emailing data each time they set up a new Matomo instance

## Original request from the user
*Question: What is the one thing you’d like to see improved in Matomo and why?
 Answer:
 copy e-mail report settings to other projects*

[2022-01-14 00:23] atom-box commented on #18617
This is a duplicate of [#17794](https://github.com/matomo-org/matomo/issues/17794)
Closing this therefore.

[2022-01-14 00:23] #18617 closed, assigned to nobody

[2022-01-14 00:25] atom-box commented on #17794
Requested again this week:

_Question: What is the one thing you’d like to see improved in Matomo and why?
Answer:
copy e-mail report settings to other projects_

[2022-01-14 01:15] Starker3 opened #18618 "Improve performance in deleteLogDataForDeletedSites when deleting data for more than one site"
Refs DEV-2528

We have a user report concerning slow performance for the deleteLogDataForDeletedSites scheduled task when more than one measurable has been deleted.
One of the queries that took really long to execute was the following:
[code]
This ran for over an hour and a half before they decided to kill it and instead run the following query for each ID site individually:
[code]

As you can see

[2022-01-14 15:25] brandtmark opened #18625 "Geolocation wrong on internal network even with enable_language_to_country_guess=0"
Our websites are accessed externally and internally (with an IP from the local network range).
GeoIp is installed and enabled.

Despite having set enable_language_to_country_guess=0, the geolocation information for users from the local network is set based on their browser language and therefore totally wrong.

This seems to happen in Common::extractCountryCodeFromBrowserLanguage and I’ve got the

[2022-01-16 21:06] #18608 closed, assigned to sgiehl

[2022-01-16 23:39] atom-box commented on #17145
A user said the feature they would like to see is
_Question:
Answer:
events displayed on a graph like visits_

[2022-01-17 00:36] mattab commented on #18612
What i don't understand yet, is that the scenarios above should already work meaning:
 as long as the subsequent page views (after purchase) occur within 30min of the last pageview on the website, then the pageviews should be stored in the existing visit (with the correct original campaign). The fact that it doesn't work for some people is not clear.

@adsham @heurteph-ei Could you maybe confirm i

[2022-01-17 01:06] mattab commented on #11899
Thanks for contributing to this issue. As it has been a few months since the last activity and we believe this is likely not an issue anymore, we will now close this. If that's not the case, please do feel free to either reopen this issue or [open a new one](https://developer.matomo.org/guides/core-team-workflow#submitting-a-bug-report). We will gladly take a look again!

[2022-01-17 01:06] #11899 closed

[2022-01-17 01:07] mattab commented on #5202
This was implemented :tada:

[2022-01-17 01:07] #5202 closed

[2022-01-17 01:16] mattab opened #18631 "Clicking "Change period" feature can result in the evolution graph showing not needed information"
## Expected Behavior

Evolution graphs across Matomo should show the correct data and not show wrong information.
(And the last graph section should be dotted if the selected period includes the current unfinished period)

## Current Behavior

Graph shows 0 values for periods in the future (the graph is too much in the future)

## Possible Solution

## Steps to Reproduce (for Bugs)

1. go to https

[2022-01-17 03:20] justinvelluppillai commented on #18448
@peterhashair it'd be good as part of this issue to still add the test that browser features aren't sent to the server after the new method is called and a tracking request fired.

Also the documentation updates (at least two docs, I think maybe you've already added one).

Thanks

[2022-01-17 03:24] tsteur commented on #18448
And it be great to allow users to call a method `enableBrowserFeatureDetection`.

fyi @GreenReaper @Daten-David @MoritzLost  an FAQ has been created for this new feature that will be included in Matomo 4.7

https://matomo.org/faq/how-do-i-disable-browser-feature-detection-completely/

@peterhashair fyi I tweaked the FAQ to make a few things more clear.

[2022-01-17 09:35] sgiehl commented on #18625
Hi @brandtmark
Thanks for creating this issue. The setting might be a bit misleading. Disabling the country guess by language, actually only disables using the language to country mapping as defined here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/core/Intl/Data/Resources/languages-to-countries.php#L19-L60

But it still uses the country if it's defined in th

[2022-01-17 09:46] sgiehl commented on #18631
@mattab What exactly would you expect? Shall we hide all periods that are in the future, or shall we still show them, but everything in the future would be dotted?

[2022-01-17 11:01] brandtmark commented on #18625
Hi @sgiehl

Thanks for the explanation.

Exactly. I would prefer that clients who access our websites from the internal network don't to show up as visitors from US, UK, etc. just because of their browser language.

[2022-01-17 12:11] sgiehl commented on #18625
Should be quite simple to introduce a new config setting that makes this possible. I'll set up a pull request to do that. But can't promise when this will be included in Matomo. Likely not before 4.8.0, as 4.7.0-rc1 was already released.

[2022-01-17 12:23] brandtmark commented on #18625
Wow - i didn't expect this issue to be addressed that quickly.
Thanks a lot! Amazing!

[2022-01-17 15:24] adsham commented on #18612
Hi @mattab

Thanks for picking this up. You will see that several users have picked up on this issue here https://forum.matomo.org/t/referral-exclusions/33582/22 and possibly here too https://forum.matomo.org/t/what-can-explain-the-mysterious-too-many-direct-entries-phenomenon/31721/6

I have also just looked through our data and can confirm that there are no "delays" as you are suggesting. Howeve

[2022-01-17 16:11] CryptoEU commented on #18612
Hello,

for me its very simple and there are different ways, how you can create the "correct" goal*1.

*1Goal: as already written. We have to know, from where the customer is coming from.
If Matomo delete now all referers (change to direct entry, using the payment gateway as referrer) thats just washing statistic with 0 sense. Nobody can track now, from where the customer really came then - ofc -

[2022-01-17 18:34] sgiehl commented on #17794
The duplicate could actually be implemented quite quickly. Instead of duplicate, I would suggest to add a button like `Edit as New`. This would then open the form to add a new report, but prefilled with the original reports values. This would make it quite easy to build reports based on others.

Note: Copying reports to other sites is a bit more tricky. As each site has different reports available

[2022-01-17 20:49] Starker3 commented on #18570
FYI the character that likely caused this was:
**%C3%89**
Eg.
[code]

[2022-01-17 21:39] tsteur opened #18637 "Saving general settings successfully no longer scrolls to the success notification"
I checked with Matomo 4.6 and this seems to have worked there so it looks like this is a regression.

When saving settings, you now never really know whether it worked and it's confusing.

[2022-01-17 22:15] bx80 commented on #18618
Looking at the query plan differences between the two statements, the `IN (15,11)` clause is causing the use of a join buffer. Since this is an infrequently executed task, a simple solution would be to adjust the `deleteLogDataForDeletedSites` task to execute individual delete statements for each site.

[2022-01-17 22:25] frimipiso commented on #18612
Hey there,

it is great that this issue is picket up now. I have been experiencing this problem for a long time now.

Here is our setup:
- Shopware 5.6 Shopsystem with paypal as payment provider
- When the user goes to paypal for payment and returns to our Shopware shop, a new session is started with referrer paypal.

This completely messes up all conversion attribution, as most customers use payp

[2022-01-18 00:55] #18605 closed, assigned to sgiehl

[2022-01-18 01:32] tsteur opened #18639 "strtolower(): Argument #1 ($string) must be of type string, array given in Date.php"
## First problem:

Happens on
* `/index.php?action=index&date=yesterday&idSite=1&module=MultiSites&period[]=day`

## Second problem

Happens on
* `index.php?action=index&date[]=yesterday&idSite=1&module=MultiSites&period=day`

## Expected outcome

No fatal error

[2022-01-18 01:59] mattab commented on #18631
@sgiehl :+1:  hide all periods in the future (because they are always zero-values)
(and when the current unfinished period is the selected one, then it's also shown as dotted in the graph)

[2022-01-18 02:23] tsteur opened #18640 "Expandable search field no longer search case insensitive and neither"
![image](https://user-images.githubusercontent.com/273120/149859724-e40227e3-af12-419b-8f23-55760fe58da9.png)

When I search for `event` it no longer finds `Event category`. I have to use a capital `E`.

Pretty sure this used to work and seems to be a regression.

Not sure if similar issu

[2022-01-18 02:42] weixuezhang opened #18641 "In /core/date.php, definition of method public static function factory($dateString, $timezone = null) is conflict with convention in reality and cause confusion"
In reality we are accustomed to local time + local timezone. The factory method with UTC time + local timezone is really confusing. If it aims at creating a local time, the class should be changed to another name.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Oper

[2022-01-18 06:19] #18637 closed, assigned to peterhashair

[2022-01-18 09:15] heurteph-ei commented on #17686
@sgiehl does one of your last updates fix https://github.com/matomo-org/matomo/issues/17686#issuecomment-985959488 ?
(as a [new post in the forum](https://forum.matomo.org/t/visitors-not-counted-after-switching-to-php-8/44420) also mentions this bug...)

[2022-01-18 09:45] sgiehl commented on #17686
@heurteph-ei That should have been fixed here: https://github.com/matomo-org/matomo/pull/18330/files#diff-71a1671fa6d1cb22b6c82a3eeb8f845616ad6e8b916070267ba75025d5f08d48R156

I guess meanwhile most issues should be sorted out. At least those that were reported here or I was able to find when running the tests on PHP 8.1. There might still be some issues in third party libs we are using, but most

[2022-01-18 10:03] rosa2 opened #18645 "Matomo date selection shows January 1th on Friday, but it's Saturday"
Thanks for Matomo! And sorry form my bad English.
I have two WordPress sites with https://wordpress.org/plugins/matomo/
When I go to https://example.com/wp-content/plugins/matomo/app/ where you see the Matomo Dashboard, if I look at the calendar to choose the period to visualize, the year 2022 starts with January 1th on Friday, but it's Saturday. And you can't choose today in the calendar, as for

[2022-01-18 10:03] rosa2 opened #18649 "Matomo date selection shows January 1th on Friday, but it's Saturday"
Thanks for Matomo! And sorry form my bad English.
I have two WordPress sites with https://wordpress.org/plugins/matomo/
When I go to https://example.com/wp-content/plugins/matomo/app/ where you see the Matomo Dashboard, if I look at the calendar to choose the period to visualize, the year 2022 starts with January 1th on Friday, but it's Saturday. And you can't choose today in the calendar, as for

[2022-01-18 10:11] sgiehl commented on #18649
Hi @rosa2
Thanks for reporting this issue. This might possibly be a timezone related issue. I checked that in my "normal" Matomo installation and there it seems to work correctly. Maybe this is a Matomo for Wordpress only issue. I'll move the issue to the according repo, so someone from the wordpress team can catch-up with you.

[2022-01-18 10:17] rosa2 commented on #18649
Thanks a lot :)

[2022-01-18 10:19] sgiehl commented on #18639
@tsteur I would assume we have that problem at multiple other places as well. It's nowhere expected that `date` or `period` is given as an array in the URL. Wondering if we should try to have some kind of global solution, that maybe already throws an exception when parsing the request array or something like that.

[2022-01-18 11:14] sgiehl commented on #18570
@Starker3 do you know if the user is using utf8mb4 for database tables?

[2022-01-18 12:27] sgiehl commented on #18499
@peterhashair @tsteur As mentioned above, this is most likely related to https://github.com/tecnickcom/TCPDF/issues/464
Unless that gets fixed in TCPDF, I'm not sure if there is much we can do about that.

[2022-01-18 13:34] sgiehl commented on #18186
Hi @GreenReaper
Thanks for your suggestion. I'll create a new issue with your feedback. It would indeed be valuable to at least give the user an alternative method to send the feedback if mail doesn't work.

[2022-01-18 13:37] sgiehl opened #18647 "Provide an alternative way to send Feedback"
As suggested by @GreenReaper in https://github.com/matomo-org/matomo/issues/18186#issuecomment-1002935727 it might be helpful to provide an alternative way to send feedback.

Currently when the mail method doesn't work there will be an error displayed upon trying to send the feedback.
We could maybe add a simple `mailto` link in this error message, that would send the same mail, but using the clie

[2022-01-18 18:41] tsteur commented on #18499
@sgiehl can we fork this repository and apply the fix or so? We have emails failing every day about this for few accounts meaning it's quite a big issue that scheduled reports aren't working

[2022-01-18 19:39] sgiehl commented on #18499
There is not yet a fix for that. But I can try to reproduce that locally tomorrow and see if I'm able to provide one. I guess simply suppressing the error might result in some missing text in the PDF. Also I wonder how that error actually occurs. It might mean that regex doesn't support unicode on that system maybe, or that the string contains a character that isn't valid unicode...

[2022-01-18 19:54] tsteur commented on #18639
I would first check if it's needed. If it can be done eg in `checkDateFormat` which is called as part of `setGeneralVariablesViewAs` then it be this way already covered in most places and we can avoid any global solution?

I suppose the problem might be `period` where it's more complicated.

If we can avoid a global solution that be good as it gives us more flexibility and it could in theory cause

[2022-01-18 20:00] tsteur commented on #18649
Thanks for reporting this @rosa2 Moving this to `matomo` repository as it's likely an issue in Matomo core.

 Can you let us know what timezone your WordPress installation is set to? To find out the needed information, can you go to `WP Admin Dashboard -> Matomo Analytics -> System report` and locate the `timezone` entries in the `Server` section?

![image](https://user-images.githubusercontent.co

[2022-01-18 23:28] thomasbnt opened #18650 "Error 400 Bad Request"
I have restored my database since I migrated everything. Everything is good, I have all my history on the dashboard. But it doesn't record new visitors. This marks a mistake for me **400 Bad Request**.

![](https://i.thomasbnt.dev/i/rw4wv.png)

## Expected Behavior
Push stats and get 200 OK. And get recent statistics.

## Current Behavior
- At the first time, GET the matomo.js file with status 200

[2022-01-19 00:57] tsteur opened #18652 "The arguments array must contain 2 items in translator.php"
Looks to me like a regression. Looks like someone tried to grant a specific capability and it failed? If not a regression we can move it to 4.8

[2022-01-19 01:19] justinvelluppillai commented on #18652
I think maybe not a regression, but an existing bug in this translation with incorrect number of params https://github.com/matomo-org/matomo/blob/4.x-dev/core/Access/RolesProvider.php#L62 (can't see anything changing here recently)

[2022-01-19 01:28] tsteur commented on #18652
👍  will move it out

[2022-01-19 03:23] peterhashair commented on #18639
there are lots of places using  `Common::getRequestVar('period'); ` and `Common::getRequestVar('date');` I was wondering if we add a new type `array|string` extend getRequestVa typer. Or should I just go update every single place.

[2022-01-19 08:54] sgiehl commented on #18639
The problem is, that there are many places where we call `Common::getRequestVar('period')` without specifying the expected type. And those are often called before the view is rendered, so changing `checkDateFormat` wouldn't have an effect.

We could go through all usages of `Common::getRequestVar('period')` and `Common::getRequestVar('date')` and ensure the variable type 'string' is provided. This

[2022-01-19 09:22] sgiehl commented on #18650
Hi @thomasbnt. Thanks for creating the issue. Unfortunately it's hard to identify the root cause.
Are you maybe able to see the failed tracking requests in Admin > Diagnostic > Tracking Failures?
If not you maybe need to turn the debugging of tracking requests in order to see some more details what causes the request not to be recorded.

[2022-01-19 09:31] #18652 closed, assigned to sgiehl

[2022-01-19 10:15] thomasbnt commented on #18650
Hello @sgiehl, thanks for your reply.

In Admin > Diagnostic > Tracking Failures, I've got no errors and no messages :(

How I can activate Debug mode and see log?

[2022-01-19 10:16] RexNYC opened #18657 "I am getting certificate has expired error, Hostname requested was: plugins.matomo.org"
When I go to platform > marketplace I get the following error

curl_exec: SSL certificate problem: certificate has expired. Hostname requested was: plugins.matomo.org

![image](https://user-images.githubusercontent.com/27737776/150110400-2a164510-b5e3-4ebd-90bd-83dbac0f4c25.png)

Also, I got the same ssl certificate error for builds.matomo.org when I was trying to upgrade to 4.6.2 ver.

[2022-01-19 11:24] RexNYC commented on #18657
Update & upgrade packages fixed the issue.

[2022-01-19 11:24] #18657 closed, assigned to nobody

[2022-01-19 11:52] helenala1 opened #18658 "Användare som försvann"
Hej! Jag skapade nyss en användare som inte syns i systemet. Försöker jag lägga till denna på nytt får jag till svar att den redan finns.

*translated with Google Translate:*

[2022-01-19 12:45] marcelcz1 commented on #18595
Hi @bx80 , thank you for the explanation. I've implemented the code again and tested it with several people and it works fine, so it was the "do not track" preference that caused this problem.

[2022-01-19 12:45] #18595 closed, assigned to nobody

[2022-01-19 14:45] sgiehl commented on #18658
Hi @helenala1
Thanks for creating the issue. For future issues please write you messages in English. I have added a translation to your descriptions, so other don't need to do that.

Did you perform the actions with a super user account? If you used an account with lower permissions, it might be possible that you can't see the user if the new user doesn't have access to one of your sites.
See http

[2022-01-19 14:45] #18658 closed, assigned to nobody

[2022-01-19 17:15] jscottbranson commented on #18563
Hello,
I'm having a similar issue, as my mail server has a valid TLS cert, however, since Matomo accesses the mail server over the LAN (and I don't use split DNS or anything) the TLS certificate is not seen by Matomo as valid.

The steps in OPs "Possible Solution" resolved the issue for me, but I agree their should be an easier config option for self signed certs. Even if self signed aren't ideal,

[2022-01-19 19:18] tsteur opened #18660 "Document how Overlay works behind the scenes"
follows up from https://github.com/matomo-org/matomo/issues/18538

We will want to document on https://developer.matomo.org/piwik-in-depth how the Overlay feature works. I would have mentioned this as part of #18538 but better to have a separate issue for it.

It be great to document the flow like

* Overlay is opened
* The website is embedded as an iframe
   * The website within the frame calls `

[2022-01-19 19:20] tsteur commented on #18650
@thomasbnt any chance you can enable the Tracker Debug mode see https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker ? This would tell you in the output of the request what is happening. You would only want to enable it for a short time as anyone sending a tracking request will see the response of the request.

[2022-01-19 19:48] tsteur commented on #18639
@sgiehl not 100% sure but from a quick test below change would probably already cover 90% of the cases with very little effort (the API already handles things well by the looks and does not result in fatal error):

[code]

Period might be bit different and might require 2 or 3 changes to cover most of the errors like below (although are likely quite a few more):

[code]

Generally sounds good thou

[2022-01-19 19:51] #12308 closed

[2022-01-19 20:39] bx80 commented on #18641
Hi @weixuezhang, thanks for raising this issue. I can understand why the `Date::factory()` parameters could cause confusion. This method is used extensively throughout the codebase and in plugins so it wouldn't be practical to rename it, but we could look at improving the method parameter names and the PHPDoc header to make it much clearer that the supplied date string should be in UTC.