[2022-07-20 00:30] bx80 commented on #19538
@webberian Thanks for the suggestion, I've assigned this issue for prioritization by our product team.

[2022-07-20 00:40] #19233 closed, assigned to peterhashair

[2022-07-20 08:30] #18750 closed, assigned to sgiehl

[2022-07-20 09:41] sgiehl commented on #19544
Our scripts should only try to redirect to `index.php?module=...`, without any folder or domain, so the browser should use the current url and path. Are you able to see the details of the redirecting request in the developer tools of your browser? Maybe that helps to identify the source.

[2022-07-20 21:37] Starker3 opened #19551 "Unable to enter plugin license key with Japanese language set"
When a users language is set to Japanese, it's not possible to click on the input box to enter a license key for plugins.
For example:
![image](https://user-images.githubusercontent.com/20905821/180085718-b1f2cef0-121f-42a6-af3b-b044cdd18f98.png)
It seems to show that the cursor is over the link to upload a plugin, which when clicked results in this popup when plugin uploads are not enabled:
![ima

[2022-07-21 12:41] sgiehl commented on #19551
Guess there might be a link tag not being closed correctly. Will check that quickly

[2022-07-21 12:53] sgiehl commented on #19551
This is an issue with the translation. The english source string might be a bit hard to understand, as there are some words placed within and a link. The order of placeholders for Japanese isn't correct, causing the open link tag being placed in the end.
I'll create a PR to split the source string, so no additional words are placed. Hopefully that makes it easier to translate the string.

[2022-07-21 13:24] #19530 closed, assigned to nobody

[2022-07-21 14:02] sgiehl commented on #19511
I'm unfortunately not very familiar with how this is supposed to work. I can imagine that this might be expected. If each tracker tries to set his own cookie, they might overwrite each other.
Maybe @tsteur is able to say if that is supposed to work. If so the product team needs to decide when we should investigate and fix that.

[2022-07-21 14:08] tsteur commented on #19511
Since they are different Matomo's I don't think it's not quite expected that they overwrite each other but there is also maybe no easy fix to it without breaking anything.

A workaround could be to configure one tracker differently using `setCookieNamePrefix`? so it doesn't use `_pk_`  as the prefix but a different and thus it won't overwrite the cookie? Potentially this be a use case to document?

[2022-07-21 21:49] mattmary opened #19553 "Fatal error when generating the documentation"
PHP Fatal error:  Declaration of Piwik\Plugins\PagePerformance\JqplotDataGenerator\Chart::setAxisYValues(&$values, $seriesLabels = null) must be compatible with Piwik\Plugins\CoreVisualizations\JqplotDataGenerator\Chart::setAxisYValues(&$values, $seriesMetadata = null, ?array $seriesUnits = null) in piwik/plugins/PagePerformance/JqplotDataGenerator/Chart.php on line 55

## Expected Behavior

No Fa

[2022-07-21 23:05] bx80 commented on #19553
The method signature of `setAxisYValues` in `plugins\CoreVisualizations/JqplotDataGenerator/Chart` was updated with an extra parameter as part of #19353, the PagePerformance plugin overrides this method and already had a slightly different method signature (`$seriesLabels` vs `$seriesMetaData`), so the additional parameter has now made them incompatible.

The method signature in PagePerformance ne

[2022-07-22 01:00] mattmary opened #19554 "Notice: Undefined array key "items" in app/core/Plugin/Report.php:924"
Hi I get a warning on an undefined array key when rendering a report in the wordpress plugin.
I create this issue in the matomo tracker because we don't access this key in the plugin: we process only the generated reports.

## Expected Behavior

No Notice

## Current Behavior

Error call stack:

    wp-content/plugins/matomo/app/core/Plugin/Report.php:924
    Piwik\P\Report->getMetricTranslations(

[2022-07-22 01:02] mattmary opened #19555 "Undefined array key "max_actions_new" in app/core/Plugin/Report.php:924"
Hi I get a warning on an undefined array key when rendering a report in the wordpress plugin.
I create this issue in the matomo tracker because we don't access this key in the plugin: we process only the generated reports.

## Expected Behavior

No Notice

## Current Behavior

Error call stack:

Piwik\P\Report->getMetricTranslations()
wp-content/plugins/matomo/app/core/Plugin/Report.php:390
Piwik\

[2022-07-22 01:05] mattmary opened #19556 "Undefined array key "action_category_delimiter" in app/plugins/Actions/DataTable/Filter/Actions.php:49"
Hi I get a warning on an undefined array key when rendering a report in the wordpress plugin.
I create this issue in the matomo tracker because we don't access this key in the plugin: we process only the generated reports.

## Expected Behavior

No Notice

## Current Behavior

Error call stack:

Piwik\P\A\D\F\Actions->Piwik\P\A\D\F\{closure}()
wp-content/plugins/matomo/app/plugins/Actions/DataTabl

[2022-07-22 01:14] mattmary opened #19557 "Undefined array key "instance_id" in app/core/SettingsPiwik.php:482"
Hi I get a warning on an undefined array key when rendering a report in the wordpress plugin.
I create this issue in the matomo tracker because we don't access this key in the plugin: we process only the generated reports.

## Expected Behavior

No Notice

## Current Behavior

Error call stack:

    wp-content/plugins/matomo/app/core/SettingsPiwik.php:482
    Piwik\SettingsPiwik::getPiwikInstanceI

[2022-07-22 09:21] sgiehl commented on #19557
That one should actually be suppressed using `@`, but I'll prepare a code change nevertheless.

[2022-07-22 09:34] sgiehl commented on #19554
might actually be them same as #19555

[2022-07-22 09:34] #19554 closed, assigned to sgiehl

[2022-07-22 12:41] sgiehl commented on #19153
@PeteTrombone So would you need some sort of setting/config to fully disable pre-archived segments, or is it only the pre selection when creating segments that is bothering you?

[2022-07-22 13:55] PeteTrombone commented on #19153
@sgiehl yes, we need a setting to fully disable pre-archived segments.
The pre selection when creating segments can only be made by admin role anyway. We do not assign this role to our customers.

[2022-07-22 16:01] VincentCoucharriere opened #19562 "Support Error report with in Angular framework"
I seems that Angular framework caches and handles "uncaught" JS error / exception : new Error('my error')
This prevents Matomo from catching & reporting these errors.
How to solve this ?
Can you please take care of this ?

## Summary

## Your Environment

* Matomo Version: latest (cloud)
* Angular Version: 10+

[2022-07-24 23:28] bx80 commented on #19562
Hi @VincentCoucharriere, thanks for your question. We're in the process of migrating Matomo from AngularJS to Vue.js which should resolve this issue.

Could you explain a bit about what you are trying to achieve by catching JavaScript errors? If you are experiencing a JavaScript error with Matomo cloud then I'd recommend contacting support. If you are developing a plugin or making code changes the

[2022-07-25 00:42] atom-box commented on #19134
And this request:

_"Question: What is your main concern about Matomo?
Answer: Some real time data about most viewed pages, by country, real time objectives, etc, just like what Google Analytics 3 does.
Thanks !"_

[2022-07-25 02:24] peterhashair opened #19564 "angular test failed"
There is an angular js test that failed in Travis, Travis doesn't pick up, but when I am doing GitHub action, it shows.

Details can be found in all Travis tests number 7. here is an example https://app.travis-ci.com/github/matomo-org/matomo/jobs/577473575

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

## Context

## Your Environment

* Matomo V

[2022-07-25 03:13] varunKothare opened #19565 "Toggle-option between revenues and pure conversion number for All Websites dashboard"
Need to be able to see the pure number of conversions without their monetary value over the year (non-deterministic).  Some kind of toggle-option between revenues and pure conversion number for All Websites dashboard

[2022-07-25 07:44] #19551 closed, assigned to sgiehl

[2022-07-25 08:10] d9k commented on #16142
If you created custom dimension for `visit` instead of `action` by accident just change `matomo_custom_dimensions.scope` column value from `visit` to `action` in the database.

[2022-07-25 08:52] #19556 closed, assigned to sgiehl

[2022-07-25 08:52] #19557 closed, assigned to sgiehl

[2022-07-25 08:52] #19555 closed, assigned to sgiehl

[2022-07-25 08:58] #19335 closed, assigned to sgiehl

[2022-07-25 08:58] #19169 closed, assigned to sgiehl

[2022-07-25 09:03] sgiehl commented on #19153
You can simply skip archiving any segments by appending `--skip-all-segment` to the cron archive command.
But if new segments are created as `pre-archived`, that would prevent those segments from being archived at all.

[2022-07-25 12:37] Prinzhorn commented on #19389
Originally this was confirmed as a bug in `filterWidgets`. In a comment you recommended `filterReports` would be better suited for me to remove the menus. However, that doesn't work either as mentioned in this comment https://github.com/matomo-org/matomo/pull/19414#issuecomment-1167052949

I just want to make sure that: Both are fixed and `filterReports` is confirmed buggy as well.

From what I ca

[2022-07-25 13:13] sgiehl commented on #19028
@tsteur I've implemented some changes for this in #19401. The instruction page for a wordpress site now looks like this:

![image](https://user-images.githubusercontent.com/1579355/180784694-fd7d5b49-fd93-4209-ba36-436542b2df44.png)

The `our FAQs for help` link currently points to `https://matomo.org/guide/installation-maintenance/matomo-for-wordpress/`.

Let me know if that should be changed / i

[2022-07-25 13:33] #19462 closed, assigned to nobody

[2022-07-25 14:01] PeteTrombone commented on #19153
@sgiehl it doesn't seem clear yet what we want, so I'll describe it again.
1. We use the archive cron job
2. By default, all segments created by normal users (role view and write) should be processed in real time and not pre processed.
3. The admins (only my team) should be able to create segments which are processed in real time or pre processed.

This is how it was before version 4.3.1
We track

[2022-07-25 14:04] tsteur commented on #19028
@sgiehl for `our FAQs for help` we would need to create a new FAQ explaining that they may have installed the wrong plugin.  We could mention that if they have installed [Matomo for WordPress](https://wordpress.org/plugins/matomo/) then they installed the wrong plugin and need to instead install the other one. We could advise them to uninstall Matomo for WordPress, then follow the steps to set up

[2022-07-25 16:05] sgiehl commented on #19028
@tsteur I'm happy to adjust the text if anyone provides the text I should add. I'm not very deep into the Matomo for Wordpress stuff, so I'm not aware of the possible problems or solutions, so I think it's better if someone else provides a useful text for that.
Same applies for the FAQ. If anyone creates one, I'm happy to adjust the link accordingly.

will do that.

[2022-07-25 19:18] llibdude commented on #19501
@bx80 I attempted this strategy. I think however, that Matomo will still attempt to run the migration even after the branch has been merged in.  PlanetScale will still error out on any `Alter` query applied to main, even if the underlying schema change has already been applied.  For this strategy to work Matomo would need to check if the schema is already updated before applying the schema change,

[2022-07-25 19:19] sgiehl commented on #19509
This one seems to be fixed meanwhile. At least it works for me on latest 4.x-dev.
@peterhashair Are you able to confirm that it works for you as well?

[2022-07-25 23:34] bx80 commented on #19501
@llibdude Unfortunately at the moment there is no way to just skip the `Alter` database parts of an update as database changes are not broken out from other necessary parts of the update, such as data migration, adding new records, etc.

Checking the schema first before applying database update statements would be a big change to the way Matomo updates curenntly work, as would adding explicit supp

[2022-07-25 23:46] bx80 commented on #19565
Hi @varunKothare,

Since conversions are within the context of a single website (Goals shared between different websites are not supported) and total conversions cross multiple goals wouldn't quantify the value of the different goals (site1: 10x contact us, 1x sale = 11 vs site2: 1x contact us, 9x sales = 10), it would be good to understand a bit more about the business case of comparing pure conv

[2022-07-26 07:43] tsteur commented on #19028
@sgiehl we wouldn't need to be into Matomo for WordPress. The problem is that you can't use [Matomo for WordPress](https://wordpress.org/plugins/matomo/) when using On-Premise or the Cloud. In that case they would need to make sure to use [WP-Matomo](https://wordpress.org/plugins/wp-piwik/).

What @jmumby mentions is that people sometimes install the wrong WordPress plugin and are then wondering w

[2022-07-26 07:50] sgiehl commented on #19028
I understood that. I'm happy to adjust the wording and the link. But I'm pretty sure that it is easier for someone, who better knows what people are asking or have a feeling for their needs, to pick a good text to place in that case. Also I won't create a FAQ for that for similar reasons.

So once anyone provides the text we should place into Matomo and a link to an existing FAQ, I will adjust the

[2022-07-26 13:47] llibdude commented on #19501
Thanks. I'd be willing to give it a test

[2022-07-26 23:21] justinvelluppillai opened #19571 "Revert paypal.com referrer exclusion from tracking code js PR"
After 4.11.0 is released and the `next_release` branch is merged back to `4.x-dev` we need to revert the temporary PR #19517 as it is provided in 4.12.0 by #19516.

[2022-07-27 00:08] bx80 opened #19572 "Add config option for database errors to ignore during updates"
Some database providers such as Planet Scale are not capable of running `alter` statements directly against the configured database.

To workaround this, it is possible to manually run `./console core:update` to see the database statements required by an update and then apply them manually, however the update will still attempt to execute the `alter` statements which will return an error and preve

[2022-07-27 00:29] justinvelluppillai commented on #19028
@jmumby has good insight into the user issues we're trying to solve here and is happy to create the supporting FAQ and text changes. @jmumby if you can please let @sgiehl know if anything needs clarification here or otherwise a link to the FAQ and text to include in app we can close this out.

[2022-07-27 05:40] #19553 closed, assigned to sgiehl

[2022-07-27 12:35] Wecoboss commented on #19149
Hi,
I have the same problem. I have installed matomo through Infomaniak and it run fine until a recent update. Since then, I have these certificates errors even if every check is green. However I can't connect a wordpress site throug the matomo plugin because of this certificate error.

I have tried the following fix but without success:
- https://matomo.org/faq/troubleshooting/faq_34226/
- https:

[2022-07-27 19:19] Findus23 opened #19573 "Invitation process doesn't trigger insecure password check"
Whenever a new user in Matomo is created or a password is changed Matomo calls the `UsersManager.checkPassword` event and if it fails, warns the user that the password is insecure.
https://github.com/matomo-org/matomo/blob/5df7397b4276a8f23e5537b7ba84394f4238dbed/plugins/UsersManager/UsersManager.php#L155

That's used by https://plugins.matomo.org/PasswordVerifier and other plugins to disallow som

[2022-07-27 21:01] mattab opened #19574 ""Invite user" feature grants access to the default website, ignoring the selected website"
When inviting a user using "Invite user" feature, and selecting a website (say ID=2) in the list to grant permission,
then after clicking `INVITE USER` button,
we can see that the user is granted the View permission to the first website in the list, rather than the website selected.

This is a security issue and should block release until fixed.

[2022-07-27 22:34] justinvelluppillai commented on #19501
Adding to current milestone as there's an easy solution already implemented that will allow further testing 👍🏽

[2022-07-28 00:51] justinvelluppillai commented on #19501
Wrong one, linking the related issue instead of this one now! Thanks for the headsup @bx80

[2022-07-28 01:54] peterhashair commented on #19509
@sgiehl yes it works

[2022-07-28 01:54] #19509 closed, assigned to diosmosis

[2022-07-28 07:09] bx80 commented on #19149
Hi @Wecoboss, thanks for the extra info, and sorry @aqustiq for not getting back sooner,

Digging a bit deeper into this:

When Matomo uses curl via PHP it overrides the use of the system certificate authority bundle by always setting the `CURLOPT_CAINFO` option to one of the following:

- If the `custom_cacert_pem` config option is set and the file exists and is accessible then it will be used.
-

[2022-07-28 08:45] #19574 closed, assigned to peterhashair

[2022-07-28 10:08] sgiehl commented on #19153
Thanks for the detailed description. I guess for now you won't have another possibility than adjusting the code yourself for now, so the default setting is changed.
Our product team will review this feature request and plan it in at some point. But I can't promise when that will be the case.

[2022-07-28 10:29] tsteur opened #19581 "Segments containing log_action.name (for example page_url) contains are very slow"
refs https://github.com/matomo-org/matomo/issues/8850 and https://github.com/matomo-org/matomo/issues/8867

When someone creates a segment like `page_url contains '%...%'` or `page_title contains '%...%'` or `event_name contains '%...%'` then these kind of queries are very slow as it requires a full table scan on `log_action`. They result in a where clause for example like this `( ( log_link_visit

[2022-08-01 01:43] bx80 commented on #19581
It might not be too hard to test the performance benefits of using a segment <-> action link table, something like the following on a large dataset with a complex segment could be tested with and without using the link table to compare performance. The trade off would be efficiently matching new actions created by the tracker to existing segments. Perhaps if we could do this in code then it might

[2022-08-01 07:55] #19573 closed, assigned to peterhashair

[2022-08-01 07:56] sgiehl commented on #19081
removing from 4.11. milestone, as the remaining tasks will be solved in a later verion.

[2022-08-02 01:13] JasonMortonNZ opened #19589 "Illegal offset type Actions.php"
Cloud has been noticing an increasing count of the below error `Illegal offset type` for `/plugins/Actions/Actions.php:85`

## Context

**Error:**
[code]
**URL**: [/index.php?date=2022-07-25,2022-07-31&module=Insights&action=getOverallMoversAndShakers&disableLink=0&widget=1&idSite=3&period=range]()

**Referrer:** [/index.php?module=CoreHome&action=index&date=previous7&period=range&idSite=3]()

**G

[2022-08-02 07:58] dave-anh-kpi opened #19590 "Data in Sales Report and Channel Grouping Segment differences"
## Expected Behavior
Normally, Matomo is based on a last-click attribution model by default. This means, if you look at your sales per channel in the Sales report, you should find a specific number per each channel. Let's say you are looking at your sales from "Direct" traffic.
If you look at your sales while using a segment based on "Direct Traffic", you should find the exact same number of sales

[2022-08-02 08:32] sgiehl commented on #19589
Looking at the code I can't see any reason why that could happen. The method is triggered by an event, that passes through an array reference. The method itself tries to add an element to that array. I don't have a clue why that could cause an illegal offset type 🤷

[2022-08-02 09:32] #19571 closed, assigned to sgiehl

[2022-08-02 09:43] #19572 closed, assigned to bx80

[2022-08-02 12:36] sgiehl commented on #19590
Hi @dave-anh-kpi
Thanks for creating this issue. I guess we might need to dig a beet deeper into how the conversions are calculated in detail.
A first assumption would be that, the reports might differ as the dimension stored for the visit differs from the conversion.
The conversion reports should be calculated based on the data stored together with the conversion, while segments are mostly applie

[2022-08-02 15:29] larsen0815 commented on #12024
Still exists in 4.10.1

[2022-08-02 17:54] #18068 closed, assigned to nobody

[2022-08-03 03:11] Starker3 opened #19592 "Bar Graph widget doesn't show all labels"
I couldn't find an existing issue for this one.

When you set any report to show as a Bar Graph, not all labels are shown in the bar graph, eg:
![image](https://user-images.githubusercontent.com/20905821/182515709-722ccec4-315d-40a0-b07b-429daef91051.png)

Every second label is missing, you need to hover over them to know what they are:
![image](https://user-images.githubusercontent.com/20905821/1

[2022-08-03 07:27] sgiehl commented on #19592
That's actually very easy to adjust. I'll set up a simple PR to enabled all labels on x axis for bar charts only.

[2022-08-03 14:12] MatomoForumNotifications commented on #17551
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/jquery-vulnerability-in-latest-matamo/46861/2

[2022-08-03 14:12] MatomoForumNotifications commented on #17272
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/jquery-vulnerability-in-latest-matamo/46861/2

[2022-08-03 14:38] heurteph-ei commented on #17272
@tsteur, I don't understand: you wrote:

But in https://demo.matomo.cloud/index.php if you open the browser console, then type:
[code]
you'll get:
[code]

[2022-08-03 14:48] sgiehl commented on #17272
@heurteph-ei The title of this issue didn't match the description. The description was more related to a XSS issue in jQuery 2.2.4.
That XSS vulnerability has been fixed by applying a patch. We didn't update jQuery yet.

[2022-08-04 05:02] SujalXplores opened #19596 "Visits Overview widget - Sparkline not displayed"
## Expected Behavior

Sparkline should be displayed
![image](https://user-images.githubusercontent.com/56556259/182771651-005711fb-93ca-4d92-af56-fe2aa4671aa7.png)

## Current Behavior

Image is broken/blank
![image](https://user-images.githubusercontent.com/56556259/182766795-211230ff-0627-469f-b63d-4892144458ce.png)

## Possible Solution

Path to image is not correct

## Steps to Reproduce (for

[2022-08-04 07:02] sgiehl commented on #19596
Hi @SujalShah3234
Thanks for creating this issue. I'm unfortunately unable to reproduce that. For me the sparklines are loading correctly.
In the screenshot above the urls actually look correct.
Maybe there is another reason why the image can't be displayed for you.
- Are the sparklines working in other places of Matomo?
- Are you seeing the failing requests in the network tab of the dev tools? If

[2022-08-04 09:04] peterbo commented on #10110
Table sort for ecommerce reports seems to be broken - however, I can't reproduce this on all instances (all version 4.10.1 currently), just some.
![ecommerce-sort-order](https://user-images.githubusercontent.com/1018973/182808409-471d3761-4191-43b3-a2cf-fe6b47b9a583.JPG)

Maybe https://github.com/matomo-org/matomo/issues/8556 is a duplicate.

[2022-08-04 09:43] SujalXplores commented on #19596
Hi @sgiehl

Yes, in every tab where sparkline is used
![image](https://user-images.githubusercontent.com/56556259/182815021-6fb9faa8-5dcd-414f-a999-a7fa3bbca20c.png)
![image](https://user-images.githubusercontent.com/56556259/182815209-6e6e5de9-c362-45e5-94fa-5c70cf9e795f.png)
![image](https://user-images.githubusercontent.com/56556259/182815320-d7b047bc-9dba-4416-965c-bdd2825bce05.png)
![image](h

[2022-08-04 09:44] heurteph-ei opened #19597 "Manage users images inconsistant display ratio"
## Documentation URL
https://matomo.org/faq/general/manage-users/

## Use case
*I’m an Admin*

## Description
In paragraph **Editing Users**, there is an image that is not readable at all because is size is really to small:
![image](https://user-images.githubusercontent.com/79993552/182816563-eb8f7754-adeb-4bb4-b2e3-150b25718031.png)
Moreover, it seems this image is already displayed a little bit

[2022-08-04 14:33] MatomoForumNotifications commented on #10716
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/widget-difference-in-percents-for-traffic-with-yesterday/46832/3

[2022-08-05 04:26] Demichev commented on #18612
I disabled referrer overwrites in May in our instance of matomo. And I have analyzed 4 last months in our matomo db (direct sql queries). Referrer overwrites gave a large wrong statistics. 12 conversions in April for one referrer site but only 3 of them are correct. A common picture is that user bought a product (with direct entry) and then wanders back and forth to the blog or forum and then retu

[2022-08-05 05:07] justinvelluppillai commented on #19546
@sgiehl great if you can spend a couple hours at most looking into this and if it's an easy fix we can complete it in the `4.12` milestone.

[2022-08-05 05:16] sgiehl commented on #18612
@Demichev Do you know what the referrer type was set to? Was the initial value `1` and then updated to `7`? The referrer overwrites are only looking at the type afaik.

[2022-08-05 06:52] sgiehl commented on #10110
@peterbo would you mind checking if the request parameters sent to load the datatable differ on an instance where it works vs a not working one?

[2022-08-05 07:17] sgiehl commented on #19596
Ok. As they aren't working anywhere for you, this is more likely a server configuration issue.
I'll close this issue here, as we only handle bug reports or feature requests on GitHub.

Nevertheless some notes that might help you to solve the problem:
* Check if the GD extension for PHP is installed / activated on the server. Running the system check of Matomo should tell you if it working. (See ht

[2022-08-05 07:17] #19596 closed, assigned to nobody

[2022-08-05 07:50] mrYeap opened #19601 "where is the admin page?"
Impossible to find the admin page on Matomo 4.11.0 with plugin 4.2.0

[2022-08-05 08:04] sgiehl commented on #19601
Hi @mrYeap. Sorry but your question is a bit too unspecific to be able to answer it.
If you need help with Matomo it would be better to first try it on our forum at https://forum.matomo.org
We are using the GitHub issues only to track & handle bugs and feature requests.

[2022-08-05 08:04] #19601 closed, assigned to nobody

[2022-08-05 08:13] schuetzm commented on #18612
I can also confirm that with the above mentioned functions disabled we're now seeing more plausible statistics: many direct visits, many from particular search engines, and a few from campaigns. (Although there are still a few from Paypal, where it probably lost the connection because we're not using cookies.)

So, can we please have a switch for this behaviour in the configuration? Do you want me

[2022-08-05 08:52] peterbo commented on #10110
Hey @sgiehl !

There doesn't seem to be a big difference:

Working example from Browser Console:

date | yesterday
isFooterExpandedInDashboard | 1
abandonedCarts | 0
viewDataTable | table
module | Goals
format | html
action | getItemsName
period | day
idSite | 9
random | 7206
filter_offset | 0
totals | 1
filter_limit | 10
filter_sort_column | nb_visits
filter_sort_order | desc
keep_totals_row | 0

[2022-08-05 08:53] Demichev commented on #18612
As I can see all refs to our site with null name have type = 1 and with filled name have types 2 (search engines I guess), 3 (other sites), 7 (YouTube). I don't know what it means.

[2022-08-05 09:00] mzch opened #19602 "Fatal error in 4.11.0"
## Expected Behavior

Show System Check screen.

## Current Behavior

PHP Fatal error. Please see below:
https://d.pr/i/MOOMpX
https://d.pr/i/ufkG7M

## Possible Solution

## Steps to Reproduce (for Bugs)

1. Click `CHECK FOR UPDATE` for updaring to 4.11.0
2. Finish updating
3. Click `Administration` button.

## Context

Not shown System Check screen.

## Your Environment

* Matomo Version: 4.11.0

[2022-08-05 09:11] sgiehl commented on #19546
created a PR upstream. Let's see if that will get merged... https://github.com/szymach/c-pchart/pull/81

[2022-08-05 09:37] sgiehl commented on #19602
Hi @mzch
Did you maybe have the Provider plugin installed before? It seems the plugin is marked as installed, but actually not available.
Could you maybe check your config.ini.php if it contains the plugin `Provider` within the `PluginsInstalled` section?
If it does, but you don't have the plugin in the plugin directory, simply remove the line in the config.

[2022-08-05 09:42] sgiehl commented on #18612
@Demichev See https://github.com/matomo-org/matomo/blob/53c00a78caf96d24dd8f7f74dc8fd74268b312b1/core/Common.php#L26-L30

Not sure if storing the referrer url, if it is flagged as a direct entry, is correct. An url from the same site imho should never be stored as referrer url or at least I can't see any good reason for that.

[2022-08-05 09:56] sgiehl commented on #10110
@peterbo ok. that looks normal. Would you check if you have some settings stored for that report in the options table. option_name should be something like `viewDataTableParameters_{login}_Goals.getItemsName`

[2022-08-05 10:42] peterbo commented on #10110
I don't have direct DB access on the instance that shows the error, unfortunately. However, I created a new User for making sure, that no custom settings are done to the datatable configuration. In the config.ini.php, there are also no custom settings for the datatables (e.g. limits). Sorting error still persists.

[2022-08-05 14:04] mattab commented on #18612
when this is happening and causing data issues, then it may be worth also tracking all sub-domains/sites in one new Matomo website using cross domain tracking https://matomo.org/faq/how-to/faq_23654/

(Alternatively another workaround (with downside) is you can also  define your blog and forum as "alias URLs" in the main site in Matomo: "Alias URLs: domains and subdomains that are tracked in this

[2022-08-05 16:57] will-titan opened #19603 "Allow users on Matomo cloud to chose not to exclude the default query parameters"
On matomo cloud, common query parameters such as utm source and others are stripped off url loggs by default, even when exporting raw data. We have the option to add more parameters to strip off but we do not have the option to show those parameters anywhere. As a user who is primarily using Matomo to collect pageview data to then analyze in a consolidated BI system, the current system forces us t

[2022-08-05 22:00] justinvelluppillai commented on #19546
@sgiehl looks like it's merged already 👍🏽

[2022-08-07 21:36] sgiehl commented on #10110
Hm. As long as I'm not able to reproduce that, it might be hard to find the reason. If it's not caused by some datatable settings that are stored, there needs to be another reason I currently can't see. Are you able to see if the table is sorted by another column instead? Maybe the label, or another column like visits or similar? Also it would be interesting to know if that only happens in the UI

[2022-08-07 21:37] sgiehl commented on #19546
Yep. Will create a PR to update the lib then.

[2022-08-07 23:57] #19546 closed, assigned to sgiehl

[2022-08-08 03:10] peterhashair opened #19605 "Can't delete a user"
## Expected Behavior
Should show popup and delete user.

## Current Behavior
When I try to delete a user, it seems like the confirm password modal didn't show up, leading to an error.

## Your Environment

* Matomo Version: 4.x
* PHP Version: 8.0
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2022-08-08 04:00] Starker3 opened #19607 "Anonymous user access doesn't send any security alerts or require password verification"
There is currently no security alert sent when the anonymous user is enabled for a Matomo instance. It also doesn't require a password for verification.

This means that any user that can set access for user accounts for a site/measurable could enable it without properly reading the warning and allow public access to their reports.

It would be good from a security perspective to do the following:

[2022-08-08 04:06] Demichev commented on #18612
I know about multi domain visitors, we plan to test it in the future.

Don't know a good solution but current inconsistency when different refs are stored for url and name looks wrong for me.

[2022-08-08 04:48] bluikko commented on #13321
Is this feature correctly disabled, or can it be disabled, if LoginLdap is enabled?

[2022-08-08 08:39] sgiehl commented on #13321
Hi @bluikko. I don't have set up Ldap locally, so can't answer that question easily. Maybe @AltamashShaikh can say something on that.
Was adding a user disabled for LoginLdap plugin? If changes are required for LoginLdap, might be good to create a follow up issue there.

[2022-08-08 08:46] sgiehl commented on #19605
That works without problems for me. Also all UI tests covering removing a user are working correctly.

If you see an error, why don't you simply paste the error message or a screenshot here?

[2022-08-08 09:42] peterbo commented on #19279
Hi @bx80 - is there a current / new status to this ticket? - Currently, this basically renders the consent system unusable. Thank you in advance!

[2022-08-08 11:06] sgiehl commented on #19603
Hi @will-titan
Thanks for creating this issue. Unfortunately we are not able to help you here. Matomo itself already offers this possibility by overwriting the default parameters in config.
Those default parameters are: https://github.com/matomo-org/matomo/blob/908ea17c764255239c4e6573189b65c637700b1f/config/global.ini.php#L941

In addition all parameters that are configured as campaign parameters

[2022-08-08 11:06] #19603 closed, assigned to nobody

[2022-08-08 11:37] heurteph-ei opened #19608 "Visitors logs: Time cut off on responsive mobile (then icons and even IP)"
## Expected Behavior
When I browse Matomo Visitor logs on my mobile browser, all information should stay visible

## Current Behavior
On visitors logs. (I reduce the display with from case to another one...)

### Limit case when OK:
![image](https://user-images.githubusercontent.com/79993552/183408283-18f4a6b2-4e2a-4392-b8b9-d06e8eccc0df.png)

### Case when some icons are disappearing…
![image](ht

[2022-08-08 11:37] MatomoForumNotifications commented on #19608
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/time-cut-off-on-mobile/46895/5

[2022-08-08 12:02] tomper00 commented on #19439
I would really like to see a custom HTML or perhaps a markdown widget as well, so that you can describe the dashboards better to the users.

[2022-08-08 13:47] heurteph-ei commented on #19562
@bx80 @VincentCoucharriere, wouldn't it be about this option (in MTM):
![image](https://user-images.githubusercontent.com/79993552/183432422-29cc7531-1246-49bc-8432-8f0fcfb4f9d4.png)
?

(then this topic should be moved into the MTM project)

[2022-08-08 15:16] #18343 closed, assigned to nobody

[2022-08-08 15:22] sgiehl commented on #19562
@heurteph-ei Guess it is a bit unclear what the issue actually was about. If it is about catching and tracking javascript errors on a website, then it might be correct here. Matomo currently appends an onError handler to track possible javascript errors.
If Angular or other frameworks might catch there errors themself and the error handler is not triggered, then Matomo currently can't track it.
Bu

[2022-08-08 15:29] sgiehl commented on #19608
Thanks for creating this issue @heurteph-ei
The responsiveness of our page is unfortunately not the best everywhere. If you are able to do so, feel free to create a PR with some fixes :-)
Otherwise our product team will decide when to work on that specific part.

[2022-08-08 15:32] miton18 opened #19609 "Undefined index"
An orange message is shown on several pages,

[code]

## Expected Behavior
no error message

## Current Behavior
An error message

## Possible Solution
Comment the next line (quick fix)
https://github.com/matomo-org/matomo/blob/1ef548f5a28d08f741697fd012a3c988b3e5c8a0/core/Http.php#L1118

## Steps to Reproduce (for Bugs)
1. Use Matomo v4.11.0
2.
## Context

## Your Environment

* Matomo Version: v

[2022-08-08 15:53] sgiehl commented on #19609
Hi @miton18
Could you check if your global.ini.php was correctly updated with the last update? The `exclude` option for proxy section should be defined there and thus shouldn't trigger a notice

See https://github.com/matomo-org/matomo/blob/908ea17c764255239c4e6573189b65c637700b1f/config/global.ini.php#L1109

[2022-08-08 16:12] miton18 commented on #19609
in fact, I miss this one in my update process, sorry for the noise

[2022-08-08 16:13] #19609 closed, assigned to nobody

[2022-08-08 19:24] peterhashair commented on #19605
@sgiehl ops,sorry, it's VUE build error on mine, works on development enabled = 0

[2022-08-08 19:24] #19605 closed, assigned to nobody

[2022-08-08 21:44] bx80 commented on #19279
Hi @peterbo, unfortunately this issue hasn't been prioritized yet so I can't say when it will be worked on. Did this functionality work in a previous release?

[2022-08-09 00:38] justinvelluppillai commented on #19589
@JasonMortonNZ let us know if this is resolved by the translations fix and we can close this.

[2022-08-09 02:21] justinvelluppillai commented on #19028
Hi @jmumby just checking in for an update when you think you might have time to action this?

[2022-08-09 02:26] JasonMortonNZ commented on #19589
@justinvelluppillai Yes, this is now resolved by the translations fix 👍

[2022-08-09 02:26] #19589 closed, assigned to nobody

[2022-08-09 09:18] AaronClifford commented on #19340
I've looked into this, I believe this is correct behavior as it uses the **sanitizeInputValues** function on save as it's a user inputted value, then when it's used it's likely **unsanitizeInputValue** is used as it is with other user inputted values in other areas.

[2022-08-09 09:29] AaronClifford commented on #19340
Left as a draft as currently unable to test

[2022-08-09 09:47] fritzmg commented on #19340
That's currently not the case though - but I see you already created a PR to fix this 👍

[2022-08-09 12:00] AaronClifford commented on #19272
Tested this end, working as expected not as reported.

[2022-08-09 13:36] Hiradur opened #19613 "create-security-files should allow access to files that are needed by plugins to be publically accessible"
## Summary
On our server, we currently run Matomo version 4.11.0. Matomo updates are managed using Ansible. After every update, `./console core:create-security-files` is run. This has worked fine so far.
Recently, we installed the `HeatmapSessionRecording` plugin. For this plugin, the system check reported that `plugins/HeatmapSessionRecording/configs.php` is inaccessible and a manual check in the

[2022-08-09 21:18] justinvelluppillai commented on #18937
@tsteur is there anything we can do here yet to move this one along or should we move it out of the milestone?

[2022-08-09 22:11] bx80 commented on #19613
@Hiradur, thanks for reporting this. The `HeatmapSessionRecording` plugin folder should contain it's own `.htaccess` file to allow access to `plugins/HeatmapSessionRecording/configs.php`. It sounds like this isn't working.

Could you please confirm that the `plugins/HeatmapSessionRecording/.htaccess` file is present on your server and post the contents? This will hopefully help us understand what

[2022-08-09 22:21] tsteur commented on #18937
@justinvelluppillai that would be up to the core team but we definitely need to resolve this issue as it affects quite a few users and breaks the archiving.

[2022-08-09 22:31] #12024 closed

[2022-08-10 00:02] bx80 commented on #18937
Would it be worth writing a test script to build a suitable random dataset and then repeating the select / temporary table creation until the error is encountered? If we can automate recreating the issue reliably, even if only once every x attempts, then we could narrow down the possible causes.

[2022-08-10 01:54] tsteur commented on #18937
I did run these queries many times after we encountered the error on production and couldn't reproduce it. It was using the very same query just minutes later and running it many times. It may be really hard to reproduce. Since we know we don't execute the query twice we could potentially also think about simply adding an `ignore` to the `insert` and the problem be gone? Just a random thought.

[2022-08-10 02:38] qiuminwei commented on #18735
@sgiehl I also had this problem: PrivacyManager.ipAnonymizerEnabled is changed in the database when I change it in the UI, but is reset to 0 when restarting the pod.

I don't think it has anything to do with config, because after I changed it in the UI, the config file doesn't change anything.

[2022-08-10 03:32] bx80 commented on #18937
That seems like a pragmatic solution to me :+1: We've established that it only happens occasionally, it's hard to reproduce, we're not running the query multiple times and since the example queries are returning a simple list of primary keys then ignoring a duplicate insert value won't affect the intended outcome.

[2022-08-10 04:28] justinvelluppillai commented on #19602
Also relevant: https://github.com/matomo-org/matomo/issues/18505

[2022-08-10 04:28] justinvelluppillai commented on #19602
Closing as answered, but please reopen and let us know if you think there is still an issue here.

[2022-08-10 04:28] #19602 closed, assigned to nobody

[2022-08-10 04:50] mzch commented on #19602
Well, I deactivated `UserCountryMap` and `UserCountry` plugins to fix this issue...

[2022-08-10 06:02] EreMaijala commented on #18937
While I appreciate the pragmatic approach and hope for a quick resolution to be able to upgrade Matomo, I'm still a bit worried that the root cause is unknown. Not that I have any better idea, so maybe `ignore` is the best solution anyway.

[2022-08-10 07:30] sgiehl commented on #19602
Deactivating those plugin might not be the best approach, as it might also disable geolocation of your visitors. I'll prepare a small code change to make sure this problem can't occur in the future

[2022-08-10 07:43] mzch commented on #19602
Wow, I have a high expectation. Thanks!

[2022-08-10 08:30] SteVio89 commented on #18937
We also had the problem on our instance.

Additionally, we had another issue related to MariaDB, similar to [#18864](https://github.com/matomo-org/matomo/issues/18864).

By adding `enable_segments_cache = 0` to the config file, we were able to resolve both issues.

It may not be the best solution for the issue, but it may be a temporary solution until a fix is found.

[2022-08-10 08:32] sgiehl commented on #18735
@qiuminwei If your pod is also running the installation on restart as the config file is not persistent, this might be the reason.

[2022-08-10 10:17] qiuminwei commented on #18735
@sgiehl  thanks for the quick replying, we do not use persistent volume but will copy the preset config.ini.php every time Matomo starts, and I have seen the [installation](https://github.com/matomo-org/matomo/blob/a8dec66081fa5cd671a668ef248c36e9d3285ffc/core/Updates/2.9.0-b1.php#L88) script, it will first check the ipAnonymizerEnabled value in the database, if it is true, it will skip the reset,

[2022-08-10 13:28] utrautmann opened #19615 "Fix for page goals visualization showing hits instead of visits"
This issue is related to the new 4.11 feature described here:
https://github.com/matomo-org/matomo/issues/2030#issuecomment-928878139

## Expected Behavior

The column "Unique pageviews" in the new report page urls in the goals section shows number of visits of this page.
Where? New report "Pages" under the "Goals by pages" category:

## Current Behavior
It seems the report shows simple pageviews.

[2022-08-10 13:55] utrautmann opened #19616 "Goals | "Viewed before 'Goal XYZ' rate" is often 0%"
This issue is related to the new 4.11 feature described here:
https://github.com/matomo-org/matomo/issues/2030#issuecomment-928878139

## Expected Behavior
The "Viewed before _Goal XYZ_ rate" should "The ratio of conversions of _Goal XYZ_ where this page was viewed prior to converting."

My understanding is that "was viewed prior to converting" means "was viewed **in the visit** prior to convertin

[2022-08-10 16:54] atom-box commented on #16495
We had a couple requests for this today. Here is one:

" I read somewhere that Matomo doesn't support secondary dimensions the same way Google Analytics does."

[2022-08-10 18:44] atom-box commented on #5045
User comment:

_"I'd like to be able to remove the Revenue column. I use Matomo for personal side projects that, for the most part, don't generate revenue."_

[2022-08-10 20:27] tsteur commented on #18937
When this is set, the query will be no longer executed but it also makes archiving the reports in the background slower.

I would be too. However, because we ruled out that the same query might be executed twice and is writing data twice into it I'm not as worried. It's neither executed in parallel by another process nor after another. This would have been my biggest worry.

[2022-08-11 02:35] samjf opened #19617 "Segment with 'Does not contain' operand is invalid if comma is in value"
When creating a new segment with a 'Does not contain' operator, if your value contains a comma then when an archive is run it will return "The segment condition ' After comma' is not valid."

## Expected Behavior
Commas should be allowed as a valid character in the filter value

## Current Behavior
A segment condition is not valid error message is display.

## Possible Solution
I believe because i

[2022-08-11 03:49] bx80 commented on #19615
@utrautmann Thanks for spotting this :+1:

I can confirm the wrong metric is being used for the column. I've submitted a PR to correct this.

[2022-08-11 04:24] bx80 commented on #19616
Hi @utrautmann, thanks for reaching out.

You are correct, "was viewed prior to converting" does mean "was viewed in the visit prior to converting." :+1:

Some of the values used to calculate the 'viewed before' rate are generated during the archiving process. It's possible that conversions created prior to upgrading to version 4.11 do not have the archived values needed to correctly calculate the

[2022-08-11 04:47] Starker3 commented on #15349
(Moved bug report to BUG 9 in description)

[2022-08-11 07:56] sgiehl commented on #18735
That's not the part of the installation I was referring to. The update script should only be executed when Matomo is updated. That shouldn't be the case here. I was referring to this part: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/PrivacyManager/PrivacyManager.php#L434

But actually we don't have enough time to help narrow down issues for such specific use cases. Feel free to inves

[2022-08-11 09:05] MatomoForumNotifications commented on #19474
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/unhandled-exception-while-enabling-plugin-tagmanager/45981/8

[2022-08-11 11:22] utrautmann commented on #19616
Hi @bx80 ,

the time that I choose in the screenshot was for 09/Aug/2022. I 've upgraded Matomo to 4.11 at 05/Aug/2022, so I think all report metrics were created after the upgrade.

I will look for another example with a more manageable amount of visits and goals - hopeful it helps you.

[2022-08-11 12:11] utrautmann commented on #19616
Hi @bx80 ,
here comes a simple example. I anonymized some informations.
We had 8 conversions yesterday for the goal _"Klick auf Link zu uni-assist.de"_

![grafik](https://user-images.githubusercontent.com/25771066/184128738-f6166501-6328-47dc-9a4f-c53d505fdd29.png)

Let's take a deeper look to the first red marked URL. "Viewed before ... rate" is 0, but conversions are 0.5.
24 pageviews and 19 uni

[2022-08-11 17:48] atom-box commented on #16495
Email from a customer:

"In the demo, I do not see what is called « Secondary Dimension » in Google Analytics ( = the possibility of cross-referencing several types of KPI in the same dimension). You confirm me that there is not such feasibility in Matomo ?"

[2022-08-11 18:54] bx80 commented on #19616
Hi @utrautmann,

Thanks for the extra information, that's really helpful! :slightly_smiling_face:

It definitely looks like there is something wrong here, I'll investigate further :+1:

[2022-08-12 01:41] justinvelluppillai commented on #19028
@sgiehl here is the new FAQ: https://matomo.org/faq/how-to-install/which-plugin-should-i-use-with-wordpress/

[2022-08-12 08:06] sgiehl commented on #19028
Ok. I've adjusted the link. So if we detect a wordpress site we would now show:

- in case Matomo for Wordpress is being used:
![screen](https://user-images.githubusercontent.com/1579355/184311706-2a392066-e3ec-475c-b7f7-3d737a21b61d.png)

- If normal Matomo is used:
![screen](https://user-images.githubusercontent.com/1579355/184312020-69d2c8e5-b9f7-45e8-9737-8d9823f7a8bf.png)

Let me know if anyt

[2022-08-12 08:10] justinvelluppillai commented on #19028
Looks good @sgiehl. Let's proceed and see what impact it has. @jmumby can reopen the issue or create a new one if needed later for further improvements here

[2022-08-12 08:13] sgiehl commented on #19617
This should indeed be caused by the url decoding. We had some issues in the past with segments being encoded too often or to less, so they didn't match the defined segments in the database when comparing. We might still perform url decode twice, to ensure it's not encoded anymore. Might not be that easy to get rid of it.
The "simplest" solution I currently can think of, would be to run some custom

[2022-08-12 10:00] Hiradur commented on #19613
There is no `.htaccess` file in `plugins/HeatmapSessionRecording/`. I think this is due to the way how we installed the plugin: we downloaded `HeatmapSessionRecording-4.4.3.zip` from https://plugins.matomo.org/download and extracted it to the `matomo/plugins` directory via Ansible.
I can see that there is an `htaccessTemplate` file in the `HeatmapSessionRecording/Install` directory. This file did

[2022-08-12 11:57] sgiehl commented on #5045
Note: The revenue column is automatically hidden if the Goals plugin is disabled. Goals might also define a revenue value, so hiding the column if only ecommerce is disabled might not be the best solution for all cases.
Nevertheless I'd suggest to close this one in favor of #2390

[2022-08-12 12:21] sgiehl commented on #19607
Would you mind defining what the expected behavior should be when selecting multiple users (including anonymous) in the list and giving all `view` access at once? Currently not even the additional access warning is shown in that case.

[2022-08-12 12:46] sgiehl commented on #18375
So what should we change as part of this issue? Only change the default limit of concurrent archivers to 3. Or also an additional option to force running an archiving even if the limit is already hit?

[2022-08-12 15:37] Findus23 opened #19625 "Show user invite link when inviting user"
At the moment the only way to invite a user is by letting Matomo send an E-Mail to them. But a ton of people have broken E-Mail setups. Either their mail server isn't properly set up with DKIM, etc. and all mails are rejected as SPAM or they don't really have a mail server or they are using some wonky SMTP setup via gmail (which can break for all kinds of Google changes).
Before that didn't really

[2022-08-12 15:40] MatomoForumNotifications commented on #19625
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/4-11-0-cant-set-new-user-passwords-but-user-invite-emails-not-sent/46954/2

[2022-08-12 18:04] atom-box opened #19626 "Handle encoding in translation files"
In the French translation, a character (ampersand poundsign 039) is not displaying correctly in the view for
⚙️ > System > Import > Google analytics

![image](https://user-images.githubusercontent.com/22874146/184416901-f3a96df5-c2a6-427b-a42d-17aacefa5312.png)

[2022-08-14 13:45] Findus23 commented on #19626
The translation string is correct (https://hosted.weblate.org/translate/matomo/plugin-googleanalyticsimporter/fr/?checksum=f881f6f5577e3d1f), so this is an issue in all languages and just doesn't appear in English because there are no non-letter-characters there.

Maybe we should expand the [Matomo "development" language](https://github.com/matomo-org/matomo/blob/4.x-dev/core/Translation/Loader/De

[2022-08-14 14:13] Chardonneaur opened #19629 "Broken link on https://developer.matomo.org/guides/getting-started-part-1"
Hi there,
There is a broken link at the beginning of the tutorial on:
https://developer.matomo.org/guides/getting-started-part-1
the anchor link is --> [these tutorials](https://devzone.zend.com/6/).
I wish i could help here but I have no idea to which resources you wish to send the visitor to.

Cheers,

[2022-08-14 20:15] tsteur commented on #19607
FYI it's actually too easy to give an anonymous user view access by accident. Especially using the multi select. Maybe an anonymous user cannot be enabled in the UI along with other users in the future?

And/or maybe ideally the `anonymous` user wouldn't appear in the users list until specifically enabled to appear there. We could always show eg this menu item:

<img width="549" alt="image" src="h

[2022-08-14 21:09] justinvelluppillai commented on #18375
@sgiehl it would be good to do both. @tsteur can you confirm your expectation/preference here also?

[2022-08-14 21:12] tsteur commented on #18375
We would

* Update the guide if that's not done yet
* Change the default limit of concurrent archivers to 3.
* There would indeed also need to be a way to not have concurrent archivers restricted. Eg using `concurrent-archivers=-1` (and/or 0 could be also treated as unlimited) and `concurrent-archivers=` or something similar (or a different option).

[2022-08-15 13:19] peterbo commented on #19279
Hi @bx80 - this bug exists since the introduction of the new feature (disableBrowserFeatureDetection).

[2022-08-16 00:16] bx80 commented on #19616
@justinvelluppillai I've added this to the current milestone since it's a potentially high impact issue with a new feature.

[2022-08-16 01:02] bx80 commented on #19613
Hi @Hiradur, thanks for the update.

Each individual plugin has an install function that will perform various actions to setup the plugin, this will be different depending on the plugin, so skipping the install function might not cause any problems with one plugin, but cause issues with another.

To be sure that the plugin is properly set up the install function needs to be run.

If a plugin is ac

[2022-08-16 01:02] #19613 closed, assigned to nobody

[2022-08-16 01:05] bx80 commented on #19279
I've tagged this issue for a priority review as it appears to be regression.

[2022-08-16 07:22] #19615 closed, assigned to bx80

[2022-08-16 09:30] #19358 closed, assigned to peterhashair

[2022-08-16 10:16] sgiehl commented on #19625
I would suggest to maybe add a new config flag for this. Having it enabled will show the invite links instead of sending an email at all. Having the possibility to show an invite link on all instances might otherwise make it a bit less secure I guess.

[2022-08-16 11:36] #19028 closed, assigned to sgiehl

[2022-08-16 11:37] sgiehl commented on #19626
refs https://github.com/matomo-org/matomo/pull/19190

[2022-08-16 14:25] x97-epe opened #19633 "Error when sendig email report after upgrading to 4.11"
After upgrading Matomo from 4.10.1 to 4.11.0 system fails sending email report.
System is configured to send email using PHP build in-mail function.
Email troubleshooting:

_$ ./console core:test-email <_myemailaddress_>_

succeed (no kind of error/warning, and email is regularly received). Instead sending report via admin web-page (Personal Email Reports => Send-Report-now) fails with generic err

[2022-08-16 15:39] volker-attempto opened #19634 "wrong results for getHostName(url) in piwik.js"
I experienced, that the tracked hostname was wrong when query parameters are provided, which include the @ (at) symbol.

## Expected Behavior

hostname is extracted correctly from href / url

## Current Behavior

string after last @-sign is treated as domain name

## Possible Solution

fix the RegExp in piwik.js

## Steps to Reproduce (for Bugs)

1. set up tracking script with a url like 'http://w

[2022-08-16 23:47] jane-twizel commented on #19625
@javi-ormaechea will look at this and come back with a design solution by end of tomorrow. @justinvelluppillai he will be in touch with questions.

[2022-08-17 00:04] KarthikRaja1388 opened #19635 "Transitions: Option to share transitions report"
An option to share transition report to other users with a link or the ability to add it to Email reports would be helpful to some customers.
Currently there is no option to share the transition report either add it to a custom or email reports.

Customer's request: we would like to create a shareable link to view the Transition Data (only for those with the link).

[2022-08-17 00:10] justinvelluppillai commented on #19634
Great bug report, thanks! We can improve this regex which is also currently used in `optOut.js`. I will put it in the queue for prioritisation by the product team.

[2022-08-17 00:23] tsteur commented on #17050
We've recently had again segment encoding issues in https://github.com/matomo-org/matomo/issues/19617 that caused us issues and for example a segment defined in a JSON structure would have prevented this.

[2022-08-17 02:49] bx80 commented on #19633
Hi @x97-epe, thanks for reaching out.

If the console test-email command is successfully sending emails then it seems unlikely there is an issue with the Matomo email configuration. As far as I can see there haven't been any recent changes relating to mail delivery. I've also tested the 'Personal > Email Reports > Send Report Now' function and it's working for me.

"Could not instantiate mail func

[2022-08-17 05:41] peterhashair commented on #19279
Hi @peterbo trying to reproduce locally, but it seems like before the `rememberCookieConsentGiven` is called, the unique user id won't be generated, once the content is given the user Id will load from cookies.
Here is my config, let me know if I am on the wrong setup.

[code]

[code]

[2022-08-17 06:51] KarthikRaja1388 opened #19636 "View feature similar to GA"
It would be useful to have a feature to create views under a Matomo website similar to GA.

A view or reporting view is a subset of a Universal Analytics [property](https://support.google.com/analytics/answer/6086081) that can have its own unique configuration settings. You can create multiple views for a single property and configure each view to show a different subset of data for the property.

[2022-08-17 08:07] x97-epe commented on #19633
Hi bx80! Thanks for feedback.

It seems to me PHP and email sub-system (postfix) are properly configured and work. In fact:

- ./console core:test-email <email-address> works when using my email as well when sending to apache@localhost (end into (/var/spool/mail/root file).
- I set a test email-report configured to be delivered at given time. I regularly get the report...

The problem seem to be c

[2022-08-17 12:47] heurteph-ei opened #19637 "Potential jquery-ui Vulnerability (CVE-2022-31160)"
## Expected Behavior /  Current Behavior

## Possible Solution
Remove any reference to jQuery/jQuery UI

## See also
https://github.com/matomo-org/matomo/issues/17272

## Context
https://forum.matomo.org/t/potential-jquery-ui-vulnerability-cve-2022-31160/46970

[2022-08-17 12:48] MatomoForumNotifications commented on #19637
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/potential-jquery-ui-vulnerability-cve-2022-31160/46970/2

[2022-08-17 13:37] heurteph-ei opened #19638 "Invalidate report - Warning - Array to string conversion"
## Expected Behavior
No warning in report invalidation

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

## Context
https://forum.matomo.org/t/invalidate-report-error-message/47006

## Your Environment
* Matomo Version: 4.10.1
* PHP Version: 8.0.16
* Server Operating System:
* Additionally installed plugins:

[2022-08-17 13:39] MatomoForumNotifications commented on #19638
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/invalidate-report-error-message/47006/4

[2022-08-17 13:57] sgiehl commented on #19637
We may fully remove jQuery UI as part of https://github.com/matomo-org/matomo/issues/16033
Besides that we are not aware of any CVE reported for jQuery UI that really affects Matomo.
As we are not using many parts of jQuery UI anymore, most reports affect parts we don't use at all - like this one.

[2022-08-17 13:57] #19637 closed, assigned to nobody

[2022-08-17 13:58] sgiehl commented on #19638
@heurteph-ei Do you know the exact command that was executed? Otherwise it might be hard to reproduce.

[2022-08-17 14:19] MatomoForumNotifications commented on #19638
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/invalidate-report-error-message/47006/5

[2022-08-17 14:31] heurteph-ei opened #19639 "Matomo demo: Piwik reference in the Matomo ChangeLog widget"
## Expected Behavior
No more reference to Piwik...
(I tried to find another subject in the GitHub about removing all reference of Piwik, but did not found any...)

## Current Behavior

![image](https://user-images.githubusercontent.com/79993552/185159547-82e1c4c4-81cd-4ae3-b492-111b91a9c5ed.png)

## Possible Solution
Change Piwik into Matomo!

## Steps to Reproduce (for Bugs)
1. Select a new widge

[2022-08-17 14:36] MatomoForumNotifications commented on #14533
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/average-page-per-visit/47026/2

[2022-08-17 15:05] heurteph-ei commented on #19638
[code]

[2022-08-17 15:50] peterbo commented on #19279
Hi @peterhashair - thanks for tackling this issue!

Correct - before the consent is given (remember(Cookie)ConsentGiven), the corresponding visitor / session is recognized via config id hash (fingerprint). When you call remember(Cookie)ConsentGiven, the visitor's config id changes, because now, the browser's plugins and resolution (don't know if that's part of the fingerprint currently) is sent by

[2022-08-17 16:04] peterbo commented on #19636
This would also create capabilities in terms of permissions for a subset of views within a measurable (which is often requested). E.g. content team (stakeholder mostly interested in their content branches), leadership (interested in overview over all data), etc. This would make a lot of things much easier to analyse (= create a measurable from a segment / filter).

[2022-08-17 21:01] justinvelluppillai commented on #19639
We do have a relevant issue https://github.com/matomo-org/matomo/issues/12420. I will close this one in favour of that.

[2022-08-17 21:01] #19639 closed, assigned to nobody

[2022-08-18 07:43] vadi2 opened #19642 "Goal revenue cannot be set to $0"
## Expected Behavior
Setting a goal's revenue to $0 should disable revenue tracking for it.

## Current Behavior
With the goal at $0, Matomo still counts revenue per download:

![image](https://user-images.githubusercontent.com/110988/185338330-3f8c01db-a771-4fa8-b7a6-152e99eacb74.png)

## Context
Running an open-source project where no income is made from downloads. I'd like to make the dashboard

[2022-08-18 07:57] sgiehl commented on #19642
Hi @vadi2
Thanks for creating this issue. The revenue value you are able to configure in the goal settings is actually only a default value. It is always possible to send a custom value when the goal is being tracked (in case that's done manually). So even if it's configured to `0`, there might always be other values tracked.
I guess you are looking for a possibility to disable revenue tracking &

[2022-08-18 08:46] vadi2 commented on #19642
Hey @sgiehl, I've set the goal revenue to $0 but Matomo is still counting $0.01 per download - that part seems like a bug to me.

[2022-08-18 08:56] sgiehl commented on #19642
But there seems to have been some revenues tracked. At least the revenue sum is not reported as `0`.

[2022-08-18 09:06] vadi2 commented on #19642
Precisely the problem, why is that the case when the goal revenue is set to $0?

[2022-08-18 09:32] sgiehl commented on #19642
As mentioned before, When you track goals manually using the javascript method, you can send a custom revenue. Only if no revenue is sent, the configured default is used.

[2022-08-19 00:33] bx80 commented on #19633
Hi @x97-epe, thanks for the extra information :+1:

I've checked the 'Send Report Now' and 'Invite User' web admin functions and they are using the same underlying code to send mail as the `./console core:test-email` command. They both work consistently in my tests.

Typically the web server will not be running as the same Linux user as one used for scheduled reports (cronjob) and console commands

[2022-08-19 02:31] Javi-Ormaechea commented on #19625
A solution was created for this issue. Please get in touch with me to get file, thanks! 🙂

[2022-08-19 02:36] bx80 opened #19643 "Abstract database get_lock to the current PDO adapter"
Many distributed databases do not support the MySQL `get_lock()` function. In order to be able to support alternative databases in the future we need to abstract the use of `get_lock()` to the configured PDO adapter.

Instead of calling `get_lock()` directly all code should call a new `getLock()` method on the current PDO adapter which will allow locking to be handled differently for each database

[2022-08-19 02:53] bx80 opened #19646 "Support an option for ranking queries to use window functions"
Currently ranking queries in Matomo are generated using a iterative counter method, this works well in MySQL but isn't well supported for other database types and can suffer from performance issues.

MySQL 8.0+ introduces new window functions which offer standardization and improved performance for ranking queries by allowing query planner optimizations. Specifically the `RANK()` and `ROW_NUMBER()

[2022-08-19 03:14] bx80 opened #19647 "Abstract database specific tests and fixtures"
Our test suite contains tests and fixtures which execute MySQL specific DDL statements. In order to support alternative databases we need to abstract these statements to the `core/Db` class or PDO adapter. Ideally tests and fixtures should never execute DDL statements directly.

**Suggested Approach**

- Identify MySQL specific tests that only make sense to run on MySQL, adjust these tests to chec

[2022-08-19 03:30] bx80 opened #19648 "Abstract database specific helper methods to PDO adapter"
Various methods the `core/Db` and `core/DbHelper` helper classes execute MySQL specific statements. In order to support alternative databases these statements should be moved to new methods defined in `core/Db/AdapterInterface` and implemented by the chosen PDO Adapter.

**Suggested Approach**

 - Review all methods in `core/Db` and `core/DbHelper`, identify those which are very specific to MySQL.

[2022-08-19 03:44] KarthikRaja1388 commented on #19635
Customer's request: I am reaching out to find out if the Matomo Tool has the ability to generate a shareable link to specific data on the platform. We want to share the Transitions data with other members of our team in our organization, without making all data viewable by the general public as this is data on a government website. The idea was to generate a link to the Transitions page data and s

[2022-08-19 03:55] bx80 opened #19649 "Support database specific DDL in migrations"
Migration scripts run during Matomo updates often contain MySQL specific DDL statements. Migrations are also run as part of the test suite setup. Alternative databases commonly have minor differences in schema structure and DDL statements, in order to support them we need an option for migration scripts to provide DDL statements for multiple databases if required.

**Suggested Approach**

 - Exten

[2022-08-19 04:15] bx80 opened #19650 "Use sequences instead of auto increment keys for user facing identifiers"
Several unique identifiers in the Matomo UI are based on auto incrementing database primary keys, such as the site id or goal id.

When using an alternative database which uses random or UUID primary keys these values will become long, random and unfriendly to use. In order to support databases with primary key types other than auto increment these identifiers should be migrated to sequences rathe

[2022-08-19 04:27] bx80 opened #19651 "Support optional sub-query substitution for COUNT(DISTINCT x) queries"
TiDB currently cannot push `COUNT(DISTINCT x)` queries to TiFlash so on large datasets these queries can perform slowly and use a lot of memory. Reworking `COUNT(DISTINCT x)` queries to use sub-queries instead solves this issue for TiDB, but sub-queries perform ~2.5x slower on MySQL, so a hybrid solution will be required.

In order to support TiDB as an alternative database we need to provide the

[2022-08-19 08:12] heurteph-ei commented on #19642
@sgiehl
@vadi2 correct me if I'm wrong.
What I understood of Vadi explaination is: for `pkuxkx.net`, there was 42 conversions at $0, and the total sum of these 42x0 is displayed equal to... $0.42!

[2022-08-19 08:26] vadi2 commented on #19642
Yeah, I don't know really.

@sgiehl I was not the one who setup the JS tracking originally, so what you said at first did not resonate. My tracking code does not set any custom revenues:

[code]

So this still seems to be a Matomo bug, please correct me if I'm wrong.

[2022-08-19 12:31] #19458 closed, assigned to nobody

[2022-08-19 14:53] x97-epe commented on #19633
Hi!

I double check and process for httpd and php-fpm on RHEL8 run as user "apache". I run

`sudo -u apache ./console core:test-email <myemail>`

And it worked as expected.

[2022-08-19 16:01] x97-epe commented on #19633
Ok... I got it! It was SELINUX...

So obvious (now), but somehow I miss it. I finally noticed the logs generated into audit logs, I set SELINUX in permissive mode and emails are now sent via web... When set SEpolicy "httpd_can_sendmail" it works also with enable (enforcing) SELinux. Problem happened since such config was supposed to be already fix on server ("bug" into Ansible playbook script), an

[2022-08-19 19:56] MatomoForumNotifications commented on #9411
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/how-do-i-exclude-traffic-from-a-range-of-ipv6-addresses/46888/2

[2022-08-19 21:38] atom-box opened #19652 "More intuitive interface for choosing date range in our UI"
A user has suggested:
The examples below are simple and intuitive
Perhaps some visual elements could be adopted from them:

![date-select-easy](https://user-images.githubusercontent.com/22874146/185710379-968a464a-a16b-41ca-a2b3-c038f25e4fe4.gif)
![date-select](https://user-images.githubusercontent.com/22874146/185710417-86da4edc-bef4-4373-becf-eed836a10d33.gif)

[2022-08-19 21:55] atom-box opened #19653 "Add Campaigns to all websites dashboard metrics"
A user has suggested:

Feature: All Websites dashboard
Like: Yes
Choice: easy
Feedback:
Maybe show the number of active campaigns?

[2022-08-20 08:00] #19633 closed, assigned to nobody

[2022-08-21 14:59] Chardonneaur opened #19654 "Link missing within the plugin dev documentation"
Hi,

On the following page: https://developer.matomo.org/api-reference/Piwik/Settings/FieldConfig
it is indicated
"Describes what HTML element should be used to manipulate the setting through Matomo's UI.
See Piwik\Plugin\Settings for a list of supported control types."
but there is no link associated to it, as a result, we have no ideas about what are the different control types.

[2022-08-21 21:16] justinvelluppillai commented on #19654
Thanks for the report. It looks like `Piwik\Plugin\Settings` was removed in https://github.com/matomo-org/matomo/issues/7983 so this documentation needs updating.

The available control types are now in directly in [`Piwik\Settings\FieldConfig`](https://github.com/matomo-org/matomo/blob/4.x-dev/core/Settings/FieldConfig.php).

I will put this in backlog for now to be prioritised.

[2022-08-21 23:08] bx80 commented on #19633
Glad you got it sorted! Thanks for letting us know :slightly_smiling_face:

[2022-08-21 23:17] bx80 opened #19655 "Add support for TiDB"
After the linked general database abstraction issues have been completed it should be possible to create a new PDO adapter and schema definition to trial running Matomo entirely on [TiDB.](https://github.com/pingcap/tidb) an open source distributed MySQL compatible database.

This change will allow for long term suitability testing of TiDB as an alternative high-performance database backend for Ma

[2022-08-22 01:26] Starker3 opened #19656 "Site Search reports totals do not match Visits Overview"
It looks as though the Site Search reports totals are not matching the "total searches" shown in the visits overview:
![image](https://user-images.githubusercontent.com/20905821/185821141-373b9cba-5f75-4c0f-8f65-6d156617da35.png)
![image](https://user-images.githubusercontent.com/20905821/185821163-fc99cb83-6d26-4417-8b12-f4c8a8a81942.png)

These searches were made using a combinitation of the tra

[2022-08-22 06:00] Chardonneaur commented on #19654
@justinvelluppillai thank you so much, it unlocks my project.

[2022-08-22 11:39] sgiehl opened #19657 "Revisit: Updating referrer attribution of a visit when 2 channels are used within a same visit (current behavior is to override a "Direct" channel whenever possible)"
This is a follow-up issue to the discussion in #18612

### Summary

When a visitor visits the page, the visit will be attributed to a certain referrer. This can currently be `website`, `campaign`, `search engine` or `social network`. If non of this referrer can be detected the visit will be attributed as `direct`.

When a visitor afterwards revisits the page coming from another referrer and the re

[2022-08-22 11:48] sgiehl commented on #18612
Thanks again for all the valuable inputs.

I will close this issue here now. Based on the discussion in here, we have implemented some new features that allow excluding referrers:
* https://github.com/matomo-org/matomo/pull/19302 introduced the possibility to set a list of referrers that should be ignored. This needs be done in the site settings (and/or globally), which causes the PHP tracker to i

[2022-08-22 11:48] #18612 closed, assigned to sgiehl

[2022-08-22 12:41] sgiehl commented on #19655
@bx80 I haven't yet read all the other issues in detail, but would something like #18371 be a good base for starting TiDB support as well?

[2022-08-22 16:58] labearnaise opened #19658 "Problème de mise a jour du nombre de visiteur"
Bonjour,
Le nombre de visiteur de la journée n'a pas été mis à jour ce lundi 22 août 2022 depuis environ 16h00

[2022-08-22 17:03] sgiehl commented on #19658
Hi @labearnaise
If you are a user of our Matomo cloud, please get in touch with our support. Otherwise reach out to your administrator or try to get some help on our forum.
We are only handling specific bug reports or feature requests here on GitHub.
Thanks.

[2022-08-22 17:04] #19658 closed, assigned to nobody

[2022-08-22 21:58] peterhashair commented on #19279
@peterbo sorry to bother, but when I try to reproduce it when the second page missing `requireCookieConsent` in the tracking, it states as different visits, but when having it, it tracking as one visit.

[2022-08-23 00:12] #19638 closed, assigned to sgiehl

[2022-08-23 00:23] justinvelluppillai commented on #18937
Let's go with the `INSERT IGNORE` for this and progress the issue.

[2022-08-23 01:05] bx80 commented on #19655
@sgiehl This would be covered by issue #19648. My suggested approach there is almost identical to your solution for #18371, the only difference is you've implemented the abstraction using a db schema class whereas I was thinking to have statement code in a db specific PDO adapter and just have schema changes in the schema class.

PDO adapter descendants get access to override some lower level func

[2022-08-23 02:58] tsteur opened #19660 "Clarify how to maintain the tests fixture for the UI tests"
See discussion in https://github.com/matomo-org/developer-documentation/pull/560

So far we have a so called OmniFixture which is generated by executing all our different test fixtures. This is so far done that way to have all kind of different test data in the UI tests.

In https://github.com/matomo-org/developer-documentation/pull/560 we were discussing how often to update this OmniFixture to ke

[2022-08-23 07:57] Chardonneaur opened #19661 "Add the possibility to create a segment based on purchasers who are using a discount code"
Hi,
It is currently possible to add discount code to the ecommerce tracking code but there is no possibility to use this data as a segment definition.
Would it be possible to add it?
Thanks,

[2022-08-23 07:58] MatomoForumNotifications commented on #19661
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/voucher-codes-in-purchase/47096/2

[2022-08-23 13:31] miiimooo opened #19663 "Time spent on page differs wildly from what Google Analytics reports"
Comparing Matomo Analytics Time spent on page and GA Time spent on page averages, they differ wildly.

Matomo will often be below 1 minute, when GA is over 1 minute, some examples
[code]
[code]
Providing some more metrics to show that everything else looks pretty similar.

Is there any way I can help to debug this? I'm using Matomo tag manager with heartbeat enabled

## Expected Behavior

## Curre

[2022-08-23 15:27] sgiehl commented on #19663
Hi @miiimooo
Thanks for creating this issue. Unfortunately there isn't much we can do about that. As long as you can't give use detailed insights how Google Analytics is calculating their time on page, we are unable to say why those numbers differs.
I can actually only refer you to our FAQ, that explains how we calculate the metric: https://matomo.org/faq/how-to/faq_21158/

[2022-08-23 15:27] #19663 closed, assigned to nobody

[2022-08-23 23:17] Starker3 opened #19664 "User Invite doesn't work when using other Login plugins"
When using other Login plugins (Such as the LoginLdap plugin) the default Login plugin is automatically disabled.
In these cases the User Invite feature throws the following error:
[code]

[2022-08-24 00:11] Starker3 commented on #16484
We got another request for this feature today.

The user would like to be able to use a wildcard for subdomains, for example:
`https://*.example.org` instead of having to specify every subdomain individually.

[2022-08-24 02:50] tsteur commented on #19291
Ran into this one again a few times recently while looking at reports on the Cloud. Eg happens for me on https://demo-web.matomo.org/index.php?module=CoreHome&action=index&idSite=12&period=week&date=today#?idSite=12&period=day&date=2022-08-24&category=Goals_Goals&subcategory=8 when no data is archived yet.

<img width="1682" alt="image" src="https://user-images.githubusercontent.com/273120/1863094

[2022-08-24 04:07] peterhashair commented on #19664
@Starker3 thank you for reporting this, we are aware of this bug, the plugin team will review this.

[2022-08-24 04:08] peterhashair commented on #19656
@Starker3 thank you for reporting this, our product team will review this.

[2022-08-24 04:55] Tony-Baker opened #19665 "SEO Ranking Widget no longer working"
Hi all,

Has anyone else noticed this error and is there a fix for it? I tried deleting the widget and adding again. Sometimes it will work for a session then revert back to the error again. Its the same for all websites.

![Tecology-2022-08-24-Web-Analytics-Reports-Tecology-Analytics](https://user-images.githubusercontent.com/60049258/186332132-cb5085f7-f721-4e7b-93e2-78a6ef24d98c.jpg)
.

[2022-08-24 05:18] justinvelluppillai commented on #19656
@peterhashair did you reproduce this? Be good to have a bit more understanding about this issue to determine priority, labelling it as a `Bug` or `Regression` and providing some extra details would be helpful.

[2022-08-24 05:37] #18937 closed, assigned to sgiehl

[2022-08-24 06:42] mhh515 commented on #16484
Maybe even with the ability to use regular expressions, similar to the field "Excluded User Agents".

[2022-08-24 06:53] anthosz commented on #16484
be patient :)

[2022-08-24 07:34] sgiehl commented on #19665
Hi @Tony-Baker
Thanks for creating this issue. I've just checked the SEO widget, and for me t works without issues.
Are you already using the latest version of Matomo?

[2022-08-24 07:38] Tony-Baker commented on #19665
Hi @sgiehl ,

Thanks for the quick response, I really appreciate it. I'm using the latest version of Matamo 4.11.0, self-hosted via vultr. Everything else is working great. The issue seems to be intermittent. I can record a quick video to show you the issue if that helps?

[2022-08-24 07:41] sgiehl commented on #19665
I guess a video might not help much. Are you able to see any errors in the browser console? If not maybe you can check the result of the request, that tries to fetch the ranks from backend.

[2022-08-24 07:48] Tony-Baker commented on #19665
No browser console issues, the only thing that I spotted in the Diagnostics > system check is this:

![System-Check-Administration-Tecology-Analytics](https://user-images.githubusercontent.com/60049258/186361452-f93497d0-3f4b-451e-9745-8118659da1a6.jpg)

[2022-08-24 08:18] heurteph-ei opened #19666 "Remove sentence about Alexa in SEO ranking widget documentation"
Following  [#19166 Remove discontinued Alexa from SEO metrics providers](https://github.com/matomo-org/matomo/issues/19166), the following sentence must be removed:

And the example picture, updated from documentation:
https://matomo.org/faq/dashboards/seo-ranking-widget/

[2022-08-24 08:21] justinvelluppillai commented on #19666
Good one, thanks 👍🏽

[2022-08-24 08:24] MatomoForumNotifications commented on #19665
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/seo-ranking-widget-intermittent-error/47105/2

[2022-08-24 08:26] heurteph-ei commented on #19665
For information, on the demo website, I tried this widget, and I had to press on the [**Rank**] button in order to get some results...

[2022-08-24 08:29] Tony-Baker commented on #19665
@sgiehl @MatomoForumNotifications @heurteph-ei . Demo site has the same issue:

![Demo-Site-2022-08-23-Web-Analytics-Reports-Matomo](https://user-images.githubusercontent.com/60049258/186369841-83d419f4-d5aa-4947-ac6b-6d2ddafca4b3.jpg)

[2022-08-24 08:31] justinvelluppillai commented on #19666
I've updated the doc with the current state of affairs.

[2022-08-24 08:31] #19666 closed, assigned to nobody

[2022-08-24 08:31] Tony-Baker commented on #19665
Strangely it will work if you search on other websites and then press the 'Rank' button, just not the one currently selected for analysis.

[2022-08-24 08:37] miiimooo commented on #19663
@sgiehl apologies for continuing in this thread. But in case you can advise, looking around GA is or was suffering from the same problem, and people recommended using a heartbeat like approach. If I understand it right, then in both GA and Matomo, this is handled when the next hit happens. Which sounds simple at first, but then - thinking about it - must be quite complex. Because somehow Matomo mu

[2022-08-24 08:41] sgiehl commented on #19665
This might be a random failure maybe. Matomo is caching the results, maybe even in case of an error. That's something we need to investigate...

[2022-08-24 08:49] sgiehl commented on #19663
No. Afaik it's actually a way less complex in Matomo. Visitors are identified with unique visitor ids, that are sent with the tracking requests. All tracking requests with the same visitor id will be tracked into one visit, unless the last tracking request was more than 30 minutes ago, in that case a new visit will be started for the visitor. The time on page will be simply calculated based on the

[2022-08-24 09:25] miiimooo commented on #19663
This visitor id, is it stored somehow locally, it must be right? I'm asking since we have enabled "Disable cookies" in MTM. Could that maybe impact on the Time On Page functionality?

[2022-08-24 09:38] sgiehl commented on #19663
The visitorid is stored in the cookie if possible. So not using cookies might make the visitor recognition a bit less accurate, as the visitors are then being matches based on a config hash, that is build out of various browser details.
If you have more questions around that topic, maybe try discussing/asking that on our forum. I actually don't have enough time to give detailed answers on github.

[2022-08-24 10:56] jorgeuos opened #19667 "Delete page URL in a archived report that doesn't have raw logs."
I have recently detected that I might have personal data within some page url's and I need to delete them from the archived blobs.

Is there any solution for this already?

Thes URL's was removed from the site but we waited too long too long to remove them 🤦🏻‍♂️.

* Matomo Version: `>=4.7.1-stable,<5.0.0-b1"`
* PHP Version: `>=8.0`
* Server Operating System: `Linux/Alpine`
* Additionally installed

[2022-08-24 12:24] h3x4git opened #19668 "Import data from other installations"
I had to recreate a project on another server and start from scratch.

It consists of a set of domains that all pull data from the same database. All of them are tracked by the same local Matomo installation which allows performance comparison. However one of the domains was previously hosted elsewhere and already tracked by the back then's Matomo installation, which I still have a working copy of

[2022-08-24 12:34] Findus23 commented on #19668
What feature are you looking for that https://plugins.matomo.org/Migration doesn't provide?

[2022-08-24 12:42] h3x4git commented on #19668
I was unaware of the existence of such plugin, I wasn't able to locate it in the Marketplace and couldn't find information on its usage via my search engine. I had looked up for "export" related expressions in the Marketplace but only "Conversion" would turn up. Maybe this could be an opportunity to inform you that Migrations plugin's hard to find for someone at the moment. Thank you

[2022-08-24 14:12] nicomegadrive opened #19669 "Search field, and all other green icons should be visible at the top of pages (and sticky when scrolling)"
Move green options icons at the top of the pages

## Summary

I have one UI problem with Matomo : the green icons which appears on the bottom left of the behavior -> Pages list for example , they should be on the top of the page and visible by default.

It's not convenient when you show hundred of pages at once and you have to scroll down to the bottom to access those options.

## Your Environment

[2022-08-24 17:30] atom-box opened #19671 "Add Groups option in All Websites dashboard"
This feature existed as a plug-in, not by Matomo, for Matomo 2.

A user writes:
_" I use matomo for hundreds
of websites, so a simple grouping feature for the all websites dashboard
would be very helpful so I group and categorize my large network of
websites."_

_"looking to have a simple way to put over 500 websites into smaller groups, and be able to view how that group is performing from the al

[2022-08-25 01:51] peterhashair commented on #19625
ah, I finished the UI, but I found some tech difficulty. Because once the token is generated (which saved hash string into the database), it can’t be reviewed again (one-way trip), only in the target emails. The only way to get the token again is to regenerate a new one.

discuss with @justinvelluppillai and @bx80, maybe we can merge the send invite and copy link to one button. Or add a new table

[2022-08-25 03:51] Starker3 opened #19672 ""Page URL Does not contain" segment condition has excluded Page URL in reports"
It looks as though the "Page URL does not contain" segment condition still allows some Page URLs to be included in the Pages report.

If we take an example of this segment:
![image](https://user-images.githubusercontent.com/20905821/186570239-563d8bd3-4f39-4d75-bf4b-a6dbca8767e2.png)

And then process the reports, we still get some Page URLs in the report that contain this exact string:
![image](h

[2022-08-25 07:43] NathanDB99 commented on #19672
I have brought this issue to the attention of Matomo and they were able to replicate is, as seen above. In my case the /index of pages we want to exclude are still shown in the pages report. Indeed the /index of this pages are not shown in the visitor logs.

[2022-08-25 07:54] sgiehl commented on #19625
Personally I would suggest to give the admin the possibility to either send an email or to show the invite link. Maybe we could also add a config option that allows configuring which options are available. As viewing the invite link is a bit less secure, some people might want to disable it maybe.

Also I think it's totally fine if the token can only be seen once (if the UI explains that clearly).

[2022-08-25 08:10] sgiehl commented on #19669
Just to ensure we are talking about the same: Your are referring to the datatable settings in the footer of each report:
![image](https://user-images.githubusercontent.com/1579355/186611298-bed56520-b073-4bb7-997d-25e407633013.png)

It might be indeed not optimal, that they are in the footer when the report is showing a lot entries.
Our product team will review and prioritize this issue...

[2022-08-25 09:08] tarasowski opened #19674 "Monthly / weekly scheduled reports not working correctly"
## Expected Behavior
When email reports get created we want to get monthly / weekly stats.

## Current Behavior
Scheduled monthly / weekly email reports display only data for the last day

## Steps to Reproduce (for Bugs)
1. Go to settings -> email reports
2. Create a weekly or monthly report and lick on download or send per email

## Your Environment
Latest Matomo version.

[2022-08-25 09:52] heurteph-ei commented on #19669
They could be located at top + bottom of the reports OR using the "floating" `position:sticky` CSS property...

Also: related to:
 - #6362
 - #15873

❔

[2022-08-25 10:40] sgiehl commented on #19674
Hi @tarasowski
The download button should actually let you download the scheduled report for the date / period selected in the global date selector. Same applies to the send report now button.
But reports send automatically should always contain the configured period.
But I agree that it should at least be displayed somewhere in the UI, that those buttons will use the selected date/period.

[2022-08-25 11:02] JustinFinkelsteinKainos opened #19675 "cURL cron auto archive terminates without reason"
## Expected Behavior
We have an automated cURL job which calls https://analytics/misc/cron/archive.php?token_auth=X at 5 mins past the hour, every hour to run the auto-archive process and we log the response from the request.

Our script which executes this cURL looks for the strings "Success:ok" or "Finished archiving" to identify that the script has executed correctly; if these are missing or th

[2022-08-25 12:20] heurteph-ei commented on #9302
It seems it has been fixed...

[2022-08-25 12:34] heurteph-ei commented on #7607
Isn't this covered by the the heart beat timer:
https://matomo.org/faq/how-to/faq_21824/
❔

[2022-08-25 12:49] sgiehl commented on #7607
I guess not all parts of the issue are covered by the heart beat timer. But not sure if the other mentioned stuff is still that relevant 🤔

[2022-08-25 12:50] sgiehl commented on #9302
Yes. that should be fixed meanwhile. Thanks for the hint.

[2022-08-25 12:50] #9302 closed

[2022-08-25 12:51] heurteph-ei commented on #19608
Seems to be a little similar (but not on the same kind of reports) to: #12679

[2022-08-25 13:25] heurteph-ei opened #19676 "Design/UI: Prevent the use of (too much) scrollings..."
## Summary
When users uses Matomo reports, they complain about always having to scroll down then up...

## Step to reproduce
I want to see (on demo site) the Page Location and Page Type for different segments (or date)
1. Go to https://demo.matomo.cloud/
![image](https://user-images.githubusercontent.com/79993552/186672796-78264b13-5eb6-4ddd-828c-9674e570885a.png)
Great! 🎉
2. Open the **Behaviour*

[2022-08-25 14:12] heurteph-ei opened #19677 "New installation on server with no access to Internet..."
## Expected Behavior
Install Matomo (on a server without Internet) and play!

## Current Behavior
For the first installation, when I first try to connect Matomo, it is so slow!!! (at first, only timeouts then after updating the max processing time to 1 minute a very slow interface)

## Possible Solution
### Installation process
During installation process, the wizzard should ask if the server will

[2022-08-25 14:17] heurteph-ei opened #19678 "Update page [Matomo is slow! It takes a long time to load widgets, reports and pages] -> Link to [How do I configure Matomo on a server without Internet?]"
## Page to be updated
[Matomo is slow! It takes a long time to load widgets, reports and pages.](https://matomo.org/faq/troubleshooting/faq_140/)

# Information to provide
Link to page [How do I configure Matomo on a server without Internet?](https://matomo.org/faq/troubleshooting/faq_16646/)

[2022-08-25 15:00] sgiehl commented on #19677
Asking if the server has connection to the internet within the installation process sounds like a viable solution.

[2022-08-26 00:42] tsteur opened #19679 "When filtering a user's permissions, then it doesn't show capabilities correctly"
Eg when editing a user, then I can see all capabilities
<img width="1041" alt="image" src="https://user-images.githubusercontent.com/273120/186792706-3e72b95d-8b79-42bb-86a7-f27f4ad30623.png">

Then select `Filter by access: View`.

Now it no longer shows these

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/273120/186792749-2205d2cd-7487-4b9f-8d0d-257c19a10783.png">

[2022-08-26 01:16] peterhashair commented on #19679
@tsteur quickly did a PR and will add tests for that as well.

[2022-08-26 02:43] bx80 commented on #19676
Hi @heurteph-ei,

Thanks for the feedback and detailed explanation, there certainly is a lot of scrolling involved when using device with limited vertical pixels. Sticky menus could definitely be a good way to address this but any change would need to also be considered in the context of the overall user experience. I've marked this issue for further prioritization and I'm sure it can inform our f

[2022-08-26 05:10] tarasowski commented on #19674
Hi @sgiehl,
looks like it's not a bug, but a feature ;-) Let me test it again and see if it solves our issue.
Thank you!

[2022-08-26 07:22] sgiehl commented on #19679
That did never work I guess. Already fixed a similar issue in https://github.com/matomo-org/matomo/pull/19388/files#r904786439

[2022-08-26 08:03] gertvdijk commented on #18864
I'm also running into this issue and it seems like a bug in MariaDB 10.6+ that's at least _contributing_ to this: [MDEV-28240](https://jira.mariadb.org/browse/MDEV-28240).

Updated to latest 10.6.x, .9 did not resolve it for me, so it appears unfixed in there.

Will have to try the suggestion on setting `enable_segments_cache=0`, but then I'm worried about performance impact which is already slow

[2022-08-26 09:09] sgiehl commented on #19672
I think that is kind of expected behavior as segments in Matomo work that way. A segment is always used to filter the list of visits that are included in a segment. So when using a segment like `page url does not contain` Matomo will select all visits that have a page view with a url that does not contain something. It will not exclude a visit if there is an action that contains the defined url (i

[2022-08-26 13:42] Quentinix commented on #13321
Hello,
I would like a solution to still create an account without the new invitation system, because I don't have a solution to send emails immediately.

[2022-08-26 18:10] atom-box commented on #15515
_From a Matomo user today:_

Question:
What is the feature you are missing the most in Matomo and why?
Answer:
Percenate values in custom reports. Not absolute values.

[2022-08-27 21:27] diosmosis commented on #16905
@tsteur I looked into this issue and I couldn't think of another way to accomplish it than using php-scoper (specifically I couldn't find a simple, dynamic solution). Since a dynamic, runtime solution isn't possible, I think the best alternative is automation, specifically:

- A command that runs php-scoper to scope composer dependencies, either in core or in a plugin. Run as a composer post insta

[2022-08-28 16:56] nicomegadrive commented on #19669
Yes that's right, it's those icons.

[2022-08-28 22:23] Starker3 commented on #19672
@sgiehl But in that case would we not expect to see that in the Visits Log when viewing the segment?

[2022-08-28 23:33] peterhashair commented on #19625
@sgiehl that makes sense, @justinvelluppillai @bx80 I was wondering about a simple solution. once the admin creates or resends invites, it will show a green notification on the top, I was wondering if just add a copy link button in the notification.

[2022-08-29 00:08] bx80 commented on #19625
@peterhashair Maybe it would be good to discuss updating the original UI design with @Javi-Ormaechea?

[2022-08-29 00:40] justinvelluppillai commented on #19625
yes good idea - @peterhashair can you please reach out to @Javi-Ormaechea to discuss the changed requirements so he can advise on UI?

[2022-08-29 03:19] tsteur commented on #16905
👍

Sounds good. Although not sure how many usages are used and if it could be done manually. If this worked automatically that be awesome.

If we include this in Matomo 5, maybe we could skip the BC part? Although maybe this is needed during the update process when someone updates from an older Matomo On-Premise version when some files are already loaded and try to use the old naming and then can'

[2022-08-29 05:54] tarasowski commented on #19674
@sgiehl  So tested it again as you mentioned, the report generated by the server still not showing the right time range.
I created a report for a week but it sends me a report for the last day only. Any idea what the problem could be?

[2022-08-29 07:30] heurteph-ei commented on #19672
Isn't is the same as:
https://github.com/matomo-org/matomo/issues/17388
❓

[2022-08-29 08:30] sgiehl commented on #13321
Hi @Quentinix
We are already working on a solution for this in #19625

[2022-08-29 08:49] kuba-end opened #19686 "Wrong detection of iPad 9th"
## Expected Behavior
During using browserstack with iPad 9th choosed, I wish that method isMobile() will return true.

## Current Behavior
Currently during using browserstack with iPad 9th choosed, method isMobile() returning false.

## Possible Solution
Maybe list od devices is old. iPad 9th is fresh device

## Steps to Reproduce (for Bugs)
1.use isMobile() method to detect hour device when using

[2022-08-29 08:56] sgiehl commented on #19686
HI @kuba-end. I think you are referrer to our device detector project. I'll move the issue there....

[2022-08-29 09:14] Chardonneaur opened #19687 "What are the information necessary to reconciliate the pseudonymization?"
When using the user id pseudonymization feature, it is written that some additional information may be necessary in order to re conciliate the user ID.
It would be interesting to have more information about it, are we referring to Matomo default information (user agent for example) and in this case to link to a specific page with more information, or are we referring to the client data information

[2022-08-29 09:17] fvettore commented on #7650
After updating ids  in archive_numeric and archive_blob don't forget to edit ts_created field in site table: stats older than the date reported in this field are not shown

[2022-08-29 10:02] sgiehl commented on #16905
I really doubt that a script to automatically prefix any vendor class namespace is a solution we should go with. That will always have the risk that updating a vendor lib could break everything. There are a lot cases that might never be detectable using a script. Like dynamic instances of classes built from string variables or when class names are compared in the code and similar stuff.
This is fo

[2022-08-29 10:22] diosmosis commented on #16905
@tsteur

This was mostly just for third party plugin developers that may not update their code. I suppose if it's not important those plugins just automatically work. (Though from @sgiehl's comment it seems this sort of autoloader could have another potential use, see below.)

@sgiehl

How often are composer libraries updated? Would tests fail if updating a vendor lib caused a problem?

This could

[2022-08-29 10:23] vigilyn opened #19688 "AdblockIsMaybeUsed warning refers to Matomo directly, breaking WhiteLabel"
The Adblock Warning in the language files `"AdblockIsMaybeUsed"` should refer to whatever the custom brand/product name is set to and not "Matomo" directly.

Here is the link to the English version:
https://github.com/matomo-org/matomo/blob/2b35b46a0988f8c3b6f848c59be8d7d918965a52/plugins/CoreHome/lang/en.json#L98

[2022-08-29 10:58] benwulfio opened #19689 "Exit Rate for Plug-in Custom Report"
The metric EXIT RATE for pages and SEARCH EXIT for site search can be used in custom reports.

There are other users looking for the same feature: https://forum.matomo.org/t/costum-reports-metrics/33245

[2022-08-29 11:59] sgiehl commented on #16905
Patch and in some cases minor releases are updated automatically when they are released. We have a action to run a `composer update` weekly. Everything that needs to be changed in `composer.json` is done manually when needed. But major version updates are most likely only done with major Matomo releases.

That could work for Matomo itself. But it might produce the same issues we are trying to solv

[2022-08-29 12:11] sgiehl commented on #19688
@vigilyn You are referring to the premium plugin "Whitelabel", right? I'm not sure if that needs to be changed in core, or if the plugin has an issue.
@AltamashShaikh Do you know this issue or can maybe say something on it? If it's something that needs to be fixed in the plugin, we should maybe create an internal issue for it and close the issue here. Or does this require changes in core?

[2022-08-29 12:13] sgiehl commented on #19672
@Starker3 you will also see that in the visits log. What you wouldn't see there is a visit that only has an action with the excluded url. But as soon as visit also has other actions it will be shown.

[2022-08-29 12:32] utrautmann commented on #19343
Here is a list of additional warnings for Matomo with PHP8.2.

1. WARNING: /core/Cookie.php(92): Deprecated - Creation of dynamic property Piwik\Cookie::$keyStore is deprecated - Matomo 4.11.0 - Please report this message in the Matomo forums: https://forum.matomo.org (please do a search first as it might have been reported already) (Module: CoreAdminHome, Action: home, In CLI mode: false)
2. WARN

[2022-08-29 12:36] sgiehl commented on #19689
Hi there, Thank you for creating the issue. We are only handling issues regarding Matomo itself here.
To request support or suggest features for a Premium Feature please contact shop at innocraft.com or ask in the Premium Features forum here: https://forum.matomo.org/c/premium-features
Thanks

[2022-08-29 12:36] #19689 closed, assigned to nobody

[2022-08-29 12:48] sgiehl commented on #19343
@utrautmann Thanks for reporting those. I've created https://github.com/matomo-org/matomo/pull/19690 to fix all of them in the next release.

[2022-08-29 12:58] sgiehl commented on #19678
Hi @heurteph-ei
Thanks for the suggestions. You're right, in case of a missing internet connection some parts of Matomo can get very slow as various connections are reaching their timeouts.
Could be useful to mentioned that on the page.

[2022-08-29 13:12] sgiehl commented on #19687
@Chardonneaur I guess @tsteur might be able to answer this best. But from my understanding the pseudonymized user id is calculated using the userid and a configured salt (which differs from instance to instance) in a one way hash method. So if you know the salt and someones user id, you are easily able to generate the pseudonymized user id and would be able to easily look up all their visits.

[2022-08-29 13:54] MatomoForumNotifications commented on #19058
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/create-user-without-invite-with-same-email-address-for-auth-token/47167/2

[2022-08-29 14:01] sgiehl commented on #19667
Hi @jorgeuos
As far as I know it is currently not possible to remove certain record from archieved reports.
But in terms of GDPR it might indeed be useful in some cases to be able to do that even after raw data already was removed.
I'll hand this over to our product team for a priority decision.

Btw. the data serializing is a bit more complex in Matomo. Simply unserializing and manipulating the d

[2022-08-29 14:23] Chardonneaur opened #19691 "Add a description for custom dimensions"
Hi guys,
it would be nice to have a description field for the custom dimensions exactly like for the goals.
Typically a new comer within an organization may not know based on the custom dimension title what this custom dimension is about.

[2022-08-29 14:53] heurteph-ei commented on #19687
@Chardonneaur
I think also that you can identify easily somebody with pseudonymization: I use it to find myself.
I browse at a certain time. Then I go in the Matomo dashboard, and look for my visit. Get the User ID (pseudonymized). That's it, I am no more anonymous at all. (And even, I create some segments on myself ;-) )

[2022-08-29 15:27] Chardonneaur commented on #19687
Ok clearer, thank you, to me that's clearly a page to write about within the FAQ to explain exactly this.

[2022-08-29 15:54] Cattivosimone opened #19692 "Endelessy asking to login"
Hi,
I installed Matomo Analytics on many sites without problems.
On the last one, iles-eoliennes.info I have the following issue: the installation went fine, but each time I try to go on the Matomo Dashboard it asks me to login again, over and over, without success...
Any idea?
Thanks
Simone

[2022-08-29 20:28] tsteur commented on #19687
What @sgiehl mentioned is correct 👍  There's a unique hash being generated that is used for hashing userIDs. And what @heurteph-ei mentions is correct too. If you can cross link a visit with other information (such as when they contacted you, or ordered from you, or ...), then you can also identify an individual through the hashed userId.

[2022-08-29 20:31] tsteur commented on #19672
FYI And it likely refs https://github.com/matomo-org/matomo/issues/14664

[2022-08-29 20:56] tsteur commented on #16905
Note that I believe we'd get the biggest benefit by looking at the libs in https://github.com/matomo-org/matomo/issues/16905#issuecomment-1178674837 and we don't need to replace all of them if that makes things easier. It wouldn't need to work for the less lib from my perspective as this library is used more rarely by other plugins. Even only changing the namespace for twig and/or Monolog could be

[2022-08-29 21:50] diosmosis commented on #16905
@tsteur So is it worth trying now with twig/monolog? If so I'll get started.

[2022-08-29 21:54] tsteur commented on #16905
be great to try it from my perspective 👍

[2022-08-29 22:08] Starker3 commented on #19672
Thanks for the additional info @sgiehl
When I check the Visits log for All Visits we can indeed see some visits that contain other actions:
![image](https://user-images.githubusercontent.com/20905821/187307247-bf7d069e-35c3-4e42-80ca-d410e20b8d88.png)

However, if I apply the segment from the screenshot above (That excludes any Page URL with /selection), then there are no visits shown that include

[2022-08-29 23:13] peterbo commented on #19279
@peterhashair sorry for letting you wait for an answer. I cannot quite follow your explanation. How can I help you reproduce it? But in the end, everything is in the source code - activating the browserFeatureDetection will change the config_id, so the same visitor will split its session. You can see it here: https://github.com/matomo-org/matomo/blob/4.x-dev/core/Tracker/Settings.php#L145 and http

[2022-08-30 01:03] Starker3 commented on #11796
This is still an issue for users that have special characters in their email.
@mwithheld did you want try to apply the changes from the PR that was closed using the most up to date branch of `4.x-dev`?

[2022-08-30 01:08] peterhashair commented on #19279
@peterbo yes,but there is another code in the piwik.js that skips the detection. it only happens when one page missing requireCookieConsent

[2022-08-30 07:15] jorgeuos commented on #19667
Thank you for your reply.

I've done some trial and errors with promising results. I'll update my findings here when I had some more time to try out my PoC.

[2022-08-30 07:42] sgiehl commented on #16905
If we limit this to only a couple of libs and don't prefix all our libs (as the title says) it might be feasible.

[2022-08-30 08:13] heurteph-ei commented on #19692
Is there any error in the:
 - JavaScript Console of your browser?
 - Network Console of your browser?
 - Matomo log file?
 - Apache log file?

Also do you access Matomo with HTTP or HTTPS? Which version of Matomo? PHP? Apache?
Do you use proxy?

How did you install Matomo (image, file copy, etc)?

[2022-08-30 10:00] sgiehl commented on #19279
@peterhashair I think you are on the wrong track here. What @peterbo has reported here is quite simple to reproduce.

[code]

The code above will currently result in two visits. This is caused by the fact, that `setCookieConsentGiven` will indirectly enable the browser feature detection again and will force to set a visitor id cookie, which will result in a different visitor id.

@tsteur I'm wonde

[2022-08-30 11:13] peterbo commented on #19279
@sgiehl thanks for phrasing / explaining this much better than I was able to!

Theoretically, following ePrivacy / TTDSG regulation, it should be OK to implicitly re-enable the featureDetection, if consent was given. The tricky part is the changing config_id.

Perhaps, just as a thought, it would be an option to get rid of the browserFeatures as data points of the config_id completely. As an examp

[2022-08-30 12:25] sgiehl commented on #19279
I agree. Removing the browser features from the visitorid hash at all might be an option we should consider. @tsteur what's your opinion on that?

[2022-08-30 13:42] SimoneMTI commented on #19635
Good day team, any update on this ticket?

[2022-08-30 16:10] Chardonneaur commented on #19687
I agree, i just would like to clarify that I opened this ticket in order to say "hey, that will be great to describe this as an FAQ entry".

[2022-08-30 22:08] atom-box commented on #19652
One of our users at a Digital Media Agency said:

"Filtering by date is really not user friendly to use. This would be THE thing to improve according to my clients. :)"

[2022-08-30 23:49] varunKothare opened #19693 "Measurables with long names have name cutoff in PDF reports"
The issue occurs when generating an email report for a long website title (as defined under Matomo >> All Website)
example:  website name "A quite long name for a simple website which hopefully reproduces the issue"

Now if we try to generate an email report for this website, the websites full name is cut from the PDF:
![image](https://user-images.githubusercontent.com/100554311/187562548-2b60f169

[2022-08-30 23:50] MatomoForumNotifications commented on #19693
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/missing-line-breaks-in-mail-reporting-pdf/46244/7

[2022-08-31 00:41] tsteur commented on #19279
Interesting, we actually have very different stats for these browser plugins. About 80 & 60%.

We could think about removing these browser plugins from the `config_id` but it certainly can have quite an impact on the number of visitors that will be grouped together. The impact of such a change will depend highly on the kind of traffic (eg B2B vs B2C) and whether the "Also use the Anonymized IP add

[2022-08-31 03:37] bx80 commented on #19693
This is a trivial fix, just need to change the TCPDF cell type for the report title. I've created a PR.

Also noticed long titles can cause the footer to overflow, so I've added some cropping there which seems better than having the page counter overflow off the page.

[2022-08-31 07:03] #19679 closed, assigned to peterhashair

[2022-08-31 08:24] MatomoForumNotifications commented on #7650
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/restart-google-analytics-import-problem/46851/8

[2022-08-31 10:32] JRPonte opened #19695 "Allowed memory exhausted"
Hi all,
Since I updated my installation of matomo to version 4.11, the archive process of one of the sites that matomo is tracking has been systematically giving "Allowed memory exhausted" errors.
I've already increased PHP's memory to 8GB, start servers are 50, max children 100, and max requests 5000.
I've disabled archiving through the browser, and I've one cron job that runs every 5 minutes.
Ma

[2022-08-31 11:34] peterbo commented on #19279
Hey @tsteur thanks for your detailed thoughts on that one! I totally agree with you, that the precision of recognition is one of the most critical things in Matomo. I'll just comment a few statements, not necessarily because I oppose them (I'm also absolutely not sure, what's the best solution), but just to have another opinion.

I would not steer in the direction of using the full IP address for

[2022-08-31 18:13] atom-box commented on #19652
_A user has commented on the **week** selector in dates:_

 Question: What is the feature you are missing the most in Matomo and why?
Answer:
date range UI is a bit tricky and not always works fine.
... just a SAMPLE…
May be I am wrong,.. :)
See some incoherencies in dates and periods?

![image](https://user-images.githubusercontent.com/22874146/187749952-cd160170-ca93-4c20-bbbc-6bbc461f901b.png)

[2022-08-31 21:16] mikkeschiren commented on #19695
We also see much more need for RAM since upgrading our setups, with a lot of traffic.

[2022-09-01 03:11] tsteur opened #19697 "Wrong cursor on delete icon"
When hovering the delete button, then no pointer cursor appears  but it does for the edit icon. Thus it's not fully clear it's clickable.
![image](https://user-images.githubusercontent.com/273120/187823637-70d434dc-8c2a-4263-a96e-11acbd63d87f.png)

This happens eg in "Manage users". But also in "Custom Alerts" manage screen.

[2022-09-01 05:00] tsteur commented on #19279
Just FYI I only mentioned it because it's already implemented that way. Depending on the setting the full or the anonymised IP is used in the `config_id`.

Yes, totally.

This could work. It's just that almost nobody will find this config and it's hard to figure this out and hard to change etc. If we can find a solution that works in most or all cases that be great.

Basically, as soon as the cons

[2022-09-01 09:34] sgiehl commented on #19697
Seems the css in usersmanager hadn't been updated after it was rebuilt. There are a lot rules that can't even be used. Will put up a quick PR to clean that up.

[2022-09-01 11:19] Cyriuz commented on #18175
I have the same issue, did anyone try removing the robots.txt?

[2022-09-01 12:57] NemanjaKSyncit opened #19700 "Matomo returns zeros on Goals.get API, on total fields."
As you can see, there are zeros on a couple of fields for 2022-08, usually fields that are "total" and fields that are related to new visitors and returning visitors are just fine.

I found this issue appears on some periods and date combination, not for all.

![image](https://user-images.githubusercontent.com/102143976/187918992-025d2785-96cd-4e5a-815c-211c425d9d4e.png)

[2022-09-01 14:23] canuonifeng opened #19701 "Why the color of Taiwan is difference with other Province of China, Taiwan is part of China. Do not make the mistake!"
![image](https://user-images.githubusercontent.com/8425355/187937399-de6e8bff-3a5c-4654-bc1e-432029883ff8.png)

[2022-09-01 18:22] atom-box commented on #19371
We had this as a feature request last week in a call with a university.
They have 700 sites.
Many of their users are casual and want a common lightweight, low effort configuration.
Copying one at a time is a significant impediment to rolling out Matomo across their schools.

[2022-09-02 08:50] sgiehl commented on #19701
Hi @canuonifeng
Our maps have been contributed by a former contributor years ago. As the tools to generate/update the maps don't work anymore, we are currently unable to make any bigger changes to our map. Due to that fact they are unfortunately fairly outdated.
We are planning to replace our maps in #11929. But as we still don't have enough free capacities, it might take some time, till we are ab

[2022-09-02 08:50] #19701 closed, assigned to nobody

[2022-09-02 09:16] heurteph-ei opened #19704 "Typo in examples of CRON command and JavaScript"
# CRON
## Page
https://matomo.org/faq/on-premise/how-to-configure-matomo-to-handle-unexpected-peak-in-traffic/
## Problem
The CRON command will be triggered every hour instead of every minute

# JavaScript
## Page
https://matomo.org/faq/tag-manager/data-layer-in-matomo-tag-manager/
## Problem
Use of `‘’` chars (opening and closing quotes) instead of `'` (simple quote):

And also there:

[2022-09-02 09:38] sgiehl commented on #19704
Hi @heurteph-ei
Thanks for bringing that up. I've updated the pages.

[2022-09-02 09:38] #19704 closed, assigned to nobody

[2022-09-02 09:50] xunguo2 commented on #19701
@sgiehl
When it comes to national sovereignty, you should take it seriously

[2022-09-02 10:54] sgiehl commented on #19701
This is an open source project. Feel free to contribute. I don't have enough time to work on #11929 nor do I have enough experience with map related stuff or frameworks.

[2022-09-02 13:09] sgiehl commented on #19700
Hi @NemanjaKSyncit
Thanks for reporting this issue. It's hard to tackle down the reason without being able to reproduce that one.
Are you able to provide some additional information:
- Does it work when you request the numbers only for that month?
- Is data shown in the UI when you look at the goal reports for that month?
- Does it never work for certain months, or are you able to get correct numb

[2022-09-02 13:17] sgiehl commented on #19695
I assume this might most likely be caused by this new feature: https://github.com/matomo-org/matomo/pull/18221

[2022-09-02 14:18] MatomoForumNotifications commented on #19675
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/curl-based-cron-auto-archive-success-notification/47214/4

[2022-09-02 20:39] atom-box commented on #18607
A user of Matomo On Premise commented:
_"How can I expand upon the category of "Other" on the right side of the report? It is really difficult for me to find a more thorough breakdown of our transitions to internal pages."_

[2022-09-02 21:31] jorgeuos opened #19705 "NPM install package within a plugin"
Hi,

I'm currently working on a plugin and I need to add(import) a package with NPM. I've read through the documentation, but I can't find any way to do from a plugin.

So here's some background info.

I generate a new Vue component with the `./console generate:vue-component` command. I tweak it to my needs and now I want to import or require a package from NPM. Usually I would do a `npm install <

[2022-09-03 17:52] JRPonte commented on #19695
Can I do something to prevent this errors? Or should I just wait for the next update?

[2022-09-05 01:11] luckycloud-GmbH opened #19706 "core:archive command failed"
Hello,
matomo suddenly does not create any statistics from one day to the next (we are using matomo v4.11.0).

I have tried to execute the archive command manually, but I get an error message
/var/www/matomo/console --matomo-domain=monitor.luckycloud.de core:archive

ERROR [2022-09-05 01:04:49] 2300  Uncaught exception: Error: Undefined constant "Piwik\Db\Adapter\MYSQLI_OPT_LOCAL_INFILE" in /var/w

[2022-09-05 01:18] peterhashair commented on #19706
Hi @luckycloud-GmbH, this may be caused `LOAD DATA INFILE` setting on the local server. To set it up you can follow this https://matomo.org/faq/troubleshooting/faq_194/. If that still shows the errors, feel free to leave comments.

[2022-09-05 01:23] peterhashair commented on #19705
HI, @jorgeuos I don't think we support package.json on the plugin level yet. ping @diosmosis

[2022-09-05 01:41] diosmosis commented on #19705
hi @jorgeuos, this is possible and we do it in a couple premium plugins. Your instincts are correct, you would run npm install in the plugin directory, then just import the code as usual from within your plugin's Vue code. If you need to add more type declarations to typescript, however, you'll also have to add another tsconfig.json file in the plugin directory:

[code]

I'll add docs for this soo

[2022-09-05 01:43] luckycloud-GmbH commented on #19706
Hi,
thanks for the very fast answer.
I tried the troubleshooting steps, but its still not working.
I got still the same error

Also disabling with enable_load_data_infile=0 does not work (got the same error with the core:archive)

[2022-09-05 07:50] jorgeuos commented on #19705
Hi @diosmosis && @peterhashair

Thank you for your reply.
I did a lot of trial-n-error over the weekend and you are correct. I happened to have an own `.eslintrc.json` file in my plugin. That was giving me compilation errors.

I deleted it and got other compilation errors, so I copy-pasted the one from the matomo root folder: `.eslintrc.js`.
And now it works.

I'll look into that `tsconfig.json` t

[2022-09-05 08:55] serviziperinternet commented on #16495
I fully agree this missing function in matomo is the weak point. When they add the secondary dimension in all reports I will definitely use it instead of analytics

[2022-09-05 09:15] OlliWu commented on #19695
Just want to mention that we're also facing the same issue. We're tracking a few sites with lots of traffic. But only the one with a handfull of Events and Goals defined using a huge amount of Memory during archiving. The Process have peaks of 15-20 GB RAM depending on segment and period. We tweaked all necessary parameters to prevent errors. But monthly reports are still likely to fail.

[2022-09-05 10:27] Kovanija commented on #19700
@sgiehl Thank you for your time!

Understand, I will try to help you as much as I can in order to find the issue.

We started collecting data starting from **2022-08-09**, by choosing **range** period and selecting 2022-08-01,2022-08-31 I am still getting zeros just like in the picture above.

But, when I select **week** or **day** period and type last6 or last30 for date, I am getting expected an

[2022-09-05 12:37] sgiehl commented on #19705
This should now be included in our docs with: https://github.com/matomo-org/developer-documentation/pull/660
@jorgeuos If you have further questions related to that, let us know so we can extend the documentation.

[2022-09-05 12:37] #19705 closed, assigned to diosmosis

[2022-09-05 12:45] sgiehl commented on #19700
That one day make a difference is quite easy to explain. Matomo has an archiving system that aggregates and stores data for days, weeks, months and years. If you request a certain period Matomo tries to fetch the according data using the best aggregated archives that are available. So if you select `2022-09-01,2022-09-30` Matomo will use the data that was prearchived for that month. But if you sel

[2022-09-05 13:18] marcojarjour opened #19708 "Links with download attribute are always tracked"
## Expected Behavior
I would assume that only Downloads with file extensions defined in `setDownloadExtensions` are tracked.

https://developer.matomo.org/guides/tracking-javascript-guide#tracking-file-downloads

## Current Behavior
When a link contains the `download` attribute, it is always tracked regardless of what is defined in `setDownloadExtensions`

## Possible Solution
I am not sure what o

[2022-09-05 13:19] sgiehl commented on #19706
@luckycloud-GmbH Maybe ask your server admin if there had been any changes to your server. The error message indicates, that the MYSQLi extension for PHP might not be loaded correctly. The missing constant `MYSQLI_OPT_LOCAL_INFILE` should be defined by this extension.
For further help, I'd like to refer you to our forum at https://forum.matomo.org, as we usually don't do any troubleshooting on Git

[2022-09-05 13:19] #19706 closed, assigned to nobody

[2022-09-05 13:27] sgiehl commented on #19708
Hi @marcojarjour . Thanks for creating this issue.
I guess I would actually disagree here. Setting download extension can be used to have downloads automatically detected.
Setting the attribute, though, is a way to manually enforce a link to be a download.
The could be links like `https://example.org/file/download`, which actually do not even have a file extension, or something like `https://examp

[2022-09-05 13:31] sgiehl commented on #19695
As mentioned above, this is most likely caused by https://github.com/matomo-org/matomo/pull/18221.
We are aware that archiving consumes a lot more memory with that. We are currently evaluating possible improvements.
Maybe @bx80 has more insights on that...

[2022-09-05 13:41] marcojarjour commented on #19708
Hi @sgiehl
Thanks for your fast response.

I guess this is another view on this, i though to enforce to be tracked as download the `_paq.push(['setDownloadClasses', "download"]);` is used, but i am fine with your opinion.

Thanks for the sidenote about my usecase, this means:
Even if i only import access logs, which ends, for example, in `*.pdf`, this would not only be counted as download but as v

[2022-09-05 14:08] sgiehl commented on #19708
Even if i only import access logs, which ends, for example, in *.pdf, this would not only be counted as download but as visit too?

Yes. A download is an action. And each action tracked will be associated with a visit. If no visit can be associated automatically using the config id, a new visit will be started for this action.

[2022-09-05 14:18] marcojarjour commented on #19708
This was not my intention, but thank you very much for pointing this out.
And about the download tracking, this was not logical for me but your opinion also makes sense and therefore from my side this issue can be closed.

Thanks for your time!

[2022-09-05 14:59] #19708 closed, assigned to nobody

[2022-09-05 20:42] tsteur commented on #16905
FYI just now we got a report that WP-Rocket started using Monolog 2 and we're now incompatible with it see https://wordpress.org/support/topic/archive-error-with-wp-rocket/ .

WP-Rocket is the 7th most popular WordPress plugin and we're using it as well ([https://en.wikipedia.org/wiki/WP_Rocket#Usage](source)) and runs on millions of sites ([source](https://trends.builtwith.com/widgets/WP-Rocket))

[2022-09-06 00:14] peterhashair commented on #19625
Hey @tsteur, just checking security here is that ok to store an invite token into the database without hashing it? Because we need to copy the invite link after the token has been generated.

[2022-09-06 00:42] tsteur opened #19709 "Timezone for Kyiv is different depending on PHP version"
In PHP 8.0.16 the timezone for Ukraine is `Europe/Kiev` (`php -r "var_export(DateTimeZone::listIdentifiers(DateTimeZone::PER_COUNTRY, 'UA'));" | grep "Europe/Kiev"`) but in PHP 8.0.20 it is `Europe/Kyiv`. That means if you previously were on `Kiev` timezone, and then upgrade to a newer PHP version, then Matomo no longer considers it as valid. That can be an issue when the site or default timezone

[2022-09-06 00:55] tsteur commented on #19625
Good question @peterhashair . Ideally we would hash it and don't store it in plain text.

Is there a chance we could change it to "Generate a link" and mention that this will basically invalidate any previously sent link in an email? Then we wouldn't need to store this in plain text. Or maybe we could have two tokens? One from the email and one generated when clicking on "generate a link" or somet

[2022-09-06 01:06] peterhashair commented on #19625
thanks @tsteur another database field makes more sense.

[2022-09-06 09:10] sgiehl commented on #16905
@tsteur Can't we make Matomo compatible with both monolog versions? I guess there are some changes we would need to apply to make Matomo compatible, but we could maybe try to detect the monolog version being used and use different code in Matomo then.

[2022-09-06 09:24] sgiehl commented on #19709
@tsteur There has been various changes to the timezones across PHP versions over time.
The question is how we should solve that. I guess the old names can still be used within the code, but won't be in the selection of available timezones anymore. So changing a site might be an issue. Or are there also issues while archiving or similar?

[2022-09-06 15:27] sgiehl commented on #19279
After reading the last comments I was actually a bit confused. It sound a bit like we are mixing up the visitorId that is generated in javascript tracker and the config_id, that might be generated on php side if there is no other id yet.

Anyway, looking through the code it looks like if the browser feature detection is disabled initially and a tracking request is sent, Matomo will create a visit,

[2022-09-06 20:36] tsteur commented on #19709
I haven't tested it but I assume it may cause issues when archiving, or when trying to edit and then saving a site there may be issues. I've done basic test to set it to a different zone in the site settings and then it was showing me Algeria as it's the first entry. Meaning as soon as you save the site it will change the timezone without you knowing. Same might be for global measurable settings.

[2022-09-06 20:40] tsteur commented on #16905
I don't know if we can and what that would mean. I guess that would then also involve scanning all WordPress plugins to see what monolog version which plugin uses?

[2022-09-06 21:07] tsteur commented on #19279
I guess the tracker can't know if we're dealing with a new or an existing visit (especially if/when server side different session lifetime is configured)? I guess it's also about subsequent visits. Not sure how much this plays a role.

FYI I was mentioning visitorId because once we have sent a request using the visitorId to Matomo, then the config_id becomes irrelevant as we can identify the visit

[2022-09-07 07:27] MatomoForumNotifications commented on #18612
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/multi-channel-conversion-attribution-models-comparison/45580/12

[2022-09-07 07:27] MatomoForumNotifications commented on #19657
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/multi-channel-conversion-attribution-models-comparison/45580/12

[2022-09-07 09:20] #19697 closed, assigned to sgiehl

[2022-09-07 09:32] sgiehl commented on #16905
I haven't had a look at the required changes to update Monolog to version 2 in our codebase, but my idea was, to simply check the monolog version using `Monolog\Logger::API` and use different code in our monolog plugin based on that. If you want, I can give it a try for a couple of hours to check if we could implement a quick fix for monolog 2 being used instead of monolog 1.

[2022-09-07 10:25] diosmosis commented on #16905
@tsteur I do not want to complicate this thread any more than it is already, but in case it's worth knowing, I should have a proof of concep of a prefixing workflow (with twig) for evaluation by end of week at the latest.

[2022-09-07 15:33] caranorth opened #19713 "Invitation emails not arriving"
I'm trying to invite users and the emails are not arriving.  They are not going to Spam or Promotions or Junk.  Is there any way that I as administrator can get around this?

Thanks,
Cara
cnorth@fsu.edu

[2022-09-07 23:48] #19693 closed, assigned to bx80

[2022-09-08 01:53] peterhashair commented on #19713
Hey @caranorth, we create a new register method, you can copy the email link in the next release. Details can be found here https://github.com/matomo-org/matomo/issues/19625

[2022-09-08 01:53] #19713 closed, assigned to nobody

[2022-09-08 02:21] justinvelluppillai commented on #19713
@caranorth you can create a user via the API if you can't wait for the next release: https://developer.matomo.org/api-reference/reporting-api#UsersManager

[2022-09-08 02:55] tsteur opened #19714 "Header row in table with goals metrics visualisations isn't sticky making the report hard to impossible to use"
I'm on `/index.php?module=CoreHome&action=index&idSite=12&period=week&date=today#?idSite=1&period=month&date=2022-08-26&category=General_Actions&subcategory=General_Pages`

Then I change visualisation to "Display a table with goal metrics".

Then I scroll down.

Expected: The header row stay on top always visible when scrolling down.

Actual: The header row becomes invisible once you scroll down t

[2022-09-08 04:08] atom-box commented on #15511
This user likes Complianz

_we find in Complianz Plugin a simple integration on Matomo Analytics service for cookie consent.
In the wizard it asks for matomo server and ID to settle and it's done. Very useful._

[2022-09-08 05:02] nikksnegi commented on #19544
facing similar issue

config,ini.php is perfect .
is there any way to give path    "/matomo"

[2022-09-08 07:24] Hiradur commented on #19613
Thank you very much for the detailed answer. These plugins recently received an update and I'd like to know whether running a plugin's install function is necessary after plugin updates as well.

[2022-09-08 12:50] sgiehl commented on #19340
@fritzmg Are you actually having any trouble with the `&` in your password?
Looking through the code it seems to be on purpose that a `&` is stored as `&amp;`, as config values are encoded when written and decoded when read (using htmlentities).

[2022-09-08 13:20] fritzmg commented on #19340
I did, yes. However in retrospect I am not sure anymore if the credentials were the actual problem. I will need to test again.

[2022-09-08 13:28] caranorth commented on #19713
When do we expect the next release?

[2022-09-08 14:04] sgiehl commented on #19713
likely this month

[2022-09-08 14:15] sgiehl commented on #19714
@tsteur That is actually kind of expected behaviour. The problem is, that the sticky header doesn't work in combination with a x-scroll. So this should actually not only be an issue of the goal viz, but all reports that are wider then available space.

[2022-09-09 01:33] peterhashair commented on #19714
To completely fix this, maybe we can use a bootstrap 5 library ([https://examples.bootstrap-table.com/#extensions/sticky-header.html](https://examples.bootstrap-table.com/#extensions/sticky-header.html)), but we have to convert the table js quite a bit.

[2022-09-09 04:08] #17452 closed, assigned to bx80

[2022-09-09 07:10] AltamashShaikh opened #19717 "Unable to accept/decline invitation when using LoginLdap as authentication"
When we create a new user a invitation mail is sent to that user with `module=Login` and to use `LoginLdap` we need to disable `Login` plugin, hence we get a error "The plugin Login is not enabled. You can activate the plugin on Settings > Plugins page in Matomo." when we click the accept/reject invitation link.

## Expected Behavior
User should be able to accept/reject the invitation

## Current

[2022-09-09 09:13] sgiehl commented on #19714
@peterhashair Does that lib support having sticky header and a sticky first column?

[2022-09-09 09:28] #19717 closed, assigned to sgiehl

[2022-09-09 12:03] heurteph-ei commented on #19713
@caranorth , is the mail service of your server enabled? Or if you use SMTP, is it well configured? What happens if you send email report?

[2022-09-09 14:46] sgiehl commented on #19709
@tsteur That issue might actually not only be related to the PHP version. A couple of linux distributions are patching the timezone support to use the systems timezone database instead. My Ubuntu box for example already uses `Europe/Kyiv` with PHP 7.2.

Nevertheless using old timezone names shouldn't be an issue, as PHP should still handle them correctly.
So as you said, the main problem is, that

[2022-09-09 18:08] caranorth commented on #19713
We took care of it. Thanks.

On Fri, Sep 9, 2022 at 8:03 AM heurteph-ei ***@***.***> wrote:

[2022-09-09 20:41] grandpaslab opened #19719 "False-positive "required private directories" error using LoginLdap+SAML"
## Expected Behavior
No error when /config, /tmp, etc. are not accessible through the browser

## Current Behavior
False-positive "required private directories" error in System Check when access to /config, etc. is prohibited, but app is behind SAML auth w/ LoginLdap's web server auth enabled.

## Possible Solution
System Check should only show the "required private directories" error if the reque

[2022-09-11 15:50] atom-box opened #19720 "Mouseover / Tooltip during hover of left pulldown menu of Add New Segment"
This is a feature request for **Create New Segment UI**.

When making a new segment, the pulldown menus on left side are very long (which is a feature, not a bug: I love the power of Matomo).
But the problem is, I can end up wayyyyyyyy down on the left side pulldown and I am trying to guess what the right side choices are going to be.

It is tedious to choose a left side choice, scroll up, open th

[2022-09-11 19:48] tsteur commented on #19709
Possible that also archived reports (looking at wrong start/end hour) and also our reports "Visits per hour in the site's timezone" become incorrect. Not sure what happens there when an unused timezone is used.

I don't have any specific thoughts/ideas on expected behaviour. I'd maybe search first if we can find some list of timezone changes over the years and see if we can maybe somehow build a m

[2022-09-11 22:23] peterhashair commented on #19714
@sgiehl looks like they have https://examples.bootstrap-table.com/#extensions/fixed-columns.html

[2022-09-12 07:55] sgiehl commented on #19714
@peterhashair If you have a look at their implementation details, having sticky header and a sticky first column does not work there as well. At least it is no native support. They are using a sticky header only. The sticky first column is "simulated" by copying the full first column into a new table, that is then positioned absolute above the original table. The scrolling of both tables is then a

[2022-09-12 08:49] sgiehl commented on #19719
@grandpaslab Thanks for reporting this issue. I'm not sure if it would be easy to automatically handle such specific setups correctly.
In your case maybe it makes more sense to simply disable the diagnostic check by setting the config value `enable_required_directories_diagnostic`

[2022-09-12 14:40] gertvdijk commented on #18864
Update: MariaDB has found the cause (present since every current 10.6.x GA release) and implemented a fix to be released in upcoming versions 10.6.10, 10.7.6, 10.8.5 (via [MDEV-28240](https://jira.mariadb.org/browse/MDEV-28240)). I haven't tested it yet, but this seems great news!

Update 2: MariaDB [10.6.10](https://mariadb.com/kb/en/mariadb-10610-release-notes/), [10.7.6](https://mariadb.com/kb/

[2022-09-12 20:52] tsteur opened #19721 "Piwik\\Metrics\\Formatter::getMetricsToFormat(): Argument #1 ($dataTable) must be of type Piwik\\DataTable, Piwik\\DataTable\\Simple given"
Seeing this error on Cloud

URL: /index.php?date=2022-08-13,2022-09-11&module=Referrers&format=html&forceView=1&viewDataTable=sparkline&action=get&idSite=1&period=day&segment=&widget=&showtitle=1&random=5978&columns=Referrers_distinctSocialNetworks&colors=%7B%22backgroundColor%22%3A%22%23ffffff%22%2C%22lineColor%22%3A%22%23162c4a%22%2C%22minPointColor%22%3A%22%23ff7f7f%22%2C%22maxPointColor%22%3A%

[2022-09-12 23:58] tsteur opened #19722 "Getting error "The parameter 'period' isn't set in the Request, and a default value wasn't provided." in userSecurity"

[2022-09-13 03:01] KarthikRaja1388 opened #19723 "Email reports: Option to compare previous periods and up and down indicators from the previous periods"
Customer's request:

I love that feature, since it saves me a step of having to send out reports manually. However, I find that the stats in the email aren't particularly helpful, because they lack context.

For example, the Visits Summary gives me a breakdown of the number of Visits, Actions, Pageviews... but I have no frame of reference for how those stats compare to the previous period, without

[2022-09-13 04:41] peterhashair commented on #19722
@tsteur quickly did a PR for that.

[2022-09-13 08:15] niklasternstedt opened #19725 "Performance report don't work in page report"
## Expected Behavior
If I go to the page report and want to se how one page performance is I click on the small icon for performance. When the report pops up it is empty.

## Current Behavior
Be able to se how one webpage performance is over time.

## Steps to Reproduce (for Bugs)
1. Go to pages
2. Choose one url
3. Click on the icon for performance
4. The report pops up but empty

## Your Environ

[2022-09-13 09:11] sgiehl commented on #19725
Hi @niklasternstedt

Thanks for creating this report. Do the performance reports work anywhere else in Matomo for you?
Just wondering if the required data is actually available. It's e.g. expected that those reports can't work when doing log import.

[2022-09-13 10:53] jr-ewing opened #19726 "Wrong number format for thousands in languages different by english"
In the evaluation of engagement, the format of the numbers is different in German than in English. It's probably because of the thousands separator. The problem probably existed earlier in other places, e.g. #15356.

## Expected Behavior
The representation of the number 9946 should read 9.946 and not be truncated

## Current Behavior
In German, the number is truncated to two decimal places if the

[2022-09-13 11:29] sgiehl commented on #19726
Hi Thomas,

Thanks for creating this issue. I was able to reproduce that one and will prepare a fix for the next release shortly.

Cheers,

[2022-09-13 11:43] sgiehl commented on #19721
This one looks a bit weird. `Piwik\DataTable\Simple` extends `Piwik\DataTable`, so it should also fulfill the type hint of the method 🧐
Does that happen often and is it reproducible?

[2022-09-13 13:31] simone-gasparini opened #19728 "Fatal error while opening notification menu"
## Expected Behavior

Open notification menu and see items

## Current Behavior

Fatal error page with stacktrace
[code]
Every page i go will redirect to this error page:
[code]

## Possible Solution

## Steps to Reproduce (for Bugs)

1. New installation
2. Login
3. Create new site
4. Open notification menu
5. Matomo will show fatal error page with no way to get back to home

## Context

## Your E

[2022-09-13 13:51] simone-gasparini commented on #19728
Digging into the code...
[https://github.com/matomo-org/matomo/blob/4.x-dev/core/Changes/UserChanges.php#L48](https://github.com/matomo-org/matomo/blob/4.x-dev/core/Changes/UserChanges.php#L48)

```$idchangeLastViewed``` is ```string(19) "0000-00-00 00:00:00"``` but ?int is required by ```doChangesExist()```

Watching the DB table
<img width="310" alt="Schermata 2022-09-13 alle 15 52 18" src="http

[2022-09-13 14:32] Chardonneaur opened #19729 "Discrepancies noticed within the performance report"
Hi guys,

A client of mine reported me the following issue, the total of the performance report for a given month on the bar graph is different than the one of the table shown below it.
![hidden](https://user-images.githubusercontent.com/28002238/189928922-195433d6-8e2a-4d1c-b98d-9098f2a90855.png)
Did anyone else already saw a similar issue?

[2022-09-13 14:52] MatomoForumNotifications commented on #18612
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/does-matomo-attribute-more-traffic-to-the-direct-channel/47334/2

[2022-09-13 14:57] sgiehl commented on #19728
Hi @simone-gasparini
Thanks for reporting this issue. Guess I found the problem. I'll prepare a fix for it...

[2022-09-13 15:43] sgiehl commented on #19729
Hey @Chardonneaur
This could maybe be rounding issues. The bar evolution chart simply displays a sum of all average metrics, while the average load time metric is calculated on a per visit base, summed up and divided through the number of visits.

[2022-09-14 02:10] mattab commented on #7550
we can consider this was done in https://github.com/matomo-org/matomo/pull/13493 so will close this one

[2022-09-14 06:31] kava81 commented on #16817
Hi, I'm new. is there a date for release of 5.0.0 ? thanks

[2022-09-14 07:56] leishenglong commented on #18813
vim  /etc/php-fpm.d/www.conf
user = root
group = root

then run : php-fpm -R
I do it like that ,and it works!

[2022-09-14 08:12] sgiehl commented on #16817
Hi @kava81. There is no exact date yet, but we are already working on various changes for Matomo 5.

[2022-09-14 08:34] #19728 closed, assigned to sgiehl

[2022-09-14 08:35] #19726 closed, assigned to sgiehl

[2022-09-14 14:19] agrzchr15 commented on #15715
We use a Intranet Location Geo plugin.
Our Regions names follow our Intranet Locations. We altered to:
location_region | char(20)
Now all regions fit with our intranet names.

[2022-09-14 14:22] grzchr15 commented on #15715
see https://github.com/grzchr15/piwik-geoip2-andintra

[2022-09-14 21:38] tsteur commented on #18310
This is still happening on cloud, putting the logs below

[2022-09-14 22:14] mattab opened #19733 "In "Manage Goals", add a column "view" with an icon to click to open the Goal report directly"
In "Manage Goals" page (under left menu "Goals"), as a user I want to have a 1-click way to go to the Goal Report, from the "Manage goal" page.

For example after creating a Goal i'm redirected to the Manage Goals page and then I can click an icon to go to the new goal report.

This is currently available in other features like "Manage Forms"
![image](https://user-images.githubusercontent.com/4667

[2022-09-14 22:39] mattab opened #19734 "When Visits log is disabled, then a red error notification is shown at the top of every report for today."
Matomo regularly wrongly shows a red error message for people who disabled Visits log & profiles (as part of CNIL compliance).

## Reproduce:

* Edit a website
* Configure website to turn off Visits log and profile for this website:
![Screenshot from 2022-09-15 10-31-35](https://user-images.githubusercontent.com/466765/190275024-2bfb719e-52fa-46c7-b6c3-d969a42a79c6.png)
* Then open any report
* an

[2022-09-14 22:46] tsteur commented on #19734
This is a duplicate of https://github.com/matomo-org/matomo/issues/19291

[2022-09-14 23:02] Starker3 opened #19735 "Failed/Blocked outbound connections cause application blocking"
We have a Matomo user that has configured their servers to block outbound requests that are sent over port 80 because they want to completely prevent insecure connections from being made.

Current Behaviour:
When this port is blocked or when Matomo is unable to connect to this external hostname, several issues occur:
1. The Matomo application in certain places in the UI are effectively blocking th

[2022-09-15 01:08] mattab commented on #19734
Ok, issue is known since May 20th. see https://github.com/matomo-org/matomo/issues/19291

[2022-09-15 01:08] #19734 closed, assigned to nobody

[2022-09-15 01:08] mattab opened #19736 "When Visits log is disabled, and looking at today's report, the notification explaining that reports are not yet processed is not displayed"
As a user I want to be Notified that "Today's report" are showing zeros because it takes hours to generate reports and explain I need to wait. This works fine except when "Visits log & profile" feature is disabled

## Reproduce

* Disable the Visits log for the website https://matomo.org/faq/how-to/how-do-i-disable-the-visits-log-or-the-visitor-profile-feature/
* Open Today's report when there are

[2022-09-15 01:10] mattab commented on #19291
Fixing this issue might fix https://github.com/matomo-org/matomo/issues/19736 so i'd suggest to schedule both at the same time.

[2022-09-15 01:15] mattab opened #19737 "Show notification in Goal report when viewed soon after creation (before data is available)"
# Spec

When users view a Goal report shortly after creating a new Goal, no data is available yet because the Goal has just been created and Matomo hasn’t processed new visits for it. This can lead to confusion, as the report appears empty without any explanation.

To improve clarity, display a friendly notification at the top of the Goal report if the Goal has no data yet (within the first few ho

[2022-09-15 01:45] mattab commented on #19642
@vadi2 thanks for the report!
can you confirm that if you select data say for this week, then the revenue columns show as zero?

I'm having a similar issue where, if a revenue is set to 0, or not set, for any Goal, and the goal is not Ecommerce related,  and if the values in the column are all zeros in that period (in case some goal are manually tracked with a revenue),  then the "Revenue" column

[2022-09-15 02:16] justinvelluppillai commented on #19735
We have completed https://github.com/matomo-org/matomo/issues/19081 recently, and will soon make these requests use https by default.

[2022-09-15 04:49] tsteur opened #19739 "Viewing what's new entry causes an error and doesn't let you use the UI anymore at all"
Seeing this after trying to view the "What's new" section on Cloud. GA Importer recently added the first entry

<img width="1052" alt="image" src="https://user-images.githubusercontent.com/273120/190316817-c58210d4-f0f3-4bcb-9756-61b0574f89f9.png">

Currently, the feature is not usable and results in an error. I can't view any page anymore after clicking on "what's new". Even when I try to just op

[2022-09-15 05:19] tsteur commented on #19739
Problem seems to be maybe that new installs use `timestamp` and older ones an `integer`?

[2022-09-15 05:21] vadi2 commented on #19642
Yep, I can confirm that. Sounds like it should be included!

[2022-09-15 05:36] peterhashair commented on #19739
@tsteur I believe @sgiehl already fixed that one, should be in the next release.

[2022-09-15 05:51] justinvelluppillai commented on #19739
Refs #19728

[2022-09-15 05:51] #19739 closed, assigned to nobody

[2022-09-15 07:15] sgiehl commented on #19291
A very quick fix for this and similar issues would be to introduce a new API method like `getMostRecentVisitsDateTime`. That would allow any part of Matomo to check if there are visits for the current period even if `getLastVisitsDetails` is disabled in config.

This could actually also be some performance improvement for those parts currently checking this using `getLastVisitsDetails`...

[2022-09-15 07:18] sgiehl commented on #19736
See https://github.com/matomo-org/matomo/issues/19291#issuecomment-1247679925 for a possible solution how to fix that quickly.

[2022-09-15 07:41] sgiehl commented on #18310
Had a quick look. Wasn't able to reproduce that locally. But think I found a simply improvement that should fix that.

[2022-09-15 08:55] sgiehl commented on #19733
Should be quite easy to add

[2022-09-15 09:09] sgiehl commented on #15715
@agrzchr15 The location_region column is meant for storing iso region codes. Storing something else is not officially supported and might break again with future updates

[2022-09-15 09:54] grzchr15 commented on #15715
Thanks for response
Please suggest a solution where MAXMIND region_names and INTRANET region names could chain in reports

The Idealflow:

Have a GEO plugin which search an IP in a INTRANET IPAM database and populates the log_visit fields
const CONTINENT_CODE_KEY = 'continent_code';
    const CONTINENT_NAME_KEY = 'continent_name';
    const COUNTRY_CODE_KEY = 'country_code';
    const COUNTRY_NAME

[2022-09-15 14:53] gheisz opened #19742 "Login on local installation does not fully work"
## Expected Behavior
When trying to log into our local server installation log in with username and password should be possible.

## Current Behavior
After entering username and password the URL changes to https://matomo.regnumchristi.eu/index.php?module=Login and shows an error message "Error: form security failed. Token doesn not match. Please reload the form and check whether cookies are activa

[2022-09-15 15:50] MatomoForumNotifications commented on #19267
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-missing-privileges-in-mariadb/47379/2

[2022-09-16 00:03] atom-box commented on #19198
Redundant to
[5101](https://github.com/matomo-org/matomo/issues/5101)
Post there instead.

[2022-09-16 02:31] Starker3 commented on #19735
Thanks for the update @justinvelluppillai
Is there an existing issue for changing the URLs/hostnames to use HTTPS? If so we can close this one and rather track it there?

[2022-09-16 06:54] cronventis commented on #19267
This was me.. And its not only commandline, its also on matomo itself (web)
I checked the tmp folders and its all looking good so far, there is also no error in matomo check, all folders seem to be setup correctly.

[2022-09-16 09:18] okumuryu opened #19744 "Domain Restrictions on Sending Email"
## Summary
Hello Matomo Teams.

With the implementation of the invite function in Matomo 4.11.0, there are many opportunities to send emails using Matomo applications.
As a result, the risk of sending incorrect emails due to mistakes in email addresses has increased.
Is there a function to restrict the domain of the email address to be sent to, so that it cannot be sent to other domains?
If not, w

[2022-09-16 09:20] heurteph-ei commented on #19742
Hello,
Can you try to go to `https://matomo.regnumchristi.eu/index.php` (without any additional parameter) in a private navigation window (in order to remove all any cookie)?

[2022-09-16 09:35] MatomoForumNotifications commented on #19729
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/average-page-load-time-incoherence/47384/2

[2022-09-16 11:08] niklasternstedt commented on #19725
Hi @sgiehl,

Yes, it works fine if I look in performance report. But it don't work for at specific page. I've tested in different environments.

[2022-09-16 11:56] gheisz commented on #19742
That worked nicely.
GH

[2022-09-16 15:06] djmaze commented on #19695
Since upgrading, we are also not able to successfully run archive jobs on our server because of a hugely increased memory usage.

Is it possible to "disable" the new feature somehow? Any other workaround?

[2022-09-18 06:29] dev-101 commented on #18781
This issue is still present, but this issue has been closed? I still have this problem.

Confirmed on 2 different systems/setups.

Please carefully follow **How to reproduce** steps in OP.

[2022-09-18 21:50] tsteur commented on #19722
fyi this error is happening every workday at least once

[2022-09-19 00:10] peterhashair commented on #18781
@dev-101 thanks for the feedback, but I can't see that problem exists on my local or our cloud, generate a video for the steps I am following. Another thing that could help is this command `./console cache:clear` to clean the cache, if that helps.

https://user-images.githubusercontent.com/3783072/190933856-acdd276f-ce06-4b54-8fa9-7a549b1239dc.mp4

[2022-09-19 00:54] peterhashair commented on #19722
@tsteur I can think of 2 solutions here. Any suggestion?

- Adding the default period and day value from the global config to the twig template will fix the error globally, but like @sgiehl suggests 'I think this shouldn't cause any regressions, but hard to say won't cause any regression, as it actually affects all parts of Matomo and any plugin'.

- Adding redirect in the controller method when t

[2022-09-19 01:48] peterhashair commented on #19625
As I go, I found the `copy link` won't always work, see screenshots, it won't work in Safari, etc, and also our UI test environment will show errors as well. I guess the reason is a web page could silently copy rm -rf / or a [decompression bomb image](http://www.aerasec.de/security/advisories/decompression-bomb-vulnerability.html) to your clipboard.

- Or we could make the copy link to generate a

[2022-09-19 01:52] tsteur commented on #19722
That should do 👍  I don't think it should cause a regression either I would assume. Hard to say for sure though.

Maybe a problem be if someone disabled the day period in `enabled_periods_API` config or `enabled_periods_UI` but not adjusted the default period but don't even know if Matomo would work without the date period allowed.

[2022-09-19 04:49] peterhashair commented on #19625
Sorry to bother, @tsteur I got a security question here because we using javascript code `navigator.clipboard.writeText` to copy the invite js link. Then somehow if the client land on a malicious site after that, the site has code `navigator.clipboard.readText` which will read your invite link, would that be a security concern?

[2022-09-19 05:00] mattab opened #19747 "When viewing any report that has a "Goal Conversion" column (or when comparing two dates together) then I want to see the % relative values for these "Conversions" columns to save time in my data analysis"
## Current behavior

Matomo lets you compare 2 or more segments together, or different time periods, or even both at the same time: https://matomo.org/blog/2019/10/date-and-segment-comparison-feature/

This is very powerful and important capability. And currently when you hover on the table, here is what it shows:

![image](https://user-images.githubusercontent.com/466765/190951853-70e957df-227a-4

[2022-09-19 05:10] mattab commented on #19747
Note that i created the issue with the scope of comparisons, but actually the same limitation occurs when not using comparison, for example here: https://web.innocraft.cloud/index.php?module=CoreHome&action=index&idSite=12&period=month&date=today#?period=week&date=2022-09-18&idSite=12&category=Goals_Goals&subcategory=9

we can see that there is no grey text shown for the conversion column.
So it w

[2022-09-19 05:18] mattab commented on #5096
I'm closing in favor of these:

* https://github.com/matomo-org/matomo/issues/15515
* https://github.com/matomo-org/matomo/issues/6182
* https://github.com/matomo-org/matomo/issues/19747

[2022-09-19 05:18] #5096 closed

[2022-09-19 05:29] mattab commented on #15515
I had this in an old comment on a closed issue, so copying here below:

## we could have a new Cog icon option called `Show % values`

  - This would show the % value all the time for all columns
  - Once this is enabled, maybe we could have another cog option "Show % values only for currently sorted column"
  - when set, it would show % value in only the currently sorted column (not all columns)

[2022-09-19 05:47] tsteur commented on #19625
@peterhashair that could be an issue indeed if another site could read that invite link. Is it possible to use an alternative like `document.execCommand('copy');` or is there an issue with it?

[2022-09-19 08:55] justinvelluppillai commented on #19735
We don't have a public facing issue for this yet so this one can remain open 👍🏽

[2022-09-19 11:52] JE4GLE opened #19748 "Matomo Spams Opcache error"
The following message is spammed 11 times on the diagnostics page and has something to do with the DiagnosticsExtended Plugin.

## Expected Behavior
The expected behavior is to not show the error message **and** fix the underlying error, if there is one.

## Current Behavior
The error message is spammed 11 times.

## Possible Solution
I think the message could mean that opcache is disabled and a w

[2022-09-19 12:49] heurteph-ei commented on #19742
Hi @gheisz
Then I think you can close your issue...

[2022-09-19 13:12] Findus23 commented on #19748
Hi,

That error is totally independent of Matomo, but instead as the error message mentions in my experimental DiagnosticsExtended plugin (https://plugins.matomo.org/DiagnosticsExtended).
So I'll be moving the issue there

[2022-09-19 13:15] Findus23 commented on #19748
It turns out one can't move issues between organisations/users, so I'll have to close this and I'd suggest either continuing the discussion in
https://forum.matomo.org/t/matomo-4-3-0-spams-opcache-error-message/41895
or creating a new github issue in the repository of the plugin

[2022-09-19 13:15] #19748 closed, assigned to nobody

[2022-09-19 13:16] gheisz commented on #19742
I just deleted all cookies in my normal browser window and I still have the same problem.
I even deleted all other browser data. No change.
Yours,
Gerd

[2022-09-20 01:00] bx80 commented on #19695
Sorry about the delay with this. The next release (currently in release candidate status) will include a config option to disable archiving of action goal conversion data. We're looking at options to improve performance and reduce memory usage for this feature on larger datasets.

[2022-09-20 02:08] bx80 commented on #19744
Hi @okumuryu, thanks for the suggestion, this does sound like a useful security feature. At the moment there is no option to restrict emails sent by Matomo to specific domains.

Depending on how your Matomo server is configured to send email, it may be possible to implement this restriction using Mail Transport Agent rules on the server. For example, your server uses postfix as an MTA then you cou

[2022-09-20 02:20] bx80 commented on #19613
Hi @Hiradur,

It's possible that a plugin update might need the install function run again if there was a major change to the database tables, but in most cases this wouldn't be needed. Deactivating and then activating the plugin again will make sure the install function is run.

If the updated plugin is working without any issues then it's probably not necessary to do this.

[2022-09-20 06:06] bx80 commented on #19747
Hi @mattab, thanks for taking the time to describe this enhancement in detail, it sounds like a valuable addition! :+1: I've assigned this issue for prioritization by our product team

[2022-09-20 09:02] heurteph-ei commented on #19742
No idea...
@sgiehl maybe?

[2022-09-20 09:42] Sonofendor commented on #16150
Hi @tsteur
Maybe you know if other variables are also hard coded to be specific size? For example 'Event Name/Action/Category/Value'?
Your answer would help me a lot
Thanks

[2022-09-20 13:18] sandeepks230 commented on #18530
We have a django app that is embedded in shopify. This works fine in Chrome and Mozilla but it is not working in Safari Browser as an iframe as it is blocking all the cookies. So all the POST requests are getting rejected because of forbidden csrf. Is there any solution for this. After disabling Prevent Cross Site Checking in Safari Browser it is working fine and storing CSRF cookies and all. Is t

[2022-09-20 14:55] utsavkoju opened #19750 "Matomo Offline : Problem pushing indexedDB request records"
## Expected Behavior
We have a self hosted matomo server (Matomo version: 4.11.0).
For one of our PWA application, we have implemented offline tracking following this guide (https://matomo.org/faq/how-to/how-do-i-set-up-matomo-offline-tracking/) . We have initialize the matomoAnalytics to store 10000s record for 30 days.
The app users don't have a good connectivity so, our plan is to asking them c

[2022-09-20 20:41] tsteur commented on #16150
@Sonofendor I may be wrong but I believe event name/action/category are limited to 4000 characters as per the `log_action.name` field definition. I don't think it's limited in the code though (unless I missed it). I can't really say for any other fields right now

[2022-09-20 23:03] #19722 closed, assigned to nobody

[2022-09-21 05:30] Nyaundi opened #19752 "I crashed Matomo by screwing around with composer.json"
I tried to install a custom script. then It crased the whole system, This is the error log
[Wed Sep 21 03:20:30.607789 2022] [php:error] [pid 119833] [client 99.41.201.237:59292] PHP Fatal error:  Uncaught Error: Class "Piwik\\Plugin\\Manager" not found in /var/www/matomo/core/boot>
Any idea?

[2022-09-21 05:54] #18310 closed, assigned to sgiehl

[2022-09-21 06:20] Sonofendor commented on #16150
@tsteur Thanks for your answer!

[2022-09-21 09:27] okumuryu commented on #19744
It is certainly possible to restrict mail domains with postfix.
However, I think it is possible to use Matomo safely by restricting not only by postfix but also by Matomo application.

[2022-09-21 10:03] MatomoForumNotifications commented on #19663
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/0s-pageviews-even-though-heartbeat-time-is-enabled/38161/8

[2022-09-21 10:38] dave-anh-kpi commented on #19590
Hello,
Do you have any update on the issue ?
We are talking about a major issue --> My client (+10K€ Matomo Subscription) is not able to **understand which channel is converting the most !** This is a basic in Web Analytics...
Here more recent screenshots showing the huge difference between the ways of looking at the data :

![image](https://user-images.githubusercontent.com/110452512/191480740-09

[2022-09-21 11:58] basos9 commented on #13321
Hello,
This is a nice feature.
Nevertheless I could suggest to enable the user creation via the cli (./console) as well.

In a stage installation that we also use the setting `emails_enabled = 0`, there is no way to create a user from UI or CLI.

[2022-09-21 12:05] JE4GLE opened #19753 "TwoFactorAuth: Deprecated - str_replace() on PHP 8.1.9"
Hi!

I don‘t think, I have to add more. The error message is pretty self-explanatory 😅

[2022-09-21 13:15] Hiradur commented on #19613
Alright, thank you very much!

[2022-09-21 13:31] MatomoForumNotifications commented on #19753
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/twofactorauth-deprecated-str-replace-on-php-8-1-9/47451/3

[2022-09-21 14:35] SimoneMTI commented on #19635
Hi good day, is there any update on this ticket please?

[2022-09-21 19:49] tsteur opened #19754 "2FA should require password confirmation"
Not an issue actually.

[2022-09-21 19:49] #19754 closed, assigned to nobody

[2022-09-21 22:49] justinvelluppillai commented on #19635
Hi @SimoneMTI this ticket is not yet scheduled for work by our team. If you are able and would like to submit a PR for this we would happily review that.

[2022-09-22 01:53] peterhashair commented on #19753
@JE4GLE Thank you for reporting this, looks like we could use a null check there.

[2022-09-22 01:58] jane-twizel commented on #19590
@dave-anh-kpi I really appreciate you letting us know about this issue and also the great description.  Our developers will investigate this more to work out next steps.

[2022-09-22 02:10] jrca025 opened #19755 "Is there a way to secure Matomo admin page?"
We want to secure the Matomo admin page so it is not accessible publicly. As per checking, all admin pages is located in 10.1.0.2/index.php. Basically we want to put Cloudflare Access/Tunnel on this specific path while still keeping the main IP 10.1.0.2 still open to public for tracking requests

[2022-09-22 02:49] bx80 commented on #19750
Hi @utsavkoju, thanks for reporting this issue. I've assigned the issue for prioritization.

If you have any additional detail such as error messages then that could be helpful.
It also might be worth attempting the synchronization with the Matomo tracker in [debug mode](https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker) to see if any additional information is shown.

[2022-09-22 02:51] bx80 commented on #19723
Hi @KarthikRaja1388, thanks for passing on that feedback :+1: I've assigned this issue for prioritization.

[2022-09-22 02:54] bx80 commented on #19737
Hi @mattab, thanks for the feedback, it would definitely be better user experience to have a clear explanation for the blank report :+1:
I've assigned this issue for prioritization by the product team.

[2022-09-22 02:56] peterhashair commented on #19625
@tsteur I think this function is [deprecated](https://developer.mozilla.org/docs/Web/API/Document/execCommand#browser_compatibility), personally, I think copying the password or token link is not a very good practice. Maybe We can either show the link as a string like AWS did or we could remove copy link, but add `create a user` back next to `invite user`, `invite user` will auto disabled when the

[2022-09-22 03:04] peterhashair commented on #19752
@Nyaundi this is really hard to tell what are the factor causing that issue, but if you have version control set up, you can always revert back.

For further help, I'd like to refer you to our forum at https://forum.matomo.org/, as we usually don't do any troubleshooting on GitHub, due to our limited resources. Thanks!

[2022-09-22 03:04] #19752 closed, assigned to nobody

[2022-09-22 03:04] bx80 commented on #19752
Hi @Nyaundi,

That error would indicate that the autoloader isn't functioning as `\Piwik\Plugin\Manager` is the very first auto loaded class in the application. Without knowing exactly what was changed it's hard to suggest a solution, but you could consider trying:
- restore the composer.json from the Matomo installation archive and run `composer update` again
- delete the `vendor` subdirectory an

[2022-09-22 03:18] bx80 commented on #19755
Hi @jrca025, thanks for reaching out.

As you've identified the admin page functions do not have a separate URL or page so they can't be restricted by simple path.
Depending on the options available to you for creating access rules, it may be possible to restrict access to `10.1.02/index.php?module=CoreAdminHome` which is the module containing the administration functions.

[2022-09-22 03:19] #19755 closed, assigned to nobody

[2022-09-22 03:32] tsteur commented on #19625
Interesting, then we might at some point also need to adjust other places where we are using this currently.

Note that I'm just seeing this clipboard API only works on HTTPS meaning we might still need to fallback to `execCommand` when someone is on HTTP.

I've just reproduced this and the browser does seem to ask you for permission when you want to `readText`. To lower the chances of an issue, c

[2022-09-22 05:05] peterhashair commented on #19625
@tsteur switch to execCommand('copy') works great

[2022-09-22 05:49] peterhashair commented on #19625
@tsteur `execCommand('copy')` would be ideal, but I tried different ways, but seems like there is no way we can detect whether the browser support `execCommand('copy')` unless we make a list and keeps updating it,  any suggestions?

[2022-09-22 08:48] jrca025 commented on #19755
@bx80 do you have any guides/doc for use-case like this?

[2022-09-22 12:27] SimoneMTI commented on #19635
Hi @justinvelluppillai what exactly is  PR?

[2022-09-22 14:58] MatomoForumNotifications commented on #19755
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/is-there-a-way-to-secure-the-matomo-admin-page/47448/2

[2022-09-22 15:14] Guiraud opened #19757 "An error occurred : Matomo 4.10.1 and database in 4.11.0."
No answers on the forum for [this](https://forum.matomo.org/t/warning-message-after-update/47150).
## Expected Behavior
Going to the website and finding the login page

## Current Behavior
Prints an error message :

## Possible Solution
Maybe two installed versions are there

## Steps to Reproduce (for Bugs)
1.
2.

## Context
While updating with sudo apt update && sudo apt upgrade -y

## Your Envi

[2022-09-22 16:47] alexhass opened #19758 ".htaccess: 'ExpiresDefault 7200': bad expires code, unrecognised <base> '7200'"
Looks like the htaccess has a bug and this takes down Matomo completly with a server 500 error.

`Error is /.htaccess: 'ExpiresDefault 7200': bad expires code, unrecognised <base> '7200'`

## Expected Behavior
No error logged in apache logs

## Current Behavior
An error is logged in apache logs for every request

## Possible Solution
I guess the correct format is `ExpiresDefault "A7200"`

## Steps

[2022-09-22 17:01] alexhass commented on #19758
The old htaccess file seems working on Debian 9 for unknown reasons... that was also a Apache 2.4 with PHP7.3-fpm, but different build.

Server version: Apache/2.4.25 (Debian)
Server built:   2022-03-18T12:54:25

At least the bug has not caused a system down on old server. Nothing shows up on old apache in error.log. I guess Apache has fixed a bug in later build and is now nitpicking about the pro

[2022-09-22 19:44] atom-box opened #19759 "Possible regression. When creating segments, "Android" is not offered as an option for Operating System type"
**To reproduce:**
In Matomo Cloud, create a new segment with this condition: **(operating system == 'android')**

**Expected:**
One of the suggestions as you type should be 'android'

**Actual:**
Even if you start to type: a-n-d-... nothing comes up in the suggestions.
![image](https://user-images.githubusercontent.com/22874146/191836107-657bbdb7-5a52-4f18-b4c7-0411a0f13f49.png)
The segment can st

[2022-09-22 21:12] tsteur commented on #15843
fyi @Findus23 with Angular being removed in 5.x-dev we can maybe close this one?

[2022-09-22 22:41] bx80 commented on #19755
Unfortunately this is very much dependent on the service you use to do the blocking, Cloudflare have a number of different products so it would be best to refer to their documentation at https://developers.cloudflare.com/

[2022-09-22 22:57] bx80 commented on #19758
Hi @alexhass, thanks for reporting this.

I can't find any reference to `ExpiresDefault` anywhere it in the current codebase. Could it have been added by a previous version or manually at some point?

[2022-09-22 23:11] bx80 commented on #19757
Hi @Guiraud, thanks for reaching out.

It sounds like the update from Matomo 4.10 to 4.11 didn't complete successfully.

Are you able to run `./console core:update` from the Matomo installation directory?

[2022-09-22 23:17] bx80 commented on #19759
Hi @atom-box, thanks for the detailed write up :+1: I can confirm the issue is present on 4.x-dev, I'll assign it for prioritization.

[2022-09-23 01:08] justinvelluppillai commented on #19635
Hi @SimoneMTI - apologies, PR is Pull Request. I meant if you are able to contribute a solution here we will happily review it and that can be an effective way for community members to get improvements into Matomo

[2022-09-23 07:55] Improov-marketing opened #19761 "Rapport Courriel Personnalisé"
Bonjour,
J'ai programmé un export personnalisé avec envoi quotidien mais les emails ne partent pas.
Je n'ai pas de soucis avec les exports hebdo par contre.
Pouvez-vous m'aider ?

![image](https://user-images.githubusercontent.com/114217834/191915719-2f8f3b5c-ef50-4b8f-9ca4-595f75699582.png)

[2022-09-23 10:58] alexhass commented on #19758
Hmmm... This is the .htaccess that is inside matomo root folder. I cannot remember that I created this file myself, but maybe it was done 10 or more years ago and I just forgotten about this. My internal long term documenation says nothing about this customization. But you make me thinking... there are some paths inside that are specific to me system, so maybe I created it. I will try to find an o

[2022-09-23 13:01] MatomoForumNotifications commented on #19757
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/warning-message-after-update/47150/3

[2022-09-23 14:45] MatomoForumNotifications commented on #19019
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/after-the-top-500-or-top-1000-rows-matomo-automatically-groups-pages-keywords-websites-etc-under-the-label-others-how-do-i-force-matomo-to-not-limit-the-data/47344/7

[2022-09-24 19:43] alexhass commented on #19758
Not an issue of Matomo.

[2022-09-24 19:43] #19758 closed, assigned to nobody

[2022-09-25 08:59] Nyaundi opened #19767 "There was an error setting cookie `_pk_testcookie_domain`. Please check domain and path."
Hello, I am getting this error. I tried to upgrade matomo to the latest version but still the error is there.
![image](https://user-images.githubusercontent.com/67205640/192135908-4b98df75-ea3e-419f-96d9-e8870fbae408.png)

[2022-09-25 16:22] Nyaundi commented on #17829
I have a similar error. How can I solve it

[2022-09-25 19:11] tsteur opened #19768 "Upgrade to Matomo 4.12 breaks Matomo when DeviceDetectorCache plugin is installed"
Upgraded to Matomo 4.12-rc1 and got this result:

<img width="1672" alt="image" src="https://user-images.githubusercontent.com/273120/192160918-00fdbe7d-bec6-4e5d-8f2a-7fda28fdf853.png">

Looks like there was a breaking API change in that release causing this issue. The only way to fix this was to manually revert to the previous Matomo version.

Seems there was this change https://github.com/matom

[2022-09-25 19:56] tsteur commented on #19625
@peterhashair Maybe something like https://github.com/sudodoki/copy-to-clipboard/blob/master/index.js#L79-L83  could work (see below)? And it could be also be combined with `if (document.queryCommandEnabled) {document.queryCommandEnabled("copy")}`? If not available or if unsuccessful we could fallback to writeText?

[code]
If this doesn't work then we may have to use `writeText` by default on HTTP

[2022-09-25 20:06] tsteur opened #19769 "Have a segment template gallery so one can easily create / define segments"
There are many segments that are used commonly. Some of them can be very hard to build and hard to figure out. For example:

How to segment only new visitors
<img width="932" alt="image" src="https://user-images.githubusercontent.com/273120/192162941-217689ff-15f8-4f33-ab90-be4fa6f83ffe.png">

How to segment returning visits
<img width="917" alt="image" src="https://user-images.githubusercontent.c

[2022-09-26 08:52] heurteph-ei commented on #19761
Bonjour,
Aucun email quotidien ne part-il, ou bien certain partent et d'autres non ?
Avez-vous des erreurs dans les fichiers de log de Matomo ?
Les données sont-elles-bien archivées quotidiennement (et l'archive prête avant l'envoi du mail) ?

[2022-09-26 12:18] MatomoForumNotifications commented on #16271
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/email-reports-what-does-for-each-day-in-the-last-day-mean/47514/2

[2022-09-26 13:29] heurteph-ei opened #19770 "How to track product purchases with Matomo Tag Manager"
Following topic in the forum:
https://forum.matomo.org/t/how-to-track-product-purchases-with-matomo-tag-manager/46784

Users are looking for a guide to implement products purchase tracking to an eCommerce website via MTM.
A base (FR) for documentation could be:
https://ronan-hello.fr/series/matomo/ecommerce-matomo-tag-manager

[2022-09-26 13:29] MatomoForumNotifications commented on #19770
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/how-to-track-product-purchases-with-matomo-tag-manager/46784/7

[2022-09-26 13:29] peterbo opened #19771 "When a User without permission to any Measurable, Superuser Email-Addresses are (non-publicly) exposed"
When a User without permission to any Measurable, Superuser Email-Addresses are (non-publicly) exposed , when clicking on "Ask your Matomo administrator (click to email)". Superuser Email addresses, even for a registered Matomo User could, be sensible data that the User doesn't need to know / may not know.

![superuser-email](https://user-images.githubusercontent.com/1018973/192289330-a8f33b2d-a3d

[2022-09-26 15:21] atom-box opened #19772 "Bring back an option for Add Users / New user the old way"
About twice a week we get an email asking for the old way. Could this be present as an option?

examples:

_" The new 'send an invite' for my client to choose their own password isn't necessary and just adds extra painful steps."_

_"My clients access their stats without ever needing to know their password as they access them in the admin area of their Content Management System which is where I pu

[2022-09-26 15:36] mindbreaker opened #19773 "Segment auto suggest capitalization"
When the value is typed in a segment, it appears in capital letters. As a value, however, it is then taken over in such a way that only the first letter is written in capital letters.

Issue in forum: https://forum.matomo.org/t/segment-autosuggest-capitalization/47525

## Expected Behavior
The value should be displayed in the auto-completion as it should actually be taken over in the field. For ex

[2022-09-26 15:37] MatomoForumNotifications commented on #19773
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/segment-autosuggest-capitalization/47525/2

[2022-09-26 17:00] mwithheld opened #19774 "Logged in but you don't have any permission should not HTTP 500"
If you login but don't have any permissions, the HTTP return code is 500.  It should be a 401.

[code]

## Possible Solution
core/Plugin/Controller.php::redirectToIndex() should produce a 401 HTTP response here:

[code]

## Steps to Reproduce (for Bugs)
1. Create a user profile but assign no site privileges
2. Login as that user
3. Check the HTTP response code

## Context
Our BigIP ASM blocks page

[2022-09-26 18:56] tsteur opened #19775 "When a site is deleted, delete its log data in chunks, not all at once"
We recently saw 100% DB CPU usage because of a query `DELETE log_visit from log_visit log_visit WHERE log_visit.idsite = ?`.

This tried to delete many millions of log entries at once and took 20+ minutes. We got paged and were aborting that query. Even aborting the query took a very long time.

Can we instead delete the data in chunks of say 100K or 500K rows at a time so it will have less of an

[2022-09-26 23:08] justinvelluppillai commented on #19767
This error is displayed on purpose to show you that you have tried to set a cookie on a domain that you can't write cookies to.

Perhaps this is something you could ask for help with in the [forum](https://forum.matomo.org/) as it's most likely not a bug report.

[2022-09-26 23:08] #19767 closed, assigned to nobody

[2022-09-27 00:42] bx80 commented on #19769
Great idea @tsteur, this would really help remove some of the complexity for new users :+1:  I've marked this for prioritization.

[2022-09-27 00:47] bx80 commented on #19771
Hi @peterbo, thanks for highlighting this, an automated email does sounds like a better option here. The user may not even have a mail client configured on their device.

[2022-09-27 00:56] bx80 commented on #19772
It's obviously a better security practice to have users set their own password in a secure session rather than have someone else enter a password for them and then send it (insecurely) to them. It sounds like this might not be the best approach for every scenario though.

Perhaps invite user should be the default but with an additional option (with a warning about security risks) so that an admini

[2022-09-27 01:02] peterhashair commented on #19772
while I suggest bringing the old way back as well,  maybe is too late. but my thoughts are here https://github.com/matomo-org/matomo/pull/19707#issuecomment-1249990620

[2022-09-27 01:06] bx80 commented on #19773
Hi @mindbreaker, thanks for reporting this. The auto-completion list has a `text-transform: uppercase` style applied which shows all list items as uppercase even though the underlying value is first letter capital only. This seems unnecessary and it would be better if the displayed list value was consistent when chosen.

I've assigned this issue for prioritization.

[2022-09-27 01:07] peterhashair commented on #19774
hey @mwithheld, that makes sense, some of the API response code needs to update, I put this onto our priority queue.

[2022-09-27 01:12] bx80 commented on #19775
That makes sense @tsteur :+1: It would be good to implement this in a way that will be compatible with non-sequential primary keys. eg. using `DELETE FROM log_table WHERE idSite = 1 LIMIT x`. I've marked this issue for prioritization.

[2022-09-27 01:19] peterhashair commented on #19775
Just an idea, maybe we could implement sth like:
[code]

[2022-09-27 01:32] #19753 closed, assigned to nobody

[2022-09-27 02:19] peterhashair commented on #19768
I believe this is caused by this plugin https://github.com/matomo-org/plugin-DeviceDetectorCache haven't got a release for the new code changes. Once got a release for that, then update plugin.json should fix it.

[2022-09-27 04:02] utsavkoju commented on #19750
Hi @bx80,
Thanks for the quick response. Here are the few records form the indexedDB. The browser tries to push these records but failed to do so. Let me know if you need anything else for debugging purpose.
[indexedDB.txt](https://github.com/matomo-org/matomo/files/9651391/indexedDB.txt)

[2022-09-27 07:08] mindbreaker commented on #19773
OK. I created a pull request:
#19777

[2022-09-27 07:13] mindbreaker commented on #16495
Yes that's right. matomo currently has no secondary dimension like Piwik Pro for example. What you can do is use the Custom Reports plugin to make your own reports.

[2022-09-27 08:05] marcosciamanna opened #19778 "New option to group the internal search results"
## Summary
Currently the internal search results are not grouped in any way, so matomo considers as different some keywords that should be considered equivalent, i.e.:
- Case sensitivity: bank, Bank, BANK
- Extra spaces: bank _[space]_ account, bank _[space][space]_ account

I'm asking for an option to group together such results.

## Your Environment
* Matomo Version: 4.2.1
* PHP Version: don't k

[2022-09-27 10:16] danielhug-cc opened #19779 "Make title for E-Commerce overview desktop widget more descriptive"
## Summary
I am generating a little c-level dashboard, and I noticed that while the visits overview widget says “visits overview”, the e-commerce overview only says “overview”. That is confusing, and should be changed. It should say “E-Commerce Overview”:
![image](https://user-images.githubusercontent.com/104900372/192499631-95878166-0ad7-4d3f-a994-fc993bfef7d6.png)

## Your Environment
Matomo Clo

[2022-09-27 10:17] MatomoForumNotifications commented on #19779
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/title-for-ecommerce-widget-is-incomplete/47515/5

[2022-09-27 14:07] MatomoForumNotifications commented on #18448
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/question-from-data-protection-officer/47475/8

[2022-09-27 14:22] CrimsonScythe commented on #10257
Hey @vikenbauer I am trying to get this set up on a serverless system. Therefore, I am extending the Docker image for matomo:alpine and writing the steps you mentioned in that Dockerfile.
However, I seem to be getting this error when running `matomo:install`:
`[Exception]
  Adapter 'mysql' is not valid. Maybe check that your Matomo configuration files in config/
  *.ini.php are readable by the web

[2022-09-27 15:01] CrimsonScythe commented on #10257
I updated the confg.ini.php to only have db connection params and the plugin now activates however, still getting the same error on `matomo:install`.
On closer inspection, `matomo:install` seems to be changing the config.ini.php file to include `adapter = "mysql"` under [database]

[2022-09-27 15:20] CrimsonScythe commented on #10257
On closer inspection, `matomo:install` seems to be changing the config.ini.php file to include `adapter = "mysql"` under [database]

[2022-09-27 16:51] atom-box commented on #9319
Make it so the search bar can return the location where you can read any metric of your Matomo instance.
Including from the Custom Reports.

When I was a total beginner in Matomo I wanted to see something like _bounce_, so I would enter it into Matomo's very inviting, very prominent Search bar, with high hopes.
And I would get no results.
At that point I would then conclude "Ah, it is a shame that

[2022-09-28 00:15] peterhashair commented on #19768
@tsteur Could we update [here](https://github.com/matomo-org/plugin-DeviceDetectorCache/blob/082cf4f2543545a58b7ff699825cb66b20a02697/plugin.json#L7), to `matomo:>=4.0.0-rc1,<4.12-rc1`. Then release a new version for that plugin, update the again with `matomo: >=4.12-rc1,<5.0,0-b1`

 https://github.com/matomo-org/plugin-DeviceDetectorCache/blob/082cf4f2543545a58b7ff699825cb66b20a02697/plugin.json#

[2022-09-28 02:05] bx80 commented on #19773
Thanks for the pull request @mindbreaker, I've assigned it to the next release milestone :+1:

[2022-09-28 03:11] peterhashair commented on #19779
@danielhug-cc that sounds like a simple title change, I will put this into our priority queue. And also feel free to create a PR.

[2022-09-28 07:10] canuonifeng opened #19780 "Howto stop auto create older archive_block_{year}_{month} table?"
I deploy matomo in 09.2022,   it auto create matomo_archive_block_{year}_{month}  and matomo_archive_numeric_{year}_{month}  tables from 12.2008 ,  like this:

![image](https://user-images.githubusercontent.com/8425355/192712008-b632467f-55c2-4a47-8d4c-c40766f97609.png)

Questions:
1.  Can I drop these tables? Because my matomo is new deployed, never run between 12.2008 ~ 09.2022
2. How can i set

[2022-09-28 12:24] atom-box opened #19781 "Page Overlay doesn't work: never finishes loading"
Possible Regression

On my version 4.10.1 site, everything is fine, no bug.
On my cloud instance (v 4.11.0), and on the Matomo demo site, Page Overlay just spins and spins, never loads.

To reproduce the bug:

Go to
Behavior > Pages > go to a single page row, like Bali > Page Overlay
![image](https://user-images.githubusercontent.com/22874146/192777482-45296514-522d-47a2-aba5-21396e6688cf.png)

Th

[2022-09-28 12:30] atom-box opened #19782 "Styling bug: For Page Overlay, the left side panel div is partially covered in Firefox"
To reproduce, go to Behavior > Pages > (then select from a single page row “Overlay” by pressing the overlay icon).
It seemed to not be present in Chromium but not totally sure.

The bug is arrow 2 in the diagram below.

![image](https://user-images.githubusercontent.com/22874146/192778826-86472c12-d331-4c99-ba15-177849f0c05b.png)

[2022-09-28 13:32] mindbreaker opened #19783 "DE: Segment translation for saveAndApply"
Looks like the translation excapes the & in the button.
![image](https://user-images.githubusercontent.com/225204/192791792-b647b98e-ec13-4f55-bd14-175731f51599.png)

[2022-09-28 15:35] Nyaundi commented on #19767
Okay, understood. I apologize for that

[2022-09-28 19:54] tsteur commented on #19768
We would certainly need to release a new version of that plugin and require `matomo: >=4.12-rc1,<5.0,0-b1` (not sure it was already included in a beta version maybe?).

I'm not sure about also releasing another update with `matomo:>=4.0.0-rc1,<4.12-rc1`. It probably should work but would need to make sure to maybe release this update before the other one. I haven't tested this though what happens

[2022-09-28 21:24] varunKothare opened #19784 "Make channel groupings configurable (more flexible attribution reporting)"
Similar to what is available in GA
([About Channel Groupings - Analytics Help](https://support.google.com/analytics/answer/6010097?hl=en#zippy=%2Cin-this-article) and [Default channel definitions - Analytics Help](https://support.google.com/analytics/answer/3297892?hl=en&ref_topic=6010089)))

A way to adjust "All Channels" with users own rule set to define which traffic will be assigned to which c

[2022-09-28 21:34] tsteur opened #19785 "Report::getMetricsForTable(): Argument #1 ($dataTable) must be of type Piwik\DataTable, bool given"
Seeing below error on Matomo 4.11. Not sure if it's Cohorts specific or an issue in core.

[2022-09-28 21:43] tsteur opened #19786 "Hundreds of API requests sent to API.getSuggestedValuesForSegment when trying to configure a segment"
I'm clicking on "Add new segment"

Then I select "Page URL".

Then it starts fetching data. As soon as I click around or type of for some reason it starts sending hundreds of requests to the API causing a massive load.
<img width="853" alt="image" src="https://user-images.githubusercontent.com/273120/192893944-4300dfba-b7b0-434c-a885-6184b3aeb9c3.png">

Call stack:
<img width="700" alt="image" src

[2022-09-28 21:54] atom-box commented on #19653
A user suggests:

 Is there an option that I can change the output of DASHBOARD FOR ALL SITE and replace
i.e. TURNOVER by GOALS ?

![image](https://user-images.githubusercontent.com/22874146/192895598-100e8d68-a31c-460d-8f97-04065a9ebaa7.png)

[2022-09-28 23:01] justinvelluppillai commented on #19786
@diosmosis is this a vue related regression?

[2022-09-28 23:06] diosmosis commented on #19786
@justinvelluppillai seems likely. I'll look into it.

[2022-09-28 23:28] tsteur commented on #19768
A release with `matomo:>=4.0.0-rc1,<4.12-rc1` would be actually needed indeed to prevent people from updating to a newer version of DeviceDetector that wouldn't be compatible 👍

[2022-09-29 02:16] peterhashair commented on #19768
Generate a PR that updates plugin.json and CHANGELOG.md, @AltamashShaikh will release 4.3.0 should fix this one. will test it after release.

[2022-09-29 04:05] peterhashair commented on #19768
We release the 4.3.0 for DeviceDetectorCache Plugin, which should fix that problem. But if people use git version control to `checkout` the release, maybe still have the problem with that one, until we run the submodule updates on Friday at 2:00.

[2022-09-29 14:10] atom-box commented on #19772
A user asks

_"can we create accounts with password directly in matomo without sending a validation mail?
Thanks in advance"_

"peut'on créer des comptes avec mot de passe directement dans matomo sans envoyer de mail de validation ?
Merci d'avance"

[2022-09-29 15:05] Chardonneaur opened #19790 "When exporting the goal by pages --> page urls as a csv file, new metrics are getting displayed"
Hi,
When exporting the goal by pages --> page urls as a csv file, new metrics are getting displayed, https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=day&date=yesterday&idSite=1&category=Goals_Goals&subcategory=4 for example:
nb_conversions_page_uniq
nb_conv_pages_before
and we don't really know what do they refer to as there many column t

[2022-09-29 15:07] Chardonneaur opened #19791 "Improve the UX on the goal page"
Hi,
When we are on https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=day&date=yesterday&idSite=1&category=Goals_Goals&subcategory=4
and that we select a report, for example: Goals by Pages --> Page URLs and that we change the date, then it unselect the Page URLs report and we have to select it back.
It could be great to stay on the same rep

[2022-09-29 16:18] atom-box commented on #19772
A non technical user asks

_"I try to create a new user but this person never receives an activation email. I tried to return and even to recreate the user but it does not change anything. I am not a developer and I am not the person who installed Matomo within the company. We don't manage ourself the exchange server of mail but I can tell you that we also use MailInblack as a solution to filter t

[2022-09-29 16:23] atom-box commented on #16267
_A user comment._

Feature: Page titles
Like: No
Choice: missingfeatures
Feedback:
Segmente wie bei Google Analytics
Source: On-Premise

[2022-09-29 19:28] atom-box commented on #19772
A user has declined to update to version 4.11 because of the Create New User feature change:

_4.10.1 - if we will do update, we cant set password for users - cutrrently working propertly on ver 4.10.1_

[2022-09-29 19:58] justinvelluppillai commented on #19772
@jane-twizel this might be something we could work with Product Team on to define and deliver. If it wasn't a bit of a trade off between security and usability we might be treating this as a regression since the feature makes some valid use cases no longer possible.

[2022-09-29 21:10] tsteur opened #19792 "What's new entry in Matomo 4.12 shows "Privacy Manager" in title twice"
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/273120/193142566-51a68d6c-cee4-4c31-adf2-6ebd39f2fd1f.png">

[2022-09-29 23:03] bx80 commented on #19778
Hi @marcosciamanna, thanks for the suggestion, this sounds like a really helpful improvement :+1:
I've scheduled it for prioritization by our product team.

[2022-09-29 23:50] bx80 commented on #19780
Hi @canuonifeng, thanks for reaching out.

Normally Matomo will not create archive tables before the date the site was created. You can check your site created data in the `site` table `ts_created` column to confirm it isn't set back to 2008 for some reason.
If you have run any manual reports invalidations for dates this range then this could have caused old archives tables to be created.
If for s

[2022-09-29 23:57] bx80 commented on #19781
I can confirm this issue on demo.matomo.cloud. Seems like it might be CORS setup related?

![Screenshot_20220930_125316](https://user-images.githubusercontent.com/88810029/193161815-0ea8304e-e98d-4391-b22f-444fa4cabbd9.png)

[2022-09-30 00:01] bx80 commented on #19781
Unable to recreate locally on 4.x-dev. Any thoughts @samjf?

[2022-09-30 00:19] bx80 commented on #19782
Hi @atom-box, I can't recreate this either on Firefox 91 or 102.3.0esr. What version of Firefox and OS are you running?

[2022-09-30 00:21] bx80 commented on #19783
Thanks for reporting this @mindbreaker :+1:

[2022-09-30 00:39] bx80 commented on #19785
This can be recreated easily using the supplied URL, the date in the future might be the problem as the same URL with a date in the past works correctly. It looks like the `core/Plugin/Visualization` class is not gracefully handling scenarios where the datatable does not exist, so this issue may exist elsewhere.