[2021-04-08 01:05] diosmosis commented on #17428
@nelhefni the Goals plugin doesn't have any logic to rearchive in the past when it changes: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Goals/API.php#L198-L232. The funnels plugin does, which is connected, but then I would expect to see Funnels reports in this table. Can you try editing a goal or creating a goal, then checking what gets added to archive_invalidations (then truncate t

[2021-04-08 03:33] flamisz commented on #15021
Hi @mattab,
how do you feel about putting it under the graph, like in the middle. This is probably the quickest way, but of course it can be on the top right, but probably takes more time.

<img width="811" alt="Screen Shot 2021-04-08 at 3 31 25 PM" src="https://user-images.githubusercontent.com/6749509/113964452-a4516b80-987f-11eb-989a-fba68c0dfea2.png">

This would be visible every time (not jus

[2021-04-08 05:56] nelhefni commented on #17428
@diosmosis I did update the funnel attached to one of my goals.
ID of the funnel changed from 32 to 33.
After the update, nothing was added to the archive_invalidations table, but 2 rows were removed:

[code]

Then, when the cron job started, the invalidation process added a lot of new rows to the archive_invalidations table:

[code]

This seems to make sense, as we have 3 segments, and go back to

[2021-04-08 12:05] mwalliczek commented on #17420
Ok, after clean installation everything is working fine. Thanks for your help.

[2021-04-08 12:55] mddvul22 commented on #17431
Thanks @diosmosis When looking at the log_visit table, it appears that the data did get deleted.  The oldest data in that table is dated April 8th, 2019.  What should I be seeing when I look at the log_link_visit_action table?  The server_time column of the first row in that table is showing a timestamp of "2014-04-1 13:35:07".

[2021-04-08 15:07] diosmosis commented on #17428
Hi @nelhefni, I'll add context to your investigation below:

This is expected, we remove pending invalidations for the old funnel ID.

So far, still expected: when we edit the funnel, we add the information to rearchive to list in the option table, core:archive will look at that list before archiving a site and create invalidations. We do this so the request to edit a funnel doesn't slow down due

[2021-04-08 15:27] heurteph-ei commented on #13819
It seems the issue can be closed, right?
![image](https://user-images.githubusercontent.com/79993552/114053973-b89d6480-988f-11eb-800d-1de80f6d9f3f.png)

[2021-04-08 15:45] diosmosis commented on #17431
@mddvul22

For the `log_visit` table, would you be able to OPTIMIZE it to see if it decreases the size? This should be done as part of the purging process, but if the mysql user is not allowed to or it's disabled by matomo config, it won't happen.

Regarding the `log_link_visit_action` table, rows should be deleted from them as well, however, we don't delete via server_time, but through idvisit. W

[2021-04-08 15:50] diosmosis commented on #17420
Glad it's working for you, I'll close this.

[2021-04-08 15:50] #17420 closed, assigned to nobody

[2021-04-08 23:40] nelhefni commented on #17428
@diosmosis thanks for the explanation

Here is the content of the `ReArchiveList` option:

[code]

[2021-04-09 05:44] mattab commented on #15021
@flamisz I reckon we might not want to show all the 4 states at all times (too much info/pixels). But showing the text label of the current state, will "hint" users that other states are available (and which one they're currently looking at).

 maybe we could try to move the icon to the right, and adding the text label on the right of the icon, like roughly on this mockup, could work? No idea if i

[2021-04-09 05:55] diosmosis commented on #17428
Hi @nelhefni, thanks for going through the trouble of investigating this issue so thoroughly! I was able to track down the root causes of the two issues identified so far:

- https://github.com/matomo-org/matomo/pull/17437
- https://github.com/matomo-org/matomo/pull/17439

They will hopefully be ready to test or merge soon.

I'm still not sure about the Funnel invalidations reoccurring, though. If

[2021-04-09 07:16] nelhefni commented on #17428
thanks @diosmosis !

[2021-04-09 12:01] j-maas commented on #16672
I encountered this issue as well. In Firefox, opening the history panel, right-clicking on the website, and choosing "Forget complete website" did *not* work. I logged back in and still only saw an empty page.

However, disabling tracking protection (the shield in the URL bar) reloaded the page correctly. Even after reactivating tracking protection, it seems to work now.

[2021-04-09 13:43] ziegenberg opened #17441 "Exporting main metrics with a period of "week" as CSV produces broken exports"
When exporting the main metrics with a period of _week_ as CSV the resulting export is broken, because the date span contains a comma, which is also the column separator used in CSVs.

## Expected Behavior

Exporting main metrics with a period of _week_ as CSV results in usable data.
Example:
[code]

## Current Behavior

Exporting main metrics with a period of _week_ as CSV results in broken data.

[2021-04-09 13:59] sgiehl commented on #17441
Hi @ziegenberg. Thanks for creating this issue. I was able to reproduce. This should indeed be escaped correctly.

[2021-04-09 14:00] ziegenberg commented on #17441
PR incoming.

[2021-04-10 12:45] mddvul22 commented on #17431
Thanks @diosmosis I think I'm making progress.  I ran the following command (giving it a shorter time period, as you mentioned):

`./console core:delete-logs-data --dates=2001-01-01,2015-04-08 --optimize-tables`

After a few hours, I got the error that PHP had run out of memory.  I was already giving it 2GB.  But I raised it to 3GB, and started over.  This worked and the first step of deleting vis

[2021-04-10 14:48] diosmosis commented on #17431
@mddvul22 it means the connection was automatically closed because it hadn't been used in a certain amount of time. We have a faq about how to fix these errors: https://matomo.org/faq/troubleshooting/faq_183/. Can you see whether any of these work for you?

[2021-04-11 12:29] OnlineArts commented on #17138
@diosmosis
Unfortunately not.

Today I was able to apply all the SQL updates commands (3.14.1->4.1.1) without executing the console script. It looks like the segment data are still present but in for some segments I received:
QLSTATE[42S22]: Column not found: 1054 Unknown column 'log_conversion.visitor_days_since_first' in 'field list' - in plugin Goals

I'll retry to apply all SQL changes at once

[2021-04-11 15:42] diosmosis commented on #17138
Hi @OnlineArts,`visitor_days_since_first` should no longer be in use in 4.x, I'm guessing the code base is still pre-4.x? Or maybe the webserver is using a previous file cached w/ opcache or something.

[2021-04-11 20:13] diosmosis commented on #13819
@heurteph-ei the requested feature would actually be more powerful than what was added. Currently you can change it to show the lastN for the currently configured period (eg, a daily email w/ the last30 days or a weekly email w/ last30 weeks), but you can't, eg, send a weekly email w/ the last30 days, or a weekly email with the last1 year.

[2021-04-11 20:32] diosmosis commented on #17388
Thanks @heurteph-ei for going through all the trouble of reproducing it on demo.matomo.cloud! It's certainly a bug. Seems to have to do with segments like `dimension2==Git-17388;dimension2==another-author`. I think it should be interpreted as "select visits that contain an action w/ dimension2 == Git-17388 AND an action w/ dimension2 == another-author", but it's clearly not doing anything.

[2021-04-11 20:42] flamisz commented on #15021
thanks @mattab, I can make today a quick change, so you can see it feels. I'll let you know when it's ready.

[2021-04-11 20:58] diosmosis commented on #17353
Hi @utrautmann, apologies for the late reply, definitely looks like a bug, though it might be hard to track this one down. Thanks again for reporting it!

[2021-04-11 21:42] diosmosis commented on #17299
Hi @utrautmann, apologies for another late reply. From looking at the code it seems like the referrer is being set incorrectly when the Referer header is set to `sub.domain.de`. It should be recognized as part of the same site (if it's listed in the URLs portion of the site's settings). Can you tell me if your website is configured like this in Matomo:

![image](https://user-images.githubuserconte

[2021-04-11 23:34] #17424 closed, assigned to sgiehl

[2021-04-12 01:34] tsteur opened #17444 "Invalidate segment data on update only if the definition changes"
In https://github.com/matomo-org/matomo/blob/4.3.0-b2/plugins/SegmentEditor/API.php#L278 we trigger to rearchive the segment whenever it is updated. However, we should only do this if the definition changes (because the meaning of the report changes) or if the autoArchive changes from false/0 to true/1 (because then we'd want to make sure to have all the needed reports for in the past depending on

[2021-04-12 09:26] flamisz commented on #15021
@mattab this is a short video how could it look like:

https://user-images.githubusercontent.com/6749509/114372416-a09e4b80-9bd5-11eb-9b5c-ea095fdd08a3.mov

simple change in the less file and adding some styles.

[2021-04-12 13:05] utrautmann commented on #17299
Hi @diosmosis , my website is configured im Matomo like this

- https://mydomain.com
- https://www.mydomain.com
- https://seconddomain.com

The explicit www entry is configured because as a workarround for #12418
The tracking snippet contains following script:

[code]

[2021-04-12 15:20] diosmosis commented on #17299
@utrautmann Are you able to add the `sub.domain.com` URL that appears as a referrer? I believe that might workaround the problem.

[2021-04-12 16:10] heurteph-ei opened #17450 "Email reports management: per group instead of per user"
# Summary
Today, if I want to create (and share) an **Email & SMS Report**, I can do it, thanks to the [dedicated feature](https://matomo.org/docs/email-reports/):
![image](https://user-images.githubusercontent.com/79993552/114424211-2f9c6b00-9bb8-11eb-9267-5f60c8b69320.png)
(Note: I think it is strange to place this feature in **Administration > Personal** menu 🤨)

Then I add many colleagues in t

[2021-04-12 16:14] MaghSamana commented on #17259
Sorry for the late reply. I found some time to monitor this at varied occasions. The problem isn't tied to specific browsers - any visitor browser and any version, gives wrong metrics. In fact, there aren't any - everything becomes "server time" and all other metrics vanish.

I think the old API is still better for now.

[2021-04-12 16:17] MaghSamana commented on #17259
@diosmosis Also: the tracking code I use is the very basic one (which is generated automatically by Matomo in the relevant settings page). No additional js or events.

[2021-04-12 16:22] utrautmann commented on #17299
@diosmosis : Where should I exactly add the subdomain-URL? In the backend configuration or/and in the tracking script ("setDomains..."-method)? Thank you.

[2021-04-12 16:35] heurteph-ei opened #17451 "Logo & favicon feature: Change logo or favicon is taken into account even if not submitted"
# Expected Behavior
[Matomo logo and favicon customization](https://matomo.org/faq/new-to-piwik/faq_129/) feature
When I upload a new logo or favicon, it should not be saved until I use the submit button

# Current Behavior / Steps to Reproduce
1. Go to **Administration > System > General Settings** menu (or something like that, as my Matomo is in French, I am not sure of the English wording)
2. I

[2021-04-12 17:10] Findus23 commented on #17390
https://plugins.matomo.org/DiagnosticsExtended contains a system check urging people to enable OPcache and checks a few options for correctness.

[2021-04-12 20:27] #17422 closed, assigned to nobody

[2021-04-12 20:28] Findus23 commented on #17451
I'm not entirely sure if this is worth changing as it would be a lot of additional complexity (at the moment the upload just replaces the file) and this would then need additional versioning, a DB lookup to find out which is the correct file, etc. for a very basic feature.

Maybe the better way would be to make the help text more clear that the upload replaces the existing files.

[2021-04-12 20:49] tsteur commented on #17450
Thanks for creating this issue @heurteph-ei it be valuable indeed. We have an issue for this already in https://github.com/matomo-org/matomo/issues/15164 and somewhat related too https://github.com/matomo-org/matomo/issues/7076 . I'll close this for now as a duplicate. Thanks for creating this issue it helps us prioritise often requested features 👍

[2021-04-12 20:49] #17450 closed, assigned to nobody

[2021-04-12 20:50] tsteur commented on #15164
also requested in https://github.com/matomo-org/matomo/issues/17450

[2021-04-12 22:18] diosmosis commented on #17428
@nelhefni both of the PRs have been merged, would you be able to see if they solve the problem for your?

[2021-04-12 22:19] tsteur opened #17452 "Offer opt out without iframe / 3rd party cookies"
3rd party cookies work less and less and eventually won't be available anymore. Kind of related post https://matomo.org/blog/2020/02/new-cookie-behaviour-in-browsers-may-cause-regressions/ For the opt in to work we therefore need a different way and set first party cookies.

Matomo for WordPress already doesn't use the opt out iframe anymore and sets first party cookies. In On-Premise as part of h

[2021-04-12 22:36] diosmosis commented on #17259
Hi @MaghSamana, thanks for the reply! https://github.com/matomo-org/matomo/pull/17427 should fix the issue

[2021-04-12 22:38] diosmosis commented on #17299
@utrautmann in the backend configuration. This is what's used when detecting whether a referrer URL is from a the same site or somewhere else.

[2021-04-12 22:50] mattab commented on #15021
Nice! it looks good to me.
 (would write the label like the submenu font: same size, and case)

[2021-04-12 23:29] diosmosis commented on #17451
@Findus23 I guess we could just have a publish option that needs to be checked as well, and if not checked we display the default favicon. If checked, then we display the uploaded custom logo. This would just need a new boolean setting. Think that would work?

Going to mark this as an enhancement.

[2021-04-13 07:30] heurteph-ei commented on #17451
Hi all,
My favorite solution is @diosmosis one. But if we switch to @Findus23 solution, then the save button must be removed...

[2021-04-13 08:41] Findus23 commented on #17451
@diosmosis But if the user already had a custom logo and uploads a new one it will be overwritten even if the save button is not hit as the upload of the file itself overwrites the file. I don't know a simple solution for this.

[2021-04-13 08:45] Findus23 commented on #17452
In theory something like this might work and be user-friendly, right?
[code]
With optout.js being a file like matomo.js that is able to read the data parameter and then use it as a target of https://developer.matomo.org/guides/tracking-javascript-guide#optional-creating-a-custom-opt-out-form to create an opt-out box that looks like the iFrame.

Only issue is maybe localisation as this might bloat

[2021-04-13 11:37] brainfoolong opened #17454 "JS Tracking code may generate "The operation is insecure" warnings with specific Firefox settings"
This bug is just a follow up to a already known bug, but i decided to start a new issue here as the others are marked as resolved or have been merged.

References:
* https://forum.matomo.org/t/firefox-84-promiseerror-securityerror-the-operation-is-insecure/40299/8
* https://github.com/matomo-org/matomo/pull/17139
* https://github.com/matomo-org/matomo/issues/17136

Ok, i can now reproduce this bug

[2021-04-13 22:44] diosmosis commented on #17454
Hi @brainfoolong, I have a couple questions:

- Does just `console.log(navigator.serviceWorker)` emit the error?
- Does `navigator.serviceWorker.ready.catch(function () {})` also cause the error?

Also, I'm not completely up to speed on the discussion around this issue, so forgive me if this is obvious, but what's the impact of this bug? Does nothing track because of it or is it just an error in t

[2021-04-13 22:55] diosmosis commented on #17451
@Findus23 would it work to save the file to a different filename (ie, uploaded-favicon.png), then change the name on publish?

[2021-04-13 23:49] andyjdavis commented on #17352
https://github.com/matomo-org/matomo/pull/17400 has now merged. I believe this issue can be closed.

[2021-04-13 23:52] diosmosis commented on #17352
Fixed by #17400

[2021-04-13 23:52] #17352 closed, assigned to nobody

[2021-04-14 04:13] brainfoolong commented on #17454
Hi, just the try to use `navigator.serviceWorker.ready` will cause the exception. It causes error in the javascript console. And also causes errors to be logged when you have a system that log javascript exceptions. So does in our case. It clutters our logs.

This code from matomo does not run on firefox in this case because of this exception, but i don't know what it exactly does.
https://github.

[2021-04-14 04:18] diosmosis commented on #17454
Hi @brainfoolong, can you check if `'ready' in navigator.serviceWorker` has the same problem?

[2021-04-14 04:21] brainfoolong commented on #17454
@diosmosis No it does not, but it does not help in this case, at it returns `true` anyway.
![image](https://user-images.githubusercontent.com/1684236/114654027-93728100-9ce9-11eb-80be-c220c6c8ee25.png)

[2021-04-14 04:22] diosmosis commented on #17454
That's unfortunate. Thanks for checking.

[2021-04-14 04:29] brainfoolong commented on #17454
And another note: You can catch this error, but cannot make the error go away. I've tried 3 different methods:

	window.addEventListener('unhandledrejection', function (e) {
	  console.log(e)
	}, false)

	window.addEventListener('error', function (e) {
	  console.log(e)
	}, false)

	try{
		navigator.serviceWorker.ready
	}catch(e){
	}

![image](https://user-images.githubusercontent.com/1684236/1146

[2021-04-14 04:53] diosmosis commented on #17454
Looks like there's a bug in the firefox tracker for this:

https://bugzilla.mozilla.org/show_bug.cgi?id=1413615
https://stackoverflow.com/questions/49539306/firefox-service-worker-securityerror-domexception-the-operation-is-insecure/

If it's possible to detect when that privacy feature is enabled we could avoid the error. Failing that it could be conditionally enabled/disabled in the tracker.

[2021-04-14 05:01] brainfoolong commented on #17454
Yes, maybe. But, this issues are years old and nobody cares about... Maybe it could be an option in matomo, to prevent offline tracking and so to prevent the use of service worker hooks?

But my question really is, what does this part of the code? I cant see any use of this, as the registered "matomoSync" does no seem to be used anywhere else.

Also, the use for `sync` is experimental and not read

[2021-04-14 05:02] #17259 closed, assigned to flamisz

[2021-04-14 05:04] diosmosis commented on #17454
That comment was just to provide information from my research.

Unfortunately, I don't know what this code is for as I wasn't involved in writing or reviewing it, but @tsteur might be able to answer why it's there.

[2021-04-14 08:24] Findus23 commented on #17454
The part it interacts with is the service worker in https://github.com/matomo-org/matomo/blob/4.x-dev/offline-service-worker.js

https://github.com/matomo-org/matomo/blob/086874bb001f22381916bee51de87ec41452782e/offline-service-worker.js#L117-L121

The documentation is just the description of https://github.com/matomo-org/matomo/pull/15970 and https://matomo.org/faq/how-to/how-do-i-set-up-matomo-o

[2021-04-14 08:26] Findus23 commented on #17451
@diosmosis That might work, I didn't think of this possibility.

[2021-04-14 08:29] brainfoolong commented on #17454
@Findus23 Thx for clearing this up. This is indeed good to know, as we firewalled our matomo instance and only pass matomo.js and matomo.php through, so this wouldn't even work for us.

Beside that, i think using a highly experimental feature, the `sync` in service worker, is not that good in a widely used production product, isn't it?

[2021-04-14 11:47] mddvul22 commented on #17431
Hi @diosmosis I've been following that page you linked to for the past several days, raising the values each time and retrying the command to optimize tables, and still it fails each time with:

  [PDOException]
  SQLSTATE[HY000]: General error: 2006 MySQL server has gone away

Here are my current settings, as specified on that page:

I don't have wait_timeout specified.  But according to the [doc

[2021-04-14 15:25] #17444 closed, assigned to sgiehl

[2021-04-14 15:30] diosmosis commented on #17431
Hi @mddvul22, is it taking longer than 28800 seconds (8 hours) to see this error or less time? Are you able to check if there are any long running DELETE queries in your mysql via `SHOW PROCESSLIST`?

[2021-04-14 21:34] flamisz commented on #16510
the fix was merged, this can be closed now.

[2021-04-14 21:34] #16510 closed

[2021-04-15 00:44] peterbo commented on #16147
@code-penguin - What are the ToDos on this ticket? Only the reporting? This seems to be a quite good feature if it worked!

[2021-04-15 01:02] diosmosis opened #17459 "Website Measurables can be created with no URLs which breaks some features"
When creating a website measurable, we want to make sure at least one URL is always defined. However, since site URLs can be specified by plugin setting, it's possible to omit the `'urls'` plugin setting entirely, or just send the name, eg, `['name' => 'urls']` instead of `['name' => 'urls', 'values' => ...]`. In these cases, Matomo just ignores the setting entirely, never checking it or setting i

[2021-04-15 06:24] selametaydogdu opened #17463 "Email export as TSV format"
According to the documentation, only CSV, HTML and PDF email reports can be sent:
https://matomo.org/docs/email-reports/
But not in TSV format.

[2021-04-15 07:47] sgiehl commented on #16147
@peterbo  Did you check if that still doesn't work? I've just tested it with a manually triggered `_paq.push(['trackGoal', idGoal, customRevenue, {dimension1: 'DimensionValue'}]);` locally. And the custom dimension was set correctly in the `log_conversion` table. Maybe this issue has been fixed meanwhile and can be closed?

[2021-04-15 08:13] sgiehl commented on #17463
@selametaydogdu Thanks for the suggestions. This might be easy to implement. Maybe I can have a quick look later.

[2021-04-15 10:48] peterbo commented on #16147
Hi @sgiehl ! - For visit scope custom dimensions, this works, but not for action scope Custom dimensions. This would make a lot of sense to attach multiple attributes to a conversion. Otherwise, you'd have to send an event along with all custom dimensions attached. But getting this reported afterwards is a nightmare.

For example, the request:
`https://example.com/piwik.php?cdt=2021-04-14+15%3A52%

[2021-04-15 11:25] sgiehl commented on #16147
I guess that is actually by design. For the scope conversion the defined dimensions of scope visits are used, so there won't be any action dimensions tracked. See e.g. https://github.com/matomo-org/matomo/blob/539faeac7f49fac5d63e78edeaef25ab40f4020f/plugins/CustomDimensions/CustomDimensions.php#L335-L356

[2021-04-15 11:55] peterbo commented on #16147
@sgiehl - thank you for providing the code! Ok, I see. Having this would be great, also an action custom dimension report in the goals report would be a fantastic tool.

For other users, that are pulling their hair out, searching for the reason, why this doesn't work, we should probably note this in the documentation until this might be implemented, because from a user's perspective, this is not s

[2021-04-15 12:17] sgiehl commented on #16147
The "problem" is that the `log_conversion` table holds his own customdimension columns. Currently they are kind of synced with the visit dimension ones. If we would like to have visit and action dimensions here we would need to hold columns for both.
But actually I wonder why it holds the visit dimensions at all. Those could be determined by joining the `log_visit` table any time. So in theory it

[2021-04-15 13:14] peterbo commented on #16147
Great ideas, @sgiehl !! - I would vote for the scope conversion proposal. From an analytical perspective, conversion attributes are most often distinct from attribute types that are tracked for (behavioural) actions. And also from the coding perspective, this could make things a bit easier (no values would have to be kept in sync or doubled in the conversions table).

The only place where it could

[2021-04-15 13:37] mddvul22 commented on #17431
Definitely more than 8 hours to see the error.  I'm now running the command again, but this time I prefaced it with "time", so I can get a real idea of when the error occurs.  Also, I'll check what SHOW PROCESSLIST can show throughout this run time.

[2021-04-15 14:07] diosmosis commented on #17431
@mddvul22 ok, if it takes more than 8 hours, it might be that there's just too much data to remove. Upping the wait_timeout to something higher might help for this initial run.

[2021-04-15 14:12] sgiehl commented on #17434
I actually couldn't find any code that invalidates old archives when a Goal is updated.
@nelhefni are you using the Funnels plugin? That one might invalidate it's own reports when a Goal changes. But imho it shouldn't take so long to rearchive the Funnel reports. ping @diosmosis

[2021-04-15 14:18] diosmosis commented on #17434
@sgiehl this should be fixed by the PRs linked here: https://github.com/matomo-org/matomo/issues/17428#issuecomment-816429185 . We're waiting for verification there (otherwise I guess we'll close it before release).

[2021-04-15 14:47] sgiehl commented on #5312
@tsteur Shall we apply any other changes for the next release or are the changes in #17151 good enough for now?

[2021-04-15 14:48] mddvul22 commented on #17431
Ok, I've raised the wait_timeout to 86400.  Now running the command again.

[2021-04-15 21:18] tsteur commented on #5312
@sgiehl I would say it's good enough. For new users it's becoming less and less of an issue anyway since most sites don't use HTTP anymore etc and for existing users it should be mostly fixed by this. The mentioned FAQs would need to be created though and then could close the issue for now 👍

[2021-04-15 22:22] tsteur commented on #16025
Title of widget: "Current local time in website's timezone". I'm thinking this be most useful especially when the site is not in the same timezone as you are (which can be the case fairly often).

If you are for example based in LA, and the site is configured to be in NY, then we'd want to show the current time in NY.

Additionally, if the local time is different from the site's time, then we show

[2021-04-16 00:04] #17463 closed, assigned to sgiehl

[2021-04-16 03:26] flamisz commented on #14977
@mattab where would be this icon and text exactly? Pos1, pos2, pos3 or somewhere else?

<img width="1440" alt="Screen Shot 2021-04-16 at 3 23 23 PM" src="https://user-images.githubusercontent.com/6749509/114967213-249f4e80-9ec8-11eb-8964-48d21341da1b.png">

[2021-04-16 12:03] mddvul22 commented on #17431
Ran the script yesterday, after increasing the wait_timeout to 86400 (24 hours).  I got the same error as before.  It appears to have generated the error just about 10 minutes ago.  At this moment, SHOW_PROCESSLIST doesn't show any long running processes, but I wasn't on the server just before it died.  It ran for 16 hours and 4 minutes before it generated the error.  So, it appears that the probl

[2021-04-16 13:51] sgiehl commented on #15780
@tsteur What are the remaining tasks on this issue? Shall we  detect all changes in DOM automatically and attach tracking events if needed? I guess we would need to use MutationObserver (and maybe fall back to Mutation events). But both wouldn't cover all older browsers.

[2021-04-16 15:15] sgiehl commented on #4481
I had a rough look through the reports and create two PRs where the guide urls were missing.
@mattab Can we maybe close this issue afterwards and check if the guide urls for the reports are set in Matomo whenever we publish a new/updated guide?

[2021-04-16 16:04] diosmosis commented on #17431
@mddvul22 the tables are optimized at the end of the process. Could you try and manually optimize the tables?

[2021-04-16 16:15] mddvul22 commented on #17431
I'd be happy to try.  The command I have been running, all along, is:

./console core:delete-logs-data --dates=2001-01-01,2019-04-08 --optimize-tables

What should I run for manually optimizing the tables?  Is it just:
./console database:optimize-archive-tables all

-Bryan

[2021-04-16 16:17] heurteph-ei opened #17468 "Some settings update do not log in the activity log - Some other are wrongly logged."
# Expected Behavior
Have relevant Matomo activity log

# Current Behavior
Some settings update do not trace in the activity log.
Some other are wrongly traced.

# Possible Solution
Implement the logging where missing :wink:, fix it where misconfigured.

# Steps to Reproduce
1. Go to **Administration** > **System** > **General Settings** and update :pencil: some configuration in **Archiving setting

[2021-04-16 16:54] diosmosis commented on #17431
@mddvul22 I meant running the sql to optimize a single table at a time. If it takes so long to optimize a single table that the mysql connection times out, it might be better to run the queries one by one yourself. I'm hoping this is just because the tables are so large right now, and won't be an issue on subsequent runs. Given the log_visit table optimize finishes you can probably skip that one.

[2021-04-17 14:01] mddvul22 commented on #17431
The piwik_log_visit.ibd is definitely smaller.  Originally, it was 161GB.  Now, it is 138GB.  Last night, I ran "OPTIMIZE TABLE piwik_log_link_visit_action;" from inside mariadb.  In the mysql output, before I went to bed, it showed that it had completed 100% of the optimization, but it was still doing something, as I had not been returned to a mysql prompt.    Checking it this morning, I see that

[2021-04-17 15:51] diosmosis commented on #17431
It sounds like the connection timed out but the query still ran (as it should). I think the tables are just too large to optimize in time.

I would suggest setting the `[General] enable_sql_optimize_queries` INI option to `0` to make sure Matomo doesn't optimize the tables and run into a connection timeout. Then every week or every month or however often you'd want to run a query like that, optimi

[2021-04-18 20:19] tsteur commented on #15780
Not sure if @flamisz maybe already started working on it (we talked about it a bit last week) but basically https://github.com/matomo-org/matomo/issues/15780#issuecomment-610632941 would need to be done and should work. We wouldn't want to use MutationObserver if any possible (eg for performance reasons etc)

[2021-04-18 22:39] flamisz commented on #15780
I just looked into it a little bit, but did not start work on it, feel free 😄

[2021-04-18 23:41] #14065 closed

[2021-04-18 23:59] diosmosis commented on #17468
Hi @heurteph-ei, thanks for the bug report! Would you be able to email this report to `shop@innocraft.com`? That is where we handle issues with our premium features (we have an internal tracker for them). Thanks!

[2021-04-19 00:00] #17468 closed, assigned to nobody

[2021-04-19 01:08] Starker3 opened #17471 "Ignore User ID or Visitor ID when either is set to 'undefined' or all zero UID"
## Summary

In some cases the tracking code implementation for tracking User IDs can be setup incorrectly or the application/tracking code is not able to correctly retrieve a device UID (In the case of apps)

In these situations the User ID may be set to `undefined` in the case of the standard javascript implementation and in some cases of mobile app implementation it may return the User ID as all

[2021-04-19 01:11] tsteur commented on #17471
We ignore the userId for such visits on the cloud. Also for `null`, `nil` etc. But for On-Premise we don't do it just yet as it can be hard to debug and find out why something is not working. Eg you get a bug report userId feature not working etc vs you can see it that you have an error when `undefined` comes up in the userId report. It may be possible to use the tracking failure feature for this

[2021-04-19 01:25] Starker3 commented on #17471
Is there any sort of softfail for tracking? More like a warning than a total tracking failure?

[2021-04-19 01:29] tsteur commented on #17471
Not really AFAIK. We could maybe in the user report add a footer message at some point and mention it if we notice some of those values that look faulty were detected. Most of the times, when undefined or something similar is used then the majority of visits have such a userId and it could be also seen likely in the report quite clearly anyway (obviously it's not super clear but saying it as it re

[2021-04-19 02:24] Starker3 commented on #17471
@tsteur Okay, I understand.
Would it maybe be possible to log a warning when a User ID or Visitor ID is ignored if we do implement something like this instead of a tracking failure?

The main reason I'm thinking it might be a bit higher priority is there is no way to correct tracking data that is tracked with the incorrect User ID or Visitor ID(because User ID overwrites Visitor ID by default) whi

[2021-04-19 02:34] tsteur commented on #17471
@Starker3 we don't have any such logging in tracker method just yet unfortunately.

[2021-04-19 04:26] mattab commented on #4481
btw here is a new guide we published recently: https://matomo.org/docs/dashboards/

Good idea, could you please create a ticket in KB to mention this? (we'll add it to the workflow)

[2021-04-19 04:27] mattab commented on #14977
Maybe Pos3 or Pos1? (only when the date range is, or includes, today)

[2021-04-19 07:41] sgiehl commented on #4481
@mattab Not sure where to add a link to `https://matomo.org/docs/dashboards/`. Guess it won't make sense to have the link for each dashboard in the menu. Might make more sense for the main menu item in this case, but we don't support that yet. Other possibility would be to add it somewhere in the dashboard configuration dropdown maybe...
Feel free to create a new issue for this special link and wh

[2021-04-19 07:41] #4481 closed

[2021-04-19 09:23] parruc opened #17474 "Stuck on Applying queued rearchiving after big installation update to matomo 4"
## Expected Behavior
Archive cron does not get stuck on Applying queued rearchiving...

## Current Behavior
Archive cron gets stuck during "Applying queued rearchiving..." doing queries like and writing nothing else.

`SELECT option_name, option_value FROM `piwik_option` WHERE option_name LIKE '%report_to_invalidate_733_2021-01-29%" `

up to a point where it goes out of memory (we have 28GB of mem

[2021-04-19 12:33] parruc commented on #17474
a couple of screenshot from htop and mysql show processlist minutes before out of memory:

![Screenshot from 2021-04-19 14-23-45](https://user-images.githubusercontent.com/1440608/115236247-6d027a80-a11b-11eb-87fa-4608ff602c2a.png)
The second archiving process is a "normal" process started while commenting out
`#$this->invalidator->applyScheduledReArchiving();`
to have fresh statistics while solvi

[2021-04-19 17:35] ctrought commented on #13130
Is it not possible to export individual page metrics? The subtables option has no effect it seems, I only get a top level view of metrics.

[2021-04-19 21:16] tsteur commented on #17301
@flamisz was about to create a new issue for below comment but then realised it may be better to do it as part of this issue as it helps us validate/check if we fully achieved the wanted outcome. We could still close the issue later and create a separate issue for it if there's trouble.

Now that we moved the segment hash into the DB table in https://github.com/matomo-org/matomo/pull/17408 / https

[2021-04-20 01:08] tsteur commented on #15575
To fix this problem we want to fix the generic problem that a persistent notification only seems to disappear when logging out and logging in.

You can reproduce this by applying this change

[code]

Then go to marketplace, and try to install a plugin. Then go back for example to the marketplace page or the Platform -> API page in the Matomo admin.

The notification will always appear again, even

[2021-04-20 01:09] diosmosis commented on #17474
Hi @parruc, can you run `SELECT COUNT(*) FROM piwik_option WHERE option_name LIKE '%report_to_invalidate_733_2021-01-29%'` and see how many items it's trying to select?

[2021-04-20 01:13] tsteur commented on #15575
![image](https://user-images.githubusercontent.com/273120/115322301-dfd22b00-a1d9-11eb-8bd5-999a7eff956e.png)
problem is there's no notificationId defined in the angularjs component. It's likely only set in the scope.

[2021-04-20 02:32] tsteur commented on #17471
@Starker3 we could probably add this otherwise as a system check and look at eg last X days of data to see if this happens but then it may sometimes show up in the system report and then disappear again and then show up again whenever the bug happens. And once it's been fixed it would be still shown for a while and would only disappear after X days of fixing it. The logs itself wouldn't be too hel

[2021-04-20 07:35] parruc commented on #17474
Thanks for the quick response @diosmosis .

Sure thing, with that id/date combo I have none but for example:

`SELECT COUNT(*) FROM piwik_option WHERE option_name LIKE '%report_to_invalidate_14006_2021%';` 6

Some other numbers that may be interesting:
`SELECT COUNT(*) FROM piwik_option WHERE option_name LIKE '%report_to_invalidate_%';` 18964

`SELECT COUNT(*) FROM piwik_option;`  203705

`SELECT

[2021-04-20 13:58] heurteph-ei opened #17476 "When displaying the heatmap page, the used CSS should be the one provided by the original page"
# Expected Behavior
When displaying the heatmap page, the used CSS should be the one provided by the original page

# Current Behavior
When the CSS path of the original path:
 - is not on HTTPS
 - OR is not on the default port (default HTTPS is 443)
the CSS is not loaded when displaying the heatmap.
It seems the other resources (images, etc.) encounter the same problem...

# Possible Solution
Regi

[2021-04-20 15:20] diosmosis commented on #17474
A couple more questions @parruc:

- How many websites exactly are in this matomo? How many of them receive traffic? And do you track data in the past for any of them?
- How many segments do you have in your matomo? Do you use any premium plugins and have you activated any of them recently?
- Can you try the following query: `SELECT LENGTH(option_value) WHERE option_name = 'ReArchiveList'`? And if

[2021-04-20 16:15] parruc commented on #17474
Sure @diosmosis :

To answer tour question our installation has 20030 users, 18 segments (8 pre-processed, 10 processed in real-time) and 19876 websites of which I would say about 70% receive daily traffic (it's a really rough estimate)

Plugins (excluded the ones from core and maotmo) are:
CustomAlerts 4.0.1 (https://github.com/matomo-org/plugin-CustomAlerts)
InvalidateReports 4.0.1 (https://gith

[2021-04-20 19:16] diosmosis commented on #17474
Hi @parruc, one thing you can do right now is DELETE the `ReArchiveList` option. The entry there was to fix in issue in 4.0, but since you're updating from 3.x, it's not required.

How recently did you update to 4.x? If it was relatively recent, you can likely TRUNCATE the archive_invalidations table. This should probably solve the issue for you.

[2021-04-20 22:11] diosmosis commented on #17476
Hi @heurteph-ei, thanks for another detailed bug report! Heatmaps is another premium plugin so we'd want these issues reported to shop@innocraft.com.

[2021-04-20 22:11] #17476 closed, assigned to nobody

[2021-04-21 12:26] Berbe commented on #17399
This is very disturbing.

Please either:
- make `core:update` clean obsolete files (core application + shipped plugins)
- update documentation to state this needs to be done manually
Also consider updating https://matomo.org/changelog/matomo-4-0-0/ to make an explicit statement about it.

While the former would involve way more work but would eventually be way more rewarding (keeping the promise o

[2021-04-21 13:24] sgiehl commented on #17399
@Berbe we are already planning to improve it for the next release.

[2021-04-21 19:49] #17301 closed, assigned to flamisz

[2021-04-21 21:20] tsteur opened #17479 "UI: Disabling browser archiving is not clear it does not disable browser archiving for segment"
![image](https://user-images.githubusercontent.com/273120/115619678-4d03ce80-a348-11eb-8ad9-a7c4e6e39564.png)

We should at least mention that segments are still processed on demand when browser archiving is disabled (no need to mention it when the browser enforce setting is enabled in the config). This is important because it's not expected from the user perspective that this is the case.

Anothe

[2021-04-21 21:23] #15021 closed

[2021-04-21 21:43] flamisz commented on #14977
Hi @mattab, I looked into this issue and had a chat with @tsteur as well about it.

Showing a generated date on the top of the page is not that clear every time, as the page contains more reports, and that can happen, the data was not generated at the same time for every one of them.

But what I see is not easy to find this information currently on the UI, what if we improve that part? We can add

[2021-04-22 04:20] mattab commented on #14977
:+1:

:+1:  that could work well, would be helpful to see what it could look like.

[2021-04-22 10:59] allanedk opened #17481 "Track viewability using Matomo content tracking"
Using Matomo's content tracking you can currently track either 1) All content impressions or 2) Visible content impressions.

It would be great to be able to track both "all impressions" and "visible impressions". It would allow you to analyze and monitor the viewability-% (or *in-view* percentage) of a specific content item and to know true click-through-rate of a content piece.
Much like what ad

[2021-04-22 14:02] Chardonneaur commented on #16939
I saw another case today on a different client of mine, for which the traffic is listed in campaign name, but when you click on the visit log associated to the campaign name, all the visits have the campaign name stripped out. As a result segments are not working.

[2021-04-22 14:06] Chardonneaur opened #17482 "Campaign parameters: if the keyword field is not filled it gets filled by the referrer domain name"
When you use the new version of the Matomo URL builder and use all fields except the one of the keywords, the one of the keyword get automatically field with the domain name of the referrer.

## Expected Behavior
If a parameter is not used, it shouldn't be filled automatically with a value.

## Current Behavior
If the keyword parameter is not used but others are: name, source, medium, content, cam

[2021-04-22 18:28] mddvul22 commented on #17431
I wanted to come back to this.  I've continued to work on this.

I finally got our raw logs trimmed down to our desired two years.  I then completed the table optimization via the mysql command line.  Then, I made a few php.ini changes, based upon the information on this page:  https://haydenjames.io/mysql-server-has-gone-away-error-solutions/

Finally, I ran the following command last night:

./c

[2021-04-22 21:48] YamasakiRhys opened #17484 "Upgraded from 3.x to 4.2.1: Not receiving data due to SQL error"
Having an issue after upgrading from 3.x that is using a query to grab columns that are not existent with 4.x db.
Receiving an error with a query with a select statement in the db causing a sql error.

## Expected Behavior
Should query expected columns within the table.

## Current Behavior
Getting a error with select query:
ERROR Piwik\Tracker\Handler[2021-04-07 18:16:19 UTC] [e58b4] Exception: /

[2021-04-22 22:22] flamisz commented on #14977
@mattab and @tsteur that's what I had in my mind. A permanent small icon, when the date range contains today and we have the report generated time. I can add it to more reports probably.
The icon is a pie chart on the video, I will add a proper clock later.

What are your thoughts? Should we show the icon permanently or just on hover like the others? It is smaller and lighter than the others now.

[2021-04-22 23:36] mddvul22 opened #17486 "Providers 100% Unknown When Using Webserver Logs, Works when Using Javascript Tracking?"
We are using the free Maxmind GeoLite2-City database with our Matomo install.  Our Matomo install is mainly using a nightly import of Apache logs for the majority of the websites being used with our Matomo.  For every one of these sites, when you click on Vistors->Locations, and scroll down to Providers, it states that 100% are "Unknown".

However, we have configured **_one_** of our websites in M

[2021-04-23 00:05] diosmosis commented on #17353
I was able to reproduce this by chance on cloud. The problem appears to be this code: https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/CoreHome/javascripts/dataTable.js#L415-L421 which sets the max-width to 60px. It happens if this logic is executed while the widget is not shown (ng-hide is on the widget containing the table). The max width is then set too early. A timeout would probably

[2021-04-23 00:13] diosmosis commented on #17431
That's great to hear @mddvul22! I'll close this since it's working for you.

[2021-04-23 00:14] #17431 closed, assigned to nobody

[2021-04-23 00:18] diosmosis commented on #17486
Hi @mddvul22, can you look for an IP that is both in your log file and in your Matomo database and see if the provider is geolocated successfully in the maxmind demo: https://www.maxmind.com/en/geoip-demo? Can you also make sure the IP isn't anonymized in any way in the log files?

[2021-04-23 00:23] diosmosis commented on #17484
Hi @YamasakiRhys, sorry you're experiencing this issue. Do you know which columns are missing in the table that are also in the query (the error message does not say which columns it can't find)? Can you also describe how you updated your Matomo? Did you follow the manual update process or use the one click update feature?

[2021-04-23 00:55] diosmosis commented on #17482
Hi @Chardonneaur, I tried to reproduce this on https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Referrers_Referrers&subcategory=Referrers_URLCampaignBuilder but couldn't (I also tried locally). `mtm_kwd` was never present if I left the keyword field blank. Can you provide a screenshot of the pr

[2021-04-23 01:25] mattab opened #17488 "Remove the "Visitor ID" segment when the "Visitor profile" feature has been disabled"
In the context of CNIL submission of Matomo for exemption, it would be valuable if there was an easy way to disable the capability segment users based on the `Visitor ID` dimension.

We currently offer privacy feature to [disable "visitor profile" feature](https://matomo.org/faq/how-to/how-do-i-disable-the-visits-log-or-the-visitor-profile-feature/) in:

![Screenshot from 2021-04-23 13-20-37](http

[2021-04-23 09:23] notken opened #17493 "Matomo iframe widgets report “For embedding widgets super user token auths are not allowed” but auth token is read-only"
## Expected Behavior

When providing a token in the URL for an embedded widget, I would expect the widget to use that token user for authorisation. The token I'm providing is for a read-only user.

## Current Behavior

I have a superuser login and a cookie for that login. If I use the widget URL while logged in, it's using my cookie/session for authorisation, complaining that I can't use a super u

[2021-04-23 11:30] sgiehl commented on #17493
Hi @notken. Thanks for creating this report. That's indeed something we should improve. I guess any widgetized report should always only use the authentication for the given token_auth instead of any session.

[2021-04-23 12:36] mddvul22 commented on #17486
Hi @diosmosis Here is an example: at approximately 23:19:41, last night, we had a visit from the IP address 67.225.10.219.
Here is how the javascript tracking shows the visit.  You can see the provider is listed:

![image](https://user-images.githubusercontent.com/6833993/115871092-b695e280-a405-11eb-8508-d5c40789a84c.png)

Here is how log analytics shows that visit, with no provider shown:

![ima

[2021-04-23 12:48] sgiehl commented on #17486
Hi @mddvul22  Looking up the provider is disabled by default when importing visits. This was initially implemented to prevent reverse dns lookups to identify the provider. You can disable that default by setting the `--enable-reverse-dns` for log importer.
Nevertheless I guess we actually could do the geoip lookup in any case, as it shouldn't take long to do it.

[2021-04-23 12:56] mddvul22 commented on #17486
Thank you!  I've added --enable-reverse-dns to our import command and will run the import with that, tonight.  Thanks!

[2021-04-23 15:18] diosmosis commented on #17493
@sgiehl I think this is a duplicate of https://github.com/matomo-org/matomo/issues/17335

[2021-04-23 15:35] notken commented on #17493
I agree. It does seem identical. Can anyone merge them, or should I just close this one?

[2021-04-23 15:37] diosmosis commented on #17493
I can close it. Regardless, thanks for taking the time to report the issue @notken!

[2021-04-23 15:37] #17493 closed, assigned to nobody

[2021-04-23 17:14] YamasakiRhys commented on #17484
Hi @diosmosis.  Thank you for your response.  We did a manual update at first for Matomo and were receiving an issue that sql wasn't completing this query because it was missing columns. It doesn't specifically state which columns are missing but from our table structure compared to the select statement, it seems that there are quite a few missing.
mysql> DESCRIBE matomo_qa.matomo_log_visit;
+----

[2021-04-24 00:13] diosmosis commented on #17484
@YamasakiRhys It looks like no dimensions that aren't listed in the initial table definitions are added except CustomDimensions. I would say the mysql user doesn't have the privilege to alter tables, but in that case the custom_dimension_* columns wouldn't be added. Can you run the following query and post the results:

[code]

?

[2021-04-24 01:12] YamasakiRhys commented on #17484
Hi @diosmosis.

We added the missing permissions but still seem to be getting an error.
Here is the result of what we received when running the query you suggested:

mysql> SELECT * FROM `matomo_option` WHERE option_name LIKE 'version_log_%';
+------------------------------------------------------------+------------------------------------------------------------------------------+----------+
| op

[2021-04-24 02:12] diosmosis commented on #17484
@YamasakiRhys can you try to run this SQL:

[code]

? Then update Matomo again (via the update command or via the one click updater). Matomo will try to add the columns again. (Note: if you're doing this on the new install it should work unless the problems is not w/ the mysql user privileges. If you're doing this on the upgraded install, you may need to set version_core to the 3.x version to run

[2021-04-24 14:37] MichaIng opened #17497 "Re-allow tracking bots"
## Summary
With #16795 a `robots.txt` has been implemented which breaks tracking of bots. Tracking bots to derive the sites and frequency of search machine crawlers is valuable information, hence bots should by default be tracked like any other visitor. There is even a [plugin](https://plugins.matomo.org/BotTracker) available to track bots separately based on user agent, which totally lost its pur

[2021-04-25 09:49] uok opened #17498 "Error in FAQ: Delete visits using SQL - not everything is deleted"
FAQ: https://matomo.org/faq/how-to/faq_20184/
Section "Delete visits using SQL query"
Code "delete all data for a given website"

After running the code with e.g. log_visit.idsite = 1, everything is deleted from all tables except entries in table `log_action`.
There are many entries left that belong to this site. How can I delete them?
From what I can understand is that info is linked via idaction

[2021-04-26 07:40] parruc commented on #17474
Hi @diosmosis , Your suggestion worked and now the archive process does not get stuck anymore (I uncommented the incriminated row) so thank you a lot. I still see the archiver memory problem: when it runs for hours the memory consumption skyrockets, but it is probability another thing so I will open another issue if it keeps doing it ;-)

Thanks again

[2021-04-26 07:40] #17474 closed, assigned to nobody

[2021-04-26 08:29] ampaze commented on #16125
Waiting for the Browsers to start freezing the User Agent before implementing Client Hints is really asking for trouble...

Client Hints are enabled by default in Edge 90 and Chrome 90, it won't be that long before User Agent freezing is here.

[2021-04-26 08:56] Findus23 commented on #16125
It would be great if Client Hints could become a browser standard (both https://wicg.github.io/ua-client-hints/ and https://datatracker.ietf.org/doc/html/rfc8942 seem to be a draft and experimental) and be implemented by more than one browser (engine). Also I don't see any specific information that User Agent freezing is no longer delayed indefinitly (https://bugs.chromium.org/p/chromium/issues/de

[2021-04-26 09:09] Chardonneaur opened #17499 "Evolution graph of acquisition overview does not work"
When we click on the titles of each channel sources at the bottom of the overview graph, it works for the first two channels, then it goes to 0 for every period.

## Expected Behavior
When we click on direct traffic, it should plot the direct traffic, when we click on campaigns it should plot the campaign traffic...

## Current Behavior
It gets buggy after two clicks

## Possible Solution
Force th

[2021-04-26 09:44] Findus23 opened #17500 "useEventValueAsRevenue still ticked after switching goal type"
reported in https://forum.matomo.org/t/switch-goal-type-after-creation/41593/2

## Expected Behavior

One can create a goal with type "send an event" and afterwards switch the type successfully

## Current Behavior

- create a new goal with "send a goal" set
- tick `Use the event value (if it exists) as the goal conversion revenue.`
- save the goal
- edit the goal
- change the type to "visit a giv

[2021-04-26 10:23] eramirezprotec commented on #12251
Hi, @mattab. Since your comment, I spoke with my supervisor and we are trying to get the corresponding permission to share this code with you. I'm sorry about the delay. I will let you know as soon as I get an answer.

[2021-04-26 11:51] mpaglia0 opened #17501 "Error during installation (wrong dimension of file)"
Hi all,
installed Matomo latest this morning.
During the installation I saw and error regarding the dimensions of file /node_modules/materialize-css/dist/css/materialize.min.css
The installation goes ahead without problems but - upon login - I cannot see any data...
Files have been transferred via FTP in binary mode as recommended.
![Senzanome](https://user-images.githubusercontent.com/21242068/11

[2021-04-26 12:23] sgiehl commented on #17501
@mpaglia0 Thanks for creating this issue. I don't think this is a general problem of Matomo. Could you please check your browser console if all files could be loaded correctly? If you see some html files failing to load, you might need to adjust you server configuration to fix this.

[2021-04-26 12:44] mpaglia0 commented on #17501
@sgiehl I think you are right... I will go and see my .htaccess.
Thank you!

[2021-04-26 12:44] #17501 closed, assigned to nobody

[2021-04-26 13:55] utrautmann opened #17502 "Email report: Goals Overview is empty"
When I configure an Email report with some goals to report, so I have a list of checkboxes.

If I now select the checkboxes "Goals overview" - marked red, see screenshot - , there are no results in the report. even though goals have been achieved.
![grafik](https://user-images.githubusercontent.com/25771066/116093272-d39d1080-a6a6-11eb-8a9f-279bd6ff29d8.png)

This are the results in my report (dow

[2021-04-26 13:58] ampaze commented on #16125
That is most likely how it will work out, even if other browsers don't follow. Chrome alone has enough users, that it might be wise to be prepared for a potential UA-Freeze, even if it will be postponed by Google for a while.

[2021-04-26 20:31] mddvul22 commented on #17486
This worked.  Thanks!

[2021-04-26 20:31] #17486 closed, assigned to nobody

[2021-04-26 20:50] tsteur commented on #17497
Hi @MichaIng  it did affect actually quite a few users which is why it was added. Generally though, there's a wildcard configured for the tracking endpoints: https://github.com/matomo-org/matomo/blob/4.3.0-b3/robots.txt#L30-L32 and things should work (in theory). Is it maybe that you use a different endpoint for tracking? I see we could for example also add `js/index.php` and `js/tracker.php`.

[2021-04-26 21:02] MichaIng commented on #17497
The wildcard + Disallow means that all clients who respect the `robots.txt` will not read the endpoints.

The idea of the `robots.txt` text was that the tracking endpoints shall be blocked for **all** bots (hence the wildcard) while only known search machines crawlers shall not crawl any of the contained files. This was required as otherwise `wget` fails to access anything (e.g. reports) as well.

[2021-04-26 22:31] tsteur commented on #17497
Thanks for the reply @MichaIng . I was reading the htaccess wrong and it is blocking all bots. I'll try follow up with this internally next week or the week after and get back to you. We may need to have some kind of option for this and re-evaluate whether it actually helped for Google ads submission or not.

[2021-04-26 22:32] tsteur commented on #17497
Moving this for now into 4.3 milestone but there's nothing to be done just yet. We need to discuss what could be options to make this work again.

[2021-04-27 00:22] MichaIng commented on #17451
The PHP temporary directory wound be suitable I guess, which is also a volatile tmpfs often.

That could be of use: https://www.php.net/manual/function.sys-get-temp-dir.php

[2021-04-27 02:54] flamisz commented on #17499
Hi @Chardonneaur, sorry about this. It's indeed a bug, as we can easily reproduce it on the demo site [here](https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Referrers_Referrers&subcategory=General_Overview). After the 3rd click we get only flat graphs.

I set this issue as bug so we can hopefu

[2021-04-27 03:38] tsteur commented on #16125
Moved it back to 4.3 milestone 👍

[2021-04-27 04:02] flamisz commented on #17498
Hi @uok, thanks for creating this issue. I tested the SQL and indeed it does not emptying the `log_action` table, just deletes rows from it.

It's not a code related issue, I will discuss with the team what is the best way to solve this so we can hopefully get things sorted and working for you.

[2021-04-27 14:47] felix-berlin commented on #17454
We get similar errors. However, not only in Firefox but also in Safari (iOS and MacOS).

[2021-04-27 18:19] YamasakiRhys commented on #17484
@diosmosis
That worked!  Matomo updated the tables with the appropriate columns that were missing and everything is working now.
Thank you for your help with this!  We couldn't figure out what was wrong so your help was great!  Closing this thread now.

[2021-04-27 18:19] #17484 closed, assigned to nobody

[2021-04-27 20:36] tsteur commented on #17454
I'll move this into the current 4.3 milestone so we can investigate further.

[2021-04-28 10:29] patrick-stickler-csc-fi opened #17507 "Inconsistent results from Reporting API when defining segments using pageTitle =^ (starts with)"
We are encountering unexplainable inconsistency in the Matomo API responses when segmenting data using pageTitle prefixes.

Please see the query examples below and their Matomo responses, and the subsequent questions.

**Notes:**

1 - We do not utilize the Matomo Javascript at all, but push all event data directly to the Matomo Tracking API using custom application code, whereby we explicitly spec

[2021-04-29 10:57] AJHoeh opened #17509 "Filtered monthly page views do not sum up to filtered yearly page views"
When requesting data from the page url table and filtering it regarding a specific url, the data returned for requests for each month of a year independantly does not sum up to the data returned for a request regarding the whole year. This holds true both for using the webinterface as well as using the API.

## Expected Behavior
Values of a metric for all months of a year should sum up to value of

[2021-04-29 11:48] f1-outsourcing opened #17510 "it is better to offer a .tar(.gz) instead of zip"
so you can use the strip function ;)

[2021-04-29 11:53] sgiehl commented on #17510
We are offering zip and tar.gz on https://builds.matomo.org/

[2021-04-29 11:53] #17510 closed, assigned to nobody

[2021-04-29 11:59] infomotions opened #17511 "QueuedTracking does not handle mysql COMMIT failures"
## Expected Behavior
The queues would be processed without error.

## Current Behavior
Intermittently the Queued tracking plugin throws errors while processing its queue. When this occurs, the processing call fails and the queues grow without being relieved.  Sometimes, the call will eventually go through and things will continue to process normally, though backlogs can get very large and sometime

[2021-04-29 12:14] infomotions opened #17512 "Error raised in running Queued Tracking test"
Using Matomo 4.2.1 with latest QueuedTracking plugin

## Expected Behavior
Test completes successfully.

## Current Behavior
In a working redis/queued tracking environment we get the following on one of our setups when running the following command:

./console queuedtracking:test

Settings that will be used:
Backend: redis
NumQueueWorkers: 4
NumRequestsToProcess: 1
ProcessDuringTrackingRequest: 0

[2021-04-29 19:48] flamisz commented on #17509
Hi @AJHoeh, thanks for creating the issue.

I can confirm those number, really have that difference between the yearly and the sum of monthly reports (I even tried to get the monthly report with date in the middle of month, just to make sure this is not a weird issue with the edge of the months). Sorry about this.

We do our best to investigate what could makes this different.

[2021-04-29 20:33] tsteur commented on #17509
@AJHoeh in case you can it may be worth it invalidating the reports for the entire year and reprocessing it again see https://matomo.org/faq/how-to/faq_155/ and checking if it comes right afterwards. For example you could run a console command like

[code]

Please note that this may take a long time to regenerate all reporting data and that if you have configured raw data deletion then you may not

[2021-04-30 09:30] AJHoeh commented on #17509
Hey @flamisz and @tsteur, thanks for the fast reply!

Just to not send you down the wrong road, it came to my mind that I didn't test whether the bug is also present for unfiltered data, so it is possible that this is a more general issue and has nothing to do with filtering.

@tsteur thanks for the advice, "Regularly delete old raw data" is not enabled so I will try that next week when I am at wo

[2021-05-02 21:00] mattab commented on #14977
@flamisz Video 1 looks good to me :+1:

[2021-05-02 22:35] Starker3 opened #17516 "Matomo shows visits that occured at Midnight (Start of next day) in visits log for previous day"
## Expected Behavior

When viewing the visits log for example for the 7th of February, we would expect that visits that occur at or after midnight (Start of the the next day) to not be show in the visits log.

## Current Behavior

Any visits that are recorded at exactly Midnight which is the start of the day for the 8th of February for example are shown in the visits log for the date of the 7th, b

[2021-05-02 22:40] tsteur commented on #17516
kind of refs https://github.com/matomo-org/matomo/issues/9053 https://github.com/matomo-org/matomo/issues/11165

Might have been added 10 years ago to fix some timezone issues but it's not 100% clear.

[2021-05-02 23:02] tsteur commented on #17509
Unfortunately there isn't. In case you have access to your database and if you are familiar with MySQL then you could check using a query below:

[code]

You might need to adjust the table prefix `matomo_` with something different like `piwik_` or remove it depending on your database configuration. If it returns a result, then there is raw data for that date.

[2021-05-03 02:51] tsteur commented on #7573
@mattab @diosmosis I think now that we have the ability to archive only requested reports (and support partial archives) maybe we could use this also for ranges (which are aggregated during browser archiving usually).

Background:
Say you request a custom report and you have 50 custom reports configured, it means it will aggregate the ranges for all 50 custom reports. If some of them need to proce

[2021-05-03 07:25] heurteph-ei commented on #17509
Hi all,
A little idea (not tested because I have no such data): Maybe the difference is when some visits are made around midnight (start before and end after). In such case, the visit belongs to 2 days or even in 2 months in case of end/begining of month...
The visit should then appear in month 1 and in month 2 but should be counted only once for the year accumulation.
**IDEA TO BE CHECKED!**
Also

[2021-05-03 14:08] jorgeuos commented on #8401
Hi,
We are experiencing this in Matomo 3.14.1, will try to patch with suggested fix and post the output.

[code]

Br, Jorge

[2021-05-03 15:04] jorgeuos commented on #8401
The error occurs when a limited user is trying to access the list of reports, and there is non.
The patch solved it, also confirmed with 4.1.1. See patch for 4.1.1 below:
[code]
br, Jorge

[2021-05-03 20:52] tsteur commented on #17509
#17516 is only for the visits log but not for reports in general (they use very different underlying code). I'm quite certain the visitors being counted twice is not an issue but at the same time you can never rule anything out. The way these reports are generated I very much doubt this is the case though here. Good bringing this up though

[2021-05-04 12:50] AJHoeh commented on #17509
@tsteur Thanks for the guidance, I appreciate it. Data was there so I invalidated the reports and manually archived the data again. Unfortunately, the result is exactly the same (actually thats probably a good thing, otherwise I wouldnt have a clue whats going on and whether I could trust any of our data anymore). If there is anything I can do or test to help find out what causes the bug, please l

[2021-05-04 14:18] heurteph-ei commented on #17509
@AJHoeh Maybe you can try to find some visits thanks to the segmentation using one or other filter below:
![image](https://user-images.githubusercontent.com/79993552/117016926-7aab2900-acf3-11eb-9210-205597c3d914.png)
and then check the visit logs of the result...
@tsteur , a feature is missing: date or numeric values comparisons in the segmentation (`<`,`≤`, `≥`, `>`). Is this planed in the futur

[2021-05-04 23:57] #17173 closed, assigned to nobody

[2021-05-05 00:11] tsteur commented on #17509
@heurteph-ei  there should be already a feature request for this 👍

[2021-05-05 04:45] mattab commented on #7573
@tsteur this would be a high value improvement for UI performance and  reducing DB usage, significantly in some cases. Sounds good to schedule it in a 4.x.0  :rocket:

[2021-05-05 04:49] tsteur commented on #7573
I was more meaning only adding a major issue but not scheduling it yet but added it for now to 4.5 milestone as it would be good to have but not 100% sure on it's impact yet (in some cases it be quite a big impact though). To be seen how easy it is to develop.

[2021-05-05 11:26] AJHoeh commented on #17509
Okay, so I conducted a few experiments:
1. I requested the total pageviews via method=VisitsSummary.get and compared yearly vs sum of monthly data - they mathed
2. I did the same thing initially described in this issue but left out the filter parameter - the data matched
3. I did the same thing initially described in this issue but used period=range and date=2020-01-01,2020-12-31 instead of year -

[2021-05-05 22:38] diosmosis commented on #17511
Hi @infomotions, sorry you're experiencing this and thanks for reporting the issue. It does seem like QueuedTracking doesn't handle failed COMMITs, I'll mark this as a bug.

[2021-05-05 23:18] diosmosis commented on #17507
Hi @patrick-stickler-csc-fi, thanks for reporting this, it does seem odd.

Regarding questions 1&2:

I tried reproducing this on matomo.cloud and wasn't able to. So my guess right now is that the data for some or all of these segments might be out of date (there were some bugs in 4.2.1 around this logic). Can you try invalidating the segments for the date range and requesting them again? To do so

[2021-05-05 23:41] diosmosis commented on #17502
Hi @utrautmann, I wasn't able to reproduce this myself. Could you try the following to help us figure out what's going on:

* check if this is true of all dates/periods or just some of them
* check if data appears in Goals Overview if it's the only report in an email report
?

[2021-05-06 04:59] patrick-stickler-csc-fi commented on #17507
Thank you for getting back to us. I will try your suggestions and let you know if it resolves the issues.

Regards,

Patrick

--
Patrick Stickler
Senior Software Specialist, Research Data Services
CSC - IT Center for Science Ltd., PO Box 405, 02101 Espoo, FINLAND
+358 50 381 8615, ***@***.***

[2021-05-06 06:48] andyjdavis commented on #7051
I was curious and this bug still exists.

Return many columns.
https://demo.matomo.cloud/index.php?module=API&method=API.get&idSite=1&period=day&date=yesterday&format=JSON&token_auth=anonymous
`{"nb_uniq_visitors":2966,"nb_visits":3161,"nb_users":2...`

Return a single column.
https://demo.matomo.cloud/index.php?module=API&method=API.get&idSite=1&period=day&date=yesterday&format=JSON&token_auth=an

[2021-05-06 09:34] martinjobb commented on #16842
@gusevmaksim I'm experience the same issue as you with a similar segment.

"Page URL" - "Starts with" - "https://example.com"

All other segments are being processed as expected but this one doesn't. Did you find a way forward for this?

[2021-05-07 02:03] #17336 closed, assigned to flamisz

[2021-05-07 10:06] dieisraels commented on #17138
I have the same problem that the historical data of segments are not rehashed in Matomo 4.2.1. The segment definition is:
[code]
Or a bit simpler:
[code]
[code]
We are only shown data after the segment was created.

[2021-05-07 16:45] utrautmann commented on #17502
@diosmosis , I can reproduce this in all constellations you mentioned and additionally in three different Matomo 4.2.1 installations.
I did not find any constellation where the "Goals overview" works in the email report.

As a further addition: "Goals Overview - Visits to Conversion" and "Goals Overview - Days to Conversion" are not empty in the same report. The report tables contain conversions i

[2021-05-08 09:05] Osomo3000 opened #17534 "Matomo mysqldump import issues"
I dumped a database from an old Matomo Server (v3.9.1). I want to import the dump into our new Matomo Server (v3.14.0). The old Database use _PIWIK as Prefix, and the new Database use _MATOMO as Prefix. If I try to import the old database to the new server, the old database doesn't merge with the new database. Is there any solution to integrate the old database into the new Matomo Database?

## Ex

[2021-05-09 15:11] andyjdavis commented on #7051
Here is a possible fix for this. https://github.com/matomo-org/matomo/pull/17535

There are currently test failures as I haven't yet updated the expected values in the tests. I'm posting my work thus far in the hopes of verifying that this approach is acceptable.

[2021-05-09 17:28] diosmosis commented on #17534
Hi @Osomo3000, unfortunately we don't answer questions in this issue tracker, we only handle feature requests or bug reports. We'd appreciate it if you asked this question in our forum: https://forum.matomo.org/. Thanks for your understanding.

[2021-05-09 17:28] #17534 closed, assigned to nobody

[2021-05-09 17:33] diosmosis commented on #17502
Hi @utrautmann, thanks for checking! I'm not sure what's going on in your Matomo, but I suspect we'll need some sort of access to make progress. Would you be willing to provide access to your Matomo instance (enough to be able to see and preferrable create new reports)? If so, can you email dizzy@innocraft.com?

[2021-05-09 17:41] diosmosis commented on #17138
Hi @dieisraels, what version of Matomo are you using? And what precisely do you mean by `after the segment was created`? Do you mean if a segment is created today on May 9th, 2021, you will only see data for May 9th onwards?

Also note, that the parameter supplied in core:invalidate-report-data has to be encoded the exact same way it appears in the URL when viewing the segment data from the UI. Th

[2021-05-09 22:34] tsteur commented on #17497
We would for now remove the rules for `matomo.php` and `piwik.php` and see if it causes issues again re Google.

[2021-05-10 00:20] andyjdavis commented on #7051
I have closed that pull request as this is a breaking change that needs to wait for the next major version (5.0.0).

[2021-05-10 02:49] #17497 closed, assigned to nobody

[2021-05-10 03:45] tsteur commented on #17509
If you select a month, then it would be expected to only return visits from the current month if the segment also is the number for the current month. Not sure it's clear what I mean?

You might be looking at the visitor log which is very different logic to regular reports and there is partially some logic to show some extra visits from very beginning of the following month but this is not the cas

[2021-05-10 07:28] patrick-stickler-csc-fi commented on #17507
Hello,

Is there a way to use the console:invalidate-report-data which invalidates all report data for all dates for all segments for a particular site ID?

Or do I need to execute console:invalidate-report-data for each and every segment that I have used in the past via the analytics API?

Also, when I use the —cascade option, with -vvv and specifying a —dates parameter that is just the year, I g

[2021-05-10 11:17] patrick-stickler-csc-fi commented on #17507
After running core:invalidate-report-data per below, we still see inexplicable behavior such as the following, when first trying to match against page title exactly versus as a prefix. The exact match fails, but the prefix match returns results that include events that should have matched exactly:

curl -k "https://localhost/index.php?token_auth=*&format=json&date=2021-05-10&period=day&idSite=14&m

[2021-05-10 11:18] sgiehl commented on #11817
This shouldn't be an issue anymore as we meanwhile switched to GeoIP2.

[2021-05-10 11:18] #11817 closed

[2021-05-10 11:19] sgiehl commented on #9855
This shouldn't be an issue anymore as we switched to GeoIP2 and `/libs/MaxMindGeoIP/geoip.inc` isn't used any longer.

[2021-05-10 11:19] #9855 closed

[2021-05-10 18:01] Grateful-Viv opened #17541 "Remove Bounce Rate & Revenue Columns from Reports [Add possibility to configure / remove / disable certain columns or metrics]"
How can I leave this information off customized reports?

[2021-05-10 18:19] dieisraels commented on #17138
Thank you for pointing this out. The missing URL encoding was a problem. And the archiving process was partially aborted because the DB was restarted!?! I need to get it checked why this is the case. Should I assume that the reports are incomplete if the archiving process was aborted? Or will incorrect reports be recreated during the next archiving process?

[2021-05-10 19:46] dieisraels commented on #17138
One more note (it may not be the appropriate issue): I found that the invalidation of the segments via the plugin in the interface does not work as expected:
![matomo-donation](https://user-images.githubusercontent.com/988359/117715790-0d0e6980-b1d9-11eb-8f03-2277994caacf.png)

If I start the archiving process afterwards, no new data is processed:
![matomo-cron-1](https://user-images.githubusercon

[2021-05-10 19:59] MichaIng commented on #17497
Many thanks. matomo.js and piwik.js need to be allowed as well, AFAIK. Will test it.

[2021-05-10 20:10] tsteur commented on #17497
@MichaIng there shouldn't be a need for the bots to access these

[2021-05-10 20:19] tsteur commented on #17541
Hi @Grateful-Viv that's not possible yet unfortunately. I'll move this issue into the main `matomo` repository as it would need to be developed there. The only way would be to use [custom reports](http://plugins.matomo.org/CustomReports) and build your own reports. I'll also add a note to the title to have a more generic solution for this.

refs https://github.com/matomo-org/matomo/issues/2390 whe

[2021-05-10 20:33] mattab commented on #17497
@tsteur I think the .js files are needed for the bots that execute JavaScript if you want them to also execute Matomo JavaScript and track them...

[2021-05-10 20:38] MichaIng commented on #17497
But the JavaScript is what is added to the document via tracking code. And the JavaScript then performs the actual tracker call:
[code]
Results in:
[code]
Which performs the matomo.php call, or do I misunderstand the logic?

Now I wonder why the short code snippet does not do the matomo.php call directly, like it is for non-JS clients:
[code]
But at least the Google crawler loads scripts. If block

[2021-05-10 20:43] tsteur commented on #17497
@mattab that could be actually a good thing as then also the accessible matomo.php wouldn't be an issue maybe. it be just like someone with an ad blocker etc.

We can add it if really needed but I reckon it could be a good compromise between making tracking bots work from the importer script and not having the crawlers access the JS. But we can add it for people that want to track bots without the

[2021-05-10 21:57] diosmosis commented on #17507
Hi @patrick-stickler-csc-fi:

Unfortunately not at the moment. You could specify a large enough date range (see below in the next part of this reply), but currently there's no way to specify all segments. And if there were, it would only be possible to invalidate segments that are specifically created in the UI or via the SegmentEditor API, since otherwise they would not be stored in the `segment`

[2021-05-10 22:09] diosmosis commented on #17138
@dieisraels

When archiving finishes for a period, it's marked as done, if it doesn't finish this doesn't happen, and it should be processed again.

Can you tell me if you specified a website to invalidate or was the first selector empty when you invalidated?

[2021-05-11 03:15] #17335 closed, assigned to flamisz

[2021-05-11 03:50] mattab commented on #17497
Well, as a workaround, people could always go in their robots.txt and manually delete the matomo|piwik.js lines? So i suppose it's fine this way as well

[2021-05-11 05:56] patrick-stickler-csc-fi commented on #17507
Thank you again for the detailed guidance. I executed the following sequence of queries/commands, and as shown, the console command has no affect. Am I still doing something incorrectly, or shouldn’t the console command have resulted in the initial query finding the events that the final query does?

curl -k "https://localhost/index.php?token_auth=*&format=json&date=2021-05-03&period=day&idSite=14

[2021-05-11 06:42] patrick-stickler-csc-fi commented on #17507
I don’t know if it matters, but I will note that we have configured Matomo to treat segments as filters per the legacy behavior, by defining the following in config.ini.php:

[General]
enable_segments_cache = 0

--
Patrick Stickler
Senior Software Specialist, Research Data Services
CSC - IT Center for Science Ltd., PO Box 405, 02101 Espoo, FINLAND
+358 50 381 8615, ***@***.***

[2021-05-11 08:06] patrick-stickler-csc-fi commented on #17507
Is matomo.cloud running 4.2.1? The same latest version that is available for download? Or is it in any way different from the publically released 4.2.1 code base?

Do you have any links to the issues or discussion pertaining to the known bugs you refer to? So I can review their nature, and what is being done to resolve them?

Thank you.

--
Patrick Stickler
Senior Software Specialist, Research Dat

[2021-05-11 08:11] sgiehl commented on #17507
@patrick-stickler-csc-fi  Matomo cloud is running 4.2.1, but we have already applied some of the PRs that are part of the upcoming 4.3.0

[2021-05-11 09:57] dieisraels commented on #17138
@diosmosis

Then I wonder why the historical data was never prepared after creating the segments? Only after invalidating via the console this seems to work.

Yes, the website was selected in the dropdown. I had only removed it because I did not want to display the domain.

[2021-05-11 10:15] MichaIng commented on #17497
You mean calling `matomo.php` directly from the HTML `<script>` snippet, like the `<noscript>` variant does? If so, how would that look like (as the admin interface only suggests the above pasted variant)? I recognised that the `matomo.php` call from `matomo.js` has a long query string which passes client info, while the suggested `<noscript>` call passes the site ID only. Does `matomo.php` gather

[2021-05-11 17:24] diosmosis commented on #17138
@dieisraels

We added the automatic invalidation of historical data for new/updated segments in 4.0, so it should've had an effect. I'm not sure why it wouldn't, but if you create a new segment or edit an existing one, new entries should be added to the archive_invalidations table to schedule archiving of historical data. It's possible there was something causing the data to be masked in some way.

[2021-05-11 17:58] diosmosis commented on #17507
@patrick-stickler-csc-fi more answers:

There are two types of data in Matomo, log data and archive data. Log data is the raw visit data, each action a user takes. The archive data is the result of aggregating that data; it's the report data cached in the archive tables.

So the answer is yes, that is one half of Matomo's core report generation mechanism.

No, it shouldn't be. The segment definiti

[2021-05-11 19:52] tsteur commented on #17497
@MichaIng we've added the tracker files for now to the allow list so it just all just work.

[2021-05-11 20:07] MichaIng commented on #17497
Many thanks! I'll give it a try.

Btw, the long user agent list is still required to allow e.g. CSV report downloads via `wget`, right? I wonder if it would be easier (and safer) to apply the rules to all `User-agent: *` and then grant report access to `wget` specifically? Not sure if there are other download tools which respect `robots.txt`, but there are definitely a lot more crawler/bot user ag

[2021-05-11 20:17] tsteur commented on #17497
@MichaIng give it a go and let us know if it doesn't work. wget user agent should not be blocked.

[2021-05-11 20:54] #17488 closed, assigned to flamisz

[2021-05-12 05:17] mattab opened #17549 "Report "Engagement rate" instead of "Bounce rate""
Measuring "Engaged visits" and "Engagement rate" will be overall more useful than what we currently measure in "Bounce rate".

This will be more important as it's also the default in GA4, and overall for sure it does make sense.

### As described in [Himanshu Sharma's post here](https://www.linkedin.com/posts/analyticsnerd_there-is-no-concept-of-bounce-rate-in-ga4-activity-6780754169268596737-N5db

[2021-05-12 06:01] patrick-stickler-csc-fi commented on #17507
MariaDB [matomo]> SELECT * FROM matomo_archive_numeric_2021_05 WHERE idsite = 14 AND date1 = '2021-05-03' and date2 = '2021-05-03' and period = 1 AND name LIKE 'done7fc20d1d1a85a360f07b17433450892f%';
Empty set (0.00 sec)

curl -k "https://matomo.fd-test.csc.fi/index.php?token_auth=d29024b361c15d86fd9f9a2de37477fb&format=json&date=2021-05-03&period=day&idSite=14&module=API&method=Actions.getPageTi

[2021-05-12 09:34] bierzorutas commented on #6964
+1

[2021-05-12 10:11] zkaitanx opened #17550 "Can matomo heatpmapsessionrecording widget embed into a iframe"
I try embed a heatmapsessionrecording widget to my page(my url like this:https://xxx.com/matomo/index.php?module=Widgetize&action=iframe&moduleToWidgetize=HeatmapSessionRecording&actionToWidgetize=showHeatmap&idSiteHsr=1&idSite=1&period=day&date=yesterday). But when i open the page, it will open a new window replace the origin page, is there  any solution to do open heatmapsessionrecording widget

[2021-05-12 13:11] andyjdavis opened #17551 "'npm audit' reports problems with some node dependencies"
'npm audit' outputs warnings if you are running versions of node modules with known security problems. These are not necessarily exploitable in the context of Matomo but its still nice to tidy them up.

On current 4.x-dev I get the following.
[code]

## Expected Behavior
'npm audit' should give Matomo a clean bill of health.

## Current Behavior
Warnings about problem dependencies are listed.

##

[2021-05-12 13:22] sgiehl commented on #7654
We have meanwhile switch to using `wikimedia/less.php`

[2021-05-12 13:22] #7654 closed

[2021-05-12 13:30] Findus23 commented on #17551
Hi,

Matomo is not affected by the jquery vulnerability (if you can reproduce a security issue, please report it to https://matomo.org/security/). See also https://github.com/matomo-org/matomo/issues/17272

I'm not sure if the materialize-css issues are affecting Matomo (I don't think so), but I guess there is also not much that can be done apart from waiting for the fork to become stable (unless

[2021-05-12 13:31] Findus23 commented on #16368
I just noticed that an alpha release of the fork was released (https://github.com/materializecss/materialize/releases/tag/1.1.0-alpha). So I guess once it is stable, Matomo could use the fork.

[2021-05-12 13:42] sgiehl commented on #16368
might be worth a try to simply replace the library on a branch and check if UI tests are still working

[2021-05-12 13:54] andyjdavis commented on #17551
I would be quite surprised if any of these vulnerabilities were exploitable within Matomo (although its not impossible). Checking for vulnerable node dependencies is just a code hygiene task I do every so often :)

Reading the issue you linked it sounds like the jquery upgrade is already well under way.

[2021-05-12 19:14] mkindred commented on #17499
I think this is related to the issue I called attention to in the forums https://forum.matomo.org/t/acquisition-overview-multiple-bugs/41308 and possibly as far back as 2019 https://forum.matomo.org/t/3-13-bug-in-acquisition-overview/35248

But I noticed the bug when I opened the pulldown above the graph that allows you to select Records to Plot. Doing so eventually causes all the graph data to fl

[2021-05-12 21:32] tsteur commented on #17550
Hi @zkaitanx thanks for reaching out. I just tried to reproduce and this works for me as expected. It doesn't replace the origin page for me. Are you using the latest version of Matomo and our heatmaps plugin? For example when you click on "Manage Heatmaps" and then on the "eye" icon next to a heatmap it should be opening such a URL like you mentioned and show the heatmap standalone.

When embedde

[2021-05-12 21:32] #17550 closed, assigned to nobody

[2021-05-12 22:46] diosmosis commented on #17507
@patrick-stickler-csc-fi 4.3.0 should be released relatively soon, it will hopefully solve these issues for you. This issue would be rather hard to debug through email so I think it'd be better to wait for now.

[2021-05-13 04:15] Starker3 opened #17555 "Add --dates option to core:purge-old-archive-data"
Currently the core:purge-old-archive-data console commands expects the date input simply as follows for example:

`./console core:purge-old-archive-data 2021-02-01`

To make this more consistent with the other console script commands it would be great to add `--dates` as an acceptable parameter. For example: `./console core:purge-old-archive-data --dates=2021-02-01`

We would need to keep the curr

[2021-05-13 04:21] Starker3 opened #17556 "Allow multiple dates or date range in core:purge-old-archive-data"
Refs #17555

Currently if you need to purge specific date ranges using the `core:purge-old-archive-data` command, you need to run the command for each month that you would like to purge reports from the archive_blob

It would be great if we could support adding multiple dates to the command (Perhaps this is only possible if we add support for the `--dates=` parameter), for example:
`./console core

[2021-05-13 05:29] patrick-stickler-csc-fi commented on #17507
We will wait for v4.3. Thank you for your help.

Patrick

--
Patrick Stickler
Senior Software Specialist, Research Data Services
CSC - IT Center for Science Ltd., PO Box 405, 02101 Espoo, FINLAND
+358 50 381 8615, ***@***.***

[2021-05-13 09:27] dl-lim commented on #11287
Wow, quite the discussion here some years ago. I have only been using matomo in production since this year, 2021. For context, my site is running on Wordpress, with Woocommerce. I use the plugin WP-Piwik to integrate with my matomo server (on a different host elsewhere), and the paid plugin "Woocommerce Matomo Analytics".

Tested on a clean wordpress host, and the WP-Piwik integration has no probl

[2021-05-13 15:17] diosmosis commented on #17556
Closing since this is available (though perhaps not obvious)

[2021-05-13 15:17] #17556 closed, assigned to nobody

[2021-05-14 13:00] MichaIng commented on #17497
Confirmed it's working fine now.

Yes that is clear. The idea was to simplify the `robots.txt` by not including a long and hard to maintain list of known bot/crawler user agents but excluding known download tool user agents instead, which is for now a single one (`wget`) only. Otherwise I can add another long list of known crawlers which are missing currently. But it's really a different topic and

[2021-05-14 13:19] MichaIng opened #17559 "[4.3.0-rc] System check falsely detects config/config.ini.php readable"
## Expected Behavior
With `.htaccess` installed and respected which blocks any access to `matomo/config`, which can be verified by manually trying to access the directory or any contained file and running a curl locally and remotely, the Matomo system check should not throw a related "critical issues".

## Current Behavior
[code]

## Possible Solution
TBD, I'll have a look into the code.

## Steps

[2021-05-14 16:31] Findus23 commented on #17559
Hi,

(see #17490)

What exactly is the output of `curl -v https://domain.com/matomo/config/config.ini.php`.
Does it respond with a 403 or return just a `;`?

[2021-05-14 17:18] MichaIng commented on #17559
It's a `HTTP/2 403` to be precise, in both bases, when running from the server itself as well as when running from a remote machine (where it's behind Cloudflare). But a 403 + 404 handler page is shown, no empty response body.

That will be the issue: [$isAccessible = strpos($data, ';') !== false;](https://github.com/matomo-org/matomo/pull/17490/files#diff-c0b4deb8261e31c6edf24163ad454703b4c8efe26

[2021-05-15 11:45] oldrup commented on #17281
My comment from in the matomo forums might actually belong here...

Internet Explorer 8 was released twelve years ago, and had end of life six years ago. Purely an opinion - but is it wise to keep pampering users of an obsolete browser no longer supported by its creator, at the cost of a (slightly, admittedly) less optimal experience for the 99% rest? I don’t think so.

Also, if using IE8, not sup

[2021-05-16 11:31] math-GH opened #17561 "Marketplace: "more" link does not work"
If you click in the marketplace on the "more" link, than nothing happens.

![grafik](https://user-images.githubusercontent.com/1645099/118395372-58e26800-b64a-11eb-9f84-585528af987b.png)

## Expected Behavior
more information will shown

## Current Behavior
nothing happend. The hash anchor jumps to the top of page:

module=Marketplace&action=overview&idSite=1&period=range&date=previous30&activated

[2021-05-16 15:19] diosmosis commented on #17561
@mathContao thanks for the report! Confirmed this is a bug. I also don't see any code related to handling the `'.more'` link so I don't know exactly what's going on there.

[2021-05-16 15:44] math-GH opened #17562 "CSS: unknown property "decoration""
![grafik](https://user-images.githubusercontent.com/1645099/118403230-cbb10a80-b66d-11eb-8acc-aab115d15b48.png)
link: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Dashboard_Dashboard&subcategory=1

## Expected Behavior
no CSS error

## Current Behavior
CSS error in the developer console.
"d

[2021-05-16 16:00] math-GH opened #17563 "Error while processing "letter-spacing" (old "Waves" library)"
![grafik](https://user-images.githubusercontent.com/1645099/118403505-e6d04a00-b66e-11eb-9937-63b1d806698c.png)
link: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Dashboard_Dashboard&subcategory=1

![grafik](https://user-images.githubusercontent.com/1645099/118403520-09faf980-b66f-11eb-8100

[2021-05-16 16:09] math-GH opened #17565 "CSS: "speak" property: "none" changed to "never""
![grafik](https://user-images.githubusercontent.com/1645099/118404150-e4bbba80-b671-11eb-9dbf-4057059b718a.png)
link: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Dashboard_Dashboard&subcategory=1

## Expected Behavior
`speak: never`

## Current Behavior
`speak: none`

## Possible Solution

[2021-05-16 16:13] Findus23 commented on #17563
Hi,

All of this is a part of materialize.css and I think this is the line causing the error:
https://github.com/matomo-org/matomo/blob/b12946909ff323ea2f7e7af04e4435d2dd503023/node_modules/materialize-css/dist/css/materialize.css#L7516
(the waves thing is just in the same line when minified)

So this is the same as https://github.com/Dogfalo/materialize/pull/6593, https://github.com/Dogfalo/mater

[2021-05-16 16:46] math-GH opened #17567 "report information: "Report generated" without time unit (seconds?)"
![grafik](https://user-images.githubusercontent.com/1645099/118405099-4f6ef500-b676-11eb-8150-62871d15c80e.png)
link: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=General_Visitors&subcategory=VisitTime_SubmenuTimes

## Expected Behavior
Information, when the report was generated

## Current

[2021-05-16 17:22] Findus23 commented on #17567
I'm not entirely sure why, but `$this->metricsFormatter` is a `Piwik\Plugins\CoreVisualizations\Metrics\Formatter\Numeric` here
https://github.com/matomo-org/matomo/blob/6b12f37eb630d25dffa13e315b894abda80ed5af/core/Plugin/Visualization.php#L570-L575

which returns the number as-is instead of creating a proper text.

[2021-05-16 20:12] tsteur commented on #17281
@oldrup do you mind letting us know why it's a problem when it's there? If I see this right in the initial issue it triggers a warning in w3c validator (not an error). Is that a problem? why?

FYI it's always possible to write a custom plugin to remove the type if that's absolutely necessary. Most users don't have an issue with the attribute being there so we'd like to prevent having too many opti

[2021-05-16 20:32] tsteur commented on #17561
I just checked and it is setting up a click event listener in https://github.com/matomo-org/matomo/blob/4.3.0-rc2/plugins/Marketplace/angularjs/plugins/plugin-name.directive.js#L51 but for some reason the element doesn't trigger the click event by the looks.

[2021-05-16 20:43] math-GH commented on #17561
there is no event appended on the link
![grafik](https://user-images.githubusercontent.com/1645099/118412047-21021180-b698-11eb-8a58-24dfe648e212.png)

[2021-05-16 20:54] tsteur commented on #17561
Hey @mathContao it does the onclick handler in the angular directive.

[2021-05-16 21:43] #17562 closed, assigned to nobody

[2021-05-16 22:21] flamisz commented on #17561
The jquery dotdotdot plugin causes this issue. One solution can be if we simply use `style="overflow:hidden"` on the description. Anyway, when the description too long, we don't show the `more` link, because dotdotdot plugin cuts that. the only thing that would be different, if it's too long, we won't see the ellipsis (see attached images).
Other solution could be using some css, but that won't wo

[2021-05-16 22:34] #17559 closed, assigned to nobody

[2021-05-16 22:58] tsteur commented on #17561
Do you know which browsers it wouldn't work @flamisz ?

[2021-05-16 23:05] MichaIng commented on #17559
Many thanks, the fix works here as well :+1:.

[2021-05-16 23:12] flamisz commented on #17561
On all IE:
<img width="924" alt="Screen Shot 2021-05-17 at 11 12 17 AM" src="https://user-images.githubusercontent.com/6749509/118415834-c94bc080-b700-11eb-8701-6c25aed015d4.png">

[2021-05-17 02:20] #17561 closed, assigned to flamisz

[2021-05-17 03:57] mattab commented on #17534
FYI the correct mysqldump command to generate a dump that works well, is documented in https://matomo.org/faq/how-to/how-do-i-backup-and-restore-the-matomo-data/

[2021-05-17 04:13] mattab commented on #15287
Maybe this will be fixed in Matomo 4.3.0 thanks to https://github.com/matomo-org/matomo/issues/10578

[2021-05-17 05:05] mattab commented on #17559
Thanks @MichaIng for finding this issue in the RC before the release and letting us know :100:

[2021-05-17 08:04] dev-101 opened #17571 "annoying banner (the 'refer matomo' banner at the bottom of the page)"
No, seriously folks, I don't need this *reminder* in order to recommend something. Pls don't clutter already cluttered space with ridiculous popups and banners and what not. Pls don't make us use ad-blocker on our own self-hosted analytics ffs. Thx.

![piwik-banner](https://user-images.githubusercontent.com/5383059/118453272-4c681900-b6f7-11eb-8825-4dbd79ee02cf.png)

Instead, it would be better to

[2021-05-17 08:07] oldrup commented on #17281
@tsteur

Thank you so much for your interest in this. I'll try to explain. It's more like a political issue, than a hard technical error, I'm totally aware of that, so please excuse me if this gets lengthy:

I aim to make sustainable, accessible, solid websites, that lives up to best practices and respects privacy. The latter is where matomo comes into play. Now, project owners, clients, customers

[2021-05-17 10:20] MichaIng commented on #17559
My pleasure, thanks for developing a great self-hosted analytics platform 🙂,

[2021-05-17 12:32] MichaIng opened #17572 "Many bots fail to call the tracker PHP endpoints"
Now that #17497 has been done, there is another issue that most bots, especially the important Google and Bing bots, fail to call the tracker PHP endpoints `matomo.php`/`piwik.php`, while generally `robots.txt` and headers do allow it and some bots are successfully tracked.

Matomo, PHP and webserver do not report any errors, so the request seems to fail right at the crawler, probably related to a

[2021-05-17 12:37] MichaIng commented on #17572
@remz-otw
I don't use Drupal. So while it looks like it's related to Matomo v4, we are not 100% certain. As you have access logs, can you verify that the `matomo.js` request is done by the Google bot, but the expected following `matomo.php` request is not done at all (does not reach the server)?

[2021-05-17 12:41] sgiehl commented on #17572
@MichaIng Most bots are not able to load the javascript. Google might maybe ignore it to avoid unwanted tracking requests.
If you want to fully track all bots, you should not use javascript tracking. It would be better to use log importing for this.

[2021-05-17 12:55] remz-otw commented on #17572
@sgiehl I agree but since it is an error an not a good thing in a SEO point of vue
And put an img tag
`<noscript><p><img src="https://mymatomodomain.com/matomo.php?idsite=1&amp;rec=1&amp;bots=1" style="border:0;" alt="" /></p></noscript>`
And then no bot tracked

[2021-05-17 12:59] MichaIng commented on #17572
Google and Bing both load the JavaScript for sure, otherwise the `matomo.php`/`piwik.php` request with fully developed query string (see above) would not be done in the first place. So that is not the issue.

Probably skipping JavaScript would help regardless, but I use the Cloudflare app to enable tracking on all our pages and there is no choice possible currently. Out of interest, how would the

[2021-05-17 13:04] sgiehl commented on #17572
Does a request from Google bot to the PHP endpoint reach your server? Just want to make sure they are actually performed by the bots. If they are listed in your access log, then it might be an issue with Matomo or maybe the BotTracker plugin. For me it sounds like Google does not perform the request for any reason. If that is the case you could try to play around with some settings that change the

[2021-05-17 13:05] remz-otw commented on #17572
@MichaIng I run into my log i got an example of Googlebot requesing motomo.js but not the matomo.php
666.249.70.23 mymatomodomain.com - [16/May/2021:18:46:21 +0200] "GET /matomo.js HTTP/1.1" 200 20456 "https://mymatomodomain.com/" "Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +http://www.google.com/bot.html) Chrome/90.0.4430.97 Safari/537.36"

EDIT: I didn't find a

[2021-05-17 13:33] MichaIng commented on #17572
Okay, so we need to find out why Google and most other bots do not perform this final PHP request then. I wonder if it's done when using an image-based request without wrapping it into `<noscript>`, like:
[code]
I'll create a test page with this and run it through the mobile-friendly test.

[2021-05-17 13:44] remz-otw commented on #17572
Ok i Add `_paq.push(['setRequestMethod', 'GET']);` and remove the noscript tag and the in search console it load both ressources correcly

But then bots still not tracked
EDIT I was wrong bots are tracked Wouhou !

[2021-05-17 13:54] remz-otw commented on #17572
Now when i use "mobile friendly test tool" or "url inspection tool" from search console and even lighthouse it get catch by matomo
For lighthouse and mobile friendly tool bot tracker don't catch it it's mark "operating system: bot"

[2021-05-17 13:56] MichaIng commented on #17572
Jep, using the raw image source tracker works here as well (mobile-friendly test, done three times, tracked three times):

GoogleBot | Googlebot | 3 | 2021-05-17 15:53:24
-- | -- | -- | --

So I suspect the  ~long query string~ to be the issue, or probably doing requests originating from JavaScript?
**EDIT: Used the same [URL above](https://github.com/matomo-org/matomo/issues/17572#issue-893284554

[2021-05-17 14:07] remz-otw commented on #17572
I don't think is cause by the long query string cause it's work now with long query string
In my case the only change in the request is &send_image=1 since before it was set to 0

[2021-05-17 14:08] MichaIng commented on #17572
Jep, I just tested it as well and the exact same URL that fails from JavaScript succeeds from the image.

[2021-05-17 14:12] sgiehl commented on #17572
Matomo uses sendBeacon by default (if the browser supports it). Maybe such requests are blocked.

[2021-05-17 14:13] remz-otw commented on #17572
Did you try to change the javascrpit code and add
` _paq.push(['setRequestMethod', 'GET']);`
it work for me
But i don't know what that involve
But since then the request is with `send_image=1`

[2021-05-17 14:14] remz-otw commented on #17572
@MichaIng  Maybe try the java request with send_image=1 to test if it is related

[2021-05-17 14:17] sgiehl commented on #17572
Forcing `GET` as request method automatically disables the use of `sendBeacon` as it uses `POST` only.

[2021-05-17 14:18] MichaIng commented on #17572
Btw, if the BotTracker app is disabled, are bots supposed to be tracked as regular visitors, how are they dropped? I just disabled it and the mobile-friendly test still reports the error and I cannot see a related visitor log. So I guess we can rule out the app to be the culprit.

But I see you're already further with GET/sendBeacon 👍.

Since I use the Cloudflare app, I cannot change the script sn

[2021-05-17 14:23] remz-otw commented on #17572
But then now it work with sendbeacon disable but what is the drowback of such config ? If in matomo 4 it on by default it should be for a good reason ? Less Acurate tracking or  less good user experience ?

[2021-05-17 14:27] MichaIng commented on #17572
I can verify that it works with `_paq.push(['setRequestMethod', 'GET']);`. Is there a way to keep using POST requests but disable `sendBeacon` only, to check whether it's probably POST requests in general, not `sendBeacon` in particular?

[2021-05-17 14:34] sgiehl commented on #17572
Matomo by default discards all visitors that are recognized as bots here:
https://github.com/matomo-org/matomo/blob/df68fbce2397570df2d5fee6c1b56db57241a10b/core/Tracker/VisitExcluded.php#L189-L197

So when the user agent is detected as bot or within certain IP ranges its sorted out unless the parameter `bots=1` is set.
You can achieve that in the tracking code by adding
`_paq.push(['appendToTrack

[2021-05-17 14:40] remz-otw commented on #17572
@MichaIng I've tested to just deactivate sendbeacon (`_paq.push(['disableAlwaysUseSendBeacon']);`) and it's work fine

@sgiehl  I agree with you but since it is catch by bot tracker it shouldn't be an issue no ?

[2021-05-17 14:43] MichaIng commented on #17572
Great, yes it makes totally sense to not count bots by default, and the BotTracker app then has a reasonable purpose to enable it, but outside or regular metrics, as an extra feature.

`_paq.push(['disableAlwaysUseSendBeacon']);` alone works as well, so we found the culprit indeed 👍.

[2021-05-17 14:45] sgiehl commented on #17572
BotTracker uses it's own detection for bots as far as I know. So it might happen that Matomo would have ignored a request but BotTracker doesn't detect it as bot. https://github.com/Thomas--F/BotTracker/issues/60 would fix this

[2021-05-17 15:04] MichaIng commented on #17572
At least it detects bots based on the user agent, so when Matomo drops a bot with a user agent that has not been added to the BotTracker list (it can be edited/extended), then it wouldn't be tracked at all. But all important ones are part of the default list.

Okay, so while I cannot alter the invocation snipped in the Cloudflare app, I can disable `sendBeacon` by manually editing the local Matomo

[2021-05-17 15:42] f1-outsourcing opened #17575 "cannot select text."
I can not select part of this 'JavaScript Tracking Code' code, it constantly selects everything, very annoying. The standard that everyone maintains is that you have a copy all button. I think most people that work with statistics are able to maneuver the mouse in such a professional way that are selecting everything.

index.php?module=CoreHome&action=index&date=yesterday&period=day&idSite=3

v4.2

[2021-05-17 16:29] diosmosis commented on #17575
Hi @f1-outsourcing, thanks for creating this issue! I agree it can be annoying not being able to only select what you need in the text box.

[2021-05-17 16:37] MichaIng commented on #17572
My personal workaround for now: In `piwik.js`, replace `if(da==="GET"){this.disableAlwaysUseSendBeacon()}` with `this.disableAlwaysUseSendBeacon()`.

Best would be actually if this was only done for bots. I had a look into the [BotTracker source code](https://github.com/Thomas--F/BotTracker) if there is a way set it there, but there is nothing that would affect those flags prior to the actual trac

[2021-05-17 17:32] remz-otw commented on #17572
I've test remove `bots=1` from the request and still i got Google Bot tracked by Bot Tracker.
This mean that Bot tracker catch the info before matomo drop it this is a good thing

[2021-05-17 18:39] MichaIng commented on #17572
This is how I understand it:
- When using `bots=1`, Matomo core tracks bots, but like regular users, which is not what admins want in most cases.
- BotTracker seems to catch exactly the cases which are (by default) excluded by Matomo, by registering to the `Tracker.isExcludedVisit` event: https://github.com/Thomas--F/BotTracker/blob/master/BotTracker.php#L93
    It compares the user agent of these

[2021-05-17 18:55] remz-otw commented on #17572
You've right I realize that when `bots=1` where activate, Googlebot where still catch by Bot tracker but Lighthouse and Mobile Friendly test tools where seen as regular user with no information (probably catch by the `<img>`)
Now with `bots=0` (default) only Googlebot is catch by Bot tracker
This mean `bots=1` make no difference for Bot Tracker

Bot Tracker is a bit buggy and not regularly maintai

[2021-05-17 19:28] MichaIng commented on #17572
Where is this list, actually? I see the `excludedUserAgent` variable used but nowhere defined.

[2021-05-17 19:31] remz-otw commented on #17572
I don't know it was referred in https://github.com/Thomas--F/BotTracker/issues/60

[2021-05-17 19:44] MichaIng commented on #17572
Ah, it's a separate repository: https://github.com/matomo-org/device-detector/blob/master/regexes/bots.yml
Also I like the idea to make use of that device detector more natively, being able to get all info of the bot: https://github.com/Findus23/plugin-BotTracking
Being able to view them via `Visits per local time` diagram etc would be definitely great. But I'm happy for now that all bot visits ar

[2021-05-18 01:30] mddvul22 opened #17577 "Split private directories system check into "Required" and "Recommended""
Today, I upgraded to Matomo 4.3.0.  The Matomo system check complains about "Required Private Directories".  Specifically, it tells me:

"We found that the above URLs are accessible via the browser, but they should NOT be. Allowing them to be accessed can pose a potential security risk since the contents can provide information about your server and potentially your users. Please restrict access t

[2021-05-18 02:43] tsteur commented on #17281
@Findus23 @oldrup

I have just tested it without the attribute in IE8, IE7, IE6 and FF3 and it worked without any issues without the type attribute.

Note in IE7, IE6 and FF3 the tracking doesn't work because the JSON API is not defined and it needs to be polyfilled but the JS executes otherwise nicely. We removed out of the box tracking support for these.

I cannot think of any issue to remove th

[2021-05-18 06:52] kghbln opened #17578 "Alexa.php(40): Warning - DOMDocument::loadHTML(): Unexpected end tag"
## Setup
- Matomo-Version: 4.3.0
- MySQL-Version: 10.3.27-MariaDB-0+deb10u1
- PHP-Version: 7.3.27-1~deb10u1

## Issue
After the upgrade to Matomo 4.3 I am getting many warnings when accessing page "...CoreAdminHome&action=home..." or "...module=Installation&action=systemCheckPage&idSite=1..." for the first time. After that Matomo remains silent.

## Warnings
[code]

[2021-05-18 06:54] sgiehl commented on #17577
Hi @mddvul22. Thanks for creating this issue. Matomo actually tries to do a http request on the config file and checks if the response code to be between 400 and 500. So you may need to disallow access in webserver config.
See https://github.com/matomo-org/matomo/pull/17568

[2021-05-18 07:51] sgiehl commented on #17578
Hi @kghbln. Thanks for creating the issue. I'm able to reproduce that locally. Seems Alexa changed the HTML of the site where we grap the information from.

[2021-05-18 08:16] heurteph-ei commented on #17577
Maybe some documentation somewhere should be updated... And a link to this doc should be provided in the warning message?

[2021-05-18 08:19] Findus23 commented on #17281
If it works without, then I guess there is nothing wrong with removing the attribute.
I also saw that this discussion was already had a long time ago: https://github.com/matomo-org/matomo/pull/214

[2021-05-18 10:02] fireba11 commented on #17577
At least on my server
config/config.ini.php returns a single ';'
tmp/cache/tracker/matomocache_general.php returns an empty file
causing the check to complain since something is returned.

Also to me it seems those files exist by default, how are they supposed to be protected? (The warning should tell you too ..)

[2021-05-18 10:07] zkaitanx opened #17580 "HeatmapSessionRecording.addHeatmap failed"
When I use api - HeatmapSessionRecording.addHeatmap (idSite, name, matchPageRules, sampleLimit = '1000', sampleRate = '5', excludedElements = '', screenshotUrl = '', breakpointMobile = '', breakpointTablet = '') like this:
https://xxxxxxx.com/?method=API.getBulkRequest&format=json&module=API&token_auth=mytoken&urls[0]=method%3DHeatmapSessionRecording.addHeatmap%26idSite%3D1%26name%3Dtest%26matchPa

[2021-05-18 11:01] unikitty37 opened #17581 "Matomo shows disruptive banner on dashboard after upgrade"
## Summary

After upgrading to Matomo 4.3.0, the following banner appeared at the bottom of my dashboard.

![image](https://user-images.githubusercontent.com/139183/118639230-93294200-b7cf-11eb-9fb8-daaca14cbd2d.png)

It is not at all clear whether the "close" button simply dismisses the banner for a period of time, or prevents it from ever showing again.

Please could there be an **explicit** "ne

[2021-05-18 11:08] Findus23 commented on #17577
I have explained this a bit more detailed here:
https://forum.matomo.org/t/nach-update-auf-4-3-fehlermeldung-required-private-directories/41903/4?u=lukas

Maybe the error message could be expanded with this help

[2021-05-18 11:56] fireba11 commented on #17577
Note:
I'm using centos7 and httpd, the .htaccess is there but doesn't seem to work for me.
I'm investigating possible reasons, the use of php-fpm being one candidate ...

[2021-05-18 12:22] utrautmann opened #17582 "Comparing periods: Changing period type for row evolution graph not works"
Summary: Changing the time period for the row evolution graph not works, when I'm comparing two periods for a single page. It leads to an exception.

Steps to reproduce:

1. Select period "Month" and compare it to "Previous year" in the Date picker above
2. Goto Behaviour-->Pages and select one page and open "Open row evolution"
3. Click "Pick a row to compare" and select the same page with the pe

[2021-05-18 12:59] Findus23 commented on #17577
One thing: With the current check Matomo doesn't accept it, if the config.ini.php returns a 304 e.g. to the homepage.

[2021-05-18 13:28] dieisraels commented on #17138
@diosmosis After updating to Matomo 4.3, the invalidation of segments works correctly again. Also with the plugin via the UI.

[2021-05-18 13:40] mddvul22 commented on #17577
I'm open to other suggestions on the best way to fix this.  However, I have placed this in my Matomo Apache configuration:

And this has removed the warning from the Matomo system check.  Again, I'm open to suggestions of a better way to address this.

[2021-05-18 14:05] utrautmann commented on #17138
@diosmosis @dieisraels

What that means? Does every new segment have to be invalidated manually?

Here are some examples to the current behaviour:

If I create a new segment with Matomo 4.2.1 or 4.3 and the segment criteria contains any encoded string like

- segment = 'browserName==115%20Browser'
- segment = 'pageUrl=@newsportal%2Fpressemeldungen'

then the archiving process is only working for t

[2021-05-18 14:58] basos9 commented on #17035
Hello,
I encountered this after upgrading to matomo 4.2 and during the process of log import with replaying. But it may be that this is irrelevant of the import. By searching our logs for yesterday there are 0,0025% of visits that produce an error 400 and contain a pf_tfr parameter without a dot,

example request
[code]
NOTES
- `pf_tfr=1621207625627` this causes the tracking error
- This is a safa

[2021-05-18 15:39] diosmosis opened #17583 "Creating/updating segments w/ values w/ encoded chars does not auto schedule rearchiving"
## Expected Behavior

Creating or updating a segment w/ an encoded value, eg, `pageUrl==some%2Fpath` should automatically schedule rearchiving of past data. Invalidations should appear in the archive_invalidations table and should be handled by core:archive.

## Current Behavior

Creating or updating the aforementioned type of segment and running core:archive will add rows to archive_invalidations

[2021-05-18 15:39] diosmosis commented on #17138
Hi @utrautmann, I'm able to reproduce this, it's another bug. We were hoping https://github.com/matomo-org/matomo/pull/17408 would fix these, but I guess not. I've created a new issue here: https://github.com/matomo-org/matomo/issues/17583

[2021-05-18 15:58] diosmosis commented on #17582
Confirmed this is a bug. Changing the period will only change the current period type, not the period type of the period we are comparing to.

Additionally, changing the period back in the graph, will incorrectly set the date using the end date of the period. So if we have a day, 2021-05-04 compared with 2021-05-03, then change the period to week, 2021-05-04 will change to 2021-05-03,2021-05-09. I

[2021-05-18 16:08] diosmosis commented on #17571
Another complaint: https://github.com/matomo-org/matomo/issues/17581

[2021-05-18 16:08] diosmosis commented on #17581
Hi @unikitty37, someone else has already complained about this: https://github.com/matomo-org/matomo/issues/17571, so I'm going to close this as duplicate. We'll certainly take your comments into consideration as well.

[2021-05-18 16:08] #17581 closed, assigned to nobody

[2021-05-18 16:10] diosmosis commented on #17571
Original issue for the banner: https://github.com/matomo-org/matomo/issues/16803

[2021-05-18 16:12] diosmosis commented on #17580
Hi @zkaitanx, thanks for the report. In this issue tracker we only manage issues around Matomo's core functionality. For bugs or help with premium features please email our dedicated support at shop@innocraft.com. Thanks again @zkaitanx and sorry for the inconvenience.

[2021-05-18 16:12] #17580 closed, assigned to nobody

[2021-05-18 19:04] tsteur commented on #17583
@diosmosis do you know why that is happening? Does the rearchive logic not work there?

[2021-05-18 19:09] diosmosis commented on #17583
@tsteur I didn't look that far into it, the problem appears to be in core:archive. reArchive works to put the item in ReArchiveList. core:archive successfully processes it and puts rows in archive_invalidations. But the rest of the command fails to recognize the invalidations (they remain there after core:archive runs).

[2021-05-18 19:10] tsteur commented on #17577
I think initially there was a check for the retrieved content. To adjust the check for redirects etc maybe we could follow redirects and check if the retrieved config is `trim($content) !== ';'` (before was only a contains check or so) and check whether it's actually returning any content from the config. So if response code is >=400 && < 500 then all is good. If not we'd maybe do some additional

[2021-05-18 20:30] mddvul22 opened #17584 "GeoIP: Add support for Domain Name Databases"
We have purchased the Maxmind Domain Name database for use in our Matomo reports.  Specifically, we want to be able to see the domain name tied to an IP address, in addition to the provider, which is not always the same.  However, when I try to provide the download url for this database, Matomo downloads it, but then gives me a red box:

![image](https://user-images.githubusercontent.com/6833993/1

[2021-05-18 21:50] Starker3 opened #17585 "System Check showing warning when max_execution_time is set to -1 in PHP.ini"
## Current Behavior

Some systems seem to not support setting `max_execution_time=0`, in these cases setting `max_execution_time=-1` seems to work to disable the max execution time

However, this causes a warning in the System Check:
![image](https://user-images.githubusercontent.com/20905821/118727735-5b7dd100-b887-11eb-87a3-c87621d0ac72.png)

## Possible Solution

Add check for `max_execution_ti

[2021-05-18 22:39] GermanKiwi commented on #17577
Hi guys, I've also had this problem after updating to 4.3.0, but for a different file and folder. For my site, the "Required Private Directory" warning refers to this URL:

https://matomo.example.com/lang/en.json

My site is running on Apache, and inside my /lang/ directory there is a Matomo-generated .htaccess file which I've attached to my comment here (renamed to a .txt file). As far as I can t

[2021-05-18 22:44] julienbfabre opened #17586 "Uploading logo kicks user out"
Fresh installation of Matomo 4.3, i tried to upload a logo, got kicked out to the login page with an error saying ""Error: Token is not valid."

Trying to log back in while on this page keeps failing.
Note that the url is `index.php?module=CoreAdminHome&format=json&action=uploadCustomLogo`

## Expected Behavior
The logo should upload.

## Current Behavior
The user get's kicked out and can't get ba

[2021-05-18 23:04] flamisz commented on #17586
Hi @julienbfabre, thanks for reporting this issue. I'm able to reproduce that locally, it's indeed a bug.

[2021-05-19 02:32] tsteur commented on #17585
I'll move it in a milestone simply because it's very quick to do. Setting it to 0 should always work though. When setting it to -1 seems you actually simply set a very high number see https://stackoverflow.com/a/9371428

[2021-05-19 03:05] Starker3 commented on #17585
Setting it to 0 seems to work in >99% of the cases.
We did get two reports from two different users, one got the result:
`{"result": "error","message": "Maximum execution time of 0 seconds exceeded"}`

Another one had a fatal PHP error with PHP 7.4.16:
`PHP Fatal error:  Maximum execution time of 0 seconds exceeded in /srv/http/piwik`

[2021-05-19 03:06] flamisz commented on #17567
Some tables (like Graph) are overwriting the text-formatter:

https://github.com/matomo-org/matomo/blob/9c128ddd5a317ac42bd3e6f83d6fa8a3d5ef2519/plugins/CoreVisualizations/Visualizations/Graph.php#L89

I made a fix to use HTML-formatter when we format when a report was last updated.

[2021-05-19 03:37] prbt2016 commented on #17577
Hello,

I was in the process of manual installation of Matomo 4.3.0 on Centos 6.9 with PHP 7.2.24, MYSQL 5.5, Apache 2.2.

However I face the same issue as mentioned above on the following file i.e :

http://example.com/piwik/lang/en.json

i.e the following error is thrown after visiting Diagnostic->System Check :

![test](https://user-images.githubusercontent.com/17871448/118752866-79e0ce00-b881-

[2021-05-19 06:13] BigBerny opened #17589 "Add config option to disable http requests in System Checks to prevent server crashes with mod_security"
When opening the Admin area since 4.3 it shows a few more issues like "Required Private Directories" and a new database issue (can't see it right now, since server is down). When I open System Check to find out more about it, the page doesn't load and the whole server is not available anymore (ERR_CONNECTION_REFUSED). I can't even access Plesk.

It's reproducible and didn't happen in 4.2. Which lo

[2021-05-19 08:16] #17586 closed, assigned to flamisz

[2021-05-19 09:34] AJHoeh commented on #17509
@tsteur Sorry for the late reply:

I am not sure whether I got that. What I meant was a request with e.g. date=2020-01-01 period=month segment=visitEndServerMonth==2. These requests do not return data for me, so I suppose this is not supported or visits are always attributed to the month in which they endend (and not started). Also possible that my logic is flawed here.

This is true for the very

[2021-05-19 09:36] unikitty37 commented on #16803
As I mentioned in #17581, "When someone clicks on the X icon on the right then we don't show it for another 6 months." should be "never", not "6 months".

[2021-05-19 10:02] Findus23 commented on #17589
Hi,

No matter how big of a bug there is in Matomo, it should never be able to bring down your PHP server.
I'd recommend you to look into the php log (and also your webserver logs or php-fpm logs) to find out more about what is going wrong.

[2021-05-19 11:07] basos9 opened #17590 "Visitor Map shows no visits for all regions of Greece (matomo 4.2.1/geoip2 lite)"
Hello

The Visitor map does not show any Region (I think since the last upgrade from matomo 3 to 4.2)

REFS
This may be related https://github.com/matomo-org/matomo/issues/16714

![image](https://user-images.githubusercontent.com/1616441/118802704-23888500-b8ab-11eb-888e-146008365dee.png)

While regions are detected for most users
![image](https://user-images.githubusercontent.com/1616441/11880275

[2021-05-19 11:16] BigBerny commented on #17589
Hmm... What could it be then? I just have these lines in de log:
[Wed May 19 13:07:13.555599 2021] [authz_core:error] [pid 1007] [client xxx.xxx.xxx.xxx:58208] AH01630: client denied by server configuration: /var/www/vhosts/domain.app/s.domain.app/tmp/
[Wed May 19 13:07:13.567639 2021] [authz_core:error] [pid 1004] [client xxx.xxx.xxx.xxx:58212] AH01630: client denied by server configuration: /var

[2021-05-19 11:19] Findus23 commented on #17589
Hi,

Which web server and which PHP are you using (php-fpm?)?

If you use php-fpm, you might want to look into its error logs (`/var/log/php7.4-fpm.log` or similar). Maybe there are just not enough child processes to handle the incomming requests.

[2021-05-19 11:30] math-GH opened #17591 "DE-Translation missed, when website was updated"
![grafik](https://user-images.githubusercontent.com/1645099/118805154-e5d52d80-b8a5-11eb-9d14-7d2a5f661821.png)

User interface language: German

What I did:
Changed some settings of a website

## Expected Behavior
OK-Message in German (f.e. "Website wurde aktualisiert")

## Current Behavior
OK message in English

## Possible Solution
translation added

## Steps to Reproduce (for Bugs)
1. Go to ma

[2021-05-19 11:36] Findus23 commented on #17591
Seems like this text is indeed not translatable yet:
https://github.com/matomo-org/matomo/blob/bf38fded460899f4b668aaee6c3cb58211921588/plugins/SitesManager/angularjs/sites-manager/sites-manager-site.controller.js#L141-L144

[2021-05-19 11:42] sgiehl commented on #17591
Thanks @mathContao for creating the issue.
Putting into current milestone as it should be fixable in a couple of minutes.

[2021-05-19 11:45] math-GH opened #17592 "Error message "The promise was rejected" after adding a new measurable"
![grafik](https://user-images.githubusercontent.com/1645099/118806879-e4a50000-b8a7-11eb-91f9-2bbfd82f0582.png)

error message "The promise was rejected with reason: Invoking the wait callback did not resolve the promise" after adding a new measurable

but it was added
(same screen without reloading the page)

<img width="1387" alt="grafik" src="https://user-images.githubusercontent.com/1645099/11

[2021-05-19 11:59] sgiehl commented on #17590
Hi @basos9.
Thanks for creating the issue. I just had a quick look and it seems the map leaks the iso attributes so the visitors can't be shown correctly. I'll try to prepare a PR that should fix this quickly.

[2021-05-19 12:21] sgiehl commented on #17584
@mddvul22 Thanks for creating the issue. Matomo currently doesn't support the use of domain name databases and won't show the information even when it would be available in the geoip database.
Matomo is only able to handle location databases (like city, country, ...), provider / organisation databases (like isp, asn, ...) or combined databases (like enterprise).
Guess this would need to be handled

[2021-05-19 12:28] sgiehl commented on #17592
Hi @mathContao. Thanks for creating the issue. I tried to reproduce that locally and on my cloud instance, but wasn't able to.
Could you check if that happens every time you add a measurable? If so please get in touch with our support and send them some more details and your cloud instance name. Maybe we are possible to reproduce it there.

[2021-05-19 12:28] #17592 closed, assigned to nobody

[2021-05-19 13:50] BigBerny commented on #17589
Apache and I tried, PHP 8.0 nginx and FPM, and PHP 7.4 FPM. I don't think there are more logs but I have to check. Child processes could be the issue but why should this always happen when I open System Check?

[2021-05-19 14:32] sgiehl commented on #17589
the system check actually tries to fetch some files/directories of Matomo via http request. If those directories are not "protected" and the requests are processed by the webserver / php this can cause some additional processes.

[2021-05-19 14:38] BigBerny commented on #17589
But then how to fix it? Is this something Matomo should fix by not running all requests at the same time?

[2021-05-19 15:30] diosmosis commented on #17589
Hi @BigBerny, the check only runs one http request at a time, which means its probably the first one that fails. I'm guessing you're using shared hosting and can't change the web server config? We could disable the individual check, if you'd like to do that, add this file `/path/to/matomo/config/config.php` with the following contents:

[code]

Though if you're using shared hosting, it might also

[2021-05-19 17:04] #17578 closed, assigned to sgiehl

[2021-05-19 17:08] #17590 closed, assigned to sgiehl

[2021-05-19 17:55] #17107 closed, assigned to flamisz

[2021-05-19 19:50] utrautmann opened #17595 "After searching in pages report: Sometimes row evolution cannot be opened"
## Expected Behavior
Clicking on the row evolution icon must always be open the row evolution layer.
Even if I searched in the page report before.

## Current Behavior
Sometimes nothing happens when I clicking on the row evolution icon.

## Steps to Reproduce (for Bugs)
1. https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=

[2021-05-19 20:00] diosmosis opened #17596 "Potential BC break: controller requests with token_auth no longer use session auth"
After https://github.com/matomo-org/matomo/pull/17520 we avoid using session auth if token_auth is in the URL and force_api_session is not set to 1. This is fine for API requests, but in some places (like the GoogleAnalyticsImporter), we make ajax requests to controller methods w/ the token_auth in the URL. These now are not authenticated when they should be.

## Expected Behavior

When requesting

[2021-05-19 20:07] utrautmann opened #17597 "Acqusition overview 'evolution graph' cannot plot more than two lines correctly"
## Expected Behavior
In the acqusition overview should the graph "Evolution over the period" show all selected records.

## Current Behavior
After selecting more than two records to plot, the lines in the graph are all flat at 0.

## Steps to Reproduce (for Bugs)
1. Go to https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=y

[2021-05-19 20:12] tsteur commented on #17596
@diosmosis the solution in this case is likely similar to https://github.com/matomo-org/matomo/pull/17587 to send the correct `force_api_session=1` request in GA. It basically wasn't really supposed to work before. Or alternatively remove the token_auth from the request. Can you point me to the code maybe in GA Importer where the problem is?

Generally we'd want to have this check not just for API

[2021-05-19 20:15] tsteur commented on #17596
Just seeing the code in https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/4.x-dev/angularjs/import-scheduler/import-scheduler.controller.js#L57 . I think in that case we shouldn't set the token hard coded but use the method `withTokenInUrl` in the  API angular service which then will behave correct automatically

[2021-05-19 20:18] tsteur commented on #17596
Looked through the code and think the only other place that also needs updating is https://github.com/matomo-org/matomo/blob/4.3.0/plugins/UserCountryMap/javascripts/visitor-map.js#L1189

[2021-05-19 20:22] flamisz commented on #17597
Hi @utrautmann , sorry about this. It's a bug, as we can reproduce it on the demo site [here](https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=Referrers_Referrers&subcategory=General_Overview).
After some clicks like turn-on-off metrics, the lines go flat.

I wonder if this somehow related to #

[2021-05-19 20:26] flamisz commented on #17596
I'd prefer fixing the code as @tsteur suggested. This way will have a clear way of how it should and how it works.

[2021-05-19 20:33] tsteur commented on #17571
Here are few tweaks to make:

* The refer banner should be first shown after 6 months (i think currently it is right away). So if `ReferReminder.getUserOption===false` then we'd set the time to in 6 months so it will be shown in 6 months (after a user has used it for a while). We may need to double check the reminder date won't overlap with the review reminder. Maybe, if no date for refer reminder

[2021-05-19 22:04] flamisz commented on #17571
Adding buttons/links like `Remind me later` and `Never ask me again` to a footer banner doesn't look very good and almost impossible in one line.
So maybe the modal is the better option and this way we are more consistent as @tsteur mentioned.

[2021-05-19 23:03] tsteur commented on #7526
There's also https://www.rondb.com/

[2021-05-19 23:29] flamisz commented on #17571
I have a PR for the first new version for this #17598.

That includes all the changes from @tsteur's comment, ~~except the `premium feature` related (yet).~~
I used modal instead of a banner.

[2021-05-20 01:02] tsteur commented on #17281
FYI already updating this in [Matomo for WordPress](https://wordpress.org/plugins/matomo/) in next release as the tracking code is generated differently there (and it won't break any other automated tests)

[2021-05-20 02:36] vsoch opened #17599 "docker-compose recipe?"
Hi Matomo! I'm looking to get this running on an instance, and I'm wondering if anyone has set up a docker-compose recipe for it? I saw the docker-compose.yml in the .gitignore so I suspect that one used to exist, it exists locally for some developer. Any pointers to work started in this direction would be greatly appreciated! I'd definitely rather use containers than installing everything nativel

[2021-05-20 03:03] tsteur commented on #17599
Hi @vsoch there is https://github.com/matomo-org/docker if that helps? I'll close this issue for now but let me know if that's not helping and we can reopen the issue.

[2021-05-20 03:03] #17599 closed, assigned to nobody

[2021-05-20 03:09] vsoch commented on #17599
Absolutely perfect (and good idea to have it separate). Thank you!

[2021-05-20 07:47] oldrup commented on #17281
That's great news. I will give a spin on a test site :) Thank you for the update!

[2021-05-20 09:05] TimothyAlexisVass opened #17600 "Required Private Directories "SSL certificate problem: unable to get local issuer certificate." warnings after upgrading to 4.3.0"
Unable to execute check for https://xxxxxxxxxxx.se/config/config.ini.php: curl_exec: SSL certificate problem: unable to get local issuer certificate. Hostname requested was: xxxxxxxxxxx.se
Unable to execute check for https://xxxxxxxxxxx.se/tmp/: curl_exec: SSL certificate problem: unable to get local issuer certificate. Hostname requested was: xxxxxxxxxxx.se
Unable to execute check for https://xxx

[2021-05-20 09:32] Findus23 commented on #17600
Hi,

For the system check to see if those files are public Matomo makes a HTTP request to your own server using curl.
So it seems that while your certificates are valid and trusted by your users (otherwise tracking wouldn't work), your server itself doesn't trust the certificate.
You can try this out by running `curl https://your.matomo/lang/en.json` on your server and see if the same error occur

[2021-05-20 09:54] JE4GLE opened #17601 "Add a configurable offset to Content Tracking with JavaScript"
## Summary
When using the content tracking feature, the JavaScript tracker often detects content, which is not visible on the screen. This can be tested by creating a div with 100vw/vh width and height. Then adding another piece of content below. In my case, the second content is still tracked, without scrolling. So adding an offset in pixels, which an element has to be visible would be solving th

[2021-05-20 10:37] TimothyAlexisVass commented on #17600
After having done more testing with curl and wget with this and some other servers, it's safe to say that the issue is something other than matomo.

[2021-05-20 10:37] #17600 closed, assigned to nobody

[2021-05-20 13:26] basos9 commented on #17035
Finally i managed to import (replay) the tracker access logs by filtering out the outliers
[code]
Another convenience for the import script would be a switch to skip pass an erroneous batch rather than abort. Since one ourlier can make a big import to fail.
Also during my tests the import tool does not always report the failed position in logs.

[2021-05-20 13:44] mddvul22 commented on #17584
Thank you for the reply/update/info.

[2021-05-20 13:45] math-GH opened #17602 "Fix 2-lines label overflows the input"
<img width="552" alt="Bildschirmfoto 2021-05-20 um 15 35 40" src="https://user-images.githubusercontent.com/1645099/118988272-556c1b00-b981-11eb-9f03-dfc66b1ed50e.png">
link: /index.php?module=CoreAdminHome&action=generalSettings&idSite=1&period=year&date=today

In English it is mostly quite ok, because the texts are short.
In German it happens often, because of longer texts.

## Expected Behavior

[2021-05-20 13:50] basos9 commented on #17010
Hello,
Maybe this could be defered after #17013 is implemented for comparizon purposes

After upgrading to 4.3 (from 3.) we have this picture

![image](https://user-images.githubusercontent.com/1616441/118990309-6de13300-b98b-11eb-9ae6-bf9fc04b72b0.png)

which could be complemente by just overlapping the new metrics "avg. page load time"

[2021-05-20 14:09] Petsios commented on #15438
Hello,

is this config still available (working) with version 4.2.1?:
_segments can be put into "filter" mode with a config flag (of course it then applies to all segments). To enable this set [General]enable_segments_cache=0 in config/config.ini.php_

Thanks a lot

[2021-05-20 14:23] Findus23 commented on #15438
Hi @Petsios,

Nothing changed about this since the release of Matomo 4:
https://github.com/matomo-org/matomo/blob/d099f75f836b6ed8402bc91c9534846642824058/config/global.ini.php#L205-L209

[2021-05-20 17:48] diosmosis commented on #17602
Thanks for the bug report @mathContao, there certainly could be more space in this situation!

[2021-05-20 17:52] EthanMcL commented on #17583
I've been following this (specifically #17138).  Do we have a workaround to get segments that include encoded URL strings working?  Currently they only work on single days, where even doing a date range for yesterday-today breaks.

[2021-05-20 20:45] diosmosis commented on #17601
Hi @JE4GLE, thanks for taking the time to create this issue! From what I know, `trackVisibleContentImpressions` shouldn't track images that aren't visible. I tested it just now and it seems to work as expected (on Chrome). Could you provide an example HTML file where it doesn't work like this as well as the browser used to view the example?

[2021-05-20 20:49] diosmosis commented on #17583
Hi @EthanMcL, can you tell me, is it the automatic rearchiving of past data that fails? Or just viewing data for a segment w/ encoded values? If the latter, can you tell me:

1. Is it just range periods or also week/month/year periods?
2. Do you have browser archiving enabled or are you primarily using core:archive?

[2021-05-20 21:01] mkindred opened #17603 "Yearly archives running nonstop, archive tables growing"
This does involve the custom reports plugin, but the issue is during archiving, so I'm not sure if the culprit is custom reports, goals, or core.

## Expected Behavior

Archiving processes run from hourly cron should complete.

## Current Behavior

I have had several archive processes that start at each cron archive run (hourly), but never complete. They ran for hundreds of hours or until I killed

[2021-05-20 21:42] tsteur commented on #17596
I just tested and visitor-map is already doing it correctly. @diosmosis I think you updated the GA importer so we can close this issue? Let me know if that's not the case and I will reopen.

[2021-05-20 21:42] #17596 closed, assigned to tsteur

[2021-05-20 21:52] EthanMcL commented on #17583
@diosmosis It is viewing data with a segment.
Bit of background, we introduced a new Custom Report and Segment (to filter out some results) last week.  We invalidated data to fill the Custom Report with historical data (just back to mid April).  The segment could filter on any of the single days, but not a custom range or week/month/year.

Fast forward to this week, we still can not use the segmen

[2021-05-20 22:02] #17567 closed, assigned to flamisz

[2021-05-20 22:28] diosmosis commented on #17603
@mkindred this sounds like it would be fixed by https://github.com/matomo-org/matomo/pull/17244, which is included in 4.3.0. Can you see if applying this change then running `core:purge-old-archive-data` helps? (Ideally if you could, updating to 4.3.0 would be better, as it has many other fixes around archiving.)

[2021-05-20 22:37] diosmosis commented on #17595
@utrautmann confirmed, this is a bug. I also noticed that it works if you load row evolution for a folder after searching. All subsequent attempts to load row evolution then work.

Put specifically, it works in this case:

1. Search for 'suba'
2. Load row evolution for a folder row (ie, http://mywebsite.com/some/path/)
3. Close it, then load row evolutions for individual pages (ie, http://mywebsit

[2021-05-20 23:19] #17571 closed, assigned to flamisz

[2021-05-20 23:39] diosmosis commented on #17583
@EthanMcL that sounds like a different issue then. Can you tell me, for the segments you use as filters, do you see data in the main UI (not just in the customreports it's used in)? Are there some periods where it's present, and others where it is missing?

[2021-05-21 00:51] EthanMcL commented on #17583
@diosmosis Yes, I can confirm that my filter (with adaption, see below) works in the Visitors Log section, where I can do data range / week / month / year, and filter based on the segment.  It appears to work for all periods that I tested.  The issue seems to be purely with the Custom Reports, and applying the segment there on anything but a single day.

Side observation: We are filtering based on

[2021-05-21 02:14] tsteur commented on #17577
Created https://github.com/matomo-org/matomo/pull/17604 as a first improvement as well as this FAQ  https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/  which we can improve and complete over time.

To fully fix this issue we should maybe split the one system check into two system checks:

* private directories that are basically required to fix: `'.gi

[2021-05-21 07:12] JE4GLE commented on #17601
I think is was just a loading issue with some CSS, which got loaded after the initialization of the tracking code. This way, the page shifted a bit and moved the elements out of sight.

[2021-05-21 07:48] math-GH opened #17607 "Page title dashboard widget: button's title attribute"
Page: dashboard
Widget: page title

Please take a look on the 4 green buttons.
And hover with your mouse pointer over these buttons.
![grafik](https://user-images.githubusercontent.com/1645099/119099872-a75f8000-ba17-11eb-83e2-9bedc4fd7993.png)
1st button (cog): does not have any mouse title
2nd button (visualization): has a mouse title on the tiny image, but does not have a title on the gray back

[2021-05-21 08:15] math-GH commented on #17607
When I expand the report:

<img width="992" alt="grafik" src="https://user-images.githubusercontent.com/1645099/119104763-ec39e580-ba1c-11eb-816e-92a24f38691c.png">

The black mouse title (via Javascript?) is not active, but only the browser default title is shown

<img width="333" alt="grafik" src="https://user-images.githubusercontent.com/1645099/119105256-6a968780-ba1d-11eb-9132-09d765e3cfd7.pn

[2021-05-21 11:12] math-GH opened #17608 ""Visits over time" does not match with "visits in Real-time""
I think the "Visits Over Time" chart does not calculate the correct number for today:
![grafik](https://user-images.githubusercontent.com/1645099/119127965-5199d080-ba35-11eb-8964-7550912c2256.png)

The chart also does not update the numbers when I visit the Visitors:Overview section
![grafik](https://user-images.githubusercontent.com/1645099/119128218-a9d0d280-ba35-11eb-8c82-5ef4b89ef522.png)
The

[2021-05-21 13:02] utrautmann commented on #17595
@diosmosis thanks for the tip

[2021-05-21 13:04] utrautmann commented on #17597
Hi @flamisz , oh, I think it could be the same reason for failure in #17499.

[2021-05-21 14:43] mkindred commented on #17603
Yep, I'll upgrade. I wanted to hold off on upgrading until I had stopped the table growth.

Just to help with my understanding, can you confirm:

The automatic purging of invalidated archives doesn't happen until the archive in question completes, correct? And I assume this probably also applies to a manual purging. Those tables aren't going to shrink if there's not a completed archive for the sam

[2021-05-21 14:58] Littlericket opened #17609 "Matomo Cron - Segmention fault on Report Generation"
The Matomo Cron Archiving is throwing us segmention fault errors upon sending a report. It doenst stop the cron from archiving (all data is still visible), but throws an error in the UI that the cron hasn't been run since X days. Haven't found any issue or something on the forums except the FAQ-Issue (https://matomo.org/faq/troubleshooting/faq_131/, https://github.com/matomo-org/matomo/issues/4507

[2021-05-21 17:31] diosmosis commented on #17583
@EthanMcL ok, then that seems to be a bug in CustomReports, since the segment filter is only actively used in generating the day archives (higher periods just add together reports of lower periods). Are there other reports aggregated for those periods or is the entire period missing data?

[2021-05-21 18:26] diosmosis commented on #17583
Note: cause of original issue is that the segment hash we see when invalidating data is different from the hash stored in the table. This is created from the stored segment `definition` column though.

[2021-05-21 18:41] diosmosis commented on #17603
@mkindred

The purging process deletes archives that are older than the newest ones. The newest ones do not get deleted, and the newest one has to be marked as complete to be considered the newest.

It should help with it, the code will try and set the session `group_concat_max_len` before the query. If this works for the mysql user you are using, it will make the problem much less likely to occur

[2021-05-21 19:24] diosmosis commented on #17609
Hi @Littlericket, can you provide the definition of the problematic report (id = 17)? Can you also check if it happens from the browser (when clicking the Download link)? And would you be able to check if removing a specific report causes the problem to go away?

[2021-05-21 19:40] diosmosis commented on #17608
Hi @mathContao, can you contact cloud support at support@matomo.cloud and provide them with your matomo.cloud subdomain so we can look into it further?

[2021-05-21 19:43] diosmosis commented on #17607
Confirmed @mathContao, thanks for the report!

[2021-05-21 19:44] diosmosis commented on #17601
@JE4GLE so they were visible on page load for a brief moment, then the css moved or hid them, and the problem is that they were tracked before the css moved them, is this understanding correct?

[2021-05-22 10:30] JE4GLE commented on #17601
Yes, I have one stylesheet for the whole page loaded at the end of the page (but before the tracking script)

[2021-05-23 20:38] #17583 closed, assigned to nobody

[2021-05-23 21:06] tsteur commented on #17608
fyi @mathContao also note that these reports are updated only every few hours so you might not have seen the latest data yet and comparing the two numbers would only work around midnight because the number of visits/visitors in the last 24 hours might be different to the numbers during the day in the site's timezone.

* For example in the site's timezone will always look at the visits from 0:00-23

[2021-05-23 21:06] #17608 closed, assigned to nobody

[2021-05-24 09:22] math-GH commented on #17608
@tsteur @diosmosis
Ok, thanks for information. Please let us discuss some points:
1) I use Matomo on-prem and matomo.cloud. For me as a user I expect same/similar experience on both. On-prem the stats "Visits over time" is calculated with the newest numbers.
2) for me it is fine that not all stats are calculated with the newest numbers, but I expect an information about the age of stats. For exmpl

[2021-05-24 09:23] lds-lds opened #17613 "(core dumped) when upgrade to 4.3.0"
hello

i got this error when i updated matomo to version 4.3.0 by running  php /home/matomo/www/matomo/console core:update

[code]

only one treatment appears on the 151 ...

I launched the command again and got this result:
`Everything is already up to date.
`
did I corrupt my database ?

## Your Environment

* Matomo Version: 4.3.0
* PHP Version:7.2.34-21
* Server Operating System: ubuntu/xenial

[2021-05-24 14:16] Findus23 commented on #16604
This is kind of documented in https://matomo.org/faq/how-to/custom-dimensions-extractions/

One easy solution in regex101 is to set the delimiter left of the regex to something else than / (this way one doesn't need to escape it there just like in Matomo)

[2021-05-24 14:20] Findus23 opened #17614 "Allow testing Regex when creating a Custom Dimension Extraction"
Creating regex is hard and the way Matomo interprets them is not identical to what people would expect when entering the regex (e.g. https://github.com/matomo-org/matomo/issues/16604)

I think now that there is a great guide for it and more people will want to use this feature it would be incredibly helpful if there was a quick way to test the entered regex.

Something like a text box where one ca

[2021-05-24 16:29] diosmosis commented on #17613
Hi @lds-lds, that's strange that it would say it's already up to date since updating the internal version is only done after the update process is complete. If you'd like to re-run the updates, you can run the following SQL: `UPDATE matomo_option SET option_value = '{previousVersion}' WHERE option_name = 'version_core'`. Note: running updates twice will not result in extra changes or an error.

[2021-05-24 16:36] diosmosis commented on #17601
Hi @JE4GLE, I tried reproducing this (w/ the stylesheet at the end of the page before the tracking), and was still not able to reproduce. Would you be willing to share the website that this is occurring on over email? If so email dizzy@innocraft.com. If you could also tell me what browser you're using that would help as well.

[2021-05-24 19:29] MichaIng opened #17615 "Insights widget shows only "Others" page titles"
Since Matomo v4.3.0 I think, the dashboard widgets "Insights Overview" and "Moves and Shakers" of the Insights plugin show only "Others +100%" and "Others -100%" where most changed page title views should be listed. It looks like page titles with less views/changes are accumulated as "Others", but all of them together change most, which doesn't seem like intended, at least makes it useless.

## Ex

[2021-05-24 23:46] jmumby opened #17616 "Expanding an admin menu scrolls the screen to the current fragment."
When in admin if you have currently scrolled to a fragment in the page for example #ScheduledReports then click on a menu item to expand it the page scrolls to the fragment.

To reproduce:

Enter admin
Click Platform -> API
Click SEO from the links
Scroll to the top
Click on Personal

[2021-05-25 06:39] Petsios commented on #15130
@tsteur Hi, i have the same issue with segment that displays results of other segments in reports.
I have the version 4.2.1 of matomo.
I would like to know if with custom reports we can only filter results of the current segment without displaying all the pages viewed during the visit (including results of other segments)

Thank you.

[2021-05-25 07:27] sgiehl commented on #17616
Guess we would need to remove any url fragment when a menu item is clicked

[2021-05-25 09:13] alimony opened #17619 "Matomo reports file integrity issue for stray files after upgrade"
## Expected Behavior
Upgrading Matomo should not introduce any stray files that cause a file integrity check warning.

## Current Behavior
File integrity check reports the following after upgrading:
[code]

## Possible Solution
Not sure.

## Steps to Reproduce (for Bugs)

1. Upgrade Matomo to 4.3.0
2. Run the system check

## Context
Does not affect me directly, but something is obviously wrong.

[2021-05-25 09:54] Findus23 commented on #17619
Hi,
this is related to https://github.com/matomo-org/matomo/issues/17399

Simply automatically deleting all files that the integrity report flags sounds like a very bad idea as it will probably delete custom files from a few users.
So a more clever solution needs to be found.

[2021-05-25 09:58] alimony commented on #17619
I don't expect Matomo itself to leave these specific files behind in the first place.

[2021-05-25 10:01] sgiehl commented on #17619
Those files should not have been included in a release at all. That was kind of done by accident and so they have been removed in a later release again.

[2021-05-25 12:43] dguttierrez opened #17621 "General Settings - no Email Settings"
In general settings I'm missing E-mail Settings on two multiserver instances.
On single Matomo instance there is no such error.

* Matomo Version: 4.3.0
* PHP Version: 7.3.20
* Server Operating System: RHEL 7.8

[2021-05-25 19:35] diosmosis commented on #17621
Hi @dguttierrez this section is removed if the `[General] multi_server_environment` INI config option is set. This is because the mail settings are stored in the INI configuration file, and that file is not automatically synced between instances in a multi server environment. The solution to how to set this depends on how your environment keeps this file synchronized. If you are using a shared fil

[2021-05-25 20:16] diosmosis commented on #17615
Hi @MichaIng, thanks for the report, we see this on our instances as well.

[2021-05-25 20:19] tsteur commented on #15130
@Petsios yes that should work

[2021-05-25 20:23] diosmosis commented on #17601
As discussed via email, this is likely a race condition with the stylesheet being loaded after the JS is executed. I'll close this for now, but feel free to reopen it.

[2021-05-25 20:23] #17601 closed, assigned to nobody

[2021-05-25 23:42] vsoch opened #17622 "Ingest S3 directly"
Hi matomo! I am wondering if there is a best practice for ingesting S3 logs directly, ideally from S3 and not needing to sync them to the same matomo server first and then using the script? Thank you!

[2021-05-26 01:20] mattab commented on #14782
btw It is optional but (only?) required for the "CLI processes" to work during core:archive, which is important for higher traffic websites, or for Matomo instances that have a lot of segments, or that have a lot of websites. learn more: https://matomo.org/faq/troubleshooting/how-to-make-the-diagnostic-managing-processes-via-cli-to-display-ok/

[2021-05-26 05:29] dguttierrez commented on #17621
Hi @diosmosis

Tnx for your reply. Yes I have multi_server_environment set to 1. For syncing files I'm using lsyncd and sync files through three servers - one for admin (UI) and two for tracking - those two trackers are behind load balancer. So you suggest, that I don't need multi_server_environment set to 1?

I also have smtp settings in config.ini.php file, but now in version 4.3, when I tried t

[2021-05-26 06:28] diosmosis commented on #17621
@dguttierrez

Possibly, no you don't. If you set it to 0, then the UI settings will display, and you'll be able to change the mail settings, for instance. Changing it will only change the config.ini.php file on the specific instance that's handling the request. If you have some way to synchronize the config.ini.php file on the other instances, then it should be fine and you shouldn't need to set m

[2021-05-26 07:08] sgiehl commented on #17622
Hi @vsoch. Thanks for creating the issue. I assume you are talking about our log-importer?
Actually it should be possible to run the script an any server that supports python 3. You can send the extracted tracking request to any Matomo server that is reachable using the `--url` option. It might also be needed to set the `--token-auth` param manually in this case, at the log impoter might not be ab

[2021-05-26 07:54] dguttierrez commented on #17621
Hello

Thx for this command. I have found error. Connection to SMTP on port 25 has send STARTTLS which I don't use (internal mail relay). When I added encryption = "none" to config file, sending works.

TNX for help

[2021-05-26 07:54] #17621 closed, assigned to nobody

[2021-05-26 08:09] lds-lds commented on #17613
hello @diosmosis

when I execute your order I get Rows matched: 1  Changed: 1  Warnings: 0

Does that mean that the 151 operations of the maj were correctly executed?

[code]

[2021-05-26 10:19] vsoch commented on #17622
Thank you for the speedy response! So what would be best practice to consistently upload new logs from S3 - running a server or something like lambda alongside a Kubernetes deployment to run the log importer? Something else?

[2021-05-26 14:52] math-GH commented on #17619
I had the same issue. It needed some minutes, than the issue disappeared

[2021-05-26 15:00] math-GH opened #17625 "Sticky "Maximize" tooltip"
Move the mouse cursor on the dashboard over the maximize icon.
Wait till the "Maximize" mouse title appears.
Than click on the icon.
=> The widget opens in a maximized mode
But the black "Maximize" mouse title sicks to the cursor and will not disappear.

<img width="574" alt="grafik" src="https://user-images.githubusercontent.com/1645099/119682405-27844c00-be43-11eb-9407-8580bab85537.png">

<img w

[2021-05-26 15:56] sgiehl commented on #17625
Hi @mathContao. Thanks for creating this issue. I was able to reproduce that on our demo using Firefox. In Chrome it seems to work fine. Guess we need to force closing the tooltips when the maximize button is clicked.

[2021-05-26 17:13] diosmosis commented on #17613
@lds-lds Apologies, I should have mentioned, that SQL just makes matomo think its at an older version. So when you load Matomo or run the core:update command, it will run the updates from 4.2.1. You still need to load Matomo and go through the upgrade or run core:update.

[2021-05-26 17:23] diosmosis commented on #17622
Hi @vsoch, we don't have an established best practice for this specific use case. A lambda probably wouldn't work since there's a hard 15 minute run time limit (if I recall correctly). Can you launch a kubernetes job for this? Eg, when a log file is uploaded to S3 (if that is how you are using S3), launching a kubernetes job to download and import it. There are a lot of ways to accomplish this, it

[2021-05-26 18:17] math-GH opened #17626 "widget: minimize and reload icon"
Dashboard: maximized Widget

When the mouse cursor hover over the head of table, than the icons to minimize and to reload the widget content appears on the left of close icon.
![grafik](https://user-images.githubusercontent.com/1645099/119710579-cbc7bc00-be5e-11eb-9038-6904f5f1f5be.png)

The red close icon gets cuted.
The appeared icons cannot used, because while the cursor leaves the head of tabl

[2021-05-26 18:37] math-GH opened #17627 "links in mouse title"
/index.php?module=CoreAdminHome
![grafik](https://user-images.githubusercontent.com/1645099/119713098-a4beb980-be61-11eb-9ce1-23abb45d4caf.png)
![grafik](https://user-images.githubusercontent.com/1645099/119713127-ac7e5e00-be61-11eb-8cbb-e3ad8a278584.png)

There are hyperlinks in the mouse title. The user cannot click on it, because the mouse title disapper when the coursor moves to the text.
The

[2021-05-26 18:44] vsoch commented on #17622
Ah, gotcha! Thank you for this discussion - we also have in mind to do a kubernetes job, and wanted to check if there was a suggested best practice first. I can come back here and comment after we get it working. But safe to close the issue, thanks again for your help!

[2021-05-26 18:44] #17622 closed, assigned to nobody

[2021-05-26 20:58] diosmosis commented on #17507
Hi @patrick-stickler-csc-fi, were you able to update to 4.3 and see if this fixed the issues you were experiencing?

[2021-05-27 02:05] #14977 closed

[2021-05-27 02:08] #15780 closed

[2021-05-27 03:02] Starker3 opened #17628 ""Rows to display" cannot be changed if a row is expanded"
## Expected Behavior

We would expect that a reports maximum "Rows to display" can be changed when expanding/collapsing a row in the report.

## Current Behavior

Currently when a report contains rows that can be expanded (When a report is hierarchical), the option to change the maximum number of rows is removed. For example when no rows are expanded the option to change the number of rows is show

[2021-05-27 04:54] #16672 closed

[2021-05-27 05:20] patrick-stickler-csc-fi commented on #17507
I have now updated our Matomo instance to 4.3.1 and will test if it resolves the issues.

Should the update affect both past and newly aggregated data, or only newly aggregated data?

Patrick

--
Patrick Stickler
Senior Software Specialist, Research Data Services
CSC - IT Center for Science Ltd., PO Box 405, 02101 Espoo, FINLAND
+358 50 381 8615, ***@***.***

[2021-05-27 05:52] diosmosis commented on #17507
@patrick-stickler-csc-fi only newly aggregated data. You may need to invalidate old data to initiate aggregation again.

[2021-05-27 05:54] patrick-stickler-csc-fi commented on #17507
OK, I have a script that invalidates old data per all of the segmentations we use, for all date periods we have aggregated data. I will run that, and then start regenerating reports, and hopefully the issues will be resolved (at least for new data from now onward, which would be sufficient).

Thanks.

Patrick

--
Patrick Stickler
Senior Software Specialist, Research Data Services
CSC - IT Center f

[2021-05-27 07:32] sgiehl commented on #17626
Hi @mathContao. Thanks for creating this issue. I was able to reproduce that on our demo and it seems to happen in all browsers. Not sure when that got broken, but it seems to be regression as it used to work somewhen.

[2021-05-27 08:24] sgiehl commented on #17627
Hi @mathContao
Thanks for creating this issue. Having links in tooltips indeed doesn't make much sense. In this case I guess the description is used that is also displayed on the system check page.
Guess we likely won't change that, as we otherwise would need new tooltip descriptions for each system check item, which would cause a lot new translations being needed. But we maybe could remove the `<

[2021-05-27 08:27] heurteph-ei commented on #17628
Additional question in order to find the best solution: When roots are collapsed, does this _number of rows_ selector filter the number of root rows, or the number of all rows including leaves?
If this only apply on the roots, so the selector could be displayed and be active all time...

[2021-05-27 09:01] SCRUMschau commented on #17627
maybe the grey color of link text could be changed to white, than the problem is solved that the text is unreadable.

[2021-05-27 14:36] lds-lds commented on #17613
ok I understood that in the meantime
my problem remains that console core: update returns a core dumped

I upgraded the version of php to 7.4 and the version of mariadb to 10.4 the problem remains the same

[2021-05-27 17:09] diosmosis commented on #17613
@lds-lds we'll have to try and find out where the segfault is happening. Can you check the following for me?

* does the `brute_force_log` table have a `login` column?
* does the `segment` table have a `hash` column?

And just to be clear, you are upgrading from Matomo 4.2, correct?

[2021-05-27 17:34] #17626 closed, assigned to sgiehl

[2021-05-27 17:37] #17625 closed, assigned to sgiehl

[2021-05-27 18:12] peterbo opened #17631 "Segment uses wrong archive to report visits"
When a certain segment (archived server side) is selected, daily reports are correct, but range/monthly/year reports are completely off / wrong. It seems like the higher periods would use outdated / wrong archives to calculate data. The numbers are all wrong, but in the visits count, this is most obvious, because it shows 15 times more visits than pageviews, but in the graphs you can see, that pag

[2021-05-27 18:19] diosmosis commented on #17631
Hi @peterbo, there were a lot of bugs fixed around this in 4.3, would you be able to upgrade and check again? It might be required to invalidate the periods w/ inaccurate data.

[2021-05-27 18:27] peterbo commented on #17631
Hi @diosmosis thanks for the fast response! At the moment, we can't update yet, but I hope this will be possible soon, since it's also my recommendation. I'll report back, when the update was done, but it can take some time (because of client infrastrcture and compliance).

[2021-05-27 18:30] mkindred commented on #17603
Update:

- I upgraded Matomo to 4.3.0 in my local docker environment.
- I deleted the two custom reports. This seems to have allowed my archiving to complete.
- Once I saw that, I deleted the same two reports from production, and archiving is completing there, as well. That's good to see.

But I still have millions of duplicate rows in the archive tables associated with the 2020-01 yearly archives

[2021-05-27 18:56] diosmosis commented on #17603
@mkindred Does the count of duplicates stay the same after running the purge command? Or better, does the count of total rows in the archive table decrease at all?

[2021-05-27 20:32] mkindred commented on #17603
The duplicate rows remain the same after each purge. The total row counts for matomo_archive_blob_2020_01 and matomo_archive_numeric_2020_01 seem to fluctuate up a bit, then back down to 12.2M rows.

[2021-05-27 20:47] diosmosis commented on #17603
@mkindred I guess there are just far too many duplicate archives for the current code to handle... Would you be able to apply this patch: https://github.com/matomo-org/matomo/compare/large-amount-of-purgable-archives?expand=1 then try and purge again?

[2021-05-27 21:32] Starker3 commented on #17628
@heurteph-ei It affects all row limits for the report including subtable rows.
So for example is we set the limit to 10, the root row including all subtable rows will each be limited to 10.

That means that technically you could see all the top rows if your limit was for example 10, but if you expanded one row and the subtable had more than 10 rows in it you wouldn't see more than the first 10 row

[2021-05-27 22:01] diosmosis opened #17634 "filter_limit applied to actions subtables w/o paging"
## Expected Behavior

When an actions subtable is limited, the user is made aware and can page through it.

## Current Behavior

The limit selector value determines how the root table is limited and how subtables are limited. But unlike normal subtables, actions subtables do not have paging controls. So the data is simply lost.

For example, here is the same table w/ a filter_limit of 10:

![image

[2021-05-27 22:02] diosmosis commented on #17628
@Starker3 noticed this as well and just created a bug report for it: https://github.com/matomo-org/matomo/issues/17634

[2021-05-28 00:12] Starker3 commented on #17417
### Reproducing issue with the standard JS tracker:

The following is required in the tracking code in order to reproduce:
[code]

Step 1: Visit the web page from a subdomain (In this example `www.`)
Step 2: Execute `_paq.push(['rememberCookieConsentGiven']);` from the console
Step 3: Confirm that cookies were created for the correct subdomain (`www.` in this example):
![Friday-28-05-2021 12-02-48

[2021-05-28 00:18] tsteur commented on #17417
@Starker3 thanks for this. moved it into 4.4

[2021-05-28 02:52] tsteur commented on #15751
see https://github.com/matomo-org/matomo/pull/17636 where we are allowing tracker configurations per site. Basically the format is

[code]

And these site specific settings will overwrite the regular setting.

[2021-05-28 03:22] #15751 closed

[2021-05-28 07:57] heurteph-ei commented on #17628
So this bug seems easy to fix as the drop-box already works as expected, it has just to not be hidden...
But bug #17634 needs more work to be fixed...

[2021-05-28 09:19] Chardonneaur commented on #10739
Hi guys, I have a client who would be very interested in having this feature. Would it be also possible to have it within the pie chart export?

[2021-05-28 11:52] lds-lds commented on #17613
@diosmosis
Yes i upgrade from Matomo 4.2

Here is mariadb describe command for piwik_brute_force_log and piwik_segment for matomo 4.2

[code]

[code]

[2021-05-28 12:01] lds-lds commented on #17613
@diosmosis

And after upgrade from   4.2.1 to 4.3.1

[code]

[code]

[2021-05-28 12:41] JE4GLE opened #17638 "Add multiple sizes of favicons"
## Summary

The option to provide a favicon for the self-hosted matomo installation is very good, but it is still missing different favicon sizes to be displayed properly on every operating system. For example, I added my matomo link to my favorites in macOS and iOS, but it isn't using the favicon as an icon.
Generating different sizes for favicons would be a great improvement. See this site for a

[2021-05-28 13:14] lds-lds commented on #17613
it's very strange
I have enabled mysql logs
when I first run core: update then core dumped and I can see in the logs that the update mysql requests are not passed

if I `UPDATE piwik_option SET option_value = '4.2.1' WHERE option_name = 'version_core';`
and restart core dump then the update requests are well executed

[2021-05-28 15:16] benji1000 commented on #13654
Hello, do you still consider user enumeration as a non-security issue? If yes, could you please take an official stance and close this issue? And if not, could you please fix it? Thank you for your answer.

FYI, [OWASP seems to consider it as security issue](https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/03-Identity_Management_Testing/04-Testing_

[2021-05-28 19:27] DontPlayTheGame commented on #17628
I'm happy that the current behavior is now reported/labelled as bug.
Just my 2 cents to the issue (as some one as a CPUX) and with many feedback from our users, i can tell that the current behavior is not what a user is expecting during interactions with the UI.
The typical user interaction is:

- select a date / date range,
- check the numbers in the aggregated rows and
- **then click on a row to

[2021-05-30 18:09] diosmosis commented on #17613
@lds-lds That's odd... it looks like the updates were successfully run, and the failure occurs sometime afterwards. Perhaps the output is buffered and does not have a chance to be printed out. I'm not sure where the issue could be. Can you check if there are any plugins that are now deactivated after the update? And would you be able to set `version_core` to `4.2.1` then do a dry run of the update

[2021-05-30 20:45] tsteur commented on #10739
@Chardonneaur the API export should be the same export AFAIK so this should then work out of the box.

[2021-05-30 21:57] tsteur commented on #17628
This seems to mostly impact action data tables where we show the subtable "embedded".

I see this was removed in https://github.com/matomo-org/matomo/commit/0b5e89c669df628427a8361298c9f99e0a3b9219#diff-f1627c29aeaa3c345fe9c1cadcd5080c98fc169131e2e37a7d590bc7aa929532R240  and partially related https://github.com/matomo-org/matomo/commit/681d4437d908218b26b79da7b84008d8b72d9431

@sgiehl @mattab do

[2021-05-31 03:02] Starker3 opened #17640 "Page Overlay ignores token_auth in URL when opened from a Widget"
## Expected Behavior

When embedding Matomo widgets in an iFrame, it is expected that all links in the widget will work when using a `token_auth` with the correct permissions.

## Current Behavior

When embedding Matomo widgets that contain links to view the Page Overlay (For example the Pages or Page URL reports) the Page Overlay links open in a new tab and force the user to log in instead of usi

[2021-05-31 06:53] sgiehl commented on #17628
@tsteur can't remember actually. Maybe it was a usability thing. As changing the limit with an open subtable would actually close the subtable again and not show more rows in the subtable.

[2021-05-31 08:39] fluctfelix commented on #17595
I confirm this bug. Exists at least since Version 4.1.x. Behavior is somewhat random. Sorry @diosmosis , can not confirm your solution :-/ . Waiting and clicking again fixed it for me sometimes.

[2021-05-31 09:03] Findus23 commented on #17638
Hi,

I think nowadays every browser should support a simple single PNG file that is high resolution enough as a favicon and scale it to the size it needs.
I think the issue is just that Matomo resizes the favicon image to 32x32px on upload which might be a bit small.
I guess just increasing that number should improve the situation already a lot (especially as the default Matomo favicon is 256x256p

[2021-05-31 09:30] sgiehl commented on #17640
I'm not sure if the Page Overlay is meant to work in an iframe. ping @tsteur @mattab
But I guess the "problem" is that the overlay appends `force_api_session=1` to various urls.

[2021-05-31 09:31] sgiehl commented on #17638
Guess it makes sense to simply generate a bigger one 👍

[2021-05-31 10:04] lds-lds commented on #17613
@diosmosis
Hello
i just updated again from vm matomo backups with mysql logs enabled
### 1: with core: update
there is a coredump on  `SELECT * FROM piwik_segment` and mysql update operations did not pass

183 Query	SHOW COLUMNS FROM piwik_log_visit
          183 Query	SHOW COLUMNS FROM piwik_log_link_visit_action
          183 Query	SHOW COLUMNS FROM piwik_log_conversion
          183 Query	SHOW

[2021-05-31 17:17] diosmosis commented on #17613
@lds-lds thanks for the extra information! My guess is the CLI php is either a different version than the web PHP version or they are configured differently. Perhaps the CLI php version is not allowed as much memory? Can you check the `phpinfo()` results of your CLI php vs. web php?

[2021-05-31 21:12] tsteur commented on #17640
@Starker3 @sgiehl I just tested it using 4.2.1 and it worked there from what I can see so I'm assuming this might be a regression

[2021-05-31 21:30] flamisz commented on #17640
Probably related to this PR: https://github.com/matomo-org/matomo/pull/17520

[2021-05-31 21:47] Starker3 commented on #17640
@tsteur I tested this on 4.2.1 and had the exact same error. I tried appending the `token_auth` to the end of the URL (Since the link from the widget adds a # with additional information at the end of the URL) as well and it returned the error `Error: You must be logged in to access this functionality.`

[2021-05-31 21:50] tsteur commented on #17640
Weird, it worked for me there using

[code]

and then opening the page overlay. Tested this in a private window where you aren't logged in.

[2021-05-31 21:53] flamisz commented on #17640
@tsteur and @Starker3 could you please check if the URL of the overlay page contains the `force_api_session=1` and try it with or without it to reload the page?

[2021-05-31 21:57] tsteur commented on #17640
actually 4.2 and 4.3 works for me nicely with only the token.
Also works when adding force_api_session=1 (because I don't have a session active anyway)

[2021-05-31 21:58] tsteur commented on #17640
I can't reproduce the issue actually

[2021-05-31 21:58] Starker3 commented on #17640
@flamisz removing `force_api_session=1` from the URL didn't make any difference when testing (On 4.2.1).
I got the same error from the URL with and without the force_api_session: `Error: Your session has expired due to inactivity. Please log in to continue.`
Tested using a private window (To ensure that there is no open session)

The link that is generated for the overview on both my testing insta

[2021-05-31 21:58] flamisz commented on #17640
@tsteur the same for me, it works on the latest version with a view token even when the `force_session_api=1` is in the url.

[2021-05-31 21:59] Starker3 commented on #17640
@flamisz If it helps narrow it down, I'm testing using localhost for the iFrame widget with an externally hosted Matomo install (Accessible from the internet).

[2021-05-31 22:03] flamisz commented on #17640
OK I was able to reproduce it, had to turn off anom user (obviously) on my local environment. @tsteur @Starker3

[2021-05-31 22:17] tsteur commented on #17640
great find @flamisz  could you also `git checkout 4.2.1` to see if it happens there too?

[2021-06-01 01:54] flamisz commented on #17640
@tsteur it happens there as well. it's not a regression in my opinion.

[2021-06-01 01:58] tsteur commented on #17640
Great, thanks @flamisz I moved it out of the milestone for now.

[2021-06-01 09:53] ggr-mtm commented on #17631
Hi
We were facing to the same problem with 4.2.1 version. And now I confirm, all problem ar solved with 4.3. But you may need to truncate report tables before invalidate .

[2021-06-02 09:53] Chardonneaur commented on #13820
Hi there, any update regarding this feature development? Almost all my clients are asking for it.

[2021-06-02 19:47] diosmosis commented on #16904
@tsteur I wonder if we can do something like what's done w/ the Live plugin to avoid having to look over too many rows at the same time. For example, we look in the last 30 minutes for a idvisitor, then the last hour, then the last day, and so on until we find a previous visit. There would be more queries, but perhaps the queries would be faster? Just an idea.

[2021-06-02 19:48] tsteur commented on #16904
One of the problems that makes this query so hard to optimise is the requirement with the `visit_last_action_time` because we need to find the correct last visit before that timestamp. Maybe, if the tracking request doesn't provide a custom timestamp we could think about optimizing this query. This would be the case for most of the requests. In that case we would be mostly looking for the most rec

[2021-06-02 19:49] tsteur commented on #16904
Was wondering the same but I don't think it would help too much maybe because we're using the idvisitor index here and it means it would still need to look at all the visits. It would depend if the sorting is the slow CPU consuming part, then it might help. Although often we then might need to select twice which may make it overall a bit slower again maybe.

[2021-06-02 19:51] diosmosis commented on #16904
Is this something we can test or is high concurrency a contributing factor and it's only slow when we're actively tracking?

[2021-06-02 20:16] tsteur commented on #16904
fyi @diosmosis I've profiled the query and here's the output for a visitor with 20K visits. The big part is indeed creating the sort index. The where was `WHERE idsite = '3'  AND visit_last_action_time <= '2021-06-04 19:31:39'`

![image](https://user-images.githubusercontent.com/273120/120544920-1ab6b800-c442-11eb-91f5-a65537cf731f.png)

I've then adjusted the where to only look at the last 2 week

[2021-06-02 20:19] tsteur commented on #16904
Another option would be sorting in PHP as PHP can be scaled easily

[code]

again when there are thousands of visits the problem might be though that we'll be sending and transferring a lot of data.

So far still can only think of adjusting the index as mentioned in https://github.com/matomo-org/matomo/issues/16904#issuecomment-789273870 but this of course affects all writes.

[2021-06-02 20:21] tsteur commented on #16904
fyi also tested below query thinking maybe it improves as there is less data to sort or so but it's not improving the performance

[code]

[2021-06-02 20:23] tsteur commented on #16904
What did make the query fast is below query. But this will only work if the visits are actually in order and the highest idivist is the most recent visit

[code]

![image](https://user-images.githubusercontent.com/273120/120547278-fd371d80-c444-11eb-9db9-174a9e294b14.png)

[2021-06-02 20:33] tsteur commented on #16904
If I see this right: Basically, if we could cache whether they ever used a custom timestamp for a site during tracking or not then we could optimise the query big big times by sorting idvisit desc  instead. As soon as they use a custom timestamp in a tracking request we would be no longer able to use it though and fall back to slow. Most users would maybe not send a custom timestamp.

[2021-06-02 22:08] tsteur opened #17641 "ComparisonRowGenerator::compareTables() must implement interface Piwik\\DataTable\\DataTableInterface or be null,"
refs https://github.com/matomo-org/matomo/issues/17212

saw this error in the logs recently and just want to log it so we can track it if it happens more often in the future.

[code]

URL: https://$DOMAIN/index.php?date=2021-05-17,2021-06-01&forceView=1&viewDataTable=graphEvolution&module=VisitsSummary&action=getEvolutionGraph&disableLink=0&widget=1&columns%5B%5D=nb_uniq_visitors&columns_to_displa

[2021-06-02 22:35] diosmosis commented on #17641
@tsteur should be an easy fix: https://github.com/matomo-org/matomo/pull/17642

[2021-06-02 22:52] flamisz commented on #17615
I investigated the issue. I haven't sold it yet, but it looks like it's happening because we modified the logic around the summary row for datatables.

https://github.com/matomo-org/matomo/blob/c3bf4c85315a7c853eb13fa7318ca669fcab88c6/core/DataTable.php#L841-L849

It adds an extra row and we don't filter that out.

[2021-06-03 14:19] devlinrcg commented on #15608
@tsteur I can confirm this behavior with the following:

Version **4.2.1**:
- I'm unable to reproduce the error;

Version **4.3.0**:
- I was able to reproduce the error when navigating/clicking at a fast pace inside Matomo;
- I was not able to reproduce the error when navigating/clicking at a slow pace inside Matomo;

Version **4.3.1**:
- I was able to reproduce the error when navigating/clicking

[2021-06-03 14:35] uok commented on #17498
@flamisz , can you please provide SQL commands for fixing? Thanks!

[2021-06-03 21:23] flamisz commented on #17615
The last working version is `4.3.0-rc1`.
The diff between 4.3.0-rc1 and 4.3.0-rc2 is here: https://github.com/matomo-org/matomo/compare/4.3.0-rc1...4.3.0-rc2

It has a commit about summary rows. I check if it works without that commit.

[2021-06-03 21:32] flamisz commented on #17615
@diosmosis I checked and this commit causes the issue here: https://github.com/matomo-org/matomo/commit/8366ad8ded026d8e6907a4738be44744c72a0312

Do you have an idea why it could happen? As I check the data I see we have an extra row now and don't filter that out during the process.

[2021-06-03 22:37] diosmosis commented on #17615
@flamisz no, I'm not sure why that would happen. To figure out why, I might take the following approaches:

- look in the Insights code for `getRowFromLabel()`/`getRows()` calls since those were the main methods that changed
- look in the Insights code for uses of subtables & summary rows and see if the use could cause different results now
- create an automated test that fails on 4.x-dev but pass

[2021-06-03 22:37] flamisz commented on #17498
Hi @uok,

unfortunately, currently, we can't provide an SQL command that emptying `log_action` table with the others.

[2021-06-03 23:29] Starker3 opened #17643 "Allow Custom Dashboards to be set for specific Site IDs"
## Summary

Currently when creating a custom dashboard, that dashboards becomes available on all websites in that Matomo instance for that user (Or multiple users if copied to other users). This can sometimes be an issue for Custom Dashboards that have widgets that only exist for specific websites (For example Custom Reports) or widgets that won't have any data (For example Ecommerce widgets if th

[2021-06-03 23:40] flamisz commented on #17615
It looks like the problem is in the `rebuildIndex()` method.

https://github.com/matomo-org/matomo/blob/8b4b8ce017c15a534101fc10494a9f05cb824a58/core/DataTable.php#L740-L753

The diff is:

[code]

Is this make sense @diosmosis? Is this something that should be fixed in this method or something should be fixed in Insight plugin?

[2021-06-04 01:31] diosmosis commented on #17615
@flamisz we can't add it to the rowsIndexByLabel variable, since the summary row label is `-1`, but sometimes users track data as `-1`, so one of the two gets lost or overwritten. So it would probably have to be fixed in the Insight plugin.

[2021-06-04 02:52] tsteur commented on #16904
fyi tested adding an index `idsite,  visit_last_action_time DESC` but this seems to not have helped.

[2021-06-04 08:12] Findus23 commented on #17565
Hi @mathContao,

It seems like the best solution is to keep everything as-is (see https://github.com/matomo-org/matomo/pull/17566)

[2021-06-04 10:00] heurteph-ei commented on #17643
Another good idea would be to share the dashboard to several user in one click (instead of having to share 100 times for 100 different users... 😕)

[2021-06-04 11:53] MaghSamana opened #17646 "Performance metrics report incorrect DOM Processing & Completion times"
Hello,

I was getting strange metrics sometimes, and today I was able to locate the problem in real-time. My site offers PDF documents for download in a section. I had noticed high DOM times (both processing & completion) when visitors downloaded some of those, in the past.

Today, I had one visitor spending almost 2 hours there, browsing that section. The visitor downloaded several PDFs and also

[2021-06-04 17:20] diosmosis commented on #17428
Assuming this was all fixed in 4.3 as we're no issues so far. I'll close this.

[2021-06-04 17:20] #17428 closed, assigned to nobody

[2021-06-04 17:20] diosmosis commented on #17434
Should be fixed by the PRs in 4.3, closing this one.

[2021-06-04 17:20] #17434 closed, assigned to nobody

[2021-06-04 17:22] Amber-Wish opened #17647 "The same access session produces two different visitorids"
hello, When I checked the data, I found the data in the following picture.
![image](https://user-images.githubusercontent.com/55867470/120839932-2918e700-c59c-11eb-9c1c-698296aa06ea.png)
Is this data normal? Why is this kind of data produced? I hope to get a reply. thank you.

Our Environment
Matomo version: 4.3.1
PHP version: 7.4.19

[2021-06-05 00:36] diosmosis commented on #17647
Hi @Amber-Wish, by default Matomo will look for an existing visit by visitor ID, and if none is found, try to look for one using the device fingerprint (within the last 30 mins), in case the visitor ID changes for some reason. If the `config_id` for the two visitor IDs is the same, this is what happened. If you don't want this to be done, you can disable this behavior: https://matomo.org/faq/how-t

[2021-06-05 00:51] diosmosis commented on #17646
Hi @MaghSamana, if you were to perform the same actions as this user, would you see the same performance metrics show up in Matomo (in other words, is the problem reliably reproducible)? Can you see what browser, os, internet provider the specific user is using?

[2021-06-05 13:46] MaghSamana commented on #17646
The visitor used Chrome 91.0 and Windows 10 (and 1366x768). I haven't added internet provider tracking.

I will try to reproduce this tonight, and get back to you.

[2021-06-05 14:26] math-GH commented on #17565
thanks

[2021-06-05 14:26] #17565 closed, assigned to nobody

[2021-06-05 22:42] Krinkle opened #17650 "RSS feed"
Hi,

I realize this is probably not exactly the right place, but it's the closest I could find.

The changelog page at <https://matomo.org/changelog/> is missing an app-discoverable link to the RSS feed. The following one-line addition to the HTML head would resolve this:

[code]

I also noticed that the visual link to the RSS page is rendered twice, which I'm guessing is not intentional 🙂 .

Than

[2021-06-07 07:01] lds-lds commented on #17613
hello @diosmosis
memory limit in php.ini/cli is unlimited : memory_limit = -1

[2021-06-07 07:02] lds-lds commented on #17613
here is the diff

 diff /etc/php/7.2/apache2/php.ini /etc/php/7.2/cli/php.ini

[code]

[2021-06-07 07:19] lds-lds commented on #17613
strange if i run it twice in a row the update works
1: php /home/matomo/www/matomo/console core:update
Erreur de segmentation
2: php /home/matomo/www/matomo/console core:update
all OK

O-o

I will launch the update from the browser, since this way I have no problems

[2021-06-07 13:13] utrautmann commented on #15176
@tsteur A customer of mine has the same problem and cannot work meaningfully with the unsorted output in the reports.
Is there an easy way to have the reports sort this list? Sounds like an order statement in SQL?

[2021-06-07 20:43] tsteur commented on #15176
Hi @utrautmann it's not a SQL statement issue but it would likely require sorting after filtering actions.  Something like the diff below but please note that's just more of a guess I didn't actually test it.

[code]

[2021-06-07 22:18] tsteur commented on #17650
Thanks for reporting this @Krinkle 👍  . I'll move this issue to the Matomo repository

[2021-06-07 23:12] diosmosis commented on #17613
Hi @lds-lds, ok good to know you have a workaround! I'll close this ticket for now, but if you notice any other cli commands segfaulting feel free to open this ticket again. If you want to try and figure out exactly what's causing the problem, we can, but it will take a while to isolate the cause.

Note: this makes sense if it's running the updates successfully and then erroring later. The version

[2021-06-07 23:12] #17613 closed, assigned to nobody

[2021-06-08 03:35] Amber-Wish commented on #17647
yes, thank you!

[2021-06-08 03:35] #17647 closed, assigned to nobody

[2021-06-08 04:34] Amber-Wish opened #17651 "Problems caused by service restart"
When matomo is deployed with docker, the plug-in needs to be reinstalled every time it is restarted. In addition, the authorization token of the API needs to be regenerated. It's very troublesome. Is there any way to avoid it?

[2021-06-08 04:57] Amber-Wish opened #17652 "Error in accessing plug-in Market"
When I wanted to install the plug-in from the plug-in market, matomo kept reporting this error. How to solve this problem?
![image](https://user-images.githubusercontent.com/55867470/121125322-f8190a80-c858-11eb-86dd-38bd508eb232.png)

[2021-06-08 05:05] diosmosis commented on #17651
Hi @Amber-Wish, unfortunately we don't answer questions on how to use or deploy matomo in this issue tracker but only handle feature requests or bug reports. That said, the issue here is likely that your docker containers are not using volumes. The folder containing plugins, your config and the tmp folder should be stored in volumes that persist outside of the docker container (though there are ot

[2021-06-08 05:05] #17651 closed, assigned to nobody

[2021-06-08 05:09] diosmosis commented on #17652
Hi @Amber-Wish it seems like your deployment does not have access to the outside internet, which would be the case by default if your using docker. Can you confirm this? (Note: we don't provide support on how to configure docker so for specifics you will have to look elsewhere for your answer.)

EDIT: actually docker containers should have access to the internet depending on how you're using them,

[2021-06-08 14:08] JE4GLE commented on #16942
I've made the following change in a forked version: https://github.com/Promatur/matomo/commit/a40b6a3e771220d62efd9e1526ed6b272ab36353

I'm not really experienced with Matomo, could you have a quick look please?

[2021-06-08 15:56] Findus23 commented on #17651
I'd recommend you to contact the maintainer of the Matomo docker image you are using.

I think at least https://github.com/matomo-org/docker already does what @diosmosis is suggesting.

[2021-06-08 16:53] dl-lim commented on #17055
I agree with this issue. It is skewing how the data is presented when we pull from this to other BI solutions, unless plenty of transformation is being performed at a granular level.

If this is the case, then /login/ should already be logged as /login/index.html . What is the point of logging /login/ then?

By this, shouldn't `/` be the largest then, since ALL visits go thru `/` ? - which actuall

[2021-06-08 20:12] tsteur commented on #16942
I haven't tested but it looks like this could work @JE4GLE 👍

[2021-06-08 20:16] JE4GLE commented on #16942
@tsteur Thanks! Do I have to do anything else or do I just submit a Pull Request?

[2021-06-08 20:20] tsteur commented on #16942
I think there's a semicolon missing after the setPageViewId function but someone would be reviewing it anyway. So creating a PR should be it 👍

[2021-06-09 04:42] #17641 closed, assigned to nobody

[2021-06-09 08:00] zkaitanx opened #17658 "Provide a possibility to directly pass the page url/title to Transitions widget"
We want to integrate the Transitions Report to our system, like click a button then open a new tab for the widget page.But we can not specify a page url for the widget, Is there any way pass then page url for the Transitions Report widget?
![image](https://user-images.githubusercontent.com/23352240/121316268-b90fb580-c93b-11eb-9cde-7663d0d9b0e0.png)

[2021-06-09 10:14] sgiehl commented on #17658
Hi @zkaitanx
It is currently not possible to pass the URL as parameter. But that might be something that could be added.

[2021-06-09 17:47] MaghSamana commented on #17646
After various tests, and with various browsers, the problem of extremely high DOM is certainly tied to Chrome browser v. 91.0.

Both in my tests, and in the visits with excessive DOM (from 20 secs, reaching as high as 80secs the more downloads there are), it was always this particular browser version.

Browsers like Safari, Edge, do not reproduce this. I got partial reproduction with Firefox 89 -

[2021-06-09 20:25] diosmosis commented on #17646
Hi @MaghSamana, thanks for testing this! Would you be able to reproduce this and collect the network requests made to your matomo.php instance, then share them here? Or if you're comfortable sharing the website this is happening on, we can take a closer look (email me at dizzy@innocraft.com if so).

[2021-06-09 21:31] tsteur commented on #15575
@sgiehl is this one already done maybe?

[2021-06-09 21:43] tsteur commented on #15501
closing for now and we can reopen if that should appear again.

[2021-06-09 21:43] #15501 closed

[2021-06-10 08:51] sgiehl commented on #15575
Yes. That was actually already fixed with 4.3.0

[2021-06-10 08:51] #15575 closed

[2021-06-10 11:50] larsen0815 commented on #8534
Still struggling with entries like this. Any chance this might get implemented in the foreseeable future?

[2021-06-10 12:38] heurteph-ei opened #17662 "Sort Reports in Email Reports in a useful way"
## Summary
Just report an interesting feature request published in the forum: https://forum.matomo.org/t/ability-to-customize-order-of-reports-in-email-reports/38573

[2021-06-11 01:11] diosmosis commented on #8534
Hi @larsen0815, I'm not in charge of prioritization but I suspect this won't be scheduled soon. A possible, if cumbersome, workaround might be to regularly make dumps of the `site` table so you have access to old data.

[2021-06-11 04:49] larsen0815 commented on #8534
Hmm, might be a way. At least it could be automated.

[2021-06-11 09:54] EthanTang-Zq commented on #7767
“session.save_path    = tcp://127.0.0.1:6379?database=10”invalid ，Excuse me where is the problem？

[2021-06-12 22:41] diosmosis opened #17667 "github action for updating puppeteer"
## Summary

Currently the version of puppeteer we use during UI tests is never updated, because doing so changes every screenshot and each change must be manually approved. To semi-automate this so we can keep the version up to date, we could create a github action that does the following:

- update puppeteer in a pull request
- wait for travis-ci build to run
- copy over every changed screenshot

[2021-06-13 14:41] #17615 closed, assigned to flamisz

[2021-06-14 19:13] MaghSamana commented on #17646
I keep seeing these bizarre metrics again and again. Anyway, I sent you an email, and let's see what could be the issue here.

[2021-06-14 20:03] ibril15 opened #17672 "All Websites Evolution Column Sort Order"
Hello,

On the All Websites Dashboard, the Evolution column seems to have an improper sort order:

![image](https://user-images.githubusercontent.com/26365407/121951645-2f8c2900-cd29-11eb-8ee3-82a8335476e9.png)

The 3-digit increases are after the 2 digit increases when sorting descending.

Thanks.

-Igor

[2021-06-14 22:21] diosmosis commented on #17672
Verified, this does not work properly. Thanks for the bug report @ibril15!

[2021-06-14 23:13] Findus23 commented on #17591
This got fixed by #17673, right @justinvelluppillai?

[2021-06-14 23:13] #17591 closed, assigned to justinvelluppillai

[2021-06-16 14:15] math-GH opened #17679 "<wbr> can be displayed in tooltip in "Row Evolution""
How to go there:
Behavior-> Page titles -> Open Row Evolution
<img width="1175" alt="grafik" src="https://user-images.githubusercontent.com/1645099/122233405-529b1200-cebc-11eb-8a4f-abf0f85c4334.png">

Move with the mouse cursor over the title and see the black mouse title text
<img width="958" alt="grafik" src="https://user-images.githubusercontent.com/1645099/122234295-12885f00-cebd-11eb-932a-ab

[2021-06-16 14:48] sgiehl commented on #17679
thanks @mathContao for creating the issue. I can confirm that the tooltip shows those tags. Will check if that can be changed easily.

[2021-06-16 17:35] Seb35 commented on #12217
I also experience this issue: the directory `tmp` is a btrfs subvolume and it confuses `df`. The linked bug on Lauchpad is also [reported upstream](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=17676), it seems complicated.

Is it possible to add a supplementary condition in Matomo in the NFS check, something like `&& strpos( ' nfs ', implode("\n", $output) ) !== false` to work around this issue?

[2021-06-16 17:44] Seb35 commented on #8498
This issue is very similar to  #15259.

[2021-06-16 21:43] tsteur commented on #17035
@sgiehl is this one fixed already maybe?

[2021-06-16 21:45] #17318 closed, assigned to flamisz

[2021-06-16 21:46] tsteur commented on #12586
@sgiehl can we close this one maybe?

[2021-06-16 21:46] tsteur commented on #5312
Here we still need to create the FAQ

[2021-06-16 21:47] tsteur commented on #17068
@Findus23 closing this one for now as I think it might be done but feel free to reopen if needed.

[2021-06-16 21:47] #17068 closed, assigned to nobody

[2021-06-16 22:05] #16667 closed