[2022-05-17 08:48] chriscroome opened #19229 "Error message when upgrading CustomVariables plugin from 4.0.1 => 4.1.0"
With the latest version of Matomo:

[code]

There is a plugin upgrade available:

Plugin | Version | Description | Status | Action
-- | -- | -- | -- | --
| CustomVariables | 4.0.1 => 4.1.0 | Categorise your visitors and actions with custom  name-value pairs. Segment by these values and get more insights to draw  the right conclusions. | Active | Update

When the *Update* link is clicked I get:

Wh

[2022-05-17 08:59] chriscroome commented on #19151
The `console core:update` comand does upgrade the database, without it automated upgrades would probably be a lot harder...

FWIW I have written [a Ansible Matomo role](https://github.com/webarch-coop/ansible-role-matmo) that [downloads and unarchives Matomo](https://github.com/webarch-coop/ansible-role-matmo/blob/master/tasks/download.yml) and then [rsync's it over the top of the old version and

[2022-05-17 09:59] sgiehl commented on #19219
Actually it seems the widget should already be disabled if the visits log was disabled. Just tested that locally and the widget isn't shown anymore, even if it was added to the dashboard before. It for sure might fail if a dashboard is opened and you disable the visits log in another tab.

[2022-05-17 10:17] MatomoForumNotifications commented on #18612
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/exclude-referrers-from-conversion-attribution/45949/6

[2022-05-17 11:20] Prithivi-Rajan opened #19230 "Config.ini.php Updation not getting reflected and Global.ini.php is observed"
I'm running the Matomo as a docker file and I'm trying to update the config.ini.php file for rows

datatable_archiving_maximum_rows_actions = 10000
datatable_archiving_maximum_rows_referrers = 10000

where as I'm seeing the results to be

datatable_archiving_maximum_rows_actions = 500
datatable_archiving_maximum_rows_referrers = 1000

## Expected Behavior

I should see below values in Matomo UI
da

[2022-05-17 11:50] sgiehl commented on #19230
@Prithivi-Rajan Are you still using Matomo 3.13.4? In this case we highly recommend to update to Matomo 4.
But besides that there is no known Bug in Matomo 3 regarding the config. Please double check that you put the configuration into the correct section. They need to go into `[General]`

[2022-05-17 12:07] #19225 closed, assigned to sgiehl

[2022-05-17 12:14] TarekWhz commented on #19210
okay thank you for your assessment. Unfortunately we would have needed only this function.
Thanks for the help.

best regards

[2022-05-17 13:59] MatomoForumNotifications commented on #19230
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/config-ini-php-updation-not-getting-reflected-and-global-ini-php-is-observed/45960/2

[2022-05-17 14:39] StefanS-O commented on #19151
Thanks @chriscroome i will take a look! Also i think a better name would be migrations:migrate for what the core:update task is doing. A core update it is not :D

[2022-05-17 14:48] OliverIost opened #19231 "API call with outlinkUrl containing an ampersand does return 0 results"
## Expected Behavior
curl "https://www.mydomain.de/matomo/?module=API&idSite=1&format=json&token_auth=XXX&method=Actions.getOutlink&outlinkUrl=https%3A%2F%2Fwww.testdomain.de%2Ftest%2F%3Ftest%3D321%26test2%3D13&period=day&date=2022-04-26"

(and I know that this was called on the day asked) should return something like

[{"label":"\/test\/?test=321&test2=13","nb_visits":3,"nb_uniq_visitors":3,"nb_h

[2022-05-17 14:56] chriscroome commented on #19151
I'd vote for `core:update-db` because matching the [WP-CLI command](https://developer.wordpress.org/cli/commands/core/update-db/) might leave more spare space in my brain for other things ;-)

[2022-05-17 14:58] danielpunkass commented on #12264
Thanks @Seb35 @Daijobou I have submitted the PR #19232. I hope it is straightforward and can be integrated soon. @tsteur  please let me know if you have any questions.

[2022-05-17 22:24] justinvelluppillai commented on #19081
@peterhashair did number 3 get done also regarding creating or updating the FAQs? Be good to link to that in this issue for completeness when done.

[2022-05-17 22:35] Starker3 commented on #15262
We have another user experiencing this issue.

[2022-05-17 22:58] bx80 commented on #19231
Hi @OliverIost, thanks for reporting this and providing a quick fix. I can recreate the issue and confirm that after the quick fix is applied getOutlink API calls with ampersands in the URL are correctly returned. :+1:

I'll mark this as a bug so our product team can prioritize it.

(github markdown has encoded the ampersands in the provided code, here is a fixed version for reference)
[code]

[2022-05-17 23:32] bx80 commented on #19229
Hi @chriscroome, thanks for reporting this.

That security token error message when updating plugins sounds very much like bug #15608 which we've had trouble recreating, the extra information here might be helpful.

The missing file error when rerunning the plugin update likely means that the first plugin update attempt correctly removed the file as part of the update, then when the second (page r

[2022-05-17 23:32] #19229 closed, assigned to nobody

[2022-05-18 00:00] JasonMortonNZ opened #19233 "Handle 429 response code within UI"
At present if a 429 response is returned from an API request the UI would show a generic error message. We would like to provide a more specific custom error message for this response code, indicating the user has sent too many requests in a given amount of time.

This is required to complete the rate limiting feature (dev-2437) on cloud and will improve uptime, cloud performance and customer expe

[2022-05-18 04:09] tsteur commented on #19219
👍  I'll close it again as I now can't reproduce it either. Maybe some caching or so. It's been disabled for days though and I had reloaded the page a few times and the error still showed up. I'll re-open if I see the error again.

[2022-05-18 04:09] #19219 closed, assigned to nobody

[2022-05-18 04:27] tsteur opened #19234 "Add ability to only allow tokens to be POSTed #235"
Currently, users can pass the `token_auth` for the API using a GET or POST token. For better security, we should have an option to not accept `token_auth` via URL parameters.

Exception: This would only apply to API requests that aren't coming from the UI. That means if there is an API request that has the `force_api_session` parameter AND it is the session token_auth (not a regular token_auth), t

[2022-05-18 07:43] MatomoForumNotifications commented on #19147
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/incompability-problem-with-googleanalyticsimporter-on-matomo-4-6-2/45974/2

[2022-05-18 08:07] heurteph-ei commented on #19231
Shouldn't the data (in the database) be stored unencoded?
Most of the time, data in DB should be as raw as possible (dates in UTC, urls not encoded, HTML not encoded, etc.)

[2022-05-18 08:58] miton18 opened #19235 "ConfirmPassword is not working with Login plugins"
Using https://github.com/dominik-th/matomo-plugin-LoginOIDC.
We cannot save settings on `General settings`.

## Expected Behavior
Be able to confirm password with OIDC plugin

## Current Behavior
Asking for a password we never set

## Possible Solution

## Steps to Reproduce (for Bugs)
1. Setup matomo v4.10.0
2. Add LoginOIDC plugin
3. Login
4. Try to edit settings

## Context
We use the LoginOIDC

[2022-05-18 09:16] sgiehl commented on #19235
Hi @miton18
That seems to be a similar issue like #19169
The event you mentioned was actually added in #16337

[2022-05-18 10:02] miton18 commented on #19169
Same issue here with LoginOIDC plugin
https://github.com/matomo-org/matomo/issues/19235

[2022-05-18 14:04] sgiehl commented on #18612
After having a closer look at the code and building a test matrix with over 400 potential combinations, I have written tests to cover  all cases I could think of. This includes the configuration options for creating new visits when the website or campaign changes, as well as having a referrer's url in the site urls and using attribution cookies that might be placed and updated when the referrer ch

[2022-05-18 19:44] peterbo opened #19237 "Make CustomDimensions available in Segment Editor"
Way to reproduce:
- After updating to 4.10, setup a CustomDimension (doesn't matter, if action or visit scope)
- open segment editor and try to select your Custom Dimension

-> It's not available in the list of selectable items. This is also the case for the segment filter of the Custom Reports plugin.

[2022-05-18 20:34] sgiehl commented on #19237
Hey @peterbo
Thanks for the report. I was able to reproduce that. With 4.9.0 the dimensions where visible for segments, but with 4.10.0 and the current development branch they are not visible any longer.
We will try to handle this regression with high priority to fix that as soon as possible

[2022-05-18 20:46] sgiehl commented on #19237
@diosmosis This actually seems to be a regression from vue migration. The request for segments metadata is now sent with idsite=all instead of the specific site. Could you please quickly check that?

[2022-05-18 21:24] diosmosis commented on #19237
Looking now.

[2022-05-18 21:25] bx80 commented on #19231
:+1: The root cause of the problem may well be that the URL parameter ampersands are being stored encoded when they should be raw. This is something that should be considered when working on this issue.

[2022-05-18 21:42] diosmosis commented on #19237
@sgiehl fixed by https://github.com/matomo-org/matomo/pull/19240

[2022-05-18 23:08] bx80 commented on #19197
Hi @OSch11, thanks for reporting this.
Would if be possible for you to provide the PHP server error log output for one of the failed requests? This would be very helpful in tracking down the issue.

[2022-05-19 04:22] samjf commented on #18962
This one is still occurring. I noticed about 7 of these in the logs the other day. Has the same trace as initial post.

[2022-05-19 09:58] Chardonneaur opened #19242 "Add a search bar for the dashboard widget selection"
Currently it is possible to search for a report within Matomo thanks to the search bar, however, this feature does not work when it comes to cusomize the dashboard.
Would it be possible to add a search bar, to search for widgets.

[2022-05-19 10:02] webwinkelfacturen commented on #18962
Thanks for the confirmation. Are you using matomo 4.10.0?

[2022-05-19 10:37] BeckeBauer opened #19243 "plugin management no longer working"
I have re-installed matomo on a new server and (after some struggle) managed to also transfer the database to the new server. It is running but I can no longer install / activate / deactivate plugins.

When trying e.g. to activate the plugin Log Viewer, the following is shown in the logs:

`ERROR Piwik\ExceptionHandler[2022-05-19 10:30:21 UTC] [a0182] Uncaught exception: /matomo/plugins/Login/Cont

[2022-05-19 12:10] Chardonneaur opened #19244 "Ensure Safari browser shows the information notice"
When hovering the mouse on a metric header column the information notice is not showing up when using Safari browser, in fact it is appearing behind the header.

[2022-05-19 22:36] bx80 commented on #19242
Hi @Chardonneaur, thanks for the suggestion. That would be a helpful addition. :+1:

[2022-05-19 22:57] bx80 commented on #19243
HI @BeckeBauer, thanks for reaching out. It's hard to know what is happening based on that error message, it's meant to be shown when the login session could not be verified. Could you describe in detail what happens when you try to activate a plugin? When you try to activate the plugin are you shown a 'confirm password' prompt?

It could also be worth checking the diagnostics page to see if there

[2022-05-19 23:03] bx80 commented on #19244
Hi @Chardonneaur, thanks for reporting this. Are you using the latest Matomo 4.10 release?

This bug was recently fixed in issue https://github.com/matomo-org/matomo/issues/19125 which should be included in 4.10

[2022-05-19 23:06] samjf commented on #18962
Hi @webwinkelfacturen , I'm running 4.9.1

[2022-05-19 23:27] justinvelluppillai commented on #19244
Actually this was fixed for the top controls by increasing their z-index, rather than decreasing the z-index on the table header. Possibly this is a related regression still in `4.10.0` - can you confirm @Chardonneaur ?

[2022-05-20 03:43] justinvelluppillai commented on #11046
This appears to be fixed now.

[2022-05-20 03:43] #11046 closed

[2022-05-20 06:05] Chardonneaur commented on #19244
@justinvelluppillai thanks, it happens within a matomo.cloud account yesterday.

[2022-05-20 07:57] Chardonneaur opened #19248 "Display an information notice when hovering the mouse on a dimension"
Currently, there are no information notice when hovering the mouse on the dimension of a report, there is only for metrics whereas the glossary has the information dealing with the dimension concerned.
Would it be possible to have this feature on? Even if it is within the configuration file?

[2022-05-20 08:42] AltamashShaikh opened #19249 "Links are not visible in tooltip"
Links displayed with tooltip are not visible

<img width="1054" alt="169452698-befd7491-03d3-4bc5-8f44-061243dbb597" src="https://user-images.githubusercontent.com/14902277/169489784-b8238d8e-14c3-47a4-80e1-40eb9d6f8454.png">

## Expected Behavior
The links should be visible, might changing the link color to blue would help or make it dark.

## Current Behavior

## Possible Solution

## Steps to R

[2022-05-20 09:24] BeckeBauer commented on #19243
When I try to activate a deactivated plugin or vice versa, I get the white page with `An error occurred Not available Go back - Go to Matomo` without any "confirm password prompt"

When I run the diagnostics within matomo, the only error shown is `Unable to execute check for https://mydomain.local/tmp/: curl_exec: SSL certificate problem: unable to get local issuer certificate. Hostname requested

[2022-05-20 11:49] rennyeb commented on #9198
I'm being hit by this problem, too - my "AVG. TIME ON PAGE" numbers are coming out as near-zero due to events on the page.

How do we get this bug prioritised for fixing, please?

In case it's helpful to anyone, in my local Matomo deployment I unashamedly hacked my ./plugins/Actions/Archiver.php file and commented-out the line which restricts by `getWhereClauseActionIsNotEvent`:

[code]

Informall

[2022-05-20 13:49] sgiehl commented on #18612
I might have found a small issue, which might affect the visit attribution while writing more tests for cases where attribution cookies are used. The flow chart above also was incorrect for that case, as it doesn't took the cookie into account for visit attribution, which is actually done, but only if the cookie attribution is for a campaign. I've updated the chart. Hope it now reflects the curren

[2022-05-20 14:00] sgiehl commented on #19249
Actually I guess it would make sense to remove all `<a>` tags from tooltips, as they can't be clicked anyway.

[2022-05-20 14:29] sgiehl commented on #19243
@BeckeBauer The commands for running the system checks would be `diagnostics:run`

[2022-05-20 19:33] BeckeBauer commented on #19243
sorry, was not aware of the right command. I got the following result:

[code]

[2022-05-21 06:26] #19237 closed, assigned to nobody

[2022-05-21 09:53] Daijobou opened #19251 "Fix manifest.json sending HTTP-Status 403"
Since the update to version 4.10 I get banned from my own server. The reason is that Fail2ban checks the access_logs for HTTP status 403 and bans the corresponding IPs. In my case Matomo causes these 403 messages in access_log. In the html source code I found this line in Matomo:

`<link rel="manifest" href="plugins/CoreHome/javascripts/manifest.json" crossorigin="use-credentials">`

In Browser I

[2022-05-21 21:19] Findus23 commented on #19249
I think this is the same as https://github.com/matomo-org/matomo/issues/17627

[2022-05-22 07:59] #19249 closed, assigned to nobody

[2022-05-22 11:47] schelmo commented on #8359
For the people who have also this problem:
the country code must be lowercase
as mentioned here:
https://developer.matomo.org/api-reference/tracking-api#other-parameters-require-authentication-via-token_auth

[2022-05-22 12:06] Chardonneaur opened #19252 "Fix anchor links issue within Matomo"
When we access to the API page within Matomo, Admin --> Platform --> API. If you click on one of the API method link, it makes you move to the associated link. But then, if you scroll up or click on any other link on the page it will still go back to the anchor link you selected.
Honestly, this is super annoying.

[2022-05-22 12:07] Chardonneaur opened #19253 "Email report delete all feature"
It would be nice to have a feature in order to delete all the email report created. Currently this feature is not implemented within the API.

[2022-05-22 17:37] atom-box opened #19254 "Fix adjacent elements to dashboard-dropdown-menu-modal overlapping on narrower screens"
## A user reported:

_We found an issue on the Matomo Page Stats Dashboard. When you click on the Dashboard button, the submenu is under lapping of the date bar and channel types bar._

![bug-modal-is overwritten](https://user-images.githubusercontent.com/22874146/169705478-fc139722-6a93-4642-a53f-22a4774715f4.png)

## I confirmed

For a narrow screen, some of the divs escape from Visits in Real-t

[2022-05-23 04:15] peterhashair commented on #19254
Thanks for providing this bug, I can confirm this exists on the current Matomo Version, our product team will prioritize that task.

[2022-05-23 04:22] peterhashair commented on #19252
@Chardonneaur try to reproduce it, but it works fine for me, I tested Safari, Firefox, and Chrome. Do you mind providing more details, like a screencast or browser version?

[2022-05-23 04:29] peterhashair commented on #19251
@Daijobou thanks for providing the info, our product team view review this as soon as we can.

hints: `ServerFilesGenerator.php` probably here needs an update as the issue requested.

[2022-05-23 08:05] Chardonneaur commented on #19252
@peterhashair sure, here it is https://www.youtube.com/watch?v=UNTXIkO0zXY

[2022-05-23 12:53] sgiehl commented on #15349
I just stumbled across this issue again, while reviewing #19057.
The problem is, that the ecommerce sparklines have their very own handling, which we already discussed in #19057 to refactor.
As this wasn't done yet, we should maybe handle this issue with a higher priority, refactor the ecommerce sparklines to use the global sparkline methods. This should imho directly fix this issue as well.
ping

[2022-05-23 13:21] sgiehl commented on #19252
I was able to reproduce that locally. Once the hash is appended to the url, every click will trigger a scroll to that anchor.
Might possibly be a vue regression. ping @diosmosis

[2022-05-23 13:23] heurteph-ei commented on #19252
I confirm I have this behavior on Matomo 4.3.1

[2022-05-23 13:26] sgiehl commented on #19251
this is most likely a regression from #19051

[2022-05-23 14:00] diosmosis commented on #19252
@sgiehl I've seen this before the vue migration, had something to do with the angularjs digest cycle (you should be able to see infinite digest errors in the console). Curiously it does not happen if I scroll my mousewheel, only if I use the scroll bar itself. Actually if I remember correctly it's due to the URL being like `#CustomTranslations`, if it's set to `#/CustomTranslations` it works fine.

[2022-05-23 14:11] sgiehl commented on #19252
yes, that's right. wondering why the scrolling is triggered on every activity even though the URL doesn't change 🤔
The URL handling is still done by angular, right? Maybe that will get fixed when this part is migrated to vue as well?

[2022-05-23 14:26] diosmosis commented on #19252
@sgiehl It's due to the URL not matching what angularjs expects. As in its in the format `#CustomTranslations` and not `#/...?...`. My guess is, because of this, angularjs is not able to handle the URL change, and just keeps trying to (ie, sees URL is changed to `#CustomTranslations` which is different from stored state, fails to parse and handle it, checks watches again, sees URL does not match s

[2022-05-23 16:50] atom-box commented on #18858
Does maximize mean the same as zoom?  If I zoom, the modal centers itself on an overflowed container div, I think:
![image](https://user-images.githubusercontent.com/22874146/169872914-14405efb-4f7d-4cd2-845e-a6803024ab5a.png)

Just got another comment on this.  A user writes what they would most like to see changed about Matomo:

_"Possibility of making BEAUTIFUL personalized reports: with or wit

[2022-05-23 16:51] atom-box commented on #18858
Excellent tip.  Will pass it on!

Just got another comment on this.  A user writes what they would most like to see changed about Matomo:

_"Possibility of making beautiful personalized reports: with or without graphs for each table, limit the number of table rows, customize the presentation, the graph instead of the standard 28-page reports!"_

[2022-05-23 16:53] atom-box commented on #18858
Is  [18942](https://github.com/matomo-org/matomo/issues/18942)
related?  "More beautiful reports with 100% width"

[2022-05-24 03:48] justinvelluppillai commented on #19251
@sgiehl are you happy to revert #19051 to fix this?

[2022-05-24 05:04] justinvelluppillai commented on #15349
Thanks @sgiehl we will consider this when we prioritise for the next milestone 👍🏽

[2022-05-24 06:56] Chardonneaur commented on #19252
@diosmosis oh great, so it can be fixed within the next Matomo version?

[2022-05-24 07:00] justinvelluppillai commented on #19209
It'd be good to confirm whether this is a regression @sgiehl and if so we can prioritise it for the next patch release or 4.11.0

[2022-05-24 07:16] sgiehl commented on #19251
@justinvelluppillai Reverting might not be the best choice. I'll prepare a PR to fix that another way

[2022-05-24 07:47] sgiehl commented on #19209
@justinvelluppillai This actually seems to be a vue regression. With Matomo 4.6. a segment like `deviceType==tablet` was included in the sparkline url with `deviceType%3D%3Dtablet`, with latest 4.x-dev it's included with `deviceType%253D%253Dtablet`. So it now seems encoded twice. ping @diosmosis

[2022-05-24 07:51] #10716 closed

[2022-05-24 08:00] heurteph-ei commented on #19209
@justinvelluppillai it was working on 4.3.1:
![image](https://user-images.githubusercontent.com/79993552/169980306-5f9ab398-5131-45bd-985e-de696d6ab572.png)

[2022-05-24 08:43] mJ25-fr commented on #18858
"Beautifull report" doesn't mean "100%". It means i'd like to create a periodical PDF report with a graphic or a simple table for EACH table i want in the report, chose what kind of graphic, define the number of lines in a table report, ...  Something a bit more "userfriendly"

[2022-05-24 08:48] mJ25-fr commented on #19198
I fully agree with this request : a simple button to convert a full dashboard (all the tables/graphs in a dashboard)  into a similar PDF that could be send by mail.

[2022-05-24 08:58] sgiehl commented on #19243
@BeckeBauer I don't think those warnings should cause your problems.
Does enabling the plugin on command line work? e.g. `./console plugin:activate LogViewer`

[2022-05-24 10:05] sgiehl commented on #18692
@Starker3 Are you sure the user had view access? I was able to reproduce it with a user having write permission, which then wasn't visible for an admin. The PR would fix this.

[2022-05-24 10:51] MatomoForumNotifications commented on #18448
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/compliance-adoption-to-the-requirements-of-the-25-ttdsg-german-law-option-to-avoid-the-use-of-screen-resolution-params-for-a-website-operation-without-consent-banner/46061/2

[2022-05-24 11:28] diosmosis commented on #19252
@Chardonneaur I'm not in charge or prioritization you'd want to ask someone else.

[2022-05-24 15:36] sgiehl commented on #18612
Does anyone have some feedback on the flow charts above? Those charts should document the current attribution behavior. If there is anything unexpected, let us know, so we can discuss possible changes.

[2022-05-24 15:36] BeckeBauer commented on #19243
works flawless this way
[code]
I noticed that actions requiring password confirmation seems not to work. For instance, when I try to change my password (which is not working), the error log shows:

`Uncaught exception: /web/matomo/core/Nonce.php(236): Security token could not be verified. [Query: ?module=UsersManager&action=recordPasswordChange&idSite=7&period=day&date=yesterday&embed=0&activated=

[2022-05-24 16:08] ts1985 commented on #18612
I had presented here several times the problem, as it was also named by others here and in other forums, etc..
As a result, we now have a float chat and the statement that everything works as expected.
Accordingly, it is not acknowledged that there is a bug or just a design error here. The result is that Matomo is "useless" in this sense and people then have to switch to Google Analytics or other

[2022-05-24 16:27] nunoperalta commented on #19134
I actually just came here to suggest the exact same!

The Page Views Per Minute graph from the screenshot above was REALLY useful to me, especially to easily investigate whether there was some intermittent downtime in the past 30 minutes.

I think this is the only thing I miss from Google Analytics, that Matomo doesn't have yet.

Thanks!

[2022-05-24 17:32] diosmosis commented on #19209
@sgiehl I was not able to reproduce the original problem locally, but I was able to see the double encoded segment. The fix for that is here: https://github.com/matomo-org/matomo/pull/19260. Can you check if it solves the original problem?

[2022-05-24 20:39] justinvelluppillai commented on #19209
thanks @sgiehl and @diosmosis

[2022-05-24 20:54] Starker3 commented on #18692
@sgiehl I don't remember the specifics for the permissions level of the users when I encountered this error.
I can test it again though and see if I can reproduce it. I'll get back to you once I've tried that.

[2022-05-24 21:32] diosmosis opened #19263 "Goals conversion rate percentage not formatted properly in goals page"
I noticed this in the Funnels UI tests:

![image](https://user-images.githubusercontent.com/125140/170135859-59005b47-6beb-4a83-812d-193e11f654ce.png)

The conversion rate is not converted into a percent. I couldn't find a combination of query parameters that would turn it into a percentage, and the URL seems to be the same as in 4.5.0, so I assume it's not related to Vue.

CC @sgiehl

[2022-05-24 23:43] mattab commented on #18612
Thanks @sgiehl for the flow chart, that's very helpful indeed.

2 notes on this:
* Could we put it on the developer guides after this issue is closed?
* In the first chart, on the bottom right, it says "Conversion is attributed to Referer Y" -> But I would have expected instead to read "Conversion is attributed to the current Visit Attribution" (which may be either X or Y depending on what the flo

[2022-05-25 01:11] #19251 closed, assigned to sgiehl

[2022-05-25 01:11] #19209 closed, assigned to diosmosis

[2022-05-25 07:12] Chardonneaur opened #19266 "DBStats plugin: make the reports available for custom alerts"
Would it be possible to make the report tables from DB Stats plugin available for the custom alerts plugin. The idea would be to get a notification when the database is reaching a specific threshold.

[2022-05-25 07:48] sgiehl commented on #19263
That seems to be a regression from #19057
@bx80 could you have a quick look on that one, so we can fix it before rc release of Matomo 4.11

[2022-05-25 07:54] #18692 closed, assigned to sgiehl

[2022-05-25 07:55] sgiehl commented on #18692
@Starker3 if you are able to reproduce that with vier permission, please reopen the issue. For write permission this should be fixed with 4.11. then.

[2022-05-25 07:57] chriscroome opened #19267 "php console diagnostics:run sometimes displays incorrect LOAD DATA INFILE warning"
I have one Matomo instance for which the command line diagnostics displays a `LOAD DATA INFILE` warning:
[code]

However the System Check web page displays:

<table border="1">
<tr><th rowspan="4">Database abilities</th><td>✓ UTF8mb4 charset</td></tr>
<tr><td>✓ LOAD DATA INFILE</td></tr>
<tr><td>✓ CREATE TEMPORARY TABLES</td></tr>
<tr><td>✓ Changing transaction isolation level</td></tr>
</table>

[2022-05-25 08:10] justinvelluppillai commented on #19252
@Chardonneaur yes we aim to fix all regressions quickly. I have added this to the current milestone for Matomo 4.11.0

[2022-05-25 08:18] Chardonneaur commented on #19252
Perfect, thank you so much.

[2022-05-25 09:47] MatomoForumNotifications commented on #19237
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/how-to-add-a-new-segment-for-custom-dimension/46063/2

[2022-05-25 11:07] adsham commented on #18612
Hi @sgiehl

Thanks for your thorough investigation so far, it looks like we are starting to get somewhere. It shows the complexity in the process.

I do agree with @mattab with regards to the fact there may be genuine use cases where we might want to maintain the latter referrer (even though I would say the majority would be interested in the referrer that initiated the visit). Rather than maintai

[2022-05-25 11:23] adsham commented on #18612
I would also agree that the data flow should go into the documentation - many users may not understand the complexity behind the attribution process.

[2022-05-25 14:48] sgiehl commented on #18612
@ts1985
Simply trying to implement some new stuff that solves a specific issue won't help anyone, unless we are able to guarantee that nothing else would break with it. And that is the reason why I started writing tests and creating the flow charts. To me it was important to kind of document the current behavior. That does not mean that this behavior needs to be correct, or does not need to be adj

[2022-05-25 15:39] ts1985 commented on #18612
A list of payment providers to ignore is not a solution. Reasons:
- it's a bug that the referrer changes. Ignoring a list of payment providers means also that if they mention a website in their blog or link it on their website is not visible anymore. And of course I also want to track the visitors coming from a payment provider. But if someone comes to our website and uses just a payment provider

[2022-05-25 18:44] atom-box commented on #15262
A user reports:

_"We are not getting the actual average value graph for the customer,
The average value according to the site is $1435 but the graph shows a flat zero every month."_

[2022-05-25 23:53] Starker3 opened #19272 "Changing email report schedule doesn't update task timetable"
It seems as though updating the email schedule for an email report doesn't update the task timetable for that report.

For example, if we create a new scheduled report with the schedule as `Monthly`:
![Thursday-26-05-2022 11-41-40](https://user-images.githubusercontent.com/20905821/170387582-6bbf97a8-59fd-4611-adc3-5040ffe14b8c.png)

The task timetable sets the time/date that it will next run, in

[2022-05-26 00:31] digitalextremist commented on #18546
Seeing this again at the update to `4.10.1` unfortunately @justinvelluppillai

[2022-05-26 00:35] Starker3 opened #19274 "All Websites report doesn't use archiving_custom_ranges to pre-process date ranges"
There is this config setting that allows specific date ranges to be pre-processed for specific date ranges (I.e. specific date ranges, or periods such as `last90` etc.): https://github.com/matomo-org/matomo/blob/35957fc5aeecf9f6f795e4e8e005f9d37fab7a2d/config/global.ini.php#L377-L380

However, this config setting doesn't seem to work to pre-process the `All Websites` dashboard for the specified Da

[2022-05-26 00:52] justinvelluppillai commented on #18546
@digitalextremist what version did you upgrade from there?

edit: it looks like you came from 4.4.1, which means the error is expected but was resolved in `4.5` after which you shouldn't see this.

[2022-05-26 04:22] #19252 closed, assigned to sgiehl

[2022-05-26 05:43] Demichev commented on #18612
@mattab

Can we have a mix of two solutions?
1. You don't need to fully remove this behavior, just add new option to config as @heurteph-ei said earlier. So there is no regression here.
2. I found that some users keep opened page from our site with referrer to payment site after purchase. So it starts new visit with payment site referrer weeks and weeks later after actual purchase. Of course we ca

[2022-05-26 05:44] Demichev commented on #19128
Any news here?

[2022-05-26 06:58] AltamashShaikh opened #19275 "Fix for undefined array index error when rendering sparklines"
CoreVisualizations - [Warning] Undefined index CoreVisualizations/Visualizations/Sparklines.php(292)

## Expected Behavior
Should handle such undefined index in the code

## Current Behavior
Just noticed this, when trying to debug a bug for other plugin there are too many warnings of undefined index in `CoreVisualizations/Visualizations/Sparklines.php(292)`

To reproduce the error, access Matomo d

[2022-05-26 11:04] webwinkelfacturen commented on #18962
Ok, thanks I compared 4.9.1 and 4.10.0. There are no differences impacting this error.

After performing a careful code-review, I  spent quite some time to reproduce the error. Without success. Focus has been on core/Visualization/Sparkline.php, since it seems that there the parameter $data of vendor/davaxi/sparkline/src/Sparkline/DataTrait.php is set.

I enclosed the analysis with the name _analy

[2022-05-26 18:04] diosmosis opened #19277 "After subtable expands, the margin left of table row actions is calculated incorrectly (sometimes)"
To reproduce:
- open a report (tested w/ a CustomReports report w/ many metrics that scroll)
- hover over a row with a subtable (notice the segmented visitor log + row evolution icon shows)
- click the row to expand the subtable (the icons will disappear at first)
- move the mouse w/o existing the row (the row actions will display, but only the segmented visitor log is visible)

The row evolution

[2022-05-26 19:53] mattmary opened #19278 "Can't install purchased plugins: Action 'installAllPaidPlugins' not found in the module 'CoreHome'"
The form leads to an unknown action.

## Expected Behavior

When clicking on the button to install the purchased plugins, it installs the plugins.

## Current Behavior

When clicking on the button to install the purchased plugins, we have an error page.

## Possible Solution

## Steps to Reproduce (for Bugs)

1.Go to marketplace, browse.
2.Click on the button install purchased plugins
3.Click on t

[2022-05-26 20:35] justinvelluppillai commented on #18962
Thanks for your efforts there @webwinkelfacturen. You would probably need to try PHP8.1 to reproduce the error - if I'm not mistaken you were testing and unable to reproduce on PHP7.4?

[2022-05-26 20:48] digitalextremist commented on #18546
@justinvelluppillai I was coming from the prior revision, `4.10.0` and had remained current up to there.

When I selected `Continue Automatically` using `HTTPS` another time or two, it finally did work.

[2022-05-26 21:45] peterbo opened #19279 "If "disableBrowserFeatureDetection" is enabled and remember(Cookie)ConsentGiven is called, a new visitor is recognized"
If "disableBrowserFeatureDetection" is enabled and remember(Cookie)ConsentGiven is called, a new visitor is recognized

## Expected Behavior
After calling remember(Cookie)ConsentGiven, the same visitor should be recognized and no new (unique) visitor should be created.

## Possible Solution
When re-enabling browserFeatureDetection, try to sync / match the "old" config_id without browserFeatures in

[2022-05-27 11:38] jr-ewing opened #19282 "{⁣{UserAgent}} in Tag Manager is empty"
The Variable {⁣{UserAgent}} in Tag Manager is empty

## Expected Behavior
I want to integrate the pre defined User Agent as a custom Dimension.
I expected that i get values like "Mozilla/5.0 (X11; Linux x86_64; rv:100.0) Gecko/20100101 Firefox/100.0"

## Current Behavior
I added {⁣{UserAgent}}{{RandomNumber}} in the custom dimension fields. The fields i using are in the matomo configuration variab

[2022-05-29 16:23] avimaymon opened #19283 "Geography Statistics - ACT not present under Australia"
## Expected Behavior
There should have been a state called ACT under Australia

## Current Behavior
No ACT state under Australia which makes it impossible to identify usage for ACT alone

## Possible Solution
Add it as a country under Australia

## Context
Because of this bug users can't distinguish usage from ACT alone

## Your Environment
The other details will be added shortly
* Matomo Version:

[2022-05-29 22:04] Starker3 opened #19284 "Plugin update indicates an error when it should be a warning"
With some recent plugin updates there were higher minimum versions set for those plugins.
With users who have an install of Matomo that is not the latest version, the plugins page shows that plugin updates are available but show a big red warning that the plugin isn't compatible with their version of Matomo. Eg.
![image](https://user-images.githubusercontent.com/20905821/170892884-62f16ef6-7e86-42

[2022-05-29 23:16] bx80 commented on #19253
@Chardonneaur Thanks for the suggestion. Just to understand this a little more, would you see this as being per user feature or an super user option affecting all users?

[2022-05-29 23:17] bx80 commented on #19266
Hi @Chardonneaur That sounds like useful feature :+1: Our product team will evaluate the possibility of including it in a future release.

[2022-05-29 23:28] bx80 commented on #19267
Hi @chriscroome, thanks for reporting this.

When testing database capabilities the diagnostics check will create a temporary .csv file on disk and then attempt to load it into MySQL/MariaDB using `LOAD DATA INFILE`.

One possibility here could be that the command line diagnostics check is being run as a user without access to write the temporary file which then causes the check to fail.

Could yo

[2022-05-29 23:35] bx80 commented on #19275
This is a regression from #19057

[2022-05-29 23:40] bx80 commented on #19272
@Starker3 Can you confirm that deleting and recreating the report works around this issue?

[2022-05-29 23:53] bx80 commented on #19274
@Starker3 I'm not sure there is current any archiving of multi-site data, the datatables for the sites appear to be loaded and merged on demand to create the all website view.

To support pre-processing of multi-site data the multi-sites plugin would need to be enhanced with it's own archiving processor to write the merged sites data to an archive.

This could provide a performance benefit in some

[2022-05-29 23:58] peterhashair commented on #19284
@Starker3 thanks for reporting this, our product team will process this ASAP

[2022-05-30 00:00] peterhashair commented on #19283
@avimaymon thanks for reporting this our product team will prioritize it from here

[2022-05-30 00:21] bx80 commented on #19278
Looks like the destination url from from confirmation modal might be defaulting to CoreHome instead of Marketplace? https://github.com/matomo-org/matomo/blob/c75dcf71b75d1112e3e00fda602fd0e7a17a54f7/plugins/Marketplace/vue/src/LicenseKey/LicenseKey.vue#L158-L160

[2022-05-30 00:23] bx80 commented on #19277
I managed to recreate this with a CustomReport report. :+1:
Couldn't recreate it with any other data tables, so it might be specific to custom reports?

[2022-05-30 00:28] bx80 commented on #19279
Hi @peterbo, thanks for reporting this, the extra detail is very helpful :+1: Our product team will review and assign priority for this issue.

[2022-05-30 00:57] justinvelluppillai commented on #19278
@bx80 @diosmosis is this a vue related regression?

[2022-05-30 01:06] diosmosis commented on #19277
Possibly, I didn't check any other tables. I assumed it had to do with the number of columns in the table. If that's the case then a goals table for a site w/ many goals might exhibit the same behavior. (Though again I didn't check for this.)

[2022-05-30 01:38] diosmosis commented on #19278
@bx80 @mattmary does this change solve the issue: https://github.com/matomo-org/matomo/compare/vue-marketplace-action-url?expand=1 ?

[2022-05-30 01:40] Starker3 opened #19287 "Concurrently running archivers can trigger scheduled tasks multiple times"
When users have a high number of sites or a lot of data, it can be expected to have two (Or more) concurrently running core:archive tasks that could take several hours to all complete.

In the case where a user has a high number of sites where each site is relatively low volume or a high number of sites where each site takes roughly the same amount of time to complete we can run into a situation w

[2022-05-30 01:42] AltamashShaikh commented on #19284
@Starker3 The higher min version is due to recent migration to vue.js and it is expected

[2022-05-30 01:46] Starker3 commented on #19284
@AltamashShaikh Yes, the min version being higher isn't the problem here. The problem here is that the warning isn't very clear and can cause confusion.

[2022-05-30 02:22] bx80 commented on #19278
@diosmosis That change solved the issue for me :+1:

[2022-05-30 02:24] diosmosis commented on #19278
Created https://github.com/matomo-org/matomo/pull/19288

[2022-05-30 06:44] KarthikRaja1388 opened #19290 "Adding information about when the report will be processed"
## Summary
In the "Help" section of each report, information about how long ago the report was processed is displayed. It would be good if we could display how long will it take to process the report again somewhere visible in the UI would avoid confusion and reduce emails from customers regarding the delayed processing of reports.

[2022-05-30 07:00] sgiehl commented on #19266
I guess the reason for those reports being hidden there is, that they are removed from report metadata. See https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/DBStats/Reports/Base.php#L26-L29

Removing that, should make them available everywhere (e.g. in custom alerts, dashboard widgets, ...)

[2022-05-30 09:21] sgiehl opened #19291 "Loading an unarchived period might trigger error when visits log is disabled"
When the visits log is disabled globally or in website setting, loading reports for a period that has not yet been archived (without browser trigger), might currently show the error "Visits log is deactivated in website settings..."

The problem seems to be that the raw data check might try to perform a request to `Live.getLastVisitsDetails` in https://github.com/matomo-org/matomo/blob/6ab9923d632

[2022-05-30 09:28] tsteur commented on #19291
Nice find 👍  I actually ran into this issue recently and by the time I wanted to create a bug report I couldn't reproduce it anymore. Likely because data had been archived by then vs in the beginning it hadn't. And DEV-2830 is probably the same issue.

[2022-05-30 09:43] #19278 closed, assigned to nobody

[2022-05-30 10:10] sgiehl commented on #19283
Hi @avimaymon
I assume this issue is regarding the maps being displayed in Matomo. Those are unfortunately outdated and missing some country regions. We are planning to update our maps at some point, which should then also include those missing regions. See #11929

In the list of regions it should actually be available named "Australian Capital Territory". At least it is defined. If it doesn't sho

[2022-05-30 10:10] #19283 closed, assigned to nobody

[2022-05-30 10:12] sgiehl commented on #11929
@justinvelluppillai might be good to think about giving this one a higher priority at some point, as our maps are really outdated meanwhile and there are more and more issues coming in over time...

[2022-05-30 14:00] sgiehl commented on #19275
@bx80 a simple isset check should fix that here:
https://github.com/matomo-org/matomo/blob/fdbcb562ef9e200c860fa3d40f664cac873ea8e8/plugins/CoreVisualizations/Visualizations/Sparklines.php#L292

[2022-05-30 14:16] sgiehl commented on #11047
was fixes with https://github.com/matomo-org/matomo/pull/19261

[2022-05-30 14:16] #11047 closed

[2022-05-30 14:21] sgiehl commented on #19243
@BeckeBauer Which version of Matomo are you using and are you maybe using any additional login plugins?

[2022-05-30 16:21] #18809 closed, assigned to sgiehl

[2022-05-30 20:23] Starker3 commented on #19272
@bx80 Deleting the report and creating a new one works to get the correct schedule set, yes.

[2022-05-30 20:25] Starker3 commented on #19274
@bx80 Do you know if the datatables that are loaded when the all websites dashboard is loaded is getting data from the already archived periods?
I don't know if its worth the effort to implement some sort of multi-set pre-processing as long its its able to load the pre-processed reports for the period selected.
(I.e. is it currently treating a date range report the same way it would for a date ran

[2022-05-30 22:58] #19244 closed, assigned to peterhashair

[2022-05-31 04:40] bx80 commented on #19274
@Starker3 Existing numeric archives are loaded individually for each site and then merged into a single datatable. From what I can see, if there are existing archives for the requested date range for all the sites then they should be used.

It's worth noting that previous period data tables are also loaded for the all websites dashboard, so if there are 10 sites then 2 x 10 archives would be loade

[2022-05-31 06:27] mattoii opened #19297 "Debugview crashed after any click"
Hello

I used Matomo GTM for tracking events, i want to view data layer events, but when i viewed click debug crashed.

Before click: http://joxi.ru/gmvw71bHeaLkD2  (view debugger)

After click: http://joxi.ru/J2bG3xDTqNXP9A  (debugger disappeared after click **mtm.AllElementsClick**)

i tried used:

1) mac os Monterey 12.4 , Сhrome ver. 101.0.4951.64
2) Windows 11, Сhrome ver. 101.0.4951.67

Ыitu

[2022-05-31 06:30] AltamashShaikh commented on #19297
Duplicate of https://github.com/matomo-org/tag-manager/issues/487

[2022-05-31 06:31] AltamashShaikh commented on #19297
@mattoii refer https://github.com/matomo-org/tag-manager/issues/487

[2022-05-31 06:31] #19297 closed, assigned to nobody

[2022-05-31 06:34] #19275 closed, assigned to bx80

[2022-05-31 09:44] BeckeBauer commented on #19243
I`ve been using the official release channel, currently vers. 4.10.1
But I gave up and installed a clean database (I assume that something went wrong when I transferred the database to the new server) - so I am closing the issue; thanks for your input

[2022-05-31 09:44] #19243 closed, assigned to nobody

[2022-05-31 10:39] mr2017x opened #19298 "Disable particular legacy Sites from Sites-Dropdown Menu"
Hi Guys,

thanks for your great work, enjoying it since early piwik days. Due to that fact in my installation there are still old logs and analytics files which i actually don't want to delete neither want to disable it for users but i want to prevent that they are going to get shown up in the drop down on start page at first. So that i have the currently interesting pages shown up with priority b

[2022-05-31 11:55] #19263 closed, assigned to bx80

[2022-05-31 15:34] haet commented on #7650
In our use case we have one site (ID 13) containing data from 2014 until now (imported from Analytics) and another site (ID 9) containing current Matomo tracking data starting in May 2022. I decided to move data until April from site 13 to site 9 to avoid overlapping data and simplify the transfer.

I have successfully merged my sites with this SQL statement:

    USE matomodb;

    delimiter //

[2022-05-31 23:38] mattab commented on #18612
Maybe we could do what @Demichev you  suggested:

1. introduce new INI settng update_referrer_in_visit_when_referrer_changes set to 1 by default (that people can set to 0 to ignore all referrer updates)
2. also introduce list of payment providers including [paypal.com](http://paypal.com/) etc to always ignore (new INI setting + setting in JS traker) so they are always ignored in the cookie and in

[2022-06-01 06:35] Chardonneaur commented on #19253
@bx80 I think we should provide both options. For example, a regular user may want to clean his account and a super user may want to clean the full instance.

[2022-06-01 06:42] Chardonneaur commented on #19266
@sgiehl ok I did it but then Matomo starts to be buggy, in fact the reports have confusing names and it is breaking the UI drop down menu as there is no title assigned to it.

[2022-06-01 07:25] sgiehl commented on #19266
Ok. Didn't check if the reports have all required properties defined correctly.

[2022-06-01 08:10] sgiehl commented on #18612
This one could actually make problems and I'm not sure which problems it should solve. The referrer is currently only updated when it was previously set to DIRECT. The reason for that is, that we assume it might not have been set correctly with the first hit. In some cases it might maybe happen that other tracking request(s) might be sent or processed before the initial page view is processed. If

[2022-06-01 08:16] justinvelluppillai commented on #18612
@sgiehl that sounds good to create separate issues. Perhaps 2. can make it into this milestone, do you think?

[2022-06-01 08:35] sgiehl commented on #18612
@justinvelluppillai I will go on working on it later, but not sure if it will pass the review process till the RC release.

[2022-06-01 09:30] Chardonneaur commented on #13703
@davidaigle well, probably not exactly what you are looking for but here is a workaround to get it as an Excel document: https://youtu.be/0ddxNxWO0aQ

[2022-06-01 12:26] NearlyShake opened #19300 ""Page not defined" - Errors in admin area of matomo"
Hi guys,

we have a problem regarding the Matomo plugin on one of our websites.
The following problem:
In the Matomo Admin Panel, we receive false page views with the designation "Page URL not defined".
Unfortunately, after we contacted Matomo Support, we still have no idea where these calls are coming from. These "Page not defined" messages only appear on this one website and not on any other pag

[2022-06-01 12:39] ghost opened #19301 "Report for a single website mismatches the "Sent from" website with another"
On single matomo 4.10.1 instance we track ~10 websites, each from its specific url like https://track.dns1.tld

In the automated monthly report, all data are coherent except the "sent from" website that shows another one.

## Expected Behavior
The report should show the tracker from the website it tracks

## Current Behavior
1. report one sent for dns1.tld with "sent from" dns45.tld + noreply@dns4

[2022-06-01 14:02] Findus23 commented on #19301
This is caused by the same issue as https://github.com/matomo-org/matomo/issues/14583

@justinvelluppillai maybe this could be added to the schedule for the next releases as it makes URLs in Matomo completly random if one uses multiple `matomo.sitename.example` urls that point at the same Matomo instance.

[2022-06-01 14:38] ghost commented on #19301
Indeed, sorry I did not look for such an old issue as #14583 but it's the same, that appeared with the upgrade to 4.10 in my case.

[2022-06-01 16:27] sgiehl opened #19303 "UI/UX regressions in global website settings"
While developing another feature I came across some regressions in the global website settings form.
Might be possible they also exists in the general settings form:

- When the API request to store the data returns an error (e.g. invalid excluded ip), the error is logged in the browser console and is displayed at the top of the form. But the loading bar above the save button remains and the save

[2022-06-01 17:09] atom-box opened #19304 "Display recent visits NOT only chronologically"
Interface Enhancement Idea.

How it is now:  the pages visited in the last half hour, are arranged chronologically

How I wish it were:
_"I would really like to have a synthetic overview of the pages visited in the last half hour,
with a ranking by popularity of the page"._.. In GA they can do this.   _"The Google Analytics view allows me to see the instantaneous effect of a mention on social netw

[2022-06-01 19:20] diosmosis commented on #19303
@sgiehl I can't reproduce the second issue, can you provide a browser/os and possibly a video?

[2022-06-01 20:23] jorgeuos commented on #19211
Oh, sorry. Missed your reply. I'm on parental leave... again. Lemme check, I think I have an environment running locally.

[2022-06-02 02:12] samjf opened #19306 "Move Annotations into their own dedicated table"
### Move Annotations into their own table

At the moment annotations are saved in the `Option` table into a single row per site (see  `\Piwik\Plugins\Annotations\AnnotationList::save`). This approach seems to cause DB performance problems when annotations are added in bulk due to constant serialization and locks for updating on a single row.

An approach to cleanly solve this problem would be to c

[2022-06-02 14:22] solevis commented on #15226
We have exactly the same problem as @janmuennich with the latest 4.10.1 release. Do I need to open a new issue?
The same thing occurs on the demo site : https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=year&date=2022-06-01&idSite=1&category=Referrers_Referrers&subcategory=Referrers_Campaigns

app_help: show 317 in the table, but the charts

[2022-06-02 14:46] sgiehl commented on #19304
I guess this will actually be included in #19134

[2022-06-02 14:46] #19304 closed, assigned to nobody

[2022-06-02 14:52] chriscroome commented on #19267
Thanks @bx80 I am running the command as the same user that PHP-FPM runs as.

I thought the issue could be that the PHP `sys_temp_dir` variable was set when the system check was accessed using a web browser but not on the command line, so I added the following to `~/.bash_aliases`:

[code]

And the following to `~/.php.ini`:

[code]

Where `/home/matomo/tmp` is the `$TMPDIR` for this user and it i

[2022-06-02 15:37] sgiehl commented on #16563
Was that one kind of fixed with #18956, or is anything left we should apply?

[2022-06-02 15:47] sgiehl commented on #11319
Might be something we could do as part of #11929

[2022-06-02 20:07] Findus23 commented on #19301
No problem, it also took me quite a while to find it again.

[2022-06-02 20:50] justinvelluppillai commented on #15226
Hi @solevis - This might be a different issue so would be good to open a new issue for it. It looks like the table is just showing the last day of the chart period, not the sum of the period there. It would be good to look into this and either fix or explain the behaviour.

[2022-06-03 01:12] justinvelluppillai commented on #19306
I will move this to the For Prioritization queue. It is a pretty important issue to keep Cloud performant also.

[2022-06-03 01:13] justinvelluppillai commented on #19301
Thanks for the report @laurentelgard , I will add it to the queue for Product Team to prioritize soon.

[2022-06-03 01:17] ghost commented on #19301
Thank you @justinvelluppillai, it's a real problem when different clients receive their report with another website "from", but you know it.
Hope this will come soon, can not use the report module right now.

[2022-06-03 04:22] peterhashair commented on #19300
@NearlyShake thanks for reporting this, our team will investgate this potential bug.

[2022-06-03 07:16] Chardonneaur opened #19313 "Missing an information notice for the calendar when comparing date periods"
When picking a date range comparison within the Matomo calendar, there  is no information dealing with the wrong date format. For example if I enter 01/01/2022, there is no information telling me that the format expected should be 2022-01-01.
Could you please add an information notice.

[2022-06-03 09:36] sgiehl commented on #19313
Hey @Chardonneaur
Thanks for bringing this up. There could be indeed at least a red border around the input field when the value doesn't have the correct format. To make it more clear what this is about, I'll add a little screenshot:

![image](https://user-images.githubusercontent.com/1579355/171829267-131b7e48-cd1d-4802-8ffa-c3adaceffe07.png)

[2022-06-03 10:28] Chardonneaur commented on #19313
Oh great thank you so much @sgiehl

[2022-06-03 11:54] sgiehl commented on #19290
@KarthikRaja1388 That might possibly be hard to implement. If browser archiving is enabled to reports should be processed directly if needed. If that is not the case it depends on how often the archive cron is triggered. As we can't easily predict that I don't see any possibility to do that.
For cloud we might be able to do that, as we know when the cron should run, but that would need to be solve

[2022-06-03 12:12] sgiehl commented on #19298
Hi @mr2017x
Thanks for your suggestions. Our product team will review and assign priority for this issue.

Btw: As the list of sites should be sorted alphabetically, a work around might be to rename the old sites and add a prefix that starts with something that pushes the sites to the end of the list...

[2022-06-03 12:14] sgiehl commented on #19235
Closing this one in favor of #19169

[2022-06-03 12:14] #19235 closed, assigned to nobody

[2022-06-03 12:29] sgiehl commented on #19203
Hi @Chardonneaur.
Thanks for the suggestion. This might actually be something that could also be implemented in a custom plugin.
There could be a list of all users allowing to define expiry dates for each and a simple task that runs daily, checking for user accounts to disable.
Nevertheless our product team will review and assign priority for this issue.

[2022-06-03 13:36] #18904 closed, assigned to nobody

[2022-06-03 13:40] sgiehl commented on #18752
Closing this one for now, as we will work on it as part of #11929

[2022-06-03 13:40] #18752 closed, assigned to nobody

[2022-06-03 13:42] sgiehl commented on #18745
Closing this one, as it should be finally solved with #19156

[2022-06-03 13:42] #18745 closed, assigned to nobody

[2022-06-03 13:45] sgiehl commented on #18826
@rusty1281 I'll close this issue for now. We've already released couple of new versions meanwhile. If you still have problems with updating, feel free to comment here again or open a new issue.

[2022-06-03 13:45] #18826 closed, assigned to nobody

[2022-06-03 13:46] #18689 closed, assigned to nobody

[2022-06-03 14:12] sgiehl opened #19316 "Updating visit dimensions might not work correctly in some cases"
Matomo uses so called Dimension classes to determine which database fields needs to be set/updated in the log tables.
Each Dimension class can contain several hook methods that are called depending on the visit/action currently handled.

When such a hook is triggered, we currently iterate over all dimensions and may update the dimensions value directly.
This may lead to unexpected behavior when ot

[2022-06-03 14:22] rusty1281 commented on #18826
Hello,

Problem is still present but I have done all the current updates using the manual method. Not sure why the pull is not working but it’s fine, acceptable workaround.

Tnx again.

[2022-06-06 00:01] mattab commented on #16563
@sgiehl sounds good, as we've renamed the segments to mention UTC so i'll close this

[2022-06-06 00:01] #16563 closed

[2022-06-06 12:50] otheus commented on #9959
What happened here? To quote myself in an email I sent the dev team a while back:

<blockquote type="cite" class="gmail_quote">
We need to fix Matomo1 so that it sets the wait_timeout per connection. Setting the server variable is an ugly ugly hack that does not 'play well with others'. Moving from mysqli to pdo/mysql makes it even worse, since old mysqi at least allowed auto-reconnection. (Forums

[2022-06-06 22:14] bx80 commented on #19267
Hi @chriscroome,

It looks like Matomo will choose the load infile tmp path in the following sequence:

1) The MySQL setting returned by `SELECT @@secure_file_priv`, this option must be set and the specified location must exist and be writable for it to be used.
2) The`tmp_path` setting from `config/config.ini.php` if it is set
3) The subdirectory `tmp` under the matomo root installation directory

[2022-06-06 22:21] Starker3 commented on #19274
@bx80 Thanks for the info, so it sounds to me that the pre-processed archives are actually used, but it still takes a bit of processing to get each of them and to combine them into a single report for the "All Websites" dashboard.

[2022-06-06 23:13] peterhashair commented on #19116
should we assign this issue to the 5.0 milestone, since it's breaking changes?

[2022-06-06 23:47] #13321 closed

[2022-06-07 01:05] justinvelluppillai commented on #9959
Hi @otheus this issue is in our backlog and we would welcome a contribution if you are able to provide a Pull Request for this. It is not currently in a milestone and it hasn't been scheduled yet.

[2022-06-07 01:55] #19011 closed, assigned to peterhashair

[2022-06-07 02:02] JasonMortonNZ opened #19317 "Handle 429 HTTP response in the UI"
We need to adjust the UI to handle a 429 HTTP response happening. At present a generic error message will be displayed when someone encounters this issue. It would be good to implement a custom HTML error page for this response type.

This is required to complete the rate limiting feature (dev-2437) on cloud and will improve uptime, cloud performance and customer experience.

[2022-06-07 02:27] #19158 closed, assigned to sgiehl

[2022-06-07 08:11] tsteur commented on #19316
@sgiehl be great to add a comment to what this means for the users from their perspective? When and what data be impacted there for them? I understand also from your other comment that if initially the referrer was detected as direct, and then the referrer changes, then the referrer type is detected correctly but the URL stays empty?

Is this only an issue when `create_new_visit_when_website_refer

[2022-06-07 13:19] sgiehl commented on #19317
Looks like a duplicate of #19233

[2022-06-07 13:19] #19317 closed, assigned to nobody

[2022-06-07 13:26] sgiehl commented on #14871
Closing as duplicate as this should be solved as part of #11929

[2022-06-07 13:29] sgiehl commented on #11794
@mattab should we maybe convert this one into an internal jira issue?

[2022-06-07 13:46] solevis opened #19318 "Campaign: value for visitors differs between widget and row evolution chart when selecting a period of time"
## Expected Behavior

When selecting a period of time, for example a month, the Campaign Names' table must show the sum of all visits of the period..

## Current Behavior

Currently, selecting a period of time display a lower value in the table instead of the sum of all visits for the corresponding period.

For example, this campaign show 802 visits for the month of May:
![CampaignNamesTable](http

[2022-06-07 14:07] sgiehl commented on #12200
This should meanwhile be fixed.

[2022-06-07 14:19] sgiehl commented on #10553
Closing this issue now. Matomo should meanwhile send a `noindex,nofollow` by default, which should prevent any search engines from indexing.

[2022-06-07 14:19] #10553 closed

[2022-06-07 14:21] sgiehl commented on #10419
I'll close this issue now. Seems it didn't occur in the last years again, as there hadn't been any new reports on this one.

[2022-06-07 14:32] sgiehl commented on #8496
The problem with the encoded url being displayed in thetooltip on all websites dashboard seems meanwhile fixed. Everything else might be handled with #4231 if needed.

[2022-06-07 14:32] #8496 closed

[2022-06-07 15:19] sgiehl commented on #10474
Closing this one, as we didn't receive any new reports on this one in that last years. If anyone has a similar problem, feel free to create a new one.

[2022-06-07 15:19] #10474 closed

[2022-06-07 15:27] sgiehl commented on #15820
Might be good to quickly look through all metrics and check if there are any other metrics where lower metrics should be treated as better.

[2022-06-07 15:34] dr0i opened #19319 "Fix problem with too long browser version"
This seems related to e.g. https://github.com/matomo-org/matomo/issues/15715.

[Edit]: using `Matomo 4.8.0`.

My workaround: modify the default restrictions of VARCHAR(20) like this:
[code]

Would be cool if such errors would not result in canceling the loading of the log files when doing `./console core:archive`.
I wished that these these malformed entries would just be skipped and thus the index

[2022-06-08 00:15] atom-box opened #19320 "Allow IP anonymisation to be set on a site by site basis"
A user asked:

"If I want to block for some sites two bytes and for other sites only one byte ...
...I have to set up a second server and distribute the sites according to this setting"

It would be great to allow differing privacy settings for each website, in this case, the IP Anonymization.

[2022-06-08 00:44] mattab commented on #18612
The problem with creating new visits is that if in case of an edge case situation, then you end up creating many new visits, and that has a lot of impact on data accuracy and trust. Here is an example such edge case: if someone has tabs opened, and one of the tabs has the Old referrer, then whenever their browser reloads and tabs reload, it would create possibly 2 visits each time. It quickly beco

[2022-06-08 00:55] justinvelluppillai commented on #19233
I will add this to the current milestone as it is a dependency for  improving rate limiting on Cloud

[2022-06-08 01:16] bx80 commented on #19318
Hi @solevis, thanks for reporting this. Those figures do look incorrect. I was unable to recreate the issue on demo.matomo.cloud so it could be a bug specific to your configuration or data. Our product team will review the issue for further prioritization.

[2022-06-08 01:29] bx80 commented on #19319
Hi @dr0i, thanks for reporting this.

I'm guessing that  `60.989879960022535902747826837404505249` is not an official FireFox version number, but either way a long user input string shouldn't be able to cause a statement execution error.

STRICT_TRANS_TABLES mode would work around the issue  but it could potentially cause problems for other applications that use the same database server. We could

[2022-06-08 07:01] sgiehl commented on #19319
That should actually be fixed quite easily. The database column currently has a length of 20. So we could simply limit the version to 20 characters and throw away everything afterwards. So a simple substr($x, 0, 20) should fix this here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/DevicesDetection/Columns/BrowserVersion.php#L40

@justinvelluppillai gu

[2022-06-08 08:29] justinvelluppillai commented on #19319
Happy for you to include that if it's a 10 minute fix or so 👍🏽

[2022-06-08 09:56] #11794 closed

[2022-06-08 10:12] aikeneic97 opened #19322 "If You Want The Most Out Of This Forum Posting"
[Forum posting](https://www.thebuyingpro.com/forum-posting/) is an extraordinary method for getting applicable backlinks and drive designated traffic to your site or blog. The more strings and comments you post, the more traffic you get from your commitment. This methodology can be rehashed at whatever point you want more links, and you can generally utilize it to acquire acknowledgment on the web

[2022-06-08 10:21] #19322 closed

[2022-06-08 13:29] Findus23 commented on #19320
I think this is the same as https://github.com/matomo-org/matomo/issues/6653 and the linked issues there.

[2022-06-08 13:43] FrozenBlueSky commented on #17159
I have the same issue. Usind version 4.10.1

matomo.js:35 Cross-Origin Read Blocking (CORB) blocked cross-origin response https://... with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details.

[2022-06-08 21:06] nbari opened #19323 "Attempt to handle incorrectly prefixed region codes"
I am getting logs with:

 Error in Matomo (tracker): Error query: SQLSTATE[22001]: String data, right truncated:

This is the query:

    UPDATE matomo_log_visit SET profilable = ?, visit_last_action_time = ?, visitor_seconds_since_order = ?, visit_entry_idaction_url = ?, visit_exit_idaction_url = ?,  visit_total_actions = visit_total_actions + 1 ,  visit_total_interactions = visit_total_interacti

[2022-06-08 22:04] bx80 commented on #19323
Hi @nbari, thanks for reporting this, it's very similar to issue #19319 and #15715 and could be included in any fix for those issues.

[2022-06-09 00:42] bx80 commented on #17452
I'm proposing to implement this in the following way:

Change the Privacy Manager -> Users opt-out UI to generate HTML code using a `<div>` and `<script>` call instead of an `<iframe>`.

Existing iframe code will still be honored using the existing `CoreAdminHome.optOut` API method and `optOut.js` which will not be changed.

The generated code would look something like this:

[code]

The `optOutDi

[2022-06-09 00:58] #19254 closed, assigned to peterhashair

[2022-06-09 04:42] peterhashair commented on #18766
when I was reviewing this issue, I realize, that after you refresh the page, the conversion rate showing correctly, but when you untick and tick the conversion box, it won't work. I guess a simple approach is to refresh the page after tick, but that won't be the perfect solution, still diving deep to see which JS cause the problem.

[2022-06-09 08:37] fredvd commented on #14129
This issue is IMHO one of the examples that demonstrate a drawback of  'plugin financed' open source business models:

It's frustrating that for any organisation small or large with multiple ip ranges in their internal networks they can't create a segment that filters out that internal traffic.  this issue is from 2019, it's 2022 now.  This is a very valid use case and allthough I really want to p

[2022-06-09 08:37] tsteur commented on #17452
@bx80

thanks for this. That's already going in the right direction. I've had a look around how other systems handle it and it's somewhat similar concepts. Sometimes they also directly give you the HTML to embed this like

[code]

Benefits: Lot of flexibility for users to change things and use their language/words etc, no extra requests that may be blocked by tracking blockers
Downside: Looks more

[2022-06-09 09:03] sgiehl commented on #19323
@nbari Which geolocation plugin and/or provider are you using?

[2022-06-09 09:10] #19320 closed, assigned to nobody

[2022-06-09 09:16] fredvd commented on #14129
For others searching for a solution and finding this issue because they want to create a segment with multiple ip ranges to compare traffic sources or see if 'internal' traffic is significant, you can do the following:

Create a segment for each internal ip range and then in the drop down for segments there squarish (open book?) icon left of the edit icon that allows you to compare segments.  You

[2022-06-09 09:24] sgiehl commented on #14129
@fredvd Even the custom reports plugin wouldn't allow you to combine multiple IP ranges into one segment, but you could create segmented reports for each ip range.

[2022-06-09 09:27] sgiehl commented on #18766
@peterhashair Did you try to analyze the requests that are sent to render the chart. I would assume that they differ when switching the metric and loading the chart already containing the metric. Knowing the difference should help to find the place where the request isn't build correctly.

[2022-06-09 10:33] tsteur commented on #18937
We've been logging the queries that produced this error and then executed the `select` part. It's not clear why they would produce any duplicate visitIDs.  Often they don't even have any joins. Also created temporary tables and tested the identical insert query but no error either.

Example query:
[code]

I've executed a few different queries and never received any duplicate visit ID (when testing

[2022-06-09 10:53] nbari commented on #19323
I am using `DBIP/GeoIP 2(Php)`

In the Download URL: https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City

[2022-06-09 10:57] tsteur commented on #19116
I'm not sure. Thinking of tracking I'm wondering if 204 is maybe actually the correct response since the tracking request was processed and we would want to avoid that because of https://github.com/matomo-org/matomo/blob/4.10.1/js/piwik.js#L2843-L2850 we would retry that tracking request.

A 204 would describe exactly above. Request was executed but no response/content.

AFAIK when sending a track

[2022-06-09 12:16] sgiehl commented on #19116
I guess that depends on the expectation. I would actually also assume that a configured cors domain would also disallow requests coming from other origins. In that case it would be correct to send a `403 Forbidden`. We then would need to handle the 403 in another way in tracking js for sure.

[2022-06-09 12:47] sgiehl commented on #19323
Hm. In that case I would assume that maxmind, another time, might have broken records in their database. It's actually not the first time, that they return invalid data for some records. Region codes should normally be returned without the country code prefixed. e.g. only `DU` and not `AE-DU`. I'll prepare a small PR so we removed the prefixed country if that happens.

[2022-06-09 12:55] tsteur commented on #19116
You can see this in the examples on https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS as well that these send HTTP 2XX (200 and 204) headers. And the browsers decided if the client can read the response.

Also

<img width="813" alt="image" src="https://user-images.githubusercontent.com/273120/172851607-8eae8eb5-5885-477f-a3df-64dad4b53991.png">

The browser console already shows correctly whe

[2022-06-09 14:04] sgiehl opened #19328 "Show conversion attribution in visits log & profile"
## Summary

With #19269 our `Live.getLastVisitsDetails` API now also contains details about which referrer was attributed to a conversion.
This information should also be shown in the visits log & visitor profile at least when hovering a conversion.

![image](https://user-images.githubusercontent.com/1579355/172865651-c11789d4-42e8-4b35-ae0a-7e56e35b9a84.png)

As the conversion attribution might d

[2022-06-09 14:16] tsteur commented on #18937
Verified that the table is empty when this error happens, then the `insert` is executed and the duplicate record error appears.

[2022-06-09 15:18] utrautmann opened #19329 "Geolocation: German State/ Province huge "Unknown" entries because of wrong languages (db-ip.com)"
The Region widget for State/Province shows a lot of unknown entries, although city entries could be localized.
The free database is used:
https://download.db-ip.com/free/dbip-city-lite-2022-06.mmdb.gz

The screenshots show the big difference between localized visitors for Regions and for Cities.
![grafik](https://user-images.githubusercontent.com/25771066/172879865-41f855f5-3228-4554-97ff-3a23fba8

[2022-06-09 15:33] tsteur commented on #18937
FYI I've also applied below patch but the error seems to still happen meaning it doesn't look like the read uncommitted is causing this.

[code]

[2022-06-09 15:34] tsteur commented on #18937
Is there anything else we should log or try?

[2022-06-09 16:50] EreMaijala commented on #18937
@tsteur This may be a silly question since I'm not sure what's actually being done here, but is it by any change possible that this happens when there are concurrent archivers and they happen to write same id's to the same temporary table at the same time?

[2022-06-10 00:45] bx80 commented on #17452
Thanks @tsteur

I had thought about returning dynamic JavaScript, if that's something we're okay doing then it's definitely a cleaner solution with fewer calls :+1:

**Implementation plan changes:**

:heavy_check_mark: Instead of serving fixed JavaScript and using data attributes, we add a new controller action `optOutJs`
which takes the exact same URL parameters as the iFrame action but returns d

[2022-06-10 03:21] AltamashShaikh opened #19331 "Goals cannot change back "Allow multiple conversions per visit" to "Default""
Created 1 new goal and saved it
Later changed the "Allow multiple conversions per visit" option to "Allow Goal to be converted more than once per visit" from "default"  and submit the form and after that try to edit the form and try resetting "Allow multiple conversions per visit" to "default" and  you cannot change the option

## Expected Behavior
Toggling of ""Allow Goal to be converted more tha

[2022-06-10 05:44] aikeneic97 opened #19334 "Painting business: the 10 main things you should know to manage a successful painting business"
I started my own painting business in 1991. As someone I had done painting in the past, I thought I knew everything about how to paint. I was wrong.

So exactly how much painting experience needs to start your own painting business? Below are the 10 main things you should know to become a successful house painter.

1. You need to know important things like when and why use primers [see this here](

[2022-06-10 06:51] tsteur commented on #18937
@EreMaijala I was wondering this as well but it shouldn't be unless the DB connection was shared.

Temporary tables only exist for the DB connection and aren't visible to other DB connections. As soon as the DB connection is closed the temporary table is also removed.

The archiving basically works like this:

* the core:archive script is running and launches sub-commands for each archive that nee

[2022-06-10 07:14] #19334 closed

[2022-06-10 08:19] sgiehl opened #19335 "Improve password confirmation in UI & API"
When a password manager is in place, the password confirmation field on the user settings page (when changing email), might be filled automatically causing the password confirmation popup never to show up.
If a wrong password is stored, it will be impossible to change the email.

This issue is similar to the one already fixed in https://github.com/matomo-org/matomo/pull/18515

[2022-06-10 08:24] ashutosh-hs commented on #16150
I am using matomo 4.6.2
Even after manually changing the column type to text in matomo DB for custom dimension columns, the values are still being truncated to 255 characters.
Is there anyway to get around this limitation at this time?

[2022-06-10 08:41] ulcuber opened #19336 "Piwik-field file passthru uiControlAttributes"
Maybe `v-bind="uiControlAttributes"` for input in `FieldFile.vue`

## Summary

For example:

[code]

Expected:

[code]

Actual:

[code]

[2022-06-10 08:44] tillinb opened #19337 "How to find pages that have not been viewed"
At the moment we can only see 'sucessful' pages – pages that have been viewed at least once. But e.g. for SEO it would be really helpful to find those pages, that are performing badly, or not at all – especially on very large websites with hundreds or thousands of pages. I would love to see a matomo fuctionality or feature that would allow me to find those pages that have zero views in a given tim

[2022-06-10 08:55] tsteur opened #19338 "An archive invalidation is never removed even though the data is being archived for the period regularly"
On the cloud we have a monitoring active that we're emailed should archive invalidations for some reason not be processed within a given amount of days to make sure data is always available etc.

We're receiving emails regularly especially from one account where we have for example this invalidation:

<img width="1056" alt="image" src="https://user-images.githubusercontent.com/273120/173025801-175

[2022-06-10 09:21] tsteur commented on #17452
Sounds overall good @bx80

* Maybe we only wait like 30 seconds or so instead of 2 minutes for an error message?
* We also need to double check how to honour existing opt outs. They would be mostly set as a third party cookie so not sure if we can honour and read them if people opted out previously? I guess we can't read them but not sure. FYI you might have already seen the existing logic. Whenev

[2022-06-10 09:33] heurteph-ei commented on #19337
How would you Matomo get the list of existing pages?

[2022-06-10 09:46] heurteph-ei commented on #19318
Isn't it a problem of data archiving?

[2022-06-10 09:56] sgiehl commented on #19337
That might be something that could be developed as a third party plugin. The plugin could scan the page for defined sitemaps (or provide an upload) and then go through the list of pages in the Matomo reports to check which pages weren't tracked.

[2022-06-10 15:21] sgiehl commented on #19336
@diosmosis are you able to answer that one?

[2022-06-10 15:36] sgiehl commented on #19329
Hi @utrautmann
That's kind of a problem with the DB-IP files. The free versions do only include the name of a region, but not the regions ISO code.
Matomo internally stores ISO codes only. If there is no ISO code provided by the geoip lookup, but a region name, we try to lookup the ISO code based on the country code and the region name. For that we are using a generated list of codes and names, th

[2022-06-10 16:12] uxfrank opened #19339 "Tracking Failures not working with invalid siteId"
We tried to validate the tracker failures feature by intentionally changing the siteId in our snippet to an invalid siteId (e.g. "-1", "2000", removing the siteId, etc).

None of these changes seemed to trigger the Logfailure() in Visit.php .

Is there a setup step that was missed?

## Expected Behaviour
If a snippet has an invalid siteId, than a tracker failure should be logged in the admin diagn

[2022-06-10 16:14] diosmosis commented on #19336
@sgiehl this was how the original angularjs field was defined:

https://github.com/matomo-org/matomo/blob/f57a5313f7923c60e55c2b101351bccaae287330/plugins/CorePluginsAdmin/angularjs/form-field/field-file.html

compare with: https://github.com/matomo-org/matomo/blob/f57a5313f7923c60e55c2b101351bccaae287330/plugins/CorePluginsAdmin/angularjs/form-field/field-text.html#L9

If I understand correctly t

[2022-06-10 17:22] fritzmg opened #19340 "SMTP passwords with ampersand are saved as &amp;"
## Expected Behavior

When saving an SMTP passwords that contains an ampersand (`&`), it should be saved as such, otherwise authentication will not work.

## Current Behavior

Ampersands in SMTP passwords are saved as `&amp;`

## Steps to Reproduce (for Bugs)

1. Go to System - General settings - Email server settings.
2. Fill out the details, with a password containing the `&` character, like `fo

[2022-06-10 19:37] utrautmann commented on #19329
Hi @sgiehl ,
thank you for your answer. This helps me further understand how it works. I have now asked db-ip.com whether there are plans to provide the regions (provinces) in the national language again.

In Matomo, would it be possible that in the absence of an ISO code in the geolocation database, the region information would be used unchanged in Matomo, or would that have other implications?

[2022-06-11 19:58] sgiehl commented on #19329
@utrautmann We are storing ISO codes in the database and the database field won't be able to store more than 3 characters. So we can't simply store the name.
We could maybe try to additionally check for the english name of a region :thinking:

[2022-06-12 15:05] Findus23 opened #19343 "Further PHP 8.2 compatibility improvements"
The first alpha of PHP 8.2 has been released and I got a bit of time, so I will be looking into what the major things are that will cause current Matomo to break when using PHP 8.2.
See also #17686 for 8.1

Reading through [UPGRADING](https://github.com/php/php-src/blob/php-8.2.0alpha1/UPGRADING), I don't see any major breaking changes, but we will see what needs to be changed.

As only the first

[2022-06-12 20:50] camponez opened #19345 "Real time ranking pages (action) from Visitors"
## Summary
This would be a dashboard widget that would show a rank of most actions(pages) from the "Visits" shown in "Visits in Real-Time"

[2022-06-12 22:04] bx80 commented on #19318
Yes, that would seem likely.

@solevis If you are comfortable with running console commands then you could try invalidating and re-archiving the data for the month of May to see if the correct figures are shown after the data is regenerated.

I don't know your exact configuration but if your site id was 1 then the console command would be:
[code]
You can then trigger the re-archiving with:
[code]

[2022-06-12 22:52] peterhashair commented on #19340
@fritzmg thanks for reporting this, our product team will prioritize this bug

[2022-06-13 02:18] Starker3 opened #19346 "Fix FAQ links using # in the link no longer working"
refs DEV-2838

With the recent KB system update any FAQ links that use a # anchor link no longer link to the correct FAQ. For example https://matomo.org/faq/general/#faq_125  just links to the general page, but https://matomo.org/faq/general/faq_125 works as expected.

There are several FAQ links in the codebase that are now effectively broken.
Eg. there is this one: https://github.com/matomo-org/

[2022-06-13 02:20] bx80 commented on #17452
Thanks for the feedback @tsteur :+1:

:heavy_check_mark: Only wait 30secs for the JS tracker

Yes, I was thinking we have a URL parameter to enable the fallback to direct cookies, this would allow flexibility for unusual configurations where direct cookie writing isn't desired for some reason. Maybe it defaults to fallback enabled?

:heavy_check_mark: If the JS tracker isn't detected, fallback is

[2022-06-13 02:53] bx80 commented on #19339
Hi @uxfrank, thanks making contact.

Any `siteId` less than 1 will be ignored, so setting the `siteId` to -1 will not log any tracking errors.
A `siteId` of 2000 should record a tracking failure (assuming you don't have a site with that id). I've tested this and a tracking failure was logged, so it doesn't seem to be a general bug.

If the visit is excluded for some reason (excluded IP, user agent

[2022-06-13 03:04] bx80 commented on #19345
Hi @camponez, thanks for the suggestion :+1:

We already have a request for this feature in issue #2439, so to avoid duplication I'll close this issue and link it to the original request.

[2022-06-13 03:04] #19345 closed, assigned to nobody

[2022-06-13 03:10] bx80 commented on #19346
Just to clarify, the task here is to update all FAQ links in core that use `#` in URL so they work again.

[2022-06-13 05:22] peterhashair commented on #18781
I guess there are 2 solutions here, remove the code here to reload the table, that will keep the 90 days as the memory, and update the graphic (maybe a condition check would be better if param changes compare to the table data)

https://github.com/matomo-org/matomo/blob/99ec093e1e50867aa7d262cdcc1a0ce4e62418c4/core/Plugin/Visualization.php#L315-L320

another solution is to revert this part here, w

[2022-06-13 07:23] solevis commented on #19318
Hi @bx80,

Thanks for your reply, but unfortunately I already done new archiving of all our data since march (twice), and nothing has changed.

I don't know if it can help, but we run Matomo with two frontends in load balancing and a third server as database.

[2022-06-13 07:23] #19346 closed, assigned to nobody

[2022-06-13 07:56] MatomoForumNotifications commented on #19251
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-403-manifest-json/46196/4

[2022-06-13 08:19] miton18 commented on #19169
Do you know when the prioritization will occur ?

[2022-06-13 08:33] tsteur commented on #17452
It may work in some browsers. I'm not 100% sure how all the browsers handle third party cookies these days. Ignoring the third party cookie would mean effectively deleting the third party cookie in the controller request I assume. AFAIK at least Safari would block such a deletion but that could be fine (or maybe it would even work :) ). In the worst case a user would stay opted out which could be

[2022-06-13 10:38] peterbo commented on #19318
@solevis did you enable the MarketingCampaignsReporting plugin within this period or shortly before that? Compare the numbers with the other report Acquisition -> All Channels - are the numbers for Campaigns correct in this report?

[2022-06-13 12:03] chriscroome commented on #19267
Thanks @bx80 the server with this issue doesn't have `@@secure_file_priv` set, but neither do the servers that doesn't have this issue, I get the same result on all of them:

[code]

There isn't a problem writing to the temp directories as far as I can see.

I think I'll just have to accept that this one server can't run `php console --no-ansi -n diagnostics:run` without an inexplicable error -- I

[2022-06-13 12:17] ashutosh-hs commented on #16150
@mattab @tsteur  could you please help me with this? We have now upgraded to version 4.10.1 and still have this issue.
Even after manually changing the column type to text in matomo DB for custom dimension columns, the values are still being truncated to 255 characters.
Is there anything else that I need to do after changing column type?
Is there anyway to get around this limit at this time?

[2022-06-13 13:09] sgiehl commented on #19336
@diosmosis Ok. Thanks for clarifying that. Wasn't sure if that was the same behavior before.
@ulcuber If you are able to provide a PR to change that, we would be happy to review and merge this.
Otherwise our product team will review and might plan this in.

[2022-06-13 14:16] solevis commented on #19318
Hi @peterbo,

- I installed the MarketingCampaignsReporting the 25th may
- In Acquisition -> All Channels values seems correct, I have 14,474 for the month of may for the campaign I used as example in my first post (instead of 802 in Acquisition > Campaigns)

[2022-06-13 14:26] solevis commented on #19318
I checked values around the 25th of may (install date of the MarketingCampaignsReporting plugin), and values before the 25th are perfectly aligned between "Acquisition -> All Channels" and "Acquisition > Campaigns" and as soon as include data archived from the 25th may I have differences.

[2022-06-13 15:10] peterbo commented on #19318
This is remotely connected with this: https://github.com/matomo-org/plugin-MarketingCampaignsReporting/issues/9. The plugin uses other database fields for reporting, therefore wrong numbers are reported for overlapping / intersecting timeframes (core campaign handling to new campaign plugin).

[2022-06-13 15:49] hideosnes opened #19350 "After updating to the latest php version (8.1) the Wordpress Plugin of Matomo ceased to work properly."
After updating to the latest php version (8.1) the Wordpress Plugin of Matomo ceased to work properly.

## Expected Behavior
Outbound Links such as "Reports" and "Tag Manager" work. Other pages show an error message (below), however do show rudimentary data.

## Current Behavior
Right now the outbound links display an unformatted html version of the pages with error messages. It prints the followi

[2022-06-13 16:31] utrautmann commented on #19329
@sgiehl
Here is the answer from db-ip.com.
It sounds like an approach that's the opposite of Matomo's.

"The IP to City Lite database uses English names when possible, or the local name if no translation is available."

[2022-06-13 19:15] sgiehl commented on #19329
Interesting. So you actually can't rely on what they would return, as you can't know what is translated or not 🤷
Still wondering why the can't simply include the ISO code 🙈
Anyway. The problem is, that we would need to fetch the english translations additionally, so we can compare that against the english names as well... And depending from where they get their translations they might even differ

[2022-06-13 19:31] sgiehl commented on #18459
closing in favor of https://github.com/matomo-org/matomo/issues/11929

[2022-06-13 19:31] #18459 closed, assigned to nobody

[2022-06-13 19:33] sgiehl commented on #9719
closing in favor of https://github.com/matomo-org/matomo/issues/11929

[2022-06-13 19:33] #9719 closed

[2022-06-13 19:33] sgiehl commented on #11266
closing in favor of https://github.com/matomo-org/matomo/issues/11929

[2022-06-13 19:33] #11266 closed

[2022-06-13 19:37] sgiehl commented on #4387
closing in favor of https://github.com/matomo-org/matomo/issues/11929

[2022-06-13 19:37] #4387 closed

[2022-06-13 20:45] justinvelluppillai commented on #17310
Closing as duplicate of #18055

[2022-06-13 20:45] #17310 closed, assigned to nobody

[2022-06-13 20:53] Starker3 commented on #18681
We got another request for this feature today, together with a similar request to have this kind of functionality in the other login plugins (SAML, LDAP)

[2022-06-13 22:03] bx80 commented on #19267
Sorry we couldn't get to the bottom of this one @chriscroome, I'll close the issue but do feel free to reopen if anything else comes to light :+1:

[2022-06-13 22:03] #19267 closed, assigned to nobody

[2022-06-13 22:40] atom-box opened #19351 "Implement Custom dimensions at product level so users can track more than just Product SKU, Product Name, Product Category"
It is a big limitation that Matomo only tracks three things at the product level.

"Because we have a very specific business, our ______ products are quite complex. As a consequence we need to track a lot of data related to them in order to build some custom reports or build some benchmarks. Related to products, I only found the 3 very classical dimensions Product SKU, Product Name, Product Catego

[2022-06-14 01:16] mattmary opened #19352 "Deprecated: version_compare(): Passing null to parameter #1 ($version1) of type string is deprecated in app/plugins/Diagnostics/Diagnostic/PhpVersionCheck.php on line 66"
there is a deprecated warning on php8.1 for a variable is null and should be a string

## Expected Behavior

No warning displayed when displaying the system report page within the wordpress plugin.

## Current Behavior

![Screenshot from 2022-06-14 13-11-09](https://user-images.githubusercontent.com/86216084/173472521-47260095-e1dd-458b-9ae3-395f6d9a2456.png)
A warning is displayed when running wi

[2022-06-14 01:21] mattmary commented on #19352
another related warning

Deprecated: version_compare(): Passing null to parameter #1 ($version1) of type string is deprecated in app/core/CliMulti/CliPhp.php on line 76

[2022-06-14 03:03] #18766 closed, assigned to peterhashair

[2022-06-14 08:19] conversorbinario commented on #18530
Very similar situation happened to me using OneLogin as my IdP. I was inserting the resource I wanted to acces as an iFrame. It was working in both Chrome and Firefox.
In Safari, it wasn't.
For this browser, the warning message in the console was rather cryptic:'Blocked a frame with origin
 "https:/[mysubodaomin].onelogin.com/" from accessing a frame with origin "https://[webpage]". Protocols, dom

[2022-06-14 10:03] sgiehl commented on #19352
@mattmary I'm not seeing this error when using Matomo the "normal" way on PHP 8.1.

[2022-06-14 13:46] Chardonneaur commented on #19351
@atom-box isn't it a custom dimension at the action level?

[2022-06-14 16:40] leaf-node opened #19354 "Improve reset password email formatting to fix broken link"
## Expected Behavior
1. Send yourself a password reset email on the login screen of your Matomo site
2. Open email in plain text mode, click on link
3. Complete change of password on your site

## Current Behavior
Instead of 3. above, one ends up with an expired / invalid token error on your site.

The URL ends in something like: `...96b9f4131cfNote`, because it is part of the following string: `N

[2022-06-14 20:12] mattmary commented on #19352
@sgiehl when you say the normal way is matomo on premise?

[2022-06-14 20:13] mattmary commented on #19352
refs https://github.com/matomo-org/matomo-for-wordpress/issues/614

[2022-06-14 21:03] sgiehl commented on #19352
Yes. On premise

[2022-06-14 21:44] mattmary commented on #19352
in php8.1 @sgiehl ?

[2022-06-14 21:51] sgiehl commented on #19352
tested it with 8.1.5

[2022-06-14 22:14] varunKothare opened #19355 "Search field above each table"
Search field above each table (e.g. in Behavior -> Pages) with which users can filter all pages of the current tabular overview by keywords. Opposed to the search field at the bottom.

[2022-06-14 23:35] bx80 commented on #19354
Hi @leaf-node, thanks for reporting this.

I can confirm that the reset link is combined with the extra text when the email is viewed in plaintext mode. Additionally the HTML reset link doesn't wrap in it's container and can overflow off screen.

This is easy to correct so I've created PR https://github.com/matomo-org/matomo/pull/19357 to fix it

[2022-06-15 05:58] #18781 closed, assigned to peterhashair

[2022-06-15 13:17] #15262 closed

[2022-06-15 13:48] DHammer-OKC opened #19358 "JavaScript Security Vulnerability"
The issues were found when performing a code scan using SonarQube.  The application found 3 security vulnerabilities.  I am including them in a single submission since it is the same issue found in 3 places in two different files.  Matamo version 4.10.1

File number one:  js/pwiki.js   Line: 7236

iframe.contentWindow.postMessage(jsonMessage, '*');

SonarQube reason: Origins should be verified dur

[2022-06-15 14:53] Chardonneaur opened #19359 "France regions 20% of unknown region"
When using the Maxmind database, 20% of the cities are not matched with a region, for example: Dinan, France - Deauville, France

[2022-06-15 15:55] #19331 closed, assigned to diosmosis

[2022-06-16 00:10] mattmary commented on #19352
hi @sgiehl

I've tried different ways to fix this issue. the only one which work is to define as global the variable $piwik_minimumPHPVersion in this file. which impact would it have to do so?

[2022-06-16 08:33] sgiehl commented on #19352
That variable actually should be global. But maybe that isn't the case as WordPress includes Matomo 🤔

[2022-06-16 14:33] Chardonneaur opened #19364 "Add a segment administration panel"
So as for the custom dimensions, the goals, the custom reports, would it be possible to add a management panel for the creation of the segments within the admin of Matomo?

[2022-06-16 15:10] aashishgoyal2000 opened #19365 "Event Appearing as Custom Variable in Matomo Dashboard"
I am sending events using Piwik Tracker with the sendBulkRequestAsync method, and the event is appearing as Custom Variable in the dashboard. It should appear in the events list.

{
    "eventName":"Name: ",
    "eventAction":"Action",
    "eventCategory":"Category",
    "eventValue":null,
    "eventTime":1655388962709
}

Events are being raised from Spring Boot Java using Piwik Tracker.
Dependenc

[2022-06-16 18:33] utrautmann commented on #19329
@sgiehl:
I asked again. Here is the answer from db-ip.com:
_"Unfortunately ISO codes and Geoname IDs are not present in the Lite databases and **we have no plans to add these fields in the future**"._

First of all, I don't think that's a bad idea. Of course, it's possible that the English translation has an error, but in that case there's really not much you can do.

[2022-06-16 20:54] KarthikRaja1388 commented on #17452
Customer’s message:

During testing we have identified an issue regarding the opt-out iFrame message- see below. The iFrame message appears as it should do when viewed using a PC but when viewed on an Apple device (safari browser), user see the message in red below. It seems like apple software is automatically set to block cookies unless user opt-in via their devices privacy settings.

[2022-06-16 22:49] Findus23 commented on #17452
Just a quick thought: The case where people have the matomo.js loading correctly sounds great to me, but I think we should change the other one: If matomo.js is blocked (let's assume the user has an ad-blocker enabled) and one wants to opt out. Even with 30s timeout, people would just assume that Matomo if forcing everyone to do the incredibly user-hostile "wait for this extremely long loading bar

[2022-06-17 02:46] justinvelluppillai commented on #19358
Thanks for the report @DHammer-PT . I would encourage you also in future to consider reporting security issues via Hackerone - https://hackerone.com/matomo

[2022-06-18 19:06] rosa2 commented on #18649
At the end, I ask friends and they didn't have this problem. Today I saved a preference and the calendar started well. I imagine that it was something in the cache. Thanks a lot for your support and you can close this issue :)

[2022-06-19 23:05] peterhashair commented on #19365
Link this issue to [here](https://github.com/matomo-org/matomo-java-tracker/issues/60) since is duplicated

[2022-06-19 23:05] #19365 closed, assigned to nobody

[2022-06-20 00:36] peterhashair commented on #19359
Thank you for reporting this, our team is looking for the latest address and IP updates

[2022-06-20 06:07] Chardonneaur commented on #19359
@peterhashair : thank you, that's also happening within matomo.cloud

[2022-06-20 06:17] Chardonneaur opened #19370 "UX: Manage Measurables --> Add buttons to access to the first and last page"
Within the Manage Measurables window, 10 sites are shown per page, that's ok if we are not managing many. But If you start to measure more than a hundred of websites you need to click several times on the next button.
A nice feature would be to access easily to the last and first page.

[2022-06-20 07:39] sgiehl commented on #19359
@Chardonneaur Are you able to identify an IP where that not reported correctly? Or maybe lookup one of those visitors in the log_visit table, if the location_region field is empty or not?

[2022-06-20 07:56] sgiehl commented on #19329
@justinvelluppillai We maybe should consider planning this one in soon. Using the lite version of db-ip.com, which we suggest by default, currently might report a lot unknown regions, due to an not map-able region name.
We currently have a command to update the list of regions, which we should run to update the official region names. In addition we should extend the command so it also tries to fet

[2022-06-20 08:21] sgiehl commented on #19370
Hi @Chardonneaur
Thanks for this suggestions. That should actually be quite easy to add.

[2022-06-20 11:18] NearlyShake commented on #19300
Hello @peterhashair,
I wanted to ask if there was any feedback on this from development?

[2022-06-20 12:11] bat79a commented on #19169
+1 ;p

[2022-06-20 22:01] peterhashair commented on #19300
@NearlyShake normally "Page URL not defined" is normally caused by site search or privacy setting on the client browser. You can view the docs from [here](https://matomo.org/faq/general/faq_75/).

From the screen, it seems like the tracking is working fine. Maybe check if there is a search box on the site for the one that has the problem. Or any 301 redirects applied.

[2022-06-21 03:42] peterhashair commented on #19233
I am not too sure if I am on the right track here. I think to prepend this before the line. Would that works?

[code]

https://github.com/matomo-org/matomo/blob/3f9a00f1447450b5fa3fb18170ed5943b5c83f50/plugins/API/Controller.php#L56

[2022-06-21 03:48] justinvelluppillai commented on #19233
I was expecting more likely something in `AjaxHelper.ts` where it currently handles all errors with 'Something went wrong' (except 504 gets a different message). Maybe worth running this by @bx80 to devise a plan here

[2022-06-21 08:55] #19354 closed, assigned to bx80

[2022-06-21 09:14] sgiehl commented on #18649
Thanks for the update. Glad to here it finally works for you.

[2022-06-21 09:14] #18649 closed, assigned to nobody

[2022-06-21 09:29] Chardonneaur opened #19371 "Dashboard: make the copy of the dashboard to all users available"
By default in Matomo it is not possible to share a dashboard with all users but just individually. It could be great to have an option for all users.

[2022-06-21 10:04] dantefr commented on #19329
Hi,
The same problem exists with two French regions.
DB-IP -> MATOMO
Normandy -> Normandie
Brittany -> Bretagne

I'm not sure this is the right place, but there are too much dashes in the names of three French regions.
DB-IP -> MATOMO
Pays de la Loire -> Pays-de-la-Loire
Provence-Alpes-Côte d'Azur -> Provence-Alpes-Côte-d’Azur
Grand Est -> Grand-Est

I modified the "isoRegionNames.php" file, to ha

[2022-06-21 12:11] MatomoForumNotifications commented on #19329
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/how-to-set-geolocation-to-wider-region-instead-of-city-suburb/46341/2

[2022-06-21 14:06] sgiehl commented on #19303
@diosmosis sorry for the delay, that one somehow slipped through 🙈

I'm still able to reproduce the second one on locally on Windows using Chrome, Firefox or Edge but also on OSX / Chrome using BrowserStack.

https://user-images.githubusercontent.com/1579355/174819590-79ac7e38-3e42-4ebb-9baa-ed8a17441d42.mp4

[2022-06-21 16:43] diosmosis commented on #19303
:+1: I can reproduce now, and have a fix I'll put up soon.

[2022-06-22 00:31] bx80 commented on #17452
Some good points there @Findus23 :+1:

It's definitely not ideal, do you have an alternative approach to waiting 30 seconds to see if matomo.js loads? If we don't wait at all or wait for only a few seconds then the tracker code will be rarely used, at which point it would probably be better to ignore it altogether. For comparison the current iframe JavaScript will wait two minutes for matomo.js to

[2022-06-22 02:31] MorganFujimaka opened #19384 "Archiving process causes CPU spikes on Master DB"
During archiving we notice a lot of read queries causing CPU spikes on master DB:
[code]

We face performance issues toward the end of the month when a `matomo_archive_numeric_2022_**`  table is becoming too big probably.

The function that call the query: https://github.com/matomo-org/matomo/blob/296de5d46102cfcc7dddd322972edbc631bf2b54/core/DataAccess/Model.php#L436

[code]

Why does it query ma

[2022-06-22 03:45] #19319 closed, assigned to sgiehl

[2022-06-22 12:24] L3on1d opened #19386 "Log importer error after upgrade to the latest version (Numeric value out of range: 167 Out of range value)"
Hi!

After upgrade to the latest Matomo version, we unable to import logs.

Getting this error:

_Error query: SQLSTATE[22003]: Numeric value out of range: 167 Out of range value for column 'idaction' at row 1 In query: INSERT INTO mtm_log_action_

Our system info: Matomo 4.10.1 running on Ubuntu 18.04.6 LTS (PHP 8.0.5, Nginx 1.21.0, MariaDB server 10.5.15).

[2022-06-22 13:23] tsteur commented on #17452
I don't have any strong thoughts. I've seen some platforms offering self-contained code and they copy/paste the entire code into the page. The problem being that if there's any regression or browser incompatibility or other change then users will likely not know when they should update this self-contained code and it can often be complicated to get it changed. On the other side of course it won't

[2022-06-22 16:46] Prinzhorn opened #19389 "WidgetsList->remove uses translated $widgetName => cannot actually remove widgets"
I'm trying to use `Widget.filterWidgets` to remove certain widgets we don't need. This works for removing a whole category, e.g. `$list->remove('Marketplace_Marketplace');` removes the entire menu with all submenus. However, you cannot reliably use the second argument. I was trying to remove a particular menu, e.g. "Behaviour" -> "Site Search". So I tried several things such as `$list->remove('Gen

[2022-06-22 18:23] L3on1d commented on #19386
Fixed (changed INT to BIGINT).

[2022-06-22 18:23] #19386 closed, assigned to nobody

[2022-06-22 19:30] mr2017x commented on #19298
Hi @sgiehl tried that but sites beginning with "c" are followed by "e" are followed by "f", but the new one starting with "d" is at the end of the row...:-)

[2022-06-22 21:41] bx80 commented on #19371
Hi @Chardonneaur, thanks for the suggestion.

At the moment a separate copy of the dashboard is created for the target user, this will then not reflect any new changes made to the original dashboard.

To make a dashboard available for all users I'd imagine that it would be better for the dashboard to be shared rather than copied, so instead of creating a copy for every single user, all users would

[2022-06-22 22:41] bx80 commented on #19384
Hi @MorganFujimaka, I can't say for sure, but loading the list of archives from the master database is probably to avoid issues any with ongoing archiving processes and read replica lag.

How many records are typically in `matomo_archive_numeric_2022_*` by the of the month?

[2022-06-22 23:03] bx80 commented on #19389
Thanks for reporting this @Prinzhorn, the detail is much appreciated.

It looks like there is an inconsistency in naming with some widgets setting their name to the translated text and some using the translation key. For API use there should be a consistent language independent name, like the translation key.

Translation keys for widgets could be found by looking in `plugins/[plugin name]/lang/en

[2022-06-23 02:30] peterhashair commented on #19233
@JasonMortonNZ  just a question on the UI changes, currently the UI shows this error message for the API endpoints
![image](https://user-images.githubusercontent.com/3783072/175193778-8dd7c341-312c-478b-ae26-456b87c74040.png)

- I could update this message to mention rate-limiting as a possible cause. This will be a simple change.
- I could detect 429 as a response code and show different messages

[2022-06-23 02:59] Starker3 opened #19392 "Add delimiter option for Downloads reports"
Feature request from a Matomo user:

The current way that Downloads reports are structured just has the URL as the top dimension with all download URLs in subtable rows directly below:
![image](https://user-images.githubusercontent.com/20905821/175197366-e732eb8a-a14e-45c9-b40b-84cd615cc6c1.png)

It would be very useful to add the ability to set a delimiter for these reports to make them hierarchi

[2022-06-23 07:38] #19303 closed, assigned to diosmosis

[2022-06-23 09:10] heurteph-ei commented on #19371
@bx80 Then super-users should be able to change the ownership of a dashboard (think about the case where some user leave the company), and also maybe be able to update dashboards of other users...

[2022-06-23 09:56] justinvelluppillai commented on #16150
Hi @ashutosh-hs we haven't got this on the list of currently prioritised work. You may have a better chance of getting help with this over on our forums https://forum.matomo.org/

[2022-06-23 10:00] ashutosh-hs commented on #16150
@justinvelluppillai thanks.
I have already created a topic on the form : [https://forum.matomo.org/t/manually-changing-custom-dimension-x-fields-to-be-unlimited-length-column/46287 ](https://forum.matomo.org/t/manually-changing-custom-dimension-x-fields-to-be-unlimited-length-column/46287 )
haven't received any replies on this yet

[2022-06-23 11:03] Chardonneaur opened #19393 "Fix date range handling to prevent evolution graph display being confused when changing the period"
When we change the period of a graph with the "green icon calendar" for example changing from Day to Week, and then when we are coming back to a Day period, the graph is getting confused and not coming back to its original state.
For example, if you choose June the 22th, then you click on the green icon calendar and select week and then select back the day period then instead of coming back to Jun

[2022-06-23 12:10] sgiehl commented on #19393
Hi @Chardonneaur
Thanks for the report. I was able to reproduce that. It seems for some reason the `date` parameter in the request seems to be changed to the last day of the period in that case.
I'll try to set up a quick fix for that.

[2022-06-23 12:12] Chardonneaur opened #19394 "data-matomo-mask not working on events"
Currently the data-matomo-mask works for the heatmap and session recording but it does not work when it comes to events.
The typical use case is the following one, if you set the tracking of your events on any clicks happening on your website, then, a user may click on a personal data (for example his login while logged), as a result, the {{click text}} information may be sent to Matomo.
It would

[2022-06-23 12:44] sgiehl commented on #19394
Hi @Chardonneaur
Thanks for creating this suggestion. I'm actually not sure if that is an issue for core. The core features only allow to send events using a method, that allows passing custom data. The normal tracking won't fetch any data from certain elements and thus doesn't know where it might come from.
But I would assume this could possibly be something that might be considered for tag manag

[2022-06-23 16:55] Prinzhorn commented on #19389
What I've seen in some frameworks and what might work well is outputting HTML comments when in _development mode_. So that you get something like this:

[code]

So that when inspecting the HTML I can see what each widget is called (e.g. `General_Pages`) right in the HTML. Other information that is useful could also be added in development mode this way. For me personally it's the most natural way

[2022-06-23 22:42] atom-box opened #19397 "Show a graphic for the “Power User Curve” — also commonly called the activity histogram or the L30"
A user has requested a widget could be added to visualize a common marketing histogram called the Power Curve, popularized by Facebook.

Power Curve or L30 is described in many marketing blogs.
Examples here and here
https://www.reforge.com/brief/understand-your-most-engaged-users-with-the-power-user-curve#iHS6ZR0ba7wb-ulnrDIBNA
https://andrewchen.com/power-user-curve/

The L30 ![](https://reforge

[2022-06-24 04:51] tsteur commented on #16150
Hi @ashutosh-hs  the custom dimension value is hard coded to 250 characters: https://github.com/matomo-org/matomo/blob/4.11.0-rc1/plugins/CustomDimensions/Tracker/CustomDimensionsRequestProcessor.php#L175

It was added in Matomo 3.1.8 https://github.com/matomo-org/plugin-CustomDimensions/commit/823e8e9faab673f16c5964e832f2b926d9cdf7ee#diff-bbc47867ddfd7fe85fe96b6a846a35ca5064315fb8a12ec8615a4ec69a

[2022-06-24 06:20] ashutosh-hs commented on #16150
oh, okay. @tsteur thanks for the confirmation

[2022-06-24 08:13] sgiehl commented on #19389
@Prinzhorn Do I understand that correctly, that you actually want to remove the menu entry? Or do you also want to make the widgets unavailable on the dashboard?

[2022-06-24 08:21] sgiehl commented on #19233
I would suggest to maybe not directly implement any screen or custom message in Matomo itself, as it's quite cloud related only.
It might make more sense to trigger a javascript event whenever a request fails with an unexpected response code.
That way the cloud plugin could hook into that event and display a custom message.
This would later also allow to handle any other response code, we might ne

[2022-06-24 08:37] Prinzhorn commented on #19389
@sgiehl we are setting up Matomo for some clients using only log importing. So I was asked to remove some menus because they might confuse the users and cause questions (e.g. anything "Real-time"). We have configured dashboards with only relevant widgets but yes, it totally makes sense when useless (with log importing) widgets would be entirely removed. So if the current API was fixed I guess that

[2022-06-24 10:10] sgiehl commented on #19389
@Prinzhorn The "problem" with the widgetlist here is, that it is generated from two sources. Once source is the manually defined widgets, that are defined using a WidgetConfig. For those the name is untranslated. The other source are the Report classes, which might configure custom widgets or use the default factory. The default factory uses the reports name, which is currently translated.
It migh

[2022-06-24 10:28] citananda commented on #18813
Same problem here, in a docker install

[2022-06-24 11:59] sgiehl commented on #19389
Note: I think it might make more sense to introduce a new method `WidgetList::removeByUniqueId` instead of adjusting all reports to have their names untranslated by default. The unique id is generated based on the widgets module and action and optional parameters (like a goal id).

[2022-06-24 13:02] sgiehl commented on #15924
I'm actually not able to reproduce the tracking issue. If I have a page with the links mentioned in the issue description, both are tracked with the same url. Maybe the browser already removes the encoded ampersands.
Nevertheless: If I manually trigger tracking a download with an encoded url like:
[code]
That url is displayed encoded in the visitor log, while it works when it's tracked as outlink.

[2022-06-24 15:00] Chardonneaur commented on #15040
@sgiehl I got a client today who got exactly this need, the kpi they need is the total exit rate at the exit page report.

[2022-06-24 20:13] sgiehl commented on #15040
@Chardonneaur What is the "total exit rate"? Isn't the exit rate of all visitors always 100% as all visitors exit in the end?
The exit rate is only relevant for a specific page url or search term, as it means the visitors exited afterwards.

[2022-06-25 05:04] Chardonneaur commented on #15040
![Screenshot from 2022-06-25 06-57-42](https://user-images.githubusercontent.com/28002238/175758810-7bff9698-3d0d-4b20-a4f2-31f6dc5d3bf6.png)
well, to me, in the following screenshot above, it refers to the total that we have here. But on the other hand, I see what you mean, in all cases visitors will end up their visit, so 100% makes sense.
So, I think the big question is mostly what this total a

[2022-06-25 05:06] Chardonneaur commented on #19394
Thank you @sgiehl, yes, you got it right, I was also hesitating between putting it here or put it on the tag manager repository.
Can you move it to Tag Manager or should I create another issue on the tag manager repository?

[2022-06-25 05:11] Chardonneaur commented on #19371
@bx80 can we share a dashboard will others users?

[2022-06-25 05:31] tsteur commented on #19233
This would be ideal @peterhashair . We would want to handle the 429 error directly in core and then show a message. However, the message will need to be different so it works for regular On-Premise users too. The Cloud team will then maybe want to overwrite the message/translation.

The idea was to have this in core so that other On-Premise users can benefit from this as well as some would already

[2022-06-26 13:21] avimaymon opened #19411 "Incorrect usage data for Malaysian states on Visitors Map widget + clicking on Malaysia shows different states"
## Expected Behavior
1. The states of Pulau Pinang and Perlis under Malaysia should show correct usage data
2. Clicking on Malaysia should show the state of Malaysia

## Current Behavior
1. No usage data for these two states while on the Cities view but on Regions view we can see that there is usage from cities of these two states
2. Clicking on Malaysia shows other states e.g. China and Russia, t

[2022-06-26 17:01] atom-box commented on #19397
An existing widget is pretty close, just is not a histogram. And is not exactly a Power Curve
This can be seen at Matomo > Behavior > Engagement > "Visits by Days Since Last Visit"

![image](https://user-images.githubusercontent.com/22874146/175825454-7de2422b-2c7e-4ece-be32-4d15367633be.png)

[2022-06-26 22:08] peterhashair commented on #19411
@avimaymon Thank you for reporting this, our team is looking for a map and IP updates, once that's updated should fix it.

[2022-06-26 22:24] Starker3 opened #19413 "PHP 8.1 error with Mysqli "The number of variables must match the number of parameters in the prepared statement""
When running the core:archive command on a Matomo install using PHP 8.1, the following error is returned:
[code]

Matomo version: 4.10.1
MySQL version: 10.3.31-MariaDB-log
PHP version: 8.1.7

For now we've asked the user to try switching the adapter to PDO to see if that temporarily resolves the issue.

[2022-06-26 23:09] bx80 commented on #19371
@heurteph-ei That's a good point, as part of any implementation of dashboard shared we'd need to provide the ability for super-users to change dashboard ownership and have write access to shared dashboards. :+1:

Possibly there should also be a warning if attempting to delete a user who has shared dashboards, or other users could suddenly lose something they rely on.

[2022-06-26 23:13] bx80 commented on #19371
@Chardonneaur Currently there isn't a way to share dashboards with other users, only to make a one-time copy for a single user. Our product team will review this change and prioritize it for a future release. :slightly_smiling_face:

[2022-06-27 07:11] Chardonneaur commented on #19306
Would it be possible to add it as a report in itself too? So that we could export it afterwards? For example as an email report.

[2022-06-27 07:13] avimaymon commented on #19411
@peterhashair Thanks for your reply, I have to ask if there is a rough estimate to when it will be fixed so I can inform my clients that are having a hard time with this issue? perhaps some workaround? thanks

[2022-06-27 08:34] Prinzhorn commented on #19389
@sgiehl I tried that, see https://github.com/matomo-org/matomo/pull/19414 even with the fixed docs I can't seem to get it working. Is anyone using these APIs? grep.app doesn't show any results other than this repo (https://grep.app/search?q=Report.filterReports).

Makes sense, otherwise this would also be a breaking change for people who rely on the current behavior and use English interface exclu

[2022-06-27 09:32] tofijak commented on #15739
Any updates to this issue?

[2022-06-27 09:51] sgiehl commented on #19411
@avimaymon I've created https://github.com/matomo-org/matomo/pull/19415, which should address the second issue. So clicking on Malaysia will no longer show the asia map, but the oceania one. Which is also displayed when clicking on australia.
This fix should be included in Matomo 4.12.

Regarding the incorrect region data: Which geo location database are you using?
Are those regions listed in the

[2022-06-27 10:21] sgiehl commented on #19306
@Chardonneaur In theory the would be possible. For that we need API methods to fetch those annotations and a report class to provide that. But not sure if that will be handled in this issue.

[2022-06-27 11:51] sgiehl commented on #19413
There was a similar report with a prepared statement error #19129, but that might be unrelated, as it did happen in a live query.
Nevertheless I tried to reproduce with archiving the same segment, but for me that worked without a problem. Might be good to get some additional details on the setup. Like used plugins,...

[2022-06-27 16:13] atom-box commented on #19134
_A user writes:_

Question: What is your main goal for using Matomo?
Answer:
...It would be awesome to get a realtime view that shows like a realtime view that shows visitors per second.

[2022-06-27 20:29] atom-box commented on #19134
Yet another request, hard on the heels of the one above...

 _is there real time report like google analytics and how many page can be seen at ones_

[2022-06-28 02:18] Starker3 commented on #19413
@sgiehl here are their installed plugins:

#### Plugins Activated:
 API, Actions, Annotations, BulkTracking, Contents, CoreAdminHome, CoreConsole, CoreHome, CorePluginsAdmin, CoreUpdater, CoreVisualizations, CoreVue, CustomDimensions, CustomJsTracker, CustomVariables 4.1.0, DBStats, Dashboard, DevicePlugins, DevicesDetection, Diagnostics, Ecommerce, Events, Feedback, GeoIp2, Goals, Heartbeat, Imag

[2022-06-28 05:39] #15924 closed

[2022-06-28 06:18] tsteur opened #19419 "Fixes reporting menu category doesn't close when clicking on it"
I believe this might be a regression.

When I click on eg `Behaviour` then it doesn't close the menu

<img width="332" alt="image" src="https://user-images.githubusercontent.com/273120/176106889-3e1979cc-77e6-409e-a9a0-3852a160fd9a.png">

This causes me having to scroll down to get to the other menus and can't switch easily anymore. The admin reporting menu still works.

[2022-06-28 07:30] sgiehl commented on #19419
Yes. That seems to be a regression from the vue migration. It seems currently always one menu item is visible, which is either the category currently selected or another category the user toggled through click. It's not possible to hide all categorie menus anymore.

ping @diosmosis could you have a look at that?

[2022-06-28 07:33] #19323 closed, assigned to sgiehl

[2022-06-28 07:57] sgiehl commented on #15040
I'm actually not sure if the totals row for that report makes sense at all. The exit rate is calculated with exits compared to unique page views. But simply summing up the exits and unique page views might not be correct, or at least the resulting values might be meaningless. This might also apply for other action report.
@tsteur what is your opinion on that? Do those total numbers make sense?

[2022-06-28 08:58] sgiehl commented on #19413
Hm... that doesn't look very special. I'm not able to reproduce that, so it might get hard to find the problem.
@Starker3 Is it possible to get some details on the failing query? It seems to happen here:
https://github.com/matomo-org/matomo/blob/70b004c968a1850b65c71156b465d189f4692a49/core/DataAccess/LogAggregator.php#L325
so maybe logging the query and the bound parameters in case of an error mi

[2022-06-28 10:28] tsteur commented on #15040
The total exit rate lets you see the average exit rate for a page if I see this correctly. This way you can compare if a page is performing better or worse than the average. It be great to learn more how it helps the user or why the metric is important or useful for the user.

[2022-06-28 12:46] avimaymon commented on #19411
@peterhashair Your help is much appreciated, thanks
Regarding the geo location database - we're using DBIP/GeoIP (Php) which was last update less than a week ago

[2022-06-28 13:17] sgiehl commented on #15040
Yeah, that be interesting to know. Personally I can't see any benefit in the number. It just says that there's a chance of `X` percent that a user leaves after visiting any page. Maybe @Chardonneaur has more insights on how that number could be useful?

[2022-06-28 13:19] sgiehl commented on #19411
@avimaymon Is it the free or the paid DBIP database? The free database make some problems with detecting the regions correctly. See #19329 for more details.

[2022-06-28 16:04] sgiehl commented on #18612
@mattab I have now created pull requests to cover some parts of your suggestions.

https://github.com/matomo-org/matomo/pull/19302 will introduce the possibility to set a list of referrers that should be ignored. This needs be done in the site settings (and/or globally), which causes the PHP tracker to ignore such referrers. In addition there will be a new method for the javascript tracker to igno

[2022-06-28 18:50] ts1985 commented on #18612
Please read this again and understand, that your solution is not a solution. This will not fix the bug. It's just a workaround which will result in more issues without fixing the main issue.

[2022-06-28 20:12] atom-box opened #19424 "Make a single widget or dashboard available to anonymous user"
Make it so the anonymous user can only view one part.

For example, only view here:
![image](https://user-images.githubusercontent.com/22874146/176275958-dc71575a-3480-49eb-8403-3fa1564006e9.png)

[2022-06-28 20:41] Starker3 commented on #19413
@sgiehl Would it be enough to run core:archive with `-vvv` ? Or should we enabled SQL profiling to get the full request?

[2022-06-29 08:46] sgiehl commented on #19413
I don't think `-vvv` would be enough. Guess you need to enabling logging of sql queries.

[2022-06-29 09:39] sgiehl commented on #19424
Might be something that could be handled with #15368
But dashboards are bit difficult to restrict, as the need to send API requests it's hard to limit the access, as each widget would need to define which API it needs access for.

[2022-06-29 11:03] dR3b commented on #18132
Don't use `FilesMatch` for URL's! Try this:
[code]

[2022-06-29 11:33] Pflegusch commented on #18460
Did you solve this issue? I'm having the same issue right now, with Matomo 3.14.1 16GB were enough, now I'm running 4.10.1 and not even having 20% of the archiving completed, it already consumes more than 32gb and aborts due to the memory limit. I disabled the CustomDimensions plugin, the memory usage is still insane tho, using 32gb not even 33% through the archiving. Is there anything one can do?

[2022-06-29 11:33] Dominic-Marcelino opened #19439 "Modernize Dashboards & Widgets (design, layout system, reports)"
## Summary
**In order to create more beautiful, modern and clearer Dashboard the whole Dashboard-setup should be modernized.
The design-modernization should also be applied to the reports.**

### This should include
* **A new layout system**
A row-based layout in order to allow different columns per row

* **Design-options**
  * Custom background colors for widgets and rows for visual separation

[2022-06-29 14:02] sgiehl commented on #18612
@ts1985 That topic is not as easy as you might think. Updating the referrer is only done in some specific cases and only if the previously stored referrer was direct. So that can't overwrite any other referrers. But that actually isn't the problem the issue topic was about. The conversion attribution is not only defined by the visit referrer. If there is an attribution cookie, that one will overwr

[2022-06-29 14:26] ts1985 commented on #18612
I think it is that easy. Just don't update the referrer. It's a bug that the referrer is updated for the same visit.

And another big problem, also described here by different people, is, that there are so many "direct" visits. Some compared to Google Analytics for example and that there are much less "direct" visits.
So it seems that Matomo often doesn't recognize the Referrer of a visit.

[2022-06-29 14:52] sgiehl commented on #18612
Well, not updating the referrer anymore will bring you even more direct visits 🤷
Anyway, I can't compare where GA is getting it's referrer data from. We are tracking a referrer as soon as one is provided by the browser. This might e.g. not be the case if the referring website restricts the referrer from being sent.

[2022-06-29 15:02] ts1985 commented on #18612
There is a complete thread about this "too many direct entries" topic: https://forum.matomo.org/t/what-can-explain-the-mysterious-too-many-direct-entries-phenomenon/31721

It's a real problem. I know it's another problem but it seems the Referrer topic in general is problematic for Matomo.

[2022-06-29 16:15] atom-box opened #19440 "Visits Over Time chart - add 30 days range for Segment"
A user writes:

Question: What is the feature you are missing the most in Matomo and why?
Answer:
_Selecting a time range of the "last 30 days", without using a "custom range"_

[2022-06-29 22:42] bx80 commented on #18460
Hi @Pflegusch, thanks for reaching out. Unfortunately this issue is still ongoing as it seems to be dependent on a number of factors and is proving difficult to recreate reliably. As a workaround you could try the `max-archives-to-process` option detailed here: https://matomo.org/faq/how-do-i-decrease-archiving-memory-usage-when-processing-a-large-number-of-websites/

[2022-06-29 22:59] peterhashair commented on #19439
@Dominic-Marcelino thank you for the feedback and suggestions, our UX team is currently working on this.

[2022-06-30 04:18] MorganFujimaka commented on #19384
Hi @bx80, thank you for the prompt response!
We have ~140 000 rows in the `matomo_archive_numeric_2022_*` tables toward the end of the month. Most of the rows are for our main website, other websites are not impacted by performance issues. We have 30 funnels, 95 goals, and 3 segments for our main website (which increase greatly the number of rows).

[2022-06-30 04:55] jmumby opened #19443 "Add hits to email alerts"
Hits are missing in the email alerts. Previously Cloud users could (and still can) create a pageviews alert to keep track of their quotas. It would be good if they could now set a hits alert for similar notification.

## Summary

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-06-30 05:03] Birkaransingh94 commented on #19443
Cloud customers would also like to view the data for how many hits are used by a measurable - get overall breakdown of hits consumption.

[2022-06-30 05:52] sgiehl commented on #19443
@jmumby @Birkaransingh94
The problem is, that alerts currently use a specific report they are based on. I guess non of the default reports contain hits.
A work around might be to create a custom report, that includes the hits metric and use that report.

[2022-06-30 05:54] Dominic-Marcelino commented on #19439
@peterhashair awesome 🤩
Is there already some kind of high-level roadmap? Couldn’t find a lot in the milestones

[2022-06-30 15:36] DHammer-OKC commented on #19358
Hackerone wants details on how to reproduce the exploit.  Unfortunately I cannot provide that information.  I would call this a theoretical vulnerability.

[2022-06-30 21:44] jmumby commented on #19443
@[sgiehl](https://github.com/sgiehl) Ahh yes this would be perfect I think.

[2022-06-30 23:15] peterhashair commented on #19439
@Dominic-Marcelino yeah, it's not really shown on the milestone, I would say you probably look at Matomo 5. x for these changes, but it's definitely on our plans.

[2022-07-01 04:56] justinvelluppillai commented on #19358
@tsteur are you able to take a look here and comment?

[2022-07-01 09:11] tsteur commented on #19358
### issue 1

This one could be an easy fix as we already check for `originHost` meaning instead of `*` we should be able to always use the originHost instead of `*` (but would also need to add protocol maybe).

The message another frame would receive in worst case is whether a user is currently opted in or out according to the first party cookie in JS tracker. In the past, we didn't really conside

[2022-07-01 11:18] webberian commented on #17875
Duplicate of #15039?

[2022-07-01 11:23] webberian commented on #14762
Also see discussion in #14172.

[2022-07-01 13:13] Dominic-Marcelino commented on #19439
@peterhashair Thanks 🎉☺️

[2022-07-04 00:02] bx80 commented on #19384
Thanks @MorganFujimaka, these details will be really helpful for understanding how we can improve performance in this area :+1:

[2022-07-04 05:30] tarasowski commented on #19331
Hey folks!
I'm having the same issue. When do you think 4.11.0 gets released?

Thanks,
Dimi

[2022-07-04 07:38] sgiehl commented on #19331
@tarasowski we are planning to release it this or next week.

[2022-07-04 07:57] tarasowski commented on #19331
Thanks Stefan! It creates a lot of issues for goal tracking.

[2022-07-04 08:03] miton18 commented on #19169
up ;-)

[2022-07-04 08:22] Pflegusch commented on #18460
Hi @bx80, thank you for the reply. I tried the ``--force-date-range`` parameter now, however, I'm not really sure if it really does what I'm thinking. I created a script which calls core:archive for the last 5 years, so I did something like this:

[code]

The memory consumption now is much, much smaller (around 350 MB), but is it really the correct way of doing so? The logs above look suspiciously

[2022-07-04 12:09] schuetzm commented on #18612
We're experiencing the same problems that conversions aren't attributed correctly to the campaigns, but to visits from Paypal, or to "deref-gmx.net". The latter is an example that hasn't been mentioned yet; it's from an email campaign that includes campaign parameters in the email, but the visit (and subsequent ecommerce purchase) is still attributed to a website, with no trace of the campaign to

[2022-07-04 12:59] DJulienD opened #19458 "Add TikTok to socical networks"
Hello, I saw that no TIKTOK statistics is available on matomo.
When I go the social Network area (from acquisition) I can see, Youtube , FB, Instagram... and so on... but NO TIKTOK
Could you do someting for us ?

Many thanks
Best regards

[2022-07-04 13:10] mattab commented on #16367
Not needed anymore now we use Vue

[2022-07-04 13:10] #16367 closed

[2022-07-04 13:17] mattab commented on #7063
We'll communicate in the blog instead

[2022-07-04 13:17] #7063 closed

[2022-07-04 13:18] mattab commented on #15515
Note: there is a similar (maybe partially duplicated?) in https://github.com/matomo-org/matomo/issues/6182 (and https://github.com/matomo-org/matomo/issues/10739)

[2022-07-04 13:24] mattab commented on #2439
Duplicates https://github.com/matomo-org/matomo/issues/14392

[2022-07-04 13:24] #2439 closed

[2022-07-04 13:28] mattab commented on #14392
mockup suggested by a user for a Real-time Pages based reporting:
![IMG_0082](https://user-images.githubusercontent.com/466765/68094087-d24fb500-ff01-11e9-8ec8-fe32174083c1.jpg)

Also received these screenshots of other similar apps:

![another2](https://venturebeat.com/wp-content/uploads/2011/07/clean-nb-dashboard-7-day.png?fit=750%2C476)

Also refs https://github.com/matomo-org/matomo/issues/191

[2022-07-04 13:49] sgiehl commented on #18612
Not updating the referrer at all can be easily achieved by removing a couple of methods:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/Referrers/Columns/ReferrerType.php#L58-L68
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/Referrers/Columns/ReferrerName.php#L40-L50
https://github.com/matomo-org/matomo/blob/c

[2022-07-04 13:54] sgiehl commented on #19458
@DJulienD I'm actually not using TikTok. Is it possible to link to other websites from within TikTok in any way?
If so, I guess TikTok would appear within the list of referring websites. Is that the case?

[2022-07-04 14:04] DJulienD commented on #19458
Hello,

Thank you for your reply.

The problem is that it's not in the list of referring websites neither.

[2022-07-04 14:05] DJulienD commented on #19458
I only find in here

[image: image.png]

[2022-07-04 14:27] sgiehl commented on #19458
@DJulienD Sorry, not sure if you tried to send an image, but the email replies aren't displayed properly on github...

[2022-07-04 14:35] DJulienD commented on #19458
Ok, i understand

I can only see TIKTOK statistics in Acquisition > Campagne

[2022-07-04 14:38] adsham commented on #18612
Can these be removed in hosted instances of Matomo?

[2022-07-04 14:51] sgiehl commented on #18612
@adsham this can be only removed if you have access to the source code. For Matomo Cloud this can't be changed.

[2022-07-04 14:52] sgiehl commented on #19458
@DJulienD Are you using campaign link on tiktok only? If so, that might be the reason, as a campaign kind of overwrites the referrer.

[2022-07-04 17:43] #16125 closed

[2022-07-04 18:20] Situphen opened #19460 "Using period=range, an empty list is returned if there is no data for one date in the date range"
I am trying to get some statistics such as `nb_visits` for a specific label (corresponding to a URL) over a specific range of dates, but sometimes Matomo response is just an empty list. While investigating, I found that if there is no data for one date in the date range, then the response is an empty list.

## Request with `period=day`

Request parameters:

[code]

Current and correct response:

[

[2022-07-04 21:18] varunKothare opened #19461 "Option for a full timestamp (day/month/year/hour/minute) in custom reports"
A dimension or metric within custom reports which allows the viewing of a full timestamp (day/month/year/hour/minute)

[2022-07-04 21:19] MatomoForumNotifications commented on #19461
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/timestamp-events/46126/5

[2022-07-04 21:24] mattab commented on #18612
@schuetzm if you disable cookies, then the "same-visit" conversions should be still attributed, but indeed any visit from a newsletter from days ago or weeks ago will not be attributed to the newsletter. Only visits generated from the newsletter and directly converting will be attributed. (ref = https://matomo.org/faq/general/faq_156/)

the knowledge of the problematic referrers is clear to people

[2022-07-04 21:25] mattab commented on #18612
@adsham I believe your attribution issues will be fixed on Matomo Cloud once the PRs are merged and released and deployed on the Cloud. Not sure yet when this will be all done but should be by end of July.

[2022-07-04 21:44] KarthikRaja1388 opened #19462 "Fixes occasional website chooser drodown not working"
When navigating through some reports and you would like to view the same report for another website, website chooser dropdown does not work anymore, you may need to reload the page to get the dropdown functionality

For example: viewing a Heatmap for website 1 and would like to view Heatmaps for website 2, it is not possible to choose it from dropdown, as the dropdown doesn't work

## Your Environ

[2022-07-04 21:48] mattmary opened #19463 "Can't create/edit goals with write access"
Hi, I can't create or edit a goal with my account on our innocraft account. My account has the write permission.

## Expected Behavior

I should be able to edit or create a new goal.

## Current Behavior

Can't edit goals: I can just list them.

## Possible Solution

## Steps to Reproduce (for Bugs)

1. open /index.php?module=CoreHome&action=index&idSite=12&period=day&date=yesterday#?idSite=12&per

[2022-07-05 01:18] christianwelsh opened #19464 "Missing data for different languages on our site"
Hi, we are trying to get stats for the month of June. For the following languages on our site we are totally missing data for June.

<img width="1287" alt="2022-07-05_11-15-44" src="https://user-images.githubusercontent.com/19419799/177231097-91ad6144-fb4e-483f-98a7-00ea79d1f49d.png">

For our site: (https://yesheis.com)

Stats zeroed:
- /es
- /id
- /pt
- /tl
- /zh
- /de
- /fr

Works:
- /en
- /kr

[2022-07-05 01:39] peterhashair commented on #19463
@mattmary thank you for reporting this, can you check if the write user has the write access to site id = 12 in your case.

[2022-07-05 01:48] peterhashair commented on #19464
@christianwelsh thank you for reporting this, is really hard to tell why the data is missing, it could be caused by various reasons. Maybe try run rearchive `./console core:archive --force-all-websites --url=YOUR_MATOMO_URL_HERE`. FAQ can be found there. https://matomo.org/faq/how-to/faq_59/

[2022-07-05 02:04] peterhashair commented on #19460
@Situphen thank you for reporting this, our product will review this.

[2022-07-05 04:24] Starker3 opened #19465 "Opt-out link updates Matomo URL"
Refs L2-243

It seems that currently using the Opt-Out link on pages causes the Matomo URL in the DB to be updated using the link from the Opt Out.

For people using multiple URLs for tracking or that are using a different tracking URL than their UI URL this can cause issues, especially with certain types of emails (I.e. Tracking failure emails) that use the URL from the DB.

[2022-07-05 05:45] sgiehl commented on #19465
depending on the final solution this could maybe be solved with #17452

[2022-07-05 07:03] Glomon06 opened #19466 "Data changes to 0"
hi,
I installed Matomo with the Wordpress module. I send myself monthly reports.

Once a month in the last visits report, I have a day that goes to 0 visits while in the database I have many visits.
The report of June 17 is ok but from June 18, the report indicates 0 for the day of June 8.

[2022-07-05 07:12] DJulienD commented on #19458
Ok I understand, but If  I don't using a campaign link, do you think I will
have TIKTOK statistics ?

I mean if i put just : www.couteauxduchef.com without UTM

Let me know, thank you

[2022-07-05 07:27] sgiehl commented on #19458
As mentioned previously, I'm not using TikTok at all, nor do I know how referrer links from there might look like.
If we know that, we can add it to the detection here: https://github.com/matomo-org/searchengine-and-social-list

Is anyone else able to see any TikTok links in the referrering websites? Or is maybe using TikTok and is able to say if TikTok hides the referrer or not?

[2022-07-05 08:20] sgiehl commented on #19462
@diosmosis could you please check if that is vue related?

[2022-07-05 08:53] adsham commented on #18612
Thankyou @mattab for the update and looking forward to having this resolved finally.

[2022-07-05 09:27] DJulienD commented on #19458
www.tiktok.com is not in the referring website.

So tell me if it will work if the link is www.couteauxduchef.com

instead of
https://www.couteauxduchef.com/?utm_source=tiktok&utm_medium=social&utm_campaign=homepage
with the link bit.ly/plusquedescouteaux.

Thank you

[2022-07-05 10:37] tsteur commented on #18907
@justinvelluppillai maybe we can close this issue since we're working on this in https://github.com/matomo-org/google-tag-manager-matomo-template ?

[2022-07-05 10:37] tsteur commented on #18907
Actually we'll need to keep the issue open to have a template for On-Premise users. Which we did want to do, but ran into a problem with not being able to allow loading the JS from any domain.

[2022-07-05 10:44] tsteur commented on #14891
@mattab I believe this was done in https://github.com/matomo-org/matomo/issues/16787 . Can we close it?

[2022-07-05 13:01] #19419 closed, assigned to diosmosis

[2022-07-05 17:11] DHammer-OKC commented on #19358
If we disable the opt-out feature, would that make all three items a non issue for us?  Or would #1 still be exploitable even with the feature disabled?

[2022-07-05 22:13] diosmosis commented on #19462
I'm not able to reproduce this. @KarthikRaja1388 can you provide screenshots or a way to reproduce on demo/demo2?

[2022-07-05 22:28] justinvelluppillai commented on #19460
@peterhashair it'd be good to confirm we can reproduce this issue and check it's not a regression.

[2022-07-05 23:09] justinvelluppillai commented on #19169
Adding to current milestone.

[2022-07-06 02:52] justinvelluppillai commented on #19352
@sgiehl yes it looks like due to the way wordpress is including matomo it needs a workaround here. Any advice on whether we can apply @mattmary 's fix to core would be appreciated, or alternative ways to work around so he doesn't have to make this change every release for wordpress.

[2022-07-06 03:04] peterhashair commented on #19460
@Situphen trying to reproduce this, but it seems like it works on my local. I notice your label param is `tutoriels+>+3645+>+demontrer-par-labsurde`, and the actual response label is `demontrer-par-labsurde`. Can you try a request with `label=demontrer-par-labsurde`

[2022-07-06 03:32] tsteur commented on #19358
re #1 There could be an edge cases where it may still be possible that it does send the message if someone was to create a "tracker" instance with a Matomo URL tracking endpoint that is the same as the URL from the iframe. Like if there was an XSS vulnerability on your site, they could create a Matomo JS tracker instance and add an iframe that then triggers that message. In that case they could fi

[2022-07-06 07:11] sgiehl commented on #19352
@justinvelluppillai I don't have Matomo for Wordpress set up, so I'm not able to say if there would a smarter solution. But adding a global keyword should not produce any problems I guess.

[2022-07-06 07:30] ckrapp opened #19473 "Why are numbers of tracked visits changed retrospective?"
Hi. I usually check the numbers of tracked visits and pageviews once per month for the past month and note them in a separate list. When I did so in the beginning of June, I noticed that the numbers for April, March and February had changed retrospective, compared with the numbers I noted previously. Some increased, some decreased, the total was different for this period. Older numbers were consis

[2022-07-06 07:42] schuetzm commented on #18612
Thanks! I commented them out and invalidated the historical data, but there are still many conversions that are attributed to Paypal. Would this change only apply to future visits?

[2022-07-06 08:13] sgiehl commented on #18612
@schuetzm  Yes. That only applies to future visits.

[2022-07-06 08:27] sgiehl commented on #19462
@diosmosis maybe unrelated to this one, but for me the website selector in the top controls, doesn't show the correct site as selected. When switching to another site, it loads the site, but the selector always shows the first site in the list as selected.

[2022-07-06 08:49] Situphen commented on #19460
I tried a request with `label=demontrer-par-labsurde` as you suggested and I got an empty response : `{"2022-06-28":[],"2022-06-29":[],"2022-06-30":[],"2022-07-01":[],"2022-07-02":[]}` with `period=day` and `[]` with `period=range`.

[2022-07-06 11:25] tassoman opened #19474 "Can't install TagManager plugin because table _tagmanager_container is missing"
## Expected Behavior

I wanted to enable TagManager plugin by issuing console command:
`php console plugin:activate TagManager`
Activation didn't outputted any error message, logging didn't traced any error.

## Current Behavior

After activation, website frontend dies with error 500.
Also console command _tagmanager:regenerate-released-containers_ died:

[code]

Same error while browsing web ui.

[2022-07-06 11:53] MatomoForumNotifications commented on #19473
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/why-are-numbers-of-tracked-visits-changed-retrospective/46529/2

[2022-07-06 12:08] hochhardt opened #19476 "Matomo-Wordpress-Plugin: fatal error with testMinimumPhpVersion.php"
hello everyone, when i try to generate/archive the reports i get the following error message:

Matomo Archive Warnings: 'Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=1&period=day&date=2022-07-06&format=json&trigger=archivephp. Response was \'PHP Fatal error: Default value for parameters with a class type hint can only be NULL in $abs_path/wp-content

[2022-07-06 13:12] peterhashair commented on #19460
@Situphen how about without label, and do a search on-page (ctrl+f) for `demontrer` maybe, just to confirm what the actual label is in the response, it could be caused by special characters.

[2022-07-06 13:31] sgiehl commented on #19474
@tassoman You can try the following steps to fix this:
- Deactivate TagManager plugin using:
  `./console plugin:deactivate TagManager`
- Then remove the plugin from the list of installed plugin in the config.ini.php file under the `[PluginsInstalled]` header and remove the line that contains:
  `PluginsInstalled[] = "TagManager"`
- Then run the `core:update` command:
  `./console core:update`
- T

[2022-07-06 13:52] Situphen commented on #19460
**With `period=day`**

Request parameters without `label=...` but with `expanded=1`:

[code]

Correct response (3 responses with the label `demontrer-par-labsurde` as before and 2 with the label `/demontrer-par-labsurde.pdf` when filtering with `demontrer` in Firefox) :

![image](https://user-images.githubusercontent.com/6664636/177563315-f9b3c19b-19bd-4f48-b661-eee41ef6bbbd.png)

**With `period=r

[2022-07-06 14:22] PeteTrombone commented on #19153
@sgiehl
_The option to chose a real time segment should still be available, right?_
Yes, as default or as setting (enable_create_realtime_segments = 1)

_What exactly is your problem with having segments preprocessed?_
The preprocessing makes the archiving run very long. That takes hours.
We would like the option that we have an archiving cron but the segments are still processed in real time. As

[2022-07-06 15:16] DHammer-OKC opened #19480 "Insecure Transport: Weak SSL Protocol in /core/Http.php"
In the file /core/Http.php, there is a protocol issue.  Line 386 contains the following:

$connectHost = 'ssl://' . $connectHost;

This is an insecure method and should be changed to:

$connectHost = 'tls://' . $connectHost;

Could this be updated in a future release?  I apologize in advance if this has already been reported.  I tried digging through the issues to see if it had been reported, but

[2022-07-06 15:26] DHammer-OKC opened #19481 "Insecure Protocol - http - /node_modules/jquery.dotdotdot/index.html"
in the file /node_modules/jquery.dotdotdot/index.html - around like 146 - an insecure protocol (http) is used to load jquery.

<script src="http://code.jquery.com/jquery-3.2.1.js"></script>

The protocol needs to be replaced with https.

Please consider the correction in a future release.

Thanks in advance.

[2022-07-06 17:06] diosmosis commented on #19462
@sgiehl I can see this issue, created a fix here: https://github.com/matomo-org/matomo/pull/19483

[2022-07-06 18:30] matomoto opened #19484 "matomo tracking noise (bots)"
Hello,

matomo tracks bots massivelly and waste my database full with it.

I have write a question in the forum, but only a hint to a plugin is answered.

https://forum.matomo.org/t/field-report-matomo-tracking-noise-bots/46476

matomo had a massivelly problem with bot tracking. In my question, i have only mentioned my brandnew domains and not the list of all my older domains. And i write only for

[2022-07-06 19:01] utrautmann opened #19485 "Fixes Goal row evolution with double quotes in the goal name resulting in an error"
If a goal has double quotes in its name, then Matomo cannot plot the conversion lines in the Row evolution graph. A javascript error occurs on the console.

## Current Behavior to reproduce
1. Choose a goal with conversions
2. Rename the goal and insert double quote in the name. F.e. _Newsletter "Sport"_
3. Select the goal and go to "Goals by Referrers"
4. Select any row with a conversion
5. Open

[2022-07-06 21:24] Starker3 commented on #19413
Changing the adapter to PDO/MYSQL fixed the error here, so the user didn't get the SQL queries logged. Not sure if you wanted to keep this one open or rather close it since we can't reproduce @sgiehl ?

[2022-07-06 21:45] bx80 commented on #18460
Hi @Pflegusch,

Generally you wouldn't need to re-archive data from previous years unless a new segment has been added and you wanted to retrospectively calculate it or historic log data has been imported directly.

The usual process is to [invalidate existing archives](https://matomo.org/faq/how-to/faq_155/) for a date range and then run `./console core:archive` to recreate the archives. However

[2022-07-07 01:24] bx80 commented on #7582
I believe this has been now been resolved by PR https://github.com/matomo-org/matomo/pull/19098

[2022-07-07 01:24] #7582 closed

[2022-07-07 01:28] bx80 commented on #19480
Thanks for spotting this @DHammer-PT, It doesn't seem to have been reported previously.

As it appears to be trivial fix and would improve security I've flagged it for a priority review.

[2022-07-07 01:29] justinvelluppillai commented on #19480
@tsteur are you happy for this to be scheduled as a security improvement?

[2022-07-07 01:32] justinvelluppillai commented on #19484
Hi @matomoto probably the Tracking Spam Prevention plugin is what you are looking for - https://plugins.matomo.org/TrackingSpamPrevention

I will close this issue here now, further discussion can be had in the forum.

[2022-07-07 01:32] #19484 closed, assigned to nobody

[2022-07-07 01:47] bx80 commented on #19481
Hi @DHammer-PT, thanks for pointing this out.

This file belongs to a third party node module https://github.com/FrDH/dotdotdot-js and is part of the module documentation file which is not publicly accessible as part of Matomo and would only be opened by developers. So it's an extemely low security risk.

v4.1.0 of the module no longer contains this insecure jQuery load, so we should update the mo

[2022-07-07 01:56] bx80 commented on #19485
@utrautmann Thanks for reporting this, the clear steps and screenshots are much appreciated :+1:

I've managed to recreate the issue. It looks like a string escaping bug when passing axis names to jqPlot, when fixing this we should add UI tests for goals containing double and single quotes in their names.

[2022-07-07 02:05] peterhashair commented on #19460
@Situphen thanks for providing this, I will do more investigation on this

[2022-07-07 02:30] Situphen commented on #19460
As you were not able to reproduce this behavior, I investigated further and for some date range it works and for some other it doesn't. So I downloaded the data with `period=day` with a date range of 30 days (filename `data_day_*.json`) as well as the data with `period=range` for all possible date range combinaison (filename `data_range_*.json`) with a Python script (`get_data_range.py`). For each

[2022-07-07 02:56] peterhashair commented on #19460
@Situphen thank you very much for providing the additional info and scripts, it really helps, I will come back to you ASAP.

[2022-07-07 03:47] tsteur commented on #19480
Is there any chance of breaking anything? If not, then could do it. If there's a chance then we'd need to look at this and do it in Matomo 5

[2022-07-07 04:35] bx80 commented on #19480
`tls://` has been supported since PHP 4.3.0

https://www.php.net/manual/en/function.fsockopen.php

For what it's worth I did a quick test by modifying `Http::getTransportMethod` to always use `socket` instead of `curl` and then made the `ssl://` to `tls://` change. Retrieving plugin information in the Marketplace uses this method, a break point check confirms that the `tls://` line was used and co

[2022-07-07 07:51] sgiehl commented on #19460
@Situphen I haven't had a look in detail, but that might be an issue of data truncation. When reports are archived, the aggregated data is limited to a certain amount of records. For actions the default is 500 for the base report and 100 for all subtables. Depending on the amount of page you are tracking it might happen that pages that are visited quite few are summarized into a `Others` row. So i

[2022-07-07 11:27] Nuklon opened #19487 "Improve returning visitor icon"
The current icon looks like a profile icon, and its colors are very hard to differentiate due to their similarity.

[2022-07-07 12:20] DHammer-OKC commented on #19480
I don't think the issue is as much of a problem with ssl:// working or not working, but rather that ssl:// is seen as obsolete and tls:// is the modern standard.  TLS is the more secure method.

[2022-07-07 12:55] tassoman commented on #19474
Flawless!
I managed to get it working! Such a cheat! 🤣

[2022-07-07 12:55] #19474 closed, assigned to nobody

[2022-07-07 12:55] Findus23 commented on #19480
Do we know if `ssl://` really means "connect with a socket using SSL 3.0"? I can find very little information about this.
But it might just be an alias as I doubt many PHP setups even support any version older than TLS 1.0. And at least on my PC openssl (3.0.3) doesn't even support any SSL 3.0 options any more.

Also no *.matomo.org domain has supported SSL 3.0 in quite a long time, so does that m

[2022-07-07 12:58] sgiehl commented on #19485
That one is another issue with automatically sanitizing input values (See #11786 or #4231). The goals name is stored sanitized. E.g. a `"` is converted to `&quot;`. The javascript so holds values that are sanitized. When clicking on a metric in the row evolution, the metric is read using `.text()` on the clicked element. But as it's a html element, reading text decodes `&quot;` back to `"`, causin

[2022-07-07 13:05] sgiehl commented on #11786
@justinvelluppillai  This would also be a nice to have for Matomo 5.
At least changing the input sanitizing for API would be a breaking change. Changing the use of `Common::getRequestVar()` can be done without breaking changes, but we could consider deprecating that method for Matomo 5 maybe and introduce a replacement.

Note: This issue might include some parts of #4231

[2022-07-07 13:32] Constantin-Init opened #19488 "Error Message "There was an error setting cookie `mtm_consent_removed`. Please check domain and path" on every page load, when requireConsent option is set"
When the requireConsent option is set, every page load logs the error message "There was an error setting cookie `mtm_consent_removed`. Please check domain and path" to the console.

Reason seems to be that during creation of a Tracker `forgetConsentGiven` is being called, which then calls `setCookie(CONSENT_REMOVED_COOKIE_NAME, ...)`. `setCookie` sets the cookie properly, but wants to check that

[2022-07-07 13:38] KHReinhardt opened #19489 "Broken inactive GeoIP2 plugin generates error messages and impedes changing of various settings"
Every time we try to open Administration/System/Geolocation or Administration/Diagnostic/System Check we get the following error message:

An error occurred
Template "@GeoIp2/serverModule.twig" is not defined.

The plugin is inactive due to usupported version. If we try to uninstall it though, we get a Server 500 error with following log entrances (paths edited):

[code]

"Configuration for server

[2022-07-07 14:04] sgiehl commented on #19489
Hi @KHReinhardt  I tried to reproduce the issue, but unfortunately I wasn't able to. Disabling the GeoIp2 plugin doesn't cause any issues for me. The geolocation page is still working. Even removing the template file `GeoIp2/serverModule.twig` doesn't cause any issues.
Did you maybe try to manually reupload all Matomo files? Maybe some files are missing or got corrupted

[2022-07-07 14:33] sgiehl commented on #19488
Hi @Constantin-Init
Thanks for creating this issue. Guess this should be easily fixed by doing the same check in `getCookie` as well.
I'll put up a PR to fix that.

[2022-07-07 14:39] sgiehl commented on #19487
@Nuklon Do you have a suggestion for a good icon we could use or at least how it should look like?

[2022-07-07 14:49] sgiehl commented on #19481
That file is actually not part of our releases at all. It is removed within our release process see

https://github.com/matomo-org/matomo/blob/4c0e328b6d34dd6604e2b882d129f22ff4d28fd6/.github/scripts/clean-build.sh#L148

We may nevertheless consider updating our frontend dependencies with the next major release, which might then fix this.

[2022-07-07 14:49] #19481 closed, assigned to nobody

[2022-07-07 20:29] DHammer-OKC commented on #19481
Thanks for sharing that link.  Fantastic tool for cleaning up an install.

[2022-07-08 02:20] jane-twizel commented on #18982
Included based on this being a quick/trival amount of work with the benefit of making the platform faster.

[2022-07-08 02:23] jane-twizel commented on #18727
Let's increase this to 60 everywhere so it is consistent and this also means we won't have to address any names that are 40+

[2022-07-08 02:26] jane-twizel commented on #18726
This could have a big impact on peoples databases and complicates the upgrade. Moving this to 6.0 where we can do it aligned to other database upgrades.

[2022-07-08 02:28] jane-twizel commented on #18375
Will do now as we aren't likely to work on #17719 for a while.

[2022-07-08 02:31] jane-twizel commented on #18055
Needs to be included in the developer changelog as well in case anyone is using an invalid token in the monitoring tool.

[2022-07-08 02:34] jane-twizel commented on #17202
Will need to be communicated in the developer changelog as well.

[2022-07-08 02:36] jane-twizel commented on #17017
Will be quick work and supports privacy.

[2022-07-08 02:41] jane-twizel commented on #16905
Will check the level of work needed before confirming we will do it in 5.0.0

[2022-07-08 04:44] #14891 closed

[2022-07-08 07:54] tsteur commented on #16905
Using the proposed logic, is it possible to only prefix some vendor libraries to reduce the effort / amount of work on this issue so that we get a good ration on effort vs value? Or would above solution only be able to prefix all vendor libraries?

The libraries that cause the most issues are typically

* Twig
* Monolog
* PHP-DI
* Psr/Container
* Psr/log

The biggest library that's causing issues

[2022-07-08 08:05] Nuklon commented on #19487
Something like this perhaps? This follows the other icons also more closely.
https://thenounproject.com/icon/return-4159893/
https://thenounproject.com/icon/returning-4159901/

[2022-07-08 08:24] tsteur commented on #11786
@sgiehl what did you have in mind there? Changing the input sanitizing for the API? And introducing a new method as an alternative to `getRequestVar()`? Or do you mean only adding a different method?

How do we guarantee there won't be any security regression and double escaping issue there and how much work would that one be in total?

[2022-07-08 08:37] sgiehl commented on #11786
@tsteur No, actually both. For the API I was thinking about switching the default behavior to have no sanitizing, but for the "migration" provide a static list of methods / plugins that would still use sanitizing. That way we could in the beginning add all API methods to the list and then remove one after the other, after checking each. Which we could then also do step by step in ongoing releases.

[2022-07-08 08:44] sgiehl commented on #19487
@Nuklon Our product team will have a look at that.

[2022-07-08 08:52] sgiehl commented on #18726
@jane-twizel We could actually already stop tracking some of the plugins and removing them from the reports maybe.
This does not necessarily need a database update. If we decide to remove the columns from the log tables, this might impact historical data when past data is re-archived.

Btw. there will already be a database upgrade for 5 if we include https://github.com/matomo-org/matomo/pull/17466

[2022-07-08 09:05] #19488 closed, assigned to sgiehl

[2022-07-08 09:20] MatomoForumNotifications commented on #16125
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/when-will-support-sec-ch-ua-be-implemented/46570/1

[2022-07-08 11:32] tsteur commented on #18726
👍  I'll check with @mattab on Monday if we need to have #17466 included

[2022-07-08 11:34] tsteur commented on #11786
@sgiehl how would that affect plugins? And how much work would it be for the work in Matomo 5 and how much work would it be to complete this work fully approximately?

[2022-07-08 13:17] JanThiel opened #19498 "Allow Plugins to be enabled/disabled on a website level in addition to the default global scope"
Plugins are currently globally activated and thus apply to each website in a single Matomo installation. There are features delivered via Plugins which might not be required or wanted on a single website. This is kind of the case with the built-in "ecommerce" features which can be enabled on a per site base.

## Summary

I propose to add the ability to add Plugins on a per site base in addition to

[2022-07-08 13:19] MatomoForumNotifications commented on #19498
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/enable-disable-features-on-a-per-user-or-per-website-basis/40188/7

[2022-07-09 06:44] mattab commented on #3914
Realistically we won't work on this ourselves in the future, so closing

[2022-07-09 06:44] #3914 closed

[2022-07-09 06:59] mattab commented on #6029
Realistically we won't work on this ourselves, so closing here.

[2022-07-09 06:59] #6029 closed

[2022-07-09 07:03] mattab commented on #10728
This should be fixed now I believe, if not please reopen

[2022-07-09 07:03] #10728 closed

[2022-07-09 07:04] mattab commented on #8120
Won't fix as far as i know, unless there is a specific issue that would require this in the future.

[2022-07-09 07:04] #8120 closed

[2022-07-09 07:12] mattab commented on #12348
Duplicates https://github.com/matomo-org/matomo/issues/16150

[2022-07-09 07:12] #12348 closed

[2022-07-09 07:43] mattab commented on #15287
I haven't seen this issue recently so it was fixed AFAIK

[2022-07-09 07:43] #15287 closed

[2022-07-09 07:48] mattab commented on #16933
This is working fine now, if you still experience an issue please create a new issue

[2022-07-09 07:48] #16933 closed, assigned to nobody

[2022-07-09 12:38] paolobenve opened #19500 "problem with map tooltip and accented letters"
A cuban province, **Camagüey**, appears as **Camagey** in the map tooltip. Looks like a utf8 issue

Matomo version: 4.10.1

![camagey 1](https://user-images.githubusercontent.com/1417508/178106108-3c4be8c8-1a52-49ea-a96b-f7639ee7560c.png)

[2022-07-09 17:43] njfdev opened #19501 "Matomo Setup Doesn't Work with Planet Scale"
During setup, the connection to a Planet Scale MySQL database fails.

## Expected Behavior
A user should be able to input their Planet Scale credentials and go to the next step in the setup.

## Current Behavior
Matomo throws an error on the web interface:

## Possible Solution
Matomo should have all connections to the database use SSL/TLS. This would allow databases that only support SSL (such as

[2022-07-09 22:21] ruredi opened #19503 "Mobile device heat map shows wrong Above the fold area"
https://drive.google.com/file/d/1zBODokZ9kz8gdAWIYwlaZ7ImTXKHBBgO/view?usp=sharing

[2022-07-10 11:30] Findus23 opened #19505 "Allow moving all files apart from assets out of web root"
this is a bit of a continuation of #8120

At the moment, Matomo can only be used by settings the web root to the directory all Matomo files are in. This means additional web server configuration and precisely crafted rules are required so that security-relevant files (especially tmp/ and config/) are not publicly accessible. But as web server configurations vary widely and as the recent "private d

[2022-07-10 23:07] bx80 commented on #19500
Hi @paolobenve, thanks for spotting this. I've created a PR to correct the name

[2022-07-10 23:38] bx80 commented on #19501
@njfdev, thanks for raising this issue.

Currently Matomo doesn't support SSL/TLS during initial configuration as there is no option to specify the various SSL settings in the wizard. The SSL/TLS can only be [configured after installation](https://matomo.org/faq/how-to-install/faq_26273/)

A workaround could be to install Matomo to a local MySQL server, then dump the database and import it into Pl

[2022-07-11 00:05] bx80 commented on #19473
Hi @ckrapp, it's hard to know why the figures could have changed without more information. In normal usage, once a month has passed it's archived data should not be processed again. Did you install any new plugins? Was there any re-archiving / archive invalidation done? Did you create any new segments?

It could be that the archiving process for those months was interrupted or failed to complete f

[2022-07-11 00:17] bx80 commented on #19503
@ruredi Thanks for reaching out, could you provide a bit more information about the issue?

I might be misunderstanding the screenshot you've provided, but the number 355 on the heat map header is the number of mobile devices sampled, the "above the fold" marker line is the average height of the fold on those sampled devices in pixels. So 355 mobile devices visited the page and they had an average

[2022-07-11 00:58] njfdev commented on #19501
@bx80 Thank you for your detailed response. I currently using MySQL through Railway which works fine for now (might not scale well in the future). Railway doesn't allow me to access the filesystem of the deployment, therefore I can't edit the `config/config.ini.php` file.

I think an SSL option during setup would be very useful because it allows SSL only databases (such as Planet Scale), but also

[2022-07-11 01:20] paolobenve commented on #19500
is it not a problem with a cuban province, it's a problem with utf8 non-ascii text: see other cuban provinces with accented letters: Pinar del Río, Ciego de Ávila, Guantánamo.

I suppose it's a problem with all the tooltips which involve accented letters

[2022-07-11 01:50] peterhashair opened #19509 "User Keyword Search"
When I am writing the FAQ, I found the keyword search under user manage is quite bugged. I guess maybe we need to add a debounce on the key-up events.

https://user-images.githubusercontent.com/3783072/178173781-6bd205c5-142f-436f-8fa1-e82ecc9df364.mp4

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matom

[2022-07-11 02:26] mattmary commented on #19463
Hi @peterhashair

I have only view access on this site. I close this issue

[2022-07-11 02:26] #19463 closed, assigned to nobody

[2022-07-11 02:29] bx80 commented on #19500
@paolobenve My mistake, I thought it was just an issue with a single province name. You are correct - accented characters in many (but not all) map names are missing, this seems to have been a UTF-8 issue with the initial map SVG files that were generated sometime before 2013. There have been various fixes since to correct individual countries that have places with accented characters .

I expect

[2022-07-11 07:25] #19500 closed, assigned to nobody

[2022-07-11 07:30] sgiehl commented on #19509
probably a vue regression. ping @diosmosis

[2022-07-11 08:15] diosmosis commented on #19509
A regression caused by https://github.com/matomo-org/matomo/pull/19375, the nextTick() is not enough to execute the code after the property emit finishes. Not sure yet what a fix would be.

[2022-07-11 09:07] tsteur commented on #18726
We'll merge https://github.com/matomo-org/matomo/pull/17466 as part of Matomo 6 as well instead of Matomo 5 unless there were any other required log schema changes (except for the index). This way the Matomo 4 -> 5 upgrade won't have any major schema changes except for 1 index on a log table.

[2022-07-11 10:11] sgiehl commented on #19509
@diosmosis would that be fixed with removing angular js? Or would that issue remain?

[2022-07-11 10:13] #19393 closed, assigned to sgiehl

[2022-07-11 13:02] sgiehl commented on #11786
@tsteur I had some further thoughts on that one. My suggested migration plan would be this one:

- With Matomo 4.12 we introduce a new API class property e.g. `autoSanitizeInputParams`. This one will be true by default. If it is set to false sanitizing input parameters for this specific API class will be disabled. So this change gives the possibility to disable it, but does not yet change anything

[2022-07-11 13:18] dieisraels opened #19511 "Unique visitor ID not working with setCookieConsentGiven and addTracker"
## Expected Behavior
If I add another tracker, then after each page reload the Unique User ID (`_pk_id`) value is reset when using `setCookieConsentGiven`:
[code]
If only one tracker is registered, the Unique User ID remains stored.

## Current Behavior
As a result, Matomo no longer tracks users across multiple visits.

## Steps to Reproduce (for Bugs)
See live example: https://www.erf.de/test.htm

[2022-07-11 14:39] sgiehl commented on #19498
Hi @JanThiel
Thanks for your suggestion. I guess for now we need to leave that as it is, and plugin developers need to decide if they want to make their features site specific. Changing that would be a fundamental change in the logic we are currently using plugins. But our product team might consider this for future releases.

[2022-07-11 16:04] diosmosis commented on #19509
@sgiehl it will remain, it seems to be a Vue reactivity issue.

[2022-07-11 18:13] mattab opened #19512 "Improve / fix handling of best converting page on goal overview"
Reproduced in demo2 here

## Current Behavior

![image](https://user-images.githubusercontent.com/466765/178329734-2c06a582-0d74-4798-b113-8a8afab87f89.png)

## Expected Behavior

Instead we expect 3 things to work differently:

* The URL says `t` but instead should give the actual URL (`t` is only a "directory" or a partial path, but not a URL...). So in this case we expect instead for example `h

[2022-07-12 03:00] peterhashair commented on #19081
FAQ here: [https://matomo.org/faq/faq-how-to-disab…omo-org-requests/](https://matomo.org/?post_type=faq&p=55687&preview=true)

[2022-07-12 06:19] mattab opened #19515 "Remove again the "refresh" icon"
The goal of this issue is to revert the PR https://github.com/matomo-org/matomo/pull/19261 so that the Refresh icon is again removed.

We discussed quickly with @tsteur and agreed this icon creates clutter but doesn't really bring much value in the end. Most reports will never change unless they include today anyway. And the icon doesn't look good or consistent so it's just easier to remove it at

[2022-07-12 06:21] tsteur commented on #11786
@sgiehl what would be the rough estimate for the entire project? We would need some estimation. And by having this, how much time can it save us over the next 5 years?

[2022-07-12 07:19] sgiehl commented on #11786
@tsteur The first step, to introduce the flag and setting it in all our plugins (for Matomo 5), shouldn't be more than half a day.
Checking all our APIs, removing the auto sanitize and checking if that might have opened up any security risk is a bit harder to estimate. APIs that only have reporting methods should be easy to change. But APIs like Goals, SitesManager, UsersManager,...  where we stor

[2022-07-12 07:41] sgiehl commented on #19515
@mattab That PR fixed an issue that was actually created by @tsteur (#11047). It might not look best and we maybe could improve that further, but I strongly dislike reverting PRs that were contributed by volunteers from the community. If that would have happened in the beginning of my contributions I might have stopped doing further contributions at all.

I strongly urge you and @tsteur to at leas

[2022-07-12 12:33] mattab commented on #19515
Sorry about the trouble here, and thanks for the feedback!

We'll try and review our created issues but realistically we don't have the time at the moment and for the next few months. In the meantime, we need to involve our UX expert and PM to assess early on, whether we want to do a given issue. They are the experts that know whether a given issue is still worth it or not. (and they can ask us qu

[2022-07-12 13:13] Chardonneaur opened #19518 "Change the name of the person who rewrite the annotation"
When I edit the annotation of another user, his name is still on, whereas I should be the person who take over the annotation.

[2022-07-12 15:47] JustinFinkelsteinKainos opened #19519 "Creating an Annotation produces an unexpected error"
Today I saw a number of errors in the logs for our self-hosted Matomo instance where it appears that a user attempted to add an Annotation. This resulted in the Annotation being added, but Matomo threw a PHP error in the process.

## Expected Behavior
Annotation should be added without throwing a PHP error.

## Current Behavior
In all cases, I can see the following actions in the server logs:

1.

[2022-07-12 16:37] ClientCrash opened #19520 "API Language depends on user language."
## Expected Behavior
API Language should never change. This breaks systems.

## Current Behavior
If the user has a different language, for example German, the language of API responses changes.

## Possible Solution

It should be completely removed of if some people depend on it it should be a toggle that is off by default.

## Context
The API being dependent on users and their language settings c

[2022-07-12 23:04] peterhashair commented on #19511
ping @sgiehl, this happens when  `addTracker` and `setCookieConsentGiven` are set, as described the `_pk_id ` will change, but not sure is a bug or expected.

[2022-07-13 02:54] peterhashair opened #19521 "Marketplace plugin not found, wrong notification message"
When you go marketplace, and search for a plugin name not exist, it will return an error screen. See screen capture.

https://user-images.githubusercontent.com/3783072/178640773-5acb559f-80bd-496d-bcc1-2de66a20f0a6.mp4

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version: 4.11
* PHP Version: 7.4

[2022-07-13 03:04] peterhashair commented on #19519
Hi @JustinFinkelsteinKainos thank you for reporting this, I can reproduce it by changing the date selector to `date range` and making the start date and end date the same date, then creating an Annotation, it will show that error.  Our product team will review this.

[2022-07-13 06:21] sgiehl commented on #19515
@mattab In that case maybe we should leave somewhere a clear advice that people who want to work on an issue should first leave a note there, so you can decide if it makes sense to do so or not (if needed).

Btw. I don't think we need to fully revert https://github.com/matomo-org/matomo/pull/19261. It also added a keyboard shortcut to refresh the page. I guess we could at least keep that one, but

[2022-07-13 09:06] Prithivi-Rajan opened #19523 "Config.ini.php file not getting reflected"
We are currently running the Matomo as a container in AWS ECS. Now, I’m trying to update the config.ini.php file and get that pushed via Dockerfile. But for some reason the setup works in my local environment and same doesn’t work in AWS ECS.

## Expected Behavior
 Values in config file should work
[General]
datatable_archiving_maximum_rows_actions = 10000
datatable_archiving_maximum_rows_referrer

[2022-07-13 09:20] Findus23 commented on #19515
I guess [CONTRIBUTING.md](https://github.com/matomo-org/matomo/blob/4.x-dev/CONTRIBUTING.md) would be a good location.

[2022-07-13 11:48] stefan-work opened #19524 "As log_action.idaction is just an INT, Matomo stops recording actions if idaction > 2^31"
## Summary

We're running Matomo in an environment with a rather high number of trackings. Recently we lost some until we noticed that log_action.idaction reached 2^31. In the log we saw that errror: `Error in Matomo (tracker): Error query: Mysqli statement execute error : Out of range value for column 'idaction' at row 1                                    In query: INSERT INTO matomo_log_action (

[2022-07-13 15:29] MatomoForumNotifications commented on #19501
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/planetscale-db-compatibility-on-prem/46210/2

[2022-07-13 19:59] kravi4 commented on #19093
Any chance there is some documentation that allows use to add custom events to php code?

[2022-07-13 22:51] bx80 commented on #19093
Hi @kravi4, there is some documentation on PHP events in Matomo here [https://developer.matomo.org/guides/events](https://developer.matomo.org/guides/events)

[2022-07-13 22:58] bx80 commented on #19518
Hi @Chardonneaur, thanks for the suggestion :+1:

[2022-07-13 23:14] bx80 commented on #19520
Hi @ClientCrash, thanks for reaching out. Sorry to hear that this behavior caused an issue for you.

The API has an optional [language](https://developer.matomo.org/api-reference/reporting-api#optional-api-parameters) parameter, this can be set on API requests so the same language is always used to give consistent responses.

Changing the API to ignore users language by default could cause problem

[2022-07-13 23:14] #19520 closed, assigned to nobody

[2022-07-13 23:21] bx80 commented on #19523
Hi @Prithivi-Rajan, it seems likely that this issue is related to your Dockerfile / ECS setup. Unfortunately we cannot provide support for this via github, however you might be able to find further assistance in our forums here: https://forum.matomo.org/ or via a paid support plan https://matomo.org/support-plans/

[2022-07-13 23:21] #19523 closed, assigned to nobody

[2022-07-13 23:32] bx80 commented on #19524
Hi @stefan-work, thanks for sharing this experience, I'm sorry to hear that this limitation caused you problems and I'm glad you managed to work around it.

Database limitation are something we're currently evaluating and this sort of feedback is a valuable input to that process . :+1:

[2022-07-13 23:36] Starker3 opened #19526 "Start and end date for Tags uses UTC time for all timezones"
We had a user that was having issues when configuring a tag with a specific start date and end date.

While investigating this issue, I found that the Start and End time for a Tag that is stored in UTC will be treated as that time in any timezone and not be converted to that visitors timezone.

For example, if we create a Tag such as the following:
![Thursday-14-07-2022 11-24-15](https://user-imag

[2022-07-13 23:39] Starker3 commented on #19526
Didn't realise I was still on the core repo.
Recreated in the Tag Manager repo.

[2022-07-13 23:39] #19526 closed, assigned to nobody

[2022-07-14 02:39] peterhashair commented on #19081
reopen this issue, as we discussed,  not to force users to use HTTPS at this stage, only a warning message. In the next stage we will force HTTPS connections. Ref Here: https://github.com/matomo-org/matomo-security/issues/195

[2022-07-14 07:40] #19485 closed, assigned to sgiehl

[2022-07-14 07:57] sgiehl commented on #19521
@peterhashair I'm not able to reproduce that locally. Are you maybe able to give some more details on the request that is failing?
But while testing I found another regression, which will be fixed with https://github.com/matomo-org/matomo/pull/19529.

[2022-07-14 08:25] dennisbaaten commented on #18301
Any progress on this issue?

[2022-07-14 08:37] webberian commented on #15167
This issue can probably be closed, as discussion in #18612 has lead to fix #19302.

[2022-07-14 09:37] webberian commented on #19440
Or perhaps even "Previous month" and "Current month". That way, one could save the resulting filtered URL/view as a bookmark and always be shown the correct period.

[2022-07-14 09:57] MatomoForumNotifications commented on #19498
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/activate-a-plugin-for-just-one-proprty/46557/5

[2022-07-14 12:49] marcopixel opened #19530 "Allow custom cookie expiry date for `optUserOut()` & `forgetUserOptOut()` functions"
It would be beneficial to overwrite the default cookie expiry date for the `optUserOut()` and 'forgetUserOptOut()', especially since you can also set custom values on most other functions which set cookies for tracking.

## Summary

Adding an additional parameter to the `optUserOut()` & `forgetUserOptOut()` functions.

**Example:**

[code]

would set the `mtm_consent_removed` to an expiry date in

[2022-07-14 12:56] ulcuber opened #19531 "Configurable ErrorHandler"
1. Add ability to throw on warning/notice
2. Maybe add filters for exception logging

## Summary

1. Currently `Notice - Undefined index` does not stop execution but it could lead to bugs silently logging such cases.

2. For example, laravel do not logs validation/authorization exceptions using `internalDontReport`:
https://github.com/laravel/framework/blob/9.x/src/Illuminate/Foundation/Exceptions

[2022-07-14 13:18] #15167 closed

[2022-07-14 13:45] MatomoForumNotifications commented on #11131
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/difference-between-action-url-and-page-url/40622/21

[2022-07-14 14:46] utrautmann opened #19533 "Conflicting informations about Visit duration"
My question relates to visitors that have only visited one page and taken no further action and where no heartbeattimer is used.

Here https://matomo.org/faq/how-to/faq_21824/ is written:
**When your visitor views only one page in the website, the “Visit” duration will be set to a default of 10 seconds**

and here https://matomo.org/faq/how-to/faq_21158/
**when the visitor views only one page view

[2022-07-14 15:01] sgiehl commented on #19169
@mstenz @miton18 With #19525 we will most likely introduce a new event, which can then be used to disabled the password confirmation for certain users in UI and API. Login plugins will then need to implement this event.

[2022-07-14 16:30] mstenz commented on #19169
perfect, thank you

[2022-07-14 17:52] mattab commented on #19515
Opened PR in https://github.com/matomo-org/developer-documentation/pull/646/files

[2022-07-14 19:37] ericimprint commented on #19129
So I got back to testing this more and changing my PHP version back to 7.4.30 solved the problem. 8.0.20 and 8.1.7 both have errors above. I thought I had tested 7.4.30 before. Sorry.

[2022-07-14 20:32] mattab opened #19534 "Space missing in invite users email"
in the email with subject `????? sent you an invite to join Matomo Analytics for ?????.`

Got this text in the email body:
`Notes:If you were not expecting this invitation, you can ignore this email. If root is sending you too many emails, you can block them or report abuse. The invitation automatically expires in 7 days.`

Expected a space after `Notes:`:

`Notes: If you were not expecting this i

[2022-07-15 01:36] peterhashair commented on #19521
@sgiehl close the ticket, sorry I was on development `enabled=1`.

[2022-07-15 01:36] #19521 closed, assigned to nobody

[2022-07-15 01:53] peterhashair commented on #19534
Hi, @mattab thank you for pointing that out, updated in PR https://github.com/matomo-org/matomo/pull/19535.

[2022-07-15 08:11] sgiehl commented on #19534
@peterhashair If you work on issues (and even create PRs) it would be helpful to assign the issue to you and add a milestone if possible.

[2022-07-15 08:29] #19413 closed, assigned to nobody

[2022-07-15 08:36] sgiehl commented on #19129
Hi @ericimprint. Interesting that it works with PHP 7.4. But guess without the exact query it will be hard to further investigate and fix this issue. If you are still able to reproduce on PHP 8 you could try to enabled sql profiling (`enable_sql_profiler`) or sql logging (`log_sql_queries`) in config and see if you are able to look up the query in log afterwards.

[2022-07-15 08:58] JustinFinkelsteinKainos commented on #19519
Hi Peter

Thanks for verifying this; hopefully this is a relatively fix.

[2022-07-15 09:07] sgiehl commented on #19533
I think we might actually have changed that behavior somewhen in the past. But can't remember when or why. Maybe with introducing the HeatBeat 🤔  @tsteur can you remember?
But I think when not using HeatBeat `0s` should be default.

[2022-07-15 12:52] webberian opened #19538 "Allow "browser language" as dimension in custom report"
On the dashboard, there are widgets for "Browser language" and "Language code", respectively.

In custom reports, the dimension "Language" can be used. It would be great if also "Browser language" could be used in custom reports, as "Browser language" makes it easier to analyze usage patters since languages are not divided into sub-groups (such as English - Australia (en-au), English - United Stat

[2022-07-17 14:22] ghost opened #19539 "Disable "reports not yet processed" message"
## Summary

I'd like to be able to turn off the blue boxed message at the top of the dashboard that says "It looks like reports for this period have not been processed yet. Do you want to see what's happening now? Check out the Visits log or choose a different date period until the reports are generated."  This message is annoying and does not convey useful information in my installation.

In more

[2022-07-18 06:08] tsteur commented on #19533
I don't remember but looking at the code I can see there is a config `default_time_one_page_visit` that is set to 0s by default. So as part of this issue we should correct the wrong documentation.

[2022-07-18 07:15] Pflegusch commented on #18460
Hi @bx80, thank you for the help. I think I slightly misunderstood something and reread the documentation about the archiving and everything should be clear now. My current approach is using the ``--max-archives-to-process`` argument which works very well now :)

[2022-07-18 08:01] sgiehl commented on #19533
Seems that had been changed back in 2010. I have updated the mentioned pages above and also mentioned that changing `default_time_one_page_visit` can be used to set another default visit duration

[2022-07-18 08:01] #19533 closed, assigned to nobody

[2022-07-18 08:35] #19534 closed, assigned to peterhashair

[2022-07-18 09:35] sgiehl commented on #19531
Hi @ulcuber
Thanks for the suggestions. In general I would agree that it might be nice to have a possibility to configure this. But actually that would only help for development. This couldn't be turned on in productive mode, as our code base is quite old and there might be some notices that had been "ignored" on purpose. We are always trying to fix those when we see them, but I'm not able to say

[2022-07-18 10:16] h3x4git opened #19541 "Javascript optimization for matomo.js"
According to PageSpeed Insights the "matomo.js" file that is served onto pages is not well compressed and it would be great if you could please make it smaller.

The test result says that from 62.7KiB it could be reduced up to 37.9KiB.

It would help boost up the PageSpeed ranking a bit

[2022-07-18 10:26] atom-box commented on #17595
Still a problem. User reports to us:
_"Row evolutions do not open sometimes, really frustrating and a relevant problem for our clients "_

[2022-07-18 11:21] Findus23 commented on #19541
In case you are referring to the file compression: This is not something Matomo does, but your web server when delivering static files. So you need to set your web server up so that it gzip-compresses (and optionally brotli-compresses if you like) the matomo.js, which reduces its size by quite a large fraction.

[2022-07-18 11:51] h3x4git commented on #19541
I'm mostly referring to the javascript optimization, if it could be minified some more maybe? Google only says "reduce the amount of unused javascript code". The report doesn't mention the gzip compression with regards to matomo.js

[2022-07-18 11:57] Findus23 commented on #19541
This is hard to avoid as Matomo can't know which features you don't want to use and splitting up matomo.js is not trivial (https://github.com/matomo-org/matomo/issues/19144).
And if file size is the highest priority and you don't use any non-default Matomo features or cookies, then one can try recreating the core of matomo.js in less than 1KB like I tried out in https://github.com/Findus23/MatomoL

[2022-07-18 12:05] h3x4git commented on #19541
Thank you for suggesting MatomoLiteTracker, it's interesting.

I personally find that 35KiB+ is nothing to worry about but I use Matomo in basically any website and that file always appears in the list of problems with PageSpeed Insights so I thought I would open an issue to just let you know.

It's definitely not going to be a life-changing improvement to any ranking, but still noteworthy for som

[2022-07-18 13:08] ulcuber opened #19543 "FieldVariableTemplate in lookup table"
## Summary

GTM provides whole var for lookup table which allows variables substitution:
![image](https://user-images.githubusercontent.com/32728904/179516939-dc2f079a-fb6e-4d2e-b141-cd2690faf5f5.png)

Maybe also add this ability to Matomo lookup table:
![image](https://user-images.githubusercontent.com/32728904/179517110-a7abb1de-c10a-4ae4-b105-beaf88d82af0.png)

It could be used to create simila

[2022-07-18 18:43] NathanC opened #19544 "proxy_uri_header=1 not working"
## Expected Behavior

Reverse proxying with a path prefix should cause the site to respect  when `proxy_uri_header = 1` is set.

## Current Behavior

`my-domain.example.com/matomo` proxies successfully, but immediately gets redirected to `my-domain.example.com/index.php`. The proxy prefix isn't working correctly.

I have matomo behind a reverse proxy on the `/matamo` path. I'm using the `Caddy` we

[2022-07-18 19:35] NathanC commented on #16812
Couldn't there be a server-side flag to opt out every user of cookies entirely, which would render this cookie unnecessary?

I've enabled "Force Tracking Without Cookies"
![image](https://user-images.githubusercontent.com/6182419/179603062-5167dd77-8a1a-4aa2-8329-b76e88d9238a.png)

But I still see the `MATOMO_SESSID`. Why is it needed in this case?

[2022-07-19 07:34] KHReinhardt commented on #19489
Thank you for the swift reply. We checked the installation and you were right, the files were missing. We placed them back in place and we could disable the plugin. Thank you for your help!

[2022-07-19 07:34] #19489 closed, assigned to nobody

[2022-07-19 11:33] sgiehl opened #19546 "Update vendor lib szymach/c-pchart to latest version"
## Summary

The vendor lib `szymach/c-pchart` released a new update `3.0.14`.
Using this new version the images generated by ImageGraph plugin changed and are looking a bit misplaced. Some numbers are even placed partially outside the viewport.

It fixes a couple of PHP 8.1 deprecation notices by casting a couple of variables to integer. Maybe this causes the numbers to be calculated a bit differe

[2022-07-19 13:51] sgiehl commented on #19544
Hi @NathanC
Thanks for creating this issue. I have actually not yet used this special option. So I'm not able to say if that feature actually worked before or not. Unfortunately I'm currently a bit short in time and have no possibility to create a similar set up in order to check this. Our product team will at some point plan in some time to check that in detail. But that might take some time, as

[2022-07-19 14:02] sgiehl commented on #19539
Hi @mskala
Thanks for your suggestion.
So this notification is shown when there had not yet been any visit to that specific site today? Iirc the message should only be shown when there had been a visit, but the data had not yet been processed. Maybe there is a bug around that logic. I'll have a quick look.

[2022-07-19 14:34] sgiehl commented on #19539
I found a bug in this handling. See #19547. But as I didn't fully try to reproduce your issue, I'm unable to say if that will fix it.

[2022-07-19 14:51] ghost commented on #19539
Yes, in my current installation it appears to be shown when the dashboard is set to "today" and there have been no visits today so far, even though reports have actually been processed.  Sounds like that isn't the intended behaviour.

Ideally, I would prefer to be able to disable this message even for the apparently intended cases, i.e. the few minutes between midnight and the first run of the rep

[2022-07-19 16:30] NathanC commented on #19544
I found a workaround. It turns out the issue only appears if I go directly to mysite/matomo, which causes it to redirect to mysite/index.php. If I go to mysite/matomo/index.php then it works properly.

My guess is that whatever does the redirect from the web root doesn't respect the `proxy_uri_header` flag like it should.

[2022-07-19 18:09] llibdude commented on #19501
I was able to get started with PlanetScale & Matomo using the above steps.  Sure, it was inconvenient, but considering it's a one time cost I found it an acceptable cost.

The much larger blocker to the integration of PlanetScale & Matomo is how upgrading Matomo would work.  PlanetScale follows a similar branching strategy to that of GitHub's, except instead of code, it's databases.  To make a sch

[2022-07-19 22:01] bx80 commented on #19501
@llibdude Good to hear you were able to work around the installation issue with some success.

A possible workaround for applying Matomo upgrades could be to initiate the upgrade using the console command `./console core:update` this will show the proposed schema changes along with a confirmation prompt. It could be possible to use this method to copy the schema change SQL, abort at the confirmati

[2022-07-20 00:01] justinvelluppillai commented on #18301
This issue is not yet prioritised to be worked on. I will add it to the milestone for our product team to consider.