[2022-01-19 22:18] tsteur opened #18661 "Add a malware checker widget"
This could be maybe similar to our SEO widget and request information from sites like `Google Safe Browsing`, `Safe Web`, `Site Advisor`, `Sucuri Malware Labs`, `PhishTank` and others and checks if all is good with the domain.

To be decided if we do this similar to the SEO widget where we only request it eg in the dashboard on demand, or whether we would archive this data. If we were to archive i

[2022-01-19 22:24] peterhashair commented on #18639
right, so we want to add 2 functions Piwik::getDate() and Piwik::getPeriod() then replace those once.
[code]

 Also just checking do we have a param validator sth like this
[code]

[2022-01-19 22:28] tsteur commented on #18639
We don't @peterhashair

[2022-01-20 02:59] tsteur opened #18662 "Admin home issues requests and then cancels them again"
This might be a regression in Matomo 4.7. At least I can't reproduce it on the cloud where an older version of Matomo runs. I noticed this because sometimes it would then show me an alert notification in the admin home page but not always.

![image](https://user-images.githubusercontent.com/273120/150264071-e6fd98d8-0aa0-4af6-919e-c0b09e924795.png)

Only managed to see this error when the develope

[2022-01-20 04:04] tsteur opened #18663 "Top navigation in General Settings no longer working"
This seems to be broken for me on demo2 https://demo2.matomo.org/index.php?module=CoreAdminHome&action=generalSettings&idSite=1&period=day&date=yesterday and locally  but it works on demo.matomo.org

Looks like a regression in a recent change maybe?

When I click on one of these links then it doesn't jump to the correct settings
![image](https://user-images.githubusercontent.com/273120/150271221-9

[2022-01-20 09:06] sgiehl commented on #18499
Turns our this was actually unrelated to TCPDF. Will propose a fix for that soon.

[2022-01-20 10:07] #18640 closed, assigned to peterhashair

[2022-01-20 13:58] sgiehl commented on #18663
I'm not able to reproduce that locally. Also not with disabled developer mode and the same set of plugins. It seems somehow the locationchange doesn't trigger the anchorfix on demo2 as calling `scrollToAnchorInUrl` manually does the scrolling correctly there.
@diosmosis do you have an idea what this could be caused by?

[2022-01-20 14:14] sgiehl commented on #16125
We are planning to extend the device detector, so it's also able to handle client hints.
So in the future it would take the useragent and an array with the client hints as parameters and return the best result out of the combined results. If there are usable results in the client hints those will be used first, falling back to the useragent results.

So the remaining work on Matomo side would be t

[2022-01-20 17:42] gitressa commented on #10257
Just chiming in here, and agreeing that having Matomo CLI installation would be awesome.

You can install Drupal with Drush from the command line with this:

`drush site:install --db-url=mysql://drupal9:drupal9@database/drupal9`

It would be great if similarly you could download Matomo, instantiate whatever web server you like and install it:

[code]

[2022-01-20 17:46] Findus23 commented on #16125
@sgiehl So does Matomo want to use the JS client hint API and append the data to the matomo.php request? Or ask the browser to send the HTTP headers with the matomo.php request and then use this data server-side?

[2022-01-20 18:58] sgiehl commented on #16125
@Findus23 that actually still needs to be defined, but I guess it will be easier to do that in javascript. Guess we couldn't do that with the first tracking request, as we first would need to send the according headers and would need another request to receive the values. Or maybe I misunderstood how that works 🤔

[2022-01-20 18:58] tsteur commented on #16125
@sgiehl it be great to define what the other "required stuff" is? What exactly does device detector do and what not?

Also does device detector handle the mapping of the different browser, operating system, ... name to the names we are using?

[2022-01-20 19:13] sgiehl commented on #16125
I have just started implementing, but it should take the client hints (either HTTP headers, or the javascript values) and parse them in a way that the results are the same when parsing user agents. So yes, the mapping will be done by device detector.

From what I understood, I would say there are actually only the tasks mentioned above:
- Change the tracking that it receives the client hints
  Wit

[2022-01-20 19:37] rosa2 commented on #18649
Hello
My timezone in the server

Timezone | UTC  
WP timezone | +02:00
Timezone version | 0.system
Time | 1642706890

I also tried to change the first day of the week in Wordpress (normally I have Monday) to Sunday, just in case, and it didn't change.

In the image that I uploaded you can see that the problem is in the time selector (January 17th maximum), but the entrances logged on the bottom sh

[2022-01-20 23:18] diosmosis commented on #18663
Unfortunately I don't have access to the settings page on demo2. I can try reproducing locally.

[2022-01-21 00:39] tsteur opened #18667 "When setting up two factor authentication (2FA), don't show the QR code right away"
Ideally we would hide it at first, and have a link to make it visible. This way in case you have people around you, you can send them away first.

The link to click to make it visible would need to very obvious, otherwise it's easy to get lost.

[2022-01-21 08:48] sgiehl commented on #18663
@diosmosis let us know if you need access to demo2 to check that there.

[2022-01-21 10:15] diosmosis commented on #18663
Wasn't able to find the cause but I would look at this code:

https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/CoreHome/angularjs/anchorLinkFix.js#L92-L103
or if removing https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/CoreHome/javascripts/broadcast.js#L405 would work

[2022-01-21 11:00] sgiehl commented on #18663
@tsteur Seems neither me, nor @diosmosis are able to reproduce that locally. So might be hard to find the reason.

@diosmosis I can give you super user access on demo2 if that helps. If you need ssh access to check if some changes are helping, guess @tsteur can help. I don't have ssh access to demo2.

[2022-01-21 11:03] diosmosis commented on #18663
I have ssh access to demo2 if I need to change anything.

[2022-01-21 12:12] sgiehl commented on #18663
@diosmosis I just gave you super user access. Feel free to check if you can find the reason...

[2022-01-21 12:34] diosmosis commented on #18663
Looks like the $locationChangeStart event is not even triggered. I'm guessing somewhere in angularjs it's not noticing the update to the hash. I've seen this before but wasn't able to non-intrusively fix it.

[2022-01-21 12:52] diosmosis commented on #18663
Comparing between local and demo2, this event handler appears to be missing on demo2:

![image](https://user-images.githubusercontent.com/125140/150530085-67f6f029-8321-42c9-8075-8ff474f73e6b.png)

Might be related.

[2022-01-21 13:08] diosmosis commented on #18663
Something off w/ the angularjs bootstrap logic.

[2022-01-21 13:14] diosmosis commented on #18663
@sgiehl This line is what fails in demo2 but works locally:

[code]

On demo2 `fn` is set to undefined, so nothing is run. Does not at first glance appear to be Vue related.

[2022-01-21 13:18] diosmosis commented on #18663
`loadModules(['ng', ...])` fails, 'ng' resolves to `undefined`

[2022-01-21 13:19] arosenhagen commented on #10257
FYI: we managed to automate the installation in a docker environment without going through the web-wizard by
a) cloning the matomo github repo
b) cloning the ExtraTools-Plugin into the plugin directory
c) update composer dependencies (incl. sub-repositories)
d) build a custom docker image (especially requiring mysql-client / mysqladmin dependencies for ExtraTools)
e) running the parameterized inst

[2022-01-21 13:25] SimonNL commented on #18612
Coming from GA and having struggled with the same issue there years ago, I quickly ran into this again with Matomo. Specifically the 'payment service provider' scenario. With GA we started with exclusion list but could finally solve this for good by adding the 'ignore_referrer' parameter to the PSP return/error/pending page (e.g. /thank-you?ignore_referrer=true) so regardless of the payment method

[2022-01-21 13:27] diosmosis commented on #18663
Nevermind, that's not the reason... still looking.

[2022-01-21 13:32] diosmosis commented on #18663
@sgiehl / @tsteur ok, I can reproduce: if you disable GoogleAnalyticsImporter locally (and potentially any other plugin that uses the $location service in a run/config), the behavior is reproducible. `$location` needs to be manually required in a run block so it will be initialized I guess. Or maybe required specifically some other way. (The file that makes it work locally for me is widget-events.

[2022-01-21 14:45] #16152 closed

[2022-01-21 15:23] sgiehl commented on #18663
@diosmosis good catch. Guess this was caused by migrating some stuff to vue then, as the `$location` might not be used anymore. Would it solve the issue to simply inject `$location` into e.g. `PluginSettings.adapter.ts`?

[2022-01-21 22:37] diosmosis commented on #18663
@sgiehl I think you'd need a run block:

[code]

[2022-01-21 22:38] diosmosis commented on #18663
If sticking it in Vue code would put it in MatomoUrl.adapter.ts since it's to get angularjs initialized properly there.

[2022-01-21 23:44] diosmosis commented on #18663
@sgiehl here you go: https://github.com/matomo-org/matomo/pull/18671 since you didn't find time

[2022-01-22 12:03] daniel-lerch opened #18675 "Matomo does not respect X-Forwarded-Host for trusted_hosts setting"
According to an [FAQ article](https://matomo.org/faq/troubleshooting/faq_171/) the `trusted_hosts` setting is a security measure against host injection attacks.

I am using Matomo inside a Docker container behind an NGINX reverse proxy. According to [this FAQ](https://matomo.org/faq/how-to-install/faq_98/) I configured the `X-Forwarded-Host` header in NGINX and the Matomo config.

Let's assume my

[2022-01-22 21:13] jorgeuos commented on #17146
Hi,

I noticed that the `--help` flag shows that:
[code]

But I get this error:
[code]

I've tried without `--dry-run` too, but get the same error.
I guess single dates per command or a date-range, but not list of dates.
Or am I formatting the command wrong?

Full output of help:
[code]

[2022-01-22 22:15] thomasbnt commented on #18650
Hello, no really more information. And I don't know if it's related, but I get a 500 error when I want to install a plugin.

So I'm going to reinstall Matomo entirely, it will take me less time, it's annoying, but I can't see anything else. And change MySQL by MariaDB.

[2022-01-23 03:02] thomasbnt commented on #18650
Hmmmmmmmm okay, maybe I founded the "bug". I didn't why it happened.

I uninstalled **mysql-server** and taken **mariadb**, reconfigure user and database and use a new Matomo configuration. All works!

[2022-01-23 03:02] #18650 closed, assigned to nobody

[2022-01-23 12:51] mikkeschiren opened #18677 "When doing a custom range report there is a lot of INSERT IGNORE INTO mysql queries"
When generating a Pages report for a custom date range, most of the time in MYSQL is spent doing INSERT IGNORE INTO queries in MYSQL, so my question is, why are these queries needed?

![bild](https://user-images.githubusercontent.com/712838/150679122-cd748eab-a7ee-4947-b4b9-00d3324c6173.png)

The total time spent on the queries is 1.16 s, so a pretty large amount of the time spent by NSERT IGNORE

[2022-01-23 13:44] DevDavido opened #18678 "[Documentation] Default value of "recorder-max-payload-size" incorrect"
Actual value of parameter `--recorder-max-payload-size` for `import_logs.py` is [200](https://github.com/matomo-org/matomo-log-analytics/blob/4.x-dev/import_logs.py#L757) and not [300](https://matomo.org/docs/log-analytics-tool-how-to/#:~:text=speed.%20By%20default%2C-,300%20pageviews,-\(or%20log%20lines) as stated in the documentation.

[2022-01-23 17:00] mikkeschiren commented on #18677
Hmm, maybe this is because of usage of archiving_range_force_on_browser_request, or? Then I guess it's like it should be...

[2022-01-23 20:59] bx80 commented on #18677
Hi @mikkeschiren, thanks for contacting us. When generating a report for a custom date range for the first time there will not be a cached version of the report available, so Matomo will first generate the cached version of the report by inserting into in the archive_* tables before displaying it. Depend on the data this could be a little slow, but any subsequent requests for the same report shoul

[2022-01-23 20:59] #18677 closed, assigned to nobody

[2022-01-23 21:11] bx80 commented on #18678
Thanks for spotting thing @DevDavido :+1:, I've updated the documentation with the correct default parameter value.

[2022-01-23 21:11] #18678 closed, assigned to nobody

[2022-01-24 01:50] justinberedo commented on #16156
Hi,

A client of ours needs this functionality. The purpose is for tracking multiple roles for an individual. For now, the custom variable plugin has this feature. But it's sad to see that support is to be dropped. Could we request having this functionality for custom dimensions? I think it would be very useful.

Thanks!

[2022-01-24 10:09] heurteph-ei commented on #16156
Why not tracking a dimension with value: `Culture|Sport|Leisure`.
Then when using segments, you can ask for the dimension containing Sport?

Or also if you really needs this feature, don't hesitate to sponsor Matomo...

[2022-01-24 11:06] bastos71 commented on #18530
We encountered the bug on our side as well.
We're planing to customize the `index.php` (target of the iframe) to add a link / button to open the link in a new tab/window to prevent this error for Safari users

[2022-01-24 11:17] #18663 closed, assigned to nobody

[2022-01-24 17:23] thcipriani commented on #17686
In PHP8.1 on Debian I'm seeing the same dependency injection explosion mentioned in https://github.com/matomo-org/matomo/issues/17686#issuecomment-981142124

Is this known? Should I file a separate issue? What additional details do you need?

## Details
(double-escaping due to logging setup, sorry)
**PHP Fatal error:  Uncaught DI\\Definition\\Exception\\InvalidDefinition: Entry "Monolog\\Logger" c

[2022-01-24 23:23] Starker3 opened #18681 "Add option for User Groups"
We have a request for a "Users Group" feature to be added to Matomo.

This can be useful for a number of different reasons:
1. It allows easier permissions management for Matomo instances that have a large number of websites. The current permissions setup for Matomo requires the permissions to be set for a user for every individual website or to give a certain level of access to all websites at on

[2022-01-24 23:32] Starker3 opened #18682 "Add option to limit segments to specific dates or to automatically disable segments after certain dates/time spans"
It would be quite useful for users to be able to create a segment that would only be used or valid for a certain period of time.

There are often times when users create a segment that is only beneficial for the time period when a certain marketing campaign is active. It would be good to have a few options when creating the segment to be able to set a specific date or time period for when the segm

[2022-01-25 00:07] tsteur commented on #18530
FYI in https://github.com/matomo-org/matomo/issues/17452 we will be working on an Opt Out solution that works without iframes meaning this should then no longer be a problem once this new opt out is used

[2022-01-25 13:37] mathieuroquefort commented on #14570
Hello,
We would be very much interested by this option.
We have one website for the whole country, and would like to allow the delegates of each region or city to view the data for their area.
Is there somethnig we can do to help ?

[2022-01-25 14:56] sgiehl commented on #17686
@thcipriani Where exactly did that error occur? After updating an existing instance or when trying to install a new one?

[2022-01-25 15:37] laratutoteam commented on #13818
https://laratuto.com/how-to-get-yesterday-date-in-php/ **get this php code also easy**

[2022-01-25 18:55] tsteur commented on #14570
@mathieuroquefort you might know this already but generally there's a solution using Roll-Up Reporting see "Solution 1" in https://matomo.org/faq/how-to/faq_35687/ . However, this would only work for newly tracked data. Because the data for each country would then be in a separate site, you could grant access to specific sites/countries using existing functionality in Matomo while also having aggr

[2022-01-25 20:32] bx80 commented on #18682
So this sounds like three new options for a segment:
- Disable archiving after date x / now (segment will be ignored by the archiver, but still available for reporting)
- Disable after date y (segment will not be shown for reporting or be archived, but will still be available in the manage segment screen for revival)
- Delete after date z (segment and archived data will be completely removed by a

[2022-01-25 21:39] tsteur opened #18684 "Warning: file_put_contents(/matomo-for-wordpress/app/tmp/empty): Failed to open stream: No such file or directory in RecommendedPrivateDirectories.php on line 23"
In Matomo for WordPress we are getting this error

It doesn't use the correct path from DI as it uses a hard coded path but not everyone is using this.

I was going to create this PR

[code]

However, I noticed that while this would use the correct tmp directory, it would still use the wrong URL to try and fetch that tmp file. It would always use `$matomoUrl/tmp/empty` but the tmp directory might

[2022-01-26 10:28] aaragones opened #18689 "“Show more clearly the freshness of reports” not working"
Before the update we was able to check the freshness of the reports by doing this:
https://matomo.org/faq/how-to/how-do-i-know-how-long-ago-was-a-given-report-generated/

After the update https://github.com/matomo-org/matomo/issues/14977 we can’t use the old functionality, neither the new one.

## Expected Behavior
These videos: https://github.com/matomo-org/matomo/issues/14977#issuecomment-825221

[2022-01-26 19:07] atom-box opened #18690 "Copy/Duplicate/Export/Import Goals"
Allow users with multiple sites to easily make goals on one site and then get those goals onto their other sites somehow.

User: _Is there a possibility to create a Goal in one instance and then transfer it to other instances? We have Matomo on-premise in use to track all our 60 local website (worldwide). I now want to create the same "Standard" goals in each of those instances._

[2022-01-26 19:14] #18499 closed, assigned to sgiehl

[2022-01-26 19:50] #18625 closed, assigned to sgiehl

[2022-01-26 23:02] bx80 commented on #18689
Hi @aaragones, thanks for reporting this, I can confirm that the report generated date is not being shown when hovering over the report header.

Although the report generated date is being added to the report header, the `inlineHelp` div in which it is contained is not being displayed when hovering.

[2022-01-27 02:07] peterhashair commented on #18689
Maybe we can add the date just below the title. @tsteur  @bx80  any suggestion?

![image](https://user-images.githubusercontent.com/3783072/151278873-2d3c3cb1-e855-4693-916c-20078ce32ecf.png)

[2022-01-27 02:12] tsteur commented on #18689
This works for me currently. It shows at least in the latest `4.x-dev` branch, possibly also in the 4.7 release that is upcoming.

![image](https://user-images.githubusercontent.com/273120/151279426-c8f1b970-1590-4df6-b1df-05eac63d973f.png)

Note that this information is only shown when viewing a period that includes today.

Was this fixed by https://github.com/matomo-org/matomo/pull/18498 ?

[2022-01-27 02:29] peterhashair commented on #18689
@tsteur yes, that was fixed by #18498.

[2022-01-27 03:06] Starker3 opened #18692 "Fixes problem where dashboards can't be copied to users in certain circumstances"
Refs DEV-2411
Not sure exactly under what circumstances this bug occurs, but in some cases its not possible to copy a dashboard to a different user.

For example we had a case where an `Admin` user was not able to copy a dashboard to a specific `View` user. They were able to copy to **some** View users and other Admin users, but several View users were not showing on the list when trying to copy.

[2022-01-27 07:58] tsteur opened #19177 "Tag Manager preview is causing a failed HTTP request `API.getPagesComparisonsDisabledFor`"

[2022-01-27 12:46] suganja opened #18693 "AH01630: client denied by server configuration: E:/Intranet/matomo/config/config.ini.php error after upgrading matomo from v3 to v4"
After upgrading to 4.6.2, when I am logged in in Matomo, there are some issues with loading. I think, it's related to this issue, but couldn't solve the problem: https://github.com/matomo-org/matomo/issues/17589

![grafik](https://user-images.githubusercontent.com/10153210/151360237-18b2dfad-414a-4408-80d5-d0098c13e5f2.png)

I checked the error.log in Apache:

[Thu Jan 27 12:11:45.153081 2022] [ph

[2022-01-27 12:52] Findus23 commented on #18693
Hi,

is not the issue, but showing that your server is set up as it should be (blocking these requests).

I'm assuming the actual issue is:

This issue tracker is intended for bug reports about specific reproducable bugs. If you want general help with your Matomo setup please ask on the forum (forum.matomo.org) the next time.

[2022-01-27 18:36] emkcloud opened #18694 "PHP Deprecaded message after upgrade PHP to Version 8.1.2"
PHP Deprecaded message after upgrade PHP to Version 8.1.2

* Matomo Version: 4.6
* PHP Version: 8.1.2
* Browser: Chrome 97.0.4692.71
* Operating System: Ubuntu 20.04 LTS

![image](https://user-images.githubusercontent.com/5731295/151422193-5298fef9-7386-4029-a509-170e6e89a5e4.png)

[2022-01-27 19:22] tsteur commented on #18534
We have applied this fix on production but the errors are still happening.

URL: https://example.matomo.org/index.php?module=MultiSites&action=getEvolutionGraph&period=day&date=2021-12-23,2022-01-21&evolutionBy=nb_visits&columns=nb_visits&idSite=4&idsite=4&viewDataTable=sparkline&colors=%7B%22lineColor%22%3A%22%23cac5be%22%2C%22minPointColor%22%3A%22%23ff7272%22%2C%22maxPointColor%22%3A%22%237cc28

[2022-01-27 19:33] tsteur commented on #18534
I can also reproduce this locally and something like below fixed it for me

[code]

[2022-01-27 20:08] sgiehl commented on #18694
This should be already fixed in Matomo 4.7.

[2022-01-27 21:05] bx80 commented on #18689
Yes, sorry this does work for me on 4.x-dev.

I noticed the FAQ screenshot shows a question mark help icon, whereas currently an info icon is being shown in the application. It might also be clearer to have two screenshots in the FAQ, first showing the report info hidden and highlighting the info icon and then a second screenshot showing the report info after the icon is clicked.

[2022-01-28 01:29] #18534 closed, assigned to nobody

[2022-01-28 04:56] tsteur opened #18699 "Label shortened when opening multiple subtables"
Not sure if we already have an issue.
* To reproduce, go to https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=2022-01-27&segment=&category=General_Actions&subcategory=Events_Events
* Click on `Event Names`
* First the table will look like this
![image](https://user-images.githubusercontent.com/273120/151489480-374096ae-0cb

[2022-01-28 05:00] tsteur opened #18700 "Wrong rocket icon used in no data page"
Issue was created in https://github.com/matomo-org/matomo/issues/18458 to change the header and use the rocket icon
![image](https://user-images.githubusercontent.com/273120/151490006-5faacf77-aabe-483b-b556-3d13c6b11a41.png)

But the rocket icon looks like this:

![image](https://user-images.githubusercontent.com/273120/151489943-99a54084-27cd-43d9-9359-9845a6ce71f7.png)

Is it possible to use th

[2022-01-28 07:04] suganja commented on #18693
Hi Findus23,
thank you for your reply. I am sorry, if this does no belong here, next time I will ask in the forum.

The directory for matomo in Apache is setup like this:

![grafik](https://user-images.githubusercontent.com/10153210/151501884-a1f6648b-0e5b-43f5-9935-b5f2742e6644.png)

So I am not sure, where the problem is. I will ask in the forum.

[2022-01-28 07:57] #18693 closed, assigned to nobody

[2022-01-28 10:35] sgiehl commented on #18700
We are currently using an icon in the matomo font. Using an emoji should work as well, but it would be displayed differently on every operating system depending on the fonts. See e.g. https://emojipedia.org/rocket/

[2022-01-28 11:50] adsham commented on #18612
I'd like to provide some examples to demonstrate the overreporting of direct entries in one of our clients, I can confidently say the “direct entry” attribution is far too high using all of the Matomo attribution techniques.

Here is a monthly view
![image](https://user-images.githubusercontent.com/97672873/151542150-1c5365ba-1ce0-4bed-9be2-c2a65c43f5d6.png)

Here is a yearly view
![image](https:/

[2022-01-28 16:28] mathieuroquefort commented on #14570
Hello @tsteur,
Thank you for your answer.

We didn't know this possibility of roll-up reporting. Unfortunately, it is a paid module, and could cost over 700€ /year. It would also require that we change completely our tags, which is quite complicated.
Especially, it would require to create all the sites at once. We have 700 local comitees. Not all 700 will ask to have access to their analytics. If

[2022-01-30 09:10] huye commented on #18207
I encountered this problem when using matomo. If you want to know the situation, you can install and test this statistical program. If you don't want to deal with it, take it as if I didn't mention it.

https://matomo.org/

[2022-01-30 18:50] tsteur commented on #18700
That be fine if it's displayed slightly differently 👍

[2022-01-30 19:02] atom-box commented on #18009
A user notes:

Could you please add a feature to create segments for URL pages
1 which does'nt begin with
2 which does'nt end with

Thanks a lot for the good job.

[2022-01-30 22:13] bx80 commented on #18675
HI @daniel-lerch, thanks for drawing attention to this. In the short term we can update the reverse proxy FAQ to explain how to use `trusted_hosts` setting in this scenario.

Adding an option to check the `X-Forwarded-Host` header for trusted hosts behind a reverse proxy does sound like a better approach that could be scheduled for a future release.

[2022-01-31 00:21] tsteur commented on #14570
The cost could be over 600€ /year. Note that any kind of custom development will cost a lot more than that. Just on a side note: If you were to split the tracking into 100 or 700 different sites, Matomo will likely perform better since the data can be separated per site. It's just an FYI.

Indeed all tags would need to be changed to track into a separate site and you wouldn't have historical data

[2022-01-31 00:38] tsteur opened #18701 "Fatal error "ucfirst(): Argument #1 ($string) must be of type string" in ReportsProvider"
Error: {"message":"ucfirst(): Argument #1 ($string) must be of type string, array given","file":"core\/Plugin\/ReportsProvider.php","line":37,"request_id":"9ae88","backtrace":" on core\/Plugin\/ReportsProvider.php(37)\n#0 core\/Plugin\/ReportsProvider.php(37): ucfirst(Array)\n#1 core\/Http\/ControllerResolver.php(101): Piwik\\Plugin\\ReportsProvider::factory('CoreHome', Array)\n#2 core\/Http\/Cont

[2022-01-31 00:42] tsteur opened #18702 "Ensure Google SEO metrics are returned with correct type"
Referrer: https://example.yourdomain/index.php?module=CoreHome&action=index&date=2021-10-02&period=month&idSite=1

Happens with PHP 8

Seems in one case an error happened and then we're working with a string?

[2022-01-31 04:27] thcipriani commented on #17686
Happened when "updating" an existing install. Debian sid swapped out the `php` package, so unattended-upgrades helpfully moved my personal site overnight. I grabbed this out the error log.

[2022-01-31 09:40] sgiehl commented on #18694
was fixed in #18384

[2022-01-31 09:47] #17054 closed, assigned to peterhashair

[2022-01-31 09:50] Nehagaj commented on #18041
Hello,

We use below url. It works fine for displaying the data into iframe. But it is not working while we try to export this data.

url = 'https://intranet-piwik.abc/index.php?token_auth=xyz&apiMethod=Actions.getPageUrls&module=Widgetize&action=iframe&moduleToWidgetize=CoreHome&actionToWidgetize=getRowEvolutionPopover&idSite=1&date=yesterday&period='+periode+'&disableLink=0&widget=1&label='+page

[2022-01-31 10:10] sgiehl commented on #18041
@Nehagaj So do you mean the `Export icon` link in the embedded rowevolution report does not work?

[2022-01-31 11:41] Nehagaj commented on #18041
Yes this is not working. Once we click on export we are not able to generate report and are getting the above error in a new window.

[2022-01-31 13:01] Nehagaj commented on #18041
We are getting this issue "Action iFrame not found in module API"

[2022-01-31 21:05] tsteur opened #18709 "Update orange brand color less variable in morpheus theme"
If I see this right then [@color-orange-brand: #ff9600;](https://github.com/matomo-org/matomo/blob/4.7.0-rc2/plugins/Morpheus/stylesheets/base/colors.less#L32) isn't used anywhere.

Yet at the same time we're using `#f57c00` quite often for variables. In https://github.com/matomo-org/tag-manager/pull/416/files?short_path=2b826b2#diff-a3310714e534480dda01c12cc1fdd9062b60925c446ff3fad5e51b7bec4c9fa0

[2022-01-31 21:31] tsteur opened #18710 "Different report types have different max widths (report tables don't use max available width)"
This can be reproduced for example by using Custom Reports plugin and then putting an evolution graph report on a page and on the same page a table report.

![image](https://user-images.githubusercontent.com/273120/151875986-938ce275-52f5-40a6-9c40-1125b9fa03bf.png)

The table report has a max width of 1200px configured.

You can also see this on the demo: Eg https://demo.matomo.cloud/index.php?mo

[2022-01-31 21:55] tsteur opened #18711 "Fix handling of invalid limit values for Live.getVisitorProfile"
Can be reproduced on the demo: https://demo.matomo.cloud/?module=API&method=Live.getVisitorProfile&idSite=1&format=JSON&limitVisits=all and also locally getting an error there.

PHP 8.0.

see https://github.com/matomo-org/matomo/blob/4.7.0-rc2/plugins/Live/VisitorDetails.php#L218 we might need to double check that a row is actually there.

[2022-02-01 03:02] AltamashShaikh commented on #18709
Also it will be great if we can add the same in Morpheus

[2022-02-01 05:14] tsteur opened #18714 "Fixed error when closing a notification"
Open Matomo,

Execute this code in browser console:

[code]

Then close the notification. You will see such an error
![image](https://user-images.githubusercontent.com/273120/151916169-92e1c361-a34a-4154-ab70-6098ceffa031.png)
![image](https://user-images.githubusercontent.com/273120/151916186-84c1ce40-5ae6-4b8e-8b13-2f5daebe3cdd.png)

[2022-02-01 05:20] peterhashair commented on #18082
seems like there is a test start to fail. https://app.travis-ci.com/github/matomo-org/matomo/jobs/557815501. I guess is related to this PR https://github.com/matomo-org/matomo/pull/18636/files. But doesn't look like the DB index change will cause that problem.

[2022-02-01 06:03] peterhashair commented on #18714
It seems like the  `token` param is not posted with the request.

[2022-02-01 08:08] #18701 closed, assigned to sgiehl

[2022-02-01 11:59] mikkeschiren commented on #18291
I can confirm this bug.
Manually overriding pPiwikRoot is fixing the issue, as pPiwikRoot get the domain of URL A instead of URL B.
Still present in 4.6.2.
(all sites in HTTPS)

[2022-02-01 13:34] sgiehl commented on #18711
@tsteur the problem actually is that `all` is not supported for `limitVisits`. The code that behaves differently on PHP 7 vs PHP 8 is this part:
https://github.com/matomo-org/matomo/blob/0e910f0badf1aaa6e1b34b83f4f1f9a11bd5b373/plugins/Live/API.php#L207-L211

`'all' <= 0` is `true` on PHP 7, while it is `false` on PHP 8

I'll prepare a PR to fix the handling of invalid values.

[2022-02-01 14:57] Nehagaj commented on #18041
Any updates on this issue?

[2022-02-01 15:00] sgiehl commented on #18041
Hi @Nehagaj. I'm actually not able to reproduce this. Using the URL you provided above I'm able to open the export popover and clicking export correctly opens the exported data in a new window. This works correctly for me in Matomo 4.3.1, 4.6.2 and also with latest releases and development version. Maybe updating to the latest version helps.

[2022-02-01 18:38] tsteur commented on #18711
👍

[2022-02-01 23:19] #17938 closed, assigned to bx80

[2022-02-02 00:51] tsteur opened #18719 "Fatal error: parse_url(): Argument #1 ($url) must be of type string, array in Url.php"
Was initially going to create this issue in LoginSaml. However, was then thinking `isLocalUrl` shouldn't return true or fail when the parameter is an array and it could just return `false`.

Happens with PHP 8

Request was like:

`index.php?action=singleSignOn&module=LoginSaml&target[%24foo]=1`

[2022-02-02 00:54] tsteur opened #18720 "Fix invalid parameter handling for PHP 8 in API.getBulkRequest"
Issue with PHP 8:

GET: {"filter_limit":100}

POST: {"token_auth":"XYZANONYMIZED","module":"API","method":"API.getBulkRequest","format":"json","urls":"pageUrl=https:\/\/www.foo.bar\/baz\/123"}

`urls` should have been an array but was a `string`

[2022-02-02 02:48] justinvelluppillai commented on #18662
@diosmosis @sgiehl is this issue resolved or still needing to be looked at?

[2022-02-02 05:14] diosmosis commented on #18662
Should have been fixed by https://github.com/matomo-org/matomo/pull/18672

[2022-02-02 06:48] #18662 closed, assigned to sgiehl

[2022-02-02 07:11] Geddo opened #18721 "4.7.0-b2 Update fails with MySQL 5.5"
## Expected Behavior
Updating to 4.7.0-b2 via Webupdater shouldnt be a thing

## Current Behavior
Fatal error:
`matomo/core/Updates/4.7.0-b2.php: Error trying to execute the migration 'ALTER TABLE `matomo_changes` ADD UNIQUE KEY unique_plugin_version_title (`plugin_name`, `version`, `title`);'. The error was: SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max k

[2022-02-02 07:32] MatomoForumNotifications commented on #18721
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/4-7-0-b2-update-fails-with-mysql-5-5/44603/1

[2022-02-02 08:43] prbt2016 commented on #18721
Hello ,

I am also facing issue when I try a fresh install of Matomo 4.7.0 on PHP 7.2, MYSQL 5.5, Apache 2.2.

An error occurred :

![image](https://user-images.githubusercontent.com/17871448/152119450-660b1152-05b5-4448-9247-9a7049ef1d9a.png)

The same issue occurs when I tested on another server with MYSQL 5.6.

However , script works fine on MYSQL 5.7.

On further inspection found that `{$table

[2022-02-02 09:08] Nehagaj commented on #18041
Hello,

We have recently updated the Matomo to version 4.3.1

Also we are getting this issue when we are clicking at the below green export button. Refer screenshot.

<img width="744" alt="export_issue" src="https://user-images.githubusercontent.com/91129098/152124259-ae82ed99-af60-4177-93ba-3696dcb389b0.png">

[2022-02-02 09:49] EmbDclic commented on #18721
I also confirm this problem with the last update with MySQL 5.6:

I can't change the value of innodb_large_prefix to 1 (I don't have super privileges on this database) and I can't update to version 5.7 either.

[2022-02-02 10:05] sgiehl commented on #18721
Thanks for the report. We will try to create a fix for this soon.

[2022-02-02 10:27] matmicro opened #18722 "Big issue while updating Matomo to 4.7"
I tried to upgrade Matomo online.
This broke my install.

Error :
`Erreur critique pendant le processus de mise à jour :
/matomo/core/Updates/4.7.0-b2.php: Error trying to execute the migration 'ALTER TABLE `matomo_changes` ADD UNIQUE KEY unique_plugin_version_title (`plugin_name`, `version`, `title`);'. The error was: SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too l

[2022-02-02 10:35] Globulopolis commented on #18722
Upgrade to MySql 5.7+
Or roll back changes from backup.

[2022-02-02 10:44] MatomoForumNotifications commented on #18721
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/php-version-supported/44616/4

[2022-02-02 10:45] MatomoForumNotifications commented on #18721
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-4-6-2-4-7-1071-specified-key-was-too-long-max-key-length-is-767-bytes/44608/11

[2022-02-02 10:46] sgiehl commented on #18721
The not working index can be ignored, if Matomo still works after the error

[2022-02-02 10:46] MatomoForumNotifications commented on #18721
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/critical-error-while-upgrading-to-4-7-0/44607/8

[2022-02-02 10:48] Findus23 commented on #18722
I think this is the same issue as https://github.com/matomo-org/matomo/issues/18721 so to avoid splitting the discussion to much, I will close this in favour of https://github.com/matomo-org/matomo/issues/18721.

[2022-02-02 10:48] #18722 closed, assigned to nobody

[2022-02-02 10:57] EmbDclic commented on #18721
Thanks for your feedback. It doesn't, it asks to update again. Should I execute the MySQL commands of this update (with the exception of the index command)?

[2022-02-02 13:07] sgiehl commented on #18721
@EmbDclic Yes. Makes sense. We will fix that with another update later.

[2022-02-02 13:08] mcguffin commented on #18721
As a temporary workaround for MySQL 5.5 I executed ([reference](https://stackoverflow.com/a/1814594/1983694)):
[code]

[2022-02-02 13:15] sgiehl commented on #18721
@mcguffin That will only work when **not** using utf8mb4.
We will most likely change the `plugin_name` to a length of `40` and limit the title in the key to `131` or something similar to make that work on all systems.

[2022-02-02 14:30] narfk opened #18724 "4.7.0 After triggering the automatic update a fatal error occurres"
After triggering the automatic update a fatal error occurres

## Expected Behavior
Upgrade to Matomo 4.7.0 with the well-known dialogue (Datebase update needed or similar)

## Current Behavior
After the upgrade this dialog is displayed:

[code]
The upgrade is performed with a superuser!
According to the steps of the dialogue this happens:

[code]

## Possible Solution
No idea

## Steps to Reproduc

[2022-02-02 14:44] Globulopolis commented on #18724
I have this bug too.

How to fix:
1. add an `i_am_super_user` variable with the salt from config as suggested, just to finish some actions.
2. Thereafter download https://builds.matomo.org/matomo-latest.zip and unzip with replace over you current installation.
Step 2 is required if matomo report any strange errors about any files while System Check. E.g. `File integrity check`.

PS! It's look like

[2022-02-02 14:49] narfk commented on #18724
With the variable i_am_super_user and the salt in the querystring the message 2 appears.

[code]

Disabling the mentioned plugins does not help.
But thanks anyway

[2022-02-02 14:51] Globulopolis commented on #18724
Disabling plugins will not help. Try to do step two as I'm mentioned above.

[2022-02-02 14:53] narfk commented on #18724
I have already tried this. This leads to the same result

[2022-02-02 15:00] Globulopolis commented on #18724
Ok.
Cleanup /tmp folder and do steps from FAQ https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/ if needed.

[2022-02-02 15:04] narfk commented on #18724
i did `./console core:clear-caches` before
Even the prive directories are ok:

*  Directories with write access:
 ✔ $DOC_ROOT/tmp ✔ $DOC_ROOT/tmp/assets ✔ $DOC_ROOT/tmp/cache ✔ $DOC_ROOT/tmp/climulti ✔ $DOC_ROOT/tmp/latest ✔ $DOC_ROOT/tmp/logs ✔ $DOC_ROOT/tmp/sessions ✔ $DOC_ROOT/tmp/tcpdf ✔ $DOC_ROOT/tmp/templates_c

[2022-02-02 15:11] sgiehl commented on #18724
@narfk Did you check if the file `plugins/CoreHome/vue/src/MenuDropdown/MenuDropdown.less` exists on your install? Maybe it wasn't copied over correctly.

[2022-02-02 15:21] sgiehl commented on #18719
I actually wouldn't change that in Core. At some point we should consider to use type hints for as many methods as possible. And the method `Url::isLocalUrl` should only accept a string as parameter. So the right place to fix that is the place where the method is called with a parameter that isn't validated as string before.

[2022-02-02 15:25] sgiehl commented on #18720
@tsteur should we throw an exception in case the parameter type doesn't match or would you expect the parameter to be converted to and array with one element?

[2022-02-02 15:59] courtens commented on #18724
I had the same problem. `MenuDropdown/MenuDropdown.less` is missing. Where to get it: https://github.com/matomo-org/matomo/tree/4.x-dev/plugins/CoreHome/vue/src/MenuDropdown

That worked!

[2022-02-02 16:04] MatomoForumNotifications commented on #18724
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/update-to-matomo-v4-7-0-menudropdown-less-not-found/44623/2

[2022-02-02 16:51] sgiehl commented on #18724
Hm... The file is definitely included in the last release zip. So I guess it might have been an issue with copying the file during the update.

[2022-02-02 18:11] dev-101 opened #18725 "Required Private Directories System Check - Improve Documentation"
Ok, found this after upgrade to 4.7.0 but I am not sure, maybe it was also there during 4.6.x or 4.5.x or older cycles, I wasn't checking really.

I have 2 shared plans, both running Piwik/Matomo like this:

**HOSTING A / SITE A**
runs since 2015 or so, originally a Piwik installation, later updated to Matomo
Server: Litespeed
PHP SAPI: litespeed

This is the one which has the following error in S

[2022-02-02 18:50] atom-box commented on #18724
Confirming same solutionstrategy as @Globulopolis, et al, above.

1. One directory was not copy after the update:
Directory ../../CoreHome/vue/src/MenuDropdown/ was missing!

2. After copying that directory from the latest.zip file or from https://github.com/matomo-org/matomo/tree/4.x-dev/plugins/CoreHome/vue/src/MenuDropdown to the server everything works fine.

[2022-02-02 19:26] tsteur opened #18726 "No longer track various browser plugins"
Can we stop tracking of `Flash`, `Java`, `Windowsmedia`, `Silverlight`, `Realplayer` and `Quicktime`?

These aren't really used anymore. Putting this for now into Matomo 5.0 so we don't forget discussing this when we get to it.

![image](https://user-images.githubusercontent.com/273120/152222054-4f2b5da1-60fe-4bef-abd8-dcb1831c9964.png)

I believe in Matomo 4.0 or 3.0 we already stopped tracking s

[2022-02-02 19:33] tsteur opened #18727 "Restrict plugin name to 60 characters"
Follow up from https://github.com/matomo-org/matomo/pull/18723/files#r797936437

We have been using 40 characters in some columns, in some others 60 for `plugin_name`.

We should adjust `isValidPluginName` method to check the length in the regex and if not valid, throw an exception? It may be painful for some people to rename the plugin but at least on Marketplace the length has been already enfor

[2022-02-02 19:40] tsteur commented on #18720
No preference. Mostly concerned around backwards compatibility. Do we know what PHP 7.X did? be great to keep kind of same behaviour.

[2022-02-02 19:42] tsteur commented on #18719
Wouldn't that create in the end more work for everyone? Like we could simply say for everyone when array given, it is not a local URL. Similarly to when empty, it is not a local URL. It simply simplifies it for everyone. Not sure if enforcing a string for the sake of it is needed?

[2022-02-02 22:06] bx80 commented on #18725
Hi @dev-101, thanks for raising this issue and taking the time to explain in detail :+1:

This system check is expecting an HTTP error code in the 4xx range, such as a `403 inaccessible` or `404 not found` when checking the private directories. Matomo will automatically create .htaccess files to block access to private directories, but not all web server configurations support these default rules

[2022-02-02 22:06] peterhashair commented on #18699
also got another interface bug here, I think
![image](https://user-images.githubusercontent.com/3783072/152245426-65a8f737-4ffb-48f2-8a11-333b59615637.png)

[2022-02-02 22:24] Findus23 commented on #18726
See also https://github.com/matomo-org/matomo/pull/15627 and #15956

[2022-02-02 23:28] tsteur commented on #18725
FYI there is this FAQ: https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-private-directories-are-accessible/

Maybe there's a quick tweak we could do to make something more clear?

[2022-02-02 23:46] atom-box opened #18730 "Make the icon clickable for Returning Visitor"
For the Returning Visitor icon, make it clickable, so it can show the visitor profile.

_One small thing I'd like would be the ability to click the "returning visitor"-icon to view visitor profile. Currently the icon is not clickable at all and I think it would be quite logical to use it to open visitor profile
(unless you want to retain it unclickable for using it for something else later on)._

[2022-02-02 23:49] dev-101 commented on #18725
That's the thing confused me in the begining, Matomo doesn't create local .htaccess here, which is weird (it should).

Then I tried copying .htaccess (which Matomo uses for /tmp/ dir 2 levels above) into /tracker/ dir, but it didn't work (didn't block anything):

[code]

Yes, definitely.

[2022-02-03 00:46] Starker3 opened #18731 "Add option to include all periods in scheduled reports"
Currently when a user sets up a scheduled report, they can pick the schedule and period included in the report. However, the schedule and period effectively operate independently from each other.

Eg. if I create a "Weekly" report for the "Day" period, I only get the report for the last day in the week and similar for month periods.

It would be quite useful to be able to select a smaller period f

[2022-02-03 01:55] Razique commented on #18721
Chiming here in case you encountered the error.
This is what I did to solve the issue (as `root` into my DB instance)

[code]

This enable large prefixes as a global setting:

[2022-02-03 03:47] peterhashair commented on #18082
Not sure this is random. After ce2782827667e4cbf5162cfc7a84bfe657de96d0 start to fail

[code]

[2022-02-03 07:43] mardy commented on #18485
Happened today to me as well. Permissions on the `config/global.php` are the same as all other files installed with Matomo, and I never touched them.

I added the lines showed by @liping521 above, and they fixed the issue for me too.

[2022-02-03 09:00] narfk commented on #18724
I have tried to install 4.7.1 this morning.
After the automatic update i saw the same dialogues

[code]

And after that the same error happend

[code]
I have checked the vue Files. I seems the the directory was there - but somehow invisible (i didnt see it in finder but in the shell i've got the message that the directory is there).
So I downloaded the archive matomo.zip manually und put the whole

[2022-02-03 09:12] #18714 closed, assigned to peterhashair

[2022-02-03 09:14] #18721 closed, assigned to nobody

[2022-02-03 10:07] 54mu3l commented on #18132
fyi: I just updated my system to 4.7.1 and I still get the same error!

The system check page still shows the following urls (without the sub directory):
[code]

Instead I would expect something like this:
[code]

[2022-02-03 10:15] 54mu3l commented on #17945
Has this been fixed in 4.7.1?
Because I just updated my systems to 4.7.1 and the links to the websites **do work now**.

But not all the urls are correct yet. The logo image for example still points to
`https://mydomain.com/plugins/Modern/images/logo.svg?matomo`
instead of
`https://mydomain.com/matomo/plugins/Modern/images/logo.svg?matomo`

That means the logo still won't show (same as in the scre

[2022-02-03 10:29] sgiehl commented on #18720
`array_map` on a string results in `NULL` on PHP 7. Will create PR to make that behavior consistent across PHP versions.

[2022-02-03 10:48] MatomoForumNotifications commented on #18724
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/4-6-2-4-7-1-update-error/44631/2

[2022-02-03 10:54] mrmason commented on #10453
FYI, upgrading to php 7.2 fixed this error entirely. Probably safe to close this issue as I can't imagine many people are still running php 7.1.

[2022-02-03 11:04] level420 commented on #18724
@tsteur this issue is assigned to milestone 4.7.1 but does not seem to be resolved there, right? But 4.7.1 is already released.

[2022-02-03 11:33] blizzz commented on #10453
I have it running on 7.2 and see it. Yet have pending Matomo updates.

[2022-02-03 15:36] alexhass commented on #18132
Same here with PHP-FPM.

Aside of this Debian 9 has no ProxyPassMatch rule set. The config looks like this only:

[code]

[2022-02-03 16:47] darkSideOfPink opened #18735 "PrivacyManager.ipAnonymizerEnabled overwritten on restart"
In Matomo 4.6.2 the option PrivacyManager.ipAnonymizerEnabled is overwritten when the pod is restarted.

## Expected Behavior
The value of ipAnonymizerEnabled stays the same in the database

## Current Behavior
After a restart, the value is changed to 0

## Steps to Reproduce (for Bugs)
1. Start Matomo, go to Administration -> Privacy -> Anonymize data
2. Check the Anonymize Visitors' IP addresses

[2022-02-03 18:27] tsteur commented on #18724
@level420 it's not resolved. Moved this now to 4.7.2

There's a chance it won't happen anymore with the 4.7.1 release but it's not clear yet

[2022-02-03 19:58] McSodbrenner opened #18736 "setCustomRequestProcessing does not get"Page Performance" parameters passed"
## Current Behavior
I rewrite the GET parameters of the tracking request via setCustomRequestProcessing(). However, I noticed that the page performance parameters (https://developer.matomo.org/api-reference/tracking-api#optional-page-performancehttpsmatomoorgfaqhow-tohow-do-i-see-page-performance-reports-info) are not included there. They are added to the parameter string at a later time.

## Expe

[2022-02-03 20:32] #18720 closed, assigned to sgiehl

[2022-02-03 20:58] SlavikCA commented on #6398
reproduced in 4.7.0 running in Docker container:

the error happend, when I was running `import_logs.py`

[2022-02-03 21:12] bx80 commented on #17945
Hi @54mu3l, thanks for following this up.

I've tested this with 4.7.1 and the logo paths should be correct as long as the `proxy_uri_header` config option is set.

Could you try adding `proxy_uri_header = 1` to the `[General]` section of your `config/config.ini.php` file and see if that fixes your logo paths?

[2022-02-03 22:41] bx80 commented on #18725
The `.htaccess` files that Matomo generates contain Apache file rules, although lightspeed supports rewrite rules in `.htaccess` files I'm not sure that it supports file rules.

Maybe we could improve the FAQ with some extra troubleshooting steps at the bottom?

- Check if the site configuration allows overrides (otherwise .htaccess files will be ignored)
- Suggest using a rewrite rule if not usin

[2022-02-03 22:58] bx80 commented on #18132
Hi @alexhass,
If your Apache config is using `FilesMatch` / `SetHandler` instead of ProxyPass then you could use a `FilesMatch` rule to deny access to the private directories with something like:

[code]

[2022-02-03 23:01] bx80 commented on #18132
Hi @54mu3l,
Could you try adding `proxy_uri_header = 1` to the `[General]` section of your `config/config.ini.php` file and see if that fixes the system check file paths?

[2022-02-03 23:39] peterhashair commented on #18692
Just trying to reproduce this one, the only case I found. When your site Selector is Site 2. And Permission as listed below, this will appear. @Starker3 @tsteur  is that sound about the right reproduction?

Site 1:
 - Admin:
   User A
 - No Access:
   User B

Site 2
  - Admin:
    User B
 - View:
    User A

[2022-02-04 02:24] AltamashShaikh commented on #18082
@peterhashair Same is happening with me on #18732

[2022-02-04 03:02] peterhashair commented on #18082
@AltamashShaikh  it seems like started to fail quite often, will have a deep look now.

[2022-02-04 03:19] tsteur opened #18740 "Marketplace Reviews no longer shown"
follow up from https://github.com/matomo-org/matomo/pull/18215/files

<img width="938" alt="image" src="https://user-images.githubusercontent.com/273120/152466506-b274613f-e369-4227-8940-19f2038eab76.png">

It's not allowing `shop.matomo.org` to be opened in an iframe.

To reproduce go to Marketplace, then click on a premium feature, then click on `Reviews` tab

[2022-02-04 05:42] peterhashair commented on #18082
It seems like related to travis. github action works https://github.com/matomo-org/matomo/actions/runs/1793294031

[2022-02-04 08:27] dev-101 commented on #18725
Prepare for more weirdness: LiteSpeed apparently does support < files > directives, I just checked accessing URLs both to /tmp/ and /tmp/cache/ links, all returning 403 properly on both sites. So, why it didn't work when I manually copied it into /tracker/ dir I don't really know.

[2022-02-04 09:40] sgiehl commented on #18736
@McSodbrenner The method `configCustomRequestContentProcessing` is called last when generating the request.
But the page performance parameters might not yet be available when the first tracking request is fired. If that is the case the parameters will automatically be included in the next request (on the same page). If you want to have all parameters in one request you might need to wait until th

[2022-02-04 09:40] #18736 closed, assigned to nobody

[2022-02-04 09:43] sgiehl commented on #10453
this was fixed with #17877

[2022-02-04 09:43] #10453 closed

[2022-02-04 09:43] 54mu3l commented on #17945
Hi @bx80, thanks for the hint. Now it seems to work!

[2022-02-04 09:44] 54mu3l commented on #18132
Ok it works now!

I just needed to add `proxy_uri_header = 1` to the `[General]` section of the `config/config.ini.php` file.

Thanks everyone!

[2022-02-04 10:05] #18711 closed, assigned to sgiehl

[2022-02-04 10:25] sgiehl commented on #18719
It won't produce more work actually. People should think about which parameters they pass through to certain methods. Using more stricter types makes the code a lot more stable over time. And if we now start implementing more of such workarounds it will later be a lot more work if we try to use more stricter types.
In that special case `$_GET['target']` is passed to `Url::isLocal`. I would assume

[2022-02-04 11:10] sgiehl commented on #18735
@darkSideOfPink Thanks for the report. So is this more likely a display issue? The values is stored correctly in the database, but the UI doesn't reflect it. Or is the UI value only changing after restart?

[2022-02-04 11:13] darkSideOfPink commented on #18735
@sgiehl No, it's more then a display issue, it doesn't hide the IP addresses anymore either, the value in de database is changed after restart, so the option is actually altered

[2022-02-04 12:03] sgiehl commented on #18735
That sound weird.
So the value is changed in the database when you change it in the UI, but is reset when restarting pod?
Is there anything done with Matomo or the database upon restart?

[2022-02-04 12:09] darkSideOfPink commented on #18735
Yes, I find it weird too. Especially since other values aren't changed. There is nothing done with Matomo or the database upon restart as far as I could track down. Like I said, on my local computer with persistent volume it does work, so it feels like it gets the value from there somewhere and since there isn't a persistent volume, it uses the default? I'm not sure, but like I said, other values

[2022-02-04 12:09] daniel-lerch commented on #18301
From a user's perspective I would not consider two separate settings confusing. On the contrary, before reading this issue, I had no idea whether Matomo does mask IPv6 addresses at all. In my opinion two separate settings for IPv4 and IPv6 would improve clarity and give users more control about which data they collect.

[2022-02-04 16:10] sgiehl commented on #18735
Those settings are both stored the same way. So if one gets lost, actually the other one should reset too.

For what exactly are you using a non persistent volume? Matomo requires at least the config to be persistent

Note: There are only two places where the ipAnonymizer is disabled:
- When calling the API method `PrivacyManager.setAnonymizeIpSettings` with `anonymizeIPEnable=0`
- Within the inst

[2022-02-04 16:19] sgiehl commented on #18301
@tsteur we should maybe at least consider to show in the UI how IPv6 addresses are masked, so it's clear that the setting affects both IPv4 and IPv6. Should be easy to simply add some examples like we have for IPv4...

[2022-02-04 16:33] sgiehl commented on #18740
@tsteur According to the browsers message the problem actually is, that `shop.matomo.org` only allows to be framed by `plugins.matomo.org` by sending the csp header: `frame-ancestors https://plugins.matomo.org;`. I guess we would actually need to allow any source, as it might be opened by any matomo instance.

In addition it might also be needed to add `frame-src: *.matomo.org` within Matomo, but

[2022-02-04 17:06] mkassir95 opened #18745 "updating to version 4.7.1 has broken Matomo"
updating to version 4.7.1 has broken Matomo .
I was using version 4.6.2
I used automatic update option
I restarted my server and the problem persists

![image](https://user-images.githubusercontent.com/72728047/152571629-b0e387d1-9b68-4f62-a7b2-ecf777cf14a3.png)

[2022-02-04 20:31] Findus23 commented on #18745
Can you please check the PHP or Matomo error log for more details on what exactly doesn't work?

[2022-02-05 22:42] e7o-de opened #18746 "Don't suggest a chown root:root"
Did an update via console core:update. Was doing it as root, as ... yeah, bash of www-data isn't that functional :) Anyway, got that message at the end:

[code]

Of course, I just copied and executed that command, as it looked ok. Then I figured out, that Matomo doesn't want to run anymore, so I did a chown with www-data:www-data.

I suggest to think about that hint. Not entirely sure wether it's

[2022-02-07 08:35] sgiehl commented on #18730
Hm. I actually don't see any benefits in linking that icon. It's not visible for all visitors and there is already a link to the visitor profile. In addition no other icon is afaik currently clickable, so that would be some kind of inconsistent afterwards.

[2022-02-07 08:52] darkSideOfPink commented on #18735
Thank you for your reply. I looked into it. The installation does get called when the pod is restarted because it doesn't have persistant storage (so no config file). I will try to convince the company to use persistant storage. Still find it odd only this value is changed

[2022-02-07 10:27] sgiehl commented on #18735
@darkSideOfPink maybe copying in the config file from an external static source might be another option.
But not having the config.ini.php persistent is not recommended. As changing some settings in the UI or even when updating Matomo might add/change the config file. And that might get lost on restart in your case and could in some cases even cause other trouble.

[2022-02-07 11:21] alexhass commented on #18132
That is too general. That could affect other applications on the server, too.

[2022-02-07 12:09] jorgeuos commented on #18486
This is something we've been wanting for a really long time. But I'm unsure if Mysql/MariaDB supports progress for INSERT's. So you would probably have to calculate it somehow, maybe it would be wise to add a column with `duration_time` per report and you can get an average generation time for that specific report.
Would be useful to identify slow queries too. E.g if they are using `contains` on h

[2022-02-07 15:33] MatomoForumNotifications commented on #18724
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/4-6-2-4-7-1-update-error/44631/9

[2022-02-07 16:03] sgiehl opened #18750 "Improve role/capability handling in usermanager"
When editing the permissions for a user, it is currently always possible in the UI to add capabilities.
But if the users doesn't have any access to a certain site, the API request for adding the capability does nothing, but still returns success.

This is somehow unexpected, as the API should throw an exception if adding a capability isn't possible. And also the UI shouldn't show the capability se

[2022-02-07 17:25] petru opened #18752 "Map of Romania is missing a county (Tulcea)"
## Expected Behavior
The Southeastern part of the country should have two counties: Constanța (which is present) and Tulcea, which is missing.
## Current Behavior
The entire Southeastern part of the country is occupied by Constanța county.

## Possible Solution
Map update

## Steps to Reproduce (for Bugs)
1. Check the map of Romania in the reports.

## Context
Inaccurate stats.

## Your Environmen

[2022-02-07 18:02] #18694 closed, assigned to nobody

[2022-02-07 19:41] atom-box commented on #18724
We continue to get a few emails a day about this.

And I don't know if this **Angular.js** file error is related. A user reported these
failures to load **plugins/CoreHome/angularjs/reporting-page/reportingpage.directive.html** and two other files  on February 4th:
[code]

[2022-02-07 20:38] tsteur commented on #18750
Makes sense, put it in 4.9 as it's quick to do. If super quick feel free to do it in 4.8

[2022-02-07 20:39] sgiehl commented on #18752
Hi @petru. Our maps are unfortunately quite outdated. We will at some point work on new maps in #11929

[2022-02-07 20:40] tsteur commented on #18746
Thanks for mentioning this @e7o-de

It will also fix https://github.com/matomo-org/matomo/issues/17862 and will close that issue as a duplicate.

I think in this example we could adjust the wording and mention that the command may be executed using the wrong user and not only suggest the chown command to prevent such cases. If the user is `root` we could also mention specifically that this is like

[2022-02-07 20:40] tsteur commented on #17862
closing this one as a duplicate of https://github.com/matomo-org/matomo/issues/18746 and we'll work on that issue as part of the 4.9 release.

[2022-02-07 20:40] #17862 closed, assigned to nobody

[2022-02-07 20:46] tsteur commented on #18301
@sgiehl that sounds good. We can tweak the inline help for example and make sure to mention that this anonymises IPv4 and IPv6.

[2022-02-07 20:50] tsteur commented on #18719
@sgiehl we can also tweak it in the plugin and adjust it there. However, I still think it's fine/better to fix it in core. Not all code is equal and sometimes it's also good that you can just throw whatever input to a method that validates this input and then you know if it is valid or not. In the end things are easier for the developer because they don't need to worry about it and can do less wro

[2022-02-07 21:03] #18700 closed, assigned to peterhashair

[2022-02-07 21:26] mattmary opened #18753 "Wrong script tag in google tag manager"
Hi support,

the generated script from google tag manager is <script >. it should be <script>

## Expected Behavior
Having this content
`
<script>
var _mtm = _mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src="https://host.com/wp-con

[2022-02-07 21:34] webcoreinc commented on #15608
This is definitely a bug in Matomo. We are using on premise and cannot install any plugins.

Hope they release a patch soon.

[2022-02-07 22:52] rr0001 commented on #18745
I also had the same error, plus another that said:

[code]

I was able to resolve the issue by manually downloading the zip file and overwriting all the files. I also had backed up my `config/config.inc.php` file.

[2022-02-07 22:53] daniel-lerch opened #18755 "FAQ about mobile/desktop app tracking"
There are many issues about better support for mobile app tracking but no activity. As I am just asking for better documentation and not for any changes I opened another issue.

I am sure it's possible to track mobile and desktop apps with Matomo, although some useful features are still missing. However, there is barely any documentation about it.

- @tsteur wrote [a blog](https://matomo.org/blog/

[2022-02-07 22:55] mkassir95 commented on #18745
Yes this error also appeared in my case but i was not able to reproduce it

On Tue, 8 Feb 2022, 00:53 Ralph R., ***@***.***> wrote:

[2022-02-07 23:50] tsteur opened #18756 "JavaScript error in visitor map: Cannot read properties of undefined (reading 'name')"
Got below after clicking around in the visitor map (zoom out and then click on a country etc). Can't reproduce exact steps right now but wanted to create the issue anyway.

    at displayUnlocatableCount (visitor-map.js?cb=aed5ef3988e14fa9cba7f91adde88452:711:89)
    at Object.<anonymous> (visitor-map.js?cb=aed5ef3988e14fa9cba7f91adde88452:816:29)
    at i (jquery.min.js?cb=aed5ef3988e14fa9cba7f91

[2022-02-07 23:52] tsteur opened #18757 "Missing translation in visitor map (only shows placeholders)"
Clicked on country USA which had 1 visitor.

Then looked at the info icon in the bottom left and noticed it wasn't translated or only shows placeholders
<img width="545" alt="image" src="https://user-images.githubusercontent.com/273120/152891610-336f1157-066e-4f31-b471-d4fff7b89c99.png">

[2022-02-08 01:05] bx80 commented on #18132
Yes, that's just a generic example. If there are other applications being hosted under the same configuration then the rule would need to be adjusted to take that into account. :slightly_smiling_face:

[2022-02-08 02:13] tsteur commented on #18740
👍  thanks for this. created an internal issue

[2022-02-08 02:13] #18740 closed, assigned to nobody

[2022-02-08 03:46] #18709 closed, assigned to sgiehl

[2022-02-08 09:02] #18702 closed, assigned to sgiehl

[2022-02-08 09:19] Findus23 commented on #18755
There is https://developer.matomo.org/guides/tracking-api-clients which lists all official Matomo SDKs (including the iOS and the Android SDK) and links to their documentation. I think a short summary of this is also displayed when adding a new site to Matomo.

[2022-02-08 09:29] sgiehl commented on #18756
Wasn't able to reproduce that when clicking through the map for a while. Did that happen for a certain country only?

[2022-02-08 09:32] Findus23 commented on #16036
I think this can be closed now. If someone is still experiencing an issue with the plugin, please contact the premium plugin support.

[2022-02-08 09:33] #12444 closed

[2022-02-08 09:34] Findus23 commented on #10185
I think this changed anyway with Matomo 4, so if anyone still has this issue, please create a new issue (and maybe mention this one)

[2022-02-08 09:34] #10185 closed

[2022-02-08 13:09] sgiehl commented on #18719
We definitely need to fix that in the plugin as directly accessing and using request variables for anything should only be done if it's really needed.
And regarding fixing that in core I would still disagree. There is a good reason why PHP started to more and more introduce type hints. A (good) developer should always think about what his variables can contain and what they are used for. And if a

[2022-02-08 14:18] hoermannklaus commented on #15259
I am using Matomo in version 4.7.1 and still get the Warning "Your server is using an NFS filesystem. This means Matomo will be extremely slow when using file based sessions."
I though as defacto standard matomo uses database bases sessions.
Why am I seeing this warning then?

I want to have a nice system check, with all green checkmarks. :-)

[2022-02-08 15:32] sgiehl commented on #8498
closing this one in favor of #15259

[2022-02-08 15:32] #8498 closed

[2022-02-08 15:34] sgiehl commented on #15259
Hi @hoermannklaus. You are right, the message is still a bit missleading. But as mentioned above the Matomo UI might still work a bit slower than normal on NFS, as all templates and assets are stored in the `tmp` path

[2022-02-08 15:43] hoermannklaus commented on #15259
Yes I read the above statement. But this is nothing I could change, as I deploy Matomo on our internal cluster. And I am not in the position to make changes to the underlying storage (and I do not want to).
So I guess I have to live with this fact, not having a "clean" system check.

[2022-02-08 17:04] peterbo commented on #17123
@tsteur - figured it out!

In all instances that showed that error, I'm using:

[code]

to speed up the engagement metrics processing. After commenting this out, the Engagement metrics are coming back.

[2022-02-08 18:56] sgiehl commented on #17123
@peterbo That's interesting. I guess that somehow causes problems with the segments matomo tries to process internally. Actually those segments are defined "escaped" (like `visitorType%3D%3Dnew`). So maybe it considers them as already archived, but doesn't use them later as the segment doesn't exactly match or something like that.
@tsteur guess we should investigate where the problem is. Afaik we

[2022-02-08 19:43] tsteur commented on #18756
@sgiehl it happens when you click on a country like US, and then click again quickly while the data is still loading so that the regions are only shown for a very short time. I'll move it into backlog.

[2022-02-08 19:45] tsteur commented on #17123
Great find @peterbo and glad it works now!

As it's probably not too often the case that this happens I moved it out of the milestone for now.

[2022-02-08 20:06] daniel-lerch commented on #18755
I am aware of this guide but it does not help me. The SDKs are not more than stateful wrappers around the HTTP Tracking API.

What I am missing is an example which explains how to misuse Matomo's web analytics features to track a native application which does not have an URL, might crash with an exception, has to configure a custom user agent, etc.

Something like [this blog](https://matomo.org/bl

[2022-02-08 22:35] jmumby opened #18760 "Add an ID to all headings"
It would be useful if all headings in the UI had an `id` this is utilised well in General settings for example https://example.innocraft.cloud/index.php?module=CoreAdminHome&action=generalSettings&idSite=8&period=day&date=yesterday#TagManager

## Summary
From a support perspective it would be helpful to link directly to a setting a new user needs to change to improve their experience and expedite

[2022-02-09 02:52] #18757 closed, assigned to sgiehl

[2022-02-09 03:00] Starker3 opened #18762 "Add option to compare reports periods and segments in Email reports"
Basically this would be the same as the comparison feature in the Date Selector and Segment selector.

It could be quite useful to a lot of people if this was available in the email reports so that they can easily see the comparison between different segments or to see the comparison of the report data from the current period to the previous period (I.e. week on week or month on month).

Currently

[2022-02-09 03:04] Starker3 commented on #18762
FYI this is related to #17323 - but that is a bug report about the date comparison showing in the UI and not actually working.

[2022-02-09 03:09] peterhashair opened #18763 "The string to escape is not a valid UTF-8 string."
## Expected Behavior

Got this error, when accessing this url
[code]

[code]

It seems like there is a special URL
![image](https://user-images.githubusercontent.com/3783072/153114519-80f6fb0a-80f1-4822-94c0-74b1a5da3ff7.png)

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating Syst

[2022-02-09 05:29] weixuezhang opened #18764 "Goals->Overview, after clicking on sparkline of a goal's metrics (conversions or conversion rate), the top evolution graph doesn't show metrics of the goal"
On https://demo.matomo.cloud/, can reproduce this issue.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2022-02-09 08:36] sgiehl commented on #18763
@peterhashair I guess you are using UTF8MB4? could you check if those "broken" characters were stored broken in the database? Did you track them manually somehow or were the generated by the visitor generator plugin?

[2022-02-09 11:50] harripaalanen opened #18765 "Matomo not working properly in Azure App Service with PHP 8 and Nginx"
We are having problems running Matomo 4.6.2 in Azure App Service (Linux based) with PHP 8 and Nginx server. If we run Matomo from the App Service's /home/site/wwwroot/ directory the problems occurs. If we copy the Matomo files over to different directory (/var/www/html owned by the same user running the Nginx) it works just fine. /home directory should be used for apps deployed in App Service.

Is

[2022-02-09 13:10] 65Q2M89mBVP53sCK commented on #18724
Just a thought:
Could the case sensitiv / case insensitive be a problem
I develop with MacOS (case insensitive) in a Docker container and deploy to Ubuntu Case sensitive wit git and Docker.

after update in the docker container on ubuntu the problem does not occurs.

[2022-02-09 13:27] sgiehl commented on #18765
Hi @harripaalanen. Thanks for creating the issue. To me this more likely sounds like a webserver configuration issue.
What exactly is the cause for css and images no being loaded? Are the the requests maybe returning a 404? Maybe the user running ngnix didn't have permission to access all files in the Matomo directly and thus couldn't deliver them. Or some kind of webserver configuration prevented

[2022-02-09 13:43] 65Q2M89mBVP53sCK commented on #18724
Oh yeah!

After update and manually replace in my macOS / Docker Environment:
[code]

After checkin in Git and run it with ubuntu / Docker
[code]

After renaming it on Ubuntu it seems to work.

I do not understand why.
Maybe a git bug?

[2022-02-09 13:59] weixuezhang opened #18766 "Show the selected conversion rate on Goals->Overview evolution graph"
Goals->Overview, selecting any goal's conversion rate, on the top evolution graph always shows zero.

We can reproduce this issue on https://demo.matomo.cloud/.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Br

[2022-02-09 14:03] 65Q2M89mBVP53sCK commented on #18724
Here is my fix

Macos:
[code]

After that (build and start on ubuntu) it works fine

[2022-02-09 14:05] harripaalanen commented on #18765
Yeah, it might be a configuration issue but the strange thing is that exactly the same webserver configuration works with different document root. And the two documents roots have equal contents. Only difference seems to be the permission stuff which we cannot control.

[2022-02-09 14:21] rosa2 commented on #15451
Hello and a pleasure to be able to give a little in this great community

I was having this problem also.
I followed this guide (one of the first when you search for Debian 10 and Matomo)
https://help.clouding.io/hc/en-us/articles/360015906879-How-to-Install-Matomo-Web-Analytics-on-Debian-10
There the user is created in mysql

`CREATE USER 'username'@'localhost' IDENTIFIED BY 'password';`

Then wh

[2022-02-09 18:37] vikenbauer commented on #10257
@arosenhagen , how do you create the database? I've tried to repeat the steps you tell above, but it doesn't allow to activate ExtraTools as there is no database created (and I've to activate ExtraTools for being able to run step e ).

[2022-02-09 20:29] bx80 commented on #18766
Hi @weixuezhang, thanks for reporting this. It looks like the top evolution graph on the goals overview page doesn't load the goal conversion or conversion rate when clicking on a specific goal's details. Instead the overall period values are still shown (in my test these were not zero but still the wrong figures)

[2022-02-09 20:36] bx80 commented on #18764
Duplicate of #18766

[2022-02-09 20:36] #18764 closed, assigned to nobody

[2022-02-09 21:23] Starker3 commented on #18692
@peterhashair That might be how to reproduce it, if you want I can test it and see if I get the same results with such a setup?

[2022-02-09 21:31] Starker3 commented on #18524
FYI this is still happening on 4.7.1 for newly created segments
![image](https://user-images.githubusercontent.com/20905821/153293392-fde35caa-fd87-4ad5-8b32-cee7082f3a78.png)

[2022-02-09 21:41] peterhashair commented on #18692
@Starker3 that would be great.

[2022-02-09 22:04] atom-box commented on #18435
A user noticed this issue:
_"The one thing I want to see improved? The ... file checks during the update. Every ... time the updater nags me about supposedly unexpected files that I'm supposed to manually delete before I can continue. each. .... Just. These are files that Matomo put in there himself during the last update, why are they unexpected? And if they suddenly bother you, why doesn't the u

[2022-02-09 23:06] atom-box opened #18768 "Spammers feature not up to date in Release 4.7.1"
A user writes:
_It seems your matomo-org/referrer-spam-list is not updated in the latest Matomo version 4.7.1. I compared some latest additions (like #1289 and #1309) to this file with the file in our Matomo installation and these are missing.
I ran 'composer require matomo/referrer-spam-blacklist'. The content of file equals the content in our install, but this file has as date: 2020-08-10!_

[2022-02-09 23:12] sgiehl commented on #18768
The file should be automatically updated when running scheduled tasks. But we should maybe change our composer requirement to the main branch of the repo or regularly tag versions there

[2022-02-10 01:52] bluikko commented on #10257
It does work but it is very, very painful.

The most stupidest thing of all (...I've ever seen?!) is that the database is not fully initialized until first HTTP GET to the website!!

[2022-02-10 02:25] tsteur commented on #18719
Like mentioned in previous comment, we can fix it in the plugin, it's fine. Generally, it's great to when devs don't have to think about the code etc and it just works and not everyone can know everything. When we fix it in the plugin, then I would expect as part of this issue we create a new guide on developer.matomo.org eg under the `Develop -> Plugin Basics` section on how to handle request par

[2022-02-10 10:40] #18609 closed, assigned to peterhashair

[2022-02-10 11:25] ts1985 commented on #18612
We have the same problem. I think most have the same problem and it's important to find a solution for this. The conversions are thus virtually useless, since it distorts everything.
Without configuration you have conversions to the payment providers, but you want to know where the visitor originally came from and not which payment provider he used.
If you put the payment providers on the referral

[2022-02-10 11:31] adsham commented on #18612
[mattab](https://github.com/mattab) , [tsteur](https://github.com/tsteur)

Perhaps then this is a bug rather than an enhancement? - it seems that many of us are experiencing this issue.

[2022-02-10 11:44] ts1985 commented on #18612
I can give you these details:

- No they don't use another browser to pay
- It's not just PayPal. We have several Payment Providers, all with the same problem.

[2022-02-10 18:16] atom-box commented on #18724
The emails from users experiencing this bug mostly stopped after February 4th, when we got a half dozen or so.
We only got two new emails about it this week: today and two days ago.

[2022-02-10 22:27] tsteur opened #18771 "Some JS events on entities no longer triggered"
On cloud in `javascripts/account.js` we are listening to some events when eg a site gets added and then check if the user is allowed to create another user or site.

We just noticed in tests this may be broken / no longer working. Likely because of `vue.js`.

We're doing in the code things like

[code]

Can we check if these events are still triggered?  Eg I couldn't find any event named `UsersMan

[2022-02-10 22:36] diosmosis commented on #18771
@tsteur on my 4.5.0 checkout I can't find UsersManager.initAddUser. The other events should still triggered. I tested locally and if I add:

[code]

to some JS, then try to add a segment, I will see the output. It's possible the initAddUser method was removed some time in the past. I'll see if it's in any older files.

[2022-02-10 22:56] diosmosis commented on #18771
@tsteur the UsersManager.initAddUser event was removed in the users management rewrite, added it back to #18583 in https://github.com/matomo-org/matomo/pull/18583/commits/9a50c8626e7dd31f67ec9656166f7134c45ad04b.

[2022-02-10 22:56] diosmosis commented on #18771
The other events should work as long as they are present.

[2022-02-10 22:58] tsteur commented on #18771
great 👍  thanks a lot

[2022-02-10 23:27] tsteur opened #18772 "Dependent archives don't get invalidated when invalidating reports making them show outdated data"
refs DEV-2418 for more details.

refs #18773 which might fix this issue as well depending how it is fixed. If #18773 fixes it by fixing the invalidation, then this is also fixed.

I noticed when archiving a week, then in https://github.com/matomo-org/matomo/blob/4.7.1/core/Archive.php#L629-L643 we archive up to 2 days into the future. That means if today is `2022-02-09`, then when archiving this w

[2022-02-10 23:29] tsteur opened #18773 "Dependent archives show only partial data or no report data"
refs DEV-2418 for more details.

When archiving a week, then in https://github.com/matomo-org/matomo/blob/4.7.1/core/Archive.php#L629-L643 we archive up to 2 days into the future. That means if today is `2022-02-09`, then when archiving this week we also archive `2022-02-10` and `2022-02-11`. I noticed this in the archive tables:

<img width="1090" alt="image" src="https://user-images.githubuserco

[2022-02-11 01:01] tsteur opened #18775 "Segmented visits log might show incorrect title"
Looks to me like a regression. I went to https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=visitConvertedGoalId%3D%3D7&category=Goals_Goals&subcategory=4

And clicked on the segmented visitor log link. Got this:

<img width="1414" alt="image" src="https://user-images.githubusercontent.com/273120/153522167

[2022-02-11 01:06] tsteur opened #18776 "Segmented visitor log in a goal page doesn't forward the selected segment"
To reproduce visit a goal page and have a segment applied. For example https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=visitConvertedGoalId%3D%3D7&category=Goals_Goals&subcategory=4

Then click on the link for segmented visits  log.
<img width="361" alt="image" src="https://user-images.githubusercontent

[2022-02-11 01:48] rosa2 commented on #18649
Hello again
I am very happy I am able to install Matomo for a new site.
This time is for html pages and I don't use any CMS.
I keep getting wrong the days distribution in the Matomo Dashboard calendar date selector.
February starts in it on Monday for 2022 and that is one day before because this year February starts in Tuesday.

_Matomo Version | 4.7.1_

In Diagnostic/System Check I get well the h

[2022-02-11 11:19] dev-101 opened #18781 "Show correct "Rows to display" on Evolution graph"
_This issue is related to one I reported before, just can't find it right now. In older issue I complained that "Rows to display" drop-down selector is missing if we use default "Last 30 days" configuration in **Admin Dashboard > Personal > Settings** to be shown in widgets (etc.) when we open **/matomo/index.php** URL (default dashboard), while on Behavior > Pages > Open Row Evolution (for partic

[2022-02-11 14:38] sgiehl commented on #18649
@rosa2 Thanks for the update. Which timezone is the Matomo site configured for and in which timezone are yourself located?
Maybe that helps to reproduce that locally somehow.

[2022-02-12 09:50] ghost opened #18783 "Comparing two segments in goals, sets the graph to all zeros for the first segment"
When you go to the tab goals and select a specific goal, the graph and overview data show the amount of conversions for the current segment. Sometimes when you compare a secondary segment, the first segment shows all zeros on the y-axis in the graph. The overview below the graph still shows the correct numbers. (See screenshots).

I've tried this with several segments, and it looks like this is th

[2022-02-12 10:34] daniel-lerch opened #18784 "Add option to track only POST requests"
I would like to have an option for Matomo only to count tracking requests send as `POST`.

## Summary

The official HTTP standard specifies `GET` requests as [safe](https://developer.mozilla.org/en-US/docs/Glossary/Safe/HTTP). However, `GET` requests to the Matomo tracking API actually change the server state. The suitable request for this case is `POST`.

Surely there are many use cases for track

[2022-02-12 10:57] rosa2 commented on #18649
both of us:

[code]
Thanks and congratulations
https://matomo.org/blog/2022/02/france-google-analytics-gdpr-breach/
Would this year be the year Matomo? ;)

[2022-02-12 10:59] rosa2 commented on #18649
I am thinking now that here the first day of the week is Monday.
Maybe for testing you can set it like that.
Just in case.

[2022-02-12 11:02] abbradar opened #18785 "Check folder & permission before downloading a GeoIP database"
When downloading free DBIP database this error is shown if `tmp/latest` subdirectory does not exist:

[code]

## Expected Behavior

Directory is created and file is downloaded.

## Current Behavior

Error message is shown.

## Possible Solution

Add `mkdir` call.

## Steps to Reproduce (for Bugs)

1. `rm -rf ./tmp/latest`, `rm -rf ./misc/DBIP-City.mmdb`;
2. Go to `/index.php?module=UserCountry&act

[2022-02-12 14:09] rosa2 commented on #18649
Where does Matomo get the first day of the week?
I have changed from Monday to Sunday in /etc/default/locale
from
LC_TIME=es_ES.UTF-8
to
LC_TIME=en_US.UTF-8

and re-login.
My calendar now starts in Sunday, but in a new Matomo installation in my localhost I get Monday.
Thanks

[2022-02-12 21:37] mattab opened #18787 "Clarify the Newsletter Opt-in message during installation"
## Expected Behavior

When I opt-in to Matomo newsletter, I understand it's a general newsletter and not only about version upgrades.

The newsletter opt-in should be consistent and use same wording across the product.

## Current Behavior

Currently during installation process the opt-in is short and reads "email me about major communicate updates"

https://media.githubusercontent.com/media/matom

[2022-02-13 09:59] jorgeuos commented on #15852
Hi, I just run over this issue again and bumped into this old thread. Sorry for the late respone... 2 kids later!! 😅

I'm curious about the month period in theory should take a couple of minutes...
If I invalidate days, rerun the archives, then it would invalidate all reports in given period, right? Including segments. I currently have a job for re-archiving weeks and months periods for November 2

[2022-02-13 22:08] bx80 commented on #18781
Hi @dev-101, thanks for reporting this and providing such helpful recreation steps. I can confirm that this issue is present in the current development branch.

[2022-02-13 22:24] bx80 commented on #18784
Hi @daniel-lerch, thanks for contacting us.

There is an option available for the javascript tracker called `setRequestMethod` which will only send tracking requests as type `POST`. This can be added to the tracking code per site with `_paq.push(["setRequestMethod", "POST"]);` This should provide the behaviour you need, but if not let us know  :slightly_smiling_face:

[2022-02-14 00:24] KarthikRaja1388 commented on #15438
Customer's request: I want to build widgets that work with the filters.

[2022-02-14 00:37] tsteur opened #18788 "Validate minTimestamp parameter for Live.getLastVisitsDetails"
Happened with PHP 8.

URL: index.php

Referrer: index.php?module=CoreHome&action=index&idSite=4&period=day&date=yesterday

GET: {"filter_limit":"100"}

POST: {"token_auth":"XYZANONYMIZED","force_api_session":"1","period":"range","idSite":"4","segment":"","date":"last3","format":"json","showRawMetrics":"1","module":"API","method":"Live.getLastVisitsDetails","filter_limit":"100","showColumns":"latit

[2022-02-14 00:44] #18479 closed, assigned to peterhashair

[2022-02-14 08:21] daniel-lerch commented on #18784
@bx80 I actually thought about a server sided option which marks all GET requests as Bots and does not count them. If you do not want such an option to be added to Matomo, I will try to achieve that via NGINX configuration.

[2022-02-14 09:07] sgiehl commented on #18784
@daniel-lerch There are actually also downsides of using post requests only. Post won't contain the data when logged in the access log, which makes it impossible to replay the tracking if that would ever be required.
Nevertheless I agree that in some cases it might make sense to restrict the tracking to POST only.
I'm not sure if we will be adding that to Matomo core. Nevertheless it should be pos

[2022-02-14 09:37] sgiehl commented on #15438
@KarthikRaja1388 Are you able to explain that a bit more? Does he want to e.g. show an page url report, that only contains urls that matches a certain pattern, or is that request really about filtering the data before archiving?

[2022-02-14 11:01] #18639 closed, assigned to peterhashair

[2022-02-14 11:37] daniel-lerch commented on #18784
@sgiehl Logging is an important concern but as far as I understand Matomo's [tracking API](https://developer.matomo.org/api-reference/tracking-api) POST requests do not contain data in their request body as it is sent as query string like:
[code]
In this case logs would contain all data and could be replayed. Is there another mode accepting form encoded data or JSON via POST that I am not aware of

[2022-02-14 12:39] sgiehl commented on #18784
Actually there is both. You can send the tracking parameters as form encoded data or in case of bulk tracking it's send as json.
Both might be done by the javascript tracker.

[2022-02-14 14:26] #18775 closed, assigned to sgiehl

[2022-02-14 15:27] sgiehl commented on #18771
@tsteur Anything else needed here?

[2022-02-14 15:48] sgiehl commented on #16363
@diosmosis Will you still be working on this one? I guess the PR is still waiting on feedback from @mattab. Was just wondering if we should unassign you, so someone else might take over from here on.

[2022-02-14 15:52] diosmosis commented on #16363
@sgiehl yes, just unassigned myself

[2022-02-14 16:43] #18538 closed, assigned to sgiehl

[2022-02-14 17:24] vikenbauer commented on #10257
Following @arosenhagen message https://github.com/matomo-org/matomo/issues/10257#issuecomment-1018498246 guidance, I've managed to get a full unattended installation, doing some tinkering with ExtraTools (https://plugins.matomo.org/ExtraTools). Those are the steps I've followed:

1. Choose your favourite method for getting a uninitialized Matomo server (in my case, I was using a docker compose con

[2022-02-14 20:29] tsteur commented on #18771
That's all 👍

[2022-02-14 22:37] KarthikRaja1388 commented on #15438
@sgiehl Will post the customer's full question:

In the Custom Report Plugin I have the option of filters. So I want to build widgets that work with the filters. Segments not working for me - in this case.

What I want to recreate is the table under "Pages". My widget should have the same columns as under "Pages". In addition, I want to display the entry columns, which you can currently find under

[2022-02-15 01:30] tsteur opened #18794 "strpos(): Argument #1 ($haystack) must be of type string, array given Range.php"
URL: https://demo.matomo.cloud/index.php?action=getEvolutionGraph&date%5B0%5D=exp&date%5B1%5D=%3D1%E9%8E%88%27%22%5C%28&disableLink=0&forceView=1&idSite=1&module=VisitsSummary&period=day&viewDataTable=graphEvolution&widget=1

Referrer: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday

GET: {"action":"getEvolutionGraph","date":["exp","=1\u9388'\"\\

[2022-02-15 01:34] tsteur opened #18795 "Fatal error: urldecode(): Argument #1 ($string) must be of type string, array given in Date.php"
Not sure if this was maybe fixed by https://github.com/matomo-org/matomo/issues/18639

Happens in PHP 8

URL: https://demo.matomo.cloud/index.php?action=index&date%5B0%5D=%3D2and+3+in+&date%5B1%5D=3%27%22%5C%28&idSite=1&module=CoreHome&period=day

GET: {"action":"index","date":["=2and 3 in ","3'\"\\("],"idSite":"1","module":"CoreHome","period":"day"}

[2022-02-15 09:26] tomper00 commented on #17720
This would be very nice indeed!

[2022-02-15 13:56] #18788 closed, assigned to sgiehl

[2022-02-15 14:00] #18771 closed, assigned to nobody

[2022-02-15 14:07] #18719 closed, assigned to sgiehl

[2022-02-15 15:42] sgiehl commented on #18795
This one now throws as `The parameter 'date' doesn't have a correct type, and a default value wasn't provided.` exception. So should already be fixed with https://github.com/matomo-org/matomo/issues/18639

[2022-02-15 15:42] #18795 closed, assigned to nobody

[2022-02-15 15:45] sgiehl commented on #18794
This was also fixed with https://github.com/matomo-org/matomo/issues/18639 and now throws a `Date format must be: YYYY-MM-DD, or 'today' or 'yesterday' or any keyword supported by the strtotime function (see http://php.net/strtotime for more information): Array`

[2022-02-15 15:45] #18794 closed, assigned to nobody

[2022-02-15 16:37] sgiehl commented on #18785
Hi @abbradar
Thanks for creating that issue. I was able to reproduce and will check if I can quickly provide a fix for it.

[2022-02-15 17:06] atom-box commented on #18724
Two users had this error so far this week.

**First person:**
`File `../../CoreHome/vue/src/MenuDropdown/MenuDropdown.less` not found. in anonymous-file-0.less in C:\inetpub\wwwroot\matomo\core\AssetManager\UIAssetMerger\StylesheetUIAssetMerger.php 53 using PHP 7.3.7`

**Second person:**
`An exception has been thrown during the rendering of a template ("File `../../CoreHome/vue/src/MenuDropdown/Me

[2022-02-15 23:45] #18785 closed, assigned to sgiehl

[2022-02-16 02:00] peterhashair commented on #18082
Seems this fail randomly very often rencetly
[code]

[2022-02-16 08:01] abbradar commented on #18785
Thanks!

[2022-02-16 08:20] Chardonneaur opened #18801 "Give the possibility for annotations to be private"
## Summary

Currently annotations are shared among all users. It would be nice to have a checkbox in order to select that this annotation can be seen by the user only, like "Due to my mistakes the website traffic drop down by 20%"
## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-02-16 09:15] sgiehl commented on #18801
Hi @Chardonneaur
Thanks for the suggestion. That sounds like a useful feature. I'm not sure if we will be able to work on this soon, but if someone wants to work on this a pull request would be welcome!

[2022-02-16 10:46] melker opened #18802 "Bug in Swedish translation when displaying negative or zero values"
Posting two screenshots:

Displayed in English (Correct)
![matomo-bug-en](https://user-images.githubusercontent.com/2756680/154248215-a32da3e8-c72e-462b-b1a9-4c3fc0cd8d35.PNG)

Displayed in Swedish (with some highlighted areas by me)
![matomo-bug-sv](https://user-images.githubusercontent.com/2756680/154248390-b4aed822-ce0b-4034-b17a-36b7348c12e3.PNG)

Bugs in Swedish version:
* Negative values sho

[2022-02-16 14:20] sgiehl commented on #18802
Hi @melker
Thanks for creating the issue. I was able to reproduce it locally. Guess that is due to the fact, that in Swedish it doesn't use a "english" minus sign and such can't detect that the number is lower 0. Guess this might happen for other languages as well.

[2022-02-16 17:47] utrautmann opened #18803 ""Segment not processing" message appears when specific report has no results"
## Expected Behavior
The lightblue message box should not appear, when a report has no result under the following circumstances:
- Choosen an individual date range
- Choosen a segment
- Report generation with cronjob

![grafik](https://user-images.githubusercontent.com/25771066/154323053-f0c4700e-4b7e-4b30-b0fe-73227375570c.png)

## Current Behavior
1. Choose an individual date range
![grafik](htt

[2022-02-16 19:00] tsteur commented on #18802
@sgiehl do you know how easy it is to fix this one?

[2022-02-16 19:03] sgiehl commented on #18802
Maybe it's enough to fetch unformatted data for the sparklines and format them only for the display values. Or have unformatted data as metadata like we have for totals. Would need to have a look at that to say more

[2022-02-16 21:53] samjf commented on #18724
I just experienced this error myself 🤔  I've run it a few times with the same result.  I wonder if the packaged extraction utility it to blame.

[2022-02-16 22:02] Starker3 commented on #15511
@mattab We can maybe update the issue to link to this guide for Cookiebot: https://support.cookiebot.com/hc/en-us/articles/360017539960-Matomo-deployment
It's for setting up consent with Matomo Tag Manager instead of with GTM

[2022-02-17 00:58] Starker3 opened #18806 "Inline Help - show report generation date on "Overview" reports with Evolution Graphs"
In #18689 It was reported that the "Report Freshness" was not showing correctly which was fixed with #18498
However, I noticed that on the "Overview" reports (The ones that contain the evolution graphs) don't show this date at all:
![image](https://user-images.githubusercontent.com/20905821/154383426-d29b0d04-e0b5-45d7-8ba8-09fa808ff363.png)
![image](https://user-images.githubusercontent.com/20905

[2022-02-17 02:42] tsteur opened #18809 "Fix referrer attribution cookie not set if no tracking request is sent, resulting in wrong attribution"
I just noticed an issue where a referrer attribution cookie is not set when no tracking request is sent at all while viewing a page.

This is a bug because the original referrer will go lost. If the next page does track data, then the previous page will become the referrer (where no data was tracked) instead of the original referrer.

I assume it's rarely the case that no data is tracked on a land

[2022-02-17 02:53] tsteur opened #18810 "Ensure JS tracker unload event is triggered in edge cases to make sure tracking requests are sent"
While testing https://github.com/matomo-org/matomo/pull/18135 I noticed that the beforeunload event isn't triggered when forcing a page reload. Was then reading https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon .

It also explains why you should use this event instead of unload. It basically may not be triggered in various cases (not sure if it's also the case for `beforeunload

[2022-02-17 08:27] narfk commented on #18724
this works for me as well (Macos case insensitive)

[code]

[2022-02-17 09:42] 5idu opened #18812 "options request will also be recorded"
## Expected Behavior

`options request` should not recorded!

## Current Behavior

`options request` will also be recorded

## Possible Solution

The server should filter out the `options request` and not participate in the record.

## Steps to Reproduce (for Bugs)

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/26264096/154448428-95a0193d-38f1-45ce-97cc-9450ecbf77dd.

[2022-02-17 10:12] gerronmulder commented on #18486
I can see huge benefits for having insights into the archiving process:
 - Knowing the processing time of specific segments creates awareness with Matomo users. This would enable balancing performance impact vs. usability of segments.
  - Knowing the steps taken (create tmp table, insert data, ..) by the archiving process will enable more specific optimizations. Most definitely when it becomes eas

[2022-02-17 12:42] maniac-0s opened #18813 "Matomo couldn't write to some directories (running as user 'www-data')."
Matomo was working yesterday. Today I tried to install security info pluging and it's now reporting the following error:

----
Matomo couldn't write to some directories (running as user 'www-data').

Try to Execute the following commands on your server, to allow Write access on these directories:

    chown -R www-data:www-data /srv/www/matomo
    find /srv/www/matomo/plugins -type f -exec chmod 6

[2022-02-17 17:36] fmh31200 opened #18814 "TSV and CSV report can not be send nor download on wordpress multisite"
MS Edge : whereas PDF or HTML reports can be downloaded, CSV and TSV start downloading, but an error message appears "Network error".
None of them are received when "sent by email"

Chrome : reports of all formats can be downloaded, but like Edge, none of them are received when "sent by email"

[2022-02-17 18:59] tsteur commented on #18486
@gerronmulder feel free to create a PR with the events that you need and we will be happy to review and merge. That be great! It be hard for us add events not knowing if they will be actually helpful in the end as we wouldn't know which ones are needed exactly. If you were to work on this as part of a plugin, you could also consider creating a PR in core for the entire solution and we would review

[2022-02-17 22:31] atom-box commented on #14241
I hope this is related enough to add here. A user has requested to add meaningful _colors_ to each visitor:

_"Different Color’s of bubbles on the live graphic map. Could be cool if you could set Color’s based on metrics e.g. if the visitor made a putchase, came from a specific origin etc."_

[2022-02-17 22:42] peterhashair opened #18815 "Load tracking site from Iframe"
So when you have Matomo tracking set in `a.com`, then use `a.com` as an iframe in `b.com`, it causes js errors around cookie can't be set across the domain,  this case is rare.

But I guess user could check if `a.com` is load as iframe, then disable matomo cookies maybe?
[code]

[2022-02-17 23:05] tsteur commented on #18815
@peterhashair I'm not really sure what you mean here? Does maybe https://matomo.org/faq/how-to/how-do-i-track-a-website-within-an-iframe/ help?

[2022-02-17 23:06] peterhashair commented on #18806
@Starker3 thanks for finding that, there is definitely a bug there.

[2022-02-17 23:08] peterhashair commented on #18806
Notes: Under here.  https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=General_Actions&subcategory=General_Pages

When the report is shown as `Report generated 3 hours 4 min ago`  It won't show. See screenshots.

![image](https://user-images.githubusercontent.com/3783072/154586675-c60bcfce-c3a1-4

[2022-02-17 23:28] peterhashair commented on #18814
@fmh31200 I tested on MS Edge, it seems working fine for me, is there any change, a WIFI or network connection drop during the process?

[2022-02-17 23:36] peterhashair commented on #18815
@tsteur eg: this site. https://www.worxogo.com/  has load a [iframe](https://www.cuspera.com/wyz?mode=leadQual&page=worxogo&gaCat=VerifyRightFit&gaLabel=worxogo&product=CFProdCode-16753&ryze_mode=true&showIntent=true&productName=worxogo&categoryName=Sales%20Coaching&categoryPermalink=sales-coaching&origin=https://www.worxogo.com/).
iframe has the `matomo.js` tracking code.

It returns js errors on

[2022-02-17 23:51] tsteur commented on #18815
@peterhashair did you check out the FAQ and whether the site is setting it?

[2022-02-18 00:42] peterhashair commented on #18815
@tsteur will do.

[2022-02-18 00:51] Starker3 opened #18816 "Add option to widgetize "Overview" reports"
It seems that this used to be possible with the "Widgetize" function for most reports using `actionToWidgetize=index`
I'm not sure when this was removed, but it means that its no longer to add widgets to a dashboard or in an iframe for certain reports that include some useful information such as the sparklines for the different metrics. Eg.:
![image](https://user-images.githubusercontent.com/20905

[2022-02-18 01:19] tsteur commented on #18816
FYI there is the KPI Metric widget if that helps?

[2022-02-18 01:24] 5idu commented on #18812
@tsteur Hi, are you sure this is a bug? and will be fixed in the next version?

[2022-02-18 01:25] Starker3 commented on #18816
@tsteur It works, but only for the `Visits` metric if I recall correctly?

[2022-02-18 01:30] tsteur commented on #18816
You can change it to any metric
<img width="327" alt="image" src="https://user-images.githubusercontent.com/273120/154600282-ad49a3bf-627c-4d5c-93e7-459bb4a4780d.png">

[2022-02-18 01:32] tsteur commented on #18812
@5idu I haven't looked into this yet but put it for now into Matomo 5 to consider changing this there. This release could be 6-12  months away as we don't have specific plans for a Matomo 5 release yet. We probably wouldn't want to change anything there earlier just in case it would cause any kind of regressions where people rely on this working for some reason.

[2022-02-18 02:24] 5idu commented on #18812
@tsteur Thanks Reply. looking forward to your verification result.
Now my solution is to intercept the `options request` on `nginx`, and then the statistical results are normal.

[2022-02-18 02:27] tsteur commented on #18812
@5idu do you know what issues these OPTIONS requests in the first place?

[2022-02-18 02:32] #18815 closed, assigned to nobody

[2022-02-18 02:53] 5idu commented on #18812
@tsteur since cross-domain, browser client send the `options request`, this is fine.
However, after the `options request` is sent to the `matomo server`, `matomo` will still process the data passed by the options request, resulting in repeated statistics.

[2022-02-18 02:55] tsteur commented on #18812
Thanks for this, that's really helpful. I will move this in the 4.9 milestone so we look into this earlier. If someone in the team could reproduce this that be great.

[2022-02-18 02:59] Starker3 opened #18819 "Fix cookies with session lifetime"
The language change option for the anonymous user doesn't seem to be working at the moment (Tested in 4.6.1 and 4.7.1)

It shows the drop down menu and you can select a different language, but it just kicks it back to English every time.
![image](https://user-images.githubusercontent.com/20905821/154609241-e4892784-eee4-4edf-ac78-980550580f93.png)

This happens on any instance that has Anonymous u

[2022-02-18 07:55] melker commented on #18802
I'd say the main problem is the weird translation. It should be the same signs as in the English version, at least in Swedish. (Other languages may have other signs.)

[2022-02-18 08:48] sgiehl commented on #18802
@melker we are using the "official" data from Unicode CLDR: See https://raw.githubusercontent.com/unicode-org/cldr-json/39.0.0/cldr-json/cldr-numbers-full/main/sv/numbers.json

[2022-02-18 09:15] sgiehl commented on #18819
This one is a regression from #18179, as the session language cookie is always set with an expire of `01-Jan-1970 00:00:00 UTC`

[2022-02-18 09:24] melker commented on #18802
@sgiehl not really....

It says:
"minusSign": "−",

and on the page (my screenshot) you have:
"+-" (both plus and munis)

(reservation if I enter the wrong dash-sybol)

[2022-02-18 09:35] sgiehl commented on #18802
@melker That minus sign differs from the english one. Even though it's not really good visible in some fonts.
In my browser a can see a small difference in the length of the signs below:

[code]

And the reason that you see a plus and minus sign is something that happens in the code. Normally numbers don't have a plus sign in front. So we are adding one if the number is not negative. But the check

[2022-02-18 10:03] Chardonneaur opened #18821 "Visit log report filled only with visitors who gave consent"
According to the last guide published on cnil.fr, Matomo can be exempted from consent if the visit log report is disabled. Though what about if some visitors are giving their consent?

## Summary

Would it be possible to have an empty visit log report which would be filled only with the visitors who are giving their consent?
## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating

[2022-02-18 10:12] peterbo commented on #18809
This could be an issue especially with implemented consent managers. Mostly, consent managers are implemented poorly (not using the out-of-the-box consent methods) given consent is not triggering tracking on the same page, but on the second one after giving consent). So this could fix quite some "lost" referrers that are being reported as "direct".

[2022-02-18 10:14] melker commented on #18802
That look bit weird to my the the English uses the hyphen-minus and not the formal minus character while the Swedish version uses the formal minus character... well I and not a person really into those things... but still It seems weird to me. Now moving forward instead...

So you need to make the pos/neg check locale aware.

How about the zeros? How come they get the same treatment as negative va

[2022-02-18 10:23] sgiehl commented on #18821
Hi @Chardonneaur. Thanks for the suggestion. In theory that would be possible. Afaik we are currently not storing the consent in the database, which would be required to make that possible.

[2022-02-18 10:27] sgiehl commented on #18802
Exactly. For the zero value that is a similar problem. The formatted percent value contains a non breaking space, which might also break the numeric detection. As noted somewhere above, we need to do such comparisons with unformatted numbers to fix all those issues.

[2022-02-18 10:28] fwertel opened #18822 "Google Anlaytic Import (GA4)"
Hello,

We would like to import GA4 data in Matomo.

It doesn't seem doable - the Google Analytics Import requires the field "Google Analytics Property ID" which doesn't exist with GA4.

Is there another option (available API, etc...) ?

## Summary

Being able to import GA4 data in matomo.

## Your Environment

Matomo's cloud version.

[2022-02-18 10:39] fmh31200 commented on #18814
Thx for your help. no connection problem during the process.
Here's a screencast of downloads of PDF and CSV : https://watch.screencastify.com/v/v6kkOrrQEShxfgqE06rm

[2022-02-18 14:58] utrautmann opened #18823 "Performance issue due to many parallel SQL queries"
A customer of mine has occasional performance problems in Matomo. The system hangs because all 150 database connections to MySQL are in use.
My analysis revealed that these problems could be related to the generation of segment reports, which put too much load on the MySQL DB.

**To the background:**
The customer has created about 40 segments. The reports are updated hourly by a cron job. Browser

[2022-02-19 06:04] programmin1 opened #18825 "Librem phone is counted as an iOS device"
## Expected Behavior
Logged visits should be the right OS.

## Current Behavior
Visit any site with Matomo installed on the Librem 5 phone.
Look in the "visits in real time" in the left of Matomo Analytics and it registers that as "iOS"??
Browser: Chrome webview 64
even though this is the default browser that comes on Librem5. It should show it is a Linux phone not "iOS".

## Possible Solution
Che

[2022-02-19 10:25] Findus23 commented on #18825
Hi,

Can you share the user agent the phone sends to websites?
e.g. by opening https://devicedetector.lw1.at on it.

[2022-02-19 10:28] sgiehl commented on #18825
I'll move this on to the device detector repo. If anything can be improved in the detection it needs to be done there.

[2022-02-19 13:33] kenji-fire commented on #18563
Hi,
I had the exact same issue and changing the settings in the vendor folder helped solving the issue.
Still a better way managing this would  be over the main conf.ini.php file because the vendor folder can be overwritten upon updating.
I hope that this will get an official fix soon.
Cheers!

[2022-02-19 22:25] atom-box commented on #18724
I am no longer seeing this error in our notifications inbox.  I went back and here is a summary of when we received this error. Each integer represents **one** error received **and** the date in February it was received.:

Windows server: 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 10, 11, 15, 17
MacOS server: 3
Unix server: 2

(The Mac server was macOS 11.6.2 on a default apfs filesystem)
(The *nix serve

[2022-02-20 00:24] peterhashair commented on #18814
@fmh31200, thx for the screencast, will do more investgation, come back to you ASAP

[2022-02-20 10:14] rusty1281 opened #18826 "Unable to update Matomo using the web UI (4.2.6 > 4.7.1)"
## Expected Behavior
To be able to update using the web UI

## Current Behavior
Up until version 4.2.6, the official docker image was working fine. I would get the update notifications just fine. Now, on version 4.2.6 I am unable to see new updates.

## Possible Solution

## Steps to Reproduce (for Bugs)
Going to settings > check for updates returns that I am on the last version (4.6.2). It doesn'

[2022-02-20 10:38] Findus23 commented on #18826
Hi,
Can you check if your server (ideally inside the docker container) is able to reach https://api.matomo.org/1.0/getLatestVersion/ ?

[2022-02-20 16:57] rusty1281 commented on #18826
Thank you @Findus23 for your fast response on the matter.

Yes indeed, I can, and it works just fine.
<img width="758" alt="Screenshot 2022-02-20 at 17 56 44" src="https://user-images.githubusercontent.com/5110408/154854324-6461d251-5059-43a5-9100-54bc514fc03c.png">

[2022-02-20 18:57] tsteur commented on #18821
There is a segment `Profilable` which let's you differentiate between people who were tracked without cookies (no consent) and people who gave consent for cookies or tracking. This would generally let you segment the people that did give consent. However, it requires the Visits Log to be enabled meaning if you don't pay attention you might also view the visits log with the regular `All Visits` seg

[2022-02-20 19:00] tsteur commented on #18802
@sgiehl if there is a different sign, does that mean we can fix that one easily? At least for some languages by putting in the translated `minusSign` to detect negative values?

[2022-02-20 20:38] Chardonneaur commented on #18821
Thank you Thomas, yes, exactly "Profilable visits log" only. Though the work around you gave with the "multiple tracker" can be a nice "ready to implement" option.
Do you know if the multiple tracker may be soon integrated within Matomo Tag Manager?

[2022-02-20 20:45] tsteur commented on #18821
@Chardonneaur I don't think there are any plans. I guess the thought was that you can already add multiple tracker configurations now and it should work that way to track into two or more sites.

The problem may be though that if events are tracked, these need to be configured multiple times for each tracker which can be very annoying so we would maybe indeed need an "Add tracker" feature to confi

[2022-02-20 20:51] tsteur commented on #18809
👍  good one. In that case we could likely fix this similar to https://github.com/matomo-org/matomo/pull/18135/files by setting the referrer cookie when leaving the page assuming cookies are enabled.

@peterbo if consent hasn't been given yet, then the cookie might not be set either so it wouldn't help. But I think what you're saying might be that consent managers are not correctly implemented as i

[2022-02-20 21:31] #18819 closed, assigned to sgiehl

[2022-02-20 21:58] Findus23 commented on #18819
Guess I should have checked the issues first as I noticed that my plugin (https://plugins.matomo.org/LanguageToogle) was broken and I rediscovered that issue. (In the plugin I set the users language with `LanguagesManager::setLanguageForSession($lang);` for the session if they use the buttons to quickly change it)

And indeed with #18820 everything works again as it should, thanks for that.

[2022-02-20 22:16] Findus23 commented on #18819
As this breaks the plugin complete and I assume it will be a while until 3.8.0 is released, I published a new version of the plugin which as a workaround sets the language in the DB (which also works as long as the language is not set in the session):
https://github.com/Findus23/plugin-LanguageToogle/compare/0.3.3...0.3.5

[2022-02-21 02:18] peterbo commented on #18809
Hey @tsteur - exactly! You definitely phrased it better than I did. ;)

[2022-02-21 05:14] nickcdon opened #18828 "Map about Taiwan in China"
Taiwan should be a part of China

[2022-02-21 08:44] mkassir95 opened #18829 "Fix possible dashboard warning"
Hello
I am using matomo 4.7.1 , it is working fine and tracking the events but I am getting this warning sometimes
This is the request I am sending through postman:
http://localhost/matomo/piwik.php?idsite=22&rec=1&e_c=inbox&e_a=archiveMessage&uid=961000&dimension1=1&dimension2=1&dimension3=1

![image](https://user-images.githubusercontent.com/72728047/154919134-17e43740-c0dd-48f4-9c67-c2dc707f3de

[2022-02-21 09:39] sgiehl commented on #18829
@mkassir95 I guess I found the issue. It might occur while archiving if you tracked a custom dimension for an action without an url. created a PR to fix that.

[2022-02-21 09:50] mkassir95 commented on #18829
Thank you

[2022-02-21 11:17] sgiehl commented on #18802
@tsteur yes that might work. Even though it would be more a workaround than a proper fix.

[2022-02-21 12:01] maniac-0s commented on #18813
Hello.

Even after just running the commands suggested in the error, the message still persists.

[2022-02-21 13:08] sgiehl commented on #18802
@tsteur I have quickly set up a draft, which should fully fix it (at least for comparison). It adds an additional column for the comparison metrics, that indicates the trend. As this is done prior to formatting the number, this should work for all languages.

[2022-02-21 15:20] pietryszak commented on #18745
Same issue, after update from 4.6.2 to 4.7.1 and server restart the same info is shown

[2022-02-21 16:21] sgiehl commented on #17686
I'll close this one now. Wasn't able to find any other issues while clicking randomly through the UI or while running tests on PHP 8.1. There for sure might be some issues somewhere that didn't pop up yet, or that are introduced with new code later. But guess it would be good to handle those in new issues, so we are better able to track them down.

[2022-02-21 16:21] #17686 closed, assigned to sgiehl

[2022-02-21 16:23] sgiehl commented on #18745
@pietryszak What file system are you using on your server? Is it case sensitive or case insensitive?

[2022-02-21 16:25] pietryszak commented on #18745
Ubuntu 20.04.4 LTS, ext4. With default file system settings.
I restore server from backup and old version of Matomo works fine.

[2022-02-21 20:08] tsteur commented on #18802
@sgiehl I'll put the issue for now in 4.10 as it's quite a big change and adds heaps more information to the API output etc.

If any possible, we should check if there's a smaller change that fixes this issue as well for Swedish maybe like in https://github.com/matomo-org/matomo/pull/18832/files#diff-9e27247dd682afe6f5fbc3c43bc37873fe2b5583a69ce15d233edfea3377aa3aR4  checking if the value contains

[2022-02-21 20:11] sgiehl commented on #18802
If the additional api output is a problem, we can simply remove it by default and only add it for internal requests when needed

[2022-02-21 20:19] tsteur opened #18833 "Update INTL CLDR translations"
We need to update the translations for languages, currencies, and countries according to our internal confluence process  "Update Intl CLDR Translations". We're doing this every 6 months-ish.

[2022-02-21 22:08] #18829 closed, assigned to sgiehl

[2022-02-22 00:25] LucasDemea commented on #18813
Hi, same problem here

[2022-02-22 04:59] mattab opened #18835 "Check that simple step by step guides for integrating Matomo into CMS are present"
In the Matomo App, in the "No tracking data yet" page (when we haven't tracked data yet), we try to detect popular CMS like WordPress and Drupal and then suggests the relevant guide to explain how to integrate with Matomo.

The goal of this issue is to check that Matomo does
1) Try to detect these CMS if possible automatically (to suggest the correct guide to use)
2) And link to the guide

for eac

[2022-02-22 11:11] Tazzios commented on #18724
Upgrade form 4.6.2 to 4.7.1 i also get the error.  Copying the missing 'MenuDropdown' fodler fixed it.

Isn`t it a bit confusing that there is a folder 'DropdownMenu' and 'MenuDropdown' ?

[2022-02-22 19:14] tsteur commented on #18802
Not having the additional API output makes it better. I've moved this for now into 4.10 as the PR is a bigger review and quite complex and we have other more important issues in comparison. If there's an easy solution to it, then happy to put it in an earlier milestone.

[2022-02-22 19:28] sgiehl commented on #18410
Closing this one. It should get solved with #16125

[2022-02-22 19:28] #18410 closed, assigned to nobody

[2022-02-22 20:11] sgiehl opened #18837 "Provide pre-defined dashboard templates"
## Summary

Matomo currently ships exactly one pre-defined default dashboard, which provides a very basic widget set.

As the requirements for a useful dashboard strongly differs between the type of website and the person looking at the stats it would be quite useful to ship a set of helpful dashboards with Matomo. This might also help new users to quickly get the insights they need.

When creatin

[2022-02-23 08:26] mritzmann opened #18839 "Show Warning if Deleting Old Data Does Not Work"
I have a Matomo installation which became slower and slower over time. The cause turned out to be that the table `matomo_log_visit` contained several years of RAW data and thus became several GB in size. This affected the reading of this table noticeably. In the settings, _Regularly delete old raw data_ is set to 30 days, and a cron job is set up.

It turns out: the cron job ran out of memory ever

[2022-02-23 09:22] MatomoForumNotifications commented on #18839
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/high-traffic-sites-and-custom-period-date-ranges-selection/44717/2

[2022-02-23 14:20] sgiehl commented on #18839
@mritzmann Thanks for creating the issue.
Which size is your memory limit set to? Just wondering if you limit is quite small or if the memory consumption of our script is very high in that case.

[2022-02-23 15:21] sgiehl commented on #18833
@tsteur would be quite quick to write a small github action that automatically creates a PR if updates are available. We could then run that once a month or so. This would reduce the amount of manual work that needs to be done in the future.

[2022-02-23 16:37] MatomoForumNotifications commented on #17352
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/unable-to-enforce-2fa-for-everyone-greyed-out/44900/2

[2022-02-23 17:55] sgiehl commented on #18783
@conflate-nl Thanks for creating this issue. It might have something to do with the segment definition. The evolution chart doesn't show the segment name in the series labels, but the definition. I'm wondering if the reason for that might maybe be the space in the segment definition. Does the behavior change if you switch the segments in the comparison?

[2022-02-23 19:02] tsteur commented on #18833
How much work would that be?

[2022-02-23 19:33] sgiehl commented on #18833
As most of the stuff is already there in other actions I would say around 1 or 2 hours.

[2022-02-23 19:34] tsteur commented on #18833
👍  sounds good

[2022-02-23 20:58] #18138 closed, assigned to peterhashair

[2022-02-23 21:34] peterhashair opened #18840 "After expand label makes the table bigger"
This is a follow-up issue, the original is an issue is here, https://github.com/matomo-org/matomo/issues/18699. PR https://github.com/matomo-org/matomo/pull/18728 fix the shortened label but resize the table bigger.

The reason this happened is the expanded table has extra width on the title. When expanded triggered, it will resize the entire table to recalculate the title width.

This is caused b

[2022-02-23 21:35] #18699 closed, assigned to peterhashair

[2022-02-23 21:50] tsteur commented on #18840
@peterhashair could you describe this issue in detail please? Like how to reproduce it, how much it makes the table bigger (ideally screenshots) etc. This will help us asses the impact to know when we need to fix it

[2022-02-24 01:21] justinvelluppillai commented on #18828
Thanks for the comment. We have an issue to update the map so I will close this as duplicate for now.

[2022-02-24 01:21] #18828 closed, assigned to nobody

[2022-02-24 06:15] ghost commented on #18783
@sgiehl I did check this indeed

So yes, switching the segments does work :-)

[2022-02-24 13:14] sgiehl commented on #18783
I tried digging deeper into that for a while. So the issue seems to be the space in the segment definition, but only if the segment is used as base segment to be compared with. The requests sent to load the widget don't contain the original segment like `deviceType%3D%3Dfeature%252520phone`, but `deviceType%3D%3Dfeature%2520phone` instead. So the space isn't triple, but only double encoded.

@dios

[2022-02-24 13:18] sgiehl commented on #14974
this will most likely be solved with #18221

[2022-02-24 15:08] mritzmann commented on #18839
Hello @sgiehl, thank you very much for your reply.

The PHP memory limit was set to 4G.

[code]

[2022-02-24 15:33] Findus23 commented on #18839
@mritzmann Probably not the case, but keep in mind that php-cli and php-fpm can have different configurations, so it would be the safest to check in a phpinfo() file accessed from the browser.

[2022-02-24 15:42] sgiehl commented on #18839
Ok. That should indeed be enough to clean up the data. I guess we need to investigate how our code to remove old visits currently works. Maybe it tries to query all data before removing it or has another memory lack we should close.
ping @tsteur

[2022-02-24 19:17] tsteur commented on #18839
Had a quick look at the code and the delete log data task should be quite low memory and we delete max 2000 visits at once there and shouldn't save much in memory. On our own instance have never seen any memory issues there.

This may trigger also the log_actions cleanup though. @mritzmann could you maybe add below entry to your `config/config.ini.php` to see if it still happens? This effectively

[2022-02-24 20:01] #18783 closed, assigned to nobody

[2022-02-24 20:05] tsteur opened #18845 "Make it easier to figure out why JS tracker file is not updated with custom js trackers"
We've just been debugging an issue for a few days with various forth and back why Form tracking wasn't working. We noticed the tracking code wasn't added to the regular JS tracking code. This can have various reasons like not writable JS tracking file etc. It turned out that the CustomJsTracker wasn't activated.

We already have a check that shows when the tracker file is not writable in https://g

[2022-02-25 10:15] MrIsak commented on #17202
You are definitely on to something.   AFAIK is it more or less best practice to replace the XFF(X-Forwarded-For) header on all traffic passing the first proxy that handles incoming traffic, with the real client source IP. Since you can never trust a client.
But this is not up to the application to deal with IMO.

If the XFF header is present, and the "proxy_client_headers[] = HTTP_X_FORWARDED_FOR"

[2022-02-25 10:59] rafaelmaeuer opened #18850 "Auth token (for API) not displayed on creation"
## Expected Behavior

When generating an API auth token, the `auth_token` should be displayed.

## Current Behavior

When generating an API auth token, the requests loads (page loading spinner) until there is a timeout.
After refreshing the page one (or sometimes two similar) new entries appear under `tokens`.
As the one-time token isn't displayed, the created API-access cannot be used.

The same

[2022-02-25 13:13] MrIsak opened #18851 "/matomo.php always returns 200 OK"
## Expected Behavior

When databas is down  /matomo.php should return 503, since service is not operational.

## Current Behavior

FAQ says, to monitor the "HTTP Tracker API: request to /matomo.php should return http status code 200"
It does.... all the time.  Even when database is down, and not able to handle incoming data.

Ref:https://matomo.org/faq/how-to/faq_20278/

## Steps to Reproduce (for

[2022-02-25 16:00] adamread-nmbgmr commented on #18724
I got the error upgrading on a Windows server.  Evan's prompt solution got it going again:
---
Hi Adam,

Sorry about this glitch in the update. We thought it was fixed. I'm guessing your server is a Windows server? There may be a capitalization error in the path for "File `../../CoreHome/vue/src/MenuDropdown/MenuDropdown.less` causing the not found error.

Please, when you have some time, leave a

[2022-02-26 14:44] Tazzios commented on #18724
The problem indeed occurs only on my Windows install, 2 others on linux webhostings went fine.

[2022-02-26 23:37] atom-box opened #18855 "Enhancement: Add a percentages option instead of raw counts / totals. In all diagrams and tables."
A user writes:

Question: What is the feature you are missing the most in Matomo and why?
Answer:
percentages instead of total values in all diagrams!!!!!

[2022-02-27 17:44] atom-box opened #18856 "Enhancement: Display statistics of returning visitors in additional ways, including percentages"
Develop a statistic on the dashboard to show visitors who come back frequently
A first way:
Express the daily rate of return as a percentage
Second way:
Detail what is the return frequency rate per day .. on people returning to the site how many times have they already come before.

This request was translated based on the following user email:
**Question**: What is the feature you are missing the

[2022-02-27 22:27] rafaelmaeuer commented on #15608
This error occurs too when trying to generate an Authentication Token (`token_auth`) from UI: https://github.com/matomo-org/matomo/issues/18850

[2022-02-28 00:03] tsteur commented on #18855
Thanks @atom-box I'll close this one as a duplicate of https://github.com/matomo-org/matomo/issues/15515

[2022-02-28 00:03] #18855 closed, assigned to nobody

[2022-02-28 02:59] tsteur opened #18857 "When autofilling a search term on info page, the wrong background is selected in the form field"
This happens eg on Chrome when selecting an entry from the historical autofill list.
<img width="961" alt="image" src="https://user-images.githubusercontent.com/273120/155916727-40f88511-a2fa-4789-a347-24f920dd6ed7.png">

Then the background color changes

<img width="916" alt="image" src="https://user-images.githubusercontent.com/273120/155916681-1e501aee-cd32-4f04-8a32-d0bbab71cc7e.png">

becaus

[2022-02-28 08:31] bennostaub1 opened #18858 "Export beautiful graphics"
The graphics (this concerns all graphs, pie charts, etc.) should be exportable in a much higher resolution, e.g. as PNG. The current resolution of the graphics is insufficient even for a PowerPoint presentation. The axis labels also need optimization - the subdivisions are often anything but intuitive for both time axes and Y-axes, which makes it difficult to interpret the data and thus communicat

[2022-02-28 09:11] Findus23 commented on #18858
Just to be sure?
Are you referring to the plots in the Matomo UI or the ones in the E-Mail report?
In the former case, this might be a matter of https://github.com/matomo-org/matomo/issues/4969

[2022-02-28 11:34] bennostaub1 commented on #18858
Yes, exactly. I meant the matomo UI.

28.02.2022 10:11:41 Lukas Winkler ***@***.***>:

[2022-02-28 13:36] timscha commented on #15608
Have the same error, when I try to install the tag manager from the plugin overview.

[2022-02-28 14:58] ShenandoahInfo opened #18859 "No data for the month"
I logged in to do my monthly report and there is no data for the month of Feb. I also looked at the all-time data and it is the same as last month which confirms no Feb data

[2022-02-28 15:45] sgiehl commented on #18859
Hi @ShenandoahInfo
Thanks for creating the issue. We are sorry to hear you are having trouble with your Matomo.
As it's hard to find any reason without more details, please help us by answering the following questions:
* Are all reports empty for the month, or only certain ones?
* Are visitors shown in the visits log, or is it empty as well?
* Can you see data in the reports by switching to week o

[2022-02-28 16:07] sgiehl commented on #18850
Hi @rafaelmaeuer. Thanks for creating the issue.
For me that works without issues and after confirming the password it displays a page like
![image](https://user-images.githubusercontent.com/1579355/156013970-f6ab7378-6896-47dd-8eda-488354046e61.png)

Can you see any errors in the error log?

[2022-02-28 16:12] rafaelmaeuer commented on #18850
Hey @sgiehl thanks for confirming the issue is not related to matomo itself, I am using the docker-image from [crazy-max/docker-matomo](https://github.com/crazy-max/docker-matomo/) so the problem might lay there... No the logs aren't showing any hints toward the problem, I already enabled the debug-mode, but it didn't gave any further information about any cause...

[2022-02-28 20:47] justinvelluppillai commented on #18746
Possibly we could also prompt user at the start if they aren't using the same user as the files are owned with to make sure they want to continue.

[2022-02-28 22:09] ShenandoahInfo commented on #18859
I saw the days and month totals for January but nothing shows up on Feb under any of the types of day, month, custom period…

[2022-03-01 03:19] AltamashShaikh opened #18863 "Sparkline nodes not showing edge nodes properly"
The sparkline do not show edge nodes correctly, it displays the node partially

## Expected Behavior
Earlier the nodes used to display fully
![MediaAnalytics_page_video_subtable_row_evolution _correct](https://user-images.githubusercontent.com/14902277/156098052-fc9bb6ed-ec16-4bd8-a578-4f7b4f2b3b7d.png)

## Current Behavior
The node edges are displayed partially
![MediaAnalytics_page_video_subtabl

[2022-03-01 09:51] sgiehl commented on #18859
@ShenandoahInfo Ok. Are you able to see visitors when going to `Visitors > Visits Log`? If that one is empty as well, there were actually no visits tracked. If there are any it seems the archiving didn't run for some reason.

[2022-03-01 11:08] sgiehl commented on #18863
This seems to be caused by some changes in the library we are using:
https://github.com/davaxi/Sparkline/blob/master/src/Sparkline/FormatTrait.php#L228
I guess this was changed due to PHP 8 incompatibilities. It actually before did an implicit `round`, while it now does a `ceil`, causing the generated points to be a bit wider...
Can propose a fix for the used library, but might need one or two hou

[2022-03-01 11:15] sgiehl commented on #18856
@atom-box Isn't that kind of included in the engagement reports:
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=General_Actions&subcategory=VisitorInterest_Engagement

[2022-03-01 13:03] ShenandoahInfo commented on #18859
We have never had a month that we didn't have visitors. We have healthy traffic.

[2022-03-01 14:21] ShenandoahInfo commented on #18859
This morning I am seeing NO info for any month or year.  Everything is zero.  Again, we always have traffic on this website and none of my previous info is available.  Yesterday I was seeing totals through January and today I see nothing.

[2022-03-01 15:34] plegall commented on #14799
I had to perform the same for location_browser_lang:

[code]

[2022-03-01 16:09] hubertus2017 commented on #15515
Hello,
i requested this feature already several times, because the plug-in "custom reports" is somehow often useless for graphs with timeline  "over time" but without percentage.

[2022-03-01 20:55] dvo-rak opened #18864 "MariaDB - growing ibtmp1"
I am managing Matomo instance with about 500k daily visitors with 3M daily actions. Recently I've upgraded from Ubuntu Xenial with MariaDB 10.1, PHP 7.2, matomo 4.5x. Since then I have noticed issues related to database.

Since the beginning we operate with Matomo (3+ years), the size of ibtmp wasn't capped. After the update ibtmp grew over all available space (90GB+), so I have capped the limit t

[2022-03-01 21:24] peterhashair commented on #18066
Still need this docs to review https://github.com/matomo-org/developer-documentation/pull/614

[2022-03-01 22:29] siramsay opened #18866 "Enhancement: Add current IP and a list of the "Global list of Excluded IPs" on the Dashboard"
I would like to see my IP and a list of the "Global list of Excluded IPs" on the Dashboard. I check this every day since I have floating IPs and visiting my own sites can really add numbers to the data if I am very active.

[2022-03-01 23:20] #18066 closed, assigned to peterhashair

[2022-03-02 07:44] niklasternstedt opened #18869 "Comparing segments – no data for conversions"
## Expected Behavior
I would be able to compare two segments regarding conversions and see if search, direct traffic, web pages etc are converting.

## Current Behavior
When I choose to compare two segments like computer vs mobile and go to the report goals everything seems fine. But when I scroll down to see how search, direct traffic, web pages etc perform regarding conversions there are no data

[2022-03-02 08:17] sgiehl commented on #18869
Thanks for creating the issue. I am able to reproduce that on our demo:
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=month&date=2022-02-17&segment=&category=Goals_Goals&subcategory=General_Overview&compareSegments%5B%5D=countryCode%3D%3Dnz
This seems to be a bug in compare mode, as both segments that are compared have conversi

[2022-03-02 09:27] sgiehl commented on #18823
Hi @utrautmann
Thanks for creating the issue. Segments using matches on URLs are known to be slow. There might be possibilities to improve that. Maybe @tsteur can help to give some advice.

[2022-03-02 09:59] sgiehl commented on #18864
Hi @dvoraan8. Thanks for creating the issue. We are actually creating temporary tables while archiving in various cases.
See https://github.com/matomo-org/matomo/blob/fe734297e24cea49d1ca3a35b4879e17f92b2921/core/DataAccess/LogAggregator.php#L273-L298
But those tables should be dropped if they aren't needed anymore.

It seems MariaDB changed the handling of temporary tables in 10.2. See https://ma

[2022-03-02 10:33] deirdrew opened #18872 "About Matomo 4.7.1 Tops of Days of the week cut off"
It looks FINE on my android tablets (Tab S7+ and Tab S8 Ultra), but NOT on my Dell 8950 w/Windows 11 using MS Edge (latest and prior versions) The Days of the week section has some of the tops of the letters cut off.
![MS_Edge_Windows_11](https://user-images.githubusercontent.com/56893921/156345017-903bea8a-ffd3-4071-882b-39794a4289e7.png)

[2022-03-02 10:34] dvo-rak commented on #18864
Hello @sgiehl,

unfortunately it seems like there is no way to observe the contents of The Temporary Tablespace in current version of mariadb...

[code]

https://jira.mariadb.org/browse/MDEV-12459

[2022-03-02 10:38] sgiehl commented on #18864
@dvoraan8 you could actually try to disable the segment cache with setting `enable_segments_cache = 0` in config. That should prevent creating any temporary tables while archiving. But I guess it will slow down the archiving a lot.
Maybe @tsteur has another idea on that.

[2022-03-02 11:54] atom-box commented on #18858
Problem: When a user clicks on the _Export as Image_, a div that is maybe 300px x 90px appears sometimes (see below screenshot). It's really tiny. And it doesn't stretch well when copy/pasted.

Solution: Render that image as nearly full screen, in the HTML or CSS can we just say something like `<img width=90%>  `or `width=1200px `or similar?  In CSS at least I know that makes the resolution more c

[2022-03-02 14:47] niklasternstedt commented on #18869
I think it has worked before.

[2022-03-02 15:00] sgiehl commented on #18859
Hey @ShenandoahInfo. As we haven't received any other similar report, it seems to be a very specific one.
You can try to invalidate the report data and re-archive the reports. See this FAQ for details: https://matomo.org/faq/how-to/faq_155/

If that doesn't help, please ask for help on our forum or if you are a customer of Matomo, reach out to our support.

[2022-03-02 15:00] #18859 closed, assigned to nobody

[2022-03-02 19:07] tsteur commented on #18823
@utrautmann you could try and see if enabling the `enable_segments_subquery_cache` feature helps see https://github.com/matomo-org/matomo/blob/4.x-dev/config/global.ini.php#L228 helps. Generally these queries can be slow though. Above query makes me almost think it might be enabled already in which case you would maybe want to disable it.

I would not expect such a query to be executed though that

[2022-03-02 19:11] tsteur commented on #18869
This might be a duplicate of https://github.com/matomo-org/matomo/issues/15849 ? My understanding was it never worked in the first place (and at least seems to have been broken since April 2020 unless it's a different issue)

[2022-03-02 19:21] tsteur commented on #18864
I'm not so much into this topic but did a quick search. https://stackoverflow.com/questions/41216630/how-to-clean-or-resize-the-ibtmp1-file-in-mysql suggests you may need to restart the DB to reclaim the storage and similarly https://dev.mysql.com/doc/refman/5.7/en/innodb-temporary-tablespace.html says the same?

I don't know if it makes sense what I'm writing but maybe it's expected to restart th

[2022-03-02 21:15] atom-box opened #18873 "Remove subtable tooltip if rows are displayed expanded upon search"
A user noticed and was confused by a misleading message in Pages.

To reproduce:
1. Go to Dashboard > Behaviour > Pages
2. Apply a filter term (anything)
3. **Good** See that the hierarchical listing is frozen: the tree does not expand or collapse
4. Unexpected:  The mouseover tooltip misleadingly says _Click this row to expand or contract the subtable_
5. Expected: The mouseover says " "    or el

[2022-03-02 21:36] atom-box commented on #18859
A few users have reported a similar issue this morning.

[2022-03-03 00:13] atom-box commented on #18859
At least one of the cases is actually not our product:
![image](https://user-images.githubusercontent.com/22874146/156471357-890f70d0-41c1-4576-ac09-2b7f0a422c29.png)

[2022-03-03 03:47] RYUDEN commented on #18828
支持你，居然还有两个狗给你点down。
这个项目好多年了 还没把台湾认为是一个国家

[2022-03-03 03:48] RYUDEN commented on #18828
立刻马上修改，台湾是中国的一部分！

[2022-03-03 08:31] dvo-rak commented on #18864
Thank you @sgiehl , setting "enable_segments_cache = 0" did the job. Ibtmp stopped growing and archivation is little slower, but still very well in acceptable range.

@tsteur from time to time is acceptable, but ibtmp file growing 5GB per day and restarting database every week even when you have ibtmp size limit comparable to size of whole matomo db is plain stupid.

------

I'd consider this issu

[2022-03-03 08:31] #18864 closed, assigned to nobody

[2022-03-03 08:54] sgiehl commented on #18864
It's still a bit weird that MariaDB doesn't seem to clean up the space after a table is dropped.

[2022-03-03 09:59] sgiehl commented on #18873
That's very easy to change. Will prepare a PR for it.

[2022-03-03 12:55] sgiehl commented on #18869
That seems to be the same issue, indeed.

[2022-03-03 13:26] sgiehl commented on #18869
I think I found the problem. will prepare a PR to fix that.

[2022-03-03 13:26] sgiehl commented on #15849
closing in favor of #18869

[2022-03-03 13:26] #15849 closed

[2022-03-03 13:39] sgiehl commented on #18872
Might be an issue of the font rendering on windows 11 maybe.
@deirdrew does it work in another browser than Edge?

[2022-03-03 14:10] sgiehl commented on #18858
@atom-box The image is always shown in the size it was displayed before. On the dashboard you can maximize the widget before. That way also the export should be bigger.

[2022-03-03 14:13] utrautmann commented on #18823
@tsteur
I checked the parameters.
[code]
The customer explicitly requested this setting (enable_segments_cache =0) to get the old behavior. Can that be a reason for the problems?

To your questions:

1. Yes, there were multiple segments from different users defined for the same URL.  But no more than 3-4.
2. I'll have to check it if multiple archivers are running in parallel

One further amendment

[2022-03-03 14:15] deirdrew commented on #18872
I have verified that my MS Edge font settings are synched to same on my Windows 10 desktop which shows the days fine. I have not changed any font settings or scale on my Windows 11 system that has the issue. It came installed with Windows 11 so it's a clean install.  Weird.

[2022-03-03 14:16] deirdrew commented on #18872
I don't have any other browser installed and just don't really want to install another one, sorry.

[2022-03-03 14:23] deirdrew commented on #18872
It shows as an image not text on the page, BTW.

[2022-03-03 14:25] rafaelmaeuer commented on #18850
Updating Ubuntu and restarting the Server solved the issue...

[2022-03-03 14:25] #18850 closed, assigned to nobody

[2022-03-03 14:30] sgiehl commented on #18872
@deirdrew does this also happen on our demo?
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&segment=&category=General_Visitors&subcategory=VisitTime_SubmenuTimes

[2022-03-03 14:36] deirdrew commented on #18872
Yes, looks even worse.
![screenshot](https://user-images.githubusercontent.com/56893921/156586139-ae9f04be-538f-42e9-9ff4-f35c7b6a3fb4.png)

[2022-03-03 15:01] sgiehl commented on #18872
I guess this might be caused by our charting library, which is quite old. This might be fixed when we start replacing it like suggested in #16120. Not sure if we can fix that before.

[2022-03-03 15:02] deirdrew commented on #18872
No problem, just made me curious

[2022-03-03 16:15] Findus23 commented on #4969
Maybe we can close this in favor of #16120, which is newer.

[2022-03-03 16:15] #4969 closed

[2022-03-03 22:46] tsteur commented on #18823
It's great on the segment reduction 👍

The settings above should be fine to keep if you specifically needed that behaviour that the customer required. I assume in this case it may be an issue of how many archivers run in parallel. There are options to limit the amount of archivers that run in parallel see https://matomo.org/docs/setup-auto-archiving/#help-for-corearchive-command

Eg `--concurrent-

[2022-03-03 23:42] peterhashair opened #18878 "When come from `Quick Links` section, `add new user` it append `showadduser=1` to the URL permanent"
## Expected Behavior

When I am doing add user to invite user request. I found.
After you click to add a new user from the `Quick Links` section,  it appends `showadduser=1` to the URL permanent, which causes you to land on the `add new user page` when you click the `user` menu item.

## Current Behavior

https://user-images.githubusercontent.com/3783072/156672944-5b27cc49-6eb3-41db-8604-c17fca7b0

[2022-03-04 00:31] atom-box opened #18879 "Warning when running core:archive with Matomo 4.7.1 WARNING …tcpdf/include/tcpdf_static.php(299)"
A user has reported this warning appears during **core:archive**.
Is it possible to make this go away?
It causes the job to fail, which then causes alerts in the user's job monitoring.

[code]

[2022-03-04 01:08] #18873 closed, assigned to sgiehl

[2022-03-04 04:38] yoorshop opened #18882 "Realtime view"
Hi,

Can we customize realtime view so that we see directly at least, last url url visited by visitor, see snapshot
Being obliged to hover icon to see URL visited is not ergonomic, it sounds even mandatory that we see URL visited in a direct manner

![image](https://user-images.githubusercontent.com/10398236/156700412-8700df34-6fbe-4b45-a7dd-61f65770a655.png)

[2022-03-04 09:46] #18787 closed, assigned to peterhashair

[2022-03-04 09:48] #18869 closed, assigned to sgiehl

[2022-03-04 09:55] sgiehl commented on #18878
I guess this is more global problems. Any query parameters that are appended on a page might be passed through everywhere. Same can be seen with `&update=1` when updating something.

[2022-03-04 12:59] sgiehl commented on #18879
@atom-box are you able to provide some more details on the system where that happens?
We actually have configured tcpdf to use a custom path, so `tempnam` shouldn't throw a notice.
Did they maybe configure `path.tmp` to the systems tmp directory?

[2022-03-04 13:19] sgiehl commented on #6624
Closing this one, as we meanwhile deprecated support for GeoIP and GeoIP2 should support IPv6

[2022-03-04 13:19] #6624 closed

[2022-03-04 13:32] MatomoForumNotifications commented on #18879
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/tcpdf-error-when-running-core-archive-with-version-4-7-1/45003/3

[2022-03-04 14:24] sgiehl commented on #18851
HI @MrIsak
Thanks for creating the issue. I guess this might actually be on purpose, that the tracking doesn't return a error response code. Otherwise the failing request might be shown as error to website visitors.

[2022-03-04 16:02] PeteTrombone opened #18884 "Data protection: Hide visitor id in visits log if profile is disabled"
We had to deactivate the visitor profile for data protection reasons.
However, the IP address and the visitor ID are still displayed in the visitor log as a mouseover effect.
![image](https://user-images.githubusercontent.com/57910876/156796735-3c8530f5-0c10-4ff5-b257-4317396b19b4.png)

This is not the case on the Matomo demo page.
![image](https://user-images.githubusercontent.com/57910876/156796

[2022-03-04 16:08] MrIsak commented on #18851
Hi @sgiehl,
If that is the case, the documentation is misleading. Since /matomo.php never will result in anything else than HTTP 200-OK, it's quite useless to monitor it :P

I (from a IT-admin POV), rather get a notification from our surveillance system that something is wrong, than hiding an error in the visitors browser console; which they probably won't notice.

As I see it, there is two altern

[2022-03-04 16:33] GreenReaper opened #18885 "String function warming from isValidHost(null) called after update in Matomo 4.8.0-rc1 on PHP 8.1"
## Expected Behavior

There are no notice boxes on the Matomo dashboard.

## Current Behavior

Two errors are reported as orange message boxes on the dashboard just after update:
[code]

## Possible Solution

The code in question is within `public static function isValidHost($host = false)`:
[code]

It occurs to me that there is no code prior to this that would be triggered by 'null'. [Passing nul

[2022-03-04 16:54] sgiehl commented on #18885
Thanks @GreenReaper for the report. We will try to fix this in the final version of 4.8.0

[2022-03-05 11:55] sgiehl commented on #18884
Hi @PeteTrombone. Matomo doesn't display this private information for the anonymous user. If you would be logged in on the demo you would see it their as well

[2022-03-06 20:38] Findus23 commented on #18530
This also affects the opt-out feature on the personal settings page inside of Matomo:
![grafik](https://user-images.githubusercontent.com/6266037/156941245-135fd333-5691-4cfe-a63d-d122391d1fca.png)

And as there is no direct way to set cookies on another domain there, we might need to remove that feature (or replace it with an explaination)

[2022-03-07 01:11] Starker3 commented on #18879
FYI the forum post linked here is for the same end user. I'll update this issue once I have further details on this.
For more info though, they are running Matomo on a Multi server setup.

[2022-03-07 02:44] #18885 closed, assigned to sgiehl

[2022-03-07 02:56] tsteur commented on #18884
@PeteTrombone Matomo can be configured to [optionally allow anyone to view the tracked analytics data](https://matomo.org/faq/how-to/faq_20130/). This is the case on the demo. When the data is available publicly then this information is hidden.

For the IP if you don't want to show it, then you can either [fully or partially anonymise the IP address](https://matomo.org/docs/privacy-how-to/#step-1-

[2022-03-07 03:03] tsteur commented on #18878
@peterhashair that be a simple fix if I see this right like

[code]

[2022-03-07 10:25] dieisraels opened #18889 "Got empty response from API request without any logging information"
The archiving process occasionally has empty API response over and over again:

[code]

The cron process outputs the following error message in that case:
[code]

I have increased the log level of Matomo to DEBUG, but there are no log entries for the API requests. I explicitly redirect the PHP error logging to a file. I have additionally checked the logging of PHP errors on the CLI this way and it

[2022-03-07 10:33] Alice-Pa opened #18890 "Opt-out font family not taken into account"
Hello,

I have tried to specify a font family in the opt-out iFrame but it is not taken into account.
In the code below, I tried to use "apple-system", which is one of the fonts used into Matomo, with several variations (dash, simple quote, double quote, etc.) but no luck.

Here is the code I generated:
`<iframe
        style="border: 0; height: 200px; width: 600px;"
        src="https://matomo.cn

[2022-03-07 10:42] Findus23 commented on #18890
Checking the source of
https://demo.matomo.cloud/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=f2f6ff&fontColor=2e2f32&fontSize=14px&fontFamily=apple-system
it contains `font-family: apple-system;` as requested.
But `font-family: apple-system;` doesn't really exist, do you by chance mean `-apple-system`? And even then you might also want to specify another font for non-a

[2022-03-07 10:56] Alice-Pa commented on #18890
Hi,
Indeed my initial expectation was to use another font which is "Libre Franklin Regular" (the one used on the tracked site) but it did not work either therefore I tested with a font used by Matomo to confirm the analysis.
Alice

[2022-03-07 12:07] Findus23 commented on #18890
Keep in mind that the opt out is in an iFrame and therefore doesn't have any access to webfonts or any other content of the parent page. So unless the uses has the font installed or you use https://plugins.matomo.org/CustomOptOut to add more CSS (with the webfont) to the Matomo page, then it is expected that it won't work.

But at this point you might want to instead use https://developer.matomo.o

[2022-03-07 13:49] #18806 closed, assigned to peterhashair

[2022-03-07 13:54] sgiehl commented on #18851
@MrIsak Which documentation are you referring to?
From a Monitoring point of view it would indeed make sense to send another response code in that case.
But currently the code is catching all exceptions and outputs the error. See https://github.com/matomo-org/matomo/blob/4.x-dev/piwik.php#L71-L82
Maybe an option would be to look for the word `Error: ` in the response 🤔

@tsteur what do you think o

[2022-03-07 14:04] sgiehl commented on #18889
Hi @dieisraels. Sorry to hear you are having issues with the archiving.
Those segments on page urls are known to be a bit memory and time consuming, especially when they are not using an exact match.
Are you using some custom configuration for `[General] enable_segments_cache` or `enable_segments_subquery_cache`?

[2022-03-07 14:07] MrIsak commented on #18851
@sgiehl   https://matomo.org/faq/how-to/faq_20278/
"HOW DO I MONITOR THAT MATOMO SERVICE IS UP AND RUNNING?"
"HTTP Tracker API: request to /matomo.php **should return http status code 200**"

Looking for a specifik string in the response is one way to go. Even though I personally prefer a correct statuscode, since the possibility of string match/not match varies between different loadbalancers.

[2022-03-07 16:02] dieisraels commented on #18889
No, I have not made any customizations to the above settings. I have made the following (possibly relevant) changes in the [Generic] section:
[code]

[2022-03-07 18:28] heurteph-ei commented on #18773
We just encounter some similar issue (please confirm the similarity, or maybe I have to create another ticket?):

We use some segment based on visit dimension data.
On Friday, March the 4th 2022:
 - We had data (number of visits, of page views, of hits) for whole January 2022.
 - I don't know why, but we did not have data for week 2022-01-31..22-02-06
 - We had data for other weeks of February (20

[2022-03-07 18:47] tsteur commented on #18890
@Alice-Pa I'll close this issue for now as everything is working as expected on our side. Feel free to continue commenting though.

We're starting the work on issue https://github.com/matomo-org/matomo/issues/17452 very soon. This will be a different way of providing the opt out where it will then be possible (or even the default) that your site's font will be used.

[2022-03-07 18:47] #18890 closed, assigned to nobody

[2022-03-07 19:09] tsteur commented on #18851
The FAQ would need to be updated. The `matomo.php` checking if Matomo is the web servers are up and running etc but doesn't test if the DB connection is working.  I believe the first check `/index.php?module=API&method=API.getMatomoVersion&token_auth=YOUR_TOKEN_AUTH_HERE ` would check this though.

In case you are wanting to use this for health checks for a load balancer, then you could
 * either

[2022-03-07 19:57] atom-box commented on #10539
A user wrote, asking if Amp HTML is compatible with Matomo.

He sent a link of which of our peers are used with Amp:
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/

I see several of the tags are different:
https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/

[2022-03-07 22:38] #18598 closed, assigned to peterhashair

[2022-03-08 00:05] Starker3 opened #18892 "Transitions report not using translated string for "Others""
The transitions reports seems to only be using the English version of "Others" in the transitions reports:
French:
![image](https://user-images.githubusercontent.com/20905821/157139104-637b59e6-4b38-4bfd-b8c9-f1b9e36dc2de.png)
German:
![image](https://user-images.githubusercontent.com/20905821/157139144-25bc01b0-4af5-44a2-a213-c8b53a6df01d.png)

The string itself is translated, because it correctl

[2022-03-08 08:52] #18802 closed, assigned to sgiehl

[2022-03-08 13:35] nekohayo opened #18897 "Need to update/replace your code enlistments on OpenHub"
Some years ago @mattab set up Piwik's profile on OpenHub; now that your repositories have all moved under matomo-org, they are out of date in https://www.openhub.net/p/matomo/enlistments ; as a result OpenHub is unable to pull the data, and if even _one_ repository fails to pull, it will not update its data. So I would recommend you delete all those code enlistments there and add the new ones for

[2022-03-08 13:50] Chardonneaur opened #18898 "Add more options for goal tracking based on events"
## Summary

Currently, one can trigger a goal based solely on one characteristic of an event (category or name or . It could be great to give the possibility to do it with multiple event fields, like event category AND event name.
## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-03-08 15:40] drtheobald opened #18899 "Enhancement: adding a second dimension in reports"
In Google Analytics there is the possibility to display a second dimension for certain reports. An example: If I call up the entry pages report, I have the option of showing Google Analytics as a two-dimensional source/medium and can see for each entry page through which channels visits came to the page. Of course there are also other applications, e.g. in acquisition it would be interesting to be

[2022-03-08 16:31] PeteTrombone commented on #18884
@tsteur yes, we have an issue.
Due to privacy laws in Germany (Europe), we had to disable the visitor profiles so that the visitor ID is no longer visible. Unfortunately, the visitor id is still visible in the visitor log as described above. However, we do not want to disable the visits log, because then the ecommerce log, the segmented visits log, the realtime map or the realtime widgets will no

[2022-03-08 16:47] atom-box commented on #18899
Nice screenshot above. Can we move this to the existing issue: https://github.com/matomo-org/matomo/issues/16495 ?
I assume I don't have permissions for doing that...

[2022-03-08 18:37] tsteur opened #18900 "When live max execution query is configured, Visitor profile widget may result in an error if query takes too long"
see https://github.com/matomo-org/matomo/pull/18852#issuecomment-1058011824
and https://github.com/matomo-org/matomo/pull/18852#issuecomment-1060384396

In https://github.com/matomo-org/matomo/pull/14858 we added a feature to define a config `live_query_max_execution_time`  to limit the max time a live query is executed for. If someone is using the Visitor Profile widget in the Dashboard, and if t

[2022-03-08 19:59] tsteur commented on #18884
Indeed @PeteTrombone . If the visitor profile is disabled, then the visitor ID should not be shown, and the visitorID segment should be disabled too. It seems like currently this is only happening when visits log and visitor profile is disabled.

[2022-03-08 20:21] #18773 closed, assigned to bx80

[2022-03-09 00:47] #18768 closed, assigned to sgiehl

[2022-03-09 00:47] jmumby opened #18902 "Set the _pk_id in the past when deleting cookie."
When the _pk_id cookie is set to expire it sets the current date. When tools like cookiebot scans for cookies and have a timing anomaly potentially the cookie can still seem active.

Can we have the cookie set to a time in the past to avoid this issue.

[2022-03-09 05:01] timscha commented on #15608
With newest Version 4.8 I can finally install plugins again.

[2022-03-09 06:21] tw-mk opened #18904 "updateUserFields in Model.php save password with MD5 Weak encryption"
updateUserFields method in Model.php updated the user password in to DB by using MD5 encryption, SonarQube rises a security hotspot on this with the message `Make sure this weak hash algorithm is not used in a sensitive context here.`

Suggested fix from SonarQube,
Safer alternatives, such as SHA-256, SHA-512, SHA-3 are recommended, and for password hashing, it's even better to use algorithms that

[2022-03-09 06:57] aleksijohansson commented on #18902
It seems that the cookies are set to expire in the past when deleted, but only 86400 milliseconds (~86 seconds). Since there can be 26 hours at most between timezones, maybe setting the cookies to expire a good 36 hours in the past would be a safe bet. PR incoming.

[2022-03-09 09:36] unhammer opened #18906 "Error on upgrade: Call to undefined method Piwik\Plugins\Overlay\Overlay::isOverlayRequest()"
## Expected Behavior
Upgrading to 4.8.0 from the web ui.

## Current Behavior

After it seems done, I got a 500, and on trying to log in I see `An Error occurred` and `Call to undefined method Piwik\Plugins\Overlay\Overlay::isOverlayRequest()`

## Steps to Reproduce (for Bugs)

1. Be on some older version (my CHANGELOG file says 4.6)
2. Try to upgrade to 4.8.0 from web ui

## Your Environment

* M

[2022-03-09 09:50] unhammer commented on #18906
fixed by manually wget+unzipping over ssh, as described in
https://matomo.org/docs/update/#the-manual-three-step-update
Maybe it was just some glitch with the auto-unzipping on the server? I'll just close this, probably not a bug if it's just me :-)

[2022-03-09 09:50] #18906 closed, assigned to nobody

[2022-03-09 10:01] sgiehl commented on #18904
Hi @tw-mk. Thanks for creating this issue. Actually only the token_auth should be created using md5. But in the database the token_auth as well as the password should be stored using sha512

[2022-03-09 11:51] yassine-ah opened #18907 "GTM template when using Matomo On-Premise"
Now that many European countries start banning or investigating GA, many companies have choose Matomo as alternative to respect RGPD.

An official Matomo template will help a lot in this transaction, we wouldn't need to recreate the triggers or tags and only change GA by Matomo for example and keep all our other integrations with others analytics tools that respect RGPD.

**trackify.info** have al

[2022-03-09 12:39] vblanchard opened #18908 "[FEAT] Further Breakdown of Device Data"
## Summary

A more granular breakdown by device (specifically for tablets). See example below:

PCs –

Top Operating Systems – Windows 10 (7284)
Second – Mac 10.15

Top Browsers – Chrome (6319)
Second – Edge

Top Screen Size – 1920x1080 (1240)
Second – 1366 x 768

Mobiles -

Top Operating Systems – Android 11 (1058)
Second – iOS15.2

Top Browsers – Chrome Mobile (1796)
Second – Mobile Safari

Top

[2022-03-09 12:40] Cyb0org opened #18909 "Uncaught exception when running console core:archive in Matomo 4.8.0"
[code]

## Steps to Reproduce (for Bugs)
1. Upgrade to Matomo 4.8.0
2. Use PHP 8.1 instead of PHP 7.4

## Context
Standard cron running.
[code]

## Your Environment
* Matomo Version: 4.8.0
* PHP Version: 8.1
* Server Operating System: Debian 10
* Additionally installed plugins:

[2022-03-09 12:46] Cyb0org opened #18910 "Deprecated - trim() in PHP 8.1"
[code]

## Steps to Reproduce (for Bugs)
1. Install Matomo 4.8.0
2. Have PHP 8.1

## Context
Browse URL:
[code]

## Your Environment
* Matomo Version: 4.8.0
* PHP Version: 8.1
* Server Operating System: Debian 10

[2022-03-09 13:12] heurteph-ei commented on #18773
@bx80 do you think my problem will be solved by your PR?

[2022-03-09 13:18] alexisju opened #18911 "A lightweight data migration plugin ?"
Matomo already provide [an official plugin](https://github.com/matomo-org/plugin-Migration) and some instructions to help data migration, but it still require full server access/control and relatively advanced skills. That finally makes complex data migration.

It could be very useful to develop a plugin that provide a more lightweight way to achieve this goal.

That could be apparented to "sync"

[2022-03-09 13:46] Findus23 commented on #18909
This is an issue in the third-party plugin IPtoCompany, so please report this to the author of the plugin.

But it seems like someone already did this and also created a fix:

https://github.com/Romain/Matomo-IP-to-Company/issues/14

[2022-03-09 13:46] #18909 closed, assigned to nobody

[2022-03-09 14:38] MatomoForumNotifications commented on #13321
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/automatischer-passwortversand-bei-anlegen-von-neuen-benutzer/44963/3

[2022-03-09 15:16] Chardonneaur commented on #16144
Thank you for suggesting it. I would also add the necessity to add it at the user level (user id). Because some caracteristics of a given user have to stick to him all his cycle on.

[2022-03-09 15:19] Chardonneaur opened #18912 "Add regex condition pattern various places"
Giving the possibility to users to use Regex within segments, custom alerts and custom reports will give them far more flexibility.

## Summary

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-03-09 15:57] sgiehl commented on #18910
Hi @Cyb0org. Thanks for the report. I will quickly check if that one can be easily fixed and provide a PR for it...

[2022-03-09 16:09] sgiehl commented on #16144
I guess this would more likely be something for a new plugin. We currently do not store any details for a specific visitor or user. All data is either related to an action or a visit.

[2022-03-09 16:32] heurteph-ei commented on #16144
Not totally agree with you, @sgiehl:
![image](https://user-images.githubusercontent.com/79993552/157486290-8b42b399-b192-407c-a1e3-2f52720887df.png)

[2022-03-09 16:35] sgiehl commented on #16144
Those data is based on the last visit or a summary over all visits.
So there can be multiple values per visitor / user, depending how many visits they had. It's not a direct link to the visitor / user

[2022-03-09 17:11] Chardonneaur commented on #18821
@tsteur thinking out loud here, but is the roll-up feature could be of any help here? Because, it can create a copy of an existing website + have its independent settings.

[2022-03-09 17:17] Chardonneaur commented on #18821
Rethinking about it, it won't be the perfect solution as we cannot disable individually plugins per site.
So for example if website 1 is collecting personal data such as the user ID, then the copy of this website (as a roll-up) will receive the user ID too (even if the log visit is disabled).
In fact one would need to be able to disable all PII data collection point per site.

[2022-03-09 18:20] heurteph-ei opened #18914 "How do I track pages across Multilingual sites or sites in Multiple Languages in Matomo?"
From reading the new how-to page https://matomo.org/faq/how-to/how-do-i-track-pages-across-multilingual-sites-or-sites-in-multiple-languages-in-matomo/

Why don't you provide also the way to change the tracked URL into one without the language, (without using custom dimension). Indeed, when further you want to use **Top Path**, **Transitions**, **User Flow**, etc. if the tracked URL Is not cleaned

[2022-03-09 19:42] tsteur opened #18915 "When selecting a segment with a date range on a goal, then 0 conversions are shown but data shows when selecting the same range as a week"
I couldn't reproduce this on demo or any other segment or any other data range that covers a week. It only happens for this specific date range and segment combination.

To recreate, please follow the steps below in our analytics for site 12:

* Date range (2022-02-21 to 2022-02-27)
* Segment ([visited matomo cloud via menu](https://demo-web.matomo.org/index.php?module=CoreHome&action=index&idSite

[2022-03-09 20:06] preciel opened #18916 "Dashboard: Real time visitors trigger javascript error when refreshing"
## Expected Behavior
On XHR request to `https://my-domain/index.php?date=today&module=Live&action=getLastVisitsStart&segment=&idSite=1&period=day`, real time visitors list is refreshed and hovering visitor log icons display a tooltip.

## Current Behavior
If mouse is hovering a visitor log icon when XHR request to `https://my-domain/index.php?date=today&module=Live&action=getLastVisitsStart&segmen

[2022-03-10 07:14] jmumby opened #18918 "Menus close when the screen is scrolled"
If you open any menu then scroll the page down the menu closes making it impossible on some pages to make a selection.

## Expected Behavior
Menu stays open until a selection is made.

## Current Behavior
Menus close

## Steps to Reproduce (for Bugs)
1. Open a menu
2. Scroll down the page

![menu](https://user-images.githubusercontent.com/4339071/157607616-c1b2759d-63e0-4be6-a78f-b24518d31e0d.gif)

[2022-03-10 08:18] 756gzdz5 commented on #18906
@unhammer what did you unzip? I'm having the same issue.

[2022-03-10 08:31] sgiehl commented on #18906
@756gzdz5 It seems for some reason the file `plugins/Overlay/Overlay.php` hasn't been updated correctly. You can download the official release zip and overwrite the contents on your webserver to fix that.

[2022-03-10 08:42] 756gzdz5 commented on #18906
@sgiehl Thank you, now I got it.

[2022-03-10 09:09] heurteph-ei commented on #18918
I think the menu doesn't close because you scroll, but because you click somewhere (out the menu).
If you scroll thanks to the middle button-wheel of the mouse the menu doesn't close...

[2022-03-10 09:13] MatomoForumNotifications commented on #18916
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/real-time-ajax-request-puts-old-entry-to-the-front/45080/2

[2022-03-10 09:45] #18902 closed, assigned to aleksijohansson

[2022-03-10 09:46] unhammer commented on #18906
@756gzdz5 edited my comment for future readers, I meant following https://matomo.org/docs/update/#the-manual-three-step-update instead of "one-click update" :) Interesting that you got the same error, maybe this is a real bug after all?

@sgiehl I think it's more than just that file that wasn't updated correctly (since my CHANGELOG still said 4.6), that's just the first file that lead to an error.

[2022-03-10 09:58] mjschuurman opened #18919 "Losing custom dimensions access when adding view rights"
## Expected Behavior
When I add view right for Website Y to a user that has Admin rights to another website X then I expect the custom dimensions tab in the settings menu not to disappear. This also corresponde to the documentation at https://matomo.org/docs/custom-dimensions/
" They can be edited by anyone having at least ‘Write’ or ‘Admin’ access for a specific website."

## Current Behavior
Whe

[2022-03-10 10:06] ChristopherWalz commented on #18916
I can confirm this issue. The ordering of the entries won't be correct after this error happens:

![image](https://user-images.githubusercontent.com/962334/157639047-4e83985f-7d0b-47ae-a9f1-a13640ba8b18.png)

[2022-03-10 10:10] sgiehl commented on #18916
Hi there. Thanks for creating the issue. I was able to reproduce that locally. Not yet sure what the problem is, but the error stack trace without using a minified js is this one:
![image](https://user-images.githubusercontent.com/1579355/157639661-e430616f-b043-4b75-8113-858999fa7876.png)

[2022-03-10 14:09] mritzmann commented on #18839
I am sorry, but I can no longer reproduce the problem, as I have since deleted several GB of RAW data (to solve the problem described above). The cronjob is currently running successfully for me. Therefore, it probably doesn't make sense for me to check settings like `delete_logs_unused_actions_schedule_lowest_interval`.

But I still think that some kind of monitoring check (for example a notifica

[2022-03-10 14:12] heurteph-ei commented on #18821
@tsteur , in case of tracking to several sites, no need to create triggers multiple times, only the tags. Indeed, the tag config needs Matomo configuration (Matomo server target, site ID, etc.), whereas the trigger just needs an event (and eventually some additional restriction).

[2022-03-10 14:38] atom-box commented on #18724
From users we received these two reports today:

1. User 1
**Fatal error in Matomo 4.8.0**
File `../../CoreHome/vue/src/MenuDropdown/MenuDropdown.less` not found. in anonymous-file-0.less in C:\...\core\AssetManager\UIAssetMerger\StylesheetUIAssetMerger.php 53 using PHP 8.0.0

2. User 2  (a windows environment. It happened after upgrading)
**Fatal error in Matomo 4.8.0**
An exception has been thro

[2022-03-10 15:50] adsham commented on #18612
Any update on this? It seems to be pushed back again into a later milestone.

The referral data is an important part of our service and we have recently seen a client leave to a competitor because of the inaccurate data in our reports (from Matomo).

The initial issue was raised almost 3 years ago in the forum https://forum.matomo.org/t/referral-exclusions/33582/25 and this Github issue was raised

[2022-03-10 21:05] grandpaslab opened #18920 "Required private directories check - false positives"
I'm running Apache 2.4, and the directories in question (/tmp, /config, /lang) are NOT accessible through the browser. My Apache config includes location directives prohibiting access, e.g.:
[code]

I have verified that browsers return a 403 when attempting to view the paths in question, but Matomo's system check still returns errors indicating they're available through the browser.

[2022-03-10 21:25] MatomoForumNotifications commented on #14762
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/transitions-execution-time-oops/45054/3

[2022-03-10 22:09] grandpaslab commented on #18920
NM, I'm an idiot--accidentally had enabled mod_auth_mellon (Okta) auth on the site.

[2022-03-10 22:09] #18920 closed, assigned to nobody

[2022-03-11 00:34] atom-box commented on #16495
A user writes:

_The feature I am missing the most in Matomo is being able to
sort and filter any view by anything. I would like to filter all visits by a specific browser. Or see all visitor actions by a certain source. Or... Maybe this is possible somehow but this is much easier in GA. Sort and filter any view by anything and save this as a new view. This is missing._

_I like right now the seco

[2022-03-11 00:35] atom-box commented on #16495
A user writes:

_In Google Analytics there is the possibility to display a second dimension for certain reports. An example: If I call up the entry pages report, I have the option of showing Google Analytics as a two-dimensional source/medium and can see for each entry page through which channels visits came to the page. Of course there are also other applications, e.g. in acquisition it would be

[2022-03-11 07:20] playernine opened #18924 "Outdated documentation: verify-signatures-piwik-packages"
All links for verifying signatures of piwik packages lead to
https://matomo.org/blog/2014/11/verify-signatures-piwik-packages/

But that is outdated: It works for the old signature pre 4.8.0
Under Mac OSX tryning to import new signature:

gpg --keyserver keys.gnupg.net --recv-keys F529A27008477483777FC23D63BB30D0E5D2C749
gpg: keyserver receive failed: No data

gpg2 --keyserver keys.openpgp.org --r

[2022-03-11 10:24] narfk commented on #18724
As expected, the error also occurs with the 4.8.0 update.
Directory and its content "MenuDropdown" is missing after install the update.

[2022-03-11 15:50] MatomoForumNotifications commented on #15164
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/superadmin-can-not-manage-all-e-mail-reports/45104/2

[2022-03-11 15:50] MatomoForumNotifications commented on #7076
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/superadmin-can-not-manage-all-e-mail-reports/45104/2

[2022-03-11 15:58] andristeiner commented on #10188
Today, i stumbled upon this as well while debugging slow reports when using custom date ranges. I was able to identify the `count(distinct)` queries as the culprit, then found this article: https://www.sisense.com/blog/use-subqueries-to-count-distinct-50x-faster/, and finally this existing ticket.

Let me know when we can assist you with some testing.

[2022-03-11 16:10] onemillionplaces commented on #17738
Is there any update on this? I also got many entries in my PHP Log with "Error in Matomo: Your browser is not supported. Due to security issues your browser is not supported. Please upgrade to a newer version." What is the reason of this error? Is it coming from a bot? Because the timestamp showed my that I was not online the time the error happend.

[2022-03-12 16:06] avkarenow commented on #18460
Sorry for my late reply.
Unfortunately, the problem with big RAM usage still appears.
Now I'm using Matomo 4.7.1

@bx80 I'm archiving 80-400 websites at once. I run the process once per day.

[2022-03-13 06:42] Kixell-NicolasJardillier opened #18933 "UI Problem : Variable Types change simply writing a name"
Hi,

In Tag Manager, just create a new variable (all of types of variables are concerned) specify a name, then the type of the variable change also (https://ibb.co/xqyMRvQ).

This the variable cannot be used.
This is a big issue of the UI

here the config :
* Matomo Version: 4.8.0
* PHP Version: Version de PHP: 7.4.28
* DB Version de MySQL: 10.4.14-MariaDB-1:10.4.14+maria~stretch-log
* Server Oper

[2022-03-13 07:21] Kixell-NicolasJardillier commented on #18933
Re,
this is not only UI problem.
Export/Import JSON produce same error.

This is critical in the sens that it is not possible to change the name of the variable. Moreover, if you can create variables correctly by inspecting the source code to override the default JS behavior, the export/import JSON failed.
This is urgent problem.

[2022-03-13 07:45] Kixell-NicolasJardillier commented on #18933
To illustrate the UI (but export/import is also bugged)
![Mar-13-2022 08-42-48](https://user-images.githubusercontent.com/4049969/158050345-2e2c0183-b615-4d91-b83d-f88e1c22ab69.gif)

[2022-03-13 08:44] sgiehl commented on #18933
@diosmosis is this Vue related?

[2022-03-13 15:05] diosmosis commented on #18933
@sgiehl this was reported in https://github.com/matomo-org/tag-manager/issues/444 and fixed in https://github.com/matomo-org/tag-manager/pull/445

[2022-03-13 15:44] atom-box commented on #18724
@sgiehl  Re-open?

[2022-03-13 16:23] #18933 closed, assigned to nobody

[2022-03-13 20:52] justinvelluppillai opened #18934 "Matomo knowledgebase discoverability improvements"
In order to assist with our goal of improving discoverability of relevant, timely information while onboarding and using Matomo we have the following improvements:

## Summary

- [ ] adding a Search placeholder so it’s more clear there is a search.

![image](https://user-images.githubusercontent.com/1127121/158078765-17ed0fa1-c986-4882-9104-3a1b01226db9.png)

- [ ] In the search box make the categ

[2022-03-14 02:27] tsteur opened #18937 "Integrity constraint violation: 1062 Duplicate entry '...' for key 'PRIMARY for segment temporary table"
Getting recently below error regularly. I assume this started with https://github.com/matomo-org/matomo/pull/18797

/* trigg...', Array) #7 core/DataAccess/LogAggregator.php(561): Piwik\DataAccess\LogAggregator->generateQuery('count(distinct ...', Array, 'log_visit.visit...', '', '') #8 core/ArchiveProcessor.php(546): Piwik\DataAccess\LogAggregator->queryVisitsByDimension(Array, 'log_visit.visit..

[2022-03-14 14:57] atom-box commented on #18724
A user reported:

**Fatal error in Matomo 4.8.0**
An exception has been thrown during the rendering of a template ("File `../../CoreHome/vue/src/MenuDropdown/MenuDropdown.less` not found. in anonymous-file-0.less"). in C:\...\htdocs\plugins\CoreUpdater\templates\runUpdaterAndExit_welcome.twig 8 using PHP 7.4.19

[2022-03-14 15:13] anyworx opened #18942 "More beautiful reports with 100% width"
Hello Developers,

thank you for this wonderful product - I love Matomo, but I feel there is one thing I should tell you as a developer:

Once a month, I send a Matomo report to my customers and I think these reports could look much better, with a simple change... when the graphs and tables are set to 100% width, it doesn't seem like patchwork.

To illustrate it, I have uploaded a screenshot to my

[2022-03-14 17:12] jonathonbyrdziak opened #18941 "The returned Visitor ID from the javascript tracker differs from what is saved in the db."
I understand that the data FORMAT is different, that's not my issue.

I'm using console.log as follows:

[code]

which produces the following value:

     d4d9791c9fb904aa

Yet, in my database the following visitorId is being stored for the same visit.

    6c5425eaf978227b

These two values are making it impossible for me to enhance Matomo with my own plugin data.

## Expected Behavior

I would e

[2022-03-14 20:04] axwell commented on #18916
Any updates on this ? i did apply the pull request manually, but the issue still exists...

[2022-03-14 20:30] sgiehl commented on #18916
@axwell did you clear the cache and/or tmp folder of Matomo after applying the changes?

[2022-03-14 20:36] #18833 closed, assigned to sgiehl

[2022-03-14 23:21] peterhashair commented on #18916
@axwell do you want to try again, I think this time it fixed it. I can see the error stay in `catch=>e` log on my one.

[2022-03-15 00:19] tsteur commented on #18937
In case it helps, it seems to mostly happen with high traffic instances. It could be though that it's unrelated to high traffic and maybe they use certain features or so

[2022-03-15 04:16] jmumby opened #19028 "Have a message in the UI after install saying this plugin does not track to Cloud"
There is a bit of confusion for customers when it comes to trialling cloud and Matomo for Wordpress. Users will for example install Matomo for WordPress and then mention there is no tracking in the cloud.

It would be good to have an admin notice congratulating the user on installing Matomo and that it does not track to the Cloud for example.

![image](https://user-images.githubusercontent.com/433

[2022-03-15 07:23] axwell commented on #18916
@peterhashair the error does not appear anymore, but the live results are not ok, after a few minutes the latest visits disappear and i need to do a hard refresh.
I do not have reproduction steps at this moment, i do not know if it is related to this or not.

This issue was seen by others users as the above forum link states.

Later edit:
`index.php?module=Proxy&action=getCoreJs&cb=3ce62b8ac424ca8

[2022-03-15 09:20] sgiehl commented on #17738
Thanks everyone for the feedback. I had a closer look again. I guess the problem is, that we are showing the error page in that case, which is doing a direct logging here:
https://github.com/matomo-org/matomo/blob/6b12f37eb630d25dffa13e315b894abda80ed5af/core/testMinimumPhpVersion.php#L117
We will need to check again how we can prevent a logging in that special case

[2022-03-15 09:27] onemillionplaces commented on #17738
Hallo Stefan. Kannst Du mir kurz erklären, wie es überhaupt zu dieser Fehlermedlung kommt? Ich bekomme die fast jeden Tag und das zu Zeiten, wo ich nicht online bin. Kommt das durch irgendeinen Bot? Kann man die Zeile 117 theoretisch einfach auskommentieren?

[2022-03-15 09:30] sgiehl commented on #17738
@onemillionplaces The Matomo UI doesn't support older browsers. So if someone tries to open the UI with an older browser Matomo shows an error (as it wouldn't work). The browser is detected based on the useragent. So in theory a bot could send an outdated useragent, causing this error.

[2022-03-15 09:35] sgiehl commented on #18941
@jonathonbyrdziak Are you maybe using the javascript tracking with cookies disabled?

[2022-03-15 09:44] onemillionplaces commented on #17738
@sgiehl The error always occurred at times when I was not online. So it can only be a bot. Does it make sence to add a htaccess file in the Matomo folder with something like this:
`RewriteCond %{HTTP_USER_AGENT} "com.google.GoogleMobile|Photon|SemrushBot|HeadlessChrome|Uptimebot|Wappalyzer|WhatsApp|NetcraftSurveyAgent|contxbot|Gluten Free Crawler|facebookexternalhit|Dalvik|MJ12bot|WordPress|Apache

[2022-03-15 10:12] James-Oakley commented on #17738
Most of that will be irrelevant. The user agent is presenting as an older browser, hence the error. So trying to block legitimate bots with htaccess will not have any effect. They're also probably spoofing their user agent to look like a browser, and are using that of an outdated browser, so trying to block them using htaccess is unlikely to work as they'll be trying to evade such things.

Prevent

[2022-03-15 15:24] preciel commented on #18916
Haven't checked the commits yet, just a thought here...

To me, the problem comes from the moment a request is sent to the server to refresh the real time visitors list.
Wouldn't it works better, using `Promise()`, to wait for the request result before relaoding DOM  and re-apply events if needed ?

[2022-03-15 19:18] peterhashair commented on #18916
@Preciel Thanks for the comments, but I think this is already under the `Promise` callback. If I saw this correctly is caused by overlap hover 2 icon shows 2 tooltips and at the same time, and the refresh happened.

[2022-03-15 19:18] peterhashair commented on #18916
@axwell will give a another go.

[2022-03-15 19:34] atom-box opened #18945 "Enhancement: Improve integration to Power BI by mapping IP and visitor ID columns properly from Matomo to Power BI"
Currently when transferring data from Matomo to Power BI the Ip and Visitor ID columns cannot be read.

User reports:
_Connecting to the DB from Power BI is not ultra smooth (IP and visitor ID columns cannot be read in Power BI)._

[2022-03-15 21:08] zipus opened #18947 "Fix console command to disable 2FA for a user"
When I disable 2FA for my admin user I receive the following traceback:
[code]
It's running from
* Matomo Version: 4.4.1
* Image: matomo:fpm-alpine
* Server Operating System: Linux with Docker

[2022-03-15 21:14] sgiehl commented on #18945
@atom-box Those values are stored as BINARY values in the database. We won't change that in the future I guess.
I'm not sure if Power BI has a possibility to show BINARY values decoded somehow.

@peterbo Do you know if that is possible somehow?

[2022-03-15 21:33] atom-box commented on #18945
On that exact track the user wrote back, adding:
_"The issue is on the Power BI side, as this tool cannot read binary.
Yet, given than Power BI is more widespread than Matomo, I would expect Matomo to work around Power BI, not vice versa.
Matomo needs to be 100% business-ready in order to convince decision makers that it is worth dumping GA for."_

[2022-03-15 23:20] atom-box opened #18948 "Enhancement: Be more transparent in Feedback Form; alert user that an email is about to be sent from their On Premise instance"
After clicking
_Question: What is the one thing you’d like to see improved in Matomo and why?_
and then hearing back via
email from us, one user was unhappily surprised:

_"Oh this sent an email? That form should really be clear how the feedback is being sent. I thought this was an anonymous form that submitted a web request, not an email from my own mailserver."_

In plugins/Feedback/API.php ?

[2022-03-15 23:26] gruniversal commented on #17452
I made a very simple JavaScript opt-out to circumvent the iframe on some of my projects:
https://gitlab.com/gruniversal/erwin/-/blob/master/src/extensions/MatomoOptOut/MatomoOptOut.js

It also takes care of localisation by recognizing the browser-language (in a very hardcoded way).

I would be glad to see an "official" non-iframe solution so I can get rid of this some time.

[2022-03-15 23:38] Starker3 opened #18949 "Email reports sent manually through the UI not using configured row limit"
The configured row limit for scheduled email reports is here: https://github.com/matomo-org/matomo/blob/4.x-dev/config/global.ini.php#L560

However, it seems that this limit is not used when sending or downloading the report in the Matomo UI - this seems to be limited to 100 rows and is not changed by increasing the config limit linked above.

This can be reproduced by creating a scheduled report

[2022-03-15 23:50] Starker3 opened #18950 "Email reports: most reports in the PDF should use 100% of the width available so they're readable"
Certain types of reports that only contain a few columns have inconsistent sizing in the PDF report. This results in both inconsistently sized tables and charts in the PDF reports, sometimes within the same page.

Some examples of inconsistently sized reports and pages with changed orientations can be found in the screenshots attached. An example of a PDF report with these issues is attached as we

[2022-03-16 00:47] peterbo commented on #18945
@atom-box ideally, you should use the web connector to connect to the API, e.g. https://example.com/index.php?module=API&method=Live.getLastVisitsDetails&idSite=1&period=day&date=yesterday&format=JSON&token_auth=XYZ, or whatever method fits best. This delivers IP addresses (anonymized of course) and all other binary columns in text format.

For the MariaDB / MySQL connector, I'm not aware of any o

[2022-03-16 05:32] justinvelluppillai commented on #18934
#18944 provides the search box improvements, the info page changes and links to Knowledge base articles for Goals and several others.

Suggested: splitting the admin menu help links task to a separate issue and defer until after the admin menu is migrated to Vue.

Any preferences there @tsteur?

[2022-03-16 10:53] sgiehl commented on #18950
guess this is related to https://github.com/matomo-org/matomo/issues/18942

[2022-03-16 14:00] sgiehl commented on #18947
hi @zipus. Thanks for creating this issue. I was able to reproduce that using the latest version. It seems the command for disabling 2fa for a user is currently broken.
The problem seems to be this code:
https://github.com/matomo-org/matomo/blob/284bdc0816dd2eff4010e4be42812ff3cc7e25e1/plugins/TwoFactorAuth/Commands/Disable2FAForUser.php#L31-L33
As the API requires a password confirmation, this ca

[2022-03-16 18:57] L3on1d opened #18951 "SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry"
Hi!

After upgrade to Matomo 4.8.0 my system started sending such error messages: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '_NUMBER_' for key 'PRIMARY'.

Any help would be appreciated.

Thank you!

[2022-03-16 20:21] tsteur commented on #18934
@justinvelluppillai sounds good to split it and create a new issue and do it later 👍

[2022-03-16 20:25] justinvelluppillai opened #18952 "Add help links to knowledge base for admin menu items"
The reporting page menu has `?` icon which provides help messages and links to docs.

![image (4)](https://user-images.githubusercontent.com/1127121/158078764-0dd4f33c-ddcf-4df5-afed-5fef06f1d2f1.png)

It would be good to add applicable links to the admin page menu also.

![image (3)](https://user-images.githubusercontent.com/1127121/158078761-44292770-ce2a-423a-b621-7de200b4f552.png)

Note: We sh

[2022-03-16 21:35] peterhashair commented on #18916
The errors were caused by a jQuery UI bug, ref https://github.com/jquery/jquery-ui/pull/1994. Update Jquery UI version to 1.13.1, the error disappeared.

[2022-03-16 22:05] tsteur commented on #19028
@jmumby I've updated the WordPress plugin description so it'll become slightly more clear.

I've also thought about your suggestion for a while as I'm not 100% sure where to display it, for how long it should be displayed, and whether it would really help. I wouldn't do it for now but instead do a likely more effective solution:

* Update the guide (done this already)
* Update the product (details

[2022-03-16 22:38] tsteur opened #18954 "Link to FAQ not working when segment archiving disabled for plugin"
Just enabled the feature for https://github.com/matomo-org/matomo/pull/18279

This links to https://matomo.org/faq/how-to-disable-archiving-the-segment-reports-for-specific-plugins

I clicked on the link and the link is not working.

Expected: I expect the FAQ to work and explain what is happening.

<img width="766" alt="image" src="https://user-images.githubusercontent.com/273120/158703012-ff36ad

[2022-03-17 00:47] peterhashair commented on #18954
@tsteur should work now, it seems like the article was not published.

[2022-03-17 01:01] tsteur commented on #18954
👍

[2022-03-17 01:01] #18954 closed, assigned to nobody

[2022-03-17 01:40] #18054 closed, assigned to peterhashair

[2022-03-17 02:40] #18934 closed, assigned to justinvelluppillai

[2022-03-17 03:43] preciel commented on #18916
Will give it a try, thanks for the  information !

[2022-03-17 04:39] peterhashair commented on #18916
@Preciel that fix will be included in the next Matomo release as well :) .

[2022-03-17 04:43] Preciel commented on #18916
Great @peterhashair, cauz I will need the update... I broke matomo...
I removed an unused market module, and now matomo won't load...
Is there a way like in Symfony to force package reinstall (js and php) ?

I got those two errors, but matomo was running fine before uninstalling the module...
[code]
[code]

[2022-03-17 06:19] mikkeschiren opened #18957 "Add the possibility to not invalidate archives when archiving"
## Summary
When you are runing core:archive for an old date that needs re-archiving, there should be a possibility (--skip-invalidations or similar), to not invaildate archives

[2022-03-17 08:46] MatomoForumNotifications commented on #18933
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-4-8-0-tag-manager-variable-editing-variable-name-changes-variable-type/45181/2

[2022-03-17 09:14] #18916 closed, assigned to peterhashair

[2022-03-17 10:44] sgiehl opened #18958 "Add UI tests for Custom Dimensions management"
While testing #18926 I realized, that we actually don't have any UI tests for the custom dimensions management UI.
To prevent any future regressions we should consider adding at least a couple of basic tests there.

[2022-03-17 10:59] #18910 closed, assigned to sgiehl

[2022-03-17 16:16] BobOtike opened #18960 "Deleting recorded sessions via HTTP API doesn't remove them from Matomo Cloud quota"
## Expected Behavior
When I hit the quote of sessions I can record, all session recordings get set to "Ended". Ideally, I would then be able to remove some of the recorded sessions to go below the quota, and the recordings would continue until the quota is hit again. At the very least, I would be able to start a new session recording while I have an unused quota.

## Current Behavior
I have Matomo

[2022-03-18 00:37] tsteur opened #18962 "count(): Argument #1 ($value) must be of type Countable|array, null given in Sparkline/DataTrait.php"
Error: {"message":"count(): Argument #1 ($value) must be of type Countable|array, null given","file":"\/vendor\/davaxi\/sparkline\/src\/Sparkline\/DataTrait.php","line":117,"request_id":"10bc1","backtrace":" on \/vendor\/davaxi\/sparkline\/src\/Sparkline\/DataTrait.php(117)\n#0 \/vendor\/davaxi\/sparkline\/src\/Sparkline\/DataTrait.php(117): count(NULL)\n#1 \/vendor\/davaxi\/sparkline\/src\/Sparkl

[2022-03-18 00:39] tsteur opened #18963 "Argument #1 ($m) must be of type Piwik\Plugin\Metric, __PHP_Incomplete_Class given, in Visualizations\Graph"
Error: {"message":"Piwik\\Plugins\\CoreVisualizations\\Visualizations\\Graph::Piwik\\Plugins\\CoreVisualizations\\Visualizations\\{closure}(): Argument #1 ($m) must be of type Piwik\\Plugin\\Metric, __PHP_Incomplete_Class given","file":"/plugins\/CoreVisualizations\/Visualizations\/Graph.php","line":243,"request_id":"3e7f2","backtrace":" on /plugins\/CoreVisualizations\/Visualizations\/Graph.php(2

[2022-03-18 10:19] jonathonbyrdziak commented on #14588
I have this bug cropping up on my server. I can give you access to have a look if you'd like. Seems that it's happening with a custom report that I created.