[2022-09-30 00:46] bx80 commented on #19790
Hi @Chardonneaur, thanks for highlighting this. The new metrics should definitely be added to the glossary with proper explanations. :+1:

From memory:
`nb_conv_pages_before` is the number of total pages viewed in a visit before a conversion, eg. Page A, Page B, Page A = 3
`nb_conversions_page_uniq` is the number of unique pages viewed in a visit before a conversion, eg. Page A, Page B, Page A = 2

[2022-09-30 00:52] bx80 commented on #19791
Thanks for highlighting this @Chardonneaur, that's a UX that really needs improvement :+1:

[2022-09-30 01:03] #19792 closed, assigned to justinvelluppillai

[2022-09-30 06:12] kava81 opened #19799 "Custom Report totals row default true"
Hi,

it would be nice to have a flag for enable/disable the bond totals row at the bottom of the report.
Now you have to click on "The report is not showing the totals row - Show totals row "

So' we don't use the gear icon for each report.

thanks

[2022-09-30 07:19] jrca025 opened #19800 "Is there a way to filter a specific user ID on Visitors > User IDs?"
For example I will search user_id = 1.

When I try to filter it, it seems like all user id with "1" will be shown.

![image](https://user-images.githubusercontent.com/89201548/193213678-45296e0a-aa70-48dc-bf47-249040597b85.png)

[2022-09-30 07:49] heurteph-ei commented on #19780
@bx80
My Matomo (version 4.0.5 migrated to 4.3.1) has the same symptoms.
It looks like Matomo creates always empty archives from December 2008...

[2022-09-30 08:12] canuonifeng commented on #19780
I dropped the older tables,  then create tables like this after soon.

![image](https://user-images.githubusercontent.com/8425355/193223690-2cf4ab27-8a70-4ee7-8ae0-82b5b36abde7.png)

My Matomo settings like this,  if the problem happend with this setting?

![image](https://user-images.githubusercontent.com/8425355/193223055-658f1c6d-1153-4cad-bc2c-6c94d3419893.png)
![image](https://user-images.git

[2022-09-30 10:11] tassoman opened #19801 "Move public environment outside private directories"
The security check feature called Required (and Recomended) private directories" is now [generating about 15 open issues on github](https://github.com/matomo-org/matomo/issues?q=is%3Aissue+private+directories) if we exlude closed issues.

For example, I've put this effective directive inside apache, but looks like not enough for the feature.

[code]

In my opinion private directories shouldn't ser

[2022-09-30 10:46] peterbo commented on #19772
There is another use-case that doesn't work anymore. If you're using the LoginLDAP plugin, and you e.g. want to create "external" accounts for the web/seo/marketing agency (which are not in your LDAP), then you'd have to enable the Login plugin.

But you can't use both plugins at the same time ("Warning: Both the Login and LoginLdap plugins are enabled! This will cause logins for LDAP users to fai

[2022-09-30 10:50] AltamashShaikh commented on #19772
@peterbo Just FYI, the LoginLdap issue will be resolved with release of Matomo 4.12
Refer - https://github.com/matomo-org/matomo/issues/19717

[2022-09-30 13:39] lneuville commented on #15198
Hi guys !
I was just about to add this feature suggestion.
So, +1 vote :-)

best rgds

[2022-09-30 15:12] MatomoForumNotifications commented on #19799
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/custom-report-totals-row-default-true/47501/6

[2022-09-30 15:40] Findus23 commented on #19801
I think that's the same discussion as https://github.com/matomo-org/matomo/issues/19505
And I still agree that this is (at least as an optional installation method) a huge benefit for Matomo.

[2022-10-01 22:04] avkarenow commented on #18460
Hello,

I made an upgrade to the latest Matomo 4.11.0 and changed PHP version from 7.2 to 7.4.
Unfortunately, the problem with high memory usage still appears on my systems.
I also tried --max-websites-to-process/--max-archives-to-process options but it didn't help (errors like `Allowed memory size of x bytes exhausted`).
So far --php-cli-options='-dmemory_limit=12G' works mostly fine.

Can changi

[2022-10-02 18:57] tsteur commented on #18295
We're having this issue daily quite a few times with various customers.

[2022-10-02 20:03] #19625 closed, assigned to peterhashair

[2022-10-02 20:03] #19786 closed, assigned to diosmosis

[2022-10-02 20:11] peterhashair commented on #19800
@jrca025 we normally don't ask support questions in Github, refer to our [forum](https://forum.matomo.org/). But to filter User ID, you can create a segment. See screenshots.

<img width="311" alt="image" src="https://user-images.githubusercontent.com/3783072/193474186-cf353d01-4a98-4246-8156-b007da22b300.png">

[2022-10-02 20:25] peterhashair commented on #19800
@jrca025 you are right, the system searches substring, and everything containing `1` will be shown, but I guess that's expected behavior. To filter a single number, maybe a user segment can be configed.

[2022-10-03 14:09] jmcourtiade opened #19804 "Change the feedback icons"
Change the feedback icons (Thumbs up and down) by a "Feedback" button on every tools.

## Summary
Change the feedback icons (Thumbs up and down) by a "Feedback" button. So that we can send feedback whatsoever. Personally, when I want to give you feedback, it is in order to improve Matomo, and it does not matter, in my opinion, whether to click on up or down. Most of the time I hesitate, and choose

[2022-10-03 14:44] Sofia-Morgado commented on #18378
@keller31 Hello :) I’m participating on Hacktoberfest 2022, can I take this issue?

[2022-10-03 20:29] atom-box commented on #19772
A user writes:
_"If I want to invite a new user the email invitation does not work."_

[2022-10-03 21:00] tsteur opened #19806 "Error array_combine(): Argument #1 ($keys) and argument #2 ($values) must have the same number of elements in PivotByDimension"
stack trace:

[2022-10-03 21:12] audrasjb opened #19807 "Hide redundant information from assistive technologies"
## Expected Behavior

On several places of the admin, assistive technologies users will get redundant information due to duplicate info between text and title attributes, etc.

## Current Behavior
For example, it's the case on the Visits overview dashboard widget.
I can open a new PR for each occurrence I find. Hopefully it will help removing those redundant info.
For example, on the Visits Overvi

[2022-10-03 22:51] peterhashair commented on #19772
@atom-box we create a copy user link that should be in the next release soon.

[2022-10-04 08:23] sgiehl commented on #18727
Note: Once this has been changed, we also need to update the marketplace, as well as prepare a change for the documentation here: https://developer.matomo.org/guides/distributing-your-plugin#pluginjson-file

[2022-10-04 08:41] sgiehl commented on #19783
This has already been fixed with https://github.com/matomo-org/matomo/pull/19190/files#diff-05e5730fc6d27386e71d02ec01af30266f96593438ba2e504a8e900dccd0e0b5

[2022-10-04 08:41] #19783 closed, assigned to nobody

[2022-10-04 10:03] LewisReyes opened #19810 "20 to 40% of visitors are not tracked, if using Kubernetes Cluster"
Hello
I use Matomo in several projects. On VDS everything works fine, sometimes I even see more visitors compared to Google Analytics

But in the current project, the infrastructure is located in the Kubernetes Cluster. I see that the statistics are 20-40% lower, compared to Google Analytics. Despite the fact that the configuration is exactly the same as in other projects

To solve this issue, I d

[2022-10-04 10:19] sgiehl commented on #19810
Hi @LewisReyes
I actually don't have any experience with Kubernetes. But based on your report this looks like a very specific issue, that does not have anything to do with Matomo it self.
We are actually unable to provide support for such specific use cases here on GitHub, as our time is quite limited.

Personally I would try to narrow down the issue a bit more. You could for example send a certai

[2022-10-04 10:19] #19810 closed, assigned to nobody

[2022-10-04 11:36] glatzenarsch commented on #19019
This would be great  or just maybe to use different config.ini.php in matomo-archive cron (--force-idsites --force-config)?

TNX!

[2022-10-04 11:53] sgiehl commented on #19744
This would be something that could also be implemented quite easily in a new plugin.

[2022-10-04 13:45] LewisReyes commented on #19810
Thanks for your reply
Yes, I think it makes sense to run another test site on another Kubernetes Cluster and check how Matomo handles it. I'd be grateful to get some expertise advice on the following matters:
- which test is best for traffic generation
- what type of logs to pay attention to in Matomo (how to find unrecorded visits)

[2022-10-04 14:29] J-F-M opened #19811 "Transitions reports improvement"
Would love if the Transitions report could be further filtered by previous page / source. For example, if 30% of visitors to a specific
page came from a Search Engine on that page, where did these specific people go after that?

Or alternatively the ability to limit the transitions to the visitors that landed on that page (i.e. exclude the traffic coming from
internal pages), which would also solv

[2022-10-04 23:32] peterhashair commented on #17017
@tsteur just found we have something similar, but not the same. Do we consider removing that one?
https://github.com/matomo-org/matomo/blob/6be3e32e29ef8c70e13ace7ef02efcacb64154b5/js/piwik.js#L6524-L6528

[2022-10-04 23:42] tsteur commented on #17017
@peterhashair we would keep it to not break the API as some people might use this

[2022-10-05 01:07] Javi-Ormaechea opened #19814 "in "please enter your password to confirm" form, show error messages above the form (rather than on the previous page)"
Our current password error takes users back one step to be shown the error message. This is not a good practice because firstly, the error message is being shown in a different screen, not in context, and secondly, we are adding an extra step for them to come back to re-enter their password.

**Optimisation.** The right pattern for this is to show an error icon on the text field, highlight the fie

[2022-10-05 07:01] lizzyliao opened #19816 "Matomo ldap sync users upper limit is 999"
Hi All:
     matomo ldap sync users upper limit is 999,
    I can not sync any ldap users into matomo,

    How do I solve this problem ?
    Thank you very much.

* Matomo Version:  4.7.1
* PHP Version: PHP 7.4.30
* Server Operating System: centos7
* Additionally installed plugins: ldap

[2022-10-05 13:04] tassoman commented on #19801
We're on the same frequency, I close as duplicated

[2022-10-05 13:04] #19801 closed, assigned to nobody

[2022-10-05 14:20] sgiehl commented on #19768
@peterhashair did you do any testing with Matomo and that plugin?

This issue was most likely not solved by simply increasing the minimum required matomo version in the plugin. The latest DeviceDetectorCache plugin **is compatible** with previous Matomo versions. But Matomo became incompatible with older versions of the plugin. So updating Matomo without updating the plugin can cause this problem.

[2022-10-05 14:45] sgiehl commented on #19804
Hi @jmcourtiade
Thanks for your feedback.
Our product team will have a look and evaluate possible improvements here.

[2022-10-05 14:51] sgiehl commented on #19761
Hi @Improov-marketing
Maybe try getting some help on our french forum https://forum.matomo.org/c/support-en-francais/10

[2022-10-05 14:51] #19761 closed, assigned to nobody

[2022-10-05 14:52] sgiehl commented on #19769
Guess this is kind of the same as #7130

[2022-10-05 14:54] Improov-marketing commented on #19761
Yes,
Many thanks.
Regards.
Alexandra

De : Stefan Giehl ***@***.***>
Envoyé : mercredi 5 octobre 2022 16:52
À : matomo-org/matomo ***@***.***>
Cc : Alexandra Ripot ***@***.***>; Mention ***@***.***>
Objet : Re: [matomo-org/matomo] Rapport Courriel Personnalisé (Issue #19761)

Hi @Improov-marketing<https://github.com/Improov-marketing>
Maybe try getting some help on our french forum https://forum.m

[2022-10-05 18:59] tsteur opened #19817 "Fix Referrers.getKeywordsFromSearchEngineId API for invalid subtable ids"
URL to reproduce: https://demo.matomo.cloud/?date=2010-04-22&filter_limit=25&format=JSON&idSite=1&idSubtable=34&method=Referers.getKeywordsFromSearchEngineId&module=API&period=month&token_auth=anonymous

GET: {"date":"2010-04-22","filter_limit":"25","format":"JSON","idSite":"1","idSubtable":"34","method":"Referers.getKeywordsFromSearchEngineId","module":"API","period":"month","token_auth":"anonymo

[2022-10-05 19:28] tsteur commented on #19769
Indeed @sgiehl 👍

[2022-10-05 19:47] tsteur opened #19818 "When viewing the real-time report, the Segment selector is not aligned"
This is the case when the Matomo install has only one site. Then select "Visitors -> Real-time" in the reporting menu

<img width="543" alt="image" src="https://user-images.githubusercontent.com/273120/194149152-88210989-c135-44d2-b8ac-f7cd7efd5b1e.png">

The segment selector should be aligned with the card below and be moved a few pixels to the left.

[2022-10-05 19:54] tsteur opened #19819 "Ensure empty report tables also use max width"
Not sure if that was on purpose or a regression. Previously, they were limited to a certain width but now in 4.12 they utilise the full screen width.

For example it looked like this in 4.11

<img width="1851" alt="image" src="https://user-images.githubusercontent.com/273120/194150389-fbdda9fa-becd-4d94-9314-71be99b7310b.png">

But now in 4.12 they use the full width.

I couldn't find anything in

[2022-10-05 19:56] peterhashair commented on #19768
@sgiehl yes, I thought to release a lower version, with 4.11 comparable `plugin.json`, then release a newer 4.3 with 4.12 comparable plugin.json. But the plugin team released 4.3. Then I have no idea what to do.  Could we release a lower version after the 4.3 release?

[2022-10-05 20:13] peterhashair commented on #19819
@tsteur It's a maybe on purpose. the max width used to 1200px injected by javascript. But I believe this only applies when there is data inside the table, if there is no data, it shows as full width.

https://github.com/matomo-org/matomo/blob/64e8473b3d6a1227c52fe9dc661806674efaab4e/plugins/CoreHome/javascripts/dataTable.js#L418

[2022-10-06 04:31] sgiehl commented on #19819
I'll set up a PR to fix that for empty tables...

@tsteur would you mind to confirm, if that only happens for empty tables, or also for some tables with data?

[2022-10-06 05:03] sgiehl commented on #19768
@tsteur Does the marketplace accept releases that are lower then the latest version, but within the same major version?

[2022-10-06 05:07] sgiehl commented on #19817
Seems that occurs when a subtable is requested that doesn't exist. Will provide a simple fix for that.

[2022-10-06 05:38] sgiehl commented on #19811
Thanks for your suggestion @J-F-M
You might be able to filter the transitions report by applying a segment.
Nevertheless I agree that it might be helpful to have a more flexible / interactive transitions report.
Our product team will review this and consider it for future improvements.

[2022-10-06 07:05] sgiehl commented on #19799
Hi @kava81
Thanks for creating this report? Is you suggestion only meant for custom reports?
Like adding an option to show the totals row by default when creating a custom report.
Or do you mean that more globally. So a global setting, that would turn on the totals row an all available reports (that support total rows)?

[2022-10-06 07:13] sgiehl commented on #19781
I guess the problem is, that `divezone.net` actually tracks to `ananlytics.divezone.net`. I think our demo uses some generated test data for that domain. To get the page overlay working, I guess the website would need to load `piwik.js` from `demo.matomo.cloud`.
That isn't anything we can fix in Matomo I guess. Might be something for an internal issue...

[2022-10-06 07:51] kava81 commented on #19799
Hi @sgiehl ,
in my opinion "totals" must be in all available reports (that support total rows).
If it was possible I would make a global setting that it will be copied in option on creating custom report.
thanks for interesting

[2022-10-06 08:06] sgiehl commented on #19799
Thanks for your answer.
I'll pass this request to our product team. They will consider it for future improvements.

[2022-10-06 09:20] sgiehl commented on #19759
For me Android is actually in the suggestion list. The list of suggested OS is sorted by their usage. So if there weren't any visits with Android in the last days it might be sorted down the list. As there is a limit how many entries are suggested at all, it can happen that it is removed from the suggestion list I guess. Might be possible that device detector used in Matomo 4.12 is now able to det

[2022-10-06 12:36] sgiehl commented on #15843
With vue it won't be easily possible to overwrite the templates for certain components as they are included in the vue files.
Will close this as won't fix.

[2022-10-06 12:36] #15843 closed

[2022-10-06 13:57] n2N8Z opened #19826 "4.12.0 file integrity fail"
## Expected Behavior
When there was no file integrity issue before an upgrade, there should not be one afterward.

## Current Behavior
After 4.12.0 upgrade there are 3 files that are flagged as not expected.
[code]

## Steps to Reproduce (for Bugs)
1. Have 4.11.0 installed.
2. Install 4.12.0 over the top.

## Your Environment
* Matomo Version: 4.12.0
* PHP Version: 8.1.10
* Server Operating System

[2022-10-06 19:02] Findus23 commented on #19826
This might be related to https://github.com/matomo-org/matomo/issues/18435

[2022-10-06 19:39] n2N8Z commented on #19826
Yeah sounds the same.  Two of the files in this case seem useful though (run_tests.sh, phpmailer.lang-ch.php).

[2022-10-06 19:54] atom-box commented on #19355
A user wrote to Matomo:

"Feature: (Search filter)
Like: No
Feedback: Needs clear search bar"

(The positioning was anti-intuitive:)
"I did not see the search bar feature at the bottom -- after a few dozen pages are being tracked, the view disappears below the fold. Having the search bar at the top (beside the PAGE URL would be great!) would be helpful for discovery."

[2022-10-06 21:03] tsteur commented on #19768
I think it would let you release that. It's also supported to release updates for eg your 3.X-dev etc. The marketplace should then remove any version it's not compatible with AFAIK.

What would be important
* The version number should increase
* The new release should have no overlap with the previous release in terms of the required Matomo version. For example, one require could be `matomo: >=4.1

[2022-10-06 21:28] bx80 commented on #18460
Hi @avkarenow,

I can't promise that upgrading to PHP 8.1 will fix your issue, but there was an improvement to a long standing memory leak issue in PHP 8.1: https://bugs.php.net/bug.php?id=76982 which might be beneficial.

Matomo 4.11+ introduced a new feature to show goal attributions by page, this increases memory usage for archiving and for sites with a lot of visits and/or goals this can be a

[2022-10-06 21:34] bx80 commented on #19695
Matomo 4.12 has been released and includes an option to disable archiving of action goal conversion data.
Adding `disable_archive_actions_goals = 1` to the `[General']` section of your `config.ini.php` will disable this feature entirely.

We're continuing to explore performance improvements for this feature so it can work well on large datasets with millions of conversions per day.

[2022-10-06 21:51] bx80 commented on #19780
Hi @canuonifeng, thanks for the additional information, this could well be related to the automatic data deletion tasks :+1:

It's currently expected behavior for Matomo to create monthly archives tables for the current year, since the current year totals are generated from the sum of the months in the year, so 2022-01, 2022-02, etc are created to allow this to happen. This process could perhaps b

[2022-10-06 21:55] tsteur commented on #19819
@sgiehl it looks to me that this happens also for non-empty reports

[2022-10-07 06:37] skitoxe commented on #18681
Hi!

Any updates on when this feature will be implemented? For our company's use case this would really help out a lot. The current state of permission management leaves much to be desired when you have several larger sites and many editors accessing Matomo.

[2022-10-07 08:30] MatomoForumNotifications commented on #15930
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/unable-to-reduce-size-of-bloated-of-matomo-archive-blob-2020-01-table-help/47726/1

[2022-10-07 08:38] sgiehl commented on #19768
I have now released `4.2.4`, which is compatible to `4.12.0-b3` and a `4.3.1` which is compatible as of `4.12.0-b3`

@tsteur is it normal that after releasing `4.2.4`, the marketplace reported that version as the latest one, even though a `4.3.0` had been released before? Released the `4.3.1` to fix that...

[2022-10-07 08:38] #19768 closed, assigned to peterhashair

[2022-10-07 08:54] codegain commented on #19735
Hi, just wanting to throw in that the change here (https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Marketplace/config/config.php#L9) did in fact break my installation so that every request took more than 1 minute because of the long timeout defined in the marketplace plugin.

The server is only allowed to make outbound connections for https (TCP 443) and not http (TCP 80). I had to shut

[2022-10-07 09:17] sgiehl commented on #19826
@n2N8Z I'll close this as duplicate for now.
The files you mentioned can be deleted safely.

[2022-10-07 09:17] #19826 closed, assigned to nobody

[2022-10-07 09:34] sgiehl commented on #19819
@tsteur can you give some examples?

[2022-10-07 10:36] sgiehl commented on #19524
The reason for not having idaction a BIGINT was explained here https://github.com/matomo-org/matomo/issues/3288#issuecomment-249717454
Not sure if this is still something that is relevant. ping @tsteur @mattab

[2022-10-07 12:29] Chardonneaur commented on #19729
@sgiehl I tried to test the rounding hypothesis and to me it is not because the difference is too high.
Is there any possibility to check the calculation that Matomo is doing to perform the total of this table report?

[2022-10-07 16:11] plexmaniax opened #19831 "Analyze Geo Location before anomynize IP address"
Matomo should set the geo data (flags) before anonymize the ipaddress, to prevent mismatches.

## Expected Behavior

Matoma should analyze the geo data befor anomynize the ip address. It's important for reporting.

## Current Behavior

At the moment matomo anomynized the ipaddress and then it decides which country belongs to this ipaddress.
That is why there was the following error

217.150.XXX.XX

[2022-10-07 16:22] atom-box commented on #19134
To make this more focused, should we change the title to
"Add Page Views Per Minute graph to Real Time visits" or similar?

[2022-10-07 16:22] atom-box commented on #19134
_A user writes:_

"In relation to Real-time. In Google Analytics, in the same page where I see the "visitors online" count, there was also a graph next to it where I could see the Page Visits per minute, in the past 20 (or 25) minutes. This was a very important graph for me, so I could see whether in the past 25 minutes there was an outage. For example, sometimes my website may not load at all for

[2022-10-07 22:35] KingsLine opened #19832 "Need better version detection for macOS"
I am using the latest version of Matomo (4.12.0) and have noticed for awhile now that every version of macOS since Catalina (10.15) is reported as 10.15. While, in fact, Big Sur (macOS 11.0 released in 2020) and Monterey (macOS 12.0 released in 2021) are subsequent releases to Catalina.

![Matomo_stuck_10 15](https://user-images.githubusercontent.com/52168264/194671279-5518276a-3177-453c-96b9-4713

[2022-10-08 04:50] tazzytazzy commented on #16142
Doesn't this do what you requested?
https://matomo.org/faq/reports/how-to-delete-a-dimension/

[2022-10-08 08:51] Findus23 commented on #19832
Hi,

Can you share the user agent your browser is sending to Matomo? (And which browser you are using)
(e.g. by visiting https://devicedetector.lw1.at/)

If that's what the user agent is telling Matomo (and if I remember Apple is intentionally freezing the UA), there is not much that can be done here.

[2022-10-08 12:26] KingsLine commented on #19832
Ah, I see now.

Yes, here is the UA string: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.0 Safari/605.1.15.

So it appears it's an operating system limitation as this happens in both the latest versions of Safari and Chrome on macOS 12.6.

[2022-10-08 12:33] KingsLine commented on #19832
Update: it appears that Matomo can sniff the OS version from Chrome (due to JSON/headers) but not Safari on macOS. I confirmed this using BrowserStack. So, apparently, I have a bunch of visitors using Safari.

[2022-10-09 11:50] Findus23 opened #19833 "Allow empty excludedReferrers on the global setting"
reported in https://forum.matomo.org/t/the-address-is-not-a-valid-url/47725 and reproduced on 4.12.0

If e.g. the "Global list of excluded referrers" is empty, the form can't be saved:
![grafik](https://user-images.githubusercontent.com/6266037/194755276-41ddf823-5854-4edc-a482-3a4d72576a10.png)

related to #19302

[2022-10-09 11:51] MatomoForumNotifications commented on #19833
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/the-address-is-not-a-valid-url/47725/3

[2022-10-09 16:12] WM-Loose commented on #19833
on all installations after update the same problem!

[2022-10-09 21:47] peterhashair commented on #19833
Quickly did a PR for this one, just wondering, once the global setting is successfully saved, should we show a success notification on the top?

[2022-10-09 23:18] bx80 commented on #19524
BIGINT keys will be required to support distributed databases, especially if using random keys. Any future support for single schema would also depend on having a large enough key space. We could have a different schema in that case, but it would be better for data migration and interoperability to standardize on BIGINT keys unless there is still a good reason not to.

[2022-10-10 00:03] tsteur commented on #19819
@sgiehl clicking through a few reports I actually couldn't find any examples. There were quite a few reports that had full width but turns out this was already the case with Matomo 4.11. Not sure if this regressed for other reports earlier some time or if it's always been that way. For example https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSi

[2022-10-10 00:05] tsteur commented on #19768
@sgiehl I think that be expected currently for the user interface on plugins.matomo.org. The API would then suggest the correct version depending on their specific Matomo install (the UI on plugins.matomo.org doesn't pretend to be a specific Matomo version so it shows all). I do wonder though if you were on Matomo 4.3.1 if it would recognise that `4.3.0` is actually a better fit. Probably not. Goo

[2022-10-10 00:54] mattmary opened #19836 "Review the Piwik\Exception\MissingFilePermissionException error message to allow copying it"
Hello, when we have a MissingFilePermissionException, there are some tips to solve it. Unfortunately, we are unable to copy the suggested shell commands because there are on two lines. Adding a line breaks before the shells commands would allow having the command in one line only and so allow to copy and paste them.

## Summary
![Screenshot from 2022-10-10 13-54-03](https://user-images.githubuserc

[2022-10-10 03:55] tsteur commented on #17784
I just got to see the ad blocker page and it wasn't really visible that the page is blocked by an ad blocker until I noticed after a while the top sentence in red. That's on an already installed in Matomo. Wasn't clearly visible
<img width="1401" alt="image" src="https://user-images.githubusercontent.com/273120/194797284-101fd3fa-0a0d-4d12-9fdf-fd0b235de196.png">

[2022-10-10 06:55] sgiehl commented on #19836
Guess on command line, it doesn't make much sense to have html in the exception at all. Might make sense to remove the html tags and replace all `<br>` tags with new lines maybe. But this shouldn't be done, when the exception is thrown in normal context, as it is also shown within the UI.

[2022-10-10 06:57] n2N8Z commented on #19826
While I agree the cause is the same as #18435, but what is the resolution to the specific files that are flagged in 4.12.0, can they really be deleted without impacting any functionality ?

[2022-10-10 07:09] sgiehl commented on #19826
The files you have mentioned in the issue description can be removed safely.

[2022-10-10 07:21] sgiehl commented on #19832
@KingsLine with Matomo 4.12 we have added support for client hints. In browsers using client hints like chrome, it might be possible to detect the correct OS version using such now. For Safari and other brothers not supporting client hints, there is actually not much we can do, as the useragent reports the incorrect version...

[2022-10-10 07:21] #19832 closed, assigned to nobody

[2022-10-10 07:25] sgiehl commented on #19819
Ok. Then this should be fixed with the referenced PR.

[2022-10-10 07:40] sgiehl commented on #19831
Hi @plexmaniax
It should actually be possible in the privacy settings to configure if Matomo should use the anonymized IP address for geolocation or not. So changing that should fix your problem for future visits.

[2022-10-10 07:40] #19831 closed, assigned to nobody

[2022-10-10 07:55] mheland opened #19837 "Better visual support for working on multiple sites"
## Summary
When managing multiple sites it's difficult to see which site I'm working on. Just the name in a small drop-down.
Especially the Tag Manager, available from top menu, attaches containers to a specific site.

Suggesting increased visibility for which site I'm working on. Possibly could each site have a logo/icon or color code or the name bigger so that I know which site is active. Today

[2022-10-10 08:43] sgiehl commented on #19524
I don't think preserved disc space for keys should be that much of an issue nowadays, but just wanted to get a confirmation from @tsteur or @mattab as it seems we made the decision on purpose not to use bigint there in the past...
Also changing that columns means a potential big database migration, which we imho wanted to avoid for Matomo 5. If we decide to do that nevertheless, we could also cons

[2022-10-10 14:07] niteshpatel798 opened #19839 "Application allowing old password to be set as new password at $username.matomo.cloud"
Hi Team,

I found an issue that your application is allowing user to set new password same as that of the old password.

Summary
-
As per secure password policy application should not allow same old password value to be used in setting new password value cos there might be possibility that old password might be exposed or leaked to an adversary so its advisable on application end to enforce strong

[2022-10-10 17:32] MatomoForumNotifications commented on #17452
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/opt-out-using-the-matomo-javascript-tracker-code-is-triggert-by-page-reload/47768/3

[2022-10-10 19:14] tsteur opened #19840 "Enable search on Visitors Software Configurations report"
Just wanted to find out how many people use Safari on Windows and wanted to search in the report for `Windows / Safari` but noticed there's no search field while the other reports do have a search field.

[2022-10-10 20:27] Starker3 opened #19841 "Check downloaded referrer spam list for validity"
We have a user who's normal website traffic was being ignored as a result of the referrer spam blacklist check.
Upon further investigation it was found the the `referrer_spam_blacklist` row in the `matomo_option` table contained the HTML content from an internal firewall/content filter that blocked the outgoing request.

The option had the following value for example:
[code]

Since this effectivel

[2022-10-11 03:55] Starker3 opened #19844 "Tracking code generator incorrectly sets domains for websites that use www in the hostname"
When setting the URL for a website, we specify that it isn't necessary to specify URLs with and without www as Matomo handles both automatically. This means that people can set their URL to either `www.example.org` or to `example.org`:
![image](https://user-images.githubusercontent.com/20905821/194993309-4a7decc3-6236-4bd4-825f-fcba11c940b4.png)

However, when the option "Track Visitors across all

[2022-10-11 07:23] sgiehl commented on #19841
That indeed could be checked. I'll prepare a small PR to fix that.

[2022-10-11 10:32] SOMERSOFTAndrewCrook opened #19846 "Update Semver dependency"
In composer.json it has the line
[code]
and in composer.lock
[code]
This commit [Added support for php8 ](https://github.com/composer/semver/commit/df3d4b187b08b6bb06966afa3069bef3dad6f4e1) indicated it was introduced with verison3.3.2.

## Expected Behavior

Should be able to composer install when using using PHP 8.

## Current Behavior

semver is is flagged as incompatible.

## Possible Solution

[2022-10-11 10:53] niklasternstedt commented on #17926
@tsteur I have experienced the same problem recently. What can I do to solve this?

[2022-10-11 11:43] sgiehl commented on #19840
That should be quite easy to add. Will set up a simple PR for that.

[2022-10-11 15:01] sgiehl commented on #19839
Thanks for creating this report @niteshpatel798
Our product team will consider this for future improvements.

[2022-10-11 15:35] heurteph-ei commented on #19505
@Findus23 , you write:

Do you mean Matomo tracker JS file and MTM containers?
If yes, this will then prevent the easy publication of MTM containers through CDN for example...

[2022-10-11 15:37] heurteph-ei commented on #19769
Then one of them must be closed ;-)

[2022-10-11 16:04] sgiehl commented on #19846
We are actually only using the VersionParser, which seems to run on all versions. At least we don't have any issues when running tests on PHP 8.1.
I think this might be something we could consider doing as part of Matomo 5. ping @justinvelluppillai

[2022-10-11 16:20] heurteph-ei commented on #19729
@sgiehl, I agree @Chardonneaur, even with rounding, you can't have such difference.
On the tooltip, the rounding is acceptable (and not visible): 0.2 + 1.0 + 0.08+0.93+1.09+0=3.30, on the KPI, it is not. with approximations, the maximum gap should be 0.06 (in the screenshot the difference is 0.51s, or 15%, what a huge difference!)

[2022-10-11 18:50] tsteur commented on #17926
@niklasternstedt do you mind creating a new issue for this so the team can triage?

[2022-10-11 19:09] Findus23 commented on #19505
When I wrote this, I didn't think of those. I just mean the JS and the CSS that is used by the Matomo Backend.
It's true that matomo.js (and all variants of those) and the MTM containers would need to be inside the public root. But that should not be more complex to solve than the rest of this issue.

[2022-10-12 09:14] mindbreaker opened #19848 "Error excluded referrers"
I wanted to use the new referrers exclude option, but i got an error while adding some Domains

![image](https://user-images.githubusercontent.com/225204/195302306-b412572f-5fb5-42df-a2de-5b2d17772c7a.png)

Now it is not longer possible to save it:

![image](https://user-images.githubusercontent.com/225204/195302397-3de8a250-8172-4e0f-8a75-620c43f6e39d.png)

[2022-10-12 09:20] MatomoForumNotifications commented on #19848
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-excluded-referrers/47798/1

[2022-10-12 09:34] Findus23 commented on #19848
This might be related to https://github.com/matomo-org/matomo/issues/19833
@peterhashair can you please take a look at this too?

[2022-10-12 10:42] niklasternstedt commented on #17926
@tsteur sure

[2022-10-12 11:02] peterhashair commented on #19848
@Findus23 sure thing

[2022-10-12 12:43] MatomoForumNotifications commented on #19848
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/the-address-is-not-a-valid-url/47725/5

[2022-10-12 14:12] sgiehl commented on #19729
Those are some sort of rounding and calculation issues.
Each single performance metric is calculated by using the sum over all actions, having the metric set, divided through the count of actions.
But the overall metric is computed by summing all metrics over all actions, where one of those metrics have a value, divided through the actions.
So in theory there can be actions, that e.g. only have a

[2022-10-12 15:55] peterbo opened #19849 "DeviceDetector Exception, $clientHints null, should be array"
Exception with queued tracking - I suspect the queuedTracking Plugin to be the reason for the Exception:

Uncaught exception in /home/users/xxx/www/stats/core/DeviceDetector/DeviceDetectorFactory.php line 28:
Piwik\DeviceDetector\DeviceDetectorFactory::makeInstance(): Argument #2 ($clientHints) must be of type array, null given, called in /home/users/xxx/www/stats/core/Tracker/VisitExcluded.php on

[2022-10-12 16:04] heurteph-ei commented on #19729
I think that on the same page (see Chardonneaur screenshot), you should not have 2 different values for the same thing:
![image](https://user-images.githubusercontent.com/79993552/195392687-418099fd-963e-4226-a543-86cffe36ba45.png)
![image](https://user-images.githubusercontent.com/79993552/195392827-ea32f203-a82c-45c0-a4f0-835547e7629c.png)
All values are the same, except Total...

[2022-10-12 16:19] heurteph-ei commented on #19848
Is it linked to https://forum.matomo.org/t/error-500-after-update/47774/4 ❓

[2022-10-12 16:19] MatomoForumNotifications commented on #19848
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-500-after-update/47774/6

[2022-10-12 16:21] heurteph-ei opened #19850 "in User IDs report: remove columns "Unique Visitors" and "Users""
## Expected Behavior
Do not display values that don't mean anything

## Current Behavior
Go:
https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=day&date=2022-10-10&idSite=1&category=General_Visitors&subcategory=UserId_UserReportTitle
Click on the **Change Visualization** icon then **Display a table with Visitor engagement metrics**
Then some

[2022-10-12 16:21] MatomoForumNotifications commented on #19850
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/visitor-engagement-metrics-in-user-ids-table/47770/4

[2022-10-12 16:30] heurteph-ei opened #19851 "Fix console command parameters documentation for optimizing the database"
## Documentation URL
https://matomo.org/faq/on-premise/managing-your-databases-size/#purging-and-optimizing-the-database-using-a-console-command

## Citation

##Problem

# Source
https://forum.matomo.org/t/what-is-the-best-way-to-purge-old-data-if-it-has-never-been-run-in-12-years/38721

# More
Maybe the date format could also be consistent on the whole Matomo API/functions (then another technical

[2022-10-12 16:30] MatomoForumNotifications commented on #19851
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/what-is-the-best-way-to-purge-old-data-if-it-has-never-been-run-in-12-years/38721/3

[2022-10-12 16:41] heurteph-ei opened #19852 "Fix array to string conversion warning in userOptOut"
## Expected Behavior
No error, no warning

## Current Behavior
After 4.12 update:
[code]

Also (in line 48) ?
[code]

## Possible Solution
Fix the bug 🤣

## Steps to Reproduce (for Bugs)
Module: PrivacyManager, Action: usersOptOut, In CLI mode: false?

## Context
https://forum.matomo.org/t/mise-a-jour-4-12-message-pour-info-pas-bloquant/47700

## Your Environment
* Matomo Version: 4.12.0 after upd

[2022-10-12 16:42] MatomoForumNotifications commented on #19852
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/mise-a-jour-4-12-message-pour-info-pas-bloquant/47700/3

[2022-10-12 18:03] #19841 closed, assigned to sgiehl

[2022-10-12 18:39] Findus23 commented on #19849
Could this be the same as https://github.com/matomo-org/plugin-QueuedTracking/issues/192 and the linked forum thread there?

[2022-10-13 07:22] IllonaRZ opened #19854 "Problème d'archivage"
lorsque je souhaite consulter le rapport complet, seul le journal de visites contient des informations, le reste est à 0 depuis le 21 septembre alors que nous avons des visites sur le site comme peut le témoigner le journal de visites.

Aussi, à l'ouverture du rapport complets, deux messages apparaissent :

"L'archivage de votre rapport ne s'est pas exécuté correctement,"apprenez-en plus sur comme

[2022-10-13 07:42] #19817 closed, assigned to sgiehl

[2022-10-13 08:00] heurteph-ei commented on #19854
Bonjour,

Pour ce genre de problème (qui n'est pas encore un bug), il est préférable d'utiliser le forum :
https://forum.matomo.org/

Comment avez-vous configuré l'archivage ?
Y a-t-il des erreurs dans le fichier de log des erreurs de Matomo pour l'archivage ?
Quel est votre environnement ? (Version de Matomo, plugins installés, version de PHP, Apache, Serveur, etc.)

[2022-10-13 08:05] IllonaRZ commented on #19854
Je viens de laisser le même message sur le forum.

Il s'agit du plugin Matomo sur WordPress. je n'ai rien configuré de spécial au niveau de l'archivage et lorsque je fais un archivage manuel une très longue liste d'erreurs apparaît

[2022-10-13 08:16] SOMERSOFTAndrewCrook commented on #19846
@sgiehl Thank you for the reply, could it be a part of 4.12.1 release? It would interesting to find out how many sites use the composer install to build the application.

[2022-10-13 08:27] MatomoForumNotifications commented on #19848
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/mise-a-jour-4-12-message-pour-info-pas-bloquant/47700/5

[2022-10-13 08:27] avimaymon commented on #19411
@sgiehl The second issue was fixed after updating to 4.12 but the first one remains,
we do use the free DBIP database, but I'm not sure it's a DBIP issue because we do get that data on the Cities view

This is how it looks on the Cities view
![1](https://user-images.githubusercontent.com/29678658/195541049-e2038f3a-2791-4001-bc9f-6020929892d1.png)
![1](https://user-images.githubusercontent.com/296

[2022-10-13 08:41] MatomoForumNotifications commented on #18505
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/geolocation-causing-oops-message-after-upgrade/46647/4

[2022-10-13 08:46] sgiehl commented on #19846
We most likely won't update vendor libs with patch releases. Also installing Matomo using composer is not the recommended way to use it, so I don't think many people are doing that. At least we did not yet get any similar report.

[2022-10-13 08:50] sgiehl commented on #19411
I would assume it's a similar issue like https://github.com/matomo-org/matomo/issues/19329
Or the iso region code of malaysia might have changed, and we can't map them correctly.
Should be something to have a look at when implementing #11929

[2022-10-13 09:06] avimaymon commented on #19411
@sgiehl Thanks for the quick reply, if possible, I would love getting an update regarding this issue because it really bothers some clients, thanks!

[2022-10-13 09:15] #19840 closed, assigned to sgiehl

[2022-10-13 09:26] MatomoForumNotifications commented on #18505
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/invalid-origin-error-matomo-4-10-1-on-iis/46617/2

[2022-10-13 11:28] sgiehl commented on #19851
@justinvelluppillai how shall we handle such documentation related issues? Shall we directly have a look at those and fix it if possible, or maybe forward them to support/website team, so they can have a look? Putting them into prioritization queue doesn't sound useful though.

[2022-10-13 13:02] sgiehl commented on #19852
this might related to #19848

[2022-10-13 13:42] sgiehl commented on #19854
I'll close this one. As @heurteph-ei mentioned, it's better to first use the forum for such kind of requests.
If you are able to determine a bug in Matomo for wordpress, the correct place for reporting it would then be https://github.com/matomo-org/matomo-for-wordpress/issues

[2022-10-13 13:42] #19854 closed, assigned to nobody

[2022-10-13 22:32] Starker3 opened #19857 "User Deletion throws error "Password is too weak""
Attempting to delete a user in Matomo 4.12.0 can result in the following error after entering the admin password:
![image](https://user-images.githubusercontent.com/20905821/195740318-1c45524b-4d09-420b-bdb1-b0bb1b6d074a.png)

This results in the user not being deleted.

Error message text:
`This password is too weak, please supply another value or reset it. #0 /var/www/html/plugins/UsersManager/U

[2022-10-13 23:15] Starker3 commented on #16484
We have another request from a Matomo user for this feature today.

[2022-10-14 00:33] #19849 closed, assigned to sgiehl

[2022-10-14 00:39] bx80 commented on #19837
Hi @mheland, thanks for the feedback. Better site visibility could certainly be helpful for people working with multiple sites. I've assigned this enhancement for review by our product team.

[2022-10-14 00:58] bx80 commented on #19852
Thanks for logging this @heurteph-ei  :+1: It's a quick fix, I've created a PR for 4.12.1

[2022-10-14 01:01] bx80 commented on #19850
Thanks for highlighting this @heurteph-ei, you're right - it doesn't make any sense to display those columns on the user IDs list.

[2022-10-14 07:22] Chardonneaur commented on #19729
@sgiehl @heurteph-ei thank you very much for taking the time investing in this issue, I think it is really important that an answer can be provided to the community in an FAQ or similar as the question will come on and on.

[2022-10-14 08:18] #19852 closed, assigned to bx80

[2022-10-14 08:37] sgiehl commented on #19857
Entering a wrong password should always show a wrong password message, even if it's to weak.
I'll prepare a PR to change that.

[2022-10-14 08:46] Starker3 commented on #19857
In this case I don't think it's that the user is typing a wrong password, but the password being used for the password prompt is likely too weak?

[2022-10-14 08:47] sgiehl commented on #19857
That would mean that the password the user is using for his account is too weak. Not sure if it is even possible to log in, in that case.

[2022-10-14 09:14] sgiehl commented on #19729
@heurteph-ei @Chardonneaur  I agree that there shouldn't be two different values. I guess we actually should change the calculation of the value used for the sparkline. Otherwise it might be a bit strange that the total page load time isn't the sum of all other metrics. 🤔

[2022-10-14 11:28] #19833 closed, assigned to peterhashair

[2022-10-14 11:41] FalkHe opened #19862 "Callback in sendRequest() / trackPageView() is not always executed"
## Expected Behavior
The callback in a `trackPageView()` call (and others) should always be executed, once the tracking Request is sent.
[code]
## Current Behavior
In some circumstances, this is not happening. While testing, I noticed it's working in Firefox, but not in Chrome (v 106.0.5249.119 ).

I tried to debug this issue and found [this line](https://github.com/matomo-org/matomo/blob/4.x-dev/

[2022-10-14 12:27] FalkHe commented on #19862
For anyone having the same issue, this is my workaround for now:

[code]

[2022-10-14 21:56] atom-box commented on #18942
A user request:

" _Question: What is your main concern about Matomo?
Answer:
(customised reports in Matomo, truly customised, like on GDS.)_"

[2022-10-14 22:06] atom-box opened #19864 "Allow user to define a custom name for the tracker file so Ad Blocker / Malware is less of a problem"
A user suggests:

_The stats tracker might be blocked by browser ad blockers. The workaround for that looks a bit awkward / fragile to implement. I would appreciate a "supported" solution to the problem instead of a workaround / hack (e.g. a way to define a custom name for the tracker file)._

[2022-10-15 09:13] Chardonneaur commented on #19864
@atom-box thank you for making useful tickets

[2022-10-15 09:16] Chardonneaur opened #19865 "Make the copy the dashboard to user feature compatible with the group permission community plugin"
Hi all,
not sure where to put this ticket, I added it to the group permission community plugin too.
The issue in Matomo is the following one, if you want to copy a dashboard to a user, you need to do it for each single user of your instance.
It would be interesting to copy it to a group also, for example the marketing department group so that you won't need to add 10 users to copy the dashboard to

[2022-10-15 10:11] atom-box commented on #19864
Hi Ronan,
I appreciate the feedback: I am nervous as a newbie so this helps me have confidence.

-Evan
4338 Herrick Lane
Madison WI 53711
Cell: 608-228-9493
http://littlefurnace.com

________________________________
From: Chardonneaur ***@***.***>
Sent: Saturday, October 15, 2022 4:14 AM
To: matomo-org/matomo ***@***.***>
Cc: Evan Genest ***@***.***>; Mention ***@***.***>
Subject: Re: [matomo-org/

[2022-10-16 16:19] atom-box commented on #19864
Hi Ronan,
I appreciate the feedback: I am nervous as a newbie so this helps me have confidence.

[2022-10-16 16:28] atom-box commented on #19864
Related:
https://github.com/matomo-org/matomo/pull/14211
https://github.com/matomo-org/matomo/issues/14207
https://github.com/easylist/easylist/pulls?q=author%3AFindus23

[2022-10-16 17:35] magnus-eriksson commented on #16142
https://matomo.org/faq/reports/how-to-delete-a-dimension/

If you have access to the command line, it could work, but in an organization where you care about security and follow the principle of least privilege, only a few should have that access, and that's rarely the same people that sets these things up through the UI. And they would probably rather work on more pressing things than this anyway

[2022-10-16 19:51] tsteur opened #19866 "Not clear which segment someone is editing when a different segment is selected"
I just selected a segment, for example "Europe".

Then I select a segment "My Test" to "edit" this segment.

<img width="946" alt="image" src="https://user-images.githubusercontent.com/273120/196055092-b91ba9aa-c0dd-428a-b91d-0f32fdc37629.png">

I got confused that I was editing the "Europe" segment and actually had to click around 3 or 4 times while editing various segments until realising I was

[2022-10-17 01:53] tsteur opened #19867 "Add exception for invalid limit before grouping in API request"
Using Matomo 4.12

Link to reproduce: https://demo.matomo.cloud/?module=API&limitBeforeGrouping=all&method=Transitions.getTransitionsForPageUrl&pageUrl=https://divezone.net/&idSite=1&period=day&date=yesterday&format=JSON&token_auth=anonymous

Backtrace:

[2022-10-17 11:18] LeopoldLerch opened #19868 "Matomo not starting in Azure WebApp/404"
Hi,
we want to Host Matomo in an Azure Web App. So we set one up, using PHP 8.1, uploaded Matomo, but it does not start. We always get an 404-Page (not found) when we want to access it.

However, the files are uploaded in the correct folder, we can eg. access the robots.txt manually. Also, during Upload of the files we can access the website and get an Error-Page from Matomo stating that the compo

[2022-10-17 11:36] heurteph-ei commented on #19865
If this is solved, then I think resolution of #19371 could be solved easily...

[2022-10-17 12:08] Chardonneaur commented on #19865
@heurteph-ei to me the ticket is a little bit different because it is linked with the group permission plugin.

[2022-10-17 12:56] sgiehl commented on #19868
Hi @LeopoldLerch
We unfortunately can't provide support for such specific use cases on GitHub. We are using this issue tracker for bugs and feature requests only.
You may try to get some help on our forum instead: https://forum.matomo.org/
Thanks,

[2022-10-17 12:56] #19868 closed, assigned to nobody

[2022-10-17 13:59] atom-box commented on #15873
Should this issue be labeled "Enhancement" ?

[2022-10-17 14:00] atom-box commented on #6362
_A user told us:_

"Main actions are stuck to the bottom of de tag/trigger/variable overview. Again with 40+ tags this asks for some scrolling. Doing this one time is no problemo.. When a bigger analytics use case comes across and I need to add multiple tags in succession the scrolling becomes a bit more cumbersome"

[2022-10-17 14:32] MatomoForumNotifications commented on #19852
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/global-websites-settings-warning-libs-zend-db-statement-pdo-php-229-warning/47848/2

[2022-10-17 17:55] gorfo66 commented on #19351
We have the exact same requirement in my company. We have very complex products and SKU is not enough to track properly them. We absolutely need to have more custom dimensions that we could use to build finer reports.
Action or Visit scope is definitively not enough

[2022-10-17 20:04] peterhashair commented on #19867
I can reproduce this on my local, seems like this line, `$this->limit` is 'all'

https://github.com/matomo-org/matomo/blob/32bb2f99e59ba410b01832f789bc591cad6acf8c/core/RankingQuery.php#L288

[2022-10-17 20:47] bx80 commented on #19866
This is definitely confusing! :+1: I've assigned this issue for prioritization.

[2022-10-17 20:50] bx80 commented on #19864
Thanks for reporting this feedback @atom-box, I think many people would find this enhancement useful. :+1:  I've assigned it for prioritization.

[2022-10-17 21:02] tsteur commented on #18295
We again have an issue with a customer where archiving stopped working because of this issue

[2022-10-17 21:17] tsteur commented on #18963
This was likely due to an internal plugin. Will close for now

[2022-10-17 21:17] #18963 closed, assigned to nobody

[2022-10-17 21:24] tsteur opened #19871 "Getting error array_map() must be of type array when trying to send scheduled report"
Not sure if there was any change recently? Seeing this error for the first time I believe. The error happened every hour for the same report. In case more information is needed please let me know what I can do to provide more information.

Below is the report definition:

[code]

And here the custom report definition in case it's needed for reproducing it

[code]

Goal definition in case it's need

[2022-10-17 22:11] Starker3 opened #19872 "Update autocomplete values"
In Matomo 4.12.0 it looks as though some fields are being auto filled by browser or browser extensions with the username.
For example in the Measurables admin area browser autofill now enters the username in the search field:
![image](https://user-images.githubusercontent.com/20905821/196292649-6ea2d736-c7d5-4589-9c7e-cfb7efacc346.png)

I tested this in 4.11.0 and the behaviour was not the same, b

[2022-10-17 22:34] peterhashair commented on #19872
Looks like there is a regression here `autocomplete="false"`, should be `autocomplete="off"`.

[2022-10-17 23:15] #19819 closed, assigned to sgiehl

[2022-10-18 01:13] justinvelluppillai commented on #19851
@sgiehl if it's simple enough to add examples or otherwise fix then you can provide improvements directly otherwise they would go through normal prioritisation via the backlog.

[2022-10-18 01:13] peterhashair commented on #19867
@tsteur just checking it seems like this is caused by the wrong param `limitBeforeGrouping=all`, do we want to throw an error on that one? Or do we want to accept the `all`

[2022-10-18 01:18] tsteur commented on #19867
No big preference. Not sure what we're doing in other places if we were to use a wrong value?

I tried https://apache.matomo/index.php?module=API&format=JSON&idSite=1&period=year&date=2022-10-08&method=Live.getLastVisitsDetails&filter_limit=all&expanded=1&token_auth=...&force_api_session=1 and it didn't throw an error and just worked. Not sure how it is implemented there?

[2022-10-18 03:37] justinvelluppillai commented on #19848
@peterhashair what is the status of this? It doesn't look like it's been progressed or triaged fully yet. Can you please check what should happen next?

[2022-10-18 10:29] peterhashair commented on #19848
@justinvelluppillai I believe this has been resolved, I can't reproduce this on my local anymore. I will close this tickets for now.

[2022-10-18 10:29] #19848 closed, assigned to nobody

[2022-10-18 10:46] thesakshidiggikar commented on #19871
Hello! Can you assign me this issue to would like to solve it out

[2022-10-18 13:36] atom-box commented on #9182
_A user suggests:_

'In rare cases, I receive bot calls. These distort the statistics by hundreds or thousands of clicks and deleting the data points from the Matomo database is unnecessarily complex. A button in the dashboard similar to "Treat session as spam" would be ideal here. Attached to this, it would be an idea to record the bot attacks separately.'

[2022-10-18 14:59] KiwiKilian opened #19879 "Fix for opt-out toggling on page load and incorrect default state"
## Expected Behavior
The opt-out checkbox should only change when clicked. The checkbox and text should display the actual current state of the users choosen settings.

- If the cookie `mtm_consent_removed` is set, the opt-out text should state, the user has opted-out. The checkbox should **not** be checked and say: "You are currently opted out. Check this box to opt-in."
- If there is **no** `mtm

[2022-10-18 17:26] djmaze commented on #19695
Unfortunately, even with `disable_archive_actions_goals = 1` the archive process is still failing over here.

[code]

**UPDATE:** With `PHP_MEMORY_LIMIT` increased to 4GB in the container, the archive run was finally successful.

[2022-10-19 01:22] tsteur opened #19883 "Site selector in users manager confusing when only one site exists"
I went to `/index.php?module=UsersManager&action=index&idSite=1&period=day&date=yesterday` on a Matomo install with only one site. Then the screen looks like this:
<img width="450" alt="image" src="https://user-images.githubusercontent.com/273120/196574910-1bf95795-4ad4-4779-a120-9b7b5da915fd.png">

It appears as if the button is clickable but when you click on it, nothing happens. It feels like i

[2022-10-19 07:27] Chardonneaur opened #19884 "Make the knowledge base translatable"
Hi there,

Would it possible to make the Matomo knowledge base translatable through weblate? for example the user guides and the FAQ.
As the demand regarding Matomo is increasing, for example the French audience is asking for a lot of documentation in French, that would be great to have this opportunity.

[2022-10-19 09:01] heurteph-ei opened #19885 "Change text invitation mail"
As suggested in the [forum](https://forum.matomo.org/t/change-text-invitation-mail/47887) by Pete_Trombone

## Summary
It would be interesting to be able to change the text invitation mail
As a workaround suggested by @Findus23, it can be possible to use the [Customise Translations](https://plugins.matomo.org/CustomiseTranslations) plugin and update https://github.com/matomo-org/matomo/blob/e1b3dc

[2022-10-19 09:01] MatomoForumNotifications commented on #19885
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/change-text-invitation-mail/47887/5

[2022-10-19 09:41] MatomoForumNotifications commented on #19657
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/marketing-campaigns-tracking-cross-site/47909/2

[2022-10-19 10:10] micker opened #19886 "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'description' in 'field list'"
after update to 4.12.1
i have this error when i try to create a new site
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'description' in 'field list'
thanks for any help

[2022-10-19 11:21] utrautmann commented on #19616
I would like to ask what the status is here? The problem is still there and shows incorrect values.

[2022-10-19 12:08] nicomegadrive opened #19887 "Ensure Tag Manager update are run on updates"
Hi,

I'm currently having a problem showing the list of my tags in my tag manager, there is a javascript error and nothing is showing.

Here's the error I got :

TypeError: Cannot read properties of undefined (reading 'length')
    at tagManagerHelper.truncateText (index.php?module=Proxy&action=getCoreJs&cb=dd3ee26d5cec01ecbb10a761a42c944f:2467:308)
    at Proxy.truncateText (index.php?module=Prox

[2022-10-19 12:23] heurteph-ei commented on #19879
Is it related to https://forum.matomo.org/t/global-optout-is-not-working-this-isuseroptedout-always-return-false/47834 ?

[2022-10-19 12:31] heurteph-ei commented on #19807
As #19808 and #19809 are merged, and version 4.12.1 now released, I think this can be closed, now...?

[2022-10-19 13:00] thesakshidiggikar commented on #19887
hello! I would like to work on this issue could you please assign me this work, please...

[2022-10-19 13:09] utrautmann opened #19888 "New Opt-out solution: checkbox is OFF per default even though I'm being tracked"
We are using Matomo 4.12.1 .

We integrated the new script to Opt-out without the previous iframe (#17452).
Since we track without cookies and do not use a consent tool, the behavior is incorrect.
In the default case, the checkbox is off and it means that I would not be tracked.

## Steps to Reproduce

1. Integrate Tracking-script without consent tool
2. integrate Opt-out script with DIV-Container

[2022-10-19 13:23] utrautmann opened #19889 "New Opt-out solution: Mime-type conflict nosniff"
Usage: Matomo Version 4.12.1 and new opt-out script without iframe (#17452).

Most websites have set the HTTP-Header _x-content-type-options : nosniff._

In the case of this setting the new opt-out script is not working:
The browser console is logging "ressource is blocked because of MIME-Typ-conflict ("text/html")".

The behaviour occurs when I am use the Matomo tracker code snippet to set the op

[2022-10-19 13:59] atom-box commented on #19772
Excellent -- I will spread the word. Thank you!

[2022-10-19 14:05] atom-box commented on #19772
_Just in case it is helpful in thinking about the _**User Experience**_, here is a sysadmin with their specific details:_

PROBLEM;:
I tried to create a new user but Matomo doesn't send any email.
I want to use "local mail function" (see "Email server settings" )
because i already use a specific and working mail accunt to send
mail with my Joomla and it works fine.

Sometimes this command works: "

[2022-10-19 15:18] MatomoForumNotifications commented on #19852
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/global-optout-is-not-working-this-isuseroptedout-always-return-false/47834/5

[2022-10-19 16:09] JMLX42 commented on #10257
@vikenbauer do you mind providing a bash script to do all of that please?

[2022-10-19 20:14] tsteur commented on #17399
@mattab this would be something we should schedule ASAP to at least update the documentation to prevent some manually updating users to run into this issue

[2022-10-20 05:11] tsteur opened #19892 "Segments may not be archived anymore when there are archive invalidations for segments that don't exist"
see PG-820

When there are too many invalid archive invalidations, then the archiving may stop archive any segment data.

There was a bug in Roll-Up Reporting  where it would create archive invalidations that the archiver cannot process and considers invalid. In particular it goes into: https://github.com/matomo-org/matomo/blob/4.12.0-rc1/core/CronArchive/QueueConsumer.php#L539-L542

In [matomo/Qu

[2022-10-20 08:55] AltamashShaikh opened #19893 "archiving_custom_ranges seems to not work for plugins"
When setting archiving_custom_ranges='date1,date2' the archive doesn't seems to execute for plugins.

## Expected Behavior
The archiving_custom_ranges should work for plugins too

## Current Behavior
archiving_custom_ranges only works for Core it seems, for instance if we take a CustomReports and run `core:archive` we can see there are no archive for that date range in the database.

## Possible S

[2022-10-20 09:10] MrCodeB2 commented on #19887
Maybe this issue is connected to mine which occurs since the update from 4.12.0 to 4.12.1

Within my tag manager container i can only see items in the Dashboard. When trying to open triggers or tags i get an empty view back (see screenshots).

When trying to create a new trigger (-> Dashboard-> Create new trigger) i get an error when trying to save the trigger saying
SQLSTATE[42S22]: Column not fo

[2022-10-20 09:19] AltamashShaikh commented on #19887
@nicoco59 @MrCodeB2
Can you check this [issue](https://github.com/matomo-org/tag-manager/issues/557) ?

[2022-10-20 10:15] nicomegadrive commented on #19887
I asked my server host to solve the issue with "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'description' in 'field list'" as I got it as well.

It seems I can update tags again now, but I still can't see the list of tags (triggers as well btw), they're investing the problem right now, and of course there is no fallback if I disable javascript.

I'm doing two big A / B tests at the mome

[2022-10-20 10:19] MrCodeB2 commented on #19887
@AltamashShaikh thank you, worked like a charm

[2022-10-20 12:03] feralhawk commented on #19886
Same issue here when trying to create a new variable in tag manager. Database reupdate did not solve the problem.

[2022-10-20 12:53] nicomegadrive commented on #19887
The fix above didn't help us, however we found another way to fix it :

After investigation, a column "description" has been added with 3 tables since the last update (4.12.1).
However by looking at the tables, a bug occured during the creation.

The column "description" should have been added after the the column "name" and the content shouldn't be "NULL".
Instead of this, the column "description

[2022-10-20 13:39] heurteph-ei commented on #19886
Seems to be linked to #19887 and/or https://github.com/matomo-org/tag-manager/issues/557

[2022-10-20 13:48] MatomoForumNotifications commented on #19886
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/facebook-pixel-tag-manager-and-complianz/47927/2

[2022-10-20 14:27] heurteph-ei commented on #15715
Isn't it duplicate of #19323?
Then can be closed, as #19323 has been solved

[2022-10-20 16:20] atom-box opened #19894 "Advanced user permissions, or a new user category, to allow users to make heatmap/custom report as View user"
Design a new permissions level that is in between _View_ and _Administrator_.

A user requested it:
[code]

[2022-10-20 16:24] atom-box commented on #19894
Other suggestions for more granularity in the User-Permissons:
https://github.com/matomo-org/matomo/issues/3389
https://github.com/matomo-org/matomo/issues/11149

[2022-10-20 18:47] grzchr15 commented on #15715
No, at #19323 it just reacts on some regions from maxmind which are sometimes to long.

This request tries to find a way to have 2 locations providers chained.
Websites are accessed by internet and intranet locations
And intranet location dbs from ipam use same fields at maxmind but longer names like codes for office locations.
So alter table can extend field sizes but this does not solve chaining

[2022-10-20 18:51] grzchr15 commented on #15715
currently chaining means patching geo location provider and add ipam based location provider before. In case of not found in intra ipam it continues to maxmind based.

[2022-10-20 18:52] grzchr15 commented on #15715
if chaining option would be existing it would be a stable second geo plugin.

[2022-10-20 20:08] paladox opened #19896 "LoginLdap breaks with 4.12.1 but works with 4.12.0"
When upgrading from 4.12.0 to 4.12.1 it broke login using the LoginLdap Plugin.

## Expected Behavior
When upgrading to 4.12.1, I expect logins to work.

## Current Behavior
It prevents logins.

## Steps to Reproduce (for Bugs)

1. Use LoginLdap
2. Upgrade from 4.12.0 to 4.12.1.
3. Try logging in.

## Your Environment

* Matomo Version: 4.12.0 (downgraded from 4.12.1).
* PHP Version: 7.4.30
* Serv

[2022-10-20 20:14] paladox commented on #19896
Ah.. it was caused by https://github.com/matomo-org/plugin-LoginLdap/commit/a8d0af0e42ba0e8b0cb81ff85bcc101979824cdf. We had a whitespace in our name (fixed by changing to a _).

[2022-10-20 20:14] #19896 closed, assigned to nobody

[2022-10-20 22:45] bx80 commented on #19616
Hi @utrautmann, thanks for your patience. Tests on small datasets are not showing this problem, but we've identified performance issues when archiving page goals for larger datasets which could result in the goals data being incomplete and result in the incorrect value you are experiencing. A performance fix is being worked on at the moment which should hopefully resolve this issue.

[2022-10-21 00:48] tsteur opened #19897 "Improve performance of segment queries when multiple action segment parts are used"
Given a segment like this:

[code]

The resulting query takes many hours to execute even on a smaller data set (on Aurora). In this case there are around:

* 75K log_action entries
* 20K log_visit entries
* 1M log_link_visit_action entries

It's not too much data and wouldn't be expected that this query takes that long.

The resulting where clause looks roughly like this:

![archive](https://user-

[2022-10-21 02:06] AltamashShaikh commented on #19886
Hey everyone, Matomo 4.12.2 was released today and should fix the issue.
Closing the issue for now, please let us know here if you are still facing issues after upgrade

[2022-10-21 02:06] #19886 closed, assigned to nobody

[2022-10-21 07:45] rockbenben opened #19898 "cannot download HTTP file"
When I click on the http type download link on the page with matomo, it returns nothing. I tried changing the link from http to https, so it can be downloaded properly.

Will we be able to make Matomo compatible with HTTP downloads?

## Your Environment
* Matomo Version: 4.12.2
* PHP Version:7.4.30
* Server Operating System: CentOS 8.4.2105 x86_64(Py3.7.8)

* Browser: Chrome 106.0.5249.119
* Opera

[2022-10-21 08:03] thomasstr commented on #19886
After update this issue still persists. Also when trying to create triggers in Tag Manager.

[2022-10-21 08:42] MatomoForumNotifications commented on #5287
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/download-tracking-fired-without-actual-download/47937/2

[2022-10-21 08:51] Findus23 opened #19899 "Avoid escaping of characters other than ""
When the MySQL password contains special characters (e.g. `'`) and a plugin is disabled (or presumably any other action is taken that modifies config.ini.php), some special characters get escaped with `\'` and Matomo breaks with a `Database access denied` as the password isn't correct anymore.

Matomo 4.12.1

This might be a bug in https://github.com/matomo-org/component-ini instead of Matomo itse

[2022-10-21 10:37] AltamashShaikh commented on #19886
@thomasstr Did you run `./console core:update` after the update ?

[2022-10-21 10:43] thomasstr commented on #19886
Yes, It ran it through the automatically updater. If I can supply with anything else, let me know.

[2022-10-21 11:08] AltamashShaikh commented on #19886
Do you have access to your Mysql and command line ?

[2022-10-21 11:12] thomasstr commented on #19886
Yes I do.

[2022-10-21 11:16] AltamashShaikh commented on #19886
Please check the version of plugin using this query `SELECT * FROM matomo_option where option_name='version_tagmanager'`
If the option_value is `4.12.2` update it to `4.11.0` chances are that the update didn't run properly
Next execute this command in your cli `./console core:update` and check if it fixes the issue or not

[2022-10-21 11:21] thomasstr commented on #19886
It added the columns now. Thanks for the help.

`
./console core:update

    *** Update ***

    Database Upgrade Required

    Your Matomo database is out-of-date, and must be upgraded before you can continue.

    The following plugins will be updated: TagManager.

    *** Note: this is a Dry Run ***

    ALTER TABLE `matomo_tagmanager_tag` ADD COLUMN `description` VARCHAR(1000) NOT NULL DEFAULT

[2022-10-21 12:11] MatomoForumNotifications commented on #19886
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/mysqli-prepare-error-unknown-column-description-in-field-list/47919/7

[2022-10-21 13:46] Kleppinger opened #19900 "Native mail() function does not work"
When using the `mail()` function instead of SMTP, he function returns true, but the mail does not get send. When calling the `mail() `function in the same environment, it works. The issue also occurs in the CLI application. Sendmail is working fine.

## Expected Behavior
When the mail() function returns true, the mail should be sent.

## Current Behavior
The function returns true, but no mail got

[2022-10-21 14:26] develth commented on #19886
That solved it for now. Thanks!

[2022-10-21 15:31] MatomoForumNotifications commented on #19888
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/opt-out-using-the-matomo-javascript-tracker-code-is-triggert-by-page-reload/47768/5

[2022-10-21 18:35] HartLarsson commented on #10893
i've exactly the same error too:

`Error in Matomo (tracker): Invalid non-unique idsite/idorder combination (1, LETCPBUVH), conversion was not inserted.`

[2022-10-22 17:47] matomoto opened #19901 "textarea max-height"
A max-height for textarea is needed, specially in the textarea for global filtered/ignored IPs in the settings - Websites - settings.

The HTML:
`<textarea name="excludedIpsGlobal" autocomplete="false" class="materialize-textarea" style="height: 862223px;"></textarea>`

Background info: I have a list of IP ranges from 5 cloud hoster. It are 40,017 IP ranges. And yes, i will ignore all visitors fro

[2022-10-23 18:35] tsteur opened #19903 "Prevent exception possibilities in retrieving columns from previous data row"
See below details

[2022-10-23 19:04] tsteur commented on #18295
Seeing this issue happening again for a URL like this:

`/index.php?date=2021-06-01,2022-12-31&filter_limit=300&flat=1&format=CSV&format_metrics=1&idSite=1&language=en&method=Actions.getPageUrls&module=API&period=day&segment=&token_auth=ANONYMOUS&force_session_api=1&translateColumnNames=1&convertToUnicode=0&1`

Not fully sure if it is this specific problem but I assume so and it should reduce memo

[2022-10-24 08:13] heurteph-ei commented on #19903
isn't is the same as: #19817 ?

[2022-10-24 13:31] heurteph-ei commented on #19900
Was it working on previous version?

[2022-10-24 19:49] Starker3 opened #19904 "Add INI setting to disable Password Confirmation"
# Proposed solution

Proposed solution

-    introduce a new INI setting to let people disable the password confirmation.
-    create a new FAQ "How do I disable the password confirmation prompt?" that explains how it's not recommended because it lowers security, but when it's required for some reason, it's possible.
-    both core & WP users could leverage this setting if needed

For now i'd say

[2022-10-24 19:56] Starker3 commented on #19857
FYI this looks like it's caused by a password encoding/decoding issue. I was able to reproduce it using the same password the user was using, if you need that password to reproduce please PM me.

[2022-10-24 20:41] peterhashair commented on #19899
@Findus23 thanks for reporting this, I can reproduce this one locally, I will put this into the current milestone.

Notes this maybe related to this PR https://github.com/matomo-org/component-ini/pull/17/files.

[2022-10-24 20:48] Starker3 opened #19905 "Tag Manager updates won't run if updating from 4.12.1 to 4.12.2"
This is effectively the same issue that was reported here:
https://github.com/matomo-org/tag-manager/issues/557
https://github.com/matomo-org/matomo/issues/19886

It looks like we have the same issue with the `4.12.2` release that we had with the `4.12.1` release with **Tag Manager**.
Because the update file for the `4.12.2` release was not renamed to a `4.12.2` update file anyone who was already

[2022-10-25 00:35] saschabrockel commented on #19149
I have a fresh install of Ubuntu and I'm running Matomo with Docker. Also a fresh install. I also have this error but for me, it is true that somehow the URL can never be resolved with curl: curl: (6) Could not resolve host: stats.xyz.de

So I tried to recreate the certificate in NGINX Proxy Manager but it did not work. I don't know what is wrong. I mean everything else works well. From outside th

[2022-10-25 01:10] tsteur opened #19907 "Scheduled task "checkSiteHasTrackedVisits" fails with exception User doesn't exist"
see below stack trace

Stack trace:
#0 plugins/UsersManager/API.php(677): Piwik\Plugins\UsersManager\API->checkUserExists('MyUsername')
#1 [internal function]: Piwik\Plugins\UsersManager\API->getUser('MyUsername')
#2 core/API/Proxy.php(244): call_user_func_array(Array, Array)
#3 core/Context.php(28): Piwik\API\Proxy->Piwik\API\{closure}()
#4 core/API/Proxy.php(335): Piwik\Context::executeWithQuery

[2022-10-25 02:00] justinvelluppillai commented on #19871
hi @thesakshidiggikar perhaps you could discuss the approach you are considering and maybe the area of code you would look to solve it and we can discuss first before assigning the issue?

[2022-10-25 02:05] justinvelluppillai commented on #19879
@bx80 can you please take a look here and see if we need to promote this issue?

[2022-10-25 02:09] justinvelluppillai commented on #19772
@atom-box we now also have this option which may help - https://matomo.org/faq/invite-a-new-user-if-email-hasnt-worked/

[2022-10-25 02:26] peterhashair commented on #19904
I will put this in the backlog for prioritization. But this may be will cause a security concern.

[2022-10-25 03:27] peterhashair commented on #19901
@matomoto thank you for suggesting this improvement, I believe this change will make the user experience better, putting this in the backlog for prioritization.

[2022-10-25 03:31] #19905 closed, assigned to nobody

[2022-10-25 07:21] Chardonneaur commented on #19351
@gorfo66 thank you but could you give a use case example? because in Matomo you can extend the number of custom dimensions at the action level. For example 50. How does custom dimension at the action level would differ from defining it at the product level?
Without this, I guess that we cannot visualize the final result.

[2022-10-25 08:06] gorfo66 commented on #19351
Unless I'm wrong, Action variables are defined from the URL of the browser. I don't understand how we could apply this approach to the product scope.

We are building ticket retailing applications. We are already massively using product SKU in order to aggregate some info, but we need more flexibility to be able to capture things like advance purchase, date, time, type of ticket, rows, etc.

I can

[2022-10-25 08:22] Chardonneaur commented on #19351
@gorfo66 thank you for the details. In fact, custom dimensions at the action level are defined for the action, so it can be linked to any actions: url, event, form, search etc. I didn't test it, but to me, an order is an action, so you can defined your custom dimension to it.
In GA, you don't have this concept of action, Matomo has, so my guess here, you can achieve what you expect here, date is a

[2022-10-25 09:03] gorfo66 commented on #19351
GA4 is event based. The concept of action is the foundation of their new system. Everything is action because everything is event.

One order contains several products and for each product could have various values for the same dimension.

I'm really not convinced by the concept of dimension at action level for this specific usecase.
It would be a hacky workaround and not a sustainable solution.

[2022-10-25 09:18] Chardonneaur commented on #19351
Ah, we may are reaching a point here "various values for the same dimension", do you mean multiple values for the same dimension?
Like, coupon code dimension could store multiple values "AUTUMNSALES, VIPPERSON" am I correct? (so to say a list of values.

[2022-10-25 09:28] gorfo66 commented on #19351
Think about product dimension as the brand.
You can purchase at the same time a t-shirt Nike and shoes Adidas.
At the end end of the day, you will want to build reports regarding how many Nike products were purchased.
Ok, you can merge all that into the product SKU (and this is what we are doing to some extends) but this merge approach has some limits.

[2022-10-25 09:50] Chardonneaur commented on #19351
Ah, I am starting to see it, an order is an action, but an order can have multiple items within it, and items are not action based.
So that's why one would need custom dimensions at the item level am I right @gorfo66 ?

[2022-10-25 10:22] gorfo66 commented on #19351
Yes exactly.

[2022-10-25 10:23] Chardonneaur commented on #19351
Perfect, legitimate ticket for sure.

[2022-10-25 11:44] oscarmparedes opened #19908 "Error 500 after SQLSTATE errors missing a matomo.matomo_logtmpsegment table"
We are seeing a 500 application error in logs right after this kind of SQLSTATE event in logs

`[Tue Oct 25 10:17:38.542583 2022] [php:notice] [pid 65] [client XXXX] [XXXX] Error in Matomo: SQLSTATE[42S02]: Base table or view not found: 1146 Table &#039;matomo.matomo_logtmpsegmentc2345b9867f0aa5d2556f6b8339d1f31&#039; doesn&#039;t exist - in plugin Goals., referer: https://XXXX/index.php?module=Co

[2022-10-25 12:05] creopard commented on #19023
Same issue here.
Setting up a cron in cPanel it will execute successfully but with the same log results as already posted by @heurteph-ei
and the report numbers won't update.

However, executing the cron command (like `php /var/www/html/URL/console core:archive --matomo-domain=URL > /home/USER/MatomoErrors/matomo-archive-errors.log`) in a real shell window, the numbers will update.

Someone in the

[2022-10-25 12:33] creopard commented on #19023
As a workaround I'm now using `wget` for the cronjob to get the archiving update done:

Example:
`wget -O /home/public_html/matomo-archive-output.log 'https://www.example.com/path-to-matomo/misc/cron/archive.php?token_auth=TOKENID_AS_SET_IN_ADMIN_SECTION' &> /dev/null`

Just set your domain, paths and the token_auth-id to your needs and `wget` will then generate the matomo-archive-output.log file.

[2022-10-25 12:38] heurteph-ei commented on #19023
@tsteur @sgiehl any analyze?

[2022-10-25 20:52] peterhashair opened #19909 "Add help icon ability to subcategories in the Twig nav menu template"
## Summary

Add help icon ability to subcategories in the Twig nav menu template
Request from DEV-3145
## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

[2022-10-25 22:35] bx80 commented on #19149
Hi @saschabrockel, thanks for reaching out.

If curl is reporting that the host cannot be resolved then it probably isn't a certificate issue.

Can curl resolve other hosts? `curl https://demo.matomo.org/README.md` If not then it could be a network issue.
Can you ping the host? `ping stats.xyz.de` If not then it could be a DNS issue.

I'd suggest posting on the [Matomo forums](https://forum.matomo

[2022-10-25 22:41] saschabrockel commented on #19149
Hey, @bx80 thank you for the quick response. Other hosts can be resolved. It is only this one URL of my self-hosted Matomo instance that can not be reached. That is why I don't understand what is going on. Pinging the website with curl or google works fine.

Okay I've just tried it again. The error in Matomo is gone and it works now... I did nothing for the last 20 hours. Love IT 😆

[2022-10-25 23:17] bx80 commented on #19149
@saschabrockel Perhaps it was DNS propagation delay, always a bit random to troubleshoot! Good to hear it's working for you now :smiley:

[2022-10-25 23:28] #19818 closed, assigned to peterhashair

[2022-10-26 00:40] tsteur commented on #18295
Again issues today

[2022-10-26 07:54] creopard commented on #19023
It seems to be the same behaviour with the web cron:

Here is the log from 2022-10-25 22:00:05 night:

[code]

This morning 2022-10-26 07:40:10, I noticed that the numbers again were not updated to I did set up a new cron and set to 1 minute execution time. This resulted in the following log (successfully updating the numbers):

[code]
What makes me wonder is this line in both logs:

Shouldn't tha

[2022-10-26 09:45] heurteph-ei commented on #15959
As user didn't give feedback for more than 2 years, and there is a way to bypass (https://matomo.org/faq/troubleshooting/faq_16646/), I think this can be closed, now

[2022-10-26 09:48] PatrickHBerlin commented on #19693
At the moment we try the “custom reports” plugin and there are some more problems with missing breaklines by using custom reports im mail reporting.

In this case we want to report the page Titel + page URL. The page URL is very long ;-)
Could you please check to wrap the given urls to show the whole report on one page? Maybe on landscape?

We use Matomo 4.12.0 at the moment.

Best,
Patrick
![Bild

[2022-10-26 09:49] MatomoForumNotifications commented on #19693
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/missing-line-breaks-in-mail-reporting-pdf/46244/11

[2022-10-26 10:01] MatomoForumNotifications commented on #19769
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/new-segment-creation/47980/2

[2022-10-26 10:01] MatomoForumNotifications commented on #7130
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/new-segment-creation/47980/2

[2022-10-26 10:01] MatomoForumNotifications commented on #14129
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/new-segment-creation/47980/2

[2022-10-26 10:34] bjornarhagen opened #19911 "Segment by "Page URL contains" does not work"
We are collecting data from multiple domains/subdomains (example.com, subdomain-1.example.com, subdomain-2.example.com) into a single website/property in Matomo (self hosted instance).

If I look at Behaviour -> Pages I can see all the different page URLs.
I want to create some segments for the different domains/subdomains.
I've created a couple:
* Segment 1: "Page URL" contains "subdomain-1.examp

[2022-10-26 12:27] heurteph-ei opened #19912 "Add Test on DB migrations in System Check"
## Summary
Following many errors on DB migrations that needed the creation of versions 4.12.1 and 4.12.2, also saw in the forum: https://forum.matomo.org/t/since-4-12-update-were-seeing-php-notice-undefined-index-excluded-referrers/47974/4
Is it possible to add some DB migration check in the System check? (as do the `core:update` command before applying the migration)

## Your Environment
* Matomo

[2022-10-26 12:27] MatomoForumNotifications commented on #19912
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/since-4-12-update-were-seeing-php-notice-undefined-index-excluded-referrers/47974/6

[2022-10-26 13:28] MatomoForumNotifications commented on #19912
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/please-help-missing-tracking-events-after-update-on-4-12-2/47981/2

[2022-10-26 13:36] MatomoForumNotifications commented on #19887
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/tags-and-triggers-are-no-longer-displayed/47984/3

[2022-10-26 14:19] sandin78 opened #19913 "Add setting to customize the time-limited seed of config_id hash"
## Summary
When user_id or cookies are not available Matomo falls back on using config_id to identify, as far as it can be done, unique browsers. When reports are archived, the parameter window_look_back_for_visitor limits how much of the history is searched to determine if the visitor is returning or new, but this setting can be modified to longer time periods.
However, the config_id is not persi

[2022-10-26 14:39] aqustiq commented on #19149
Hello bx80,

I have tried your recommendations but nothing worked even in version 4.12.2. Site works fine so if no quick fix for this I don't bother to live with it.

Also I have no issues to accesss Readme file from the server itself:
`[root@server-devs matomo]# curl https://server-dev.internal.xxxx.xx/README.md
# Matomo (formerly Piwik) - matomo.org

[![Latest Stable Version](https://poser.pugx.

[2022-10-26 14:39] #19149 closed, assigned to nobody

[2022-10-26 15:28] #15959 closed

[2022-10-26 18:56] tsteur opened #19914 "Handle invalid variable type sent to Period/Range.php"
This was actually supposed to be fixed in https://github.com/matomo-org/matomo/issues/18794 but seems to be still a problem. It is the same URL as in #18794 . Or is it a regression?

[2022-10-26 19:29] justinvelluppillai commented on #11793
Closing this issue now - if the question is still relevant and unanswered please feel free to raise it on the forums - https://forum.matomo.org

[2022-10-26 19:29] #11793 closed

[2022-10-26 19:34] justinvelluppillai commented on #11887
This is a simple task: https://github.blog/2017-07-20-support-file-support/

[2022-10-26 20:12] bx80 commented on #19892
Hi @tsteur, thanks for reporting this in detail, seems like we should always be deleting invalidations once they've served their purpose. I've assigned this issue for prioritization, but please add the 'needs priority review' label if you think it needs more urgency.

[2022-10-26 20:23] bx80 commented on #19893
Thanks for reporting this @AltamashShaikh, from a quick look at the core code I can't see anything that would restrict this behavior to core, it seems like it should work in a similar manner to last7, last30 etc. The original issue is #14856

I've assigned this issue for prioritization and more investigation.

[2022-10-26 20:27] bx80 commented on #19894
Thanks for reporting this valuable feedback @atom-box :+1: Seems there is a good case for a more comprehensive user permissions system, this would understandably be a large change requiring some careful design. I've assigned this enhancement for prioritization.

[2022-10-26 20:34] bx80 commented on #19897
Hi @tsteur, thanks for the explanation, that makes sense. Would you see this approach as preferable to implementing a segment link table or some sort of persistent segment <-> action cache as discussed in #19581? Or as a short-medium term workaround?

[2022-10-26 20:40] bx80 commented on #19898
Hi @rockbenben, thanks for reaching out.

Could you explain a bit more which page with Matomo has the http download link that does not work for you? Is this on www.matomo.org or an update page on your Matomo installation? If you could post the full link or a screenshot that would help us pinpoint the issue.

[2022-10-26 20:44] bx80 commented on #19900
Hi @Entenlias, thanks for reporting this. Could you please provide the sendmail logs from when Matomo attempts to connect and send the mail?

[2022-10-26 20:54] bx80 commented on #19907
Thanks @tsteur, so just to clarify - the `checkSiteHasTrackedVisits` scheduled task is trying to find the user who created the site, but if that user no longer exists, instead of throwing an exception, we should simply abort the task and return :+1:

I've scheduled this for prioritization.

[2022-10-26 21:02] bx80 commented on #19903
Very similar @heurteph-ei, I think #19817 was related to referrers, this is the same method but a different location - it could be a similar cause.

[2022-10-26 21:50] tsteur commented on #19897
It depends on the effort. If we could improve this query fairly "easily", then I would implement this one first as it would prevent the worst case where we have not just one slow log_action.name contains but multiple

[2022-10-26 22:43] bx80 commented on #19908
Hi @oscarmparedes, thanks for reaching out.

If the database server has been restarted after adding user permissions then any references to previous temporary tables should have been reset.

Are you using the `enable_segments_subquery_cache` config setting? If so then you might need to run `./console cache:clear`.

If you are using background archiving via a cronjob then it's also possible you cou

[2022-10-26 23:20] bx80 commented on #19911
Hi @bjornarhagen, thanks for reaching out.

You might need to [include the subdomain name in the page title](https://developer.matomo.org/guides/tracking-javascript-guide#custom-page-title) for this to work. This [FAQ](https://matomo.org/faq/new-to-piwik/faq_104/) also has some more information about tracking multiple subdomains.

[2022-10-26 23:28] bx80 commented on #19912
Thanks for the suggestion @heurteph-ei, sounds like a useful addition :+1:

[2022-10-26 23:42] bx80 commented on #19913
Hi @sandin78, it would be nice to be able to look back further for config_id matches, but it seems like there may be issues with daily archiving accuracy if the config_id doesn't rotate every 24hrs.

Disabling the `create_new_visit_after_midnight = 1` config setting would prevent the use of a 24hr finger print salt, but the config setting comes with the warning `ONLY CHANGE THIS VALUE WHEN YOU DO

[2022-10-26 23:48] bx80 commented on #19914
Looks like a potential regression, I'll assigned it to the current release.

[2022-10-27 00:02] rockbenben commented on #19898
Here's the page code and demo. The bug occurs when downloading http files using the  Chrome browser's own download manager.
Demo Page: https://stackblitz.com/edit/web-platform-5muhj8?file=index.html
![image](https://user-images.githubusercontent.com/28252913/198160874-566ede96-3812-4dd6-9404-77324bb4849e.png)

[2022-10-27 00:13] tsteur commented on #19913
It was restricted to 24 hours for privacy reasons. Usually, cookies or some similar technology can be used to track users over a long period and if they can't or shouldn't be used then we restrict to 24 hours as otherwise you could see the config_id as fingerprinting.

An option to change this behaviour could be possible though 👍

[2022-10-27 02:18] peterhashair commented on #19914
I guess this could be coupe options here.  https://github.com/matomo-org/matomo/blob/037cb426563244889c0f27aad168c0356377d387/core/Period/Range.php#L530

I can think of is add a check here.

[code]

[2022-10-27 02:19] JEAholding commented on #19343
Here is a list of additional warnings from latest Matomo with PHP8.2 & 4.12.2

- [x] WARNING: /plugins/PrivacyManager/DoNotTrackHeaderChecker.php(29): Deprecated - Creation of dynamic property Piwik\Plugins\PrivacyManager\DoNotTrackHeaderChecker::$config is deprecated - Matomo 4.12.2 - Please report this message in the Matomo forums: https://forum.matomo.org (please do a search first as it might h

[2022-10-27 03:23] bx80 commented on #19889
Thanks for reporting this @utrautmann,

I've unsuccessfully tried to recreate this issue by enabling the `HTTP-Header x-content-type-options : nosniff` header locally and testing the tracker opt-out in Firefox and Chrome, but I didn't encounter any errors. From the console message you are seeing it sounds like the opt-out script is being sent with the content type "text/html" but in my tests it is

[2022-10-27 06:05] mpoideg opened #19916 "PHP Fatal error: Uncaught Error: Call to undefined function Piwik\CliMulti\getmypid()"
Hi!
Archiving doesn't work on Raidboxes hosting because of security reason (getmypid won't be allowed...). I found a solved issue, where there was a bugfix if pid was not possible to get. (2019)

Should this work already? Or how can I call archiving cron (like I do it from backend-button right now) by myself with manipulating (Is the pid nessesary for the valid statistics data?) the pid as paramet

[2022-10-27 06:27] sandin78 commented on #19913
Yes. I understand the benefit of having this restriction and the selling point for the Matomo user is "i can't change it even if I wanted to".  I guess there's a whole bunch of Matomo settings that helps the Matomo admin to comply with various privacy laws, but they can be configured in a non-compliant way. So it's up to the Matomo admin to comply, and I think it would be the same regarding this s

[2022-10-27 06:40] sandin78 commented on #19913
Hm, obviously I don't know why this could be, but it would be great to get some insight.
Is it because otherwise an ongoing visit would not be attributed to the new date? I mean if the visit started on 23:50 and continued over midnight.

If I were to test setting `create_new_visit_after_midnight = 0` , this would mean that the limit to finding config_id has would be truly limited by the `window_lo

[2022-10-27 06:58] sandin78 commented on #19913
Okay I dug a little and found `https://github.com/matomo-org/matomo/issues/9156`
In fact it seems that actions logged after midnight, from a visit that began before midnight, will be lost. I assume this is because the actions would belong to the visit but the report is already archived for the previous day and will not update.

I guess the way the archiving is designed, it runs each day separately

[2022-10-27 07:31] ghost commented on #19887
This issue has been fixed for me with release [4.12.3](https://github.com/matomo-org/matomo/releases/tag/4.12.3)

[2022-10-27 07:50] sgiehl commented on #19343
thanks @JEAholding  for reporting those. I'll prepare a PR to fix them.

[2022-10-27 07:56] sgiehl commented on #19898
@rockbenben If your demo page is on https, ir might be possible that chrome itself blocks clicks/downloads on http links/downloads due to an insecure context switch. For Matomo itself it should not be relevant if the link if http or https.

[2022-10-27 08:08] #19887 closed, assigned to sgiehl

[2022-10-27 11:56] rockbenben commented on #19898
got it, Thanks.

[2022-10-27 11:56] #19898 closed, assigned to nobody

[2022-10-27 14:06] sebastian-berlin-wmse opened #19919 "Fix value of delete_logs_enable not displayed correctly in UI"
The settings for "Regularly delete old raw data", under "Privacy" -> "Anonymize data", doesn't show the correct value. Saving changes doesn't change settings in config/config.ini.php.

# Steps to reproduce
1. Click "Administration" in the top bar.
2. Click "Privacy" in the menu on the left, then "Anonymize data".
3. Under "Regularly delete old raw data", check "Regularly delete old raw data from t

[2022-10-27 14:08] atom-box commented on #9319
When I want to seek Unique Clicks, but can't remember where it occurs, I
(1) enter it in my search bar.
(2) I see there is no result found,
even though it plainly exists.

![image](https://user-images.githubusercontent.com/22874146/198307915-52479cd2-50cb-41e5-b4e9-a37cf739596f.png)

[2022-10-27 14:19] atom-box commented on #19652
A user writes:

_Question: What is the one thing you’d like to see improved in Matomo and why?
Answer:
Date selection tool. Current one is hard to chose from._

[2022-10-27 14:32] atom-box commented on #9956
User feedback today:

Feature: Visits Over Time
Like: No
Choice: makeeasier
Feedback:
_Zeitliche Einstellung direkt am Diagramm sind überhaupt nicht möglich :(_   **Time settings directly on the chart are not possible at all :(**
Source: On-Premise

[2022-10-27 15:56] JEAholding commented on #19343
New warning on the new upgraded head.... PHP8.2 & 4.12.3....

1.WARNING: /core/Segment/SegmentExpression.php(59): Deprecated - Creation of dynamic property Piwik\Segment\SegmentExpression::$string is deprecated - Matomo 4.12.3 - Please report this message in the Matomo forums: https://forum.matomo.org (please do a search first as it might have been reported already) (Module: Live, Action: getLastV

[2022-10-27 19:30] matomoto opened #19920 "Cloud IP ranges filter"
I have problems with many visits from cloud hoster. I don't need track visitis from cloud hoster. It's like bots. The cloud hoster provide their IP ranges via JSON / CSV. There is a Plugin, but this calls this JSON / CSV directly. I don't need calls to this servers via my matomo installation.

I have grab this IP ranges from 5 cloud hoster. There are a total of ~40,000 IP ranges. And yes, i will i

[2022-10-27 19:36] matomoto opened #19921 "Headless browser filter"
I would like to have an option in matomo default where I can filter out tracking from headless browser. I think this is not too difficult to implement. Is the header empty → don't track.

I don't like tracking visits from headless browsers. They are like bots. However, I don't like plugins either. It would be nice if this feature could be offered as an option in matomo default - to turn on and off

[2022-10-27 20:32] justinvelluppillai commented on #11720
@mattab I have just added this issue for prioritisation - it would be a good security improvement to either update the docs to provide guidance on this or suggest solutions.

[2022-10-27 20:35] justinvelluppillai commented on #11785
Closing this as we now have #19652

[2022-10-27 20:35] #11785 closed

[2022-10-27 20:36] justinvelluppillai commented on #19652
In #11785 a user requested a "today" option to cover the current calendar day.

[2022-10-27 21:17] bx80 commented on #19913
Thanks for posting your findings @sandin78, this information might be useful for other people wanting to try the same thing and can help inform any future improvements made to this part of Matomo :+1:

[2022-10-27 21:17] #19913 closed, assigned to nobody

[2022-10-28 05:06] tsteur opened #19924 "Action information is partially hidden in visits log when they are too long or when not much space available"
I was viewing the segmented visits log and an event was shown see below image:

<img width="398" alt="image" src="https://user-images.githubusercontent.com/273120/198495914-f8b79d01-5639-4ec2-83ac-bda3dde7805f.png">

The event details were partially hidden and not fully visible. I was hoping to see the full event details on hover but this wasn't the case.

Same applies to other actions like a regu

[2022-10-28 07:35] sgiehl commented on #19343
@JEAholding Added a fix for that to the other PR

[2022-10-28 07:41] sgiehl commented on #19924
@tsteur There should be a tooltip shown on hover, which shows some event details. But it seems the action title is not repeated in that tooltip, so it's impossible to see the full name if it's too long.
Adding the title to the tooltip should be fairly easy. But finding another solution for mobile is a bit more difficult, as actually all details from the tooltip are not shown at all.

[2022-10-28 08:02] sgiehl commented on #19914
@peterhashair For such cases it is always important to reproduce that locally. That way you may actually see the full set of errors/notices that occur.
Using PHP 7.2 the URL in the issue actually results in:

[code]

So the fix for https://github.com/matomo-org/matomo/issues/18794 is actually doing what it should - it results in an invalid date exception that is shown to the user. But there are a

[2022-10-28 08:16] sgiehl commented on #19921
@matomoto You might want to have a look at our official plugin https://plugins.matomo.org/TrackingSpamPrevention
That allows blocking e.g. headless browsers.

[2022-10-28 08:16] #19921 closed, assigned to nobody

[2022-10-28 08:31] sgiehl commented on #19920
@matomoto Thanks for the suggestion. Filtering cloud IPs is part of our plugin https://plugins.matomo.org/TrackingSpamPrevention
We most likely won't include such features in core, as not all people might need it. If you have suggestions on improving the plugin. Feel free to create an issue here: https://github.com/matomo-org/plugin-TrackingSpamPrevention

[2022-10-28 08:31] #19920 closed, assigned to nobody

[2022-10-28 08:40] sgiehl commented on #19807
I'll close this one now. If there are further suggestions on how to improve accessibility, feel free to create a new issue.

[2022-10-28 08:40] #19807 closed, assigned to nobody

[2022-10-28 08:41] altrasoluzione commented on #14556
Hi, just to add a "me too", I have had the same problem upgrading to Matomo 4.12.2 and to 4.12.3.
The update on my local copy (xampp) worked while the error raised on the production site installed on Aruba hosting (not famous for its speed, IMHO).
![image](https://user-images.githubusercontent.com/22329855/198544308-65c4dd72-cc48-4ab2-a8e6-9a1a9ce92b63.png)

[2022-10-28 08:45] SeverinEventfrog opened #19927 "UserID overwrites VisitorID, but doesn't claim existing Visit"
We run a webshop. Users can put items in their basket and stroll around, but only need to login with a userId when starting the checkout proceedure. We want to have all actions pre-login also assigned to the userId. However, when enable_userid_overwrites_visitorid = 1 is set (is by default), then Matomo will not find the existing visit pre-login and instead create a new visit for the userId. There

[2022-10-28 12:43] sgiehl commented on #19919
Hi @sebastian-berlin-wmse
This might be a bit confusing. But for those settings, the setting done in UI is actually stored as an option in the database.
So the setting from config is only used, if there is no setting in the database. If you want to configure such value in the config only, please set `enable_delete_old_data_settings_admin = 0`, which will disable the UI and force the config setting

[2022-10-28 14:24] xpufx commented on #19904
I installed matomo 10 minutes ago and I am about ready to give up due to this weird behavior. Please make it optional as soon as possible. It's super annoying.

[2022-10-28 15:14] heurteph-ei commented on #19924
For mobile, couldn't the solution be in some kind of fold/unfold (as it is done to get visit dimensions for example)

[2022-10-28 17:40] scott-amgen commented on #19772
Old way is also better for us for the following 2 reasons:

1. Our system is integrated with LoginSAML / LoginOIDC, so that user never needs to enter their password.
2. As of 4.11, I was not able to assign new users to groups immediately after I invite them. There seems to be some wait time between user creation and username being available in the assign user to group dropdown.

[2022-10-29 14:36] #19916 closed, assigned to nobody

[2022-10-29 18:06] matomoto commented on #19921
The internet is so boring... sorry, but i have say no Plugin. **P**lugin is always **P**roblem. Your linked superduper boring plugin calls 5 external server - the cloud server. Sorry, think you i am stupid and allowed my matomo installation to call this server? sorry sorry no sorry. Make a good work and add the Enhancement label. Add a headless browser filter into matomo default is really not a su

[2022-10-29 18:09] matomoto commented on #19920
I have say no Plugin. **P**lugin is always **P**roblem. Your linked plugin calls 5 external server - the cloud server.

[2022-10-29 21:38] Findus23 commented on #19921
If you check https://github.com/matomo-org/matomo/tree/4.x-dev/plugins, you can see that nearly all features in Matomo are implemented as plugins (that work exactly like plugins from the marketplace with the only difference of being included and enabled by default). So if a plugin is maintained by the Matomo team, then it won't cause more issues whether it is a core plugin or distributed on the Ma

[2022-10-30 01:04] tsteur opened #19928 "Fix Unknown format specifier in translation in Live plugin"
see https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/Live/lang/id.json#L58

it says `% 1$s Jika` when it should be `%1$s Jika` and there is a `% 2$s` which should be `%2$s`.

This happened when opening `/index.php?date=today&module=Live&format=html&forceView=1&viewDataTable=VisitorLog&action=getLastVisitsDetails&small=1&period=day&idSite=1&segment=&widget=&showtitle=1` resulting in this e

[2022-10-30 01:35] tsteur opened #19929 "Fatal error: date_timezone_set(): Argument #1 ($object) must be of type DateTime, bool given in Date.php"
see details below

[2022-10-30 01:53] tsteur commented on #18295
Again happened few times.

[2022-10-30 18:56] tsteur commented on #19924
cc @mattab something to consider maybe

[2022-10-30 19:21] #19914 closed, assigned to sgiehl

[2022-10-30 21:08] varunKothare opened #19930 "WooCommerce mobile report overlapping elements"
On our Mobile app, the report for WooCommerce seems to be the only report reflecting like this for android devices. on a Google Pixel 4a, Android 13.

![image](https://user-images.githubusercontent.com/100554311/198901611-d3576759-9955-43d7-991e-9596166bf2ad.png)

[2022-10-30 22:25] bx80 commented on #19927
Thanks for reporting this @SeverinEventfrog, the detail you've provided is very helpful :+1:

Since this is a case of documented behavior no longer happening in the current release I'll mark this as a regression.

[2022-10-30 22:25] peterhashair commented on #19930
Hey @varunKothare, thank you for reporting this, I can reproduce this locally. I believe this will give poor useability on mobile, adding it to the current milestone.  Also aware, on mobile, some of the menu items don't align correctly. See screenshots.

![image](https://user-images.githubusercontent.com/3783072/198904519-99a9903a-a549-46c5-84a0-1a3a039f69c1.png)

[2022-10-30 22:27] bx80 commented on #19928
I've assigned this to the next patch release as it's a regression (and should be trivial to fix)

[2022-10-30 23:02] bx80 commented on #19929
@tsteur I haven't look at this in much detail, but having `9999-12-31` at the end of a period range is going to have `23:59:59` appended to it, so we're starting with `9999-12-31 23:59:59` and then applying timezones for various calculations which could cause the date to roll over to `10000-01-01'.

Something like this will create the same error (albeit cheating by adding a second to the date)
[co

[2022-10-31 01:28] tsteur commented on #19929
@bx80 I don't have any particular thoughts on this. I suppose as a user it be great to maybe get an error like "invalid date provided" or something. Like similar to https://github.com/matomo-org/matomo/blob/4.12.3/core/Date.php#L159-L167 where we throw an exception when the date is too old. Not sure where exactly the problem is in the code.  Like if timestamp of year 3000 is > $timestamp then thro

[2022-10-31 04:26] justinvelluppillai commented on #19343
Here are a few more:

- [x] WARNING [2022-10-27 04:00:03] 21867  /var/www/html/piwik/core/ArchiveProcessor/Loader.php(70): Deprecated - Creation of dynamic property Piwik\ArchiveProcessor\Loader::$invalidateBeforeArchiving is deprecated
  --> https://github.com/matomo-org/matomo/pull/19918

- [x] INFO [2022-10-27 04:10:03] 21867  'PHP Deprecated:  Function utf8_encode() is deprecated in /var/www/h

[2022-10-31 04:31] justinvelluppillai commented on #19904
@mattab this is a fairly regular request after we made changes for security purposes. Perhaps we could provide workarounds for certain use cases.

See also #19772

[2022-10-31 05:03] mattab commented on #19904
How do other Saas tools like Github handle this? Do they remember for like 5minutes that the password was given, or something like this? There must be a common way to solve this problem and it would be great to learn what it is so we don't have to reinvent the wheel (and ideally we don't introduce a new setting...)

[2022-10-31 08:09] sebastian-berlin-wmse commented on #19919
Thanks for clearing that up. I found the option in the database. It seems to be set as it should when I save, but the web interface doesn't reflect the setting. The checkbox is always unchecked, even when `option_value` for `matomo_option.delete_logs_enable` is 1.

[2022-10-31 14:07] sgiehl commented on #19343
@justinvelluppillai The first one is something we can fix. The others are caused by vendor libs, so we can only fix that with updating the libs...

[2022-10-31 16:49] matomoto commented on #19921
Thank you for your reply Findus23. I have been using Piwik/Matomo for many years. In addition, I also monitor the matomo forum.m You are also in the matomo forum (under another nickname). In addition, I had(!) also once Analytics running and this observed. As well as much more.

The matomo users are either pure users who have no idea about the matter, or users who use very specific applications an

[2022-10-31 19:11] tsteur commented on #19871
This error is still happening and it's still failing to send the report.

[2022-10-31 19:25] tsteur commented on #19871
Here is the stack trace. It's an issue in tcpdf:

[2022-10-31 19:36] justinvelluppillai commented on #19343
Yes I see that 👍🏽

[2022-10-31 19:40] tsteur commented on #19871
Note that I have the value it's trying to parse there but I couldn't reproduce this locally. There isn't any issue. It's basically the `$siteTitle - $reportTitle`. No special characters. It's similar to the one below.

`LIVE (foo.bar) bar.com (UA-12345-1, 1234567) - Räkerkerkrkrkr`

see also https://3v4l.org/0iF1c.

On production renamed the report title but this didn't help. Then renamed the name

[2022-11-01 14:26] konradmichalik commented on #19846
We get the same problem here, want to try to install matomo via composer and run the application with php 8.
Is it possible to fix this issue while allowing _composer/semver_ 1.7.2?
https://packagist.org/packages/composer/semver#1.7.2

[2022-11-01 21:37] r3tr0sp3c commented on #14462
Also for greek city / region combinations

<img width="1149" alt="screenshot" src="https://user-images.githubusercontent.com/47220281/199346252-8e98acef-538b-42df-b1c2-07ff850ceab4.png">

Larisa and Volos belong to Thessaly, in the mainlands , not Zakynthos which is an island.

[2022-11-01 22:58] Starker3 opened #19933 "Sparklines in Ecommerce widget broken when using Comparison with Date Range"
When Selecting a Date Range and comparing that Date Range with another preiod, the Ecommerce Widget sparklines show the incorrect values for the sparkline chart:
![image](https://user-images.githubusercontent.com/20905821/199357396-621f7168-d3f2-477b-8c64-c6392dd94e77.png)

In the demo the issue is the same, but with the added issue that the sparklines are also flat:
![image](https://user-images.g

[2022-11-02 01:20] peterhashair commented on #19933
@Starker3 thank you for reporting this, I can reproduce this on our demo or locally. I believe there is a regression there.

[2022-11-02 03:30] peterhashair commented on #19933
It seems like when comparing, the revenue on the dataTable covert to string 'NZ$123' instead of `float` leading to a graphic loading error.

[2022-11-02 08:54] sgiehl commented on #19933
might be related to https://github.com/matomo-org/matomo/issues/15349

[2022-11-02 10:33] sgiehl commented on #19928
I have fixed those on weblate so the next translation update should fix it. There actually should be tests to check that stuff, but I think they are currently marked as incomplete instead of failing. Need to check them...

[2022-11-02 10:41] MatomoForumNotifications commented on #19134
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/real-time-top-urls/46622/3

[2022-11-02 10:41] MatomoForumNotifications commented on #16584
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/real-time-top-urls/46622/3

[2022-11-02 10:41] MatomoForumNotifications commented on #14392
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/real-time-top-urls/46622/3

[2022-11-02 14:01] heurteph-ei commented on #18182
@Daijobou, is there any news on version 4.6+? Do you still encounter the problem?

[2022-11-02 14:07] MatomoForumNotifications commented on #17589
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/ip-address-blocked-after-opening-matomo-err-connection-timed-out/48045/2

[2022-11-02 14:18] heurteph-ei opened #19935 "No documentation about `disable_http_diagnostics` parameter in case of host provider ban"
Following issue **Add config option to disable http requests in System Checks to prevent server crashes with mod_security #17589**, a parameter has been added to prevent being banned by the host provider after some HTTP checks...: `disable_http_diagnostics`
This should be documented in a sub page of [Home > Help > Installation & Maintenance > Matomo On-Premise (self-hosted)](https://matomo.org/gui

[2022-11-02 14:19] utrautmann commented on #19889
Hello @bx80 ,
the content type header is 'text/html'.
![grafik](https://user-images.githubusercontent.com/25771066/199513491-8b7edacd-47a8-4885-bdfe-8c086de68682.png)

[2022-11-02 14:40] HCl-not-HCi commented on #18182
The issue was fixed for the second time in version 4.10 (#18967). So it should be fixed now (at least it was when I tried it the last time). However, I didn't try it for some time now.

[2022-11-02 14:45] sgiehl commented on #19919
I'm able to confirm that for `delete_logs_enable` the UI does not reflect the current setting correctly. I'll prepare a fix for that.

[2022-11-02 14:49] Findus23 commented on #19889
Hi,

https://demo.matomo.org/index.php?module=CoreAdminHome&action=optOutJS returns `content-type: application/javascript; charset=utf-8`, so can you maybe check the content of that response?
Maybe it is showing a HTML error page instead of the Javascript it should return.

[2022-11-02 15:19] nicomegadrive opened #19937 "Add official antiflicker for the A / B tests"
Hi,

It would be great if you could add an anti-flicker like the one from Optimize, for now when a visitor enters an A / B test he'll always see the variant A before being redirected to B.

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n

[2022-11-02 15:22] utrautmann commented on #19889
Hi,
unfortunately my [response ](https://github.com/matomo-org/matomo/issues/19889#issuecomment-1300508875) was wrong because of usage of an incorrect url. The content-type is "application/javascript; charset=utf-8" too.
I will investigate it further to recognize some differences.

[2022-11-02 17:13] sgiehl commented on #19862
Hi @FalkHe
Thanks for creating this issue and sorry for the delay in answering.

It seems you are right. The callback seems to be thrown away if a request is not directly sent, but pushed into a queue instead.
This might not only be the case for client hint detection, but also if consent is required, but was not yet given.

This is something we need to investigate further.

[2022-11-02 17:16] utrautmann commented on #19889
I looked into the topic again and came to the conclusion that there is no Matomo error here. There was a misconfiguration in proxy forward requests on the Matomo web server that was delivering an error page instead of the Matomo opt-out html.

Thank you for your patience.

[2022-11-02 17:16] #19889 closed, assigned to nobody

[2022-11-02 19:49] Starker3 opened #19939 "Monthly report with Week/Day schedule returns Warnings during scheduled tasks"
It seems that when creating a scheduled report for something such as a "Month" period, but selecting a shorter period for the frequency of the report email can result in a warning during the scheduled tasks:
[code]
Steps to reproduce:
1. Configure a scheduled report with a period such as "Month"
2. Set the schedule for the report to a shorter period such as "Week"
3. After the report is sent the f

[2022-11-02 19:58] tsteur opened #19940 "Fatal error: ceil(): Argument #1 ($num) must be of type int|float, string given in BaseDraw.php"
See details below:

URL: /index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=Goals&apiAction=get&token_auth=XYZANONYMIZED&idGoal=ecommerceOrder&period=day&date=2022-10-03,2022-11-01&filter_sort_column=revenue&column=revenue&columns=revenue&language=en&width=984&height=450&fontSize=27&showMetricTitle=0&aliasedGraph=1&legendAppendMetric=0&backgroundColor=efefef&gridColor=dcdcdc&colors=345

[2022-11-02 20:00] #19909 closed, assigned to peterhashair

[2022-11-02 21:08] justinvelluppillai opened #19941 "Command to generate the travis.yml file produces faulty output"
The `generate:travis-yml` command is generating yaml files with broken newlines. I tested in PHP 8.1 and 7.4 with the same results. It could be worth testing this works in PHP 7.2 as this may have been the last PHP version it was successfully run in.

Ideally we don't update the travis.yml files manually, but can use the command.

## Expected Behavior

Properly formatted yaml files for `--core` an

[2022-11-02 21:21] peterhashair commented on #19930
As discussed in https://github.com/matomo-org/matomo/issues/15349, this should be fixed once that Issue is resolved.

[2022-11-02 22:50] #19903 closed, assigned to sgiehl

[2022-11-02 23:13] #19919 closed, assigned to sgiehl

[2022-11-03 10:44] #19872 closed, assigned to peterhashair

[2022-11-03 12:02] matthewhutchings commented on #6497
This is still an issue.

[2022-11-03 17:59] mindbreaker commented on #19848
Jep seems to be fixed

[2022-11-03 18:03] mindbreaker commented on #19783
Thx:

![image](https://user-images.githubusercontent.com/225204/199800075-f278fcda-84f6-42f9-acf7-9bef827c4f72.png)

[2022-11-03 18:07] mindbreaker commented on #19773
Thx. @bx80 i see that the merge needs another approval.

[2022-11-03 19:09] tsteur commented on #18295
We're having issues pretty much daily with this one

[2022-11-03 19:27] eldk commented on #18312
@sgiehl :

Hello,

I think the goal was to hide it on "Visits log" view as it is displayed another way (and twice when comment https://github.com/matomo-org/plugin-MarketingCampaignsReporting/blob/c3ef72423f2837e52731a1703490d972a6246fa2/stylesheets/styles.less#L1-L3) .

![visits_log_view](https://user-images.githubusercontent.com/11083657/199814984-90b0fb99-736f-45b7-a828-cfca98d6cd7e.png)

But t

[2022-11-03 20:21] bx80 opened #19946 "Migrations labelled for the wrong release are not detected by tests"
## Expected Behavior
Migrations that have not been part of a previous release and have a version other than the current core version should cause the test build to fail. This should happen even if the migration was committed with the version of the current release, but the current release version subsequently changes.

## Current Behavior
Migrations added with a version other than the current rele

[2022-11-03 23:32] peterhashair commented on #19941
It seems like when twig renders the template missing some of the`\n` line breaks, caused by php8 or a higher version. Once I run `composer update` update `twig/twig` from 1.18 to v1.44.7, generated format starts to work. Do we consider the update? Which is that PR https://github.com/matomo-org/travis-scripts/pull/81

[2022-11-03 23:43] tsteur opened #19947 "Invalidations of reports command should allow to invalidate "All visits" only"
Currently, when running `./console core:invalidate-report-data --sites=1 --dates=2022-10-01,2022-10-10`, then all reports for the "All visits" segment and all other segments for that site are invalidated. This can cause a huge amount of invalidations which can put a lot of load onto a database and as a result it will take very long to reprocess this data.

It would be be great if we could specify

[2022-11-04 00:29] peterhashair commented on #17017
Add documents here. https://matomo.org/?post_type=faq&p=59435&preview=true

[2022-11-04 08:32] sgiehl opened #19951 "Refactor handling of campaign parameters"
Currently all campaign parameters tracked in core (as well as in MarketingCampaignsReporting plugin) are stored on lower case in the database.

This is actually a manipulation of the provided data we should avoid as there might be reasons why this might cause trouble.
For example a click id might contain upper and lower case letters, changing them might make the click id not usable anymore, as it

[2022-11-04 10:59] lneuville commented on #19799
+1 with @kava81 !

[2022-11-04 11:03] lneuville commented on #10584
+1 with Matthieu !
Any news regarding this point ?

[2022-11-04 17:49] atom-box commented on #19671
A user writes:

_"Hi, as far as I can see, I can only choose one or all websites. What can I  do if I have 20 websites and I want to see 15 in one overview and 5 in  another one? Also, it would be great to add another option in the settings to choose multiple websites."_

[2022-11-04 20:30] justinvelluppillai commented on #18530
This was fixed in https://github.com/matomo-org/matomo/pull/19528

Please see the announcement also - https://matomo.org/blog/2022/09/improvements-to-matomo-opt-out-form-feature/

[2022-11-04 20:30] #18530 closed, assigned to nobody

[2022-11-06 00:24] tsteur opened #19954 "Warning - A non-numeric value encountered in Metrics Formatter"
Got below error in our account . URL was `index.php?module=CoreHome&action=index&idSite=12&period=week&date=today#?period=week&date=today&category=Dashboard_Dashboard&subcategory=1` but it's a custom dashboard where I have goals in there etc.

[2022-11-06 15:10] courtens opened #19955 "Visitors > Locations produces 500 error on POST for idSite=2"
I have 5 sites in Matomo, but site ID 2 is always producing a 500 POST error on the page **_Visitors > Locations_**.

![image](https://user-images.githubusercontent.com/27327453/200178313-a04cd2de-d3c0-4f67-87e5-07af8405b44e.png)

And, also, for almost always, on **_Dashboard > Visits in real-time_**

![image](https://user-images.githubusercontent.com/27327453/200177825-7ea33c73-c449-4d9b-b60d-7ad

[2022-11-06 16:21] TheRealFreelancer opened #19956 "Mobile App: Connect to Multiple Matomo Dashboards (and switch between them)"
When it comes to the mobile version, the first thing I realized is that you can only connect with ONE Matomo Dashboard at a time.

It would be a great extension of the mobile app (but also the web version on-premise) if you could register multiple servers that have Matomo on-premise and then switch between them in the app on the fly. Because in a professional environment, you can easily have multi

[2022-11-06 19:13] tsteur commented on #7573
We're seeing daily issues around this problem mostly for one account only though.

[2022-11-06 19:53] #19867 closed, assigned to peterhashair

[2022-11-06 20:43] peterhashair commented on #19955
@courtens I read the original forum, and it seems like this is caused by a tracking URL containing special/broken characters. It may be the same issue https://github.com/matomo-org/matomo/issues/18763

[2022-11-06 21:20] peterhashair commented on #19607
Just confirm the changes for this issue. @mattab @tsteur
- Have a separate setting page for `anonymous user` to enable/disable, require password confirmation on change.
- Remove `anonymous user` from the `user manage` page

Question:
- Do we need @Javi-Ormaechea to confirm the changes, due to a UI update?
- Do we still send emails to the super admin when `anonymous user` access is being changed?

[2022-11-06 21:34] #19846 closed, assigned to sgiehl

[2022-11-06 21:44] #19888 closed, assigned to bx80

[2022-11-06 21:44] #19879 closed, assigned to bx80

[2022-11-07 00:18] peterhashair commented on #19941
PR https://github.com/matomo-org/travis-scripts/pull/81 is merged, but seems like we still need to do a `composer install` on the `./tests/travis/generator/` to update vendor, not sure if should we manually do it, or if there or there is a GitHub step for auto-update.

[2022-11-07 01:42] tsteur opened #19960 "Fix incomplete tool tip for best converting entry page in goals conversion overview"
<img width="402" alt="image" src="https://user-images.githubusercontent.com/273120/200209265-2db34fd6-94c4-49a1-ba3f-a96aa8c296a3.png">
<img width="417" alt="image" src="https://user-images.githubusercontent.com/273120/200209369-ce1bab20-a138-4523-8f20-6133a47ee6da.png">

see above screenshots. The conversion rate is not shown.

This can be reproduced in our own analytics via Matomo 4.12.3

[2022-11-07 02:51] peterhashair commented on #18375
@tsteur Did a simple PR for that one, trying to complete those two. But looks really simple, am I on the right path?

[2022-11-07 03:00] mattab opened #19961 "As a Super User, I want to force all users to use strong, secure passwords for their Matomo account"
## As a Super User, I want to force all users to use strong, secure passwords for their Matomo account.

This is important as it will help increase the security of the data stored in Matomo.
By ensuring that all users have strong passwords, and that they are forced to set a strong password.

## Potential solution:

* A new General setting, "Force all users to set a strong, secure password. " (<- c

[2022-11-07 03:00] mattab commented on #13666
FYI we're thinking of implementing something simple for password policy in core, see https://github.com/matomo-org/matomo/issues/19961

[2022-11-07 03:34] peterhashair opened #19962 "Goal overview page, when there is no goal setup, it seems like there unfinished load."
## Expected Behavior

Should hide loading bar

## Current Behavior

see screenshots
![image](https://user-images.githubusercontent.com/3783072/200221080-b7529a2e-c151-4941-8a3e-464bcdb06268.png)

## Possible Solution

## Steps to Reproduce (for Bugs)

1. Go to Goal overview, and make sure there are no goals setup.

## Context

## Your Environment

* Matomo Version:
* PHP Version: 8.0
* Server Oper

[2022-11-07 03:40] peterhashair commented on #19960
This can reproduce locally, ping @mattab do we want to move this to the current milestone since it may have an impact on the usability

[2022-11-07 03:48] snake14 opened #19963 "Inconsistency in some property types of Actions.getPageTitles API"
I was updating the WhiteLabel premium plugin to build using PHP 8.1 instead of 8.0 and found that the `entry_nb_uniq_visitors` and `exit_nb_uniq_visitors` properties were previously string values and changed to Integer values when using PHP 8.1. I was able to fix the build by having two separate JSON files depending on which PHP version is running, but @mattab made the point that it's better to ca

[2022-11-07 05:02] tsteur commented on #18375
@peterhashair in this case it be more about the archive command https://github.com/matomo-org/matomo/blob/4.12.3/plugins/CoreConsole/Commands/CoreArchiver.php#L114 which people set up as part of https://matomo.org/docs/setup-auto-archiving/

The value set in the PR would be otherwise overwritten in https://github.com/matomo-org/matomo/blob/4.12.3/plugins/CoreConsole/Commands/CoreArchiver.php#L47 I

[2022-11-07 08:54] MatomoForumNotifications commented on #19852
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/global-optout-is-not-working-this-isuseroptedout-always-return-false/47834/6

[2022-11-07 08:54] MatomoForumNotifications commented on #19888
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/global-optout-is-not-working-this-isuseroptedout-always-return-false/47834/6

[2022-11-07 08:56] MatomoForumNotifications commented on #19879
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/global-optout-is-not-working-this-isuseroptedout-always-return-false/47834/6

[2022-11-07 09:58] Chardonneaur opened #19964 "Add the possibility to define a custom dimension at the referrer level"
Hi,
It is currently possible to set a custom dimension at the visit and at the action level, but what if we would like to define a custom dimension at the referrer level?
The use case being the following one, in SEO, a referrer can have several attributes such as a domain authority, a trust authority... having a custom dimension at the referrer level would offer the possibility for external tools

[2022-11-07 10:33] Chardonneaur commented on #19964
This is in fact a useless ticket, a referrer being an attribute of a visit. Thanks @sgiehl for the tip.

[2022-11-07 10:33] #19964 closed, assigned to nobody

[2022-11-07 10:42] Hiradur opened #19965 "User creation fails in Matomo UI due to missing column"
## Expected Behavior
When I invite a new matomo user, an invitation should be sent via email.

## Current Behavior

User creation fails after entering the superuser password with `SQLSTATE[42S22]: Column not
found: 1054 Unknown column 'invited_by' in 'field list'`.
I encountered this issue with version 4.12.1 and upgraded to 4.12.3 today, but it didn't fix the issue. I could successfully create us

[2022-11-07 11:49] sgiehl commented on #19941
I didn't have a look in detail here, but simply merging this PR might possibly even create more trouble that we currently have. On travis we try to auto generate the travis.yml. That is always done in the first job (not for PRs I think). This jobs are running with PHP 7.2 in most cases. So if updating twig changes the result also for PHP 7.2, this might mean that those jobs will start failing now

[2022-11-07 12:46] sgiehl commented on #19965
Hi @Hiradur
Sorry to hear you are having trouble with the update. It seem the migration of 4.11. were not executed for you for some reason.
The user table should have been changed here: https://github.com/matomo-org/matomo/blob/4.x-dev/core/Updates/4.11.0-rc2.php#L62-L66

Might be hard to find the reason why that didn't work for you.
You can now either try to apply the required changes automatical

[2022-11-07 12:46] #19965 closed, assigned to nobody

[2022-11-07 12:50] craigvc commented on #19498
seconded! More granular permissions needed per website/per admin

[2022-11-07 13:31] heurteph-ei commented on #19963
I think that for compatibility, it should stay as it worked before (string), but maybe in Matomo V5, it should be updated to number as these values are... Numbers!
Is there any impact in the HTTP API?

[2022-11-07 13:36] sgiehl commented on #19963
@heurteph-ei I can only agree partially. The API responses might be returned localized, so numbers might be formatted, which will require them to be a string in most cases.

[2022-11-07 13:40] MatomoForumNotifications commented on #19955
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/oops-there-was-a-problem-during-the-request-failed-to-write-cache-file/47390/22

[2022-11-07 13:42] heurteph-ei commented on #19954
Is it the same as #19963?

[2022-11-07 16:09] sgiehl commented on #10584
I'm not aware of any plans to implement that. But maybe this needs to be re-visited and re-prioritized.

[2022-11-07 16:21] sgiehl commented on #17017
@peterhashair the new method should also be added here: https://developer.matomo.org/api-reference/tracking-javascript
But as this will be included in Matomo 5 only, we maybe should first start the documentation for 5.x. See https://github.com/matomo-org/developer-documentation/issues/675

[2022-11-07 17:29] davidlemaitre opened #19966 "Unable to delete entry containing dots with config:delete command"
I want to use config:delete command to remove an ip address from General.login_allowlist_ip array but the command never found the value. If I add a new value without dots to an array, the deletion works. I tried to escape dots with backslashes without success.

## Steps to Reproduce

[code]

[code]

[code]

## Your Environment

* Matomo Version: 4.12.3
* PHP Version: 8.0.25

[2022-11-07 18:45] tsteur commented on #19871
Happening again many times today

[2022-11-07 22:24] peterhashair commented on #17017
@sgiehl should I wait for the `5.x` documentation created? Or should I created PR follow those steps https://github.com/matomo-org/developer-documentation/#how-to-add-docs-for-a-new-matomo-version

[2022-11-07 22:31] peterhashair commented on #19941
@sgiehl right maybe is out of scale for this issue, but since PHP 7.2 is deprecated. Do we want to update the test from 7.2 to 7.4? I test 7.4 worked as expected.

[2022-11-07 23:09] peterhashair commented on #19966
@davidlemaitre thanks for reporting this, you are right, I can see there is a bug there caused by the IP address having `dot` in it. Instead of searching for `123.123.123.123`, it searches `123`

[2022-11-07 23:23] peterhashair commented on #19966
Hints: this is caused by this line.
https://github.com/matomo-org/matomo/blob/3ddbb186ef564718ed0a4457e56d287c0c0f6708/plugins/CoreAdminHome/Commands/ConfigDelete.php#L240

possible solution:

update the regex to `/^([a-zA-Z0-9_]+)(?:\.([a-zA-Z0-9_]+))?(?:\[\])?(?:\.([a-zA-Z0-9_.]+))?/`, not sure if we want to accept all special characters

[2022-11-08 00:09] tsteur opened #19967 "Visits over time chart and other evolution graphs show wrong period when comparing segments"
See for example this link: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=week&date=2022-11-04&category=Dashboard_Dashboard&subcategory=1&compareSegments%5B%5D=visitConvertedGoalId%3D%3D7

It is supposed to be showing weeks but it's comparing individual days in the graph
<img width="600" alt="image" src="https://user-images.githubusercon

[2022-11-08 00:11] tsteur commented on #19967
Basically, the segment comparing feature is no longer usable for me.

[2022-11-08 00:14] tsteur opened #19968 "Fix flat lines in Sparklines when comparing segments"
see for example https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=week&date=2022-11-04&compareSegments%5B%5D=visitConvertedGoalId%3D%3D7&category=Goals_Goals&subcategory=General_Overview

and https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=week&date=2022-11-04&com

[2022-11-08 00:23] tsteur opened #19969 "Archiving seems to still fail when a custom dimension is deleted and custom reports are archived"
This was supposed to be fixed in core as part of https://github.com/matomo-org/matomo/issues/16152  but maybe it requires a special change for custom reports as well. In https://github.com/matomo-org/matomo/issues/16152#issuecomment-372429476 it was mentioned that this was supposed to work for custom reports as well. Feel free to move this to custom reports issue project if needed.

Executed comma

[2022-11-08 00:55] peterhashair commented on #19968
I believe this could be a similar issue with https://github.com/matomo-org/matomo/issues/19933
https://github.com/matomo-org/matomo/issues/19967

Hey, @mattab Do we want to move this to the current milestone since is a regression and has an impact on usability?

[2022-11-08 04:41] mattab commented on #19960
Yes, this must be fixed soon - i had reported it as well (and other bugs..) in https://github.com/matomo-org/matomo/issues/19512

[2022-11-08 09:23] sgiehl commented on #19969
@tsteur That seems more to be an issue of the CustomReports plugin. Looking at the stacktrace it seems the `ArchiveReports` command of the plugin is executed. That doesn't use the normal archiving process...

[2022-11-08 11:15] sgiehl commented on #19960
@peterhashair are you already working on that one? I know where the problem is. I can set up a fix for that quite quickly...

[2022-11-08 13:11] sgiehl commented on #19941
No. We always need to run our tests against the lowest PHP version we are supporting. Otherwise we might miss incompatibilities there...

[2022-11-08 13:12] sgiehl commented on #17017
Let's wait till https://github.com/matomo-org/developer-documentation/issues/675 is done

[2022-11-08 13:20] sgiehl commented on #19954
@tsteur Might be hard to find the reason why a non numeric value occurs for the conversion rate.
We could though change the formatter to check if the given value is numeric and use `0` otherwise maybe.

[2022-11-08 13:48] craigvc commented on #19665
any news on this @sgiehl we have same issue

[2022-11-08 13:49] craigvc commented on #19665
As a side note deleting the tmp folder seems to fix it - though not ideal!

[2022-11-08 14:03] sgiehl commented on #19967
might be related to #19395

[2022-11-08 14:10] sgiehl commented on #19665
Sorry @craigvc. We currently don't have the capacity to work on that one. As mentioned before, this seems to be some sort of caching bug. In some cases when fetching the results a (random) error might occur. That result is currently cached and displayed over and over again till the cache is invalid or cleared.
We need to change how the caching is currently handled. I guess the smartest solution wo

[2022-11-08 14:42] sgiehl commented on #19968
Had a quick look into that. Seems like the date used for the sparklines is provided as range instead of a single day. That causes the sparkline to use the provided range, instead if looking back for last30. Will provide a PR to fix that.

[2022-11-08 15:10] sgiehl commented on #19962
@peterhashair that works for me without problems on `4.x-dev`. If you are still able to reproduce, maybe check for possibly failing requests or javascript errors that give a hint where the problem is.

[2022-11-08 16:10] sgiehl commented on #19956
Hi @TheRealFreelancer
Thanks for your suggestion. I'll move it to the mobile app repo.

[2022-11-08 19:43] lance-matomo commented on #19904
There are a couple of Wordpress plugin users that can't use these password protected features at all, they keep getting incorrect password notifications. They tried updating their passwords, using simpler passwords, using more complex passwords and updating their passwords directly in the db. Nothing worked for them. I was unable to reproduce this locally.

[2022-11-08 19:58] tsteur commented on #19806
This happened again

[2022-11-08 20:29] tsteur commented on #19954
Thanks. That actually didn't happen when comparing but maybe it's related to the other regressions. It only started with the recent Matomo 4.12 release. We could always see if it still happens after all the other regression fixes and #19970

[2022-11-08 20:34] tsteur commented on #19969
OK. I was hoping we had fixed this in core or so. I've created the issue in Jira in PG-1542 and will close this.

[2022-11-08 20:34] #19969 closed, assigned to nobody

[2022-11-08 21:03] peterhashair commented on #19960
@sgiehl nope feel free to grab it.

[2022-11-08 21:22] peterhashair commented on #19960
duplicate issue with https://github.com/matomo-org/matomo/issues/19512

[2022-11-08 21:22] #19960 closed, assigned to nobody

[2022-11-08 21:51] #19968 closed, assigned to sgiehl

[2022-11-08 21:56] peterhashair opened #19973 "Resolve inaccurate charts when compare 2 segments with week period in the visits overview"
## Expected Behavior

## Current Behavior

![image](https://user-images.githubusercontent.com/3783072/200684299-e38f3513-1835-4bf0-abcd-3d22b75beea3.png)

## Possible Solution

## Steps to Reproduce (for Bugs)

1. https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=week&date=2022-11-03&compareSegments%5B%5D=visitConvertedGoalId%3D%3D

[2022-11-08 21:58] #19973 closed, assigned to peterhashair

[2022-11-08 21:58] peterhashair commented on #19973
This is fixed by https://github.com/matomo-org/matomo/pull/19971

[2022-11-08 23:12] mattab commented on #19904
Proposed solution

* introduce a new INI setting to let people disable the password confirmation.
* create a new FAQ "How do I disable the password confirmation prompt?" that explains how it's not recommended because it lowers security, but when it's required for some reason, it's possible.
* both core & WP users could leverage this setting if needed

For now i'd say we don't need to link to the F

[2022-11-08 23:20] mattab commented on #6497
I'm not sure if it's helpful, but this is the FAQ we have that explains how to convert a Matomo DB to utf8mb4 charset, which is what we've been using by default https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/

[2022-11-08 23:29] justinvelluppillai commented on #19960
@peterhashair the reference to the other issue is incorrect - can you please update the link so we can see the duplicate?

[2022-11-08 23:45] peterhashair commented on #19960
@justinvelluppillai updated.

[2022-11-08 23:47] peterhashair commented on #19962
@sgiehl random failed, close issue now.

[2022-11-08 23:47] #19962 closed, assigned to nobody

[2022-11-08 23:50] justinvelluppillai commented on #19607
@mattab can you please offer your thoughts on @peterhashair's approach and questions here?

[2022-11-09 00:58] peterhashair commented on #19967
@tsteur I can't see those anymore on demo or local. Is there any chance that was a random failure?

![image](https://user-images.githubusercontent.com/3783072/200709970-f88e7286-7a69-4094-a09c-0b4cadca4641.png)

[2022-11-09 01:51] peterhashair commented on #19515
The refresh icon is removed, close the issue.

[2022-11-09 01:51] #19515 closed, assigned to nobody

[2022-11-09 02:17] peterhashair commented on #19675
@JustinFinkelsteinKainos sorry for the late reply, I believe it should always print the keyword `done`  at the end if the process success finished.

[2022-11-09 02:19] peterhashair commented on #19955
ping @sgiehl any suggestion on that one?

[2022-11-09 02:28] Starker3 opened #19976 "RAW Data deletion checkbox is unchecked even when data deletion is enabled"
It looks as though the RAW data deletion checkbox in the UI does not show when the RAW data deletion is actually enabled in the database.

This can be confirmed by navigating to Administration > Privacy > Anonymize Data > Regularly delete old raw data
In a install where this was enabled, it will look as though it is no longer enabled. When changing the setting to enabled in a install where it was

[2022-11-09 02:29] peterhashair commented on #19465
I believe this is solved by https://github.com/matomo-org/matomo/issues/17452,  close this issue.

[2022-11-09 02:29] #19465 closed, assigned to nobody

[2022-11-09 02:32] peterhashair commented on #19340
@fritzmg I believe this is invalid, close the issue for now. If the issue appears again, feel free to reopen this issue.

[2022-11-09 02:32] #19340 closed, assigned to nobody

[2022-11-09 02:51] mattab commented on #19607
Additionally:
* Ask for password confirmation when Enabling the anonymous user in the new screen
* Send an email to all Super Users to notify them that this website was made public to anonymous

The proposed new screen (inspired by https://user-images.githubusercontent.com/273120/184553332-1de9f682-9e77-4f1a-93d6-3863d84aa9dc.png) & email message microcopy will be provided by @Javi-Ormaechea short

[2022-11-09 03:28] mattab commented on #17024
how to track Ecommerce Analytics for Shopify covered (including product, categories, product views & add to carts, etc.) in https://matomo.org/faq/new-to-piwik/how-do-i-install-the-matomo-tracking-code-on-my-shopify-store/

[2022-11-09 07:46] Chardonneaur opened #19977 "API: adding widget to a dashboard"
Currently the following methods are available within the API documentation for dashboard:
- Dashboard.getDashboards
- Dashboard.createNewDashboardForUser
- Dashboard.removeDashboard
- Dashboard.copyDashboardToUser
- Dashboard.resetDashboardLayout
but there is none about adding a widget to a given dashboard.

[2022-11-09 08:14] sgiehl commented on #19976
Guess that's a duplicate of #19919 and should have been fixed with #19936

[2022-11-09 08:14] #19976 closed, assigned to nobody

[2022-11-09 08:56] Chardonneaur opened #19979 "Support trackSiteSearch with mtm.push"
Hello,
it is currently not possible to support the trackSiteSearch with mtm.push.
Is there any development planned about it?

Best regards,

[2022-11-09 08:58] sgiehl commented on #19871
@tsteur This might be something that needs to be fixed in the vendor lib. If I shall have a look and create a PR there let me know

[2022-11-09 09:08] MatomoForumNotifications commented on #19919
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/enabling-delete-logs-enable/48129/2

[2022-11-09 09:34] sgiehl commented on #19979
@Chardonneaur Is this a tagmanager related request?

[2022-11-09 09:40] #19899 closed, assigned to sgiehl

[2022-11-09 09:48] #19773 closed, assigned to nobody

[2022-11-09 09:56] sgiehl commented on #19904
It is kind of already possible to disable the password check by adding this to `config/config.php`
[code]

That way the password confirmation boxes are still shown, but you can simply click ok, without entring a password.
Might be a suitable solution for the users currently having a problem.

[2022-11-09 13:56] sgiehl commented on #19940
This is yet another issue with numbers that a formatted to early. The ImageGraph fetches the numbers formatted from the database. Using those for calculations might result in failures.
There is actually some code, that tries to convert the formatted number back to something usable:

https://github.com/matomo-org/matomo/blob/a36b45a3764cd28303d2ce27c600c7d6f5a5ed20/plugins/ImageGraph/API.php#L557-L

[2022-11-09 14:06] sgiehl commented on #19937
Hi there, Thank you for creating the issue. It seems the request is actually for our A/B Testing Premium Feature.
For suggestions or support on our premium plugins please contact shop at innocraft.com or ask in the Premium Features forum here: https://forum.matomo.org/c/premium-features
We are only handling issue for Matomo core here.

[2022-11-09 14:06] #19937 closed, assigned to nobody

[2022-11-09 14:20] sgiehl commented on #12516
As this issue is already over 4 years old and there has been no more activity, I'll close it now.
@henkvdbeukel If you are still having problems with that, maybe try to get some help on our forum at https://forum.matomo.org

[2022-11-09 14:23] sgiehl commented on #12564
I hope this issue was meanwhile fixed silently somewhen in the last 4 years. If anyone still has this problem, please don't hesitate to create a new issue for it. Thanks.

[2022-11-09 14:23] #12564 closed

[2022-11-09 14:36] sgiehl commented on #12709
This one should be meanwhile fixed. If not, feel free to create a new issue.

[2022-11-09 14:36] #12709 closed

[2022-11-09 14:42] sgiehl commented on #12623
should have been fixed with https://github.com/matomo-org/matomo/pull/16341
If anyone still has a similar issue, feel free to create a new report. Thanks.

[2022-11-09 14:42] #12623 closed

[2022-11-09 14:44] sgiehl commented on #19211
Closing this one for now. @jorgeuos If you still have any issues, feel free to create a new issue or get in touch on our forum. Cheers

[2022-11-09 14:44] #19211 closed, assigned to nobody

[2022-11-09 16:17] sgiehl commented on #19300
@NearlyShake Are you still having this issue, or did @peterhashair's answer maybe give you the right hint?

[2022-11-09 16:20] sgiehl commented on #19129
Closing this issue for now. @ericimprint I hope this issue won't occur again with the latest releases. But if you spot this issue again later, don't hesitate to open another report. Cheers

[2022-11-09 16:20] #19129 closed, assigned to nobody

[2022-11-09 16:28] sgiehl commented on #19176
Looking at the code it looks like segments are only invalidated if they are provided on command line. So even when not using the `--plugin` option it will not invalidate any segment.
Nevertheless the suggestion makes sense. Guess it would be good to add a new option like `--include-all-segments` or similar.

[2022-11-09 16:49] sgiehl commented on #18544
@tsteur I think that error actually only occurs as `API.getProcessedReport` can't be exported as a CSV. Normally I guess this part should throw an exception as the data structure can't be converted:

https://github.com/matomo-org/matomo/blob/70b004c968a1850b65c71156b465d189f4692a49/core/DataTable.php#L1585

But it tries to add the full array content to the exception message. Locally that ends up f

[2022-11-09 16:49] #17652 closed, assigned to nobody

[2022-11-09 16:53] sgiehl commented on #17551
I'll close this one for now. We are regularly checking if known security issues also affect Matomo.
For Matomo 5 we might update some of the dependencies as long as they don't cause any bigger issues.

[2022-11-09 16:53] #17551 closed, assigned to nobody

[2022-11-09 18:41] sgiehl commented on #19352
@mattmary Is this something we still need to change in core, or is the fix for wordpress a suitable solution and we can close this one?

[2022-11-09 18:50] tsteur opened #19981 "Site search in measurable settings has a blurry icon"
That's on a high resolution screen. See screenshot.

<img width="282" alt="image" src="https://user-images.githubusercontent.com/273120/200915856-6601ef94-2035-4c29-9739-fb0752027a9a.png">

[2022-11-09 19:13] tsteur commented on #18544
Truncating the exported array makes sense and could be a good quick fix 👍  We could limit it to the first 1M characters or so

[2022-11-09 19:42] tsteur commented on #19871
How much work would that be roughly? cc @mattab that may be something good to do if it's quick. We're having basically one weekly scheduled report for a customer where this is happening. If it's not quick to do, we can maybe reach out and get them to change the name of the site.

[2022-11-09 21:13] jphustman commented on #19781
I'm having this issue on my website as well, the page loads in the frame, but the left sidebar never moves on from "Loading..."
Nothing appears to be being blocked, or any errors in the console, also I'm not getting any information on any of the links either.

[2022-11-10 03:35] peterhashair commented on #18375
we need to update this https://developer.matomo.org/guides/archiving-behavior-specification once `Matomo 5.x` document is ready.

[2022-11-10 04:12] peterhashair commented on #19862
Updated in `Matomo 5.x` add `callBackQueue`, which should process the callback as normal.

[2022-11-10 04:12] #19862 closed, assigned to peterhashair

[2022-11-10 10:06] Chardonneaur commented on #19979
@sgiehl maybe it is more a documentation question. In fact, the differences between paq.push and mtm.push is not clear. Is mtm.push only tag manager related or can it be used with any other methods and will substitute all paq.push methods? My clients are saying that mtm.push work for most cases but not for the track site search.

[2022-11-10 10:21] sgiehl commented on #19979
I'd say mtm is only tag manager. I'll move the issue there, maybe someone with more tagmanager know how can answer that.

[2022-11-10 10:54] sgiehl commented on #19955
I haven't read the forum post in detail. Might be helpful to get the exact response content of the failing request (if any) or maybe a error message from the error log. Otherwise it's hard making a guess where the problem is.

[2022-11-10 11:14] sgiehl opened #19984 "Allow API parameter type hints"
## Summary

Currently it is not possible to use type hints in API methods. As all parameters are parsed from the request, they are currently always either a string or an array. Adding type hints other then string or array would though currently end up in an error of mismatching types.

Allowing type hinting for API methods would help us solve a plenty of issues around incorrect parameter types. In

[2022-11-10 14:20] Chardonneaur opened #19985 "Missing translation keys for the anomyization backend part"
Hi guys,
When it comes to anonymize past data within the privacy part of the Matomo backend, there is no possibility to translate the keys within weblate.

[2022-11-10 14:23] sgiehl commented on #18544
Actually I'm not sure if it's worth to include it at all. The variable is an array, so doing a  var_export on it will double the amount of used memory for it. So we would need to truncate the array before dumping it, but hard to say how big the dump will be without looking through the array content and its structure.

[2022-11-10 14:31] sgiehl commented on #19985
@Chardonneaur Do you mean the list of previous anonymizations? That one indeed seems to be hard coded.
Might be something we will fix with Matomo 5, as that part was meanwhile moved to vue here:
https://github.com/matomo-org/matomo/blob/5.x-dev/plugins/PrivacyManager/vue/src/AnonymizeLogData/PreviousAnonymizations.vue

[2022-11-10 15:32] cspenn opened #19986 ""invalid client configuration" with OAuth JSON for GA Importer"
I'm attempting to load a JSON file with my OAuth credentials for the Google Analytics importer and receive the same generic error message:

"Missing or invalid client configuration, please reupload."

I have confirmed the service account is enabled for OAuth on the Google side, the account has rights to the Analytics API, and billing is active. This account works with other OAuth implementations.

[2022-11-10 19:21] tsteur commented on #18544
Not sure if I understand correctly. I thought in this case it's not a memory issue but maybe a limitation in `sprintf`?
If there's a memory issue or so, we could otherwise always extract the first say 1K entries and then do the var_export?

[2022-11-10 22:10] sgiehl commented on #19742
Sorry, guess that one slipped through. I'm actually not aware of any known login issues.
@gheisz Are you still having that login issue?
There are a lot of related post on our forum at https://forum.matomo.org. Maybe you are able to find a prober solution there.
If not we might need to investigate that further. But it might take a while till we have time to tackle it.

[2022-11-10 22:11] sgiehl commented on #19626
I think this one should be fixed with #19190.

[2022-11-10 22:11] #19626 closed, assigned to sgiehl

[2022-11-10 22:15] sgiehl commented on #18544
I think the problem is, that the array is too big in some cases. But we can't know which part of the array is how big. So using the first 1000 entries in the array might still be too big, depending on the complexity of the array.

[2022-11-10 22:34] Starker3 commented on #18563
We have users who are still experiencing this issue. At present they need to manually overwrite the PHPMailer files in the vendor folder every time they update.

[2022-11-11 00:24] bx80 commented on #19977
Thanks for drawing attention to this @Chardonneaur, seems like it would be a useful method :+1:

[2022-11-11 02:05] peterhashair commented on #19986
@AltamashShaikh any idea on that one?

[2022-11-11 08:27] sgiehl commented on #19781
@jphustman If it doesn't finish to load, that is in most cases a problem of mismatching domains or other issues that prevent loading the data from the API. But normally your browser console should report you, that a request wasn't loaded and why. If all requests are loaded correctly, maybe the request to load the data has other problems, in that case maybe the error log can give a hint. In any cas

[2022-11-11 08:27] #19781 closed, assigned to nobody

[2022-11-11 09:06] sgiehl commented on #19871
@tsteur The only way I'm kind of able to reproduce that problem, is when passing a non utf8 string to `preg_split`. Would you mind looking up the database record, if it maybe contains a char that is not utf8 somehow?

[2022-11-11 09:28] sgiehl commented on #19981
It seems we are using an image in this place and also for the search field in the menu drop down. I'll prepare a PR to change that to the font icon for Matomo 5.

[2022-11-11 12:40] gheisz commented on #19742
Dear Stefan,
yes, these issues still exist for me and so far I found one other entry in the forum with the same problem but no solution.
I still have my workaround so it is not hurting too much, just annoying.
Yours,
Gerd

[2022-11-11 16:19] sgiehl commented on #19742
@gheisz So it works in an incognito tab but not in a normal browser session? My guess would be that maybe a browser plugin might be the problem. Do you maybe have any browser plugins installed? Maybe try disabling them too see if any of them is the problem.

[2022-11-11 16:34] sgiehl commented on #12758
Hi @KennethJoz
Seems your report somehow slipped through our triaging. We have meanwhile change a lot in Matomo

It's only possible to copy a dashboard to as use that does have access to the site, where your user has at least admin access. Nevertheless there had been a bug around that, which was fixed.

The system to add/invite users has meanwhile been changed completely. So this should be possibl

[2022-11-11 16:34] #12758 closed

[2022-11-11 16:43] atom-box opened #19993 "If "do not track" enabled, Matomo still tracks Chromium, Safari, Edge visitors using Privacy/Incognito modes"
**Expected**:
Visitors using a browser in Privacy Mode will not be counted by Matomo if Matomo is  set like this:
Matomo interface >> ⚙️ >> Privacy >> Users opt-out >> "Support do not track" >> Enable

**Actual**:
Only visitors from desktop Firefox version 103 were completely invisible to Matomo. The other four visitors were counted by Matomo as a visit.

I tested this for visitors using five diff

[2022-11-11 16:47] sgiehl commented on #17990
@insekticid Sorry to see you didn't get any response one your issue. Seems it somehow slipped through our triaging process.
Do you still have this issue? Looking at the code it looks like the duplicate action are all being deleted at once after all actions have been updated. So if the process stops somewhere in the middle, the next run would beging with the same stuff again...

[2022-11-11 16:58] gheisz commented on #19742
Thanks! This led me to the solution! I am using Keeper as a password manager and when I unchecked the setting that keeper should automatically submit the authentication data it worked!!
Thank you!
Gerd

[2022-11-11 17:10] sgiehl commented on #18550
Just cam across this issue and had a quick look at the code. I guess the problem might be here:
https://github.com/matomo-org/matomo/blob/c11469e4199405628e97650914f0cdbdea94dac7/core/CronArchive/QueueConsumer.php#L267-L277

`$this->model->deleteInvalidations()` expects to receive the full array and not the ids only. Will set up a quick PR to fix that.

[2022-11-11 17:26] sgiehl commented on #19993
Maybe those browsers don't send the DNT header in incognito mode. But anyways: DNT's working group has meanwhile be discontinued in 2019 (see https://www.w3.org/2011/tracking-protection/), so not sure if we maybe shouldn't consider to remove it fully in the future. Safari already removed DNT support in one of their latest releases.

[2022-11-11 17:28] sgiehl commented on #18191
We have meanwhile migrated from angualar js to vue js. So this error can't occur any longer

[2022-11-11 17:28] #18191 closed, assigned to nobody

[2022-11-11 21:49] #19230 closed, assigned to nobody

[2022-11-12 23:12] tsteur commented on #16905
@diosmosis  we discussed it would be great to also prefix PHP-DI if any possible. Because namespaced functioned can't be aliased (like class_alias), we'll then need a wrapper like `Matomo\DI\get()` for these DI functions. In these wrapper classes we might need to do once a check if `class_exists(\Matomo\Depencency\DI)` to know if we need to call the prefixed function or when it's used via composer

[2022-11-13 10:26] Chardonneaur commented on #19985
@sgiehl whaoo, does it mean that all plugins will need to be refactored for Matomo v5?

[2022-11-13 10:42] sgiehl commented on #19985
If a plugin uses angular js, then yes. It needs to be rewritten. But that can already happen, as the last releases of Matomo 4 already have Vue included

[2022-11-13 18:56] sgiehl commented on #19742
Glad to hear it's working now. I'll close the issue. Cheers!

[2022-11-13 18:56] #19742 closed, assigned to nobody

[2022-11-13 19:16] sgiehl commented on #18471
Closing now, as there hasn't been any activity within a year.
@topcnm If you still have problems with this maybe try to get some help on our forums or if there is something we could improve in Matomo feel free to create a new issue for that.

[2022-11-13 19:16] #18471 closed, assigned to nobody

[2022-11-13 19:21] sgiehl commented on #17707
@issuesreporting I hope you managed to solve that problem for you. As there hadn't been any similar reports and no activity within a year, I'm closing this issue now.

[2022-11-13 19:21] #17707 closed, assigned to nobody

[2022-11-13 19:23] sgiehl commented on #17482
@Chardonneaur Are you still able to reproduce that one, or can we close the issue?

[2022-11-13 19:28] sgiehl commented on #17429
Closing this one as there hadn't been any feedback within over a year.

[2022-11-13 19:28] #17429 closed, assigned to nobody

[2022-11-13 19:44] sgiehl commented on #13367
Anyone still having this issue with Matomo 4?

[2022-11-13 19:46] tsteur commented on #19871
It's basically the same as https://github.com/matomo-org/matomo/issues/19871#issuecomment-1297582255 which I looked up from the DB. I only replaced a few characters there. It didn't seem like it contained non-utf8 characters. Would it help to fetch the data in a certain way maybe to check if it contains non-utf8?

[2022-11-13 19:57] sgiehl commented on #17371
There had been some fixed aroud the Performance Timing tracking. I assume this one should have been fixed as well.
@MichaelRoosz If you still have an issue with this, please let us know, so we can reopen the issue. Thanks.

[2022-11-13 19:57] #17371 closed, assigned to sgiehl

[2022-11-13 19:57] Chardonneaur commented on #17482
@sgiehl hi, thanks for the follow up, I just tested it and it works fine.

[2022-11-13 19:57] #17482 closed, assigned to nobody

[2022-11-13 20:06] sgiehl commented on #13118
@imyaro
Hm. Seems we missed to get back to you on that one. Hope you where meanwhile able to solve your problems.
If not maybe try to get some help on our forum or let us know here, so we can reopen the issue. Thanks.

[2022-11-13 20:06] #13118 closed

[2022-11-13 20:16] sgiehl commented on #13019
I'll close this one as it's already a couple of years old.
@L3on1d If you still have any issues with log importing feel free to create an issue here: https://github.com/matomo-org/matomo-log-analytics

[2022-11-13 20:16] #13019 closed

[2022-11-13 20:42] peterhashair commented on #19607
@mattab any update on this?

[2022-11-13 20:43] mattab opened #19997 "Pages by Goals report is missing a tooltip explaining the "Goal conversions" metric"
In the Goals > Goal X > Goals by Pages  > Page URLs, the report table displayed has a column "Goal X Conversions".

Currently the column doesn't have an inline help.
Instead, it's expected there is an help on hover.

For example here is what the help on hover looks like for the "Goal X conversion rate" column.

![image](https://user-images.githubusercontent.com/466765/201543607-1a02a716-6bfd-4cd1-

[2022-11-13 20:48] sgiehl commented on #18202
This might indeed be a problem around midnight maybe. Haven't tested that through but I think the API uses UTC timezone to create the period. Maybe that needs to be done in the site's timezone here:
https://github.com/matomo-org/matomo/blob/7f5d8a1cad69c145e6305db27636b7f495d94792/plugins/Transitions/API.php#L84-L89

[2022-11-13 21:10] sgiehl commented on #12808
This one should have meanwhile be fixed.

[2022-11-13 21:10] #12808 closed

[2022-11-13 21:16] sgiehl commented on #12535
As we didn't have any further reports about that in the past year, I'll close this issue now.

[2022-11-13 21:16] #12535 closed

[2022-11-13 21:28] mattmary commented on #19352
@sgiehl Sure I can fix it, but I'll have to do it each time we publish a new release. It would be definitively better if you could update the core.

[2022-11-13 21:34] sgiehl commented on #18919
The menu entry is actually only visible if the current user has at least write access to the idSite given in the url parameters. So simply chaning the url parameter should show the menu again.
Nevertheless we should change the behaviour so the menu entry is visible as soon as the user has at least write access to any website.

[2022-11-13 21:51] mattab commented on #18563
Proposed steps:

* improve the error message in console command (hopefully it's possible)
* introduce INI settings under `[mail]` section in global INI file

[code]
* Create a FAQ that mentions the console error message + the solution with the new INI setting (so that people searching for the error will find it) eg. "How do I configure Matomo to send emails when a self-served certificate is used,

[2022-11-13 22:03] mattab opened #19998 "Tooltip for "Ecommerce order revenue per visit" and "Revenue per visit" columns are wrong or missing"
## issue 1
Currently there is no tooltip on hover on the last metric, the column `Revenue per visit`

![Screenshot from 2022-11-14 10-38-52](https://user-images.githubusercontent.com/466765/201545943-af9e2f76-7769-4f37-a5ef-1fda8707080b.png)

## issue 2

There is a tooltip for the other "Ecommerce order revenue per visit"
But it is wrong, it refers to the "Average Order Value" instead.

-> Let's s

[2022-11-13 22:04] mattab commented on #8495
Thanks for the feedback, this is now covered in this other issue https://github.com/matomo-org/matomo/issues/19998

[2022-11-13 22:04] #8495 closed

[2022-11-13 22:24] Findus23 opened #19999 "Also display icon for mobile apps (in addition to browsers)"
Matomo uses the output of DeviceDetector to also decide which icon to display for the browser. (The icons are from https://github.com/matomo-org/matomo-icons/)

https://github.com/matomo-org/matomo/blob/866da57b5acc69037c82ee147848d16b0b5248ef/plugins/DevicesDetection/functions.php#L77-L88

Since https://github.com/matomo-org/matomo/pull/16197 Matomo also supports clients that are not browsers, bu

[2022-11-13 23:06] justinvelluppillai opened #20000 "Improve GA/consent manager detection by not restricting to curl and caching result"
Currently we are restricting the request to use curl https://github.com/matomo-org/matomo/pull/19957/files#diff-105cf795eee08d8e19b4daf399977e29fbbf8b3d5d2b6995e06d0909e0b68785R116, whereas we can just use `sendHttpRequest()`. Let's switch it to use that unless there is reason not to?

Also can we make sure to cache the result for say 4+ weeks or forever or something? Then we don't try to request

[2022-11-13 23:13] tsteur opened #20001 "Allow automatic, recurring import of annotations via ical (or similar formats)"
Use case:

I want to import one or multiple calendars. Specifically, for example "public holiday" calendars. This is helpful when there's for example a public holiday on Friday, and you wonder why the stats are down a certain percentage. By linking calendars this way you can directly look at the annotations and understand what a reason could be.

It can be also useful to automatically import event

[2022-11-14 00:29] justinvelluppillai commented on #20000
@mattab I have added this directly to the current patch milestone as an extension of the previous work which was also scheduled for this release. I recommend we include it but let me know if it's something you would prefer to delay 👍🏽

[2022-11-14 01:19] jmumby opened #20002 "Delete all data prior to a specified date."
Add the ability to set a date to delete all data prior to or between specific dates.

## Summary
New users to Matomo spend an exploration time configuring their Matomo. At the end of this process they would like to start with a clean slate and start fresh. It is not ideal to start a new idsite and duplicate all the reports and other configurations.

Having the ability to enter a date and have all

[2022-11-14 01:44] tsteur opened #20003 "Entry page link on Goals page in Conversions Overview widget has a different color"
see screenshot:
<img width="371" alt="image" src="https://user-images.githubusercontent.com/273120/201558013-a0913c16-cc72-4d01-9125-46b83ca5c954.png">
It doesn't have the regular link color

[2022-11-14 04:16] justinvelluppillai opened #20005 "Display user on the "Confirm your password to continue" page"
Sometimes it's unclear which user password is being acted upon when the "Confirm your password to continue" prompt is shown, especially when it is an action involving changing another user. It would help if it was clear which user's password is being prompted for by displaying the username on the confirmation page.

[2022-11-14 04:16] justinvelluppillai commented on #20005
I've added this to the backlog as a non-urgent issue for prioritisation.

[2022-11-14 04:18] peterhashair commented on #20000
@justinvelluppillai I think this is because `sendHttpRequestBy` contains a param defines, `$acceptInvalidSslCertificate`. `sendHttpRequest` does not have the feature, if I am correct.

[2022-11-14 04:20] justinvelluppillai commented on #20005
<img width="575" alt="Screenshot 2022-11-14 at 5 13 52 PM" src="https://user-images.githubusercontent.com/1127121/201574457-6db6f814-0245-493f-9ed5-6d647fa3ef8f.png">

[2022-11-14 04:29] justinvelluppillai commented on #19940
Do we now have an issue tracking the more general case @sgiehl, or could you please create one?

[2022-11-14 04:38] justinvelluppillai commented on #20000
If needed we can still use that function but instead of specifying curl we can use `Http::getTransportMethod()` - perhaps this would need investigation.

[2022-11-14 07:22] tgoeg commented on #18563
Sounds reasonable, thanks in advance!

[2022-11-14 08:38] sgiehl commented on #20000
Yes. Simply using `Http::getTransportMethod()` should be they way to go here...

[2022-11-14 09:35] mritzmann opened #20006 "Archive Cronjob Reports: WARNING Undefined array key "group""
## Expected Behavior

* `./console core:archive` should run without WARNINGs
* `./console core:archive` should end with exit status `0`

## Current Behavior

* `./console core:archive` shows an WARNING in the logs
* `./console core:archive` is not terminated with exit status `0`

[code]

## Possible Solution

n/a

## Steps to Reproduce (for Bugs)

Cronjob was run with:

[code]

## Context

Similar

[2022-11-14 09:46] sgiehl commented on #20006
Hi @mritzmann
Could you please check if your database table `matomo_site` has a column with the name `group`?

[2022-11-14 09:56] sgiehl commented on #19997
@mattab For such issues it might be helpful to maybe define the help text you would expect. A developer might otherwise add a description that might be too technical for a normal user to understand.

[2022-11-14 10:13] mritzmann commented on #20006
Hi @sgiehl, yes there is a column with the name `GROUP`.

[code]

[2022-11-14 10:18] #18550 closed, assigned to sgiehl

[2022-11-14 10:28] sgiehl commented on #20003
This will be fixed with #19972, as the link will be removed. It doesn't work at all.

[2022-11-14 10:41] sgiehl commented on #20006
@mritzmann Is the column name defined in uppercase? Or is that just the case in your output? It should have a lower case name though.

[2022-11-14 10:45] heurteph-ei commented on #20002
I think some workaround is also available there:
![image](https://user-images.githubusercontent.com/79993552/201640690-62e6e9d8-2b0d-45f9-8157-58d2f05e452e.png)

[2022-11-14 13:11] mritzmann commented on #20006
You are right, I have `GROUP` in upper case, although it [should be](https://github.com/matomo-org/matomo/blob/12ecd2662aee64327a6ea12462b662e3d07bb991/core/Db/Schema/Mysql.php#L114) `group`. It is not clear to me why this is not correct with this Matomo installation. I can only say that the installation has been around for a while, back when it was called Piwik.

Can you tell me if I can just ren

[2022-11-14 18:56] LeoniePhiline commented on #10133
This could be a great feature in 2022, what do you think?

[2022-11-14 18:57] LeoniePhiline commented on #10791
Is this planned for implementation at some point? Is there interest on the side of matomo?

[2022-11-14 19:33] Findus23 commented on #19343
For the remaining vendor lib deprecation warning, I created an issue here: https://github.com/szymach/c-pchart/issues/86

[2022-11-14 19:38] justinvelluppillai commented on #12881
I will close this. If you have further trouble here I suggest asking for help on the forums.matomo.org.

[2022-11-14 19:38] #12881 closed

[2022-11-14 19:41] justinvelluppillai commented on #17572
@MichaIng I will close this issue now as it seems there's nothing left to do here. Please let me know if you are still otherwise waiting on anything.

[2022-11-14 19:41] #17572 closed, assigned to nobody

[2022-11-14 21:53] Starker3 commented on #19019
We have another request for this today from a user.

In this users case they want to be able to use the Unique Visitor metrics for things such as Year or Date Range, but if they enable it on their instance it cripples their DB because it also enables it for their high traffic sites. Having this only enabled for a low traffic site would help them greatly.

[2022-11-14 22:54] justinvelluppillai commented on #13157
Hi @RichardS156 I will close this issue as it is so old now - if you still have this problem please feel free to raise it in forums.matomo.org, or reopen this if you think it is a bug.

[2022-11-14 22:54] #13157 closed

[2022-11-14 22:55] justinvelluppillai commented on #12972
hi all, can anyone please confirm if this issue still exists?

[2022-11-15 00:41] #19512 closed, assigned to sgiehl

[2022-11-15 00:41] #20003 closed, assigned to sgiehl

[2022-11-15 05:55] #20000 closed, assigned to nobody

[2022-11-15 06:23] sgiehl opened #20011 "Deprecate Do-Not-Track Support"
## Summary

Matomo currently supports the Do-Not-Track-Header that was introduced by some browser years ago. The option to exclude visitors sending this header is even enabled by default.

In 2019 W3C closed the group that was working on the DNT standard and though this is meanwhile deprecated.

Safari [removed the support for DNT](https://developer.apple.com/documentation/safari-release-notes/saf

[2022-11-15 06:29] sgiehl opened #20012 "Consider removing DNT support"
## Summary

Follow-up to #20011

With #20011 the DNT-Support now has been deprecated.
This issue is about evaluating the full removal of the DNT feature from Matomo.

If also other modern browsers than Safari might have meanwhile dropped support for DNT, we should also remove the support from Matomo.

If DNT is still widely supported by e.g. Firefox & Chrome, we should consider moving this issue t

[2022-11-15 07:36] sgiehl commented on #20006
Renaming it should solve your problem. Not sure how it ended up being upper case for you 🤷

[2022-11-15 07:36] #20006 closed, assigned to nobody

[2022-11-15 08:01] sgiehl commented on #19352
@mattmary Would you mind creating a pull request for core?

[2022-11-15 09:13] PeteTrombone opened #20014 "Archiving problems: invalid response from API request"
We keep getting the message that the archiving didn’t run successfully but the setup for the crontab is correct and the job goes through.

We get the following error message:

ERROR [2022-10-31 23:33:18] 15503 Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=464&period=week&date=2022-10-31&format=json&segment=visitConvertedGoalId%3D%3D4&trigger=archivep

[2022-11-15 10:12] MatomoForumNotifications commented on #19888
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/strange-opt-out-issues/48252/2

[2022-11-15 10:12] MatomoForumNotifications commented on #19879
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/strange-opt-out-issues/48252/2

[2022-11-15 10:55] mritzmann commented on #20006
Thanks for your help! I have renamed the column.

[code]

[2022-11-15 11:48] sgiehl commented on #19941
Just a note: On PHP 7.2 the output is completely as expected.

[2022-11-15 13:26] sgiehl commented on #19998
@mattab It would be helpful to provide exact tooltip texts you would like to see in those cases. Otherwise you might end up having a tooltip text like `This column shows the revenue per visit`

[2022-11-15 13:49] sgiehl commented on #20014
Hi @PeteTrombone
Thanks for this report. Are you able to apply the code changes in https://github.com/matomo-org/matomo/pull/20017 to check if that fixes the problem for you?
Cheers,

[2022-11-15 19:58] justinvelluppillai opened #20018 "Site content detection should be done in one place"
The new Consent Manager, GA3, GA4, GTM detection mechanisms and existing `GtmSiteTypeGuesser` class don't check the `enable_internet_features` config setting before calling out to the internet. It should check this config and do nothing if it is set to `0`.

As part of this task the `GtmSiteTypeGuesser` and new `SiteContentDetector` could be improved to share code or at least logic - eg the `SiteC

[2022-11-15 21:37] bx80 commented on #20018
I think it should be fairly straightforward to move the `GtmSiteTypeGuesser` functionality into `SiteContentDetector` which would then unify the caching and host blocking settings. `SiteContentDetector` was intended to support detection of multiple site properties. This would also reduce the request count by half. It might also make sense to move `SiteContentDectector` to the `SitesManager` plugin

[2022-11-15 22:30] justinvelluppillai commented on #20018
I doubt there is much depending on the `GtmSiteTypeGuesser` class yet but this might be something we remove in Matomo 5.0.0 to avoid breaking anything for anyone.

[2022-11-16 00:09] peterhashair commented on #19939
@Starker3 I couldn't reproduce this one locally, do you want to try it again to make sure is not randomly failed.

[2022-11-16 02:17] peterhashair commented on #18563
@mattab just clear the, we just do a simple INI for this, or do we do an event as @sgiehl suggests?

[2022-11-16 02:17] tsteur commented on #19806
This happened again.

[2022-11-16 02:43] justinvelluppillai opened #20020 "Add new website modal buttons are squashed together"
When I click Add new website in Matomo I get buttons that are squashed together.

## Expected Behavior
Excellent UI (buttons not squashed)

## Current Behavior
Squashed together buttons:

<img width="759" alt="Screenshot 2022-11-16 at 3 39 40 PM" src="https://user-images.githubusercontent.com/1127121/202070492-34a547d7-f3d0-45b3-9362-9f543fb478e4.png">

## Possible Solution
Get UX/UI input and imp

[2022-11-16 04:37] samjf opened #20021 "Passwords containing special chars do not work correctly"
I received a report that a super user could not remove a former super user using the user management in settings.

The following is known about the user to be deleted:
- they are a former super user that has been modified to no access
- MFA is enabled
- Password was standard with common letters/numbers/characters
- Attempted password reset for both SU accounts

The following recreation steps were

[2022-11-16 09:28] PeteTrombone commented on #20014
Hi @sgiehl changing the code fixed the problem :-)
Many Thanks!!

[2022-11-16 09:53] sgiehl commented on #20014
Awesome. Thanks for confirmation

[2022-11-16 13:05] heurteph-ei commented on #20021
Is it the same as #19857 (_User Deletion throws error "Password is too weak"_)?

[2022-11-16 20:01] Starker3 commented on #19939
@peterhashair I can try reproducing it, but because it runs on a scheduled report it might take some time to reproduce since we'll need to wait for the report to be sent once at the start of the month and then for the next week for the report to try and be sent again

What steps did you follow to try and reproduce it?

[2022-11-17 00:30] peterhashair commented on #20021
I can't recreate this one as well. Any @samjf error shows in the log?

[2022-11-17 01:08] peterhashair commented on #19941
close this issue now, test PHP 7.2 works

[2022-11-17 01:08] #19941 closed, assigned to nobody

[2022-11-17 06:19] #9969 closed

[2022-11-17 06:22] #20014 closed, assigned to nobody

[2022-11-17 09:04] edisfera opened #20023 "User opt-out checkbox toggles status (checked/unchecked) between browser refreshes (F5 or Ctrl+F5)"
When implementing the "User opt-out" script in a page, it puts up a from with a checkbox showing the following label "Your are not opted out. Uncheck this box to opt-out" (ref. https://matomo.org/faq/general/faq_20000/). The checkbox is initially checked or unchecked according to the user's choice of being completely excluded from aggregated analitycs or not. Regardless the actual status of the ch

[2022-11-17 10:08] tsteur opened #20024 "Two tooltips may be shown when reloading visits log via shortcut"
I'm using the visits log. Hovering an action and seeing tooltip.
Then I press `r` to reload the page. Then some entries further down I see two tooltips.

Happens on latest Matomo . After doing a full reload shows nicely only one tooltip.

<img width="413" alt="image" src="https://user-images.githubusercontent.com/273120/202417672-4f48c634-c577-45e9-b475-eb2a966b5bf6.png">

[2022-11-17 10:49] Findus23 commented on #20023
Hi,

I think this bug is the same as https://github.com/matomo-org/matomo/issues/19879 and related to https://github.com/matomo-org/matomo/issues/19888 and should be fixed with the next Matomo release

[2022-11-17 10:49] #20023 closed, assigned to nobody

[2022-11-17 11:05] BiancaBBBBBBB opened #20025 "Matomo Debug Mode isn't showing up"
Hi there,
when I open the debug mode no preview panel is showing up. Tried every tip that I found, but no result. Please help.

## Your Environment

* Matomo Version: 4.12.3
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser: Chrome & Mozilla
* Operating System: Windows 11

[2022-11-17 20:23] tsteur opened #20026 "No data page (set up tracking page). Tag Manager section has an extra card"
see
<img width="1684" alt="image" src="https://user-images.githubusercontent.com/273120/202551813-51f5963b-35b3-498d-b42e-5865f6add392.png">

The tag manager section has a card wrapped around which other sections don't have.

[2022-11-17 21:28] bx80 commented on #20024
I can confirm this behavior. It seems like if there is a tooltip being displayed when an `r` reload is performed, the tooltip is not closed and will follow the mouse cursor until a full page reload is done. The `r` reload function might need to check and close any displayed tooltips before reloading.

[2022-11-17 21:31] bx80 commented on #20025
Hi @BiancaBBBBBBB, thanks for reaching out. Could you provide a bit more information on how you have configured debug mode and what preview panel you are expecting to see?

[2022-11-17 22:38] bx80 commented on #20026
The tag manager setup tab is being rendered by a vue component which is adding the card class via a `ContentBlock`. This `ContentBlock` could probably be removed which would get rid of the card wrapping.

[2022-11-18 00:52] mattmary commented on #19352
Hum @sgiehl

Now with the latest branch release, I've some fatal errors:
![Screenshot from 2022-11-18 13-50-38](https://user-images.githubusercontent.com/86216084/202591184-bbfe023e-217c-4ad3-908e-d620e1722cbc.png)
I guess I'll have to fix these updates first when we'll deploy the 4.13 release.

So I would suggest postponing this fix in the release after the 4.13.

[2022-11-18 06:53] mattab commented on #18563
simple INI sounds good for now

[2022-11-18 07:56] taru18 opened #20030 "Performance report not working from pages report when segment is in use"
## Expected Behavior
User should be able to use lower/greater than signs (< >) in segment names.
The pages report should show performance reports whether a segment is in use or not.

## Current Behavior
When selecting Performance icon from Pages report when segment is being used, the UI gives an error:
"Error: The segment condition 'actions&gt' is not valid." After this the menu disappears, too.

[2022-11-18 10:19] BiancaBBBBBBB commented on #20025
Hi Ben,

thanks for reaching out so quickly.
When I start the debug mode there should be a debug panel as you can see in the picture below. So I can controll when my tags are fired or not.
[Preview-/ Debug-Panel des Matomo Tag Manager dauerhaft anzeigen - Blog]
But no debug panel is showing up when I start the debug mode.

Mit freundlichen Grüßen aus Neutraubling

Bianca Bartosz
Leitung Digitalmar

[2022-11-18 13:56] heurteph-ei commented on #20025
Hi @BiancaBBBBBBB
I think your question concerns https://github.com/matomo-org/tag-manager/issues then I think the ticket will be moved to it...
Your last post refers some picture, but I think you posted by email, then the picture were not included... Con you re-post the picture directly in GitHub?

[2022-11-20 10:32] Hiradur commented on #19965
We discovered that all `version_*` rows in the `option` table were still at `4.8` (the version we used for the initial install) even though we installed numerous Matomo updates via Ansible in the meantime. We were never prompted in the UI to perform a database upgrade and are not sure why.
We remediated this issue by adding `console core:update --yes` to our Ansible role, which should ensure that

[2022-11-20 20:13] varunKothare opened #20031 "Feature Suggestion based of Adobe Analytic, suggested by a user of Matomo."
In Adobe Analytics, no reports are available by default for end users.
There is only the possibility to create custom reports :

![image](https://user-images.githubusercontent.com/100554311/202923868-6ad6e8fc-9c17-4bcd-bbc1-90e74d38103e.png)

As a result, the end user has to think about what she/he wants before to request it to Matomo, which is a really smart approach.
It is even saving a lot of c

[2022-11-20 22:12] samjf commented on #20021
@peterhashair I looked at the time and didn't see anything at all sorry 😢 I tried to squeeze any more detail, but unfortunately that is all I got.

[2022-11-21 00:29] bx80 commented on #20030
Thanks for reporting this @taru18, I can confirm this issue :+1:

[code]

[2022-11-21 00:59] bx80 commented on #20031
@varunKothare Thanks for passing on this feedback. I've added this issue to the prioritization queue.

[2022-11-21 01:11] bx80 commented on #20025
Hi @BiancaBBBBBBB,

Thanks for the extra info. Based on the preview title I'm guessing this is the missing screenshot:

![image](https://user-images.githubusercontent.com/88810029/202937374-2c304595-56c1-43d3-901d-8810791dda28.png)

So this would be tag manager related as @heurteph-ei spotted :+1:

I'll move this issue to the Tag Manager repository where the team may have a better idea about the i

[2022-11-21 08:38] hkotkanen opened #20032 "SELinux issue related to temporary csv-files and mysqld"
I’m running Matomo on a CentOS 7.9 machine and would like to keep SELinux in Enforcing mode. I’ve configured other required policies like allowing httpd to send mail, connect to the db and write to some directories. However, I still have one issue:

The problem are these temporary .csv files the Matomo is creating in `matomo/tmp/assets/` directory (the path in the messages below is different for l

[2022-11-21 08:45] janinaMi commented on #19927
Hey, im expiriencing the same issue. Could you please prioritize the issue higher, because it really messes up the tracking data.
Maybe it would be a possibility for the matching in the isNewVisit() method to use not only the user-id generated visitor-id, but also the visitor-id, which would be active without user-id?

[2022-11-21 09:21] sgiehl commented on #20021
@samjf Would be interesting to know if the password confirmation error really only happens when removing a former super user. I would guess that this also happens when removing any other user and maybe even also when saving system or plugin setting.
If you are able to reach out to the reporter maybe ask them if their password works for any other password confirmation overlay and if they are using

[2022-11-21 09:57] sgiehl commented on #20020
This should not happen for most users, as they don't have such many different type of measurables to create. As this is really easy to fix, I'll create a simple PR for Matomo 5.

[2022-11-21 11:57] sgiehl commented on #20030
Looks like the parameter is sanitized too often somewhere. I'll have a quick look and set up a PR if it's easy to fix.

[2022-11-21 13:00] grzchr15 commented on #19695
Matomo version 4.12.3
Adding disable_archive_actions_goals = 1 to the [General'] section of your config.ini.php will disable this feature entirely.
Still
 Allowed memory size of 1677721600 bytes exhausted (tried to allocate 20480 bytes) in /var/www/xx/matomo/core/DataTable.php on line 1483'

[2022-11-21 13:07] #19981 closed, assigned to sgiehl

[2022-11-21 14:23] sgiehl commented on #19871
@tsteur does it look normal when exporting the dataset directly from the database?
I'd like to be able to reproduce that, before trying to provide any possible fix.

[2022-11-21 14:26] Chardonneaur opened #20035 "Email report: page url which are too long are truncated in pdf format"
When we export the page url report as a pdf, if the urls are too long, they get truncated so impossible to use by the recepient.

What would be great is to have them moving to the next line when they are too long.

[2022-11-21 15:17] MatomoForumNotifications commented on #19913
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/change-config-id-settings-possible/48338/2

[2022-11-21 16:12] sgiehl commented on #19675
As @peterhashair mentioned: The archiving should in the end print an info `Done archiving!`, followed by a summary.
Depending on the parameters afterwards the scheduled tasks might also be executed.
This behavior did not change in the last versions. Maybe the archiver was interrupted for some other reason, and thus did not complete in your case.

[2022-11-21 16:12] #19675 closed, assigned to nobody

[2022-11-21 16:15] sgiehl commented on #20035
@Chardonneaur Might this one be included in the report in #18950 ?

[2022-11-21 18:58] tsteur commented on #19871
Replied in chat 👍

[2022-11-21 21:48] tsteur commented on #20011
Do we already have an issue to remove the DNT feature in Matomo 6?

[2022-11-21 23:31] Findus23 commented on #20011
@tsteur That's https://github.com/matomo-org/matomo/issues/20012, right?

[2022-11-21 23:44] courtens commented on #19955
Without chasing after error-logs I just ran across the use of a [Zero-width-space](https://en.wikipedia.org/wiki/Zero-width_space) (&amp;&#35;8203;) in the code. Maybe using such a character in the title is what is tripping out matomo.

[2022-11-22 02:37] tsteur commented on #20011
Awesome, sorry didn't notice it when I searched. I searched for everything but DNT :)

[2022-11-22 03:23] HankMoody0603 opened #20036 "For users coming in from Google ads, each operation is created as a new session"
![image](https://user-images.githubusercontent.com/118788215/203213326-938ab183-c6f7-4694-b72f-33003a85ab5a.png)

As shown in the figure

For every customer who comes in through google ads, every behavior will be stored in the form of a new session

[2022-11-22 03:26] HankMoody0603 commented on #20036
For each customer who uses the mobile terminal to enter through Google ads, each behavior will be stored in the form of a new session

[2022-11-22 07:16] filippocerreta opened #20037 "Embedded widgets do not show on Brave"
Embedded widgets are not visible from Brave (clicking on the widget link from the source page redirects to the widget on the Matomo Cloud website). The issue does not appear on Firefox, where widgets are visible.

[2022-11-22 07:25] filippocerreta commented on #20037
Solved by setting Brave not to block ads and trackers. Is there any way to set Matomo so that is not blocked by Brave automatically?

[2022-11-22 07:25] #20037 closed, assigned to nobody

[2022-11-22 08:04] grzchr15 opened #20038 "Improve delete-logs-data memory usage"
## Expected Behavior

Delete logs data
## Current Behavior

 Fatal error:  Allowed memory size of 1677721600 bytes exhausted (tried to allocate 20480 bytes) in /var/www/clients/client2/web282/web/piwik/plugins/PrivacyManager/Model/DataSubjects.php on line 497

## Possible Solution

## Steps to Reproduce (for Bugs)

1../console core:delete-logs-data --dates=2011-01-01,2017-12-31 --limit 1000 in /va

[2022-11-22 08:05] grzchr15 commented on #20038
May be linked to any changes happened which cause also https://github.com/matomo-org/matomo/issues/19695

[2022-11-22 08:35] JustinFinkelsteinKainos commented on #19675
@sgiehl As you mentioned, the archiving should complete with 'done' as its last output, but when it's failed, I've not seen anything in our logs to indicate a failure. Is there a "debug" flag that I could set if this fails again?

[2022-11-22 08:41] sgiehl commented on #20024
@diosmosis this might possibly be a vue regression. The reload shortcut uses the `loadPage` event. That one imho should also handle the removal of no longer needed elements. Maybe calling something like `require('piwik/UI').UIControl.cleanupUnusedControls();` would fix this.

[2022-11-22 09:06] sgiehl commented on #19675
The summary should contain either `no error` or `x errors`. If the archiving finishes without printing the summary, there might some fatal error or similar. You can enable debug output with `-v`, but that is quite noisy.

[2022-11-22 09:12] sgiehl commented on #20036
Hi @HankMoody0603
This is the default behaviour for Matomo. Whenever a user comes in with a new campaign a new visit will be started. If you do not want to have this you can change the config flag `create_new_visit_when_campaign_changes` to `0`.
But this will result in loosing all following campaign details, as only the first one will be stored.

[2022-11-22 09:12] #20036 closed, assigned to nobody

[2022-11-22 14:10] sgiehl commented on #19955
@courtens I've tested tracking a zero width space locally, and for me that works without issues. Visits log is showing the visit correctly.

[2022-11-22 15:15] vccs opened #20039 "Multiple errors displayed on the reporting page"
When accessing the reports page on v4.12.3 I am seeing the following errors;

WARNING: /plugins/ScheduledReports/ScheduledReports.php(239): Notice - Undefined index: category - Matomo 4.12.3 - Please report this message in the Matomo forums: https://forum.matomo.org (please do a search first as it might have been reported already) (Module: ScheduledReports, Action: index, In CLI mode: false)
×
WAR

[2022-11-22 16:04] sgiehl commented on #20039
Looks like some of the reports provided do not have a category set in their metadata.
Are you using any additional plugins?

[2022-11-22 23:26] bx80 commented on #20032
Hi @hkotkanen, thanks for reaching out on this one.

You are correct, the temporary .csv files are being created for LOAD DATA INFILE. Other than creating a new SELinux policy to allow the mysql process to access these files, the only other option I can see would be to disable use of LOAD DATA INFILE by adding `enable_load_data_infile = 0` to the `[General]` section of `config.ini.php` which may o