[2020-12-21 02:57] tsteur commented on #11062
The user alias was removed so this issue should be no longer needed.

[2020-12-21 02:57] #11062 closed

[2020-12-21 03:14] tsteur commented on #15597
BTW we should maybe rather make such a change as part of Matomo 5. Because when you change this, it can cause issues when users have HTTPS and HTTP traffic as it would create different visitors depending on protocol.

Not sure what the benefit is though. If someone only uses HTTPS (which many sites do), then this should basically not even be needed to be called as there wouldn't be much of a benef

[2020-12-21 03:16] tsteur commented on #13204
Since browsers now set `noopener` by default we could close this issue I suppose. It be mostly something for IE11.

see https://www.chromestatus.com/feature/6140064063029248
https://bugzilla.mozilla.org/show_bug.cgi?id=1522083
https://webkit.org/blog/8475/release-notes-for-safari-technology-preview-68/
https://chromium-review.googlesource.com/c/chromium/src/+/1630010

[2020-12-21 04:04] ysard commented on #16865
Hi, same error here from 3.13.x (3.13.3 if I remember correctly) to 4.0.5.

First, just after the installation process (from the website, not from the console), I had errors on the dashboard, related to #16868.
As mentioned in the issue, this was resolved by:
`ALTER TABLE log_conversion ADD COLUMN config_browser_name VARCHAR(40) NULL;`

But after that PHP started to output a large amount of this e

[2020-12-21 09:23] KALLIAK commented on #15060
Hi @tsteur Just tested my test.zip with the freshly installed Matomo 4.0.5 and the problem remains.
This problem has nothing to do with the database, because the GET request to the tracker passes already corrupted keyword, i.e. the problem is in matomo.js, namely in the call "locationHrefAlias = safeDecodeWrapper(locationArray[1])". safeDecodeWrapper("%EE%EA%F0%E1") returns "îêðá", but it "must" r

[2020-12-21 09:28] sgiehl commented on #15060
@KALLIAK  Which browser are you using? I had tried your example, and as long as the encoding of the file is `windows-1252` and served as such it worked at least in Chrome. When you are viewing the page in your browser is the page title displayed correctly?

[2020-12-21 09:37] KALLIAK commented on #15060
We have windows-1251 encoding. We tried all famous browsers.
When I try to find "тест", I get this url: "matomotest/find.html?q=%F2%E5%F1%F2"
And then it turn to this request:
![matomo_1251_bug](https://user-images.githubusercontent.com/16630529/102762126-e4e8b000-4388-11eb-9184-1898ed305fbc.png)

[2020-12-21 09:57] juliemoynat commented on #16933
@tsteur I had no error in the "File integrity" section and I still have no error now.
And, I've never seen any error in the "Tracking failures" section.

I've compared my folders: my Matomo 4 folder before I tinkered with files and database and my Matomo 4 after (now).

I only have more files and folders now, not less. Here is my report:

Some new plugins folders but I think it's not important bec

[2020-12-21 11:26] sgiehl commented on #15060
Checked that again and now I was able to reproduce.

[2020-12-21 12:51] sgiehl commented on #15060
this would actually be solved with #16628

[2020-12-21 15:21] jisse44 opened #16993 "enable_framed_allow_write_admin_token_auth not working"
Matomo 3.14.1 to 4.0.5 :

We have hundreds of Wordpress websites using Matomo 3.14.1, with a custom plugin displaying an iFrame in dashboard with Widget iframed:
`https://website.url/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getSparklines&idSite=1&period=day&date=2020-12-20&disableLink=1&widget=1&token_auth=xxxxx`

With the update to

[2020-12-21 17:33] #16981 closed, assigned to sgiehl

[2020-12-21 17:39] tsteur commented on #16993
@jisse44 I just tried to reproduce this. I think it's actually supposed to work like this that it only allows embedding widgets for write and admin access, but never for super user access. Are the websites all using the same user? Would it be easily possible to change that user to an admin maybe?

[2020-12-21 20:37] dns2utf8 commented on #16935
I have noticed that the update to 4.0.0 introduced a problem with the daily processing. After updating 4.0.5 and adding `connect-src` the numbers returned to normal.
It is important to note, that we did not loose the data of the day of the update and CSP fix. So there was/is something wrong with the processing too.

[2020-12-21 21:56] aqustiq commented on #16842
Just FYI I'm facing same problem on Matomo 4.0.5.

[2020-12-22 00:33] diosmosis commented on #16842
@aqustiq do you mean you aren't seeing any data for any segments? Or no data for specific segments? Is there data for some days but not all?

[2020-12-22 02:13] danielmcclure opened #16995 "No Error Messages When Calling Non-Existant Variable in Tag Manager"
I just spent a good while trying to discover why data from a certain tag wasn't being collected even though the tag was firing in the debug view. Ultimately it seems that the Matomo Configuration variable had been renamed but the Tag calling that configuration variable was still firing and looking for the old name.

It seems to me that it would be good to either identify the tags via a unique pers

[2020-12-22 02:16] ghost commented on #16359
Fixed after upgrade to v4

[2020-12-22 02:16] #16359 closed

[2020-12-22 03:18] tsteur commented on #16935
@dns2utf8 could you maybe post your full CSP header now? (feel free to replace your domain with `matomo.example.com`). that be great

[2020-12-22 08:13] nicwortel commented on #16935
Here's the diff from my commit:

[code]

It seems like GitHub does not highlight the actual changed words, but all I did was to add the `connect-src <matomo-domain>; `.

[2020-12-22 10:38] lds-lds opened #16998 "SQLSTATE[42S22] when upgrade to matomo 4"
Hello

I just tried to update matomo this morning from 3.14.1 to version 4.0 and I get this error when I run php /home/matomo/www/matomo/console core:update

[code]

[2020-12-22 14:28] esolix opened #16999 "4.1.0 Data from "Channel Types" and others are showing Yesterday's data while some other part are showing today's data"
Matomo 4.1.0 (Upgraded from 4.0.5)

It was showing yesterday's analytics data rather than selected day (always showing data from a day before) on some part of the dashboard. Screenshot attached.

<img width="1250" alt="Screen Shot 2020-12-22 at 23 14 48" src="https://user-images.githubusercontent.com/24265629/102898748-4c981b80-44ad-11eb-803a-83cc93cf84b3.png">

Downgraded back to 4.0.5 and it is

[2020-12-22 14:28] Porti3 opened #17000 "Matomo App Version 1.002 on a Sharepoint Online Site will not load"
hello all,

I need your help. We set up a new Matomo server at the beginning of the year. We have deployed the app in the AppCatalog (online and onPrem). The pages where we have installed the Matomo app are still being tracked without any problems. In Sharepoint Online we now have problems with newly rolled out pages. The app can be installed smoothly, but it does not load. If you look in the deve

[2020-12-22 14:48] Findus23 commented on #14163
Just for future reference: Matomo 4 allows creating multiple API token per user and you can use `UsersManager.createAppSpecificTokenAuth` to create a new one.

[2020-12-22 15:03] almare opened #17001 "When embedding a widget with the "Multisites" report (All websites), the links are not working"
I embed the Multisite Widget into an Ifram on my page. The iframe is showing nicely all websites with a view permission. So far so good. The problem begins if I click on a website link. I get redirected and have to login. It  would be much better if the auth_token is added to the dashboard deeplinks. This will make it possible to get on overview of all websites and switch between them.

I added th

[2020-12-22 16:24] aqustiq commented on #16842
@diosmosis I cannot see the data in browser but when I go to segment and click to edit then "Test" I can see data.
When I cannot see data I see blue message:
 "These reports have no data, because the Segment you requested (Remote work toolkit) has not yet been processed by the system. Data for this Segment should become available in a few hours when processing completes. (If it does not, there may

[2020-12-22 18:05] mox575 commented on #16999
I am seeing the same thing after the update. Right away I noticed on the Dashboard that the Visits for today were from yesterday's data. Visits over time is correct, but the visits overview is yesterdays total.

[2020-12-22 18:50] tsteur commented on #17001
Thanks for reporting this issue @almare and glad you found a workaround until this is fixed

[2020-12-22 20:23] tsteur commented on #17000
Hi @Porti3  thanks for creating this issue. I recommend you ask this question in our forum https://forum.matomo.org/ as we can't provide Sharepoint support in our issue tracker. We're only managing bug reports and feature requests in this issue tracker for Matomo core. Maybe there's another sharepoint user in the forum that can help you.

[2020-12-22 20:23] #17000 closed, assigned to nobody

[2020-12-22 20:24] tsteur commented on #17000
You have probably seen it but mentioning it just in case you haven't. Maybe https://matomo.org/faq/how-to-install/faq_19424/ helps

[2020-12-22 20:36] tsteur commented on #16998
Hi @lds-lds could you let us maybe know how you upgraded? Through the UI and the one click update?

Any chance the `core:update` command was executed twice running in parallel somehow?

It should work if you try to execute the `core:update` command again. could you give this a try if you haven't already?

[2020-12-22 20:43] eric215 commented on #16938
Upgrading from 4.0.5 to 4.1 I did NOT have an issue with any of the above-mentioned files hooray!

I did have a file-integrity failure on ` vendor/bin/lessc`   I can confirm that `vendor/bin` did not exist before the upgrade.   I can create a separate issue if you'd prefer.

[2020-12-22 20:49] tsteur commented on #16938
Thanks @eric215 I think this might be actually a new "regression" as we had just changed a library there and probably something needs adjusting. Thanks for this & happy holidays

[2020-12-22 21:03] tsteur commented on #16935
Thanks @nicwortel I've adjusted the example in our FAQ https://matomo.org/faq/general/faq_20904/

I've also updated the 4.0 and the 4.1 changelog to mention this change.

[2020-12-22 21:03] #16935 closed, assigned to tsteur

[2020-12-22 21:57] alexandrejobin opened #17002 "Disparity on how Intranet and Web sites deal with UserId"
I tried to play with the [UserId feature](https://matomo.org/docs/user-id/) on Matomo 4.1.0 and I discovered that the statistics are differents if you track a Website vs an Intranet website.

#### Stats when tracking an Intranet
1. Navigate to the home page with Edge browser
   - 1 visit with 1 action with unknown user
2. Navigate to the login screen
   - 1 visit with 2 actions with unknow user
3.

[2020-12-22 22:26] tsteur commented on #17002
Hi @alexandrejobin when you use an "intranet" site then "we trust cookies" and as a result this could be indeed a side effect. I'm assuming this is because usually we would identify the previous visit because of the `configId`. But now because the visitorId changes when you use the userId feature and we only look for the visitorId it would create a new visit.

I didn't actually try to reproduce th

[2020-12-23 01:28] Starker3 opened #17003 "Error when viewing Page performance report with "Date Range""
When clicking on "Open page performance report" from a page report such as "Pages" or "Entry Pages" with a date range selected the following error is shown:

`Error: Please specify a value for 'date'.`
![image](https://user-images.githubusercontent.com/20905821/102948594-1e592100-452b-11eb-920f-bbda87a77315.png)

This can be reproduced on demo.matomo.cloud at the following URL:
https://demo.matomo

[2020-12-23 01:33] diosmosis commented on #16842
@aqustiq

This signals the "All Visits" segment was archived, it just means the segment parameter was empty.

Can you provide the segment the definition for the "Remote work toolkit" segment along with what appears in the `segment=` query parameter in the URL when you load the segment?

[2020-12-23 03:20] paladox commented on #16935
Weird thing is we have a CSP policy but we didn't have that problem. Also using connect-src can break loading js from your own site.

[2020-12-23 06:38] tuxmaster5000 commented on #16898
PHP 7.3 will not crash, only 7.4

[2020-12-23 09:45] #16931 closed, assigned to diosmosis

[2020-12-23 10:41] sgiehl commented on #16999
I'm not able to reproduce that locally

@esolix @mox575 Could you maybe give some more information:
* Does that only happen on the dashboard or is it happening on other report pages as well?
* When opening the page the browser sends separate requests for each report, could you check the network tab of the browser console if the requests for the reports are containing the correct date parameter
* A

[2020-12-23 11:04] esolix commented on #16999
1. It is happening to dashboard only
2. I have restored our instance (Let me clone it and retry to reproduce it from 4.05 to 4.1.0 upgrade in a moment.
3. Using cron

Will update this in a moment

[2020-12-23 11:32] esolix commented on #16999
Attached is the output, i tried to match it with the production server with 4.0.5 - Output is the same.

![Screen-Shot-2020-12-23-at-20 27 02](https://user-images.githubusercontent.com/24265629/102992097-eddeaa80-455d-11eb-9550-bf96edc12930.jpg)

Let me know if you need me to run some more test i will leave the dev instance on.

[2020-12-23 11:44] jdiderik opened #17007 "Stop tracking Matomo installation IP/URL/Details"
I love Matomo and how it complies to GDPR for my visitors....

BUT:  why would you track my server ip, url and installation details during your Version checking?

in /plugins/CoreUpdater/ReleaseChannel.php you add these params:
[code]

Now I get why you would like to track that info to get to know your user-base... I would like to know more about my visitors too, but I just cannot do that without

[2020-12-23 11:49] sgiehl commented on #16999
@esolix that's weird. Even the sparkline in the summary seems to have the correct values 🤔
Have you looked through all requests if the date is the same? Does that only happen when viewing todays stats or are any reports showing the wrong date in other cases as well?
btw. which timezone is your matomo site configured for?

[2020-12-23 11:55] esolix commented on #16999
Yes I have, all the request seems to line up with the older version. It happens when viewing stats from any other day, so if I select 20th, it will show the 19th data. So it is wrong as well.

Timezone is setup for CST time (Central) and I am in Tokyo time.

[2020-12-23 12:17] sgiehl commented on #16999
@esolix Ok. Thanks. That seems to be a timezone issue. I was able to reproduce that by setting up a site in CST timezone and generating some fake visits.
Will have a quick look if I'm able to figure out the reason.

[2020-12-23 12:19] matomoto commented on #16982
@tsteur, it's a curiously thinking! :)
fact: `beforeunload` don't work on all mobile devices.
If you want to change the status, please update all browsers on all mobile devices. Good luck!

[2020-12-23 12:26] esolix commented on #16999
Thank you!

[2020-12-23 12:52] sgiehl commented on #16999
Seems to be a regression from this change:
https://github.com/matomo-org/matomo/pull/16830/files#diff-3f15e6e8235bb796794c812a3c85b929cb82ae02f1dfbcd6e74e105d1fb31a6bL170-R170

[2020-12-23 13:21] Pipwizard commented on #16999
I just took the files from the 4.0.5 core/Period folder and overwrote the files in 4.1.0 core/Period folder and it now works.

So it's definitely a problem in core/Period

[2020-12-23 14:27] alexandrejobin commented on #17002
I will try to add `enable_userid_overwrites_visitorid = 0` to my config because I have a mix of extranet and intranet and I would prefer that all sites get the same logic. But my preference would be that one an anonymous user log to the application that we can merge all his pass actions because this is in fact his actions and we can get a better view of what this user is doing.

Thank you for your

[2020-12-23 14:42] alexandrejobin commented on #17002
I've just tested the `enable_userid_overwrites_visitorid = 0` and it have no effect. When I test a `Website`, it have the same behavior as described in the first post.

[2020-12-23 14:54] robles-design commented on #16842
Since updating to 4.1.0 yesterday I have the same issue as in my entry post and errors like this:

`INFO [2020-12-23 14:35:21] 11342  Error: Got invalid response from API request: ?module=API&method=CoreAdminHome.archivent=deviceType%253D%253DSmartphone%252CdeviceType%253D%253DTablet%252CdeviceType%253D%253DPhablet&trigger=archivephp. Resig_device_type' segment value Smartphone,deviceType==Tablet,

[2020-12-23 15:01] gusevmaksim commented on #16842
After updating to version 4.1.0, segments were no longer archived again.

[2020-12-23 15:11] aqustiq commented on #16842
@diosmosis
This is the part for URL for working page:
module=CoreHome&action=index&date=today&period=day&idSite=1#?idSite=1&period=day&date=2020-12-23&segment=pageUrl%3D%3Dhttps%25253A%25252F%25252Fintranet.internal.XXXX.xx%25252Fen%25252Fremote-work-toolkit,pageUrl%3D%3Dhttps%25253A%25252F%25252Fintranet.internal.XXXX.xx%25252Fen%25252Fworking-securely-home,pageUrl%3D%3Dhttps%25253A%25252F%25252F

[2020-12-23 15:11] jisse44 commented on #16993
OK, that is the trick, my user is "super user", not "admin" ...

Is it possible to create and get token for user from console ?

[2020-12-23 17:02] jwest75674 commented on #7650
Can anyone comment as to if there is a manual method for *copying* historical data from one site to another? I am not averse to copying the historical and deleting the then redundant site if there is a way?

[2020-12-23 17:12] mox575 commented on #16999
Just FYI, I am in California, Pacific Standard Time

[2020-12-23 17:21] mox575 commented on #16999
I noticed on my Goals, the same issue.
![Screenshot (12)](https://user-images.githubusercontent.com/55412642/103022119-2c457c80-4500-11eb-887e-91715838a2ea.png)

[2020-12-23 19:21] mattab commented on #17007
Thanks for creating the issue. So far you can disable this tracking by disabling automatic update checks: configure the setting `enable_auto_update = 0` within the `[General]` section of your `config/config.ini.php file`.

[2020-12-23 19:28] tsteur commented on #7650
@jwest75674 sorry I'm not aware of any manual way so far.

[2020-12-23 19:30] tsteur commented on #17002
Hi @alexandrejobin just double checking that `enable_userid_overwrites_visitorid =0` is part of the `[Tracker]` section? Does it have an effect on the intranet measurable?

[2020-12-23 19:34] tsteur commented on #16982
@matomoto is there anything more to do from our side? I think we can close this issue? Unfortunately there's otherwise no other way if `beforeunload` doesn't work in older mobile browsers.

[2020-12-23 19:52] tsteur commented on #13837
Will be great to have. We now have so many settings in there that can provide quite a lot of value and it's easily missed what Matomo offers when not seeing some kind of overview.

It would be a "horizontal table of contents" probably.

[2020-12-23 20:02] tsteur commented on #16993
Hi @jisse44 It's currently only possible through the `UsersManager.createAppSpecificTokenAuth` API. You could write a bash script that calls the API if that helps?

[2020-12-23 20:13] tsteur commented on #16794
this is done in https://github.com/matomo-org/plugin-TrackingSpamPrevention

[2020-12-23 20:13] #16794 closed

[2020-12-23 20:13] tsteur commented on #16802
this is done https://github.com/matomo-org/plugin-TrackingSpamPrevention

[2020-12-23 20:13] #16802 closed

[2020-12-23 20:25] mattab opened #17010 "When "average generation time" is zero, hide the sparkline and "Avg generation time" graphs metric from picker"
As a user, when i'm viewing a period where the  "average generation time" is zero, for example under "Visitors > Overview", it would be helpful if:

1. the sparkline "0 average generation time" is hidden
2. and "Avg generation time" metric is removed from graphs metric picker

Context: currently this metric is shown for Matomo instances that used to track this metric (before Matomo 4). Which is he

[2020-12-23 20:25] mattab commented on #16884
@peterbo thanks for the suggestion! created follow-up issue https://github.com/matomo-org/matomo/issues/17010

[2020-12-23 20:32] mattab opened #17011 "Show description of page performance metrics as a tooltip on hover"
The new report "Performance overview" is very helpful and currently documented in https://matomo.org/faq/how-to/how-do-i-see-page-performance-reports/

it would be helpful to also document the meaning of the performance overview metrics when hovering on the metrics, in a tooltip.

Note: the metrics documentation tooltip are already correctly showing for columns in the Behavior > Performance > Page

[2020-12-23 20:51] mattab opened #17012 "Improve average page load time query accuracy (reporting too low in some cases)"
The metric **Page load time** is defined as `How long it takes to load the whole page, from requesting a page until it is fully rendered within the browser. This is the sum of all previous metrics.`

When looking at some of the websites reports, it seems this metric is (sometimes?) calculated wrongly.

For example [here](https://demo.matomo.org/index.php?module=CoreHome&action=index&date=today&per

[2020-12-23 20:56] mattab opened #17013 "Show "average page load time" in Visitors > Overview report (sparkline and metric picker for graph)"
Similarly to how we used to display "average generation time" sparkline + graph metric picker in the "Visitors > Overview" report, it would be very valuable to now display the "average page load time" sparkline + graph metric in the "Visitors > Overview".

It's valuable because page speed is a really key metric of a website and impacts "Visitors" a lot, so it makes sense to put it as visibly as po

[2020-12-23 21:07] mattab commented on #17013
once we implement this, then maybe we could also just simply "Remove" the old metric, instead of implementing the more complex  #17010

[2020-12-23 21:08] mattab commented on #17010
Otherwise if it's a bit too complex, instead of implementing the "smart" remove, we could just remove this metric completely, once we have implemented the new metric in #17013 - this would be good enough as people will be able to use the new metric now. (and would still be able to access the old metric in API)

[2020-12-23 21:09] tsteur commented on #17010
@mattab was just going to say the same we could just remove it which would make it a lot easier independent of whether #17013 is implemented or not.

[2020-12-23 21:24] diosmosis commented on #16842
@robles-design what you're experiencing should be fixed by https://github.com/matomo-org/matomo/pull/17004

[2020-12-23 22:43] TylerVigario opened #17015 "Matomo doesn't respect SMTP Encryption Method setting"
I was having trouble figuring out why I couldn't send email via `127.0.0.1:25` only to figure out PHPMailer thinks my local Postfix accepts encryption.

To workaround this issue, I had to install my certificate within Postfix and access via `domain.com:25`

There is probably misconfiguration in my local Postfix, but shouldn't Matomo respect the STMP Encryption Method chosen? Which, in my case, is

[2020-12-23 22:55] esolix commented on #16999
The fix works with

index.php?module=CoreHome&action=index&idSite=1&period=day&date=today#?idSite=1&period=day&date=2020-12-23&segment=&category=Dashboard_Dashboard&subcategory=1

but default still show yesterday's data

index.php?module=CoreHome&action=index&idSite=1&period=day&date=today#?idSite=1&period=day&date=today&segment=&category=Dashboard_Dashboard&subcategory=1

Thanks for the quick pat

[2020-12-23 23:03] #11806 closed

[2020-12-23 23:48] tsteur commented on #17015
Looking at the code there might be a regression indeed. @TylerVigario not sure if you configured mail in your `config/config.ini.php` directly but it might be worth trying to edit it and setting `encryption = ""`. It looks like Matomo might assign `none` to `SMTPSecure` setting in PHP Mailer and PHP Mailer might actually not understand this value.

[2020-12-23 23:57] TylerVigario commented on #17015
I added `encryption = ""` to the `mail` section of `config/config.ini.php` and the result was the same.

**console:test-email**
[code]

**Postfix logs**
[code]

[2020-12-24 02:16] tsteur opened #17017 "JS tracker should not track anything when the protocol is file:// to avoid tracking personal data by accident"
Use case:

Someone downloads a page from your website and stores it locally. Then the user opens it and the user will be tracked and the URL might look like

[code]

This way we actually track personal data potentially by accident without knowing.

* We would always exclude page urls with this protocol by default
* There should be a method to opt out of this feature so you can track these requests

[2020-12-24 03:04] diosmosis commented on #16842
@aqustiq this is the same issue @gusevmaksim is experiencing. I haven't been able to isolate the cause though. Would you be able to provide the full core:archive output w/ `--force-idsites=1 --force-idsegments=...` (w/ the idsegment of the problematic segment in there). If you can do this, can you email the result to dizzy@innocraft.com? It would also be very helpful if you were able to provide re

[2020-12-24 03:04] robles-design commented on #16842
@diosmosis thanks, seems to work.

[2020-12-24 05:21] #16999 closed, assigned to sgiehl

[2020-12-24 08:13] fvdm commented on #17010
Do I understand it correctly that the old metric will then not be available for comparison in the UI anymore? Our non-dev users have to pull the raw data from the API? 👀

[2020-12-24 12:00] DevDavido opened #17018 "Plugin cannot update even though 4.x-dev branch/code exists"
Hello there 👋

My Matomo 4.1.0 (running on PHP 7.2.18) installation says "PerformanceAudit requires Piwik <4.0.0-b1." which prevents me from updating the plugin even though the plugin is available and released for Matomo 4.x as also seen in its [plugin.json](https://github.com/DevDavido/performance-audit-plugin/blob/4.x-dev/plugin.json) and [marketplace page](https://plugins.matomo.org/Performance

[2020-12-24 15:13] Findus23 commented on #17018
Hi,

What happens when you go to the marketplace and update (or uninstall and install the latest version) the plugin?

[2020-12-24 17:41] aqustiq commented on #16842
@diosmosis using Invalidate plugin i have invalidate all archives for site 1 and segment "Remote work toolkit".
Then I have run: `su apache -s /bin/bash -c "/opt/webapps/matomo/console core:archive --url=https://matomo-prod.internal.XXXX.xx --force-idsites=1 --force-idsegments='Remote work toolkit'"`
Now all segments are started to show. Weird fix but worked :)
Thank you,

[2020-12-24 18:47] DaAwesomeP opened #17019 "Cannot log in second time after fresh install v4.1.0"
I have newly installed Matomo via docker with FPM and Nginx. I was able to log in after setting it up and everything worked fine, but upon attempting to login the next day I see this error:
![image](https://user-images.githubusercontent.com/4472083/103103165-8d974980-45ed-11eb-8fc1-5283bc839e77.png)
And in the Nginx logs I see:
[code]

If I check the "Remember Me" box and login, then I see:
![imag

[2020-12-24 22:28] pranavmishra90 opened #17020 "Segment --> Visitor Location --> Country --> United States is missing; by Country Code --> US is present"
# Platform:
Matomo 4.1.0
Ubuntu Server 18.04 Minimal

## Issue
Cannot create a "segment" of visitors on Matomo dashboard, restricted to United States visitors, by "Country"

## Segment creation by country
![United](https://user-images.githubusercontent.com/62562712/103107489-6a2bc900-4604-11eb-9fdc-3921bb3ba369.png)
Trying "United" for "United States" or "United States of America"
![US](https://us

[2020-12-24 22:38] DaAwesomeP commented on #17019
Hmmm restarting the docker container seemed to have resolved it. Strange.

[2020-12-26 10:44] mstenz opened #17023 "Starting with php 7.3 on windows OS the geoip2php Update procedure is not working anymore."
I enable geoip2php, download the file and save the settings,

then after at least one week it disables automatically and when navigating to the geo configuration page it shows this error message in red:

`The configured geolocation provider geoip2php is not available anymore, please configure another one.`

I need then to download the file again and start from beginning.

[2020-12-26 14:05] DevDavido commented on #17018
Under Settings ⮁ Platform ⮁ Marketplace the PerformanceAudit plugin doesn't show up in Matomo 4.1. And the marketplace page already shows the latest, updated version. Is that what you were referring to?

Is there any special treatment of plugins by Matomo if they are in beta?

[2020-12-26 20:27] BasketballBuzz commented on #16999
I'm also having this same issue. How do I fix this?

[2020-12-26 20:37] Findus23 commented on #16999
Hi @BasketballBuzz,

Have you tried applying the changes from #17008 (you can ignore the ones from ` tests/PHPUnit/Integration/Period/FactoryTest.php`)?

[2020-12-27 19:21] tsteur commented on #17020
Thanks for creating this issue @pranavmishra90 I'll close this issue as a duplicate of https://github.com/matomo-org/matomo/issues/15620

[2020-12-27 19:21] #17020 closed, assigned to nobody

[2020-12-27 19:26] tsteur commented on #17023
Hi @mstenz when you go to Matomo => Admin => Plugins, can you check if the GeoIP2 plugin is enabled? If not, can you try to enable it and see if works now?

[2020-12-27 19:28] tsteur commented on #17018
Hi @DevDavido you would likely need to enable receiving beta versions in Admin => General Settings => Release Channels. Then you would be able to update to it maybe. It be best to create an issue in the plugin's repo to release a stable version in https://github.com/DevDavido/performance-audit-plugin Let me know if this doesn't work and I'll be happy to reopen. The plugin developer would need to r

[2020-12-27 19:28] #17018 closed, assigned to nobody

[2020-12-27 20:37] mstenz commented on #17023
Hi @tsteur
Yes, the plugin is enabled. Today the settings were again reset. Don't know whats going on. I have enabled the log settings, but there is no error about this inside. This was working since years, but now after the update makes issues.

[2020-12-27 22:01] tsteur commented on #17023
@mstenz just to correctly understand. You basically need to configure Geolocation every time from scratch and need to configure things like the URL from where to download the file and get Matomo to download it etc?

Any chance you can send us the output of your Matomo system report? You find it in "Matomo => Admin => System check" and the output should be anonymised.

[2020-12-28 00:59] mattab opened #17024 "Explain how to track Ecommerce Orders in Shopify store (using image pixel tracking)"
an FAQ explains how to add shopify ecommerce store page tracking with Matomo in https://matomo.org/faq/new-to-piwik/how-do-i-install-the-matomo-tracking-code-on-my-shopify-store/

and the FAQ says:

as Shopify is very popular among ecommerce, it would be valuable to also be able to track shopify ecommerce sales in the Matomo analytics dashboard. Looking at their docs online at https://help.shopify

[2020-12-28 02:14] mstenz commented on #17023
Just enabled debugging and found out that:

- geo2ip works fine after first activated
`Line 520: DEBUG UserCountry[2020-12-27 21:05:50 UTC] [4348] GEO: Found IP 188.242.109.176 location (provider 'geoip2php'): array (`

- after first configuration and when the geo2ip configuration page is  opened a second time it get automatically disabled. error message from my first comment.
`Line 70971: DEBUG U

[2020-12-28 09:21] rivoduck opened #17025 "import_logs breaks on _resolve_by_host"
After upgrading to Matomo 4.1.0 import_logs stopped working

If I use the same commandline with python2 and the old version of the script it works fine against the same server (the server I just upgraded to Matomo 4.1.0).

Here are the details!
Thank you,
Andrea

python3 import_logs.py --url http://myserver --log-hostname my_log_hostname --add-sites-new-hosts --enable-http-errors --enable-http-red

[2020-12-28 09:30] wlabarron opened #17026 "Password recovery SMTP email configuration"
I'm setting up SMTP email using the web interface (System > General settings > Email server settings) and it provides the option to set an SMTP From Address.

It seems like this field sets the config option `noreply_email_address` ([global.ini.php#L474](https://github.com/matomo-org/matomo/blob/9790d90f876ae74b5770f23b1958384b01d2028c/config/global.ini.php#L474)), but not `login_password_recovery_

[2020-12-28 11:08] lds-lds commented on #16998
you are right I had to throw the ugrade twice in parallel
Thank you :)

[2020-12-28 11:08] #16998 closed, assigned to nobody

[2020-12-28 12:14] DevDavido commented on #17018
Thanks @tsteur, the release of a non-beta version of the plugin made the update possible.

[2020-12-28 14:47] hahayidu commented on #17015
Hi,

I was mentioned before... You can check for more information.

https://github.com/matomo-org/matomo/pull/15891#issuecomment-745246666

[2020-12-28 18:30] tekhnee commented on #15352
Picking up on this excellent topic:

As the Matomo admin page explains, MaxMind's Apache/NginX extenesion, which purportedly provides the best results, “can only be used with normal browser tracking” — not for such things as tracking via API calls from a server app.

It should be possible to select different methods for browser tracking and API tracking, so that one might use MaxMind for browser t

[2020-12-28 18:43] tsteur commented on #15579
@peterbo  wondering if we can close this issue now?

[2020-12-28 19:03] TylerVigario commented on #17015
@hahayidu Thanks for pointing out my failure to use the search feature. I guess Matomo developers have considered PHPMailer's `SMTPAutoTLS` functionality.

I would suggest that we adjust the SMTP Encryption Method default to _"auto"_ and add a fourth option for _"none"_ that will disable `SMTPAutoTLS`. This will keep the same default security conscious approach while helping to clear things up.

[2020-12-28 19:55] peterbo commented on #15579
Hey @tsteur - It is still consuming a lot of CPU power and and temp tables, but it is much better than it was before. The problem with testing is, that most of the instances in question (where it was extremely slow) are still running on pre 3.13.4 versions, so I wasn't really able to test the behaviour of the instance, mentioned in the initial post. But in other instances, things have been better

[2020-12-29 00:25] dev-101 commented on #16938
I have noticed this issue, too, it is present for at least a year, possibly longer. Several different systems (vps, cloud), permissions and ownerships are in proper order, not a single other script that runs on different server setups complains about this, only Piwik/Matomo has a problem automatically removing obsolete files. I thought it was on purpose, to avoid problems when downgrading or when

[2020-12-29 05:58] asuckar commented on #15608
I am not sure if this is related to your case or not but It is always good to talk and spread every single information that may help, I faced the same issue today while trying to update matomo to the latest version and I noticed I was using Safari iOS “Private Mode” and repeated that 5/6 times but always failed with the same error about “security token” and i suspected it may be due to the lack of

[2020-12-29 06:14] Sayeeda12 opened #17027 "No way to send batch events after a configured time"
Hi there,

I'd a question w.r.t batch tracking in Matomo. I've been using Matomo from quite a long time and now I'm implementing batch tracking for my website but I'm unable to add a configurable delay to send the queued requests. It's by default 1.75 seconds and there's no way for me to change it. Please let me know if it's possible because 1.75 seconds is too less and is not of much help in my u

[2020-12-29 06:58] mattab opened #17028 "Console command core:convert-to-utf8mb4 is not defined"
Reported by a user:

But it is documented in https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/

[2020-12-29 07:34] mattab commented on #17028
added `(Note: if the command returns `Command "core:convert-to-utf8mb4" is not defined.` then your database should already be using utf8mb4 and you don't need to run the command.)  ` to the FAQ which should explain the issue

[2020-12-29 07:34] #17028 closed, assigned to nobody

[2020-12-29 14:25] hahayidu commented on #17015
Hi,

I think below screen design covers all situations.

![xo_mail](https://user-images.githubusercontent.com/17914648/103290207-089b9e00-49fa-11eb-8304-896023593028.PNG)

        secure: {
          default: false,
          enum: [false, 'force', 'disabled', true],
          enumNames: [
            'auto (uses STARTTLS if available)',
            'force (requires STARTTLS or fail)',

[2020-12-29 18:58] tsteur commented on #17027
Hi @Sayeeda12 you can use `_paq.push(['setRequestQueueInterval', intervalInMs])`.

[2020-12-29 18:58] #17027 closed, assigned to nobody

[2020-12-29 18:59] tsteur commented on #15579
👍  @peterbo I'll close this for now and we can always reopen when/should it become an issue again.

[2020-12-29 18:59] #15579 closed

[2020-12-29 19:05] tsteur commented on #17023
@sgiehl any idea how this might happen?

[2020-12-29 19:12] tsteur commented on #17026
@mattab why do we have a `login_password_recovery_email_address`? I suppose both users would need to have the same password for this to work.

[2020-12-29 19:15] tsteur commented on #16938
It's not intentional but we also haven't been able to reproduce any issue here yet except for when new files were added or removed and they weren't excluded yet for example.

[2020-12-30 10:59] wlabarron commented on #17026
The current Matomo settings interface has fields for SMTP Username ([global.ini.php#L985](https://github.com/matomo-org/matomo/blob/9790d90f876ae74b5770f23b1958384b01d2028c/config/global.ini.php#L985)), SMTP password ([global.ini.php#L986](https://github.com/matomo-org/matomo/blob/9790d90f876ae74b5770f23b1958384b01d2028c/config/global.ini.php#L986)), and SMTP From address (`noreply_email_address`)

[2020-12-30 11:42] C-Duv opened #17030 "console core:convert-to-utf8mb does not changes database's character set"
After running `console core:convert-to-utf8mb` to [convert the database to character set `utf8mb4`](https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/) it looks like the default character set is still `latin`.

[code]

A `SHOW CREATE TABLE` do show that tables are using `utf8mb4` (returns a `CREATE TABLE` statement with `DEFAULT CHARSET=utf8mb4`) but any `CREATE T

[2020-12-30 11:49] sgiehl commented on #17030
That is actually on purpose. Some people might use a shared database for
Matomo and other software. We can't simply assume that a default utf8mb4
charset would work for everything else as well. As we define the charset
when creating new tables, that shouldn't be a problem at all.
For databases created by Matomo in installation, the charset should be set
to utf8mb4 if available.

[2020-12-30 12:27] math-GH opened #17031 "File integrity: remove vendor/bin/lessc"
I am doing right now a fresh installation of Matomo v4.1.0

![grafik](https://user-images.githubusercontent.com/1645099/103351125-78fdfa00-4aa2-11eb-9973-ad0aa5f7cdde.png)

and I got the information that I should delete vendor/bin/lessc
![grafik](https://user-images.githubusercontent.com/1645099/103351189-b06ca680-4aa2-11eb-8a11-51d46898a87f.png)

In my opinion a fresh installation should not cont

[2020-12-30 12:53] C-Duv commented on #17030
I get it. It's true that my change could cause problem with shared databases.

One thing though. If I am not mistaken, plugins that creates tables with foreign keys to string-type SQL columns now have to first detect/check what is the charset of the core Matomo tables in order to adapt their SQL `CREATE TABLE` statement. Otherwise an `errno: 150 "Foreign key constraint is incorrectly formed"` SQL

[2020-12-30 18:27] pvk2410 opened #17032 "Unable to start matomo on Windows 10"
Hi There,

I'm trying to set up Matomo on windows 10 having NGINX 1.19.6  as the webserver , the Matomo files were downloaded on this server and unzipped to <webserver>/analytics/matomo location (C:\NGNIX2\nginx-1.19.6\analytics\matomo).

When i hit the URL - http://localhost:82/analytics/matomo , but some how i cannot access the Matomo's starting page. I get a 404 not found error.

Can someone pl

[2020-12-30 22:35] tsteur commented on #17031
Thanks for creating this issue @mathContao

We've already prepared a fix for this in https://github.com/matomo-org/matomo-package/pull/124 and will close this issue as a duplicate see https://github.com/matomo-org/matomo/issues/16938

This should be fixed in one of the next 1-2 releases.

[2020-12-30 22:35] #17031 closed, assigned to nobody

[2020-12-30 22:37] tsteur commented on #17032
Hi @pvk2410

Matomo should run nicely on Windows 10. I suggest you ask the same question in our forum as some users might be able to help you there: https://forum.matomo.org/

Here in this issue tracker we don't answer questions but only handle specific bug reports and feature requests. There seems to be something not quite right with your webserver setup or so.

Thanks for your understanding.

[2020-12-30 22:37] #17032 closed, assigned to nobody

[2020-12-30 22:42] tsteur commented on #17026
fyi was made configurable in https://github.com/matomo-org/matomo/issues/527 in 2009.

It was added in https://github.com/matomo-org/matomo/commit/68eb786396c3313f74515363b04b9ca2309a0035#diff-801809c140d123b729100c6dd8097fd6954dff224a290112ed910bb8e33c577c in  2008.

I suppose there is no particular reason for this and we could simply remove it and use the regular from.

[2020-12-30 23:50] mattab commented on #17026
Sounds good to use the regular from :+1:

[2020-12-31 01:29] lukele opened #17034 "UserCountry plugin slows down bulk tracking by performing DNS reverse lookups even if not allowed or possible"
The `UserCountry` does not respect the `dp=1` query parameter and performs a reverse lookup to determine the country by provider information regardless.

This adds 0.4s to each hit in my case.

In addition the reverse DNS lookup is also performed if the IP is anonymized.

A pull request fixing both problems is linked below:
https://github.com/matomo-org/matomo/pull/17033

[2020-12-31 02:34] #16965 closed, assigned to nobody

[2020-12-31 02:49] #16742 closed

[2020-12-31 07:22] #15241 closed

[2020-12-31 10:28] Findus23 opened #17035 "don't try to insert unrealistically high values for time_transfer and other performance metrics"
see https://forum.matomo.org/t/512m-of-memory-limit-is-it-too-little/40047/5

No page takes 50 years to load, so I guess Matomo should not try to insert invalid values.

Then again it would be interesting to know where they come from.

[2020-12-31 10:48] Findus23 commented on #16352
@dev-101 Just for your information: There is an official plugin currently in development that supports everything my plugin can do and even more:

https://github.com/matomo-org/plugin-TrackingSpamPrevention

[2020-12-31 10:50] dev-101 commented on #16352
Thanks, this is great! Happy NY :)

[2020-12-31 14:35] EladGeek commented on #17024
why not use the script pixel?
you have to load the base tag in advance (to capture the pageview also), and then fire the conversion event

a similar solution is used by the [Bing tag in Shopify](https://polkadotdata.com/shopify/how-to-install-the-bing-uet-tag-on-a-shopify-site/)

[2021-01-01 00:30] #16847 closed, assigned to sgiehl

[2021-01-01 04:09] #15238 closed

[2021-01-01 05:04] #17003 closed, assigned to sgiehl

[2021-01-01 05:13] #14186 closed

[2021-01-02 21:00] cantoute opened #17037 "having all sites working but one... returning a 400 error"
Something strange, all my sites have similar settings and seam to work fine but one.

[code]

[code]

[2021-01-02 23:48] tsteur commented on #17037
@cantoute have you maybe configured the site to only allow requests from specific domains?

When you edit a site or measurable then there's a checkbox like this:

![image](https://user-images.githubusercontent.com/273120/103468806-fd61bd00-4dc1-11eb-9105-175808467877.png)

[2021-01-02 23:48] tsteur commented on #17037
Or maybe there are some exclusions configured?

[2021-01-03 18:48] cantoute commented on #17037
Not that I know off...
I had added 7 sites after fresh install.
That last site was added after the last update (4.1.0)
The other thing I could think of is that the domain name is longer than any other I've got dessinemoiuneyourte.com

I've tried removing site and recreate... nothing changed

[2021-01-03 18:53] cantoute commented on #17037
Thanks for you help...

Turned out that deleting it and recreating it finally worked !!

Sorry for the noise.

Have a nice day

[2021-01-04 01:27] tsteur commented on #17037
Great, glad it works now @cantoute

[2021-01-04 01:27] #17037 closed, assigned to nobody

[2021-01-04 07:01] sgiehl commented on #17023
@mstenz is maybe the geoip2 database removed somehow? Can't think of another reason why it should automatically disable the provider 🤔

[2021-01-04 13:09] sgiehl commented on #16927
I'll close this issue. With #16934 it should no longer be a problem if a dimension file isn't removed correctly. Matomo will still run correctly and the Integrity checker should suggest to remove the file manually.

[2021-01-04 13:09] #16927 closed, assigned to sgiehl

[2021-01-04 15:15] mstenz commented on #17023
i have just downloaded the file again. it is stored in misc folder and there is no antivirus (except from Windows Defender) installed on the system that is able to delete the file. i don't think there is any other processes on the system that would potentially delete any file. Let me watch the file and i will give you an update on this.

[2021-01-04 21:48] alderson59 opened #17041 "Sequencing Tags in Tag Manager"
In Google Tag Manager, there’s a Tag Sequencing feature to allow tags to fire sequentially, so that, for example, one initiates a tracking pixel, and another fires asynchronously for individual events but are dependent on the first pixel.

Is there a similar feature here on Matomo Tag Manager? I note “Fire delay” and “Priority” but if the first script hasn’t finished firing, the second one may fir

[2021-01-04 22:47] grzchr15 opened #17042 "SQL fieldsize in log_visit for location_region to small"
Currently there are various functions getRegionNames() which work for MaxMind/Wikipedia regions and get cropped to 3 chars at SQL schema.
If Intranet Regions are longer this field must be increased in size.
For example office regions are  up to 20 chars in my use case.

A patched version of GeoIp2 with adding https://github.com/grzchr15/IntranetGeoIP can so track both Intranet and Internet regions

[2021-01-04 23:00] grzchr15 commented on #9152
+1

[2021-01-05 00:41] #16792 closed

[2021-01-05 01:08] #17015 closed, assigned to sgiehl

[2021-01-05 01:21] #16371 closed

[2021-01-05 02:35] robles-design opened #17044 "Segment graph wrong since Matomo 4.0.3"
I noticed that the segment graph for Checkout Success Suche intern (blue) is wrong since November 01, 2020. The comparison for "Checkout Success Suche intern" and "Checkout Success" (all checkouts) must be different like in October. Any idea?

![matomo-segments-compare](https://user-images.githubusercontent.com/25033650/103599773-386d0900-4f06-11eb-8d20-b754aa7ccbea.png)

[2021-01-05 07:07] sgiehl commented on #17044
would you mind sharing both segment definitions?

[2021-01-05 08:22] sgiehl commented on #17042
The location_region column was designed to store ISO region codes. Using it for something else might work though, but I would suggest using a new column if you want to store something else in there

[2021-01-05 13:52] robles-design commented on #17044
Checkout Success
Visitors who reached a goal id --> matches --> 1

Checkout Success Search intern
Visitors who reached a goal id --> matches --> 1
AND
Search term (internal search) --> does not contain --> testomat

With "Checkout Success Search intern" I get all visitors who bought something and did an internal search, because no one searches for testomat and all other search terms are counted. T

[2021-01-05 13:57] sgiehl commented on #17044
I guess an empty search term might meanwhile match the `does not contain testomat`. Did you try it with a segment like `searches>0` ?

[2021-01-05 14:04] robles-design commented on #17044
How do I define this?

[2021-01-05 14:06] sgiehl commented on #17044
Should be something like `Number of searches` in the UI

[2021-01-05 14:17] robles-design commented on #17044
Thanks, found it. Test button works. I'll give you feedback if it works after archiving.

[2021-01-05 14:24] robles-design commented on #17044
I'll get the following error in the UI admin panel when I want to reset historical reports: The segment condition 'searches&gt' is not valid.

[2021-01-05 14:28] sgiehl commented on #17044
Are you using the Invalidate Reports plugin?

[2021-01-05 14:29] robles-design commented on #17044
Yes

[2021-01-05 15:59] Chardonneaur opened #17046 "Missing metric "AVG. TIME ON PAGE" within the custom reports"
Hi guys,
Would it be possible to add the following metric AVG. TIME ON PAGE within the custom reports premium feature configuration.
A client of mine would need to create a report with the following dimensions and metrics:
- User ID
- Page URL
- Pageviews
- AVG. TIME ON PAGE
Thank you

[2021-01-05 16:27] basos9 opened #17047 "setReferrerUrl is ignored"
When using the JS tracking setReferrerUrl seems to be ignored.

ENV
[code]

CODE
[code]

EXECUTION

We see that code which sets referrer is run

console.log
[code]

nevertheless the current referrer as seen by
[code]

is also set in `piwik.php?....&urlref` parameter

[code]

[2021-01-05 16:40] basos9 commented on #17047
A guess from some inspection that I did in the tracking js might be that `setReferrerUrl` might have to be executed before `trackPageView`

In this code that is run (breakpoint in the debugger)
[code]
and inside getRequest the configReferrerUrl is the detected from document.referrer and not the set one.

Also this code
[code]

runs (breakpoint) **after** the above.

Maybe this has to do with the m

[2021-01-05 18:18] morganrallen commented on #17019
If your situation is like mine, it will happen again. I seem to run into this issue ever couple of weeks. Sure, restarting the docker container gets it going again, but it's not a fix.

[2021-01-05 18:33] DaAwesomeP commented on #17019
Yup, you're exactly right. Also, a new issue I have been having that is also solved by restarting it and probably related: if I am already logged in, then the main page just doesn't load entirely and is blank. It loads the navbar and left side, but not the main widgets. Settings page works fine.

[2021-01-05 19:08] morganrallen commented on #17019
yup, this matches what I am experiencing.

[2021-01-05 19:58] haraldhaas opened #17048 "File integrity check failed for wikimedia lessc"
Hi All,

I am running Matomo v4.1.0 and the file integrity check in the system check is alerting about a file that is part of the original source code.

[code]

The exact same files are in the source code for tag v4.1.0 here in git. Any idea?

Thanks,
Harry

[2021-01-05 20:04] Findus23 commented on #17048
Hi,

This has been fixed in https://github.com/matomo-org/matomo-package/pull/124 and will therefore be fine in the next release. (I'm not sure if you might have to delete the file once after the update)

[2021-01-05 20:07] haraldhaas commented on #17048
Hi @Findus23,

thanks for the swift response. Seems despite searching for it, I have missed the other bug reports to the same issue. I'll close this issues now.

Thanks,
Harry

[2021-01-05 20:07] #17048 closed, assigned to nobody

[2021-01-05 20:14] mattab commented on #16152
we got this issue a few times over the last weeks, the last occurrence:

Full error message below (reproduced on several instances):

[code]

[2021-01-05 20:44] brijoyj opened #17049 "Matomo Down after upgrading to latest version 4"
After upgrading to latest version (guess its 4), the matamo site is failing to open.

Errors in logs:

 Error in Matomo (tracker): Error query: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'visitor_seconds_since_first' in 'field list'

 Error query: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pictpm.matomo_user_token_auth'

I dont know how to revert to previous version. Ca

[2021-01-05 20:58] morganrallen commented on #17019
Some additional feedback. In the 'post logged in state' where the navigation portions of the page load, but the data/content portions don't, there is also JS errors being thrown on the console.

[code]

In addition, when trying to log back in from this error state, a URL fragment is injected into the page, just after the **BODY** opening tag.
[code]
It does this weather Remember is check or not

[2021-01-05 20:59] Findus23 commented on #17049
Did you update the LDAP plugin to the 4.x-compatible version? Otherwise the LDAP plugin got deactivated during the update, but the default Login plugin seems to stay disabled, meaning there is no plugin handling the login.

The MySQL issue seems to be independent to this.

[2021-01-05 21:03] brijoyj commented on #17049
I m not able to login now after the update. Usually in Admin section there's an option to upgrade but i m seeing this error page

![image](https://user-images.githubusercontent.com/49916563/103698589-2a9ba000-4f67-11eb-9dd8-8421f90bf9e7.png)

[2021-01-05 21:05] brijoyj commented on #17049
Here is the config file

[Plugins]
Plugins[] = "CorePluginsAdmin"
Plugins[] = "CoreAdminHome"
Plugins[] = "CoreHome"
Plugins[] = "WebsiteMeasurable"
Plugins[] = "Diagnostics"
Plugins[] = "CoreVisualizations"
Plugins[] = "Proxy"
Plugins[] = "API"
Plugins[] = "ExamplePlugin"
Plugins[] = "Widgetize"
Plugins[] = "Transitions"
Plugins[] = "LanguagesManager"
Plugins[] = "Actions"
Plugins[] = "Dashboard"

[2021-01-05 22:08] Findus23 commented on #17049
Hi,

The easiest way to fix this is to download the latest version of the LoginLdap plugin (https://plugins.matomo.org/api/2.0/plugins/LoginLdap/download/4.2.2) and unpack it into the plugins/ directory.

Alternativly you could enable the Login plugin in the config file and then login without LDAP.

[2021-01-05 23:36] diosmosis opened #17050 "Revise segment encoding strategy"
Currently segments are basically triple url encoded:

- each value in a condition is encoded once to allow segment operator characters
- each value is encoded again, because the code server side urldecodes the segment condition (so the value is double encoded at this point)
- and the entire segment is encoded in the URL and matomo uses this value, not the urldecoded one in `$_GET/$_POST` (so the v

[2021-01-05 23:36] diosmosis commented on #17050
Refs #17029

[2021-01-05 23:58] oz-olson opened #17051 "Upgrade to 4 fatal error upgrade script fails"
Fatal error: Access level to Piwik\Plugins\VisitTime\Columns\ServerTime::configureSegments() must be public (as in class Piwik\Columns\Dimension) in C:\inetpub\wwwroot\piwik\plugins\VisitTime\Columns\ServerTime.php on line 33

The upgrade script fails with this error.

Thanks

[2021-01-06 00:49] Starker3 opened #17052 "Anonymise IP when sending feedback through Matomo UI"
Currently when submitting feedback through the Matomo UI, the full user IP address is being sent when providing feedback.

We should preferably change this to anonymise the IP when sending feedback in this manner.

![image](https://user-images.githubusercontent.com/20905821/103715562-d0154900-5025-11eb-8806-ef48fcc1db6a.png)

![image](https://user-images.githubusercontent.com/20905821/103715361-47

[2021-01-06 01:21] mstenz commented on #17023
Hi,
i found that every day sometimes near midnight the file get deleted. Please see this file action. I found out that when activing geoip2php the first time there is a task created for the next day

`DEBUG GeoIp2[2021-01-06 01:46:05 UTC] [60e2a] Rescheduling task and setting first run for tomorrow Piwik\Plugins\GeoIp2\GeoIP2AutoUpdater.update`

I have now changed the schedule of this task to run

[2021-01-06 03:29] mstenz commented on #17023
ok. I found out that the

`unlink($oldDbFile);`

in GeoIP2AutoUpdater.php arround line 320 is the problem. When i uncomment this line everything works as expected and the file get replaced.
My assumption is, that the file is somehow locked becuase it was access by the php.exe process before. then the copy is done as expected, but because it is marked as "DELETE PENDING", as soon the php.exe proces

[2021-01-06 03:56] mstenz opened #17053 "Logging messages from console are not getting logged anywhere"
they are just shown on the console, there is no entry for hard error message in php_error.log (everything is silent) but also the logmessages manually shown are not recorded anywhere even debug logging is enabled in general.
Maybe it is worth to allow a seperate log file for the console. This includes especially the Tasks Scheduler Outputs and all other messages on the console.
The only messages i

[2021-01-06 05:56] tuxmaster5000 opened #17054 "Prevent update installation failing because of selinux/file system protection result in an broken system."
I have seen on more systems that the update fails in the middle of the update process, because some files/directory's are not writable for the update.  So when this happens the installation is broken, because it is an mix of the old and the new version. Other php projects like nextcloud  have an checker build in, which tests the files/directory for writing before and print out which items must fix

[2021-01-06 08:09] agendartobias opened #17055 "Trailing slashes - tracked as two separate pages"
A given page is being tracked as two separate pages due to trailing slashes in the URL. For example:

/login
/login/

Is there any way to make Matomo recognize that the two URLs are actually a single page?

[2021-01-06 10:18] mobiliodevelopment commented on #17055
Actually this are two different URLs and should be counted independent.

Example:
/login -> /login
/login/ -> /login/index.html or index.htm

[2021-01-06 12:14] Findus23 commented on #17051
Hi,

I am not aware of a `plugins\VisitTime\Columns\ServerTime.php` file.

https://github.com/matomo-org/matomo/tree/4.x-dev/plugins/VisitTime/Columns

Maybe this is something like https://github.com/matomo-org/matomo/issues/16927

Could you try (after making a backup) deleting this file? If it is important the integrity checker should complain afterwards and you could restore it from the latest m

[2021-01-06 13:13] Chardonneaur opened #17056 "Dimensions: previousPages & followingPages within custom reports"
Hi everyone,
So far, one need to access the API to get a table for the transition report.
So to say, one cannot get the data regarding the previous pages and following pages within Matomo.
-> Is there any possibilities for you to add them as dimension within the custom report premium features?

Thank you,

[2021-01-06 14:09] nicobilliotte commented on #15608
same problem…, matomo worked great on "slow server" in 3.0, migrated to 4.0, then migrated on new server with SSD drive, everything run fine, no errors, good rights whatever you want, but we have this message "Could not verify the security token on this form"
Running on php FPM 7.3, mariadb 10+… Tons of ram… Moreover Matomo does not log new visits ! on 60 websites more than half have 0 inputs, whe

[2021-01-06 14:40] nicobilliotte commented on #15608
OK find something ! file structure is like : /var/www/domain
then sub directories :
- web
- private
- logs
- tmp
- ssl
- …
so to protect tmp dir & to ensure privacy I moved tmp_path  from /tmp to /../tmp , it works on paper… but not in matomo causing wrong token check issues

changing path to /var/www/domain/tmp solved this problem

[2021-01-06 15:51] oz-olson commented on #17051
We removed ServerTime.php and the upgrade was successful.

Thanks

[2021-01-06 15:51] #17051 closed, assigned to nobody

[2021-01-06 15:51] oz-olson commented on #17051
We removed ServerTime.php and the upgrade was successful.

Thanks

[2021-01-07 03:04] Starker3 opened #17057 "PHPMailer Connection to the SMTP server failed when resetting password in 4.0.5"
We received the following report:

Matomo 4.0.5: When i change my password i'll get an error page:

[code]
Translation: Connection to the SMTP server failed

The password is changed successfully, but the error still occurs

A test using:
`./console core:test-email test@example.com`
has been successful.

It is not appear to be a problem with PHP mailer.

On their system 6.1.8 is installed and the f

[2021-01-07 07:46] sgiehl commented on #17051
@oz-olson Just out of curiosity. Which version did you upgrade from? The ServerTime.php has been removed with Matomo 3.2 already...

[2021-01-07 09:11] C-Duv commented on #16391
It looks like it did changed (but not recently) to allow `...php?idsite=1&rec=1` not being ambiguous anymore. cf. https://mathiasbynens.be/notes/ambiguous-ampersands:

Thanks for the issue and answer though: When reading `...php?idsite=1&amp;rec=1` in the code of a Matomo-using application I wasn't really sure if I had a bug or not, now I have the reason for my doubts and the confirmation it works

[2021-01-07 10:13] sgiehl commented on #17046
I guess it's not available as the dependent metric `sum_time_spent` is not available for custom reports.

[2021-01-07 10:28] sgiehl commented on #17052
I don't think the IP is needed to be sent with the request at all. Having it anonymized doesn't have any benefit. Will issue a PR to simply remove it.

[2021-01-07 10:45] sgiehl commented on #17057
Might it be possible that their SMTP server rejects mails that are not having a correctly set `From` header maybe?
Seems we are not setting a from header for the password changed notification.

They could check if adding this
[code]

to this method helps:
https://github.com/matomo-org/matomo/blob/679e73f1236969db0c2d767655cb84456a727d24/plugins/UsersManager/API.php#L1450-L1473

[2021-01-07 11:07] sgiehl commented on #16938
Can we close this issue or is here anything left we should do?

[2021-01-07 11:19] dev-101 commented on #16938
Yes, whenever possible, the best way to "solve" the issue is to close it. 🤣

We aren't using some exotic systems that can be hard to reproduce, cloud linux and self-managed vps/dedi are ubiquotus these days, so that is not an excuse. On the other hand, matomo couldn't work properly if file and user systems are faulty, because caching would fail and many other things along the way, e.g. update itse

[2021-01-07 11:24] dev-101 commented on #16938
Something just occurred to me, is it possible that shell_exec being disabled could be the cause of it? If yes, then you should add a fallback function to remove files.

[2021-01-07 19:21] alexandrejobin commented on #17002
hi @tsteur

If `enable_userid_overwrites_visitorid = 0` is part of the `[Tracker]` section, both `website` and `intranet` react the same:

1. Navigate to the home page with Edge browser
   - 1 visit with 1 action with unknown user
2. Navigate to the login screen
   - 1 visit with 2 actions with unknow user
3. Login and call setUserId function
   - 1 visit with 3 actions with known user (it merged

[2021-01-08 00:36] Starker3 commented on #17057
Additional note after further feedback from user:
They received the email notifying them of a new update available.

So it seems the PHPMailer is only failing to send the password reset emails.

[2021-01-08 02:39] mattab commented on #16842
Note: there are still some issues in 4.1.0 which are hopefully (after https://github.com/matomo-org/matomo/pull/17004 and possibly others) now fixed in 4.1.1 beta. You can use the beta easily, see:
https://matomo.org/faq/how-to-update/faq_159/

if you still have any issue with the beta, please open a new issue, and we'll continue investigating. Thanks!

[2021-01-08 04:16] #16394 closed

[2021-01-08 04:38] #17052 closed, assigned to sgiehl

[2021-01-08 14:48] benpond opened #17063 "Fatal Error after Upgrading to Matomo 4"
I upgraded my version of Matomo to version 4.1.1 through the update link in my WordPress admin site and the installation appeared to have completed successfully, but Matomo is no longer working.  When I go to the Diagnostics page I see this error:

Fatal error: Uncaught Error: Call to undefined method Piwik\Plugins\CorePluginsAdmin\CorePluginsAdmin::getListHooksRegistered() in /html/piwik/core/Eve

[2021-01-08 18:32] DaAwesomeP commented on #17019
This is happening very frequently. At this point I SSH in every time I need to access Matomo because I will probably need to restart it to access it or at some point while accessing it. Are there further steps we can take to debug?

[2021-01-08 19:54] morganrallen commented on #17019
So... I appear to have fixed my instance while chasing down a different issue, it's a bit of a stretch but worth looking into.
Long story short, we kept being infected by the kinsing malware due to a misconfiguration of our docker-compose file. Are any of the following true....

* you have `kinsing` or `kdevtmpfsi` (note the `i`, `kdevtmpfs` is a real process) processes running on the system?
* yo

[2021-01-08 20:02] DaAwesomeP commented on #17019
Holy cow well this is a big deal. The only ports we have open are 22 (SSH w/ fail2ban & the Mozilla security spec) and 443 (Nginx running outside of Docker, fully patched). All other ports blocked with UFW. The good thing is that the malware appears to be contained within the Matomo docker container. I am suspicious that the container may have shipped with it, but that seems unlikely.

[2021-01-08 20:18] DaAwesomeP commented on #17019
Aha. UFW + Docker was the problem. Luckily this server was not in production yet, so I can wipe it and start over to be sure.

[2021-01-08 20:32] morganrallen commented on #17019
So this appears to be the culprit?

Would be helpful for other if you elaborate on this a bit more.

[2021-01-08 20:37] DaAwesomeP commented on #17019
Both Docker and UFW use iptables to manage traffic. However, Docker does not follow the rules set by UFW. So closing ports with UFW won't actually affect Docker. There isn't really an official solution to this problem. There are some workarounds, but they all have their issues (no internet in containers, no IPv6, etc.). My solution is to ensure that nothing is listening on 0.0.0.0 from Docker, but

[2021-01-08 20:51] morganrallen commented on #17019
did find evidence of the malware?

[2021-01-08 20:55] DaAwesomeP commented on #17019
Yup, it was contained in the Matomo container (Docker did its job), but I am going to wipe the machine anyway.

[2021-01-09 03:37] #17019 closed, assigned to nobody

[2021-01-09 03:37] DaAwesomeP opened #17066 "Integrity Check Fails on New Docker Install"
This is a brand new install (Docker), so the manifest must not be accurate to the files fetched?
![image](https://user-images.githubusercontent.com/4472083/104074407-11505900-51de-11eb-9a97-9fdce2e35c9c.png)

[2021-01-09 09:18] bbodenmiller commented on #12909
I'm also always getting dry runs without running `--dry-run`. Is it possible `multi_server_environment = 1` is the cause of this?

I'm also not being prompted in the UI to do database upgrade when I should be.

[2021-01-09 09:25] bbodenmiller commented on #12909
Actually looks like dry run is the default: https://github.com/matomo-org/matomo/blob/0d979018ce23e8e0187dd435cc8de99fcf3c3585/CHANGELOG.md#breaking-changes-18

[2021-01-09 10:24] Findus23 commented on #17066
Hi,

This has already been fixed and will be shipped in the next release (you might have to manually delete this file once afterwards)

See also https://github.com/matomo-org/matomo-package/pull/124, https://github.com/matomo-org/matomo/issues/17031 and https://github.com/bitnami/bitnami-docker-matomo/issues/68

[2021-01-09 10:24] #17066 closed, assigned to nobody

[2021-01-09 12:02] dirkeinecke opened #17067 "Text error in German translation -> "oderr""
"Sie können Domänen oder Subdomänen wie http://example.com oderr http://stats.example.com definieren. Oder fügen Sie einfach * hinzu, um cross domain requests für alle Domänen zu erlauben"

The word "oderr" must be "oder". In this context, you can also add a period to the end of the sentence.

[2021-01-09 19:45] Findus23 opened #17068 "Publish new Cloudflare App for Matomo"
As suggested by https://forum.matomo.org/t/update-cloudflare-app/40159

https://www.cloudflare.com/apps/piwik currently uses Piwik branding and Screenshots which probably should be replaced with Matomo. Also the tracking code should be updated to the latest one using matomo.php

I am not sure how cloudflare apps work, but if possible it could be open sourced so that other people could contribute a

[2021-01-10 16:51] Chardonneaur opened #17069 "Percent rate for events"
Hi everyone,

Currently there are percent rate for the following metrics "unique download", "Outlinks", "Visits", but not for events.

-> Is there a possibility to add this information within the events table report?

Thank you,

[2021-01-10 18:51] tsteur commented on #17068
code is in https://github.com/innocraft/cloudflare-app-manual (needs to be made public)

[2021-01-10 19:28] tsteur commented on #17057
@Starker3 I'll close this for now as a duplicate of https://github.com/matomo-org/matomo/issues/17026

Maybe they can set `login_password_recovery_email_address` and `login_password_recovery_replyto_email_address` to `noreply@{DOMAIN}` (same config value as `noreply_email_address`) and see if it works then.

[2021-01-10 19:28] #17057 closed, assigned to nobody

[2021-01-10 19:33] tsteur commented on #17046
Hi @Chardonneaur for premium feature related requests could you email our support? That's shop@innocraft.com . Cheers :)

[2021-01-10 19:33] #17046 closed, assigned to nobody

[2021-01-10 19:34] tsteur commented on #16938
@dev-101 `shell_exec` shouldn't be used during the update AFAIK.

[2021-01-10 19:38] tsteur commented on #16938
@sgiehl @dev-101 I'll close the issue for now as the original file integrity issue should be fixed. We could always keep track of people experiencing file update issues in a separate issue (unless there is already one). Be great to know when someone experiences issues that files weren't correctly updated or deleted what operating system they use, how often this happens (eg on every update or only

[2021-01-10 19:38] #16938 closed, assigned to nobody

[2021-01-10 19:42] tsteur commented on #17056
Hi @Chardonneaur could you get in touch with our support here as well as this is a premium feature? Cheers :)

[2021-01-10 19:42] #17056 closed, assigned to nobody

[2021-01-10 19:46] tsteur commented on #17055
Hi @agendartobias AFAIK there isn't a way yet to recognise the two URLs as a single page. It's unlikely we'll work on this as it is technically two different URLs. However, I'll keep the issue open as someone should be able to implement this feature in a plugin without too much effort. Happy to guide them in the right direction if someone is keen.

[2021-01-10 19:51] tsteur commented on #17047
@basos9 your inspection looks correct. You'll need to call this method before the page view. I suggest you reorder the tracking code to

[code]

We wouldn't want to add this to `applyFirst` unfortunately as someone might initially want to track the page view with the original referrer URL first.

I'll mention this in the docs though.

[2021-01-10 19:52] #17047 closed, assigned to nobody

[2021-01-10 20:29] tsteur commented on #17053
It seems to indeed not log to the matomo.log even when file logging is enabled. I can only assume this is on purpose currently. Haven't found yet where this is done though. Do you maybe know @diosmosis ?

Generally, we recommend people for cronjobs to pipe the output to a file like

[code]

Does this maybe help?

[2021-01-10 21:12] mstenz commented on #17053
Thx, i am using Windows. Logging like this in cron is not possible when using the Task Scheduler directly with arguments fields (as it is default).
The Problem with redirecting to file is that it does not use the different logging mechnics that Matomo have and also Debug Messages are not part of a normal console output.

[2021-01-10 22:13] diosmosis commented on #17053
@tsteur it's in Monolog/config/cli.php, the `log.handlers` key is overridden to only output to console.

[2021-01-10 22:57] tsteur commented on #17023
Interesting @mstenz thanks for finding this.

@sgiehl do you have a windows with a running Matomo installation maybe? Any chance you could reproduce this? I wonder if eg https://github.com/matomo-org/matomo/blob/4.1.1-b2/core/Http.php#L108 is a problem and keeps the file handle open. But doubt it would be the specific issue cause it should be first downloaded through HTTP into a tmp dir.

[2021-01-10 23:02] tsteur commented on #17050
@diosmosis what be your time estimate for making this work? I suppose we can't migrate existing segments in the DB because we don't know how often they were encoded? As we still have to support old triple urlencoded segments, what would be the plan to get rid of this so we can benefit from a simpler solution? AKA would we basically simply say in 3-4 years time we no longer support the old way of s

[2021-01-10 23:06] tsteur commented on #17054
Thanks for creating this issue @tuxmaster5000  that would be useful indeed to make sure the updater works in most cases as otherwise people might stop using us as soon as the update fails. As part of this issue let's check if directories are writiable and if that's easy to do first before fully developing it. AKA if it would be a bigger job we'd need to maybe reschedule it.

[2021-01-10 23:41] tsteur commented on #17068
Made it public for now but it still has the piwik and innocraft branding/license/ ... https://github.com/matomo-org/cloudflare-app-manual

[2021-01-11 00:23] diosmosis commented on #17050
@tsteur

I'd say 1-2 days including automated tests. It changes should only be in a couple places.

I think the biggest issue w/ archive table segment hashes is that we don't always know what the segments are. Not every segment used will be in the `segment` table if browser archiving of segments is enabled.

Only thing I can think of would be to migrate on demand until matomo 5 then say if it's no

[2021-01-11 00:41] tsteur commented on #17053
Thanks @diosmosis

@mattab @diosmosis @sgiehl does maybe anyone remember why that was done? I reckon if file logger is enabled, it be great to additionally also log to file. But maybe there's a reason for it... or it just was never implemented or forgotten.

[2021-01-11 01:16] diosmosis commented on #17053
Seems like it was on purpose, but I'm not sure why. Maybe there was the assumption CLI commands would be redirected if the output was to be saved. It would be easy to fix I think, just use a `\DI\decorate`.

[2021-01-11 02:01] mstenz commented on #17023
`But doubt it would be the specific issue cause it should be first downloaded through HTTP into a tmp dir.`
If I understand completely the problem is only if the file is exactly the same. It get download to the tmp dir without any problem. But because the $oldDbFile is first deleted and then replaced with new file from tmp directory Windows does not delete it directly when the command is executed,

[2021-01-11 03:07] Starker3 opened #17070 "Prevent new username from using existing user email address"
It seems that when creating a new user, it's possible to set the username to an existing user email address which will then cause the existing user to not be able to log in.

For example, a super user with username admin and email address of admin@example.com creates a new user with email user@example.com and accidentally sets the new username to admin@example.com

This prevents the super user fro

[2021-01-11 05:14] nrenault opened #17071 "Login issue with LoginLdap"
Hello,

One user get the following error message:

"_You are currently not allowed to log in because you had too many failed logins, try again later_"

https://matomo.org/faq/troubleshooting/faq_32758/

According to this FAQ, the error seems to come from Login plugin who is disabled because I use LoginLdap plugin.

I removed manually brute force logs from DB, I cleared cache, the user can login bu

[2021-01-11 08:31] sgiehl commented on #17023
@tsteur No, don't have set up PHP on windows atm. But could try doing that in a VM

[2021-01-11 08:33] sgiehl commented on #17053
Don't know a reason either. Guess would be fine to log them to file as well

[2021-01-11 08:38] sgiehl commented on #17067
Hi @dirkeinecke
Thanks for mentioning this one. I've adjusted it in our translation tool.
If you want to help us improving the translations further, feel free to sign up at

https://www.transifex.com/matomo/matomo/

[2021-01-11 08:38] #17067 closed, assigned to nobody

[2021-01-11 08:50] Findus23 commented on #17070
Not sure if it wouldn't even be enough to not allow any E-Mails as usernames as it could confuse users.

[2021-01-11 08:53] Starker3 commented on #17070
No, we wouldn't want prevent users from using emails as usernames.

Basically implement the same check we currently do for existing usernames, but for existing emails as well specifically for the username.

So we'd do a check of the new username against existing usernames & emails.

[2021-01-11 08:54] sgiehl commented on #17070
We should do the check vise versa as well, so no one can enter a email address that matches an already existing username

[2021-01-11 09:20] sgiehl commented on #17071
@nrenault  are you using any third party plugins?

[2021-01-11 09:37] sgiehl commented on #17030
@C-Duv this might be true, but we are actually not using any foreign keys in Matomo or any of our plugins. If that is something that should be cared of by a plugin developer, might be worth mentioning it in the developer docs.
Feel free to create a issue or PR there if you think that would be useful: https://github.com/matomo-org/developer-documentation

[2021-01-11 09:37] #17030 closed, assigned to nobody

[2021-01-11 09:43] nrenault commented on #17071
@sgiehl: I use ExtraTools, LoginLdap and QueuedTracking.

[2021-01-11 09:47] Findus23 commented on #17030
Using foreign key contraints in plugins might also cause other unexpected issues like
https://github.com/dominik-th/matomo-plugin-LoginOIDC/issues/35

[2021-01-11 14:49] pixel8383 commented on #16719
Hello @tsteur sorry for the delay in my answer. No, there is not any proxy configured inside the `config.ini.php` file. The issue is still there.

[2021-01-11 18:27] poetaster commented on #17035
I'm getting a similar error on field visitor_seconds_since_order.
`Error query: SQLSTATE[22003]: Numeric value out of range: 1264 Out of range value for column 'visitor_seconds_since_order' at row 1 In query: INSERT INTO piwik_log_visit (idvisitor, config_id, location_ip, idsite, profilable, visit_first_action_time, visit_goal_buyer, visit_goal_converted, visit_last_action_time, visitor_returning,

[2021-01-11 19:33] tsteur commented on #17035
@poetaster I reckon it be best to report this indeed in the log analytics issue tracker as there might be a problem. Be great to mention there which parameters you use in log analytics import script call.

[2021-01-11 20:34] tsteur commented on #17053
👍  I'll put it into 4.4 as it would be useful potentially on cloud too. When a file logger is configured, it should also log to file.

[2021-01-11 20:55] poetaster commented on #17035
Ahoi. I'll do so. Although it appears as haproxy log, it's a clf log file (postproced)

python3 /var/www/.../htdocs/misc/log-analytics/import_logs.py --auth-user=piwik --auth-password=....  --url=https://....org  --idsite=1 --recorders=1  --log-hostname=https://.....org --log-format-name=ncsa_extended --log-hostname=https://.....org /path/piwik-logs/${DATE}.haproxy.log.done

[2021-01-11 21:23] Callidior opened #17074 "--skip-idsites argument to core:archive works like --force-idsites in 4.x"
When specifying `--skip-idsites` in a CLI call to `core:archive`, it will actually process only these sites instead of skipping them.

The current [implementation](https://github.com/matomo-org/matomo/blob/4.x-dev/core/CronArchive.php#L744) looks like this:

[code]

I guess it should use `array_diff` instead of `array_intersect`.

[2021-01-11 21:47] tsteur commented on #17023
Sounds good to like time restrict maybe max 2 hours or so in order to see if we can reproduce it.

[2021-01-12 00:59] tsteur commented on #16719
@pixel8383 It sounds like some kind of webserver configuration where we might not be able to help. Is it maybe possible that we get access to your server aka to the files where Matomo is installed on your server and ideally also a way to execute commands (eg through SSH) so we can try and reproduce and then debug this problem?

It might also help to post this question eg in our forum https://forum

[2021-01-12 02:08] #17026 closed, assigned to sgiehl

[2021-01-12 03:37] tsteur commented on #17074
Thanks for finding this regression @Callidior  👍  Very appreciated

[2021-01-12 11:13] #16793 closed

[2021-01-12 13:08] sgiehl commented on #17023
Just set up a WAMP environment. Running the geoip update with an existing file always results in a deleted file. There are no other processes accessing the file. So it seems not possible to remove the file within the process. Need to check if there is a simple possibility to circumvent this

[2021-01-12 13:14] mstenz commented on #17023
The ideas i have for preventing this and make it working both with Linux and windows:
- Do not replace the file, but always have a new file (ex. DB-IP-YYYYMMDD.mmdb) and only after successfully update delete the old file and update a config record with the current file name) - this is my personal favorite as it prevents parallel tasks that uses the file for processing while the update is task is r

[2021-01-12 14:12] Alice-Pa opened #17075 "LoginSAML - Different entity ID shown in SAML configuration page and in XML metadata"
Hello,
Our Matomo instance runs over SSL with url https://matomo.minte.dsi.cnrs.fr/
In SAML configuration page, I have Entity ID: https://matomo.minte.dsi.cnrs.fr/index.php?module=LoginSaml&action=metadata
Whereas in SP metadata export I have: <md:EntityDescriptor entityID="https://matomo.minte.dsi.cnrs.fr:443/index.php?module=LoginSaml&action=metadata"
This inconsistency was blocking the connexio

[2021-01-12 15:19] o-simardcasanova-net commented on #7650
I'm sorry @davidak but I couldn't find any mention anywhere about *not* doing this. You cannot expect people to comply with rules that are never specified.

So speaking about "useful information", I would then suggest to update the README to explain more clearly how people are expected to +1 feature requests 🙂

[2021-01-12 18:09] alexymik opened #17077 "Anonymous user settings not working after v4 upgrade"
After upgrading a Matomo site from 3.14.1 to 4.1.0, Anonymous users are no longer able to access the dashboard or sites directly.

in v4, accessing Matomo results in a login page despite allowing view access to sites and setting a default anonymous dashboard in Anonymous user settings.

[2021-01-12 20:18] tsteur commented on #17023
👍  adding it into the milestone

If I understand things correctly it should be maybe fixable that all file handles to it are closed? But not sure where it's left open (maybe the Geo IP lib or so)

[2021-01-12 20:21] mstenz commented on #17023
as the move fails. i assume there is a bug in php and php itself does not close the handle. with would be possible with fopen and so on to rebuild the move command but I do not think thats worth the effort. in my comment before with the screenshot you see that the file is opened 7 times but only closed 3 times. so there are 4 handles that are not closed.

[2021-01-12 20:23] mstenz commented on #17023
I think you can do a "Fast workarround" as i have did and just coment out the unlink line as this fixes the problem for both windows and linux.

[2021-01-12 20:31] tsteur commented on #17077
Thanks for creating this issue @alexymik

I think I can reproduce this here actually as I just gave anonymous user view access and then I wouldn't be able to see the dashboard. Interestingly it works on https://demo.matomo.cloud/

[2021-01-12 20:37] RobMcA opened #17078 "unit test fails SQLSTATE[42S02]: Base table or view not found: 1146 Table 'matomo_tests.option' doesn't exist"
After following the development setup and testing instruction, when running `./console tests:run --testsuite unit` I get an error. I have created the database `matomo_tests` as mentioned in the docs, but don't see anything in the documentation on how to get the required tables created.

[code]

[2021-01-12 22:04] math-GH opened #17079 "Editing Users screen is partially broken"
Matomo 4.1.0

settings -> system -> user

![grafik](https://user-images.githubusercontent.com/1645099/104379845-59e37b80-552a-11eb-9187-1c186e13b527.png)

1. cannot read the select list "Massenaktion" (= batch action?) + user search input + filter select list. Grey on grey.
2. column "role": select list (that includes: no access and read access) looks strange and is difficult to use + the select b

[2021-01-13 00:25] tsteur commented on #17079
Thanks for creating this issue @mathContao I experienced the same issue before regarding 2)
![image](https://user-images.githubusercontent.com/273120/104390465-a7033400-55a2-11eb-9f6a-969e5a543d8f.png)

1) might be on purpose maybe if you haven't selected anything yet? To be seen.

[2021-01-13 00:52] Starker3 opened #17080 "Matomo comparing month report with same month when clicking on the last day of the month"
When selecting a time period of "Month" and selecting to compare to "Previous period" for some months causes Matomo to compare to the same month.

Have tested and so far it occurs when selecting the 31st of the month for December, October, July, May, March 2020 e.g.:
![image](https://user-images.githubusercontent.com/20905821/104392222-83da8380-55a6-11eb-804b-59f8154bf9b2.png)

Link where we can s

[2021-01-13 03:09] nrenault commented on #17071
To give you more informations: Matomo is installed on 3 servers. This one only have LoginLdap activated on it, but ExtraTools and QueuedTracking are used on other servers (same database).

I have no entries in bruteforce table on DB, and the error is still here for all users loggued from LDAP.

I enabled development mode and logging, but I have nothing interesting.

Is it possible to desactivate t

[2021-01-13 05:01] nrenault commented on #17071
I close the issue, the problem is users, not Matomo....

Sorry for this lost of time...

[2021-01-13 05:01] #17071 closed, assigned to nobody

[2021-01-13 08:04] #17074 closed, assigned to diosmosis

[2021-01-13 11:00] CassenH commented on #14647
I'm experiencing the exact same issue using Matomo Analytics Cloud.

[2021-01-13 12:57] CassenH opened #17083 "Bug: Dashboard repeat/duplicate widgets (same as #14647)"
I'm experiencing the same issue as https://github.com/matomo-org/matomo/issues/14647. I'm using Matomo Analytics Cloud.

[2021-01-13 14:08] Chardonneaur commented on #16617
Hi @mattab
thanks for your answer, but then, shouldn't we create an issue for it? here the ticket has been closed.
Wouldn't be possible to make it available as a metric within the custom reports at least?
Thank you,

[2021-01-13 16:24] sgiehl commented on #17023
@mstenz  are you able to check if the changes of #17085 are fixing the issue for you?

[2021-01-13 19:11] tsteur commented on #17083
Thanks for creating this issue @CassenH I'll close this issue as a duplicate and reopen the other one again

[2021-01-13 19:11] #17083 closed, assigned to nobody

[2021-01-13 19:12] tsteur commented on #14647
I'm pretty sure I have been able to reproduce this as well at some stage or experienced it. Will reopen this issue.

[2021-01-13 19:50] math-GH opened #17086 "Translation missed on "Create a new user""
The (German) translation is missed in the screen of "Create a new user"
![grafik](https://user-images.githubusercontent.com/1645099/104502746-c325c600-55e0-11eb-9fa1-24e8f66ae83e.png)

Username = Benutzername
Password = Passwort
Email = E-Mail

See the wording in the table before
![grafik](https://user-images.githubusercontent.com/1645099/104503167-05e79e00-55e1-11eb-9358-1d8542d70721.png)

[2021-01-13 20:06] Starker3 opened #17087 "Matomo showing incorrect Month data when selecting first day of the month for specific time zones"
This may be related to: #17080

When selecting the period "Month" for a website that has its time zone set for example as United States - New York and selecting the first day of the month, Matomo is showing the previous months data.

Screenshot comparison between the same month selected but using the 1st vs the 2nd:
![Thursday-14-01-2021 08-57-55](https://user-images.githubusercontent.com/20905821

[2021-01-13 20:10] Findus23 commented on #17086
This does indeed seem to be hardcoded:
https://github.com/matomo-org/matomo/blob/8c792dcf02424fce9b5a88c571c8f5c76295b710/plugins/UsersManager/angularjs/user-edit-form/user-edit-form.component.html#L39-L86

[2021-01-13 21:43] tsteur commented on #17087
it be great to test this and the other issue once the next Matomo update has been released and deployed. It might be fixed already.

[2021-01-13 21:49] tsteur commented on #17078
Hi @RobMcA thanks for creating this issue. I suppose you're using the latest 4.X version of Matomo from github?

In https://github.com/matomo-org/developer-documentation/issues/385 it was mentioned that the MySQL user needs to have CREATE/DROP database & tables etc permission. Do you know if the MySQL user is maybe missing some permissions? Although I would assume in this case maybe the error mess

[2021-01-13 23:59] waldoj opened #17088 "Automated updater doesn't check PHP version"
I just used the automated update script for my Matomo installation. It cheerfully ran the update, and now Matomo doesn't work, because it requires PHP 7 and this server uses PHP 5, for legacy reasons.

Requiring PHP 7 is good and right, but the updater needs to verify that the environment is compatible before upgrading.

[2021-01-14 00:04] tsteur commented on #17088
Hi @waldoj thanks for creating this issue. This should actually already be happening. Do you remember on which version of Matomo you were?

[2021-01-14 00:09] waldoj commented on #17088
I'm afraid that I'm not sure. Because Matomo (last I checked) can't be scripted to be part of a deploy process, due to the manual config steps, it's not subject to my normal version-control system. I suspect strongly that I last updated it in the summer, probably around July, so perhaps v3.14 or thereabouts.

Should I wind up restoring from a backup, I'll be sure to report back with the exact vers

[2021-01-14 00:18] tsteur commented on #17088
Be great to report back if you end up restoring. Any chance you know your exact PHP version?

So far https://api.matomo.org/1.0/getLatestVersion/?piwik_version=3.14.1-b2&php_version=5.7.5&release_channel=latest suggests the latest version is a 3.14.1 . Also for `release_channel=latest_stable` and when no release channel is set etc.

Looking at the code the only way this would happen is if Matomo w

[2021-01-14 00:22] waldoj commented on #17088
Sure thing, I'm using v5.6.40-39. I've verified that both `phpversion()` and `PHP_VERSION` function properly on my server. (It's a stock Ubuntu 18 installation on an EC2 instance.) Now, it's been at least a decade since I've had cause to use a PHP version string, but I was surprised to find that both of the methods of displaying the version didn't display `5.6.40-39`, but instead `5.6.40-39+ubuntu

[2021-01-14 01:41] waldoj commented on #17088
FWIW, Matomo also reports the unwieldy version name when trying to load any page, I've just noticed:

The error isn't _wrong,_ but it hints that perhaps the installer isn't extracting the actual version number from that bizarre string that PHP is generating. (Or there's also the distinct possibility that I'm barking up the wrong tree here.)

[2021-01-14 03:25] tsteur commented on #17088
Thanks @waldoj just debugged/tested the logic for the update check when the exact PHP version is used that you mentioned and it should have still suggested 3.X. I double checked using the debugger. We're using PHP's internal version_compare method and it seems to be able to handle those sort of strings. So right now I can't really explain how this could possibly happen and we haven't heard of any

[2021-01-14 03:27] waldoj commented on #17088
If you can't reproduce it, there's nothing to be done. 🤷 If _I_ can reproduce this, I'm happy to return and document further.

[2021-01-14 06:24] dl-lim commented on #7650
As @jwest75674 mentioned for a manual method for copying, I second this with perhaps a simpler suggestion for implementation while we iron out the many kinks of undertaking such an effort.

What if we try just overwriting overlapping data for the same dates first, since there could be some users (myself included) who only ran the two datasets in parallel for a short time. One simple way would be t

[2021-01-14 06:35] UttaraRC commented on #7650
Hii,
There is one method but for that you have to take manual efforts, that
efforts can be successful if you have hosted matomo on your server,  we
need access of mysql of matomo.

Create your new website, which will give you your siteId, if you want to
merge site A to site B(newly created site) write update queries on site for
your near about all mysql tables

Update table set siteId=siteId of B

[2021-01-14 10:00] candaj opened #17089 ""Keep basic metrics (visits, page views, bounce rate, goal conversions, ecommerce conversions, etc.)""
Hello,

In order to keep our data in order and compliante I would like to know what are the complete list of "basic metrics" that are keep from the deletion with the option checked. Is there a list somewhere ?

edit: if I keep reports, do I keep personnal data too or do I have to delete it ?

Regards,

[2021-01-14 11:22] #14149 closed

[2021-01-14 11:34] huangzhong0406 opened #17090 "How does UniApp integrate Matomo"
Hello friend ~
How does UniApp integrate Matomo? I want to integrate Matomo with UniApp,I want you to help me！
Thank you very much

[2021-01-14 12:01] mstenz commented on #17023
@sgiehl it works for me

[2021-01-14 12:43] Findus23 commented on #17090
Hi,

I don't know UniApp, but as long as you can modify the page template and add the JS tracking code, you can use Matomo on every page.
And on how to do it in UniApp, I'd rather recommend you to ask their support team.

[2021-01-14 12:43] #17090 closed, assigned to nobody

[2021-01-14 14:37] RobMcA commented on #17078
Thanks for the input. After setting `request_uri = ""` I ran `./console tests:setup-fixture OmniFixture` and it loaded a number of fixtures before having a failure:
[code]

Looking in the web log I see the following error:
[code]

My mysql database is running utf8mbf3. Any suggestions?

I tried `/.console tests:run` and it complained
[code]
Changing `request_uri = "@REQUEST_URI@" then allowed test

[2021-01-14 16:55] sgiehl opened #17091 "Failing SMTP connection might result in information disclosure in password recovery"
When the SMTP connection is not set up correctly, or failing due to other reasons like #17026, requesting for password recovery currently displays the full error message returned from the SMTP server. This could for example include the sender mail address or the login.
As the password recovery is public available we should consider not showing the full error message in this case.

[2021-01-14 18:47] RobMcA commented on #17078
Strangely, resetting everything from scratch and running it all again resulted in the unit tests running fine with no change needed to request_uri.

[2021-01-14 19:23] tsteur commented on #17078
Thanks @RobMcA I'll close this issue for now as a duplicate of https://github.com/matomo-org/developer-documentation/issues/385 where we need to adjust the docs as I understand it works now for you. Thanks for trying all this and sorry for running into that trouble. Did you initially set the `request_uri` in the config?

[2021-01-14 19:23] #17078 closed, assigned to nobody

[2021-01-14 19:37] tsteur commented on #17089
@candaj AFAIK these metrics are kept:

If goals are configured, a few additional metrics may be kept. I don't have a list for this but I think it's like the number of conversions, the number of orders and the number of cart abandoned.

[2021-01-14 20:08] tsteur commented on #17091
I suppose in many cases the login be the same as the sender and the sender is kind of maybe guessable? Nonetheless could be replaced maybe automatically by catching exception and throwing it again?

[2021-01-14 20:08] math-GH opened #17092 "fatal error: Modulo by zero: method=imageGraph while widht = 0"
I called the API by this:
/index.php?module=API&method=ImageGraph.get&idSite=1&token_auth=xxxxxxxxxxxxx&period=month&date=previous24&apiModule=VisitsSummary&apiAction=get&graphType=evolution&width=0&height=2

and got this fatal error message

![grafik](https://user-images.githubusercontent.com/1645099/104643219-6099fc00-56ac-11eb-9ccc-9d7f9148c656.png)

width = 0 AND height != 0

width = 0 and hei

[2021-01-14 20:25] tsteur commented on #17092
Thanks for creating this issue @mathContao I can reproduce it using the same parameters 👍

[2021-01-15 03:48] tsteur opened #17094 "Have a minimal JS tracker with only very basic features"
Just saw https://minimalanalytics.com/ and figured it could be quite nice for some people where performance matters and they only use basic feature set and no cookies.

We could offer like only `trackPageview` and `trackEvent` as part of a very minimalistic JS tracker. By default gzipped the regular matomo.js is > 50KB vs this could be maybe 1KB and be quite some difference in terms of performance

[2021-01-15 05:28] Md-Maruf commented on #14662
``$validation_code = md5($username . microtime());
I have used '.' but not working. do you have any more solution, please

[2021-01-15 07:55] sgiehl commented on #17091
@tsteur Yes, exactly. Should be enough to do that for the password recovery only I guess, as that error message might be public visible

[2021-01-15 10:11] esolix commented on #16999
The fix does work for URL string that contains date, but "Today" query string (which is default dashboard URL) still show the same issue

**Not working**
index.php?module=CoreHome&action=index&idSite=1&period=day&date=today#?idSite=1&period=day&date=today&segment=&category=Dashboard_Dashboard&subcategory=1

**Working by specifying today's date**
index.php?module=CoreHome&action=index&idSite=1&peri

[2021-01-15 10:16] esolix opened #17095 "Widget is showing wrong data from yesterday instead of today"
In ref to #16999

The fix for 4.11 works on URL string with date specified, however with "date=today" it still has the issue of showing yesterday's stats for some dashboard widget if you are in other timezone

**Not working**
index.php?module=CoreHome&action=index&idSite=1&period=day&date=today#?idSite=1&period=day&date=today&segment=&category=Dashboard_Dashboard&subcategory=1

**Working - By sele

[2021-01-15 10:18] Findus23 commented on #17094
I guess this could be maintained separately from Matomo as another project trying to keep the size to a minimum while still supporting the features 95% of all users need.

Maybe if I got too much time at hand, I'll look into it.

[2021-01-15 10:19] vrandr opened #17096 "enable_auto_update option misleading"
I think the `enable_auto_update` option can be a little bit confusing.

# What it does

Disable the "automatic update check".

# Confusion

Does it disable the `Update Automatically` function in the Web UI or not.

# Steps to reproduce

1. Setting `enable_auto_update` to `0`
1. `Update Automatically` option is still available in the Web UI (`CoreUpdater` action `newVersionAvailable`)
1. Updating t

[2021-01-15 12:16] narfk opened #17098 "Updatecheck does not find Updates in Matomo 4.*"
My Version is 4.1.0
Release Channel ist latest stable. Even when i'm switching to latest Beta the Updatechecker return 'You are using the latest version of Matomo!'

Is there any way to figure out what is going wrong?
I made the Updates from 3 to 4 (and from 4.0.0 to 4.1.0) with the ZIP download.

[2021-01-15 12:26] Findus23 commented on #17098
The update check returns the latest version correctly:

https://api.matomo.org/1.0/getLatestVersion/?piwik_version=4.0.0&php_version=7.2.5&mysql_version=5.7.0&trigger=CoreHome&timezone=UTC

The only way I can think of to check here would be to output `$url` (e.g. with `var_dump($url);`) here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/CoreUpdater/Rel

[2021-01-15 14:05] Findus23 opened #17099 "Real-Time Map description switches to "There is no data for this report.""
reported in https://forum.matomo.org/t/frage-zur-besucherkarte-in-echtzeit/40267

The header of the real-time map seems to switch to an error message after a few seconds even though the map loads fine.

https://user-images.githubusercontent.com/6266037/104736232-f1bbb200-5742-11eb-8421-d3e4c3d3d913.mp4

Interestingly I can't reproduce this issue on demo.matomo.org

There is no error in the JS cons

[2021-01-15 14:15] sgiehl commented on #17099
Seems that the case when the ajax request, that is sent periodically to fetch new visitors, does not have any results

[2021-01-15 14:30] Findus23 commented on #17099
Okay, I found a bit more details. Indeed the initial request returns data, but the ones afterwards don't.
The first one sends `&minTimestamp=0` and the ones afterwards send `&minTimestamp=1610714405` and I guess if there were no new visits since the text is incorrectly updated.

[2021-01-15 15:14] bluikko commented on #10257
As is evident from the amount of issues opened around this problem - any modern app these days really must support headless install.

The days of manually browsing to an install page are truly over.

[2021-01-15 15:37] chriscroome commented on #10257
While the [ExtraTools plugin doesn't work for Matomo 4 yet](https://github.com/digitalist-se/extratools/issues/21), so the console command `matomo:install` can't be used for automatic installs, I have found that automating via the web installer is not so hard, see for example [these Ansible tasks](https://git.coop/webarch/matomo/-/blob/370003b96c1728461167127a03d4a5fdc1d08805/tasks/install_web.yml

[2021-01-15 15:39] ghost commented on #17095
Same problem here.  I think #16999 was prematurely closed.

[2021-01-15 16:22] BasketballBuzz commented on #17095
Still facing the same issue after updating to 4.11.

[2021-01-15 17:36] jackherizsmith commented on #14395
This still seems to be an issue, unless I have misunderstood something. Getting

Could you advise on how best to proceed?

[2021-01-15 18:47] Findus23 opened #17102 "PerformanceTiming API used by Matomo is deprecated, use PerformanceNavigationTiming if available"
I just noticed that the PerformanceTiming API used by Matomo is deprecated and might be one day removed from browsers or only supported for backwards compatibility (*"Be aware that this feature may cease to work at any time."*)

See https://developer.mozilla.org/en-US/docs/Web/API/Performance/timing

The suggested replacement is the [PerformanceNavigationTiming](https://developer.mozilla.org/en-US

[2021-01-17 02:10] #17023 closed, assigned to sgiehl

[2021-01-17 19:11] tsteur commented on #17102
We could check if the new API is supported to use the new API and otherwise fallback.

[2021-01-17 19:21] eric215 opened #17104 "Error Message notification is not hidden when navigating to a new page"
When a server error results in the message below being displayed, transitioning to another page via the menu does not remove it, it continues to be displayed at the top of each page until a hard refresh is done.

Ver 4.1.1

`Oops… there was a problem during the request. Maybe the server had a temporary issue, or maybe you requested a report with too much data. Please try again. If this error occur

[2021-01-17 19:24] tsteur commented on #17104
@eric215 any chance you know the steps to reproduce this? So far I haven't seen this before AFAIK except for maybe https://github.com/matomo-org/matomo/issues/15575 which has a different error message.

[2021-01-17 19:33] tsteur commented on #14395
@jackherizsmith can you maybe share with us on which page this is happening? Feel free to email us at support@matomo.cloud

[2021-01-17 19:34] tsteur commented on #17095
fyi @sgiehl

[2021-01-17 20:01] tsteur commented on #17096
Cheer @vrandr technically, it was kind of already working because when disabled, Matomo would no longer look if an update is available. The method you mentioned would still work though if at the time of disabling a newer version was available. Added https://github.com/matomo-org/matomo/pull/17105 for now.

[2021-01-17 20:03] tsteur opened #17106 "enable_auto_update=0 doesn't remove update check in the UI"
It seems only multi server environment = 1 is currently removing the "check for updates" feature in the UI but not when enable_auto_update config is disabled.

[2021-01-17 20:10] tsteur commented on #17098
@narfk are you basically missing the 4.1.1 update? Does it maybe show up by now? You could also try clicking the "check for updates" button in the Admin area of Matomo

[2021-01-17 20:19] eric215 commented on #17104
If you have access to an Apache webserver, use this code in the .htaccess file to force a 406 ("Not Acceptable") error on the "Behaviours --> Transition page".

This will cause the error message I noted to be displayed every time without seriously affecting the other functionality

[code]

[2021-01-17 22:18] mattab opened #17107 "Rename dimension called "Measurable" to "Website name""
a few people are asking us how to create a custom report on roll-ups, using the website name as a dimension.

The reason they don't find it on their own is because the dimension is called "Measurable"

Instead it'd bebetter to call it `Website name`

![index](https://user-images.githubusercontent.com/466765/104857652-d63ceb00-597e-11eb-938c-e486f9f841c5.png)

[2021-01-17 22:21] mattab opened #17108 "In "Help" screen, show first the section "How can we help?""
we could move the “About Matomo X.Y” below the “How can we help?” section, and above "Premium products",

so that people first see the Help Section (for better onboarding and user experience).

![Screenshot from 2021-01-18 11-20-47](https://user-images.githubusercontent.com/466765/104857724-49def800-597f-11eb-970a-df02c7ec271e.png)

[2021-01-17 23:25] tsteur commented on #17104
Thanks @eric215 I can reproduce it this way Basically, when someone changes the reporting page, then the error messages should be cleared.

[2021-01-18 00:58] #17096 closed, assigned to nobody

[2021-01-18 02:58] krithikabalu opened #17109 "Contents report shows up empty when no content impressions tracked but content interactions"
Content report under Behavior tab shows up empty even though I can see data in visitor log.
To navigate to contents report: Behavior -> Contents
This is also discussed in matomo forums but no solution yet: https://forum.matomo.org/t/content-reports-empty/38494
Can someone please help with this?

[2021-01-18 03:00] tsteur commented on #17109
Hi @krithikabalu this would be happening because there are interactions without any impressions. Can you let us know more about how you implemented content tracking in your site?

[2021-01-18 04:36] krithikabalu commented on #17109
Hello @tsteur I have added trackVisibleContentImpressions in my site. Here is my site tracking setup:
`var _paq = window._paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
_paq.push(['trackVisibleContentImpressions', true, 750]);
(function () {
    var u = "//localhost:8000/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d

[2021-01-18 05:07] krithikabalu commented on #17109
Hi @tsteur thank you, I get your point, isn't it possible to have content interactions being presented in the report? in our use case, we are interested in content interactions than impressions. Apart from this report, is there any other endpoint or report where we can get content interaction information?
For example, I would want to know info like
2 clicks were made on component tagged data-track

[2021-01-18 05:23] narfk commented on #17098
@tsteur after the manual update to version 4.0.0 with the zip archive. matomo didn't find any 4.0.* updates.
for sure i was also trying to check for new updates. in the devtools (network) i can see the it results with a http code 200 (successfull). but noting happens.

[2021-01-18 08:32] netzarbeiter opened #17111 "Administration not reachable after the last update"
After updating from Matomo 4.1.0 to 4.1.1 a click on the Administration cog leads to a content free page.

The Link is
`example.org/index.php?module=CoreAdminHome&action=home&idSite=1&period=day&date=yesterday`

After deleting `&action=home` the Personal settings will be shown.

[2021-01-18 09:07] Findus23 commented on #17096
I think #17106 is the correct linked issue.

[2021-01-18 09:14] Findus23 commented on #17104
It would be great if there could be one fix that fixes this issue, #15575, #15498, #12934 and more related issues at once as it seems like the notification session is simply never cleared unless you log out and login again.

[2021-01-18 17:44] #17111 closed, assigned to nobody

[2021-01-18 19:28] tassoman commented on #11221
Sorry for being late, I lost this notification. I mean 3.13.0 was installed but didn't get any SQL update since then.
Can't say for the 4.x branch, we're not testing, yet.

[2021-01-18 19:46] Maxel01 opened #17113 "Content tracking isn't working properly"
I am new to Matomo, but I already know programming.
I tried to implement the content tracking feature using the Tag Manager.
It looks like the content impressions appear at random, sometimes they track the impression, sometimes it doesn't, sometimes it tracks only the interactions but not the impression.
I thought maybe it is the Tag Manager, so I tried it with the js tracking code. Same issue as

[2021-01-18 21:08] tsteur commented on #17104
@Findus23 they are a bit unrelated to this one unfortunately. We will eventually work on them though but I suppose these happen less and are much more complicated to solve so it's not as much of a priority right now

[2021-01-18 21:29] tsteur commented on #17098
@narfk any chance you can send us the output of the system report which you find in Administration -> System Report? There is a button to copy/paste the text and the data should be anonymised.

[2021-01-18 21:33] tsteur commented on #17109
You should otherwise be able to get it using our [Custom Reports plugin](https://plugins.matomo.org/CustomReports).

The alternative would be also tracking content impressions. So far the plugin relies on also having content impressions tracked to be able to correctly calculate the click ratio etc. A change probably could be made for it to work without impressions but it's unlikely a priority curr

[2021-01-18 21:46] tsteur commented on #17113
@Maxel01 it should not be related to the SSL connection. Maybe it's a webserver configuration or PHP setting that is causing the issue (for example limited URL length etc). On your test site, when you look at the developer tools in the nextwork tab, do you maybe see some failed tracking requests? If so, maybe check out the HTTP response code.

I'll close this one for now as it kind of has to be a

[2021-01-18 21:46] #17113 closed, assigned to nobody

[2021-01-18 21:50] tsteur commented on #17080
@Starker3 I think this one might be fixed now? (you'd need to select it again correctly in date picker, not use the URL above)

[2021-01-18 21:51] tsteur commented on #17087
@Starker3 can you check if this one is fixed now? eg on demo

[2021-01-18 22:36] luggesexe commented on #13690
Hey,
I'm trying to solve this problem and just found the file path that causes the problem (plugins/UsersManager/angularjs/user-edit-form). Now I don't know exactly where Matomo stores the titles. I have not been able to find anything in the surrounding files either.
I would be grateful for any help.

[2021-01-18 23:58] Starker3 commented on #17087
It looks like this one is fixed for the websites that had the error. When comparing the same as in the examples above the reports are showing the correct numbers even when selecting the 1st day of the month (As expected)

[2021-01-18 23:58] #17087 closed, assigned to nobody

[2021-01-19 00:00] Starker3 commented on #17080
This one is still occurring on demo.matomo.cloud when viewing a "Month" report and selecting the 31st of the month for e.g. December 2020 its comparing with December 2020

[2021-01-19 00:16] tsteur commented on #17080
could be maybe fixed with https://github.com/matomo-org/matomo/issues/17095 then

[2021-01-19 03:42] #16918 closed, assigned to sgiehl

[2021-01-19 08:12] mindbreaker commented on #8789
Any Update?

[2021-01-19 08:15] narfk commented on #17098
Here we go:

# Mandatory checks

## PHP version >= 7.2.5: ✔ 7.4.13

## PDO extension: ✔

## PDO\MYSQL extension: ✔

## MYSQLI extension: ✔

## Other required extensions: ✔ zlib ✔ SPL ✔ iconv ✔ json ✔ mbstring ✔ Reflection

## Required functions: ✔ debug_backtrace ✔ eval ✔ hash ✔ gzcompress ✔ gzuncompress ✔ pack

## Required PHP configuration (php.ini): ✔ session.auto_start = 0 ✔ max_execution_time

[2021-01-19 09:15] Maxel01 commented on #17113
Thank you for your fast answer.
It actually was a problem with the SSL connection. On my normal domain where the matomo server is located, i activated to force use SSL. I now tried it without and it works.
It the chart you can see the different HTTP codes:
Top: with SSL
Bottom: without SSL and redirecting to a GET request instead of POST

![Log](https://user-images.githubusercontent.com/77640056/1

[2021-01-19 10:25] Grolleau opened #17119 "Incorrect handling of special character in custom dimension values"
## Expected Behavior
Special characters contained in custom dimension should be supported

## Current Behavior
- specials characters are _correctly_ displayed in visits log
![visits_log_special_character](https://user-images.githubusercontent.com/1391205/105021045-6004bb00-5a48-11eb-81ee-faf989fb0652.png)

- specials characters are not displayed in custom dimension report
- opening segmented visit

[2021-01-19 18:19] jkjha opened #17120 "Question: API to register new website to matomo instance"
Not sure if this is right place to ask question, but I didn't find better place.

I am looking for matomo API to register a new website. Something like a POST api which accepts hostname and other info as payload and return "JS tracking code" or website ID.

[2021-01-19 18:27] Findus23 commented on #17120
Hi,

The place to ask questions about Matomo is the forum: https://forum.matomo.org/

Yes, there are multiple APIs that allow to do exactly what you want: https://developer.matomo.org/api-reference/reporting-api#SitesManager

[2021-01-19 18:45] #17120 closed, assigned to nobody

[2021-01-19 22:38] #16789 closed

[2021-01-19 23:25] tsteur commented on #17119
Thanks for creating this bug report @Grolleau I had a quick look in the code but not sure yet where this happens. Maybe it's a more of a generic issue.

[2021-01-20 04:06] tsteur commented on #17098
@narfk any chance you set the "Multi Server Environment: 1" setting in the config recently? That might explain this.

[2021-01-20 07:15] narfk commented on #17098
This was the output from my servers on a load balancing environment - so this setting seems ok for me.
On my Testserver the Setting is Multi Server Environment: 0 - the problem is the same.

[2021-01-20 07:38] mattab opened #17122 "Email reports with a CSV file should use the friendly column names ("Visits" instead of "nb_visits")"
When creating an email report in the "CSV" format,
the CSV file uses "raw" column names, like this:
[code]

Here is the top of the CSV file:

![Screenshot from 2021-01-26 12-37-29](https://user-images.githubusercontent.com/466765/105779472-57296180-5fd3-11eb-8dd6-481e02aaa683.png)

Maybe it would be easier for most people If we added `translateColumnNames=1` to the CSV report generator request,
so

[2021-01-20 09:26] robles-design opened #17123 "Graph of returning visitors doesn't show returning visitors when having the segment pre-configured in config file"
I've recognized this a few days after the Update to 4.1.1, but it must have started with the latest beta before the update to 4.1.1 (see screenshot).

Behaviour > Engagement > Returning visitors
![matomo-engagement-returning-visitors](https://user-images.githubusercontent.com/25033650/105154170-8cccd700-5b09-11eb-89f4-00c8f6cf323c.png)

[2021-01-20 10:41] tauschn opened #17124 "Since updating Matomo to 4.1.1. my Admin-area is "broken" (can't click on anything)"
Hello,
since updating Matomo  to 4.1.1. my Admin-area is "broken" (can't click on anything) - means I can't handle the Admin-Area for excample create new user, can't click on System, develop, data-security, etc.
Please help!
Thank you!
NT

[2021-01-20 10:47] sgiehl commented on #17124
Can you see any error in the browser console?
As a workaround: Does maybe the mobile menu work for you? You could try resizing the windows to a smaller size, so the layout switches to mobile.

[2021-01-20 10:50] tauschn commented on #17124
Hello @sgiehl ,
genious! Idk why, but THIS works! thank you so so much for your help!
Best,
NT

[2021-01-20 10:50] #17124 closed, assigned to nobody

[2021-01-20 10:55] sgiehl commented on #17124
@tauschn  The mobile menu is actually build in another way. Might still be good to find out why the normal menu doesn't behave like it should... 🤔

[2021-01-20 16:40] jorgeuos opened #17125 "SegmentEditorUI"
Our clients are frequent users of Segments, it's one of their most used feature actually.
We have taken the first steps to create an MVP.

Progress will be updated here and if anyone interested in helping out, just reach out.
Any thoughts or ideas are highly appreciated.

Features:
- Create a menu item for Segments
- Add user permission checks
- List segments
- Add intuitive buttons for manipulati

[2021-01-20 16:41] jorgeuos commented on #17125
Interesting features/issues:
https://github.com/search?l=&q=segments+repo%3Amatomo-org%2Fmatomo+label%3Aenhancement&state=open&type=Issues

[2021-01-20 17:59] voxspox opened #17126 "'console customdimensions:add-custom-dimension' does nothing"
I want to have more than 5 custom dimension. Thus I call:

`php console customdimensions:add-custom-dimension --scope=visit -vvv`

Because I have no SSH access to the server I call this command via php [passthru](https://www.php.net/manual/en/function.passthru.php) over the webbrowser.

The output is:
[code]
The output and the return code is displayed instantly. Seems to be fast.

But on the confi

[2021-01-20 19:22] tsteur commented on #17098
Could you also post the system check output from your test server @narfk

[2021-01-20 19:51] tsteur commented on #17123
@robles-design do you see any data in the reports below this graph and all the other reports?

[2021-01-20 21:06] tsteur commented on #17126
@voxspox you need to add `--no-interaction` as there would be usually a confirmation question.

[2021-01-20 21:06] #17126 closed, assigned to nobody

[2021-01-20 21:38] tsteur commented on #17125
@jorgeuos nice mockup. I reckon some of the things we wouldn't want in core so there would be always the possibility to put this into a plugin. For example we wouldn't want to have this in the left menu as entities are usually not really managed there unless it is a reporting entity like "Goals" etc. Maybe there could be instead some button in the segment selector similar to
![image](https://user-

[2021-01-20 22:47] voxspox commented on #17126
works!

[2021-01-21 02:29] robles-design commented on #17123
Here is a screenshot of what I see from the 09. January on. The blue line is the returning visitors line.

![matomo-engagement](https://user-images.githubusercontent.com/25033650/105271972-c13ba400-5b98-11eb-8ed9-ff9c9bfbdea9.png)

[2021-01-21 05:38] 65Q2M89mBVP53sCK commented on #17098
Output from Testserver

# Mandatory checks
## PHP version >= 7.2.5: ✔ 7.4.14

## PDO extension: ✔

## PDO\MYSQL extension: ✔

## MYSQLI extension: ✔

## Other required extensions: ✔ zlib ✔ SPL ✔ iconv ✔ json ✔ mbstring ✔ Reflection

## Required functions: ✔ debug_backtrace ✔ eval ✔ hash ✔ gzcompress ✔ gzuncompress ✔ pack

## Required PHP configuration (php.ini): ✔ session.auto_start = 0 ✔ max_exec

[2021-01-21 07:56] 65Q2M89mBVP53sCK commented on #17070
Just my 50 cents...

A better option would be to allow new users with already existing email addresses.

Example:
We have some accounts for administration and maintenance that have the same email address.

How do we create users at the moment:
We create such a user with a "unique" email address. Then we change the e-mail address in the database (which is set for several users).

[2021-01-21 08:21] cleger80 opened #17128 "Segments are not accurate"
I have a segment for example :
PageURL Contains abc-home

The filter works fine for :
/en/abc/abc-home/
/en/abc/abc-home/something
/en/abc/abc-home/something-else
...

but I see also sometimes
/en/xyz-home/
/en/def/def-home/

How is it possible ?
What could affect it ?

I am on 3.14.1

[2021-01-21 12:59] BigBerny opened #17129 "When creating a new segment "pre-processing" is selected by default"
When you create a new segment "SEGMENTED REPORTS ARE PRE-PROCESSED (FASTER, REQUIRES CRON)" is selected by default even though it says "Default" in the other option: "SEGMENTED REPORTS ARE PROCESSED IN REAL TIME (DEFAULT)"

IMHO "Real time" makes more sense usually but that might depend on the user. At least I'd make it consistent.

Thanks a lot!

[2021-01-21 14:33] voxspox commented on #17126
@tsteur I think the error code of the script should not be 0 then. 0 means success, but in this scenario the task "add dimensions" was not successful, it was aborted.

[2021-01-21 17:09] EugenVau commented on #10246
Since the CustomDimensions repository linked above has vanished and the new one does not have any issues, what's the answer to the original issue? Behaviour is still as described there...

[2021-01-21 19:12] tsteur commented on #10246
@EugenVau it maybe referred to https://github.com/matomo-org/matomo/issues/16149

There isn't any workaround so far AFAIK

[2021-01-21 19:14] tsteur commented on #17126
@voxspox I'm not sure what common behaviour in such situations is. If you were to execute this on the console then you would have been asked whether you want to execute this action or not. If you select "no" it seems to me that maybe an exit code of 0 is correct as it correctly exited and did nothing as requested. But not sure if linux / command line behaviour is usually different.

[2021-01-21 19:28] tsteur commented on #17128
Hi @cleger80

this is actually expected behaviour and we fixed a bug in some 3.X version to make sure it works like this as it used to falsely work like a filter https://github.com/matomo-org/matomo/issues/15438 (which is a not implemented feature yet).

For a workarounds have a look at eg https://github.com/matomo-org/matomo/issues/15438#issuecomment-663198958

refs https://github.com/matomo-org/

[2021-01-21 19:28] #17128 closed, assigned to nobody

[2021-01-21 19:42] tsteur commented on #17098
The API itself would return the correct result in this case @narfk  https://api.matomo.org/1.0/getLatestVersion/?piwik_version=4.1.1&php_version=7.4.14&release_channel=latest_stable&mysql_version=8.0.23&trigger=CoreHome&timezone=UTC

Any chance you are familiar with a bit of PHP? I could suggest maybe one or two files to tweak to see if the request maybe somehow fails for you or so.

Any chance in

[2021-01-21 19:56] cleger80 commented on #17128
@tsteur  : May I kindly ask you to explain me what is the expected behaviour of a segment when I set up "PageURL Contains abc-home" ?

[2021-01-21 20:34] Starker3 opened #17133 "Add option to allow case-insensitive URL Paramaters in Tag Manager variable"
Would it be possible to add a tick box to the allow case-insensitive matching of a URL Parameter in MTM?

The current implementation only allows the extraction of a case-sensitive URL parameter when creating a variable.
So when setting eg: "lang" as the paramater it will not match any parameter that has "LANG" or "Lang" in the URL.

![image](https://user-images.githubusercontent.com/20905821/10540

[2021-01-21 21:08] tsteur commented on #17128
@cleger80 it will find all visits that had viewed the given page URL and then shows you all page urls in the results all all these matching visits. So you basically can see which page views this group of visits were interested in.

[2021-01-21 21:09] tsteur commented on #17129
Hi @BigBerny do you mind posting a screenshot of what you refer to? I'm only seeing this:
![image](https://user-images.githubusercontent.com/273120/105412698-ed8b1980-5c99-11eb-8961-f00799f47585.png) I'm not sure what other option you refer to for example.

[2021-01-21 21:40] tsteur commented on #17123
@robles-design do you only have this problem for date ranges or also when you select a single day, week or month?

[2021-01-21 21:59] BigBerny commented on #17129
Sure! On our setup the other option is selected by default when we create a new segment (SEGMENTED REPORTS ARE PRE-PROCESSED (FASTER, REQUIRES CRON)):
![image](https://user-images.githubusercontent.com/1528504/105417628-2eecdc00-5c3c-11eb-917e-e57e7c7d2dba.png)

[2021-01-21 22:10] tsteur commented on #17129
OK thanks I got it. It should basically append the word "Default" to this by default selected option and remove it from the other option 👍  all clear now, thanks for this @BigBerny

[2021-01-21 22:15] BigBerny commented on #17129
Exactly. Or the other way around: making real-time processing default.
It's a minor problem though. 😊

[2021-01-22 00:03] tsteur commented on #17050
@diosmosis wondering: I understand the change would be mostly to fix the hash problem? If that's the case, could we in future maybe somehow store the hash in the segment table and then detect the correct segment definition from the `segment` table like this maybe? https://github.com/matomo-org/matomo/pull/17029#issuecomment-761913174 . We could maybe generate the hash on "segment" creation and if

[2021-01-22 01:50] robles-design commented on #17123
@tsteur same for day and week. Selecting the month there is data, cause there was data until the 8 January (see first screenshot).

[2021-01-22 02:07] diosmosis commented on #17050
- to fix the hash problem (different # of encodings on equivalent segments having different hashes)
- to have a simpler strategy and eventually simpler code
- to have more readable segments
- to never have to deal w/ weird segment encoding issues where a segment is encoded once but needs to be encoded three times or whatever

I think I understand what you're talking about and I think it might work

[2021-01-22 02:28] tsteur commented on #17050
@diosmosis can you show how some examples would look like eg for page URLs with various special characters vs what they currently need to look like? They would still need to be encoded right but of course less often maybe. I suppose explaining developers to replace eg % with $ might also not be trivial.

Not sure how much complexity this adds (to me this sounds bit more complicated but hard to say

[2021-01-22 02:30] tsteur commented on #17123
@robles-design sorry for all the questions. When you go to "Administration -> General Settings". What does it say for these settings in "archiving settings"?

![image](https://user-images.githubusercontent.com/273120/105437825-a9623e00-5cc6-11eb-9884-fb015ea14a15.png)

If you have configured "Archive reports when viewed from the browser: No", I suppose you have a cronjob configured that runs regul

[2021-01-22 02:45] robles-design commented on #17123
@tsteur Yes, you're right. I have a cronjob. No errors after runnig _./console core:archive_ manually.

[code]

[2021-01-22 02:51] tsteur commented on #17123
@robles-design can you try adding `-vvv` to the command?  just in case it shows some more information

[2021-01-22 02:55] diosmosis commented on #17050
readable segment (just for illustration): `pageUrl =@ http://serenity.org/docs/javascript-tracking/`
segment in URL (current way): `segment=pageUrl%3D%40http%25253A%25252F%25252Fserenity.org%25252Fdocs%25252Fjavascript-tracking%25252F`

segment w/ new encoding outside of URL: `pageUrl=@http$3A$2F$2Fserenity.org$2Fdocs$2Fjavascript-tracking$2F`
segment in URL: `segment=pageUrl%3D%40http%243A%242F%2

[2021-01-22 03:04] robles-design commented on #17123
INFO [2021-01-22 03:00:34] 5940  ---------------------------
INFO [2021-01-22 03:00:34] 5940  SUMMARY
INFO [2021-01-22 03:00:34] 5940  Processed 428 archives.
INFO [2021-01-22 03:00:34] 5940  Total API requests: 428
INFO [2021-01-22 03:00:34] 5940  done: 428 req, 300979 ms, no error
INFO [2021-01-22 03:00:34] 5940  Time elapsed: 300.979s
INFO [2021-01-22 03:00:34] 5940  ---------------------------

[2021-01-22 03:06] tsteur commented on #17123
@robles-design I guess the output before the summary could be quite useful too.

Sorry another question: When you click on `Visitors -> Visits log` do you see data there?

[2021-01-22 03:15] tsteur commented on #17050
@diosmosis can you also quickly show what this would look like in PHP to create such a segment definition and what the documentation for users would say on how such a definition would need to be created? That's often a good indicator how easy it'll be for them

[2021-01-22 03:29] diosmosis commented on #17050
@tsteur for this specific encoding would be like:

[code]

I guess the str_replace could be seen as more complicated. If there's a builtin encode function that's better we could use that as well.

We could also allow quotes or something like that, eg:

[code]

Not sure if this would be better or worse.

[2021-01-22 03:34] robles-design commented on #17123
@tsteur Yes, I see data there.

Sorry, I can't send you the output before the summary, cause these are client sites. What are you searching for? Maybe I can find it.

[2021-01-22 05:13] #17079 closed, assigned to diosmosis

[2021-01-22 05:50] narfk commented on #17098
I'm familiar- so this is not a big thing.

I made a new attempt for an update from 3 to 4.1.1. Maybe something went wrong in my first try?
I see that the navigation in the backend is different. In the first attempt I see all points - now the subpoints are hidden and are only displayed when clicking on the main point. Maybe a hint?

Anyway. Yes in my settings i have enable_auto_update = 0 because i

[2021-01-22 06:50] kamran364 opened #17135 "Ho to track UserId in vuejs"
I am trying to track userid in Vuejs through userId:"2", but didn't found any solution, and still getting NULL in DB

[2021-01-22 09:16] rehiy commented on #17123
i have the same ques.

view this in page `index.php?module=CoreHome&action=index&idSite=1&period=day&date=today&activated=&limit=100&mode=admin&type=&show=#?idSite=1&period=day&date=2021-01-01&segment=&category=General_Actions&subcategory=VisitorInterest_Engagement`

![image](https://user-images.githubusercontent.com/8297757/105471404-a9b60580-5cd5-11eb-99ac-3659ac4351bc.png)

[2021-01-22 09:19] EugenVau commented on #16149
Is there any chance for this to be fixed?

[2021-01-22 11:49] Findus23 opened #17136 "Error in console when trying to communicate with service worker in Firefox with persistant cookies disabled"
As reported on the forum: https://forum.matomo.org/t/firefox-84-promiseerror-securityerror-the-operation-is-insecure/40299/6?u=lukas

This can be reproduced by creating a fresh firefox profile (84.0.2 in my case), and opening forum.matomo.org.

​It seems like even if no service worker (for offline tracking) is set up, just trying to communicate with it fails.

https://github.com/matomo-org/matomo/

[2021-01-22 12:12] Findus23 commented on #17098
This is an intentional new feature
https://github.com/matomo-org/matomo/issues/16793

Ah, I think this is where the misunderstanding comes from. Matomo will never update itself automatically (without you initializing, like Wordpress now does with patch releases), but I think this setting just disables the update check.

[2021-01-22 12:24] narfk commented on #17098
I will try enable_auto_update for the next update and I will report the result here

[2021-01-24 00:43] tsteur commented on #16149
Hi @EugenVau it's currently not planned but feel free to create a pull request if you can and we'd be happy to review it. As some users prefer it to behave like it is currently it would need to be indeed configurable/optional.

[2021-01-24 00:48] tsteur commented on #17135
Hi @kamran364 I recommend you ask your question in our forum https://forum.matomo.org/ or maybe you can search for it on the internet. I think there are a few search results when eg search for `vue.js userId matomo`. Here in this repository we only manage bug and feature reports unfortunately but don't answer general questions. Thanks for understanding.

[2021-01-24 00:48] #17135 closed, assigned to nobody

[2021-01-24 00:55] tsteur commented on #17098
`enable_auto_update=0` would explain this @narfk I'm quite confident it will work once you set the setting to `1`. If it doesn't work feel free to comment any time and we'll reopen the issue. Thanks

[2021-01-24 00:55] #17098 closed, assigned to nobody

[2021-01-24 12:11] OnlineArts opened #17138 "Disappearance of segment archive data during 3.0 => 4.0 update"
As mentioned in the [Matomo forum](https://forum.matomo.org/t/archiving-of-newly-created-segments-since-matomo-4/40352), some users are not able to display historical segment data after the Matomo 4 upgrade.

We could observe, that after the Matomo 4 upgrade historical data (older than one month) disappeared from segmentation sites. By calling a segmentation overview we get the historical data fro

[2021-01-24 23:12] tsteur commented on #17138
Maybe it will be fixed by https://github.com/matomo-org/matomo/pull/17029 I wonder @diosmosis ?

@OnlineArts any chance you can post the output of your system check which you can find in "Administration -> System Check"? There should be an option to copy the system report (which is then anonymised). This would help us know eg about your report generation (archiving) settings etc.

[2021-01-24 23:35] tsteur commented on #17136
Thanks @Findus23 been debugging this:
![Screenshot 2021-01-25 at 12 29 14 PM](https://user-images.githubusercontent.com/273120/105647282-5af0b180-5f09-11eb-9654-2f9e259a49d6.png)

seems Firefox does not support "sync" yet see https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/sync

Created https://github.com/matomo-org/matomo/pull/17139 which should fix the issue.

The erro

[2021-01-24 23:37] tsteur commented on #17123
@robles-design is it maybe possible to share the information with some site data removed? Like the name or URL of the sites or if it says the number of visits you could also change that value randomly. We'd ideally have most of the output to fully understand if reports get invalidated and archived etc.

[2021-01-24 23:55] diosmosis commented on #17138
@tsteur it could be, depends on the segment definition. @OnlineArts would you be able to provide some of the segments that won't archive?

[2021-01-24 23:56] tsteur commented on #17050
So it be like

[code]

It would look like this when we receive the request:
[code]

And to know whether someone actually encoded the value we would look if there is a dollar character? Like `userId=$59595` then the value might be url encoded and replaced with a dollar or not? Or we assume any time there is a $ that it is urlencoded? Eg when you change above then in PHP to `userId=%59595` and `urld

[2021-01-25 00:25] diosmosis commented on #17050
Not quite. We only check for the old encoding to convert. So it'd be something like:

- check if '%' exists in value from `$_GET/$_POST`. if it does, it's encoded the old way, so convert to new way.
- if not (or after converting), we assume it's encoded with the new way, so `$` will always mean an encoded character

The value actually has to be encoded twice, and then the entire segment encoded on

[2021-01-25 00:52] tsteur commented on #17050
@diosmosis I'll need to read your comment properly tomorrow or in 2 days. Without thinking too much I wouldn't see an issue with changing the structure completely so things make a lot more sense instead of maybe ending up with similar issues and it would clearly let us know which variation / version is used etc.

It's probably unrelated but in future we might also support filters ( https://github.

[2021-01-25 01:00] robles-design commented on #17123
@tsteur do you have an email address for me?

[2021-01-25 01:13] tsteur commented on #17123
@robles-design hello@matomo.org

[2021-01-25 01:22] robles-design commented on #17123
@tsteur I send you a mail.

[2021-01-25 01:27] tsteur commented on #17123
Thanks @robles-design I suppose above screen you  see in idSite=4? Do you also have the same problem in other sites?

[2021-01-25 01:28] tsteur commented on #17123
@robles-design it be also great to post the output of the system report here which you find in Matomo -> Administration -> System Report. There you can copy the system report and it should be automatically anonymised.

[2021-01-25 01:29] robles-design commented on #17123
@tsteur yes in all sites as I wrote in the mail.

[2021-01-25 01:57] robles-design commented on #17123
@tsteur you have another mail. Please search for XXX in the file. Not all data was anonymised.

[2021-01-25 02:47] diosmosis commented on #17050
@tsteur i think https://developers.google.com/analytics/devguides/reporting/core/v4/migration#v4_8 is it (see the v4 version of API request payloads)

[2021-01-25 03:44] diosmosis commented on #17123
Hi @robles-design, if there are visits alongside the zero returning visitors metric, then the archive process is probably not at fault. Could you try the following things:

- check the API output of the `Behaviour > Engagement > Returning visitors` graph (via export URL). Does it also report 0 returning visitors?
- check the API output of the VisitsSummary.get report with the following segment: `v

[2021-01-25 04:36] robles-design commented on #17123
Hi @diosmosis

Yes

Yes

Yes, it selects visitits.

[2021-01-25 05:17] diosmosis commented on #17123
@robles-design can you run the following sql queries and show the output for both:

[code]

Replace `{idSite}` with the site ID, and `{idArchivesFromPreviousQuery}` with the idarchive results from the first query.

[2021-01-25 08:36] mkarg67 opened #17140 "Duplicate a Segement"
In addition to edit a segment a duplicate function would be nice. Often one creating a segment with a lot of conditions. In such cases it is likely that there have to be many of those segments with similar conditions. Duplication would make this process faster.

[2021-01-25 10:03] webmasterscd opened #17141 "Call to undefined function Piwik\Plugins\DevicesDetection\getClientTypeMapping()"
Good morning,
I got error 500 while upgrading v3 to v4 using the one-click upgrade option, so I backed up the server to the yesterday save and this error occurs...

Thanks for helping.

[2021-01-25 10:15] Findus23 commented on #17141
Hi,

The only report of this issue I can find is https://forum.matomo.org/t/call-to-undefined-function-problem-lasst-sich-nicht-losen/39512

Can you make sure that all files are the ones they should be and when in doubt replace them with the proper ones from https://builds.matomo.org/

It would also be useful if you could look in your server log to find the error you got with Matomo 4.

[2021-01-25 11:13] onelsonic opened #17142 "installing matomo under protected directory and tracking pages in unprotected directory"
I there, while checking the protection and security when running matomo on a server.

I found the following issue:

If you install matomo under a server protected directory like :
- mydomain.com/matomo/ (Htaccess protected)

If you need to track server protected pages everything is fine.

But when you try to track unprotected pages under the same server by adding the matomo JS script in your unpro

[2021-01-25 11:18] sgiehl commented on #17142
You need to ensure piwik.js/matomo.js and piwik.php/matomo.php are public accessible.
See https://matomo.org/docs/security-how-to/#other-tips for more details.

[2021-01-25 11:18] #17142 closed, assigned to nobody

[2021-01-25 11:23] onelsonic commented on #17142
@sgiehl thanks I missed this page.
I will check it out.

[2021-01-25 12:07] webmasterscd commented on #17141
Problem solved, I uploaded the new version of matomo in my server and I updated via command line (actually, database is too big to update via browser so I was redirected to the "error 500" page...)

Now version 4.1.1 is successfully running.

Thank you

[2021-01-25 13:36] sgiehl commented on #17080
@tsteur that actually is another problem. The calculation in javascript simply doesn't return the correct date.
https://github.com/matomo-org/matomo/blob/7cde69f763f2cbf2b9a27c8a7dcf7bcaa950c3bd/plugins/CoreHome/angularjs/common/services/periods.js#L198-L217

When period is month is tries to update the month only. For e.g. 2020-12-31 that would result in 2020-11-31, but as there is no 31th in Nove

[2021-01-25 14:21] robles-design commented on #17123
@diosmosis I'm not really sure if I did this right with phpMyAdmin, cause I'm not a SQL guy.

`SELECT idarchive, name FROM archive_numeric_2021_01 WHERE idsite = 4 AND period = 1 AND date1 = '2021-01-18 00:00:00' AND date2 = '2021-01-18 00:00:00' AND name IN ('done', 'donefea44bece172bc9696ae57c26888bf8a', 'donefea44bece172bc9696ae57c26888bf8a.VisitsSummary');`

Results:
[code]

`SELECT * FROM arc

[2021-01-25 15:05] OnlineArts commented on #17138
@diosmosis
The segments are all structured like: site-url starts with https://ourdomain.com.

I can see in the database entries (x_segment) the definitions are twice URL-encoded like: pageUrl=^https%253A%252F%252Fourdomain.com%252F

I assumed that should be
https%3A%2F%2Fourdomain.com%2F
% -> %25

I overwrote the definition with once URL-encoded values in the database but it did not change anythin

[2021-01-25 17:50] #17141 closed, assigned to nobody

[2021-01-25 17:52] Findus23 opened #17145 "Add Performance Metrics to Visits Over Time graph"
The main Visits Over Time graph can only display the pre Matomo 4 average generation time.

It would be great if the new performance metrics could also be shown there.

![grafik](https://user-images.githubusercontent.com/6266037/105745164-48449f80-5f3e-11eb-8d06-fe5cf3b440a0.png)

[2021-01-25 18:51] tsteur commented on #17145
refs https://github.com/matomo-org/matomo/issues/17013

[2021-01-25 18:53] tsteur commented on #17140
Thanks for creating this issue @mkarg67 I'll close this for now as a duplicate of https://github.com/matomo-org/matomo/issues/7246

[2021-01-25 18:53] tsteur commented on #17140
Thanks for creating this issue @mkarg67 I'll close this for now as a duplicate of https://github.com/matomo-org/matomo/issues/7246

[2021-01-25 18:53] #17140 closed, assigned to nobody

[2021-01-25 20:17] diosmosis commented on #17123
@robles-design thanks! You ran the SQL correctly. Looks like there is an archive for the returning visits metric, but it has no data (this is the one with idarchive = 74; it's there, but has no `nb_visits` metric). Can you run the following query and show us the output?

[code]

Afterwards can you try the following:

0. first check that there are visits in the visits log for 2021-01-18 (if no visi

[2021-01-25 21:22] nciske opened #17146 "The core:invalidate-report-data command is giving an invalid date error when given multiple dates"
I'm trying to invalidate the last week of archives so they can be re-run after some bulk updates.

I can get a single date to run just fine, but specifying multiple dates (per [this FAQ](https://matomo.org/faq/how-to/faq_155/)) barfs out an invalid date error every time.

- Matomo 4.1.1
- PHP 7.4 on Ubuntu 20.x

Example from FAQ:
`./console core:invalidate-report-data --dates=2012-01-01,2011-10-15

[2021-01-25 21:42] nciske commented on #17146
I've worked around this by putting each date in it's own line of a bash script, but I assume that is less performant than passing multiple dates in one go? Or not?

[2021-01-26 00:21] elrauk12 opened #17147 "Tag Manager Publish isn't pushing new Tags and Triggers"
Let me preface this by saying that I'm running 3.14.0. Yes, I know this is not the current version. We set everything up about 7 months ago and the Publish Tag Manager function worked fine. Now it doesn't, so this hardly feels like an update issue.

Now when we use publish, this is what happens:
- This "Updating data..." text displays for about 30 seconds, then just goes away with no confirmation

[2021-01-26 00:37] diosmosis commented on #17138
@OnlineArts this is possibly the same issue as #17029. Would you be able to apply that change, invalidate the segment data and run core:archive? This should archive the segment data.

[2021-01-26 01:56] robles-design commented on #17123
@diosmosis I forgot to run the first SQL query (sorry for that) and started with steps 0–4 with no success. The first time I invalidated the last month via the plugin, because there is no option for a date or date range. The second time I invalidated the date via the CLI. Both times core:archive runs without errors, but no returning visits were shown in the UI.

Step 5
[code]
[code]
[code]

Then I

[2021-01-26 02:58] tsteur commented on #17146
does it work to flip the date @nciske  ?

[code]

[2021-01-26 04:16] #17102 closed, assigned to sgiehl

[2021-01-26 04:22] #17099 closed, assigned to sgiehl

[2021-01-26 14:49] robles-design commented on #17123
@diosmosis returning visitors with cron enabled is still not working. All other reports work.

[2021-01-26 16:01] sgiehl commented on #5312
@mattab @tsteur what would be the preferred solution for this one? Based on the discussion above I would see the following possibilities:
* Automatically prefer `https` over `http`. That means we update the URL prefix option in the database once `https` was sent with a url, but `http` is set in the database
* Extend the measurable settings, so its possible to define whether `https` should be prefe

[2021-01-26 16:27] sgiehl commented on #12586
refs #5312

[2021-01-26 16:35] OnlineArts commented on #17138
Hey, it does not look like that. After changing the files I get an error instead of a graph. During the archive process later one I could not see the segments. But I could observe that even before changing the files and right now, after reverting the changes, too.

[2021-01-26 17:38] diosmosis commented on #17138
@OnlineArts that's unfortunate, could you show me the error?

And could you try invalidating a segment (via the plugin preferably) and running the following SQL query and posting the results:

[code]

Then can you load the segment in the UI and check the `&segment=` parameter and post it here?

[2021-01-26 18:30] #17136 closed, assigned to tsteur

[2021-01-26 18:45] tsteur commented on #5312
I suppose this could result in a LOT of updates and then when viewing the visitor log it could often change from http to https and back? That's if both http and https is used (like mentioned in comments above) but would work if all traffic is changed from http to https.

Thinking that looks a bit complicated for users and would want avoid adding more settings there if any possible.

Not 100% sure.

[2021-01-26 18:47] tsteur commented on #17147
@elrauk12 sorry about that. Any chance that you could create an account for us on your Matomo so that we could get roughly an idea what is happening there? Or maybe you could export the container so we could try and reproduce it? If so, can you send us an email to hello at matomo.org ?

There's a small chance it'll be fixed in the next release already but it's hard to tell.

[2021-01-27 00:35] nciske commented on #17146
It does work. Fascinating!

[2021-01-27 01:33] tsteur commented on #17146
👍  great, thanks for confirming. I'll adjust the example in the FAQ as it was wrong there. Thanks @nciske

[2021-01-27 01:33] #17146 closed, assigned to nobody

[2021-01-27 02:05] uhlhosting opened #17149 "Plugin is not active yet it broked the whole Matomo"
The latest dev branch its simply broken for some reason after installing the latest 4.x-dev branch, I get this:

An error occurred
Package "sentry/sentry" is not installed

the worst outcome of this, is that will render unusable the entire Matomo, they should have a better failsafe in place, or sorry is not possible one module will kill entire app. Thats a very poor application baseline for failsa

[2021-01-27 02:19] tsteur commented on #17149
Hi @uhlhosting thanks for bringing this up. Which sentry plugin do you refer to? Matomo should already do some basic checks before activating a plugin and not fail in theory. We'll try to reproduce it once we know which plugin it is.

[2021-01-27 06:36] hamburnyog commented on #17122
Hi, I would love to take a stab at this issue. I am learning how to contribute to open source and this looks like an amazing learning opportunity! Please let me know how can I start. 😄

[2021-01-27 06:51] uhlhosting commented on #17149
Hi, @tsteur SentryLogger, was mentioned above in the cli side where I tried to uninstall it, its stuck somehow now on that printscreen no matter what I tried from cli

[2021-01-27 07:11] ngothanhtam opened #17150 "Scheduled task"
Scheduled Task seems working once though i setup $this->hourly (It has run once and has stopped)
Must i need to configurate more?

class Tasks extends \Piwik\Plugin\Tasks
{
    public function schedule()
    {

        $this->hourly('remindMeToLogIn');
    }

    public function remindMeToLogIn()
    {
        $mail = new \Piwik\Mail();
        $mail->setFrom('noreply@xxx.com');
        $mail->add

[2021-01-27 07:51] sgiehl commented on #17150
Hi @ngothanhtam
Please use our forum for such questions. We usually don't answer questions here.
You can find some details on scheduled tasks here: https://developer.matomo.org/guides/scheduled-tasks
In general tasks are only executed when
* a archive:cron runs (which will execute the tasks afterwards if not disabled)
* when browser archiving is enabled: a random visit tracked or a visits to the s

[2021-01-27 07:51] #17150 closed, assigned to nobody

[2021-01-27 08:34] sgiehl commented on #17122
@hamburnyog Happy to hear you want to contribute. How familiar are you with Matomo already?
The issue is about email reports, so the correct plugin to start would be the ScheduledReports plugin.
The reports are generated in the API, so guess that needs to be adjusted somehow. See https://github.com/matomo-org/matomo/blob/4.x-dev/plugins/ScheduledReports/API.php#L317

[2021-01-27 09:23] jisse44 commented on #16993
Hi,

sorry for the delay, but yes I finally managed migration with a bash script, by getting read only user token_auth in DB before the upgrade.

[2021-01-27 09:23] #16993 closed, assigned to nobody

[2021-01-27 13:00] sgiehl commented on #5312
@tsteur I've created #17151 so at least the urls in visitor log & profile should be automatically changed to https if the https url is configured as site url.
For all action reports that might be a bit more effort. Currently the main site url will be used to build action urls while archiving. So when changing the main url to https new reports should automatically use that for building action urls.

[2021-01-27 14:56] Findus23 commented on #17149
As mentioned in https://github.com/Findus23/plugin-SentryLogger/issues/4#issuecomment-768338460 the way the plugin works is very experimental as both adding (a lot of) additional composer dependencies in a separate vendor tree and integrating Sentry by trying to load the SDK during plugin initialisation is not how it is intended to be used.
That's why I wrote into the description that the plugin i

[2021-01-27 15:09] futureweb opened #17154 "Fatal error in Matomo 4.1.1 when upgrading from latest 3.x Version with old maxminddb PHP-Ext"
Hello,

Matomo 3.x is working fine with  PHP-Ext
`maxminddb extension version 	1.4.1 & libmaxminddb library version 	1.3.2 `

But Matomo 4.1.1 will throw a Fatal Error with this Version if updated from 3.x ... (Error seen on SystemCheckPage)
`Call to undefined method MaxMind\Db\Reader::getWithPrefixLen() in /var/www/piwik/vendor/geoip2/geoip2/src/Database/Reader.php 232 using PHP 7.3.21`

You shou

[2021-01-27 19:38] tsteur commented on #17149
I've tried to reproduce this but couldn't. The plugin activation etc works without an issue for me. I was thinking maybe the `SentryLogger::__construct` causes an issue because there likely shouldn't be any code but it worked for me. I see there's a path hard coded to `plugins` dir which I created a PR for. I'll close this issue for now as it's likely an issue with the plugin itself but if we foun

[2021-01-27 19:38] #17149 closed, assigned to nobody

[2021-01-27 19:39] tsteur commented on #17154
Hi @futureweb have a look at this FAQ which should help: https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-call-to-undefined-method-maxminddbreadergetwithprefixlen/ Let us know if that's not the case and we'll be happy to follow up. Thanks

[2021-01-27 19:39] #17154 closed, assigned to nobody

[2021-01-27 19:43] tsteur commented on #16993
Great to hear @jisse44 thanks for letting us know 👍

[2021-01-27 19:53] mkindred opened #17156 "Can't use site search URLs for goal"
It seems that setting a goal based on the site search URL pattern doesn't work if you've enable site search tracking. I see that the typical pageview has been replaced by the site search icon in visitor logs, but it seems to me that the URL should still trigger the goal.

(I'm not sure if anyone in the [forum issue from years ago](https://forum.matomo.org/t/search-goal-for-searches-tracking-togeth

[2021-01-27 19:58] tsteur commented on #17156
Hi @mkindred thanks for suggesting this feature. That's indeed not possible yet unfortunately and the workaround be to track a goal manually see https://matomo.org/docs/tracking-goals-web-analytics/#how-to-manually-trigger-goals-in-matomo-with-javascript

[2021-01-27 20:23] HECFM opened #17157 "Can't make Matomo work with Discourse forum"
Hi the Matomo team and thanks for your great work !
Have been trying for 10 days now to link my self hosted Matomo instance fo my self hosted Discourse forum.

I followed the tutorial with the [theme component of Discourse dedicated to Matomo](https://meta.discourse.org/t/script-to-enable-matomo-analytics-on-discourse/33090).

On my Matomo home screen I've a message saying there is no date for the

[2021-01-27 20:38] futureweb commented on #17154
Hey @tsteur,
thx, I already figured the Problem out and updated maxmind PHP-Ext a few days ago when I updated ... :-)

What I'm suggesting is adding a check on 3.x -> 4.x Update if the maxmind PHP-Ext Version is high enough that it supports the getWithPrefixLen() Function (Version >= 1.5.0)
As Matomo 3.x is working with Versions < 1.5.0 but 4.x will throw the Error after Update with this Version .

[2021-01-27 20:47] tsteur commented on #17157
@HECFM I checked your website and the configured CSP is preventing to load our tracker. You'll want to have a look at https://matomo.org/faq/general/faq_20904/ and check how this can be configured in your server environment.

[2021-01-27 20:47] #17157 closed, assigned to nobody

[2021-01-27 21:01] HECFM commented on #17157
I already looked into the CSP aspect and here is what I already did in Discourse settings.
Do I need to add another thing ?
(edit removed by author)

[2021-01-27 21:03] tsteur commented on #17157
Hi @HECFM sorry I'm not so much familiar with how this works in discourse. I suggest you ask in the discourse forum how this can/needs to be configured.

[2021-01-27 22:52] #17077 closed, assigned to sgiehl

[2021-01-27 23:09] #17095 closed, assigned to sgiehl

[2021-01-27 23:26] tsteur opened #17159 "Tracking requests might not be loaded because of CORB"
In the browser developer console I see a warning linking to https://www.chromestatus.com/feature/5629709824032768 anyone seen this before?
See https://www.chromium.org/Home/chromium-security/corb-for-developers for more information.

HTTP with 204 seems to work but 200 blocked. `send_image=0` is used so it should have sent an HTTP 204 header. Actually... this output happens because of bulk request

[2021-01-27 23:59] alexymik commented on #17077
Thanks :+1:

[2021-01-28 01:08] hamburnyog commented on #17122
TBH, I just found out about matomo but I did similar reporting tasks before. Thanks for this response, gonna read this.

[2021-01-28 09:06] Littlericket opened #17160 "After updating to Matomo 4, UI for 2018 is empty but archive data is present"
Hi,

we've recently updated to 4.1.1 (from 3.x) and we're unable to view archived data for 2018, but archive data is present (also calculated nb_visits from archive_numeric). It seems like archived data is still there but somehow not visible on the UI, and we can't really explain why this happen. 2019 is working fine.

We also can't just invalidate the archive tables because raw logs are being rem

[2021-01-28 14:24] HECFM commented on #17157
Hi @tsteur I went to the Discourse forum and [the support team told me there](https://meta.discourse.org/t/forgot-to-edit-csp-when-adding-tracking-code-via-custom-component/174811/8) that they see the Matomo tracker loading just fine and that it isn't a CSP issue.
They are suggesting it might be on the Matomo side.

What can I do to make Matomo work on Discourse ?

[2021-01-28 14:37] Findus23 commented on #17157
@HECFM If you want to, we can continue this discussion on the Matomo forum: https://forum.matomo.org/
I can see on your site that the piwik.js is blocked by CSP as the firefox developer tools nicely show.

I'd recommend you to look into the `content security policy script src` discourse setting and add your Matomo domain there.

[2021-01-28 19:18] tsteur commented on #17160
@Littlericket it's hard to say without access to the database. Have you configured report deletions as well besides raw data deletion after 365 days? The data would then be removed though AFAIK so I'm assuming that's not the case. I can't think of a way how this would be related to the Matomo 4 upgrade so it might be caused by something else but you never know. (Maybe someone invalidated reports e

[2021-01-28 20:40] Starker3 opened #17161 "Graphical bug when viewing drop down menu for users permissions"
When changing a users permissions for a website, the dropdown menu shows the below users permissions above the dropdown menu.

![image](https://user-images.githubusercontent.com/20905821/106195830-9810b880-6215-11eb-8a76-ac33e33ea377.png)

![image](https://user-images.githubusercontent.com/20905821/106195874-a52da780-6215-11eb-863a-59e9e19264ca.png)

It does not however occur when the menu is abov

[2021-01-28 20:46] Starker3 commented on #17161
Additional info: This prevents you from clicking on the role and selecting it for that user if it is above the role you wish to choose.
For example the "Write" role above cannot be clicked because it has the "No access" from the below user above it.

[2021-01-28 20:47] sgiehl commented on #17161
Guess that might already be fixed with https://github.com/matomo-org/matomo/pull/17082

[2021-01-28 20:51] #17161 closed, assigned to nobody

[2021-01-28 21:57] Starker3 commented on #9982
It seems that the console core:delete-logs-data is still using UTC when deleting data.

If it uses UTC, how would someone delete the visits for a specific day for a website that is not UTC?

For example if we have a website in NZ with +12/13 and we delete the data for one specific day, it will only delete half of the data, and the other half it deletes would be for the wrong day.

At present the o

[2021-01-28 22:11] mattab opened #17162 "the "Compare to" button design has slightly regressed on firefox only"
the "Compare to" button design has slightly regressed on firefox only (seems ok on chrome)?
here is how it looks on cloud and demo2 on FF:

![Screenshot from 2021-01-29 11-06-25](https://user-images.githubusercontent.com/466765/106204931-9b5e7100-6222-11eb-848d-c1ec4a5d0aba.png)

but it used to look like https://matomo.org/wp-content/uploads/2019/10/Screenshot-from-2019-10-29-17-26-12.png

Would b

[2021-01-29 00:57] tsteur commented on #17050
@diosmosis random thought... what if at least the UI and the archiving was to send the segmentId instead of the segment definition? Like `&segment=11`. If the value is numeric we'd assume it's the ID etc. I understand though this would AFAIK still not fix the issue with the hash and would only work if we also stored the hash in the segment table. As far as I understand the segment would still need

[2021-01-29 01:04] diosmosis commented on #17050
Note: this also doesn't solve every problem, because the wrong encoding can still end up changing the segment value itself. For example, if the segment is `pageUrl == http://abc.com/def+ghi`, and the value is only double encoded in the URL, then matomo will think the segment is `pageUrl == http://abc.com/def ghi`, which will not match the correct visits.

So it's not *just* and issue w/ the hash.

[2021-01-29 02:55] tsteur opened #17163 "JS Error tracking should record the same error only once per page view"
When using the `enableJSErrorTracking`, then we'd want the same error to be reported only once per page view.

Otherwise if there's a loop causing errors, then you could be potentially dealing with thousands of tracking requests per user concurrently.

[2021-01-29 03:38] tsteur commented on #17050
I'm thinking the most urgent fix to solve is the hash problem as it causes bugs and results in confusing code. And I'm thinking this problem is independent of the encoding problems that we might read it differently etc and how a segment be best defined.

I reckon the hash problem could be solved maybe as a first step more easily eg by storing a hash in the `segment` table. This way we could likely

[2021-01-29 05:41] diosmosis commented on #17050
So for this, we'd have to in core:archive look for segment by hash stored in the table. But we could just urlencode the definition and use it to calculate the hash as is done in this PR w/ the API method? I'm not sure I see the need for an extra column. The definition will always be urldecoded once from the true value, it'll never be some sort of random encoding.

I'm not sure this is true. The ma

[2021-01-29 07:41] Littlericket commented on #17160
Hi @tsteur,

thanks for the quick reply! Unfortunatly I cannot give access to the database, but I'll try providing the result of the queries.
We haven't setup archive deletion, only the raw logs are getting removed. We've enabled this because the database of raw logs reached a few hundred gigs and we don't have that much RAM to keep all the data sets in memory.

Result of your first query (large r

[2021-01-29 07:44] skingoh opened #17164 "How to hide accessors's raw ip address without using "IP annonimaization"."
version :3.14.1(on premise)

I'd like to hide accessors's raw ip address from matomo's page "VisitLog".
I've already found a fuction "IP annonimaization" and tested it.
But I found a fact what the time to execute anonymizing for previews data is too huge than I expected.
So,I hope to deal with the problem temporarily.

If possible, I'd like to know either of the following methods.

①Hiding accesso

[2021-01-29 08:08] skingoh opened #17165 "Request for Hiding ipaddress without rewriting raw data from "Visitor ⇒ Visit Log" screen."
We use a Matomo in on-premises environment.

We are considering about suppressing to be displayed the accesor's IP address that can be confirmed by anyone on the "Visitor ⇒ Visit Log" screen, because of complying with the GDPR.

In advanse, We considered using the function "IP address anonymization" that already released, but we found the face it takes huge amount of times to rewrite all previews

[2021-01-29 09:03] sgiehl commented on #17162
That actually looks fine for me locally and on demo2 using Firefox on Windows.
But to be honest the current layout isn't good at all, as it won't work for various languages besides of English, as `Compare to:` has longer translations. For German it's `Vergleichen mit:`, which is always too long and the layout "breaks"

[2021-01-29 10:02] Pepelepep commented on #17069
Hi,

Indeed, this feature would be useful.

Many thanks,

[2021-01-29 20:45] maltsero commented on #16546
I have a similar problem:

 Upgrade from 3 to 4.1 over console: No stats on matomo anymore...
![grafik](https://user-images.githubusercontent.com/9378028/106325484-2f5c2700-627b-11eb-9508-ba0d9da629e7.png)
![grafik](https://user-images.githubusercontent.com/9378028/106325538-43078d80-627b-11eb-91dc-b58cf7e2bce1.png)

[2021-01-30 04:41] brijoyj opened #17167 "Update Matomo to 3.13 to 4.1.0 leads to blank page"
After upgrade Matomo is not working as expected.
I see a blank page https://xxx.com/index.php?module=CoreUpdater&action=

Logs:
I manually did console core update and leads to the following error. Verified the DB tables are updated.

ERROR [2021-01-30 04:49:23] 3387  Fatal error encountered: /var/www/html/libs/Zend/Db/Statement/Pdo.php(292): Allowed memory size of 134217728 bytes exhausted (tried

[2021-01-30 04:50] brijoyj commented on #17167
![image](https://user-images.githubusercontent.com/49916563/106347462-5a974400-6284-11eb-8654-b1990141a0d2.png)
Further i did all the plugins deactivate, still same issue

[2021-01-30 13:51] unikitty37 opened #17169 "Feature request: improve documentation on reading user consent state"
The guide at https://developer.matomo.org/guides/tracking-consent shows how to set and forget the user consent settings, but step 2 (asking for consent through your privacy notice) doesn't go into much detail on how to *read* the consent settings; the linked article in that section is more about the wording of the notice than implementation details.

Specifically, if we imagine the user's consent

[2021-01-30 16:31] #17049 closed, assigned to nobody

[2021-01-30 16:31] brijoyj commented on #17049
Facing a new issue now

[2021-01-30 19:33] traderjean opened #17170 "No server-to-server tracking when "Only track visits and actions when the action URL starts with one of the above URLs." checked"
Hey everyone,
Using an ecommerce API to track conversions. Tracking is working fine in JS. But the user conversion is sent from another server and seems like matomo is blocking it when the options "Only track visits and actions when the action URL starts with one of the above URLs." is checked.

Anyone has an idea how I can fix that ?
Thanks a lot.

[2021-01-30 19:33] traderjean commented on #17170
v

[2021-01-31 01:06] uhlhosting opened #17171 "Issues on map naming"
In swiss map the cantons are wrong displayed:

<img width="275" alt="image" src="https://user-images.githubusercontent.com/6324047/106371783-ceab1800-6368-11eb-81b9-b90ef71125fe.png">

This should be Zürich ,not Zrich . Such canton does not exists.

[2021-01-31 11:12] uhlhosting commented on #17171
@Findus23 more cantons have wrong name, I see wherever a üöä were used. Make sure to double check them all.

[2021-01-31 12:16] Findus23 commented on #17171
@uhlhosting
As you are probably more familiar with Switzer cantons than me, can you help me list the incorrect ones?

I fixed Zürich and Graubünden which seems to be all of them (according to https://de.wikipedia.org/wiki/Kanton_(Schweiz)#Liste_der_Schweizer_Kantone_mit_ihren_Eckdaten)

[2021-01-31 12:17] uhlhosting commented on #17171
I will double check and give feedback.

[2021-01-31 12:21] uhlhosting commented on #17171
Genève is also wrong

[2021-01-31 19:21] tsteur commented on #17170
hi @traderjean you will then need to set a page URL in the tracking request that matches a configured URL in Matomo.

If you're using the PHP tracker, that be for example `$tracker->setUrl()`. If you're using the Tracking API, you would need to use the `url` tracking parameter.

[2021-01-31 19:21] #17170 closed, assigned to nobody

[2021-01-31 19:26] tsteur commented on #17167
Hi @brijoyj sounds like there's a memory issue. Is there any chance you can increase the memory limit to say 256MB and try again? The update itself usually doesn't use much memory. However, it's possible that some query requires a bit of memory if you have eg a lot of users, or heaps of data or so. Do you remember from which version of Matomo you upgraded?

Be also great to let us know what exactl

[2021-01-31 19:48] tsteur commented on #17164
Hi @skingoh that would be only possible by developing a custom plugin unfortunately (see https://developer.matomo.org/develop ). It's unlikely we would be working on this ourselves as part of Matomo core since we already have the IP anonymisation feature (and the feature to anonymise previously recorded IPs which is too slow in your case). If it helps, you could unset possibly all IP values in the

[2021-01-31 19:49] tsteur commented on #17165
Hi @skingoh is this a duplicate of https://github.com/matomo-org/matomo/issues/17164 ?

[2021-01-31 22:42] tsteur commented on #17160
Thanks @literalplus Are you seeing the problem for "all visits" or only for some specific segments maybe?

[2021-01-31 22:47] tsteur commented on #16546
Hi @maltsero seems something went wrong there during the update. Any chance you can make modifications to the database by running a MySQL query?

If that's the case, can you execute:

[code]

You might need to replace the `matomo_` in `matomo_log_visit` with your table prefix. So this could be eg just `log_visit` or `piwik_log_visit` for example.

[2021-01-31 23:24] OnlineArts commented on #17138
Hi, it looks like that the segments are not considered during the processing. This site id has 5 segments defined. I did several tests and they are separated by "###" in the log.

[code]

After a while (2-5 min) the SELECT Statment will lead to an empty result.

``&segment=pageUrl%3D^https%25253A%25252F%25252Fourdomain.com%25252F`` is the requested parameter

The missing visitor graph says (in Ger

[2021-01-31 23:42] diosmosis commented on #17138
@OnlineArts can you try again w/ the following command:

[code]

(where the segment value is the same as in the query parameter) and w/ the changes in the PR I linked applied?

If the data for the segment exists in the Visits Log, then this would not be the cause. If there is nothing in the visits log for the specific period, then there wouldn't be any data to aggregate again (which you can get ba

[2021-01-31 23:55] diosmosis commented on #17123
@robles-design would you be able to apply this PR: https://github.com/matomo-org/matomo/pull/17168 and see if it solves your issue? You'll have to invalidate and re-archive the an old period to check.

[2021-01-31 23:55] OnlineArts commented on #17138
@diosmosis
**Edit:** I started command but it still runs.

Thank you for your fast response. I think we get closer to the current issue. The visit logs are empty for that dates, but our archives are going back until the year <2010. I was able to read out these compressed archives but it is not comfortable to read the arrays. Is there a non-destructive way to recover these data into Matomo or the v

[2021-02-01 00:09] diosmosis commented on #17138
The archives are aggregated using the log data, you can't go backwards from them to log data. Unfortunately, the only way to get them back into Matomo is by replaying webserver logs. You can replay logs of HTTP requests to your website (ie apache/nginx logs) or you can replay logs to your matomo instance (ie, logs of HTTP requests that go to your matomo.php/piwik.php) (this is the better choice as

[2021-02-01 00:25] OnlineArts commented on #17138
@diosmosis
Thank you for your answer again.
Unfortunately, we had to delete our weblogs due to the GDPR after seven days.

Does Matomo 4 upgrade change the behavior or default privacy settings? Or does Matomo "re-archived" everything during the upgrade and _lost_ the old deleted visit log/segment logs aggregates?

The only possibility I see to restore these data would be to write fake weblogs that

[2021-02-01 00:40] diosmosis commented on #17138
There shouldn't be anything that would result in such a change in settings.

Nothing in the upgrade would have deleted old log data. Only the related PrivacyManager feature should do this. What date did you update your Matomo? And what is the earliest date you are missing segment data? Can you check what the earliest visit_last_action_time value is in the log_visit table? You shouldn't be missing

[2021-02-01 00:51] OnlineArts commented on #17138
I updated Matomo on the first January. The first Matomo web page request for one segment was on the 11. January 2021 and thus we could see for this segment only data until the 11. December 2020. Later we opened another segment page at the 23. January and get only data until the 23. December.

Right, but the segments are older and contained old data before the upgrade ;-)
[code]

[code]

Just for i

[2021-02-01 01:32] diosmosis commented on #17138
@OnlineArts ok, I understand what's happening now. AFAIK nothing should be deleting old segment reports automatically. You should be able to restore the old blob data from your backup, but if there's something strange going on then you'll keep losing data. Can you post your settings for the "Regularly delete old raw data" and "Delete old aggregated report data" sections? In the meantime I would re

[2021-02-01 01:42] OnlineArts commented on #17138
How could I trace that? By observing the blob data table sizes?

It was set to 30. I disabled that today. I don't think that this loss of older data than 30 days was by chance.

This was and is disabled.

Unfortunately, only for seven days and we realized that one week too late. I will initialize tape backups on a weekly basis.

Yes, on all segments of all our site IDs.

I can not swear that this

[2021-02-01 01:44] OnlineArts commented on #17138
Is there a way to identify the Matomo version from a database dump? I would like to setup a Matomo instance from the old dump and see would I could get out of data there.

[2021-02-01 01:48] diosmosis commented on #17138
It would be in the `option` table `where option_name = 'version_core';`

[2021-02-01 02:02] tsteur commented on #17169
Hi @unikitty37 thanks for creating this issue. From what I see by looking at the code it's actually not possible to do yet. You can only find out if consent was given or not pretty much. I guess the idea was that a user would manage this as part of their consent tool or custom consent implementation.

With eg `hasRememberedConsent` you can find out if the user has given you consent but you can't f

[2021-02-01 02:06] diosmosis commented on #17138
You could monitor it by checking whether segment data from tables were suddenly going missing. For example, queries like `SELECT COUNT(DISTINCT name) FROM archive_numeric_2021_01 WHERE name LIKE 'done%'` and `SELECT COUNT(DISTINCT name) FROM archive_blob_2021_01 WHERE name LIKE 'done%'`.

I would check the counts before and after each core:archive run. If something is deleting the data automatical

[2021-02-01 03:05] tsteur opened #17173 "Improve tracker performance when using custom dimensions (one less update query per tracking request)"
Now that custom dimensions is included in core I think we could improve the performance of the tracker and have less updates.

Currently, as soon as a custom dimension is configured for a site, we execute an additional query like `UPDATE log_visit SET last_idlink_va = '2222' WHERE idsite = '1' AND idvisit = '3333'`.

We could maybe get rid of this extra update query for existing visits if we knew

[2021-02-01 03:15] tsteur opened #17174 "Performance improvement when using only visit custom dimensions (one less update query per tracker request)"
I didn't really look in the code but thinking this query here only needs to be executed when an action custom dimension is used: https://github.com/matomo-org/matomo/blob/4.1.1/plugins/CustomDimensions/Tracker/CustomDimensionsRequestProcessor.php#L49-L51

Not sure it's used for visit custom dimension as a time spent on one action wouldn't be that useful? If I see this right then we shouldn't execu

[2021-02-01 03:17] tsteur commented on #17174
actually this is already done. just the method name was not clear

[2021-02-01 03:17] #17174 closed, assigned to nobody

[2021-02-01 05:01] robles-design commented on #17123
@diosmosis it works! Thank you!

[2021-02-01 07:03] #17171 closed, assigned to nobody

[2021-02-01 08:07] Littlericket commented on #17160
@tsteur this is the case for "all visits" and also all defined segments.

[2021-02-01 12:34] cbeams commented on #15625
I am running Matomo v4.1.1 and still seeing the old, erroneous epoch time expiration values in the cookie. If I understand this issue and the linked PR correctly, this problem got fixed and integrated back in the 3.x line. How could it be that I'm still seeing this behavior? Anyone else still having the problem?

[2021-02-01 12:44] dev-101 commented on #15625
Have you tried to sign-out and sign-in? This step was required to complete the fix iirc. But, I guess you already tried that. So far, no issues here since the original fix.

[2021-02-01 12:53] cbeams commented on #15625
Sorry, I just realized that I am in fact seeing the proper date string, not the old unix time string, and I even see that the date is updated on every refresh within the same session. Currently the expiry time reads "2021-07-31T10:10:33.600Z", but regardless, I still get logged out. Not sure what the problem could be. I've tried logging out, etc. It's as if the cookie just isn't being read / respe

[2021-02-01 13:12] dev-101 commented on #15625
Maybe session file on your server gets removed for some reason. Don't know what could be the problem.

[2021-02-01 13:12] cbeams commented on #15625
False alarm. I've played with this further, and now everything is working as expected. I don't know exactly what made the difference, but perhaps I hadn't fully / properly tested by logging out, quitting the browser and restarting before. All good now.

[2021-02-01 13:26] OnlineArts commented on #17138
@diosmosis
Thank you. I could find a backup from the 1st of January and will check that out. I will take action for future updates and archiving procedures.

Since I'm not the [only one](https://forum.matomo.org/t/archiving-of-newly-created-segments-since-matomo-4/40352) with this issue would be great to find a solution. Maybe #11394 is related to that too. Could indicating something is going on d

[2021-02-01 14:23] sgiehl commented on #17159
@tsteur I'm not very deep into CORS/CORB, but based on the description CORB is only applied for this type of content: JSON, HTML, XML. According to your screenshot, the bulk request returns a json, with http 200. Maybe the response type is the problem in that case. BulkTracking currently has it's own response handler, which always uses json. See https://github.com/matomo-org/matomo/blob/4.x-dev/pl

[2021-02-01 14:44] brijoyj commented on #17167
I have 2 GB Ram allocated in OpenShift. We are using Nginix Web server for Matomo. We tried upgrading from 3.4.1 to 4.1.0.

i meant to say manually using CLI commands (./console core:update) and it list all the sql queries. So i manually copied and pasted to my MySQL server and ran it. Hope it answers u r question

[2021-02-01 17:18] diosmosis commented on #17138
@OnlineArts the forum issue appears to be a different issue (new segments not triggering archiving of past data, rather than pre-existing past segment data disappearing). I'm definitely not sure why this would happen to your matomo.

One thing that might be worth checking: load the backup into a new database for a new matomo, then update it w/o doing anything else and see if the segments disappear

[2021-02-01 21:39] Lakkanna opened #17175 "Is it possible to filter matomo reports based on dynamic values for multiple custom dimensions while embedding the reports"
Hi, i have multiple customDimensions based on the dynamic value is it possible to show matching records only in report?
i tried to use custom report plugin but there i need to create each report for one value, which is not easy to maintain.

customDimension1='first-value'
customDimension2='second-value'

`https://example.com/index.php?module=Widgetize&action=iframe&secondaryDimension=eventName&dis

[2021-02-01 23:25] tsteur commented on #17160
@Littlericket thanks for this. Can you execute the query

[code]

also only for a specific idsite where you experience this? This might help better understand things. eg add ` AND idsite=1` to the `WHERE` clause.

[2021-02-01 23:27] tsteur commented on #17167
Any chance you can execute `./console core:update` again on the command line and proceed? Maybe it runs through on the CLI to finish the update. If you could otherwise increase the memory for PHP that would likely fix the issue too.

[2021-02-01 23:28] tsteur commented on #17175
@Lakkanna does maybe Segmentation work for you see https://matomo.org/docs/segmentation/ and https://developer.matomo.org/api-reference/reporting-api-segmentation ?

[2021-02-01 23:57] tsteur commented on #17159
I reckon to solve this issue be great if it also supported `send_image=0` I suppose and then returned an HTTP 204. There should be no reason for returning JSON in a JS tracker request. And we're not reading the response.

The `send_image` would need to be set along `{requests: [], token_auth: 'optional', send_image:0}`. Be great to add this 👍

[2021-02-02 00:05] tsteur commented on #16990
It should also say to never ever share this URL with the replaced token with anyone else.

[2021-02-02 07:58] Lakkanna commented on #17175
i checked segmentation, i didn't find way to integrate with **Widgetize** module, filtered data can be used only through API's?

[2021-02-02 08:10] Littlericket commented on #17160
@tsteur sure! Limited to idsite=1
Result set is at https://s.littlericket.me/lu8tryt918

[2021-02-02 08:22] Sayeeda12 opened #17176 "this.getRequest function doesn't take additional parameters that it internally can pass to private getRequest function"
I want to use getRequest() of Matomo - the one which takes 3 parameters including custom data and plugin function. But since it is a private function, we must call this.getRequest(). But this function only takes request and is almost useless for us because the full capabilities of the private getRequest() aren't met. Please help me achieve this.

[2021-02-02 08:56] 4ev opened #17177 "Actions of events are not considered correctly"
Does not correctly count the actions of events, in one year less than one day

16 events in one day, and 13 events in the whole year

What to do to recalculate the actions of events?

[2021-02-02 09:48] Atala commented on #16942
Hey

I got the same problem here (I think).

If I understand well, a simpler solution would be to be able to access the page view ID from javascript code (`configIdPageView`, `getConfigIdPageView`), so you can send it along to your PHP/backend code and then fill the `pv_id` param to your backend track request.

However it seems to me that I can't access this property on the global `Matomo` object

[2021-02-02 11:06] Lakkanna commented on #17175
i got the solution, i have suffixed **&segement=dimension1==value1;dimension2==value2** to the widgetize module url, it's seems working, thanks

[2021-02-02 11:09] Sayeeda12 opened #17178 "_idvc is no longer available with Matomo 4"
We used idvc to manage visits but I don't see it being passed as part of the request anymore. Is this changed? How do we know which session the visitor is in? How can I get the visit count now? Please help

[2021-02-02 11:09] Sayeeda12 commented on #17178
_idvc *

[2021-02-02 12:40] voxspox opened #17179 "Tracked dimension with a value of '0' does not appear in the Visitor Profile"
Hi,

I'm tracking utilizing the HTTP API. If I set the value of a dimension to `0` then it somehow disappears p.ex. `?idsite=1&rec=1&dimension5=0&...`
Despite of that, I can see *all* other dimensions of the *same* request in the `view visitor profile` box. Setting `dimension5` to `1` works also.

[2021-02-02 14:41] sgiehl commented on #17177
Hi @4ev.

Thanks for creating the issue. Based on the images you had added in an earlier version of the issue it seems you are referring to results of a search in a report. If this is the case, this can be explained quite easily.
When a report is built the dataset is limited to a configured amount of rows. Depending on the report type that might be for example 500 rows. So when a daily report is b

[2021-02-02 14:41] #17177 closed, assigned to nobody

[2021-02-02 17:41] tsteur commented on #17175
Great, glad this works @Lakkanna

[2021-02-02 17:41] #17175 closed, assigned to nobody

[2021-02-02 18:45] OnlineArts commented on #17138
@diosmosis
You're right, that is something different.

Now it's getting weird. I could restore our database with Matomo 3.14.1 from the first of January 2021 and see our segment data until the 1st of December 2020.

I restore now the database again but this time overwrite the option "delete_logs_enable" to NULL before I'm starting the web page. Let's see.  Could it be, that the segment data are fa

[2021-02-02 19:23] OnlineArts commented on #16933
Hey, we could observe the same drop since the Matomo 3.14.1 to Matomo 4.1.1 upgrade at the first of January 2021.
![matomo_visits](https://user-images.githubusercontent.com/17415804/106651301-43ae6580-6594-11eb-8fb9-4dec128c8b16.png).

File integrity is fine. The performed the transformation of utf8 to utf8mb4 of the database at this day too.
**Edit** by changing the CSP we got back all visits.

[2021-02-02 19:29] tsteur commented on #17160
Thanks @Littlericket This looks good to me. Eg I see a `done` archive for that idSite & month meaning `all visits` should show data. I'm assuming you're seeing data for December 2018?

Could you also query the data for the year like this?

[code]

[2021-02-02 21:54] OnlineArts commented on #17138
Gotcha!
Performing the following SQL updates immediately after the database import before opening the web page allows me to see all our lost segment data! But after executing once the core:archive I lost them all until the 1st December again.
[code]

The most tricky question: is it possible to merge those two databases? the old backup with the current tracking database? They diverse since 32 days

[2021-02-02 22:25] diosmosis commented on #17138
@OnlineArts

Do you have the output for this core:archive run? If you can replicate the incident and run core:archive w/ -vvv and post or send me the output, that would help me diagnose the issue.

Yes, it's possible, you'd just need to use the archive data for the old backup until the data loss ends. So inserting archive_numeric & archive_blob data in the old backup to the new database if the new

[2021-02-02 22:33] OnlineArts commented on #17138
@diosmosis

Yes, I will do that. It just takes some hours to load the dump again.

[2021-02-03 01:43] skingoh commented on #17165
Hi. @tsteur Thank you for reply.
I'm sorry to raise similar issue duplicately. I'll close here.

About the other issue #17164, we're refering for the comment you wrote and considering to determine our direction.

regards.

[2021-02-03 01:43] #17165 closed, assigned to nobody

[2021-02-03 01:50] diosmosis commented on #17179
Can you show exactly what you mean? I checked quickly locally and setting a value to `0` worked for me:
<img width="446" alt="image" src="https://user-images.githubusercontent.com/125140/106686427-199e7880-657f-11eb-8076-5fe4c2b2be87.png">

Also if you could provide your matomo version and version of CustomDimensions that would help.

[2021-02-03 01:59] diosmosis commented on #17178
Hi @Sayeeda12, the _idvc parameter is no longer used after Matomo 4, the visit count is now determined server side via a running counter. Can you explain what you use the parameter for and how you use it? To get the information now you'd have to use the `Live.getLastVisitsDetails` API.

[2021-02-03 02:10] diosmosis commented on #17176
Hi @Sayeeda12, can you please explain why you need this? Generally for the tracker it's expected to call the `track...` that will actually send the request to track something. Do you need the tracking URL for some reason?

[2021-02-03 05:07] Sayeeda12 commented on #17176
Hi colleagues,

         I wanted to use this function to generate a full request along
with plugin callback. So I could use this request and manipulate it before
sending it to the batching queue.

Thanks,
Sayeeda

On Wed, 3 Feb, 2021, 7:41 am dizzy, <notifications@github.com> wrote:

[2021-02-03 05:12] Sayeeda12 commented on #17178
Hi,

   It's unfortunate that idvc is removed. We use it heavily to determine
visits and manage sessions in our JS analytics library. It is used as part
of our request and within customRequestProcessing, we do a lot of
operations based on this parameter.

You say that it's handled at server side now. But is it still dependent on
sessionCookieTimeout? Earlier when session timeout expired, visit cou

[2021-02-03 09:37] datango commented on #16868
I still have the problem that the column config_browser_name is not added by console core:update. I had to add it manualy. Otherwise console core:archive produces errors. (Matomo 4.1.1)

[2021-02-03 09:40] datango opened #17181 "Matomo 4 - Missing field config_browser_name in table log_conversion"
I still have the problem that the column config_browser_name is not added by console core:update. I had to add it manualy. Otherwise console core:archive produces errors. (Matomo 4.1.1)

"Mysqli prepare error: Unknown column 'log_conversion.config_browser_name' in 'field list' - in plugin DevicesDetection

Related: #16868

[2021-02-03 09:43] datango opened #17182 "tcpdf - Warning - array_merge(): Expected parameter 1 to be an array, null given - Matomo 4.1.1"
matomo/vendor/tecnickcom/tcpdf/include/tcpdf_fonts.php(2010)
Warning - array_merge(): Expected parameter 1 to be an array, null given - Matomo 4.1.1

(when running  ./console core:archive)

[2021-02-03 11:03] Littlericket commented on #17160
Hi @tsteur, again, thanks for the support!
There is no visible data in the UI when viewing december:
![image](https://user-images.githubusercontent.com/1573629/106738081-cc221a00-6617-11eb-9da8-269d45a1154c.png)

Heres the result set of your given query: https://s.littlericket.me/syminfdbdr
Also "almost" the same query (without the value column because of binary) for the blob archive: https://s.li

[2021-02-03 12:41] unikitty37 opened #17183 "What happens when a user denies consent and grants it later in the same session?"
(thank you, GitHub, for submitting the form when I pressed Enter in the subject box… how useful)

https://github.com/AmazingDreams/vue-matomo/issues/47 implies that, if a user denies consent and then later grants it in the same session, all the events that took place between denying consent and granting it will be tracked.

Is this true? My reading of GDPR is that, as consent was denied for those

[2021-02-03 13:06] unikitty37 opened #17184 "Event tracking documentation link to tag manager installation does not link to anywhere useful"
The document at https://matomo.org/docs/event-tracking/ states "If you have Matomo Tag Manager installed, it is the easiest way to implement event tracking on your site." Underneath it, there is a set of instructions, the first of which is "Set up and configure Matomo Tag Manager (create a container and install the container code)" which is linked to https://matomo.org/free-tag-manager/#how-can-i-

[2021-02-03 13:09] Pilot001 opened #17185 "archiving job runs forever due to MultiChannelConversionAttribution"
After upgrading our testing system (with very little traffic) from 3.14.1 to 4.1.1 our monitoring system alerted due to a rapid increase of the database binary logs. Investigation showed that the archive cron job (running once an hour), which usually takes a few seconds to finish, was running about 2 hours (with 2GB max_memory) and then stops because of out of memory.
Next time, the job started, i

[2021-02-03 13:26] nebulade commented on #15625
To get some better picture, I am facing the same issue and upon some investigation, I've seen that it our instance never stores session files on the disk, but rather appears to have a `session` table in the database.  What is the connection between that table and the login session or are these some other kind of sessions?

[2021-02-03 13:32] sgiehl commented on #15625
@nebulade Matomo switched to using database sessions instead of files a while ago. So the table should hold all login sessions.

[2021-02-03 13:36] sgiehl commented on #17185
@Pilot001 thanks for creating the issue. We are already working on some archiving related issues. Could be possible that the issue causing your problems might already be fixed.
Guess @diosmosis might be able to say more here.

[2021-02-03 13:49] sgiehl commented on #17184
Hi @unikitty37
We are constantly trying to keep our documentation up to date. In the last few months we have even completely revised parts of it. It is quite possible that at one or the other place a link was overlooked and not updated correctly. Many thanks for the hint. We will try to adjust the broken links as soon as possible.

I guess the page you are looking for might be this one: https://ma

[2021-02-03 13:51] unikitty37 commented on #17184
Thanks — I was quite surprised to find out that the container it referred to was nothing to do with Docker, actually 🙂

[2021-02-03 13:56] nebulade commented on #15625
Thanks for the clarification @sgiehl !

[2021-02-03 15:53] vsatmydynipnet opened #17186 "BUG: FreebSD 12.2 + PHP 7.4 + Matomo 4.1.1"
FreeBSD 12.2
Matomo-Version: 4.1.1
MySQL-Version: 5.6.50
PHP-Version: 7.4.14
python37-3.7.9

# Problem: Script to import Log Files fails since Update from 3.14 to 4.1.1 with:

importing Matomo ID 8 from partnerwelt.domain.tld without botsFatal error: `php /usr/local/www/matomo/misc/cron/updatetoken.php --matomo-domain=analytics.domain.tld` failed with error: PHP Fatal error:  Uncaught InvalidArgum

[2021-02-04 00:58] tsteur commented on #17184
@mattab are we maybe putting these issues into our KB project in the future?

[2021-02-04 01:01] tsteur commented on #17160
@diosmosis do you maybe have any idea?

@Littlericket I know you already said it's not possible to give us access to the DB. If there's otherwise the chance you could send us a dump of an entire archive table that be great. We would likely not need any other data.

[2021-02-04 02:25] diosmosis commented on #17160
@Littlericket some ideas to help diagnose:

- could you try loading an API request for the data like: `index.php?module=API&method=VisitsSummary.get&period=day&date=2018-01-01&idSite=1&token_auth=...`

- if that doesn't return data, could you add the following script to the root of your matomo install and run it from the command line (then remove it)? (you'll have to set the username/password in t

[2021-02-04 03:20] diosmosis commented on #17176
Hi @Sayeeda12, tracker plugins can be used to accomplish this: https://developer.matomo.org/guides/enrich-js-tracker#hooking-into-plugin-events. `getRequest` will execute plugin methods based on what type of request is being sent: https://github.com/matomo-org/matomo/blob/4.x-dev/js/piwik.js#L3759 . The first argument to plugin methods (which is not shown in the examples in the linked document) wi

[2021-02-04 03:20] #17176 closed, assigned to nobody

[2021-02-04 03:26] diosmosis commented on #17178
Hi @Sayeeda12, the visit count is incremented server side if the last visit time was further in the past than the visit length configured in matomo.

If you need it client side it would probably be easiest for you to simply keep track of it yourself. You can create a cookie value holding the last visit time and the current visit count. If the current time for a page view is `> the last visit time

[2021-02-04 03:26] #17178 closed, assigned to nobody

[2021-02-04 03:30] diosmosis commented on #17181
What version were you updating from? After adding the column were you able to update successfully?

[2021-02-04 03:53] mhfa1380 opened #17188 "persian lang bug and non-responsive in phone"
Hi,
First problem, Not all texts are fully translated in persian language , For example, you are advertising in a part of the site and suggested that it use other features of the program as well, and the text is entirely in English, if it was translated into other languages, it would be very helpful.

the second problem is that some of the numbers that are mixed with the letters have their format

[2021-02-04 03:57] diosmosis commented on #17182
@datango Are you using any scheduled reports? Can you try clicking the 'Send report now' link for each on the 'Email Reports' admin page to find which one is causing this error?

Can you also provide the core:archive output?

And can you let us know if you're using matomo from git or are installing composer dependencies yourself?

[2021-02-04 04:32] diosmosis commented on #17185
@Pilot001 could you explain what you mean by the `core:archive` command generating CSV files in the tmp directory? This shouldn't be something that command does (at least not with raw blob data).

Did you recently install or activate MultiChannelConversionAttribution? If so, can you deactivate it and see if the archive job runs?

[2021-02-04 04:46] diosmosis commented on #17186
@vsatmydynipnet what user did you run the import_logs.py script with? Will it work if you run it with the `www` user?

(Note: you can also set the token auth manually via the `--token-auth` parameter)

[2021-02-04 05:11] datango commented on #17181
I made an update from version 3.13.3 to 4.1.1. I also had to add
ALTER TABLE piwik_log_visit ADD COLUMN config_client_type tinyint(11) NULL;
For debuging i installed a second new matomo in a different database. I can see some differences:

For example
- referer_name is varchar(70) in my old piwik/matomo-installation and we have referer_name varchar (255) in the new installation.
- referer_url is m