[2022-03-18 10:49] jonathonbyrdziak commented on #18941
I believe that I am using cookies.

[code]

[2022-03-18 11:23] jonathonbyrdziak commented on #18941
Yea, I'm definitely using cookies.

![image](https://dr5j5pergsi3v.cloudfront.net/5qtx%2Ffile%2F7244acbeafe2d72ad5ca118e7d6d0df4_Screen+Shot+2022-03-18+at+4.10.49+AM.png?response-content-disposition=inline%3Bfilename%3D%22Screen%20Shot%202022-03-18%20at%204.10.49%20AM.png%22%3B&response-content-type=image%2Fpng&Expires=1647602484&Signature=VBwKkeGuN4--R2dzsVgJ2jgRdIdSLbQhXCti-X4FiquKxv9WH47yLr9JG1

[2022-03-18 13:11] HCl-not-HCi opened #18967 "System check - don't request private directories when disabled"
I think there is a regression regarding #17589. When I run the system check, matomo requests the `global.ini.php` despite `enable_required_directories_diagnostic` is disabled. If I remember correctly, it worked when the option was first released in 4.6.0.

## Expected Behavior
If I disable `enable_required_directories_diagnostic`, matomo should not use HTTP requests to check whether `/config/globa

[2022-03-18 19:20] jonathonbyrdziak commented on #18941
Investigating the problem further and I've found that the js tracker is sending the appropriate visitor to matomo.php

[code]

[2022-03-18 19:39] jonathonbyrdziak commented on #18941
here's the debug report for the tracker.
[code]

I checked the cookie for the website and it has 08c6f42bd5728f2b set against the website's domain/cookie. The matomo domain cookie has a different value, which is from the response to matomo.php.

I'm noticing in this debug report that while the cookie seems to get updated, no value is specified. don't know what that means...

[2022-03-18 19:58] sjvolkmann opened #18969 "Track visitor preferences with Matomo"
Many websites also have settings for people who are not logged in, such as dark theme or larger font size. It would be useful and helpful if Matomo could summarize their use in statistics.

[2022-03-18 20:27] sgiehl commented on #18969
Hi @Killarnee. You can achieve that by using custom dimensions: https://matomo.org/docs/custom-dimensions/

[2022-03-18 20:44] jonathonbyrdziak commented on #18941
I used the querystring to disable the queued tracking that I had turned on, &queuedtracking=0. Upon producing the following debug report, I noticed that it clearly states the idvisitor as being correct and stored in the db.

So I check the db and was able to successfully find my visit. I'm going to disable queued tracking site wide and retest to see if that solves my problem. Here's the debug repo

[2022-03-19 10:57] SaJord opened #18977 "Missing data for one day when using the standard reports widget visits over time"
I am missing tracking data for one day with the standard widget visits over time in the standard report. The tracking works as I see the missing data when I set up the widget for visits over time with all continents.

<img width="749" alt="image" src="https://user-images.githubusercontent.com/101928044/159117992-07bc21c5-3ce3-4986-afa2-a29bd066fd98.png">
Der HTML code ist: https://einfach-kochen-u

[2022-03-20 08:13] jonathonbyrdziak commented on #18941
I disabled queues tracking and my problem went away. I’ll have to dig into queued tracking at a later date to provide more details

[2022-03-20 20:30] justinvelluppillai commented on #14588
@jonathonbyrdziak what version of Matomo are you using?

[2022-03-21 13:25] mikkeschiren commented on #18957
Another use case - if you have archives that take more than 24h to finish - they should not be invalidated if you provide the flag when starting a parallel job.

[2022-03-21 13:48] Makathen opened #18976 "Matomo API Funktion ImageGraph not generating nb_uniq_visitors on period month"
When using the API for our Matomo we wanted to generate an ImageGraph with the folowing API call that represents the uniqe Visitors, the visits and the pageviews:

OurURL/index.php?module=API&method=ImageGraph.get&idSite=1&apiModule=API&apiAction=get&period=month&token_auth=OurToken&date=2021-01-01,2021-12-31&columns=nb_visits,nb_pageviews,nb_uniq_visitors

# Expected Behaviour
The ImageGraph is g

[2022-03-21 14:42] sgiehl commented on #18976
@Makathen Thanks for creating this issue. The unique visitor metric actually should be available for this report.
I was able to reproduce that locally but couldn't quickly to sort out, why the graph can't display it.
The report `API.get` is actually a very special one, as it tries to combine all other available `get` reports. Maybe the column gets unavailable while combining those reports. Guess w

[2022-03-21 14:44] sgiehl commented on #18957
@mikkeschiren Do you have any specific issues around the invalidation. From my understanding an invalidated archive might still be used for displaying reports until a new archive has been fully finished.

[2022-03-21 16:07] mikkeschiren commented on #18957
There is a couple of issues - one example: in some cases, we need to run cronjobs in parallel for days, weeks, months, years. And the invalidation often comes to more or less a race condition, adding new invalidations when we have archives that need to run for a long time.

[2022-03-21 20:52] sjvolkmann commented on #18969
@sgiehl Thanks, I've tried it, but I think it fits better with the built-in standard metrics like display width. I mean settings like [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme), I don't know if you can track this with JavaScript at all, but it's worth a try.

I would be happy if this idea would be pursued further.

[2022-03-22 04:25] jmumby opened #18978 "Add hits to all websites dashboard metrics"
The All websites metrics does not currently list individual hits per site.

## Summary
For Cloud customers that are agency's they would like to bill hits as Cloud does, but this is not possible to accurately measure as hits is not included in the all websites dashboards metric.

Can we have hits added to the All websites dashboard in total and per site?

[2022-03-22 08:39] sgiehl commented on #18969
@Killarnee Tracking CSS properties with javascript is possible. But it also requires some special css, which can be access by the javascript. E.g. some sort of element that is only visible for certain css media selectors and then check in javascript if it is visible or not. Nevertheless this wont be something we will include in core, but this might be a candidate for an additional plugin.

[2022-03-22 09:16] Chardonneaur opened #18979 "Add a search bar to the transition report"
Hello,
There is currently no possibilities of searching for a given URL within the transition report.
Can you please add it?

[2022-03-22 21:25] diosmosis opened #18981 "[Vue] initial page load performance test"
Given that the current Vue migration has resulted in a total of ~300kb being added to Matomo's gzipped JavaScript (w/ all premium features), it seemed like a good time to run some performance tests and check whether performance has degraded. Talking to @tsteur, it was determined that page load time is the only important metric to look at.

To test the frontend I used demo2 in three different state

[2022-03-22 22:04] diosmosis opened #18982 "[Vue] Performance improvement: make getCoreJs/getNonCoreJs load via defer"
Refs https://github.com/matomo-org/matomo/issues/18981

One potential improvement to page load time: currently the getCoreJs/getNonCoreJs controller actions are synchronous, meaning page load is blocked until they finish, and they can't be split apart and loaded in parallel because of inline scripts that assume they have already been loaded.

The Vue migration will slowly move more of the code cur

[2022-03-22 22:14] diosmosis opened #18983 "[Vue] Performance improvement: use scoped styles and load plugin styles on demand too"
Another potential improvement to page load time: all of Matomo's styles are currently loaded synchronously in one request. It doesn't take much time, but there would be a performance improvement, if the file was smaller.

If the styles were moved to Vue modules as scoped styles, then for plugins that are loaded on demand, the styles could be removed from the main merged stylesheet.

To accomplish

[2022-03-22 22:39] diosmosis opened #18984 "[Vue] Performance improvement: avoid full page loads and use the pushState API"
Currently, in many instances, when changing the page, Matomo will redirect to another URL, instead of just changing the hash, doing a full page load. This means JS & CSS will have to be reloaded and parsed again. (Most of the time it will be cached server side, but it still appears as a break in the UX that doesn't have to be there.)

Avoiding page loads would require:
* finishing the initial Vue

[2022-03-23 08:03] Chardonneaur opened #18986 "Add a search bar to the transition report"
Currently, there is no possibility to search for a given URL within the transition report feature.
Could you please add one in order to make the search of the url easier?

[2022-03-23 08:33] mikkeschiren opened #18987 "When setting time_before_*_archive_considered_outdated not respected for segments"
When setting time_before_*_archive_considered_outdated (day, week etc.) it's respected for "All visits", but not for segments.

## Expected Behavior
If I set time_before_*_archive_considered_outdated, this should be valid both for "All visits" and segments.

## Current Behavior
When setting time_before_*_archive_considered_outdated "All visits" are scheduled for rearchiving respecting the time set

[2022-03-23 08:42] MatomoForumNotifications commented on #18987
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/segments-always-get-invalidated/45247/2

[2022-03-23 08:55] heurteph-ei commented on #18983
AFAIK, load several small files takes more time (and consumes more network resources) than lone one single bigger file...
But it depends on the number of (small) files you won't load thanks to your new behavior...

[2022-03-23 09:30] sgiehl commented on #18979
duplicate of #18986

[2022-03-23 09:30] #18979 closed, assigned to nobody

[2022-03-23 09:31] Makathen commented on #18976
Also I just found that if you call the API.get Method without the ImageGraph and period set to month for example:
OurURL?module=API&method=API.get&idSite=1&period=month&date=2022-01-01&format=Json&token_auth=OutToken&showColumns=nb_uniq_visitors,nb_visits,nb_pageviews
the nb_uniq_visitors is shown. But when the period is set to year it disapears again.

[2022-03-23 09:34] sgiehl commented on #18976
Unique visitors metrics are not calculated for years by default. This behavior can be changed by setting `enable_processing_unique_visitors_year = 1` in the config. But that can slow down the archiving a lot.

[2022-03-23 10:05] mikkeschiren commented on #18987
Could be that this behaviour is gone for us in 4.8.0, will come back on the subject later today.

[2022-03-23 14:04] DBX12 commented on #18889
That is something I can confirm. My instance (4.8.0 on php 8.0.13) also does not log into the error log file. Running `error_log("Test")` creates the log file and writes the log line "Test" to it.

[2022-03-23 14:27] diosmosis commented on #18983
Scoped styles are bundled, they are not loaded individually. The bundles would only be loaded individually if Matomo is modified to load them on demand w/ plugin JavaScript. Note that the primary purpose of this issue is to remove/lessen the initial larger **synchronous** request for styles.

[2022-03-23 15:38] atom-box commented on #18724
A user reported:
 Mar 22, 16:12   Hi folks, I did the auto upgrade and got:

[code]
-------------------------------------------------------------------------------------------- (Draws a line under that)

Downloaded the update and manually copied it into place, Matomo popped back up again.

[2022-03-23 18:39] MatomoForumNotifications commented on #17474
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-on-premise-scaling/45262/4

[2022-03-23 18:39] MatomoForumNotifications commented on #18281
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-on-premise-scaling/45262/4

[2022-03-23 20:00] atom-box commented on #18563
_A user wrote yesterday:_

1. We upgraded to version 4 from version 3 and reports are no longer being sent out. I created a forum topic but haven't seen any replies. I was wondering if you can offer some advice on the best way to correct the issue. We have hundreds of sites with reports so a DB or programmatic fix would be ideal.

  we are seeing the error:
`Scheduler: Error Missing parameter : di

[2022-03-23 20:10] MatomoForumNotifications commented on #18563
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/scheduler-error-missing-parameter-displayformat-for-task/45239/2

[2022-03-23 20:15] tsteur opened #18991 "Make archive invalidator query faster when there are 10-100K sites"
See https://forum.matomo.org/t/matomo-on-premise-scaling/45262

`SELECT option_name, option_value FROM matomo_option WHERE option_name LIKE '%report\\_to\\_invalidate\\_%\\_%';` may take a few seconds when there are 10-100K sites.

Created https://github.com/matomo-org/matomo/pull/18990 as a minor improvement but it won’t make it much faster.

The initial `%` in the `like` clause that makes the qu

[2022-03-23 20:18] MatomoForumNotifications commented on #18991
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-on-premise-scaling/45262/8

[2022-03-23 23:47] tsteur opened #18992 "get_class(): Argument #1 ($object) must be of type object, bool given in MultiSites/API.php"
Seen below error a few times. This could be a regression maybe?

URL: https://example.matomo.org/?module=API&method=MultiSites.getOne&format=json&idSite=2&token_auth=XYZANONYMIZED&period=day&date=2022-03-01,today

Referrer: None

GET: {"module":"API","method":"MultiSites.getOne","format":"json","idSite":"2","token_auth":"XYZANONYMIZED","period":"day","date":"2022-03-01,today","filter_limit":100}

[2022-03-24 10:27] sgiehl commented on #18992
Turned out that actually was caused by a more fundamental timezone issue 🙈

[2022-03-24 10:41] ksikierebolsa commented on #18724
Hello,

I have this issue after upgrading from 3.14.1 to 4.5.0:

` fatal error occurred

Please contact the system administrator, or login to Matomo to learn more.

If you are Super User, but cannot login because of this error, you can still troubleshoot further. Follow these steps:
1) open the config/config.ini.php file and look for the salt value under [General].
2) edit this current URL you are

[2022-03-24 10:53] #17892 closed, assigned to justinvelluppillai

[2022-03-24 13:40] tomper00 commented on #18291
I have been looking into this today again.
We would really need to implement a solution where the "tracker domain" like this plugin from @mikkeschiren does https://github.com/digitalist-se/TrackerDomain and use that variable to handle this.
I will for now create a patch for the Overlay plugin to make our environment work with a separate tracker domain.
I really think this should be part of core in

[2022-03-25 06:07] mikkeschiren commented on #18987
It seems that the issue we had in 4.7.1 is gone in 4.8.0. So closing this issue.

[2022-03-25 06:07] #18987 closed, assigned to nobody

[2022-03-25 09:07] BelairDigital opened #19001 "Ecommerce : orders partially recorded"
All of the ecommerce orders are not recorded in Matomo.
## Expected Behavior

just a few orders are recorded
## Current Behavior

we have 5 other websites with the same Matomo tracking (and same back-office) where all conversions are well recorded but only for one website we have just a few orders
## Possible Solution

## Steps to Reproduce (for Bugs)

here how the matomo code is
1) Default Matomo

[2022-03-25 14:33] MatomoForumNotifications commented on #9199
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/does-a-clicked-outlink-count-as-a-bounce/41795/3

[2022-03-26 18:11] #15985 closed

[2022-03-27 12:54] avimaymon opened #19006 "Fix Sarawak and Terengganu on Visitors Interactive Map Widget"
## Expected Behavior
1. When clicking on Sarawak we should get the data for Sarawak, when clicking on Terengganu we should get the data for Terengganu.
2. The tooltip should be available also after going into a state and going back out.

## Current Behavior
1. Clicking on Sarawak shows data for Terengganu, clicking on Terengganu shows data for Sarawak.
2. Before going into a state we have the tool

[2022-03-27 18:32] sgiehl commented on #19006
Hi @avimaymon
Thanks for the report. Seems the ISO codes on our map are flipped in that case. I'll prepare a PR to fix that.

[2022-03-27 21:11] bx80 commented on #18773
Hi @heurteph-ei, thanks for reaching out, sorry about the delay getting back to you.

Unfortunately I don't think this PR will resolve your problem. It fixes an issue where blank archives were being created for future time periods, which could potentially result in single day archives missing data, but if you've invalidated and regenerated archives for the affected time periods then that would hav

[2022-03-28 05:10] tsteur opened #19009 "Unsupported operand types: string / int in Archive/Chunk.php when archiving events"
Recently we fixed this issue https://github.com/matomo-org/matomo/issues/18608

We are now seeing the same errors happening when trying to archive for example events. See below. We are getting this error many times a day and stops the archiving from working. not sure if the same could also happen for other reports.

[2022-03-28 06:26] #18992 closed, assigned to sgiehl

[2022-03-28 18:26] sgiehl commented on #19009
The problem here seems that for some reason the string `undefined` is passed as `idSubtable`, which seems weird.
Are you sure that happens while archiving? Wondering why the archiving should query the events API with such an `idSubtable`

[2022-03-28 18:38] tsteur commented on #19009
Indeed, it's not happening during archiving. Sorry about that @sgiehl

Here's an example URL (seems the user actually passed `undefined` as ID, it's an API call not coming from the UI ):

URL: https://example.matomo.org/index.php?module=API&method=Events.getActionFromCategoryId&idSite=1&period=day&format=json&token_auth=XYZANONYMIZED&showColumns=nb_events&filter_limit=-1&idSubtable=undefined&date=

[2022-03-28 23:04] tsteur opened #19010 "Date Range reports for processed segments displaying no data - "Not processed""
refs L3-236

Assuming there are below config settings set

[code]

* There is a segment was last edited on `2022-01-13 08:25:22`.
* The segment would usually only archive data up to 30 days before the segment edit date. However, someone may force the archiving of segments further back using `./console core:invalidate-report-data --segment='SEGMENTNAME' --sites=1 --dates=2021-06-01,2021-12-31` and

[2022-03-28 23:09] tsteur opened #19011 "When a segment is shown, and no data is there, then show accurate error message when segment won't be archived"
To reproduce, set below config settings:

[code]

* Then create a segment
* Then request a date range from 1 year ago.
* You will see an error message like below:

<img width="1656" alt="image" src="https://user-images.githubusercontent.com/273120/160501655-0f4f970a-d306-4245-81e2-2a17ca059989.png">

It suggests the data may become available and it may be a problem if the message doesn't go away.

[2022-03-29 06:07] EreMaijala commented on #18951
Upgraded yesterday, now seeing this during archiving from console:

`ERROR [2022-03-29 05:29:34] 5139  Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=712&period=week&date=2022-03-28&format=json&trigger=archivephp. Response was '{"result":"error","message":"SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '361822039' for key 'PRIMA

[2022-03-29 06:23] EreMaijala opened #19015 "4.8.0: Archiving fails with "SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '...' for key 'PRIMARY' - in plugin VisitFrequency.""
## Expected Behavior

When running archiving from cron, it is expected to work without errors. That was the case up to Matomo 4.7.

## Current Behavior

After upgrading to Matomo 4.8.0, cron archiving fails repeatedly with the following error message:

[code]

## Your Environment

* Matomo Version: 4.8.0
* PHP Version: 7.4.28
* Server Operating System: CentOS 7.9.2009
* Additionally installed plug

[2022-03-29 07:30] EreMaijala commented on #19015
Downgraded to 4.7.1, and archiving is back to working properly.

[2022-03-29 07:33] sgiehl commented on #19009
@tsteur So it's actually a fail on user side, as a invalid parameter value is provided. I wouldn't handle that as a regression, as it might never have worked. It's also a more general problem. We do not have some proper API parameter handling / validation to avoid incorrect values. Personally I would prefer a global solution, so we don't end up fixing such issues all the time.
I haven't checked th

[2022-03-29 08:18] #18618 closed, assigned to nobody

[2022-03-29 10:21] L3on1d commented on #18951
Hi @EreMaijala, yes exactly the same error.

[2022-03-29 10:25] EreMaijala commented on #18951
@L3on1d Thanks for the confirmation. I already opened my own issue at #19015, but perhaps one can be closed if the other gets attention.

[2022-03-29 11:24] tomper00 commented on #19015
We just found the same issue here!

[2022-03-29 12:40] mikkeschiren commented on #19015
The error mostly looks like this:
[code]

[2022-03-29 13:56] sgiehl commented on #19001
@BelairDigital that loos a bit like a implementation issue. At which position is the Matomo tracking code loaded? Is it placed in the head of the website or at the end of body? Did you check if the ecommerce tracking isn't triggered as `window._paq` is not yet defined? Or is the tracking request sent out, but doesn't appear in Matomo?

[2022-03-29 14:07] sgiehl commented on #18724
@ksikierebolsa the issue here might be unrelated to your problem. If you are able to see an error message in you log file, that might help to find a solution for your problem.

[2022-03-29 14:10] TechCare-Aus opened #19016 "Auth Token - Gateway timeout - 110: Connection timed out"
Went to setup another WordPress website and needed the Auth Token for the client.

Attempts to create the token end up with a spinning wheel and nothing until the web browser (Edge latest, tried Firefox too) displays 504 Gateway Timeout.

I haven't done this for some time and the rest of the website works fine as far as I can tell.

Any other details (e.g. nginx configs) let me know.

Also [this i

[2022-03-29 15:00] mikkeschiren commented on #19015
We also downgraded btw.

[2022-03-29 18:47] tsteur commented on #18951
Hi everyone, I'll close this as a duplicate of https://github.com/matomo-org/matomo/issues/18937 . Please follow this issue to see the progress on it.

[2022-03-29 18:47] #18951 closed, assigned to nobody

[2022-03-29 18:48] tsteur commented on #19015
Hi everyone, I'll close this as a duplicate of https://github.com/matomo-org/matomo/issues/18937 . Please follow this issue to see the progress on it.

[2022-03-29 18:48] #19015 closed, assigned to nobody

[2022-03-29 18:56] tsteur commented on #19009
@sgiehl I consider it a regression since it worked with older PHP versions and didn't trigger a fatal error. We just want to avoid fatal errors. We don't need to look for a global solution right now, we could simply fix that case where something like below may be good enough (not tested):

[code]

[2022-03-29 19:04] atom-box commented on #18945
A user wrote today:

_

_

[2022-03-29 22:58] peterhashair commented on #18812
Haven't reproduced this locally, but this could be caused by CORS preflight, I guess we could filter those request types, stop them for the double record.

[2022-03-29 23:19] Starker3 opened #19019 "Allow site specific archive settings"
In #18279 an option was added to disable archiving for segments and the option also allows it to be disabled for specific Site IDs the same way that it works for tracker settings (Eg. `[General_{siteId}]`)

It would be quite useful if this also worked for some other `[General]` config settings as well, specifically like the `datatable_archiving_maximum_rows` settings listed in this FAQ: https://ma

[2022-03-30 01:44] #19006 closed, assigned to sgiehl

[2022-03-30 02:37] #17738 closed, assigned to bx80

[2022-03-30 07:47] mikkeschiren commented on #18937
The site we have the issue on would be regarded as a high traffic site. For low traffic instances, we don't see the issue at the moment.

[2022-03-30 08:09] sgiehl commented on #19019
Just a general note on the effort that is needed to make that possible:
In almost all cases we are currently using `Config::getInstance()->General['someconfig']` to access config values.
With #18279 we introduced the class `GeneralConfig`, which automatically tries to use a site specific config if available.
So it's basically "only" replacing ``Config::getInstance()->General['someconfig']``, with

[2022-03-30 13:58] heurteph-ei opened #19023 "Cron Archive runs no error, but does not update numbers in report"
From: https://forum.matomo.org/t/cron-archive-runs-no-error-but-does-not-update-numbers-in-report/44677
Several users report the same issue
It seems this issue appeared since version 4.7.1+

## Garrett
When using the cron to archive reports, new events are not reflected in the numbers.
If I change the settings to allow archive via browser, all the number update as they should.

I’ve setup cron to

[2022-03-30 13:59] MatomoForumNotifications commented on #19023
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/cron-archive-runs-no-error-but-does-not-update-numbers-in-report/44677/12

[2022-03-30 16:45] rosa2 commented on #18649
any news on this? :)

[2022-03-30 19:04] artif-AndreasBrus opened #19025 "Fresh Install: Visitor Log Shows Ooops. Exception The requested website idSite is not found"
## Expected Behavior
From Dashboard /Visitor show Visitor Log
Overview is showing up and all other reports are showing data

## Current Behavior
Red Ooops Message and in enabled Logfile:
Controller.php(1047): The requested website idSite is not found in the request, or is invalid.
ERROR Piwik\ExceptionHandler[2022-03-30 18:51:23 UTC] [a1ccd] Please check that you are logged in Matomo and have perm

[2022-03-30 23:16] tsteur commented on #19028
Note: we're getting issue multiple times per week in support which is why we'd like to improve this so people won't install the wrong plugin anymore and so they will keep using Matomo

[2022-03-31 00:13] bx80 commented on #19025
Hi @artif-AndreasBrus, thanks for reporting this. That request url looks invalid:

date=yesterday&module=Live&format=html&forceView=1&viewDataTable=VisitorLog&action=getLastVisitsDetails&**smalidSite=1**&period=day&segment=&widget=&showtitle=1&random=2051

The parameter that specifies the site should be `idSite=1` whereas that url has the value `smalidSite=1`. This is preventing Matomo from determ

[2022-03-31 00:37] bx80 commented on #19016
Hi @TechCare-Aus, thanks for reaching out.

Immediately after generating a user token Matomo will attempt to send the token details to the user in an email, once this email is sent then the 'token created successfully' view will be rendered.

So it's possible that something is causing the email send to hang long enough for the request to timeout.

It might be worth confirming that Matomo is able t

[2022-03-31 01:31] bx80 commented on #18967
Hi @HCl-not-HCi, thanks for reporting this. It looks like the additional access rule checks for PHP-FPM added by #18398 are causing access requests to `global.ini.php` and not respecting the `enable_required_directories_diagnostic` config setting. I've created a PR to fix this.

[2022-03-31 02:23] ZE3kr commented on #18763
I got the same error on Matomo (v4.8.0)

[code]

And I am using UTF8MB4, which I think is the default. I have migrated between two servers a while ago. But I keep the config file the same.

[2022-03-31 02:34] TechCare-Aus commented on #19016
@bx80 - you sir are a legend. Exactly the cause of the issue. Thankyou.

I removed SMTP settings and it immediately worked.

Would be great to see an error message about that on the GUI.

"Error - Unable to send email. Check SMTP settings and try again"

[2022-03-31 04:06] bx80 opened #19033 "Set timeout and report errors for SMTP mails sent as part of a front end process"
Matomo sends various emails as part of user interface processes, such as creating a new user or generating new auth tokens.

If there is a mail configuration issue then the email send may hang for longer that the web server request timeout, resulting in the UI action timing out with no error message provided. This can be very difficult to troubleshoot as it may not even be obvious that the user ac

[2022-03-31 04:08] bx80 commented on #19016
You're welcome :smiley:
I've created a new ticket so we can look at improving how things are handled when there is a mail configuration problem.

[2022-03-31 04:08] #19016 closed, assigned to nobody

[2022-03-31 06:06] mattmary opened #19034 "the real time log are mixed up"
in the real time log, the log are not well ordered.

## Expected Behavior
the logs should be ordered by date

## Current Behavior
the logs are not ordered by date

## Your Environment

* Matomo Version: 4.6.2
* PHP Version:7.4.27
* Server Operating System: Linux
* Browser:(Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36)
![2022-03-

[2022-03-31 06:24] artif-AndreasBrus commented on #19025
The URL that I can copy from Browser looks different.
https://xxx.xxx.xxx/matomo/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=day&date=yesterday&category=General_Visitors&subcategory=Live_VisitorLog

But From Dev-Console:
First POST with Result 301:
curl 'https://xxx.xxx.xxx/matomo/index.php?date=yesterday&module=Live&format=html&forceView=1&viewDataTa

[2022-03-31 06:25] artif-AndreasBrus commented on #19025
Sorry forgot to close. Thanks again

[2022-03-31 06:25] #19025 closed, assigned to nobody

[2022-03-31 08:24] HCl-not-HCi commented on #18967
Thank you @bx80 :)

[2022-03-31 12:29] ghost opened #19036 "Possibility not to simply switch off fingerprinting, but to configure it"
The disableBrowserFeatureDetection option completely disables browser fingerprinting. Unfortunately, important data is also lost in this way, such as the screen size and the type of end device (mobile, pc, tablet)

## Summary

It would be perfect if you could set which data is saved during fingerprinting and which is not. In this way, one could continue to receive the data that does not violate th

[2022-03-31 12:46] sgiehl commented on #19034
@mattmary are you able to see a javascript error in the browser console? If so this could be a duplicate of #18916

[2022-03-31 12:49] sgiehl commented on #19036
@amargoShop Thanks for your suggestions.

As far as I know all those data might be subject to GDPR, even the screen size. The device type should actually still be detected with disabled browser features, as it is detected based on the useragent, which should be sent nevertheless.

[2022-03-31 13:24] ghost commented on #19036
Thanks for your reply.
Please excuse my poor English

We have asked the IT-Recht-Kanzlei in Munic for this topic.
Here our Text we wrote ... (google tranlated)

"we only use Matomo for our customers without cookies. We have programmed a tool that deletes the data of the accessing device from the database every few minutes, so that no data is available to customers in Matomo that could be used to c

[2022-03-31 13:47] sgiehl commented on #18763
@ZE3kr Are you tracking any URLs that contain special characters?

[2022-03-31 13:51] ZE3kr commented on #18763
Actually I am not sure. The only useful information on the error page is the one I put there. If I enable debug mode can I see whether I am tracking special URLs?

on my website there is no special urls. However it does not mean someone will not include special characters in the query string or to an non-exist page.

[2022-03-31 13:56] sgiehl commented on #19036
@amargoShop Thanks for the additional information.
So you want to track the browser features, but don't want to use them for creating the visitor id?
I'm actually not very deep into GDPR / ePrivacy topics. Maybe @tsteur or @Findus23 can give more useful information there.

[2022-03-31 19:26] tsteur commented on #19036
@amargoShop I'm not sure exactly what you would like to configure?

[2022-03-31 22:04] bx80 commented on #18937
I think this is going to be hard to track down without a full segment query. The exception was thrown by code inside the `createTemporaryTable` method just after a check to make sure the table doesn't already exist, so that would seem to rule out the query being executed twice?

Since it's likely that prior to the temporary index being added in #18797 duplicate records were being inserted, maybe i

[2022-03-31 23:28] peterhashair commented on #18810
tried `visibilitychange`, but I notice it will trigger when the user switching between tabs (the tab page is not visible)

[2022-04-01 06:32] mattmary commented on #19034
HI @sgiehl

the user has:
`DevTools failed to load source map: Could not load content for chrome-extension://ddoijapfgfbaaehaegnddlbnmcbngkpi/context-menu.js.map: System error: net::ERR_BLOCKED_BY_CLIENT`

[2022-04-04 04:16] Starker3 opened #19042 "Add info to Report Search tooltip"
Currently the search box for report data just says "Search" when hovering over it:
![image](https://user-images.githubusercontent.com/20905821/161472823-cab149c7-7c53-4b1f-a80b-a757b9b63e16.png)

And it seems that many people don't know that they can use regex in the search bar to make more advanced searches or use it as a filter for the data they're looking for.

We can either update the tooltip

[2022-04-04 08:52] micschro commented on #16791
I think it's still unfortunate that this cookie is called "MATOMO_SESSID", then. With this name. privacy-aware visitors will probably assume this is a tracking cookie.  Couldn't it be called e.g. "CSRF_NONCE" or something like that?

[2022-04-04 09:18] Chardonneaur opened #19043 "Add a possibility to set a default dashboard preference within the preferences settings"
Currently we can only set "all websites" or a specific website to be displayed by default within the preferences.
It would be great if in addition to that we could set a default dashboard.

[2022-04-04 09:39] sgiehl commented on #18845
@tsteur Can't we use plugin dependencies for that? In plugin.json It is already possible to define something like
[code]
But our dependency check only checks if the plugin is installed in a correct version. We currently do not check if the plugin is also activated.
This might be something we could change. It would make it impossible to activate the plugin and could be shown like a missing dependen

[2022-04-04 09:51] sgiehl commented on #18128
Pushed the change here: https://github.com/matomo-org/matomo/compare/m18128?expand=1
Let's see if tests are failing or not.

[2022-04-04 11:11] sgiehl commented on #18128
@tsteur Seems the test failures are unrelated to the changes, so seems we could remove json from the list of static files to be served. But it could create possible regressions with third party plugins that might try to load json files on purpose for any reason.

[2022-04-04 12:03] sgiehl commented on #9969
This one might actually not be that easy to solve, as it's hard to define the expected behavior.
We can for sure simply give unavailable widgets a `display: none`, so they are hidden.
But how shall we handle widgets that would be hidden on all sites. Like a removed goal or custom report. If they were hidden on all dashboard they would remain there hidden, until they get valid again. This could cau

[2022-04-04 12:38] sgiehl commented on #17399
@tsteur would you mind to summarize what we should do here? Is it only about updating the documentation? Or shall we also implement a possibility to automatically remove those files in the UI or maybe within `core:update`?

[2022-04-04 14:16] sgiehl commented on #18082
I'm actually tempted to close this issue simply. We should always try to keep our builds green. If someone sees that a test fails randomly quite often they can simply try to improve that behavior and create a PR or create an issue instead that mentions that specific test only. Gathering more and more tests that might have failed randomly in one issue makes it extremely hard to even work on it. Som

[2022-04-04 15:18] sgiehl commented on #14879
Note: This already works for the segmented visit log, when not comparing anything. As soon as something is compare the segment log shows the segment that is provided in the url, rather than the one that was sent with the request.
For row evolution this needs to be added completely.

[2022-04-04 19:18] justinvelluppillai commented on #18082
Cool I will close this now and we can create individual issues for any tests that fail in future.

[2022-04-04 19:18] #18082 closed, assigned to nobody

[2022-04-04 19:45] tsteur commented on #17399
The first step would be definitely to update the guide.

Not sure what else we can do to solve this issue in the future so it won't happen again? Can we do something that eg when files are left there, the updates still work?

Maybe we can detect files that shouldn't be there and ignore them? Or does it maybe make sense before the DB upgrade to show again if some files need to be deleted?

Or maybe

[2022-04-04 19:48] tsteur commented on #18845
@sgiehl the plugin shouldn't be required as we also support loading the tracker file independent of the regular tracking code. Especially when the JS tracker files aren't writable.  And there's a risk that it would automatically disable other plugins which would make things only worse.

It's such a rare case, I would say all we need is a quick system check to show that the plugin is disabled

[2022-04-04 19:51] tsteur commented on #18128
Do you know what such a use case for a third party plugin might be? Are you aware of any plugin? I can't really think of many use cases and I assume the workaround would be for people to use a proxy through php to get this file. It may be fine to just disable it and mention it in developer changelog. That's just though because I can't think of any use case for it but that doesn't mean there aren't

[2022-04-04 21:25] justinvelluppillai opened #19047 "Scheduler Error Missing parameter displayFormat"
We're getting a few errors from a demo cron task with the below message:

```ERROR [2022-04-04 04:18:27] 366279 Scheduler: Error Missing parameter : displayFormat for task 'Piwik\Plugins\ScheduledReports\API.sendReport_50'```

It looks like a recent bug maybe introduced with Matomo 4.8.0.

Be good to see if we can reproduce this issue and find the cause or any recent merges that are relevant.

[2022-04-04 22:59] justinvelluppillai commented on #18924
Thanks for that @playernine, I've updated the blog post to reflect.

[2022-04-04 22:59] #18924 closed, assigned to justinvelluppillai

[2022-04-05 00:39] henri-hulski commented on #19047
I can confirm.
After last update I get mails with an error message like
[code]

[2022-04-05 01:41] satphil commented on #17399
The matomo software implicitly depends on the presence or absence of files, so it is imperative that obsolete files are removed during upgrades. Commands like rsync have switches like "--delete-after - receiver deletes extraneous files from dest dirs after transfer, not during".
One approach, mentioned in my original bug report:  save the` config/config.ini.php` file, delete the old piwik director

[2022-04-05 07:35] Chardonneaur opened #19049 "Email report export a php file not a pdf one"
Hello,
when using Microsoft Windows, either on Google Chrome or Firefox, when exporting a pdf it is in fact exporting a php file. This issue is not happening on GNU/Linux OS.

[2022-04-05 08:04] sgiehl commented on #19049
Hi @Chardonneaur
Could you please describe that a bit more in detail and maybe provide a list of steps to reproduce?

[2022-04-05 08:39] sgiehl commented on #19047
I guess before that error was actually kind of "silently" ignored. The error logging here:
https://github.com/matomo-org/matomo/blob/f20c4cbed3de7f3fcc49810d5721b257d5a56d43/core/Scheduler/Scheduler.php#L312-L313
has been added in #18335

@justinvelluppillai @henri-hulski are you able to look up the configuration for the failing report. Would be good to know the configured parameters and type for

[2022-04-05 09:22] sgiehl commented on #18128
I'm not aware of any plugin that needs it. And if so, it should be easy to circumvent it.
Mentioning it in the developer guide should be good enough I guess. Will set up the PR.

[2022-04-05 09:38] sgiehl commented on #18845
@tsteur Ok. But guess it only makes sense to check that if a plugin is installed that provides a `tracker.min.js` file. Otherwise the plugin wouldn't be needed. right?

[2022-04-05 11:20] Chardonneaur commented on #19049
Sure, Microsoft Windows users only, browser (Firefox or Google Chrome):
--> Click on admin.
--> Click on Email report.
--> Create a report with file format PDF.
--> Once created click on Download. It will open up a tab with the pdf, then click on download the pdf within this new window... the result is ... a php file.

[2022-04-05 11:33] sgiehl commented on #19049
Hm... that's interesting. We are actually sending a header like
`Content-Disposition: inline; filename="matomo.org_-_Sonntag_6._Mrz_2022_-_test.pdf"``
I'm not sure why the browser doesn't use that. Might be an issue with the windows file dialog maybe. Not sure if there is more we could do about it.

[2022-04-05 11:53] sgiehl commented on #18937
@tsteur I guess the error happens during archiving, right? Are you able to look up which segment is archived when it fails?

[2022-04-05 13:09] tassoman opened #19053 "Missing icons assets inside Morpheus theme"
## Expected Behavior
Visitor log shows visit's summary with some icons, country flag, browser and os logo.

## Current Behavior
After installing matomo 4.x-dev forked from github repo, directory `plugins/Morpheus/icons/` it's empty.

## Steps to Reproduce (for Bugs)

1. clone matomo from 4.x-dev branch
2. `composer install`
3. configure a database and preliminar settings
4. 'php development:enable

[2022-04-05 13:53] tassoman commented on #19053
Sorry, I was missing the `git submodule update --init` part

[2022-04-05 13:53] #19053 closed, assigned to nobody

[2022-04-05 13:58] Chardonneaur commented on #18915
Hi Tomas, one of my client reproduces it, it happens on a weekly comparison basis with conversions.
To reproduce it, please select a weekly range period and compare it to the previous period and look through the goal report per channel types.

[2022-04-05 16:59] #19009 closed, assigned to bx80

[2022-04-05 17:41] djun-kim opened #19055 "The 4.8.0 tagged commit is outside of the repository."
The following message is displayed when viewing the "4.8.0" tag (https://github.com/matomo-org/matomo/commit/f2f6c3d1e7fe00cceb86feaa184049737f3ba45e)

"This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository."

This makes it impossible to update via git

[2022-04-05 19:52] Findus23 commented on #19055
I think that's because the commit was made in the [next_release](https://github.com/matomo-org/matomo/tree/next_release) branch by https://github.com/matomo-org/matomo/pull/18893

[2022-04-05 20:12] tsteur commented on #18845
Sounds good if it's easy to do 👍

[2022-04-05 20:18] tsteur commented on #18937
@sgiehl I'm seeing in one of them around visitorType and there are some nested calls which I can see in the full backtrace.
fyi we're seeing this error around 20+ times a day. I'll ping you in chat re full details.

[2022-04-05 20:39] tsteur commented on #19047
@sgiehl I can provide this information as I've noticed this error too but was waiting for it to appear more often before creating the bug.

It looks like below
<img width="846" alt="image" src="https://user-images.githubusercontent.com/273120/161845071-683fe126-6da5-4ce7-ab65-cbfa213cd641.png">

[2022-04-05 20:47] NicoHood commented on #18721
Hey guys,
I also ran into this issue when 4.7.0 was released. However I am stuck now at this point, as the upgrade will not work anymore. It looks like 4.7.1 fixes the issue, but matomo wants to upgrade the database first. So I am stuck now.

What is the best way to upgrade now from this point?

[2022-04-05 22:03] Findus23 commented on #19049
Can you check if renaming the file to .pdf gives the expected PDF file?
If not, then maybe your webserver is not properly set up to execute .php files in all cases.

[2022-04-05 23:56] henri-hulski commented on #19047
Here is the content of `matomo_report`:
[code]

[2022-04-05 23:59] henri-hulski commented on #19047
Here as photo
![Screenshot_20220406-015743](https://user-images.githubusercontent.com/7619824/161870010-54af9c22-02db-4845-a031-05bb830418f5.png)

[2022-04-06 02:06] Razique commented on #18721
@NicoHood did you try to enable support for large prefixes?

[2022-04-06 05:08] NicoHood commented on #18721
I am on a shared hosting, I am not sure if I am allowed to do that. At least I don't know how to do that.

[2022-04-06 07:55] sgiehl commented on #18721
@NicoHood Doesn't the database update work now? The files should have been adjusted so the incorrect db update shouldn't be included anymore. So if you update to Matomo 4.7.1 or 4.8.0 it should work without problems.

[2022-04-06 07:57] NicoHood commented on #18721
This might be true, but I am stuck in the updater. The updater is in the process to update the db with 4.7.0 files. I am unable to access anything of the ui, it is a deadlock.

[2022-04-06 08:49] sgiehl commented on #18721
In that case you can follow the steps to do a manual update https://matomo.org/faq/on-premise/update-matomo/#the-manual-three-step-update

Or if you still want to use the automatic update you can remove this line from `core/Updates/4.7.0-b2.php`:
[code]

[2022-04-06 08:49] Chardonneaur commented on #19049
Gonna try that out, thank you guys.

[2022-04-06 09:05] sgiehl commented on #19047
Ok. It seems both have broken reports configured. The reports & parameters columns should contain a json configuration. For some reason some of the records contain `Array`. I can't remember but seems we had a bug there somewhen in the past and saving a report didn't work correctly. All records were last sent in 2016, so guess the problem is a bit older.
As mentioned in my previous comment, the err

[2022-04-06 09:10] sgiehl commented on #19055
@djun-kim What exactly is your issue with the tag? It should be possible to do a `git checkout 4.8.0`

[2022-04-06 11:11] Findus23 commented on #19055
I just tested it and indeed it is possible to checkout the tag from a fresh clone even though it is not a commit on 4.x-dev.
So it should be fine.

[2022-04-06 11:19] Chardonneaur commented on #19049
@Findus23 the problem is not solved when renaming the .php file into .pdf.

[2022-04-06 12:49] #19055 closed, assigned to nobody

[2022-04-06 13:54] guuslangelaar0 opened #19058 "Sign in as user and/or generate app token for user as superadmin"
## Summary

As a superuser, to connect new wordpress websites to the self-hosted matomo (docker) service, a superuser has to do the following:

### - - The following is requested with this feature:

-  **Sign in as user**

- **Generate app token as superadmin for user (Preferred)**

[2022-04-06 13:58] sgiehl commented on #19049
I guess we could only change to `Content-Disposition: attachment` and force the browser to do a download instead trying to display it inline.

[2022-04-06 16:43] NicoHood commented on #18721
Thanks! I've edited the file and it worked!

[2022-04-06 16:50] Findus23 commented on #19049
@Chardonneaur In that case can you try opening the .php file in a text editor to see if you actually see PHP code in it. If so, then this is probably not a bug in Matomo, but in the webserver setup.

[2022-04-06 18:04] djun-kim commented on #19055
If I attempt to list tags on an existing repo, I don't see the 4.8.0 tag.  Attempting to checkout the tag on an existing repo gives the following error: `error: pathspec '4.8.0' did not match any file(s) known to git.`.

Working with a fresh clone resolves the issue.

[2022-04-06 19:54] tsteur commented on #19047
@sgiehl sounds good to me

[2022-04-07 04:48] Starker3 commented on #19034
@sgiehl We've had a few more reports about this same bug from several different users. I've managed to get this to happen as well on the cloud instance (web). It looks almost like the older visits in the real time visits log aren't getting removed correctly when new ones load in.

I opened a second browser window on the same report and both are not showing the same visits for the same widget.
![im

[2022-04-07 08:05] Tazzios opened #19059 "New site shows tracking code with old piwik files"
## Expected Behavior
Show trackingcode with matomo.js and matomo.php

## Current Behavior
Show trackingcode with piwik.js and piwik.php

<img width="1173" height="437" alt="Image" src="https://github.com/user-attachments/assets/9adac62a-9b31-4ebb-907b-9c1f305d1cd1" />

## Possible Solution
Edit page, At Websites>manage the correct tracking code is shown.

## Steps to Reproduce (for Bugs)
1. create

[2022-04-07 10:26] fneumeier opened #19060 "exposing user name of the generator of a report sent by email in the "replying-to:" field of the email"
Matomo reports sent by email are exposing the username of the user generating the report through the "reply-to:" header field of the email. Though it's not a big issue, exposing the username which also serves as login name for this user should be considered as low security risk.

## Expected Behavior
The email header of the report sent by email should not contain the "reply-to:" field at all, but

[2022-04-07 10:27] MatomoForumNotifications commented on #19060
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/changing-the-email-address-name-reports-are-being-sent-from/45420/6

[2022-04-07 12:54] chopsol opened #19061 "Checkbox "keep url fragmets" always checked"
In "global websites settings", the checkbox for "URL fragments" is always active. If you save the settings, this option is also always saved as Active, even if you deactivate the checkbox. This captures URL fragments even if you don't want them to. You have to explicitly deactivate this option in the settings for the respective website. That's where it's stored, possibly because it's a select list

[2022-04-07 12:58] sgiehl commented on #19059
Hi @Tazzios
Thanks for creating this issue. Guess it would make sense to show the new endpoints for newly created sites.
Instances of Matomo, that were installed after `3.7.0`, should already show the matomo endpoints by default. Older installs currently don't do that.

It seems we also already show the (new) matomo endpoints in the tracking code generator, so there actually is no sense to show th

[2022-04-07 13:31] sgiehl commented on #19047
Will set up a quick PR for that. Moving back to 4.10.

[2022-04-07 14:35] sgiehl commented on #19061
Hi @chopsol. Thanks for creating the issue. I was able to reproduce that. This is most likely a regression from migrating the UI to vue js.

@diosmosis could you have a look at that one. Guess the problem is that the variable is sent as `true` / `false` with the request. Might need to be changed to `0` / `1`. Not sure if that might be a general issue of check boxes maybe

[2022-04-07 15:34] diosmosis commented on #19061
I created a PR to fix the boolean value issue, but I couldn't reproduce the tag manager priority / delay issue in 4.9.

[2022-04-07 15:44] sgiehl commented on #19049
@Findus23 I'm able to reproduce that on my windows machine. Clicking the download link correctly opens the PDF in the browser. But trying to download it suggests `index.php` as filename and at least for me always fails du to a "network" error. Maybe its a problem that the PDF is generated with a POST request. Might be that the download then tries to fetch the same request with GET and fails due to

[2022-04-07 16:19] chopsol commented on #19061
@diosmosis the problem i mentioned was fixed before here https://github.com/matomo-org/tag-manager/issues/459

[2022-04-07 18:15] vitali-korezki commented on #7533
Just a quick question, is this feature somehow on the roadmap or is there a way to develop an add-on which will enable this functionality? Really looking forward to use it.

[2022-04-08 03:41] Starker3 opened #19066 "New INI setting to specify the number of rows to archive in Behavior > Downloads"
Similar to #14087
It would be really useful to have a limit specific to the downloads report.

The current behaviour of the archiver will place all downloads under a top level row where the top row is the site hostname. Because of this, all the downloads are lumped together into a single subtable which by default will be set to 100 rows (https://matomo.org/faq/how-to/faq_54/):
![image](https://use

[2022-04-08 04:05] tsteur opened #19067 "Cannot update a goal anymore when viewing manage goals twice"
This is with Matomo 4.8 on PHP8

I'm trying to edit a goal like this:
<img width="252" alt="image" src="https://user-images.githubusercontent.com/273120/162359862-ac261a9f-04ef-4c83-9f30-2add68b13684.png">

but no funnels configuration shows up and no update button.

seeing in console this error:
<img width="693" alt="image" src="https://user-images.githubusercontent.com/273120/162359845-db0bf2f8-

[2022-04-08 10:41] peterbo commented on #18460
I'm experiencing a memory leak while archiving segments. I suspect a (premium) plugin to be responsible for that, because I have other, much bigger instances, that are not affected. However, I cannot tell, which one is responsible.
Creating the yearly archive for 2022 needs in peak more than **40G**, while there are, for the whole Matomo instance, just 1.5M Actions for 2022. The memory usage seems

[2022-04-08 12:49] sgiehl commented on #19055
@djun-kim on an existing repo you might need to fetch the tags with `git fetch --tags` maybe.

[2022-04-08 13:51] sgiehl commented on #19067
Seems this was already fixed. I'm able to reproduce that locally with `4.8.0`, but with `4.9.0-rc1` this doesn't happen anymore.

[2022-04-08 15:20] dr0i opened #19069 "Mysqli statement execute error : Incorrect string"
Importing logs using `matomo/misc/log-analytics/import_logs.py`sometimes breaks. Webserver's error log reveals a `[php7:notice] [...] Mysqli statement execute error : Incorrect string [...]`.

Searched issues here with similar problems, like e.g. https://github.com/matomo-org/matomo/issues/11136.

Matomo: 4.8.0
Mysql:  Ver 8.0.25 for Linux on x86_64 (made sure to have  `innodb_file_per_table=ON` a

[2022-04-09 00:14] Jieiku opened #19072 "[Feature Request] Segment filtering using standard subnet masks"
## Summary
Would like to be able to exclude IPs in segments using standard subnets for example:

- 10.0.0.0/8
- 172.16.0.0/12
- 192.168.0.0/16

Additionally I am using [Matomo Log Analytics](https://matomo.org/log-analytics/), which rules out any plugin that requires cookies or javascript.

![2022-04-08_17-13-56](https://user-images.githubusercontent.com/106644/162548564-fa23f2bd-af36-4d79-a729-fb

[2022-04-09 18:12] peterbo opened #19073 "Docs for disabling archiving segments for selected plugins - typo in config setting"
The docs on https://matomo.org/faq/how-to-disable-archiving-the-segment-reports-for-specific-plugins mention the config parameter name as "disable_archiving_segment_for_plugin" (singular), but the actual config setting is "disable_archiving_segment_for_plugins".

[2022-04-10 20:09] tsteur commented on #19067
👍  feel free to close in that case

[2022-04-10 21:44] justinvelluppillai commented on #12165
There is this: https://tagmanager.google.com/gallery/#/owners/trackify-info/templates/GoogleTagManager-WebTemplate-Matomo

[2022-04-10 22:13] tsteur opened #19074 "Add possibility to define data restrictions, for example revenue, IP, ..."
In the users management we already have the feature to grant extra capabilities to a role. This would be the opposite where we restrict certain features or metrics or insights and take it basically away from a role.

An example could be Revenue. Once a data restriction "Revenue" is applied, the user cannot see any revenue information anymore.

Further, plugins could define more restrictions like y

[2022-04-10 22:15] tsteur opened #19075 "Help page refers to user guides and FAQ when it should be the knowledge base"
see on https://demo.matomo.cloud/index.php?module=Feedback&action=index&idSite=1&period=day&date=yesterday
<img width="623" alt="image" src="https://user-images.githubusercontent.com/273120/162642096-02d7a568-5224-4806-95ca-f95606eb4977.png">

The user guides and FAQs should be merged now into one link to link to the user guides. Currently, both links would redirect to the knowledge base.

[2022-04-11 00:24] Starker3 commented on #19073
Thanks @peterbo
I've updated the FAQ with the correct config setting name. You're welcome to close this issue then :+1:

[2022-04-11 00:26] #19073 closed, assigned to nobody

[2022-04-11 02:12] JasonMortonNZ commented on #18963
This issue was encountered again a few days ago.

[2022-04-11 02:22] mattab commented on #12165
@justinvelluppillai have we tested this one works as expected? i have not heard about it yet. looking at the code im wondering if it works as expected, for example with the way they set the JS URL which may not be flexible for the community&cloud https://github.com/trackify-info/GoogleTagManager-WebTemplate-Matomo/blob/main/template.tpl#L861-L866 ?

[2022-04-11 02:26] justinvelluppillai commented on #12165
@mattab I haven't tested it yet but we will be looking at it closely this quarter. Just noting for now here that this exists.

[2022-04-11 07:45] justinvelluppillai commented on #7533
@vitali-korezki we haven't yet prioritized this feature but would love a Pull Request if you have time to implement it

[2022-04-11 07:47] #19067 closed, assigned to nobody

[2022-04-11 09:21] MatomoForumNotifications commented on #19034
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/live-visitor-log-widget-is-often-ordered-incorrectly-and-stops-updating/45469/2

[2022-04-11 09:45] sgiehl opened #19076 "Make Widgetize page translatable"
The Widgetize page is currently hard coded in english: https://demo.matomo.cloud/index.php?module=Widgetize&action=index&idSite=1&period=day&date=yesterday

We should move all the English strings into translation files.

Related files:
- https://github.com/matomo-org/matomo/blob/793c7db0bec494d7165c60e04cbf4db5f701419b/plugins/Widgetize/vue/src/ExportWidget/ExportWidget.vue
- https://github.com/ma

[2022-04-11 13:10] #18812 closed, assigned to peterhashair

[2022-04-11 15:42] sgiehl commented on #18460
@avkarenow Do you also have any premium plugins installed?

[2022-04-11 15:45] heurteph-ei commented on #19074
Also some restrictions on segments (some user have an access to data from some segments only...)
Edit: Related to: #19636

[2022-04-11 15:47] MatomoForumNotifications commented on #19069
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/problem-with-url-context/44978/6

[2022-04-11 15:49] #19061 closed, assigned to diosmosis

[2022-04-11 16:23] atom-box opened #19077 "Enhancement: Benefit multilingual teams by making the language toggle easy to get to"
Currently:
Changing language of the user interface requires a trip to Admin > Personal > Settings > Language

Feature request:
Have a pulldown language menu somewhere convenient

Benefit:
Multilingual teams can work together better.  (I don't know how many user teams are multilingual...)

[2022-04-11 16:35] sgiehl commented on #18884
@tsteur It seems the visitorID segment is correctly disabled if (only) the visitor profile is disabled globally. If it's only disabled for a specific site, then the segment remains active when viewing that site.

[2022-04-11 18:45] Zenithcoder commented on #7650
Hi, is there  a way to copy a date range of data into existing matomo website

[2022-04-11 19:14] justinvelluppillai commented on #18692
Hey @Starker3 did you get a chance to have a look here?

[2022-04-11 19:28] tsteur commented on #18884
@sgiehl not fully understanding why that would be the case? We could maybe still disable it even if visits profile is only disabled for a specific site (unless the site is a roll up maybe)? Not sure how trivial it is to implement though

[2022-04-11 20:08] sgiehl commented on #18884
@tsteur I guess the problem is that the segment list is cached globally and not site dependent. So if we want that segment being available per site we need to change the caching.

[2022-04-11 21:26] atom-box opened #19080 "Bottom clicker is behaving incorrectly for the Event Categories modal display"
## Expected Behavior
When you click the bottom of the Event Categories modal, the widget should give correct words and numbers

## Current Behavior
The modal does not show the correct words or data, especially in response to clicking the bottom link

## Steps to Reproduce (for Bugs)
1. Go to the user interface:
        Behavior > Events > Event Categories
2. Try clicking the bottom of the modal a

[2022-04-11 21:34] Starker3 commented on #19080
To provide more context on this bug, when clicking the highlighted text:
![image](https://user-images.githubusercontent.com/20905821/162837103-a73ff952-524b-45dd-8474-2da4f2745a38.png)
We expect the report to be updated, but at present only the text at the top of the report and the link at the bottom changes:
![image](https://user-images.githubusercontent.com/20905821/162837182-c33919a3-b6b7-4eeb-

[2022-04-11 22:10] tsteur commented on #18884
@sgiehl I can't really imagine that as Goals, Dimensions, and other things are site dependent and it works fine. Also looking at the cache it may be siteAware?

[2022-04-12 00:51] justinvelluppillai commented on #18692
Also @peterhashair is this fixed in #18796 ?

[2022-04-12 01:16] justinvelluppillai opened #19081 "Use HTTPS by default for connections to matomo.org (with working fallback to HTTP requiring super user edit the INI config)"
# Remaining steps

- Make HTTPS the default
- Make sure the error message links to this FAQ: https://matomo.org/faq/how-to/faq-how-to-disable-https-for-matomo-org-and-api-matomo-org-requests/
- Update the FAQ https://matomo.org/faq/how-to/faq-how-to-disable-https-for-matomo-org-and-api-matomo-org-requests/ to mention it was put in 5.0.0 instead of "We will soon switch this connection over to HTTPS

[2022-04-12 01:46] Starker3 opened #19082 "New INI setting to specify the number of rows to archive in Behavior > Page Title reports"
Basically this is the same type of request as #19066

The Page Title reports by default don't have any hierarchy and share the same limit as the Pages report. Increasing the top row limit for the Page Title report can have quite a negative impact on the performance due to the Pages report that could easily result in millions of rows in a report.

[2022-04-12 01:57] Starker3 commented on #18692
@justinvelluppillai @peterhashair The setup that Peter gave for reproduction doesn't work for me to reproduce this.
I had the users configured as follows:
Site 1:
    Admin: User A
    No Access: User B

Site 2
    Admin: User B
    View: User A

For Site 2 both User A and User B were able to see each other in the list when copying dashboards. The Super Users were not visible in that list, but I'm

[2022-04-12 04:09] peterhashair commented on #19072
@Jieiku If I am correct, you can set it up with `at most` and `at least` for the range of IPs .
FAQ https://matomo.org/faq/how-to/faq_21018/.
Let me know if require help for this.

[2022-04-12 04:14] peterhashair commented on #19060
I believe that's a regression, maybe we should add to the next milestone since there is a low-security risk.  I would recommend if there is no-reply header set, we hide part of the username. Like `ma***d`

[2022-04-12 04:48] Jieiku commented on #19072
I seen those options, they do not seem like a very efficient or even straight forward way of doing it when dealing with multiple IP ranges.

Would still like to be able to do it using standard subnet masks, as most other tools in the industry do.

Also the page you linked even says:

If subnet masks were supported you would not need two separate filters like you do with `at most` and `at least` an

[2022-04-12 07:07] sgiehl commented on #18884
@tsteur that was just a guess without looking at the code 🙈 But you're right, it's cached site dependent.

[2022-04-12 07:17] #19047 closed, assigned to sgiehl

[2022-04-12 07:22] sgiehl commented on #19080
@atom-box @Starker3 While the report title should maybe not be updated, that feature still behaves like it should. The secondary dimension is changed. That means the subtables are others.

[2022-04-12 07:43] dr0i commented on #19069
A bit of background:
This problem came up (incidentally?) just after an update of my `matomo 3.*` installation (which doesn't ran that smooth for I had to do `alter table matomo_log_link_visit_action add pageview_position MEDIUMINT UNSIGNED DEFAULT NULL;
` manually in the mysqldb.)
Also, I updated `mysqld` a year or so before from 5.x to 8.x .
Don't know if one/all of these changes require a rewri

[2022-04-12 07:50] sgiehl commented on #19080
Note: Changing the secondary dimension is handled the same as a related report. And that currently always updates the title of the report. See
https://github.com/matomo-org/matomo/blob/7c80d543332f84c396c0be81df91f8d27f49f517/plugins/CoreHome/javascripts/dataTable.js#L1718-L1747

[2022-04-12 07:53] dr0i commented on #19069
May be linked to https://github.com/matomo-org/matomo/issues/15711 ? I would have to do `ALTER TABLE matomo_log_visit CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;` (which I didn't yet - also in the referenced issue this hasn't solved the problem).

[2022-04-12 08:23] dr0i commented on #19069
Thx again @sgiehl for the [pointer](https://github.com/matomo-org/matomo/pull/19070#issuecomment-1096297045) - I think I can go on my own now, since `SHOW TABLE STATUS FROM piwik;` reveals that
all tables use `utf8_unicode_ci` as collation( which is pointed out to be problematic in https://github.com/matomo-org/matomo/issues/9785#issuecomment-477437648).  So I would have to change the collation of

[2022-04-12 08:34] justinvelluppillai commented on #19060
@peterhashair can you point at the PR you think this is a regression from?

[2022-04-12 08:40] justinvelluppillai commented on #18772
@bx80 can you confirm whether this would be fixed by #18790 ?

[2022-04-12 08:45] sgiehl commented on #19060
That shouldn't be a regression. This code exists since 2017:
https://github.com/matomo-org/matomo/blob/821734c769fb012fc2ee5994b56937988150bc0f/plugins/ScheduledReports/ScheduledReports.php#L368-L378

[2022-04-12 08:57] Findus23 commented on #19077
For exactly this use case (as I'm switching between Languages often for screenshots in explanations) I created this plugin a long time ago and am quite happy with it since (apart from the fact that the name is misspelled):
https://plugins.matomo.org/LanguageToogle
Of course, it is a bit more obvious than a dropdown as it adds dedicated buttons for every selected language to the main navigation bar

[2022-04-12 09:20] sgiehl commented on #18772
@justinvelluppillai that shouldn't have anything to do with https://github.com/matomo-org/matomo/pull/18790

[2022-04-12 10:02] dr0i commented on #19069
This should to the trick:
[code]
This may take a long time!
(having several 100GBs of data and count of `rows` for `matomo_log_link_visit_action` is > 10^9 I expect the time needed for the conversion ~ 2 days. It just seems to be a matter of CPU time (and IO throughput) though - memory is alright, also file space seems to be fine (meaning not doubling the db space temporarily . Mysql seems to be c

[2022-04-12 10:31] justinvelluppillai commented on #18772
thanks @sgiehl . Will leave this open for now then.

[2022-04-12 11:39] sgiehl commented on #18937
@tsteur I'm not able to reproduce that in any way. Which makes it hard to find the problem.
Based on the error messages it seems it happens unrelated to the type of segment, period or date that is archived.
I guess the error could basically have two reasons:
- The segment query returns an id twice, which should be unlikely due to the `DISTINCT` select. We could maybe try if using a `GROUP BY` woul

[2022-04-12 11:51] sgiehl commented on #19069
@dr0i There is actually a command to perform all the required (database) changes to do this: `./console core:convert-to-utf8mb4`
See https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/

[2022-04-12 12:06] tassoman opened #19084 "as superadministrator, I would like to order users table by last login / last created"
## User Story

as superadministrator I would like to see users table ordered by last login and/or last created and/or last edited so that I can have better understanding of sleeping users

## Summary
Inside administration panel, we have _Users_ page. We can see a datatable of users inside there. We can filter users by characteristics but we haven't any option to sort by any order.

## Your Environ

[2022-04-12 12:13] tassoman commented on #19084
A possible scenario, maybe a new select component, after "filter by", named: "order by", having at minimum three options:

- Name
- Last created
- Last seen

[2022-04-12 19:44] tsteur commented on #18937
@sgiehl what would be the next steps to resolve this issue and make progress?

If the distinct was the problem, I would assume then it be maybe more reproducible but maybe not.

[2022-04-12 19:58] sgiehl commented on #18937
That's a good question. Simply using a `Insert Ignore` would for sure solve the issue. But it might only hide the origin problem.

Not sure if cloud team could maybe try to debug that a bit more to see if it is the query that contains duplicates or if the table already exists before, but records are inserted again nevertheless.

[2022-04-12 21:14] Starker3 opened #19086 "Evolution graph button on Events reports disappears after expanding subtables"
In the events report, when viewing the hierarchical report the evolution graph for the top level row shows by default:
![image](https://user-images.githubusercontent.com/20905821/163055453-6a470f8f-29cb-4c23-854c-a3cec244e08e.png)

However, when expanding the top row the button disappears:
![image](https://user-images.githubusercontent.com/20905821/163055543-79eb3323-ce39-456d-99b1-15dccf3eebed.pn

[2022-04-12 21:30] Starker3 opened #19087 "Evolution graph for alternate secondary dimension for Events report shows no data"
When viewing the Evolution graph for the alternate secondary dimension in any of the Event reports, the Evolution graph shows 0 for all secondary dimensions.

For example, the default secondary dimension for the Event Category report is Event Action which shows data for the evolution graph:
![image](https://user-images.githubusercontent.com/20905821/163057539-2b296503-de4b-4b8c-b13e-d06926178d47.p

[2022-04-12 22:23] tsteur commented on #18937
I had a quick search for "when does mysql distinct not return distinct values" and "mysql distinct vs group by" as we can pretty much rule out the table exists check not working.

Finding few posts around like https://www.experts-exchange.com/articles/12282/Select-Distinct-is-returning-duplicates.html where it does mention the `group by` you mentioned earlier as well. Although maybe it's more when

[2022-04-13 07:48] #18128 closed, assigned to sgiehl

[2022-04-13 08:06] kaskaes opened #19089 "Cannot save setting "Also use the Anonymized IP addresses when enriching visits.""
## Expected Behavior

Under Administration -> Privacy -> Anonymize data -> "Also use the Anonymized IP addresses when enriching visits." the radio button ist set to "Yes". If I change it to "No" and press "save" Button, the value should be stored.

## Current Behavior

Under Administration -> Privacy -> Anonymize data -> "Also use the Anonymized IP addresses when enriching visits." the radio butto

[2022-04-13 08:28] sissibieber opened #19090 "Cookiebot finds cookie eventhough cookies are disabled"
Hello,
apparently the tool Cookiebot finds a cookie from matomo (4.9.0) eventhough cookies are disabled in TagManager and in privacy settings. Since we are trying to convince clients that matomo is the better alternative to analytics because it can run without any cookies, we have an issue here, since clients that are using Cookiebot see a cookie set by matomo. Which is definitely not the consider

[2022-04-13 08:42] nicomegadrive opened #19091 "Allow users to view report when an A / B test is archived"
## Summary
I would like to be able to see again the results of an A / B test after I archive a test, it's currently not possible.

## Your Environment
* Matomo Version: 4.9.0
* PHP Version: 7.2.34
* Server Operating System: Debian9
* Additionally installed plugins: Custom Reports, Heatmaps

[2022-04-13 09:13] Bira-navi opened #19092 "Incorrect tracking search result pages"
Hello,

I have a problem concerning the keywords searched on the site. I don't understand why, when a search is performed and displays for example 5 results, the column PAGES OF SEARCH RESULTS displays 4. On my site, 10 results can be displayed on the same page. I also have data when there are 0 results.

Thank you.

[2022-04-13 09:21] nicomegadrive opened #19093 "Allows extra options when configuring a Goal"
## Summary

On Google Analytics, when you configure a goal if a visitor send an event, you can configure :
- The Category,
- The Action,
- The Label,
- The Value

I would like to be able to do the same on Matomo, as I want to create a goal when an event with the Category "documentation" has been sent, and also where the Label's name is "Test" for example.

At the current state, only allowing peopl

[2022-04-13 12:49] sgiehl commented on #19089
Hi @kaskaes. Thanks for your report. I was able to reproduce that.

@diosmosis that seems to be vue related. The request always contains `useAnonymizedIpForVisitEnrichment: 1`, even if the `no` option was selected. Could you have a quick look?

[2022-04-14 00:55] CyrilBrulebois opened #19097 "New bold red message about ad blockers at the top of each page"
Since upgrading to 4.9.0, a big fat red message appears at the top of each page, warning me against the use of ad blockers:

Screenshot:

![Screenshot from 2022-04-14 02-50-33](https://user-images.githubusercontent.com/8861145/163292804-d4e9a565-9bc7-4600-b7fe-3dddb0e4b014.png)

## Expected Behavior

Back to pre-4.9.0 behaviour: no such messages.

## Current Behavior

The message hideous and non-d

[2022-04-14 07:10] narfk commented on #18724
In my environment the error does not occures with the current update (4.9.0)

[2022-04-14 07:49] DBX12 opened #19099 "System check reports incorrect results when enable_general_settings_admin = 0"
## Expected Behavior
System Check reports correct results no matter if `enable_general_settings_admin` is set to 1 or 0

## Current Behavior
System Check reports Cron as not set up and suggests to disable Browser Archiving
[code]

## Steps to Reproduce (for Bugs)

1. Configure auto archiving and disable Browser archiving in the UI
2. Run system check and see that no issues regarding these two opti

[2022-04-14 07:53] Tazzios commented on #18724
I confirm update from 4.7.1 to 4.9.0 on Windows IIS worked fine.

[2022-04-14 08:03] justinvelluppillai commented on #18724
The problem would only currently affect anyone upgrading from 4.6 to anything newer. It is because in Matomo 4.6 a file was renamed with a change to only case (MenuDropdown -> Menudropdown). This caused issues on Windows because the new file wasn't copied over and the old ended up being deleted by the updater. The fix we provided in a #18865 prevented the file from being deleted, but now further d

[2022-04-14 08:53] justinvelluppillai commented on #19097
This warning already existed for a long time with no changes in Matomo 4.9.0.

[2022-04-14 09:04] sissibieber commented on #19090
Ok, seems there was some caching issue after updating to 4.9.0 on the website itself and the latest js file was not used from matomo. The Cookiebot scan runs now through without finding any matomo cookie.

[2022-04-14 09:04] #19090 closed, assigned to nobody

[2022-04-14 09:39] sgiehl commented on #19097
@CyrilBrulebois You should check if your browser blocks any requests to Matomo. That message is automatically hidden by CSS/JS. If it's visible that means the requests failed.

[2022-04-14 09:52] CyrilBrulebois commented on #19097
@sgiehl Thanks, I had been checking this since the previous reply: I'm indeed seeing an item getting blocked (`bottomAd`); I've looked around and didn't see anything obvious that could have changed in this release (as stated by @justinvelluppillai). That message was definitely not showing up before the upgrade though (I've got Matomo in a pinned tab, I would have noticed).

I'm not sure why that's

[2022-04-14 09:55] cadeyrn commented on #19097
For me the message definitely appears only since the update to Matomo 4.9.0.

[2022-04-14 10:01] sgiehl commented on #19097
That's interesting. The code of that template hadn't changed since 2018. Wondering why it should suddenly start blocking it, unless there was an update in the adblocker maybe.
In general disabling the adblocker for Matomo only should fix any such issues.

[2022-04-14 10:10] MatomoForumNotifications commented on #19067
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/plugin-goals-error-after-update-4-9-0/45519/3

[2022-04-14 10:15] CyrilBrulebois commented on #19097
I was trying to check https://github.com/easylist/easylist's history (that's the trigger according to uBlock Origins), but got tired of waiting for deltas to be resolved on that ~ 3G repository…

Sure, disabling the adblocker for Matomo might work as a general solution might work.

I don't understand why I would have to do that.

Going back in the twig file's history, I'm seeing https://github.com

[2022-04-14 10:43] cadeyrn commented on #19097
While disabling the easylist filter in Adblock Plus works for me I want to note that I did the Matomo update ~ 1 hour ago. The last filter list update was done a few hours earlier on my system. It would also have been a very big coincidence if the filter list would have been updated in exactly the same moment as Matomo.

[2022-04-14 11:56] Findus23 commented on #19097
@CyrilBrulebois #12493 was not just intended for the installer, but also all other pages in Matomo. And this check has been there indeed since 2018.

Everyone, do you by chance have your Matomo instance installed on a subdomain called matomo.yoursite.example?
Then it might be caused by this rule in the easyprivacy filter list:

https://github.com/easylist/easylist/commit/ece9fd83f4e9c0bcb9fde348c1

[2022-04-14 12:03] cadeyrn commented on #19097
In my case it's analytics.yoursite.example. And the linked change was commited in September 2021, so it would not explain why it suddenly happens after the Matomo 4.9.0 update.

[2022-04-14 12:05] Findus23 commented on #19097
That's of course fully true (and I assume most Matomo users use ad-blockers).
The reason for this is just that ad-blockers often block the core JS package of Matomo with overly broad rules. And as this breaks Matomo in unexpected ways, it's very helpful if a message is displayed at the same time.

That said, maybe the check could be improved. At the moment it seems to check if a `bottomAd` element

[2022-04-14 12:05] MatomoForumNotifications commented on #17686
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/matomo-4-8-0-upgrade-warning-for-htmlspecialchars-using-php8-1/45056/3

[2022-04-14 12:06] heurteph-ei commented on #17686
@sgiehl it seems some `htmlspecialchars` deprecated function is still in use... (see previous message)

[2022-04-14 12:14] Findus23 commented on #19097
@cadeyrn That's true, that is probably unrelated.

I think I can reproduce this issue now that I added an exception rule (`@@://matomo.$domain=~matomo.org` ) for the rule above and enabled ublock origin again for my site.
Weirdly enough it still doesn't appear on demo.matomo.cloud even though the `bottomAd` is also hidden there.
I think there might be some timing issue in the JS of _adblockDetect.

[2022-04-14 12:14] #18884 closed, assigned to sgiehl

[2022-04-14 12:17] CyrilBrulebois commented on #19097
I'm using `numbers.` as a subdomain here, not `matomo.`.

[2022-04-14 12:21] #19089 closed, assigned to nobody

[2022-04-14 12:23] CyrilBrulebois commented on #19097
The easylist update seems like a red herring too, finally retried a `git clone` on a machine with more cores, and `git blame` suggests that rule has been here since forever or so:

[code]

[2022-04-14 12:30] sgiehl commented on #19097
@Findus23 I'm not able to reproduce that with my installed adblocker. If you find a way to fix / improve that feel free to create a PR against `next_release` so we can include that in Matomo 4.9.1

[2022-04-14 12:47] CyrilBrulebois commented on #19097
The timing issue hypothesis (or something similar) seems possible to my rather inexperienced web debugger eyes: once the demo page is loaded, using Firefox's debugger to run parts of the detection function correctly gets `wasMostLikelyCausedByAdblock = true`.

[2022-04-14 13:04] dr0i commented on #19069
Mysql ended up with :

Didn't thought of having enough space left on device for temporary mysql files:

...
DATA: Error number 28 means 'No space left on device'
...

My comment was obviously wrong:

because I only had a look at the mount where the matomo db resides.

I close this issue here because this is ~~a new issue~~ [a myslq issue due my misconfiguration](https://dba.stackexchange.com/quest

[2022-04-14 13:05] #19069 closed, assigned to nobody

[2022-04-14 13:10] MeiKatz commented on #18947
Is there currently any workaround? Maybe by setting / deleting some values in the database?

[2022-04-14 15:19] diosmosis commented on #19097
@CyrilBrulebois this looks like it's related to the Vue migration as some code is no longer loaded in a blocking manner. Can you check if this change fixes the issue for you: https://github.com/matomo-org/matomo/pull/19106 ?

[2022-04-14 15:40] CyrilBrulebois commented on #19097
@diosmosis Sure thing: wrapping the code inside that `DOMContentLoaded` listener makes the issue disappear, thanks!

(Tested by hitting Refresh a few times with that change applied, all good; undoing the change makes the issue come back immediately.)

[2022-04-14 15:48] sgiehl commented on #18947
@MeiKatz clearing the `twofactor_secret` column in the `matomo_user` table for the specific user should do the trick I guess.

[2022-04-15 08:28] heurteph-ei commented on #18898
Same as (newer but more complete) enhancement #19093

[2022-04-15 09:48] heurteph-ei commented on #19087
For information: this behavior is the same in version 4.3.1

[2022-04-15 09:50] heurteph-ei commented on #19086
additional information:
In version 4.3.1 the icons are not there, but when insisting with the mouse hover, sometimes they come back (and sometime just one of them)

[2022-04-15 10:08] ghost opened #19109 "Dashboard broken by 4.9.0 browser incompatibility"
## Expected Behavior

Expected to be able to use the Matomo dashboard normally in Firefox version 67 after updating to Matomo 4.9.0.

## Current Behavior

Blue header on dashboard displays normally, but page is otherwise blank.  All links in the header have same broken behaviour, displaying header but nothing else, except that on the configuration page, the sidebar ("personal/system/privacy/etc.")

[2022-04-15 13:02] shoezen commented on #18681
I would really like to have this User Group too.
I miss that you can't create reports were multiple employers/users can acces the settings of this report. If this employee is ill, we can't access the reports settings of our customers websites. A general account is against our policy. We need to see who changes what etc. according tot our Information security policy (ISO 27001). If reports were to

[2022-04-15 15:28] ghost commented on #19097
I just joined, to report that I am seeing this horrible message about the adblocker.

Obviously I am not going to disable my ad blocker for anyone :D

Is there a manual way to remove it entirely?

Thank you.

[2022-04-15 19:20] sgiehl commented on #19097
@LauraTaylorUK you can apply the changes from this PR: https://github.com/matomo-org/matomo/pull/19106/files
Otherwise a fix will be included in 4.9.1, which should be released soonish.

[2022-04-15 19:40] ghost commented on #19097
Thank you for the prompt fix and support.

Maybe now is a good time to ask, why there is a adblock detection script included in the admin interface?

[2022-04-15 20:13] Findus23 commented on #19097
Mainly for the reason I explained here: https://github.com/matomo-org/matomo/issues/19097#issuecomment-1099116238

There are too many ill-configured ad-blockers and overly broad blocking rules that break Matomo and when it does it often does in ways that makes Matomo look broken. And the adblocker is often not the first thing people think of when debugging.

[2022-04-16 11:48] MatomoForumNotifications commented on #19097
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/fur-den-fall-dass-sie-einen-ad-blocker-verwenden-deaktivieren-sie-diesen-bitte-fur-diese-seite-um-sicherzustellen-dass-matomo-problemlos-lauft/45558/2

[2022-04-18 05:07] Sdaud1950 opened #19114 "Facing issues in piwik pro that, we are not able to track the visiters on our Amp page."
facing issues in Piwik pro that, we are not able to track the visitors on our Amp page.
We've followed the documentation of analytics Accelerated Mobile Pages integration, but we're getting errors in the console.

Ref: Below I have shared a URL link.
"https://analytics.lemontrend.com/ppms.php?action_name=Fashion%20Photographer%20Carlos%20Vaz&idsite=1a05c9c6-0a3f-46c0-aa56-b23e6fbc40c5&rec=1&r=8576

[2022-04-18 11:41] MichaelRoosz opened #19115 "convert-to-utf8mb4 side effect: text column data types will be modfied"
After upgrading to utf8mb4 via
`./console core:convert-to-utf8mb4`
as documented here:
https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/

All columns of all tables of type "text" (text, mediumtext, etc) have automatically been increased in size by the sql server (MariaDb 10.7).

For example, before:
[code]

after:
[code]

The logic behind this is documented here:

[2022-04-18 17:16] Findus23 commented on #19114
Hi,

Can you please explain in more detail how this issue is related to Matomo?

[2022-04-18 21:46] justinvelluppillai commented on #19109
Thanks for reporting this @mskala. We will release a patch fix for this issue in Matomo 4.9.1 shortly.

Please also note that [Firefox 76 reached end of life](https://endoflife.date/firefox) more than 5 months ago. I'd recommend upgrading your browser if possible.

[2022-04-18 21:53] #19097 closed, assigned to nobody

[2022-04-18 23:01] Zozman opened #19116 "`POST` to `matomo.php` Endpoint Returns 204 When Setting An `Origin` Header Not On The `cors_domains`"
According to the documentation [in the Matomo FAQ](https://matomo.org/faq/how-to/faq_18694/), CORS settings can be set by setting the `cors_domains` array in the `config.ini.php` to only allow certain domains to interact.  However even if this is set, when sending a `POST` request to the `matomo.php` endpoint with a domain in the `Origin` request header that is not on the list still returns a `204

[2022-04-18 23:25] ghost commented on #19109
Cold, dead fingers.

[2022-04-18 23:57] justinvelluppillai commented on #18960
Hi @BobOtike have you contacted our Cloud support team about this issue? It is affecting your cloud account rather than Matomo and they will be able to help you there.

[2022-04-18 23:57] #18960 closed, assigned to nobody

[2022-04-19 00:01] justinvelluppillai commented on #18803
Thanks for the report @utrautmann. I have put it in the backlog for future prioritisation.

[2022-04-19 01:40] tsteur opened #19117 "Add ability to define page redirects in Matomo for when you change page urls so you can still analyse data for redirected pages"
Not sure if there's already an issue for it, couldn't find one immediately.

Every website will eventually change some page URLs and define redirects for the old urls to redirect to the new urls.

Similarly, it would be great if we could define which pages are redirected in Matomo to be able to analyse historical data for redirected pages.

### Example use case:

We recently built a new knowledge

[2022-04-19 02:19] bx80 commented on #19093
@nicoco59 Thanks for the suggestion, this would indeed be a useful capability. :+1:
Issue #18898 already requested the same functionality so I'll close this issue so we can keep the discussion focused in one place.

[2022-04-19 02:19] #19093 closed, assigned to nobody

[2022-04-19 02:21] bx80 commented on #19092
Hi @Bira-navi, thanks for reporting this. Would it be possible for you to share a screenshot of the problem to help us understand it a little better?

[2022-04-19 02:44] peterhashair commented on #19116
@Zozman thanks for the bug report, I think that's a bug I made in this PR, https://github.com/matomo-org/matomo/pull/19030.

Here should be instead of `*`, I believe should be a combination of `cors_domains` and sites domains in the database. ping @sgiehl

https://github.com/matomo-org/matomo/blob/dc753b2fc6e691d0830ec03143ae06c091474296/core/Tracker.php#L119

[2022-04-19 02:50] peterhashair commented on #19115
@MichaelRoosz thanks for reporting this, will update the FAQ.

[2022-04-19 02:59] bx80 commented on #19099
Hi @DBX12,

Setting `[General]` `enable_general_settings_admin=0` in `config/config.ini.php` will completely prevent use of the browser archiving setting that was configured in the UI.

By default browser archiving is enabled, so to disable browser archiving when also using `enable_general_settings_admin=0` you should also set `enable_browser_archiving_triggering = 0` in the `[General]` section.

[2022-04-19 07:55] Bira-navi commented on #19092
Hello, this is what i got :

<img width="368" alt="Capture" src="https://user-images.githubusercontent.com/98026652/163953845-cc70e52c-2def-4116-a456-f04e27801ad0.PNG">

[2022-04-19 08:36] Bira-navi opened #19120 "Incorrect tracking search result pages"
Hello,

I have a problem concerning the keywords searched on the site. I don't understand why, when a search is performed and displays for example 5 results, the column PAGES OF SEARCH RESULTS displays 4. On my site, 10 results can be displayed on the same page. I also have data when there are 0 results.

Thank you.

[2022-04-19 08:40] justinvelluppillai commented on #19120
Thanks @Bira-navi. I will close this as you already have an issue being replied to about this.

[2022-04-19 08:40] #19120 closed, assigned to nobody

[2022-04-19 08:59] heurteph-ei commented on #19114
I think there is some confusion between Matomo (former piwik) and Piwik-pro (initially a fork of piwik)... :-S

[2022-04-19 15:39] MatomoForumNotifications commented on #19089
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/anonymize-tracking-data-issue-after-update-to-4-9/45565/4

[2022-04-19 23:26] atom-box opened #19122 "Email Report files alphabetical order should work in all languages, by eg "Report for URL Website - YYYY-MM-DD to YYYY-MM-D2 - $Translated_Date_string""
_A user suggests the following:_

Is there a way to fix the filenames for emailed PDF reports? Matomo defaults to the file name of (for example) "Report abc Website - March 18 - April 16, 2022.pdf" but this makes it impossible to list reports chronologically when they are in alphabetical order.

If archiving PDF reports from Matomo, the problem is severe enough that I would classify it as a bug.

[2022-04-20 06:56] DBX12 commented on #19099
Hi bx80,
I understand that the setting `enable_general_settings_admin=0` will disable all settings in regard to browser archiving in the web UI. But if I have a cronjob set up, why would the system check report it as missing when I set `enable_general_settings_admin=0`?
It seems like it is linked to `enable_browser_archiving_triggering`. Basically "if `enable_browser_archiving_triggering == 0` ass

[2022-04-20 11:12] webwinkelfacturen commented on #18962
Hi all, is someone working on this? If not would someone like to assist me in solving this.

I am a newbee in OpenSource contributions but not in coding. I already wrote a PHP Unit test for this issue, but according to this PHP Unit test everything works as expected.

Your help is appreciated.

[2022-04-20 12:26] Demichev commented on #18612
Hello.
We have the same issue. I temporarily modified Matomo code (return false immediately in onExistingVisit() for Referrers Columns classes). We are testing it now. I think it will solve the problem for us but it is good to have an official option.
What do you think?

[2022-04-20 12:36] adsham commented on #18612
Hi @Demichev - this is interesting, we are still waiting on an update. We have lost business over this and have built some of our services around the referrer functionality so it is important that a solution is found. It would be great if you could share your experience and solution if you find one, perhaps it will the developers with an official solution?

Also @justinvelluppillai  What is the "b

[2022-04-20 20:02] tsteur commented on #16368
FYI After 4 years Materialize finally released an update :) https://github.com/materializecss/materialize/releases/tag/1.1.0

[2022-04-20 22:08] Starker3 opened #19124 "Fix error when adding new goals if no previous goals exist for website/measurable"
When adding a Goal to a website or measurable that does not already have a goal results in the following warning and error:

[code]

The actual error doesn't seem to have anything to do with Ecommerce being enabled as enabling it doesn't resolve the error. The error does not appear on other sites where goals already exist.

This is the result of a backtrace:
[code]

* Matomo Version: 4.9.0

[2022-04-20 23:25] scottf-tvw opened #19125 "Fix display issue with z-index for widgets that use tables with embedded dashboards"
table <thead> in widgets that use tables embedded dashboards have a z-index of 10 causing overflow issues with other components in the view.

## Expected Behavior
Table headers should not contain a z-index higher than other root components. Thus not blocking menu's and or other nearby reports when overflow is triggered on resizing

## Current Behavior
resizing a dashboard with other components may

[2022-04-21 00:08] bx80 commented on #19099
Hi @DBX12,

I agree, this is misleading.

It's happening because `enable_general_settings_admin=0` will completely disable the browser archiving option you set in the UI, it doesn't just disable the UI but also no longer checks the (separate) UI setting at all, so `enable_browser_archiving_triggering` reverts back to it's default config file value of `1`.

The diagnostic check is fairly simplistic

[2022-04-21 02:15] Starker3 commented on #19124
This was also reported on the forum: https://forum.matomo.org/t/plugin-goals-error-after-update-4-9-0/45519/9
There is a workaround to create Goals by going to Settings > Websites > Goals and adding a goal there.

[2022-04-21 07:44] Sdaud1950 commented on #19114
Sorry for the inconvenience, there was a little bit of confusion between Piwik pro and Matomo (Piwik).

[2022-04-21 07:44] #19114 closed, assigned to nobody

[2022-04-21 08:29] niklasternstedt commented on #19067
It is still a problem if a want to add a new goal when I don't have any goals. Then I get this error message:
`Oops… there was a problem during the request. Maybe the server had a temporary issue, or maybe you requested a report with too much data. Please try again. If this error occurs repeatedly please contact your Matomo administrator for assistance. [See the steps to resolve this issue in the

[2022-04-21 09:47] MichaelRoosz opened #19127 "PHP8.1 compatibility fixes in referrers plugin"
With Matomo 4.9.0, I see lots of these warnings:

**1.**
[code]

**2.**
[code]

Problem 1 I solved temporarily by replacing
`$this->keywordReferrerAnalyzed = mb_strtolower($this->keywordReferrerAnalyzed);`
with
`$this->keywordReferrerAnalyzed = mb_strtolower($this->keywordReferrerAnalyzed ?? '');`

But I am not sure this is the best fix.

[2022-04-21 11:57] Demichev commented on #18612
Hello @adsham. I should clarify my approach. I did not try to exclude payment site referrers, I disabled all referrers from late actions. Only referrer from the first action of each visit is recorded if any. Payment site still can be set as referrer if visit is expired. We are experimenting with visit length up to one day.
I can share my changes but they should be restored each time Matomo is upda

[2022-04-21 12:12] Demichev opened #19128 "More virtualization of MatomoTracker class"
## Summary
May I ask not popular but small feature? We are using MatomoTracker class to emulate user page visits when payment callback is executed. MatomoTracker is poorly virtualized so I overrode the whole sendRequest() method just to replace proxy (getProxy() method is private), add CURLOPT_HTTPHEADER to curl and ['http']['header'] to $stream_options.
It works but each time Matomo is updated I

[2022-04-21 13:08] MatomoForumNotifications commented on #19124
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/plugin-goals-error-after-update-4-9-0/45519/19

[2022-04-21 16:01] adsham commented on #18612
Thanks @Demichev - your approach would satisfy my requirements as it's the initial referrer which is most important in our case. Unfortunately we use the hosted service so I cannot make these changes to our tracking.

[2022-04-21 16:06] adsham commented on #18612
Here is another example of this issue (or related issue) - a new project we are doing a "proof of concept" - unfortunately it's recording intra-website campaigns which isn't very useful for what we are trying to demonstrate to a potential client. This may be the intended behaviour, but I would suggest that it is the first referrer to the site that is important in most cases. Perhaps a FirstReferre

[2022-04-21 18:21] ericimprint opened #19129 "Real Time Visits Error with 4.9 update"
## Expected Behavior
The Visits in Real-time dashboard widget, Visits in Real-time page and Real Time Visitor Count dashboard widget are all failing.

## Current Behavior
There is an error on the page of:

There is a error in the PHP error log of:

## Possible Solution

## Steps to Reproduce (for Bugs)
Error on the following URLs:

1. /index.php?module=CoreHome&action=index&idSite=1&period=day&dat

[2022-04-21 19:56] justinvelluppillai commented on #19127
Hi @MichaelRoosz - that fix looks fine to me, it'd be great if you could make a Pull Request for that. The other warning would be a similar fix to the same file.

[2022-04-21 22:50] avkarenow commented on #18460
From additional plugins I'm using only https://plugins.matomo.org/LoginTokenAuth

[2022-04-22 03:52] samjf opened #19132 "Upper tracking request limit for a pageview to prevent flooding server/db"
## Summary

Often times we come across a tracking bug or bots that continually cause tracking requests to be sent. This can flood the server and slow down the DB. I would expect that there should be some sort of realistic upper limit in the client JS that stops a single visitor from generating too many requests per page view.

It may be wise to implement some upper limit on the client JS so that s

[2022-04-22 04:00] bx80 commented on #19122
Currently the same report description is used both for the email subject and the filename.

The report filename is generated in https://github.com/matomo-org/matomo/blob/daef8036293985885dc838faeb1457d7287cdc10/plugins/ScheduledReports/GeneratedReport.php#L103

We could add a config option to choose the date format to use for the report  filename, possibly defaulting to ISO 8601.
Scheduled reports

[2022-04-22 04:21] bx80 commented on #19125
Hi @scottf-tvw, thanks for reporting this. I've recreated the issue and can confirm that removing the z-index from the table header prevents the broken layout.

[2022-04-22 04:31] bx80 commented on #19128
Hi @Demichev, I can't see any obvious problem with exposing some protected methods. It might be a while before this gets prioritized though as we've got a back log of issues.

[2022-04-22 04:59] bx80 commented on #19129
Hi @ericimprint, thanks for contacting us with this issue. I've not been able to recreate it locally so it might be specific to your installation/upgrade. From the error message it seems like the database query to get real time visit data isn't being generated correctly.

One possibility is that there are existing data table options set which are somehow affecting the query generation.

If possibl

[2022-04-22 05:12] Demichev commented on #19128
I understand that it will have a very low priority. Just hope that it requires so small changes that it can be done reasonably soon.

[2022-04-22 07:58] MichaelRoosz opened #19133 "the "scheduleReArchiving" function cannot handle bigger Matomo with many sites causing a critical failure of the upgrade due to excessive or endless amount of rows in the "archive_invalidations" table"
This migration from https://github.com/matomo-org/matomo/blob/4.x-dev/core/Updates/4.1.2-b1.php#L50 seems to cause an excessive or maybe even endless amount of rows in the table "archive_invalidations" under some conditions:
[code]

In my setup (7mil visits, 20mil pageviews, 50mil actions per month, 400 sites each with ~20 segments, all innocraft plugins installed) the archive cron ran for more th

[2022-04-22 08:32] triplesixman opened #19134 "Improve the realtime page, display more data and graphics"
Hello,

Google analytics (Universal) has a bug since a few weeks on the realtime page and shows false numbers. According to what they said, they don't plan to fix this bug because they have developed the GA4 version. https://issuetracker.google.com/issues/228201905#comment283

But this new version does not allow to see the number of people connected on the site nor the number of page views per min

[2022-04-22 08:49] Findus23 commented on #19133
This might be related to https://github.com/matomo-org/matomo/issues/18281, https://github.com/matomo-org/matomo/issues/17474 and https://forum.matomo.org/t/matomo-on-premise-scaling/45262

[2022-04-22 09:02] heurteph-ei commented on #16767
As (if I don't make mistake) GA4 will replace all other older GA technologies (and stop support for them), is this topic still relevant? (or must it be closed?)

[2022-04-22 09:10] MichaelRoosz commented on #19133
Yes, looks like https://github.com/matomo-org/matomo/issues/18281, https://github.com/matomo-org/matomo/issues/17474 and this are the same issue.

If I understand correctly, the migration is not needed when upgrading from Matomo 3.x as there was never any version 4.x before 4.1.2 installed.

In this case I would say we should not run the migration at all.

And for all other cases where some 4.x <

[2022-04-22 11:53] cadeyrn commented on #19109
Even worse, the extended support release Firefox ESR 78 reached end of life five months ago. Firefox 67 (used by the issue opener) is no longer supported since almost three years (!). There are so many reasons to update the browser: https://www.mozilla.org/en-US/security/known-vulnerabilities/firefox/

Accoording to https://caniuse.com/?search=replaceAll all browsers with exception of the Internet

[2022-04-22 13:37] adsham commented on #18612
Hi @mattab

Could you provide an update on this, I'm receiving a lot of pressure both internally and externally and I'm still none the wiser as to when this will be investigated/resolved. I appreciate you have other priorities and issues, but we are currently paying $300-$500 a month for a service that isn't providing us with the data that it should.

This issue was raised on the other forum in 20

[2022-04-22 13:48] MichaelRoosz commented on #19127
Hello @justinvelluppillai , here is a pr: https://github.com/matomo-org/matomo/pull/19135

[2022-04-22 14:17] ghost commented on #19109
I don't think a Web site statistics system should depend upon running Javascript in order to display statistics at all, much less specific Javascript features of some recent browsers.  Web site statistics are data, not code.  But that's not really relevant here.  What is relevant is that Matomo worked in my installation before 4.9.0; it doesn't work in 4.9.0; either it'll start working again, or I

[2022-04-22 15:13] ericimprint commented on #19129
Thanks for replying. That query (with my table prefix) returned no results. I have cleared the tmp folder as well with no change. I am happy to send a database dump or anything else if it will help.

[2022-04-22 15:36] MichaelRoosz commented on #19124
I have added a pull request with a fix.

[2022-04-22 22:04] justinvelluppillai commented on #18612
Hi @adsham I agree this issue is important and I can see how moving it around the milestones has been unhelpful in terms of providing clarity about when it will be done. I'll see if we can provide a timeframe for this being addressed soon.

[2022-04-23 07:41] MichaelRoosz commented on #19132
To protect your SQL Database and insert tracking data into it at a constant rate you may use https://plugins.matomo.org/QueuedTracking (requires a redis server)

To block bots and set some limits you may use https://plugins.matomo.org/TrackingSpamPrevention

[2022-04-23 07:51] MichaelRoosz commented on #18941
The cause is that you have enabled
`use_third_party_id_cookie = 1`.
The visitor id from the third party cookie will override the visitor id from the first party cookie. The js code can only read the first party cookie.

To fix this I have extended the matomo Javascript with a getGlobalVisitorId() function that reads the third party cookie in my setup. But this only works when Matomo is on the same

[2022-04-23 15:18] Findus23 commented on #19109
I agree here and the access to the data itself is not locked behind Javascript at all. All data in Matomo is accessible via the reporting API and with the E-Mail reports even most graphs can be accessed as server-rendered images.

With the change of https://github.com/matomo-org/matomo/pull/19110 Matomo has already started working here in this case. So the only thing missing is a patch release inc

[2022-04-25 08:06] sgiehl commented on #18962
Hi @webwinkelfacturen. Feel free to work on this one. I think this error might actually only appear on PHP 8.
It might only occur when certain parameters are given/set. The url provided in the issue description might help to reproduce that locally.

[2022-04-25 08:21] Findus23 commented on #18962
One more hint: Maybe the bug is in Matomo, but it is also not impossible that the bug (or PHP 8.x-incompatibility) is in https://github.com/davaxi/Sparkline/ (even though there currently all reported issues are fixed).

[2022-04-25 08:39] sgiehl commented on #19092
@Bira-navi Are you using the javascript tracker to set the number of available search results?

[2022-04-25 08:56] Bira-navi commented on #19092
I don't where i can verify this, but i think that yes ?

[2022-04-25 08:56] Bira-navi commented on #19092
I don't know where i can verify this, but i think that yes ?

[2022-04-25 09:02] #19127 closed, assigned to MichaelRoosz

[2022-04-25 09:06] Bira-navi opened #19140 "Key words searched on the site"
Hello,

I would like to know how it is possible to have in front of the keywords searched on the site, the users who typed this keyword?

[2022-04-25 09:13] sgiehl commented on #19140
Hi @Bira-navi,

I'm not fully sure what exactly you want to achieve. If this is about the distinct number users that performed a search, I guess this is currently not possible. To see all users that performed a search query you can simply use the segmented log feature.

For further questions it might be good to use our forum instead. We usually don't answer questions here, as this should only be u

[2022-04-25 09:13] #19140 closed, assigned to nobody

[2022-04-25 09:18] Bira-navi commented on #19140
Thank you for your answer, I apologize for not asking my question in the right place.

I would like to know, in front of a keyword, WHICH users have typed it without having to do it one by one

[2022-04-25 09:26] sgiehl commented on #19134
Hi @triplesixman
Thanks for creating this issue. Adding some more realtime widgets is something that seems to be requested more often in the last weeks. We currently have no specific plans to implement that, but this might be something we should consider.

[2022-04-25 09:29] sgiehl commented on #19140
That is currently not possible using the Matomo UI. Guess you would need to write something yourself to iterate over the results of the segmented visitors log and parse out the attribute you use to identify the user.

[2022-04-25 09:30] triplesixman commented on #19134
Thank you for your answer.

I'm going to find out on my side to have this tool developed. I don't use Matomo yet but do you think a developer will be able to implement this via a plugin he would create, without impacting the rest of the Matomo platform and future updates?

[2022-04-25 09:36] Bira-navi commented on #19140
When you say I should write something myself, you mean out of Matomo by coding something like that ?

[2022-04-25 09:47] heurteph-ei commented on #19140
@Bira-navi have a look at my answer to your post in the forum: https://forum.matomo.org/t/key-words-searched-on-the-site/45679/

[2022-04-25 09:50] Bira-navi commented on #19140
Thank you very much !!!

[2022-04-25 09:51] heurteph-ei commented on #19092
@Bira-navi is the tracked site a WordPress site or another one?
What did you do in your site to be tracked by Matomo? (please copy-paste the code you used)

[2022-04-25 09:52] MatomoForumNotifications commented on #19092
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/incorrect-tracking-search-result-pages/45681/2

[2022-04-25 11:35] sgiehl commented on #19134
Hey @triplesixman. Yes. That should be possible

[2022-04-25 11:57] Bira-navi commented on #19092
I am not the one who launched Matomo on the portal.. I am not sure if its this code you want :

![image](https://user-images.githubusercontent.com/98026652/165084169-45c5d070-ebea-41dc-b087-42955c3bc950.png)
![image](https://user-images.githubusercontent.com/98026652/165084312-76ce1998-8a71-49fa-a4b1-06f62f259240.png)
![image](https://user-images.githubusercontent.com/98026652/165084931-f3e9243e-1

[2022-04-25 13:11] MatomoForumNotifications commented on #18178
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/after-upgrade-all-new-segments-pre-processed/45626/2

[2022-04-25 13:20] #19124 closed, assigned to nobody

[2022-04-25 13:28] adsham commented on #18612
Quick way to recreate this issue. Rather than a later referrer “overwriting” the first referrer – it is generating a new visit when a new referrer/campaign is encountered during the visit – and this subsequent visit will get associated with the conversion/goal.

1)	On a Matomo tracked website (standard javascript tracking). Click a link or visit the website with a testable referrer. In this exampl

[2022-04-25 13:44] Demichev commented on #18612
@adsham
There are two settings in Matomo config. I don't know if they are available for change in hosted version. I think you need create_new_visit_when_campaign_changes = 0.

; if set to 1, actions that contain different campaign information from the visitor's ongoing visit will
; be treated as the start of a new visit. This will include situations when campaign information was absent before,
; b

[2022-04-25 13:46] heurteph-ei commented on #19092
How are your track defined?
- Do you use the following code:
[code]
- Do you just use the automatic search tracking defined below (in **Administration>Measurables>Manage**)?
![image](https://user-images.githubusercontent.com/79993552/165101920-3fcd486d-5ed4-417f-9e4d-ba6019aa2a0a.png)

[2022-04-25 13:53] sgiehl commented on #19129
@ericimprint Does the log file contain some more details in which file the error/exception raises?

[2022-04-25 14:02] sgiehl commented on #19091
Hi there, Thank you for creating the issue. To request features for a Premium Plugin please contact shop at innocraft.com or ask in the Premium Features forum here: https://forum.matomo.org/c/premium-features

Closing this issue now. Thanks.

[2022-04-25 14:02] #19091 closed, assigned to nobody

[2022-04-25 14:10] sgiehl commented on #19084
Hi @tassoman
Thanks for the suggestions. For installs with many users that might make sense indeed. Unfortunately I don't think we will have free capacities to work on this soon. If you have some free time, we would be happy to see a Pull Request with the required changes!

[2022-04-25 14:17] sgiehl commented on #19034
@mattmary are you able to say if that still occurs with Matomo 4.9.0 ?

[2022-04-25 14:21] JustJoe21 commented on #19034
I had the same issue and from I can say it does not appear any more in version 4.9.0; seems to be fixed.

[2022-04-25 15:47] sgiehl commented on #18937
@tsteur Pushed some code that could maybe help to identify the queries that produce duplicate records:
https://github.com/matomo-org/matomo/pull/new/m18797
I haven't tested the changes, and also I'm not sure if logging an error might still let the archiving fail. So maybe we should log an info instead 🤔  What do you think?

[2022-04-25 15:48] sgiehl commented on #19034
Hi @JustJoe21. Thanks for the feedback!
@mattmary  If the error still occurs with Matomo 4.9.0 or later, feel free to reopen the issue.

[2022-04-25 15:48] #19034 closed, assigned to nobody

[2022-04-25 16:28] ericimprint commented on #19129
The php error log didn't show anything else. Is there other logging I can turn on to help?
I did a clean install in another directory with a new database and fresh data from another site, and got the exact same error. So it is a server issue, not a historical setting or data issue. I updated the directory to use PHP 8.1 and PHP 7.4 and got the same error.
<details>
<summary>Click to view System Ch

[2022-04-25 20:54] justinvelluppillai commented on #18612
The `create_new_visit_when_campaign_changes` setting seems relevant here. There is also the option to use first referrer attribution for conversions with `_paq.push(['setConversionAttributionFirstReferrer', true]);` (as described here: https://matomo.org/faq/general/faq_106/).

[2022-04-26 08:15] heurteph-ei commented on #18612
@justinvelluppillai reading the FAQ, I think the `setConversionAttributionFirstReferrer` should work on several visits. Not in the case of a single visit. The problem in this thread is during a single visit (within the 30 min timeframe):
 - Referrer A
 - Some Pages _(at this time the referrer is A)_
 - Outlink to the payment provider
 - Thankyou page _(now the referrer is the payment provider)

Th

[2022-04-26 08:40] heurteph-ei commented on #19134
Doesn't this widget do the job?
![image](https://user-images.githubusercontent.com/79993552/165259249-9c8b6709-9ca8-4d86-b13a-c07a3188700d.png)

[2022-04-26 08:47] heurteph-ei commented on #18530
@Findus23 if I am not wrong, the link « _Click here to set a kokie that will exclude your visits on websites tracked by Matomo..._ » opens a new window/tab. Then the cookie can be generated without any problem if I read Starker3's 2nd workaround...

[2022-04-26 08:59] justinvelluppillai commented on #18612
That's correct re `setConversionAttributionFirstReferrer`. We will look into the other problem when we review this issue next milestone - also the first comment's issue of many of them maybe being attributed to Direct Entry seems unexpected.

[2022-04-26 09:00] triplesixman commented on #19134
We remain far from what is proposed at google, see capture ![image](https://i.pinimg.com/originals/af/4f/69/af4f69d2786f8a7f2a2fa62ac5b84a91.png)

[2022-04-26 09:21] MatomoForumNotifications commented on #19109
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/empty-view-in-matomo/45692/9

[2022-04-26 09:28] #19109 closed, assigned to nobody

[2022-04-26 09:32] adsham commented on #18612
Hi @justinvelluppillai

It would also be useful to know how those of us with the hosted Matomo service (Innocraft) can change these config settings. As far as I am aware there is no option to do this, but can these settings be changed for us server-side? If so what is the process for doing this?

Thanks

[2022-04-26 09:52] Findus23 commented on #18530
@heurteph-ei But wouldn't the link then not need to open the domain of the website that is tracked as the cookie needs to be stored there (or at least stored while on that site)?

[2022-04-26 10:47] M13iriam opened #19142 "Campaigns targeting one Matomo instance when tracking on multiple and deleting campaigns"
Hi,

I posted this thread in the forum and it seems this isn't a feature yet so I was referred to here to propose it:
https://forum.matomo.org/t/multiple-matomo-instances-campaign/45489

## Summary
I track a website with multiple Matomo instances and realized that when calling a site with a campaign-URL the campaign gets tracked in all instances.

It would be nice to be able to delete campaigns so

[2022-04-26 11:27] webwinkelfacturen commented on #18962
Thanks, we will do an installation later this week. We were moving our development server.

I thought it should be in davaxi/Sparkline and wrote a test. It seems not to be possible to enter wrong values.

Anyway, I will try to reproduce the error and let you know.

[2022-04-26 11:37] sgiehl commented on #19142
Hi @M13iriam. I don't think it's a typical use case to track one website into multiple matomo instances. But anyway, the only possibility I can see right now to achieve that is using some some custom javascript on the site to manipulate the tracked url in order to remove the campaign parameters for those trackers that shouldn't track the campaign.
Another possibility would be to use different camp

[2022-04-26 11:41] sgiehl commented on #19132
@MichaelRoosz I guess the issue was more about the client side. So that the javascript tracking kind of counts the requests that were already sent on a certain page and when it reaches a limit further tracking requests would be dropped. That way they would not even reach the server.

[2022-04-26 12:16] sgiehl commented on #16368
I spent a couple of minutes preparing the required changes to use the fork. If tests are (still) passing we could maybe consider doing that before Matomo 5.
https://github.com/matomo-org/matomo/pull/new/materializeupdate

[2022-04-26 13:21] Findus23 opened #19144 "Migrate piwik.js/matomo.js to Typescript"
matomo.js is quite a complex piece of software and essential for Matomo to work. But that means subtle bugs often slip in and either break things or at least annoy people with logged errors.
Therefore, I am wondering now that we are using typescript in Matomo, if it would be useful migrating matomo.js to typescript (while as a first step keeping the output absolutely identical). It would at the ve

[2022-04-26 13:24] Findus23 commented on #17094
An experimental implementation of this idea is now available at https://github.com/Findus23/MatomoLiteTracker
Depending on which features are used the final JS size goes below 1KB minified and gzipped.

If anyone wants to try it out and report their experience with it, please get in contact with me.

[2022-04-26 14:19] heurteph-ei commented on #18530
As I understand (I may be wrong), the opt-out feature uses a 3rd party cookie, as it is explained by «... _your visits on websites tracked by Matomo on **dev.matomo**_ ».
The thing pointed out by Starker id that on Safari, you can create the cookie only if you are in the website itself. As the link opens a new window/tab, it should work...

[2022-04-26 14:38] ASponch commented on #18684
Hello,

I have upgraded from 4.7.1 to 4.9.0 today and I got the same error. All seems to work correctly but the message appears. I created a file named "empty" in /tmp/ and the message disappeared (logical).

Best regards

[2022-04-26 19:52] justinvelluppillai commented on #18612
Hi @adsham, Matomo Cloud customers can get in touch with our support team about changing config settings that can't be changed in the UI.

[2022-04-26 22:24] tsteur commented on #18937
Be good to test it if the log

* makes the archiving fail if using cron archiving
* if the error could show up in the UI when this happens assuming browser archiving is enabled
* If there's anything printed, the echoed JSON may not be able to be read

If only the cloud team applies this patch, then the cloud team can use a special logger though that won't cause any issues and only logs to file.

I

[2022-04-27 01:04] samjf commented on #19132
@sgiehl Yes, this was what I was imagining.

An example of what i'm trying to avoid is say like 7000 form submissions in a single pageview by a single visitor. That wouldn't seem like a realistic usage of valid tracking.

I wonder if implement if this could cause trouble for SPA sites? Though, I would suspect that they would track virtual pageviews that could reset the limit.

[2022-04-27 05:38] Ravid824 opened #19146 "Matomo diagnostic reports Error: LOAD DATA INFILE : SQLSTATE[HY000]: General error: 1290"
Hello
I am running Matomo from the docker container retrieved from Docker Hub
I also run the MySQL 5.8 container in parallel.
docker run --name david_mysql -e MYSQL_ROOT_PASSWORD= MyPassword -d mysql:latest
docker run -p 80:80 --link david_mysql:db matomo:latest

The Matomo web server is connecting and I am able to run the configuration wizard.
One done I am able to see the dashboard. However the

[2022-04-27 08:53] sgiehl commented on #19146
Hi @Ravid824
Did you check this FAQ: https://matomo.org/faq/troubleshooting/faq_194/ ?
`load data infile` is not required. If you can't use it for certain reasons you can disable it in config.

[2022-04-27 11:00] niklasternstedt opened #19147 "Google Analytics import plugin not compatible with Matomo 4.9.1"
## Expected Behavior
It should not appear a error message inside Matomo with the info:
"The plugin GoogleAnalyticsImporter could not be loaded as it has missing dependencies: GoogleAnalyticsImporter requires Matomo >=4.10.0-b1. Please contact your Matomo administrator."

## Current Behavior
Same as above

## Possible Solution
Update the plugin Google Analytics import so it is compatible with the l

[2022-04-27 11:33] Findus23 commented on #19147
Hi,

How did you install the plugin?

From the Marketplace or did you manually download and extract it?

[2022-04-27 11:33] Findus23 commented on #19147
The issue is more the other way around: The latest version of GA-import requires the next version of Matomo (which will be released in weeks). But this means it also should not be recommended to anyone to be installed.

[2022-04-27 13:27] MatomoForumNotifications commented on #19142
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/multiple-matomo-instances-campaign/45489/11

[2022-04-27 17:45] koljam commented on #19067
There seems to be a workaround until there is a new release: https://github.com/matomo-org/matomo/issues/19124#issuecomment-1104636551

[2022-04-27 19:29] aqustiq opened #19149 "Required Private Directories: curl_exec: SSL certificate problem: unable to get local issuer certificate"
Unable to execute check for  https://matomo.myxdomain.com/config/config.ini.php: curl_exec:  SSL certificate problem: unable to get local issuer certificate.  Hostname requested was: matomo.myxdomain.com                                                                                                             Unable to execute check for  https://matomo.myxdomain.com/tmp/cache/tracker/matomocache_

[2022-04-27 23:07] bx80 commented on #19149
Hi @aqustiq, thanks for making contact.

The system check connects to your server via HTTPS using curl to determine if those files are publicly accessible. From the error message it looks like your server's certificate is not trusted by curl.

You can test this by attempting to connect directly with curl on your server:
[code]

It could be that your certificate authority list is out of date and ne

[2022-04-27 23:25] Ravid824 commented on #19146
Thank you, the link is helpful and helped to resolve my problem.

[2022-04-27 23:27] Ravid824 commented on #19146
The question is why it is not working as expected. When there is be another release and I will pull a new container the problem will show again. I wish that the issue can be resolved premanetly.

[2022-04-28 07:29] sgiehl commented on #18937
@tsteur I would suggest we only let the cloud team apply the patch, so we can gather the queries that maybe produce the problem. I've added the `INSERT IGNORE` so the archiving won't fail any longer. But we can also leave that away in a first step, so we only log the queries.

[2022-04-28 07:32] taladar opened #19151 "Trigger auto-update via console"
Matomo has an auto-update functionality that includes the download of the latest version in the web interface.

As far as I can tell there is no way to trigger this process completely from the CLI. All guides I found suggest downloading
the update myself, unpacking it, then running the core:update command.

It would be useful to have the full auto-update available via console to be able to automat

[2022-04-28 07:57] MatomoForumNotifications commented on #19124
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-in-4-9-1-after-upgrade-from-4-9-0/45726/2

[2022-04-28 08:28] Chardonneaur opened #19152 "History triggered email report sent"
Would it be possible to have an history of the email sent through the email scheduled report, exactly like the custom alert feature.

[2022-04-28 10:01] PeteTrombone opened #19153 "After upgrade all new segments are pre-processed"
Since we upgraded to version 4.3.1 last July, all new segments are pre-processed. We have
no entry “enable_create_realtime_segments = 0” in config.ini.php.
According to the description the default should be processed in real time. But it is not.
An entry “enable_create_realtime_segments = 1” unfortunately changes nothing.
![image](https://user-images.githubusercontent.com/57910876/165728576-2c8049

[2022-04-28 12:03] sgiehl commented on #19147
I'll close this one. It should be automatically fixed with the upcoming release. It actually slipped through that the new version of the plugin will only be compatible with a not yet released version of Matomo. Normally this shouldn't happen and we will try to prevent that this happens again.

[2022-04-28 12:03] #19147 closed, assigned to nobody

[2022-04-28 12:05] sgiehl commented on #19067
@koljam a first release candidate for Matomo 4.10.0 will be released next week. That one should fix this issue.

[2022-04-28 12:08] sgiehl commented on #19152
Hi @Chardonneaur
Thanks for the suggestion. We are currently only storing when a report was last sent in the database. That could be easily displayed. Adding a history would be a bit more effort but for sure it would be possible.
In theory it might even be possible to handle that in a custom plugin. But a PR to add this would also be welcome if anyone is keen on working on that.

[2022-04-28 12:11] sgiehl commented on #19153
Hi @PeteTrombone
Would you mind to explain what exactly your expected behavior would be?
Is it that the preselected value when creating a new segment is `pre-processed` even if real time segments are enabled?

[2022-04-28 13:08] atom-box commented on #18724
A user writes:

_"An exception has been thrown during the rendering of a template ("File `../../CoreHome/vue/src/MenuDropdown/MenuDropdown.less` not found. in anonymous-file-0.less"). in C:\........\plugins\CoreUpdater\templates\runUpdaterAndExit_welcome.twig 8 using PHP 7.4.2
Last time we had a similar problem, should have been fixed with 4.9.1., but isn't. Please fix it. Thanks!"_

[2022-04-28 13:37] PeteTrombone commented on #19153
Before the upgrade, the default setting in the segment menu was "SEGMENTED REPORTS ARE PROCESSED IN REAL TIME".
After upgrade: "SEGMENTED REPORTS ARE PRE-PROCESSED".
Although we did'nt change anything in the settings as described above.

An entry in config.ini.php “enable_create_realtime_segments = 1” unfortunately changes nothing.

We don't want the default "SEGMENTED REPORTS ARE PRE-PROCESSED".

[2022-04-28 13:58] sgiehl commented on #19153
@PeteTrombone do you have browser archiving enabled?

[2022-04-28 14:01] sgiehl commented on #19146
I guess you use the official image. I'll move the issue to the docker repo. As it's more likely an issue there and not within Matomo itself.

[2022-04-28 14:03] sgiehl commented on #19146
Hm. Seems I don't have sufficient permissions to do that.
@tsteur could you give me access to `matomo-org/docker` or move this issue there?

[2022-04-28 14:06] aqustiq commented on #19149
Hi @bx80 ,
How I mentioned in first post when I access those URLs from the server with curl I have no certificate error.
I tested also URL which you provided and here the result:
[code]
I have cut rest of the output but the idea is that I have no problem to access the website with curl from the server.

[2022-04-28 20:43] tsteur commented on #18937
@JasonMortonNZ @samjf could we log the query  mentioned in https://github.com/matomo-org/matomo/compare/m18797?expand=1#diff-4140e491c64a9dcbf541f11e1db846adc3c27a4000810494ba8688e5feeee776R332 using our cloud file logger whenever the error occurs?

Because the temp table insert eventually works at some point when it tries to archive again, we would need to re-run the `select` part of that query f

[2022-04-28 22:27] #18967 closed, assigned to bx80

[2022-04-28 23:44] peterhashair commented on #18810
@tsteur,  @bx80, and I found the `visibilitychange` will cause a problem when you switch between browser tabs since there is no way to talk user is switching between tabs or left page. I think we can change `beforeunload` to `onbeforeunload` that will trigger `unload` on refresh, but that won't work for a mobile use case. The user switches to a different app, Later, the user closes the browser fro

[2022-04-29 00:22] JasonMortonNZ opened #19158 "Improve memory management in DataTable/CSV"
We are seeing this error occur more regularly now, particularly with CSV format. It tends to appear more when there are visits with many actions, forms, media, etc.

[code]
Also listing the API calls here in case these are helpful :)

[code]

[2022-04-29 03:18] tsteur commented on #18810
I'm not sure I fully understand it but I'd listen to both `visibilitychange` and `beforeunload`. Mentioned this also in the issue description

Would that solve the issue?

[2022-04-29 03:50] peterhashair commented on #18810
@tsteur ah I think I confused you, but the problem is `visibilitychange` triggers on browser tab change, there is no way to tell the difference between tab change and completely leaving the browser, I think that causes a problem when people open a page ->switch tab-> plugin performance unload->come back to the page.

[2022-04-29 03:56] tsteur commented on #18810
Yeah sorry I might not be getting it yet. It would be a good thing if they switch to a different tab and then we trigger the unload event I think, or could there be an issue? The biggest thing I could think of is that if people switch between tabs a lot then it could cause maybe a lot of requests which we would need to prevent maybe. I can see though it changes the meaning of "unload". Maybe we'd

[2022-04-29 03:59] peterhashair commented on #18810
@tsteur right, that makes sense, I think a debounce maybe helps on tab change, but not perfect, will keep playing around.

[2022-04-29 05:11] bx80 commented on #18810
@tsteur I was thinking that if we trigger the `unload` event on a tab switch then plugin code would need to be aware that the user might not have left the page and could switch back to it at any point. There might be an assumption that the plugin unload event means that the page has been closed (which up until now would have been true).

I haven't looked at it in detail, but HSR for example hooks

[2022-04-29 07:42] sgiehl commented on #18810
Just a random thought: Isn't the main problem that some tracking requests might not be sent if the unload event isn't triggered and the page is closed?
Wouldn't it be enough to simply send all requests in the queue when the visibility changes?
That for sure might not solve the problem that the unload event isn't triggered, but might already prevent losing requests.

[2022-04-29 08:10] sgiehl commented on #19158
Hi @JasonMortonNZ
Are you able to reproduce that? Could you maybe check if this changes solve that maybe:
https://github.com/matomo-org/matomo/compare/improvecsvexport?expand=1

[2022-04-29 08:37] sgiehl commented on #19129
@ericimprint sorry for the delay. Did you also check the matomo log file in `tmp/logs/matomo.log` ?

[2022-04-29 09:48] lneuville commented on #19092
Hi,
I'm experiencing the same issue on Matomo Analytics Cloud.
I'm using Matomo Tag Manager.
On the result page, I launch a Custom HTML Tag with :
`<script type="text/javascript">
_paq.push(['trackSiteSearch', {{DLV-searched_expression}}, {{DLV-searched-category}}, {{DLV-search-results-number}}]);
</script>`
_(on this page, I don't launch a Pageview Tag, following official Matomo's doc)_

This Tag

[2022-04-29 09:55] heurteph-ei commented on #19092
@lneuville
Do you see the event / tag when using container preview mode?
Do you see any JavaScript error in the browser console?
Do you see any HTTP request to your Matomo after that tag execution?

If I don't do mistake, I think this is used for automatic search tracking thanks to params (like q=, query=, s=, search=, etc.) found in the page URLs

[2022-04-29 11:05] PeteTrombone commented on #19153
@sgiehl we have the following settings:
[General]
enable_segments_cache = 0
datatable_row_limits = "5,10,25,50,100,250,500,1000"
minimum_memory_limit_when_archiving = 9500
force_ssl = 1
scheduled_reports_truncate = 500
datatable_archiving_maximum_rows_actions = 1000
datatable_archiving_maximum_rows_subtable_actions = 500
assume_secure_protocol = 1
proxy_uri_header = 1

![image](https://user-images

[2022-04-29 11:37] sgiehl commented on #19153
Ok. Looking at the code that seems clear now:
https://github.com/matomo-org/matomo/blob/d671dcd8771eaaaf22e1432da348967f8d033179/plugins/SegmentEditor/templates/_segmentSelector.twig#L62
The option is not pre-selected if browser archiving is disabled. I guess the reason for that is, that pre-processed segments should be preferred if an archiving cron is running.
The option to chose a real time seg

[2022-04-29 12:43] uok commented on #17498
Is this fixed?

[2022-04-29 13:59] lneuville commented on #19092
Hi @heurteph-ei

Thanks for your questions ;

Yes. In preview mode, I see the Custom Event on the left bar, and the Custom HTML Tag launched

No error in the console

Yes. After the matomo.js call, I see :

https://XXXXXX.matomo.cloud/matomo.php?search=emballage&search_count=13&idsite=6&rec=1&r=898653&h=15&m=47&s=24&url=https://dev-example.example.com/home/faq/search/emballage&_id=5909d5132f607567

[2022-04-29 14:14] sgiehl commented on #18692
@Starker3 Do you remember if the users that weren't shown might have had `write` access?
Looking at the code it seems we check if a user has `admin` or `view` access. But users with `write` access might be ignored.

[2022-04-29 14:41] heurteph-ei commented on #19092
The second request seems to be related to another plugin (FormAnalytics, maybe), as `fa_*` parameters are not documented in the official API...
If the ID site is the good one (6), then I think all your searches are well tracked.

Now the question is: "how is the Search Results pages calculated"...?
Doing some quick test:
![image](https://user-images.githubusercontent.com/79993552/165966837-98c97dd

[2022-04-29 15:01] ericimprint commented on #19129
4.9.1 didn't change anything.

@sgiehl I turned on logging and got:
[code]

[2022-04-29 15:21] sgiehl commented on #19129
@ericimprint Would you mind sharing your system check results?

[2022-04-29 15:24] ericimprint commented on #19129
@sgiehl I have 2 sets of system check results above (old install and fresh install on the same system).

I switched to the MYSQLi adaptor and got the same problem. Error:
[code]

[2022-04-30 09:55] Chardonneaur opened #19159 "Visits per visit duration and Visit per number of pages calcuation methods"
I couldn't find the definition within the glossary of those two dimensions: Visits per visit duration and Visit per number of pages
The documentation issue is the following, if we go on https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?period=day&date=yesterday&idSite=1&category=General_Actions&subcategory=VisitorInterest_Engagement
the average vi

[2022-04-30 15:22] StefanS-O commented on #19151
+1
Wanted to implement an Ansible task to update Matomo and realized `console core:update` doesn't do much.
I expected that it would have the same functionality as the web interface update.

[2022-05-01 19:39] atom-box opened #19161 "Enhancement: Increase the density of information in the view."
_A user suggested this design preference for the User Interface (UI):_

The dashboard is very generous in space usage.

- There should be a high-density setting where a lot of information fits on one monitor page (1920'1200) (smaller distances and space optimization).

- For the mobile version on the cell phone, a one-page compressed view would also be very nice.

_Das Dashboard ist sehr großzügig

[2022-05-01 20:57] tsteur commented on #18810
@sgiehl that would be already some good step towards the goal 👍 . The tracking plugins will still need to also register the tracking requests they have "queued" when visibility is changing to hidden so these will be sent as well. Otherwise they might not be tracked on mobile for example.

@bx80 maybe in heatmaps ending the recording is not actually needed. I'm not actually sure why it was done sin

[2022-05-01 21:52] justinvelluppillai commented on #19159
Hi @Chardonneaur - thanks for this. Could you please provide screenshots of the sections you are comparing? I have taken a look and can't see the disparity you are mentioning.

Once I see what you mean perhaps we can update documentation to clarify.

[2022-05-01 23:18] justinvelluppillai commented on #19144
That's a cool concept but it'd be a big undertaking I'd say.

[2022-05-01 23:30] justinvelluppillai commented on #19133
Hi @MichaelRoosz - did the fix in #18281 work for you?

[2022-05-02 01:52] KarthikRaja1388 opened #19162 "User Permissions: View user is able create a segment"
A user with View permission is able to create a new segment.

## Expected Behavior
View user should only be able to view the reports

## Current Behavior
The user is able to create a new segment

## Steps to Reproduce (for Bugs)
1. Create a view user
2. try to create a new Segment

## Context
User management would not be efficient when the user who have view permission, be able to create a segment

[2022-05-02 02:41] peterhashair commented on #19162
I think you are right, a view user shouldn't be able to create segments.

[2022-05-02 03:16] #18947 closed, assigned to sgiehl

[2022-05-02 03:17] #19125 closed, assigned to sgiehl

[2022-05-02 05:40] #18724 closed, assigned to sgiehl

[2022-05-02 07:25] MichaelRoosz commented on #19133
Hello @justinvelluppillai ,
I have applied my own fix (see my first post)

The fix in #18281 is basically the same idea, but it deletes everything in "ReArchiveList" instead of only the problematic invalidation.

Still these are not "real" fixes, as the cause of the problem is the "scheduleReArchiving" function, which cannot handle bigger setups with many sites at the moment.

[2022-05-02 07:27] Chardonneaur commented on #19159
Hello Justin,

Sure, please find attached the different metrics I am refering to.

De: "Justin Velluppillai" ***@***.***>
À: "matomo-org/matomo" ***@***.***>
Cc: "Ronan Chardonneau" ***@***.***>, "Mention" ***@***.***>
Envoyé: Dimanche 1 Mai 2022 23:52:46
Objet: Re: [matomo-org/matomo] Visits per visit duration and Visit per number of pages calcuation methods (Issue #19159)

Hi [ https://github.co

[2022-05-02 10:16] #19076 closed, assigned to nobody

[2022-05-02 12:31] niklasternstedt commented on #19147
Thanks for the answers 👍

[2022-05-02 12:37] niklasternstedt opened #19163 "Invalid authentication credentials Google Analytics importer plugin"
## Expected Behavior
Possible to import data from Google Analytics without any errors.

## Current Behavior
When importing data from Google Analytics I get this error message:
`{ “error”: { “code”: 401, “message”: "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See [https://developers.google.com/identity/sign-in

[2022-05-02 12:40] Chardonneaur commented on #19159
Sure, here is a screenshot https://drive.google.com/file/d/1oDk7jq5Gdkk-CcC8K3Hqw_c7UzF1IpkX/view?usp=sharing

[2022-05-02 14:01] sgiehl commented on #19159
@Chardonneaur The average values in the summary are calculated like a typical average. e.g. summing up all available values and dividing them by the number of records. The detail reports below list the number of visitors that stayed within a certain time frame or visited a certain number of pages.
I'm actually not sure where you would expect the numbers to be the same?

[2022-05-02 19:01] utrautmann opened #19164 "Custom Dimension with action scope: number of visits missing or is wrong"
The background of this issue is whether you can also determine the (unique) number of visitors in a custom dimension with the action scope.

The simple table report for a Custom dimension for actions does not show the visits value in this case.
However, but I saw that the vertical bar graph and pie charts offer me to show the unique visitors.
Exporting to Excel also shows me a column with "nb_visi

[2022-05-02 23:07] #18810 closed, assigned to peterhashair

[2022-05-03 03:01] justinvelluppillai opened #19166 "Remove discontinued Alexa from SEO metrics providers"
Alexa has been discontinued and now our lookups fail. This also means our tests don't pass until we remove Alexa as an SEO rank provider.

We will need to remove Alexa as a provider from the SEO widget, supporting classes and tests also.

Also there may be some documentation updates needed, including https://matomo.org/faq/dashboards/seo-ranking-widget/

[2022-05-03 04:49] OzSpots-Wireless opened #19167 "page segment id request shows 500 server error."
For years I have used setuserid and access it via `segment=pageUrl=@3A-F8-DB-79-C8-D2`:

I use the default code:
[code]
That works as expected when clicking the profile ID.

For all old sites this link works:

`/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Live&actionToWidgetize=getVisitorProfilePopup&idSite=30&period=range&date=last7&widget=1&`segment=pageUrl=@userID`&token

[2022-05-03 07:01] Bedouille69 opened #19168 "100 sites is the max when giving access rights"
Hello,

When I want to give access rights for all sites to an account, It’s seems limited to 100 sites.
Is it a bug ?

![image](https://user-images.githubusercontent.com/8983084/166415389-bc2de849-4757-4787-9564-fafadee5ffda.png)

Thanks.

[2022-05-03 09:48] MatomoForumNotifications commented on #19168
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/100-sites-is-the-max-when-giving-access-rights/45778/4

[2022-05-03 09:58] sgiehl commented on #19168
Hi @Bedouille69. Thanks for creating this issue. Isn't the a possibility to select all sites working for more than 100 sites. I don't have that much site created, but I'm able to select all like here:
![image](https://user-images.githubusercontent.com/1579355/166434915-9cceecb2-b345-4c43-92ec-30e7114db2c5.png)

[2022-05-03 10:03] sgiehl commented on #19162
That is actually correct and by design. But it is possible to change the access required with the config flag `adding_segment_requires_access`.

[2022-05-03 10:03] #19162 closed, assigned to nobody

[2022-05-03 10:05] Bedouille69 commented on #19168
Hi @sgiehl ,

Yes you can select like that but no change. If I look the request with Firefox debugger, there is a parameter with an array of 100 values and never more :(

[2022-05-03 10:09] mstenz opened #19169 "Add superuser access to a user is not possible when SSO is used"
## Expected Behavior
There is no input form for password received (because the user does not know/have a password)

## Current Behavior
A popup is showing that request the user got given his password, which he doesn't know.

## Possible Solution
see "Expected Behaviour"

## Steps to Reproduce (for Bugs)
1. got to the admin panel with a user that has logged in via SSO
2. go to System -> Users
3. ch

[2022-05-03 11:39] sgiehl commented on #19168
I'm actually not able to reproduce that. Just generated 105 sites and a bulk request to set view permission to all of them included all 105 site ids.

@Bedouille69 which version of Matomo are you using and which browser?

[2022-05-03 11:52] Bedouille69 commented on #19168
Matomo 4.9.1 and Firefox last version.

[2022-05-03 12:30] sgiehl commented on #19168
Sorry, I'm also not able to reproduce that with Matomo 4.9.1 and Firefox. Are you sure the request does not contain all sites, or does your server drop everything after 100 post params maybe?

[2022-05-03 12:45] Bedouille69 commented on #19168
My request is like this in network, I have 103 sites but much more in production soon :

force_api_session | "1"
-- | --
userLogin | "test"
access | "view"
idSites[] | […]
0 | "1"
1 | "2"
2 | "3"
3 | "4"
4 | "5"
5 | "6"
6 | "7"
7 | "8"
8 | "9"
9 | "10"
10 | "11"
11 | "12"
12 | "13"
13 | "14"
14 | "15"
15 | "16"
16 | "17"
17 | "18"
18 | "19"
19 | "20"
20 | "21"
21 | "22"
22 | "23"
23 | "24"
24 | "2

[2022-05-03 12:56] sgiehl commented on #19168
Might it be possible that the output in the dev tools is showing that limited? could you maybe check the raw data sent with the request? Maybe it contains more.

[2022-05-03 12:58] lucaspal commented on #18690
Is there any news about this enhancement?

[2022-05-03 12:58] Bedouille69 commented on #19168
In bulk : token_auth=bde9168b6659317c65f71fb1d8af40a1&force_api_session=1&userLogin=test&access=view&idSites%5B%5D=1&idSites%5B%5D=2&idSites%5B%5D=3&idSites%5B%5D=4&idSites%5B%5D=5&idSites%5B%5D=6&idSites%5B%5D=7&idSites%5B%5D=8&idSites%5B%5D=9&idSites%5B%5D=10&idSites%5B%5D=11&idSites%5B%5D=12&idSites%5B%5D=13&idSites%5B%5D=14&idSites%5B%5D=15&idSites%5B%5D=16&idSites%5B%5D=17&idSites%5B%5D=18&id

[2022-05-03 13:01] sgiehl commented on #19167
Hi @ozrouter.
I'm not able to follow you completely. The segment `pageUrl=@3A-F8-DB-79-C8-D2` might be valid, but why should you check for a userid within the page url? I guess you should more likely use a segment like `userId==3A-F8-DB-79-C8-D2` to search for a specific user id.

[2022-05-03 13:03] sgiehl commented on #18690
Hi @lucaspal
There are not yet any plans on implementing that.
If you are able to provide a PR with the required changes we would be happy to review & merge it.

[2022-05-03 13:06] sgiehl commented on #19168
Does the confirmation box ask you if you want to give the access to `103` sites, or does that one already only mentions 100?

[2022-05-03 13:08] Bedouille69 commented on #19168
No count :
![image](https://user-images.githubusercontent.com/8983084/166458547-c6dddf2f-d5d1-4328-9397-e7f20b6b9109.png)

The "forgotten" sites are always the same (The 3 last created)

[2022-05-03 13:30] sgiehl commented on #19168
Ah sorry. I thought you were talking about giving access when selecting websites in the lower area. There it is possible to select more than 100 sites. When using the part in the top it seems it first fetches the available sites and then sets access for all sites received. Guess the first request is silently limited to 100. Will quickly check that and provide a fix if possible

[2022-05-03 13:31] lucaspal commented on #18690
@sgiehl thanks for the quick reply.

Is [this](https://developer.matomo.org/guides/getting-started-part-1) a good way to start getting an idea of the architecture of `matomo` or is there something else that I am missing?

[2022-05-03 13:33] Bedouille69 commented on #19168
It would be great because I will have between 350 and 400 sites in production.(I work for the university of Liège in Belgium)

Thanks :)

[2022-05-03 13:34] sgiehl commented on #19168
It will take till Matomo 4.11.0 until this will be included. But as a workaround you can simply use the bulk edit in the lower part. That should allow to set permission for all sites.

[2022-05-03 13:38] Bedouille69 commented on #19168
Thanks. I didn't see that the bulk edit was permitting other things than filtering so it's a great workaround 👍

[2022-05-03 13:44] sgiehl commented on #18690
@lucaspal Yes. The developer docs are a good start. If you have any questions feel free to get in touch on our forum: https://forum.matomo.org/

[2022-05-03 15:46] sgiehl commented on #19169
Hi @mstenz
Which plugin are you using for SSO access? Are you using the SAML plugin or LoginLDAP plugin?

[2022-05-03 16:00] mstenz commented on #19169
@sgiehl Hi, I am using LoginOIDC, because it authenticates with Gitlab

[2022-05-03 16:19] aleksijohansson commented on #12390
Any updates on this?

[2022-05-03 19:43] MatomoForumNotifications commented on #19166
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/seo-tab-what-to-replace-alexa/45793/2

[2022-05-03 23:31] OzSpots-Wireless commented on #19167
oh OMG.

I had forgotten why I was using pageURL. userID works now thanks!

[2022-05-03 23:31] #19167 closed, assigned to nobody

[2022-05-04 00:42] #19168 closed, assigned to sgiehl

[2022-05-04 08:22] webwinkelfacturen commented on #18962
Hi, We were not able to reproduce the error.

Could this be caused by a previous release? The bug mentions plugins/CoreVisualizations/Visualizations/Sparkline.php line 107, but in our case this is a closing bracket.

We wrote a unit-test for the davaxi plugin because the error occurs there. It is not allowed to add a $series which is not an array.

If necessary we are willing to see if we can writ

[2022-05-04 09:54] adsham commented on #18612
HI @justinvelluppillai

How do Matomo Cloud users contact support? I sent an email 7 days ago with no response? It's really frustrating with clients waiting. There is no ticket number or acknowledgement.

May I suggest a support ticket system, where we can track progress? On the website it states that Matomo Cloud offers "In-depth" support, but currently we are feeling under supported, despite pay

[2022-05-04 15:31] loukasstoltz opened #19173 "Error about getenv function"
## Expected Behavior
Try to connect to my matomo instance and get
Fatal error: Uncaught Error: Call to undefined function Piwik\Plugin\getenv() in analytics.serveur.digital/core/Plugin/Manager.php:345 Stack trace: #15849
analytics.serveur.digital/core/bootstrap.php(48): Piwik\Plugin\Manager::initPluginDirectories() #1 analytics.serveur.digital/index.php(19): require_once('...') #2 {main} thrown in

[2022-05-04 17:51] Eknerof opened #19174 "Single visit"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2022-05-04 17:51] Eknerof commented on #19174
Do you think Matomo can be updated to include the function I am looking for where the visiting time of a single visit is displayed?

[2022-05-04 18:49] wadih opened #19175 "Broken matomo UI on multi-site installation"
Hi,

The matomo admin panel UI is broken on my multi-site installation, I can't view, filter or remove widgets, so it makes it unusable.

![2022-05-04_14-25](https://user-images.githubusercontent.com/1222066/166803827-78022024-ac36-458c-b637-f2f4f6ea22b3.png)

![2022-05-04_14-44](https://user-images.githubusercontent.com/1222066/166804363-6dac255e-409e-4d5d-9773-c68887870256.png)

Versions:

Matom

[2022-05-04 23:48] Starker3 commented on #17614
We got another request for this today. Would be great if this was added as a feature.

[2022-05-05 01:08] Starker3 opened #19176 "Segments are not invalidated when invalidating specific plugin"
When using the console command `core:invalidate-report-data` there is the option to only invalidate a specific plugin.
This is quite useful in certain circumstances (For example for `CustomReports` or other plugins). However, it seems that when executing this command with the `--plugin` option it skips the invalidation of the Segments for this plugin:

[code]

This then requires us to specify the

[2022-05-05 01:59] #19166 closed, assigned to sgiehl

[2022-05-05 07:29] sgiehl commented on #19177
@AltamashShaikh Yes. That one is triggered by core, but it can be disabled using an event, which needs to be added to TagManager.
See e.g. https://github.com/matomo-org/matomo/blob/cd541083f351a2712e58fa83a2c54861a92c120e/plugins/MultiSites/MultiSites.php#L18-L31

[2022-05-05 08:03] agency-w52 opened #19178 "Search Engine Keywords Performance Bing report issue"
Currently we are having problems with the search engine keyword reports:
Keywords show up in any report (week, month, year) but in a report with a day-based timeframe - here the keyword list is empty for Bing (Google works without problems). The problem occurs on several instances, each using the latest version of Matomo and the plugin - is there any way to fix this?

[2022-05-05 09:11] sgiehl commented on #19178
Hi @agency-w52.
This is actually not a bug. As it should be mentioned somewhere in the plugin, Bing only provides data on a weekly base. Therefor it is not possible to import or display data for days.

[2022-05-05 09:11] #19178 closed, assigned to nobody

[2022-05-05 09:13] agency-w52 commented on #19178
@sgiehl oh sorry, didn't see that - thanks for the clarification!

[2022-05-05 09:13] sgiehl commented on #19174
Hi @Eknerof.
I guess you would need to explain that a bit more in detail in order to get an answer.
But for asking questions I would recommend using our forum (https://forum.matomo.org) instead of our issue tracker.
Thanks.

[2022-05-05 09:13] #19174 closed, assigned to nobody

[2022-05-05 10:03] Eknerof commented on #19174
Hi StefanI have tried to get this message to your programmers for over a year now with no success. I give up nowThanksHans Rencke

          On maj 5 2022, at 11:13 am, Stefan Giehl ***@***.***> wrote:

Hi @Eknerof.
I guess you would need to explain that a bit more in detail in order to get an answer.
But for asking questions I would recommend using our forum (https://forum.matomo.org) instead of

[2022-05-05 12:30] sgiehl commented on #19174
Where exactly did you try to reach out? Normally messages on the forum or to our support should be answered within a week at most.
We usually only handle bug reports or specific features requests on github, as we don't have enough resources to handle support requests here as well.

[2022-05-05 13:28] sgiehl commented on #19173
Hm.... `getenv()` is actually a php functions and no method in that namespace. Normally PHP should automatically use the php function if it is not defined in the namespace (when being used unqualified).
Was Matomo working before on that server or weren't you able to install it? Just wondering if anything changed on your server or within Matomo.

[2022-05-05 13:34] loukasstoltz commented on #19173
Hi Stefan, 

It look I solve the issue by downgrading my PHP version from 8.0 to 7.4 
Right now I can re-access it nicely (lucky I’m :-) ) 
Thank you ! 

Le 5 mai 2022 à 15:29:06, Stefan Giehl ***@***.***) a écrit:

Hm.... getenv() is actually a php functions and no method in that namespace. Normally PHP should automatically use the php function if it is not defined in the namespace (when being us

[2022-05-05 13:56] ulcuber opened #19181 "Unnecessary loop"
## Expected Behavior

## Current Behavior

https://github.com/matomo-org/matomo/blob/0e41d7e28ae063ca6117cb00d73f1c6a2b1a8436/js/piwik.js#L266

## Possible Solution

`return false` immediate

## Steps to Reproduce (for Bugs)

1.
2.

## Context

## Your Environment

* Matomo Version:
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser:
* Operating System:

[2022-05-05 14:19] sgiehl commented on #19181
Hi @ulcuber
Thanks for point that out. You are right, that can be improved. I'll try to set up a PR for that quickly.

[2022-05-05 14:26] sgiehl commented on #19173
Ok. I'll close this issue for now, as I'm not able to reproduce that. If you decide to update PHP later and run into the same problem, feel free to reopen/create an issue. Thanks.

[2022-05-05 14:26] #19173 closed, assigned to nobody

[2022-05-05 15:00] KZeni opened #19183 "Feature Request: Ambiguous tracking script endpoint & default to POST tracking method"
I would love to see an ambiguous, customizable, and/or randomized/auto-generated (ultimately with the goal of having it be non-identifiable) tracking script endpoint.

Also, see my comment below (https://github.com/matomo-org/matomo/issues/19183#issuecomment-1121325140) regarding the additional item regarding using POST by default (per GET surfacing the parameters which make it likely to be blocke

[2022-05-05 15:48] steveb85 commented on #17926
Hey I'm having this issue, I've just upgraded to the latest 4.9.1 and still having it, has anyone else found this issue ongoing?

[2022-05-05 20:15] frimipiso commented on #18612
It's too bad that there is still no solution to this problem.

We want to start using GoogleAds now, but we cannot attribute conversions to Ad campaigns if the customers pay via Paypal.

So we are forced to move back to Google Analytics which is a shame because we heavily adapted our shops for Matomo.

But we will essentially be wasting money if we cannot attribute sales to campaigns ...

Cheers

[2022-05-05 21:01] mctunes opened #19184 "import_logs.py - 'utf-8' codec can't encode character '\udcbf' in position 0: surrogates not allowed"
While importing standard IIS log files using `import_logs.py`, the following exception was thrown when processing one particular file:

[code]
## Expected Behavior

Log should be imported successfully.

## Current Behavior

Exception above is thrown.

## Possible Solution

## Steps to Reproduce (for Bugs)

1. Execute import_logs.py for one particular file:

[code]

## Context

This has only happen

[2022-05-05 22:19] #19181 closed, assigned to sgiehl

[2022-05-06 09:26] hyzteric opened #19188 "Uncaught exception: Error: Class "GuzzleHttp\Exception\RequestException" not found in .../CurlFactory.php:201"
We purchased and installed the SearchEngineKeywordsPerformance plugin.
Since then, we got the exception below every night.

We are running :

- OS: Rocky Linux release 8.5
- Matomo: 4.9.1
- MySQL: 8.0.26
- PHP: 8.1.5

Keywords are updated, but something still fails :

[2022-05-06 10:01] sgiehl commented on #19188
Hi @hyzteric

Thank you for creating the issue. To request support for a Premium Feature please contact shop at innocraft.com or ask in the Premium Features forum here: https://forum.matomo.org/c/premium-features
We are only handling Matomo core issues here.

Closing this issue now. Thanks.

[2022-05-06 10:01] #19188 closed, assigned to nobody

[2022-05-06 12:08] BelairDigital commented on #19001
Hi, thanks for your anwser.
The code is placed at the head of the website.
Some ecommerce transactions are sent but not all of them, that why I do not understand.
We have 4 websites, everything is ok and has the same configuration but only one website transactions and revenues do not appear totally on Matomo.

[2022-05-06 15:37] MadMaxInfinity opened #19189 "Add NTP support"
## Summary
Currently, matomo uses the server’s time.
But analytics would be more accurate if they are synced through NTP, and TOTP would be more resilient ([read this](https://forum.matomo.org/t/2fa-authentication-suddenly-fails/45829/4) to get why this is interesting) if matomo would manage a NTP setting and use it.
This can have other interests I don’t think of right now, so if others want to re

[2022-05-06 15:38] MatomoForumNotifications commented on #19189
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/add-ntp-support/45832/3

[2022-05-08 18:27] sgiehl commented on #19189
Hi @MadMaxInfinity,
Thanks for this suggestion.
I would personally see this as the responsibility of the server admin to keep the server time synchronized accordingly.
Otherwise we could no longer use the built-in php functions to get the current time.

But what we imho could consider is adding a simple diagnostic, that checks if the current server time is out of sync with a (customizable) ntp ser

[2022-05-08 19:21] ghost commented on #19183
I do something like this manually by defining my own alias (redirected by Apache URL rewriting) for the Matomo script.

Something else that may be related is that POST rather than GET should be the default method of sending tracking data, because some blockers (notably, UBlock Origin in its default configuration) block field names passed in the GET URL.  Changing the directory name doesn't help wh

[2022-05-08 22:19] bx80 commented on #19164
Hi @utrautmann, thanks for the detailed report.

I've worked through those steps to try to recreate the issue using the same date as your example on demo2. (https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=2022-05-01#?period=day&date=2022-05-01&idSite=1&category=General_Actions&subcategory=customdimension2)

The page authors listing shows 1,519 actions and

[2022-05-08 23:55] tsteur commented on #9969
As we likely won't have https://github.com/matomo-org/matomo/pull/18467 any time soon and it meanwhile looks very buggy to have this "Widget not found" issue, the easiest would be to just hide these widgets when they weren't found. This could be implemented very quickly and be a massive improvement. I ran myself into this issue just before again thinking Matomo is buggy.

[2022-05-09 01:43] KarthikRaja1388 opened #19194 "Add a feature to include filter_offset value in export widget"
When exporting more than 10,000 visits, it is recommended to set the offset as mentioned in [https://matomo.org/faq/how-to/faq_24536/#important-note-about-high-traffic-piwik-servers](https://matomo.org/faq/how-to/faq_24536/#important-note-about-high-traffic-piwik-servers) , however this can only be achieved  by adding the parameter in the URL manually or by writing the logic.

## Summary

A featur

[2022-05-09 07:52] sgiehl commented on #19169
Iirc we had similar issues with LoginLdap, but can't remember if there was a solution for that. Maybe @tsteur or @diosmosis know?

[2022-05-09 08:10] sgiehl commented on #19001
Based on the code you provided, the only reason why it might not be tracked is, that `window._paq` might not be available at that point, causing the tracking to be skipped. You could maybe try to change your code, to do a simple `console.log` if that is the case, to see if this is the problem.

[2022-05-09 09:47] OSch11 opened #19197 "500 Internal Server Error when handling Request from iOS-SDK"
Hello dear Matomo team,

We have an app that tracks accesses in the app via the Matomo-iOS SDK.
However, for some time now we have noticed that this no longer works:
The request sent by the app is answered by the Matomo-Server with an HTTP error 500.

The corresponding request that the app sends to Matomo.php looks like this:

{"requests":["?idsite=6&rec=1&ca=1&_id=D10C88C12F424F8D&uid=F51DE671-04

[2022-05-09 10:54] niklasternstedt opened #19198 "Use a customized dashboard in a email report"
## Summary
I would be nice to be able to use a dashboard in a email report. The email report lacks some nice features like bar graphs or pie charts. It would be nice to use the same features in a dashboard as in a email report. For example use kpi widgets in a email report.

[2022-05-09 16:34] KZeni commented on #19183
That's a good point! I would definitely love to see POST used as the default instead of GET for that reason as well as making the endpoint ambiguous (both with the end goal of having bulk tracking blockers less likely to block things [while still following the do not track, opt-out, and/or other policies to have it still meet legal requirements, but at least it's not getting caught by the bulk blo

[2022-05-09 20:13] tsteur commented on #19169
@sgiehl had a quick search in the [LoginLdap Issues](https://github.com/matomo-org/plugin-LoginLdap/issues). There was this PR: https://github.com/matomo-org/plugin-LoginLdap/pull/185 maybe it's that? I couldn't find anything else

[2022-05-09 21:03] mattab commented on #18612
Sorry for the delay it's taking to address this issue, we agree it is impactful. it is now high priority and will be investigated by the team this month. Stay tuned for some updates & thank you for all your reports :+1:

[2022-05-09 23:04] TechDad3949 commented on #18530
Anyone find a way to allow this in Safari (I am looking for options I can set on the web server)?

[2022-05-10 02:48] tsteur commented on #16904
This was already solved in https://github.com/matomo-org/matomo/pull/18636 and the update script for Matomo 5 is already merged causing an index change is there already. We only need to close it as part of Matomo 5 release to make sure it appears in changelog.

[2022-05-10 02:55] tsteur commented on #17202
We have prepared this feature in https://github.com/matomo-org/matomo/pull/17765/files

Ideally we enable this security feature by default to have the IP detection more secure (`[General] proxy_ip_read_last_in_list=1`).

Then we update the guide in https://matomo.org/faq/how-to-install/faq_98/ to mention people may need to disable this feature if the first IP should be used.

[2022-05-10 02:57] tsteur commented on #17017
This would be a great new privacy feature which be quick to implement 👍

[2022-05-10 02:58] tsteur commented on #16905
This could be a lot of work and cause a lot of breaking changes.

It will save a lot of time in the long run as Matomo for WordPress will be more stable and have less compatibility issues. The effort it takes to do this one, might not be worth it though. Depends though how much work it really is?

[2022-05-10 03:04] tsteur commented on #16033
Replacing all those components and coming up with a new design could be a lot of work. While there are no security issues and while WordPress is still supporting jquery-ui, there may not be a need to remove it in Matomo 5 just yet. Also the gain in JS size won't be too much since any other lib would also still consume a few KB and then it be in the end fairly little KBs that we would save consider

[2022-05-10 03:10] tsteur commented on #15597
@Findus23 @mikkeschiren @sgiehl can someone help me what the benefit of setting the secure cookie is when the site is only served in HTTPS anyway? In that case it wouldn't be sent over HTTP anyway?

And when someone is using HTTP and HTTPS then it wouldn't be in the interest of the user to enable secureCookie as it will generate different visitor IDs on the different protocols and cause wrong numb

[2022-05-10 03:15] tsteur commented on #7727
If we implement this as part of Matomo 5, then ideally there weren't any breaking changes as this could make it quite hard for people (and ourselves) to make plugins compatible and to figure what changes are needed.

If there has to be a breaking change, then this should be only in the tracker DB as less plugins are using the tracker DB meaning it will be less work to make plugins compatible and w

[2022-05-10 06:22] sgiehl commented on #7727
If we decide to do that in Matomo 5 I would suggest to get rid of Zend_Db completely. It already isn't able to handle MySQLi exceptions that are thrown on PHP8.1 by default. So might be better to replace it with some custom adapter or maybe another library that isn't too overblown.

[2022-05-10 07:31] Findus23 commented on #15597
That's only true if HSTS is enabled (which I assume is not true for the majority of Matomo sites). Otherwise, I think there is nothing stopping an attacker from serving the site via HTTP and linking the user to it (by MITM-ing their connection).

[2022-05-10 08:30] Chardonneaur opened #19203 "Add an expiry date for each user access"
Give the possibility to add an expiry date for a user within Matomo.
Typical use case: when an employee is started a contract in a company, his contract has an ending date. The idea, for security would be that the access to Matomo is stopped when the expiry date has been reached.

[2022-05-10 08:30] sgiehl commented on #18612
Ok. First of all I will summarize the current behavior that is implemented in Matomo regarding referrer handling:

Whenever the referrer details changes within a visit Matomo currently forces a new visit in this cases:
* A website referrer was detected and config `create_new_visit_when_website_referrer_changes = 1`
* A campaign change was detected, the current referrer wasn't a direct entry and co

[2022-05-10 09:21] ts1985 commented on #18612
I don't think that this is the solution. To explain:

1. User visits example.com (doesn't matter if it's direct entry or a referrer. Let's say it was direct entry for this example)
2. User buys something and is forwarded to paypal.com
3. User comes back after he paid to example.com and reached the goal

Current issue:
If you check now the reached goal, you see, that this visitor reached the goal f

[2022-05-10 09:23] Demichev commented on #18612
Why should be referrer updated in the first place? What if I want one visit with the original (first) referrer?

[2022-05-10 09:49] heurteph-ei commented on #18612
Why not just 2 options (at site level):
 - `use_last_referrer_as_visit_referrer` (default = 0)
   - case 0: same behavior as now (the last referrer overwrites any other referrer)
   - case 1: the first referrer stays the only referrer for the whole visit (even if it was direct entry?)
 - use_last_campaign_as_visit_referrer` (default = 0)
   - same idea as the other option...

(you have to decide w

[2022-05-10 10:06] sgiehl commented on #18612
@heurteph-ei I'm not sure if that would allow all required use cases. It might be possible someone wants the referrer to be updated or a new visit to be forced when the referrer changes, but still wants payment proxies (or similar) not to trigger this behavior.
Having a list of urls that are kind of treated as direct entry, should give more flexibility I guess.

But for sure we could also discuss

[2022-05-10 10:09] ts1985 commented on #18612
Makes no sense. As we here already discussed, the current behavior results into wrong information. Leaving this bug as default would therefore not be helpful.

[2022-05-10 10:11] sgiehl commented on #18612
@ts1985 My explanation might not have been detailed enough. A tracked action that is handled as direct entry will never update the referrer stored in database. So when the user comes back from the payment provider, within the visit time frame, the action would then no longer trigger a new visit, nor would it update the referrer that was initially set with the visit (if the referrer is ignored, as

[2022-05-10 10:45] Demichev commented on #19128
Pull request is sent. Sorry, I am not sure about coding/comments standards for this project.

[2022-05-10 12:28] heurteph-ei commented on #18612
@ts1985 this was proposed for 2 reasons:
1. This has been implemented like this, so I assume there was a good reason... Also as I am not in the head of everybody, maybe some business need to keep only the last referrer...
2. By default, we must not change the behavior of existing Matomo instances (in case of case 1). But for new instances, you're right, the default value should be 1 (as I think th

[2022-05-10 20:05] tsteur commented on #7727
If we can fix the issue for PHP 8.1 ourselves in Zend (maybe we already did), I would highly recommend not doing it as it might be hard to keep the DB adapter compatible with a newer library and the effort does in the end not outweigh the benefits if otherwise everything works. It be quite a bit of effort to keep the same API, not change any behaviour, etc. As we wouldn't want plugins needing any

[2022-05-10 20:10] tsteur commented on #15597
FYI It's currently active on 24% of sites https://w3techs.com/technologies/details/ce-hsts

And I believe if you are already browsing a site on HTTPS, then a browser wouldn't the HTTP request? I just tested this on my site and the browser would block the request.

[2022-05-10 22:19] atom-box opened #19204 "Detect session recordings that are relevant. Flag those. Similar to Hotjar RageClick recordings."
A user mentioned today that they won't have the time to manually go over hundreds of recordings. They would like a tag to be set on each recording as it came in: Bounced, Rapidly clicked multiple times in one spot, Key-smash detected, et al.

Possibly even set the recordings feature to not save the recording at all unless the conditions for that flag were satisfied.

[2022-05-10 22:20] Starker3 opened #19205 "Allow Custom Dimensions to be updated by Ping (Heartbeat)"
At present a Custom Dimension needs to be set before a pageview tracking request is sent. If it is not set before, then a pageview tracking request needs to be sent in order for it to be tracked.

However, the ping tracking request from the hearbeat timer (Or manually triggered) includes the Custom Dimension in the tracking request in order to get an accurate "Time on Dimension" for Actions dimens

[2022-05-10 23:44] mattab opened #19206 "Sparklines show correct data in all goals reports"
in the Goals report the sparklines for each goal are all the same although they should be different.

For example here: https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=month&date=today#?idSite=1&period=month&date=today&category=Goals_Goals&subcategory=General_Overview

## Expected Behavior

The sparklines should be different and show the real data.

## Current Beha

[2022-05-11 01:30] mattmary opened #19207 "UI error when deploying matomo 4.9.1 on wordpress"
## Expected Behavior
Be able to open matomo 4.9.1 on wordpress

## Current Behavior
Only a part of the interface is displayed. there is a js error
![Screenshot from 2022-04-20 11-14-49](https://user-images.githubusercontent.com/86216084/167750547-a7f6e6fa-a4e2-4ebc-bb41-264890108fbd.png)

## Possible Solution
removing the method getJsInclusionDirective in the plugins/WordPress/WpAssetManager.php f

[2022-05-11 01:42] mattmary commented on #19207
https://github.com/matomo-org/matomo-for-wordpress/issues/605

[2022-05-11 01:43] samjf opened #19208 "Navigating 'Settings > Personal' menu items without `period` param causes error"
Sometimes whilst navigating the settings I manage to get into a broken UI session. During this time I errors saying

The stack trace show the following line is to blame: `plugins/UsersManager/templates/userSecurity.twig:49`

[code]

This happens because somehow I get into settings without the `period` param in the URL. If I navigate to **Personal > Security** or **Personal > Email reports** this b

[2022-05-11 01:57] jmumby opened #19209 "Spark lines show correctly in KPI widget when using segments"
When you use KPI widgets in the dashboard and select for example `Visits` and then apply a segment the spark line flat lines.

![image](https://user-images.githubusercontent.com/4339071/167752868-6c457e09-3357-4701-9fda-297c80b654bf.png)

## Expected Behavior

The spark line should appear the same way it does for all visits.

![image](https://user-images.githubusercontent.com/4339071/167753039-b63

[2022-05-11 02:53] peterhashair commented on #19207
@mattmary @justinvelluppillai
 I fixed it by remove  `/plugins/WordPress/WpAssetManager.php`

 replace below with
[code]
  https://github.com/matomo-org/matomo-for-wordpress/blob/3665e6fad628d16fea27e3f2672f571e5a82b1c1/plugins/WordPress/WordPress.php#L139

PR here https://github.com/matomo-org/matomo-for-wordpress/pull/607

[2022-05-11 05:39] mattab commented on #18612
Reading the recent comments, and as suggested by you, the problem is that the ecommerce/checkout subdomain (paypal.com) appears as a "website" referrer. And because Matomo by default credits ecommerce conversion to the last non direct referrer, ~~then all ecommerce attribution reports show the paypal.com domain (making all attribution reports useless because then it won't show you the actual acqui

[2022-05-11 07:12] adsham commented on #18612
Thanks for giving this some thought. This has already been provided as a solution here https://matomo.org/faq/how-to/how-do-i-add-a-referral-exclusion-in-matomo/ however this doesn't provide a real solution and still hides the first real referrer.

In my response above https://forum.matomo.org/t/referral-exclusions/33582/25
You can see that using the marketing attribution report we have an extreme

[2022-05-11 07:31] MatomoForumNotifications commented on #19147
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/googleanalyticsimporter-required-executables-nohup/37982/4

[2022-05-11 08:26] heurteph-ei commented on #19205
=> If implemented, don't forget to add the "ping" tag request in MTM... (in order to be able to send the dimension change to Matomo)

[2022-05-11 08:36] heurteph-ei commented on #19204
At first step, maybe, just detect irritation as a new event type (like page view, download, external link, content impression, etc.).
Example of icon: 🤬

[2022-05-11 09:48] sgiehl commented on #18612
Maybe there is another issue with calculating the numbers in MultiChannelConversionAttribution plugin.
For now I would like to focus on how Matomo itself should track and attribute the referrers. Once this was sorted we can revisit the multi channel topic and check that.

So the current **visit** referrer attribution behavior when using some sort of payment provider is this:

* Visitor visits site

[2022-05-11 11:50] adsham commented on #18612
_If the payment provider url was added as a site url
--> The action will be attached to visit and the attributed visit referrer will remain X_

This behavior is what I think most of us expect and require - currently though, this will change X to Z (direct entry) and we lose the first referrer, X.

See this document https://matomo.org/faq/how-to/how-do-i-add-a-referral-exclusion-in-matomo/

[2022-05-11 13:03] sgiehl commented on #18612
@adsham Looking at the code I would disagree. It looks like the referrer should only be updated if the original referrer of the visit was a direct entry and if the new referrer is not direct entry. So it should never be updated from a website, campaign or search engine to direct entry. See https://github.com/matomo-org/matomo/blob/0f89a53f82d1d0d50cd1e22773be9321256bbe93/plugins/Referrers/Columns/

[2022-05-11 13:12] TarekWhz opened #19210 "Creation of average load time segments"
Good day,
We would like to have the following function: A segment to filter average load time >5 sec, >4 sec, <5sec. Unfortunately, we did not find the segment under the sub-items. For example, a segment. The KPI is tracked in some widgets, e.g. pages, but it is not possible to output it in a segment. We would appreciate this feature very much.ntation.
Matomo Version:4.9.0

I ask for timely feedba

[2022-05-11 13:19] MatomoForumNotifications commented on #19210
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/creation-of-average-load-time-segments/45877/4

[2022-05-11 13:20] MatomoForumNotifications commented on #19210
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/creation-of-average-load-time-segments/45877/5

[2022-05-11 13:58] jorgeuos opened #19211 "Vue build for production issue"
Hi,

Files won't compile for production use.

## Expected Behavior
Files should compile for production.

## Current Behavior

I get an issue when running `./console vue:build SimpleVue`.

Full output:
[code]

It works fine when running with the `--watch` option.
[code]

### Success

!["Screenshot-1"](https://raw.githubusercontent.com/jorgeuos/matomo-simple-vue/main/screenshots/Screenshot-1.png)

#

[2022-05-11 14:10] passioneight commented on #9549
Almost 2 years have passed (since the last comment), the issue still persists.

[2022-05-11 14:21] Pepelepep commented on #10791
It'll we a great improvement ! Anyone have a solution for this ?

[2022-05-11 14:35] adsham commented on #18612
From the documentation (https://matomo.org/faq/how-to/how-do-i-add-a-referral-exclusion-in-matomo/)...

And here is my initial forum post of what is happening in my case https://forum.matomo.org/t/referral-exclusions/33582/25.

For one of our clients (who have since left because of this) we were reporting 44% Direct Entry vs 14% in Google Analytics. We were measuring "new" customers so we knew dir

[2022-05-11 15:33] MatomoForumNotifications commented on #18762
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/using-compare-to-for-email-reporting/45900/4

[2022-05-11 15:33] MatomoForumNotifications commented on #17323
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/using-compare-to-for-email-reporting/45900/4

[2022-05-11 22:05] mattmary commented on #19207
the wordpress asset manager does not load the new js files.
to be able to do it, I need access to the assetManager::getPluginUmdChunks from the wpAssetManager. Can you switch its visibility to protected?

[2022-05-11 22:18] justinvelluppillai commented on #19207
Most of the changes needed here are in the WpAssetManager, but @peterhashair can you please change `AssetManager::getPluginUmdChunks` from `private` to `protected`? We can merge this change to 4.10.0 before release, on `next_release` branch.

[2022-05-11 23:56] mattab commented on #18612
@adsham

1. in your screenshot you use attribution model "Last interaction" but instead it would be more accurate/useful to use the "Last non direct" attribution model - would this maybe give better results already?
2. also you may want to use `setConversionAttributionFirstReferrer` if the first referrer was more relevant to you? https://matomo.org/faq/general/faq_106/

Yes, the data from API will

[2022-05-12 00:18] mattab commented on #18612
@sgiehl Thanks for the comment above, that's a great summary of how it works :+1:

Feedback:

1. instead of asking people to use setDomains (which they could of course if required) but maybe we could try to make it work for many people by default by putting the "checkout domains"  like paypal.com etc. in the JS tracker code also by default? (from say a INI config setting) so it just works by defau

[2022-05-12 06:29] ts1985 commented on #18612
This is a general but and just adding some providers like PayPal to a list, will not fix the bug. It's a workaround and the bug will still exist.
There are hundred of payment processors and payment providers. Sometimes you are not forwarded to the payment provider, you are forwarded to a payment page like Adyen, Stripe and also here hundred of services.

And payment is just a topic we discuss here

[2022-05-12 08:44] adsham commented on #18612
@mattab first non-direct does not help it is not reporting nearly half of the conversions.

![image](https://user-images.githubusercontent.com/97672873/168024613-c203bdd2-aa31-4f85-b05f-a9ed3b14b792.png)

I agree with @ts1985 and I apologize if I have confused the matter - I was hoping showing the marketing attribution report would demonstrate the issue in a simple way but I suspect its muddied th

[2022-05-12 12:05] Chardonneaur opened #19213 "Calendar User Experience issue"
When we select a month from the drop down menu of the calendar, my wish is to have this month automatically selected instead of having to click on a day of the calendar.

[2022-05-12 14:36] Chardonneaur opened #19214 "Unsubscribe from custom alerts"
It is currently possible to unsubscribe from email reports but not from custom alerts.
Would it be possible to implement such enhancement?

[2022-05-12 17:07] sgiehl commented on #18612
Thanks for all the feedback and updates. I am actually still not sure what exactly the expected behavior in each use case would be.
I'm pretty sure there might be some unexpected behaviors, that we need to fix. But to be sure we don't do some adjustments on the one end and start breaking things on another end, I have started writing tests, trying to cover as many use cases as possible. It might ta

[2022-05-13 08:39] BelairDigital commented on #19001
Hi,
Ok thank you,

[2022-05-13 08:39] #19001 closed, assigned to nobody

[2022-05-13 08:59] carlgrundberg commented on #19124
When is 4.10.0 going to be released? This issue should be fixed asap.

[2022-05-13 09:03] justinvelluppillai commented on #19124
Early next week.

[2022-05-13 09:24] utrenkner commented on #19016
Just experienced the exact same issue. Found the answer here (problem with SMTP configuration).

Thanks for pointing out the solution here - maybe, as a quick "fix", this info could be added to some FAQ?

[2022-05-13 13:29] utrautmann commented on #19164
Hello @bx80 , thanks for your explanations.

I think there is really a misunderstanding between us.

You exported the custom dimension values to see the number of visitors.
However, I selected the visitor log for a specific value ("Julien") from the custom dimensions and counted the entries there with an export. And this is where I see differences.
![grafik](https://user-images.githubusercontent.c

[2022-05-13 14:40] MatomoForumNotifications commented on #17088
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/upgraded-to-unavailable-php-how-to-downgrade/22712/10

[2022-05-13 16:01] heurteph-ei commented on #18856
@atom-box, @sgiehl Then I think this 3 months old enhancement can be closed, isn't it?

[2022-05-13 18:09] moquin commented on #17589
I was having this same problem. Whenever I ran a diagnostic I lost access to the website. I am running on Plesk and found in Fail2ban it had banned my ip. Turned Fail2Ban off and everything runs normally.

[2022-05-14 20:45] paladox opened #19217 "Call to undefined function Piwik\Plugins\RssWidget\simplexml_load_string()"
I saw the follow:

[code]

when visiting /index.php?date=yesterday&module=RssWidget&action=rssPiwik&disableLink=0&widget=1&idSite=8590&period=day

## Expected Behavior

Going to /index.php?date=yesterday&module=RssWidget&action=rssPiwik&disableLink=0&widget=1&idSite=8590&period=day is not expected to throw an error.

## Current Behavior

An error is thrown when going to /index.php?date=yesterday&m

[2022-05-14 21:42] paladox commented on #19217
nvm, needs the php-xml extension to be installed.

[2022-05-14 21:42] #19217 closed, assigned to nobody

[2022-05-15 07:07] #19207 closed, assigned to peterhashair

[2022-05-15 12:09] casualuser commented on #18813
same here in my docker install

this doesn't help at all
[code]

[2022-05-15 15:36] Chardonneaur opened #19218 "Display an information notice on the gear green icone at the bottom of the reports"
Currently, there are information notices to change the visualization, exporting the data but none to access the settings of a report.
In fact it occurs to me during a training that one of my student told me "I refuse to click on this button because it is not telling me what will happen if I do".
So I guess it would be interesting to have this feature on.

[2022-05-15 18:53] sgiehl commented on #19218
@Chardonneaur Is this issue only about adding a simple tooltip to the gear icon saying something like "Click here to change the settings of this visualization"?

[2022-05-15 19:01] Chardonneaur commented on #19218
Hi, yes, it is really about something just saying "settings"

[2022-05-15 19:01] Chardonneaur commented on #19218
or customization

[2022-05-15 20:09] sgiehl commented on #19214
Guess it would make sense to have that for custom alerts as well. I'll move the issue to the plugins repo.

[2022-05-15 20:59] sgiehl commented on #19210
Hi @TarekWhz
Thanks for creating this issue. Adding the **average** load time as a segment won't be possible that easily.
Segmenting currently works in a way that visitors are selected based on specific attributes or a specific detail of an action they performed.
The average load time is a metric that would need to be processed for all visits seperately before they are segmented.

What we could ea

[2022-05-15 21:01] sgiehl commented on #19211
@diosmosis are you able to help here?

[2022-05-15 21:04] sgiehl commented on #19208
This is a bug, that was actually always there I guess. One way to solve that issue might be to simply provide a default value like `default` when trying to read the period parameter on some pages.

[2022-05-15 21:35] sgiehl commented on #19209
This might possibly be a url encoding issue. If e.g. the segment might be encoded too often or less in the url, it might fail to load.
Not sure if there were any changes when migrating to vue maybe. Guess we should quickly check that (with browser archiving disabled).

[2022-05-15 22:21] diosmosis commented on #19211
@jorgeuos can you run `./console vue:build CoreHome`? The types for that plugin need to be built first. (Note: you can see this from the TypeScript errors.)

[2022-05-16 00:00] samjf commented on #19208
We get clusters of reports about these ones from time to time. Unsure exactly how people get into that state, but it does occur somewhat frequently. Perhaps there is a link or browser issue that directs them to the settings without the param.

[2022-05-16 00:01] tsteur opened #19219 "Error in "Visits in Real-time" widget when visits log and profile is disabled"
I have the visits log & profile disabled in the site:

<img width="389" alt="image" src="https://user-images.githubusercontent.com/273120/168500101-4bf2cdb0-51da-4315-a6ae-63a4946b4120.png">

In a dashboard I have the "Visits in Real-time" widget.

This shows below error

<img width="589" alt="image" src="https://user-images.githubusercontent.com/273120/168500116-eff3b604-3caf-49c4-be2c-d4c13bd037

[2022-05-16 00:34] JasonMortonNZ opened #19220 "preg_match(): Argument #2 ($subject) must be of type string, array given"
The following error has been popping up recently:

[code]
# Steps to reproduce

URL: [https://matomo.test/index.php?date[$acunetix]=1&format=JSON&idSite=1&method=Resolution.getResolution&module=API&period=day&token_auth=XYZANONYMIZED](https://matomo.test/index.php?date[$acunetix]=1&format=JSON&idSite=1&method=Resolution.getResolution&module=API&period=day&token_auth=XYZANONYMIZED)

# Your environm

[2022-05-16 00:42] JasonMortonNZ opened #19221 "Illegal offset type in isset or empty in Site.php"
This error has been popping up recently:

[code]

## Steps to Reproduce (for Bugs)

URL: [https://matomo.test/index.php?date=yesterday&format=JSON&idSite[]=1&method=SearchEngineKeywordsPerformance.getKeywords&module=API&period=day&token_auth=XYZANONYMIZED](https://matomo.test/index.php?date=yesterday&format=JSON&idSite[]=1&method=SearchEngineKeywordsPerformance.getKeywords&module=API&period=day&to

[2022-05-16 00:45] JasonMortonNZ opened #19222 "strtolower(): Argument #1 ($string) must be of type string"
The following error has been popping up recently:

[code]

## Steps to Reproduce (for Bugs)

URL: [https://matomo.test/index.php?date=yesterday&format=JSON&idSite=1&idSites=1,2&method=API.getReportMetadata&module=API&period[$acunetix]=1&token_auth=XYZANONYMIZED](https://matomo.test/index.php?date=yesterday&format=JSON&idSite=1&idSites=1,2&method=API.getReportMetadata&module=API&period[$acunetix]=1

[2022-05-16 08:22] Seb35 commented on #12264
@danielpunkass @Daijobou I observed this error (POST /matomo.php?undefined&pv_id=hnuJWg) at the rate of 2-5 errors/day. I patched it two days ago ("return;" → "return request;") and there are no more errors, so I can confirm the patch works in practice.

@danielpunkass Do you want to submit the Pull Request? Else I can submit it mentioning you.

[2022-05-16 08:48] sgiehl commented on #19222
This is another issue of "improper" handling of request parameters. In this case `period` is provided as an array, which we expect to be a string.
Personally I would not suggest to fix all such incorrect handling were they occur, as it consumes a lot of time and actually doesn't improve much. The result for the customer will only change from a php error to an `unsupported param` exception.

We sho

[2022-05-16 08:49] sgiehl commented on #19221
Also improper parameter handling. `idSite` is provided a an array, but we expect a single value only.
See https://github.com/matomo-org/matomo/issues/19222#issuecomment-1127400420

[2022-05-16 08:52] sgiehl commented on #19220
Also improper parameter handling. `date` is provided as an array, but we expect a single value only.
See https://github.com/matomo-org/matomo/issues/19222#issuecomment-1127400420

[2022-05-16 08:53] sgiehl commented on #19219
@tsteur Shouldn't we simply disable the widget if visits log & profile are disabled?

[2022-05-16 09:05] sgiehl commented on #19208
That for example happens after returning from Google or Yandex when setting up Search Performance plugin. But there are also some other plugins that create links that don't include `idSite`, `date` or `period`, as the plugin actions simply don't need it. Switching to another menu entry might then produce that error. As mentioned providing defaults might fix that for the most cases. Guess that shou

[2022-05-16 09:22] #18856 closed, assigned to nobody

[2022-05-16 11:50] danielpunkass commented on #12264
Hi @Seb35 - thanks for testing it! Glad to hear it made such an obvious improvement. I'll submit a PR today.

[2022-05-16 12:27] mttradebyte opened #19224 "Unable to register license key"
## Expected Behavior

The license key should be added successfully.

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce (for Bugs)

1. Run `/path/to/console marketplace:set-license-key --license-key=xxxx`
2. See failure output.

## Context

Unable to add license key, so cannot add addons that we've paid for.

## Your Environment

* Matomo Version: 4.8.0
* PHP Version: 7.4
* Se

[2022-05-16 12:29] mttradebyte commented on #19224
Looks like it was fixed in 4.10 https://github.com/matomo-org/matomo/pull/19118, we'll just upgrade.

[2022-05-16 12:29] #19224 closed, assigned to nobody

[2022-05-16 12:48] chriscroome opened #19225 "Fix error in php8.1 running console config:get command"
When running Matomo with PHP 7.4 this command runs without an error:

[code]

With PHP 8.1 it returns the result, but it also returns errors messages and has a non-zero exit code:

[code]

This breaks some Ansible code I have for managing Matomo sites, if the error messages went to standard error and only the result went to standard out that would make it easier to cope with.

[2022-05-16 14:43] MatomoForumNotifications commented on #6964
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/share-custom-dashboards-with-others/45943/2

[2022-05-16 15:11] sgiehl commented on #19206
Guess that one regressed in #18493

[2022-05-16 15:55] MatomoForumNotifications commented on #18612
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/exclude-referrers-from-conversion-attribution/45949/2

[2022-05-16 20:26] tsteur commented on #19219
@sgiehl disable the widget when the feature is disabled for a site would work too 👍

[2022-05-16 21:09] ericimprint commented on #19129
Still present with 4.10

[2022-05-16 21:52] justinvelluppillai commented on #19225
Thanks for the bug report. I can reproduce the error with your description.

[2022-05-16 22:36] bx80 commented on #19164
Thanks for explaining this in more detail @utrautmann, my mistake I was looking in the wrong place. The nb_uniq_visitors for the custom dimension should be matching the number of rows in the exported visitor log for the segment.  I'll mark this as a bug so our product team can prioritize it. :+1:

[2022-05-17 02:09] bx80 commented on #19016
:+1: I've added a new FAQ:
https://matomo.org/faq/troubleshooting/how-do-i-fix-timeout-errors-when-trying-to-create-a-user-auth-token/

[2022-05-17 02:18] samjf commented on #19222
I think a global issue could be good for this. I might be completely out of context here but ideally it would return a 422 code because it is a user correctable error and avoid any exceptions. Would likely need light validations for such a implementation though.
I think stopping such invalid input earlier might help with security too. Being able to hit methods such as preg_match etc can provide a

[2022-05-17 03:47] samjf commented on #17988
This still appears to occur. I recently got the following stack trace with the error:

[code]

[2022-05-17 08:43] #19206 closed, assigned to sgiehl