[2020-11-16 21:06] timscha commented on #16689
Unfortunately also RC4 does not fixed it for me. :(

[2020-11-16 21:06] mattab commented on #10893
fyi: When tracking an order that has the same OrderID Matomo gives the following error:
`Invalid non-unique idsite/idorder combination (1, 000143), conversion was not inserted.`

[2020-11-16 21:08] cadeyrn commented on #16689
same here

[2020-11-16 21:49] tsteur commented on #16689
Any chance you could launch the archiver again? It might need a second run but would have expected this to be fixed directly.

@diosmosis there might be still some issue

[2020-11-16 22:01] cadeyrn commented on #16689
I already did this when I wrote my previous comment and now I did it again again, but still with no success. Is there anything else I could check?

[2020-11-16 22:51] diosmosis commented on #16689
@cadeyrn can you check the result of this query: `SELECT * FROM matomo_archive_invalidations WHERE idsite = 3 AND status = 1 LIMIT 50` and post the result? I'll try and reproduce w/ similar data. (Note: if archiving is working for idsite 3 then substitute for an idsite that isn't working, I got 3 from your log output above).

[2020-11-16 22:51] tsteur opened #16726 "Goal conversions wrongly formatted when using German language"
See https://demo.matomo.cloud/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday#?idSite=1&period=year&date=2020-11-15&segment=&category=Goals_Goals&subcategory=General_Overview when selecting `Deutsch` (German) in the language selector.

![image](https://user-images.githubusercontent.com/273120/99317481-00b0f000-28cb-11eb-8baf-bcfdffabc58c.png)

You can see eg conversions s

[2020-11-16 23:33] pixel8383 commented on #16719
Unfortunately I cannot setup the network (I am on a Shared Hosting, I installed Matomo using Softaculous (and I loved to share Matamo as perfect alternative to Google Analytics). I couldn't locate where to insert that content (I mean, I can edit the file but can't locate the line). What I don't get is that the url is fetched fine if I directly try to curl it on the machine, seems like something PH

[2020-11-16 23:39] pixel8383 commented on #16719
I just tried to setup a test php file [as shown here](https://www.php.net/manual/en/function.curl-exec.php) and the https website is fetched fine.

[2020-11-16 23:47] cadeyrn commented on #16689
Result:

<img width="851" alt="Bildschirmfoto 2020-11-17 um 00 46 27" src="https://user-images.githubusercontent.com/1100614/99321553-63c06980-286e-11eb-8e77-8fe35b384ad6.png">

[2020-11-16 23:58] diosmosis commented on #16689
@cadeyrn just the one? Interesting, I'll see what I can find, thanks!

[2020-11-16 23:58] tsteur commented on #16719
@pixel8383 any chance maybe a proxy is configured in the `config/config.ini.php`? Like

[code]
 Matomo sets a few more options see the lines in https://github.com/matomo-org/matomo/blob/3.14.1/core/Http.php#L547-L632

In case you are familiar with PHP you could some lines one after another and see if it eventually starts working and maybe this way find out why it is failing

[2020-11-16 23:59] diosmosis commented on #16689
@cadeyrn also while you're here, if you could run `./console core:archive -vvv` again and post the output, that might help too.

[2020-11-17 02:26] diosmosis commented on #16689
I see the issue, it's due to the previous entries still existing. We need to remove `status = 1 AND ts_started IS NULL` invalidation entries in an update.

@cadeyrn if you run this SQL it should unblock the archiving:

[code]

cc @tsteur (will remove in an update)

[2020-11-17 02:28] tsteur commented on #16689
makes sense 👍

[2020-11-17 06:16] timscha commented on #16689
I tried it as well. Result of:
SELECT * FROM matomo_archive_invalidations WHERE idsite = 3 AND status = 1 LIMIT 50;

[code]

I tried the Deleted Query as well, now the statistics and graphs are working again.
Thank you!

[2020-11-17 06:55] cadeyrn commented on #16689
works for me as well, thank you!

[2020-11-17 07:10] sgiehl commented on #16726
there are #15356, #15200, #15346 and maybe even a few others. In most cases there was "simply" a number formatting where it was already done. Will have a quick look if it's easy to fix here

[2020-11-17 08:57] nrenault opened #16729 "Set default currency & timezone in configuration"
Hello,

It would be useful to be able to set default currency & timezone for websites directly from config file and/or from console.

It will be more easy to manage an automatic installation and can avoid/prevent mistakes by forcing value from config instead of value from admin panel.

[2020-11-17 13:30] MichaIng commented on #16517
Sounds reasonable if those are shipped with core intentionally. Does not make much sense to remove plugins which are restored on every update 🙂.

[2020-11-17 14:45] Chardonneaur opened #16732 "Give the possibility to convert /index into / within the page url report"
Hello everyone,
today, one of my client asked me what /index means within the page url report and how could they exclude it.
It goes back to the following post: https://forum.matomo.org/t/remove-to-url-appended-index/24139.
Google Analytics has a feature for that but I am not sure there is one for Matomo Analytics.
The idea would be to have it within the website management part to list all the hom

[2020-11-17 15:52] sgiehl commented on #16732
You can change the default action name by setting
[code]

But it might result in unexpected behaviour when setting it so an empty value. The `index` action might simple disappear in the report when viewing it not flattened.
Also you may need to invalidate an rebuilt all older reports in order to get them updated.

[2020-11-17 19:37] #16726 closed

[2020-11-17 19:39] #16618 closed

[2020-11-17 19:42] tsteur commented on #16729
Thanks for suggesting this new feature @nrenault

btw just in case you can use mysql during the install then you could also set this value as a workaround through a query.

Should this be implemented, then as like with all/most our settings we would remove below settings from the UI (in this case the general website settings page )
![image](https://user-images.githubusercontent.com/273120/99439433

[2020-11-17 20:46] tsteur commented on #16161
fyi this should be fixed as part of the Matomo 4 release see https://matomo.org/faq/how-to/how-do-i-track-a-website-within-an-iframe/

Thanks to @beger and @fealXX

[2020-11-17 20:48] #16161 closed

[2020-11-18 01:42] #16517 closed

[2020-11-18 01:55] tsteur commented on #16125
@sgiehl @mattab  I'll move this one to Matomo 4.1

[2020-11-18 01:59] tsteur commented on #16125
@sgiehl @Findus23 it's not clear to me when they will start freezing user agent. Is it though already worth looking into this what we need to do to make this work?

[2020-11-18 02:18] tsteur commented on #16689
@diosmosis had a look at the code and can't think of a way this might be triggered except for some archiving is stopped or some fails in a different way.

Thought it might possible this error happened because under circumstances the mapping of `$index` in `$urls` and `$archivesBeingQueried` in https://github.com/matomo-org/matomo/blob/4.0.0-rc4/core/CronArchive.php#L482-L485 might be out of order

[2020-11-18 03:37] diosmosis commented on #16689
@tsteur no idea how this might happen if archiving succeeds, but we could put in an extra check after launchArchivingFor or at the end of it that does `SELECT COUNT(*) FROM matomo_invalidations WHERE status = 1 and idinvalidation IN (...)` looking for invalidations that weren't deleted or reset, and if so log an error. What do you think? We could also do this after archiving a site is done just to

[2020-11-18 03:43] tsteur commented on #16689
@diosmosis we could do this maybe just for 2 months or so to verify the logic works? Then I'd maybe rather remove the overhead maybe once we know it works. Like we could put this logic in a public method in cronArchive, and add a test to `DeprecatedMethodsTest` that we expect this method to be removed in say `1st March 2021`. This would be a reminder to remove this logic again

[2020-11-18 03:44] diosmosis commented on #16689
👍

[2020-11-18 05:48] diosmosis commented on #16396
@tsteur @sgiehl PRs updated again

[2020-11-18 06:18] mattab commented on #14601
Matomo 4.0.0-rc5 is released.  http://builds.matomo.org/piwik-4.0.0-rc5.zip

Stable release scheduled for Monday/Tuesday next week :rocket:

[2020-11-18 08:25] evilham commented on #16689
Can confirm that `4.0.0-rc5` fixes the issue without manual SQL queries ^^.

[2020-11-18 09:12] nrenault opened #16741 "Installing Matomo using ExtraTools plugin"
I'm using ExtraTools plugin to install Matomo.

Everything is working with the last stable version of Matomo (3.14.1).

Today I try to install Matomo 4.0.0-rc4 but I have an error when I want to activate ExtraTools (before installing Matomo):

`[PDOException]  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'db_matomo.option' doesn't exist`

When I look the config file, activated plugins

[2020-11-18 10:01] sgiehl commented on #16741
Hi @nrenault

The de-/activation is still managed in the config file. But whenever a plugin is de-/activated we store a timestamp in the options table to know when the plugin was last de-/activated.

I haven't used the `ExtraTools` plugin yet, so can't say what needs to be changed to get it working again.

[2020-11-18 10:11] nrenault commented on #16741
Ok thanks you for details.

I use ExtraTools to install Matomo, but for working, the plugin needs to be activated and after install Matomo. So if add/edit datas in the database is mandatory to activate/desactivate a plugin, it's not possible anymore to use it for install Matomo.

[2020-11-18 13:57] Findus23 opened #16742 "Use `hiddenkeyword` for Search engines by default"
while this mostly affects https://github.com/matomo-org/searchengine-and-social-list/ I think this should be changed in Matomo itself
reported in https://forum.matomo.org/t/search-engines-in-the-list-of-websites/37192/12?u=lukas

Matomo doesn't detect a lot of search engines anymore as the detection assumes that the referrer URL contains the search query specified in the search engine list. But ha

[2020-11-18 14:05] sgiehl commented on #16125
I already had a look on that a few days ago. It's possible to access those client hints using javascript like this:

[code]

As you can see it's accessible using a promise only, which will make it a bit more difficult to integrate into piwik.js I think. Additionally I did not yet find any useful information which values the variables can have. I only see the values my Chrome has...

What we need t

[2020-11-18 14:10] sgiehl commented on #16742
Guess it would make sense to simply assume the hiddenkeyword values as default if there is non defined by the search engine

[2020-11-18 14:10] Findus23 commented on #16125
I honestly can't find any news on this that is newer than my initial post. It seems like Google has posponed the planned changes. The only news are that Chrome now has an experimental flag for enabling the client hints.

And I think if the proposal is actually implemented as intended by Google¹ then I am not sure if it is useful to record the output in Matomo as it will intentionally give randomiz

[2020-11-18 14:23] Findus23 commented on #16125
from https://groups.google.com/a/chromium.org/g/blink-dev/c/-2JIRNMWJ7s/m/yHe4tQNLCgAJ

[2020-11-18 14:56] kacnje opened #16743 "ERROR 1726 (HY000): Storage engine 'MyISAM' does not support system tables."
I tried to install Matomo following https://matomo.org/faq/how-to-install/faq_23484/
But when: CREATE USER 'matomo'@'localhost' IDENTIFIED WITH mysql_native_password BY 'my-strong-password-here';
I get: ERROR 1726 (HY000): Storage engine 'MyISAM' does not support system tables. [mysql.db]

Any idea? Is this only a problem with instructions?

[2020-11-18 15:07] sgiehl commented on #16743
That actually does not have anything to do with Matomo. Seems your mysql system tables have the wrong storage engine or something like that. Could be possible you did something wrong when setting up mysql in the first place.
Maybe this helps: https://stackoverflow.com/questions/54292491/how-to-fix-error-1726-hy000-storage-engine-myisam-does-not-support-system-t
Otherwise feel free to ask your ques

[2020-11-18 15:07] #16743 closed

[2020-11-18 18:25] utrautmann commented on #12305
For instance when segmentation is for PageURL or ActionURL then no results returned for transitions.
If the segmentation is for campaigns or visitor properties instead, data is returned.

However, the [documentation ](https://developer.matomo.org/api-reference/reporting-api#Transitions) doesn't mention this.

Works:
https://demo.matomo.org/index.php?segment=visitorType==returning&date=yesterday&ac

[2020-11-18 19:29] tsteur commented on #16125
👍  let's maybe wait until they announce it again (which I think they will).

[2020-11-18 19:33] tsteur commented on #16742
sounds like an easy fix? I assume it's unlikely a search engine links to you anyway :)

[2020-11-18 19:49] sgiehl commented on #12305
@utrautmann the name of the segment is `actionUrl`. e.g. https://demo.matomo.org/index.php?segment=actionUrl==https%3A%2F%2Fdivezone.net%2Fjobs&date=yesterday&actionType=url&actionName=https://divezone.net/jobs&expanded=1&format=JSON&module=API&method=Transitions.getTransitionsForAction&filter_limit=-1&idSite=62&period=day

[2020-11-18 19:49] tsteur commented on #16741
I created a PR in https://github.com/matomo-org/matomo/pull/16744/files not sure if these changes change anything though?

[2020-11-18 20:00] utrautmann commented on #12305
@sgiehl Thank you for clarification

[2020-11-18 20:05] tsteur commented on #16689
Great, I will close this issue for now. Should there still be an issue please let us know. Thanks

[2020-11-18 20:05] #16689 closed

[2020-11-18 20:09] sgiehl commented on #16742
That's very easy. Will create a PR for it.

[2020-11-18 20:22] #12305 closed

[2020-11-18 21:25] tsteur opened #16749 "On plugin deactivation, invalidations are not fully removed"
I was trying the new plugin rearchiving on plugin activate.

The activate worked well but the deactivate left thousands of invalidations in the archive_invalidations table.

Problem is that it is not cleaning up segment invalidations by the looks:

Left entries:

![image](https://user-images.githubusercontent.com/273120/99589772-56afa000-2a51-11eb-8c28-e38437b71f17.png)

This is because it only de

[2020-11-18 21:27] tsteur opened #16750 "array_diff(): Expected parameter 1 to be an array, string given"
this happened after executing this

[code]

`idSites = all` in this case

![image](https://user-images.githubusercontent.com/273120/99590108-c9208000-2a51-11eb-92dc-329562068706.png)

@diosmosis can you have a look at this?

[2020-11-18 21:38] tsteur commented on #16396
@diosmosis does the funnels PR still need to be updated?

[2020-11-18 21:52] tsteur commented on #16396
@diosmosis also left a comment in custom reports to check

[2020-11-19 02:20] ollimustakallio commented on #10893
I would also like to give a shout that "update e-commerce order" would be a very useful feature.

[2020-11-19 02:42] nrenault commented on #16741
Hi @tsteur

I will wait to test it to confirm you, but it's sounds good and I think it will solve my issue with ExtraTools.

Thanks for you reactivity !

[2020-11-19 08:20] #16750 closed

[2020-11-19 08:21] #16749 closed

[2020-11-19 12:25] utrautmann commented on #12418
The same problem happens with my customer.
The customer tracks various subdomains and the www-domain (www.mydomain.com, sub1.mydomain.com, sub2.mydomain etc.) with one Matomo-Website.
The customer did not enter every single domain as an alias, but has only stored "mydomain.com".

The result is that the page overlay does not work with the above error message.

[2020-11-19 16:10] sgiehl commented on #15262
@tsteur The problem for that is again related to the number formatting. The evolution chart fetches the report formatted, so the values for order value are somewhat like `$123.45`. But when generating the data for the graph the numbers are casted to float here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/CoreVisualizations/JqplotDataGenerator/Chart.ph

[2020-11-19 19:16] tsteur opened #16757 "Update docs where they mention setGenerationTimeMs"
eg https://developer.matomo.org/guides/spa-tracking

it is now removed. Not sure if there are other places too?

[2020-11-20 01:19] tsteur commented on #16757
done in https://github.com/matomo-org/developer-documentation/commit/234fcfcfcd2d1c78883dff05a163b4d0e74ef1ab#diff-83819680210431590732de2c2c452ec4b231c58e1a5344d6d5a34765cdf761a5 and https://github.com/matomo-org/developer-documentation/commit/f4841589037a7b3447ac103de7978091af2ddac3#diff-258ccce9a65ffc3a496e38373d033ce3ed518a0a4249b1beee467c398c9be067

[2020-11-20 01:19] #16757 closed

[2020-11-20 02:58] tsteur commented on #15262
@sgiehl I suppose we can't simply replace `$€` etc with an empty string there? Would this help (of course not best solution but if it mixes most issues might be a solution.) or in case we know it is supposed to be a number we could keep only numbers and dots and remove everything else? But I suppose a number may look like `$123,45` when German is selected and it all doesn't work?

[2020-11-20 05:20] nrenault commented on #16741
Hello,

I checked this morning with RC6 version, but I still have the same error.

[code]

[2020-11-20 07:22] sgiehl commented on #16741
@nrenault maybe the plugin author (@mikkeschiren) is able to help you here. I'm not sure what requirements the plugin have and if it is supposed to work without any configuration or database 🤷

[2020-11-20 08:12] sgiehl commented on #15262
The german format would actually be catched by `forceDotAsSeparatorForDecimalPoint`, as it would replace the `,` with `.`. On the other side might that replacement break bigger numbers like `2.000,44` or even other language formats that use their own chars as floating point or thousands separator. In addition there is not only the German format and not only `$` and `€`. Every currency might have i

[2020-11-20 09:22] JueMeiAlg opened #16761 "use getHeatmaps method API return empty array"
I regenerate and replace a token_auth
used HeatmapSessionRecording.getHeatmaps I got an empty array
How can I get rid of this problem

[2020-11-20 09:45] nrenault commented on #16741
@sgiehl maybe I'm not clear in my feedback but the problem is not from the plugin or the database.

I have the same error when I try to activate another plugin (ex: LoginLdap) before Matomo installation.

[code]

If I just ignore this error, I can use ExtraTools to install Matomo, and everything works.
I follow exactly the same steps/process than I did before with 3.14 or 3.14.1 (ansible-playbook)

[2020-11-20 11:44] Findus23 opened #16762 "Page overlay doesn't work with "Block third-party cookies" enabled in Chrome"
When opening https://demo.matomo.org/index.php?module=Overlay&period=month&date=today&idSite=62#?l=https$3A$2F$2Fdivezone.net$2Fdiving$2Fbali$3F__enterprise_demo$3Ddemo.matomo.org$26__enterprise_demo_idsite$3D62 in a fresh browser (`chromium --temp-profile`, Version 83), the page overlay is stuck on loading.

The console shows

According to https://www.chromium.org/for-testers/bug-reporting-guidel

[2020-11-22 16:15] Chardonneaur opened #16767 "Support ga('send', 'event', '', '', ''); and _gaq.push(['_trackEvent', '')"
Dear all,
Is there any plans to support ga('send', 'event') and _gaq.push(['_trackEvent', '') for Matomo. Both are Google Analytics trackers. Currently there is an automatic support for the Google Tag Manager data layer, so I was thinking that it may be useful to have one too for legacy GA tracking.
The issue comes when someone is migrating from GA to Matomo and does not want to redo everything.

[2020-11-22 19:59] tsteur commented on #16741
@nrenault I think it is a problem with that plugin as i think it was never supposed to work like this in the first place. It should not be possible to install any plugin before Matomo is not fully installed.

What you maybe want to look at is the config `always_load_commands_from_plugin=ExtraTools`.

Can you try to add to your `config/common.config.ini.php` as part of the `[General]` section this

[2020-11-22 20:01] tsteur commented on #16761
Hi @JueMeiAlg as this is a premium feature could you get in touch with our support please? It's support@innocraft.com Thanks

[2020-11-22 20:01] #16761 closed

[2020-11-22 20:13] tsteur commented on #16767
Thanks for creating the issue @Chardonneaur I suppose that would only apply to events and the default tracking code would still need to be embedded. Also I suppose not all the time this behaviour would be expected so there would probably need to be some call to enable this feature.

[2020-11-22 23:17] tsteur commented on #15262
That would be great 👍

[2020-11-23 03:12] tsteur commented on #16396
This should be done now. There's one more comment left in custom reports to tweak a message ideally but can be done any time

[2020-11-23 03:12] #16396 closed

[2020-11-23 03:13] #16307 closed

[2020-11-23 20:03] tsteur opened #16775 "--skip-segments-today no longer working in Matomo 4?"
If I see in the code correctly this flag doesn't do anything anymore? Can you check @diosmosis ?

It should basically skip archiving a segment in today's timezone (I think unless it was created or changed recently see https://github.com/matomo-org/matomo/blob/3.14.1/core/CronArchive.php#L2000 ) see https://github.com/matomo-org/matomo/blob/3.14.1/plugins/CoreConsole/Commands/CoreArchiver.php#L105-

[2020-11-23 21:50] tsteur opened #16776 "When accessing UI with unsupported browser throw error and suggest to use other browser"
When IE 10 is used, we may want to show an exception that it is not supported instead of seeing a broken screen. This can also have security benefits since some features like `noreferrer` might not work in IE10.

[2020-11-24 02:40] nrenault commented on #16741
Hi @tsteur !

You advice works, thanks !

It's works (with RC7) too when I activate the plugin, but I have errors.
If I add `always_load_commads_from_plugin=ExtraTools`, no need to activate the plugin and no errors.

Thanks again for your answers, your reactivity and your help !

[2020-11-24 02:40] #16741 closed

[2020-11-24 10:44] GieltjE opened #16778 "SEO Plugin broken"
After upgrading to 4.0.0 the SEO plugin appears to be broken quite badly, no extra php error log is given.

index.php?date=today&module=SEO&action=getRank&disableLink=0&widget=1&idSite=10101&period=day
Call to a member function getRows() on null
in core/DataTable/Renderer.php line 446

[2020-11-24 10:48] sgiehl commented on #16427
I guess that check is already a few years old. So might make sense to complete rewrite that with more useful thing.

So imho we should have these types of results:

* **Recommended Provider installed and activated**
  --> Result: OK

* **Currently selected Provider has an error**
  --> Result: Error (with error message from provider)

* **Default provider is in use**
  --> Result: Warning  (Sugges

[2020-11-24 11:00] sgiehl commented on #16778
Hi @GieltjE
Thanks for the report. I'm able to reproduce that locally and will have a quick look.

[2020-11-24 16:29] sgiehl commented on #14984
Still works for me. @mattab could you check if you are able to reproduce that issue?

[2020-11-24 21:34] ThorbenOermann opened #16786 "No custom dimensions in Matomo 4.0.0"
After updating to version 4.0.0 the custom dimensions seem to be gone. I did not find anything regarding this issue in the changelog, but I think custom dimensions are a core feature. Am I missing something, or did they move?

[2020-11-24 22:11] tsteur opened #16787 "Improve no data tracked yet please set up tracking code screen"
The goal of this issue is to improve the "No data has been recorded yet, get set up below" screen which users see when they haven't tracked any data yet.

So far we're showing seven different ways of embedding the tracking code and there's a lot of text and it is quite tricky for people to figure out what to do.

## Step 1: detection of site

We currently have guides for WordPress | Squarespace |

[2020-11-24 22:17] tsteur opened #16788 "CLI Archive might not stop"
see https://forum.matomo.org/t/will-invalidate-archived-reports-for-today-in-site-id-xxx-multiple-times-for-the-same-site-id-archive-during-cron-job/39452

fyi @diosmosis

[2020-11-24 22:20] tsteur commented on #16786
@ThorbenOermann this plugin should now be part of the Matomo core release. Can you go to "Administration -> Plugins" as a super user and check if the plugin is enabled?

[2020-11-24 22:27] tsteur opened #16789 "If only one website exists, remove the site selector from reporting page"
In past we had kept it there so people would notice they can track different sites with it. However, the "all websites" screen achieves the same.

Having less controls makes the UI easier, and also makes it easier when no data has been tracked yet.

We could keep it though if we add a link "Add new site" after "all websites". This link would however only appear to super users so for other users th

[2020-11-24 22:52] mattab commented on #14192
This improvement will be great. we get this report a few times per month.

[2020-11-24 22:59] tsteur opened #16790 "When a period has no data, but raw data, show a message"
Conditions when to apply this:
* For now only apply when "no segment" is select (report shows all visits)

When loading the reporting UI, or when selecting a different date, can we check in an API call if `nb_visits=0`? If that's the case, we also check if there's any visit during that period in log tables raw data. If that's the case, we could show an info message like this:

![image](https://use

[2020-11-24 23:02] gwire opened #16791 "Don't set a cookie when first displaying the opt-out iframe"
We've attempted to do cookie-less use of Matomo, but now adding the "opt-out" iframe will immediately set the session cookie "MATOMO_SESSID" anyway - this happens regardless of any interaction with the content of the frame.

Is it possible to do an opt-out iframe that doesn't immediately set a cookie regardless of user action?

This is 4.0.0 using the code generated by the "Let users opt-out of tr

[2020-11-24 23:08] tsteur commented on #16791
Hi @gwire thanks for creating this issue. It's a duplicate of https://github.com/matomo-org/matomo/issues/14402 and the cookie is needed for security reasons unfortunately. If you're worried re GDPR this cookie is definitely an essential cookie that is needed no consent or anything needs to be obtained. It also doesn't track the user. There is no way to disable it so far unless you were to build a

[2020-11-24 23:11] tsteur opened #16792 "Have a report description for every report"
We should click through the UI and should make sure to have a report description for every report shown in the UI. This is currently for example not the case for Device reports and some other reports
![image](https://user-images.githubusercontent.com/273120/100161938-4a2abc00-2f17-11eb-80ea-36f45abbe949.png)

[2020-11-25 00:21] Starker3 commented on #14192
This error can occur when you were previously logged into Matomo over HTTPS and are now logging in over HTTP.

This is due to the fact the Matomo sets the "secure" cookie flag when you login over HTTPS which causes form security to fail when you go back to HTTP.
When this happens you will see the following in the browser console: `warning: Cookie "MATOMO_SESSID" has been rejected because there is

[2020-11-25 00:56] tsteur opened #16793 "Admin menu should be collapsible for admins/super users"
For users with admin and super user access:
By default we would want all menus to be collapsed except for the menu that has an active item. Meaning if you are on the "General Settings" page then "System" section should be expanded, all other menus should be collapsed/closed.

On toggle you can open/close a menu.

If a user has view or write access, then the menu behaves as currently where all subm

[2020-11-25 01:04] #14275 closed

[2020-11-25 01:05] #14274 closed

[2020-11-25 01:06] #7295 closed

[2020-11-25 01:07] tsteur commented on #13878
@wlabarron @cleger80  do you still experience this issue? Does it work when manually trigging the task as mentioned in my previous comment?

[2020-11-25 02:56] tsteur opened #16794 "Add feature to ignore traffic of Cloud providers - prevent spam tracking"
Be great to have a new plugin or setting that will not track any traffic coming from any cloud provider such as AWS, GC or Azure. For most websites this should be fine as the traffic in this case be unlikely from a human.

There is eg here all the current IP ranges of AWS: https://ip-ranges.amazonaws.com/ip-ranges.json
azure: maybe https://www.microsoft.com/en-us/download/details.aspx?id=56519
Goo

[2020-11-25 06:27] ThorbenOermann commented on #16786
I followed the update instructions from https://matomo.org/docs/update/#the-manual-three-step-update.

After the update to Matomo 4.0.0 I had to update a list of plugins. But the CustomDimensions plugin could not be updated. I get this notice:

![image](https://user-images.githubusercontent.com/12184389/100190111-e344dd00-2eed-11eb-8f53-6ec1786235f0.png)

Telling me that the CustomDimensions plugi

[2020-11-25 06:54] ThorbenOermann commented on #16786
CustomDimensions now work for me. But I can´t tell you exactly what fixed it for me.

After the update to 4.0.0 the systemcheck told me that there are files I could delete. I did not delete them due to a possible downgrade, if I would not be able to get custom dimensions back to work. After your message I thought these files could be cause of the problem. So I deleted the files mentioned by the sy

[2020-11-25 15:28] creativecoder commented on #16082
Seeing the 4.0 release, I just tried to upgrade my composer based matomo project to v4.0 and found this same issue

[code]

It'd be great to get this resolved now that v4 is released, so composer support isn't broken.

[2020-11-25 16:10] Findus23 commented on #16082
@creativecoder I think to be able to go back to the normal upstream release, [this pull request](https://github.com/leafo/lessphp/pull/647) needs to be merged as without it lessphp won't work in Matomo when using PHP 7.4 or above.

Once this is done and there is a new lessphp release (this part is optional as we could depend on a commit hash) we can simply use it instead.

[2020-11-25 16:12] sgiehl commented on #16082
I will check how easy it would be to maybe switch to https://github.com/wikimedia/less.php instead. Should be more maintained 🙈

[2020-11-25 17:07] Findus23 commented on #16082
@sgiehl Considering that there is a [section about this](https://github.com/wikimedia/less.php#transitioning-from-leafolessphp) this could be surprisingly easy (I didn't know that there was another PHP implementation).

Especially as it should not change the rest of the asset handling (as long as it compiles the css the same). (even though supporting source maps would be really nice for the future

[2020-11-25 18:23] mskala commented on #14651
This is still a problem in 4.0.0.  I don't understand what "feedback" you're waiting for.

[2020-11-25 19:10] tsteur opened #16798 "Error upgrading db while upgrading to 4.0.0-b1 (session update fails)"
see https://forum.matomo.org/t/error-upgrading-db-while-upgrading-to-4-0-0-b1/39478

[2020-11-25 19:30] tsteur commented on #16798
Maybe as a workaround we could delete all expired sessions from the table first? This should minimise the risk.

Overall the risk of this happening is quite low because session Ids are usually much shorter unless maybe customised with https://www.php.net/manual/en/session.configuration.php#ini.session.sid-length and the chance of two similar IDs for the first 190 char is quite low. It's actually s

[2020-11-25 19:38] #16778 closed

[2020-11-25 19:54] tsteur commented on #16786
@ThorbenOermann any chance you remember from which Matomo version you upgraded? If the `plugin.json` still existed maybe Matomo 4 thought the plugin is no longer compatible.

From what I see Matomo should have removed these files automatically but maybe the webserver does not have any write permission on your files? All good if you don't know

[2020-11-25 19:55] tsteur commented on #16786
@sgiehl maybe we could include a plugin.json for custom dimensions at least for a while? not sure if this would have any side effects

[2020-11-25 19:56] tsteur commented on #16786
@ThorbenOermann forget my question regarding write permission I just realise if Matomo was able to update itself, then it should have also been able to delete these files automatically.

[2020-11-25 20:41] ThorbenOermann commented on #16786
I updated from 3.14.1

[2020-11-25 20:48] ThorbenOermann commented on #16786
Matomo did not update itself. I updated it following the instructions from https://matomo.org/docs/update/#the-manual-three-step-update.

I did not realized the actual problem because the systemcheck did only show a warning that some files are not needed anymore. But in fact the old files are seem to break custom dimensions and tracking in some cases. Probably this problem only appears when doing

[2020-11-25 20:53] tsteur opened #16801 "Handle alexa timeout issues better"
![image](https://user-images.githubusercontent.com/273120/100280457-18742c80-2fcd-11eb-9ba4-41518b947fe3.png)

was getting this error after we made the recent Alexa change in 4.0.1.

@sgiehl when there is a timeout error, could we avoid showing a confusing warning and instead show in the UI simply something like "Timeout error, please try again" or so?

Just wanting to avoid getting reports about

[2020-11-25 21:00] tsteur opened #16802 "New setting: Let users configure a max actions per visit that should be recorded"
I think this could go into a new plugin similar to https://github.com/matomo-org/matomo/issues/16794 . The plugin could be called like "TrackingSpamProtection" or similar. Could include this in core or on the marketplace.

A new UI system setting be great that lets you configure a max number of actions per visit. By default unlimited actions would be allowed. If the plugin is installed through the

[2020-11-25 21:16] tsteur commented on #16786
Thanks @ThorbenOermann this explains it. We'll likely add a plugin.json now this plugin so next time someone does it in a similar way it won't be causing a problem. Thanks for your help 👍

[2020-11-26 00:46] tsteur opened #16803 "Ask users to refer us to other friends"
Not sure into which plugin to put this best. However, it needs to be disabled by WhiteLabel (eg through some event).

We'd basically show a block in the bottom similar to on our demo.matomo.cloud (might need to go incognito to see it)

![image](https://user-images.githubusercontent.com/273120/100294338-5f711a80-2feb-11eb-850c-37f2ebbfc66c.png)
(be great to give the social icons some white backgrou

[2020-11-26 01:25] Krinkle opened #16804 "Matomo 4.0.0 warns about "ExampleTheme requires Piwik <4.0.0-b1""
I just upgraded from Matomo 3.14.1 to 4.0.0 (installed and updated via DirectAdmin and Installatron) and started getting various System Check warnings.

| Settings | System Check | System Check / Informational
|--|--|--
| ![settings](https://user-images.githubusercontent.com/156867/100298279-9d892280-2f88-11eb-863b-94e93b77f8bf.png) | ![sys-summary](https://user-images.githubusercontent.com/156867

[2020-11-26 01:34] tsteur opened #16805 "Show a summary of what's new in the app"
Could be similar to cloud (the third icon):
![image](https://user-images.githubusercontent.com/273120/100297435-8d5a5d00-2ff3-11eb-9928-a4a68d156c85.png)

when clicking on it
![image](https://user-images.githubusercontent.com/273120/100297476-a82cd180-2ff3-11eb-8fc5-9af63cdd44f1.png)
![image](https://user-images.githubusercontent.com/273120/100297526-bbd83800-2ff3-11eb-97b6-b881a93f2954.png)

Idea

[2020-11-26 02:05] #16786 closed

[2020-11-26 02:19] tsteur commented on #16804
Thanks for creating this issue and letting us know @Krinkle I've created a PR that should remove this plugin in the next update. Basically `plugins/ExampleTheme` needs to be removed.

[2020-11-26 03:58] slawa-dev commented on #16804
@tsteur Does the same apply to the other ones in the `plugins` folder?

[code]

[2020-11-26 04:00] #16804 closed

[2020-11-26 04:02] slawa-dev commented on #13424
I updated to version 4 and converted the database tables to utf8mb4. Now everything shows up as expected!

[2020-11-26 06:26] #16788 closed

[2020-11-26 07:43] sgiehl commented on #14651
@mskala I'm still not able to reproduce that locally, so it's hard to find a possible reason.
Which browser are you having this issue with? Can you maybe see any error in the browser console.
Could you maybe give us access to you Matomo instance so we can have a look there? Feel free to send use the credentials to support@matomo.org and mention this issue in the email.

[2020-11-26 08:54] sgiehl commented on #16801
@tsteur that actually should not be an issue of the alexa stats only. All SEO metrics will trigger a warning when they fail to load.
Might make sense to change the logging to info and simply show an "Error" in the UI.

[2020-11-26 10:37] Findus23 opened #16810 "Matomo 4 migration: Row size too large"
reported by two people in https://forum.matomo.org/t/error-while-updating-to-4-0-0-b1-have-to-change-some-columns-to-text-or-blobs/39482

[2020-11-26 10:39] Findus23 opened #16811 "Matomo 4 migration: Index column size too large"
reported in https://forum.matomo.org/t/fehler-bei-installation-in-strato-hosting-paket/39480

PHP-Version 7.2 and MySQL-Version 5.6.

[2020-11-26 10:41] Findus23 commented on #16798
Deleting the sessions fixed the error as expected: https://forum.matomo.org/t/error-upgrading-db-while-upgrading-to-4-0-0-b1/39478/3?u=lukas

[2020-11-26 13:16] LfD-Nds opened #16812 "Matomo Analytics without consent needs opt-out-improvement to become GDPR-compliant for this use case"
Hello everyone,
In Matomo 3.13.6 or newer it should be possible to operate the Matomo analytics solution without cookies (https://matomo.org/faq/new-to-piwik/how-do-i-use-matomo-analytics-without-consent-or-cookie-banner/).
As you already mentioned in the FAQs (https://matomo.org/faq/general/faq_157/) there is an issue with cookies, created despite the use of _paq.push(['disableCookies']) in follo

[2020-11-26 13:19] Mogekoff commented on #12812
I solved this problem by removing the line
`Header always set Content-Type "text/html; charset=utf-8"`
from my .htaccess

[2020-11-26 13:34] Findus23 commented on #16812
Hi,

I don't have time right now to answer extensively, but want to add two quick notes:

https://github.com/matomo-org/matomo/issues/14402: MATOMO_SESSID is needed to avoid CSRF which would allow other websites to opt-in or opt-out of the tracking without the user noticing which I think is far worse for privacy than a cookie that doesn't do any tracking.

If you suggest that Matomo should not sto

[2020-11-26 13:56] narfk commented on #16551
Another solution (Apache, .htaccess)

<IfModule rewrite_module>
	RewriteEngine On
	RewriteRule ^/w.(js|php)$ /piwik/piwik.$1 [NC,L]
</IfModule>

[2020-11-26 14:37] LfD-Nds commented on #16812
Is it possible to avoid the setting of "_pk_id" and "_pk_sess"-Cookies in cookie-less mode?

The use of "MATOMO_SESSID" for security reasons and "mtm_consent/mtm_consent_removed"-cookies to save the opt-in/-out state of user's consent can be viewed as essential, if there is no way to avoid them technically. I've changed our request above. Thank you for your quick feedback!

[2020-11-26 15:09] sgiehl commented on #16812
@LfD-Nds  Just FYI, we have released Matomo 4.0.0 shortly, which also brings some improvements towards cookieless tracking.
I've just checked that and if `disableCookies` is called for the tracker, there should not be any `_pk_id` or `_pk_sess` cookie.
The `MATOMO_SESSID` cookie is still set by the opt-out for the reasons @Findus23 mentioned.

[2020-11-26 15:19] sgiehl commented on #16810
Guess that might only happen in innodb strict mode and depends on configured `row format` and some other settings.
There's a quite good troubleshooting here: https://mariadb.com/kb/en/troubleshooting-row-size-too-large-errors-with-innodb/

[2020-11-26 15:48] sgiehl commented on #16811
Guess that is related to the utf8mb4 changes, but without knowing which table actually produces the error it's hard looking it up.
Looked through the database definitions, but couldn't find anything obvious. Asked on the forum for more input. If that doesn't help quickly will need to setup a database without utf8mb4 support and install Matomo on it.

[2020-11-26 18:24] mskala commented on #14651
As mentioned, this happens in every browser I have tried.  My main browser at the moment is Firefox Developer Edition 67.0b16 (64-bit) under Linux, but it's also been a problem in several other versions of Firefox, Pale Moon, and Internet Explorer on multiple Linux and Windows machines.  I don't have a Chrome installation to check with.

I tried creating an account just now, intending it for shari

[2020-11-26 19:08] tsteur commented on #16812
BTW even in the 3.14 release this might be already fixed. Regarding the opt out this is a duplicate of https://github.com/matomo-org/matomo/issues/16791 and explained in https://github.com/matomo-org/matomo/issues/16791#issuecomment-733284878 that it is an essential cookie.

@LfD-Nds any chance you can update to the latest 3.X and check if it's fixed there for you or otherwise to the latest Matomo

[2020-11-26 19:20] tsteur commented on #16804
Hi @Krinkle yes you could remove these other plugins as well

[2020-11-26 19:50] tsteur commented on #16810
I suppose this problem comes from either having many custom variables or custom dimensions.

In case of many custom dimensions converting some to `TEXT` might help:

[code]
or custom variables:

[code]

Otherwise as @sgiehl mentioned the https://mariadb.com/kb/en/troubleshooting-row-size-too-large-errors-with-innodb/ link will help.

We can't really do anything here otherwise unfortunately. Can we

[2020-11-26 19:54] tsteur commented on #16811
It seems to be the `matomo_archive_invalidations` table @sgiehl  see forum. Anything we can do here?

[2020-11-26 21:26] #16798 closed

[2020-11-26 21:54] LfD-Nds commented on #16812
Yes, we will check/update and report the results here. Thank you all for your helpfull replies!

[2020-11-26 22:05] tsteur commented on #16812
Great @LfD-Nds I will close this issue for now but we're more than happy to reopen if anything needs doing.

[2020-11-26 22:05] #16812 closed

[2020-11-26 23:02] alex1702 commented on #16546
Do you mean?
[code]
I updated to 4.0.0 today and I was missing exactly this column. I can't remember exactly which version I had before.

[2020-11-26 23:14] tsteur commented on #16546
Yes that's what I meant @alex1702 👍

[2020-11-26 23:43] mattab opened #16817 "Release Matomo 5.0.0"
### Checklists for a successful Matomo release

#### Release Beta 1
- [ ]    Beta release cycle has started with the first beta release - covered in DEV-16407
- [ ] Keep track of releases notes/ any important changes in the changelog page we created: https://matomo.org/?post_type=changelog&p=64260&preview=true

#### Prepare RC1

FYI: Copied into DEV-16799

Now that the beta is released, then:

- [

[2020-11-26 23:50] mattab commented on #16789
I'm not sure if this helps, as for context and knowing "what we're looking at" it's usually quite helpful to see the website name clearly in the screen. (and it's nice that it appears in screenshots.)

Otherwise it might be hard to know what people are looking at. So I'm not 100% sure about this one :thinking:

[2020-11-27 00:09] mattab commented on #8742
Thanks for the feedback @MagicFab
Published in https://matomo.org/blog/2016/01/announcing-long-term-support-in-matomo-the-analytics-platform-for-your-mission-critical-projects/

Quickly mentioned in https://matomo.org/faq/new-to-piwik/faq_18925/ as well

[2020-11-27 00:09] #8742 closed

[2020-11-27 00:09] mattab commented on #8701
Thanks for the feedback @MagicFab
Published in https://matomo.org/blog/2016/01/announcing-long-term-support-in-matomo-the-analytics-platform-for-your-mission-critical-projects/

Quickly mentioned in https://matomo.org/faq/new-to-piwik/faq_18925/ as well

[2020-11-27 00:09] #8701 closed

[2020-11-27 00:11] mattab opened #16818 "Announce Matomo 3.x Long Term Support ends in December 1st 2021 - end of life for Matomo 3.x"
we could announce Matomo 3.x Long Term Support ends in December 1st 2021, so this will be the end of life for Matomo 3.x. Creating an issue to remember to announce it in 1 year, as it might be helpful?

[2020-11-27 00:19] mattab commented on #16510
@sgiehl could we instead do a quick fix / hack? It would be great if we could fix this and release 3.14.2 and feel good about 3.x LTS and hopefully not having to touch it afterwards

[2020-11-27 00:20] mattab commented on #14601
All done, great job everyone :100: :volcano:

[2020-11-27 00:20] #14601 closed

[2020-11-27 00:34] tsteur commented on #16818
@mattab this is basically the announcement so closing it as we had discussed we only keep the initial post

[2020-11-27 00:34] #16818 closed

[2020-11-27 00:36] tsteur commented on #16789
People who have only one website 100% know what they are looking at.

Also for say > 90% this would make UI easier so we shouldn't make it worse just in some cases a few people would have maybe a problem.

[2020-11-27 07:03] prbt2016 opened #16824 "Matomo upgrade from 3.14.1 to 4.0.1 fails due to Duplicate entry for for key 'PRIMARY' error"
Hello,

I was in the process of upgrading Matomo from 3.14.1 to 4.0.1 on Centos 6.9 with PHP 7.2.24, MYSQL 5.5.62, Apache 2.2.34.
However when I click on 'Upgrade Matomo', I get the following error i.e :

[code]
Here is the attached screenshot of the same :

![matomoerrr](https://user-images.githubusercontent.com/17871448/100420567-b1c64000-30ac-11eb-9278-c36c7b12d13e.png)

Could you please replic

[2020-11-27 07:36] igm-jl opened #16825 "Send mail uses password-reset as user instead of assigned user in config"
I have set all my credentials and mail user to the no-reply@<companyname>.<tld> but in the logs it keeps wanting to use password-reset@<companyname>.<tld> (after enabling mailer debug and reading the issues returned).

Office365 (or at least my configuration of) blocks you from sending emails from a different user account so because Matomo is trying to force sending it as password-reset instead of

[2020-11-27 08:09] sgiehl commented on #16825
@igm-jl you can set this config values to adjust the email address password requests are sent from:

https://github.com/matomo-org/matomo/blob/375dd9f6933dcf7eeb37df9d2d9f44d16f35a277/config/global.ini.php#L415-L425

[2020-11-27 08:09] #16825 closed, assigned to nobody

[2020-11-27 09:24] keesbran commented on #16824
I had the same problem but was able to upgrade after changing the version number to 4.0.1 in the 'option' table as noted in the error message.

But that introduced a new problem. I can't login anymore. This is without error message. I can change the password, which shows that the update seems to work correctly on the server, but with the new password logging in is still impossible.

[2020-11-27 09:38] C0rn3j commented on #16824
Same issue for 3.14.1 -> 4.0.1 on Arch Linux.
[code]
I updated the app, ran `./console core:convert-to-utf8mb4` and upon running `sudo -u http php ./console core:update` I get the same issue.

The log isn't very clear as to where the issue is happening.

[matomo_upgrade.log](https://github.com/matomo-org/matomo/files/5607059/matomo_upgrade.log)

[2020-11-27 09:43] sgiehl commented on #16824
Could you maybe check if the table `matomo_session` has an entry with the id reported as duplicate?
If so it should help to simply truncate that table (which would log out all users)

[2020-11-27 09:46] C0rn3j commented on #16824
[code]
[code]

That indeed seem to have helped, the update is now going through.

EDIT: Update went through, I can access the app, but it's kinda broken, but I guess that's for another issue.

[code]
EDIT2: Reinstalling matomo and rebooting the server fixed the above, for some reason.

[2020-11-27 09:56] sgiehl commented on #16824
Ok. Thanks for checking this. Will look into it how to prevent that error.

@prbt2016 guess truncating that table should help for you too.

@keesbran you might need to set back the version number in the option table, so the update will be triggered again

[2020-11-27 10:03] C0rn3j commented on #16810
[code]
Curiously, I have had this issue when upgrading 3.14.1 to 4.0.1 BEFORE the `utf8mb4` conversion, and it disappeared right after.

Using `mariadb 10.5.8`.

[2020-11-27 10:08] C0rn3j opened #16827 "Unknown column 'log_visit.config_director' in 'field list' - in plugin DevicePlugins"
After upgrading from 3.14.1 to 4.0.1, I run into this error in the web app's 'Visits Over Time' and 'Channel Types' tabs.

[code]
[code]
This looks like the same issue as https://forum.matomo.org/t/database-issues-after-auto-upgrade-to-matomo-4-0-0/39509/4 but I did update via CLI, with the catch that I ran into #16824 first.

[2020-11-27 10:14] utrenkner commented on #16824
For information (and maybe others who experience the same problem).

Our installation was running 3.14.1, update via web did produce the same error, update via command-line (as suggested for high-traffic sites) also the same error. Had to go to the database and ``truncate table piwik_session`` (or ``truncate table matomo_session`` on newer installations). Then, running the command-line the suggest

[2020-11-27 10:26] Findus23 commented on #16810
see also https://forum.matomo.org/t/error-while-updating-to-4-0-0-b1-have-to-change-some-columns-to-text-or-blobs/39482/8?u=lukas

[2020-11-27 10:30] sgiehl commented on #16827
That column has been dropped on purpose. Might it be possible that some files were not updated correctly?
Maybe try downloading the release and replacing the files

[2020-11-27 10:37] Findus23 commented on #16824
Three more people reporting the same here: https://forum.matomo.org/t/error-upgrading-db-while-upgrading-to-4-0-0-b1/39478
and possibly one more in https://forum.matomo.org/t/duplicate-entry-for-key-primary-after-update-to-matomo-4/39524

[2020-11-27 10:45] C0rn3j commented on #16827
Actually unsure what happened here.

I reinstalled the package, now supposedly taking 10MB less space, rebooted the server and issue is gone.

[2020-11-27 10:45] #16827 closed, assigned to nobody

[2020-11-27 11:06] Findus23 opened #16828 "never specify optional parameter before required one"
related to https://github.com/matomo-org/matomo/pull/16823

I used the PHPstorm "run inspection by name" to hopefully find all of them (at least in core).

- [ ] https://github.com/matomo-org/matomo/blob/c870770157a3e9c893308967dc274c8feac5d4be/core/DataTable/Filter/AddColumnsProcessedMetricsGoal.php#L86

- [ ] https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plug

[2020-11-27 11:15] sgiehl commented on #14651
@mskala thanks for the additional infos.

Could you please have a look at your database and look up the option value in the table `matomo_option` with the option name `viewDataTableParameters_login_Referrers.getSocials` (login needs to be replaced with your login).
If it exists you could try if removing that record changes anything

[2020-11-27 11:47] keesbran commented on #16824
Hi, I can confirm that the solution from @sgiehl worked for me. I changed the the version_core back to 3.14.1, ran the updater from the terminal and am now able to login again and the updater changed the version number to 4.0.1

thanks!

kees

[2020-11-27 12:40] Flaschenzug commented on #16824
I couldn't find an entry with the session.

Can't confirm that. version_core ist defined as 3.14.1 in my settings (database)

So I Truncated the table piwik_session and reload the updater.
Now it works again. Thanks for the quick support.

[2020-11-27 13:11] keesbran commented on #16824
To be clear, this is what I did:
1. I updated normally and got the error from the first entry
2. changed version_core to 4.0.1
3. updated from terminal
4. update went well but impossible to login
5. changed version_core back to 3.14.1 as @sgiehl  mentioned
6. ran the update again
7 was able to login again, all is working as expected and:
8.the version_core is changed to 4.0.1 by the updater

kees

[2020-11-27 13:22] sgiehl commented on #16166
Can we close this issue? Guess nothing needs to be changed in the code. We could maybe only update this FAQ https://matomo.org/faq/new-to-piwik/how-to-import-matomo-data-in-to-google-data-studio/  or  create a new one for importing into google spreadsheet directly...

[2020-11-27 13:30] jameshibbard commented on #16824
The ~fix~ workaround listed above worked for me, with the additional step that I had to truncate the session table.

[2020-11-27 13:33] sgiehl commented on #16342
That actually happens when you call the goals page with "invalid" parameters. e.g. something like
`#?idSite=1&period=day&date=2020-11-23,2020-11-26&segment=&category=Goals_Goals&subcategory=General_Overview`

Most of the charts actually throw an error in that case. Might be something we could handle better, like not requesting any reports at all and open the date selector directly if the date and

[2020-11-27 13:42] MagicFab commented on #8742
Merci, Matt + team - glad to see LTS is still a thing !

However, its mention is still missing from the requirements link this aimed for initially. Most importantly, there isn't any mention of LTS support at the main download/install page new users are directed to when first visiting matomo.org :

https://matomo.org/docs/installation/

I suppose more advocacy for LTS awareness is in order and woul

[2020-11-27 13:46] C0rn3j commented on #16824
@jameshibbard That's not a fix, changing the version_core is wrong in this case.

Just truncate the session table.

[2020-11-27 13:49] jameshibbard commented on #16824
I tried truncating the table. On its own, this didn't work.

[2020-11-27 13:50] sgiehl commented on #16371
The shown tooltips are actually the default documentation for each of those metrics. So if it doesn't match it might also not match in other places. For downloads & outlinks we currently reuse the same documentation:

https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/Actions/Actions.php#L66-L77

Guess it would be better to maybe go through the metrics gloss

[2020-11-27 17:22] ghost commented on #14651
Thank you, this SQL command seems to have resolved the problem with social network names not displaying.

[code]

Current-day archive reports stopped working when I did that; after waiting for the cron job to run a couple of times and seeing that it still didn't update them, I ran the console command described at https://matomo.org/faq/how-to/faq_155/ to invalidate recent reports.  This produced s

[2020-11-27 17:22] #14651 closed

[2020-11-27 18:41] tsteur commented on #16824
There's a PR in https://github.com/matomo-org/matomo/pull/16829/files

Does it help to adjust the file `core/Updates/4.0.0-b1.php` with that patch and then try to redo the database upgrade? Or do you no longer see the DB upgrade screen?

[2020-11-27 18:51] #16811 closed

[2020-11-28 14:53] kochtopf opened #16832 "Matomo v4.0.2 cron core:archive --force-periods broken"
'sudo -u www-data /usr/bin/php /var/www/piwik/console core:archive --force-periods=day' does not work as in v3.14.
An archive with --force-periods does run OK exactly ONE time after a full core:archive (without additional options). To reproduce:
1. run core:archive -> daily, weekly, yearly reports are recreated OK (does some API requests)
2. let expire your 'Archive reports at most every X seconds

[2020-11-29 12:22] JueMeiAlg opened #16833 "matomo 3.14.1 Widgetize function in iframe Unable to log in automatically"
https://domain.com/index.php?module=Widgetize&action=iframe&moduleToWidgetize=HeatmapSessionRecording&actionToWidgetize=showHeatmap&idSiteHsr=1&useDateUrl=0&idSite=3&period=day&date=yesterday&token_auth=XXX

this my Access url format
![image](https://user-images.githubusercontent.com/34858740/100541699-78dec480-3280-11eb-9fab-9324fa76645d.png)

enable_framed_pages = 1
enable_framed_logins = 1
enab

[2020-11-29 12:24] JueMeiAlg commented on #16833
If this address is not opened in iframe, it can be accessed successfully by individual access

[2020-11-29 13:45] wlabarron commented on #13878
Whoops, hadn't realised I didn't reply. If I remember right, the above command triggered the process to start and the tasks I had at the time are all marked as done now.

I've just scheduled another task to test this, so I'll check on that in a couple of days and see how it looks.

[2020-11-29 18:57] tsteur commented on #16833
Hi @JueMeiAlg as this question is related to a premium feature could you contact our support instead at shop@innocraft.com? We only handle issues for the free core part of Matomo in this issue tracker unfortunately. When you email the support, it would be great to also provide information what browser you are using. Thanks for this

[2020-11-29 18:57] #16833 closed, assigned to nobody

[2020-11-29 19:53] tsteur commented on #16832
This sounds indeed like a regression. Thanks for letting us know @kochtopf

@diosmosis I suppose when a period is forced, and we check whether we can invalidate and rearchive more imports, then we'd maybe need to look for only specific periods in that case in `isInvalidationsScheduledForSite()`. That query in that method will be becoming more and more complex because I suppose it would also need t

[2020-11-29 20:04] kochtopf commented on #16832
sure...
time_before_month_archive_considered_outdated   -1
time_before_range_archive_considered_outdated   -1
time_before_today_archive_considered_outdated   900
time_before_week_archive_considered_outdated    -1
time_before_year_archive_considered_outdated    -1
... all set to defaults

[2020-11-29 20:33] tsteur commented on #16166
Ideally we do both maybe @sgiehl

[2020-11-29 20:34] tsteur commented on #16371
Let's maybe for now fix just those ones and later eventually we'll go through all of them when needed.

[2020-11-29 20:36] #16824 closed, assigned to sgiehl

[2020-11-29 20:37] tsteur commented on #16824
This was fixed in 4.0.2.

If you experience this issue applying the patch from previous comment should help. Let me know if this is not the case and we'll have a look what else can be done.

Executing the SQL query `DELETE FROM matomo_session` before the update might help too.

[2020-11-29 20:53] tsteur commented on #16810
So far what might help fix this issue is :

## Option 1 (confirmed it works)

[code]

## Option 2 (when many custom dimensions or custom variables)

In case you have many custom dimensions converting some of them to `TEXT` might help (you can convert as many as needed):

[code]

or if you have many custom variables (same here can convert as many as needed):

[code]

## Option 3 (Experimental)

Alt

[2020-11-29 21:00] tsteur commented on #16810
Summing roughly our default columns when marketing campaign reporting is installed I end up roughly `28+8+16+200+3+11+11+30+11+8+5+255+255+1+4000+20+10+40+20+100+100+100+3+11+100+18+10+11+255+3+2000+(255*10)+(255*6)+44=` 11K characters so I suppose this roughly translates to 11K row page size when innodb maybe allows slightly less than 8K.

The easiest fix be to lower `referer_url` to `1000` which

[2020-11-29 21:13] tsteur commented on #16810
```select sum(character_maximum_length) from COLUMNS  where table_name like '%log_visit' and table_schema like '%api4_3%'``` returns in my case `12969` . This is with 15 custom dimensions though. With only 5 custom dimensions in scope visit it is only 10K.

[2020-11-29 21:28] tsteur commented on #16342
Sounds good @sgiehl . We could also just show a simple message like "specified date/period combination not supported. please choose a valid date range from the date selector". If it's not trivial we can also simply close the issue though as a wontfix

[2020-11-29 21:34] tsteur opened #16834 "Use row_format=dynamic by default when creating a table"
see https://dev.mysql.com/doc/refman/8.0/en/innodb-row-format.html

when creating a table can we specify the dynamic format like `CREATE TABLE t1 (c1 INT) ROW_FORMAT=DYNAMIC;`?

refs https://github.com/matomo-org/matomo/issues/16810 to avoid row size too large error.

We'd need to check that this works on all MySQL or not sure if we need to check whether `dynamic` row format is supported or whethe

[2020-11-29 21:35] tsteur commented on #16810
To close this issue we need to create an FAQ suggesting the first 2 options as a workaround.

[2020-11-29 21:36] tsteur commented on #16834
Note: row format dynamic requires the same settings as utf8mb4... e.g innodb_file format=Barracuda and enabled innodb_file_per_table

[2020-11-29 21:47] mattab commented on #14984
cannot reproduce anymore :+1:

[2020-11-29 21:47] #14984 closed

[2020-11-29 21:53] tsteur commented on #16789
Alternatively, it would not show a button but only text, or add least replace the `all websites` with a link to `add a new site`.

[2020-11-29 22:06] tsteur commented on #16810
created https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-1118-row-size-too-large-the-maximum-row-size-for-the-used-table-type-not-counting-blobs-is-8126/

[2020-11-29 22:13] tsteur commented on #14535
Note: Referrer urls will be truncated to 1500 characters

[2020-11-29 22:14] #16810 closed

[2020-11-29 22:35] mattab commented on #16166
fyi the FAQ for google data studio already has the hint see: ` Replace the “EXPORT_URL” in the above code with the URL copied in STEP 2 and append &convertToUnicode=0 at the end of the URL`

I suppose this could be closed, unless we wanted to cut & paste the first 2 sections of the data studio FAQ into a new "How do I import Matomo reports in Google sheets?" and cross-link the 2 FAQs?

[2020-11-29 22:39] mattab commented on #16789
Text only would work too :+1:

[2020-11-30 00:15] #16166 closed

[2020-11-30 02:53] #16828 closed, assigned to tsteur

[2020-11-30 03:23] #16775 closed

[2020-11-30 15:21] Findus23 commented on #15850
The same issue was reported in https://forum.matomo.org/t/warning-message-on-new-installation/39557

For whatever reason, when Matomo tries to make a HTTP request (e.g. to fetch data from the marketplace), it gets back an empty response.
Matomo then tries to display an error message with the last error that occured, but there is no error (which causes the warning you see).

You can try to install

[2020-11-30 15:28] sgiehl commented on #16371
Just thought about how to improve that documentation. But actually it's a bit hard to find something that matches all use cases. Those documentation is used as column documentation in data tables as well. For that case most documentations kind of match (even though some could be improved). But for the sparklines they have a slightly other meaning.
For the table we often use something like `The num

[2020-11-30 15:39] sgiehl commented on #15850
Wondering if that might be an issue with the redirect. Seems Matomo still uses `plugins.piwik.org` as endpoint, which redirects to `plugins.matomo.org`. So the initial response would be a redirect without content. Might be interesting to know if changing this line fixes the problem:
https://github.com/matomo-org/matomo/blob/3565da78bff718f201247fc2f692c0be29220fde/plugins/Marketplace/config/config

[2020-11-30 19:14] tsteur commented on #16371
Can we change the translation for the sparklines eg in `VisitsSummary/get` like `if $view is sparklines then $view->addTranslation...`? It be a bit of work but seems there's no other way?

[2020-11-30 19:51] tsteur commented on #8404
This is possible with our GDPR tool where you can delete visits and the reports will then be re-archived. Closing this issue as we've used it before for exactly this reason and it works well.

[2020-11-30 19:51] #8404 closed

[2020-12-01 00:05] peterbo commented on #15850
In PHP7x, error_get_last() doesn't work, when we override the error handler manually (set_error_handler), that catches the error/behaves differently. Probably a generic message would be best!

[2020-12-01 02:41] robles-design opened #16842 "Segments not working on preprocessed files since Matomo 4.0.0"
Hi, I'm using Matomo 4.0.3. Since version 4.0.0 segments doesn't work on preprocessed files (see screenshot). If I switch to Visitors Log they are displayed correctly. Maybe it's the same issue like [#16832](https://github.com/matomo-org/matomo/issues/16832).

Thanks for the great work. I love the new performance metrics.

![Matomo-Screenshot_20201201_031414](https://user-images.githubusercontent.

[2020-12-01 02:44] tsteur commented on #16842
Thanks for the report @robles-design I think @diosmosis is already working on this one

[2020-12-01 07:14] ghost commented on #14192
It's really annoying that there are no answers to this. My site has always had ssl from the beginning and this is my fourth time installing matomo because of this issue. I've even connected it to cloudflare to make sure https is working and included the ; Uncomment line below if you use CloudFlare
proxy_client_headers[] = HTTP_CF_CONNECTING_IP
in the config and it still doesn't fix it. Console sho

[2020-12-01 08:01] S-n-d commented on #16810
I did all the things stated in the FAQ, so option 1 and option 2. Still get the same error. Any thoughts? I have 0 custom dimensions and my custom_var rows are all empty.

[2020-12-01 08:18] sgiehl commented on #16810
@S-n-d  would you mind sharing the table information of your `log_visit` table?   (you can simply use a query like `DESCRIBE log_visit;`)

[2020-12-01 09:30] S-n-d commented on #16810
@sgiehl thanks for you reply. I've restored a file and DB backup (from yesterday) because I couldn't get into the dashboard anymore. Seems I've gotten myself in a heap of other issues now. I'll get back to this when I get my backup up and running.

[2020-12-01 11:22] Findus23 opened #16847 "The parameter ‘confirmPassword’ isn’t set in the Request"
reported in https://forum.matomo.org/t/warning-message-on-new-installation/39557/3 (futher down)

`ERROR Piwik\ExceptionHandler[2020-12-01 11:04:09 UTC] [ffda2] Uncaught exception: C:\inetpub\wwwroot\matomo\core\Common.php(535): The parameter ‘confirmPassword’ isn’t set in the Request, and a default value wasn’t provided.`
`ERROR Piwik\ExceptionHandler[2020-12-01 11:04:09 UTC] [ffda2] The paramete

[2020-12-01 11:46] sgiehl commented on #16847
I'm able to reproduce that locally. Seems the form data is actually not send with the request. Will look into it.

[2020-12-01 12:31] ThorbenOermann opened #16848 "Session Recordings Datatable broken in Matomo 4.0.x"
We cannot access our Session Recordings anymore since upgrading Matomo to 4.0.0. The datatable reports an error like "Oops… there was a problem during the request."

I was able to identify the problem by activating the logs:

[code]

So I guess the problem is related to the changes made in #15521.

Using `Piwik\Plugins\GeoIp2\LocationProvider\GeoIp2` instead of `Piwik\Plugins\UserCountry\LocationP

[2020-12-01 12:33] Findus23 commented on #16848
Hi,
Can you please make sure you are using the latest version of the session recordings plugin?

[2020-12-01 12:36] ThorbenOermann commented on #16848
We are using `v4.0.4` which should be the latest version.

[2020-12-01 13:14] FalkHe commented on #15593
Hi

i'm aware of the problematic and this solution works for me (for now). But i'm still missing the 'real' or 'right' solution for Cross-Device tracking.

Is there any?

The old behavior falsifies the Visitor-Id. The new behavior makes Cross-Device Tracking impossible. ... so what to do now?
Will there be a solution in Matomo 4?

_P.S.: Sorry, if this is not the right place for this question. But

[2020-12-01 13:25] peterbo commented on #15593
Cross device visitor recognition should work with `enable_userid_overwrites_visitorid=1`. You only have to assign a cross device user-id (e.g. customer id or anything else what is common in those two identities).

[2020-12-01 13:45] sgiehl commented on #16848
@ThorbenOermann Thanks for creating the issue. I've fixed the issue in the code. We will release a new version soon.
ping @tsteur

[2020-12-01 13:45] #16848 closed, assigned to nobody

[2020-12-01 15:06] sgiehl commented on #16847
Guess that might be an issue of `post_max_size` php ini setting being too low. The plugin has 12 MB, but the default setting has 8M. Will create a simple PR that shows an error when someone wants to upload a file that is bigger than post_max_size.
But guess that's nothing we need for 4.0.3, so moving out of the milestone for now

[2020-12-01 16:12] wlabarron commented on #13878
@tsteur Looks like the task I created a couple of days ago ran by itself, without needing the command above run manually.

[2020-12-01 17:27] Globulopolis opened #16850 "Using MAILTO in auto-archiving on Windows"
Hi!
How can I get to work it on Windows? Or it's not possible?

[2020-12-01 19:15] tsteur commented on #16850
Hi @Globulopolis could you ask this question in our forum? https://forum.matomo.org/ We don't answer general questions here as we only manage issues for Matomo core here. Thanks

[2020-12-01 19:15] #16850 closed, assigned to nobody

[2020-12-01 19:16] tsteur commented on #13878
Great, thanks for testing and confirming @wlabarron very appreciated

[2020-12-01 19:16] #13878 closed

[2020-12-01 19:22] tsteur commented on #16847
Could we in general simply check if that parameter is missing and if so, indicate that likely they need to increase `post_max_size` or install plugin through the marketplace instead of adjusting a plugin?

[2020-12-01 19:23] tsteur commented on #16847
I see there's already a PR now

[2020-12-01 20:00] HollyPony opened #16853 "Missing `setGenerationTimeMs` after upgrade to 4.x"
According to the changelog there is no mentions of this breaking change that was required following documentation of 3.x .

I can see there was some "optimization" undocumented (mainly deleted doc).

Could I have more informations about why it was deleted and how to safely do elsething ?

[2020-12-01 20:33] tsteur commented on #16853
This seems to be missing from the changelog indeed. Thanks for mentioning it @HollyPony

To fix this issue we need to mention the removal in the developer changelog.

It was removed because the generation time feature was replaced by the new performance feature in Matomo 4. You can see the more granular/detailed performance metrics now in `Behaviour -> Performance` report. There is currently no re

[2020-12-01 21:14] kghbln opened #16854 "Slow rollout makes "Search for updates" button functionless"
**Refs**
[How to force detection of available updates?](https://forum.matomo.org/t/how-to-force-detection-of-available-updates/39587)

**Setup**
Matomo 3.x and 4.x

**Issue**
The slow rollout make sure that not all users of Matomo get notifications about new versions at the same time. However it is not possible to override the slow rollout mechanism by clicking on the "Search for updates" button p

[2020-12-01 21:26] tsteur commented on #16854
Hi @kghbln the workaround be to change the release channel to the "beta" channel in the general settings as mentioned in the Matomo 4 changelog. This way you'll get the update immediately.

[2020-12-01 21:27] HollyPony commented on #16853
So, the removal is https://github.com/matomo-org/matomo/pull/15736/commits/f8dfb506dd4ea848af4de5ad06083832b10196e7 from PR https://github.com/matomo-org/matomo/pull/15736

Yes, I'm maintaining an old angularjs 1 app so ... :shrug: and to be honest I just followed the doc so I'm not sure if it's really relevant to continue using `setGenerationTimeMs` in my case. I really don't know I'm just surpri

[2020-12-01 21:30] kghbln commented on #16854
@tsteur Let me ask the other way around. What is the functionality of this button?

This is not about switching to beta or whatever, this is about checking for new versions regardless on which channel your are. Please also see the discussion I linked. I am not the only one here who thinks that there is an issue.

[2020-12-01 23:42] eenblam opened #16855 "SuperUser permission seems too broad"
Hi there - thanks for working on Matomo!

Is it possible to provide users with more specific permissions, like "add a website," without giving them the SuperUser ability to hit that shiny "NEW UPDATE: MATOMO X.Y.Z" button? For example, a web dev team might want to launch a website and add it to Matomo, but they should never need to kick off a database migration.

(This is especially unfortunate if

[2020-12-01 23:58] davidmarcus commented on #4315
@mattab Seems like this issue can be marked completed?

[2020-12-02 00:09] leaf-node opened #16856 "New index for speeding up anonymizations in large instances?"
Hi, thanks for Matomo. It's really great software : )

So I tried to anonymize past data in my site for the largest time frame (back through 2010), and that caused the site to become unresponsive, which is understandable given that we have 14M rows on one of the tables queried by that process. According to MySQL, one of the queries for that was in a process of "Sorting result" for quite a long tim

[2020-12-02 00:15] leaf-node commented on #16856
I'm using Matomo 4.0.3, and PHP 7.2.

[2020-12-02 00:56] tsteur commented on #4315
It's not completed because of continuous testing but I don't really think it's needed.

[2020-12-02 01:03] tsteur commented on #16854
@kghbln we're only using this staged release for a major version upgrade so it's only a thing like every 3 years. If someone really wants to receive the update earlier then there is a workaround with changing the release channel temporarily. In all other cases it should be fine waiting for 1-2 weeks. If you're keen on getting the security fixes etc then there is a way with changing the release cha

[2020-12-02 01:07] tsteur commented on #16855
Hi @eenblam thanks for creating this issue.

you could set the config `[General]enable_auto_update=0`. This way only a manual update will work (and after updating files manually you need to run `./console core:update` command). If you still wanted to do the update as a super user then you could temporarily set the setting to `1`.

I'll close this issue otherwise as a duplicate of https://github.co

[2020-12-02 01:07] #16855 closed, assigned to nobody

[2020-12-02 01:13] tsteur commented on #16853
As part of this issue we'll also add back the tracker method and trigger a console error that this method is now no longer working or so.

@sgiehl can you look into this tomorrow?

[2020-12-02 01:21] slawa-dev opened #16857 "Matomo 4.0.2 warns about "ExampleLogTables requires Piwik <4.0.0-b1""
Matomo version: 4.0.2

![system_check](https://user-images.githubusercontent.com/20663500/100815614-4fd85280-347f-11eb-91ef-4c1d86cfc9ad.jpg)

Related to https://github.com/matomo-org/matomo/issues/16804

[2020-12-02 02:17] tsteur commented on #16856
Thanks for letting us know about this @sudoman

Very appreciated the investigation you already did. I reckon just for this use case we likely won't add an index since the feature is rarely used but would make things slower on the tracking side of things etc. And there is already an index on `idsite, visit_last_action_time`. The problem being the `idvisit` though.

Generally it be of course faster

[2020-12-02 02:32] tsteur commented on #16857
Thanks @slawa-dev for reporting this. I'll push a fix for this.

[2020-12-02 02:47] tsteur opened #16859 "Add JS tracker methods setPagePerformanceTiming and getCustomPagePerformanceTiming to set specific values for performance metrics"
Similar to how we used to have `setGenerationTimeMs`.

We then need to document this in https://developer.matomo.org/guides/spa-tracking similar to how the other method used to be documented. Also of course need to document the JS Tracker reference etc.

We'll also need to adjust in JS tracker the logged console message in the `setGenerationTimeMs` method and mention to use this new method instead

[2020-12-02 02:48] tsteur commented on #16853
fyi created https://github.com/matomo-org/matomo/issues/16859

[2020-12-02 03:31] #16857 closed, assigned to tsteur

[2020-12-02 03:55] #16853 closed, assigned to tsteur

[2020-12-02 04:39] cy2201 opened #16861 "Upgrade 3.14.1 to 4.0.3 fails: ALTER TABLE `matomo_log_visit`"
Hi,

I tried to upgrade Matomo from 3.14.1 to 4.0.3 and it instantly failed.

Last lines of log:
[code]

Can you help me? What should I do?

[2020-12-02 04:44] cy2201 commented on #16861
![2020-12-02 05_43_45-Window](https://user-images.githubusercontent.com/33823543/100829334-640d5700-3461-11eb-8106-049f768a9ce0.png)

[2020-12-02 04:55] tsteur commented on #16861
Hi @qwertz22 we have an FAQ for this see https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-1118-row-size-too-large-the-maximum-row-size-for-the-used-table-type-not-counting-blobs-is-8126/

Hoping this helps. Let us know if it doesn't.

closing this as a duplicate of https://github.com/matomo-org/matomo/issues/16810

[2020-12-02 04:55] #16861 closed, assigned to nobody

[2020-12-02 07:46] sgiehl commented on #4315
@tsteur that would actually be quite simply to do. We only need to add the maria-db addon to the builds we want to run it with.
Should we run the all tests or the ui tests on maria db maybe?

[2020-12-02 10:43] JE4GLE opened #16862 "Error on Auro Archive"
Hello,

after updating to version 4.0.3, I receive the following error when calling my cron archive URL:

  Stack trace:
  #0 /var/www/vhosts/h149549.web219.dogado.net/httpdocs/matomo/core/CronArchive.php(400): Piwik\CronArchive->generateUrlToArchiveFromArchiveInfo(Array)
  #1 /var/www/vhosts/h149549.web219.dogado.net/httpdocs/matomo/core/CronArchive.php(373): Piwik\CronArchive->launchArchivingFor

[2020-12-02 11:42] sgiehl commented on #16862
Hi @JE4GLE Thanks for creating the issue. This might be something we need to fix in the code.

@diosmosis could you check if an additional check is needed. Seems the archiveFilter is not set in all cases maybe? Or is that maybe already included in one of the pending archiving PRs?

[2020-12-02 12:04] Bjoernsen opened #16863 "DB Update from 3.14.1 to 4.0.3 does not work"
I tried to update my Matomo instance running in a docker container.

After pulling the newest image and restarting the container, I tried to run `php /var/www/html/console core:update` within the container.

Unfortunately, I get the error message: `The error was: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'visitor_days_since_first' in 'field list'`.
Where was my mistake and what can I

[2020-12-02 12:49] sgiehl commented on #16863
@Bjoernsen Sorry to hear you have problems updating your Matomo.
That column is dropped later in the update progress normally. Do you have the full console output of the update run?

The update that failed for you, should only be executed if the column exists, so seems that was the case before.
You could try to simply execute the update again, as it should skip that step then.

[2020-12-02 13:15] Bjoernsen commented on #16863
@sgiehl I will try to rerun the update

Here is the complete log
[code]

[2020-12-02 13:17] Bjoernsen commented on #16863
@sgiehl The second update worked. Matomo is running again. Thank you! 🎆

[2020-12-02 13:33] MArhEV opened #16864 "The directory "/var/www/matomo/tmp/cache/tracker/" is not writable after Cron"
Hi! After enabling crone archiving and installing maxmind extension I have restarted my server and after that I can see only Error page in my matomo.

There is a possibility that matomo-archive has not been properly configured (no user such as nginx, i have left that entry blank) and that caused my issue.

After stopping, reloading, restarting crond, restarting and reloading nginx the error page i

[2020-12-02 13:42] narfk opened #16865 "Add new system check: Check all expected table & columns a plugin expects to exist actually exist"
with the default Tracking Code (Backend) i got this error with the new 4.0.0 Version.
In 3.14.1 this works fine.

[code]

Header
Status400
Bad Request
VersionHTTP/1.1
Transferred1.13 KB (410 B size)
Referrer Policystrict-origin-when-cross-origin

While is was inspecting matomo.js i found setRequestMethod.
So i tried this.

[code]

without any results.
Its still a POST and i got a bad request.

The

[2020-12-02 13:53] #16863 closed, assigned to nobody

[2020-12-02 14:25] sgiehl commented on #16865
I don't think that has something to do with the POST request method. Matomo tries to use `sendBeacon` if that is available, which uses POST by default.

Maybe try enabling the debugging for tracking by setting
[code]
in your config.ini.php

After that a tracking request should have debugging details as response. Maybe that helps to identify the problem.

[2020-12-02 14:33] sgiehl commented on #16864
Are you using different users for webserver and triggering the archiving cron?
What are the permissions for the directory `/var/www/matomo/tmp/cache/tracker/` after cron ran?

Note: It should always be safe to clear the tmp directory of Matomo. All files should be recreated automatically when needed.

[2020-12-02 15:05] MArhEV commented on #16864
I have tried triggering cron with user nginx, but it showed me "permission denied" during running test command. I found that one user suggested removing user name from cron command so I followed his instructons :/
Anyway:
All files and directories are 0755 with user:group nginx:nginx.
After removing files in tmp, restarting crond and nginx, cache and tracker directories are now 0750.
Error page is

[2020-12-02 15:12] sgiehl commented on #13000
Just looked through the code and if I see that correctly that was already implemented I think with #15499
@diosmosis is that correct?

[2020-12-02 17:00] psec opened #16866 "Unable to log in to matomo after 4.0.3 upgrade - Nginx/Ubuntu"
Running Nginx on Ubuntu, using the nginx config supplied here: https://github.com/matomo-org/matomo-nginx and no changes to the default matomo config.

After upgrading to 4.0.3, I am unable to log in to matomo receiving the error:

Error: Form security failed. Please reload the form and check that your cookies are enabled. If you use a proxy server, you must configure Matomo to accept the proxy he

[2020-12-02 17:00] olinox14 opened #16867 "Displaying widgets in iframes logs bruteforce attacks"
I use iframes to render some of the widgets in a website located on another server but on the same local network. Matomo's host and this website's are also subdomains of the same domain.

I added the iframes like suggested on the `index.php?module=Widgetize&action=index` page, with some little adjustments and using the token of a user who has the right to view the website:

[code]

The widgets do

[2020-12-02 18:41] Findus23 commented on #16864
Keep in mind that Matomo is not running with the nginx user, but the user your php-fpm setup runs with (e.g. `www-data`).

[2020-12-02 18:43] Findus23 commented on #16866
Hi,

Could you check if https://forum.matomo.org/t/cant-sign-in-on-my-own-servers-matomo/39537/4?u=lukas applies for you.

Some other people reported it also here:

https://forum.matomo.org/t/locked-out-of-matomo-again/39527

[2020-12-02 18:47] bittner opened #16868 "Mysqli prepare error after upgrade to v4.0.3 (Unknown column 'log_conversion.config_browser_name')"
I have just upgraded from v3.14.1 to v4.0.3 over Matomo's web interface (after being notified by email).

After automatically downloading and installing the new version Matomo reported a few "unrecognized files" and prompted me to delete them on the target system: (indentation mine)

[code]

The subsequent update of the database schema (I assume) took a little bit longer than in all the upgrades b

[2020-12-02 18:51] psec commented on #16866
The condition of "Nginx and are using multiple domains, for example (matomo.onesite.example and matomo.anothersite.example)" does not apply in our case.

I've reviewed and contributed to both of those posts before submitting this bug.

[2020-12-02 18:56] Findus23 commented on #16868
Hi,

You can delete the Example* plugins, they are no longer shipped with Matomo 4.

[2020-12-02 19:32] tsteur commented on #16868
To fix the browser column issue could you run the following SQL statement and check if it works afterwards @bittner ?

`ALTER TABLE log_conversion ADD COLUMN config_browser_name VARCHAR(40) NULL;`

If you have DB prefix configured then you might need to replace `log_conversion` with eg `piwik_log_conversion`. This should add the column and hopefully no other columns are missing. Let me know if you

[2020-12-02 19:32] #16868 closed, assigned to nobody

[2020-12-02 19:56] tsteur opened #16869 "Widget access always only works with view access not respecting new config setting"
I think https://github.com/matomo-org/matomo/blob/4.0.3/plugins/Widgetize/Controller.php#L36-L39 is not respecting the `enable_framed_allow_write_admin_token_auth` setting @diosmosis ?

It should be maybe also using https://github.com/matomo-org/matomo/blob/4.0.3/core/API/Request.php#L461 when token_auth is not empty?

Technically, I think that code is not even needed in Widgetized controller as i

[2020-12-02 19:58] tsteur commented on #16867
Hi @olinox14 which version of Matomo are you using?

I just tried tried to reproduce this with Matomo 4 and it works there for me and doesn't log any brute force records. I think I remember there was some similar issue in some specific Matomo version but this might be fixed in a recent update.

[2020-12-02 20:25] tsteur commented on #4315
@sgiehl personally I would not add yet another build job. They should be compatible with MySQL anyway and I reckon should there ever be an issue then we can still investigate that issue and fix it if needed etc. For sure lets not run UI tests on it as it's slow etc. When this becomes a priority we'd probably do integration and system tests.

[2020-12-02 20:28] kghbln commented on #16854
Thanks for your insight.

[2020-12-02 20:43] theyosh commented on #4315
For what it is worth: I would say that MariaDB is just a drop-in replacement, and should behave like normal MySQL. Therefore adding more build jobs it not that useful.

The same thing I did when I started using TokuDB in the past. They (TokuDB developers) stated that it was a drop-in replacement, which should be 100% compatible with MySQL. So I just start using TokuDB, and up till now, it still wo

[2020-12-02 20:45] tsteur commented on #4315
Great to hear re TokuDB @theyosh by any chance do you have any comparison of performance or in general compared to standard MySQL or MariaDB? And if it's just a "very happy and things run smooth and fast " comment :)

[2020-12-02 21:00] theyosh commented on #4315
I do not have any comparison. I had posted in the past in the forum about performances. But that was way back. I just did not switched back. As TokuDB is really a drop-in replacement, I use it for all my MySQL stuff. :) They stated about 4 times less space on disk (on the fly compression) and 20 times faster. I can confirm that the storage usage is about 3.5 times lower. And the speed is really fa

[2020-12-02 21:07] tsteur commented on #16865
@narfk you may want to try `_paq.push(['disableAlwaysUseSendBeacon'])` if send beacon is causing any issues.

Meanwhile I have created a PR to automatically disable send beacon when forcing `GET` request method.

The POST URL by default includes all URL parameters so if there's a redirect then the parameters don't get lost. This is to avoid basically a regression as usually all webservers support

[2020-12-02 21:10] tsteur commented on #4315
Thanks for the feedback @theyosh very appreciated.

And yes agreed . I'll close the issue for now and should it ever become an issue we can always reopen.

[2020-12-02 21:10] #4315 closed

[2020-12-02 21:47] tsteur commented on #16866
@psec not sure if you say the recent comment in the forum. Does it maybe help to clear cookies? Any chance you are accessing your Matomo with HTTP instead of HTTPS? OR maybe there is a redirect somehow to a different domain on log in?

[2020-12-02 21:48] tsteur commented on #16866
You could temporarily also try setting in the `[General]` section this config setting: `enable_trusted_host_check=0` and then try to log in again. That's in your `config/config.ini.php` file. Be great to know if that helps.

[2020-12-02 22:28] psec commented on #16866
@tsteur yes, clearing cookies and cache was the first thing that was tested. Have tried a number of edits listed in the various posts in the user forum to config.ini.php including the above without success. No, I am not trying to access over HTTP instead of HTTPS.

Guys, nothing has changed on my end except the 4.0.3 update. I had zero issues before applying this update. I do appreciate the sugges

[2020-12-02 23:15] tsteur commented on #16866
@psec we are treating it as such but we need to find out what helps/what causes it as it's not clear just yet unfortunately. If you could maybe try that other config setting that would help too. We're not understanding yet what is causing it and we can't reproduce it ourselves.

[2020-12-02 23:28] leaf-node commented on #16856
Okay, going without this index sounds fair. I do wonder if that section of the site isn't used much simply because an organization may make a decision about changing their anonymization policies once, then only convert old data that one time. That would still make it a useful feature in Matomo.

As for the details about the index itself, I don't know much about SQL indexes, but I believe that spec

[2020-12-03 00:01] #16869 closed, assigned to diosmosis

[2020-12-03 00:32] #16862 closed, assigned to diosmosis

[2020-12-03 02:13] bittner commented on #16868
Thank you, @tsteur, adding the table column fixed the issue. :1st_place_medal:

I also deleted the `Example` plugins on the file system. For now, my Matomo instance seems to work fine again.

Thanks again! :bow: :trophy:

[2020-12-03 02:18] tsteur commented on #16868
Great, glad this worked @bittner 👍

[2020-12-03 06:47] narfk commented on #16865
```_paq.push(['disableAlwaysUseSendBeacon'])``` forces a GET request. but with the same result => 400 bad request.

[code]
I got this error with in Debugmode (_Error query: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'last_idlink_va' in 'field list'). It doesn't matter if this is a GET or POST request

[code]

while I was viewing at the code, i found some references in the CustomDimensi

[2020-12-03 06:58] valmedia opened #16873 "Not showing any statistic after upgrading to 4.03 -- ./console core:archive is not working"
I checked `matomo_log_visit`.`visit_first_action_time table and it is recording entries so I think ./console core:archive is not working

INFO [2020-12-03 06:38:20] 18083  ---------------------------
INFO [2020-12-03 06:38:20] 18083  INIT
INFO [2020-12-03 06:38:20] 18083  Running Matomo 4.0.3 as Super User
INFO [2020-12-03 06:38:20] 18083  ---------------------------
INFO [2020-12-03 06:38:20] 180

[2020-12-03 07:19] sgiehl commented on #16865
@narfk Try removing the CustomDimensions plugin from `config.ini.php`. There should be an entry in the `PluginsInstalled` and `Plugins` section.
That should trigger the install of the plugin again, which should create the missing columns

[2020-12-03 07:30] narfk commented on #16865
@sgiehl This works in my Testenvironment. But There should be a dbUpdate-Script. I have a multiserver environment and this is not how it work. I cannot do this steps on every host.

[2020-12-03 07:38] sgiehl commented on #16865
Did you have the CustomDimensions plugin installed & activated before you did the update?

[2020-12-03 07:40] narfk commented on #16865
Nope. But i can remember that this plugin cames with the 4.0.0 db update script.
After Installing 4.0.0, CustomDimension was active by default.

[2020-12-03 07:41] sgiehl commented on #16873
The output should actually explain the behavior:

[code]

Seems the archiving did run shortly before, so it's skipped...

[2020-12-03 07:41] #16873 closed, assigned to nobody

[2020-12-03 07:44] sgiehl commented on #16865
Ok. That might be the reason. Seems the update might not trigger the plugin install if the plugin was not there before maybe.
Will investigate that.

[2020-12-03 07:51] narfk commented on #16865
Thanx!

[2020-12-03 08:00] valmedia commented on #16873
![matomo-report](https://user-images.githubusercontent.com/4095199/100980618-78944100-3580-11eb-9b84-078e4330b8ab.JPG)

It has not been running for close to 16 hours now. I just copy & pasted recently ran core:archive.

[2020-12-03 08:06] sgiehl commented on #16865
Just installed a 3.14.1 and did an update to 4.0.3 using the UI updater. Custom Dimensions did not exist before, but was created with the update. The plugin was installed correctly and everything looks fine afterwards.

Did you do the update in the UI or using console command?

[2020-12-03 08:08] sgiehl commented on #16873
Then there might be an error while archiving. Could you look up an older run that maybe had errors?

[2020-12-03 08:20] narfk commented on #16865
I was using the console command.

[2020-12-03 08:24] sgiehl commented on #16865
Ok. did you replace the files manually?

[2020-12-03 08:31] narfk commented on #16865
i was download the zip file with wget. but i created a new /piwik folder (and moved my configs).
the update command tooks arround 5-6 hours (the dbdump i made before was arround 50 gb).

[2020-12-03 08:34] olinox14 commented on #16867
Hi @tsteur
I'm using matomo 4.0 too, I attach a copy of the system check: [matomo_syscheck.txt](https://github.com/matomo-org/matomo/files/5634682/matomo_syscheck.txt)

I'm implementing a stats page in a [Typo3 CMS](https://typo3.org/) backend module.

I tried to give the right to view the site to anonymous user, then by using an actual user and adding its token_auth to the iframes urls, same issu

[2020-12-03 08:35] valmedia commented on #16873
Where I can find the log that contains this error?

Thanks

[2020-12-03 08:40] sgiehl commented on #16873
If you don't have logs of older archiving runs you may simply trigger it manually on command line `./console core:archive`

[2020-12-03 08:49] sgiehl commented on #16865
Ok. Will try to reproduce it that way.
Was the CustomDimensions plugin marked as installed in your old config maybe?

[2020-12-03 09:06] valmedia commented on #16873
There is no error :( with the normal cron run.

INFO [2020-12-03 09:00:01] 9742  ---------------------------
INFO [2020-12-03 09:00:01] 9742  INIT
INFO [2020-12-03 09:00:01] 9742  Running Matomo 4.0.3 as Super User
INFO [2020-12-03 09:00:01] 9742  ---------------------------
INFO [2020-12-03 09:00:01] 9742  NOTES
INFO [2020-12-03 09:00:01] 9742  - Async process archiving supported, using CliMulti.

[2020-12-03 09:31] ordilibre opened #16874 "Error during DB Update from 3.14.1 to 4.0.3"
Hi,

Because of web UI update is failling, I try to update by CLI

After a good Dry Run, the effective job is stopped with this error :

. The maximum row size for the used table type, not counting BLOBs, is 8126. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs

full trace is [MatomoUpdateError.txt](https://github.com/matomo-org/matomo/files/56350

[2020-12-03 09:40] sgiehl commented on #16874
See #16810 or our FAQ: https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-1118-row-size-too-large-the-maximum-row-size-for-the-used-table-type-not-counting-blobs-is-8126/

[2020-12-03 09:40] #16874 closed, assigned to nobody

[2020-12-03 09:45] narfk commented on #16865
No, it wasn't installed (in PluginDirectory).
Even nothing about it in the config files.

[2020-12-03 09:51] Absynth723 commented on #16672
I am having this issue on Safari Version 14.0.1 (15610.2.11.51.10, 15610) on MacOS X. There's no mod_pagespeed activated on nginx, there's nothing in the logs and the new "tracker blocking" feature in Safari claims to not have blocked any trackers on the page (which would be weird anyway, because it's 1st party js code). I have no adblocker installed, no pihole, nothing.
Everything works on Chrome

[2020-12-03 09:53] ordilibre commented on #16874
Many thanks **sgiehl**, my problem is now resolved.
Sorry for not having found the answer directly.

[2020-12-03 10:58] Findus23 commented on #16865
https://forum.matomo.org/t/error-1054-flooding-php-fpm-logs-after-upgrade-to-4-0-3/39619 seems to be having the same issue.

[2020-12-03 11:00] sgiehl commented on #16865
@narfk I'm not able to reproduce that behavior. Did a clean install of 3.14. Reused only the config file with a clean extract of 4.0.3 and ran update on console. All columns are created correctly and everything seems to work.
The only thing I could image is that Matomo somehow considered the plugin as already installed when the update tries to activate it. But not sure how that can happen (unless

[2020-12-03 12:26] sgiehl commented on #16867
I was able to reproduce that. The problem is that this widget tries to send API requests forcing a session usage, which fails widgetized. Will check if there is a easy solution

[2020-12-03 12:28] venarius commented on #16866
I had the same problem. For me the problem was that I was using two different domains to access Matomo, even though it worked perfectly before the upgrade to 4.0.3 from version 3. I fixed it by removing the second domain from my nginx configs and from the `trusted_hosts` inside `config/config.ini.php`. With that I was able to log back in.

[2020-12-03 12:33] narfk commented on #16865
@sgiehl i was checking the config files before 4.0.0. nothing about the custom dimension plugin. maybe something happend during the update. at least the workaround (remove plugin, reactive plugin) seems to work. hopefully this won't happen in the live environment.

maybe something for the the system check?

[2020-12-03 13:37] Findus23 commented on #16866
Hi @venarius,

This sounds a lot like what I described in https://forum.matomo.org/t/cant-sign-in-on-my-own-servers-matomo/39537/4?u=lukas

[2020-12-03 14:01] olinox14 opened #16876 "Dont display the links to the matomo's website in widgetized error pages when disableLink=1"
I use widgets in iframes to display matomos views on external websites, but I don't want my matomo instance's url to be shown to users. It's not a matter of security (everyone could still find this url in the source code of the page), but my users could be confused and try to follow these links.

My urls look like: `https://my-matomo-host.com/index.php?module=Widgetize&action=iframe&disableLink=1&

[2020-12-03 14:16] bst2002git opened #16877 "Call to undefined method MaxMind\Db\Reader::getWithPrefixLen()"
I'v updated to matomo 4.0.3 from 3.14.1.
The error is
Call to undefined method MaxMind\Db\Reader::getWithPrefixLen() in vendor/geoip2/geoip2/src/Database/Reader.php line 232

i think some missing dependencies or something got wrong on update, but i do not know where to look for
ore something is wrong in the autoload.php...

i don't know if this is related, but when i try in the web root of matomo

[2020-12-03 14:51] sgiehl commented on #16877
How did you do the update? Maybe reuploading the files (or at least the vendor directory) might help.

[2020-12-03 14:56] sgiehl commented on #16876
I don't think there is already something to achieve that. But makes sense to maybe disable the login and detailed errors for widgetized reports and show a generic error page instead.

Maybe that might already be possible with writing a custom plugin when hooking into the correct events...

[2020-12-03 15:01] bst2002git commented on #16877
Hello @sgiehl
i updated via the Web-Interface and then via the cli: console core:update
no errors occurred

[2020-12-03 15:37] olinox14 commented on #16876
Ok thanks, I'll take a look in that direction and post a feedback

[2020-12-03 16:08] sgiehl commented on #16877
Please try reuploading the vendor directory from the build package.
Or do you maybe have a php cache running? Maybe an old version of that file was still cached.

[2020-12-03 16:32] bst2002git commented on #16877
Hello,

i think this is the problem

php72-php-maxminddb-1.4.1-1.el6.remi.x86_64:
This optional PHP C Extension is a drop-in replacement for
MaxMind\Db\Reader.

[2020-12-03 16:48] bst2002git commented on #16877
updated to php72-php-maxminddb-1.8.0-2.el6.remi.x86_64
and works!

[2020-12-03 16:48] #16877 closed, assigned to nobody

[2020-12-03 19:40] tsteur commented on #16865
Thanks for all the troubleshooting work @narfk we'll probably not add something to the system check there for now as we'd need to put some new code into every plugin exposing what columns they expect to exist etc. I'll keep this open though for now as we might do it in the future.

[2020-12-03 19:46] tsteur commented on #16672
Hi @absynth47215 are you familiar with the browser developer tools? Could you check if any network requests fail or if there is any console message?

[2020-12-03 19:51] Starker3 opened #16879 "Hide Comparison feature on All Websites dashboard"
At the moment it looks as though the Comparison feature does not work on the All Websites dashboard.

1. When going to the All Websites dashboard through the top menu it does not show an option to do a comparison when viewing the All Websites dashboard from here.
![image](https://user-images.githubusercontent.com/20905821/101080252-6ad8cd00-360d-11eb-8ed5-c332d0ae63ba.png)

2. When going to the Al

[2020-12-03 19:53] Absynth723 commented on #16672
There is no message at all, no js error or warning, no failed request in the console. It just didn't render.

After using the "delete cache" option in Safari's developer tools, the container management page started to render, so the **notion that it is a browser cache issue seems to be right**. Interestingly enough, I had tried to force re-fetch of all resources by appending a bogus cachebuster qu

[2020-12-03 20:03] tsteur commented on #16879
It should not show up in the date picker in all websites 👍  not sure if it's the case in other places too

[2020-12-03 20:08] tsteur commented on #16672
@absynth47215 there should be a cache buster that forces the reloading. Also the force re-fetch should have worked.
![image](https://user-images.githubusercontent.com/273120/101082254-09fec400-3610-11eb-841b-6fbb8472fdfd.png). Maybe it's some webserver configuration that specific headers were sent that made it believe somehow there's no newer version (like same etag somehow or something). I suppos

[2020-12-03 20:16] Absynth723 commented on #16672
@tsteur It's a run-of-the-mill nginx with PHP-FPM, standard vhost config. The only thing that is non-standard might be this:
        `location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                expires max;
                log_not_found off;
        }`
Might be interesting to see what configuration others with the same issue are running. I expect it to be some kind of borderline case, but an in

[2020-12-03 21:16] tsteur commented on #16672
Thanks for this @zsjie I had a very quick look at the code and maybe found an issue (not sure). Created for now https://github.com/matomo-org/matomo/pull/16880 and there's a chance this will fix it in the future.

[2020-12-03 21:37] tsteur commented on #16867
@sgiehl as mentioned in the PR it should fix it for widgets but we still need to check if it affects also embedding regular controller actions as some users seem to do that

[2020-12-03 21:42] tsteur commented on #16873
Hi @valmedia we're planning to release Matomo 4.0.4 in the next 24 hours. The update might fix this issue. Let us know if that's not the case and we'll reopen and investigate further.

If you could otherwise run `./console core:archive -vvv` and send the output then I can also have a quick look already in case it becomes clear it's something else.

[2020-12-03 22:45] #16842 closed, assigned to diosmosis

[2020-12-04 03:02] valmedia commented on #16873
@tsteur

INFO [2020-12-04 03:01:13] 12868  ---------------------------
INFO [2020-12-04 03:01:13] 12868  INIT
INFO [2020-12-04 03:01:13] 12868  Running Matomo 4.0.3 as Super User
INFO [2020-12-04 03:01:13] 12868  ---------------------------
INFO [2020-12-04 03:01:13] 12868  NOTES
INFO [2020-12-04 03:01:13] 12868  - Async process archiving supported, using CliMulti.
INFO [2020-12-04 03:01:13] 12868

[2020-12-04 03:27] skylarmt commented on #16659
This is a waste of time.  There isn't anything offensive about colors.

[2020-12-04 03:38] tsteur commented on #16873
Thanks for this. It looks like there are some "hanging" invalidations maybe. Any chance you could execute this SQL query

[code]

You might need to replace `archive_invalidations` eg with `piwik_archive_invalidations` or `matomo_archive_invalidations` depending on your DB prefix.

Could you paste the returned result of the query?

[2020-12-04 04:31] valmedia commented on #16873
@tsteur Looking forward to it.

`select * from archive_invalidations where `status` != 0`

It is showing nothing.
![image](https://user-images.githubusercontent.com/4095199/101122002-696acd00-362c-11eb-9064-4abb2ef85511.png)

This is the data in the table
![image](https://user-images.githubusercontent.com/4095199/101122018-78ea1600-362c-11eb-9b82-19628758e9a6.png)

[2020-12-04 05:14] tsteur commented on #16873
Hi @valmedia it seems you maybe created a segment and there's a longer queue to be finished before other reports will be archived again. This will quite likely be fixed in 4.0.5 when we still continue to process other archives as well even when not all other ones are processed yet fyi @diosmosis

[2020-12-04 05:31] valmedia commented on #16873
@tsteur

I notice the archive is being processed but the data is not being displayed on the dashboard. The latest report I can get is only yesterday. Could this be a timezone difference causing this? My server is saving data with GMT but my display setting is set as +8.

![image](https://user-images.githubusercontent.com/4095199/101125646-b2bf1a80-3634-11eb-8b1a-ee2ce39263cc.png)

[2020-12-04 05:58] mattab commented on #9456
A method was added in https://github.com/matomo-org/matomo/pull/16696 and documented it in the checklist and security guide plus it's a public API. we'll only need to use it in the codebase eventually

[2020-12-04 08:13] sgiehl commented on #16867
I will check that now

[2020-12-04 08:23] sgiehl commented on #16867
@tsteur that is still a problem, and generates brute force entries. I'm not sure what the best solution would be.
Should we maybe revert the changes done for the widgets, but instead change the api authentication to first check if the token can be used without the session and only if that is not possible force a session usage.

Other possibility would be to change the widgetize check I've added an

[2020-12-04 11:41] wcz-txp commented on #16873
I have the same problem since yesterday and the fresh update to 4.04 doesn't bring any change, but triggering archiving by browser works.

This concerns only one site:

And
`select * from matomo_archive_invalidations where `status` != 0`
shows nothing.

![изображение](https://user-images.githubusercontent.com/2091265/101159590-4f35ec80-3636-11eb-9c0f-4b257aee3e2b.png)

[2020-12-04 11:56] Bllacky commented on #16866
Just updated to matomo 4.0.4 . I also use Nginx. Login is not longer possible. Same issue as above.

[2020-12-04 13:21] dev-101 commented on #16352
Hi @Findus23 could you please bump plugin compatibility with Matomo 4? Thanks!

edit: I see Matomo pulled updated version automatically after update, I received a warning before upgrade about compatibility and that it will be disabled after upgrade. Sorry.

[2020-12-04 14:30] Findus23 commented on #16352
Hi @dev-101,

No problem. I wasn't sure myself if I didn't just forget the plugin.

[2020-12-04 17:35] HatBeardZero opened #16884 "Page generation time not being tracked after 4.x upgrade"
I updated my instance from 3.14.0 to 4.0.4 and now page generation time is not being tracked.

Any thoughts on what could cause this?

[2020-12-04 19:30] tsteur commented on #16884
Hi @HatBeardZero we have removed this feature in Matomo 4 and replaced it with the new page performance reports see https://matomo.org/faq/how-to/how-do-i-see-page-performance-reports/ So this is expected and we're now tracking more detailed insights.

[2020-12-04 19:30] #16884 closed, assigned to nobody

[2020-12-04 19:32] HatBeardZero commented on #16884
it still shows up on the report pages though under visits overview on the dashboard, and visits->overview

[2020-12-04 19:34] tsteur commented on #16884
@HatBeardZero it still shows it so you can still view previously tracked data.

@sgiehl do we remove the column for dates after the upgrade to Matomo 4 (not too important but could avoid confusion)

[2020-12-04 23:09] eenblam commented on #16855
@tsteur Thanks, we'll give it a shot

[2020-12-05 02:03] ms502040 opened #16885 "named parameters in mysqli_stmt->bind_param"
ERROR [2020-12-01 18:52:03] 22241  Uncaught exception: ArgumentCountError: mysqli_stmt::bind_param() does not accept unknown named parameters in libs/Zend/Db/Statement/Mysqli.php:203
Stack trace:
#0 libs/Zend/Db/Statement/Mysqli.php(203): mysqli_stmt->bind_param('ssssssss', idarchive: 403, name: 'done', report: NULL, idsite: 19, date1: '2020-12-01 00:0...', date2: '2020-12-01 00:0...', period: 1,

[2020-12-05 02:51] xf- commented on #16866
@Findus23 workaround works, but why not use $_SERVER['HTTP_HOST'] as fallback?

The web has 2 domains example.com and www.example.com and everything is redirected to www. SERVER_NAME  is without www and the added trusted host won't work/fix it. I had www.example.com in trustedHosts and added example.com in a new line as well in array syntax.
The change had no impact and i still need to change the

[2020-12-05 07:30] Bllacky commented on #16866
I don't have two domains. I use Nginx with Apache. Matomo sees my hostname as `"_"` instead of its IP address as it used to do before the update to 4.0.4 from 3.14. I added "_" to trusted hosts and then I get the above message with Form security failed.

[2020-12-05 08:29] SubJunk commented on #12909
Appending `--yes` fixed it for me

[2020-12-05 13:58] kantel opened #16888 "SQLSTATE[42S22]: Column not found"
I just updated to Matomo 4.0.4 and now I got the error message: `SQLSTATE[42S22]: Column not found: 1054 Unknown column 'log_visit.config_director' in 'field list' - in plugin DevicePlugins.` on nearly all widgets. Only the visitors log works fine.

![Bildschirmfoto 2020-12-05 um 14 53 43](https://user-images.githubusercontent.com/1219909/101245011-3434ac80-370a-11eb-8da7-a516be84b318.png)

Need u

[2020-12-05 14:35] Findus23 commented on #16888
Hi,

This sounds like https://github.com/matomo-org/matomo/issues/16827

[2020-12-05 14:56] fvdm commented on #16884
@tsteur I love the new performance stats, but also like to keep the old metrics for comparison over time. Can't the old data be merged with 'Avg. page load time' ?

[2020-12-05 15:47] kantel commented on #16888
I tried a manual reinstall but the error isn't gone.

[2020-12-05 18:25] sgiehl commented on #16884
@tsteur the metric should actually be removed automatically if the sum of page generation times is 0. See https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/Actions/Columns/Metrics/AveragePageGenerationTime.php#L71-L103   Not sure if that actually work correctly.

@fvdm  Guess we could merge them. But actually they are not that good comparable in most cases.

[2020-12-05 18:27] sgiehl commented on #16888
@kantel could you check if this file exists for you:  `plugins/DevicePlugins/Columns/PluginDirector.php`

[2020-12-05 19:01] gusevmaksim opened #16889 "AbstractDeviceParser::getShortCode() must be of the type string, int returned"
Matomo 4.0.4
./console queuedtracking:process
vendor/matomo/device-detector/Parser/Device/AbstractDeviceParser.php line 924:
Return value of DeviceDetector\Parser\Device\AbstractDeviceParser::getShortCode() must be of the type string, int returned

version to
return (string) \array_search($brand, self::$deviceBrands) ?: '';

[2020-12-05 19:45] kantel commented on #16888
Solved! Matomo 4.0.4 is working again. See [here](http://blog.schockwellenreiter.de/2020/12/2020120502.html).

[2020-12-05 19:45] #16888 closed, assigned to nobody

[2020-12-06 00:33] BigBerny commented on #16873
Same problem here with 4.0.4. It worked with 4.0.0 (or at least a beta version). Luckily triggering archiving by browser works for us too.

[2020-12-06 11:35] manuelw99 opened #16891 "Error 500 after new Update"
Hi,

after updating my matomo I got an error 500.

In my PHP-Logs, i get this message: (i clicked on the button update matomo on the page "Database Upgrade Required"

Access level to Piwik\Plugins\ExampleTracker\Columns\ExampleActionDimension::configureSegments() must be public (as in class Piwik\Columns\Dimension)
matomo/plugins/ExampleTracker/Columns/ExampleActionDimension.php Row 57

[2020-12-06 11:42] Findus23 commented on #16891
Hi,

Can you please try deleting the ExampleTracker plugin (plugins/ExampleTracker). It is no longer included in Matomo 4 and it seems like the old files are breaking the remaining new code.

[2020-12-06 11:46] #16891 closed, assigned to nobody

[2020-12-06 12:31] gusevmaksim commented on #16842
Matomo 4.0.4 Same problem. Some senments are still processed, but most of them are not.

[2020-12-06 17:02] diosmosis commented on #16873
@wcz-txp @BigBerny for one of the segments that isn't being archived, could you post a screenshot of the segment editor for that segment? (Or select the row of the segment in the `segment` table and post the result?)

[2020-12-06 17:09] diosmosis commented on #16842
@gusevmaksim for one of the segments that isn't being archived, would you be able to post a screenshot of the segment editor w/ that segment loaded? (Or select the row of the segment in the segment table and post the result?)

[2020-12-06 19:04] tsteur commented on #16889
@sgiehl any idea how this might happen? Looking at the code it should always return a string.

I see it might return `false` though if the brand is not found. It seems technically that method is not even in use anymore. @gusevmaksim how did you upgrade to Matomo 4? Using the one click UI upgrade or by any chance did you upgrade manually?

[2020-12-06 19:14] sgiehl commented on #16889
@tsteur That should be already [fixed in device detector](https://github.com/matomo-org/device-detector/commit/a5f8efa6d0e8bad81832072a1b3ab9edb0b87e71). Seems it wasn't included in the last release. It happens when a device is detected that has a brand with a short code that only contains numbers like the brand `8848`. Will release a new version of Device Detector tomorrow and update it in Matomo

[2020-12-06 19:30] tsteur commented on #16867
@sgiehl ideally we avoid this if any possible as it should be better to exactly check a value against a session vs token etc. I'd need to think a bit more but if really needed we could do it.

What about: If the actual URL includes token but no force_session_api then we don't set the `force_session_api`? If no token is included or `force_session_api=1` in url then we do send force_session_api. Wou

[2020-12-06 19:40] pedrosanchezpernia commented on #16864
Same error after updating to version version 4.0.4

[2020-12-06 19:46] tsteur commented on #16864
@pedrosanchezpernia did you update the files manually for the matomo 4 upgrade? AS mentioned in previous comment you might need to run some `chown` command or so to make sure the webserver has write access for these files.

[2020-12-06 19:49] tsteur commented on #16885
Hi @ms502040
are you using Matomo On-Premise or Matomo for WordPress?

Could you maybe try to upgrade to Matomo 4.0.4 and see if it's fixed there maybe?

[2020-12-06 20:02] pedrosanchezpernia commented on #16864
@tsteur yup, on console first `php /var/www/matomo/console core:update`
 then `chown -R root:root /var/www/matomo` as stated in the update message

[2020-12-06 20:23] tricsusz commented on #16866
I had the same problem on my dev machine. I use the following url: https://mylocalurl:8080

When I try to login, I get the same error msg, because the $origins array doesn't contain mylocalurl
 with port 8080
![Screenshot from 2020-12-06 21-20-11](https://user-images.githubusercontent.com/16030732/101291421-df2b9000-3808-11eb-8e1a-e88555a55761.png)

[2020-12-06 20:30] tsteur opened #16892 "Check only invalidations created for correct sites"
We have a customer that reports this:

![image](https://user-images.githubusercontent.com/273120/101291558-94446380-386e-11eb-9bdc-f3ae629621a2.png)

Here is the backtrace:

[code]

@diosmosis can you check if it's possible that we invalidate entries for a segment for a wrong site somehow?

That's using 4.0.4

[2020-12-06 20:35] tsteur commented on #16885
I just ran the invalidator and dataccess/model tests with mysqli and PHP8 and they worked for me. The only thing that I noticed was warnings in the tests itself like

[code]

Possible though there's an issue somewhere else

[2020-12-06 20:41] tsteur commented on #16866
that logic was already updated in 3.14.0

@psec or someone else reading this to do you remember from what Matomo version you updated to Matomo 4?

[2020-12-06 20:42] tsteur commented on #16866
Any chance you have the `[General]force_ssl=1` setting enabled in `config/config.ini.php`?

[2020-12-06 20:44] xf- commented on #16866
I was on the latest stable v3 before i updated. No suggested updates the last weeks.

This was always enabled
[code]

[2020-12-06 20:50] tsteur commented on #16885
I can reproduce this now:

[code]

[2020-12-06 20:53] sgiehl commented on #16885
@tsteur should we maybe run the AllTests on PHP 8 instead of 7.4 to be sure everything works with PHP 8  in the future?

[2020-12-06 20:55] tsteur commented on #16885
@sgiehl depends. how much work is it?

[2020-12-06 21:05] gusevmaksim commented on #16889
I updated in one click from version 3

[2020-12-06 21:17] gusevmaksim commented on #16842
![Segments](https://user-images.githubusercontent.com/15378153/101292599-96340580-3821-11eb-9a25-340cf4641948.png)

[2020-12-06 21:19] gusevmaksim commented on #16842
![Segments](https://user-images.githubusercontent.com/15378153/101292644-e1e6af00-3821-11eb-8737-b2ed6ba7028e.png)

[2020-12-06 21:25] wcz-txp commented on #16873
I'm not sure, what you mean.
This is a screenshot of matomo_archive_invalidations

![изображение](https://user-images.githubusercontent.com/2091265/101292725-fcb52580-3819-11eb-8dfc-e818365e21c1.png)

And this is this segment 5156

![изображение](https://user-images.githubusercontent.com/2091265/101292754-22422f00-381a-11eb-8a1d-f926aa1385b4.png)

[2020-12-06 21:25] sgiehl commented on #16885
might be easy. will check tomorrow if it's enough to simply replace the version number in .travis.yml or if it would require some additional work

[2020-12-06 21:25] BigBerny commented on #16873
It affects all segments here including "All visits"

[2020-12-06 21:47] diosmosis commented on #16873
@wcz-txp there is a table called `segment` which has information on each segment. I don't need this, though I think I see the problem in your case. I'll reply when I put a fix up.

@BigBerny So then nothing is being archived for you? I assumed you were having segment archiving trouble like other users. Can you post the output of running the command, `./console -vvv core:archive`?

[2020-12-06 22:08] tsteur commented on #16866
So far one thing I noticed while debugging:

I used `example.com:8123`

Then because the host is not valid in Url::getHost it falls back to SERVER_ADDR because the host is not valid (config file only includes trusted_host=8123). As a result it redirects me to `SERVER_ADDR` which is 127.0.0.1.

This is one change because there's usually maybe in Matomo 3 the port would have bit ignored maybe. It mi

[2020-12-06 23:11] paladox opened #16894 ""Remember Me" not keeping users logged in"
We use Matomo 4 (this issue also happened with matomo 3). Matomo keeps logging me out after a while even though I clicked "remember me". We use the LoginLdap plugin though (as we use Ldap for logins).

Could this be fixed please?

[2020-12-06 23:13] tsteur commented on #16866
@tricsusz could you check in your `config/config.ini.php` file what is configured as `trusted_hosts`? It can also be checked in the UI by going to Admin -> General Settings. There should be a section for trusted  hosts. Is the host with the port whitelisted there?

[2020-12-06 23:31] #16885 closed, assigned to nobody

[2020-12-07 03:53] robles-design commented on #16842
For me it works now with 4.0.4 but I had some similar problems after upgrading. Not all segments were created and I got a lot of server errors like Error: SQLSTATE[HY000]: General error: 2006 MySQL server has gone away. After logging in via SSH and running the commands manually all segments were created and the server errors are gone. Maybe this helps.

[2020-12-07 06:24] gusevmaksim commented on #16842
I updated the database via the console, there were no errors in the process.

[2020-12-07 06:26] diosmosis commented on #16842
@gusevmaksim I think this might be fixed by one of the existing PRs, but just to be certain, can you run `php console core:archive -vvv` and provide the output? (you can post it here or if you'd like you can email benaka@innocraft.com)

[2020-12-07 08:23] BigBerny commented on #16873
Will do. But as I said, it works when I trigger archiving with the browser. So I don't know if archiving itself is the problem.

I changed a segment from pre-processed to not-pro-processed a few days ago. Not sure if this is when it stopped working.

[2020-12-07 08:31] mattab commented on #9601
it's been working fine for a few years already.

[2020-12-07 08:31] #9601 closed

[2020-12-07 08:33] mattab commented on #7006
Great work @CheweyZ - Thanks for your help getting this resolved!

[2020-12-07 08:33] #7006 closed

[2020-12-07 08:33] mattab commented on #9616
Great work @CheweyZ - Thanks for your help getting this resolved!

[2020-12-07 08:33] #9616 closed

[2020-12-07 09:19] manusfreedom opened #16898 "Matomo 4.0.4 & PHP-FPM 7.4"
On our setup (Ubuntu 20.04, PHP-FPM 7.4 from PPA) the last version 4.0.4  completely crash the PHP on some call of the dashboard:
[code]
So to workaround we set PHP-FPM 7.2 (EOF last month) instead of 7.4, we hope it's a temporary workaround.

[2020-12-07 09:23] Findus23 commented on #16898
Hi,

No matter how much things go wrong in Matomo, no PHP code should be able to crash php-fpm itself without a bug in php-fpm.

Make sure you are using the latest version of 7.4 and all your php modules are up to date and compatible.

[2020-12-07 09:28] manusfreedom commented on #16898
Our instance is fully updated and we use PHP 7.4.13.
We have others application on this 7.4.13 without problem and it's first time we encounter this type of crash.
And we didn't have problem with Matomo 4.0.3.

[2020-12-07 09:57] manusfreedom commented on #16898
Sorry, we close issue seem a GeoIP problem in PHP 7.4 on our side.

[2020-12-07 09:57] #16898 closed, assigned to nobody

[2020-12-07 11:13] gusevmaksim commented on #16842
Similar logs for each segment
`DEBUG [2020-12-07 06:55:18] 2111952  No next invalidated archive.
DEBUG [2020-12-07 06:55:18] 2111952  Starting archiving for ?module=API&method=CoreAdminHome.archiveReports&idSite=8&period=day&date=2020-12-07&format=json&segment=pageUrl%3D%3Dhttps%25253A%25252F%25252Fname.com%25252Fn%25252Fn2&trigger=archivephp
DEBUG [2020-12-07 06:55:18] 2111952  Starting archiving

[2020-12-07 15:21] #16889 closed, assigned to sgiehl

[2020-12-07 15:33] pedrosanchezpernia commented on #16864
Ok, fixed with `chown -R www-data:www-data /var/www/matomo` , however I'm not sure if all matomo directory should by own by www-data
[reference](https://matomo.org/faq/how-to/faq_35627/)

[2020-12-07 18:13] diosmosis commented on #16873
@BigBerny

Yes, this is definitely the cause, also the cause of @wcz-txp's experience. This will be fixed by this change: https://github.com/matomo-org/matomo/pull/16895 which will be in the next release.

[2020-12-07 21:07] tsteur opened #16904 "Matomo tracker select queries can get slow when most visits have same visitorId"
Say you are tracking apps and you send a userId with every tracking request. Then by default the userId will be used to generate the visitorId. It may also be a problem if for every action a new visit is forced.

Queries like this will become very slow:

[code]

Explain:
![image](https://user-images.githubusercontent.com/273120/101405243-ad1b4a80-393c-11eb-97ee-62df41a2cfa8.png)

or
![image](https

[2020-12-07 21:09] tsteur commented on #16904
The where clause with one year back might not really help though because most visits might be within one year (seeing such a DB here). Maybe a config setting forcing look back to be only few days might be better but this would need a config. Ideally it was fixed automatically.

[2020-12-07 21:13] tsteur commented on #16864
Closing this one. Setting correct permissions should fix this issue 👍

@pedrosanchezpernia you could always set only specific files to `www-data` like `/tmp` and `/matomo.js` and `/config` and /misc/user` and `piwik.js` for example

[2020-12-07 21:13] #16864 closed, assigned to nobody

[2020-12-07 22:04] #16867 closed, assigned to sgiehl

[2020-12-07 23:17] tsteur commented on #16904
A solution might be otherwise a custom index.

[2020-12-08 01:15] izgzhen commented on #9549
quick hack: if you mount the volume like `matomo:/var/www/html`, you can probably modify `/var/lib/docker/volumes/matomo/_data/config/config.ini.php` directly and restarted the container.

[2020-12-08 02:04] #16892 closed, assigned to diosmosis

[2020-12-08 02:32] tsteur opened #16905 "Prefix all our vendor libs"
see https://github.com/matomo-org/wp-matomo/issues/233

Need to do this in a major release. Should investigate if we can make this work. We'd only prefix vendor libraries. Could use `Matomo` or `MatomoLib` or something as prefix. eg `Di\object` then becomes `Matomo\Di\object`. To have it actually useful in development too we would put this into the composer json similar to https://github.com/googl

[2020-12-08 06:41] ThorbenOermann opened #16906 "Device Detection broken"
When I came to the office this morning I noticed that our matomo instance is no longer tracking requests. Which is pretty strange since everything was fine yesterday. I looked into the logs and found that the DeviceDetector had started to cause an error:

[code]

The strange thing is, that we did not changed or updated anything. The error came up by the middle of the night and from there on was pr

[2020-12-08 06:54] tuxmaster5000 opened #16907 "Installation broken with "Uncaught exception: Call to undefined method DI\ContainerBuilder::setDefinitionCache()" after update to 4.0.4"
After update to 4.0.4 from 3.14.1

On the console only this will logged:
[code]
The only solution was an rollback to 3.14.1

[2020-12-08 07:48] sgiehl commented on #16907
Maybe not all files were updated correctly. That method should actually not be called any longer.
How did you perform the update?

[2020-12-08 07:50] sgiehl commented on #16906
@ThorbenOermann  that should only occur for single visits with devices of specific brands.
But that issue was already fixed and shouldn't occur any longer with Matomo 4.0.5, which will be released soon. (A beta should already be available)

[2020-12-08 07:50] #16906 closed, assigned to nobody

[2020-12-08 07:58] mattab commented on #16361
For now added a simple sentence to the FAQ under `How is the visitor fingerprint processed?`

but maybe this can be improved or clarified a bit (see issue description above)

[2020-12-08 09:50] ThorbenOermann commented on #16906
Thanks for your reply.

That does make sence. But when using queued tracking, as we do, this single visit blocks the whole queue from being processed.

We will wait for 4.0.5 an activate the plugin again.

[2020-12-08 13:40] tuxmaster5000 commented on #16907
I simple click on the update button of the ui. After some time the message will shown in the browser.

[2020-12-08 15:47] sgiehl commented on #16866
This should hopefully be fixed with #16899. Please let us know if the issue still occurs in Matomo 4.0.5

[2020-12-08 19:40] tsteur opened #16912 "Performance plugin causes select query in request processor"
Can we maybe first check if there are any request parameters in the request processor before executing a select on every non page view tracking request? This would reduce CPU and load on a DB server quite a bit and make tracking faster.

[2020-12-08 20:22] #16912 closed, assigned to nobody

[2020-12-08 20:28] 1000i100 opened #16914 "MultiSites as matomo homepage"
I'm hosting somes website on my server and i've added a matomo to track activity on them ( parsing server log with https://github.com/matomo-org/matomo-log-analytics ).

When i log-in matomo, i would like to go to the Multi Sites dashboard rather than the first i've added in matomo webui.
And the same when i clic on the top left logo to go back to home, i would like to go to the Multi Sites dashbo

[2020-12-08 20:32] 1000i100 opened #16915 "Select segments on all websites dashboard"
I have many small website on my matomo server.
I would like to manage common segments server wide rather than site by site.
Ideally, i would like to choose segments on MultiSites dashboard to compare with more usefull data.

Is it possible yet ?

[2020-12-08 20:33] tsteur commented on #16914
@1000i100 you can change this in personal settings:

![image](https://user-images.githubusercontent.com/273120/101538141-88d57180-3a01-11eb-90da-97e64cf91245.png)
 It also works re the logo.

[2020-12-08 20:33] #16914 closed, assigned to nobody

[2020-12-08 20:36] tsteur commented on #16915
Hi @1000i100

be great to ask questions whether something is possible in our forum: https://forum.matomo.org/

As we handle only bug reports and feature requests here. We usually don't reply to questions here. Thanks for understanding.

I'll keep the issue open though and rename it as it's not possible to select a segment on the all websites dashboard. You can in segment settings choose a segment

[2020-12-08 20:37] tsteur commented on #16915
regarding this feature: The segment selector would here only show segments that have been created for all websites. It would need to show a message that segments for specific sites aren't shown here.

[2020-12-08 20:45] 1000i100 commented on #16914
Thank-you !!!

[2020-12-08 22:55] rctgamer3 commented on #14518
Bump

[2020-12-09 00:28] diosmosis opened #16916 "Possible archiving query optimization"
In `Model::getArchiveIdAndVisits()` we look for an archive ID and some related metrics in the archive. The query used can potentially scan thousands or more rows just to look for a couple bits of data, due mostly to us not being able to add name to the index.

A possible solution would be to use an approach similar to the log_action table and add a hash column that hashes together the `idsite, per

[2020-12-09 03:00] tsteur commented on #16907
Hi @tuxmaster5000 unfortunately, it looks like during the update one file was not correctly updated. Maybe the filesystem had some glitch. Any chance you could try the manual 3 step update see https://matomo.org/docs/update/#the-manual-three-step-update ?

It be important to backup the file `config/config.ini.php`. Sorry about that I know it's a pain and takes extra time.

[2020-12-09 04:08] diosmosis commented on #16842
@gusevmaksim can you check and see if version 4.0.5 works for you?

[2020-12-09 07:40] gusevmaksim commented on #16842
The problem remained in place. The segments are empty. In the logs by segments, everything goes well, no errors are visible
`INFO [2020-12-09 07:03:01] 3164099  Archived website id 25, period = day, date = 2020-12-09, segment = 'pageUrl%3D%40https%25253A%25252F%25252Fname.com%25252Fn', 127 visits found. Time elapsed: 1.481s`

[2020-12-09 08:06] tuxmaster5000 commented on #16907
It will fails also, but with another error.
After overwriting the files, matomo don't start anymore.
![Screenshot_2020-12-09 Matomo › Error](https://user-images.githubusercontent.com/837503/101602076-d18b2b80-39fd-11eb-9d11-67e0a2b6954e.png)

[2020-12-09 08:06] tuxmaster5000 commented on #16907
We use the ldap plugin.

[2020-12-09 08:13] sgiehl commented on #16907
Did you replace the ldap plugin with the new version as well?

[2020-12-09 09:26] mattab opened #16918 "Call to a member function getDateStart() on boolean DataTable/Renderer/Rss.php"
Error seen on Cloud:

 Error: {"message":"Call to a member function getDateStart() on boolean","file":"\/var\/www\/html\/core\/DataTable\/Renderer\/Rss.php","line":62,"request_id":"1e86d","backtrace":" on \/var\/www\/html\/core\/DataTable\/Renderer\/Rss.php(62)\n#0 \/var\/www\/html\/core\/DataTable\/Renderer\/Rss.php(34): Piwik\\DataTable\\Renderer\\Rss->renderTable(Object(Piwik\\DataTable\\Map))\

[2020-12-09 09:40] mattab opened #16919 "Call to a member function setColumn() on boolean in plugins/Referrers/API.php"
Error on Cloud:

 Error: {"message":"Call to a member function setColumn() on boolean","file":"\/var\/www\/html\/plugins\/Referrers\/API.php","line":765,"request_id":"5d68e","backtrace":" on \/var\/www\/html\/plugins\/Referrers\/API.php(765)\n#0 \/var\/www\/html\/plugins\/Referrers\/API.php(770): Piwik\\Plugins\\Referrers\\API->mergeNumericArchives(Object(Piwik\\DataTable), Object(Piwik\\DataTable

[2020-12-09 09:53] Daten-David commented on #16361
Hello! I have been invited by @mattab to post my thoughts on consent requirements here.

I am afraid that all the great data protection conscious work by Matomo does primarily address GDPR. Under GDPR Matomo is pretty perfect and usage of Matomo without consent should be legal as a legitimate interest – under certain circumstances even if cookies are activated.

But – as most of us will be aware –

[2020-12-09 10:40] sgiehl commented on #16918
Seems that error occurs when filtering for a `pageUrl` that does not occur in one of the returned periods. Will check if it's easy to fix

[2020-12-09 10:54] sgiehl commented on #16919
Not able to reproduce locally, but guess that only happens under certain circumstances. Found a potential fix.

[2020-12-09 11:26] Findus23 opened #16922 "replace generate:plugin warning with pointer to guide"
When someone wants to create a plugin and is using the Matomo version from matomo.zip, they probably get an error like this one:

This is expected as Matomo doesn't ship with the Example* plugins anymore, but doesn't help the person struggling with this.

Instead, the `generate:plugin` should detect if those plugins are missing and if not point people towards https://developer.matomo.org/guides/ge

[2020-12-09 12:00] adrianlambertz opened #16924 "Tons of "General error: 1205" in php error log while importing via the python log importer"
It seems that there is a problem with the user_token_auth while importing log via the python logimporter.
While looking at the SQL processlist I see several UPDATE queries for the matomo_user_token_auth table, they run the entire time until the timeout:

`[09-Dec-2020 09:28:08 UTC] Error in Matomo (tracker): Error query: SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarti

[2020-12-09 12:02] wcz-txp commented on #16873
Problem solved after updating to 4.05. Thanks a lot!

[2020-12-09 12:19] sgiehl commented on #16924
Thanks for creating the issue @adrianlambertz
Maybe we should avoid updating the usage timestamp for token_auths when doing log imports

[2020-12-09 12:34] adrianlambertz commented on #16924
Is there a quick fix to disable the timestamp update while using the python log import? Because we are heavily relying on this script - we import logs from about 100 sites every night.

Because of this issue the imported statistics arent complete or missing.

[2020-12-09 12:43] sgiehl commented on #16924
You can change the code so the update isn't done here:
https://github.com/matomo-org/matomo/blob/115527353a9e75e01aa4d263408956ae45403bea/plugins/UsersManager/Model.php#L387-L395

[2020-12-09 12:51] adrianlambertz commented on #16924
Perfect thanks, temporarily commenting out the updateTokenAuthTable function seems to work. I'll try to report tomorrow morning after the import of all sites.

[2020-12-09 12:55] peterbo commented on #16884
It's probably still included in the graph selectors or will the list of selectable metrics also get filtered then? In general (sorry for hijacking this issue), it'd be great to have the avg. page load time also as a graph plottable metric as a successor of the avg. page generation time.

[2020-12-09 14:28] nkfilis opened #16927 "After updating to 4.0.5, plugin file VisitsByDaysSinceLastVisit.php is not deleted"
After upgrading from 3.5.x to 4.0.5 today, the `console queuedtracking:process` died with this error:
[code]
It seems, the plugin was updated, but an old file wasn't deleted:
[code]

At least, after moving the file elsewhere, everything went thru fine. Maybe an issue with the plugin update?

I'm not 100% sure, which version I was upgrading from, but I see this in the terminal buffer: `Matomo datab

[2020-12-09 14:33] nkfilis opened #16928 "core:convert-to-utf8mb4 disables tracking"
As per the documentation https://matomo.org/docs/update/#the-manual-three-step-update, it's possible to update matomo and run the database migrations without disabling tracking.
However, running `core:convert-to-utf8mb4` disables tracking completely, runs the utf8mb4 migrations and enables tracking again.
Maybe there could be a switch for those who want to continue tracking thru the Queued Trackin

[2020-12-09 14:41] sgiehl commented on #16927
@tsteur Seems we are having similar issues with various removed dimensions. Do you think it would maybe make sense to have some kind of dimension integrity checker, that holds a list of dimensions that should have been removed through an update and would remove it from the list of used dimensions if it's still there, so it can't make any problems?

[2020-12-09 14:44] sgiehl commented on #16928
@nkfilis the command should have an option `--keep-tracking` to achieve that.

[2020-12-09 14:44] #16928 closed, assigned to nobody

[2020-12-09 16:12] sgiehl commented on #16927
@tsteur created a simple draft on this branch: https://github.com/matomo-org/matomo/compare/removedimensions.
Guess might be useful as it seems to happen for wordpress plugin as well. See https://github.com/matomo-org/wp-matomo/issues/393
Other option might be to clean up the options table, so the columns are actually not listed there anymore. But that would trigger the updater to add them again i

[2020-12-09 17:05] Laul0 opened #16929 "Cannot upgrade to Matomo 4.0.5"
I'm using the Docker image. After upgrade the image to the latest version and upgrade my container, this one does not up anymore... I can not access to the bash neither.

Seriously, I will stop to upgrade my instance because each time I have this kind of surprise:

[code]

After the first reboot, I had permissions issues, so I tried to overwrite the plugins folder `chmod -R 777 /bitnami/matomo/plu

[2020-12-09 17:25] Findus23 commented on #16929
Hi,

The Bitnami Matomo docker images are not maintained by the Matomo team and completly unrelated from Matomo (apart of course from the fact that they contain the Matomo software):
If you encounter issues with them, I'd recommend you to report them to the bitnami team so they can fix it:
https://github.com/bitnami/bitnami-docker-matomo/

[2020-12-09 17:42] L3on1d commented on #16924
Hi @adrianlambertz

Have you managed to solve this problem? If yes could please share your change?

Thanks!

[2020-12-09 17:45] adrianlambertz commented on #16924
See [this pull request from @sqiehl](https://github.com/matomo-org/matomo/pull/16925/commits/b1922d9d9f59329998fb18b0e22e5f7b02eab540)

[2020-12-09 18:18] #16929 closed, assigned to nobody

[2020-12-09 18:18] L3on1d commented on #16924
@adrianlambertz thanks, I have updated code according to @sgiehl pull request, but problem still exists, very poor import speed.

[2020-12-09 18:52] tsteur commented on #16927
@sgiehl sounds good. We maybe also want to document somewhere (or have a test if possible) to add future removed dimensions to that list

[2020-12-09 18:57] tsteur commented on #16924
Hi @L3on1d are there also other queries causing these errors maybe?

Is the Provider plugin enabled maybe?

[2020-12-09 18:58] Bllacky commented on #16866
I can confirm that after manually adding your changes to my files and using the following settings in config.ini.php:
`
assume_secure_protocol=0
host_validation_use_server_name = 0
enable_trusted_host_check=0
`
I was able to login.

[2020-12-09 18:58] tsteur commented on #16873
Great to hear @wcz-txp cheers @diosmosis

[2020-12-09 19:00] tsteur commented on #16922
BTW maybe some other thought... those commands require development mode to be enabled anyway. So maybe when development mode is enabled, we could call the method whether Matomo is installed through git (`SettingsPiwik::isGitDeployment`) and if not, throw an error mentioning "development mode can be only enabled when installed through git"

[2020-12-09 19:02] tsteur commented on #16866
Hi @Bllacky can you also log in when `enable_trusted_host_check=1` I reckon this should be expected to work by now. Unless you had it already disabled before the Matomo 4 update?

[2020-12-09 19:07] Findus23 commented on #16922
Makes sense, I am just not sure at the moment if there isn't some reason why someone would want to enable development temporarily in production.

[2020-12-09 19:08] L3on1d commented on #16924
Provider plugin is disabled. I'm just started another log import, if these errors will appear again, I will update you. Anyway speed is very slow.

[2020-12-09 19:11] Bllacky commented on #16866
I did the manual merge so I could log in and do the update to matomo 4.0.5 from the matomo.
Now I am on Matomo 4.0.5.
I tried with enable_trusted_host_check=1 and it works with it as well.

[2020-12-09 19:14] tsteur commented on #16922
@Findus23 there shouldn't be (did a very quick check) and if there is a reason then we would maybe need to change something or add another check like we do here: https://github.com/matomo-org/matomo/blob/4.0.5/core/FrontController.php#L641-L647

This be an easy fix and could also fix other issues and make development more like what it's meant to be used from I guess.

[2020-12-09 19:15] tsteur commented on #16866
Great, thanks for testing and confirming @Bllacky

[2020-12-09 19:24] Bllacky commented on #16866
No problem! It's the least I could do given all your hard work on this.

[2020-12-09 20:15] L3on1d commented on #16924
@tsteur yes you are right, this error:

_"PHP message: Error in Matomo (tracker): Error query: SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction In query: UPDATE mtm_log_visit SET profilable = ?, visitor_seconds_since_order = ?, visit_exit_idaction_url = ?,  visit_total_actions = visit_total_actions + 1 ,  visit_total_interactions = vis

[2020-12-09 21:47] mattab commented on #16361
fyi: JavaScript tracking does not mean gaining access to the device info: in particular if you use Matomo in cookie-less mode, then the JS code will not access nor create the tracking cookies at all.

[2020-12-09 22:48] Daten-David commented on #16361
Dear @mattab, please do not refer to cookies. Cookies are legally irrelevant. Cookies are not mentioned in any law I am aware of. To focus on cookies does not answer the legal questions.

How does JS code gain any information on technical aspects of my device (e.g. screen size) without access to my device? As far as I know most information collected by JS code is not automatically sent to analytic

[2020-12-09 23:36] xf- commented on #16866
@tsteur works without the extra line in vhost- fixed for me

[2020-12-10 00:17] psec commented on #16866
I am able to log in now after updating to 4.0.5. Appreciate your attention to this issue! I will close this bug.

[2020-12-10 00:17] #16866 closed, assigned to nobody

[2020-12-10 01:34] #16919 closed, assigned to sgiehl

[2020-12-10 01:39] tsteur commented on #16924
What's your log import command parameters?

In `config/config.ini.php` you could also try setting this as a test:

[code]

Might not help but worth a try. Otherwise you could also try and play around with different settings to see if that helps.

[2020-12-10 01:45] diosmosis commented on #16842
@gusevmaksim In this case I think it may not be related to the archiving changes... can you try requesting the API directly for those requests, eg, sending requests:

[code]

And for this specific segment, can you load it in matomo and see what the `segment` query parameter is?

[2020-12-10 02:02] #16879 closed, assigned to sgiehl

[2020-12-10 02:03] #15850 closed

[2020-12-10 02:18] #13818 closed

[2020-12-10 02:20] #16082 closed

[2020-12-10 02:22] #16801 closed

[2020-12-10 03:11] psec opened #16931 "import_logs.py instructs to use --force-all-periods but core:archive says that switch DNE"
Output from import_logs.py:

<pre>Processing your log data
------------------------

    In order for your logs to be processed by Matomo, you may need to run the following command:
     ./console core:archive --force-all-websites --force-all-periods=315576000 --force-date-last-n=1000 --url='URL'</pre>

Corresponding console output:

<pre>ERROR [2020-12-10 03:09:40] 5554  Uncaught exception: /var/

[2020-12-10 03:12] Starker3 commented on #16857
Looks like this issue is still occuring:
_I've upgraded to Matomo 4.0.3 and now I see this message "The plugin ExampleLogTables could not be loaded as it has missing dependencies: ExampleLogTables requires Piwik <4.0.0-b1. Please contact your Matomo administrator."._
and:
_I've updated to the latest version which is 4.0.4 and still the message appear._

[2020-12-10 03:16] tsteur commented on #16857
Maybe the update script was not executed. The user can still remove the plugins manually from the filesystem. They are in the `plugins` directory.

[2020-12-10 05:47] tuxmaster5000 commented on #16907
No, must I do this manual?

[2020-12-10 06:18] tuxmaster5000 commented on #16907
So after update it by using the zip file for the matomo itself and for the ldap plug, the updater starts.
But than I ran into an sql problem:

But this have I fixed with:
https://mariadb.com/kb/en/troubleshooting-row-size-too-large-errors-with-innodb/

After that I can login again and update rest if the plug ins.
But I have never seen this problem before on any of my matomo installations.

[2020-12-10 06:54] L3on1d commented on #16924
At the moment, I use this command:

python3.9 /path/to/misc/log-analytics/import_logs.py --url=https://mymatomourl --idsite=6 --recorders=8 --enable-bots --recorder-max-payload-size=400 /path/to/logs

*UPD*

I have tried import with _bulk_requests_use_transaction = 0_ - same results.

Thank you.

[2020-12-10 07:19] L3on1d commented on #16924
I found another thing which can be directly related to speed problems, according to monitoring, after upgrade to Matomo 4 log import start consuming more CPU and load average increased x3 times. :(

Before upgrade:

![image](https://user-images.githubusercontent.com/11537656/101734308-bdf8c700-3ac8-11eb-9077-b624a9569ae4.png)

After upgrade:

![image](https://user-images.githubusercontent.com/1153

[2020-12-10 07:24] slawa-dev commented on #16857
After the update you get the warning once. When I checked on the plugins, they were removed properly.

[2020-12-10 07:47] sgiehl commented on #16931
Thanks for creating the issue. Seems we need to adjust the command that is suggested to run

[2020-12-10 10:20] adrianlambertz commented on #16924
This night our import worked smoothly like a charm. No SQL Timeouts and all statistics/logs are correctly imported. Thank you @sgiehl

EDIT:
But it seems that it was much slower than before the update. This night it took 02:18 hours to import (but i have to say: with 4 recorders instead of 8).
The last import on version 3 took only 23 Minutes with 8 recorders.

I changed the amount of recorders to

[2020-12-10 11:35] gusevmaksim commented on #16842
1.
`
<result>
<error message="These reports have no data, because the Segment you requested (syntax) has not yet been processed by the system. Data for this Segment should become available in a few hours when processing completes. (If it does not, there may be a problem.) Please note that you can test whether your segment will work without having to wait for it to be processed by using the Live.ge

[2020-12-10 13:41] paladox opened #16933 "After updating to matomo 4, visitors seems to have gone down"
I'm not sure if this is because of better tracking under matomo 4 or a bug/issue. See below photo (you can tell when we deploy matomo 4)

<img width="431" alt="Screenshot 2020-12-10 at 13 37 44" src="https://user-images.githubusercontent.com/5727000/101779226-e4305e00-3aec-11eb-949c-73513fb74fd4.png">

We did disable cookies being created with `disableCookies` in the js code (though this was done

[2020-12-10 14:30] paladox commented on #16933
Looking at "Visits in Real-time", it doesn't seem to be showing frequent visits like it used to be, which could be an indication that tracking is broken or something?

"Thursday, December 10, - 13:53:54 (46 min 21s)" is an entry I see.

[2020-12-10 14:57] paladox commented on #16933
Oh! I'm seeing 204s

[code]

I didn't see 204s in access log from before we upgraded

[2020-12-10 15:11] paladox commented on #16933
forcing it use GET isn't fixing it either.

[2020-12-10 15:13] paladox commented on #16933
Disabling Queued Tracker seems to have got "Visits in Real-time" working again.

[2020-12-10 21:53] nicwortel opened #16935 "Version 4 can break websites with a Content Security Policy"
I noticed a drop of visitors on my website and a sudden spike of [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) reports after upgrading to Matomo 4.

It seems like the `sendBeacon` call instead of the old tracking method is the culprit. If I'm not mistaken, the previous tracker loaded an image (which had to be whitelisted in the CSP with `img-src`) whereas the `sendBeacon` method nee

[2020-12-10 21:54] nicwortel commented on #16933
Do you use a Content Security Policy? Could this be caused by #16935?

[2020-12-10 22:31] paladox commented on #16933
Yeh, we use a CSP. Though the thing is after disabling Queued tracker, it started tracking again.

[2020-12-10 22:33] diosmosis commented on #16842
@gusevmaksim thanks, this narrows the problem down, I should be able to find a fix.

[2020-12-11 00:19] diosmosis commented on #13000
@sgiehl I don't think so, if a segment is set to processed in real time and `browser_archiving_disabled_enforce = 1`, then core:archive shouldn't launch it. Would be easy to change though, I think the change would be in SegmentArchiving.

[2020-12-11 01:20] tsteur commented on #16907
Great, glad this works now @tuxmaster5000

Maybe there was some glitch in the filesystem during the update. We do try to update the files multiple times if needed but somehow it still didn't update this file correctly. Sorry about that. I'm glad you otherwise got things sorted now. I'll close this issue for now but feel free to comment in there's still something left to look at. Thanks for this.

[2020-12-11 01:20] #16907 closed, assigned to nobody

[2020-12-11 05:09] diosmosis commented on #16832
@kochtopf this seems to work for me on 4.0.5, can you check and see if it works for you?

[2020-12-11 07:46] adrianlambertz commented on #16924
Yes, tonight it took 1:38 hour to complete the import with 8 recorders. It's much slower than before the update.

[2020-12-11 10:54] kochtopf commented on #16832
looking good. Thank you for fixing.

[2020-12-11 10:54] #16832 closed, assigned to diosmosis

[2020-12-11 11:17] juliemoynat commented on #16933
Hi,

I have the same problem with my visitors. Moreover, the average generation time has fallen down to zero.

I've updated my CSP rules but nothing has changed. What is "Queued tracker"? How did you disabled it? I'm not sure that I have this option activated but I don't know where to find it.

[2020-12-11 11:31] habakuk007 opened #16937 "Uncaught exception: Date.php: The date '1970-01-01' is a date before first website was online."
Hello,

since the update to  4.0.5 I get these error message from cron (and also in the web ui):

The version I had before the update was probably 4.0.3 and it worked for several years now.

I use this instance of matomo not for the tracking of software usage, not for websites.

Matomo-Version: 4.0.5
MySQL-Version: 10.3.25-MariaDB
PHP-Version: 7.4.13

Any ideas?

Regards!
   Stefan

[2020-12-11 13:47] sgiehl commented on #16933
@juliemoynat  the average generation time metric was dropped in Matomo 4. There won't we any new values tracked for it. You can have a look at the Page Performance metrics instead, they should be more valuable.

[2020-12-11 16:17] eric215 opened #16938 "File Integrity Issues after Upgrade"
After each of the last few upgrades I receive various File Integrity Errors.   After the latest upgrade to 5.0.4 I received the messages below.

I DO delete these files and directories after upgrading, but various files/directories appear on the next upgrade.

Either these are added by Matomo and should be marked as "OK" or they should NOT be added during the upgrade process

`Directories were fou

[2020-12-11 20:27] sgiehl commented on #16938
@eric215  With every release files might be removed as they are not used any longer. Normally the update process should remove the files automatically. In some cases that might not work correctly for various reasons (like permissions). In that case those files will be reported in the integrity report. It is safe to simply remove those files.

[2020-12-11 21:04] davidplewa opened #16939 "Campaign metrics are in some widgets too low"
In "acquisition" > "all channels" metrics show up correctly. I.e. "facette2020beitrag" sums up to 2.688 visits from Dec 1st - Dec 10th.

BUT:  In "acquisition" > "campaigns" all metrics show up too low. I.e. "facette2020beitrag" sums up to 36 visits from Dec 1st - Dec 10th.
If you click here on the green icon (translation from german you be s.th. like "open line development"), then the values in t

[2020-12-12 15:58] paladox commented on #16933
Seems like the visitor count is well too low even though I disabled queued tracking:

<img width="418" alt="Screenshot 2020-12-12 at 15 58 13" src="https://user-images.githubusercontent.com/5727000/101988655-d9afc900-3c92-11eb-89a5-6ad571fb2092.png">

[2020-12-12 16:23] paladox commented on #16933
@sgiehl would you have any idea why? Is it due to improved tracking if you don't allow cookies? E.g we have https://github.com/miraheze/MatomoAnalytics/blob/master/includes/MatomoAnalyticsHooks.php#L73

[2020-12-13 00:15] JE4GLE opened #16942 "Enable tracking performance and browser plugins without pageview (offer ability to force a specific page view ID in JS tracker)"
Hello,

I use a combination of the HTTP Tracking API with PHP and the JavaScript Tracker. The PHP side tracks page views, ECommerce and other events, so that every page view and transaction is reported and not lost by users blocking the JavaScript tracker. In addition to the PHP side, the JavaScript tracker tracks the rest, like content tracking. This has the disadvantage that page views are not t

[2020-12-13 01:01] angristan commented on #16863
I had the same issue, running the migration again (`console core:update`) fixed it.

[2020-12-13 12:32] L3on1d commented on #16924
@adrianlambertz have you checked your server load during import?

[2020-12-13 17:31] ghost opened #16944 "Unable to login to Matomo since the last update and unable to update to Matomo version 4.0.5"
Hi there,

since the last Matomo update 4.0.4. I am not able to login into my account because of this warning:
<img width="1436" alt="Bildschirmfoto 2020-12-13 um 18 20 39" src="https://user-images.githubusercontent.com/75946336/102018861-3cc35d80-3d70-11eb-9d4c-fc99f3a61b07.png">

I am not able to reject the warning by clicking on the link as suggested in the warning message. I am administrator b

[2020-12-13 19:50] tsteur commented on #16942
Hi @JE4GLE

for page performance metrics this might be already the case if you track for example an event on the page. Then Matomo would currently attribute this to the page view. However, this can only work if you track a page view ID server side. The problem is that you can't really know what page view ID to send because it's randomised in JavaScript tracker. So a method to force a specific page

[2020-12-13 19:57] #16233 closed

[2020-12-13 20:00] tsteur commented on #16938
@eric215 Matomo should for example not create `libs/bower_components` during a Matomo 4 release. Have you maybe removed that directly before, then updated and it was showing the same directory to delete again?

[2020-12-13 20:17] tsteur commented on #16933
We have been using here queued tracking with Matomo 4 without any issues for many sites and different Matomo installations. I also looked through the code but can't see anything that could cause issues right now.

Do you get any requests into the queue? Can you run `queuedtracking:process` with the `-vvv` option in case it shows some errors or so?

[2020-12-13 22:14] JE4GLE commented on #16942
Thank you @tsteur

So I would call this method `setPageView` with my pageview ID in my PHP Tracker and the next event I send using the JavaScript tracker would automatically attach Performance Metrics data to the next event?
Wouldn't it be possible to just send a page view again using JS and because of the same pageview ID it wouldn't track 2 page views? This way, you would have a future-proof way

[2020-12-14 00:11] tsteur commented on #16942
Exactly.

I'm not 100% sure but I would very much expect in this case it would record two page views then. In this case you could also simply only track page views through JS? But that wouldn't help I guess when some requests are blocked. It be something to think about though 👍  The problem is it would need a new `SELECT` DB query on every tracking request to make this work and this can add again

[2020-12-14 00:21] tsteur commented on #16937
@diosmosis do you have maybe any idea?

[2020-12-14 00:25] tsteur commented on #16935
Thanks for noticing this @nicwortel

Because Matomo might still fallback to other ways when send beacon is not requested I suppose we need to add this. On https://matomo.org/faq/general/faq_20904/ we have below example. Wondering how you adjusted it? I suppose we still need `img-src` etc as a fallback (although maybe browsers that don't support send beacon also maybe don't support CSP but might be

[2020-12-14 00:27] tsteur commented on #16933
Do I see this right that it means we can close this issue in queued tracking? https://github.com/matomo-org/plugin-QueuedTracking/issues/143

Maybe it is related to the CSP. Have you tried adjusting it already?

[2020-12-14 01:15] diosmosis commented on #16937
Looks like something is doing `new Date(2)`, which seems rather strange. Only thing I can think of is a timestamp in the archive table being off or having to deal w/ some other strange data.

@habakuk007 could you run the command with `-vvv` (ie, `./console core:archive -vvv`) and post the result?

[2020-12-14 02:40] #16712 closed

[2020-12-14 02:51] mattab commented on #16931
btw it would be great to check across the whole codebase, as well as on the website (i've tried removing it from a few places on the site already but maybe more are left)

[2020-12-14 03:05] tsteur commented on #16944
@alew3d as a workaround you could as suggested in the screen disable the trusted host config temporarily until you upgraded to 4.0.5. Can you not access the file system to make this change? It may be required in order to make it work again.

Alternatively, the 3 step manual update might work but I suppose if you can't change a config, then you also can't update the files itself: https://matomo.org

[2020-12-14 03:10] Kkwong-wisdomir opened #16945 "Non-English characters are not able to display in the report"
Hi @Richard Stark

Some text sections are not displayed properly in the reports. Especially, the non-English characters are not able to display in the report. Kindly advise how to solve it.
We are currently using Matomo 3.5.1.

[431_20201214.pdf](https://github.com/matomo-org/matomo/files/5686233/431_20201214.pdf)
![ESR matomo](https://user-images.githubusercontent.com/75768179/102036073-e5b79a00-

[2020-12-14 06:56] diosmosis commented on #16842
@gusevmaksim I was able to reproduce the issue and found a fix that worked for me here: https://github.com/matomo-org/matomo/pull/16947 . Would you be able to apply this fix, run `core:archive` and see if you see a change?

[2020-12-14 07:10] adrianlambertz commented on #16924
Yes, nothing unusual. Same load as before.

[2020-12-14 07:38] gusevmaksim commented on #16842
Yes, the segments started working after the fix

[2020-12-14 07:55] Flaburgan opened #16948 "Other installation options?"
Hello, I'd like to install Matomo on my server but I am surprised to see only a tutorial asking me to install Php, Mysql etc by hand as in the past. Isn't there any snap package, or flatpack, or docker image, or anything?

[2020-12-14 08:25] sgiehl commented on #16948
There's an official docker image (https://github.com/matomo-org/docker) and some third parties are offering some other stuff as well.

[2020-12-14 08:25] #16948 closed, assigned to nobody

[2020-12-14 09:02] habakuk007 commented on #16937
Hello @diosmosis,

thanks for your answer!

If I run `./console core:archive -vvv` I still get the error `Uncaught exception: Date.php(160): The date '1970-01-01' is a date before first website was online.` (see
[output.txt](https://github.com/matomo-org/matomo/files/5687618/output.txt)

Trace:

 () at /var/www/virtual/u/html/core/Date.php:160
 Piwik\Date::factory() at /var/www/virtual/u/html/core

[2020-12-14 09:32] sgiehl commented on #13000
Isn't that what this code should do:
https://github.com/matomo-org/matomo/blob/85e665e70d9fd38acda2c70767d25b800dc97a45/core/CronArchive/SegmentArchiving.php#L318-L321

[2020-12-14 10:25] AAudusseau opened #16949 "Matomo 4 doesn't merge not logged visits when a user logs-in"
Hi everyone, I would like to track some events from the server side, and before Matomo I was unable to do it because of this issue : https://github.com/matomo-org/matomo/issues/15593

Now the problem is gone, but the behavior describe [here](https://fr.matomo.org/docs/user-id/#how-requests-with-a-user-id-are-tracked) is not true anymore. Visit when the user was not logged are not merged anymore af

[2020-12-14 12:51] ghost commented on #16944
@tsteur Thank you for your support.
I am unfortunately not able (yet) to make any changes in the system and do not know where to access the file system. Do you have a hint?
We are running our website on IONOS. Is this the place where I can access the file system?

[2020-12-14 19:50] tsteur opened #16953 "Privacy manager JS tracker writable check uses wrong file"
See https://github.com/matomo-org/matomo/blob/4.0.5/plugins/PrivacyManager/Controller.php#L189 where it uses hard coded the path to `/matomo.js`. However, the path may be changed through DI like this:

[code]

To get the correct path it might be better to use something like

[code]

[2020-12-14 21:41] tsteur commented on #16945
Hi @Kkwong-wisdomir

Have a look at https://matomo.org/faq/how-to-install/faq_142/ which should fix this problem.

If this doesn't fix the issue, you might need to upgrade to Matomo 4 and migrating your database to UTF8MB4 see https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/

Hope this helps @Kkwong-wisdomir

[2020-12-14 21:41] #16945 closed, assigned to nobody

[2020-12-14 21:57] tsteur commented on #16949
Hi @AAudusseau

you can get the previous behaviour as it was under Matomo 3 by setting the following config in your `config/config.ini.php`:

[code]

I've also tweaked the guide slightly to mention this

[2020-12-14 21:57] #16949 closed, assigned to nobody

[2020-12-14 21:58] tsteur commented on #16944
@alew3d yes, that's the place where you can access the file system very likely. Hope this helps. If you still have problems with that it might be good asking your hoster IONOS for information on how to edit the file.

[2020-12-14 21:58] #16944 closed, assigned to nobody

[2020-12-14 23:20] #16427 closed

[2020-12-14 23:36] diosmosis commented on #13000
Yes, which means this has been implemented for quite a while. Tested locally and it works as @tsteur describes, so I'll close this for now.

[2020-12-14 23:36] #13000 closed

[2020-12-15 00:13] tsteur opened #16955 "Provide more documentation on some archiving behaviour"
@diosmosis just looking at some DB performance insights where a lot of new options are showing up in the top queries.

Then looked where they are used and wasn't really understanding what they do and whether they even need to be cached in an option.

* What does the last invalidation time do in https://github.com/matomo-org/matomo/blob/4.x-dev/core/CronArchive.php#L1026-L1035 ? I see it's used in

[2020-12-15 00:57] #14968 closed

[2020-12-15 01:41] rhughes8469 opened #16956 "Referrers.getAll doesn't return search engines"
When sending an API request to Referrers.getAll, the results returned include: Websites, Social Networks, Campaigns, "no referrer", & Keyword/Search Engines

I'm trying to display a list of referrers from the data that is returned.
For websites and social networks I can display the "URL" as the referrer.
For campaigns I can display the campaign "Label" as the referrer.
For no referrer I can displa

[2020-12-15 02:21] diosmosis commented on #16937
@habakuk007 this should be fixed by https://github.com/matomo-org/matomo/pull/16957, would you be able to confirm? It seems that you have a visit with a timestamp of 2 (2 seconds past the posix epoch).

[2020-12-15 04:55] mattab commented on #16948
See also https://matomo.org/faq/how-to-install/faq_108/

[2020-12-15 06:48] gusevmaksim commented on #16842
But now there is a problem with recalculating segments, the information on the page https://matomo.org/faq/how-to/faq_155/ does not help. Dropping tables piwik_archive_numeric_2020_12 and piwik_archive_blob_2020_12 also. The general statistics are recalculated normally, and the segments are only for today and yesterday.

[2020-12-15 07:02] diosmosis commented on #16842
@gusevmaksim can you try running the `core:invalidate-report-data` command? Something like:

[code]

then run `core:archive` again? (Note: invalidations cascade upwards, so invalidating days automatically invalidates weeks/months/years).

[2020-12-15 07:11] gusevmaksim commented on #16842
I tried running ./console core: invalidate-report-data --dates = didn't help. The segments are recalculated only for today and yesterday

[2020-12-15 08:57] sgiehl commented on #16956
If `Referrers.getAll` doesn't include the data you require, you might need to use other API methods maybe. e.g. you can simply use `Referrers.getSearchEngines` to get a list of search engines that referred visits to your site.

[2020-12-15 08:57] #16956 closed, assigned to nobody

[2020-12-15 09:01] AAudusseau commented on #16949
Hi @tsteur,

Thanks for your answer. I saw this option, but unfortunately I use a cloud-hosted instance so I can't change the configuration myself and I suppose it is enabled by default. I think I need the Matomo 3 behavior and force the visitorId from the server side.

About your changes in the guide, the part "When a visitor connects to your website and is not logged-in (User ID is not set)" is

[2020-12-15 09:14] #14390 closed

[2020-12-15 09:48] sgiehl commented on #16949
Thanks for that hint. Will create a PR to change that 👍

[2020-12-15 10:25] hahayidu opened #16959 "Database upgrade row size error on table piwik_log_visit"
Hi,

When upgrade to > Matomo database will be upgraded from version 3.14.1 to the new version 4.0.5.

I've seen an error in error log [mariadb]

It is look like no problem with any visit record or reporting. core:update also successfully finished.

I'am not database expert but also I run following command for check db

It's show all table OK

[code]
My version is not affected following bug.

http

[2020-12-15 10:33] hahayidu commented on #16546
I can confirm that. This issue happened also for my environment.

Version transition: Matomo database will be upgraded from version 3.14.1 to the new version 4.0.5.

Problem:

Solution:

[2020-12-15 12:50] Pthakur17 opened #16961 "No data has been recorded yet, get set up below in Matomo Dashboard for Sharepoint 2013 site"
I implemented the Matomo to my Sharepoint 2013 site using the 3rd option given in the link []( https://matomo.org/faq/how-to-install/faq_19424/  ) But I don't see any data in Matomo Dashboard for mysite.
Following the below step :
a) Get the tracking code for your website
log in to Matomo (Piwik) with your admin or Super User account
click on your username in the top-right menu, and click Settings

[2020-12-15 13:33] rhughes8469 commented on #16956
I’m not sure why this would not be considered a bug.

I know I can use getSearchEngines to get search engine referrers. That’s not the issue.

If I’m trying to pull a list of the top 20 referrers by # of page views, I assume using getAll would return with the actual referrers in order. Keywords are not referrers. The search engine that referred the traffic is.

How would one get the actual referre

[2020-12-15 13:47] sgiehl commented on #16956
It's just how the method is supposed to work. The report this API method is used for actually also says it in it's description: "This report shows all your Referrers in one unified report, listing all Websites, Search keywords and Campaigns used by your visitors to find your website."

Guess that's how I would try to achieve that. Unless you don't want to write a simple plugin that uses Matomo int

[2020-12-15 14:19] rhughes8469 commented on #16956
Thanks Stefan. I really do appreciate your responses. I would try the plugin route, but my MySQL skills would surely result in a much slower API request that making two and resorting! 😃

[2020-12-15 14:30] ghost opened #16962 "File Integrity: Core Plugin: Provider"
I have installed a fresh copy downloaded and unzipped directly from your server to the server using ssh.
The Core plugin Provider was installed direct from marketplace.
System check now shows the following error:

`File size mismatch: /home/eajglobal-net/matomo/plugins/Provider/Provider.php (expected length: 3479, found: 4328)
Missing file: /home/eajglobal-net/matomo/plugins/Provider/screenshots/R

[2020-12-15 15:23] scarlet959 opened #16963 "archive_blob & archive_numeric tables are showing up from 2014_01 though Matomo is configured 2 months back."
The "archive_blob" & "archive_numeric" tables associated with Matomo Wordpress Plugin are showing up from 2014_01 though it is configured 2 months back for the website [https://kochi2ladakh.com/](https://kochi2ladakh.com/)

archive_blob : 47 tables found in the DB
archive_numeric : 47 tables found in the DB

Matomo plugin version:  4.0.4

[2020-12-15 15:26] sgiehl commented on #16963
I guess the tables might be created when someone requests reports for a day in the past. Is there any data in the tables?

[2020-12-15 16:06] scarlet959 commented on #16963
almost all tables before 2-3 months are less than 100kb in size

[2020-12-15 17:14] robles-design opened #16964 "GeoIP location not working correctly since Matomo 4.0.0"
I used the HTTP server modul on a hosted server until Matomo 4.0.0. After upgrading to 4.0.0 that doesn't work anymore and I installed the DBIP City Lite database. In the administration settings my location Siegen is recognized correctly (see screenshot), but if I go to Visitors > Cities there are no new entries for Siegen. I have tested it and the city shows up in the real time logs as Frankfurt

[2020-12-15 18:16] wedi opened #16965 "Add imprint URL to Template.pageFooter"
Hi,

would you accept a pull request that extends on PR https://github.com/matomo-org/matomo/pull/13219 to add an Imprint URL to `Template.pageFooter` and settings?

Reasoning: Most sites I know of have distinct pages for data privacy policy, terms & conditions and the imprint and right now there is no way to link an imprint which is required by some German law.
The issue this PR was created from

[2020-12-15 19:20] tsteur commented on #16965
Hi @wedi yes we would accept such a PR 👍   I can't really think of anything special to consider here. It would basically work like the privacy policy URL etc.

[2020-12-15 20:53] habakuk007 commented on #16937
Hello @diosmosis,

I applied the changes from #16957 to the Loader.php on my server and now it works again.

Thanks!

[2020-12-15 22:00] #16937 closed, assigned to diosmosis

[2020-12-16 01:15] tsteur commented on #16963
It's possible that something in Matomo creates these tables like that it tries to archive a few years back or so. Is there any particular problem with having these tables @scarlet959 ?

[2020-12-16 01:18] tsteur commented on #16962
@EntrepreneurAJ1 this is indeed an error. Sorry about that. Currently, it's not needed to install the provider plugin from the marketplace just yet as we're shipping it with Matomo core as a transition for a few months and then it will be updated through the marketplace. The error should go away with the next update. Apart from this we won't be changing anything for now as the error will be automa

[2020-12-16 01:18] #16962 closed, assigned to nobody

[2020-12-16 01:38] tsteur commented on #16961
Hi @Pthakur17 do you mind asking this question in our forum https://forum.matomo.org/ ? Or if you are a support plan customer asking our support about this (see https://matomo.org/support-plans/ )?

We generally don't answer questions or troubleshooting requests here but only handle bug reports and feature requests.

I suppose generally you refer to this guide? https://matomo.org/faq/how-to-instal

[2020-12-16 01:39] #16961 closed, assigned to nobody

[2020-12-16 01:40] tsteur commented on #16949
Just FYI if you're using Matomo Cloud then we can change this for you.

@mattab @peterbo  I copied into the guide the original docs that were there before changing the behaviour in Matomo 3.13 or so. Do you know what is expected here or how it works? I think the code is likely right but the docs aren't correct.

[2020-12-16 01:42] #16924 closed, assigned to nobody

[2020-12-16 01:45] tsteur commented on #16959
Hi @hahayidu https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-1118-row-size-too-large-the-maximum-row-size-for-the-used-table-type-not-counting-blobs-is-8126/ should help 👍  Let us know if that's not the case and we'll be happy to reopen.

[2020-12-16 01:45] #16959 closed, assigned to nobody

[2020-12-16 07:00] diosmosis commented on #16842
@gusevmaksim can you post the command you used for `core:invalidate-report-data`? Specifically the segment. It has to be the value of the `segment=` param in the URL, urldecoded once. (So if the segment parameter is `pageUrl%3D@%25252C`, the command line argument would be `pageUrl=@%252C`.)

[2020-12-16 07:25] gusevmaksim commented on #16842
./console core:invalidate-report-data --dates=2020-12-04,2020-12-12 Without specifying segments and other parameters. I also tried to delete talits from the database with report archives piwik_archive_numeric_2020_12 и piwik_archive_blob_2020_12. General statistics are recalculated, segments are not.

[2020-12-16 07:52] diosmosis commented on #16842
@gusevmaksim this isn't something I can reproduce, and it's not something I can debug without the command or core:archive output. Would you be able to provide this information by email? Or could you create a new segment that does not have sensitive information, but has one character from the original segment that would be encoded (ie, '/' or ',') and then provide the command + outputs?

[2020-12-16 08:29] gusevmaksim commented on #16842
I just noticed that the segment, the name of which consists only of the numbers "404", was recalculated normally.

[2020-12-16 08:33] sgiehl commented on #16964
I think this might actually the same as https://github.com/matomo-org/matomo/issues/16714#issuecomment-728144047
@robles-design could you check if the city is in the list without a region name maybe?

[2020-12-16 08:43] gusevmaksim commented on #16842
`console core:invalidate-report-data --dates=2020-12-12,2020-12-12 --sites=8 --segment=pageUrl%3D%40https%253A%252F%252Fname.com%252Fn
Invalidating day periods in 2020-12-12,2020-12-12 [segment = pageUrl=@https%3A%2F%2Fname.com%2Fn]...
Invalidating week periods in 2020-12-12,2020-12-12 [segment = pageUrl=@https%3A%2F%2Fname.com%2Fn]...
Invalidating month periods in 2020-12-12,2020-12-12 [segment =

[2020-12-16 08:51] gusevmaksim commented on #16842
This segment is recalculated normally
![404](https://user-images.githubusercontent.com/15378153/102326096-03b80280-3f95-11eb-92eb-4f7b210074a1.png)

[2020-12-16 10:19] tassoman commented on #11221
Just a note to say I'm in exact situation in a 3.13.0 installation

[2020-12-16 10:27] sgiehl commented on #11221
@tassoman you mean an update wasn't executed when updating to 4.x ? There actually shouldn't be any updates for core plugins, are there?

[2020-12-16 10:55] AAudusseau commented on #16949
Yes that would be perfect, my instance is located at https://opc.matomo.cloud Thanks!

[2020-12-16 10:58] wedi commented on #16965
I have created pull request #16966 after some copy'n'pasting. Unfortunately, I was not able to run the tests. I put an hour into it but did not get it to work.

In case you are interested, I followed this writeup: https://developer.matomo.org/guides/getting-started-part-1

Setting up Matomo was quick and smooth. Just a little 🤔-moment when [a screenshot did not match up with the text](https://deve

[2020-12-16 11:02] peterbo commented on #16949
#

This should be how it works when it is enabled (userID overwrites visitorID). @AAudusseau what is exactly happening, when you're trying the use case?

Can be quite different, if you do those requests Server-to-Server, because the server doesn't use a cookie for recognition, after you don't pass the UserID anymore with the request.

[2020-12-16 13:48] AAudusseau commented on #16949
Right now when the `enable_userid_overwrites_visitorid` option is enabled, when the visitor logs-in the existing previous visits (login page for instance) are not re-used, so the result is one user, **2 visits**, one unique visitor.

![image](https://user-images.githubusercontent.com/4435464/102356299-543b5a00-3fad-11eb-8340-d1557bd9785e.png)

In red the login page visit (no userID set), and in gr

[2020-12-16 14:53] robles-design commented on #16964
Yes the city is in the list without a region name, but only 3 times since Matomo 4.x.x. That must be more. And why is it displayed in the admin menu correctly (see screenshot in my first post) but counted as a wrong city (Frankfurt am Main) in the visitor log? Frankfurt am Main gets more counts than they really have and Siegen gets less in that case. And I think this will happen to many more citie

[2020-12-16 15:02] sgiehl commented on #16964
@robles-design As you might have seen in the linked comment. Db-IP doesn't report region ISO codes in the free version, so we are trying to map the names to iso codes. But as your screenshot show DB-IP reports the name in english, so it can't be mapped to the ISO code, as the official ISO name is in German.
But the main difference is the GeoIP database you are using. DB-IP and Maxmind are having d

[2020-12-16 18:52] tsteur commented on #16949
Hi @AAudusseau we'll be happy to make that change. Could you contact support@matomo.cloud for this change? Just so we can verify that you are the owner of that account.

[2020-12-16 19:42] diosmosis commented on #16842
@gusevmaksim can you try w/ a `--segment=` value of `pageUrl=@https%253A%252F%252Fname.com%252Fn`

[2020-12-16 19:49] gusevmaksim commented on #16842
`
console core:invalidate-report-data --dates=2020-12-11,2020-12-11 --sites=8 --segment=pageUrl=@https%253A%252F%252Fname.com%252Fn
Invalidating day periods in 2020-12-11,2020-12-11 [segment = pageUrl=@https%3A%2F%2Fname.com%2Fn]...
Invalidating week periods in 2020-12-11,2020-12-11 [segment = pageUrl=@https%3A%2F%2Fname.com%2Fn]...
Invalidating month periods in 2020-12-11,2020-12-11 [segment = pa

[2020-12-16 20:12] diosmosis commented on #16842
@gusevmaksim did you run `console core:archive` afterwards? If not, can you? EDIT: Or you can wait & let the cron run as normal.

[2020-12-17 02:59] robles-design commented on #16964
@sgiehl I understand that it can't be mapped to the ISO code. What I don't understand is why my visit from the city Siegen (reported by the location test in the admin panel) is shown as a visit from the city Frankfurt am Main in the dashboard and visitors log. If it can't be mapped it shouldn't be counted as a wrong city in my opinion.

I found a solution for my case. As I mentioned I used the ser

[2020-12-17 03:00] #16964 closed, assigned to nobody

[2020-12-17 04:21] diosmosis commented on #16955
Added an answer to the first question here: https://github.com/matomo-org/developer-documentation/pull/402/files#diff-89a35a798a82b03c6fd7dbc734fb0494f586e285c2cb55e3785d50b350061d21R131

[2020-12-17 04:23] diosmosis commented on #16955
It is, but this is done for the entire process and core:archive runs for a long time. The cache entry has a ttl if you look at where it's set: https://github.com/matomo-org/matomo/blob/4.x-dev/core/CronArchive.php#L1042

I'm not entirely sure where to document this.

[2020-12-17 05:10] diosmosis commented on #16955
This was added a while ago, it was part of an optimization, but I can't remember the exact reason for it... The time it takes to run ArchiveCronTest doesn't change w/ this code there/not-there, so I'll remove it.

[2020-12-17 05:20] diosmosis commented on #16955
@tsteur noticing now the last invalidation time needs to be per site here... or perhaps we need to use the last core archive finish time now (or start time?), since for a global segment we'd need to invalidate for every site, but that wouldn't happen if we update the last invalidation time like this... actually it might if we do it per site...

[2020-12-17 06:05] gusevmaksim commented on #16842
It gave nothing

[2020-12-17 09:09] sgiehl commented on #16964
@robles-design  If you used the same IP for being tracked and the admin UI the location should actually be the same. Unless there is some kind of proxy in front of Matomo, that sends another IP or something like this.

Regarding changing the variables. That should work, as long as the data stored in those variables is actually GeoIP2 data.
Maxminds' GeoIP used FIPS codes for regions, which do not

[2020-12-17 09:55] sgiehl opened #16969 "Some goal metrics are not translatable"
Seems some of our goal metrics currently have fixed names and documentation in English and are not translatable.

See https://github.com/matomo-org/matomo/blob/7edc2c9864f1b2fe43324f247ea82564d1112319/plugins/Goals/Goals.php#L140-L178

[2020-12-17 14:18] robles-design commented on #16964
@sgiehl Yes, same IP and no proxy results in different cities in the admin UI and the Matomo stats. That's what I tried to say from the beginning. For me the HTTP server module is working now. If you need more information about DB-IP I can reactivate it for testing purposes.

[2020-12-17 16:27] sgiehl commented on #16964
@robles-design  Do you have IP Anonymisation enabled? If so did you enable using the full ip for enrichment of visitor data? If not the tracking might use the anonymized IP for Geo IP lookup...

[2020-12-17 16:39] robles-design commented on #16964
@sgiehl Yes it's enabled, but with the HTTP server module and in the admin UI it shows the right city with DP-IP also..

[2020-12-17 16:53] sgiehl commented on #16964
The server module always uses the original IP I guess, at least that is not controlled by Matomo as the data is provided by the webserver.
The admin UI is meant as demo and therefor uses the IP in request headers.

The tracking does not directly use the IP from header. If IP anonymization is enabled it might be anonymized before it's passed to the GeoIP database for detection unless using the anon

[2020-12-17 19:09] #16953 closed, assigned to sgiehl

[2020-12-17 20:50] diosmosis commented on #16842
@gusevmaksim I'm going to need more information than that to debug your issue. If you can email me, please do so.

[2020-12-17 22:23] tsteur opened #16973 "core:archive Detection of archive process already in progress does not check for instance ID"
@diosmosis I think there might be a bug which we noticed on cloud as in https://github.com/matomo-org/matomo/blob/4.x-dev/core/CliMulti/RequestParser.php#L63-L96 it’s maybe not checking the instanceId of a matomo anymore when checking if an archive is already running.

Basically, if the current instance defines an instanceId, then Matomo should only consider commands that include the instanceId.

[2020-12-17 23:43] #16973 closed, assigned to nobody

[2020-12-18 00:06] tsteur commented on #16955
@diosmosis not sure I understand https://github.com/matomo-org/developer-documentation/pull/402/files#diff-89a35a798a82b03c6fd7dbc734fb0494f586e285c2cb55e3785d50b350061d21R138-R139

wouldn't we simply invalidate back a few months (depending on config) since segment creation / update date?

Last invalidation time would be usually today or yesterday?

And in the code in https://github.com/matomo-org

[2020-12-18 00:08] Findus23 opened #16975 "support List-Unsubscribe-Header for outgoing E-Mails"
Just a very quick idea before I forget it:

It would be great if all mails sent by Matomo would contain a valid List-Unsubscribe-Header so that one could really easily unsubscribe from them once one doesn't need them anymore.

[2020-12-18 00:29] diosmosis commented on #16955
We need be able to detect when the segment is new/updated, and of course we don't want to end up invalidating in the past every time we encounter the segment.

IIRC this is what we did before the refactor.

This could be a problem. As said above, we need to do the invalidation once per create/update, and we need to know when we've done it. Currently it's "has the segment been created/changed after

[2020-12-18 02:05] tsteur commented on #16955
Now I get it 👍  can we maybe similar to custom reports etc invalidate when segment is created or updated? Maybe this way we can get rid of all this and it would always work independent of any race condition and what segments have been invalidated etc

[2020-12-18 02:19] diosmosis commented on #16955
This is a MUCH better idea. I'll make a PR.

[2020-12-18 02:24] robles-design commented on #16964
Ok, that makes sense. Maybe a hint in the admin location settings would be good for the users. Something like "DB-IP (and Maxmind?) will not work accurate if IP anonymization is enabled." I think users would benefit from that.

[2020-12-18 05:25] tsteur commented on #16955
👍

[2020-12-18 07:10] grandeljay commented on #16963
I've also noticed this. Admittedly, I'm not having any issues with this behaviour yet. I just assumed it was buggy behaviour.

[2020-12-18 08:55] juliemoynat commented on #16933
Hi,

I had the same problem of loss of visitors on my site after the installation of Matomo 4.0.3. The installation of the updates 4.0.4 then 4.0.5 did not solve the problem. My site is smaller so the drop was less spectacular. However, the visits indicated in Matomo did not correspond to the curve of the visits of my host nor to that of the Google Search Console.

I had already put a message here

[2020-12-18 10:32] eramirezprotec commented on #15890
Using:

`_paq.push(['setReferrerUrl', 'https://facebook.com']);`

before:

`_paq.push(['trackPageView', "Facebook"]);`

adds this param to the request:

`urlref: https://facebook.com`

But when I check the _id_action_url_ref_ column in the _piwik_log_link_visit_action_ table, I see the _id_ corresponding to the link specified in the request headers:

`Referer: http://localhost/diario/facebook.html

[2020-12-18 13:11] sgiehl commented on #15060
I've just checked that one. For me it seems to work as expected. Maybe that is meanwhile fixed with utf8mb4 support.

[2020-12-18 21:17] eric215 commented on #16938
Sorry for the delay in responding, personal issues kept me offline.

Yes, I am confident that I deleted `libs/bower_components` in the past, and I do recall when I deleted it this time it had a timestamp of "today". I'm sorry I didn't think at the time to take a screen shot

[2020-12-18 21:29] MichaIng opened #16978 "MySQLi syntax error "AND idarchive < ?' at line 3""
I upgraded Matomo to the first beta of 4.1.0 and sadly as well migrated to PHP8.0, so I'm not quite sure which one of both is responsible for the error messages I get now:
[code]
_Copied from logs viewer, hence first entry is the most recent one._

Apache2 reports it as well:
[code]

It happens when accessing Administration > Privacy > Anonymize data.

<s>But it seems to have a larger rats tail, a

[2020-12-19 16:35] orlitzky opened #16980 "Log import: invalid datetime format"
Our log import (matomo-4.0.5) failed last night with the following error,

[code]

These are the two log lines responsible:

[code]

[2020-12-19 17:16] MichaIng opened #16981 "Update wikimedia/less.php dependency to v3.1.0 or above"
The following warning is logged when running the web UI updater:

WARNING | CoreUpdater | 2020-12-19 17:05:44 UTC | e415b | /var/www/matomo/vendor/wikimedia/less.php/lib/Less/Tree/Directive.php(20): Deprecated - Required parameter $rules follows optional parameter $value - Matomo 4.1.0-b2
-- | -- | -- | -- | --

This is likely a PHP8.0 related deprecation. I see now it is from an external dependen

[2020-12-19 17:39] sgiehl commented on #16981
see #16976

[2020-12-19 18:26] matomoto opened #16982 "Prevent 1 action 0 seconds stats"
Matomo 4.0.5.
Hi, how can i prevent the “1 action 0 seconds” visitor stats?

I have added this code snipped:
[code]
and i have a mouseleave event arranged.
Both have an effect of the stats, but i have still “1 action 0 seconds” visitors in the stats.

mouseleave prevent only by desktop visitors a “1 action 0 seconds”, because via the event it is a “action”. And this different is visible in the sta

[2020-12-20 01:42] peterbo commented on #16980
This is probably a duplicate of https://github.com/matomo-org/matomo-log-analytics/issues/293 - did you convert your tables to utf8mb4 already?

[2020-12-20 02:17] orlitzky commented on #16980
No... should I have? How do I do it?

[2020-12-20 11:36] Findus23 opened #16983 ""Create and Schedule a report" page missing radio buttons"
The page for editing should look like this:

![screenshot](https://static.matomo.org/wp-content/uploads/2013/09/Screenshot-from-2019-07-15-22-40-58.png)
(from https://matomo.org/docs/email-reports/)

On both 4.0.5 and 4.x-dev the radio buttons are currently missing:

![grafik](https://user-images.githubusercontent.com/6266037/102712235-c5398500-42bf-11eb-9f49-cda97cfac3f4.png)

I see the following

[2020-12-20 11:47] fealXX opened #16984 "core:archive reports "0 out of 4 archivers running currently" when --matomo-domain parameter is at the start of the command"
I noticed our Cronlogs always said "0 out of 4 archivers running currently" - regardless of the actual number of running archivers.

This was, because our cron for the core:archive job had the matomo-domain parameter in front of the core:archive command:
`console --matomo-domain=my.matomodomain.com -vvv core:archive >> cron_daily.log`
but CronArchive.php checks for `strpos($process, 'console core:

[2020-12-20 11:55] Findus23 opened #16985 "support CSS sourcemaps"
This is one thing that in my opinion would make developing CSS in Matomo a lot easier and more fun.
And now that we are using `wikimedia/less.php` it is finally possible to achieve:

Issues like https://github.com/matomo-org/matomo/issues/16983 are unnecessarily hard to debug as all you see in the browser developer tools is `index.php:774` which contains a huge amount of CSS.

Instead (probably on

[2020-12-20 12:27] Findus23 commented on #16985
Implementing the latter is really easy

<details>

<summary>Patch</summary>

[code]

</details>

Unfortunately there are other things that make this much harder as expected: Instead of (as I expected) generating a list of LESS imports for all files and compiling this `getConcatenatedAssets()` already appends all files into one huge LESS file meaning any information about files is already lost befo

[2020-12-20 15:31] peterbo commented on #16980
@orlitzky - Go to Settings->System check->Database abilities. The system check will tell you if there's something to do and, if yes, how it's done.

[2020-12-20 16:41] orlitzky commented on #16980
Thanks! I've got a huge database, but `php ./console core:convert-to-utf8mb4` seems to be working. Christmas is coming, why not add that to `core:upgrade`? =)

[2020-12-20 17:48] peterbo commented on #16980
@orlitzky I'm not 100% sure, but converting the collation of the entire database should not be a forced process connected to the update flow. This should rather be a step after considering potential risks, free db disk space, possible problems with some MySQL versions, etc.

[2020-12-20 18:03] orlitzky commented on #16980
Armchair quarterbacking: regardless of the risks, the log importer and the database have to agree on the character set used in the database. Otherwise, (at best!) the log importer simply wont work -- as in this bug report. Clearly the log importer is designed to feed "real" utf8 into the database... IMO the most sensible way to make them agree is to make the database support it as well.

(You coul

[2020-12-20 18:08] peterbo commented on #16980
As far as I know, the conversion is also advertised in the updater somewhere, but is not a mandatory step to do. I'm sure, things will be optimized in the future, based on user feedback

[2020-12-20 18:12] sgiehl commented on #16980
As @peterbo has written. Doing that in a "normal" update is a bit too risky. Also it is not supported by all MySQL versions and depends on some InnoDB settings.
Note: For new installs UTF8mb4 should be automatically used if available.

@orlitzky What database charset did you have set in your `config.ini.php` before the utf8mb4 migration?
Note: If it is set to `utf8` Matomo should automatically rem

[2020-12-20 18:47] orlitzky commented on #16980
I don't have a charset specified in `config.ini.php`, but the global mariadb client/server defaults were `utf8` until I started dealing with this yesterday.

[2020-12-20 19:16] tsteur commented on #16980
Totally understand where you are coming from and agree. Just fyi wanted to add that most users don't run into this problem because they aren't tracking any special characters or emojis vs it could create problems during the upgrade when forcing utf8mb4.

[2020-12-20 19:42] tsteur commented on #16984
Thanks for reporting this @fealXX

[2020-12-20 20:04] tsteur commented on #15060
Hi @KALLIAK it looks like this might be fixed. If you can still reproduce this using Matomo 4 after [migrating the DB to UTF8MB4](https://matomo.org/faq/how-to-update/how-to-convert-the-database-to-utf8mb4-charset/) then please comment here and we will be happy to reopen the issue and investigate again.

[2020-12-20 22:27] 1u commented on #16933
After updating to 4.0.0, metrics went down (using CSP headers as well)
After updating to 4.0.5 they went up again. Generation time remains 0s.

![image](https://user-images.githubusercontent.com/4281072/102725822-f050c280-4319-11eb-8981-86a01c8307ff.png)
@dns2utf8 check https://github.com/matomo-org/matomo/issues/16935#issuecomment-744097347

[2020-12-20 23:06] tsteur commented on #16978
It looks like I can reproduce this @MichaIng and will create a PR. It's hard to say by which query it is caused but 99% chance it's caused by the one we will adjust.

[2020-12-20 23:48] #16984 closed, assigned to nobody

[2020-12-20 23:51] #16983 closed, assigned to tsteur

[2020-12-20 23:55] tsteur commented on #16933
BTW It might be worth enabling tracking logging see https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker and logging to a file https://matomo.org/faq/troubleshooting/faq_115/

You basically want to make sure in your `config/config.ini.php` these entries exist:

[code]

This will write log data into `tmp/logs/matomo.log`. Depending on your traffic it might log a LOT of data

[2020-12-20 23:55] tsteur commented on #16933
BTW It might be worth enabling tracking logging see https://developer.matomo.org/api-reference/tracking-api#debugging-the-tracker and logging to a file https://matomo.org/faq/troubleshooting/faq_115/

You basically want to make sure in your `config/config.ini.php` these entries exist:

[code]

This will write log data into `tmp/logs/matomo.log`. Depending on your traffic it might log a LOT of data

[2020-12-20 23:58] tsteur commented on #16982
Hi @matomoto which stats exactly do you refer to?

I think `beforeunload` works on mobile see https://caniuse.com/?search=beforeunload

[2020-12-21 00:04] #16978 closed, assigned to nobody

[2020-12-21 00:11] tsteur commented on #16938
Thanks @eric215 We're planning to do another release. Be great if you could check if it then complaints about the same files again and let us know if it does.

[2020-12-21 01:37] orlitzky commented on #16980
FWIW my conversion finally finished. I manually invalidated the reports for the 18th, re-archived, and everything is back to normal for now. Thanks again for the hint.

[2020-12-21 02:09] mattab commented on #14891
This library might be helpful https://github.com/madeITBelgium/Wappalyzer
this is a port of the popular Wappalyzer in PHP

[2020-12-21 02:40] mattab opened #16990 "When showing the Export URL, clarify that users must use their app token (instead of displaying a token_auth that only works in their session)"
After Matomo 4 upgrade, we got many reports that the "Export URL" feature is now confusing and people can't figure it out.
What's happening is that people expect to be able to copy paste the “Export URL”, and send it to others, but it doesn’t work anymore to use this URL. (since Matomo 4, the token_auth only works for that particular user session).

To improve the situation, here is an idea that w